[2019-01-29 02:45] RusEm opened #12938 "Hexagon Calls are absolute"
Calls address must be not absolute
For example. r2 show this code:
0x43167220      allocframe (0x238)
0x43167224      R1   = 0x0
0x43167228      call 0x210

but call address must be 0x43167434.
Like 0x43167224 + 0x210 = 0x43167434

[2019-01-29 04:34] XVilka commented on #12938
Can you please craft a test case for radare2-regressions?

[2019-01-29 09:03] Quentin01 opened #12940 "Missing some symbols on PE"
# Missing some symbols on PE

Some symbols are missing from the list provided by the command `is` in radare2 command line, they are the static ones when compiling. `objdump` and `nm` can list them. I suppose they are located in the COFF symbol table but I didn't check that.

### Work environment

| Questions                                            | Answers
|------------------------------------

[2019-01-29 11:13] rahulsangwn commented on #12932
Which file i should look to fix this?

[2019-01-29 11:56] Quentin01 commented on #12940
Looks like the issue is coming from `libr/bin/format/pe/pe.c:r_bin_pe_get_exports` which calls `libr/bin/format/pe/pe.c:parse_symbol_table` to append its result to the current list of exported symbols.

The field `last` is set to `1` for the last element in the list before calling `parse_symbol_table`, so all the elements appends by this function won't be listed when using the list of exported sym

[2019-01-29 13:11] ITAYC0HEN opened #12942 "Implement /ri to find all usages of an immediate value (and json equivalent)"
Opening this issue from the chat because probably the person who raised this request won't open it.

**Problem:**
Currently, there is no command to quickly get all instructions where a specific immediate value was used.

**Solution:**
For a given range (`e search.from`, `e search.to`), find all instructions that are using a specific immediate value.
For example -- `/ri 0x300` would find:
[code]

`

[2019-01-29 16:27] deepakchethan opened #12943 "Cmake build failing because of wrong struct type"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Mac OSX x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated**

[2019-01-29 16:45] radare commented on #12943
Sturct? Please send a pr but we dont use cmake

[2019-01-29 16:51] deepakchethan commented on #12943
I already made a PR and referred to this issue.

[2019-01-29 17:15] Maijin commented on #12943
Thanks

[2019-01-29 17:15] #12943 closed

[2019-01-29 18:55] radare commented on #12942
Maybe /ci ?

[2019-01-29 18:56] ITAYC0HEN commented on #12942
Yeah I don't mind

[2019-01-29 19:31] #12940 closed

[2019-01-29 19:56] #12934 closed

[2019-01-30 04:15] radare opened #12948 ". /<tab> breaks the path"

[2019-01-30 10:01] XVilka commented on #2032
See https://terminal-wg.pages.freedesktop.org/bidi/ for details/proposal about BiDi

[2019-01-30 11:30] ScrimpyCat opened #12949 "Flag registers not being mapped correctly"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | MacOS x86 64
| File format of the file you reverse (mandatory)      | N/A
| Architecture/bits of the file (mandatory)            | N/A
| r2 -v full output, **not truncated** (mand

[2019-01-30 16:52] deepakchethan commented on #12931
Okay, after debugging it for some time. I realized that the bug is due to the overflow of RAsmOp's buf. Since it is not bounded. It keeps growing and occupies the entire RStrBuf of buf, buf_asm, buf_hex. Since the ptr of buf is being overwritten, that is being passed as an accessor, i.e., used to fetch the *val value. Thus the segmentation fault. The memory content is:

<img width="1667" alt="scre

[2019-01-30 17:12] #12942 closed

[2019-01-30 18:40] radare commented on #12931
No. Strbuf is not bounded to 32. You should use the api not access the fields inside. Thats why its crashing. This change happened in 3.0 and seems like there are some leftovers still

[2019-01-30 19:52] radare commented on #12875
fixed in master by me

[2019-01-30 19:52] #12875 closed

[2019-01-30 19:52] #12849 closed

[2019-01-30 20:28] radare opened #12954 "R_API char *r_file_slurp(const char *str, int *usz)"
file size as int? ok we dont want > 4GB slurps,, but char*... unless the file is plaintext..

[2019-01-30 23:03] jerc33 opened #12955 "dcp not working"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                                            | Answers
|-----------

[2019-01-31 05:30] deepakchethan commented on #12931
In r_strbuf.h the `buf` variable is declared as buf[32]. The input is more than 200 bytes for the c program with write() method.
Correct me if am wrong, the code in place now converts each input character to byte. There is no way to use both r_strbuf or r_str API for this. Since the computation and assignment happens as a byte level.

[2019-01-31 07:00] ScrimpyCat commented on #9286
I'm having this problem too. @digitalstreamio were you ever able to resolve it?

Whatever I reply (`RMT_CMD | RMT_REPLY`) back to the prompt for `drp`, simply gets echoed out on the radare client. Tried returning the profile (as you did), file path to profile, drp command, etc. And nothing seems to work. Ends up looking something like this:

[code]

Since `__rap_system` is setup to resolve reverse

[2019-01-31 14:23] oddcoder opened #12959 "automatically load .symtab from PE go binaries"
Go binaries, if I am not mistaken, uses ELF like .symtab to store symbols in its PE files.
it seams that Radare2 doesn't load these symbols automatically.

It will be great if radare2 could load symbols from .symtab automatically, I verified IDA could in fact load these symbols.

I have attached a Binary  file from an old CTF that can be used as a test case:

[bin.zip](https://github.com/radare/ra

[2019-01-31 14:31] mkopec3 commented on #11701
PR is ready #12960

[2019-01-31 15:46] ret2libc commented on #4370
Oh wait :D that's a bold move! I'm not that familiar with RIO. Moreover, that's definitely not something I'll be able to do for 3.3.0.

[2019-01-31 16:42] deepakchethan opened #12963 "Repeated -q flag in ragg2 usage info"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | All
| File format of the file you reverse (mandatory)      |  Any
| Architecture/bits of the file (mandatory)            |  Any
| r2 -v full output, **not truncated** (mandatory)

[2019-01-31 19:50] radare commented on #4370
Yeah its not for 3.3, its probably better not to touch io again until the next release. Just asking if u had any comment on this

[2019-01-31 19:54] radare commented on #9286
Maybe better to use rap://ip:port//dbg://path|pid and the e cfg.debug=true

[2019-01-31 23:21] ReaHe commented on #12658
Yep, same issue(original poster of the referenced issue), however mine was in Kali Windows. I tested this issue on my Ubuntu, and it did not persist. So it worked fine on Ubuntu for me.

[2019-02-01 02:42] jane-hopper commented on #12938
hexagon asm/anal are really broken, not only in this case (wrong imm values/ wrong jumps/ etc). i am writing wrapper over objdump for discover all bugs

[2019-02-01 03:53] ScrimpyCat commented on #9286
That unfortunately won't work since this is talking with my own RAP server, not a radare2 server. So the `/dbg://path|pid` doesn't really mean anything (my server just sees that as a file, but my server ignores the file anyway as it's handling what should be debugged and what shouldn't, basically I'm adding radare2 support to an interactive reverse engineering game I'm working on).

And setting `e

[2019-02-01 04:17] #12963 closed

[2019-02-01 05:03] XVilka commented on #12938
I will publish the Python script used for generating this code tonight

[2019-02-01 05:30] XVilka commented on #6851
See also (Pharos) https://edmcman.github.io/papers/ccs18.pdf + https://edmcman.github.io/pres/ccs18.pdf

[2019-02-01 06:31] sivaramaaa commented on #12750
hey @d-we , sorry my bad 1'st method won't work u won't be able to rename the register in disassembly yet!

But u can try the second method i suggested i.e linking the struct to address (try to emulate until ur desired instruction which contains `rdi` register, from pic i could suggest until address `0x401236` and fetch rdi value) and follow below instruction

[code]

[2019-02-01 08:40] Maijin commented on #12959
Wait isn’t that what aaa does by default?

[2019-02-01 12:51] ret2libc commented on #12701
done

[2019-02-01 12:51] #12701 closed

[2019-02-01 13:54] oddcoder commented on #12959
nope it didn't work as expected.

I guess .symtab isn't a standard PE section and symbols was supposed to be to somewhere else. but Go choosed an ELF like section for symbols.

[2019-02-01 14:00] jerc33 commented on #12955
Update: I've also replicated this behavior on a Ubuntu Server 18.10 system. Kernel 4.18.0-13-generic.

![screenshot_2019-02-01_13-47-20](https://user-images.githubusercontent.com/12518848/52127289-9a8da700-2629-11e9-8e82-845e131f2656.png)

![screenshot_2019-02-01_13-49-11](https://user-images.githubusercontent.com/12518848/52127298-a0838800-2629-11e9-9402-7d262ce9050f.png)

![screenshot_2019-02-01

[2019-02-01 14:47] #11701 closed

[2019-02-01 16:40] Quentin01 commented on #12959
3 days ago, the PR #12941 was merged and it fixed the retrieving of some symbols from the PE, doesn't it fix your issue?

[2019-02-02 11:45] XVilka commented on #12938
@RusEm @jane-hopper see https://github.com/XVilka/hexagon

[2019-02-02 13:06] Maijin commented on #12701
Amazing!

[2019-02-02 20:49] agarciagonzalez opened #12973 "radare2 Mach-O 64-bit crash"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS Mojave 10.14.3
| File format of the file you reverse (mandatory)      | Mach-O
| Architecture/bits of the file (mandatory)            | 64-bit executable x86_64
| r2 -v full

[2019-02-02 21:18] radare commented on #12973
And the file to reproduce?

[2019-02-03 07:05] XVilka opened #12975 "More configurable default visual mode"
For example right now we have `Vd` - visual disassembly. Many people complain that they don't want to run disassembly on everything, keeping data by default. But at the same time this mode is incredibly useful still.
What I am proposing is to introduce new type of the navigational visual mode, where you can switch between data and code by default via option, at the same time preserving the `Vd` as

[2019-02-03 11:56] agarciagonzalez commented on #12973
Would it be possible to fix this issue ASAP please?

[2019-02-03 11:57] radare commented on #12973
Yes. But i have problems in real life that are more important than your technical problems. You can use vim and lldb and fix the problem before me. I will hopefully have some time to reach my laptop later today.

[2019-02-03 12:17] agarciagonzalez commented on #12973
I am very sorry for your problems in real life. I close this issue because I do not intend to use radare2 anymore and therefore you will have more time for your real life.

[2019-02-03 12:20] radare commented on #12973
Dont close it if the issue is there it must be fixed.

[2019-02-03 14:39] radare commented on #12973
Took me less than a minute to fix that stupid bug that only happens when running in ASAN. It's completely retarded to use r2 for real usecases built with ASAN because it NEVER frees memory and its more than 3 times slower than normal executions, even more when analyzing huge files like a kernel.

The bug is just a 1 byte read outside a buffer that is hold in the stack, the address is completely va

[2019-02-03 14:52] #12932 closed

[2019-02-03 14:58] radare commented on #12975
This requires finishing the asm.meta work, but nobody give me a single comment/feedback in more than a year after bugging several people, so maybe we can just enable the option and then people will realise its buggy and complain

[2019-02-03 14:59] radare commented on #12975
Also, this is the default behaviour on IDA/BN/Hopper… which is imho a pretty retarded setup, but people gets used to bad behaviours and this is why we can’t have nice things, but we are here to please everyone

[2019-02-03 15:06] #12929 closed

[2019-02-03 15:14] agarciagonzalez commented on #12973
I just use ASAN because it also crashed while executing an "axtj" and your community suggested to send the crash stacktrace under ASAN. You are a toxic person with that kind of attitude

[2019-02-03 15:41] radare commented on #12973
😘

[2019-02-03 15:42] radare commented on #12973
and btw you didnt mentioned anything about axtj in the bug report

[2019-02-03 16:01] radare commented on #12973
I have fully analzyed this binary, and tried axj, pD, vbg, axtj, callgraph, and several other related commands without any issue at all.

Stressing out the developers and give up on using an opensource tool to solve an issue that is unrelated to your problem because you don't report it properly or you dont even understand the crashlog or you dont know how to use a debugger is not the way to go in

[2019-02-03 16:32] ITAYC0HEN commented on #12658
@ReaHe Worked for you on Ubuntu on WSL?
what versions?

[2019-02-03 19:41] agarciagonzalez commented on #12973
cool fix bruh

ERROR: AddressSanitizer: heap-buffer-overflow on address 0x6030173444f8 at pc 0x00010e54eea5 bp 0x7ffeebe83db0 sp 0x7ffeebe83530
WRITE of size 2 at 0x6030173444f8 thread T0
    #0 0x10e54eea4 in wrap_strcat (libclang_rt.asan_osx_dynamic.dylib:x86_64h+0x4fea4)
    #1 0x1040c6dd1 in cmd_anal_refs cmd_anal.c:5958
    #2 0x103f392ff in cmd_anal cmd_anal.c:8288
    #3 0x10444f0a1 in r_cm

[2019-02-03 20:17] ret2libc opened #12981 "REvent should not assume R_EVENT_MAX"
When implementing REvent, I have assumed the event types would have been `REventType` as defined in r_event.h, but this is not scalable. Event types can be different per "context", as done in r_spaces.h.

This issue is about adjusting the REvent implementation in event.c to not assume the only events available are from 0 to R_EVENT_MAX.

[2019-02-03 21:33] thestr4ng3r commented on #12981
I wanted to discuss this exact issue too. I see two solutions:
* Only use a single global REvent instance and just pass the pointer around (probably not what we want)
* Make `r_event_new()` take a min/max for example. Optionally the REventType enum could also be split into multiple different enums.

[2019-02-03 21:43] condret commented on #12973
@agarciagonzalez excuse me, but i have to consider your definition "toxic" as highly questionable. If you think, replying to an issue with an explanation, why a person couldn't fix a bug immediately, is toxic, I suggest you to reconsider your own views and stay away from us, if you really think this was ok.

[2019-02-04 11:24] radare opened #12986 "RFE: Add a @@ to iterate flag boundaries"
We have 3 flags and we want to do thebsame as done in aaF but generic for any command

[2019-02-04 11:36] marespiaut commented on #314
Hello everyone,

LE support for radare2 is still an interesting feature, as I have discovered it's more than useful for MS-DOS binaries that use a DOS extender.

Extenders like DOS4GW or PMODE/W wrap an 32-bit LE binary into 16-bit code. Therefore, when stripping the extender away, there's only a LE left to be analyzed.

[2019-02-04 11:57] brainstorm opened #12987 ""Cannot compute hash" (regression?) on r2 build 2019-02-04__22:40:42"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | OSX Mojave 10.14.3
| File format of the file you reverse (mandatory)      | Anritsu MS2127B firmware memdump
| Architecture/bits of the file (mandatory)            | SuperH SH4
|

[2019-02-04 12:06] brainstorm commented on #12987
Depending on `#define SLURP_LIMIT (10*1024*1024)` under `libr/core/cconfig.c`... so yeah, that file uncompressed is 64MB.

Would it make sense to just bump that limit up or do you have strong opinions on this?

[2019-02-04 12:14] brainstorm commented on #12987
@devnexen, git blame points at you for this one :)

[2019-02-04 12:55] ret2libc commented on #12981
The other solution is to just create the pvector in the `callbacks` ht whenever it is used, instead of initializing all vectors in the `r_event_new` function. This is the solution I was thinking to implement actually.

@thestr4ng3r what do you think?

[2019-02-04 13:04] thestr4ng3r commented on #12981
That would certainly work, but then we either have to disable hooking to R_EVENT_ALL or again let r_event_new() take a min/max.

[2019-02-04 13:10] ret2libc commented on #12981
Or we could do:
[code]

would this work? (it just came to my mind)

[2019-02-04 13:11] ret2libc commented on #12981
And when doing a `hook (EVENT_ALL,...)` instead of adding the cb to every existing hashtable entry, you would add it to a special R_EVENT_ALL entry in the hashtable.

[2019-02-04 13:15] thestr4ng3r commented on #12981
Of course! I didn't think about that too. But maybe instead of adding a hashtable entry for all, we should add the RVector directly as a member of REvent, so the lookup is even lighter, since it has to be done on every send anyway.

[2019-02-04 13:23] ret2libc commented on #12981
Yep, too ;)

[2019-02-04 13:31] Maijin commented on #314
And again, please provide resources: slides/docs/existing disassembler/fileformat header/doc, existing binaries etc.

[2019-02-04 13:54] MariasStory commented on #12902
Hi @XVilka, thanks for your suggestion. I did run in GDB and it run without exception. After running izzz, I am constantly getting ~1.5K big text file, 23 lines. Way too small for the ~17G big file.
Did you want me to check something specific with GDB?

[2019-02-04 14:14] radare commented on #12987
Hashing by blocks and reading by chunks should be the way to do that. Slurping huge files is not the way to go

[2019-02-04 16:49] radare opened #15588 "add test for the thumb bx lr issue"
r2 -c 'wx 000090e50fe0a0e113ff2fe1000090e51eff2fe1' -a arm -b32 -c 'af;pdf' -

comparing function size should be enough after calling af

[2019-02-04 16:53] radare opened #12990 "Cant ^C in agRv"

[2019-02-04 17:12] Anutrix opened #12991 "Marked for autoremoval on 11 March due to valabind: #920524 from Debian Package Tracker"
### Work environment
Radare2 Version 3.2.1
I use kali-linux on Windows WSL.

### Expected behavior
Be not auto-removed from Debian Package Tracker.

### Actual behavior

To be auto-removed from Debian Package Tracker on March 11th 2019.

### Steps to reproduce the behavior
Visit this [link](https://tracker.debian.org/pkg/radare2) . See 'action needed' area.

[2019-02-04 17:17] radare commented on #12991
this is another completely nosense from debian, not surprised at all...

r2 have 0 dependencies, if debian adds stupid dependencies to their packages this is not our fault.

valabind build and works fine if you use a recent (2 yo) version of Vala, but debian uses an ancient one, so it cant be used to compile radare2-bindings which are completely not used by anybody and its in maintainance mode.

B

[2019-02-04 17:23] XVilka commented on #12991
Maybe at least Debian users will be able to use recent radare2 versions, not 10 years old one.

[2019-02-04 19:08] radare commented on #12924
the  crash is fixed, but we are not closing this issue because it requires a better fix. cc @AdamVanScyoc

[2019-02-04 19:13] radare commented on #6322
pls try again

[2019-02-04 19:15] radare commented on #12825
current visual flags browser is handier enough for this task. closing

[2019-02-04 19:15] #12825 closed

[2019-02-04 20:26] Wenzel opened #12994 "radare2 uses too much memory when loading a linux kernel with debug symbols"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 29 x64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2019-02-04 20:48] Wenzel commented on #12994
Update, comparing with GDB for the same file:
![screenshot_20190204_214625](https://user-images.githubusercontent.com/964610/52236223-89ad9180-28c6-11e9-98a7-5adf7634814e.png)

[2019-02-04 21:02] sre commented on #12991
Hi,

So first of all we currently do not package radare2-bindings at all. This is an ancient dependency, that has not been dropped for some reason. I do not even remember when I dropped the r2-bindings package in Debian. Probably when bokken was removed. I agree, that valabind is very old. Mainly because it was not used at all, so nobody cared. The bug report is from Hilko Bengen, who recently sta

[2019-02-04 21:08] radare commented on #12991
Thanks for the quick response! Yes this dependency should be removed from the radare2 package.

Also, i would like to know if Debian maintain any patch that is not commited in master.

About valabind i think its fine to remove it from debian, people can actually install it via r2pm and its only used in radare2-bindings as far as i know, but will be good to fix this issue with the vala developers.

[2019-02-04 21:32] brainstorm commented on #12987
Being handled by https://github.com/radare/radare2/pull/12989, closing.

[2019-02-04 21:32] #12987 closed

[2019-02-04 21:49] radare commented on #12987
imho this should be happening by default, and only computed when rabin2 -t is used or the it command

[2019-02-04 21:50] radare commented on #12991
i have released valabind 1.7 can you try upgrading it?

can you make a pr with this patch? thanks!

they are pretty active if you jump into the irc.gnome.org #vala channel

[2019-02-04 21:54] radare commented on #12991
Another option would be to add support for meson in valabind. i will look into that

[2019-02-04 23:36] radare opened #12996 "Improve r2 -t"
Use tasks instead of threads, because right now its crashing because of that.

Also do the analysis in background if -A is used

[2019-02-04 23:39] radare commented on #2218
This is also related to rbin support for loading binary headers from memory

[2019-02-05 00:48] radare commented on #3988
Fixed in https://github.com/radare/radare2/pull/12997

[2019-02-05 00:49] radare commented on #12555
ping

[2019-02-05 00:49] radare commented on #12272
this is important

[2019-02-05 00:50] radare commented on #12272
status update?

[2019-02-05 00:51] radare commented on #12763
Done

[2019-02-05 00:51] #12763 closed

[2019-02-05 01:04] radare commented on #12663
Add anal.in=flagsize or anal.in=flag (to work too with search.in)

[2019-02-05 01:05] radare commented on #12663
this way we can run a command on all flags and use the flagsize to define boundaries instead of having to change the blocksize all the time

[2019-02-05 03:45] brainstorm commented on #12663
Isn't `anal.from` & `anal.to` enough? I don't see the need for this one, tbh, it just clogs my radare2 cognitive mental space :_S

[2019-02-05 04:04] XVilka opened #12999 "Consider enable also Linux builds for AppVeyor"
AppVeyor now has Linux support: https://www.appveyor.com/docs/getting-started-with-appveyor-for-linux/

Benefits:
- [ ] It will be faster than Travis CI since we have paid account with parallel jobs
- [ ] It has newer version of Ubuntu: https://www.appveyor.com/updates/
- [ ] Probably (not sure for 100%) no restrictions for running debugger tests

[2019-02-05 04:09] XVilka commented on #11558
Also Cirrus CI supports FreeBSD VMs https://cirrus-ci.org/guide/FreeBSD/

[2019-02-05 04:16] brainstorm commented on #12663
Ahh, sorry, this should go hand-in-hand with the entropy flagging feature? Not sure how those two would combine/work though :/

[2019-02-05 04:17] XVilka opened #13000 "radare2 still shows `int` type for some arguments"
While some arguments it shows as `uint32_t`, it still shows `int`, while should be `int32_t`.

[2019-02-05 08:21] fumfel opened #13001 "Null pointer dereference in r_bin_object_set_items()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 x64
| File format of the file you reverse (mandatory)      | Binary data
| Architecture/bits of the file (mandatory)            | N/A
| r2 -v full output, **not trunc

[2019-02-05 08:43] negativekelvin opened #13002 "disasm in pdj output does not resolve relative addresses"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Win10 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (manda

[2019-02-05 08:56] brainstorm commented on #8512
Similar errors on my side with `e io.unalloc=true` in ~/.radare2rc:

[code]

[code]

[2019-02-05 09:55] ret2libc commented on #12981
Done

[2019-02-05 09:55] #12981 closed

[2019-02-05 10:37] ret2libc commented on #2761
This is now fixed. RFlagSpaces are now implemented just with util/RSpaces. Rspaces uses rbtree as well.

[2019-02-05 10:37] #2761 closed

[2019-02-05 11:51] dukebarman commented on #6322
Another error - Killed

[code]

Output:
[code]

[2019-02-05 14:05] radare opened #13004 "Improve appcall aeC"
* [ ] Support debugger, esil and esil in debugger
* [ ] Support parsing strings "" in arguments
* [ ] Show return value after calling the function

[2019-02-05 14:10] radare commented on #12690
@Maijin @ITAYC0HEN can you solve this issue?

[2019-02-05 14:19] Maijin commented on #4007
This is fixed already
<img width="522" alt="image" src="https://user-images.githubusercontent.com/1408600/52279238-67188880-2959-11e9-97eb-8a50002c893d.png">

[2019-02-05 14:19] #4007 closed

[2019-02-05 15:22] XVilka commented on #11558
Created feature request in Travis CI forum as well https://travis-ci.community/t/freebsd-vms-support/2125

[2019-02-05 15:31] sre commented on #12991
I've dropped the above mentioned patch after switching to meson build for the Debian package. Comparing the generated packages I noticed, that meson does not install a couple of things:

1. v850.sdb
2. mfc120.sdb
3. r2 -> radare2 symlink (binary and manpage)
4. lot's of documentation files (but actually quite a few of them do not make sense to be installed anyways. E.g. the operating system specif

[2019-02-05 16:14] ret2libc commented on #12704
@radare I will start by implementing priorities at the RSpace level. However, this means that the spaces defined by radare2 itself (e.g. "symbols", "strings", "functions", "sections", etc.) will have some default priority that needs to be defined somewhere.

Right now spaces are created "on the fly" as soon as some parts of the code calls `r_flag_space_set` or `r_flag_space_push`, however this mak

[2019-02-05 22:39] radare commented on #6322
Can you strace this and see why the kernel kills r2?

[2019-02-05 22:46] radare commented on #4007
the first dword looks unaligned, anyone?

[2019-02-05 23:40] radare commented on #12704
what about different solution for this? i would like to have some discussion on.

* flags associated to a binfd
* add visibility bit (show/hide)
* how to handle duplicated flag names

[2019-02-06 08:34] ret2libc commented on #12704
Another solution I could think of is to define something like:
[code]

And use this function instead of directly calling `r_flag_space_set` in RCore, so that we have one place where to define the priority.

Though interesting discussions, I think they are not related at all to this change.

[2019-02-06 09:01] marespiaut commented on #314
@Maijin

Here are all the information I can give you on LE executable.

I got all information from @gynvael and @unavowed who made the Syndicate Wars port from DOS to Linux.

Official website - http://swars.vexillium.org/
Blog post, part 1 - https://gynvael.coldwind.pl/?id=278
Blog post, part 2 - https://gynvael.coldwind.pl/?id=279
Presentation slides - http://vexillium.org/dl.php?recon_swars.pdf

[2019-02-06 10:58] dukebarman commented on #6322
[code]

[2019-02-06 12:45] radare commented on #6322
Can you get a backtrace in gdb of that malloc of 32284672 bytes plz? To identify who is doing that?

[2019-02-06 13:22] #13001 closed

[2019-02-06 15:32] XVilka commented on #6851
DeClassifier: Class-Inheritance InferenceEngine for Optimized C++ Binaries
[1901.10073.pdf](https://github.com/radare/radare2/files/2836979/1901.10073.pdf)

[2019-02-06 15:32] XVilka commented on #12603
@nullableVoidPtr see also https://github.com/radare/radare2/issues/6851

[2019-02-06 15:33] d-we commented on #12750
hey @sivaramaaa for some instructions this seems to work in a nice way, but it does not work on some instructions (e.g. 'sub'):
![r2](https://user-images.githubusercontent.com/31281970/52351688-8bdd3080-2a2b-11e9-8c28-089ae8808c1e.png)

I annotated both structs in the same way using `tl _person = $(aes rdi)` and `tl _person = $(aes rsi)`

For this small example I initialized the ESIL VM at the sta

[2019-02-07 00:36] deepakchethan commented on #12954
So the issue is about not slurping the file if the file size is greater than 4GB right. I apologize in advance for asking such a dumb question.

[2019-02-07 04:12] XVilka opened #13010 "Intel i960 architecture support"
Intel's i960 (or 80960) was a RISC-based microprocessor design that became popular during the early 1990s as an embedded microcontroller. It became a best-selling CPU in that segment, along with the competing AMD 29000.
[BiiN_CPU_Architecture_Reference_Man_Jul88.pdf](https://github.com/radare/radare2/files/2839289/BiiN_CPU_Architecture_Reference_Man_Jul88.pdf)

![image](https://user-images.githubu

[2019-02-07 04:13] XVilka opened #13011 "AMD Am29000 architecture support"
The AMD Am29000 (commonly shortened to 29k) is a family of 32-bit RISC microprocessors and microcontrollers developed and fabricated by Advanced Micro Devices (AMD). They were, for a time, the most popular RISC chips on the market, widely used in laser printers from a variety of manufacturers.

[29kprog.pdf](https://github.com/radare/radare2/files/2839293/29kprog.pdf)
![image](https://user-images.

[2019-02-07 13:01] r4dix10 commented on #12690
So, ax. [addr] should effectively do axt [addr] and axf [addr] ?

[2019-02-07 14:59] radare commented on #12973
timeout

[2019-02-07 14:59] #12973 closed

[2019-02-07 15:02] radare commented on #12645
i think this is fixed now after your last changes, pls confirm and close @thestr4ng3r

[2019-02-07 15:04] radare commented on #12629
thats probably a bug in libc :P

[2019-02-07 18:30] thestr4ng3r commented on #12645
I think there are still some issues, but I have to re-check.

[2019-02-08 03:50] bannsec opened #13017 "Arbitrary Bytes Read Json"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Basically, i'm trying to get an arbitrary length byte array back from radare2. At the moment, I can do pv1248, and px, but i can't ask for an arbitrary number of bytes (that i can find at least). The closes I've seen is:

[code]

However, while I can adjust the number, I cannot add a `j` at

[2019-02-08 07:10] XVilka commented on #12555
What format for `pf` should be added? Something like `d[0:5]`? Or any other ideas?

[2019-02-08 09:19] laqieer opened #13019 "Cannot set asm.bits to 16 for arm arch"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                                            | Answers
|-----------

[2019-02-08 11:34] radare commented on #13019
try ahb 16

[2019-02-08 11:41] radare commented on #13017
just use `pxj 10` or `p8j 10`, this px/10 thing is just a gdbism, dont use that

[2019-02-08 11:41] #13017 closed

[2019-02-08 11:48] radare opened #13021 "bin from clusterfuzz"
[clusterfuzz-testcase-minimized-ia_fuzz-5643065568526336.dms.zip](https://github.com/radare/radare2/files/2844948/clusterfuzz-testcase-minimized-ia_fuzz-5643065568526336.dms.zip)

[code]

[2019-02-08 12:00] radare commented on #12991
I will have a look at those meson/make inconsistencies! Thanks!!

[2019-02-08 12:01] laqieer commented on #13019
It works. Thanks.

[2019-02-08 12:02] radare commented on #13002
Thats important for Cutter. Can you guys honor relsub in here? Do u think we shohld also expose a plain disasm as well as a filtered one? Not sure how much info you use from cutter. Maybe just tweaking the config vars and calling pdj again is enough

[2019-02-08 12:38] #13019 closed

[2019-02-08 13:59] radare opened #13022 "Change order of ? And i output"
That will break a bunch of tests.. but trying to use r2 on small screens results on having to scroll and look around a while to get the info that matters. For example i should show filename type and size first

And ? Must show base 10 and base8,16 first, not randomly placed

[2019-02-08 15:39] ret2libc commented on #12862
`rax2 -S "hello\x00world" -> \x00 is literally translated, we should probably escape the input` fixed with with https://github.com/radare/radare2/commit/be654b89d33676ff079177e6d74c48364c68a384

[2019-02-08 15:56] rahulsangwn opened #13023 "Can not scroll properly using webmode inside disassembly window"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 x86 64
| File format of the file you reverse (mandatory)      | ELF64
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not trunc

[2019-02-08 16:12] deepakchethan commented on #12862
Append string feature for ragg2 is added too. with #13007. This issue can be closed.

[2019-02-08 16:33] Maijin commented on #12862
thanks

[2019-02-08 16:33] #12862 closed

[2019-02-08 16:33] Maijin commented on #12862
There are more ragg2 issues - https://github.com/radare/radare2/labels/ragg2 and more rax2 issues https://github.com/radare/radare2/labels/rax2

[2019-02-08 20:25] radare commented on #13023
We have a separate repository for the webuis. Please reopen the issue in there

[2019-02-09 05:27] #13023 closed

[2019-02-09 07:11] negativekelvin opened #13027 "Limited precision when printing double values (pf F)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Win10 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (manda

[2019-02-09 10:14] radare opened #13029 "Add pds in visual and panels modes"
This requires a subcommand of pds that stops after N lines

[2019-02-09 12:14] t00sh opened #13031 "Read out of bounds in r_core_cmd_bp"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 4.9.130-2, AMD 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not tr

[2019-02-09 12:27] t00sh opened #13032 "Double free in r_core_cmd_bp"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 4.9.130-2, AMD 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not tr

[2019-02-09 12:55] t00sh opened #13033 "Segfault in r_core_cmdf"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 4.9.130-2, AMD 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not tr

[2019-02-09 16:00] xarkes opened #13034 "pdc String display off by one error"
Cf issue here: https://github.com/radareorg/cutter/issues/1151

[2019-02-09 16:34] t00sh opened #13035 "Double free in the PE32 parser (_free_resources)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 4.9.130-2, AMD 64
| File format of the file you reverse (mandatory)      | PE32
| Architecture/bits of the file (mandatory)            | ARM
| r2 -v full output, **not trun

[2019-02-09 17:10] Maijin commented on #13035
Can you send a pull-request?

[2019-02-09 20:51] t00sh commented on #13035
I tried a fix in #13037.

[2019-02-09 21:19] lowlyw opened #13038 "r2 -cCd- /bin/ls uninitialize REvent callbacs?"
[code]

[2019-02-09 21:26] thestr4ng3r commented on #13038
Do you have r2dec or any other plugins installed? If so, try reinstalling them. There have been changes that break the ABI.

[2019-02-09 21:27] lowlyw commented on #13038
`pddu`-ing

[2019-02-09 21:28] #13038 closed

[2019-02-10 00:14] t00sh opened #13039 "Use after free in rax2"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 4.9.130-2, AMD 64
| r2 -v full output, **not truncated** (mandatory)     | rax2 3.3.0-git 20784 @ linux-x86-64 git.3.2.1-279-gc948695c7commit: c948695c7556132ad5c67ba6e70db

[2019-02-10 00:55] #13035 closed

[2019-02-10 02:00] #13039 closed

[2019-02-10 02:01] radare commented on #13039
thanks!

[2019-02-10 02:01] radare commented on #13034
way to reproduce?

[2019-02-10 02:02] radare commented on #13033
cant reproduce, which file?

[2019-02-10 02:04] #13033 closed

[2019-02-10 02:07] #13032 closed

[2019-02-10 02:08] #13031 closed

[2019-02-10 02:10] radare commented on #13022
[code]

should be:
[code]

[2019-02-10 02:11] radare commented on #13022
[code]

should be:
[code]

not sure if fvalue makes sense..

[2019-02-10 02:13] #13021 closed

[2019-02-10 04:02] radare commented on #12662
fixed

[2019-02-10 04:02] #12662 closed

[2019-02-10 04:09] radare commented on #12767
which bin

[2019-02-10 05:29] XVilka opened #13040 "Broken AppVeyor build"
Something really strange happens on 32bit build
[code]

[2019-02-10 06:46] ITAYC0HEN commented on #13022
Agree more or less, makes sense

[2019-02-10 10:49] radare commented on #13040
Most of them are bas tests not specifying 64bit setup so it faiks because it doesn32 by default

[2019-02-10 11:15] XVilka commented on #13040
No, it seems that some recent commits broke it.

[2019-02-10 11:16] XVilka commented on #13040
Probably this https://github.com/radare/radare2/commit/868bda4d2146996fe033ab2abc612cb2cdd3f72e

[2019-02-10 12:47] kazarmy commented on #12272
I think the situation in https://github.com/radare/radare2/pull/13006#issuecomment-460922946 shouldn't happen with normal human-written code so I'm closing this issue.

[2019-02-10 12:47] #12272 closed

[2019-02-10 12:51] kazarmy commented on #12272
... as fixed.

[2019-02-10 15:55] xarkes commented on #13034
Check the linked issue above, there are the binaries and commands needed to reproduce.
[code]

[2019-02-10 18:24] radare commented on #13034
Passing args aftee the filename is against the posix getopt. Thats a bad practice if u care about portability

Can you  upload the bin in here?

[2019-02-10 18:26] xarkes commented on #13040
The PR was green though.

[2019-02-10 18:30] xarkes commented on #13034
I know but I don't care, and I usually never change the filename while I change the arguments. So doing one or two `Alt+B` and `^W` from my shell is easier than spamming the keys to get to the first arguments (or `^A` whatever), while I understand the convention, it sucks imho.
Here is the new command if you prefer:
[code]

It's already in the other issue, but okay let's just duplicate things.
![2

[2019-02-10 22:03] radare commented on #13040
can you try to find a correct fix for this issue? the crashing fuzzed bin is in r2r already

[2019-02-11 10:01] #13034 closed

[2019-02-11 10:04] radare commented on #12767
imho we are fine for now on having such warnings because they must be addressed or improved, so its not something we can fix in 1 week

[2019-02-11 10:07] radare commented on #9998
ping

[2019-02-11 10:07] radare commented on #6322
ping? i was thinking that maybe wrapping all the malloc calls via r_malloc we can do if (allocSize > X) r_sys_breakpoint() in there.

[2019-02-11 10:08] radare commented on #6396
Closing i guess

[2019-02-11 10:08] #6396 closed

[2019-02-11 13:14] XVilka commented on #10643
@ret2libc I think this can be closed, no?

[2019-02-11 13:15] XVilka commented on #10214
@wavvs is this issue still reproducible?

[2019-02-11 15:51] radare commented on #10214
Probably, because nobody fixed it

[2019-02-11 16:42] XVilka commented on #11558
Created feature request in Azure Pipelines https://developercommunity.visualstudio.com/idea/449932/support-freebsd-andor-other-bsd-systems-vms.html

Now we only can wait.

[2019-02-11 17:55] wavvs commented on #10214
@XVilka Can't check right now, I'll try to build as soon as possible. But I guess that it is still present.

[2019-02-11 22:25] riverar commented on #10214
@radare @XVilka @wavvs I tested this with no issue back in August, I would just close this?

[2019-02-11 22:29] radare opened #13052 "Add tf subcommand to list/modify calling conventions"
Right now its in afc which depends on function analysis, tf should modify the k anal/fcns/name.cc=

[2019-02-11 22:37] riverar commented on #10657
`Program Files` is not a per-user location. `%LocalAppData%` is the correct location for installation. I've also verified the `PATH` is set up correctly. Not seeing a bug here, recommend closure.

@bannsec Suspect your environment variables are screwed up. Typically happens when someone sticks unnecessary `"` quotes or `;` semi colons in there.

[2019-02-11 22:46] #10214 closed

[2019-02-12 06:13] XVilka commented on #13052
Duplicate of https://github.com/radare/radare2/issues/6856 ?

[2019-02-12 08:02] ret2libc commented on #10643
Not yet. Tere are some points that still are not done (e.g. build SDK, sign binaries for OSX, use of subprojects, etc.)

[2019-02-12 08:11] radare commented on #13052
Not exactly duplicate but yeah i can fix this pretty quickly

[2019-02-12 08:13] ret2libc commented on #11666
This is a bit trickier than what I thought because the meson build right now does not support different plugins settings (they are hardcoded in the meson.build files)

[2019-02-12 08:29] XVilka commented on #13052
@radare the one I mentioned it harder to fix, since will require changing TCC parser.

[2019-02-12 08:41] radare commented on #13052
No need to use the tcc parser for this. Such syntax is not even C. And can be easily parsed with custom code. In fact i was doing that yesterday by hand tweaking the sdb keys

[2019-02-12 08:56] ret2libc commented on #11666
I'm going to move this to next release. I think first we should support plugins selection. Then this will be easy, as it will just involve disabling a bunch of fs plugins. If we implement this right now, it will be a mess soon.

[2019-02-12 09:13] radare opened #13056 "Add more examples for pf??"

[2019-02-12 09:21] radare commented on #11666
sgtm, but having the ability to choose which plugins to build will be good to have in meson too

[2019-02-12 09:45] ret2libc commented on #11666
Indeed. That's what I'm saying. Let's first implement the ability to choose plugins in meson, than on top of that we can more easily implement this feature.

[2019-02-12 09:59] #13027 closed

[2019-02-12 10:12] ret2libc commented on #12991
@sre

Sure, they are probably just missing, thanks!

This is not going to happen soon. Last time I checked, meson did not support links in a clean way (you could "install" them, but then they would never be removed). Again, for distributions I think we should just implement it in the package itself.

Could you list which doc files you miss? Also, on Fedora pkg I have manually added the documentati

[2019-02-12 10:19] radare commented on #12991
ive fixed the make part in 1587e3eaa9da4ffdd9a6cc69924b48d36cb8e533

[2019-02-12 10:19] radare commented on #12991
The autoremoval issue is fixed, so im closing this issue, @ret2libc will fix those remaining meson things.

thanks everyone!

[2019-02-12 10:19] #12991 closed

[2019-02-12 10:49] ret2libc opened #13057 "RFE: support static/shared plugin selection in meson build system"
For some particular environment you want to select which plugins to select (e.g. nogpl plugins, make them all statically linked or shared, etc.)

**Describe the solution you'd like**
Add meson options `static_asm_plugins`, `shared_asm_plugins`, `static_bin_plugins`, `shared_bin_plugins`, etc.

**Describe alternatives you've considered**
The other solution could be to parse the existing plugins.cfg

[2019-02-12 11:24] wargio commented on #12948
just trim for each tab pressed?

[2019-02-12 11:51] radare opened #13059 "vJKJKJKJKJ should keep the same seek position"

[2019-02-12 11:52] radare opened #13060 "Visual browse calling conventions"
add another column in vbt

[2019-02-12 13:17] t00sh opened #13062 "Stack buffer overflow in PE parser"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 4.9.130-2, AMD 64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86-32
| r2 -v full output, **not tru

[2019-02-12 13:58] t00sh commented on #13062
I proposed a fix in #13063.

[2019-02-12 14:42] #13062 closed

[2019-02-12 15:12] radare commented on #12948
? if u press tab the whole path you typed disapears instead of autocompleting

[2019-02-12 16:53] radare commented on #13062
thanks <3

[2019-02-12 18:45] mkopec3 commented on #12855
`dL bochs` also causes segfault.
I will investigate it more when I will have some spare time

[2019-02-12 19:27] Kerat commented on #8697
Still relevant

[2019-02-12 19:39] devnexen commented on #12994
Is it still the case with the current git version ?

[2019-02-12 20:29] t00sh opened #13067 "Read off-by-one in the Java Class parser"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 4.9.130-2, AMD 64
| File format of the file you reverse (mandatory)      | Compiled Java Class, version 52.0 (Java 1.8)
| r2 -v full output, **not truncated** (mandatory)

[2019-02-12 20:43] ret2libc opened #13068 "RFE: add extra Travis tests for pre-release tags"
**Is your feature request related to a problem? Please describe.**
Right now we have ASAN build but that's not in "enforcing mode" because it would make builds of each commit much slower. However, for this reason we often forget about it and it may happen we release a new radare2 version with some known ASAN crash. Moreover, it often happens that after a release we realize the fedora package does

[2019-02-12 20:46] t00sh opened #13069 "NULL pointer dereference in Java Class parser"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 4.9.130-2, AMD 64
| File format of the file you reverse (mandatory)      | compiled Java class data, version 52.0 (Java 1.8)
| r2 -v full output, **not truncated** (mandato

[2019-02-12 21:02] radare commented on #12994
Yep. Nobody touched anything. And that wont probably change in this week because we are focusing on stability for the sunday release.

If u want to inspect the issue use memgrind on linux or instruments on mac and you may get a better understanding of who and why eats all that memory

That will help us identify the problem but i have ideas about the reasons

[2019-02-12 21:09] Wenzel commented on #12994
I had the time to report the bug, but i don't have it for the investigation.

Meanwhile i switched to gdb.
Thank you for looking at the issue.

[2019-02-12 21:40] t00sh opened #13070 "Read out-of-bounds in the Arcompact analyser."
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 4.9.130-2
| File format of the file you reverse (mandatory)      | ELF64
| Architecture/bits of the file (mandatory)            | Argonaut RISC Core
| r2 -v full output, **

[2019-02-12 22:20] radare commented on #12994
A workaround can be to create a script with the output of rabin2 -r .... kernel > script.r2 and then load the kernel with -i and -n . This will make r2 skip the step of parsing headers and will just load the flags. That should take less memory but didnt tried

[2019-02-13 00:32] t00sh opened #13072 "Bad integer conversion in dalvik_disassemble"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 4.9.130-2, AMD 64
| File format of the file you reverse (mandatory)      | Dalvik dex file version 035
| r2 -v full output, **not truncated** (mandatory)     | radare2 3.3.

[2019-02-13 08:16] #13069 closed

[2019-02-13 11:40] radare opened #13076 "Redundant key in anal/cc"
[code]

we should kill the cc.ms.name one imho

[2019-02-13 12:04] radare opened #13077 "anal/cc args starting by 1 instead of 0 wtf"
<img width="525" alt="screenshot 2019-02-13 at 13 03 52" src="https://user-images.githubusercontent.com/917142/52710543-e0366200-2f8f-11e9-807f-578091747fcd.png">

[2019-02-13 12:31] rlaemmert opened #13078 "Function cannot be found if basic block is above function entry"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | voidlinux x86 64
| File format of the file you reverse (mandatory)      | PE, ELF etc.
| Architecture/bits of the file (mandatory)            | x86/32, x86/64 etc.
| r2 -v full ou

[2019-02-13 12:31] #12938 closed

[2019-02-13 12:43] XVilka commented on #11859
It was fixed.

[2019-02-13 12:43] #11859 closed

[2019-02-13 13:12] radare commented on #13052
Fixed in https://github.com/radare/radare2/commit/76c48193795c74436030ed6697188a816915a346

[2019-02-13 13:12] #13052 closed

[2019-02-13 13:13] radare commented on #6856
Fixed in https://github.com/radare/radare2/commit/76c48193795c74436030ed6697188a816915a346

[2019-02-13 13:13] #6856 closed

[2019-02-13 13:20] radare commented on #13060
Done in 2d40d74d680da19e07652d8d493c760fb9cf7395, but requires more work because right now its just a readonly hack, but enough for this release, the proper impl will require spaguetti or long refactoring

[2019-02-13 13:22] radare commented on #13002
seems like Cutter uses pdJ for this, so maybe its fine to have pdj like this (without any filtering), moving for further discussion

[2019-02-13 13:23] radare commented on #12690
yes, this is just 1 line of code, can someone do this? or should i just commit it? im trying to drop those easy issues public just to allow new people to contribute, but if 1 line takes more than a week to happen im really tempted to close that by myself

[2019-02-13 13:25] radare commented on #12645
i can confirm this is fixed now, at least not anoying or glitchy and its completely usable. thanks

[2019-02-13 13:25] #12645 closed

[2019-02-13 13:26] radare commented on #12933
not a priority for this release

[2019-02-13 13:26] radare commented on #12658
is any windows person going to fix this in less than a week? otherwise remove milestone or move it forward

[2019-02-13 13:27] radare commented on #6322
hello?

[2019-02-13 13:29] radare opened #13079 "Folded function comments are shown below instead of above"
That makes the disasm pretty confusing.

<img width="713" alt="screenshot 2019-02-13 at 14 28 31" src="https://user-images.githubusercontent.com/917142/52715021-abc8a300-2f9b-11e9-9348-49b8501c11b8.png">
<img width="654" alt="screenshot 2019-02-13 at 14 28 38" src="https://user-images.githubusercontent.com/917142/52715022-abc8a300-2f9b-11e9-84cc-60722da255aa.png">

[2019-02-13 13:32] radare commented on #13040
it was fixed already.. thanks for caring

[2019-02-13 13:32] #13040 closed

[2019-02-13 13:34] radare commented on #11992
ping @ret2libc

[2019-02-13 13:36] radare commented on #12555
pls show a full example with this syntax . moving forward 3.4, i dont trust this can be done /tested in a week when it passed more than 2 months

[2019-02-13 13:36] radare commented on #11899
pls @Vane11ope any feedback on this or moving forward

[2019-02-13 13:36] radare commented on #11585
can you try again?

[2019-02-13 13:36] radare commented on #11585
also try with emu.str=1

[2019-02-13 13:36] ret2libc commented on #11992
I don't think this is *that* important. I'm going to mark it for milestone 9999, flag zones are not one of the main features IMO.

[2019-02-13 13:37] radare commented on #12762
cc @ITAYC0HEN wanna try to fix this? also i need some feedback on this feature, use cases ideas, etc

[2019-02-13 13:38] radare commented on #12084
i will focus on RBin and RAnal on next release. we shouldnt be delaying issues like this that much

[2019-02-13 13:39] radare commented on #12041
cant happen in this release. but this is an important thing to fix

[2019-02-13 13:42] radare commented on #12021
to add more details in here.. pressing 'p' or 'P' when the cursor mode is pointing at the stack when using the columns split view for that debugger view is not doing anything right now, should do the same as without the '"' columns mode

<img width="906" alt="screenshot 2019-02-13 at 14 40 13" src="https://user-images.githubusercontent.com/917142/52715659-47a6de80-2f9d-11e9-8eab-2aabd2bcdc69.png">

[2019-02-13 13:43] radare commented on #11878
No issues on this anymore, the current build system for creating static libraries is working fine and its been tested for a while. we may be able to detect when this happens again thanks to the radare2-release repo, so imho we can close it.

[2019-02-13 13:43] radare commented on #6754
tired of waiting, any updates on this @r4dix10 ?

[2019-02-13 13:45] ret2libc commented on #13078
I've done a bit of testing and I believe the problem is in `_fcn_tree_probe` and similar functions. They use `fcn->addr`, however I believe they should use `fcn->rb_min_addr`, in a way similar to `rb_max_addr`.

[2019-02-13 13:54] deepakchethan commented on #12690
I will start working on this now.

[2019-02-13 13:58] ret2libc commented on #6322
@dukebarman Do we have a binary for this issue? Have you tried with ASAN enabled?

Without these info, I doubt we can fix this (in particular for next release 3.3.0)

[2019-02-13 13:59] radare commented on #13072
what im seeing is that the r_uleb128 is trying to read further the end of the buffer, this is probably because the length of it is wrongly passed to the function

[code]

but asan complains in a different place

[code]

so.. my blind guess is that its related to use of r_buf_get_at() which dhould be deprecated or removed

[code]

[2019-02-13 14:00] ReaHe commented on #12658
@ITAYC0HEN Its a older version of Radare, which could be why. Its version 2.3.0.

[2019-02-13 14:00] #13070 closed

[2019-02-13 14:01] radare commented on #13067
you can try to send a pullreq with the fix if you feel confident, bug details are appreciated, but sometimes is just faster to fix it instead of reporting

[2019-02-13 14:05] #13067 closed

[2019-02-13 14:06] ret2libc commented on #9564
Moved to 3.5.0. It's unlikely it's going to happen for 3.3.0.

It would be a very welcome fix however.

[2019-02-13 14:07] radare commented on #13079
this is not an RFE, its an actual regression and very anoying one if you use folded functions

[2019-02-13 14:11] ITAYC0HEN commented on #12658
it is 3.2.0 not 2.3.0 :)
This version is from  January 5, 2019, the day I opened the issues.
Also, it still happens, with the version of today

[2019-02-13 14:12] t00sh commented on #13067
Yes, I proposed patches when I'm sure where to fix the problem. Here, I didn't know if we had to patch `r_bin_java_read_next_attr` or `r_bin_java_line_number_table_attr_new` for example.

[2019-02-13 14:15] ret2libc commented on #12948
Is this still a bug? Could you provide a full reproducer?
It does seem to work correctly right now.

[2019-02-13 14:19] radare commented on #12725
testcase:

[code]

[2019-02-13 14:19] XVilka commented on #12555
It is already implemented from TCC and parsing side. The only missing part is fixing `pf` with a new syntax, but this part is not small indeed, since require some `pf` refactoring.

[2019-02-13 14:25] t00sh commented on #13072
I don't really understand where is the origin of the bug. I tried to trace the `idx` variable in the `r_core_print_disasm` and observed that a weird value is taken.

The only way I seen to achieve that, is during the incrementation of `inc` variable in the same function :

[code]

I didn't observed what your are saying, maybe it's two different problems ?

[2019-02-13 14:26] prenex opened #13081 "Build fails: whitespace in path"
Build does not work if there is a whitespace in the build path where the git repo is cloned to.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 32
git commit:c3339b8f819e871e67cd45fdf15436b7b31c370b  build:2019-02-1

[2019-02-13 14:39] dukebarman commented on #6322
@radare sry, for delay:
[code]

@ret2libc I sent a binary to @radare, hash: 8d2d117370df1280d315d80d6d377eff55ff904480c01d6562a293dcb2037a78 (and it's library from standard firefox for ubuntu).
I haven't tried with ASAN build yet

[2019-02-13 14:58] radare commented on #13081
Use meson if you cant content your spaces

[2019-02-13 14:58] radare commented on #13081
Its known issue and its already tracked by another issue

[2019-02-13 15:00] radare commented on #12690
👍

[2019-02-13 15:01] radare commented on #12948
I can still repro. Its not fixed

[2019-02-13 15:01] radare commented on #13067
Try it in a PR

[2019-02-13 15:02] radare commented on #13078
This is important. Should be milestoned for 3.3

[2019-02-13 15:05] radare commented on #11992
I use them pretty frequently

[2019-02-13 15:06] radare commented on #12555
Then make a proposal for a syntax in pf and send a pr. So we can test and discuss

[2019-02-13 15:06] radare commented on #12555
Try to not refactor pf code too much. We should refactor code with a clear design in mind not because of a new feature.

[2019-02-13 15:07] ret2libc commented on #12948
Reproducer please.

[2019-02-13 15:10] ret2libc commented on #13078
Yes I can try to work on it. I can't assure it though...

[2019-02-13 15:35] #12948 closed

[2019-02-13 15:56] prenex commented on #13081
It is not a big deal as I already changed to use a non-whitespace path, just wanted to document it. I did not find a similar open issue beforehand but if there is any just close this - or just close anyways as there is an easy workaround.

[2019-02-13 16:15] #12620 closed

[2019-02-13 19:50] SergeyAppDroid opened #13087 "Error install radare for Ubuntu 16.04LT"
Trying to install the radare using the command
`sys/install.sh`

Terminal:
[code]
What kind of error?

Capstone:
[code]

[2019-02-13 20:37] radare commented on #13087
This is the error

[2019-02-13 22:23] radare opened #15589 "Unnecessarily slow tests"
[code]

The one in db/anal/x86_64

`pancake    20339 95.6  3.1 21475526988 1027348 pts/0 T 18:18   1:16 radare2 -escr.utf8=0 -escr.color=0 -escr.interactive=0 -N -Qc aaa f~strlen~390  bins/elf/bash`

[2019-02-13 22:45] radare commented on #12690
Fixed

[2019-02-13 22:45] #12690 closed

[2019-02-13 22:59] radare commented on #11585
fixed in a pr

[2019-02-13 23:01] radare commented on #13087
is this the tarball from github or mikelloc?

[2019-02-13 23:03] radare commented on #13087
Having the python bindings of capstone doesnt helps r2 at all, r2 requires libcapstone system wide or having git installed to download the last development version (always recommended). But it should switch to use wget/curl in case no git is there, the tarball in mikelloc should work, but i didnt tested it. can you confirm?

[2019-02-13 23:09] bannsec opened #13090 "Setting xmm registers fail"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2019-02-13 23:17] #12725 closed

[2019-02-13 23:19] #11585 closed

[2019-02-13 23:27] radare commented on #13081
i have implemented this approach in this pr

https://www.cmcrossroads.com/article/gnu-make-meets-file-names-spaces-them

https://github.com/radare/radare2/pull/13091

i didnt tested it, and i bet it will be failing in other places, so its wip, would you like to help on solving this issue?

[2019-02-14 00:08] #12990 closed

[2019-02-14 00:10] radare commented on #6322
These two clusterfuzz bins can be related (big allocations during analysis or rbin parsing)

[clusterfuzz-testcase-minimized-ia_fuzz-5634910105108480.dms.zip](https://github.com/radare/radare2/files/2862751/clusterfuzz-testcase-minimized-ia_fuzz-5634910105108480.dms.zip)
[clusterfuzz-testcase-minimized-ia_fuzz-5752811923439616.dms.zip](https://github.com/radare/radare2/files/2862752/clusterfuzz-te

[2019-02-14 00:10] radare commented on #6322
fwd the bin to ret2libc

[2019-02-14 00:12] radare commented on #13072
uhm cant reproduce now, can you try again with latest master?

[2019-02-14 00:24] radare opened #15590 "Add test for types"
[code]

compare output of pd? pxa?

[2019-02-14 00:58] deepakchethan commented on #12664
Hey, I could start working on this if no one else is. It will take some time but I'll do it as fast as I can.

[2019-02-14 00:59] radare opened #13092 "RFE: Implement IO window"
The idea of IO windows is to create a layer on top of all the maps that restricts the access to invalid memory addresses. This is useful for a variety of situations:

* gdb connection with weak server that crashes when accessing invalid memory, the user must provide safe ranges by hand or maybe load from maps if available
* restrict the scope of the analysis to allow to run 'af' in a small portion

[2019-02-14 01:00] radare commented on #13092
cc @condret

[2019-02-14 01:03] radare commented on #12664
Sure :) no hurry, feel free to ask anything you need

[2019-02-14 01:20] radare opened #13093 "Implement organic graph layouts for browsing huge call/ref graphs"
Current layout is designed for control-flow graphs, but callgraphs and refgraphs use to be much bigger and must be allocated in a radial way instead of a structured tree form.

See this ^C'd agRv as an example

<img width="1348" alt="screenshot 2019-02-14 at 01 00 47" src="https://user-images.githubusercontent.com/917142/52755673-06471b00-2fff-11e9-897f-2361d09b833a.png">

[2019-02-14 01:22] radare commented on #6322
Maybe this is the fix https://github.com/radare/radare2/pull/13094

[2019-02-14 02:30] radare opened #13095 "Functions referenced from UJMP should be named "sub." instead of "fcn.""
<img width="753" alt="screenshot 2019-02-14 at 03 28 55" src="https://user-images.githubusercontent.com/917142/52758507-cf760280-3008-11e9-87bc-1bc274c574ff.png">

[2019-02-14 06:59] ITAYC0HEN commented on #12762
I personally didn't encounter any situation where I needed these solutions

[2019-02-14 07:11] XVilka opened #13097 "Optimize typing and retyping code"
See `libr/core/anal_tp.c` - it has many unoptimized and insufficient things. Optimizing this code will improve readability and speed.

[2019-02-14 08:30] ret2libc commented on #13092
Isnt't the `map` concept already enough? Can't we get the valid maps from the gdb server and setup the maps in r2?

[2019-02-14 09:01] XVilka commented on #13092
For GDB yes, using IO maps is probably better. Wouldn't solve the second case though.

[2019-02-14 09:12] negativekelvin commented on #13002
Actually I am seeing inconsistent behavior, this is from 2 projects.  The second is what I would expect where plain is shown in "opcode" and filtered is shown in "disasm".
[code]
[code]

[2019-02-14 09:16] radare commented on #13092
Read the issue description again.

The problem is not that maps is enough or not. The problem is that i dont want to remove and redo all the maps to just run a command in a specific region of memory ignoring the rest.

This is also important when having multiple bins loaded in memory.

[2019-02-14 09:42] radare commented on #6322
Please try again

[2019-02-14 09:54] pawlos opened #13101 "Setting dbg.execs to true doesn't work on OSX"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             |  OSX
| File format of the file you reverse (mandatory)      | machO
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (mandato

[2019-02-14 12:24] SonsOfMyra commented on #12800
Hi, the problem is into /libr/bin/format/pe/pe.c:2683 when export are processed if dll name cant be retrieved the function exit without extract export names.

To solve we need set dllname to null and continue.

here is a diff:
[fix_exports.diff.txt](https://github.com/radare/radare2/files/2864944/fix_exports.diff.txt)

[2019-02-14 12:26] sanguinawer commented on #12800
Hi, the problem is into /libr/bin/format/pe/pe.c:2683 when export are processed if dll name cant be retrieved the function exit without extract export names.

To solve we need set dllname to null and continue.

here is a diff:
[fix_exports.diff.txt](https://github.com/radare/radare2/files/2864944/fix_exports.diff.txt)

[2019-02-14 13:02] t00sh commented on #13072
I still have the problem :

[code]

With :
radare2 3.3.0-git 20877 @ linux-x86-64 git.3.2.1-354-ga36a58040
commit: a36a580408c7bb2a85fe6cee563b95307b357ab8 build: 2019-02-14__13:48:04

[2019-02-14 13:29] #12800 closed

[2019-02-14 14:15] thestr4ng3r opened #13105 "agJ is broken"
Introduced by https://github.com/radare/radare2/commit/bb91451b3fc3165b2cf2a8dd5137ee3839067150

Example:
[code]

[2019-02-14 14:27] radare commented on #13105
just disabling colors will be enough to fix this issue?

[2019-02-14 14:39] dukebarman commented on #6322
`Killed` again :(

[2019-02-14 14:40] thestr4ng3r commented on #13105
No, look at the json, that's not the issueAm 14.02.2019 15:27 schrieb radare <notifications@github.com>:just disabling colors will be enough to fix this issue?

—You are receiving this because you were assigned.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-02-14 14:43] thestr4ng3r commented on #13105
No, the problem is the `][` because it's mixed pj and regular print. I'll probably just make the pdJ code use pj too.

[2019-02-14 15:16] radare commented on #6322
Can you pls tell me which is the malloc causing this?

[2019-02-14 15:25] radare commented on #13105
yeah, lets all jump into the pj train! choo chooooo

[2019-02-14 16:18] SergeyAppDroid commented on #13087
Sorry friend. I am new to Linux, so I don’t know how to respond to this. I did not install git on the system. I downloaded the release version for the radare, unpacked the archive and just executed the command
`sys/install.sh`

[2019-02-14 17:28] Maijin commented on #11759
@sanguinawer maybe an idea for fixing this?

[2019-02-14 17:58] radare commented on #13087
Downloaded the tarball from where? Mikelloc or github?

[2019-02-14 18:03] SergeyAppDroid commented on #13087
@radare I downloaded from [here](https://github.com/radare/radare2/releases/download/3.2.1/radare2-3.2.1.tar.gz)

[2019-02-14 18:53] GustavoLCR commented on #12658
I have a workaround. In the configure file, line 602 change:
` if [ "$USEROSTYPE" = "gnulinux" ]; then`
` HAVE_PTRACE="1"`
`-USE_PTRACE_WRAP="1"`
`+USE_PTRACE_WRAP="0"`
` else`

[2019-02-14 19:37] radare commented on #12658
Thats scary. I would rather add a configure option to enable/disable this. But this was my theory why the android debugger was broken and it end up being a bit racy

[2019-02-14 20:53] GustavoLCR commented on #12658
`uname -v` reports it is a Microsoft kernel. Maybe we can use that

Em qui, 14 de fev de 2019 16:37, radare <notifications@github.com escreveu:

[2019-02-14 21:33] radare commented on #12658
yeah, can you tweak the configure.acr, regenerate it with autogen.sh and make a pr

[2019-02-14 22:21] radare commented on #13087
Ok thats the tarball from github which is a copy of the git contents. That one doesnt uses the capstone from tarball. I will look to find a way to make this happen on gh tarballs too

Thanks for reporting

Meanwhile we recommend you install git and r2 from git. 3.3 will be released on monday so 3.2.1 is actually old

[2019-02-14 22:45] loskutov opened #13110 "Radare2 doesn't recognize short string literals"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (man

[2019-02-15 02:59] DigiAngel commented on #12800
Worked wonderfully:
[code]
Thank you!

[2019-02-15 03:16] GustavoLCR commented on #12658
I didn't see a way to check for wsl in acr so I added it in this pr radare/acr#20.
I need this before I can open a pr for the configure.arc

[2019-02-15 04:59] Maijin commented on #13110
<img width="566" alt="image" src="https://user-images.githubusercontent.com/1408600/52835470-1c48fe80-3119-11e9-9d43-64c704146775.png">

It works for me :/

[2019-02-15 05:01] Maijin commented on #13110
For 0x804a008 it's likely because the string is too small, thus r2 discard it to avoid false positive

[2019-02-15 05:06] Maijin commented on #13110
Also, none of the other existing tools: binja, ida nor hopper does provide %d in their disassembly listing.

[2019-02-15 06:04] lowlyw commented on #13101
that would be because the feature is only implemented on linux.

`PTRACE_O_TRACEEXEC` is a feature that linux has, but macOS doesn't.

[2019-02-15 06:07] lowlyw commented on #13077
to me this makes sense. when you see a function

`fun(a, b, c, d)`

you would say " a is the first argument "

not " a is the zeroth argument "

[2019-02-15 07:04] loskutov commented on #13110
However, it's passed to a function as a string so it probably makes sense to treat it as one no matter how much it looks like a string to the analyzer

[2019-02-15 07:55] lowlyw commented on #12954
`r_file_gzslurp`, `r_file_slurp_hexpairs` also have similar signature, (int size), this should either be`ssize_t` to match with `read` or other type of functions, or `size_t` to be reasonable

also

`r_file_slurp_range` returns `char *` as well

the ones that get specific lines are probably ok with char *

[2019-02-15 08:04] pawlos commented on #13101
Yeah I was digging a little bit and expected that might be the case. Not an expert but reading about `ptrace` on OSX give this:

(bold by me)

Couldn't that be used instead? And if not, maybe those OS specific features should warn about not working when used on not-supported OSes?

[2019-02-15 09:27] Vane11ope commented on #12018
This is fixed I think (I don't even know when) and does not happen anymore.

[2019-02-15 09:27] #12018 closed

[2019-02-15 09:28] radare commented on #12658
I added —without-ptrace-wrap

Can u try it?

[2019-02-15 09:29] Vane11ope commented on #11899
this also is fixed, you can easily check it by just go V! then JK or pgup/pgdn

[2019-02-15 09:29] #11899 closed

[2019-02-15 09:30] Vane11ope commented on #11461
this has been done already.

[2019-02-15 09:30] #11461 closed

[2019-02-15 09:35] radare commented on #13101
We should show a warning when a specific feature is not supported. Can you send a pr adding this eprintf?

[2019-02-15 09:54] pawlos commented on #13101
@radare yes, I think so. let me work on that

[2019-02-15 10:23] zadlg commented on #13097
Do you open issues just for opening issues? This issue is pointless, you just say "hi! this code is ugly, bye!"
I mean we can open issues for each line....

[2019-02-15 10:26] #13105 closed

[2019-02-15 10:34] XVilka commented on #13097
Yes, when I am feeling depressed and bored I do that.

P.S. This code is part of analysis loop and runs many times in the loop, so making it faster will improve the whole analysis speeds. And it is also is part of Types Analysis GSoC task, which I am mentor of. Thanks for caring though.

[2019-02-15 11:14] radare opened #13112 "Dalvik should be io.va=true because right now -B is ignored"
right now we cant open different dex files in different places, wee have to use the obo command to switch between them which works fine, but obv the flags, comments and anal info will confuse the disasm. so if we support VA in bin.dex we may be able to load the multidex in separate contiguous addresses (this feature was removed iirc).

At some point will be good to have an RFlags instance for each

[2019-02-15 12:27] 0ki commented on #11461
Some info / documentation?

[2019-02-15 14:27] ret2libc commented on #6322
I think I found the issue in sdb ht implementation. I'm fixing it at https://github.com/radare/sdb/pull/187

This fix seems to be consistent with the report you gave us before. Indeed the hashtable was growing too much because the size was computed in a wrong way.

Please consider that it still uses ~6GB of memory to do all the analysis, but it is able to finish on my machine (it's slow, but it fi

[2019-02-15 14:30] dukebarman commented on #6322
Okay. My testing VM has 4 Gb RAM, but I'll increase to 6 and try both variants

[2019-02-15 14:34] ret2libc commented on #6322
Given you received the message in https://github.com/radare/radare2/issues/6322#issuecomment-463223216 I guess you can reproduce on your current environment.

[2019-02-15 15:04] ret2libc commented on #6322
@dukebarman if you want, you can test my patch by using https://github.com/ret2libc/radare2/tree/dukebar

[2019-02-15 15:07] oddcoder opened #13116 "Proposing r_anal lazy Analysis pipeline"
Note: I am aware that issue will be something huge to do however I think it will be rewarding on the long term.

The feature I am proposing is restructuring the r_anal to be in the form of Analysis Manager/dispatcher. This is inspired by how LLVM manages code analysis:

The way analysis could work is by having Multiple analysis managers:-
1- section/segment analysis manager (provides the analysis

[2019-02-15 19:09] bannsec opened #13118 "ST registers are incorrect"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2019-02-15 20:19] bannsec opened #13120 "SEGFAULT when stepping in V!"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2019-02-15 20:46] radare commented on #13120
Can you build with asan and paste the crashlog? Sys/asan.sh or just attach gdb/lldb and paste bt, regstate etc

[2019-02-15 20:48] radare commented on #6322
Woah nice catch

[2019-02-15 20:48] radare commented on #6322
I bet this will be the reason why loading a kernel was taking 3gb of ram?

[2019-02-15 20:52] ret2libc commented on #6322
I’m not sure. Consider that even with this patch it takes 6gb of memory to analyze things. I will check it out but I’m not sure it will be better.

[2019-02-15 22:05] bannsec commented on #13120
Re-compiled with asan like you mentioned, but couldn't even open up r2 now:

[code]

[2019-02-15 22:32] radare commented on #13120
Its crashing because of the angr plugin. Delete it. Or rebuild it

[2019-02-16 00:44] bannsec commented on #13120
Ok, guessing this is the relevant lines:

[code]

Full errors are in the attached file. Whole bunch of Memory Leak traces in it.
[errors.zip](https://github.com/radare/radare2/files/2871410/errors.zip)

Unfortunately, no backtrace was printed.

[2019-02-16 02:15] radare commented on #6322
please update sdb in r2

[2019-02-16 02:47] bannsec opened #13123 "r2pipe hangs indefinitely on hardware watchpoint hit"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2019-02-16 10:05] radare commented on #13120
I have a fix for this unaligned issue in the alloc branch. But i doubt thats the reason of the crash

[2019-02-16 10:43] kazarmy commented on #11759
Sorry, only realized that @pelijah was working on this only after I've finished my pr.

[2019-02-16 11:21] Vane11ope commented on #11890
About the window mode, probably is ugly solution so I need to improve a lot but definitely not for this version, so i will move this to next version.

[2019-02-16 11:22] Vane11ope commented on #11890
...which I don't even know how, so could you move this to next release @radare ?

[2019-02-16 11:43] radare commented on #11890
It was not even for this release

[2019-02-16 16:59] pawlos commented on #13101
@radare I've noticed that there are some OS specific flags so maybe instead of doing `eprintf` it makes more sens to restrict this flag just to linux?

    #if __linux__
	SETCB ("dbg.execs", "false", &cb_dbg_execs, "Stop execution if new thread is created");
    #endif

[2019-02-16 17:06] bannsec commented on #13120
Trying it with the new branch, r2 SEGFAULTs on `ood` now, so before I can get to the original issue.

[code]

That happens with or without the `-A` option. Here's a gdb backtrace:

[code]

[2019-02-16 17:45] SiD3W4y commented on #12959
One solution would be to look for the gopclntab magic header as a fallback method if the section cannot be found (like here: https://github.com/SiD3W4y/r2-gorecover/blob/master/gorecover.c#L91).

[2019-02-16 21:19] jb55 commented on #5641
for anyone else hitting this from google, here's a workaround:

use `[n]? (struct)` instead of `{n}? (struct)`

[2019-02-17 04:22] radare commented on #13078
any updates on this?

[2019-02-17 06:10] Gowtham610 opened #13130 "break point is not working"
![screenshot 54](https://user-images.githubusercontent.com/35193320/52909118-9eb3f880-32a8-11e9-903f-2db74f2e5996.png)

I donot know why the debugger does stops in the db or why i am unable to  set the breakpoint in the second time.

[2019-02-17 06:23] ITAYC0HEN commented on #10722
ping - RBin refactoring handles this already?

[2019-02-17 06:35] r4dix10 commented on #6754
Yes, I will push this today.

[2019-02-17 08:32] ITAYC0HEN opened #13131 "pm cant identify MZ header ##magic"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch 64bit, Win10 6 4bit
| File format of the file you reverse (mandatory)      | Any
| Architecture/bits of the file (mandatory)            | Any
| r2 -v full output, **not trunc

[2019-02-17 10:22] ret2libc commented on #13078
No sorry but I will work on this soon

[2019-02-17 11:27] radare commented on #13131
Use pm to test libmagic. Are you sure there are MZ signatures in libr/magic/d ?

[2019-02-17 11:27] radare commented on #6754
Yay

[2019-02-17 11:28] radare commented on #10722
Not solved yet andbyes its part of the required refactoring

[2019-02-17 11:28] #11759 closed

[2019-02-17 11:32] ITAYC0HEN commented on #11759
yay :)

[2019-02-17 11:32] radare commented on #13130
Because of ood and aslr?

[2019-02-17 11:42] ITAYC0HEN commented on #13131
ah I see now. I think it doesn't detect MZP header since regular MZ header in another file is detected by `/m`. See: https://github.com/radare/radare2/blob/master/libr/magic/d/default/microsoft
radare2 (`i` command) and the `file` command detects the file with the `MZP` header as a PE, as should be.

[2019-02-17 11:48] radare commented on #5641
Can you suggest more examples for the pf help pr?

[2019-02-17 11:49] radare commented on #13131
Feel free to update the magic file to find a better rule.. try to not introduce many fase positives

[2019-02-17 12:39] radare commented on #13072
i dont understand why accessing a 256 element array with an ut8 index variable could result in that behaviour. also i cant reproduce still. maybe i should try asan on linux?, are you using sys/asan.sh or different setup?

[2019-02-17 13:00] t00sh commented on #13072
I compiled with :

[code]
I don't understand what is your 256 element array and your ut8 index.
The `idx` variable is of type `int`.
The `RAsmOp->payload` field is of type int.

[2019-02-17 14:26] radare commented on #13072
Do you mind doing a pr updating asan.sh to have this set too?

[2019-02-17 14:29] radare commented on #13120
Probably because of the dL segfault issue

[2019-02-17 14:30] radare commented on #13101
I want config vars to be the same for all OS. In the callback when setting it should print the message or we should find a way to implement this in userland by setting breakpoints and such instead of depending on a kernel primitive. Because this can be implemented in different ways

[2019-02-17 14:34] t00sh commented on #13072
I don't understand what you mean : I didn't modified asan.sh at all.

[2019-02-17 14:58] radare commented on #13072
But you found this bug by setting different ASAN env options than the default ones

[2019-02-17 15:06] t00sh commented on #13072
You can find the bug with the default ones, i.e `ASAN=address undefined signed-integer-overflow`. I just removed some checks.

[2019-02-17 21:48] SohailAlvi commented on #13095
I am interested, can i take up this issue?

[2019-02-17 22:20] radare commented on #13095
Yup

[2019-02-17 22:53] #13079 closed

[2019-02-17 23:28] davidpolverari opened #13136 "Analysis takes forever even for small binaries when using -dA"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 9.8 amd64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | 64
| r2 -v full output, **not truncated** (m

[2019-02-17 23:34] radare commented on #6322
is this issue fixed now?

[2019-02-18 05:39] basicinfosecurity commented on #8388
Hi, has this been fixed? I've been using 3.2.1 and cannot seem to save modifications using wci after setting `io.cache`, `io.cache.auto`, `io.cache.read` & `io.cache.write` to true. I've also tried opening binary in write mode but I'm also not having any luck. Any tips? I'm trying to add a new section using `om` and saving using `wci`.

[2019-02-18 09:28] Maijin opened #13140 "Zignatures, creating function doesn't use the name from the zig"
### Expected behavior

<img width="258" alt="image" src="https://user-images.githubusercontent.com/1408600/52941088-9805ae00-339a-11e9-877a-9aaa2bba529a.png">

### Actual behavior

<img width="245" alt="image" src="https://user-images.githubusercontent.com/1408600/52941099-9d62f880-339a-11e9-8d9a-fdfcbe4dd48f.png">

### Steps to reproduce the behavior

[code]

[ls.zip](https://github.com/radare/ra

[2019-02-18 10:34] dukebarman commented on #6322
Killed again, but now another errors:
[code]

[2019-02-18 10:39] Maijin commented on #6322
As already said before please do again:

Can you strace this and see why the kernel kills r2?

[2019-02-18 11:19] dukebarman commented on #6322
[code]

[2019-02-18 11:50] radare commented on #6322
And the line doing the big malloc is...

[2019-02-18 12:32] brother-z opened #13141 "Reusing removed flagspace causes segfault"
Version:
`$ r2 -v`
`radare2 3.3.0-git 20921 @ darwin-x86-64 git.3.2.1-384-g2dc2de305
commit: 2dc2de305b980915548fcbd38895603bd3decff2 build: 2019-02-18__12:59:44`

OS:
OSX Mojave

Make it boom:
`$ r2 -c '/c; fs search; fs-.' -c '/c' --`
`Segmentation fault: 11`

The separation between `fs-.` and subsequent `/c` seems to be important (looks like a race). If there's not enough time between - sometim

[2019-02-18 13:50] ret2libc commented on #6322
I think there isn't any "big malloc", but there are many objects allocated on the heap. As said, on my machine it doesn't get killed so probably there isn't a lot of memory on the VM you are using for testing.

Analysis of libxul still requires ~6GB of memory, so it's not light. However there is no single/easy-fix for this IMHO.

[2019-02-18 15:07] dukebarman commented on #6322
@radare I've tried wrapper for mmap in gdb session, but it's very long process...

@ret2libc I think you're right. It works after I've increased RAM from 4Gb to 7Gb

[2019-02-18 15:30] #13101 closed

[2019-02-18 15:42] #13072 closed

[2019-02-18 15:42] radare commented on #12658
i assume its fixed otherwise complain again

[2019-02-18 15:42] #12658 closed

[2019-02-18 15:48] ReaHe commented on #12658
Sorry for not commenting earlier. I actually am having problems trying to get the latest github version and use the sys/install.sh. keeps breaking on "unknown platform: wsl". Been trying to mitigate this, otherwise I cant answer. So i dont have an answer for you at the moment. Sorry.

[2019-02-18 15:50] ret2libc commented on #6322
@dukebarman I think we can close this issue. That said, there are many places we should improve to use less memory, but it's not likely this is going to be in one shot. Are you ok with it?

[2019-02-18 15:59] ITAYC0HEN commented on #12658
It works for me now, thanks !:)

@ReaHe I had this problem and it should be solved on Github Master now. please do git pull from your local master branch :)

[2019-02-18 16:04] ReaHe commented on #12658
For some reason I was able to install it on my desktop but not he laptop. Might have something to do with the latest "make" on my laptop.

But besides that, it now opens fine without hanging. However it does seem to hang on the "Visual mode" shortcut "df" which equals "analyze function". Also tested with "aa" from commandline of r2, and it also freezes. But im guessing this has to do with disablin

[2019-02-18 16:14] dukebarman commented on #6322
Ok. Should I open another issue?

[2019-02-18 16:21] GustavoLCR commented on #12658
Just tested on Debian wsl and everything works fine. Maybe its kali specific? Are you using Windows 1809?

[2019-02-18 16:22] ret2libc commented on #6322
Yes please, do so.

[2019-02-18 16:22] #6322 closed

[2019-02-18 16:29] dukebarman opened #13143 "Process r2 was stopped if machine hasn't enough memory"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | VM Ubuntu 18 x64, 4Gb RAM
| r2 -v full output, **not truncated** (mandatory)     | rradare2 3.3.0-git 21034 @ linux-x86-64 git.3.2.1-384-g2dc2de305
commit: 2dc2de305b980915548fcbd

[2019-02-18 17:02] r4dix10 commented on #6754
@radare i couldn't but i am working on it.

[2019-02-18 17:25] radare commented on #12855
tired of waiting, the fix is in here https://github.com/radare/radare2/pull/13145

[2019-02-18 17:29] #13141 closed

[2019-02-18 17:45] #12855 closed

[2019-02-18 18:21] radare opened #13147 "ASAN leaks found in linux with r2 -d ls"
[code]

[2019-02-18 18:31] radare commented on #12335
moving to 3.4, enotime again

[2019-02-18 20:42] ahmedhusnainjohar commented on #842
Kuch nahi hona tm logon sy soday

[2019-02-18 20:57] radare commented on #6754
it's labeled for 3.4, so you have 6 weeks to make it happen

[2019-02-18 20:59] radare commented on #13143
That's debian fault, there are kernel configuration options to disable this oomthing, but anyway, you should report this properly (use ldpreload or asan or strace) but provide us a proper backtrace with the offending line highlighted. I dont use debian so i cant reproduce.

[2019-02-18 23:05] radare commented on #13120
can you try again?

[2019-02-18 23:14] radare commented on #13136
i can reproduce on mac too, would be good to know when this issue was introduced. also i think that we should set search.in and anal.in to dbg.maps.x when cfg.debug is set to true

[2019-02-18 23:23] oddcoder commented on #13116
I got some unstructured thoughts so I am just putting them for future reference.

The thing that will be using analysis manager output will be basically the commands so for example in binary that holds couple of thousands of functions. functions will not be identified unless there was explicit call to `afl` for example: then function itself won't be analyzed unless there is explicit call to `pdf`

[2019-02-19 01:35] bannsec commented on #13120
Both master branch and alloc branch fail to step still. However, I'm having a hard time getting asan to print anything useful.

One thing I have noticed is that the highlighted 'current instruction' in `V!` is always at the first instruction of main. For instance, if I step through other means part way into the function, then go into `V!`, the panels view still thinks that rip is at the very begin

[2019-02-19 01:39] bannsec commented on #13120
Also, some error pops up behind the visual panels. I've only been able to catch a portion of it:

[code]

[2019-02-19 04:57] radare commented on #13095
See https://github.com/radare/radare2/pull/13152 as inspiration

[2019-02-19 04:58] radare commented on #13120
cant repro

[2019-02-19 05:28] bannsec commented on #13120
I can reproduce on a fully clean base radare2 docker build (pulled just now), as below:

[![asciicast](https://asciinema.org/a/0y8FoDivXxLTz6ufRHFw3L4r0.svg)](https://asciinema.org/a/0y8FoDivXxLTz6ufRHFw3L4r0)

The Segfault will show at the bottom of the V! panel screen.

[2019-02-19 05:31] Maijin commented on #5331
The autoloading is already done, the rest is tracked under #7310 and #6947 already. Closing here

[2019-02-19 05:31] #5331 closed

[2019-02-19 09:12] radare commented on #13120
What about doing the same with asan so we can see a useful backtrace and do a blindfix?

[2019-02-19 10:22] radare commented on #13120
ehmm... the crash is for the target app, not for r2, right?

[2019-02-19 11:55] radare opened #13155 "How to behave with invalid function names"
![image 2019-02-19 12 55 12](https://user-images.githubusercontent.com/917142/53013261-993fe500-3445-11e9-837a-d68ae206ab42.jpg)

what would u expect it to happen

when u do "afn regname" ?

* not set any name
* prefix fcn
* use fcn.addr

[2019-02-19 12:39] dukebarman commented on #13143
[strace.zip](https://github.com/radare/radare2/files/2879970/strace.zip)

[2019-02-19 14:20] bannsec commented on #13120
Not what the cause of the crash is. The issue is that single stepping one
instruction in visual panel causes that segfault issue while the same
single step at the same point outside of the visual panel does not.

Come to think of it, it looks like the panel mode is simply not setting the
appropriate breakpoint, allowing the program to continue instead of single
step.

I can make another video show

[2019-02-19 14:21] radare commented on #13120
so the one crashing is the debugged process, not r2, right?

[2019-02-19 14:22] bannsec commented on #13120
I'm guessing that's the case. Still would like to be able to single step in
panel mode though

On Tue, Feb 19, 2019, 9:21 AM radare <notifications@github.com wrote:

[2019-02-19 14:25] radare commented on #13120
ok, i just wanted to clarify the issue because i was expecting r2 to crash but its not. yes thats an issue and should be fixed

thanks for reporting

[2019-02-19 14:34] dukebarman commented on #13143
bt is empty in gdb session. How can I make asan build? (what options)

[2019-02-19 14:36] radare commented on #13143
sys/asan.sh

[2019-02-19 14:37] dukebarman commented on #13143
@radare with default arguments?

[2019-02-19 14:37] radare commented on #13143
yes, no need to pass any option

[2019-02-19 14:51] Mic92 commented on #13087
This breaks offline installation because `curl` tries to download the tarball also it is already present.

[2019-02-19 15:08] fumfel opened #13157 "Invalid read in r_bin_demangle_swift()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 x64
| File format of the file you reverse (mandatory)      | Mach-O
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncat

[2019-02-19 15:21] radare commented on #13087
reopning for proper fix, do you want to try to send a PR for this?

[2019-02-19 15:36] dukebarman commented on #13143
asan build doesn't show another errors

[2019-02-19 15:42] dukebarman commented on #13143
Nope

[2019-02-19 15:44] radare commented on #13143
thats why debian sucks so hard, the process is killed by the kernel, the debugger have no control in here, pls @ret2libc share your ldpreloaded lib so he can have an int3 when a big allocation happens

[2019-02-19 15:48] Mic92 commented on #13087
https://github.com/radare/radare2/pull/13158

[2019-02-19 15:55] ret2libc commented on #13143
This is not about a big malloc, but a series of relatively small mallocs, because the program keeps calling brk. If there was a big malloc it would have probably used `mmap` or a `sbrk` with a big difference between current and next brk value.

[2019-02-19 21:06] thestr4ng3r commented on #13116
So we discussed a bit and here are some more thoughts:

One major difficulty that llvm probably doesn't have is how to handle user-edited content.
For example: The user renames a variable inside a function, then overwrites an instruction of the function, which leads to a changed control flow. Intuitively, this would just invalidate the function. However it would be desirable to also keep the renam

[2019-02-19 21:17] radare commented on #13116
Imho we should use more revents here and there and hook and unhook analysis features depending on them. This way the whole thing will be analyzed once and this can be done in any analysis command with the event hooks and launches the initial analysis command. I think this way we dont need to add. But right now im a bit busy and cant think the whole picture.

So i suggest opening a pad to define th

[2019-02-20 00:47] radare commented on #13136
Its a regression introduced after increasing anal.bb.maxsize to 1M. Use this command as a workaround for now: `e anal.bb.maxsize=1K`

[2019-02-20 14:54] thestr4ng3r commented on #13116
+1 for REvent

[2019-02-20 20:06] davidpolverari commented on #13136
Thanks! I had no time to investigate the cause of the issue before. And, as always, thank you for such great work!

[2019-02-21 09:18] radare commented on #13136
This needs to be fixed before the next release. It will speedup analysis

[2019-02-21 09:52] XVilka commented on #13155
I think using `fnc.addr` is the most sane way to behave here.

[2019-02-21 11:51] Maijin commented on #13155
I also vote for `fcn.addr`

[2019-02-21 15:55] a-meth opened #13168 "Rafind -m not detecting end of zip archive"

[2019-02-22 04:32] bannsec opened #13171 "Radiff2 example doesn't work right"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2019-02-22 05:14] XVilka commented on #13168
Please clarify.

[2019-02-22 07:26] a-meth commented on #13168
Binwalk detects the end of zip archive when we use binwalk -e but Rafind -m only detects the magic of the files in the .zip file and doesn't detect the magic of the end of the zip archive, which could be helpful for implementing rafind -Me.

[2019-02-22 07:28] XVilka opened #13172 "Automate merging easy and test-passing pull requests"
For example if all tests are passing, coverage is not decreased, amount of changes is not big, PR was reviewed, it can merge automatically.

There is a bot for that:

https://mergify.io/

https://github.com/apps/mergify

[2019-02-22 14:01] bannsec commented on #11692
Believe this ticket was resolved with the merge. Will open new ticket if i discover more memory leaks.

[2019-02-22 14:01] #11692 closed

[2019-02-22 14:52] Silipwn commented on #12161
Would like to work on this issue, any tips on how to get started?

[2019-02-22 15:01] Maijin commented on #12161
There is a page about adding new architecture in the r2book + you can check any history for any architecture in the repo 👍

[2019-02-22 16:28] jerc33 commented on #12955
I've been looking at the code a bit and this is what I found, (warning: I'm not good at C at all):

dcp is implemented here:
https://github.com/radare/radare2/blob/460d55ea83d00d8c4b5b1d13620ae05236b76323/libr/core/cmd_debug.c#L4171-L4192

This means that `while(!s)` expects *s to be null, for the loop to continue. But then I checked what r_io_map_get was assigning to that pointer by doing this:

[2019-02-22 18:04] radare commented on #12955
iomaps in debugger just cover the whole memoryspace, so it may never be null

[2019-02-23 04:12] shin-illua opened #13179 "Problem using in termux."
I installed radare2 on termux android using `pkg install radare2`, everything was fine, I saw no errors.

But when I run a command like `r2 putty.exe` or `rabin2 putty.exe` or even `r2 -h` it shows nothing.

https://imgur.com/tOXszay

Please help.

[2019-02-23 10:36] solomonbstoner commented on #13179
I had this problem before too on my phone. I believe the problem lies in `pkg`. I solved it by installing radare2 from source code.

1. `git clone https://github.com/radare/radare2`
2. `sys/user.sh` (this installs for the user instead of for the system as the latter requires root access, which I doubt you would have on your phone).

radare2 should work fine afterwards.

[2019-02-23 10:59] radare commented on #13179
Can you tell the version of android and cpu of this device? Did you checked the syslog?

[2019-02-23 12:02] radare commented on #13179
Also termux didnt updated to 3.3 yet. So this version is old. And in any case. This must be an issue in termux. Not in r2 and it works fine in all my androids. So cant repro

[2019-02-23 16:20] bannsec opened #13181 "Thread lock exception in my attempted core plugin"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2019-02-23 19:56] ret2libc commented on #13078
Solution could be easy: instead of storing functions in the RBTree and relying on tinyranges, we could just store all basic blocks in the RBTree. By using RAnalBlock, fcn_tree would just become a regular interval tree and you can easily resolve a lot of queries.

However.... the hard part is that basicblocks are modified everywhere without a clean way and every time they are changed in some way, t

[2019-02-24 11:37] radare commented on #13078
yes, thats why wee dont store the bbs in there, because during the analysis they are modified a bunch of times for splitting them and such, and the fcn/bb storage is slow to reorganize, so it cant be used to store WIP information that is subject to change. its not an easy problem to solve, and its not fault of the bb getting splitted because thats a pretty standard operation

[2019-02-24 11:50] ret2libc commented on #13078
I don’t mean it’s the splitting the problem. I’m saying that there’s no central function that removes basic blocks or a single function where basic blocks are modified. If this doesn’t work it means that neither by storing functions it can work, since functions info depend on bb info.

[2019-02-24 17:47] iGr33k opened #13185 "Fail to build using WSL"
### Work environment
| Questions  | Answers |
| ------------- | ------------- |
| OS/arch/bits (mandatory)| WSL Ubuntu 18.04 LTS  |

### Expected behavior
Build finishes successfully

### Actual behavior
Build Cannot be finished

[image](https://user-images.githubusercontent.com/36838572/53302874-7877f500-3874-11e9-8aa9-6bc40d54998a.png)

### Steps to reproduce the behavior
Run the sys/install.sh

[2019-02-24 21:36] radare opened #13190 "change the (sz %d) thing from classlisting because its bad for grepping, just show the size is enough imho"
[code]

[2019-02-24 22:28] Revers3c-Team opened #13191 "Add command to print function passed arguments"
Using e dbg.funcarg and Vpp we can see the arguments being passed to a function but there is no any other way to do that and it's really important in scripting with r2pipe as an example.
Hope to it soon as part of the afv family

[2019-02-26 08:09] radare opened #13195 "Add support for this jmptable"
[code]
See the `sym._checkinput` function

[FMS.uu.zip](https://github.com/radare/radare2/files/2904351/FMS.uu.zip)

[2019-02-26 08:46] ret2libc commented on #13155
I agree on `fcn.addr`

[2019-02-26 09:05] radare commented on #13155
thats what i did already in master, so we dont have to change anything and we can close this issue

[2019-02-26 09:05] #13155 closed

[2019-02-26 12:57] ret2libc opened #13196 "SHARED plugins are not correctly compiled"
Even if some plugins are in the SHARED section of the plugin.cfg file, the .so files are not compiled when running `./configure;make`

### Work environment

radare2 commit dadb421e481ba09362edc8171140a2a23fde2abc

### Expected behavior
io_shm.so is compiled.

### Actual behavior
io_shm.so is not compiled.

### Steps to reproduce the behavior
Use plugins.def.cfg, where io.shm is in the SHARED secti

[2019-02-26 14:07] rahulsangwn opened #13197 "sentence mistake in description of radare2"
Sentence not formed correctly in the Description of radare2 repository.
`unix-like reverse engineering framework and commandline tools security`

[2019-02-26 16:21] radare commented on #13197
wtf just saw that now. fixed thanks

[2019-02-26 16:21] #13197 closed

[2019-02-26 23:04] radare opened #13200 "asm.meta=false improvements"
* [x] The ahi 10 (or vdi 10) results in invalid .hex xx, (its signed!) works fine in asm.meta=true
* [x] If the thing has been marked as data, it should be all of the same color and not analize the instruction there
* [x] indentation issues

<img width="684" alt="screenshot 2019-02-27 at 00 02 17" src="https://user-images.githubusercontent.com/917142/53452930-0396ed80-3a23-11e9-80b0-ea5bb02a02c0.p

[2019-02-26 23:29] radare opened #13201 "merge anal.jmp vars"
we should make those be anal.jmp.*

[code]

but we have also other unrelated jmpcommands that must be also renamed

[code]

do anal.jmp.after, anal.jmp.eob . anal.jmp.cref and anal.jmp.imm make sense to you too?

[2019-02-27 02:47] radare opened #13206 "show call signature with arguments passed in tailcalls"
<img width="1097" alt="screenshot 2019-02-27 at 03 46 34" src="https://user-images.githubusercontent.com/917142/53461872-487e4c80-3a42-11e9-956b-54efa5def09e.png">

vs

<img width="1519" alt="screenshot 2019-02-27 at 03 47 00" src="https://user-images.githubusercontent.com/917142/53461893-57fd9580-3a42-11e9-9de9-0359a546c4bc.png">

[2019-02-27 02:57] radare opened #13207 "pxr vs ad8 / ad4"
shall we kill ad8?

[2019-02-27 03:17] Maijin commented on #13201
Yes +1

[2019-02-27 05:37] XVilka commented on #13201
Agrreee

[2019-02-27 05:38] XVilka commented on #12734
Do you have a reproducer?

[2019-02-27 08:57] radare opened #13208 "Implement asm.null plugin"
To be in sync with anal.null

[2019-02-27 09:13] Cloudef commented on #8749
This is pretty annoying, and the only reason I have to use gdb separately, and calculate offsets manually from gdb to r2.

[2019-02-27 10:40] #13208 closed

[2019-02-27 12:00] pawlos commented on #13185
I think this is not longer happening. I've tried on latest code and don't see this issue

![image](https://user-images.githubusercontent.com/1296768/53488707-5b6b3e00-3a8f-11e9-99dd-a79ef5bc716a.png)

[2019-02-27 14:56] Maijin commented on #13185
thanks 👍 , please retry with latest from git @iGr33k and let us know we will reopen if necessary

[2019-02-27 14:56] #13185 closed

[2019-02-28 11:05] radare opened #13212 "ESIL follow constants"
Another cool use of ESIL can be to define a list of constants or values to follow during the emulation, any instruction messing with this value/pointer will be highlighted, and there must be a way to emulate the whole program and get a list of all the instructions that handled this value

[2019-02-28 11:42] radare opened #13213 "Hint jumps"
One interesting feature for esil would be to ignore the conditional jumps and just follow the one hinted by the user. This way we can select a bunch of nodes from a graph and reach it there by just stepping in.

This can be done by reusing the abt command to find the path between 2 points in the code

[2019-02-28 14:06] Cloudef opened #13215 "io_plugin: how to open multiple fds?"
I made a io plugin (1) for opening running process's regions from `/proc/$$/maps` using uio (so it doesn't actually stop the process, like with ptrace). However, I'm running into a problem where I want the protocol to basically be `mem://pid` and have the io plugin to create fd for each region. I see there's open_many, but I'm not sure how it actually gets called.

1: https://ptpb.pw/WmLS.c/c

[2019-02-28 14:50] ret2libc opened #13217 "Run unit tests with LeakSanitizer enabled"
So far LeakSanitizer was disabled because otherwise the log would be huge, but we can enable it at least for unit tests.

[2019-02-28 15:14] Cloudef commented on #13215
with `file.openmany=100`
[code]

[2019-02-28 15:36] radare opened #13218 "Improvements in aesou"
* [ ] Support syscall name/parameters resolution like its done in `as`
* [ ] Handle tailcall function parameters
* [ ] Implement aC* and aCj

[2019-02-28 15:55] #13201 closed

[2019-02-28 16:11] Cloudef commented on #13215
As a "workaround" I made version that works with single descriptor https://ptpb.pw/Zn99.c/c
It has its pros and cons, but technically there could be different kind of binaries mapped

[2019-02-28 16:17] iGr33k commented on #13185
Everything working now, thanks.

[2019-02-28 16:23] radare opened #13219 "anal.maxreflines -> asm.lines.maxref"
or a better name, proposals?

[2019-02-28 17:27] radare commented on #13195
fixed in a404c7706366689f089cd30ea9d6cd4bde2560f5

[2019-02-28 17:27] #13195 closed

[2019-02-28 17:28] radare commented on #13140
related to flag priorities cc @ret2libc

[2019-02-28 19:59] condret commented on #13215
Why do you want to use a filedescriptor for each region, why not a RIOMap?

[2019-02-28 20:37] Cloudef commented on #13215
Is there examples of that? I was looking at the io plug api and wondered why there are so many similar abstractions. (map, desc, fd)

[2019-02-28 21:09] radare commented on #13206
fixed in 0ba24ddd127d702360463a7ca6df4aed34f8be4c

[2019-02-28 21:09] #13206 closed

[2019-02-28 22:47] CrypticalCode0 commented on #3617
Where to start, some supervisor mode instructions are still not recognized, I am willing to fix this if someone would verify my fix (movec; ptest) currently using an amiga kickstart binary to trace issues.(supervisor bit?)
another issue I've come across which is related but has to do with ESIL more is that the register values are initialized but not updated, which returns interesting values with A

[2019-03-01 05:19] XVilka commented on #10152
@ret2libc what do you think?

[2019-03-01 08:10] ret2libc commented on #10152
It seems reasonable to have LGTM, though as always then it's a matter of how many people will look at those warnings. We already have coverity for example...

WRT sub-modules/sub-tree/etc. that's an ongoing discussion for so long :) I'm ok with both sub-modules and sub-trees.

[2019-03-01 08:26] XVilka commented on #10152
@ret2libc no, I meant maybe we should just introduce a condition, that enabled set a capstone downloads as a zip archive, rather than through git fetch.

LGTM warnings are different from Coverity (for now is offline, I will restore the builds ASAP).

[2019-03-01 08:46] Maijin commented on #10152
@XVilka  -  #11730

[2019-03-01 08:57] ret2libc commented on #10152
I'm against other workarounds when we could just use subtrees (or even submodules, if it wasn't for GH problems)

[2019-03-01 09:10] condret commented on #13215
fds are a references to desc, so that we don't to use rawpointers to desc outside of RIO. descs represent connection to the io-plugin. Maps are for remapping things that exist in the desc (the file). I think you may want to use r_io_map_add, but it probably won't work from inside the open callback in the io-plugin. ... alternativly, you could create an rbin-plugin, which parses the map-files, and

[2019-03-01 09:50] emoon commented on #3617
Would it be possible to file capstone related issues directly on the Capstone GH issue tracker? Also I have no idea what ESIL is.

[2019-03-01 10:18] Cloudef commented on #13215
I'll look into this. Can I also make it this way open `/proc/PID/self` (with supporting bin plugin, such as elf) and then use maps to map the regions? Maybe this should be a debugger plugin instead...? Though I have no plans to add any debugging facilities on top of this.

[2019-03-01 10:18] radare commented on #3617
Of course

Read the chapter of the book under the name ESIL. But its basically a string of words separated by comma that describe what the instruction does. In r2land we use this for emulation and other stuff

[2019-03-01 10:36] emoon commented on #3617
Thanks! Is this info something that Capstone should provide or is it something that needs to be implemented on the r2side?

[2019-03-01 10:41] radare commented on #3617
That needs to be implemented in r2 in the anal plugin by taking the instruction information from capstone

[2019-03-01 10:41] emoon commented on #3617
Alright. Thanks!

[2019-03-01 16:51] radare opened #13227 "Import kernelcache plugin into default r2 installation"
https://github.com/mrmacete/r2-ios-kernelcache

cc @mrmacete

[2019-03-01 22:09] kellyj4 commented on #13171
Hello XVilka,
    I am happy to look at this issue.  Could you assign me the issue.

[2019-03-02 00:06] radare opened #13229 "av changes"
[code]

note the following:

* avra should be renamed to aavt (analyze all virtual tables)
* the aC command reference is wrong, it is ac
* avrr may be renamed to aavr maybe :?
* Is avra run from aaa? may we want to use the bin info for this?

[2019-03-02 01:30] CrypticalCode0 commented on #3617
Well this is a small dilemma, the supervisor bit does solve the issue.
How does one go about this, the initialization after reset and during power up for the m68k family is to read the first 8 bytes at the lowest address in it's memory map. for Supervisor SP and PC respectively.(68020 and up can relocate it's VBR, and thus the location of these values during an reset.)

Long story short how should

[2019-03-02 04:18] Maijin commented on #13171
We can't assign you on github but go ahead

[2019-03-02 09:54] thestr4ng3r commented on #13229
"aavt (analyze all virtual tables)" is wrong, the command is about rtti, not just vtables, also it doesn't really analyze, it just reads data and prints it. Does that fit under aa? avrr does in any case though.

[2019-03-02 09:55] radare commented on #13229
then i misunderstood. maybe is avrr the one that must be moved into aa? if those vtables thing are just printing commands why are they under analysis? PD: never used that

[2019-03-02 09:58] thestr4ng3r commented on #13229
Well where would it fit other than anal? It's partially heuristic search and partially parsing data structures defined by C++ ABI.

[2019-03-02 12:27] kellyj4 commented on #13171
@bannsec This looks like an xdot issue?  I had the same issue on xdot version 0.9.4 but applied the patch from this page [https://groups.google.com/forum/#!topic/linux.debian.bugs.dist/Eoa_S114XWo] and now I am able to display the dot graph without the assert error.  It sounds like this is fixed in xdot 1.0 onwards?

[2019-03-02 16:44] MaorNr opened #13234 "bug in run webserver multiple times in one session"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 8.1
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/64 etc.
| r2 -v full output, **not truncated**

[2019-03-02 18:26] deepakchethan commented on #13219
+1 for anal.lines.maxref. It enables us to maintain a consistent naming, given that we changed the `anal.jmp.*`

[2019-03-02 20:21] ret2libc commented on #13217
Fixed

[2019-03-02 20:21] #13217 closed

[2019-03-03 01:02] #13157 closed

[2019-03-03 01:03] radare commented on #13190
https://github.com/radare/radare2/pull/13238

[2019-03-03 02:20] radare commented on #13219
Can you do a pr and update the tests?

[2019-03-03 02:20] radare commented on #13219
Any other comment? Btw you can 👍 the issue too

[2019-03-03 02:21] radare commented on #13219
This code is done in anal. But only used in core/disasm. Thats why i think it makes more sense in asm

[2019-03-03 02:22] radare commented on #13234
This is a windows specific issue. Works fine on linux and mac

[2019-03-03 02:38] deepakchethan commented on #13219
Okay @radare, I will change it to `asm.lines.maxref` and make a pr

[2019-03-03 03:54] bannsec opened #13241 "More granular heap information"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Basically, it would be very helpful to have extra information (perhaps a different heap command) to show the heap layout. While there exists `dmh`, `dmhg`, `dmhm`, they show the chunks but not what bins they belong to and their linked order.

An example of how I'd like to be able to see it was

[2019-03-03 09:18] MaorNr commented on #13234
A lot of things are not compatible for windows and not working and there is no really any support. If I want to use r2pipe in windows without http how do I do it? All guises uses ‘/bin/ls’ which has no meaning in windows

[2019-03-03 10:32] radare commented on #13229
Is av* executed from aaa? Which are the requirements for it to work? Can you fix the aC help message?

[2019-03-03 11:28] radare commented on #13219
fixed

[2019-03-03 11:28] #13219 closed

[2019-03-03 11:44] thestr4ng3r commented on #13229
Right now there is nothing in aaa, but avrr is something could certainly be added. The requirement for it are xrefs for the vtable search (aar has to be executed before) and rtti in the binary. Maybe there should also be a fallback when there is no rtti, so it just detects vtables and adds classes for them.

Yes, I'll fix the help

[2019-03-03 12:13] radare commented on #13095
Seems like @SohailAlvi have no time to chk this issue before the next release. so it's open again for anyone who wants to contribute.

[2019-03-03 12:38] radare commented on #13229
Cc @maijin

Pls add this in aaa when it matters

[2019-03-03 12:40] edigaryev opened #13244 "x86.nz: cannot assemble BSF/BSR instructions"
Unsuccessful attempt to assemble BSF instruction using `x86.nz` (default assembler):

[code]

Same instruction, but with `x86.as` assembler:

[code]

[2019-03-03 13:12] radare commented on #13244
Can you make a pr adding support for it? Shouldnt be difficult to encode it

[2019-03-03 13:21] Maijin commented on #13244
Greetings,

x86.nz (x86 handmade assembler) is one of the many x86 assemblers available in radare2 and is updated frequently.  **Please add a test case so we can fix x86.nz in https://github.com/radare/radare2-regressions/tree/master/new/db/asm** (See https://github.com/radare/radare2-regressions/blob/master/new/README.md) You can do so with github web editor without even cloning the repo.

You ca

[2019-03-03 14:17] xarkes commented on #1169
Can be closed I think.

[2019-03-03 14:39] deepakchethan commented on #12664
@karthick-gururaj can you please check and tell me if I should do any modifications?

[2019-03-03 17:07] MaorNr opened #13247 "cant remove no-return link after it is made"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                                            | Answers
|-----------

[2019-03-03 18:18] ret2libc commented on #13140
This is not related to flag priorities IMO.

1) first issue is that when running `aaa`, the zignatures are applied only after some other `a*` commands are run, so those functions get a name before zignatures are even detected
2) if you solve 1, you'd still get the name of `sign.*` flag and not the right name, e.g. you'd get `sign.bytes.fcn.parse_colors0` instead of `parse_colors`. I don't think th

[2019-03-03 18:28] MaorNr opened #13248 "ec graph.truefae #000000 Invalid color graph.truefae"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 8.1
| File format of the file you reverse (mandatory)      | PE,
| Architecture/bits of the file (mandatory)            | x86/3
| r2 -v full output, **not truncated** (man

[2019-03-03 20:09] radare commented on #13248
Its named trufae not truefae. Thats why u get the error, because that doesnt exist

[2019-03-03 20:23] c-urly commented on #13095
How do i generate this? i am unable to get fcn.* after jump. Can you show me the series of commands to generate this?

[2019-03-03 20:51] Wenzel opened #13251 "Misaligned symbols when inspecting a running Windows XP kernel"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 29 64 bits
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated*

[2019-03-03 21:41] MaorNr opened #13252 "space in the file's path makes project saving impossible"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 8.1
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (man

[2019-03-03 21:50] MaorNr commented on #13248
Thanks

[2019-03-03 23:28] vifino opened #13255 "Headerless ARM32 doesn't show string cross reference using axt"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian arm 32
| File format of the file you reverse (mandatory)      | raw
| Architecture/bits of the file (mandatory)            | arm32
| r2 -v full output, **not truncated** (m

[2019-03-03 23:35] radare opened #13256 ""afa" is not documented and not used anywhere, why it exists?"
Also, it seems not to work properly. it is something used in Cutter?

[2019-03-03 23:37] radare commented on #13256
Fixed in 0d23983b09c01716ec113d5e429420caced0f523

[2019-03-03 23:37] #13256 closed

[2019-03-03 23:50] radare opened #13257 "Implement pdc*"
Like pdd* to import disasm output as comments, we need the offset where the line refers to

[2019-03-04 00:39] radare opened #13259 "asm.var.summary=true when numvars > screenheight? :D"
at least something funky for scr.responsive

[2019-03-04 00:49] #13248 closed

[2019-03-04 00:50] radare commented on #13247
tnn seems to fail too, we need tests for this

[2019-03-04 01:47] radare commented on #13255
can you share the bin?

[2019-03-04 02:22] #13247 closed

[2019-03-04 02:23] radare commented on #13247
Can you add some tests and close this issue? https://github.com/radare/radare2-regressions/issues/1723

thanks!

[2019-03-04 02:43] Maijin commented on #13140
@ret2libc it is reproducible with only af as written

[2019-03-04 03:21] oxcabe commented on #13200
Now it displays data segments without colors

![asm_meta](https://user-images.githubusercontent.com/25517190/53708445-7a6d2580-3e2b-11e9-905d-2a584bfa34bb.png)

The thing is, now comments before data are also non-colored. Working on it, but feeling a bit stuck on this at this point.

[2019-03-04 09:28] radare commented on #13200
Thats neither a data segment or a comment

[2019-03-04 10:20] Maijin opened #13263 "Github Transfer ownership of radare/radare2 to radareorg/radare2"
For better better team management, roles assignment, CI tools usages. And also to stop using radare account for answering people as the account does not represent the team nor the org.

https://help.github.com/en/articles/transferring-a-repository#repository-transfers-and-organizations

- [x] radare2
- [x] sdb
- [x] radare2-r2pipe ( I suggest to rename also into just r2pipe)
- [x] r2book
- [x] rad

[2019-03-04 10:21] thestr4ng3r commented on #13263
And if you do it, please DO NOT fork and unfork, just transfer the ownership.

[2019-03-04 11:54] radare opened #13264 "Improve visual panels"
This "PRess L to refresh all panels must be gone", theres no need to do this 99% of the time and 1% is just not necessary to eat half of the menubar with it. we can probably add a statusbar

<img width="534" alt="screenshot 2019-03-04 at 12 52 42" src="https://user-images.githubusercontent.com/917142/53731920-83d2ae00-3e7c-11e9-846c-89c7a0d49d41.png">

Menubar is highlighted when not selected, whi

[2019-03-04 12:20] radare commented on #13259
We may want to have asm.var.compact too and group vars by type like this:

int32_t var0, var1, var2, var3; ...

[2019-03-04 12:37] XVilka commented on #13259
Very good idea! Totally agree.

[2019-03-04 12:39] XVilka commented on #13263
In fact it can be applied with a few related repositories as well:
- sdb
- r2pipe
- r2bindings
- etc

[2019-03-04 12:41] radare commented on #12021
Also integrate the dri output in here

[2019-03-04 13:15] shin-illua commented on #13179
solomonbstoner I executed same commands as you stated above but I get an error `bash: sys/user.sh: Permission Denied` Anyway around it?

[2019-03-04 15:15] radare commented on #13179
Thats because the hashbanh doesnt matches android paths, just pass it as argument to bash

[2019-03-04 15:43] radare commented on #13095
Just aa on random binaries, im busy now and i have no handy bin to specify now

[2019-03-04 15:51] radare commented on #8749
Then fix it or provide a simple test case to reproduce without depending on graphical apps and such., its just a matter of handling thread events properly, i dont use debugger too much lately, and i have other priorities, shouldn’t be difficult to fix.

Why do you calculate offsets in gdb? Just load r2 with the right base address

[2019-03-04 18:44] Cloudef commented on #8749
For some reason I couldn't get that work, that particular program was a dll run through rundll32.

[2019-03-05 00:16] radare opened #13270 "vv! should toggle sort by offset and sort by name"

[2019-03-05 00:17] radare commented on #13270
| afls   sort function list by address

[2019-03-05 00:18] radare commented on #13270
there's no command to sort them by name, maybe add aflsn? but we would want to have sort by size, complexity ..

[2019-03-05 00:44] radare opened #13271 "fcn_print_json must use PJ api"
`static int fcn_print_json(RCore *core, RAnalFunction *fcn) {`

lives in libr/core/canal.c

[2019-03-05 04:29] deepakchethan commented on #13271
Will start working on it :)

[2019-03-05 07:53] Freakqency commented on #2730
I have been developing a plugin for ne format. I was able to obtain the vaddr value by passing the values stored in cs and ip to a function to convert it to a 20bit address format .can anyone help me out with finding the paddr value.
I tried to replicate this function
[code]
but i dont know what to replace the header_paragraphs with

[2019-03-05 07:58] radare commented on #13271
👍

[2019-03-05 09:19] XVilka commented on #9721
@Vane11ope can be closed now, right?

[2019-03-05 12:51] ret2libc commented on #13068
Done. See https://github.com/radare/radare2/commit/afae8b6e34b095ee590135ac4ca63a6b0326df62

[2019-03-05 12:52] #13068 closed

[2019-03-05 12:52] ret2libc commented on #12704
Ongoing work at https://github.com/radare/radare2/pull/13138

[2019-03-05 12:54] ret2libc commented on #9417
@radare pong see https://github.com/radare/radare2/issues/9417#issuecomment-370863652 though.

[2019-03-05 15:06] enovella opened #13275 "ELF format issues"
The sample aims at breaking RE tools. Thus, IDA and r2 misbehave both. The binary is packed.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             |  Ubuntu x64
| File format of the file you reverse (mandatory)      |  ELF
| Architect

[2019-03-05 16:46] ret2libc commented on #12206
With regard to "two relocs pointing to the same import":

Are you sure it is a bug? From `readelf` I can see two relocations, so I'm inclined to say we are doing the right thing.

[code]

[2019-03-05 16:51] ret2libc commented on #12206
@radare could you please explain exactly what is the issue with precise "Steps to reproduce"/"Expected output"/"Actual output"? I have an hard time understanding what is the second issue you are mentioning. Also, I fail to understand how all this is related to RBin (it seems more like an ESIL issue for what I got so far).

[2019-03-05 17:19] radare commented on #7259
Done already by me in the aao command

[2019-03-05 17:21] trufae commented on #13179
just update, r2-3.3 is in termux now

[2019-03-05 17:37] ret2libc commented on #13136
I have used valgrind on radare2 and it appears a lot of time is spent in ptrace_wrap @thestr4ng3r . The 4 functions where most of the time is spent are: __new_sem_wait_slow, ptrace_wrap, do_futex_wait and sem_post. Then it comes ptrace. So, of course there is some slowness involved because ptrace is used (probably a lot and probably without any cache), but by removing ptrace-wrap the time is reduc

[2019-03-05 19:23] radare commented on #13136
also analyzing in debugger is MUCH slower without my maxbb PR. can you help on this?

[2019-03-05 19:25] radare commented on #12206
yeah not all is depending on bin here, i will have a look when i get some time

[2019-03-05 19:30] ret2libc commented on #13136
@radare are you saying that analysis on debugger is slower if you set anal.bbmaxsize=1M vs 1K?

[2019-03-05 19:31] radare commented on #9417
sgtm

[2019-03-05 19:31] radare commented on #13136
without my branch, yes. in fact without the debugger is slow too, but the debugger backend is much slower than posix io

[2019-03-05 19:41] ret2libc commented on #13136
This one https://github.com/radare/radare2/pull/13223 ?

[2019-03-05 21:06] radare commented on #13136
Yes

[2019-03-05 22:59] Vane11ope commented on #12021
i'm on this now

[2019-03-05 23:10] thestr4ng3r commented on #13136
Should probably be easy to fix. It is now possible to also push entire functions to the ptrace thread, so the synchronization does not need to happen all the time.

[2019-03-05 23:17] radare opened #13278 "RFE: afll argument to specify which column use to sort the rows"
<img width="677" alt="screenshot 2019-03-06 at 00 17 27" src="https://user-images.githubusercontent.com/917142/53844185-3b62df80-3fa5-11e9-9971-43571bfe3eea.png">

[2019-03-05 23:19] radare commented on #13092
Please suggest commands, options and other stuff. the self:// plugin can be used as inspiration

[2019-03-06 03:09] Maijin commented on #2367
https://github.com/radare/radare2/pull/13281

[2019-03-06 03:43] #13234 closed

[2019-03-06 04:48] XVilka commented on #6037
This feature was introduced in GHIDRA

[2019-03-06 05:01] Maijin commented on #13140
The problem is reproducible with af too and sign.bytes.fcn.parse_colors0 is perfectly fine and what i would expect sorry if that wasn't what the screenshot shows, I will change it.

[2019-03-06 05:52] Maijin commented on #13010
https://github.com/CyberGrandChallenge/binutils/blob/master/bfd/cpu-i960.c

[2019-03-06 06:49] ret2libc commented on #13140
If that's the case, it seems it's already working to me.

You just need to do (notice the `z/`, which is executed too late when you do `aaa`):
[code]

You can check it works with:
[code]

[2019-03-06 07:19] Maijin commented on #13140
Oh seems to work in af now ok then it's good to close 👍

I think we can add an aF @@ sign.* in aaa will solve the issue

[2019-03-06 07:20] #13140 closed

[2019-03-06 08:23] radare commented on #6037
?

[2019-03-06 08:24] radare commented on #13010
Wow

[2019-03-06 08:55] radare opened #13282 "Set http.verbose=false by default"
Most people dont expect all the access.logs to be dumped into your face

[2019-03-06 09:13] radare commented on #9721
yes

[2019-03-06 09:13] #9721 closed

[2019-03-06 09:22] radare opened #13283 "Use 'g' instead of 'o' in visual and graph"
* gg<enter> and gG<enter> maybe be still used to go oat the begining /end of the file
* we need a new key prefix for selecting nodes in the graph
* all other RE tools use 'g'

[2019-03-06 09:25] Maijin commented on #13283
Sure +1, can just swap g by o in the graph

[2019-03-06 09:37] radare commented on #13283
ok will do a pr now

[2019-03-06 10:14] #13283 closed

[2019-03-06 10:37] radare commented on #2367
lets make it happen, not going to delay this change more

[2019-03-06 11:36] deepakchethan commented on #13271
This can be closed

[2019-03-06 11:36] deepakchethan commented on #12664
This can be closed

[2019-03-06 11:37] #13271 closed

[2019-03-06 11:38] #12664 closed

[2019-03-06 12:15] radare opened #13287 "aepc=$$ should do the same as aepc $$"
just use '=' as an alias for ' '

[2019-03-06 13:31] radare opened #13289 "Use r2 commands in the radeco shell"
To not have to remember new commands:

[code]

I would suggest:

* [ ] load `o`
* [ ] connect `=`
* [ ] fn_list `afl`
* [ ] af `addr` # or add `s`
* [ ] ir `pir`
* [ ] decompile `pdd` or `pdd radeco` ..
* [ ] fn_rn `afn`
* [ ] quit `q`

[2019-03-06 13:32] radare commented on #13289
moved into https://github.com/radareorg/radeco/issues/76

[2019-03-06 13:32] #13289 closed

[2019-03-06 14:04] #13078 closed

[2019-03-06 14:07] shin-illua commented on #13179
@trufae just did it and still nothing.

@radare I dunno, but doing the `ls` command inside `radare2/libr` folder doesn't give me any config.mk file, only `config.mk.tail, config.mk.head`

[2019-03-06 15:17] deepakchethan commented on #13287
This is already done

[2019-03-06 15:20] #13287 closed

[2019-03-06 15:27] #13282 closed

[2019-03-06 15:46] radare commented on #13179
in the screenshot you are not doing r2 putty.exe ... i only have 64bit android devices to test and it works fine in all of them, so maybe the issue is related to 32bit arm and termux, did you treid other tools instead of just rabin2?

[2019-03-06 15:56] #3168 closed

[2019-03-06 16:06] Mm7 opened #13293 "Wrong disassembly from external function"
Hi, I'm trying to debug the issue https://github.com/radareorg/radeco-lib/issues/254. The attached binary is used as input (C's hello world). After connecting to r2, radeco pulls the functions list and the ESIL code for all the functions. Unfortunately it seems that the code for the function `_ITM_deregisterTMCloneTable` is wrong. That function is not part of the binary, instead it is inside the l

[2019-03-06 16:18] radare commented on #13293
may be related to the fix merged 5 minutes ago, are you using r2 from git?

[2019-03-06 16:30] radare commented on #13213
This can be implemented with the new cmd.esil.step

[2019-03-06 16:39] Mm7 commented on #13293
@radare I don't think so. The issue was there for at least a few days.

[2019-03-06 16:46] radare commented on #13293
![screenshot 2019-03-06 at 17 46 14](https://user-images.githubusercontent.com/917142/53898095-becd1100-4037-11e9-8abd-351868eebd9d.png)

[2019-03-06 16:46] radare commented on #13293
it's an import thats why the offset is 0, you must use the reloc

[2019-03-06 16:51] Mm7 commented on #13293
@radare thanks, r2 says there is no function, how can I import it?
[code]

[2019-03-06 16:53] radare commented on #13293
yep, relocs are just placeholders for pointers when the runtime linker loads them, what you can find in there is an xref, and nope, no function is there

[2019-03-06 16:57] radare opened #13295 "Enumerate/Group function list by offset with counter/..."
Like Ghidra does, but adding a counter of the amount of functions, adding keystrokes to fold/unfold etc, also this tree view will be useful for other situations

![image 2019-03-06 17 56 08](https://user-images.githubusercontent.com/917142/53898815-1f108280-4039-11e9-8964-369ab2d224df.jpg)

[2019-03-06 16:58] Mm7 commented on #13293
OK, I see. Probably radeco should simply ignore external functions. Can I safely assume that a function with address 0 is an imported function?

[2019-03-06 16:59] XVilka commented on #13293
@Mm7 I think the solution boils down to importing symbols from r2 to radeco: https://github.com/radareorg/radeco-lib/issues/183

[2019-03-06 17:06] Mm7 commented on #13293
@XVilka Functions list is already imported. What we really need here is to distingush between reloc and "normal" functions.

[2019-03-06 17:08] #13293 closed

[2019-03-06 17:09] XVilka commented on #13293
@Mm7 this is not exactly what I meant - see `ir` output in radare2 - this information is not mported.

[2019-03-06 17:15] Mm7 commented on #13293
@XVilka uhm, I'm not exactly understanding what would "importing symbols" consist of in terms of r2 commands. Right now, `afl` is used to pull the functions list. Are you proposing to use a set of commands to get various infos (func args, local vars, ..) ?

[2019-03-06 17:21] XVilka commented on #13293
@Mm7 my point exactly, and in this particular case it should use also the output of `ir` command.

[2019-03-06 17:46] radare opened #13296 "pds graph should contain the branch instruction (and maybe conditional) of each bb"
otherwise we cant understand if its a ret, conditional jmp or wat

comments on this?

[2019-03-06 17:47] radare commented on #13296
![screenshot 2019-03-06 at 18 46 05](https://user-images.githubusercontent.com/917142/53901852-3868fd00-4040-11e9-8017-acfa55a4eb94.png)

[2019-03-06 19:50] fumfel opened #13297 "Heap out of bounds read in r_x509_parse_extension()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04
| File format of the file you reverse (mandatory)      |  PE32+
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated**

[2019-03-06 21:21] radare commented on #13255
its because of thumb/arm emulation. the code that references this is thumb and its using arm32 to emulate it, so it finds nothing. im trying to find a decent solutiion that doesnt involves too much changes

You can get the xref if you do this:

[code]

[2019-03-06 22:46] a1ext commented on #13213
Will be good for automation purposes

[2019-03-06 23:00] a1ext opened #13301 "Bad fix of abspath issue"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 7 x64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (m

[2019-03-06 23:10] radare opened #13302 "Shorter name for #!pipe python .."
the problem is that when we use cmd.esili.* the commands get executed with 2 numeric arguments, so we can't use '.' because it will honor the spaces as part of the filename. the solution would be to add a new command `..` to interpret a file using r2pipe via #!pipe .. thiis is. just chopping for the first argument and ignoring the arguments.

Another option can be to implement the `#!.` command wh

[2019-03-06 23:10] radare commented on #13302
cc @a1ext

[2019-03-06 23:17] a1ext commented on #13302
Yeah, these three months I'm very busy at work -___-, I don't think I will be free to implement this

[2019-03-06 23:39] #13302 closed

[2019-03-06 23:41] radare commented on #13302
i just did it, i was pinging you to get some feedback on which command use, etc, but i decided to use .*

[2019-03-06 23:42] a1ext commented on #13302
Thanks :)

чт, 7 марта 2019 г. в 2:41, radare <notifications@github.com>:

[2019-03-06 23:52] radare opened #13304 "RFE: Add a command to list all used types"
It is important to know which types has been in use in the current project. ideally will be good to group them by binary.

A subcommand of `t`

[2019-03-07 00:26] #13244 closed

[2019-03-07 03:45] attritionorg commented on #12662
@radare Can you link to the fixing commit please?

[2019-03-07 06:25] ITAYC0HEN commented on #13131
this is not a bug, clsoing

[2019-03-07 06:25] #13131 closed

[2019-03-07 07:58] #13297 closed

[2019-03-07 09:00] radare commented on #12662
It was fixed with another sample

[2019-03-07 09:31] ret2libc commented on #12704
PR has been merged, this is live! Not perfect yet, but we'll see how it goes.

[2019-03-07 09:31] #12704 closed

[2019-03-07 09:35] radare commented on #12662
thank you microsoft for not allowing me to reply images in gh via mail

![image1](https://user-images.githubusercontent.com/917142/53946722-a0612700-40c4-11e9-85d4-eed5c6c5b5d7.jpeg)

[2019-03-07 11:04] c-urly commented on #13095
<img width="1170" alt="screenshot 2019-03-07 at 12 55 38 pm" src="https://user-images.githubusercontent.com/14140421/53939260-8cbfbb80-40d8-11e9-94db-163e3a3b5bbc.png">
 I am getting this output after aa.

[2019-03-07 11:10] shin-illua commented on #13179
@radare yes I did the `apt-get install radare2` command again, and tried putty.exe with r2 and rabin and nothing happened.

About the missing `config.mk` file, is there anything else I could do about it?

[2019-03-07 11:11] radare commented on #13179
you may report this issue to termux, i see no reason for not being working.

About the missing config.mk, this is generated by the configure, you can also use the meson build system insitead of configure +make, but both should work

[2019-03-07 12:08] radare commented on #11706
lets close this issue for now, there are more variables to discuss, and i think the current situation is not that bad, we probably need to think those eval namespaces in more detail

[2019-03-07 12:15] kazarmy commented on #11706
ok

[2019-03-07 12:15] #11706 closed

[2019-03-07 12:25] radare opened #13306 "Add command to highlight /unfold all nodes that are not reaching the current one"
This is, when selecting a node in the graph, press a key to run `abt` to find all the paths the can reach that bb from the begining of the function. then highlight them (or fold the other ones).

We can be also combined with https://github.com/radare/radare2/issues/13213

[2019-03-07 12:42] XVilka commented on #1169
Closing because of https://github.com/radare/radare2/issues/9973

[2019-03-07 12:42] #1169 closed

[2019-03-07 12:43] XVilka commented on #6743
Closing becase of https://github.com/radare/radare2/issues/9973

[2019-03-07 12:43] #6743 closed

[2019-03-07 12:43] XVilka commented on #7436
Closing because of https://github.com/radare/radare2/issues/9973

[2019-03-07 12:43] #7436 closed

[2019-03-07 12:43] XVilka commented on #9088
Closing because of https://github.com/radare/radare2/issues/9973

[2019-03-07 12:43] #9088 closed

[2019-03-07 12:44] XVilka commented on #9937
Closing because of https://github.com/radare/radare2/issues/9973

[2019-03-07 12:44] #9937 closed

[2019-03-07 12:47] XVilka commented on #1194
@a1ext please add what is missing for Windows

[2019-03-07 13:36] a1ext commented on #1194
From what I know, there are the only problem:
- Unicode compatibility got broken

[2019-03-07 13:37] shin-illua commented on #13179
@radare "generated by configure", does that mean that `config.mk` is supposed to be generated after I run the `sys/user.sh` script? Or do I have to run it manually myself?

[2019-03-07 13:53] shin-illua commented on #13179
@radare I guess this info will be useful. This is one of the reasons why I think this is not because of termux.

I installed this app called "radare2 material" from google play. So I clicked the `install` button and it started downloading something and did some installations. Now when I am on this window (the window where  I get to launch radare2, which also has options for me if in what way I wan

[2019-03-07 15:04] radare commented on #13306
also this can be useful to have in the disassebmly, by highlighting regions of the code that are covering an executioni path according to abt (or the debug traces)

[2019-03-07 15:57] radare commented on #13179
all the other packages in termux work fine?

[2019-03-07 16:04] edigaryev commented on #13244
Apparently this still works only partially using the latest version:

[code]

[code]

[2019-03-07 22:41] radare commented on #13306
<img width="428" alt="screenshot 2019-03-07 at 23 41 28" src="https://user-images.githubusercontent.com/917142/53994407-8a8a4b00-4132-11e9-8b12-f578e5060de9.png">

[2019-03-07 23:17] radare opened #13310 "Add support to fold basic blocks in disasm"
right now the 'z' key in visual toggles the folding of the functioin, will be good to have 'z' for folding a basic block and 'Z' to fold the whole function.

Also , this folding information must be reflected in the graph too

[2019-03-08 00:40] radare commented on #13306
This feature now works with `e graph.trace=true`. It can be improved, but at least it works and its using the information from the debug traces

[2019-03-08 00:59] radare commented on #13306
Solved in the goods pr :D

[2019-03-08 00:59] #13306 closed

[2019-03-08 01:03] #13227 closed

[2019-03-08 04:45] XVilka opened #13312 "Reuse the XML library everywhere"
Like it was done for JSON parsing and generation.

Currently XML is being parsed in:

- XNU kernelcache https://github.com/radare/radare2/blob/master/libr/bin/format/xnu/yxml.c
- GDB remote protocol https://github.com/radare/radare2/blob/master/shlr/gdb/src/gdbclient/xml.c

We can reduce the amount of code and bugs by using the same library everywhere.

Thus we can also add:
- [x] [Get symbols fro

[2019-03-08 04:46] XVilka commented on #3222
See https://github.com/radare/radare2/issues/13312

[2019-03-08 04:49] Maijin commented on #13312
ping @mrmacete

[2019-03-08 04:52] XVilka commented on #3222
There is even more - we can consider to reuse [Tree Sitter](https://github.com/tree-sitter/tree-sitter) library to generate parsers for all these languages:
- [XML](https://github.com/tree-sitter/tree-sitter/issues/266)
- [JSON](https://github.com/tree-sitter/tree-sitter-json)

[2019-03-08 04:53] XVilka commented on #5863
See also https://github.com/radare/radare2/issues/13312

[2019-03-08 04:56] XVilka commented on #13296
Agree. Or we can think on how to differentiate them without adding line with branching instruction.

[2019-03-08 05:07] XVilka commented on #7462
Is this a duplicate of https://github.com/radare/radare2/issues/12870 ?

[2019-03-08 05:08] XVilka commented on #6721
@wargio what is the current status of this?

[2019-03-08 05:21] Maijin commented on #7462
yep

[2019-03-08 05:21] #7462 closed

[2019-03-08 05:31] XVilka commented on #10152
@ret2libc subtree or submodules might not happen for 3 more years, while workaround can be done in less than one day.

[2019-03-08 06:18] Maijin commented on #12889
ping @koffiedrinker o/

[2019-03-08 07:50] c-urly commented on #13278
I am thinking of making different comparators for each argument. For ex. cmpfcnaddr, cmpfcnsz, cmpfcnbbs and like. If theres a more better way do tell me.

[2019-03-08 08:07] radare commented on #13278
We have ~$ to sort the output of a command by a column

[2019-03-08 10:05] radare opened #13315 "Non integrated code from r1"
libr/search/old_xrefs.c

This file is not used at all, but will be good to decide what to do with it

[2019-03-08 10:10] radare opened #13316 "Kill libr/include/msvc"

[2019-03-08 10:14] Maijin commented on #13315
kill it.

[2019-03-08 10:37] radare commented on #13315
Why, did u even checked the code to understand what it does? Because thats not implemented in r2 at all

[2019-03-08 10:51] Maijin commented on #13315
It's a stand-alone tool from 2007, full of TODO, not using rutil (not even any r*), not idented, not tested. You have my opinion I say we kill it aka move it to radareorg/ and done.

[2019-03-08 11:40] XVilka opened #15591 "WARN deprecated circular-json@0.3.3: CircularJSON is in maintenance only, flatted is its success"
[code]

[2019-03-08 11:57] XVilka commented on #10613
See updated log here https://ci.appveyor.com/project/radare/radare2-shvdd/builds/22924861/job/qiboqswep2w3pvyg

[2019-03-08 12:09] XVilka opened #13318 "Publish radare2 in Vcpkg"
A C/C++ libraries packager for Windows developers

https://devblogs.microsoft.com/cppblog/vcpkg-a-tool-to-acquire-and-build-c-open-source-libraries-on-windows/

https://github.com/Microsoft/vcpkg

Related to https://github.com/radare/radare2/issues/10137

For example see capstone in Vcpkg https://github.com/Microsoft/vcpkg/pull/5546

Should be easy with AppVeyor https://www.appveyor.com/docs/lang/

[2019-03-08 12:29] radare commented on #9757
I will focus on this after merging the maxbb pr which is very important

[2019-03-08 14:26] radare opened #13319 "@@@ improvements"
@@ thoughs
==========

Comments

Common actions
--------------
* dump in files all search results
* disasm the whole file
* dump the whole bin (pd for exec sections, px for data ..)

Unexpected behaviours
---------------------

* hexdump all maps: x$MM@@=`om~[4]`
    * omq should just list the first offset of each map, not fd and index which is useless
    * $MM should be unnecessary if we use @@@

[2019-03-08 14:28] radare opened #13320 "Automatic vulnerability detection"
Use those binaries and improve r2 analysis in order to detect vulnerabilities and bugs in software by analyzing the code.

We can use those bins in the testsuite if we implement proper specific tests for them

https://gtfobins.github.io

[2019-03-08 14:40] radare commented on #13315
i think we can expose thiis code as a way to find relative pointer tables for jump table analysis.. i have some more ideas about how to reuse and expand this code

[2019-03-08 14:41] radare opened #13321 "Implement /cI, like /ci, but handling a range (from, to) like /v vs /V and such"
to find instructons referencing an immediate between a range

[2019-03-08 14:46] radare opened #13322 "Implement instruction pattern search"
This is.. using some fuzzy techniques to identify code blocks following a similiar pattern of assembly instructions. for example:

`/cp mov,push,pop,push,ret`

thats similar to the rop searching feature, but unrelated to the rop gadgets :D

[2019-03-08 14:59] radare commented on #13321
Same goes for /r, we need a /rr to search references in a range

[2019-03-08 15:59] c-urly commented on #13278
So afll ~$3 output should be sorted list based on value of nbbs?

[2019-03-08 17:01] radare opened #13323 "pxr should skip the zeroed regions"
this way we can show more stack and get the boundaries of nullified memory and such

pxr@r:SP will look nicer in some situations with this change

[2019-03-08 17:12] radare commented on #13278
yes, didnt tried, but it should..will be good to have it documented in the book and maybe write some tests

[2019-03-08 17:40] XVilka opened #13324 "radare2.c.obj : error LNK2001: unresolved external symbol r_optind in AppVeyor"
[code]

[2019-03-08 17:40] XVilka commented on #13324
@radare FYI

[2019-03-08 17:52] radare opened #13325 "Add support for edge comments"
This way we can tell the decompiler to add hints to the edges and speciify if those are if/else, swiitch, while/... we can also add those comments automatically with the r2 analysis

[2019-03-08 17:56] radare commented on #13324
those symbols are available if the __WINDOWS__ define is set in
libr/util/getopt.c

On Fri, 8 Mar 2019 at 18:40, Anton Kochkov <notifications@github.com> wrote:

--
--pancake

[2019-03-08 18:01] radare commented on #13324
and also, this was building fine before merging your PR

[2019-03-08 18:06] XVilka commented on #13324
No. My PR was green when you merged it. These caused by libmain changes

On Sat, Mar 9, 2019, 2:01 AM radare <notifications@github.com> wrote:

[2019-03-08 18:08] radare opened #13326 "Add variable to change the registers with their alias"
For example:

[code]

this way we can get an easy to read disassembly because we track the meaning of the register instead of the actual name of it.

[2019-03-08 18:11] radare opened #13327 "Add ESIL for arm64 LDRH instruction"
` 0x00012724      605b6178       ldrh w0,[x27,w1, uxtw 1]`

[2019-03-08 18:20] radare commented on #13327
DOne in master by me

[2019-03-08 18:20] #13327 closed

[2019-03-08 18:21] radare opened #13328 "Implement color for UJMP/UCALL instructions"
And update the color themes

[2019-03-08 23:04] fritzr opened #13329 "available calling conventions do not properly synchronize with file bitness"
## Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux 2.6.32-696.23.1.el6.centos.plus.x86_64 x86_64
| File format of the file you reverse (mandatory)      | Raw binary
| Architecture/bits of the file (mandatory)            | Any

[2019-03-08 23:15] radare commented on #13329
cc @sivaramaa

would be good to have a test (or a bunch of them) as a pr in r2r

[2019-03-09 01:59] #13252 closed

[2019-03-09 09:21] #13326 closed

[2019-03-09 10:09] radare opened #13333 "Show flag zones in scr.scrollbar"
fz foo @ 0x808008
fz bar @ 0x39000

also fz, should support the `fz name=addr` syntax to avoid unnecessary seeks

[2019-03-09 10:23] pelijah commented on #13324
Fixed by https://github.com/radare/radare2/pull/13332

[2019-03-09 12:34] radare commented on #13324
Thanks!!!

[2019-03-09 14:43] radare commented on #13328
Fixed!

[2019-03-09 14:43] #13328 closed

[2019-03-09 19:35] alfasi commented on #13171
@kellyj4 Can confirm, was able to reproduce in 0.9. The issue was gone in 1.0
Unfortunately the package repo i was using only had 0.9 as the latest version (arch https://www.archlinux.org/packages/community/any/xdot/).

[2019-03-09 22:00] c-urly commented on #13278
I am first parsing afll cost ,so it will sort on cost column. For it i am using r_core_cmd_str(core,"afll ~$5"). This will rerun the command and return the output of "afll ~$5" and then i am putting that output in core->cons.context->buffer. This will do?

[2019-03-10 04:52] Maijin commented on #13171
thanks for checking @kellyj4 @alfasi I will now close the issue on our side.

[2019-03-10 04:52] #13171 closed

[2019-03-10 06:06] ninostephen commented on #13312
seems like something i could help with. so what all should i find after parsing the manifest file? xml files can be parsed using the libxml2 library. could someone elaborate what is to be done?

[2019-03-10 08:33] Maijin commented on #13312
First step is to move yxml in shlr/ymxl can you do that @ninostephen?

[2019-03-10 13:00] ninostephen commented on #13312
I'm not quite sure what you mean by that. I'm much more of python dev than
a c guy. Could you elaborate?

On Sun, Mar 10, 2019, 14:03 Maijin <notifications@github.com> wrote:

[2019-03-10 13:06] Maijin commented on #13312
The library https://github.com/radare/radare2/blob/master/libr/bin/format/xnu/yxml.c must be moved to the location https://github.com/radare/radare2/tree/master/shlr in a new folder called `yxml`

[2019-03-11 00:46] radare commented on #13278
Theres an api in rcons to get the buffer you dont need to dereference it. But yeah. Seems reasonable that we reuse the column sorting code instead of reimplementing it for each data structure

[2019-03-11 05:46] c-urly commented on #13278
Just a question, See if we use the coulmn sorting code we have to implement a whole command but if we just implement a compare functions and sort the buffer that will also do the job. So which is better, i just want to know how can i make the decision of which thing is good?

[2019-03-11 05:56] sivaramaaa commented on #13077
@radare , what do you say ??

"1" or "0" ?

IMO to be consistent we can change it to 0 , for example in function signature sdb we have `func.printf.arg.0=` !

[2019-03-11 06:42] ITAYC0HEN opened #13344 "Implement "graph.cmt.col" to align comments on graph"
**Is your feature request related to a problem? Please describe.**
While high value of `asm.cmt.col` (say 70) improves a lot the readability of the disassembly, it causes the graph nodes to expand way too much.

Screenshot from Cutter:
![image](https://user-images.githubusercontent.com/20182642/54104673-67cd9000-43d9-11e9-838f-4757cca2980a.png)

**Describe the solution you'd like**
There's a need

[2019-03-11 07:11] sivaramaaa commented on #13304
@radare  can you explain this in detail !

What do u mean by "used" here ?

[2019-03-11 08:32] radare commented on #13077
Im +1 for 0 :p

I like things starting at 0

[2019-03-11 08:34] radare commented on #13344
+1

[2019-03-11 08:36] sivaramaaa commented on #13076
Done in [#13346](https://github.com/radare/radare2/pull/13346)

[2019-03-11 08:36] #13076 closed

[2019-03-11 08:38] Maijin commented on #12734
Fixed

[2019-03-11 08:38] #12734 closed

[2019-03-11 13:27] condret opened #13348 "omp does not update the internal mapping"
![photo_2019-03-11_14-10-16](https://user-images.githubusercontent.com/5904302/54127208-2d77e900-4401-11e9-804b-8b594376663b.jpg)

as you can see, om only displays the new arrangement of map priority, but omp didn't apply it

[2019-03-11 14:20] ret2libc commented on #13348
I see different results on my machine. Please ensure you don't have stale libs around.

[2019-03-11 14:21] radare commented on #13348
why we dont have any test for this? was this working at some point?

On Mon, 11 Mar 2019 at 14:27, condret <notifications@github.com> wrote:

--
--pancake

[2019-03-11 14:23] ret2libc commented on #13348
We do have tests for `omp` at `db/io/omp`. And actually the results that I see on my machine are different from @condret 's one and they look right.

[2019-03-11 14:48] radare commented on #13348
i can confirm the bug is there and no test is handling this case

On Mon, 11 Mar 2019 at 15:23, Riccardo Schirone <notifications@github.com>
wrote:

--
--pancake

[2019-03-11 15:16] Maijin commented on #13348
Can we have something we can copy/paste and not screenshots?

[2019-03-11 15:58] ret2libc opened #13349 "Implement load_buffer in all RBin plugins"
When loading a binary, RBin checks if the RBinPlugin implements load_buffer, load_bytes and load in this order. Many plugins have all three implementations because that was done progressively, but nowadays only `load_buffer` should be used.

On the other hand, many plugins still use `load_bytes`/`load` and do not provide a implementation of `load_buffer`, which should be preferred.

This issue is

[2019-03-11 16:03] radare commented on #13349
What about rewriting rbin in json or xml instead of C ? XD every change in all the plugins is a pain

[2019-03-11 16:04] radare commented on #13348
I have ocr in my eyes. The operation was expensive but pays off

[2019-03-11 16:06] ret2libc commented on #13349
I know, but that's something that needs to be done :/ RBuffer in RBin is an essential change IMHO for consistency and performance reasons. It also automatically allows to load binaries from memory (or from wherever else).

[2019-03-11 16:18] radare commented on #13349
Yes i know. I promoted this change and did a lot of it in the past same goes for asm with rbufstr, tiring and boring but necessary, so im totally +1 for this change. But not for all those chkboxes. Bettet do the.whole thing in a single pr and before 2 weeks

[2019-03-11 16:20] ret2libc commented on #13349
Eheh, right, I just wanted to keep track of things in a clean way, for me mainly.

[2019-03-11 19:11] fritzr commented on #13329
I've submitted PR [radare2-regressions#1740](https://github.com/radare/radare2-regressions/pull/1740) for these tests.

[2019-03-11 19:28] ickromwerk opened #13351 "build fails"
Trying to build on Raspberry Pi Zero with sys/user.sh

uname -a
`Linux raspberrypi 4.14.93+ #1191 Wed Jan 16 11:39:44 GMT 2019 armv6l GNU/Linux`

git status
[code]

[log here](https://gist.github.com/ickromwerk/e13493161f58ebebf32ff96185f30de9)

[2019-03-11 22:41] condret commented on #13348
Well, I think it's about the buffer in the core, which is hopefully going to die in the end of 2020. For now I have a workaround, which means doing omp twice.

@Maijin: sadly I cannot provide you anything except this shot, but I would like not to explain this here

[2019-03-11 23:06] scrapbird opened #13354 "vbg is broken"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | OSX 10.14.2, Ubuntu 18.04
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not tr

[2019-03-11 23:08] scrapbird commented on #13354
oulso it `vbg`

[2019-03-11 23:08] scrapbird commented on #13354
Closed by accident because keyboard threw a fit

[2019-03-11 23:20] radare commented on #13348
Do the twice is related to having 2 files opened? What happens if you have 3? Just trying to do a blind guess..

[2019-03-11 23:42] radare commented on #13354
As a workaround you can perss '.' to go back to the entrypoint

[2019-03-11 23:52] condret commented on #13348
no, not related to the number of files, I usually deal with 9 or more files

[2019-03-12 00:15] condret commented on #13215
oh, this is going to be tough

[2019-03-12 00:30] radare opened #13355 "Add colors in r2 -h commandline help messages"
And honor R_COLOR env var.

[2019-03-12 00:33] radare commented on #13355
we should use rcons from libr_main to achieve this.

Otherwise this may be tricky on windows, and may be problematic on tests if we enable colors by default... thoughs here?

[2019-03-12 01:36] Wenzel commented on #13251
Problem is solved.
I was using the wrong kernel.

Windows XP has multiple kernels depending on your processor configuration.
- `ntoskrnl.exe`
- `ntkrnlpa.exe` (if PAE extension is enabled)

Sorry for the false bug report

Thank you !

[2019-03-12 01:36] #13251 closed

[2019-03-12 01:49] Maijin commented on #13251
Thanks for letting us know @Wenzel ;)

[2019-03-12 08:25] loskutov opened #13356 "Resolve data relocations in 32bit position-independent binaries"
**Is your feature request related to a problem? Please describe.**
Modern distributions of GCC produce position-independent binaries in 32bit mode by default. It's implemented by calling a utility function like `__x86.get_pc_thunk.ax` which just returns the return address from the stack; then all the addressing is performed relatively to the obtained address. Radare2, however, doesn't recognize th

[2019-03-12 08:42] #12517 closed

[2019-03-12 08:52] radare commented on #13356
i think there's an issue for that already, can be solved with emu.write and such, but i think the right solution would be to have a way to define functions as thunk or getpc, maybe we should have getsp attribute too. this way the analysis can be done easily without any need to emulate, the linear disasm may be able to handle this, as well as the analysis loop.

related issues:

* https://github.co

[2019-03-12 08:58] radare commented on #13354
i have pushed a fix for this, but there are still things to improve in vbg, the navigation is sometimes not working as expected, but at least its not falling in a dead end.

[2019-03-12 08:58] radare commented on #13354
testing and fixes are welcome

[2019-03-12 09:20] radare opened #13357 "Bring back vG instead of having to use vgG<enter>"

[2019-03-12 10:11] loskutov commented on #13356
#13110 doesn't seem to be related as it is about non-PIE binaries in which some string literals aren't long enough to be recognized as string literals, even if they're used as `char *` arguments in function calls

[2019-03-12 10:12] radare commented on #13356
oh right 13110 is non-pie

[2019-03-12 10:13] radare commented on #13356
See those:

* https://github.com/radare/radare2/issues/6283
* https://github.com/radare/radare2/issues/8900

[2019-03-12 12:36] XVilka opened #13358 "Multi-arch CI: ARM, MIPS, POWERPC, SH, RISCV, etc"
Based on http://musl.cc/

Will help to find different bugs automatically

[2019-03-12 13:46] radare commented on #13358
u mean crosscompile? or run the suite too?

[2019-03-12 13:58] XVilka commented on #13358
Crosscompile and testsuite. Might be even debug tests. I bet a lot of code
contains invalid assumptions about platform it is running on.

On Tue, Mar 12, 2019, 9:46 PM radare <notifications@github.com> wrote:

[2019-03-12 14:16] radare commented on #13358
the problem is not musl, but qemu-user to run all that stuff

[2019-03-12 18:06] ret2libc opened #13361 "om crash"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             |
| File format of the file you reverse (mandatory)      | none
| Architecture/bits of the file (mandatory)            | x64
| r2 -v full output, **not truncated** (mandatory)     |

[2019-03-12 18:30] radare commented on #13361
Asan only crash. I was surprised we didnt catched this bug before

[2019-03-12 18:53] ret2libc commented on #13361
This was introduced in this huge commit https://github.com/radare/radare2/commit/82416b021239286833c2336dddcb3ac6d1dab165 (libr_main stuff). Unfortunately to keep travis-time short we are not enforcing asan build on each commit, so you have to manually look at the travis report to notice it.

[2019-03-12 19:02] radare commented on #13361
maybe because globals dont work the same in shared libs?

[2019-03-12 19:03] radare commented on #13361
oneline reproducer

r2 -qcom -

[2019-03-12 19:10] #13361 closed

[2019-03-12 20:21] scrapbird commented on #13354
Thank you, I'll test it out today. I read through the code last night to make myself familiar and might spend a little time writing a PR to polish it off a little because I like the idea.

[2019-03-12 20:32] radare commented on #13354
awesome! yeah this vbg thing was just a random idea i get and i think its a
very useful way to navigate on the callgraph, following refs, and easily
understanding the whole thing. im happy to hear that im not alone in that
mindset :) i did a quick poc, but its far from perfect, so any PR or
feedback is welcome!

On Tue, 12 Mar 2019 at 21:21, Brenton Morris <notifications@github.com>
wrote:

--
--p

[2019-03-12 20:36] scrapbird commented on #13354
Cool :+1:

I actually found this view when I checked out ghirda and liked their call graph view a lot and went looking for one in r2 so I was happy to see its already pretty much there.

[2019-03-12 21:13] dutt opened #13363 "Script with same name as binary not run when using -d"
**I'll fix this one next week**

I have a binary to analyse, crackme0x04 in my case. I have a script crackme0x04.r2 in the same directory with two short lines, "dcu main" and "s main".

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)

[2019-03-12 22:56] greg5678 commented on #6037
@radare Ghidra is a reverse engineering tool developed by the NSA. https://ghidra-sre.org/

[2019-03-12 23:03] mingwayzhang opened #13364 "[Question] Disassembly Error Detection"
I am wondering if I could use r2 to provide me the disassembly quality.

In particular, I would like a summary of: 1) the percentage of code disassembled. (all executable code sections in an ELF code segment, assuming there is section table); 2) disassembly errors (like number of invalid). 3) gaps between function boundaries.

Currently, from looking at the r2 API and manual, I could only do it ma

[2019-03-13 09:25] wargio commented on #6721
i think we can close this. @radare told me that is not needed to implement `Export ASN1 to JSON` and `Add Rbin Plugins (Low Prio)`.

[2019-03-13 09:25] #6721 closed

[2019-03-13 09:29] XVilka opened #13367 "`vbg` last line drown with off-by-one position"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 29 x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated*

[2019-03-13 10:11] radare commented on #13364
1) aai
2) pD $SS~invalid?
3) no such thing but aaF is related, and you can write an r2pipe script to do that

[2019-03-13 10:12] radare commented on #6037
![thanks-captain-obvious](https://user-images.githubusercontent.com/917142/54271001-ea448400-4580-11e9-9b92-bc56a127fc3c.jpg)

[2019-03-13 12:39] #13301 closed

[2019-03-13 20:38] TimothyFDavison opened #13372 "Install Failing on "lib/libbochs.a""
Hey all,

Thanks for putting this tool together -- it's outstanding and has helped me on several projects. I'm currently trying to run an install in an isolated environment (Ubuntu x86/64) without internet access, and accordingly have been pulling in dependencies through a controlled import process one by one.

### The Issue

Running "sys/install.sh" is failing on something involving "bochs" leavi

[2019-03-13 20:54] henry3379 commented on #13364
Thanks.

aai seems provide some information as follows on my "ls" program:

fcns    272
xrefs   9761
calls   0
strings 412
symbols 119
imports 111
covrage 46901
codesz  122916
percent 38%

I wonder what does the covrage mean here? codesz means the size of code segment which is fine and coverage seems to be covrage/codesz.

pD $SS is too much and seems like disassemble the whole binary.

[2019-03-14 09:19] Bhuvanamitra commented on #13372
fatal: Not a git repository (or any parent up to mount point /home)
I get this message when I ran git clean -xdf inside sys folder

[2019-03-14 09:25] Maijin opened #15592 "Request for 1 TE file bin"
Request for 1 TE file bin to add to the r2r.

[2019-03-14 09:26] radare commented on #13372
so you are not building r2 from git, which is the source of the thing you are compiling?

[2019-03-14 09:29] radare commented on #13364
coverage is the sum of all the bbs of all the functions compared with the size of the executable sections mapped

$SS = section size, you can do the same for all the maps with executable permissions to just grep for the invalid ones. but use pid or pi because its faster than pd

[2019-03-14 09:29] Bhuvanamitra commented on #13372
https://github.com/radare/radare2
I have downloaded as Zip from here

[2019-03-14 09:41] radare commented on #13372
That builds fine for me. Can you scroll up a bit and pste the real error which says why libbochs is not compiled?

[2019-03-14 09:42] Bhuvanamitra commented on #13372
TARGET BUILD SDB

CC cdb.c
CC buffer.c
CC cdb_make.c
CC ls.c
CC sdbht.c
CC ht_uu.c
CC sdb.c
CC num.c
CC base64.c
CC match.c
CC json.c
CC ns.c
CC lock.c
CC util.c
CC disk.c
CC query.c
CC array.c
CC fmt.c
CC journal.c
CC dict.c
CC ht_pp.c
CC ht_up.c
AR libsdb.a
ar: creating libsdb.a
Makefile:57: recipe for target 'all' failed
make: *** [all] Error 2

This is the exact error.

[2019-03-14 09:45] radare commented on #13372
there's no error here, scroll up

[2019-03-14 09:49] Bhuvanamitra commented on #13372
NATIVE BUILD SDB

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
curl: (35) error:1408F10B:SSL routines:ssl3_get_record:wrong version number
Makefile:268: recipe for target 'capstone-4.0.1.tar.gz' failed
make[1

[2019-03-14 09:53] Bhuvanamitra commented on #13372
I tried to do following steps:
----------------------------------------------------------------------------------------
~ $ wget https://github.com/radare/radare2/archive/3.3.0.tar.gz
~ $ tar xzvf 3.3.0.tar.gz
~ $ cd radare2-3.3.0/
~/radare2-3.3.0 $ ./configure --prefix=/usr
~/radare2-3.3.0 $ make -j8
~/radare2-3.3.0 $ sudo make install
-------------------------------------------------------------

[2019-03-14 12:26] XVilka opened #13376 "Better PowerShell integration on Windows targets"
PowerShell is very popular nowadays on Windows targets, it might be beneficial to reuse r2 JSON capabilities to integrate within it better.

[2019-03-14 13:02] TimothyFDavison commented on #13372
Hey Bhuvanamitra,

I was actually getting the same capstone-4.0.1 issue as well, but I resolved it by downloading that version of capstone from https://www.capstone-engine.org/download.html, and building it in the environment where I am trying to install Radare.

@Radare, I also was building from a Zip file, which I had brought into the network-isolated environment (because that environment does n

[2019-03-14 13:17] Bhuvanamitra commented on #13372
Can you please tell me how to do this?
I actually have capstone 4.0.1 in my python installation, but still i am getting this error

[2019-03-14 13:22] TimothyFDavison commented on #13372
Capstone 4.0.1 was released with build instructions for Linux systems here:
https://github.com/aquynh/capstone/blob/master/COMPILE.TXT
If I remember correctly, I just used the makefile which came packaged with the repository.

[2019-03-14 13:35] Bhuvanamitra commented on #13372
I have downloaded capstone from this link

Used make file and installed. (./make.sh )
But still the problem occurs. What am I doing wrong here?

[2019-03-14 13:56] XVilka commented on #5553
Closing since removing Cygwin support https://github.com/radare/radare2/issues/9973

[2019-03-14 13:56] #5553 closed

[2019-03-14 13:56] XVilka commented on #3202
Closing since removing Cygwin support https://github.com/radare/radare2/issues/9973

[2019-03-14 13:56] #3202 closed

[2019-03-14 13:56] XVilka commented on #5091
Closing since removing Cygwin support https://github.com/radare/radare2/issues/9973

[2019-03-14 13:56] #5091 closed

[2019-03-14 13:57] XVilka commented on #2577
Closing since removing Cygwin support https://github.com/radare/radare2/issues/9973

[2019-03-14 13:57] #2577 closed

[2019-03-14 13:57] radare commented on #13372
Use the tarball from the mikelloc site. The github tarballs dont contain capstone so u have to install it from outside or have network connectivity to let sys/install downlod and build it for u

[2019-03-14 18:23] TimothyFDavison commented on #13372
Excellent, thank you! Everything's up and running.

[2019-03-14 18:23] #13372 closed

[2019-03-14 19:22] MaorNr opened #13378 "How do I compile radare2 on windows?"
How do I compile radare2 on windows?

[2019-03-14 19:32] radare commented on #13378
Its described in the appveyour script as well as in the readme, the book and in doc/

Its also automated in the r2-releases repo. Basically meson+ninja+msvc

[2019-03-15 02:44] mug896 opened #13379 ".strtab .symtab sections have address to zero"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.10 x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86_64
| r2 -v full output, **not truncat

[2019-03-15 04:56] XVilka commented on #9973
Resolved by https://github.com/radare/radare2/commit/bb67b54f740a08b4e45f16fb4b1e2e3454fbbe11

[2019-03-15 04:56] #9973 closed

[2019-03-15 05:48] Bhuvanamitra commented on #13372
This solved the problem. Thank you.

[2019-03-15 18:04] pelijah commented on #10115
[code]

[2019-03-16 01:15] #13379 closed

[2019-03-16 01:16] mug896 opened #13386 ".strtab .symtab sections have address to zero"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.10 x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86_64
| r2 -v full output, **not truncat

[2019-03-16 07:22] bannsec opened #13388 "Search Memory in Running Process"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2019-03-16 08:19] radare commented on #13388
e search.in=??

[2019-03-16 09:16] xarkes opened #13389 "Cannot add breakpoint when debugger is not started"
It would be great if one could just analyze a program statically and put some breakpoint before actually starting the debugger.

** Current behavior **
[code]

** Expected behavior **
[code]

[2019-03-16 09:19] xarkes opened #13390 "Flags are not remapped on PIE binaries when debugging"
#### Current behavior
[code]

#### Expected behavior
[code]

By the way there is also a ptrace issue as you can see, I don't know why the error is printed while it seems to work.

[2019-03-16 09:22] xarkes commented on #13390
This is also valid for breakpoints.
If you do `db main` and right after this type in `ood` because you need to restart the debugger, it will never break because the breakpoint is not remapped.
There is a WIP about this, but it only solves the breakpoints issue (not the flags, comments, etc.): https://github.com/radare/radare2/pull/12801

[2019-03-16 09:28] xarkes opened #13391 "Debugging a file opened with file:// prefix doesn't work"
I was told `file://` was equivalent to an empty prefix, but it seems to be wrong actually.
Steps to reproduce:
[code]

vs

[code]

The second one doesn't work.

[2019-03-16 11:20] Maijin opened #13393 "Add compiler name in iI"
**Is your feature request related to a problem? Please describe.**

The compiler name is missing from `iI` command.

**Describe the solution you'd like**

Some internal functions already checks for compiler name example MSVC for example in PE but the information is not exposed in `iI`:
- https://github.com/radare/radare2/blob/master/libr/bin/format/pe/pe.c#L57
- https://github.com/radare/radare2/b

[2019-03-16 13:28] wargio commented on #11133
with what i should replace it with? wasn't that clear to me :/

[2019-03-16 15:34] bannsec commented on #13388
Ok. Setting that to dbg maps worked. It is a bit confusing since IDA and company default their string searches to the entire memory space when in debug mode.

[2019-03-16 15:34] #13388 closed

[2019-03-16 16:31] radare commented on #13388
browsing on the entire memory by default is imho a pretty bad idea imho

[2019-03-16 17:28] radare commented on #11133
As long as we just need a single place to save an array of buytes i would use RBuffer or ut8*buf and then just get the hexpairs out of this binary buffer instead of having 2 repsentationis when saving it. and having to duplciate the storage

[2019-03-16 19:46] #13391 closed

[2019-03-17 01:46] #13386 closed

[2019-03-17 10:16] radare opened #13401 "Types Xrefs"
Usually we think about code or data references... but hey! types can be also be fit in this concept because types are used from function signatures or variables. So let's define a couple of features taht will be useful in r2land:

* find which functions use a given type (xrefs)
* find which types are used in a function (refs)
* show types/function graph (using agn/age)
* find which types are used

[2019-03-17 10:22] radare commented on #13401
related to https://github.com/radare/radare2/pull/13400

[2019-03-17 10:22] radare commented on #13401
![IMAGE 2019-03-17 11:22:13](https://user-images.githubusercontent.com/917142/54488856-ea0cf700-48a6-11e9-9fb9-4912d42b9f01.jpg)

[2019-03-17 11:02] radare commented on #13401
Another idea is to show which kind of use for a type the function does:

* return type?
* argument?
* variable?

[2019-03-17 11:05] #13324 closed

[2019-03-17 11:10] radare opened #13403 "Graph navigation keys"
There are some things that will be interesting to have in the interactive graph view:

* Scroll/seek to the first block (entry)
* Iterate over all the blocks that have no out edges (end/exit nodes)
* Iterate over all the blocks that have a jump back out edge (loops)
* Iterate over all nodes that have more than 2 out-edges (jump tables)

We can probably show that in a list in the left side of the s

[2019-03-17 11:15] #13357 closed

[2019-03-17 11:16] radare commented on #13349
is this list updated? whats left

[2019-03-17 14:26] fcasal commented on #13389
You can do this with `dbs main`

[2019-03-17 14:32] fcasal commented on #13390
The flags are actually remapped. What is not remapped is analysis stuff:
[code]
[easypie.zip](https://github.com/radare/radare2/files/2975271/easypie.zip)

[2019-03-17 14:56] fcasal opened #13404 "Unable to debug ELF64 (haskell binary)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2019-03-17 21:15] pelijah commented on #13316
@radare can you please update `sdb`?

[2019-03-17 23:33] penthaapatel commented on #13403
Hello! New contributor here. I would like to work on this issue. Should the features be added to libr/core/visual.c file? Can I get more guidance on how to proceed with adding these features?

[2019-03-17 23:37] radare commented on #13403
the graph is implemented in libr/core/graph.c

first we need to pick a key to open this bb summary list,  i would choose 'b' (as in browse)

check for the swiitch chase that handles the keys. and add the 'case 'b':' line, then from there i would set a var to make that menu appear, and then when this mode is set check for jk to select each node of interest, and pressing enter or 'q' to quit this mo

[2019-03-18 00:42] #13323 closed

[2019-03-18 02:05] radare opened #13411 "Implement mX/'X in graph (like it's done in visual already"
to control the x,y scroll position (instead of the core->offset)

[2019-03-18 02:07] radare commented on #13411
requires changes and discussion about the current use of the m and ' keys in graph

[2019-03-18 05:34] XVilka commented on #10115
@pelijah what version of Clang/LLVM you are using?

[2019-03-18 05:57] XVilka opened #13412 "Change the folded BB marking"
I think instead of interrupting function line it should not.
Maybe show `[+]` characters instead? And align the text with addresses column.
Moreover remove empty lines with just `|` character, they reduce the amount of information available on the screen.
Probably something like this:
[code]
Where 0x0007b is basic block start, 0x00105 is basic block end.

![image](https://user-images.githubusercon

[2019-03-18 09:27] radare commented on #13404
what happens with -d ?

[2019-03-18 09:32] radare commented on #13310
Fixed in fbe251a759a767f2ac3206dfd7edeb748bf6da56

[2019-03-18 09:32] #13310 closed

[2019-03-18 09:33] radare commented on #12996
ping @thestr4ng3r

[2019-03-18 09:38] radare commented on #2367
Done in 82416b021239286833c2336dddcb3ac6d1dab165

[2019-03-18 09:38] #2367 closed

[2019-03-18 09:43] radare commented on #13316
done

[2019-03-18 09:43] radare commented on #13412
yeah that can be improved indeed. i like the [+] idea maybe we should use that for folding functions too

[2019-03-18 09:49] fcasal commented on #13404
The same:
[code]

[2019-03-18 09:51] radare commented on #13363
I dont think cutter needs this at all

[2019-03-18 10:18] radare commented on #13412
like this?

<img width="1558" alt="Screenshot 2019-03-18 at 11 17 44" src="https://user-images.githubusercontent.com/917142/54523297-7a167380-496f-11e9-9bbd-f4b5295d32ca.png">

[2019-03-18 10:22] #13412 closed

[2019-03-18 10:25] radare commented on #13412
![IMAGE 2019-03-18 11:24:42](https://user-images.githubusercontent.com/917142/54523706-6d464f80-4970-11e9-88c8-b061e134d62b.jpg)

![IMAGE 2019-03-18 11:24:53](https://user-images.githubusercontent.com/917142/54523711-73d4c700-4970-11e9-9848-63803e98e2c2.jpg)

[2019-03-18 11:03] git-kale commented on #13022
If the issue is still unsolved ,I'd like to work on this issue as my first issue in radare.

[2019-03-18 11:13] radare opened #13415 "Improve stackptr"
* [ ] Use and update the stackptr value in bb->stackptr instead of computing it in disasm_stackptr.inc
* [ ] Add a command to tweak this value `afbs`
* [ ] Cleanup disasm_stackptr.inc and provide a cleaner API to perform recursive emulation and updates for a variety of things

[2019-03-18 11:17] radare commented on #12767
Should be improved now, but those bbjmp things are false positives or lack of support for specific jump tables, so please provide the binary like i asked for a month ago. Otherwise i cant determine if thats a bug or not.. also i added anal.verbose to hide those

[2019-03-18 11:17] radare commented on #11133
how it is going, any update/question on this?

[2019-03-18 11:17] radare commented on #5905
i think @ret2libc fixed this, can you confirm?

[2019-03-18 11:21] radare commented on #13022
Yeah this is not resolved, i was just expecting some more feedback, but if 1/2000 ppl answers the `question`-labeled issues then i can assume this is a must to go.

So yeah all yours :) as first contrib is a good issue

you will have to update the tests in r2r.

[2019-03-18 11:23] radare commented on #8512
in the debugger i also observe some differences when doing the analysis. may be related

[2019-03-18 11:24] radare commented on #12873
i think is fine to close this issue, we are improving themes from time to time and there's no need to handle that in here, just to get some feedback

[2019-03-18 11:24] #12873 closed

[2019-03-18 11:25] radare commented on #12663
related to the @@@ issue
https://github.com/radare/radare2/issues/13319

[2019-03-18 11:28] radare commented on #12555
no hope for 3.4 imho

[2019-03-18 11:36] radare commented on #12070
i think we should have a codeshare-style repository to hold all those r2pipe snippets. maybe managed via r2pm and having a database of gist urls?

[2019-03-18 11:37] radare commented on #6754
ping @r4dix10 still waiting for an update on this

[2019-03-18 11:38] radare commented on #12927
Implemented in 893e08a392525e3fc1341a282a8221fcee213f3e

[2019-03-18 11:38] #12927 closed

[2019-03-18 11:39] radare commented on #13190
Fixed in fc63cda1ae74309b19e8a672d4d1661820904136

[2019-03-18 11:39] #13190 closed

[2019-03-18 11:43] radare commented on #12021
please @Vane11ope updates on this

[2019-03-18 11:47] radare commented on #13316
msvc is still there, but maybe we can remove it and nothing will break, can you do a PR for this?

[2019-03-18 11:48] radare commented on #13316
nvm i did that pr, lets wait for it

[2019-03-18 11:48] radare commented on #13316
https://github.com/radare/radare2/pull/13416

[2019-03-18 11:50] radare commented on #7357
Maybe add keys in the graph view to see those graphs from the interactive view? using the 'b' key to browser stuff?

[2019-03-18 11:51] radare commented on #9600
Right now:
[code]

[2019-03-18 11:54] radare commented on #8565
moving to 3.5, @sivaramaaa have enough issues assigned for 3.4

[2019-03-18 11:57] radare commented on #13213
anybody on this? its easy to do and pretty useful

[2019-03-18 11:59] radare commented on #11075
we merged a PR fixing this, considering it correct now, pls complain if not

[2019-03-18 11:59] #11075 closed

[2019-03-18 12:06] XVilka commented on #13000
Why closed? It is still here

[2019-03-18 12:07] radare commented on #13000
uhm i saw that Fix #13000 and though it was fixing the #13000 issue. 😕

[2019-03-18 13:20] radare opened #13420 "Implement ragg2 -X to execute a ropchain"
This is basically the same as -x but starting the shellcode pivoting the stack and filling it with the given buffer and start with return

[2019-03-18 13:46] #13304 closed

[2019-03-18 13:52] radare opened #13421 "Implement peframe in r2"
Evaluate the list of checks from this tool and determine if we want/can have them in core or if they make more sense to be distributed in a separate script

https://github.com/guelfoweb/peframe

[2019-03-18 13:55] ret2libc commented on #5905
I'm honestly not sure I did... or when. But please re-test the reproducer :)

[2019-03-18 14:24] Maijin commented on #13421
We already have those features in r2core or r2-extras (yara). The behavior stuff shouldn't be in core imho. It's way too specialized for malware analysis and is very likely a matter of some yara rules.

[2019-03-18 14:29] radare commented on #13421
Ok i didnt checked but i thiugh we could get some ideas

[2019-03-18 16:07] oddcoder commented on #5905
nope, not fixed, actually addresses failed to relocate and triggered an issue in afta as well
[code]

[2019-03-18 16:48] Maijin commented on #13421
All the idea are already on #921 there is nothing new that what is already on our tracker :(

[2019-03-18 16:48] Maijin commented on #13421
Or that we already have.

[2019-03-18 17:16] pelijah commented on #10115
7.0.1

[2019-03-18 17:19] XVilka commented on #10115
TOO OLD. Try with 8.0.0-rc5 (release is a matter of days now).

[2019-03-18 17:34] pelijah commented on #10115
[code]

[2019-03-18 17:37] XVilka commented on #10115
can you please paste output with `-v`? I am reporting bug to Clang devs.

[2019-03-18 17:49] XVilka commented on #10115
https://bugs.llvm.org/show_bug.cgi?id=41128

[2019-03-18 18:04] pelijah commented on #10115
Preprocessed source(s) and associated run script(s):
[Temp.zip](https://github.com/radare/radare2/files/2979599/Temp.zip)

[2019-03-18 18:08] pelijah commented on #10115
Another example:
[code]
Files: [Temp.zip](https://github.com/radare/radare2/files/2979612/Temp.zip)

[2019-03-18 19:04] thestr4ng3r commented on #12996
There are other things like task-local temprary eval vars that I would prioritize over -t.

[2019-03-19 06:30] #13000 closed

[2019-03-19 07:47] wasamasa opened #13429 "pad does not respect asm.pseudo"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux 64bit
| File format of the file you reverse (mandatory)      | chip8
| Architecture/bits of the file (mandatory)            | chip8
| r2 -v full output, **not truncated

[2019-03-19 08:45] radare opened #13430 "Though cygwin/mingw was killed already.."
[code]
and
[code]

cc @XVilka

[2019-03-19 09:28] radare commented on #13429
this is just 1 line to fix, do you want to do it?

[2019-03-19 09:28] radare commented on #13429
90% of the issues take longer to report/explain than fix them

[2019-03-19 09:40] radare commented on #5905
is this bini relocatable? anyway, -B doesnt seems to work fine with strings, so the strings flags are not relocated at all

[2019-03-19 09:51] wasamasa commented on #13429
Sure, I'm asking about the how because it's unclear to me. Which one is it going to be?

- Giving `r_asm_mdisassemble_hexstr` a filter based on the current core's settings
- Using `r_core_print_disasm`
- Something entirely different

[2019-03-19 09:52] radare commented on #13429
i would go for r_core_print_disasm, if this is whats called from 'pad' ?

[2019-03-19 10:23] king6cong commented on #7354
Maybe related to https://github.com/radare/radare2/pull/13431

[2019-03-19 11:04] XVilka opened #13433 "Types inference and analysis for 64 bit registers is wrong"
If you try to use `aft` on any binary from 64bit platform, e.g. x86_64, it will mark register arguments as `int32_t`, e.g. `rax` becomes `arg int32_t ...`. Before my changes it was `arg int ...`, but remember that `int` type is 4 bytes at most, thus even initially it was wrong. In this cases it should propagate register arguments to `int64_t` (and further).

[2019-03-19 11:06] XVilka commented on #13097
Note that there are some remnants for `signed int` or `long int`. I think it should not substitute resulting types but rather use them from the beginning, at `shlr/tcc` stage.

[2019-03-19 11:07] scrapbird commented on #13354
Just thought I’d post and say I’ve been away for a few days but am actively working on this and have a pretty clear idea of how I’m going to restructure this. Will send a PR soon

[2019-03-19 11:19] XVilka commented on #13378
Question answered, closing.

[2019-03-19 11:19] #13378 closed

[2019-03-19 12:00] XVilka commented on #10613
@a1ext you can see that most of the failing tests are those using `!rasm2` or `!rahash2` calls. So by reusing internal r2 commands you can fix the tests.

[2019-03-19 12:18] radare commented on #13354
Cool! Thanks

[2019-03-19 13:15] dobin opened #13435 "OOD Argument"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 64 bit
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64 .
| r2 -v full output, **not trunc

[2019-03-19 13:40] XVilka commented on #10115
Sadly 8.0 is practically released, so this bug will survive until 9.0 I guess. There is no joy in this world...

[2019-03-19 14:14] dobin commented on #13435
The culprint is the character `\x7e` which is `~`.

[2019-03-19 14:33] dobin opened #13437 "aslr=no doesnt work"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 64 bit
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64 .
| r2 -v full output, **not trunc

[2019-03-19 17:11] #13022 closed

[2019-03-19 17:13] radare commented on #13437
it is not suposed to work like this, thats why its not working

[2019-03-19 17:13] radare commented on #13437
use -R (man rarun2 man r2)

[2019-03-19 17:14] radare commented on #13435
quote the command to escape special chars

[2019-03-19 18:11] dobin commented on #13435
May you be more specific on how to quote (which meta character) and which part of the command to quote?

i tried:
[code]

[2019-03-19 18:24] dobin commented on #13437
Indeed, that was PEBKAC. Thanks.

[code]

[2019-03-19 18:24] #13437 closed

[2019-03-19 18:28] wasamasa commented on #13429
It's not, that's the problem. `r_core_print_disasm` appears to be designed for disassembling a chunk of memory while `r_asm_*` stuff is designed for files and strings.

[2019-03-19 18:39] dobin opened #13439 "aslr=no makes ood stop working"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 64 bit
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64 .
| r2 -v full output, **not trunc

[2019-03-19 19:00] git-kale commented on #3110
The 'aab' is alreay being used for "abb across bin.sections.rx".

[2019-03-19 20:25] radare commented on #13439
Also dont pass r2 args after the program name

[2019-03-19 20:26] radare commented on #3110
Aab and abb are completely different things and none of them do this

[2019-03-19 21:13] radare commented on #13435
In r2 thw quotes cover the whole command. Also cat is a native command in r2:

Try: > “ood `cat file.txt` test”

Another option is to use the dbg.profile and set a rarun file where you can define evrrything properly in a k=v file

[2019-03-19 21:19] dobin commented on #13439
makes sense. doesnt fix the problem though:

[code]

[2019-03-19 21:26] dobin commented on #13435
Oh! Doesnt help, it will then not execute the stuff in the backticks:
[code]

I will try again with rarun

[2019-03-19 21:46] git-kale commented on #3110
Is adding a { aaB [min-addr] [max-addr] } case which can guess the base address good ? Or are there any different suggestions regarding ?

[2019-03-19 21:50] oxcabe commented on #12461
Fixed in https://github.com/radare/radare2/commit/2bbcfd908c888e466551fb9ca88e21ec990d505d

[2019-03-20 13:07] radare commented on #13316
done already

[2019-03-20 13:07] #13316 closed

[2019-03-20 17:05] radare opened #13445 "Improvements in aaa"
* [x] Include aao on objc binaries
* [ ] Sometimes aaF is much better
* [x] aav is problematic on ARM-Thumb binaries

[2019-03-20 17:27] radare commented on #12461
Thanks!

[2019-03-20 17:27] #12461 closed

[2019-03-20 17:43] radare commented on #11385
provide test with r2, not cutter otherwise we cant test/reproduce

[2019-03-20 20:22] JavierYuste opened #13448 "aflqj seems broken"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04, x64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated*

[2019-03-20 21:43] radare commented on #13448
Thats expected

[2019-03-20 21:49] JavierYuste commented on #13448
I may have not understood you correctly, is that expected behavior?

[2019-03-20 22:41] radare commented on #13448
Yes. The q makes it quiet and just shows the address where each function starts