[2020-06-23 11:05] ret2libc commented on #8725
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 11:05] ret2libc commented on #8793
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 11:05] ret2libc commented on #8801
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 11:05] ret2libc commented on #8829
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 11:11] XVilka opened #17133 "Split-view visual hex diff mode for radiff2."
With synchronized scrolling and highlight, like in [dhex](http://www.dettus.net/dhex/):

- [x] Split view
- [ ] Ability to synchronise the scroll between splits
- [x] Highlight the differences
   -  [x] In hex view
   -  [ ] In asm view

![a05compare2](https://user-images.githubusercontent.com/203261/28919790-9622b4aa-7881-11e7-850f-558c18380fb4.png)

[2020-06-23 11:13] pinkflawd opened #17134 "META - vtable detection for C++, ObjectiveC, Dlang and Swift binaries"
- [ ] C++ structures parsing for VC++ generated binaries https://github.com/REhints/HexRaysCodeXplorer & http://www.openrce.org/articles/full_view/23
- [ ] C++ structures parsing for OS X clang C++ generates binaeis https://github.com/cocoahuke/maclook4ref
- [ ] C++ structures parsing for *nix GCC C++ generated binaries
- [ ] COM classes parsing for Windows binaries https://github.com/nektra/vtbl-

[2020-06-23 11:58] ret2libc commented on #8849
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 11:58] ret2libc commented on #8861
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 11:58] ret2libc commented on #8864
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 11:59] ret2libc commented on #8901
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 11:59] ret2libc commented on #8937
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 11:59] ret2libc commented on #8973
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 11:59] ret2libc commented on #8977
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 11:59] ret2libc commented on #9104
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 11:59] ret2libc commented on #9148
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:07] ret2libc commented on #9321
[code]
This seems to work as expected now, I'm closing this.

[2020-06-23 12:07] #9321 closed

[2020-06-23 12:11] phakeobj opened #17135 "Add support for ARMv8.5-A Memory Tagging Extension"
With Apple introducing `-fsanitize=memtag` in Xcode-v12.0-Beta1, support for MTE should be added.

- Newly introduced MTE instructions: https://en.wikichip.org/wiki/arm/mte
- PoC for reference: https://github.com/Proteas/hello-mte

[2020-06-23 12:16] ret2libc commented on #9653
@Maijin is this still relevant? Right now there are many more `/` commands, so maybe there is something that improves the situation?

[2020-06-23 12:18] ret2libc commented on #10035
@trufae shouldn't this go to acr repository? I'm closing this for r2.

[2020-06-23 12:18] #10035 closed

[2020-06-23 12:21] ret2libc commented on #9335
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:21] ret2libc commented on #9399
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:21] ret2libc commented on #9616
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:21] ret2libc commented on #9849
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:22] ret2libc commented on #9954
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:30] phakeobj commented on #17135
PoC for reference: https://github.com/Proteas/hello-mte

[2020-06-23 12:30] ret2libc commented on #8600
Hi! A lot has changed since you opened this issue. Could you please double-check whether the problem is still there? If not, please close this issues, otherwise just leave a comment here. Thanks again for opening this.

[2020-06-23 12:33] ret2libc commented on #8245
Hi! A lot has changed since you opened this issue. Could you please double-check whether the problem is still there? If not, please close this issues, otherwise just leave a comment here. Thanks again for opening this.

[2020-06-23 12:34] ret2libc commented on #6432
Hi! A lot has changed since you opened this issue. Could you please double-check whether the problem is still there? If not, please close this issues, otherwise just leave a comment here. Thanks again for opening this.

[2020-06-23 12:39] ret2libc commented on #10775
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:40] ret2libc commented on #10747
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:40] ret2libc commented on #10425
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:40] ret2libc commented on #10176
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:40] ret2libc commented on #9427
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:40] ret2libc commented on #9379
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:40] ret2libc commented on #9228
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:40] ret2libc commented on #8959
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:40] ret2libc commented on #8484
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:41] ret2libc commented on #6960
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:41] ret2libc commented on #6787
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:41] ret2libc commented on #3517
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:41] ret2libc commented on #4835
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:41] ret2libc commented on #8604
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:41] ret2libc commented on #12235
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:42] ret2libc commented on #12569
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 12:42] ret2libc commented on #13532
This issue has been moved from radareorg/radare2 to radareorg/ideas as we are trying to clean our backlog and this issue has probably been created a long while ago. This is an effort to help contributors understand what are the actionable items they can work on, prioritize issues better and help users find active/duplicated issues more easily. If this is not an enhancement/improvement/general idea

[2020-06-23 13:24] ret2libc commented on #9683
Closing this as debug tests are now working. Of course we can add tests there, but no need to track anything here. Thanks!

[2020-06-23 13:24] #9683 closed

[2020-06-23 13:27] ret2libc commented on #9613
No actual reproducer here. Is this still relevant @trufae ? If not, please close, otherwise just comment and remove the `inactive` label.

[2020-06-23 13:39] ret2libc commented on #9770
Could you try this again? I think it should be fixed. If it is not however, feel free to re-open the issue, but please do attach a binary to reproduce. Thanks again for your issue!

[2020-06-23 13:39] #9770 closed

[2020-06-23 13:42] saruman9 commented on #8600
The issue is still taking place:
[code]

But second issue (wrong interpretation of `lcall` instruction) was resolved.

Version of r2: 7575d05252d051adbb0a62134ad7c21bbb9311ef

[2020-06-23 13:50] ret2libc commented on #9426
I think this is fixed now. Please re-open if you think otherwise:
[code]

[2020-06-23 13:50] #9426 closed

[2020-06-23 13:51] #9422 closed

[2020-06-23 13:57] ret2libc commented on #9409
This was fixed.
[code]

[2020-06-23 13:57] #9409 closed

[2020-06-23 14:01] ret2libc commented on #9384
Hi! A lot has changed since this issue was reported. Could you please double check whether the bug still exists? If not, please close this issue, otherwise leave a comment. Thanks again!

[2020-06-23 14:01] mrcaron opened #17137 "Support multiple Symbol Servers"
There is certainly a case for supporting multiple symbol servers. If an organization is writing Windows software, for example, and publishes its own symbols internally. Debugging the application requires loading both the public Microsoft symbols and the internally published ones.

WinDBG supports multiple symbol servers using a parsable syntax:

`SRV*d:\symcache*http://msdl.microsoft.com/download/

[2020-06-23 14:03] ret2libc commented on #9382
@condret is there anything to solve/workaround the issue reported here?

[2020-06-23 14:13] ret2libc commented on #9273
This is still wrong:
[code]
It should end at 0x73.

[2020-06-23 14:23] ret2libc commented on #8843
@XVilka please check this again and close if not relevant anymore.

[2020-06-23 14:27] ret2libc commented on #8795
This seems to be fixed:
[code]

[2020-06-23 14:27] #8795 closed

[2020-06-23 14:29] ret2libc commented on #8699
Closing as there is already the issue for capstone.

[2020-06-23 14:29] #8699 closed

[2020-06-23 15:03] trufae commented on #4790
I implemented this long time ago in hexdump and disasm:

[code]

<img width="972" alt="Screenshot 2020-06-23 at 17 03 00" src="https://user-images.githubusercontent.com/6431515/85420368-6646bd80-b573-11ea-8f6b-b775def3a85d.png">
<img width="817" alt="Screenshot 2020-06-23 at 17 03 10" src="https://user-images.githubusercontent.com/6431515/85420386-6c3c9e80-b573-11ea-86be-23dcf00e6c38.png">

[2020-06-23 15:03] #4790 closed

[2020-06-23 15:03] trufae commented on #4790
The visual glitches are unrelated to this feature

[2020-06-23 15:04] trufae commented on #4790
and afaik there are tests for this

<img width="629" alt="Screenshot 2020-06-23 at 17 04 42" src="https://user-images.githubusercontent.com/6431515/85420547-a3ab4b00-b573-11ea-9a54-37a0a6ae07c3.png">

[2020-06-23 15:05] trufae commented on #4790
we may probablyu want to remove this option and just make it by default at some point

[2020-06-23 15:17] trufae commented on #3929
lto imho makes only sense for static builds. im doing this already for my own static builds and it works quite well.

ive fixed the issue in https://github.com/radareorg/radare2/pull/17138

[2020-06-23 15:19] ret2libc commented on #4790
Woah! yes, definitely I think it makes sense to have `io.unalloc` set to true, once the visual glitches are fixed. Awesome ;)

[2020-06-23 15:38] ret2libc commented on #11318
I guess it can be closed given the negative feedback received 2 years ago and given nobody else replied.

[2020-06-23 15:38] #11318 closed

[2020-06-23 15:40] ret2libc commented on #10643
Closing this. Let's open specific issues if/when needed.

[2020-06-23 15:40] #10643 closed

[2020-06-23 15:42] ret2libc commented on #14248
Can this still be reproduced? I build/install with meson daily and I have no problem at all. The sys/meson.py script should probably be deprecated though. Please re-open if you are able to reproduce.

[2020-06-23 15:42] #14248 closed

[2020-06-23 15:47] ret2libc commented on #12162
As this was opened years ago and there wasn't any real request from people using meson, I'm closing this. If we will get any complaint about this, we can rethink our priorities. Also, maybe just splitting the libs would be better.

[2020-06-23 15:47] #12162 closed

[2020-06-23 15:50] ret2libc commented on #10867
No need to track this..

[2020-06-23 15:50] #10867 closed

[2020-06-23 15:51] ret2libc commented on #10759
No more acitvity here, problem is not clear either. Closing, but please re-open if necessary with more details.

[2020-06-23 15:51] #10759 closed

[2020-06-23 15:53] ret2libc commented on #8843
Ok, I think those are now linked because I see them in the sources used by meson.

[2020-06-23 15:53] #8843 closed

[2020-06-23 17:55] trufae commented on #9613
maybe worth checking by defragger who wrote the code. i dont think anything changed, but im aware of some issues in aab on some cases, but it works pretty well in other cases. ill ping him in telegram

[2020-06-24 08:48] radare commented on #8795
Can you add a test?

[2020-06-24 08:58] ret2libc commented on #8795
Not with the many already fixed issues that are around and I'm recently looking at, sorry. If possible, it would be great if the reporter could help us with that. cc @sixeltek would you be willing to help us avoid possible regressions in the future? https://github.com/radareorg/radare2/tree/master/test should help on how to write a test for this. Thanks in any case :)

[2020-06-24 09:32] trufae commented on #12162
Agree

[2020-06-24 09:54] trufae commented on #10035
Its already implemented anyway

[2020-06-24 09:57] trufae commented on #17133
Cc @Vane11ope maybe you can share some ideas or thoughts on this for panels

[2020-06-24 10:40] trufae commented on #17131
This must be implemented in libdemangle. The forked code i put in a separate repository to get this easy for others to contribute and maintain

[2020-06-24 12:13] trufae commented on #9613
Any binary with nopsleds should work as a test case but i dont have any here, anyone have a file like this handy?

[2020-06-24 16:12] trufae commented on #2953
Nope its not working, what you see there are flags. not functions.

<img width="693" alt="Screenshot 2020-06-24 at 18 11 55" src="https://user-images.githubusercontent.com/6431515/85592142-31f00180-b646-11ea-812c-23bff7a142e4.png">

[2020-06-24 16:34] trufae commented on #3635
this implies running shellscripts with 'sh ./foo' instead of './foo' and finding a way to generate the sdb files without executing sdb (maybe sdb can load the .txt if the .sdb is not found and autogenerate it on the first run if needed and it's fine for the permissions?)

[2020-06-24 16:45] trufae commented on #5566
yep it is, the output of icj only shows the class/method/field name demangled. there's no flagname or non-demangled-name fields

[2020-06-24 16:45] trufae commented on #5566
This also applies to c++, dex, java, .. the OBJC in the title can be misleading

[2020-06-24 16:57] trufae commented on #4338
I think we can handle SIGUSR1 in rarun2, so when you do:

[code]

then you can attach or do whatever to the process and send this signal to continue, but ideally we can also handle that with SIGCONT and  SIGSTOP. no idea how to do that on windows. so it wont be a portable feature. maybe better to move this issue to ideas for further discussion

[2020-06-24 16:58] trufae commented on #6080
This is more like a design decision taken from GLib. So better to discuss this in #dev as well as in ideas than in issues cc @ret2libc

[2020-06-24 19:32] trufae commented on #6468
This issue still matters. The current analysis doesnt binds to the opened files or maps. So if you switch between diffetent maps or files, the analysis info should swap that info. This also relies on the issue of having multiple overlapping memory maps

[2020-06-24 19:35] trufae commented on #6680
This issue should be moved to ideas instead of closing

[2020-06-25 02:12] meme commented on #16945
Requested a CVE from the GitHub CNA and they rejected my request: "At this time, we only support package maintainers requesting CVEs." Which CNA should I contact for the radare2 project?

[2020-06-25 15:25] swoops commented on #17122
For anyone working on this.

I peeked at this a bit. This also happens if you just hold the 'a' key for long enough (>0x200 chars). The overflow happens on line 261 of hud.c [here](https://github.com/radareorg/radare2/blob/master/libr/cons/hud.c#L261)

[code]
Which is why you see the `\x7c` ('|') in the stack. There does not appear to be any bounds check on `I(line)->buffer.index` or `I(line)->buf

[2020-06-25 21:53] Maijin commented on #9653
No that's important for cutter too!

[2020-06-25 22:03] condret commented on #2368
"Why esil.os? we already have asm.os, i would prefer to merge those concepts as much as possible to avoid duplicated variables in several places of r2. like the problem we have right now with asm/anal/.. to change bits/arch not unified." - uhm, I actually don't remember why that esil-os at all. If user sets up interrupt and syscall handlers there should be no need for this anyway.

[2020-06-25 22:11] condret commented on #2368
"Those native handlers are required to be implemented as a layer of abstraction between esil and the bare metal" - not only that, in some cases they could be bending the functionality into libr. so if a target opens a file, we should be able to open that in RIO and pass the desc's fd back. If a target uses mmap we must (wouldn't work otherwise) use r_io_map to instead, so that the user can manipul

[2020-06-26 09:27] 08A commented on #17122
Indeed this is not related to #16963

[2020-06-26 09:51] 08A commented on #17122
@ret2libc @swoops I pushed the simple fixed found by @swoops, i will try to implement this function with a buffer so no more boundary check.

[2020-06-26 10:15] 08A commented on #17122
[code]

Do you know the purpose of those lines?

[2020-06-26 10:20] 08A commented on #17122
I those line are not useful we could remove hud_prompt buffer and use the string format of printf

[2020-06-26 10:34] ret2libc commented on #17122
I have no idea... but all that code with hud_prompt seems a bit messy :/ Feel free to improve it.

[2020-06-26 10:41] 08A commented on #17122
@deepakchethan  Any idea?
(You seems to be the creator of this piece of code (git blame))
https://github.com/radareorg/radare2/issues/17122#issuecomment-650103627
https://github.com/radareorg/radare2/pull/17152#issuecomment-650110407

[2020-06-26 10:43] 08A commented on #17122
The buffer implementation slow to much the program, imho it is not worth it.

[2020-06-27 01:32] Flat commented on #6430
As of `radare2 4.4.0` this seems to work as intended.

[2020-06-27 01:32] #6430 closed

[2020-06-27 06:08] trufae opened #17155 "!! crash on windows"
as stated here https://github.com/radareorg/radare2/pull/17143 this command crashes on windows

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows
| File format of the file you reverse (mandatory)      | ?
| Architecture/b

[2020-06-27 14:53] trufae commented on #2211
Give me some time to craft a binary to show you the need for this

[2020-06-27 14:54] trufae commented on #2211
feel free to move this issue to ideas because it requires more discussion and work to get it in

[2020-06-27 15:25] trufae commented on #4246
zZ no longer do zxoom in visual mode (rotate print modes and folding functions)

[2020-06-27 15:25] #4246 closed

[2020-06-27 15:27] trufae commented on #6718
Can we move this to ideas? Could be even done in extras, i dont think we need this in core, but i think RCons is pretty powerful and having the ability to comment "screenshots" of visual/panels with that visual editor using ansi escape codes would be nice.

Can someone move the issue to ideas?

[2020-06-27 15:32] trufae commented on #6803
@condret interrupt-cb is a callback already, can you check again if it's used or not?  the idea is that esil shouldnt depend on syscal llibrary to work. just having a callback should be fine.

[2020-06-27 15:34] trufae commented on #3943
ESIL is not colorized right now, when you did the screenshot it was honoring the opcode type to pick the color. What do you exactly mean by "colorise properly"?

[2020-06-27 15:45] trufae commented on #6741
This is fixed now. current output is the following. i'll send a PR right now to verify this behaviour

[code]

[2020-06-27 16:27] trufae commented on #4682
do you agree on moving this to ideas?

[2020-06-27 16:32] trufae commented on #4903
This issue is still there, i think it would be nice to support the gdb syntax for hex/disasm, we already support few of them. What do you think @XVilka @ret2libc ? otherwise having an incomplete implementration may lead to confusion, frustration and desperation to the users

[2020-06-27 16:37] trufae commented on #4887
This is a nice feature and should be supported, it is partially done in dbt, but requires more work to actually show the local vars from the analysis, fgrame information like it's done in ascii art, etc. it's easy to do, but not done yet

[2020-06-27 16:37] trufae commented on #1772
Done

[2020-06-27 16:37] #1772 closed

[2020-06-27 16:38] trufae commented on #7062
@ret2libc move this to ideas, i think it's important to discuss this for future and newshell

[2020-06-27 16:40] trufae commented on #8779
This is done via op command

[2020-06-27 16:40] #8779 closed

[2020-06-27 16:41] trufae commented on #9186
it does already

[2020-06-27 16:41] #9186 closed

[2020-06-27 16:42] trufae commented on #6143
@ret2libc see this one, can you move it to ideas? its like the binr/blob, but using all the unix cmdline tools we have implemented inside r2

[2020-06-27 16:53] trufae commented on #7960
ill take that

[2020-06-27 16:55] trufae commented on #9866
I implemented node folding in the interactive graph with the 'z' key

[2020-06-27 16:55] #9866 closed

[2020-06-27 17:10] trufae commented on #10053
This issue is not yet fixed. thats handy for r2wars

[code]

[2020-06-27 17:11] trufae commented on #10038
This issue is not fixed yet and it should

[2020-06-27 17:13] trufae commented on #10145
There's CoreBind and core plugins can access the whole R2 API, to register new config vars like r2dec is doing now, no need to make core plugins more complicated imho

[2020-06-27 17:13] #10145 closed

[2020-06-27 17:15] trufae commented on #10426
Still not fixed. it's actually worst right now:

[code]

cc @XVilka

[2020-06-27 17:16] trufae commented on #7629
@ret2libc did it

[2020-06-27 17:16] #7629 closed

[2020-06-27 17:16] trufae commented on #7629
see https://github.com/radareorg/radare2/pull/17150

[2020-06-27 18:51] trufae opened #17165 "Filling issues is tedious and error prone"
When creating an issue people must fill a table with information from the running environment. i think this can be spitted out by r2 with a core plugin or a specific flag so we can create an http url to click in the console and get the bug report issue filled with the OS/r2/fileformat/..

### Work environment

see below ----v

| Questions                                            | Answers
|-----

[2020-06-27 18:52] trufae opened #17166 "Show "static" or "asan" in r2 -v"
**Is your feature request related to a problem? Please describe.**

The idea behind this FR is to show if the build of r2 you are running have some features enabled, other configure flags can be added too, this will be handy for filling the issue report.

**Describe the solution you'd like**

r2 -v is not showing all the possible information we may want to know when someone is reporting an issue.

[2020-06-27 19:03] karliss commented on #17165
The part that annoys me is that when copying `r2 -v` output into the table it gets split across two lines like this:
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian arm 64, Ubuntu x86 32
| File format of the file you reverse (mandatory)

[2020-06-27 19:47] trufae opened #17167 "Mouse glitches when clicking in hud mode"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.15
| File format of the file you reverse (mandatory)      | none
| Architecture/bits of the file (mandatory)            | intel
| r2 -v full output, **not truncated** (ma

[2020-06-27 19:49] #16730 closed

[2020-06-27 20:45] #17054 closed

[2020-06-27 20:49] ret2libc commented on #17167
Closing, it seems to be a duplicate of https://github.com/radareorg/radare2/issues/16790 and probably related also to https://github.com/radareorg/radare2/issues/17122 . There is already a PR at https://github.com/radareorg/radare2/pull/17152/ , could you try whether it fixes your issue?

If you think this is different from the issues I mentioned, re-open, though I think it is just the same bug tr

[2020-06-27 20:49] #17167 closed

[2020-06-27 20:50] ret2libc commented on #17165
I agree it would be cool to have a way to create the template to report issues within r2. It was also requested through the form I created some days ago about commands/help in r2.

[2020-06-27 20:51] ret2libc commented on #17166
? for what?

[2020-06-27 21:01] ret2libc commented on #4903
Yes this would be nice. Let's add it for 4.6.0

[2020-06-27 21:03] #17100 closed

[2020-06-28 01:51] XVilka commented on #17165
We can create simple Python script "sys/report_issue.py" which will collect
the information about OS/platform/r2 version then using the GitHub API open
an issue for you.

On Sun, Jun 28, 2020, 04:50 Riccardo Schirone <notifications@github.com>
wrote:

[2020-06-28 01:53] trufae commented on #17166
updated

[2020-06-28 04:12] #2818 closed

[2020-06-28 08:36] XVilka commented on #16676
Another interesting candidate is https://github.com/LL-MM/approxis-groundtruth

[2020-06-28 09:01] karliss commented on #17165
Instead of actually opening an issue it is possible to open the issue creation page with data prefilled like this https://github.com/radareorg/radare2/issues/new?title=TestIssue&body=This%20should%20not%20save%20the%20issue .

[2020-06-28 09:42] XVilka opened #17169 "PowerPC ELF `aaa`: [WARNING: r_anal_cc_arg: assertion 'anal && convention' failed (line 103)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 32 x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | PPC
| r2 -v full output, **not truncated** (

[2020-06-28 11:41] trufae commented on #16781
I'm working on this but i dont think this should be blocking for 4.5 @XVilka

[2020-06-28 11:52] trufae commented on #16820
Can't reproduce

[2020-06-28 12:15] elicn commented on #10824
For what it's worth the problem no longer exists, regardless of the `anal.endsize` setting.

Version details:
radare2 4.5.0-git 25104 @ linux-x86-64 git.4.4.0-326-g7575d0525 commit: 7575d05252d051adbb0a62134ad7c21bbb9311ef build: 2020-06-23__15:25:50

[2020-06-28 12:15] #10824 closed

[2020-06-28 12:28] trufae opened #17174 "icj not exposing symbol names (mangled)"
# Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.15
| File format of the file you reverse (mandatory)      | macho
| Architecture/bits of the file (mandatory)            | x86-64
| r2 -v full output, **not truncated** (ma

[2020-06-28 15:53] trufae commented on #17135
I'm very interested on supporting MTE in r2, let me share some of my thoughs related to this:

* Can you share this hello-mte binary as zip in the issue? so we can add it into the testsuite?
* Capstone doesn't support those instructions, not even in Capstone5, so you must fill an issue there, and probably implement it
* As a workaround we can disassemble those few instructions like I did before ca

[2020-06-28 15:55] trufae commented on #17135
[code]

[2020-06-28 16:21] trufae commented on #16327
i'll check and fix this next week.

[2020-06-28 16:35] trufae commented on #17169
This is because there's no calling convention defined for powerpc:

[code]

so the fcn->cc field becomes NULL and causes all this pain.

it's fine to have fcn->cc = NULL? or does it actually require to have an strdup for each function? i would assume NULL is default cc for the selected arch

[2020-06-28 17:11] phakeobj commented on #17135
Sure, [hello-mte.zip](https://github.com/radareorg/radare2/files/4842676/hello-mte.zip)

The number of MTE instructions is relatively small, I believe that it wouldn't take _that_ much work/time, so it's a plausible solution, but I never implemented anything in Capstone so that's just a guess.

What are the pros/cons to invest in disassembling in-house and not contributing that work to Capstone?

[2020-06-28 22:37] trufae commented on #17135
Build r2 with `./configure --with-capstone5` after `rm -rf shlr/capstone` and you'll get the `next` branch cloned there. `cd shlr/capstone/cstool; make` and you get the tool to test cs5. i can confirm those instructions are not supported in capstone5. So an issue must be filled in there.

Afaik Capstone code is autogenreated with some scripts that are not public to sync from llvm, ideally i would

[2020-06-28 23:06] queueRAM commented on #6867
This is still an issue. Please remove `stale` tag. Same test case from above is failing demonstrating discrepancy between `cfg.bigendian=true` and `pd`:
[code]

Version from git today:
[code]

[2020-06-29 05:04] #6741 closed

[2020-06-29 05:50] XVilka commented on #16820
Apparently it's fixed. Please reopen if it doesn't work for you.

[2020-06-29 05:50] #16820 closed

[2020-06-29 06:45] phakeobj commented on #17135
Capstone issue at https://github.com/aquynh/capstone/issues/1650

[2020-06-29 06:49] ret2libc commented on #6867
It seems in your original issue you were not using projects. Projects, unfortunately, are known to be very buggy for a while and a complete rewrite is ongoing. Can you reproduce without using projects?

[2020-06-29 07:27] Maijin commented on #5890
https://github.com/radare/radare2/files/508165/f1b203fc38f047010d7071cd5f106045.zip

[2020-06-29 07:28] #17122 closed

[2020-06-29 08:28] queueRAM commented on #6867
Yes, the original test case fails as well without using projects. Please find below the log from that test with additional commentary.
[code]

[code]

[2020-06-29 08:43] ret2libc commented on #6867
Thanks @queueRAM ! It seems your original analysis at https://github.com/radareorg/radare2/issues/6867#issuecomment-283386997 still holds. I think the issue is that there is duplicated code in `cb_bigendian` and `cb_asmarch`. If changing `asm.arch` automagically changes `cfg.bigendian` as well, that change should be *at least* reflected everywhere, so that you don't end up with `e cfg.bigendian` s

[2020-06-29 08:43] ret2libc commented on #6867
cc @trufae

[2020-06-29 20:56] terrynini opened #17179 "zignature mask from `zj` is differ from `z`"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             |  Ubuntu18.04.2/x86_64/64
| File format of the file you reverse (mandatory)      |  ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not t

[2020-06-29 22:06] karliss commented on #17179
Copy paste bug:
[code]

[2020-06-29 22:10] terrynini commented on #17179
I thought it was deserialize problem, ok ... you are faster
It's there any document about source code of radare2 ?

[2020-06-30 05:03] XVilka commented on #15688
This will need to be fixed for the upcoming Apple ARMv8 Macs.

[2020-06-30 07:54] ret2libc commented on #17179
This should be fixed with the commit mentioned above. Closing.

[2020-06-30 07:54] #17179 closed

[2020-06-30 08:35] queueRAM commented on #6867
Thank you for your guidance. I have a commit ready for this in my `bigendian_asmarch` branch. I'm still going through the PR checklist and looks like I have to remove some C99 variable declarations and add tests for this issue. I'll likely have this worked out within a few days.

[2020-06-30 09:04] ret2libc commented on #6867
Thanks a lot! If you need help with anything, please don't hesitate to ask here on IRC/Telegram.

[2020-06-30 14:31] myr463 opened #17186 "[PE32] Incorrect analysis: invalid instructions at entrypoint"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 10.04 x86_64
| File format of the file you reverse (mandatory)      | PE32
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not trunca

[2020-06-30 14:58] trufae commented on #7435
The analysis issue for this binary has been fixed already, i have tried with hasnext enabled and disabled, and in both cases the control flow is correct. We will need to add 2 tests for this (with and without hasnext), but i have some questions here:

* Why a 56KB binary takes so much time to load?
  * @pinkflawd would you like to submit a PR adding those tests? I can help you on any question if n

[2020-06-30 15:05] trufae commented on #7443
It is only happening when running with anal.hasnext, without this option (which is not enabled by default) and it is known to analyze data in some situations.

Also it will be good to have a test, but probably we can't distribute this executable, do we? :D

[2020-06-30 15:21] ret2libc commented on #7443
It should be checked if `anal.hasnext` is really necessary. In last 3 years analysis has changed a lot, so maybe that var is not necessary to identify functions in this bin. Just guessing though.

[2020-06-30 15:38] animaone commented on #448
It is done by changing priorities in sections? Can someone please explain this? And how this can be done? there is a tutorial somewhere?
I think rombank switching is a so specific thing that it should be implemented independently for each architecture.
I had to build my own disassembler because of this.
Maybe having a mechanism for switching the rombanks like the processor does? The software also

[2020-06-30 15:44] #17125 closed

[2020-07-01 01:32] #17169 closed

[2020-07-01 04:54] XVilka commented on #17166
I second this. Especially the JSON version. It will be handy for this: https://github.com/BinaryAnalysisPlatform/bap/issues/1163

[2020-07-01 08:28] 08A commented on #9825
I think we can push this patch, if someone isn't happy he will create an issue.

[2020-07-01 08:35] ret2libc commented on #9825
I agree. Are you willing to do it? Otherwise I can do it.

[2020-07-01 08:37] 08A commented on #9825
I can do this.

[2020-07-01 09:21] 08A commented on #9825
Done, i had one regression test

[2020-07-01 10:00] XVilka commented on #15473
@Cooler1989 ping?

[2020-07-01 10:45] Cooler1989 commented on #15473
Hi, sorry for leaving it unresolved but I managed to do my job with this inconvienience. I am still not sure if it is bug or just some fuzzy mechanism for determining assembler insructions. By "fuzzy" I mostly mean I do not fully understand it and I my doubts were based on my internal presumptions which was: "if I mark 4 bytes as data it should never be interpreted as part of some instruction". To

[2020-07-01 13:39] #9825 closed

[2020-07-01 15:42] condret commented on #17165
I personally dislike these templates as a whole. It feels bureaucratic and overall doesn't fit to the bleeding edge (let's go and do fast progress, even if we break something) mentality, that once attracted me towards r2. However I can understand, that you want to know which version of r2 the reporter is using (in some cases). I'd remove these templates completly meanwhile providing the plugin tha

[2020-07-01 18:00] karliss opened #17194 "Can't change pager to builtin pager"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | 64
| r2 -v full output, **not truncated** (mandato

[2020-07-01 18:02] ret2libc commented on #17194
In cmd_eval.c:
[code]
the `if (r_str_endswith ('.'))` is done so if you do `e cfg.` you would get the list of all variables under `cfg.`. However, in this case it causes issues because it does not call `r_config_eval` to set the variable.

[2020-07-01 18:46] ret2libc commented on #9068
This can be closed probably. Please re-open if you feel otherwise, but I don't see this providing any value apart from the usual never-ending refactoring of all the API.

[2020-07-01 18:46] #9068 closed

[2020-07-01 18:47] mscherer commented on #9384
Things did look better, but still incorrect:
[code]

0x0001007e should be skipped, but is not. And VV output is the same.

[2020-07-01 18:55] ret2libc commented on #9051
@trufae I think bin.baddr is already sort of read-only, right? It seems to me it is always ignored. Can we close this? Or, is this to track the effective making of `bin.baddr` readonly (with some sort of error message if someone tries to write into a read-only env var)?

[2020-07-01 19:01] ret2libc commented on #8976
@XVilka could you provide a working reproducer? This issue seems quite old. If you can't reproduce, please close.

[2020-07-01 19:21] ret2libc commented on #8902
it seems to me that the entire shell breaks until a task has finished :/ Either I'm not understanding how this works or this "tasks" are not doing what they are supposed to do. What's the point in running something in a task if you can't do anything until it finishes?

[2020-07-01 19:35] ret2libc commented on #8823
I think this works well now, please re-open if necessary.
This is the output, which seems to be what expected:
[code]

Thanks for opening this bug!

[2020-07-01 19:35] #8823 closed

[2020-07-01 19:39] ret2libc commented on #8749
To me this does not reproduce. I see the graphical application continuing working after `dc`. The only thing that is missing is that when you press ^C it would be great to stop the application and get back into the debugger.

[2020-07-01 19:42] ret2libc commented on #15580
@enovella was this done? If you can provide it, please do so but if you don't have time no problem, though I would say we can close this issue as it doesn't really track anything.

[2020-07-01 20:03] Hi-Angel commented on #8749
Well, maybe some graphical apps continue working. FWIW, I don't think the fact an app has graphics is the root cause, it's just that back when I tried I only see that happening with graphical apps.

I just tried latest radare git as of bbbf6546e2 commit with `kate` app as per steps to reproduce, still reproducible for me.

By the way, I also noticed an interesting behavior worth mentioning. After

[2020-07-01 20:04] ret2libc commented on #8511
Apparently RAddrInterval got removed. Closing this.

[2020-07-01 20:04] #8511 closed

[2020-07-01 20:05] ret2libc commented on #8465
I don't see these functions anymore in the code, so I'm closing this issue as I guess this was already resolved. Thanks!

[2020-07-01 20:05] #8465 closed

[2020-07-01 20:10] ret2libc commented on #8373
@trufae IMHO this can be closed. It seems to me the test mentioned in the first comment works as well with io.va=true.

[2020-07-01 20:13] ret2libc commented on #8331
This is fixed for me as well. Closing.

[2020-07-01 20:13] #8331 closed

[2020-07-01 20:15] ret2libc commented on #8275
Hi, I'm closing this issue as a lot has passed since it was created and analysis was improved/changed. Please feel free to re-open it if you think the issue is not solved and provide a proper test case so we can reproduce. Thanks again for creating this bug!

[2020-07-01 20:15] #8275 closed

[2020-07-01 20:18] ret2libc commented on #8245
I'm closing this as this is the current output:
[code]

Please re-open if you feel this is not fixed yet or open a new issue if something else is happening now. Thanks for reporting this!

[2020-07-01 20:22] ret2libc commented on #8226
Closing as duplicate of https://github.com/radareorg/radare2/issues/6778 .

[2020-07-01 20:22] #8226 closed

[2020-07-01 20:23] ret2libc commented on #8129
@trufae I'm closing this as there is no reproducer and probably a lot has changed. If you can reproduce this exact issue again, please re-open it. Thanks!

[2020-07-01 20:23] #8129 closed

[2020-07-01 20:29] Hi-Angel commented on #8749
To have more testcases, I also just tried:

* `gedit`: it does not hang immediately, but does when you try typing the text
* `gvim` this also does not hang immediately, not even if you type the text. But if you typed something, and try closing the app, then a popup appears which ought to ask you to confirm quitting without saving, and on that moment `gvim` hangs.

[2020-07-01 20:33] ret2libc commented on #8089
Closing this as it was implemented. Whether it works or not... that is going to be known when someone really uses it :)

[2020-07-01 20:33] #8089 closed

[2020-07-01 20:41] ret2libc commented on #7988
Closing this as long as there is no reproducer nor anything. It mentions something was already implemented, so it is not clear what should be done next. If you want to re-open it, please explain in a clearer way to remains to be done, with reproducer and such. Thanks!

[2020-07-01 20:41] #7988 closed

[2020-07-01 20:42] abcSup commented on #8749
I assume this happens when attaching a multithreaded application and `dc` fails to continue all threads.

[code]
[code]

[2020-07-01 20:52] abcSup commented on #8749
@ret2libc I am working on a similar issue. I figured out that it might be caused by `r_sys_signal (SIGINT, SIG_IGN);` in `linux_dbg_wait` which prevents the interrupt from triggering `r_cons` because it ignores the signal completely.
https://github.com/radareorg/radare2/blob/bbbf6546e2a25a7b20e7fd1b55503bff4dc99a2e/libr/debug/p/native/linux/linux_debug.c#L386-L390

[2020-07-01 21:29] ret2libc commented on #7750
@XVilka I think this works now, at least for linux coredump. Could you check it for windows? If you can't find the reproducer, please just close the issue and someone will open a new one when he will meet the problem. Thanks

[2020-07-01 21:44] radare commented on #8245
@ret2libc can you add a test with the output you are showing here?

[2020-07-01 22:14] trufae commented on #8373
Yep, the recent improvements on the sections and segments definitions in RBin.dex fixed this. And ther's even a test for this. closing

[2020-07-01 22:14] #8373 closed

[2020-07-01 22:24] trufae commented on #15580
I think it will be intersting to have the ability to rename symbols and class/methods and other info from RBin, and update the flags accordingly, in dalvik, the rbin info is used by the disassembler to show the right strings and resolve the pointers for references.

On obfuscated binaries it will be interesting to have the ability to rename packages, class, method and fielkd names, so it makes it

[2020-07-01 22:27] trufae commented on #9051
No, the base address can be defined at loading time with -B or with -e bin.baddr, if you reopen the binary after changint e bin.baddr, the bininfo shuold be rebased, dont know if there's any test, but it will be worth to have

[2020-07-01 22:28] trufae commented on #9051
it's not readonly because its used to specify the base address to use when loading the next bin file.

This can be problematic when opening multiple files

[2020-07-02 03:54] XVilka commented on #16719
It happens more often on OpenBSD.

[2020-07-02 03:58] #16781 closed

[2020-07-02 04:06] #16833 closed

[2020-07-02 05:55] XVilka commented on #16945
We will register CVE right after 4.5.0 is released.

[2020-07-02 06:50] ret2libc commented on #9051
Right. Then this is not working yet :(

[code]

[2020-07-02 07:51] ret2libc commented on #8245
Actually no, sorry. I'm reading, reviewing, moving, reproducing a lot of issues lately. Issues that have been accumulated in the last ~7 years and I don't intend to spend 2 months just to read, review, add reproducers for each one of them. If we were in a manageable state with regard to issues I'd be more than happy to add test cases for each one of them, but with so many that were forgotten here

[2020-07-02 09:46] trufae commented on #8245
I'm not asking you to do that for every single issue, but for the few that matter we should, and this one is important because we don't like analysis regressions and despite it's tedious, boring and such is necessary if we want issues to not come back again, otherwise i would read, review, write fixes and tests for the 1200 mails i got in my inbox last weeks.

Ideally @enovella should make that PR

[2020-07-02 09:47] trufae commented on #8245
Also the issue is assigned to me

[2020-07-02 10:17] thestr4ng3r commented on #8902
It depends on what you are running in the task. What command did you try?

[2020-07-02 10:59] wargio commented on #3943
i think what he meant is like what we do for asm but on esil. probably change color of numbers, commas, etc..
as you can see from the screenshot some esil code is in orange, some other in green and most is in white.

[2020-07-02 11:06] #5376 closed

[2020-07-02 11:25] Maijin commented on #4369
The purpose of the issue is to enhance the error messages, not about fixing tcc by adding word and dword.

The error message must be saying "Missing type WORD" not "/tmp/b.h:4: error: bracket expected"

[2020-07-02 12:11] ret2libc commented on #8902
pd 1000

[2020-07-02 12:49] thestr4ng3r commented on #8902
pd probably never does an explicit yield or enter sleep mode, so it's expected to block. Try something like `& .:1337` (with libuv preferred)

[2020-07-02 12:52] XVilka commented on #4369
It's hard to do it due to the nature of Tcc parser. We are going to switch to tree-sitter for C structures and function prototypes, I hope it will allow more sensible error messages as well.

[2020-07-02 19:13] phakeobj opened #17201 "ragg2 mistakenly bails early for empty string argument"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86/64
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| r2 -v full output, **not truncated** (mandato

[2020-07-03 06:58] Maijin commented on #4369
ok!

[2020-07-03 19:09] #17201 closed

[2020-07-04 14:45] meowmeowxw opened #17205 "Wrong tcache parsing between different glibc version"
# Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86-64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86-64
| r2 -v full output, **not truncated**

[2020-07-04 15:19] RHL120 opened #17207 "Bad Function names example: projectInit"
I want to contribute to this project so I decided to fix a problem I have been having with projects but there is a small problem
function names are very bad for example the function projectInit should propably be called mkProjectDir or something similar

[2020-07-05 09:44] karliss opened #17212 "Breakpoint doesn't work after restart"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86_64
| r2 -v full output, **not truncated

[2020-07-05 14:27] trufae commented on #17212
Breakpoints are set by offset not by name. So if you restart the system is probably using aslr to place the bin somewhere else and it fails to set the bp in the main because the main is somewhere else.

Theres an issue to support named and future breakpoints

[2020-07-05 14:49] karliss commented on #17212
@trufae When starting/stopping debugging breakpoints in the main executable are relocated the same way as flags. That's how it has worked for a while and why it is possible to set breakpoint before starting to debug. In the log output above you can also see that I verified using `db` and `pd` that after restarting breakpoint was supposedly relocated to correct address.

[2020-07-05 16:24] officialcjunior commented on #14927
Other than the `SETOPTIONS` of `anal.in` on cconfig.c, what else is there to change, here?

[2020-07-05 16:24] karliss commented on #17212
Described steps work in 4.2.1.

[2020-07-05 16:38] karliss commented on #17212
Additional observations:
If the executable in the first debug session finishes and I reopen it in non-debug mode before reopening in debug mode then it works.
db -> doo -> dc (and hit bp) -> dc x2 until executable exits -> oo -> doo ->dc (and hit bp) works
db -> doo -> dc (and hit bp) -> doo -> dc  doesn't work

[2020-07-06 05:32] XVilka opened #17221 "bins/fuzzed/clusterfuzz-testcase-minimized-ia_fuzz-6301506113634304 - consistent TIMEOUT"
See https://github.com/radareorg/radare2/runs/840098234#step:13:1095
[code]

[2020-07-06 05:43] XVilka commented on #15528
We also should use `D_CRT_NONSTDC_NO_DEPRECATE` to make MSVC shut up:
[code]
From https://ci.appveyor.com/project/radareorg/radare2/builds/33922846/job/mpko3dklt91lks4h#L4124

[2020-07-06 05:59] XVilka opened #17222 "r_bin.h:341: error: redefinition of typedef 'RBin' - CentOS 6"
https://github.com/radareorg/radare2/runs/835250871?check_suite_focus=true#step:5:294
[code]

[2020-07-06 07:31] ret2libc commented on #17207
Feel free to create a PR with the proposed changes, we are always open to improvements. However, I would advice you to just ignore the project code for now as it has been sort of abandoned for a while and we are already working on a replacement.

[2020-07-06 07:31] #17207 closed

[2020-07-06 07:40] ret2libc commented on #17205
This would be a nice addition! I would not call the types and functions "old" and "new" though, but with something a bit more expressive (e.g. pre_227, post_227 or something like that, where it is a bit clearer what is "old" and what is "new". Also, in case of new differences in the future we can easily adapt).

Personally, I prefer the second approach better (the one with union), but I'm ok also

[2020-07-06 07:43] ret2libc commented on #10911
I'm going to work on this for next release (4.6.0)

[2020-07-06 07:43] XVilka commented on #17205
@ret2libc there is already PR for this: https://github.com/radareorg/radare2/pull/17206

[2020-07-06 08:06] ret2libc commented on #17221
@trufae I tried to have a look at this one but honestly my understanding of dex is very very limited... Is it easier for you to look at this?

[2020-07-06 08:58] #8960 closed

[2020-07-06 09:40] officialcjunior commented on #16801
Is there anything more to be done on this issue?
If not, I guess, we can close it.

[2020-07-06 09:43] ret2libc commented on #16801
I think so, thanks a lot!

[2020-07-06 09:43] #16801 closed

[2020-07-06 10:45] trufae commented on #10911
Reproducer:

[code]

[2020-07-06 11:25] trufae commented on #17221
on it

[2020-07-06 11:43] #17222 closed

[2020-07-06 21:13] pelijah commented on #17155
`!!radare2 -v` works fine
`!!r2.bat -v` works fine
`!!r2 -v` doesn't work (no crash) because `r2` is a shell script

[2020-07-07 04:04] #17221 closed

[2020-07-07 04:12] #14744 closed

[2020-07-07 04:18] XVilka commented on #15507
@trufae you asked - it's here now: http://xvilka.me/ch34.xz

[2020-07-07 04:49] XVilka opened #17227 "Fix debug tests to work also on Debian Jessie"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian x86 64
| File format of the file you reverse (mandatory)      | xELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated**

[2020-07-07 05:02] XVilka commented on #17155
Not a bug then. Closing.

[2020-07-07 05:02] #17155 closed

[2020-07-07 08:10] #16958 closed

[2020-07-07 08:14] ret2libc opened #17229 "Refactor r_core_bin_export_info_rad to accept a mode"
Current code for `r_core_bin_export_info_rad`: https://github.com/radareorg/radare2/blob/08e52d834ae0d840b97fde94186c0615bb83d333/libr/core/cbin.c#L3982

This function is used in https://github.com/radareorg/radare2/blob/08e52d834ae0d840b97fde94186c0615bb83d333/libr/core/cbin.c#L176 to get its output and then execute it. However, it would be better to directly have `r_core_bin_export_info_rad` set

[2020-07-07 08:14] ret2libc commented on #17229
See also https://github.com/radareorg/radare2/pull/17124#pullrequestreview-443121260

[2020-07-07 08:49] trufae commented on #15507
Thanks @XVilka

This is an stack exhaustion issue because everytime there's a JMP it calls recursively the same analysis function and this program seems to have a lot of small jumps going forward all the time.

To fix this we need to rewrite the function to use an iterative design instead. Here's the backtrace:

![Screenshot 2020-07-07 at 10 43 16](https://user-images.githubusercontent.com/6431515

[2020-07-07 09:09] XVilka opened #17230 "Better representation of the long function names (e.g. from C++)"
Currently radare2 uses symbol name in its whole length as is. Moreover, the demangled comment shown as the right-aligned comment near the first instruction, not the near the function name.
We should:
- [ ] Think about better way to represent such a long names
- [ ] Move demangled version closer to the function name

![image](https://user-images.githubusercontent.com/203261/86755346-281dc380-c074-1

[2020-07-07 09:19] trufae commented on #17230
This reminds me to two issues i cant find now:

* basic blocks in bbgraph can be too wide when long comments
* class navigation using package/module names

and may be also related to:

* modificable rbin info to rename classes, methods ..)

[2020-07-07 15:08] chase1635321 opened #17235 "Error while starting radare2, python plugins crash"
# |ERROR| Invalid command '�3�dU' (0xffffffa0) while starting radare2

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04, x86, 64 bit
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits

[2020-07-07 15:13] ret2libc commented on #17235
How did you install the python plugin?

[2020-07-07 15:15] chase1635321 commented on #17235
To be clear, the error message is printed whether or not any python plugin is installed. Plugin tested both by placing in `plugins/` folder and with `-i`

[2020-07-07 15:51] ret2libc commented on #17235
Could you provide the output of `radare2 -V`?

[2020-07-07 18:24] chase1635321 commented on #17235
$ r2 -v
radare2 4.5.0-git 24886 @ linux-x86-64 git.4.4.0-394-g31fe7b29e
commit: 31fe7b29e397b96ecd9962356c241e5b68453a25 build: 2020-07-07__14:20:55
$ r2 -V
4.4.0-394-g31fe7b29e  r2
4.4.0-394-g31fe7b29e  r_anal
4.4.0-394-g31fe7b29e  r_lib
4.4.0-394-g31fe7b29e  r_egg
4.4.0-394-g31fe7b29e  r_asm
4.4.0-394-g31fe7b29e  r_bin
4.4.0-394-g31fe7b29e  r_cons
4.4.0-394-g31fe7b29e  r_flag
4.4.0-394-g31fe7b29

[2020-07-07 18:40] trufae commented on #17235
Can you provide a script, asciinema or something more clear to show us how to reproduce this issue, it seems to me that you placed a binary file in a scripts directory and r2 is trying to interpret it as commands.

Also, i miss the information about which plugins you have installed, the contents of your radare2rc

[2020-07-07 20:46] chase1635321 commented on #17235
Ok here's an [asciinema](https://asciinema.org/a/346002), in which I did the following things:

- Uninstalled and reinstalled the latest r2 version
- Showed the error message by opening several files
- Reverted to 4.4.0
- Showed that the errors go away

radare2rc is empty and the only plugin installed is lang-python.

[2020-07-07 21:38] ret2libc commented on #17235
Could you try recompiling the Lang python plugin as well?

[2020-07-08 00:21] chase1635321 commented on #17235
The issue persists. I tried both recompiling lang-python and uninstalling it completely.

[2020-07-08 03:16] #17108 closed

[2020-07-08 03:42] XVilka opened #17237 "Fix MODE_LEVENSTEIN diffing algorithm"
See commented test in [`test/unit/test_diff.c`](https://github.com/radareorg/radare2/blob/master/test/unit/test_diff.c):
[code]
More information for the context: https://github.com/radareorg/radare2/pull/16986

[2020-07-08 03:50] XVilka commented on #16411
It is fixed now. Please recheck @mohe2015

[2020-07-08 04:21] XVilka opened #17239 "`#!python qwe.py` doesn't work while `. qwe.py` - does."
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template below*

### Work environment

| Questions                                            | Answers
|------------

[2020-07-08 04:34] XVilka commented on #16593
Fixed by https://github.com/radareorg/radare2/pull/17192

[2020-07-08 04:34] #16593 closed

[2020-07-08 05:11] XVilka commented on #16168
https://travis-ci.com/github/radareorg/radare2/jobs/358672729
[code]

[2020-07-08 05:13] XVilka commented on #15688
https://travis-ci.com/github/radareorg/radare2/jobs/358672728

[2020-07-08 05:19] XVilka commented on #7863
@HoundThe apart from types - please be sure to add tests for variable and function names as well.

[2020-07-08 08:15] #17227 closed

[2020-07-08 10:16] karliss commented on #17212
I started debugging this and it seems that some parts somewhat work due to being double wrong.
[code]
From the comment it is supposed to skip when pid is already in the list but the if does opposite. `match_pid` returns a boolean int `pid == th->pid` 0 = doesn't match, but r_list_find expects a comparison method which returns -1, 0, 1 with 0 meaning match.

[2020-07-08 10:35] XVilka opened #17242 "Debian Jessie - "db/archos/linux-x64/dbg_dmi dmi ld" failed test"
See https://github.com/radareorg/radare2/runs/849309858?check_suite_focus=true#step:11:709
[code]

[2020-07-08 11:05] XVilka commented on #17242
Also
[code]
cc @meowmeowxw

[2020-07-08 11:24] abcSup commented on #17212
I encounter this problem while working on another PR that fixes an error when attaching a multithreaed process. In addition, `match_pid` is also wrong, especially it tries to treat the `iter->data` as `RDebug` instead of `RDebugPid`.

[2020-07-08 11:42] karliss commented on #17212
As for the actual problem so far it seems that dbg->reason state isn't properly cleaned up or reinitialized during `doo->doo` transition and the old `dbg->reason` information prevents breakpoints from being properly restored as the debugger thinks that it is still handling recoil for the breakpoints in first process.

[2020-07-08 12:16] #17205 closed

[2020-07-08 15:15] #16411 closed

[2020-07-08 18:03] #17137 closed

[2020-07-08 18:06] ret2libc commented on #16126
Is webui still a thing?

[2020-07-08 18:43] trufae commented on #16126
If thing means something that works even if unmaintained for years. Yes. But i dont think it shohld follow the same version as r2. And even less after my pr supporting tags in r2pm. Also all the webuis in that repo are shipped in r2 in shlr/www

[2020-07-08 19:15] ret2libc commented on #16126
Is it used? Do you use it? I'm trying to understand whether it makes sense to take additional effort to release that.

[2020-07-09 05:20] XVilka commented on #16126
With the existence of Cutter as the de facto default UI, I think it's time to move `shlr/www` outside of the default distribution and be installable with `r2pm` instead.

[2020-07-09 07:57] ret2libc commented on #6195
It seems some of the basic blocks of those half-complete functions are coming only from references inside the data section. Probably some function pointers in static structures or something like that and r2 fails to identify those.

[2020-07-09 07:58] ret2libc commented on #16525
@thestr4ng3r is this still a problem?

[2020-07-09 08:15] ret2libc commented on #15473
I have renamed the issue, because this is not just about one architecture. It's an issue with how the metadata are handled.

This is a reproducer:
[code]
At this point, as you can see the first data is defined at `0x00005b00` and it shows the value `0x3d8d4800`.
Now, let's move back one byte
[code]
As you can see, now the first data is defined at `0x00005b01` and it contains the value `0x683d8d48`

[2020-07-09 08:18] ret2libc commented on #16659
I haven't seen this specific error for a while as well. WDYT @thestr4ng3r ?

[2020-07-09 08:29] #17212 closed

[2020-07-09 09:20] #17186 closed

[2020-07-09 09:33] XVilka opened #17247 "Debian on Alpha architecture - fails to build"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian Alpha
| File format of the file you reverse (mandatory)      | *
| Architecture/bits of the file (mandatory)            | *
| r2 -v full output, **not truncated** (mandator

[2020-07-09 09:48] trufae commented on #17247
use --without-debugger. but adding basic debugger support should be easy with a shell

[2020-07-09 13:56] chase1635321 commented on #17235
Does no one else have this issue? If so, I'll wipe my OS and reinstall which I've been planning to do anyway, but I was concerned that c706d0b69f3a7192100664c218910104122fbc99 introduced a bug

[2020-07-09 14:15] trufae commented on #17235
wipe your ~/.local/share/radare2 first

why do you think this commit introduced a bug, seems unrelated to your problem, did you tried compiling a specific commit before and after to repro the issue? can you place a breakpoint in the given error message to see who is trying to run this trashy command? wha'ts the relationship with the python plugin? which plugin did you installed. if you uninstall i

[2020-07-09 15:39] ret2libc commented on #6031
I'm pretty sure there is already another issue for building everything. I'm closing this.

[2020-07-09 15:39] #6031 closed

[2020-07-09 15:49] ret2libc commented on #5833
These are the last instructions printed by `pdf @ 0x401090`.
[code]
Closing because it seems to be solved. Please re-open if you think otherwise, or just create a new issue.

[2020-07-09 15:49] #5833 closed

[2020-07-09 15:53] ret2libc commented on #5816
Closing, given what said in https://github.com/radareorg/radare2/issues/5816#issuecomment-259749983 . However, please feel free to send a PR with the suggested changes and we'll be happy to review and merge them! Thanks.

[2020-07-09 15:53] #5816 closed

[2020-07-09 15:59] ret2libc commented on #5641
This is still a bug. Right now it prints all 8 entries, but at some points it just reads 0.
[code]
The last 3 elf_phdr are not all 0 actually.

[2020-07-09 16:02] ret2libc commented on #5520
`wopD* 100` seems to be working now. I'm closing this. Thanks for opening this.

[2020-07-09 16:02] #5520 closed

[2020-07-09 16:07] ret2libc commented on #5312
Hi, in an effort to try to clean our backlog of opened/inactive issues, I'm going to close this as it was opened 4 years ago and a lot has changed since then. However, feel free to check if the issue is still present in current version of r2 and if it is to re-open this bug or create a new one. Thanks again!

[2020-07-09 16:07] #5312 closed

[2020-07-09 16:10] ret2libc commented on #5235
Closing this. Please feel free to submit a PR for this anyway, optimization are always welcome ;)

[2020-07-09 16:10] #5235 closed

[2020-07-09 16:40] ret2libc commented on #5189
I'm closing this due to inactivity. Please feel free to re-open if necessary or create a new issue.

[2020-07-09 16:40] #5189 closed

[2020-07-09 16:41] #15574 closed

[2020-07-09 16:48] ret2libc commented on #5130
What is this about? I'm going to close it, feel free to re-open if this is still relevant and please explain better what it needs to be done.

[2020-07-09 16:48] #5130 closed

[2020-07-09 17:02] ret2libc commented on #4868
Let's close this. It is very old and it's better to split stuff anyway.

[2020-07-09 17:02] #4868 closed

[2020-07-09 17:13] ret2libc commented on #4768
This is still a bug.

[2020-07-09 17:46] ret2libc commented on #4087
Closing this. Any refactoring is always welcome anyway. BTW, although wrappers that just wrap without doing anything else are probably useless, I think RCore has the duty to coordinate RIO, RBin, and whatnot, so it may make sense to have r_core wrappers.

[2020-07-09 17:46] #4087 closed

[2020-07-09 17:48] ret2libc commented on #3982
Closing due to inactivity. Please re-open with a binary to reproduce in case it is still vulnerable.

[2020-07-09 17:48] #3982 closed

[2020-07-09 19:54] Maijin commented on #5833
Oh yeah that's fixed awesome!

[2020-07-10 05:35] #14927 closed

[2020-07-10 05:42] #17239 closed

[2020-07-10 06:59] XVilka commented on #10738
@wargio could you please transfer your https://github.com/wargio/libmc7 repo to "radareorg/? Then we can close this issue

[2020-07-10 07:01] ret2libc commented on #10738
Also, if you don't intend the to close this in a short time, please move it to radareorg/ideas.

[2020-07-10 07:08] XVilka commented on #6996
C-SKY is already supported by radare2, was added by @wargio, see `-a mcore`

[2020-07-10 08:28] wargio commented on #10738
done: https://github.com/radareorg/libmc7
Probably broken stuff: r2pm and Circle CI used in the repo

[2020-07-10 10:39] XVilka commented on #11878
@ret2libc you might be interested in this as well.

[2020-07-10 11:17] Maijin commented on #6996
Can you close this issue then @XVilka  https://github.com/radareorg/ideas/issues/223 ?

[2020-07-10 12:35] ret2libc commented on #11878
Why?

I think meson doesn't really use `libr.a` and I (still) don't understand the purpose of it.

[2020-07-10 17:04] trufae commented on #11878
i fixed this long time ago (no two .c files with the same name), actually when i wrote the script. Let me rephrase:

* If filenames are unique across the project it is easier for everyone if `reg.c` relates to libr_reg, libr_debug, libr_anal or libr_core.
* Archive files support multiple files with the same name, but this is problematic because the way to handle that depends on the version of AR a

[2020-07-11 10:03] ulidtko commented on #17034
This gets a strong bold **-1** from me.

Main reason: despite being imperfect and buggy (like the whole radare2 itself), it's still very useful.

Secondary reason: I fail to see what the removal will achieve besides inflicting suffering. `Ps`/`Po` can be incrementally improved IMO.

No; this is exactly the use-case for **fuzz-testing**. With not much code, it'll find all those corner cases for you

[2020-07-11 20:27] qwuau06 opened #17257 "Visual mode freeze when entering debugger panel"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Archlinux
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (mand

[2020-07-12 21:27] ret2libc commented on #17257
First faulty commit is e56c78479111c3dc804bdfd86af8558730d5e5c3

[2020-07-13 06:19] #10738 closed

[2020-07-13 10:09] #6374 closed

[2020-07-13 11:05] ret2libc opened #17261 "linux_debug: /proc/<pid>/stack cannot be read"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 31
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86_64
| r2 -v full output, **not truncated** (mand

[2020-07-13 11:47] XVilka commented on #10137
@devnexen could you please try to update radare2 to 4.5.0 in these DeltaPorts?

[2020-07-13 11:48] XVilka commented on #9919
See also https://github.com/radareorg/radare2/issues/16226

[2020-07-13 14:22] ret2libc opened #17263 "r_magic: 5th byte is not printed"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 31
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86_64
| r2 -v full output, **not truncated** (mand

[2020-07-13 15:03] pineapplemachine opened #17264 "Compile failure: radare2 4.4.0 does not compile on MacOS 10.9 Mavericks"
I am running MacOS 10.9. Yes, I am aware that it is no longer officially supported, but I am still running it on this machine, and I would like to run the very nice looking rasm2 on it as well.

When running `sys/install.sh` as instructed in the readme (as well as when trying to install via the last supported version of brew), compilation fails because the project uses `clock_gettime` and `CLOCK_M

[2020-07-13 15:17] ret2libc commented on #17264
Hi! Please do compile the pre-filed template for reporting issues, including the build log and the exact error message you get, otherwise it is hard for us to help you, because not everybody has a MacOS 10.9 to test things.

[2020-07-13 15:28] pineapplemachine commented on #17264
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | OS X 10.9.5, x86-64
| File format of the file you reverse (mandatory)      | N/A
| Architecture/bits of the file (mandatory)            | N/A
| r2 -v full output, **not truncated*

[2020-07-13 15:50] ret2libc commented on #17264
Have you tried to compile it from `master` branch? Latest commit at the moment is 69abbec753f082c71ee1de892c1ff9104422b07f

[2020-07-13 15:55] pineapplemachine commented on #17264
@ret2libc Cloning the current master branch and attempting to compile produces the same error as before:

[code]

[2020-07-13 16:10] ret2libc opened #17265 "OOB-read in z80Disass"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 31
| File format of the file you reverse (mandatory)      | None
| Architecture/bits of the file (mandatory)            | z80
| r2 -v full output, **not truncated** (mandat

[2020-07-13 16:11] ret2libc commented on #17265
This was reported by Travis build, when testing radare2 compiled with ASAN. It would be great to fix this ASAP before release, if the fix is easy. I'm not familiar at all with this arch, otherwise I would have done the fix myself. @condret is this easy to fix?

[2020-07-13 16:13] ret2libc commented on #17265
There are many other z80 instructions that cannot be disassembled, though I suspect they are all due to the same issue. See https://travis-ci.com/github/radareorg/radare2/jobs/360448156#L4191 .

[2020-07-13 16:49] ret2libc commented on #17264
@pineapplemachine Ok the issue seems to be in r2r, which is our test-runner.

@thestr4ng3r @trufae can we add an option to `configure.acr` to not build r2r? There is one in meson, however meson on MacOS does not sign the radare2 bin, so it is not ideal for a mac user. Avoiding compiling r2r would be the quickest solution(also a valid option by itself) as I guess r2r is mostly run by developers on

[2020-07-13 16:55] karliss commented on #17265
At least for "fdae00" it should be:
[code]
Matches with the Z80 manual I was looking at http://sites.fas.harvard.edu/~cscie287/spring2019/slides/Zilog%20Z80%20Family%20CPU%20User%20Manual%20z80cpu_um.pdf and the format string in z80_tab.h `{"xor [iy+0x%02x]",	Z80_OP16^Z80_ARG8	,NULL},`

[2020-07-14 03:07] trufae commented on #17264
Yes. R2r shouldnt reinvent the wheel and use more the rutil and rsocket apis . I complained about this before r2r.c was merged but we priorized the fact to replace r2r.js

[2020-07-14 03:08] trufae commented on #17264
Imho the easiest solution is to wrap this monotopic code with the same ifdefs as the code in rutil. Also i found a bug in this r2r/run.c code that makes the jq detection fail

[2020-07-14 08:24] devnexen commented on #10137
Thanks for the reminder, as first step I did a PR to minimize local dports patching (and fix the build in the process anyway).

[2020-07-14 08:58] #17265 closed

[2020-07-14 09:10] XVilka commented on #17264
Note that "shlr/heap/include/r_jemalloc/internal/jemalloc_internal_defs.h" also has its own `#ifdef` mess. Should be solved as a part of https://github.com/radareorg/radare2/issues/11886

[2020-07-14 09:18] XVilka commented on #17264
Please try if https://github.com/radareorg/radare2/pull/17275 fixes the problem.

[2020-07-14 10:50] thestr4ng3r commented on #17264
It won't. macOS before 10.12 has no `clock_gettime()`

[2020-07-14 12:52] trufae opened #17278 "Debugger broken on Alpine linux"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux localhost 5.4.12-1-virt #2-Alpine SMP Thu, 16 Jan 2020 12:53:54 UTC x86_64 Linux
| File format of the file you reverse (mandatory)      | ELF.
| Architecture/bits of the fil

[2020-07-14 15:18] #17263 closed

[2020-07-14 19:13] lberrymage commented on #17278
I know you haven't said anything about virtualization, but if you're running Alpine from a container or a VM you typically have to allow the guest to use ptrace explicitly.

[2020-07-14 22:47] trufae commented on #17278
Yes I know. .i'm running alpine natively

[2020-07-15 00:21] lberrymage commented on #17278
Maybe test this on the stock vanilla and/or LTS kernel since the -virt ones are mainly intended for guests. I wouldn't be surprised if the Alpine Linux kernels, -virt or no, had configs limiting ptrace, considering the distro's orientation on security. The most common problem (and solution) relates to [Yama](https://www.kernel.org/doc/html/v5.4/admin-guide/LSM/Yama.html), but since [it's not enabl

[2020-07-15 01:17] #17257 closed

[2020-07-15 01:28] XVilka commented on #17235
@chase1635321 could you please retry with the latest master? Python plugins are now autotested with our CI, and locally I don't see any problems.

[2020-07-15 02:04] chase1635321 commented on #17235
@trufae Issue persists after wiping ~/.local/share/radare2. I was pointing out this commit because I tried recompiling a bunch of different commits, and the issue first appears for me on that one. This includes with no plugins installed.

@XVilka Issue persists after updating to latest master.

[2020-07-15 02:20] XVilka commented on #17235
Could you please try to recompile it with ASAN and UBSAN?

[2020-07-15 02:47] chase1635321 commented on #17235
@XVilka

[code]

[2020-07-15 02:54] allen2015555 opened #17283 "Define an address as a function and use cmd "VV" when so file by ollvm protected"
Englis is not my native languge, hope you guys undertand my word.
I analyze a android so file, it protected by ollvm. I get some important function address that print address with adb logcat after modify the android aosp source code. It can by normal display the function When I use IDA Pro. That like this:

[code]

However, it't not a normal function when I  seek the address with r2. I seek to the

[2020-07-15 03:10] XVilka commented on #16933
Use rarun2 profiles for proper redirection of stdin and stdout of the program.

[2020-07-15 07:37] trufae commented on #17278
Gdb works perfectly fine. And eperm shouldnt be a reason to let the child continue

[2020-07-15 07:49] ret2libc commented on #17283
Have you used `radare2 -A ./mybinary`? If not, have you used `aaa` to analyze the binary. If not, you can use `af @ <function-address>` to define a function at a given address.

What you showed looks like a decompiler output. radare2 can be integrated with some existing decompilers. However, I suggest you first read https://book.rada.re/index.html if you haven't already done so.

[2020-07-15 07:54] ret2libc commented on #17235
@chase1635321 are you sure your ~/.radare2rc is empty? Could you try to delete it?

[2020-07-15 08:05] trufae commented on #17283
Can you provide the executable you are trying to disassemble and reword the issue title to be an issue and not a question? This is not a forum.

I know jnienv is not automatically set and thumb analysis is far from perfect. But i dont see a reason why this function is not being analyzed

[2020-07-15 08:25] trufae commented on #17235
Mixed builds of r2 maybe? Try r2 -vv and check your system library path for stale r2 libs and plugins

[2020-07-15 10:47] ret2libc opened #17285 "cr16: disassembler does not consider length"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 31
| File format of the file you reverse (mandatory)      |
| Architecture/bits of the file (mandatory)            |
| r2 -v full output, **not truncated** (mandatory)

[2020-07-16 04:03] allen2015555 commented on #17283
r2 can normal display view by cmd "VV" after I used cmd "af /*fun_name*/  $$" in the function address.
I never read  "https://book.rada.re/index.html", i will read it. Thank you very much!

[2020-07-16 04:19] allen2015555 commented on #17283
This is the apk file link "https://weixin.qq.com/cgi-bin/readtemplate?lang=zh_CN&t=page/faq/android/7015/index&faq=android_7015"
You can click "立即下载" and get the apk.
[so_file.zip](https://github.com/radareorg/radare2/files/4929261/so_file.zip)

"

[code]
The "offset" is the function address. In r2, you cat seek to the "offset". The "offset" need sub one.
Example:
" offset: 20B885"
r2> s 0x20B884

[2020-07-16 04:22] #17283 closed

[2020-07-16 09:22] ret2libc commented on #17261
@trufae I think this does not need to be in 4.5.0. That field is just used as a display info when you do `di` and right now everything works well, apart from the fact that field is not shown (unless you use `sudo`). It is not a breaking feature.

[2020-07-16 09:43] ret2libc commented on #17278
This is not due to something recently introduced. Apparently also 4.0.0 fails to debug on alpine linux.

[2020-07-16 10:04] ret2libc commented on #17278
In 3.7.0 the debugger could attach to the process, but then everything else was broken... I would say that this has been broken for so long that I doubt we shall fix it in 4.5.0. Maybe next release.

[2020-07-16 12:47] ret2libc commented on #5424
Closing. I can't find that TODO.md anymore. And I think the Issues page on github is already *full* of TODOs and ideas :)

[2020-07-16 12:47] #5424 closed

[2020-07-16 12:48] #17285 closed

[2020-07-16 12:48] ret2libc commented on #5433
Closing due to inactivity. Please create a new issue with the right reproducer steps, binary, etc. if the problem persists. Thanks for reporting this!

[2020-07-16 12:48] #5433 closed

[2020-07-16 13:07] ret2libc commented on #4628
Closing due to inactivity. Please feel free to re-open if the issue is still there, providing again the binary and the reproducer steps. Thanks for your issue!

[2020-07-16 13:07] #4628 closed

[2020-07-16 13:09] ret2libc commented on #4328
I think it is compiling now, isn't it? Closing, feel free to re-open if I'm mistaken.

[2020-07-16 13:24] ret2libc commented on #3707
Closing this due to inactivity. Please re-open the bug if you can still reproduce, providing all the necessary details and the binary to reproduce. Thanks again for filing this issue!

[2020-07-16 13:24] #3707 closed

[2020-07-16 13:25] ret2libc commented on #15570
I think there are already. Anyway, tests are always welcome, no need to track anything in a issue. Closing.

[2020-07-16 13:25] #15570 closed

[2020-07-16 13:30] ret2libc commented on #3239
This is probably very much outdated. Closing. Tests are always welcome.

[2020-07-16 13:30] #3239 closed

[2020-07-16 14:18] ret2libc commented on #2260
Closing due to inactivity. Please re-open if the bug is still there and please provide binary + precise reproducer instructions. Thanks!

[2020-07-16 14:18] #2260 closed

[2020-07-16 14:19] ret2libc commented on #2248
S doesn't exist anymore.

[2020-07-16 14:19] #2248 closed

[2020-07-16 14:22] ret2libc commented on #1917
Closing due to inactivity. Also, it seems it was agreed it's a bug in capstone and we will get the fix once there. Please re-open if you don't think this is the right resolution. Thanks for filing this issue!

[2020-07-16 14:22] #1917 closed

[2020-07-16 14:24] ret2libc commented on #1386
This was opened 6 years ago. Closing for now, but if you feel the bug is still there please provide accurate reproducer steps and expected/actual behaviour. Thanks!

[2020-07-16 14:24] #1386 closed

[2020-07-16 14:26] ret2libc commented on #1343
Closing due to inactivity. If you think the bug is still present, please re-open with clear reproducer steps, binaries, etc. Thanks!

[2020-07-16 14:26] #1343 closed

[2020-07-16 14:29] chase1635321 commented on #17235
Unfortunately none of the above revealed the issue for me.

Ok it seems like, regardless of what the issue is, it's a problem with my system rather than radare2, so I'll just wipe my system and re-install. If the issue persists I'll re-open this issue.

[2020-07-16 14:29] #17235 closed

[2020-07-16 14:43] ret2libc commented on #17235
Thanks @chase1635321 ! Let us know ;)

[2020-07-16 14:53] Maijin commented on #3239
Most of this is still relevant unfortunately

[2020-07-16 15:05] ret2libc commented on #3239
@Maijin please open specific bugs for each of those. Generic bugs with "something in search does not work" usually tends to stale and be outdated and not useful for anyone.

[2020-07-16 15:26] ret2libc commented on #6839
Closing. It takes considerably less now.

[2020-07-16 15:26] #6839 closed

[2020-07-16 15:39] ret2libc commented on #6432
Closing due to inactivity. If you think the issue is still present, please open a new bug with precise reproducer steps, binary, expected output, actual output, etc. Thanks a lot!

[2020-07-16 15:39] #6432 closed

[2020-07-16 15:48] ret2libc commented on #7368
It works on linux as well. Closing, Thanks!

[2020-07-16 15:52] ret2libc commented on #7367
I'm closing this. Yeah, we need tests for X, Y and Z, but we can't have a bug for each one of those things opened for years. Also, maybe instead of having manual tests for each thing, we should think about some more automatic way of doing tests: for example, when I worked on McSema they tested whether their lifting was accurate by doing something like:

1. dump CPU state as computed by X (esil in

[2020-07-16 15:52] #7367 closed

[2020-07-16 15:55] ret2libc commented on #7259
Closing according to https://github.com/radareorg/radare2/issues/7259#issuecomment-469770470 . Please re-open if this is not done instead.

[2020-07-16 15:55] #7259 closed

[2020-07-16 15:56] XVilka commented on #7367
It's precisely what was done in https://github.com/sushant94/esil-tests

[2020-07-16 16:11] ret2libc commented on #7367
Is it still maintained? As a result of that, were tests added to r2r to check all those instructions?

[2020-07-16 16:14] ret2libc commented on #6867
@queueRAM hey! How are things going? Can I help with anything?

[2020-07-16 16:56] trufae commented on #4328
tcc build is still failing, actually i found two bugs in the compiler and the mk compiler definition. ive created a PR to work on that, seems like macOS support for tcc is not yet able to build libraries, so ill chk with linux

[2020-07-16 17:38] trufae commented on #17278
i wroet this thing to at least kill the child if the parent can't control it. There are no complains on abusive actions in familiar environments yet. so i guess it can be accepted:

[code]

[2020-07-16 17:43] trufae commented on #17261
sgtm, i don't think there was any focus on the debugger for 4.5

[2020-07-16 18:08] ret2libc commented on #17278
Does that kill it also when you are doing `pid://`? We probably don't want to kill existing processes in case of failure.

[2020-07-16 21:10] ret2libc commented on #14065
This was already explained for the meson build in the book btw.

[2020-07-16 21:19] ret2libc commented on #11877
Android build and static build can already be done with meson. Sys/meson should die btw. You should always directly use meson.

[2020-07-16 21:21] ret2libc commented on #11849
This already works very well, I always use it. Just use

meson -Dlocal=true --prefix=~/.local build ; ninja -C build ; ninja -C build install

[2020-07-16 21:21] #11849 closed

[2020-07-16 21:33] swoops opened #17298 "sparc missing basic block in cfg"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux Intel 64 bit
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | Sparc
| r2 -v full output, **not trun

[2020-07-16 22:03] XVilka opened #17300 "Elf - incorrect information about PLT entries"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | ARM
| r2 -v full output, **not truncated** (man

[2020-07-17 00:01] #10729 closed

[2020-07-17 02:59] XVilka commented on #17300
@HoundThe by the way, when I open the attached file with ASAN enabled there is a violation in DWARF code, please take a look:
[code]

[2020-07-17 07:21] ret2libc commented on #16808
@XVilka isn't this already done? What does remain? IMO we already have the publish action and that's good enough for now. Can we close?

[2020-07-17 07:22] ret2libc commented on #16726
Let's close it and re-open if it re-appear.

[2020-07-17 07:22] #16726 closed

[2020-07-17 07:25] ret2libc commented on #12335
I suggest to use `meson` to build/install, if you have these kind of issues.

[2020-07-17 07:55] ret2libc opened #17304 "OOB read in parse_ext_opcode DWARF code"
@HoundThe by the way, when I open the attached file with ASAN enabled there is a violation in DWARF code, please take a look:
[code]

_Originally posted by @XVilka in https://github.com/radareorg/radare2/issues/17300#issuecomment-659808022_

[2020-07-17 07:56] ret2libc commented on #17300
@HoundThe please see parse_ext_opcode . I have hidden @XVilka comment to keep this about just one issue.

[2020-07-17 07:59] ret2libc commented on #17300
From an initial analysis, it seems there are 2 issues with this file:
1) `get_import_addr_arm` in elf.c incorrectly computes the plt entry address.
[code]
This computation is only right in some cases, apparently, but it is not ok in the test binary

2) radare2 assign a 32bit hint at each sym.imp symbol, while in this case it should be 16bit code.

[2020-07-17 09:42] ret2libc commented on #10930
I think I'm going to close this as wontfix. I still don't see the benefit of having symlinks instead of real files installed on your systems. I use almost always radare2 from within the build directory, unless there have been some changes in the installed files in `share/radare2/{cons,flag,syscalls,etc.}`, in which case I do `ninja -C build install`.

files in `libr/asm/d`, `libr/anal/d`, etc. are

[2020-07-17 09:42] #10930 closed

[2020-07-17 09:50] ret2libc commented on #10428
@XVilka @trufae were these steps taken? If not, are we still interested in this?

[2020-07-17 10:00] ret2libc commented on #13969
I'm moving this out of 4.6.0 milestone because fixing *all* commands is really an optimistic view :D

[2020-07-17 10:06] ret2libc commented on #15663
As said, I'm closing this. There is also another bug, at least, about "broken" tests on debian system, etc. These are not really broken, but we should add support for tests with regex or something like that. We can't expect to have the same debug tests on all systems, because they are different systems.

[2020-07-17 10:06] #15663 closed

[2020-07-17 10:14] ret2libc commented on #16535
I will be able to do this for next release, it's already in plan. Also, this is done on the `release-*` branches, so it's already something.

[2020-07-17 10:40] ret2libc commented on #15439
I think there is no bug/incosistency here.

The help says:
[code]

"hex strings" are  a common thing. For example:
[code]
but if you ask python to give you the hex value of a number:
[code]

The same thing applies here with rax2. Also online you can find many references/tools that use the "hex bytes"/"hex strings" and they don't prefix them with `0x`.

Hope that helps.

[2020-07-17 10:40] #15439 closed

[2020-07-17 10:43] ret2libc commented on #16719
Is it still happening?

[2020-07-17 10:45] ret2libc commented on #5916
This should work now. Thanks!

[2020-07-17 10:45] #5916 closed

[2020-07-17 10:51] ret2libc commented on #15596
Closing... we should test as much as possible, of course, and it's just a matter of creating the PR, no need for an issue.

[2020-07-17 10:51] #15596 closed

[2020-07-17 10:54] Maijin commented on #3239
That's too much issues, one column probably hundreds

[2020-07-17 11:03] ret2libc commented on #17264
@pineapplemachine as a short term workaround you can do the following:
[code]
This will not compile r2r, which is anyway an utility used for testing. In the meantime, we are anyway working on a proper fix for this. Thanks, hope it helps!

[2020-07-17 11:08] ret2libc commented on #3239
This sounds like a big refactoring is needed, otherwise it would be a catch a mole game. If you need to implement the same thing in over 30 places, there's something wrong.

[2020-07-17 11:09] #16808 closed

[2020-07-17 11:12] Maijin commented on #3239
yes

[2020-07-17 12:33] ret2libc commented on #9382
Closing due to lack of activity and because `S` command are not available anymore. If you think the bug is still present, please open a new bug and provides all the necessary reproducer steps and binaries to make it easier to understand the problem. Thanks for reporting this issue!

[2020-07-17 12:33] #9382 closed

[2020-07-17 12:38] ret2libc commented on #10780
There is already in `test/db/tools/rax2`. Closing.

[2020-07-17 12:38] #10780 closed

[2020-07-17 12:44] ret2libc commented on #12076
If, according to https://github.com/radareorg/radare2/issues/12076#issuecomment-436561782, it already works, let's close this.

[2020-07-17 12:44] #12076 closed

[2020-07-17 12:46] ret2libc commented on #12475
`iz` doesn't find anything because the binary has no sections and `iz` finds strings in data sections.

[2020-07-17 12:50] ret2libc commented on #12919
Closing. The current behaviour is the expected one. Thanks for creating this issue!

[2020-07-17 12:50] #12919 closed

[2020-07-17 12:57] ret2libc commented on #13172
@XVilka can we work on this? I think it would be useful for all those cases where we set the "merge-when-green" label or things like that.

[2020-07-17 12:59] ret2libc commented on #13215
Hi @Cloudef , was your question answered? Are you still working on this?

[2020-07-17 13:01] ret2libc commented on #14440
@trufae see https://github.com/radareorg/radare2/issues/14440#issuecomment-617780469 please.

[2020-07-17 13:45] #15588 closed

[2020-07-17 15:26] Cloudef commented on #13215
Sorry, havent worked on this. For now this can be closed.

[2020-07-17 15:27] #13215 closed

[2020-07-18 18:13] meme commented on #16945
Should be able to be closed now? Or are we waiting on the CVE #

[2020-07-19 11:21] trufae commented on #10428
no steps were taken, and after installing ubuntu after 4 years it seems like yeah, it could be interesting way to get linux users have the last r2 release without messing with theh pkgsystem and its depenedncies

[2020-07-19 11:32] XVilka commented on #10428
I am not sure - seems like Snap gets some pushback from the community. Also, radare2 isn't exactly riddled with dependencies to justify the need for Snap.
https://snapcraft.io/first-snap/c/linux/push

[2020-07-19 13:05] #17298 closed

[2020-07-19 18:14] manokara commented on #11119
This is still valid, albeit as OP mentioned it could be more of a feature request than a bug. At first I thought you were supposed to put the array size in the identifier, but that also doesn't work. This is behavior is quite intuitive, and IDA for example allows that.

I think the underlying problem is lack of array support for types in general. You could create a struct of ints and longs until t

[2020-07-19 20:43] simos commented on #10428
There are some vocal people who hate anything that comes from Ubuntu. Their viewpoint does not have a technical basis.

The main benefit is the availability of the application as a snap package. This helps users to install r2 and use it without messing with their systems.

In addition, you can get the Snap Build Server to create a new snap package of r2 on every commit. This makes it easy for user

[2020-07-20 03:56] lberrymage commented on #17278
So I did a bisect... ironically the offending commit is f6bda32cb91841be902fb25d1ffd96cc598ff3ff: "Fixed ptrace 'Operation not permitted' errors (#15287) ##debug."

[2020-07-20 04:58] XVilka commented on #16945
@meme we are waiting for the CVE, I will send here a link once registered and will close this. Thanks for your work!

[2020-07-20 05:06] XVilka commented on #10428
I registered at snapcraft.io and requested an access to the reserved "radare2" name. Now it's time to wait. Maybe it will help Ubuntu users to avoid this: https://bugs.launchpad.net/ubuntu/+source/radare2/+bug/1882889

[2020-07-20 07:23] trufae commented on #17278
lel

[2020-07-20 07:36] ret2libc commented on #17278
I already compiled even older version than 4.0.0 and even though the process is attached correctly (so it seems), the debugger doesn't really work. I'm not really sure where the problem is :(

[2020-07-20 09:53] pineapplemachine commented on #17264
@ret2libc This resulted in a similar error at a different point in the build process.

I ran `./configure --without-r2r` and then got this error running `make`:

[code]

[2020-07-20 10:05] ret2libc commented on #17264
@pineapplemachine please ensure that you have cleaned your build directory before running that. E.g.
[code]

File `run.c` should not even be compiled in that case.

[2020-07-20 10:18] #17229 closed

[2020-07-20 10:30] pineapplemachine commented on #17264
Ah, I can see now that in fact the problem was that I didn't realize `--without-r2r` was newly added and just tried to re-build 4.4.0 with it. Sorry about that.

I pulled master and built that with the flag. No build errors and rasm2 seems to be working.

Thanks for your help with this!

[2020-07-20 10:34] ret2libc commented on #17264
No problem! We are of course working on a proper solution to actually fix r2r in case clock_gettime is not available, but I guess not compiling r2r (since it is not actually a user tool but mainly a development tool) is a good-enough short term solution. Happy it worked out ;)

[2020-07-20 17:08] RafaelRMachado opened #17322 "-B parameters disables function name presentation at pd command"
When opening a file using the -B option, to fix the base addess, the disassembled code is not presenting the function names.
So for example, when openning and application with the following command:

radare2 App.efi

The disassembly result at a given address is this:

[0x00010650]> s 0x0008f2e4
[0x0008f2e4]> pd 3
            0x0008f2e4      4053           push rbx
            0x0008f2e6      4883e

[2020-07-20 17:21] RafaelRMachado commented on #17322
Dupplicated from https://github.com/radareorg/radare2/pull/17321

[2020-07-20 17:21] #17322 closed

[2020-07-20 20:33] ajakk commented on #16945
This was assigned CVE-2020-15121.

https://nvd.nist.gov/vuln/detail/CVE-2020-15121

[2020-07-20 20:51] #17304 closed

[2020-07-21 03:48] XVilka commented on #16945
Here is the published security advisory: https://github.com/radareorg/radare2/security/advisories/GHSA-r552-vp94-9358

[2020-07-21 03:48] #16945 closed

[2020-07-21 04:23] XVilka commented on #10428
Added, started build but it fails as is: https://snapcraft.io/radare2/builds/1050588

[2020-07-21 05:45] #11607 closed

[2020-07-21 05:53] XVilka opened #17325 "Travis CI debug build with ASAN asserts/errors"
See https://travis-ci.com/github/radareorg/radare2/jobs/363149840 for full log
[code]

[2020-07-21 10:08] simos commented on #10428
I cannot see this output because I am not a team member on snapcraft.io for radare2.
It is OK though, as I made a new PR that should fix the issue.

The updated snapcraft.yaml installs a fresh `ninja` and `acr` for the purpose of building radare2.
You may want to update the version number in snapcraft.yaml for ninja and acr, as these numbers were what I had tested last year.

I tested with
[code]

[2020-07-22 00:14] mmuman commented on #15385
Hmm, while it does emit HTML tags, the result looks quite bare, no color, and it doesn't even include the `<pre>` required to have fixed-width font…

[2020-07-22 00:28] XVilka commented on #15385
Can you please create a test cases for this? I think it should be better
tested. Will help to avoid problems in the future.

On Wed, Jul 22, 2020, 08:14 François Revol <notifications@github.com> wrote:

[2020-07-22 03:54] kamathe opened #17332 "Module version mismatch error post upgrade"
Upgraded r2 to latest version using `sys/install.sh`

[code]

When invoked `r2 -` seeing following errors

[code]

Ran `r2pm -ci r2dec`

[code]

After that the earlier module mismatch error went away however still see the variable not found error

[code]

Setup details

[code]

[2020-07-22 05:05] XVilka commented on #17084
@trufae could you please check this one?

[2020-07-22 08:48] ntsoftware opened #17333 "Automatic analysis incorrect detects function arguments instead of no arguments"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian x86_64 (Windows 10 Linux subsystem for Linux) [host] / EFM32LG330 arm Cortex-M3 (target)
| File format of the file you reverse (mandatory)      | ELF 32-bit
| Architecture/

[2020-07-22 09:37] ret2libc commented on #16749
![image](https://user-images.githubusercontent.com/562321/88160860-89ff3100-cc0f-11ea-8ff3-f30d0db30f4c.png)

![image](https://user-images.githubusercontent.com/562321/88160898-96838980-cc0f-11ea-86c0-57ff41e9ef97.png)

![image](https://user-images.githubusercontent.com/562321/88160931-a1d6b500-cc0f-11ea-97e1-324087ba22c0.png)

![image](https://user-images.githubusercontent.com/562321/88160996-b3b

[2020-07-22 09:42] ret2libc commented on #16748
I'm closing this. For now it seems we are using `?` for longer descriptions on a command. See `wv1?`, `wv2?`, etc. But there is also `wv??` in case you want the detailed help of `wv`, since `wv` is not only a "inner node" but it is also a command itself.

[2020-07-22 09:42] #16748 closed

[2020-07-22 11:12] trufae commented on #17084
Can't reproduce. r2 4.3 is very old. can you try with master? my test looks like the following:

[code]

also, i assume you are testing esil emulation in here, the commands involved here are:

* arp  # check the regprofile
* ao # see the esil expression
* aes # step in

![Screenshot 2020-07-22 at 13 11 57](https://user-images.githubusercontent.com/6431515/88169856-f46a9e00-cc1c-11ea-93c7-a525945b8

[2020-07-22 13:14] ret2libc opened #17337 "help: distinguish required from optional commands"
While looking at a help message I want to know immediately whether an argument is required or optional and if it's optional, whether there is a default value for it.

Right now this is not well defined or it is applied in a very inconsistent way.
Examples:
[code]

As you can see, it is not clear, at least to me. Is `[[...]]`? Is `(...)`?
We should be much more consistent in these things, as comman

[2020-07-22 13:19] ret2libc commented on #17337
My proposal:
- required argument specified with `<argument>`. For example `o+ <file>`.
- optional argument specified with `[argument]`. In case a default value is assumed, list it with `=...`. For example `o <file> [address=0 [rwx-mode]]`

WDYT?

[2020-07-22 13:43] ITAYC0HEN commented on #17337
I agree with your suggestion

[2020-07-22 15:59] ret2libc commented on #16329
Isn't this fixed @trufae ? I see only one of those continuous build right now. Please re-open if you think otherwise.

[2020-07-22 15:59] #16329 closed

[2020-07-22 16:03] karliss commented on #16329
I'd say its still somewhat noisy. It shouldn't be necessary to create a tag and fake release.

[2020-07-22 16:47] ret2libc commented on #16329
@karliss What would be the right way to distribute those in your opinion?

Personally, I think we should not generate those things at all. I'm not sure someone is actually using the .deb packages... those .deb packages probably work only on the exact debian version that generated them (from .travis.yml it seems it is debian:stretch, which is quite old and I doubt there are that many oldstable debi

[2020-07-22 16:50] XVilka commented on #16329
I suggest not to drop them but package fully static musl-based binaries in
these Deb packages. So they will be compatible with almost everything.

On Thu, Jul 23, 2020, 00:47 Riccardo Schirone <notifications@github.com>
wrote:

[2020-07-22 17:04] ret2libc commented on #16329
I don't like doing things without reasons. If there is a a real request from more than 1 person it is fine for me to do that. Otherwise, I'm for dropping it. Can't those people use git? Would those people even download those binaries?  As I said, given they are currently built only for debian:stretch, I *highly doubt* anyone is using those. So I don't want to create myself more things to do/bother

[2020-07-22 17:21] xarkes commented on #17337
Me as well.

[2020-07-23 07:49] trufae commented on #11188
Lot of things changed in r2 since then. Can you confirm thw issue is gone?

[2020-07-23 08:15] #17135 closed

[2020-07-23 14:16] DarrylC03 opened #17346 "Cannot build on MinGW or Cygwin"
When trying to build (sys/user.sh) for the MinGW or Cygwin environments it fails in the following area:

![image](https://user-images.githubusercontent.com/25788376/88296908-a059d980-cd42-11ea-9a6e-aa440ffab967.png)

Thanks in advance

[2020-07-23 14:18] trufae commented on #17346
Mingw and cygwin support was removed long time ago

[2020-07-23 14:50] ret2libc commented on #17346
However you can install radare2 as a regular Windows program by using the radare2-installer in https://github.com/radareorg/radare2/releases/tag/4.5.0 or you can compile it in Windows For Linux Subsystem. If you want to compile radare2 on Windows by yourself, see http://book.rada.re/first_steps/windows_compilation.html .

I'm going to close this bug, because as @trufae said mingw/cygwin is not sup

[2020-07-23 14:50] #17346 closed

[2020-07-23 17:07] simos commented on #10428
I have updated the `snapcraft.yaml` file in the PR.

For my tests of the `snapcraft.yaml` file, I am using this repository, https://github.com/simos/radare2-simosx
and I have linked it to the Snapcraft Build server for my test package `radare2-simosx`.
I have set the _grade_ to `devel` and the _confinement_ to `devmode`, which is the same in the PR.
This means that
1. Those that manage to install

[2020-07-23 22:45] DarrylC03 commented on #17346
@ret2libc thank you, that is great news. I will use the installer first and do a build later.

[2020-07-24 02:09] DarrylC03 opened #17350 "Tricore disassembly incorrect"
OS/arch/bits (mandatory)                                       | Windows 10 X64
File format of the file you reverse (mandatory)      | Binary
Architecture/bits of the file (mandatory)                | Tricore 32
r2 -v full output, **not truncated** (mandatory)    | r2r -v
r2r 4.5.0 1 @ windows-x86-32 git.4.5.0
commit: 9d7eda5ec7367d1682e489e92d1be8e37e459296 build: Fri 07/17/2020__11:10:04.28

It

[2020-07-24 06:20] XVilka commented on #17350
Could you please craft a test for the `r2r`? See [`test/db/asm`](https://github.com/radareorg/radare2/tree/master/test/db/asm) directory and other files as an example.

[2020-07-24 06:23] #16931 closed

[2020-07-24 06:26] XVilka commented on #14324
@ret2libc probably also a good time to add this too.

[2020-07-24 06:41] ret2libc commented on #14324
Not yet imo. It's better to wait until more commands are converted to argv style, otherwise it will be too much inconsistent.

[2020-07-24 08:25] #16359 closed

[2020-07-24 10:25] ret2libc opened #17351 "newshell: # comment wrongly parsed"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Irrelevant
| File format of the file you reverse (mandatory)      | Irrelevant
| Architecture/bits of the file (mandatory)            | x86_64
| r2 -v full output, **not truncated

[2020-07-24 11:04] trufae opened #17353 "Remove duplicated implementation of uleb128 in the MACHO parser"
There was a time in which r2 had 4 different implementations of uleb128, right now there's only 2.

[code]

* Time to get rid of it!
* Probably good to add some tests

Related: https://github.com/radareorg/radare2/issues/15479

[2020-07-24 15:01] trufae commented on #17351
Start by adding the following test. this issue is specific to newshell:

[code]

[2020-07-24 15:06] ret2libc commented on #17351
Yes, this is what I said. Maybe I did not make it clear in the description, but the title starts with `newshell`. It's indeed a newshell specific bug. I'm going to fix it ASAP and add tests.

[2020-07-24 17:40] #3143 closed

[2020-07-24 21:26] Maijin commented on #17166
Definitely +1 on this, the more information we can get from -v, the better we will be able to help people on Telegram/IRC etc.

[2020-07-25 16:07] simos commented on #10428
I noticed that the `radare2` snap entry has been populated with a snap package in the _edge_ channel,

[code]

1. The `contact:` is currently an email address. You may switch that to a URL, such as https://github.com/radareorg/radare2/issues It is a personal preference what you put here, whether you want to receive issues by email or get them sent to github to be filed under a `snap` tag.

2. Once

[2020-07-25 22:39] DarrylC03 commented on #17350
@XVilka I will write a simple script to parse the IDA disassembled versions and create that file. Can you point me to the documentation for this file? Most of it is obvious but I assume the first field describes opcode type and addressing modes?

I will also look at fixing the source you used. There are other bugs like this:
![image](https://user-images.githubusercontent.com/25788376/88467493-0ef1

[2020-07-26 11:40] schrodyn opened #17358 "Show section for address in r2"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.15.6 amd64
| File format of the file you reverse (mandatory)      | PE, ELF & macho-o.
| Architecture/bits of the file (mandatory)            | x86/32, x86/64 etc.
| r2 -

[2020-07-27 08:26] ret2libc commented on #17358
[code]

`iS` just list all the sections in the binary.
What you probably want is `iS.` (or in your case `iS.@0x0100c334`).

I'm closing this issue, but if you feel like your problem is not actually solved, feel free to re-open it. Thanks!

[2020-07-27 08:26] #17358 closed

[2020-07-27 11:06] 0x8008135 commented on #15295
@qwuau06
Should be fixed with https://github.com/radareorg/radare2/pull/17347

[2020-07-27 11:07] 0x8008135 commented on #6389
@ekiwi Should be fixed with https://github.com/radareorg/radare2/pull/17347

[2020-07-27 11:20] ret2libc commented on #6389
Thanks @0x8008135

[2020-07-27 11:20] #6389 closed

[2020-07-27 11:25] ret2libc commented on #15295
Thanks @0x8008135

[2020-07-27 11:25] #15295 closed

[2020-07-27 13:28] ret2libc commented on #8565
@trufae @XVilka which part do you expect @HoundThe / @oxcabe to work on exactly?
@HoundThe @oxcabe which priority is it this for you? Right now this is marked for 4.6.0 (we don't know *exactly* when that is, but let's say in roughly 2 months?). Do you think it is possible by then? Do you have all the info required to perform the task?

@XVilka Also, it would be really great if these kind of issues

[2020-07-27 13:31] ret2libc commented on #15373
As it is right now it seems just a nice idea and nobody assigned to this issue, so I'm moving it out of 4.6.0 milestone.

[2020-07-27 13:35] ret2libc commented on #13312
What are the exact steps missing here?

[2020-07-27 13:38] ret2libc commented on #14586
This seems already fixed to me. Please re-open if you think otherwise.

[2020-07-27 13:38] #14586 closed

[2020-07-27 13:49] Maijin commented on #13312
Use `ymxl` library everywhere and remove `xml` from shlr

[2020-07-27 13:52] ret2libc commented on #13850
@trufae What is this issue really about?
Is it a bug in r2? Is it a feature request?

To me this seems about the decompiler, but r2 is not really a decompiler so this doesn't seem relevant.

[2020-07-27 13:55] ret2libc commented on #7721
@GustavoLCR I see this is assigned to you. Do you think you'll be able to complete this for next release? I'm asking not to put pressure, just to try cleaning up a bit the issues that are assigned for the next milestone.

[2020-07-27 14:03] ret2libc commented on #8563
@GustavoLCR I see this is assigned to you. Do you think you'll be able to complete this for next release? I'm asking not to put pressure, just to try cleaning up a bit the issues that are assigned for the next milestone.

[2020-07-27 14:07] ret2libc commented on #14708
This seems to be fixed to me. I'm going to close the issue, but please feel free to re-open it if it doesn't work as intended for you. Thanks for reporting this issue!

[2020-07-27 14:07] #14708 closed

[2020-07-27 14:10] ret2libc commented on #15622
@thestr4ng3r I see you are assigned on this issue. Just to know, do you think you'll be able to perform it for next release (let's say, in 2 months)? Not putting any pressure, I just want to organize issues for next release.

[2020-07-27 14:11] ret2libc commented on #16302
@GustavoLCR I see this is assigned to you. Do you think you'll be able to complete this for next release? I'm asking not to put pressure, just to try cleaning up a bit the issues that are assigned for the next milestone.

[2020-07-27 14:24] ret2libc commented on #13312
@Maijin please specify *everywhere*. Is it only used in `gdbclient`?

[2020-07-27 16:32] trufae commented on #13850
It’s about variable access analysis. This info is used by the decompilers indeed. But the analysis is done in r2

[2020-07-27 19:22] Maijin commented on #13312
The idea of the issue was to search too but I can't find it used at all.

[2020-07-27 21:49] notfoundry opened #17363 "Prevent axg* from erasing important function offset information that is retained in axg and axgj"
**Is your feature request related to a problem? Please describe.**
I am trying to parse the graph built by `axg` outside of r2. It looks like `axg*` produces output in the exact format that many graph libraries expect (named nodes, and edges between named nodes), which is fantastic! However, while `axg` and `axgj` output the exact point in a function where a reference exists, which is necessary to

[2020-07-28 01:02] DarrylC03 commented on #17350
Binary supplied was the issue and was generated by perl in Windows and was missing binmode. Apologize and will close the issue.

[2020-07-28 01:02] #17350 closed

[2020-07-28 06:43] trufae commented on #13312
The actual idea was from me to be able to process stream based xml or other structured data in raw data. This is on corrupted files or memory dumps so you can find the offset for the given xml path (or json). As well as print indented region or seek to the next open/close tag/element/attribute..

[2020-07-28 08:11] karliss commented on #17363
R2 has multiple graph output formats you can see them using `ag?`.
axg* outputs it using r2 commands, that's a format with very specific purpose and not for consumption by other tools.
For analysis using scripts you should use JSON ouptut. If there are bugs causing it to be malformed then those need to be fixed.

Most instructions reference no more than one address drawing such graph would result

[2020-07-28 09:44] 08A commented on #17300
@ret2libc i will take a look at it this afternoon.

[2020-07-28 10:58] Maijin commented on #13312
That's a separate issue, here the idea was cleanup only.

[2020-07-28 12:38] sledrho opened #17368 "izj not escaping json data properly."
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS Catalina 10.15.6
| File format of the file you reverse (mandatory)      | Dex
| Architecture/bits of the file (mandatory)            | Dalvik
| r2 -v full output, **not trun

[2020-07-28 15:39] 08A commented on #17300
I don't know why the plt entrie size is not a const value.
One solution could be search for matching bute.

[code]

get_impot_addr(pos: 0) => section..plt + 20
get_impot_addr(pos: 1) => hit0_0 + 4
...
get_impot_addr(pos: x) => hit0_x + 4

[2020-07-28 15:41] 08A commented on #17300
It is an ugly (and way slower). But it could work.

[2020-07-28 16:00] 08A commented on #17300
@ret2libc Any idea?

[2020-07-28 16:11] #16684 closed

[2020-07-28 16:15] ret2libc commented on #17300
That looks like a very hacky solution :( I would prefer to understand whether there is something better that we can use to distinguish between the different kind of plt entries. Have you seen what IDA and other tools return? Have you looked at ARM/ELF specs?

[2020-07-28 16:36] karliss commented on #17337
One case not considered in the proposal above is command groups.
For example what is currently shown as `w[1248][+-]` and `wB[-]`. In the first case digit and plus or minus sign is required. In the second case minus sign is optional. I would be fine with using square brackets for the second case.
What about the second case?
* `w(1248)(+-)`
* `w([1248])([+-])`
* `w<1248><+->`
* `w{1248}{+-}`

[2020-07-28 16:45] ivg commented on #17300
I think, it could be interesting to look into how [binutils][1] handle variable-length PLT entries in the thumb mode.

[1]: https://github.com/bminor/binutils-gdb/blob/master/bfd/elf32-arm.c#L3124

[2020-07-28 16:46] 08A commented on #17300
Indeed it is very hacky

I didn't find any info in the ARM-spec
Do you have any idea where the sample come from?

[2020-07-28 16:46] 08A commented on #17300
I will look at this. Ty

[2020-07-29 02:41] #17333 closed

[2020-07-29 05:08] XVilka commented on #17363
Please provide a small reproducer for the bug you mentioned.

[2020-07-29 05:10] XVilka commented on #17337
Agree with @ret2libc

[2020-07-29 05:20] XVilka commented on #16590
@Shaddy @trufae can be this closed?

[2020-07-29 07:40] phakeobj opened #17369 "Add support for ARMv8.5-A Branch Target Identification"
Somewhat complementary to #17135, to complete the support for ARMv8.5 instructions, as support in Capstone is nothing we can expect.

(This was also mentioned by @trufae @ https://github.com/radareorg/radare2/issues/17135#issuecomment-650785052)

[2020-07-29 09:02] #16590 closed

[2020-07-29 16:47] 08A commented on #17300
Ghidra match the plt entry with the got entry during the analysis. I stop there because the code base of ghidra is way too big.
For binutils, i didn't found any interesting peace of code.

[2020-07-29 17:13] ivg commented on #17300
Binutils are doing [the same][1] but I wouldn't pretend that I understand all peculartities of the code.

[1]: https://github.com/bminor/binutils-gdb/blob/master/bfd/elf32-arm.c#L9682

[2020-07-30 01:40] junchao-loongson opened #17372 "Disassemble mips privileged instruction code bug"
### bug
I used radare2 to analyze a mips kernel

$ radare2 vmlinux
[0xffffffff80affa10]> pd 2
            ;-- entry0:
            ;-- kernel_entry:
            ;-- pc:
            0xffffffff80affa10      03800c40       mfc0 t4, s0, 3
            0xffffffff80affa14      80008c35       ori t4, t4, 0x80

In the disassemble  result of the first instruction，mfc0 t4, s0, 3  ，s0 is a general register， bu

[2020-07-30 08:58] phakeobj opened #17378 "Collect all ARM64 security features under one RAnalOpFamily"
In addition to #17371, I wanted to add BTI to ##anal as well, but there's no RAnalOpFamily that fits it. I think it's time to create a new RAnalOpFamily for all ARM64 security features (PAC, MTE, and BTI).

I suggest

- `R_ANAL_OP_FAMILY_SECURITY`
- `r_anal_op_family_to_string(R_ANAL_OP_FAMILY_SECURITY)` = `"sec"`

Thoughts?

[2020-07-30 09:24] XVilka commented on #17378
ARM is only one of the supported architectures, calling it PAC is a bit too specific. We might do something like `R_ANAL_OP_FAMILY_SECURITY` that is generic enough for any architecture that has something designed specifically for that.

[2020-07-30 09:25] XVilka commented on #17372
It might be a bug in [capstone](https://github.com/aquynh/capstone/) - could you please check with `cstool`?

[2020-07-30 09:29] phakeobj commented on #17378
Yeah that’s just a copy-paste accident. The suggestion should have been SECURITY, that’s why str was suggested to be “sec”.

On Thu, Jul 30, 2020 at 12:24, Anton Kochkov <notifications@github.com> wrote:

[2020-07-30 09:35] phakeobj commented on #17378
woops, that's a typo. was supposed to be `R_ANAL_OP_FAMILY_SECURITY`. I'll edit it.

[2020-07-30 11:34] thestr4ng3r commented on #15622
No, don't count on it.

[2020-07-30 13:18] SjRNMzU opened #17379 "[x86_64][ELF] Segmentation fault opening binary."
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86_64
| r2 -v full output, **not truncated

[2020-07-30 14:07] ret2libc commented on #17379
Interesing... ASAN does not catch anything, but a regular build segfaults.

[2020-07-30 14:39] anotak opened #17381 "SH-4 instruction set: undocumented FSCA / FSRRA instruction being incorrectly read as FTRV"
Currently the radare2 SH-4 disassembler seems to misunderstand 0xFD, 0xF1 as `ftrv xmtrx,fv0`, which it is not.

It is in fact, `fsca fpul,fr0`.

Many SH-4s have 2 undocumented `FSCA` and `FSRRA` instructions, that are normally listed as SH-4A exclusive. However, the SH-4 in the Sega Dreamcast and Naomi specifically had these added. Other SH-4s may also have these 2 instructions in an untested/uns

[2020-07-30 19:16] trufae commented on #17372
You can try with the gnu disassembler which is taken from the loongson branch

[2020-07-30 19:16] trufae commented on #17372
e asm.arch=mips.gnu

[2020-07-31 00:14] S01den opened #17383 "[ELF] Segmentation fault by opening a binary (Bug in DWARF parsing)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | 5.6.16-1-Manjaro x86_64, Kubuntu x86 32
| File format of the file you reverse (mandatory)      |  ELF
| Architecture/bits of the file (mandatory)            |  x86/32, x86/64
| r2

[2020-07-31 00:59] junchao-loongson commented on #17372
It seems to get worse with gnu disassembler

[0xffffffff80affa10]> **e  asm.arch=mips.gnu**
[0xffffffff80affa10]> pd 5
            ;-- entry0:
            ;-- kernel_entry:
            ;-- pc:
            0xffffffff80affa10      03800c40       0x400c8003
            0xffffffff80affa14      80008c35       ori t4, t4, 0x80
            0xffffffff80affa18      03808c40       0x408c8003
            0xf

[2020-07-31 01:02] junchao-loongson commented on #17372
I found after testing that it is indeed a bug in  [capstone](https://github.com/aquynh/capstone/) .
I will submit this bug to capstone.
Thinks

[2020-07-31 04:17] XVilka commented on #17383
@HoundThe please take a look.

[2020-07-31 07:56] ret2libc commented on #17372
Thank you @junchao-loongson ! Please paste a link to the issue you are going to create in capstone here as well, just for reference.
I'm going to close this issue as it seems there is nothing to do for radare2. Thanks again!

[2020-07-31 07:56] #17372 closed

[2020-07-31 07:56] ret2libc commented on #10704
Already implemented. Closing.

[2020-07-31 07:56] #10704 closed

[2020-07-31 07:59] ret2libc commented on #11056
The referenced test in https://github.com/radareorg/radare2/issues/11056#issuecomment-412365785 is not broken anymore and the binary in the description work as expected (with regards to `jump`/`fail` fields.

I'm closing this. Thanks!

[2020-07-31 07:59] #11056 closed

[2020-07-31 08:04] #14024 closed

[2020-07-31 10:05] XVilka opened #17384 "OpenBSD - failed "db/esil/arm_16 arm s110 syscalls /ad svc" test"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | OpenBSD CI (SourceHut)
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not trunca

[2020-07-31 10:09] #17369 closed

[2020-07-31 10:59] karliss opened #17385 "Integer overflow in aai percent calculation"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | ArchLinux x86 64
| File format of the file you reverse (mandatory)      | ELF.
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated

[2020-07-31 12:37] SjRNMzU commented on #17379
[Here](http://178.62.54.169:8081/7XDwj/libBlocksRuntime.so.0.0.0) is another file which causes r2 to crash on opening. This may be a separate issue but I can't be bothered to create a new ticket.

[2020-07-31 12:42] SjRNMzU commented on #17379
[Here](http://178.62.54.169:8081/7Ru67/libpcl_segmentation.so.1.10.1) is the original file uploaded using a more long-term host.

[2020-07-31 13:38] ret2libc commented on #17379
It doesn't crash for me with this one.

[2020-07-31 16:07] ret2libc commented on #17379
@SjRNMzU please see https://github.com/radareorg/radare2/pull/17387 . As I am not able to test your second binary, check if the PR fixes that as well for you.

[2020-07-31 19:37] Cryspia opened #17388 "Segmentation fault on disassembling icc compiled vim (-O0)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 20.04 x64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x64
| r2 -v full output, **not truncated** (

[2020-08-01 21:38] S01den commented on #17383
Here is the backtrace btw:
[code]

[2020-08-02 00:21] elicn opened #17391 "Some Unicode characters encoded with base64 appear funny on the screen"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 20.04.1 x86-64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not trunc

[2020-08-02 16:35] gogo2464 opened #17393 "error and missing infos on gameboy analysis. A full plugin Ranal for gameboy is needed."
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you

[2020-08-02 19:46] 0x8008135 commented on #12098
@alvarofe should be fixed now with https://github.com/radareorg/radare2/pull/17347

[2020-08-03 04:30] #7721 closed

[2020-08-03 04:31] #17379 closed

[2020-08-03 04:42] XVilka commented on #14195
It is related to recording traces and R&R. @abcSup @yossizap

[2020-08-03 04:43] XVilka commented on #13853
@GustavoLCR you might be interested in this.

[2020-08-03 06:46] XVilka opened #17395 "OpenBSD - failing "db/anal/x86_64 anal hasnext" test"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | OpenBSD CI (SourceHut)
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not trunca

[2020-08-03 07:30] ret2libc commented on #12098
Closing this because of what said in https://github.com/radareorg/radare2/issues/12098#issuecomment-667716678 . If the issue is still not solved for you, please re-open it with more details and a binary to reproduce. Thanks!

[2020-08-03 07:30] #12098 closed

[2020-08-03 08:47] #17378 closed

[2020-08-03 14:24] SjRNMzU commented on #17379
I can confirm the patch fixes this issue. Both binaries do not crash using the latest master.

[code]

Thanks!

[2020-08-03 18:22] trufae commented on #17388
Can you post the crashlog? Also building with asan (sys/sanitize.sh) will show a better error message. it is also probalby that it fails because debian/ubuntu kernels kill processes if they take too much memory.

[2020-08-03 19:16] Cryspia commented on #17388
The host machine has 128G RAM and the _htop_ monitor showed that the memory usage was below 13G during the entire r2 execution.

I have built the HEAD (78ea6ec) and reran the disassemble command. Here is the log:
[code]

[2020-08-03 22:26] HoundThe commented on #17383
Cool, thanks for the nice report!

[2020-08-03 22:56] S01den commented on #17383
You're welcome :D

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Tuesday, August 4, 2020 12:27 AM, HoundThe <notifications@github.com> wrote:

[2020-08-03 23:03] S01den commented on #17383
You're welcome :D

[2020-08-04 03:16] XVilka commented on #17372
I created this issue in capstone since found none reported yet: https://github.com/aquynh/capstone/issues/1673

[2020-08-04 19:52] elicn commented on #17391
Apparently it has nothing to do with `base64`, its the graph output:
![uni](https://user-images.githubusercontent.com/10291650/89338350-1ea06f00-d6a5-11ea-8b2c-dc2e068e1506.png)
I'll edit the bug title.

[2020-08-05 17:30] 08A commented on #17300
Okay, i believe the main problem is that we link the each plt block with one got entry during the elf loading and not during an analysis.

For me the best solution is create a new analysis command which will associate each plt block with on got entry.

The idea is:
1. identify each plt block:
[code]

2. Fill the got with specific addresses
[code]

0xdeadbeef -> raise
0xboobface -> strtol

This is

[2020-08-05 17:31] 08A commented on #17300
I am not sure if i express my idea correctly. so don't hesitate to ask question.

[2020-08-05 18:01] ivg commented on #17300
The way how we are trying to resolve this entries in BAP, is by doing a very lightweight constant folding on:
[code]
which is just `pc+0x1b000 + 0x974 => 2c00c `, or, more generally `plt.got.address = pc+base+offset`, where `base` is invariant in the binary (in fact, I see that it is consistent across different binaries compiled with the same compiler/abi) and offset differs for each plt entry and

[2020-08-06 04:19] XVilka opened #17409 "OpenBSD CI - db/anal/x86_32, line 3473: Unknown key "EXPECT<<EOF"."
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | OpenBSD x86_64
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | x86_64
| r2 -v full output, **not truncated** (m

[2020-08-06 04:29] XVilka commented on #17395
This one appears quite consistently and makes many builds red.

[2020-08-06 14:08] phakeobj commented on #17353
The code in mach0 looks very much like the code in dyld which makes it pretty convenient to understand, and this is also right for the leb128 implementation which are a bit different from the variants in libr/util/uleb128.c. most of the differences are minor, like what's returned in the return value of the function and what's returned in the arguments, some sanity checks, but nothing more (if I'm

[2020-08-06 16:12] trufae commented on #17388
So it’s an oobread of 1 byte. I dont have 128GB and it would be great to find a reproducer that doestn rewuired 14GB of ram to work.

Debian/ubuntu kernels kills processes that make huge allocations in small time. Im happy to see this is not the problem. So even having 1tb of ram it couod kill a process too. I’ll check the source to blindly find the reason of this oobread

[2020-08-06 18:58] Cryspia commented on #17388
I did have tried different projects compiled by different compilers and optimization levels, and segmentation fault errors did happen on several different binaries. Unfortunately, every binary that resulting in an error is pretty large (such as _cstool(capstone)_ and _gcc_), and this _vim_ binary is already a relative small one among them.

According to the measurement from the ```/bin/time -v r2

[2020-08-07 09:41] junchao-loongson opened #17413 "anal_mips_gnu.c Code analysis bug"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86
| File format of the file you reverse (mandatory)      |  ELF.
| Architecture/bits of the file (mandatory)            | MIPS
| r2 -v full output, **not truncated** (man

[2020-08-07 09:56] #17383 closed

[2020-08-07 10:40] XVilka opened #17414 "Signatures ASAN issues"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2020-08-07 13:46] XVilka opened #17417 "Debugger doesn't work in older Debian releases - Squeeze, Lenny"
# Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian Lenny x86/64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated

[2020-08-07 16:44] himekifee opened #17418 "Signature matching take so much memory that triggers oom killer"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch/x86/64 bits
| File format of the file you reverse (mandatory)      | PE(dll)
| Architecture/bits of the file (mandatory)            | x86/64 bits
| r2 -v full output, **not t

[2020-08-07 18:16] swoops commented on #17418
I can reproduce this. To reproduce it faster disable the bytes search (`e zign.bytes = false`). I will look into it further.

[2020-08-07 18:23] Tzaoh opened #17419 "Execution does not stop while remote debugging [Chroot + Qemu-mips + gdb]"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 64 bits + chroot environment
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | mips 32 bits big endian
|

[2020-08-08 11:01] Tzaoh commented on #17419
Two extra options were needed.
`-D gdb-multiarch` and `-e dbg.bpinmaps=false`

Many thanks to Azox for pointing this out.

[2020-08-08 11:01] #17419 closed

[2020-08-08 11:10] officialcjunior commented on #13969
What is the desired output for `rj`, if `r` returns, say `5240`?

[2020-08-09 05:10] #17409 closed

[2020-08-09 07:42] #17385 closed

[2020-08-09 11:24] S01den opened #17431 "[PE] Segmentation fault by opening a binary (Bug in Pe32_bin_pe_compute_authentihash)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | 5.6.16-1-Manjaro x86_64, Kubuntu x86 32
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32, x86/64
| r2 -v

[2020-08-09 15:00] condret commented on #17393
you probably can ignore the CC thing, from the information that I've read, gameboy rom developement never had any standartized calling conventions. Devs often built their own macro assembler tools or just did handwritten asm.

[2020-08-09 15:49] gogo2464 commented on #17393
@condret I believed there was a problem with esil because I saw the warning and a comment in the code. See [](https://github.com/radareorg/radare2/blob/master/libr/anal/p/anal_gb.c#L41) I may have been wrong.

[2020-08-09 17:35] HoundThe opened #17432 "AFS won't allow any custom type in the signature"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 20.04
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (m

[2020-08-09 21:59] gogo2464 opened #17435 "add debug infos to RBinPlugin for gameboy"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I want to analyze a gameboy rom decompiled and then recompiled with more documentation in the code. I see a lot of missing information  such as function and label names. Radare2 does not handle debug infos such as function names. The gameboy emulator BGB handle these.

**Describe the solution you'd like**

[2020-08-09 22:02] gogo2464 commented on #17435
I may write this plugin. I will do it when I will have closed this issue: [](https://github.com/radareorg/radare2/issues/414). @condret may also be interested to write this plugin.

[2020-08-10 03:26] junchao-loongson commented on #17413
my test file: https://github.com/junchao-loongson/test-bin/raw/master/fn
fn: ELF 64-bit **LSB** executable, MIPS, MIPS64 rel2 version 1 (SYSV), dynamically linked, interpreter /lib64/ld.so.1, BuildID[sha1]=95648b7f4dc23b552e1c55fc701a6c6d3683381d, for GNU/Linux 2.6.32, not stripped

This is an LSB file, so there is a problem

[2020-08-10 06:07] XVilka opened #17437 "OpenBSD - "db/esil/arm_16 arm s110 syscalls /ad svc“ test failing"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | OpenBSD x86_64
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (m

[2020-08-10 06:43] XVilka commented on #17432
It allows only the types that are predefined at this stage, i.e. known to the compiler. It will be eliminated once we switch to [tree-sitter](https://github.com/tree-sitter/tree-sitter-cpp/).

[2020-08-10 08:23] #17414 closed

[2020-08-10 09:22] XVilka commented on #16168
It seems hugely broken now:
[code]
Looks like problem might be somewhere in IO layer:
[code]
and so on for various DWARF and PDB failures, @HoundThe please take a look - here are the logs: https://travis-ci.com/github/radareorg/radare2/jobs/370233920

[2020-08-10 09:25] XVilka opened #17438 "ARMv8 build failure"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu aarch64
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | ARMv8
| r2 -v full output, **not truncated** (ma

[2020-08-10 09:38] HoundThe commented on #16168
Seems that some tests fail at `r_bin_open()` and from a first look it seems that some readings have endianess issues. I'll have a deeper look

[2020-08-10 10:01] HoundThe commented on #17432
Hmm is there some issue or PR regarding the tree-sitter switch?

[2020-08-10 10:14] trufae commented on #17438
i dont think this is related to arm at all. it seems a problem with 2d160f250918609fa8f399a33f003cedaa85d888

[2020-08-10 10:15] trufae commented on #17438
i have native ubuntu on arm64, so i'll try

[2020-08-10 10:37] XVilka commented on #17432
No separate issue, just a comment: https://github.com/radareorg/radare2/issues/4369#issuecomment-652987136

[2020-08-10 11:13] HoundThe commented on #17432
So I guess I should leave it as it is without signature change until tree sitter switch?

[2020-08-10 13:14] phakeobj commented on #17353
The code in mach0 looks very much like the code in dyld which makes it pretty convenient to understand, and this is also right for the leb128 implementation which are a bit different from the variants in libr/util/uleb128.c. most of the differences are minor, like what's returned in the return value of the function and what's returned in the arguments, some sanity checks, but nothing more (if I'm

[2020-08-10 15:07] himekifee commented on #17418
I think it's still leaking on your branch but with a lower rate.

[2020-08-10 15:23] swoops commented on #17418
I suspect you are right. I plan on refactoring that code soon. I should be able to significantly speed up signature matching. So I don't want to invest too much time tracking down leaks in code that I might be replacing anyways.

[2020-08-10 21:13] gogo2464 commented on #17393
@trufae you might need to close my issue if you do not think it pertinent.

[2020-08-11 08:15] phakeobj commented on #17431
Triggering binary: [output.zip](https://github.com/radareorg/radare2/files/5055654/output.zip)

[2020-08-11 18:26] #17264 closed

[2020-08-11 18:27] thestr4ng3r opened #17444 "Finish r_time APIs"
Follow-up for #17276, about `r_sys_now()` and `r_sys_now_mono()`:

* [x] Make a pr moving the API into `r_time.h`
* [ ] Make another pr splitting `r_sys_now(_mono)?` into `r_sys_now(_mono)?_ms` and `r_sys_now(_mono)?` where the latter will give you a full timespec-like struct.

[2020-08-12 04:15] #17413 closed

[2020-08-12 04:26] #17418 closed

[2020-08-12 04:33] XVilka commented on #17264
I cherry-picked the fix into `release-4.5.0` branch for the [future 4.5.1 release](https://github.com/radareorg/radare2/milestone/57).

[2020-08-12 05:08] XVilka commented on #17278
Might be also related (error message looks the same) https://github.com/radareorg/radare2/issues/17417

[2020-08-12 10:05] XVilka opened #17447 "Import testsuite from SoK"
This testsuite provides binaries compiled with various compilation and optimization options, we can compare analysis results and improve them.

https://github.com/junxzm1990/x86-sok/tree/master/testsuite

See the paper at https://arxiv.org/ftp/arxiv/papers/2007/2007.14266.pdf

[2020-08-12 12:25] 08A opened #17448 "Separation of the binary loading and some analysis"
**Is your feature request related to a problem? Please describe.**
 #17300
We can't solve some problem link with the plt, if we don't do some analysis process.

**Describe the solution you'd like**
We need to separate the binary loading with the must have (load dynamic section, info, list relocs, ect...) and the analysis part (identify the plt entries, ect...).

**Describe alternatives you've cons

[2020-08-12 12:27] 08A commented on #17448
Right now for me the most important part is identifying what need to be switch to the analysis part and implement all the analysis command needed. After that we can try to solve #17300.

What is the opinion of the radare2 community?

[2020-08-12 12:46] 08A opened #17449 "Create a 'real' centralized parser"
**Is your feature request related to a problem? Please describe.**
The parsing is mixed with the code logic
Example
[code]

**Describe the solution you'd like**
Explicit in the documentation the parsing process, location, ect...
https://github.com/radareorg/radare2/pull/17326 ~Centralized the help (aa?, a?, ?)~
Maybe create a new interface to add cmd like
[code]

**Describe alternatives you've con

[2020-08-12 12:52] 08A opened #17450 "Clarify the interface module inside r2"
**Is your feature request related to a problem? Please describe.**
The interface is a mess right now.
Just open a random file and try to understand what the heck is going on.

**Describe the solution you'd like**
Create a ref of what is implemented, what need to be simplify, rework, write.

**Describe alternatives you've considered**
Search for alternative rendering lib and implement the basics.

[2020-08-12 13:54] 08A commented on #16493
@XVilka The first one is not really a bug, because the type of cmd is ut8, cmd is never > 256.

But we could maybe explicit the possible problem, so if in the future someone change the type of cmd (or the value of RAP_PACKET_MAX) there will be not problem.

Example:
[code]

[2020-08-12 13:57] 08A commented on #16493
For the second problem, what is the max value of Content-length attribute (imho the value should be < 5000 bytes => https://en.wikipedia.org/wiki/Maximum_transmission_unit).

[2020-08-12 14:20] XVilka commented on #17449
Duplicate of https://github.com/radareorg/radare2/issues/7967

[2020-08-12 14:20] #17449 closed

[2020-08-12 15:57] trufae commented on #16493
the MTU varies depending on the network link, type and communications quality. i dont see why it should be hardcoded to 5k. and content-length have nothing to do with MTU. otherwise browsers wont be able to fetch any file bigger than 5KB

[2020-08-12 15:58] trufae commented on #16493
the fix for this would imply reading in a loop with recv until the whole contents (or socket error) happens

[2020-08-12 16:13] 08A commented on #16493
In conclusion we can't hard code a threshold.

[2020-08-12 16:26] karliss commented on #17450
By interface do you mean the text user interface? Not r2 API in general or r2 module for analyzing interfaces in executables.

[2020-08-12 18:28] trufae opened #17455 "Rename asm.filter to asm.sub and asm.sub.* to sub.* like it's done in asm.emu/emu.*"
This is not really an issue but a proposal to change this for consistency, because asm.filter is related to asm.sub, so it makes sense to use similar names.

[code]

[2020-08-12 22:25] HoundThe commented on #16168
I've just now noticed that DWARF has custom macros  to read that looks like they care about endianness, but they assume little endian everywhere
[code]

[2020-08-13 04:26] XVilka commented on #17444
See also:
![image](https://user-images.githubusercontent.com/203261/90094346-42784a80-dd60-11ea-8be5-2334c2703210.png)

[2020-08-13 04:58] XVilka opened #17458 "`/a` command doesn't take `asm.arch` and `asm.bits` from the binary file"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu PPC
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | PPC
| r2 -v full output, **not truncated** (mandat

[2020-08-13 05:55] #3929 closed

[2020-08-13 07:40] XVilka opened #17460 "Fix static build for Xtensa plugin"
We should fix the static build to build also the Xtensa plugin, othewise it fails the tests: https://github.com/radareorg/radare2/runs/978805852
[code]

_Originally posted by @XVilka in https://github.com/radareorg/radare2/pull/17141#issuecomment-673243956_

cc @trufae

[2020-08-13 08:57] thestr4ng3r commented on #17444
That's not new, but yes `strftime()` should be used instead

[2020-08-13 14:39] 08A commented on #17450
I talk about TUI

[2020-08-13 14:40] 08A opened #17464 "Exclude shlr dir from lgtm analysis"
**Is your feature request related to a problem? Please describe.**
There is a lot of lgtm issue not related to the r2 codebase (shlr/*)

**Describe the solution you'd like**
Modification of the .lgtm.yml

**Describe alternatives you've considered**
...

**Additional context**
#16493

[2020-08-13 15:13] trufae commented on #17464
sgtm

[2020-08-13 15:15] 08A commented on #17464
?

[2020-08-13 15:18] trufae commented on #17464
sounds-good-to-me to disable the looks-good-to-me in shlr

[2020-08-13 15:19] trufae commented on #17464
But there's some stuff in shlr/ that its not from 3rd party projects (like the gdb code)

[2020-08-13 15:19] 08A commented on #17464
Okay ty

[2020-08-14 06:09] XVilka opened #17469 "sdb build problems after iOS fixes"
[code]
https://github.com/radareorg/radare2/runs/983548362#step:9:90

[code]

[2020-08-14 08:52] XVilka commented on #10439
@devnexen you might be interested in this one.

[2020-08-14 09:06] XVilka commented on #10137
@devnexen I did https://github.com/radareorg/radare2/pull/17470 also I think it's possible to update the package in DragonFly to 4.5.0.
We also plan the patch release 4.5.1 soon: https://github.com/radareorg/radare2/milestone/57

Tell me if the patch is required so I can cherry-pick it to the 4.5.1 branch.

[2020-08-14 09:07] devnexen commented on #10439
I ll try to have a look at some point.

[2020-08-14 12:12] trufae commented on #17469
is this fine in master and broken in 4.5.1?

[2020-08-15 09:00] #6269 closed

[2020-08-15 09:00] #6810 closed

[2020-08-15 09:00] #3388 closed

[2020-08-15 09:00] #6500 closed

[2020-08-15 09:00] #5451 closed

[2020-08-15 09:00] #1511 closed

[2020-08-15 09:00] #5458 closed

[2020-08-15 09:00] #3005 closed

[2020-08-15 09:00] #3436 closed

[2020-08-15 09:00] #6012 closed

[2020-08-15 09:00] #7130 closed

[2020-08-15 09:00] #7159 closed

[2020-08-15 09:00] #6804 closed

[2020-08-15 10:00] #3948 closed

[2020-08-15 10:00] #4171 closed

[2020-08-15 10:00] #4175 closed

[2020-08-15 10:00] #2896 closed

[2020-08-15 10:00] #4955 closed

[2020-08-15 10:00] #5182 closed

[2020-08-15 10:00] #5423 closed

[2020-08-15 10:00] #1375 closed

[2020-08-15 10:00] #5289 closed

[2020-08-15 10:00] #6155 closed

[2020-08-15 11:47] #1717 closed

[2020-08-15 15:28] #2392 closed

[2020-08-16 13:10] brainstorm opened #17474 "MINICUBE2_Firmware_V707 firmware assertion failures on analysis"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | OSX Catalina
| File format of the file you reverse (mandatory)      | iHEX
| Architecture/bits of the file (mandatory)            | SH4 32bits
| r2 -v full output, **not truncated

[2020-08-16 14:35] XVilka commented on #17469
@trufae precisely.

[2020-08-16 15:19] trufae commented on #17469
Then its probably because of a missing commit in that branch. Im against maintaining multiple branches. The development slowdowns by 1000x and forces people to fix and review the same bug multiple times eithout considering the testsuite changes and such. Im frustrated enough to spend time looking at this. Sorry

[2020-08-16 17:18] MaorNr opened #17475 "PE Loader Does Not Enforce FileAlignment on Section Starts"
radare2 seems to have the same bug I reported here:
https://github.com/Vector35/binaryninja-api/issues/1875#issuecomment-671099707

[2020-08-16 20:18] #11550 closed

[2020-08-16 20:19] GustavoLCR commented on #17475
Wasn't this fixed with https://github.com/radareorg/radare2/pull/17219?

![image](https://user-images.githubusercontent.com/23562137/90343201-8f6c5300-dfe4-11ea-9de6-0deedc05a2bb.png)

What version are you using?

[2020-08-17 02:09] MaorNr commented on #17475
4.3.1 windows

[2020-08-17 03:56] yaozhongxiao opened #17477 "sys/user.sh building fail"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                                                | x86_64 GNU/Linux

commit 3ef9c81da91a51ffe542c9b9c109e8ac4335e912

### Expected behavior
The following command  will build and install radar2 successfully
[code

[2020-08-17 04:36] #17431 closed

[2020-08-17 04:36] XVilka commented on #17475
Please recheck with the latest version 4.3.1 is too old.

[2020-08-17 05:01] XVilka opened #17478 "bins/fuzzed/r2-SEGV-186-34e-f41 fail"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86_64
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| r2 -v full output, **not truncated** (mandato

[2020-08-17 05:04] XVilka commented on #17478
We don't run fuzzed tests on PR while do for master - this is why PRs were green while master is read.

[2020-08-17 06:30] trufae commented on #17478
Shouldnt this be the other way around?

[2020-08-17 06:36] trufae commented on #17477
Can you send a PR instead?

[2020-08-17 06:46] XVilka commented on #17478
Probably, but then the complaints about PR check speed would be way bigger.

[2020-08-17 07:26] yaozhongxiao commented on #17477
of course, i will send PR after i have learned the contributing rules.

[2020-08-17 10:35] trufae commented on #17474
There's no calling convention defined for this architecture. so it's a matter of adding it, but it's clear the error for such issue shouldnt be an assert. See https://github.com/radareorg/radare2/pull/17481

[2020-08-17 10:44] trufae commented on #17458
The test is wrong. this file is loaded with -n which ignores the arch, and xor al, 0x80 is not a valid powerpc instruction. so its not a bug in /a

[2020-08-17 10:58] trufae commented on #16168
thats bad

[2020-08-17 11:10] XVilka commented on #17474
- https://gcc-renesas.com/manuals/SH-ABI-Specification.html
- https://devblogs.microsoft.com/oldnewthing/20190820-00/?p=102792

[2020-08-17 20:19] bannsec opened #17483 "Proximity view"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
IDA has a nice feature that's called "Proximity View" which allows you to ask "how do i get from this place to this place" via the call graph. It would be nice if r2 supported that as well.

**Describe alternatives you've considered**

**Additional context**

[2020-08-17 21:51] trufae commented on #17483
Use axt

[2020-08-17 22:15] bannsec commented on #17483
That appears to just be x-refs. proximity view uses the CFG to find possible paths between two locations, rather than a direct reference.

[2020-08-18 04:11] XVilka commented on #17477
Fixed in https://github.com/radareorg/radare2/commit/b363ec4e0ff9d207ecf546ca750592f04ed49429

[2020-08-18 04:11] #17477 closed

[2020-08-18 04:15] XVilka commented on #17464
In fact not all of `shlr/` should be excluded.
For example, these are either presented only in radare2 or an independent fork:
- `shlr/windbg`
- `shlr/gdb`
- `shlr/tcc`
- `shlr/qnx`
- `shlr/java`
- `shlr/heap`
- `shlr/ar`
- `shlr/bochs`

[2020-08-18 04:23] #8749 closed

[2020-08-18 04:56] XVilka opened #17487 "`r2 -d /bin/ls` - Invalid hexpair string"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 32 x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated*

[2020-08-18 15:00] trufae commented on #17483
Sorry i mean axg

[2020-08-18 15:58] bannsec commented on #17483
oh nice. not a big thing but would be nice to be able to specify a starting point for the graph. For instance, if i can get my program already to function x, and want to know specifically how to get from there to function y. That said, I can manually do that with filtering the json or something.

[2020-08-18 17:52] trufae commented on #17483
axg dest @ source

both addresses can be inside any functtion, it follows bbs inside functions and then xrefs across functions to determine the paths. you can also use axg* to render the interactive visual graph of all the paths to reach a specific point starting from antoher point.

im closing this issue, because i guess that's all you are looking for

[2020-08-18 17:52] #17483 closed

[2020-08-19 03:13] #17458 closed

[2020-08-19 11:03] #16353 closed

[2020-08-19 13:44] zsugabubus opened #17492 "Alt+key triggers quit"
Pressing any <kbd>Alt+key</kbd> makes r2 quit, except the ones that needed for line editing (like <kbd>Alt+f/b</kbd>; maybe these are the only two exceptions). Issue _does not_ seem to be terminal dependent.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)

[2020-08-19 14:01] zsugabubus opened #17493 "Piped process does not get waited after terminal resizing"
`e??|nvim` or `e??|less` produces strange behavior after r2 receives `SIGWINCH`: r2 does not wait for the foreground process to finish and starts reading and writing to the terminal, that potentially results in a big mess.

[2020-08-19 14:24] karliss commented on #17492
<kbd>Alt+f</kbd> and <kbd>Alt+b</kbd> Seems to work for me, please fill out the information requested in issue template and describe your environment in more details.

[2020-08-19 14:28] trufae commented on #17492
Cant repro. Please specify version of r2, os, arch and terminal you are using

[2020-08-19 14:34] officialcjunior commented on #17072
How should I get around the error `-Wunused-function`?
I tried putting `R_UNUSED` from `r_types.h` as an attribute on one of those functions, but it gave me:
` warning: GCC does not allow '__unused__' attribute in this position on a function definition`

[2020-08-19 14:41] kazarmy opened #17494 "?q/?+/?!-using test fails under newshell"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora Rawhide x86-64
| File format of the file you reverse (mandatory)      | Not applicable
| Architecture/bits of the file (mandatory)            | Not applicable
| r2 -v full

[2020-08-19 14:46] trufae commented on #17072
Fixing the code.
 adding compiler specific attributes is never a good idea

[2020-08-19 15:17] kazarmy opened #17495 "e cfg.newshell=false in test body does not switch to old parser"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora Rawhide x86-64
| File format of the file you reverse (mandatory)      | Not applicable
| Architecture/bits of the file (mandatory)            | Not applicable
| r2 -v full

[2020-08-19 16:02] ret2libc commented on #17495
I will have a look thanks. I think a workaround short term should be to use `ARGS=-ecfg.newshell=true`.

[2020-08-19 21:04] zsugabubus commented on #17492
Updated the issue report.

Sorry for my English. I wanted to say that the issue occurs with most keys **except** the ones that needed for line editing, like <kbd>Alt+f/b</kbd>. They are working fine for me too. The issue is with key presses like <kbd>Alt+v/h/j/k/l</kbd>.

[2020-08-20 04:58] XVilka commented on #17478
Fixed in https://github.com/radareorg/radare2/commit/4bc96b847aed10d3c04eea62bad5d7bc0ba3c228

[2020-08-20 04:58] #17478 closed

[2020-08-20 13:12] crv-intel opened #17500 "Debugger broken on BSD again"
Using radare2 4.5.0 on FreeBSD 12.1

[~]$ r2 -d /bin/ls
Process with PID 17121 started...
= attach 17121 17121
bin.baddr 0x00400000
Using 0x400000
asm.bits 32
 -- Wait a minute! I found a bug, self-fixing ... OK
[0x2040c000]> ds
Stepping failed!
Step failed

[2020-08-20 13:51] hexploitable commented on #17368
I believe the issue is not only with `izj` but with the json output generator in general. For example, the following output is received via `iVj` and produces invalid JSON too:
[code]

[2020-08-20 16:17] kazarmy commented on #17368
See https://github.com/radareorg/radare2/pull/17501#issuecomment-677761678.

[2020-08-20 16:48] HoundThe commented on #7863
^ The DWARF PR added integration of the DWARF variable info into functions, but it's still far from perfect as DWARF is very complex format (So I wouldn't close it)

I'll just specify some things that are still in my head for future reference of what's missing to DWARF variables.

- Very often, especially unoptimized binaries are using location is Call frame information (CFA store in .debug_frame

[2020-08-21 03:57] XVilka commented on #17500
Could you please retry with the version from git?

[2020-08-21 09:46] XVilka opened #17505 "Decide between `_MSC_VER` and `__WINDOWS__`"
Currently we use both, but it's probably wrong:
[code]

[2020-08-21 11:32] alex-bender opened #17506 "Can not open file via http"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| r2 -v full output, **not truncated** (mandatory)     | radare2 4.6.0-git 25587 @ linux-x86-64 git.4.4.0-574-g3c8890013 commit: 3c889001347fb764db98594b97e65b4e22cf

[2020-08-23 18:12] #10700 closed

[2020-08-23 19:56] 0x8008135 commented on #9384
@mscherer please check my PR (disass + anal fix)

[2020-08-24 05:45] ret2libc commented on #17034
Did we reach any conclusion on this? I'm personally for removing the feature because it is as unreliable as possible, thus something I would not trust using in any case. However, if users think it's better to keep the feature as is until a replacement will be available, I'm ok as well.

Let's try to reach an agreement in less than one month, so we can either close this issue or work on removing th

[2020-08-24 09:27] Artoria2e5 opened #17510 "`zo` does not seem to load my handcrafted SDB file"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS amd64
| File format of the file you reverse (mandatory)      | Mach-O
| Architecture/bits of the file (mandatory)            | amd64
| r2 -v full output, **not truncated** (

[2020-08-24 12:06] enovella opened #17511 "Stack-based overflow in mpc_parse_run when using r2ghidra-dec"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template below*

### Work environment

| Questions                                            | Answers
|------------

[2020-08-24 18:00] trufae commented on #17510
txt != sdb

[2020-08-24 19:48] trufae commented on #17506
as a workaround you can set R2_CURL=1 env var

[2020-08-25 04:07] XVilka commented on #17105
@kazarmy since you are working on `r2r` lately, maybe you could take a look at this one?

[2020-08-25 05:07] FXTi opened #17518 "r_reg_get_name_idx doesn't check string length"
Problem:
When my `get_reg_profile` is called:

Here's functions result:
[code]

`PC` and `PCR` register should not collide.
According to my understanding, the issue is that: In `parse_def(RReg *reg, char **tok, const int n)`, it calls `r_reg_get` to verify if given register is already exists.
And when `PCR` is passed to `r_reg_get`, `=PC	PC` is processed.
So `r_reg_get(..., PCR, -1)` -> `r_reg_get

[2020-08-25 08:27] trufae commented on #17518
As discussed in Telegram:

* Registers must be lowercase
* Reg aliases must be 2 char in length and uppercase

So, using uppercase registers will work for X86, but not for ARM for example, so my suggestion here is:

* Make all the registers lowercase in your side
* Add the if (!name[0] || !name[1] || name[2]) check in this function to ensure length = 2

[2020-08-25 09:45] mrglm commented on #17039
Hey @thestr4ng3r @trufae @XVilka, I was able to look into this issue recently and I wrote a fix for it. Right now it's kinda ugly because it's reusing around 80 lines of code from `anal_fcn_list_bb()` to create the JSON string for a basic block. If that's okay with you I'll create a function for that in order to remove the duplicate code, and also add a test for the `abj` feature.

[2020-08-25 10:27] kazarmy commented on #17105
wasn't working on every part of r2r though

[2020-08-25 10:30] 08A commented on #17464
@XVilka Could you explain which subdir in shlr should be discard?

[2020-08-25 10:57] ret2libc commented on #17510
As @trufae said, you should use a `sdb` file, not a txt file. To get a sdb file from txt, you can use something like `sdb output.sdb = < input.sdb.txt` (you have to compile and/or install sdb). However, even by doing so I do not think your file would work.

I believe `zo` expects to find a sdb file as saved by `zos`, which is different from the format used by your example SDB file.

Does that help

[2020-08-25 11:08] ret2libc commented on #17464
I can tell some directories that *should be monitored* by LGTM:
* radare2-shell-parser

And some that *should NOT be monitored*, as they are separate projects:
* capstone
* sdb
* spp
* tree-sitter

Maybe someone else can integrate/correct these.

[2020-08-25 15:33] ret2libc commented on #16493
@08A the first issue is that `cmd` comes from the user, because it is read from the socket, so it can be any value. For example, if `cmd` is 255 (0xff), then the malloc does `malloc (cmd + 1)`, but since `255+1` is done as a ut8 operation, the result overflows and it is `0`. Thus, `ptr` points to a buffer of `0` bytes. After that there is a `r_socket_read_block (c, ptr, cmd);`, so you would try to

[2020-08-25 15:39] ret2libc commented on #16493
The second issue reported by LGTM is exactly the same, but with the `content_length` variable. Checking for overflows should fix this LGTM warning as well, I think.

[2020-08-25 15:50] haystack-ia opened #17523 "PLT stub names not being resolved properly"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | arm 32
| r2 -v full output, **not truncated** (ma

[2020-08-25 16:16] 08A commented on #16493
From what i understand in C any not annotated literal is an integer. So there can't be any overflow.

We could use UT8_ADD_OVFCHK?

[2020-08-25 16:18] eagleoflqj commented on #16493
Due to [integer promotion](https://en.cppreference.com/w/c/language/conversion#Usual_arithmetic_conversions), `cmd+1` is first treated as `(int)cmd+1`, then converted to `malloc`'s parameter type `size_t`, so no overflow occurs.

[2020-08-25 19:42] ret2libc commented on #16493
Ooopss... Right, thanks for pointing it out, my bad! However, I think the reasoning does apply for the second issue, because `content_length` is `int`. So a integer wraparound  could happen in that case. Correct me if I'm wrong please. The first issue, then, may be indeed a false positive from LGTM :/

[2020-08-25 21:36] Artoria2e5 commented on #17510
I get it now. But since zos is a different format, do we have a command that reads the same format as given in the many sdb.txt files in this repo?

[2020-08-26 03:41] #17518 closed

[2020-08-26 07:40] ret2libc commented on #17450
Could you explain a bit more what you mean? If you are talking about UI, also some screenshots would help and try to describe exactly the problem instead of "it is a mess".

[2020-08-26 07:48] ret2libc commented on #17455
I do not think it makes sense to have `sub.` at the top level but `asm.sub` under `asm.` which enables/disables `sub.*` vars. If we want to extract `asm.sub.*` into `sub.*` then `asm.filter` should be `sub.something` otherwise you have some config vars at the top level and the "trigger" somewhere else. If, instead, you think the `sub.*` variables are only related to `asm`, then all the `asm.sub.*`

[2020-08-26 07:50] ret2libc commented on #17449
@08A by the way, if you want you can use `e cfg.newshell=true`, which enables the new parser we are developing with tree-sitter. It centralize the parsing of command, command arguments, etc. Right now we are in a sort of mixed-state, because we have to be somehow compatible with existing code, but the idea is to move everything to the new parser at some point.

[2020-08-26 07:55] 08A commented on #17449
@ret2libc Okay thanks and where can I found the new implementation?

[2020-08-26 08:00] 08A commented on #17450
The libr/cons/* file are not documented (for example r_line_readline_cb).

You can't add things without breaking some stuff.
It is really complicated to contribute to this part of the project.

[2020-08-26 08:03] 08A commented on #17450
libr/cons/dietline.c line 49: static void backward_kill_word(void)
libr/cons/dietline.c line 77 static void backward_kill_Word(void)

The difference between those 2 functions?

[2020-08-26 08:05] 08A commented on #17448
@ret2libc What do you thinks of this idea?

PS: You can look at this link https://github.com/NationalSecurityAgency/ghidra/issues/2201

[2020-08-26 08:07] XVilka commented on #17450
https://book.rada.re/basic_commands/dietline.html

[2020-08-26 08:13] 08A commented on #17450
From what i understand it is user documentation. What i want is dev documentation (I know self-documented).
But if we don't have any documentation for the dev, we need a cleaner implementation.

[2020-08-26 08:40] ret2libc commented on #17449
The tree-sitter grammar is in `shlr/radare2-shell-parser/`. That parts just ensure that commands arguments are correctly split, etc. Then in `core/cmd.c:r_core_cmd` you can see where all things start. When cfg.newshell=true, the function will just execute:
[code]

you can follow the code from there.

Then in `r_cmd.h` you can see some functions like `r_cmd_desc_argv_new` that are used to add comma

[2020-08-26 08:55] trufae commented on #17450
kill_Word, in uppercase makes me think that stops the microsoft Word process, but it's probably going to be a mistake

[2020-08-26 09:00] ret2libc commented on #17450
@08A I see :( unfortunately, we don't have anything for it and I do agree it is very hard to touch some parts of the code without breaking stuff. At the same time, it is also hard to test this kind of things. And the same applies for all the Visual things as well. We don't have any test for anything that requires user interaction :( and we don't have code documentation... The code documentation ca

[2020-08-26 09:02] XVilka commented on #16130
Updated the Infer from git, r2 from git and rerun - see the attached log.

[2020-08-26 17:44] P-Vishnu-Madhav commented on #11611
I want to work on this issue can someone assign me?

[2020-08-26 18:53] thotypous opened #17528 "Segfault on r_sign_addto_item when creating a signature from a libc"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux amd64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | ARM
| r2 -v full output, **not truncated** (

[2020-08-26 19:04] swoops commented on #17528
This is a NULL pointer de-reference here: https://github.com/radareorg/radare2/blob/master/libr/anal/sign.c#L833

I *think* the root cause is function `fcn.00054758` has an empty list of basic blocks:
[code]
I don't think any function should have an empty list of basic blocks. The sign.c code would still benefit from a check here to prevent crashes, but I think the real bug is in the analysis of t

[2020-08-26 20:38] trufae commented on #11616
This issue was fixed already. Pool.c no longer exists in util

[2020-08-26 20:38] #11616 closed

[2020-08-27 04:13] #9202 closed

[2020-08-27 10:09] ret2libc commented on #17495
Ok I think I understand what's going on. The issue is that the entire script is considered as a single "unit" and because R2_CFG_NEWSHELL is set to 1, that whole script is passed to newshell. During the execution of the script, newshell variable is changed to false, but this is already too late because everything was already passed to the newshell parser.

I'm not sure how to fix this or if it's e

[2020-08-27 10:29] #10845 closed

[2020-08-27 10:47] kazarmy commented on #17495
Well, the engineering should be modular enough such that one should be able to cleanly switch between the parsers, and it was a big what-the-heck moment, but since we are planning to replace the old parser entirely I agree the benefits should outweigh the costs.

[2020-08-27 11:59] ret2libc commented on #17495
I'm going to close this without fixing it. Thanks for finding this!

[2020-08-27 11:59] #17495 closed

[2020-08-27 13:30] ret2libc commented on #16535
In theory this should be done, since the merge of #17355 . I'm going to close this once I see it working. https://github.com/radareorg/radare2/actions?query=workflow%3ACI+event%3Aschedule should list something in next days. I'll keep an eye on this and close if everything works right.

[2020-08-27 20:07] #15459 closed

[2020-08-28 05:30] #9821 closed

[2020-08-28 11:13] #17494 closed

[2020-08-28 12:38] HoundThe commented on #17134
I guess I can tick, ASCII inheritance graph with this PR https://github.com/radareorg/radare2/pull/17362

[2020-08-28 12:41] FXTi opened #17541 "Float arithmetic support in ESIL"
Ghidra's emulation system has supported float operation for a long time. And it's kind stupid to work around existing ESIL infrastructure for supporting float operation.(Yes I did!) Native support is rather better and I think ESIL needs enhancement imho.

If anyone want to do this, you can check my pr. Honestly, my implementation is bad, very bad.

I' ll set `is_float` flag if I move a float value

[2020-08-28 20:01] P-Vishnu-Madhav commented on #11611
I am sorry can someone assign me I removed my self by mistakenly

[2020-08-29 05:03] swoops opened #17546 "Tracking progress on ##signatures"
I have a mental list of things I want to fix, refactor or add to `r_sign`. I figured I would make it public so I could receive feedback. Some of these may be a bad idea and someone should tell me no before I get started.

## refactor/fixes
- [x] Disable by default `o`ffset signature
- [x] Fix parsing of type signatures.
- [x] ~~Simplify `t`ype signature format.~~ Found better solution
- [x] Don't

[2020-08-29 12:48] #931 closed

[2020-08-30 07:44] gangural opened #17553 "r2 debugger hangs forever when hit breakpoint of GUI program"
# I will update details now

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template below*

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)

[2020-08-30 08:53] gangural commented on #17553
I am sorry, issue fixed after updating to latest version from git:
`radare2 4.6.0-git 25139 @ linux-x86-64 git.4.4.0-603-gef0beed4b
commit: ef0beed4b1bb440fab6cad43e3e1213637da6575 build: 2020-08-30__10:53:31`

[2020-08-30 08:53] #17553 closed

[2020-08-31 05:48] XVilka opened #17556 "Travis project failures for ARM, PPC, ASAN builds: WARNING: r_file_abspath: assertion 'file' failed (line 237)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64, Ubuntu ARM64, Ubuntu PPC
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | PPC, x86/64, ARMv8
| r2

[2020-08-31 05:50] XVilka commented on #17523
See also https://github.com/radareorg/radare2/issues/17300

[2020-08-31 07:08] XVilka commented on #17438
Works now.

[2020-08-31 07:08] #17438 closed

[2020-08-31 10:50] radare opened #17558 "hex.offset is not honored in some px "hex print commands""
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian arm 64, Ubuntu x86 32
| File format of the file you reverse (mandatory)      | PE, ELF etc.
| Architecture/bits of the file (mandatory)            | PPC, x86/32, x86/64 etc

[2020-08-31 14:16] 08A commented on #17523
@XVilka Yep again the same bug, i am writing a python script to see if an analysis cmd could fix this

[2020-08-31 14:34] haystack-ia commented on #17523
You may find this script useful maybe: https://github.com/haystack-ia/radare-funhouse/blob/master/plt_fixup.py

This is how I bandaid-ed the problem for my own analysis. I don't have an architecture-agnostic solution though.

[2020-08-31 14:35] 08A commented on #17523
@haystack-ia Yep your analysis is a good entry Thanks

[2020-08-31 17:07] 08A commented on #17523
If you want to look at the implementation.
https://github.com/08A/radare2_misc/blob/master/plt_got.py
It doesn't work on some arm binary because (bug ?)

[2020-08-31 17:08] 08A commented on #17448
An example of implementation https://github.com/08A/radare2_misc/blob/master/plt_got.py

[2020-08-31 17:48] 08A commented on #17300
@XVilka Does this [script](https://github.com/08A/radare2_misc/blob/master/plt_got.py) output what you want.

PS:
format is [plt_addr] -> [got_addr]
And yes i now the first line is false, i don't know how to solve that

[2020-09-01 09:08] ret2libc commented on #17469
This should be fixed.

[2020-09-01 09:08] #17469 closed

[2020-09-01 09:10] ret2libc commented on #16535
Ok, looks like this ran correctly. https://github.com/radareorg/radare2/actions?query=workflow%3ACI+event%3Aschedule There are problems with the build-static build, but everything runs. Closing.

[2020-09-01 09:10] #16535 closed

[2020-09-02 04:33] XVilka commented on #15688
@trufae have you had a chance to take a look at those?

[2020-09-02 09:39] XVilka commented on #13853
Related: https://github.com/radareorg/radare2/issues/16226

[2020-09-02 15:58] cpey opened #17577 "Properly handle .text section relocations"
Static .text section relocations are not handled properly. Demo relocatable object [attached](https://github.com/radareorg/radare2/files/5163379/test.zip).

[code]

In Radare2:

[code]

As an example IDA resolves by linking onto a phony extern segment:
[code]

[2020-09-02 18:48] ret2libc commented on #17577
When you start `radare2` on a relocatable object it should tell you something like `Warning: run r2 with -e io.cache=true to fix relocations in disassembly`.

If you do `radare2 -e io.cache=true -A ./test.o` you see:
[code]

[2020-09-03 03:38] cpey commented on #17577
Wouldn't we prefer to have the option set by default?

[2020-09-03 03:57] Mic92 commented on #17431
@XVilka Is there anything else missing for a bugfix release?

[2020-09-03 06:04] ret2libc commented on #17577
Yes I can agree it is not ideal, but enabling the option by default could be a bit unexpected for users, as io.cache=false prevents users from changing the view of the binary.

Maybe they should be shown no matter what the value of io.cache. On the other hand, relocations really go and overwrite existing things in memory, so the current way really mimic that process. Also, we already provide a war

[2020-09-03 07:00] #17492 closed

[2020-09-03 10:13] s0i37 commented on #14684
Hello.
Has anything changes in this issue? I'm using `4.6.0-git` and I still have not create structures by pointers. It doesn't work either manually `aht A.b` or automatic `afvt var_8h A*`

[2020-09-03 10:15] s0i37 commented on #14741
It seems work

[2020-09-03 10:15] #14741 closed

[2020-09-03 10:19] s0i37 commented on #14410
Not yet

[2020-09-03 10:27] s0i37 commented on #14240
Good. It works finally!
Grepping works too.

[2020-09-03 10:27] #14240 closed

[2020-09-03 10:35] ret2libc commented on #14684
@HoundThe do you have any comments on this? If not, @s0i37 I'd guess there are no news about this, I'm sorry.

[2020-09-03 10:55] ret2libc commented on #14410
Hi,

I think there are multiple ways you could help to move this forward:
1. If you can/want to contribute, you can have a look at how `iO`/`rabin2 -O` works. In particular, the resizing feature for ELF is implemented in `libr/bin/format/elf/elf_write.c:Elf_(r_bin_elf_resize_section)`. I haven't carefully looked at this, but probably there's something slightly broken there. PRs are very much appre

[2020-09-03 11:30] abcSup commented on #14240
Wait, I do not think my latest PR have solved this problem yet. There is a planned refactor to fix this.

[2020-09-03 12:01] s0i37 commented on #14240
Really? I've tested and it works fine.Shoud I reopen the issue?03.09.2020, 16:31, "Zi Fan" <notifications@github.com>:

Good. It works finally!
Grepping works too.

Wait, I do not think my latest PR have solved this problem yet. There is a planned refactor to fix this.

—You are receiving this because you modified the open/close state.Reply to this email directly, view it on GitHub, or unsubscribe

[2020-09-03 12:13] abcSup commented on #14240
Sorry for the deleted message. I have to check it first and it might be fixed by other PR.

[2020-09-03 13:33] abcSup commented on #14240
I can confirm that it is working somehow, so it can be closed for now.

[2020-09-03 13:44] ret2libc opened #17581 ">> does not work on Windows"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows, builder=vs2019_64
| File format of the file you reverse (mandatory)      | None

### Expected behavior

### Actual behavior
The first "Hello" is overwritten, no matter wh

[2020-09-03 13:45] ret2libc commented on #17581
@GustavoLCR FYI. I quickly tried to fix it with https://github.com/radareorg/radare2/pull/17370/files#diff-a03cd75b9e012e69b19c582495bf7764 but it did not work. I don't have my Windows machine handy in these days (the fan broke!).

[2020-09-03 15:45] s0i37 commented on #14240
Cool!

[2020-09-03 16:31] HoundThe commented on #14684
No, sadly no updates yet.

[2020-09-03 18:56] cpey opened #17583 "R_X86_64_PLT32 relocation types in relocatable objects"
I have a relocatable object ([attached](https://github.com/radareorg/radare2/files/5170656/test_2.zip)) with the following relocations:
[code]
In Radare2:
[code]
Where **`call __fentry__`** should be **`call printk`**.

The problem lies in the fact that the printk relocations are of type R_X86_64_PLT32, together with the relocatable not having .plt section.

[code]
When patching the relocation in

[2020-09-03 22:13] #17581 closed

[2020-09-04 04:44] XVilka commented on #17431
@Mic92 it's released now: https://github.com/radareorg/radare2/releases/tag/4.5.1

[2020-09-04 07:50] ret2libc commented on #17583
@cpey thanks for your report! I will have a look, however could I ask you to follow the issue template we have setup for our users next time when reporting a issue? It helps to immediately understand what's the expected output, what's wrong, if our users are using an updated version, if it is a problem in a particular file format, etc.

[2020-09-04 08:19] Mic92 commented on #17431
Thanks. Nixpkgs will also have it soonish: https://github.com/NixOS/nixpkgs/pull/97091

[2020-09-04 08:42] ret2libc commented on #17583
@cpey please have a look at https://github.com/radareorg/radare2-testbins/pull/49 . If you could test it with other binaries as well it would be much appreciated! Let me know how it works.

[2020-09-04 14:01] #17506 closed

[2020-09-04 15:11] cpey commented on #17583
@ret2libc the fix works great. Thanks.

[2020-09-04 15:24] ret2libc commented on #17583
Let's close this once the PR gets merged. Thanks for testing @cpey !

[2020-09-04 15:41] thotypous commented on #17528
Radare2 does not crash anymore, although there is still an assertion failure.

Tested with:

[code]

Output:

[code]

Feel free to close this bug if you are already tracking the empty basic blocks problem in another issue.

[2020-09-04 17:10] cpey opened #17589 "Inform within disassembler on the performed direct relocations with addend"
**Situation**
The disassembler does not inform on the relocations performed when type is R_X86_64_32S with a **non-null addend**.

In the [test.ko](https://github.com/ret2libc/radare2-testbins/blob/test.ko/elf/test.ko) there is a relocation for kmalloc_caches + 0x460. The .text gets patched correctly but there is no visual indication in the disassembly. `asm.comments` does not provide such informa

[2020-09-04 20:44] czupakabra420 opened #17590 "SIGSEGV in print_types_format in pdb loading functionality"
Radare2 is unable to load pdb file for off-the-shellf google v8 build.

I file this issue not to troll you, not for CVE and  riddiculus infosec e-fame chase, it's not a fuzzing bug, it was found by accident. I really need this functionality to work correctly for the project I am working on.

### Work environment

| Questions                                            | Answers
|-------------------

[2020-09-05 17:04] #17590 closed

[2020-09-05 20:56] Nicceboy opened #17598 "New 'continuous' CI release breaks version/release tracking"
**Is your feature request related to a problem? Please describe.**

New "continuous" CI release breaks release and version tracking through GitHub API. Release and version tracking is useful when automating tool packaging for third-party providers and keeping it up-to-date with official releases instead of master branch.
Example:
[code]
Returns release with tag 'continuous', which is not useful an

[2020-09-05 22:04] karliss commented on #17598
It was discussed a few times that current approach isn't great. A better solution might be running those builds as github actions and uploading results as artifacts without polluting release list and notifications, but someone needs to do it. So far no one has been sufficiently annoyed to do the required work and make a PR.

Marking as pre-release sounds like reasonable and simple improvement unti

[2020-09-06 09:30] ret2libc commented on #17598
What I also wonder is whether those .Deb continuous files are really used/downloaded by anyone. Unfortunately I don't think there is a clear way to know...

[2020-09-06 11:03] karliss commented on #17598
Github release counts are tracked. Not sure where it's displayed in UI but It is available using API. An easy way of viewing it is with this website https://somsubhra.com/github-release-stats/?username=radareorg&repository=radare2 .  One problem is that each time new continuous release is uploaded numbers are reset.

[2020-09-06 17:59] ret2libc commented on #17598
Ok, I'm assigning this to me. The task would be to create a Github workflow that will create artifacts on each commit to master, as @karliss suggested. So we can disable the push from the travis job. @trufae ok with this? Asking because the script is uploading those artifacts with your account.

[2020-09-07 07:10] ret2libc commented on #17598
Unfortunately there is this "small" problem with GitHub artifacts https://github.com/actions/upload-artifact/issues/51 :( This makes them quite useless imo. If we want to keep support continuous build (which I still question...) we may have to do a pre-release.

[2020-09-07 08:14] ret2libc commented on #10891
Can we define what this issue is really about before? Is it about making sure realnames are not escaped? Or about removing the realname/flagname at all? Or just adding a config var? Or what? Issues without a clear way forward are easily left behind and never acted upon. @XVilka

[2020-09-07 10:43] trufae commented on #15688
Nope. But i will have time this week

[2020-09-07 11:03] ret2libc commented on #17589
I do not think this is only about `R_X86_64_32S`. Even `printk` does not tell me that it was relocated.
![image](https://user-images.githubusercontent.com/562321/92381100-8285df80-f10a-11ea-935a-1c06dcbb645a.png)

I think that's just because once the relocation is applied, that is not shown anymore.