[2019-03-20 22:59] JavierYuste commented on #13448
But it should return them as json, while currently its is returning a string of numbers. For instance, running _"iSj"_ returns the following:
_[{"name":".text","size":24576,"vsize":24576,"perm":"-rwx","paddr":3072,"vaddr":4198400},{"name":".data","size":9728,"vsize":16384,"perm":"-rw-","paddr":29184,"vaddr":4222976},{"name":".rsrc","size":30208,"vsize":32768,"perm":"-r--","paddr":40448,"vaddr":423

[2019-03-21 00:07] radare commented on #13448
Use aflj is you want more than just the offset

[2019-03-21 08:26] a1ext commented on #10613
Lets fix them one-by-one.

Next one is the following:
[code]

It caused by double-backslash `\\` because on windows it `\` is valid shell character so it hasn't be escaped. So, I dunno how to fix this

[2019-03-21 08:33] radare commented on #10613
Even in quotes? We can also feed an hexpair string

[2019-03-21 08:37] a1ext commented on #10613
yeah,
![image](https://user-images.githubusercontent.com/14978853/54740888-bba45a00-4bcd-11e9-8e23-4fc5f6fad6b7.png)

[2019-03-21 09:05] wargio commented on #11133
i'm silghtly behind with this one.

[2019-03-21 10:02] XVilka commented on #10613
Also something strange happens in demangling:
[code]

[2019-03-21 10:05] XVilka commented on #10613
This one is probably due to some format string difference between GCC and MSVC:
[code]
And I remember @radare recently met these on another platform:
[code]

[2019-03-21 10:08] XVilka commented on #10613
This one is due to platform environment variables differences: '%' vs '$' and making quotes a part of the variable:
[code]

This test looks very non-portable:
[code]

[2019-03-21 11:33] RomeuG commented on #13393
Hey, how would I achieve this if I wanted to work on it?

[2019-03-21 12:08] XVilka opened #13451 "Fix `afs` to use `td`/`tl`"
Currently `afs` is just a stub. To think how better to implement it - either make an alias for `td` or something else.

[2019-03-21 12:10] XVilka commented on #13401
In general idea is good. I will add my comments when I have time. Not for this release though.

[2019-03-21 15:02] Maijin commented on #10613
This discussion should be moved to r2r and issues open accordingly for every mentioned problems

[2019-03-21 16:43] radare commented on #13451
FTR:

* afs right now seems to do nothing, neither shows or sets any function signature
* you can redefine the function signature with `td` by redefining the functioni if we use the same name in the type
* function types cant contain dots. so iits not possible to define signatures for sym.fun.xxx functions
* imho afs. should be an alias for tf. which doesnt exist either, but must display the func

[2019-03-21 16:43] radare commented on #13451
* td int main(int argc) # works to redefine main signature

Question: how to do type propagation after any function signature change? imnho we should send a message when this happens

[2019-03-21 16:48] sivaramaaa commented on #13451
@radare you can use afta command for propagating type

Yup this could be done , so that it's automatic !

[2019-03-21 19:08] radare commented on #13451
Do afta updates the info or duplicates it if done twice? And i think this must be run everytime we change a function signature. But maybe we should do this via hooks when that event is broadcasted

Can you work on this issue too?

[2019-03-22 05:38] XVilka opened #13458 "Relative addresses in disassembly views"
**Is your feature request related to a problem? Please describe.**

For now both radare2 and cutter show every line with an "absolute" address. Sometimes it is unnecessary, but at the same time it would be nice to see the address of the function.

**Describe the solution you'd like**
I am often using Vim/NeoVim with a switch between absolute line numbering and relative one.
And recently saw simila

[2019-03-22 07:38] radare commented on #13458
Asm.reloff

[2019-03-22 07:38] XVilka commented on #10613
@a1ext note, that some `!commands` can be replaced with builtin alternatives:
- `!cat` with `cat`
- `!rm` with `rm`
- `!ls` with `ls'

[2019-03-22 07:39] XVilka opened #13460 "Autocompletion for some system commands"
- [ ] `rm file`
- [ ] `ls file`

[2019-03-22 08:03] XVilka commented on #13458
Ah, ok, then remove `name` part from `name+0x14`. I think it is unnecessary.

[2019-03-22 08:09] a1ext commented on #10613
Why? Mostly problems fixes are in r2 side

[2019-03-22 08:09] a1ext commented on #10613
What about `sed`?

[2019-03-22 08:45] radare commented on #13460
Just press the pencil. This is 2 lines

[2019-03-22 08:51] fabrice-martinez opened #13461 "m68k registers only partially working"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows x64
| File format of the file you reverse (mandatory)      | any
| Architecture/bits of the file (mandatory)            | m68k
| r2 -v full output, **not truncated** (mand

[2019-03-22 09:04] XVilka commented on #13460
Nevermind, it seems to work, but somewhat weird.

[2019-03-22 09:04] #13460 closed

[2019-03-22 09:21] radare commented on #13458
All yours.

[2019-03-22 09:35] radare commented on #13461
What happens if you specify the bitsize as argument? Dr 16 drj 16?

[2019-03-22 09:35] radare commented on #10613
Portability and performance

[2019-03-22 09:36] radare commented on #10613
Use ~ for sed but better not to have tests depending on it

[2019-03-22 09:59] fabrice-martinez commented on #13461
dr 32 works but drj 32 is still empty. The m68k architecture is always 32 bits (register size) and big endian.

[0x00000000]> dr
[0x00000000]> dr 16
[0x00000000]> dr 32
d0 = 0x00000000
d1 = 0x00000000
d2 = 0x00000000
d3 = 0x00000000
d4 = 0x00000000
d5 = 0x00000000
...
(abridged)
...
[0x00000000]> drj 32
{}

[2019-03-22 10:16] radare commented on #13461
do you want to try to fix this?

[2019-03-22 10:19] fabrice-martinez commented on #13461
It works by specifying -b 32 on the command line.
I did not understand that I have to specify the bit size since m68k is always 32.
This is a bit confusing but it works fine that way.
Thanks!

Now to implement ESIL...

[2019-03-22 10:37] radare opened #13462 "Decompilers should be under pdd"
imho having pdc, pdd, pde... is something that doesnt escales. better just use pdd for everything and have a config var to select which decompiler to use

cc @wargio @XVilka

[2019-03-22 10:39] radare commented on #12772
related
https://github.com/radare/radare2/issues/13462

[2019-03-22 10:41] radare commented on #13401
@sivaramaaa already implemented some of this stuff, and shouldnt be hard to finish that before sunday (end of rfe-cycle)

[2019-03-22 10:47] fabrice-martinez commented on #13461
Reopening briefly.

This is fixed easily by changing all instances of ".bits = 16 | 32," to ".bits = 32," in both libr/anal/p/anal_m68k_cs.c and libr/asm/p/asm_m68k_cs.c

Do you want me to submit a pull request for that ?

[2019-03-22 10:56] radare commented on #13393
it's there now

[2019-03-22 10:56] #13393 closed

[2019-03-22 10:58] radare commented on #7617
This is not that bad idea because it will make esil expressions more "readable" which is a common complain from some people, and also give us the ability to have JIT in ESIL like Ruby does.

[2019-03-22 11:01] radare commented on #13461
yes

[2019-03-22 11:42] XVilka commented on #13462
It was done on purpose to:

- be able to check them at the same time
- ability to have a different subcommands

On Fri, Mar 22, 2019, 6:37 PM radare <notifications@github.com> wrote:

[2019-03-22 12:03] radare commented on #3110
i dont get it :?

[2019-03-22 12:07] #13429 closed

[2019-03-22 12:33] radare commented on #13462
Its a bad design

[2019-03-22 12:41] fabrice-martinez commented on #13461
Pull request submitted, thanks for your help!

[2019-03-22 12:41] #13461 closed

[2019-03-22 13:30] dukebarman opened #13466 "Wrong detect function for iOS macho binary"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | iOS x32
| File format of the file you reverse (mandatory)      | macho
| Architecture/bits of the file (mandatory)            | arm
| r2 -v full output, **not truncated** (mandato

[2019-03-22 13:36] radare commented on #13466
Dat zumb

[2019-03-22 15:37] Maijin commented on #10613
Because some are related to tests writing

[2019-03-22 15:41] a1ext commented on #10613
ok, could you transfer the issue to r2r?

[2019-03-22 15:42] Maijin commented on #10613
I cannot automatically because radare2 and radare2-regressions are not in radare2org #13263 . I will check later to do that manually.

[2019-03-22 16:23] radare opened #13468 "Expose the analyze jump table as a command and API"
This function takes the begining of the jump table, the address of the UJMP, the size of the delta pointers ,... the idea is that there must be an `a` subcommand that will get the required arguments to add the edge nodes to the current basic block, this can be useful to manually reanalize jump tables with different options, or to experiment with unsupported jump tables

[2019-03-22 19:46] #12021 closed

[2019-03-22 21:45] Maijin commented on #8285
S is dead closing here

[2019-03-22 21:45] #8285 closed

[2019-03-22 21:56] Maijin commented on #13421
So I took some time today to evaluate and check what are the features of this tool.

After review there is nothing that we don't have already, already supported by Yara/Radare2 or already in the issue tracker.

The part related for the Macro analysis is irrelevant to radare2 or at least irrelevant for radare2 core for now.

I'm closing here

[2019-03-22 21:56] #13421 closed

[2019-03-23 11:30] radare commented on #6754
delayed again :___

[2019-03-23 11:32] radare commented on #13322
itss alrady implemented in /c

[2019-03-23 11:32] #13322 closed

[2019-03-23 11:32] radare commented on #13367
shuold be fixed after
https://github.com/radare/radare2/pull/13472

can you confirm?

[2019-03-23 11:54] radare commented on #7094
I just implementd this a while ago its just not dfisplayed in the xrefs info. which is pretty sad. so just chk the RAnalOp.direction field on the referencing instruction and it will be fixed. it can take no more than 3 lines of code to solve this issue (and update the tests..)

[2019-03-23 12:00] radare commented on #7094
For example:

[code]

[2019-03-23 12:02] radare commented on #7094
<img width="451" alt="Screenshot 2019-03-23 at 13 00 52" src="https://user-images.githubusercontent.com/917142/54865815-b1b85d80-4d6b-11e9-8aad-3f37bbc3b250.png">

so imho we have different ways to do that:

1) cache the op->direction inside ref->direction
2) cache op->direction by making ref->type a bitmask instead of enum
3) make that enum larger to support all combinations of direction+type
4)

[2019-03-23 12:22] Maijin commented on #13445
aav is problematic on ARM-Thumb binaries but that's where it is the most useful too, not sure what you want to do here.
Sometimes aaF is much better, where, which file format/type/arch?
For aao I just created a PR here https://github.com/radare/radare2/pull/13476

[2019-03-23 14:32] Maijin commented on #13229
@thestr4ng3r Do you have an example of binary in r2r I can use to test the aaa integration?

[2019-03-23 17:27] thestr4ng3r commented on #13229
Not in r2r, but you can try with this: [cpp_sample.exe.gz](https://github.com/radare/radare2/files/2999628/cpp_sample.exe.gz)

[2019-03-23 17:28] thestr4ng3r commented on #13229
Here's also the pdb for it:
[cpp_sample.pdb.gz](https://github.com/radare/radare2/files/2999629/cpp_sample.pdb.gz)

[2019-03-23 20:24] scrapbird commented on #13354
Fixed after #13472

[2019-03-23 20:24] #13354 closed

[2019-03-23 21:49] Maijin commented on #13229
@thestr4ng3r

[code]

Huh?

[2019-03-23 22:28] oxcabe commented on #12041
I'll pick this one

[2019-03-23 22:29] thestr4ng3r commented on #13229
Needs aar first

[2019-03-23 22:45] Maijin commented on #13229
ok great!

[2019-03-24 00:06] radare commented on #13229
@oddcoder ^ we need to know when an specific analysis has been run already because some depend on others like aao or avrr

[2019-03-24 00:07] radare commented on #12041
👍all yours!

[2019-03-24 09:53] radare opened #13480 "aao shouldnt run on non-objc binaries"

[2019-03-24 09:58] radare opened #13482 "Problematic analysis options"
[code]

setting this results in pretty fuckedup analysis, we may probably want to remove some of those options or remove the code paths that cause this

[2019-03-24 15:18] ninjahacker opened #13485 "aaaa then aaa crash"
OS: Ubuntu x86_64
File: PE 64
r2 -v
radare2 3.4.0-git 21274 @ linux-x86-64 git.3.3.0-237-g41c7ba5cd
commit: 41c7ba5cd29ea972a5d0a70fe17145396d67dfa0 build: 2019-03-24__10:59:20

### Expected behavior
It does not crash.

### Actual behavior
It segfaults.

### Steps to reproduce the behavior
Run

then

Segfaults on aaft I think.

[Efiflash.exe.zip](https://github.com/radare/radare2/files/3000510/Efi

[2019-03-24 16:50] Maijin commented on #13480
The [x] Check for objc references is only here to say it’s checking for it.
If I hide it then it’s somehow going to lie the user because the check happens no matter what

IF it’s objc then you have:
[x] Check for objc references
[x] A total of %d xref were found
[x] Set %d dwords at 0x%08"PFMT64x

Let me know if you have additional questions,

[2019-03-24 16:50] #13480 closed

[2019-03-24 16:51] Maijin commented on #13485
Reproduced log here:

[code]

[2019-03-24 18:41] Maijin commented on #13445
For the aav, @radare has a wip for aaF we need for info

[2019-03-24 18:50] Maijin commented on #13319
See also #5353

[2019-03-24 18:51] radare commented on #13319
let's move to next release and think properly on how and what to support in here, i was expecting some feedback or proposals from anyone except me

[2019-03-24 18:54] #6651 closed

[2019-03-24 18:54] #6708 closed

[2019-03-24 18:55] Maijin commented on #6663
That's fixed, I've retried with `e cmd.vprompt =pd 10` and there is no lag nor flickering occuring.

[2019-03-24 18:55] #6663 closed

[2019-03-24 18:55] Maijin commented on #13319
@radare I already proposed stuff in #5353

[2019-03-24 18:55] radare commented on #13445
i plan to push it before tomorrow. must finish some more stuff i have in wip first and test it properly and see if my theory applies to the reality

[2019-03-24 18:55] Maijin commented on #13445
Great!

[2019-03-24 18:56] radare commented on #13319
i know, this is why im delaying that

[2019-03-24 18:56] radare commented on #13319
i can do what i had in mind tonight and we can continue improving and discussing later, because afaik nobody uses @@@ now

[2019-03-24 19:00] Maijin commented on #13319
@radare yep and I wouldn't rush for that same reason 👍

[2019-03-24 19:03] Maijin commented on #13056
Done in https://github.com/radare/radare2/pull/13073

[2019-03-24 19:03] #13056 closed

[2019-03-24 19:07] Maijin commented on #13364
I'm closing here as the answers from @radare seem to have answered your questions

[2019-03-24 19:07] #13364 closed

[2019-03-24 19:07] Maijin commented on #13364
Feel free to reopen a new issue if necessary

[2019-03-24 19:14] Maijin commented on #9907
@Alkeryn there is in rarun2

[2019-03-24 19:18] radare commented on #13485
looks like a null deref in jmp_op if you want to provide a quickfix

[2019-03-24 19:40] Maijin commented on #13485
Tried something https://github.com/radare/radare2/pull/13487/files

[2019-03-24 23:12] MMagdys commented on #13312
I may work on this.
what other steps after moving yxml in shlr/ymxl ?
i think i should remove xml

[2019-03-24 23:36] #13077 closed

[2019-03-25 00:33] radare opened #13491 "Autocomplete $aliases and handle them in `cat` and `rm`"
[code]

[2019-03-25 00:50] radare commented on #13491
Also make them work with `rm` and `cat` commands, because those aliases are kind of "virtual files". it is already handled in '.'. so will be good to find a generic way to handle all those file accesses aliased in here

[2019-03-25 03:29] #13448 closed

[2019-03-25 05:06] radare commented on #13319
"We have 3 flags and we want to do thebsame as done in aaF but generic for any command"

from https://github.com/radare/radare2/issues/12986

[2019-03-25 05:06] radare commented on #12986
Closed because should be fixed in https://github.com/radare/radare2/issues/13319

[2019-03-25 05:06] #12986 closed

[2019-03-25 05:20] XVilka commented on #13367
It wasn't fixed and now even worse:
![image](https://user-images.githubusercontent.com/203261/54896780-b6fae100-4f00-11e9-9766-9c3d52cc5cb2.png)

[2019-03-25 05:38] XVilka commented on #13312
@MMagdys then the next step will be to rewrite other places that has XML parsing to reuse the yxml everywhere.

[2019-03-25 09:48] #13485 closed

[2019-03-25 09:55] radare commented on #13367
? Wat

[2019-03-25 09:56] radare commented on #13367
Aaah i though you were refering to the bug that was before the pr that the disasm was using the offset one row off the one you had selected. That was fixed :p

[2019-03-25 10:19] scrapbird commented on #13420
I'll start working on this one this week if no one is already working on it?

[2019-03-25 10:38] radare commented on #13403
We shouhld first stsart implementing a verbose list of basic blocks in `afbl` with columns displaying amount of input/output edges so we can use ~$ for sorting them and use that from the vb +hud in an r2 oneliner to select the node. that should be enough for solving this problem in few lines

[2019-03-25 10:38] radare opened #13498 "Remove unnecessary calls to RCore.cmd"
There are many places where we are using r_core_cmd() instead of using the apis. we can make r2 faster by changing that

[2019-03-25 10:39] radare opened #13499 "Remove unnecessary calls to RConfig.get"
Mainly in loops, reducing the amount of hashtable resolutions will improve performance

[2019-03-25 10:55] radare commented on #13420
i started to do it but i accidentally everything. So all yours

the main issue is that the ropchain trampoline must be wrtten ini assembly because ii didnt found a clean way to do it in C. so we must probably support major platforms here (x86, arm, mips...)

[2019-03-25 11:40] radare opened #13501 "Wrong analysis"
reported by @oddcoder

[code]
<img width="441" alt="Screenshot 2019-03-25 at 12 40 03" src="https://user-images.githubusercontent.com/917142/54917015-25d53b80-4efb-11e9-9839-5d0546a3dcb8.png">

[ls.oddcoder.zip](https://github.com/radare/radare2/files/3003046/ls.oddcoder.zip)

[2019-03-25 11:41] radare commented on #13501
https://asciinema.org/a/9zmXiw4IFOVnejZrQV9exvOo8

[2019-03-25 11:41] radare commented on #13485
please confirm the fix

[2019-03-25 11:41] radare commented on #13485
and add thhe bin into r2r cc @Maijin

[2019-03-25 13:39] ninjahacker commented on #13485
Thanks! That was fast. Looks fixed on my end.

[2019-03-25 14:04] radare opened #13502 "Unaligned .dword in disasm"
<img width="320" alt="Screenshot 2019-03-25 at 15 03 24" src="https://user-images.githubusercontent.com/917142/54925744-35f71600-4f0f-11e9-8a5a-e13c64857825.png">

[2019-03-25 14:14] radare commented on #12663
This is done ini r2frida with the .\e/ command

[2019-03-25 14:18] radare opened #13503 "Include aap in aaa"

[2019-03-25 14:30] radare commented on #13349
ping ^

[2019-03-25 14:33] ret2libc commented on #13349
The list should be mostly updated. @Maijin was supposed to go ahead with some of these plugins. However, I will probably help him once I finish with https://github.com/radare/radare2/pull/13473

[2019-03-25 14:54] radare opened #13505 "Implement reverse print format"
The idea for this is to be able to generate search patterns out of a format string, knowing a struct definition we want to know how that will look in binary form to search that pattern.

For example in MBN:

[code]

There for we want to do something like this to search for this:

[code]

ideally it will be great to define some more conditions like 2nd dword to be in a range, etc.

this can be done

[2019-03-25 14:55] radare commented on #13505
pun on search.align=4

[2019-03-25 15:07] radare commented on #13259
any of you (the ones assigned) may be able to do this

[2019-03-25 15:14] radare commented on #12767
i think we are done with this if not just ping me again

[2019-03-25 15:14] #12767 closed

[2019-03-25 15:17] radare commented on #9757
closed because of https://github.com/radare/radare2/pull/12953

[2019-03-25 15:17] #9757 closed

[2019-03-25 15:25] radare commented on #12061
@ret2libc any comments on this? i assume we should move to 3.5 again :{ but will be good to know ifi anybody have looked at iti and we can have at least an estimation of the problem

[2019-03-25 15:28] ret2libc commented on #12061
No comments yet, sorry. I'll try to prioritize this for next 3.5.0, to at least understand what's the exact problem and fix it if possible.

[2019-03-25 15:35] radare opened #13507 "Cannot resolve type 'type.96'"
[code]

[2019-03-25 18:49] Maijin commented on #13349
Well was more like a best-effort for me

[2019-03-25 20:14] scrapbird commented on #13420
Cool, should we assemble the trampoline just before running it so we aren't storing binary blobs in the code or is it fine to do so?

[2019-03-25 20:18] #13367 closed

[2019-03-25 21:14] radare commented on #13420
Just leal $1,%rsp;ret for x86 for example and pass the buffer generated by the user as an argument. Obviously there will be no gadgets ready to make that work but this is iutside the scope of this issue. The idea is to have an api to trigger the ropchain execution of a buffer. We can later use this from the debugger or by injecting r2 on any application

[2019-03-26 04:54] XVilka commented on #13507
It is an interesting bug. If you change the name of the `int size` type to anything else, e.g. `int ssize` it works.
The explanation is because it creates SDB key `struct.mipi_dsi_cmd.size` which is reserved for storing size of the structure.

[2019-03-26 05:02] sivaramaaa commented on #13507
OMG it's scary ,  so what do suggest @XVilka ??

[2019-03-26 05:03] XVilka commented on #13507
@sivaramaaa just rename `.size` to something illegal in C, e.g. `.0size`.

[2019-03-26 05:08] XVilka commented on #13505
Kind of similar/related to https://github.com/radare/radare2/issues/8482

[2019-03-26 05:14] sivaramaaa commented on #13507
:) OK , @radare are ok with this approach !

[2019-03-26 08:47] radare commented on #13507
I would go for a special char. Something like ! Or : what do you think? Will read better than 0

[2019-03-26 10:11] XVilka commented on #11828
This paper also might be useful for such task:
[PDF: Circular Linear Progressions in SWEET](https://github.com/radare/radare2/files/3007601/3813.pdf)

[2019-03-26 11:50] #11133 closed

[2019-03-26 12:44] radare opened #13511 "pzq as an alias for pqz"
qrcode all the way

[2019-03-26 12:53] radare commented on #13511
Maybe psq for consistency, pz is for zoom

[2019-03-26 16:01] Vane11ope commented on #13259
if any of you guys don't do this then I probably can do this before the ROP gadgets improvement, but don't know shit about the code around this issue so I need time to read code first though.

[2019-03-26 19:40] ret2libc opened #13514 "remove r_reg_get warnings"
See https://travis-ci.org/radare/radare2/jobs/511464318 . I think some registers are missing for some architectures, thus the warnings.

These should be fixed before release 3.4.0.

[2019-03-26 19:43] ret2libc opened #13515 "check r_assert warnings on all commits"
Before, we didn't enable r_assert warnings tests in travis on all commits (`CFLAGS="-DR2_ASSERT_STDOUT=1"`) because there were many many errors, but right now it should be safe to assume we don't have those errors anymore or, if there are, they should be fixed.

[2019-03-26 19:47] ret2libc opened #13516 "Fix warnings before release 3.5.0"
[code]

[2019-03-26 23:20] Siguza opened #13519 "Kernelcache plugin skips kernel entry point"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.12, x86_64h
| File format of the file you reverse (mandatory)      | Mach-O (Kernelcache plugin tho)
| Architecture/bits of the file (mandatory)            | arm64
| r2 -

[2019-03-27 00:33] #13363 closed

[2019-03-27 00:46] kazarmy commented on #13259
I'm currently on a slow and flaky internet connection and will be travelling soon so I'll wait

[2019-03-27 01:09] sivaramaaa commented on #13507
Yup sgtm , then we can go with `!size`         :+1:

[2019-03-27 09:24] #13511 closed

[2019-03-27 09:27] radare commented on #13351
which version of capstone are you linking to? we support capstone 3 and 4. i think this is tested in travis too @ret2libc

[2019-03-27 10:17] mrmacete commented on #13519
yeah so apparently the right way to get the main entrypoint is to properly parse the `LC_UNIXTHREAD` command, fixing!

[2019-03-27 10:59] devnexen commented on #13516
Just for the record, postponing the strbuf api change for later, a new ticket can be issued as I think @radare will do after 3.4.0 "settle"/is stable.

[2019-03-27 11:18] #13519 closed

[2019-03-27 13:25] Siguza opened #13523 "asm.bits sometimes wrongly overridden for ARMv7 binaries"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.12, x86_64h
| File format of the file you reverse (mandatory)      | Mach-O
| Architecture/bits of the file (mandatory)            | ARMv7 (ARM/Thumb)
| r2 -v full output

[2019-03-27 13:33] radare commented on #13523
ahb 16

[2019-03-27 13:39] Siguza commented on #13523
Okay thanks, that works.
But is the silent override of `asm.bits` intentional then?

[2019-03-27 13:48] radare commented on #13523
Yes because theres a hint that says otherwise. Its anoying and painful but its the only way we have now to track all the thumb/arm switched when doing recursive analysis. Which is not perfect either. And everybody complains and this feels counterintuitive. So maybe in asm.bits we can add a check for the hints and make it happen there if a hint blocks the change

[2019-03-27 16:05] ickromwerk commented on #13351
You right, I have old capstone in libr folder. I used old repository and started build with sys/user.sh
Looks like this script does not updated capstone or I built it by hands earlier.

Cloned repository anew and it builds like a charm. I need to apologize for disturbing you.

[2019-03-27 16:06] radare commented on #13351
capstone shoulkd be in shlr, not libr

can you fix the user.sh script? no need to apologize, its a bug :)

[2019-03-28 09:53] ret2libc opened #13532 "Add eBPF assembler/disassembler/analysis"
eBPF: https://www.kernel.org/doc/Documentation/networking/filter.txt

Right now we have a plugin in radare2-extras but apparently it's kinda broken, it's hand-made and it doesn't work with eBPF.

Capstone has added support for eBPF recently, so we could just leverage it (either as an external plugin in extras or as "core" plugin in radare2 repo directly).

[2019-03-28 12:52] bannsec opened #13534 ""o" in "V" mode is broken"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2019-03-28 13:00] radare commented on #13534
its now 'g', like iit iis in ghidra, ida, binary ninja, ollydbg, x64dbg and others, check the help message and you'll see

[2019-03-28 13:00] #13534 closed

[2019-03-28 13:00] radare commented on #13534
(and cutter)

[2019-03-28 16:05] deepakchethan commented on #13095
I can start working on this.
But even I'm not able to reproduce this.

[2019-03-28 17:18] Siguza opened #13540 "radiff2 -g dumps raw disassembly in graph output"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.12, x86_64h
| File format of the file you reverse (mandatory)      | Mach-O
| Architecture/bits of the file (mandatory)            | arm64
| r2 -v full output, **not trun

[2019-03-28 17:48] Siguza opened #13541 "radiff2 -A doesn't work on raw binaries"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.12, x86_64h
| File format of the file you reverse (mandatory)      | raw machine code
| Architecture/bits of the file (mandatory)            | arm64
| r2 -v full output,

[2019-03-29 06:54] XVilka opened #13544 "ARM Thumb assembler doesn't switch endian"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | any
| File format of the file you reverse (mandatory)      | none
| Architecture/bits of the file (mandatory)            |  none
| r2 -v full output, **not truncated** (mandatory)

[2019-03-29 10:32] radare commented on #13349
impossible to finish this in less than a week. moving to 3.5

[2019-03-29 10:50] ret2libc commented on #13349
yeah :D

[2019-03-29 11:05] radare commented on #13541
Use -p, but i have a wip fix here

[2019-03-29 12:03] #13541 closed

[2019-03-29 12:21] radare opened #13549 "Types are not loaded when using 'r2 -n'"
[code]

if we load with -n we have other iissues:

[code]

[2019-03-29 12:23] radare commented on #13549
[code]

[2019-03-29 12:46] XVilka commented on #13549
Part of it is an issue with a field named `size`: https://github.com/radare/radare2/issues/13507

[2019-03-29 12:53] XVilka commented on #13549
The one who will fix it should add something similar as a test in r2r suite.

[2019-03-29 14:21] radare commented on #13507
this is important

[2019-03-29 14:21] radare commented on #13451
ping? can you fix this @XVilka

[2019-03-29 14:32] XVilka commented on #13451
Yes, I will do it tonight.

[2019-03-29 15:22] radare commented on #13060
ping @sivaramaaa

[2019-03-29 15:47] radare opened #13552 "Crash in tcc"
[code]

[2019-03-29 15:59] radare commented on #13403
i did last week the 'b' handling in graph, so we can consider this issue is "solved" but we need to implement the afbl command, which is pretty easy to do

[2019-03-29 16:01] vergil-SI commented on #13439
I'm seeing the same behavior.

[2019-03-29 16:03] radare commented on #13482
i think anal.jmp.eob can be removed, but i need to read some more code to get a decision on this, feedback is welcome

[2019-03-29 16:11] radare opened #13553 "RFE: Add pfc command to print format string in C"
For example

[code]

But also:

[code]

[2019-03-29 16:15] radare commented on #13060
moved to 3.5, lets focus on fixing the 9000 bugs in types first

[2019-03-29 16:16] radare commented on #13439
works perfectly fine for me

[2019-03-29 16:28] sivaramaaa commented on #13060
Yes :)

[2019-03-29 16:28] #13503 closed

[2019-03-29 17:28] radare opened #13554 "Avoid hexdumping beyond the end"
just seek to `1u64` and type x:

[code]

<img width="941" alt="Screenshot 2019-03-29 at 18 27 03" src="https://user-images.githubusercontent.com/917142/55251242-58ab6680-5250-11e9-86b0-0d3a5880685d.png">

[2019-03-29 17:45] XVilka commented on #13482
Maybe postpone this for 3.5.0 instead?

[2019-03-29 20:09] BlaCoiso opened #13557 "Interrupt handler function can't be renamed"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04/x86/32
| File format of the file you reverse (mandatory)      | none
| Architecture/bits of the file (mandatory)            | x86/16
| r2 -v full output, **not trunca

[2019-03-29 22:58] Siguza commented on #13541
Ok, analysis now technically runs, but there are still multiple issues:

1. The `-a` and `-b` flags seem to be entirely ignored. I specify `-aarm -b64` on the command line, but radiff2 treats the binary as x86_64.
2. The `-G` command runs after analysis, which means that anything in `-G` is basically useless for analysis. Now I can work around this by dropping the `-A` flag and appending `; aaa` t

[2019-03-30 01:19] oxcabe commented on #13552
`r2 -c '"td struct;"' -`

This crashes too. It probably has to be with tcc's way of handling structs in general.

[2019-03-30 07:39] XVilka commented on #13507
Using `!size` breaks too many things, I fallback to `0size`. This can be fixed later.

[2019-03-30 08:59] XVilka opened #13559 "Isolate `pf` parser and separate from printing of the format"
To be able to provide different types of the output:
- [x] default one
- [x] r2 commands
- [x] JSON output
- [x] C output (so would be able to produce C type back from type parsed into `pf` format)

[2019-03-30 09:15] radare commented on #13507
Ok

[2019-03-30 09:16] radare commented on #13559
👍

[2019-03-30 09:19] XVilka commented on #13507
No worries, I made `!size` work too.

[2019-03-30 10:31] XVilka commented on #12089
Moving to 3.5.0, since it not easy to fix.

[2019-03-30 12:17] #13451 closed

[2019-03-30 12:17] XVilka commented on #13507
Closed by https://github.com/radare/radare2/commit/726e15054cf15dd95cb2bd88d404e3fc9b1fa840

[2019-03-30 12:17] #13507 closed

[2019-03-30 12:26] radare commented on #12089
I think its easy if we fix the rbuf and force rbin to use only rbuf

[2019-03-30 21:54] #12041 closed

[2019-03-30 22:20] #13502 closed

[2019-03-30 23:32] #13552 closed

[2019-03-30 23:33] #13259 closed

[2019-03-31 00:09] radare commented on #13514
should be fixed in here https://github.com/radare/radare2/pull/13568

[2019-03-31 00:09] #13514 closed

[2019-03-31 07:00] XVilka commented on #13549
Fixed by https://github.com/radare/radare2/commit/25161eaaf137bd51ca53fc8811be545ff4e569a7

[2019-03-31 07:00] #13549 closed

[2019-03-31 07:13] XVilka commented on #13430
@radare if you search for CYWGIN it appears only in
- imported SDB code, which probably should work with Cygwin still
- imported capstone and other libs in shlr
- imported binutils code (libiberty)
- libmagic

So I prefer not to touch those.

[2019-03-31 07:26] XVilka commented on #13544
Fixed in https://github.com/radare/radare2/commit/a6107c429038e39eb4c14fa15c8f71b278e556c7

[2019-03-31 07:26] #13544 closed

[2019-03-31 08:17] #10378 closed

[2019-03-31 08:18] #12783 closed

[2019-03-31 08:19] Maijin commented on #13179
ping @shin-illua

[2019-03-31 08:20] #12751 closed

[2019-03-31 09:14] XVilka commented on #12924
Better fix wouldn't arrive in one day, moving ahead.

[2019-03-31 10:03] #13430 closed

[2019-03-31 10:05] radare commented on #13559
[0x1000011e8]> pfj xxi foo bar cow
[{"name":"foo","type":"x","offset":4584,"value":-443987883},{"name":"bar","type":"x","offset":4588,"value":1447122753},{"name":"cow","type":"i","offset":4592,"value":1413567809}]
[0x1000011e8]>

[2019-03-31 10:05] radare commented on #13559
its just C whats needed, json was already there

[2019-03-31 10:05] radare commented on #13559
we also have flags output format:

[code]

[2019-03-31 10:10] radare commented on #13559
in the testsuite we should have back and forth tests to ensure the format string into C and that go back into pf, maybe what it will be good to have is pf to sdb to be reused by types

[2019-03-31 11:50] Maijin commented on #9097
Please open a new issue with a mock-up or a better description of your proposal, for now I will close.

[2019-03-31 11:50] #9097 closed

[2019-03-31 11:53] Maijin commented on #9158
This has changed a lot, feel free to reopen a new issue using the enhancement templates and detail of what you expect. For now I will close, thanks!

[2019-03-31 11:53] #9158 closed

[2019-03-31 11:54] Maijin commented on #13482
Can you please provide details on what is "fucked-up" and reproducers files and commands?

[2019-03-31 11:56] Maijin commented on #6040
This may be expected - @radare can you confirm?

[2019-03-31 11:57] #13491 closed

[2019-03-31 11:58] #11783 closed

[2019-03-31 11:58] radare commented on #13482
lots of broken edges and invalid bb boundaries basically

<img width="1680" alt="Screenshot 2019-03-31 at 13 58 26" src="https://user-images.githubusercontent.com/917142/55288796-0fc4f080-53bd-11e9-8c15-e5eb56db88b8.png">

[2019-03-31 12:00] radare opened #13576 "Use mixed edge layout to improve visibility"
The idea is to use diagonal lines sometimes and square lines sometimes.. so we can provide more info to the user with a quick sight and probably speedup the time required to render the graph, because finding overlapped edges in square is pretty expensive

[2019-03-31 12:02] Maijin commented on #12352
@jane-hopper did you fix it in the hexagon repository @XVilka access to? Can we close this?

[2019-03-31 12:04] XVilka commented on #12352
It is now public: https://github.com/radareorg/r2hexagon

[2019-03-31 12:06] Maijin commented on #13482
When you have time can you provide files and commands for this?

[2019-03-31 12:08] #11397 closed

[2019-03-31 12:08] Maijin commented on #11397
Thanks @sre, Feel free to reopen an issue if the issue is not fixed.

[2019-03-31 12:09] Maijin commented on #12260
Maybe something @kazarmy wants to take a look at?^

[2019-03-31 12:11] XVilka commented on #12352
And it should be very similar to : https://github.com/radareorg/r2hexagon/commit/2d4830bb613e2c31b3eecab150dd4011a0d59953 + https://github.com/radare/radare2/commit/09f7a03123c6311845d77d87a868b68c3275d9b8
I just have no time to check the instruction set what instructions should be fixed exactly.

[2019-03-31 12:11] #10920 closed

[2019-03-31 12:31] XVilka commented on #13553
Related to https://github.com/radare/radare2/issues/13559

[2019-03-31 12:37] kazarmy commented on #12260
What's the difference between `psr` and `psu`?

[2019-03-31 13:34] andreafioraldi opened #13577 "Retpoline support"
Hi guys i noted that radare does not recognize the code after a jump to a retpoline as part of a function. They are disassembled but not included in the pdf or VV output.

Example:
[code]

A jump to a `__x86_indirect_thunk_r??` function can be easily detected and the analysis can continue from the instruction that follows the jump.

I think it is a simple feature but I never touched the r2 codebas

[2019-03-31 15:23] radare opened #13580 "Create slow:// io plugin"
basically the same as posix, but for debuggnig purposes. it will be printing every read/write that happens and perform a sleep(1) (or usleep), this way we can improve the amount of io accesses. maybe just include this plugin in development cycle

[2019-03-31 16:20] radare opened #13581 "Visual define structs"
The idea here is to find more ortogonality betwee all the ways to configure the memory layout, improve the use of asm.meta and better visual interactions.

The proposal consists in having a command that walks N bytes and cnoverts the C* commands into pf* and gives that a name.

this is because when in visual doing `dw` to define a word it does Cd 4, Cd 8, Cs for strings, etc.. this basically defin

[2019-03-31 16:20] radare opened #13582 "Add the ability to fold and scroll over structs"
For tl and Cf ones using asm.meta=0 and asm.meta=1

[2019-03-31 18:12] radare commented on #13552
Just pushed the tests now

[2019-03-31 18:14] radare opened #13585 "Changes in the tl command"
* tl = only shw offset + type name
* tll = should be the current listing we have in tl (very verbose)
* missing space in help msg
* tl? is implicit imho, and usage string is empty

![Screenshot 2019-03-31 at 20 13 31](https://user-images.githubusercontent.com/917142/55293011-76fc9800-53f1-11e9-85cd-353b5e2a989a.png)

[2019-03-31 19:09] ITAYC0HEN opened #13586 "New write command to assemble instruction and fill with nops"
**Is your feature request related to a problem? Please describe.**

Currently, when overwriting an instruction using the `wa` command, we sometime want to write an instruction which is shorter that the already existing one. Say, replace a 6 bytes instruction with a 5 bytes instruction. The 6th byte if the previous instruction would still be there and will cause an invalid disassembly.

**Describe

[2019-03-31 20:10] radare commented on #12112
should be fixed already, pls confirm if not

[2019-03-31 20:10] #12112 closed

[2019-03-31 20:41] radare commented on #13445
i fixed aav. and i think aaF makes no sense to be in aaaa, so lets close it

[2019-03-31 20:41] #13445 closed

[2019-03-31 20:54] radare commented on #13586
im working on this

[2019-03-31 20:57] ITAYC0HEN commented on #13586
While you at it, there's a famous OllyDbg feature for patching an instruction with NOPs. Called "fill with NOPs" so it takes the instruction to be patched and replaces it with X NOP(s) where X is the length of the instruction

[2019-03-31 21:00] radare commented on #13586
Fixed in https://github.com/radare/radare2/pull/13588

[2019-03-31 21:00] #13586 closed

[2019-03-31 21:00] radare commented on #13586
Can you add some tests please?

[2019-03-31 21:05] ITAYC0HEN commented on #13586
Yup :) will probably do this tomorrow

[2019-03-31 21:12] JavierYuste opened #13590 "aflm and aflmj seem broken"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (m

[2019-03-31 21:18] #13466 closed

[2019-03-31 21:43] radare commented on #13590
thats a regression. just fixed it now. thanks

[2019-03-31 21:45] radare commented on #13590
i have pushed a test to verify that it doesnt gets broken

[2019-03-31 21:53] radare commented on #13586
Too late.

[2019-03-31 21:54] radare commented on #13586
Nvm :) thanks!

[2019-03-31 22:00] JavierYuste commented on #13590
Nice! Thanks for fixing it

[2019-03-31 22:58] radare commented on #13278
Done also in afls in a PR

[2019-03-31 22:58] #13278 closed

[2019-03-31 22:58] radare commented on #13270
Done in https://github.com/radare/radare2/pull/13593

[2019-03-31 22:58] #13270 closed

[2019-03-31 23:00] radare commented on #10945
this sorted thing have been anoying me a bit in here :{ https://github.com/radare/radare2/pull/13593 mainly because i was sorting using a different method. maybe we can use void* in ssorted and hold the sorting function as value and use NULL for unsorted. this way we avoid resorting twice with the same algorithm. but i think @MaskRay is right here and we should move this memoization outside the RL

[2019-03-31 23:19] #13590 closed

[2019-03-31 23:41] radare opened #13595 "Support diffing alias files"
[code]

the diff command doesnt exist, but we have the code already there to perfoorm the diff using unified format.

[2019-03-31 23:43] radare opened #13596 "Implement afl= and afb="
List list functions and bbs of a function using the ascii art bars like om= does

[2019-03-31 23:46] radare commented on #13596
see libr/core/cmd_open.c. 186 for inspiration

it will be good to implement a generic api to do this ascii bars output, so we dont hahve to reimplement the renderer for each data.

[2019-03-31 23:46] radare commented on #13596
as for reference, this is om=

<img width="1509" alt="Screenshot 2019-04-01 at 01 46 32" src="https://user-images.githubusercontent.com/917142/55296898-fbfea600-541f-11e9-8662-966f8cfefc00.png">

[2019-04-01 00:11] radare commented on #13430
Its fine then. For libmagic i dont know how
much we want to continue modifying it or just keep our own fork as long as its not in shlr

[2019-04-01 00:11] #6040 closed

[2019-04-01 00:11] radare commented on #6040
I think this was fixed long time ago

[2019-04-01 00:35] radare commented on #13595
Done in https://github.com/radare/radare2/pull/13597

[2019-04-01 00:35] #13595 closed

[2019-04-01 00:38] radare commented on #13501
i think the problem is taht the bb is owned by anotehr function so it considers its an external jump. the fix requires more time than -38minutes. moving to 3.5

[2019-04-01 00:54] radare commented on #13515
do you have a link for those logs?

[2019-04-01 00:57] radare opened #13598 "Another tcc crash:"
[code]

[2019-04-01 01:17] davidpolverari commented on #12112
AFAIK it has been already fixed.

[2019-04-01 01:37] radare commented on #13598
fixed in https://github.com/radare/radare2/pull/13599

[2019-04-01 01:37] #13598 closed

[2019-04-01 12:32] #13585 closed

[2019-04-01 21:55] radare opened #13607 "What about adding some newlines"
<img width="1677" alt="Screenshot 2019-04-01 at 23 54 19" src="https://user-images.githubusercontent.com/917142/55362179-8a832e00-54d9-11e9-8de7-674f6707a852.png">

i understand the lack of newlines in function definitions. but for structs and enums it will be doable

[2019-04-02 05:29] XVilka commented on #13319
@radare it is documented in the book though, but largely a duplicate of `@@`. So I think we can change behavior easily, just don't forget to update r2book.

[2019-04-02 09:02] deepakchethan commented on #13596
I'll start working on it.

[2019-04-02 09:13] radare commented on #13596
will you do the refactoring?

[2019-04-02 09:23] deepakchethan commented on #13596
Yes, I will. It might take a bit of time since I have to go through the code first.

[2019-04-02 22:54] radare opened #13612 "Enable graph.cmtright=true by default"
Seems like its pretty reasonable the current behaviour. so i would go for making it by default

before:
<img width="794" alt="Screenshot 2019-04-03 at 00 53 44" src="https://user-images.githubusercontent.com/917142/55441378-eff31f80-55aa-11e9-9697-541d451c8150.png">

after

<img width="1466" alt="Screenshot 2019-04-03 at 00 54 06" src="https://user-images.githubusercontent.com/917142/55441391-fd10

[2019-04-03 04:49] XVilka commented on #4820
We should measure it and evaluate if it worth the trouble. @Vane11ope @radare @jduck
I personally think it is not a bottleneck at all and can be closed.

[2019-04-03 05:38] Vane11ope commented on #4820
yup close this plz

[2019-04-03 07:50] XVilka opened #13613 "Better search on top of recorded traces"
**Is your feature request related to a problem? Please describe.**
To design and think about searching on top of recorded traces. We should consider existing solutions too.

**Additional context**
See https://github.com/GrammaTech/trace-db for the inspiration

[2019-04-03 16:55] radare opened #13617 "Add command to list all the functions with no registered signature"
We are adding types by hand when we need them. but we are missing many times because there's no way to see whats missing until we spot the wrong disasm. THe idea for this issue is to add a command to list all the functions (maybe just imports) that have no function signature registered.

[2019-04-03 17:39] radare opened #13618 "improved pds with function call args"
something like this, but without having to do hacky greps:

[code]

[2019-04-03 17:44] radare opened #13619 "Add scrollbar in panels"
e scr.scrollbar=true only works in visual and graph for now. will be good to have it in other places

[2019-04-03 18:19] radare opened #13620 "Collapse switch/case in pds"
![Screenshot 2019-04-03 at 19 47 01](https://user-images.githubusercontent.com/917142/55500800-4d3dae00-5649-11e9-8761-7c37711aedb9.png)

[2019-04-03 18:20] radare commented on #13620
the swiitch/case lines doesnt provide any useful information to pds and they are very noisy. we may probably remove or collapse them

[2019-04-04 05:00] StephaneLeveugle commented on #13607
Hi, I'm going to work on this :)

[2019-04-04 13:41] radare opened #13625 "Honor ^C in agf"
entering the graph can be really painful on some graphs on small devices. will be good to handle ^C at least

[2019-04-04 14:00] radare opened #13626 "Plugin version check shouldnt check minor version numbers"
3.4.0, 3.4.1, 3.4.2... should be ABI stable

[2019-04-04 14:23] sivaramaaa commented on #13617
@radare I think this can be closed ,  We have this functionality already

Set this `e anal.types.verbose = true ` and on every analysis `aaa`  you will get loads of function signature missing output

AFAIR @Maijin  actually created huge list of function missing signature cases using this config var !

[2019-04-04 14:23] #13617 closed

[2019-04-04 14:30] radare commented on #13617
thanks! didnt knew that! will add some more missing function signatures now :)

[2019-04-04 15:36] radare opened #13628 "cmd.hexcursor not working fine with selections"
notice the current cursor have is not properly pointed, also its executed on every row

![Screenshot 2019-04-04 at 17 35 54](https://user-images.githubusercontent.com/917142/55568534-268e7e80-5700-11e9-9ceb-5beb5d07dd96.png)

[2019-04-04 16:12] Vane11ope commented on #13619
I tried couple of implementations but I'm not sure if this fits to panels which already has too much stuff on canvas lol

[2019-04-04 22:36] radare opened #13631 "Implement: drpc - print the register profile in C syntax"
So it can be used as globoals for the output of r2dec to be compiled back

[2019-04-05 05:31] StephaneLeveugle opened #13633 "Nested unions are listed as struct in tuc"
# Nested unions are listed as struct in tuc

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows x64
| r2 -v full output, **not truncated** (mandatory)     | radare2 3.5.0-git 21292 @ windows-x86-64 git.3.4.1-21-g29b4a5e31

[2019-04-05 12:53] radare opened #13638 "Visual scrolling and blocksize"
Scrolling in visual is not consistent in all the print modes. for example the ascii hexdump mode.

Block scroll: '<' '>' -> should honor user defined blocksize (not the one defined by visual)
Page scroll: 'J' 'K' -> is many times scrolling blocksize or much more beyond
Line scroll: 'jk' -> working almost fine everywhere, but some print modes scroll wrongly

[2019-04-05 13:08] radare commented on #13631
cc @wargio

[2019-04-05 13:36] radare opened #13640 "Add a command to edit types using cmd.editor"
we need a command to ediit functoins, types, etc. in cmd.editor
something like tf write=-
and maybe a better way to define structs without having to quote the command all the time
i need a proposal for this, impl is easy, but cmd must be consistent
my idea is that.. now that we have proper C output for all the types loaded
we can dump that to a tmpfile
edit it
and reparse it again

[2019-04-05 14:18] bart1e commented on #12867
I would like to work on this issue, however I have 2 questions:
- if RBP changes during function execution (excluding mov RBP, RSP, at the begining, and pop RBP at the end), what is the expected behaviour? Should we treat all accesses to [RBP + x] as non-arguments, or only these after first RBP change?
- can I assume that the only place where function's body is being analysed (particularly all ins

[2019-04-05 14:38] radare opened #13641 "Save aeaf in zignatures"
Having an esil emulated stats for each function will be good for improving signatures.

[code]

[2019-04-05 14:44] radare opened #13642 "Inverse register usage in functioni"
The same way i did with dri for registers, we should be able to do the same for instructions in a function. like this:

[code]

[2019-04-05 15:33] radare commented on #13596
i can give you some pointers if you need, let me know how it goes

[2019-04-05 15:53] radare opened #13644 "Add FAMILY_REP"
for instructions repeating stuff like those having the REP prefix on x86

[2019-04-05 16:03] deepakchethan commented on #13596
Yes, I am stuck. The due to different list types (SdbList and RList) I am not able to figure out how to use same method for both.

[2019-04-05 16:20] radare commented on #13255
did you used e anal.strings=true ?

[2019-04-05 16:37] radare commented on #13596
you can convert one list into another for now, but we should unify all the code to only use the impl in sdb because that cant be removed, the one in r2 was the one defiining the design for it. but we should avoid dupes in apis.

i did the same thing in my zdiff commit because i have the zignatures in sdblist, because its a SdbKv storage.. but then ii need to use the r_list methods, so iim doinig s

[2019-04-05 18:08] vifino commented on #13255
If it wasn't default, I did not.

[2019-04-05 22:02] radare commented on #7094
ghidra copied us for being lazy
![IMAGE 2019-04-06 00:02:27](https://user-images.githubusercontent.com/917142/55658811-43f64200-57ff-11e9-907b-919b30c64929.jpg)

[2019-04-07 17:11] Wenzel opened #13651 "RFE: Completion limit should be dynamic (not 4096)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora x86_64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (m

[2019-04-07 18:37] radare commented on #13651
maybe this is because there are too many symbols, and the current code in libr/core/core.c uses #define TMP_ARGV_SZ 512 to limit that and avoid hell to happen when the user presses tab with milions of autocompletion options. can you try increasing this? how many flags you have f~?

[2019-04-07 18:40] radare commented on #13651
maybe 4096 is a reasonable number too, but i want to know your specific behaviour in here, or maybe do something smarter and warn when that limit is bypassed

[2019-04-07 18:43] Wenzel commented on #13651
I have `3750` symbols:
[code]

I confirm that manually increasing the limit to `4096` works.

But this should be dynamically allocated, not a statically defined, arbitrary value

[2019-04-07 22:02] tonybounty opened #13653 "Segmentation fault with R in graph view"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | any
| Architecture/bits of the file (mandatory)            | any
| r2 -v full output, **not truncated** (man

[2019-04-08 05:43] RusJJ opened #13654 "Android: CANNOT LINK EXECUTABLE "r2": library "libr_main.so" not found"
Using the latest radare2 from Google Play. Android 9, rooted. Termux or console.
Trying to use WebView/Browser, but it shows radare2 webserver failed to start.

[2019-04-08 07:52] radare commented on #13653
Cant reproduce. Can you provide a backtrace?

[2019-04-08 11:39] radare commented on #13651
can you make a PR adding a config var and making this option change RCore->maxtab instead of being a define?

[2019-04-08 11:39] radare commented on #13651
and we can probably make it 4096 by default

[2019-04-08 11:41] radare commented on #13654
google play version was deprecated 3 years ago, just use termux. and this one works fine

[2019-04-08 11:56] yasong opened #13658 "Is it possible to determine the number of parameters in binary function?"
In binary, parameters can be passed by register or stack. Is it possible to determine the parameters number in binary function? Are  there some binary analysis tools that can do this?
I want to know the accurate parameters number of binary function to do some security analysis.
Thank you.

[2019-04-08 12:12] radare commented on #13658
Yes. R2 does that

[2019-04-08 13:28] Wenzel commented on #13651
I can report issues here and there, but i don't want to get involved in radare2 development at the moment.
I'd rather wait on a radare2 dev to look at this issue.

Thanks

[2019-04-08 13:29] radare commented on #13651
ok will do that when i finish another pr im working on its just 5min

[2019-04-08 13:30] fumfel opened #13659 "Null pointer dereference in objc_build_refs()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 x64
| File format of the file you reverse (mandatory)      | Mach-O
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncat

[2019-04-08 13:55] radare commented on #13653
do u have r2 from git and r2 from ubuntu installed at the same time? maybe passte the output of r2 -V ? or a backtrace or build it with asan and paste the crashlog?

[2019-04-08 14:03] radare opened #13660 "dword in the middle"
[code]

[code]

note that this works fine with asm.meta=false

[code]

[2019-04-08 14:03] radare commented on #13660
this works fine with asm.meta=0 (as an inspiration)

[2019-04-08 14:24] radare opened #13661 "Add types information in function zignatures too"
types: `txf.`

[2019-04-08 14:36] radare commented on #13659
thanks its fixed now

[2019-04-08 14:36] #13659 closed

[2019-04-08 14:36] #13658 closed

[2019-04-08 16:23] radare commented on #13651
should be fine now. ill rename the issue to improve that . thanks!

[2019-04-08 17:43] tonybounty commented on #13653
I can't reproduce this crash on  my second machine. I try with xterm, gnome-terminal, Tilix + combination of bash and fish shell. Same result, it crash with segfault.

[code]

[2019-04-08 17:47] radare commented on #13653
So in theory just doing “eco white2” should be enough to reproduce the crash. Build it with asan and paste the crashlog. That should be enough to make me understand the reason for the crash

[2019-04-08 19:42] radare opened #13668 "a* should do what afl* does"
For consistency imho

[2019-04-08 20:07] tonybounty commented on #13653
I use only the git version, Ubuntu version was never installed. If BT is insufficient, I will compile with Asan

`radare2 3.5.0-git 21446 @ linux-x86-64 git.3.4.1-26-g0096dbfdb commit: 0096dbf build: 2019-04-06__16:17:44`

[code]

[2019-04-08 20:10] tonybounty commented on #13653
"eco white2" work without crash

[code]

[2019-04-08 20:11] radare opened #13669 "Rename aa* into aaS or aass or aas2"
maybe that affects aaa?

[2019-04-08 20:17] radare opened #13670 "assert in aef"
[code]

![IMAGE 2019-04-08 22:17:33](https://user-images.githubusercontent.com/917142/55754059-1baf5300-5a4c-11e9-8d5f-2433b36da7dd.jpg)

[2019-04-08 20:18] radare commented on #13670
also, aefi should show help message, because only valid subcommand is aefa

[2019-04-08 20:19] radare commented on #13670
Requires aeim to work, but i dont see why esil should be null at this point

[2019-04-08 20:26] radare commented on #13642
[code]

[2019-04-08 20:26] radare commented on #13642
also this will help us to find out bugs in aeaf.. and maybe we want an alias for aeaf under afia?

[2019-04-08 20:28] radare commented on #13642
and this compact view is also interestsing

[code]

[2019-04-08 20:38] radare commented on #13653
can you try if this patch fixes the issue?

<img width="1217" alt="Screenshot 2019-04-08 at 22 38 11" src="https://user-images.githubusercontent.com/917142/55755338-07208a00-5a4f-11e9-9472-f5696436c56d.png">

[2019-04-08 21:03] tonybounty commented on #13653
It's seems like it work ! :+1:

[2019-04-08 22:39] radare commented on #13653
Can you try this patch?
[code]

[2019-04-08 23:51] radare opened #13672 "Display variables value in the disasm view"
also the new behaviour that enables asm.var.summary if the lines is short its a problem for this, we should be able to have an asm.summaryr=2 or -1 to make that behaviour consistent up to the user

<img width="753" alt="Screenshot 2019-04-09 at 01 50 38" src="https://user-images.githubusercontent.com/917142/55764004-f0d3f780-5a69-11e9-89fe-7b14d31ed33d.png">

[2019-04-08 23:53] radare commented on #13672
maybe as an alternative visual stack pirnt format

[2019-04-09 02:50] XVilka commented on #13661
Related https://github.com/radare/radare2/issues/6947

[2019-04-09 06:07] #13596 closed

[2019-04-09 06:09] radare commented on #13668
And ax* and ah*, not sure if im missing any

[2019-04-09 08:59] radare opened #13673 "RFE: sorting column results in vbg"
visual browse graph should handle the '!' key to rotate sorting the list of entries by name or by offset.

[2019-04-09 09:20] radare commented on #13653
please confirm thhe fix with this patch

[2019-04-09 09:22] radare opened #13674 "agCv only works once"
second time seems more like a refsgraph :/

[2019-04-09 09:24] radare commented on #13674
Maybe worth making it into visual graph when pressing '>' twice

[2019-04-09 09:47] schlamar opened #13675 "Windows binaries missing for 3.4.x"
There are no binary releases for 3.4.x at http://radare.mikelloc.com/list and at https://github.com/radare/radare2/releases.

[2019-04-09 12:46] radare opened #13677 "Type xrefs"
Right now we have txf/txt but it have no documentation:

* [x] t? -> shows notihng about tx
* [x] tx? -> shows no help
* [x] txt. -> type xrefs to here  (txt $$ should do the same)
* [x] args seems to be ignored (only local vars are used in the txf. output)
* [x] we have no tests for any of those commands
* [x] txf* is not implemented (should print r2 commands to draw a graph between functions and

[2019-04-09 12:51] radare commented on #13661
Related https://github.com/radare/radare2/issues/13677

[2019-04-09 13:05] radare commented on #12234
its all fixed now

[2019-04-09 13:05] #12234 closed

[2019-04-09 13:06] radare commented on #11039
related to https://github.com/radare/radare2/pull/12765

[2019-04-09 13:08] radare commented on #10905
any updates on here?

[2019-04-09 15:36] ivanstepanovftw opened #13679 "Including r2's headers"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Manjaro 18.0.4, pacman
| r2 -v full output, **not truncated** (mandatory)     | radare2 3.3.0 0 @ linux-x86-64 git.3.3.0 commit: HEAD build: 2019-03-06__21:50:39

### Expected beh

[2019-04-09 15:53] radare commented on #13679
use pkg-config and you'll have no problems to include anything, you have to add the libr directory in the include path, this is not suposed to be included like this, glib

[2019-04-09 15:55] ivanstepanovftw commented on #12943
@deepakchethan

Ref?

[2019-04-09 15:56] radare commented on #12943
just read the github page messages. its here

https://github.com/radare/radare2/pull/12944

[2019-04-09 16:21] ivanstepanovftw commented on #13679
Is there anything in plans with CMake?

[2019-04-09 16:38] ivanstepanovftw commented on #13679
OK, who uses CMake and wanted to use radare API:
[code]
Thank you!

[2019-04-09 16:38] #13679 closed

[2019-04-09 17:43] tonybounty commented on #13653
sorry I didn't see that you respond.

With patch, I can't reproduce the segfault.

[2019-04-09 17:44] radare commented on #13653
So the second patch is also correct? I will commit it then

[2019-04-09 17:47] tonybounty commented on #13653
yep :+1: with the last patch I pressed >1min SHIFT+R in graph view without crash.

[2019-04-09 18:04] thestr4ng3r commented on #10905
Well anal classes are in sdb now, so not sure if this is still relevant.

[2019-04-09 19:41] radare commented on #10905
Yeah i think we can close it unless we have any other complain .. we can always reopen it :p

[2019-04-09 20:45] #13653 closed

[2019-04-10 00:46] deepakchethan commented on #13660
Maybe this was expected behavior, lots of tests have been written for this. Should I change the tests? or revert back?

[2019-04-10 10:10] condret opened #13689 "Kill PICK and RPICK esil operations"
They are not needed and make analysis unnecessary hard

[2019-04-10 11:33] Bhuvanamitra opened #13690 "How to avoid disassembling filler data (repeated zero bytes) using radare2"
In objdump, by default it does not disassemble the filler data as it is not much interested. Only when we mention -z (or) --disassemble-zeros, it outputs disassembled code of filler data.
In Radare2, I am getting disassembled code of these repeated zeros by default. What flag should I give in order to avoid this?
I want this because when I disassemble a pe file, the size of disassembled code is bl

[2019-04-10 11:38] radare commented on #13690
Please provide sample binary and reproducible testcase

[2019-04-10 11:43] radare commented on #13675
Fixed the issue in here https://github.com/radare/radare2-release/commit/1cb7b53a81e6b14ca63d4528e43d71672313e899

Windows build in here http://radare.mikelloc.com/get/3.4.1/radare2-msvc_64-3.4.1.zip

[2019-04-10 11:43] #13675 closed

[2019-04-10 12:12] Bhuvanamitra commented on #13690
This is the malware exe file.
[mal1.zip](https://github.com/radare/radare2/files/3063659/mal1.zip)
I have opened using r2
r2 ./path/to/filename
pd $s > disasm_output.txt
this file has 1,66,776 lines.
But the same file when disassembled with objdump, gives a file of 14,248 lines.
The difference is radare disassembles zero bytes as well. I want a way to avoid that and get the crisp output as given b

[2019-04-10 12:48] radare commented on #13690
r2 is not objdump, you are using it wrongly, also, this line have several
issues....

* pd disassembles N instructions, not N bytes
* you didnt specified the begining of the disasm, by default is the
entrypoint, which almost never is in the begining of the binary
* $s is the file size in disk. you are in VA mode, so the memory is not
linear and not mapped at the same size as in phyisical
* disasse

[2019-04-10 16:13] Vane11ope commented on #13672
hang on, what's the problem here btw? i see no problem so far with automatic manipulation of asm.var.summary yet?

[2019-04-10 19:45] radare commented on #13672
the asm.var.ssummary show the args/vars types and names, but not their values

[2019-04-10 22:09] radare commented on #12508
It should be fixed now in master if you set `e anal.loads=true`. It's not set by default because it seems to have some regressions. but it will be fine for you to test it and maybe improve it later. Can you upload this binary in a PR for the radare2-regressions repository with a test doing the commands you are typing.

thanks!

[2019-04-11 01:47] Vane11ope commented on #13672
ah right ok thanks :)

[2019-04-11 03:16] radare opened #13697 "Improvements in panels"
* [ ] Get keys and panels ideas from https://github.com/JeremyBlackthorne/Ghidra-Keybindings
* [ ] Default view should contain 3 frames and look good at 80x25
* [x] nN do thee same, i expect to make N create a new frame splitting horizontal the current one
* [x] support cursor in hexdump modes
* [ ] _ key should do ~... on current frame contents.. or at leesat find a way to have current and this a

[2019-04-11 04:48] radare opened #13699 "RFE: regdiff of function emulation in zignatures"
Save the differences in register values between initial state and end of function.

This bring some challenges:

* emulate all bbs?
* ignore the jumps/loops?
* ignore the calls? Make them return 0?
* implement drdj, drdq...

[2019-04-11 04:56] Bhuvanamitra commented on #13690
I want to extract mnemonics from the disassembled code and give them as features to my malware classifier.
I have used objdump and extracted menmonics from disassembled code it produced.. The classifier results are satisfactory.
But as you may know objdump is linear disassembler.
So I want to extract recurssively and train the classifier to see if there is any improvement in the accuracy. (I belie

[2019-04-11 06:40] XVilka commented on #13677
@oxcabe please don't forget to cover these with tests.

[2019-04-11 06:46] XVilka commented on #13689
@condret one more thing - please remove the commands you kill from the [ESIL chapter](https://github.com/radare/radare2book/blob/master/disassembling/esil.md) of the [Radare2 book](https://github.com/radare/radare2book).

[2019-04-11 06:46] XVilka commented on #13689
Or at least create an issues in that repo, so that we are keeping track what is actually implemented.

[2019-04-11 07:32] XVilka commented on #13661
@oxcabe in fact, you might be interested in this too - from the implementation size r2 zignatures are just SDB databases, so it will be easy to add, once you determine how to store the function type, argument types, local variable types too.

[2019-04-11 08:53] rouki opened #13700 "Call instruction parameters"
I would love to have an option to fetch a call instruction parameters as described by the current calling convention.  Given that I seek into a call instruction, I would like to ask what are the parameters that this specific calls sends (only those that can be resolved statically of course).

For example (the calling convention is Microsoft x64 calling convention):

`0x14000c448      488d1551c21e.

[2019-04-11 09:43] XVilka commented on #13700
This is a good (and should not be hard to implement) idea that fits [Types RSoC project](https://github.com/radare/radare2/projects/19)

[2019-04-11 09:44] XVilka commented on #13700
Also related to https://github.com/radare/radare2/issues/13191

[2019-04-11 10:13] radare commented on #13690
pd is linear disasm so it wont fix your concern unless you have analyzed the code before.

One solution would be to use pdr@@fcn* to only get the recursive disasm of the functions, but as long as u only one the mnemonics tweak the asm. Config vars, or use pir~[0]

[2019-04-11 10:37] Bhuvanamitra commented on #13690
Thanks for telling about the tweaking. Is there any way by which i can recrssively disasm entire binary?
as you said, pdr is giving disasm of certain function only.

[2019-04-11 11:04] radare opened #13702 "Review anal.data"
In theory it follow data refs and analyzes the destinations as functions if they look like code, but it seems to introduce a bunch of regressions. thats why its not enabled by default, so it will be good to improve it and test it more

[2019-04-11 11:41] Masrepus commented on #12508
Alright, I will do that. How does that work? I figured I will need to put the binary inside a new folder in the "bins" directory. And how do I add the commands and the expected output?

[2019-04-11 12:37] radare commented on #7094
another proof that the nsa snitch on us :P

![Screenshot 2019-04-11 at 14 37 27](https://user-images.githubusercontent.com/917142/55957740-58a36180-5c67-11e9-8d1b-e19f3da3e7d7.png)

[2019-04-11 13:35] radare commented on #12508
yes, put the bin in bins/macho/bash, then see any of the scripts in new/db/* and run bin/r2r.js db/... to verify that it passes the test

with this test passing we can later work on improving the default analysis to make this not happen again

[2019-04-11 14:18] Masrepus commented on #12508
Done. Thanks for your help on the issue!

[2019-04-11 14:18] #12508 closed

[2019-04-11 17:02] radare opened #13708 "| asf [k[=[v]]] list/set/unset pf function signatures (see fcnsign)"
This command seems deprecated/decoupled/inconsistent with `afs` and `tf`.. also not related to syscalls which is what `as` is all about

[2019-04-11 18:39] jberryman opened #13710 "Poor function detection case"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2019-04-12 08:59] radare opened #13713 "vr should rotate between JMP, CALL and DATA reference hints"
right now it's "calls and jumps" or "data refs"

[2019-04-12 17:17] lamin3 opened #13720 "Extract menmonics in sequence as they should execute and not just linearly"
Hello,

 I want to extract mnemonics from binaries (malware) using Radar2 using the disassembly option.

 However, I want to extract mnemonics like they should be executed (control flow execution) and not like with just a simple STATIC disassembly.

  So, let's suppose I have an unconditional jump instruction followed by padded data (or junk code). Here, I want to extract mnemonics like they shoul

[2019-04-12 17:27] XVilka commented on #13720
In general this is unsolved problem due to the non-deterministic way of execution - dependency on the input, environment, and concurrency. There are two ways to do this *imprecisely*: partial emulation (with ESIL for example) and symbolic execution. For the latter case you will have a path explosion problem, thus not really practical for real world programs. So using partial emulation and some use

[2019-04-12 17:54] lamin3 commented on #13720
@XVilka : First of all, thank you very much for your very quick reply. You answer is very logical and concrete.

Let me just explain more my problem:

I'm dealing with **PACKED** samples. And generally, the unpacking-code stub is the first code called after the entry point. In this context, I just want to extract in sequence the 30 (or a bit more let's say 50) first mnemonics starting from the ent

[2019-04-13 06:56] Vane11ope commented on #13697
by the way you can already insert hexpairs in some of panels such as disassembly, hex dump, stack, and register if there are not more by c->i. you can't elaborate the detail of the edit by second key just yet tho.

[2019-04-13 06:58] Vane11ope commented on #13697
and also, that ansi_crop bug, I don't know if i can fix that soon. I researched a lot but still i don't know. I hate color codes.

[2019-04-13 07:32] Vane11ope commented on #13697
omg X key does not even behave right in so many cases let me fix all

[2019-04-13 07:41] radare commented on #13720
I think that what you want is to enable dbg.trace. Do dsu to step until a specific address and thwn run dtd to disassemble the debug traces

[2019-04-13 07:42] radare commented on #13720
And yes this think works in esil, but esil wont unpack windows binaries without defining a bunch of windows apis and such.

[2019-04-13 10:17] lamin3 commented on #13720
@radare: Thanks a lot for your reply.
Indded, I need a kind of disassembled traces in order the have a meaningful mnemonics in sequence.

Yes, debugging is possible, however I don't want to use it for the following reasons:
- I don't want take the risk to execute directly the code.
- In my context, I don't want to UNPACK, I just want to get the first mnemonics (let's say 50) of the unpacking routi

[2019-04-13 20:56] qwuau06 opened #13730 "Search range isn't working properly for /c and /ce"
# Search range isn't working properly for /c and /ce

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | ArchLinux x86-64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)

[2019-04-14 13:58] radare opened #13737 "ELF parsing issue on MIPS binary"
IDA and GHIDRA work fine here, but r2 and readelf fail. didnt tried other tools.

https://github.com/radare/radare2-regressions/blob/master/bins/elf/boa-mips

Basically:

* no strings with iz
* no symbols with is
* gp must be resolved with emulation coz no _gp symbol resolved)

[2019-04-14 13:59] radare opened #13738 "Missing autocompletion for alias commands"
Way to reproduce:

[code]

[2019-04-14 14:13] radare commented on #13730
reproducer to be added to the r2r testsuite using the mac-ls binary
[code]
can you add a test in the radare2-regressions repo once the PR gets merged?

[2019-04-14 15:01] qwuau06 commented on #13730
Sure. i'll do that.

[2019-04-14 15:03] radare commented on #13730
merged . fixed in https://github.com/radare/radare2/pull/13739

[2019-04-14 15:17] #13730 closed

[2019-04-14 15:40] #12867 closed

[2019-04-14 15:45] #13738 closed

[2019-04-14 16:42] ITAYC0HEN commented on #8740
I recommend closing this issue since this solution can work with
[code]

[2019-04-14 16:51] #8740 closed

[2019-04-14 22:16] radare commented on #13351
ping?

[2019-04-14 22:19] radare commented on #13559
Thanks @oxcabe !!

[2019-04-14 22:19] #13559 closed

[2019-04-14 22:19] radare commented on #13553
Fixed

[2019-04-14 22:19] #13553 closed

[2019-04-14 22:20] radare commented on #13553
Please @oxcabe add more tests when you add the value  comments

[2019-04-14 22:21] radare commented on #13673
This is somethihng to be added to panels too

[2019-04-14 23:27] radare commented on #13319
Fixed in https://github.com/radare/radare2/pull/13749

[2019-04-14 23:27] #13319 closed

[2019-04-14 23:31] radare commented on #5353
Right now @@@ works with [addr] [size] [addr] [size] ... when used with @@@= or @@@c:

to solve this issue we shuold implement @@@j: command but to do this we should find a valid format for this json. something like {"addr":0, "size": 0}.. and adjust all the commands that spit addr+size things like fj to be like this.

but maybe we also want to get that input as an array of integers in json form @

[2019-04-14 23:32] radare commented on #12663
Solved in https://github.com/radare/radare2/pull/13749

[2019-04-14 23:32] #12663 closed

[2019-04-14 23:38] radare commented on #13255
can you try again? i did some improvements in arm analysis

[2019-04-15 00:01] radare commented on #8565
i think this issue needs to be rephrased and cleaned up. @XVilka can you do that? describe how to achieve each of the points to be done

[2019-04-15 00:36] radare commented on #8063
Fixed

[2019-04-15 00:36] #8063 closed

[2019-04-15 00:36] vifino commented on #13255
yep, it is fixed!
thank you so much!

can you give me a tl;dr on what you did?
what was the issue?

[code]

[2019-04-15 00:36] #13255 closed

[2019-04-15 00:36] #13321 closed

[2019-04-15 01:15] radare opened #13753 "Add command to rebase analysis information"
We need a command that takes this as arguments:

* initiial address of current data (for a specific module)
* end address of current data (for a specific module)
* new base address

The command will walk all the comments, hints, breakpoints, functions, basic blocks, types bindings, xrefs... and rebase all of them that are poiniting in the specified range.

Example propsal:

[code]

When this comma

[2019-04-15 01:16] radare commented on #11984
Can you try again? and add some tests?

[2019-04-15 01:18] radare commented on #7148
What i would like some kind of `prc` but displaying entropy , printablechars, etc.. in color blocks instead off bars like p=e does

[2019-04-15 01:20] radare commented on #11828
Can you give some examples of how those commands should look like?

[2019-04-15 01:28] radare commented on #13620
This is fixed now

[2019-04-15 01:28] #13620 closed

[2019-04-15 01:31] radare commented on #13753
Inspired by Sibyl, i did r2emuhash in r2-extras https://github.com/radare/radare2-extras/tree/master/r2emuhash/bin

[2019-04-15 01:31] radare commented on #13699
Inspired by Sibyl, i did r2emuhash in r2-extras https://github.com/radare/radare2-extras/tree/master/r2emuhash/bin

[2019-04-15 01:38] radare commented on #13700
Related commands:

| afcR            Register telescoping using the calling conventions order
| aefa [addr]                emulate function to find out args in given or current offset
| afcf[j] [name]  Prints return type function(arg1, arg2...), see afij
| afs ([fcnsign])                       get/set function signature at current address

i think its already ssolved with this, maybe it needs bett

[2019-04-15 01:39] radare opened #13754 "Not implemented: afca Analyse function for finding the current calling convention"
[code]

[2019-04-15 02:25] radare opened #13755 "obL as an alias for iL?"
imoh it makes sense to have it.

[2019-04-15 08:39] v45k0 commented on #13404
I can confirm the same bug when tested on a simple C crackme (uploaded, see below) with the slightest difference that if the debug mode is started with `r2 -d bin` everything works as expected:
- `r2 bin` and then executing `ood` crashes with *ptrace (PT_ATTACH): Operation not permitted* as in the initial comment
- `r2 -d bin` works fine

Info about the work environment (running latest r2):

| Que

[2019-04-15 09:46] radare opened #13757 "Add @@@* to print as offset+size all the results instead of running the commands"
For example

[code]

to be the same as:

[code]

[2019-04-15 09:54] ret2libc commented on #13755
I'm ok with it, but I don't really feel the need for it.

[2019-04-15 09:56] radare commented on #13755
I did this PR to merge when decided https://github.com/radare/radare2/pull/13758

[2019-04-15 10:36] radare commented on #10520
ive started to rework on pava in https://github.com/radare/radare2/pull/13759

[2019-04-15 10:44] radare opened #13760 "SPECIAL_SYM TLDR"
Use 4 letter for this thing in `is`

![IMAGE 2019-04-15 12:44:19](https://user-images.githubusercontent.com/917142/56126861-3027aa00-5f7c-11e9-8383-821068b41893.jpg)

[2019-04-15 11:14] radare commented on #13255
i did several things already dunno which was the specific one that fixed this problem

[2019-04-15 11:17] radare commented on #13404
Would be good to deetermine if this is caused by ptrace-wrap, can u try rebuilding r2 without it?

[2019-04-15 11:29] radare opened #13762 "Glitch in k"
we should trim those spaces around =

[code]

in sdb works fine:

[code]

[2019-04-15 11:35] radare commented on #13710
this bug is related to the order of the analysis, if you analize via aa @@sym* the scope is detected properly. i think this is something we should do in a separate command at the end of aaa or improve the current analysis to avoid covering known registered entrypoints (via call ref or bin symbol) for example

[2019-04-15 11:35] radare commented on #13690
pdr@@F

will do recursive disasm of of the functions

[2019-04-15 11:42] radare commented on #13619
see that i have created the horizontal scrollbar, maybe good th ave p= or omething too

[2019-04-15 11:43] radare commented on #13229
@thestr4ng3r any comments on the other points?

[2019-04-15 11:47] thestr4ng3r commented on #13229
The aC ref is fixed, for the rest my comments above are still valid

[2019-04-15 11:54] radare opened #13763 "Support CSV"
CSV is a pretty nice format for those who like to use SQL or Excel to process the data. Those tools dont support JSON, so having CSV will give us the ability to extend the table widget.

* Import a CSV to render a table (adjust column sizes)
* Export any relevant info from r2 into CSV
* Create a CSV api like the pj_ one we have (maybe reuse the future table api) and create and exporter
* We need t

[2019-04-15 12:47] r00tten commented on #12099
Hey, I would like to implement this feature, if it is still wanted.

[2019-04-15 12:51] radare commented on #12099
Imho the way to go here is to add a new config variable `scr.confirmquit` or `scr.quitprompt` or something like this (im open to suggestions here). Being set to false by default.

When the user goes to quit r2 (prompt_repl) it must chk if scr.interactive is set and if this var is set, then ask for confirmation (like its done when quitting a debugging sesion).

Yes. it's still in the wishlist :) lo

[2019-04-15 13:05] jnbr opened #13765 "Parallel builds fail"
### Work environment

| Questions                                            | Answers
|--------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                      | Voidlinux x86 64

### Expected behavior

Building radare2 should work by running `./configure; make -j 16`.

I was only able to trigger this bug when trying to update the radare2 package in

[2019-04-15 13:05] radare opened #13766 "aai should also sum the Cd (data dwords) as covered code"
doing aaaa in /bin/ls is making everything to be analuzed, but as long as there are jump tables, and some constants are inlined in the code results in never being 100% coverage for `aai`

[2019-04-15 13:06] radare commented on #13765
so its fixed in git?

[2019-04-15 13:07] jnbr commented on #13765
no

[2019-04-15 13:10] radare opened #13767 "Improve p--"
* [ ] Use theme colors
* [ ] Honor scr.width
* [ ] Make it work in vertical too like scr.scrollbar=1

<img width="1487" alt="Screenshot 2019-04-16 at 11 05 43" src="https://user-images.githubusercontent.com/917142/56196684-97eefb00-6037-11e9-93b0-e653000a576d.png">

[2019-04-15 13:12] jnbr commented on #13765
note: the attached log is from d512b9c0a04b6d6c89899a42cd56cd510ec2898c

[2019-04-15 13:17] XVilka commented on #13763
Will overlap with `CC,` for linking the text file as a comment.

[2019-04-15 13:18] XVilka commented on #3222
See also [CSV support request](https://github.com/radare/radare2/issues/13763)

[2019-04-15 13:20] XVilka commented on #13753
Isn't this a duplicate of https://github.com/radare/radare2/issues/6495 ?

[2019-04-15 13:21] XVilka commented on #13753
Also related https://github.com/radare/radare2/issues/5905

[2019-04-15 13:22] radare commented on #13753
yes it is. we can close the old one, because it's better described/explained in here

[2019-04-15 13:22] radare commented on #6495
Continue worjing in https://github.com/radare/radare2/issues/13753

[2019-04-15 13:22] #6495 closed

[2019-04-15 13:23] radare commented on #5905
Will be fixed with https://github.com/radare/radare2/issues/13753. Do you wanna work on it? or at least write some tests when its implemented?

[2019-04-15 14:10] fcasal commented on #13404
The same behaviour happens to me when I change the configure variable to WANT_PTRACE_WRAP=0 and build r2.

[2019-04-15 15:02] XVilka commented on #10996
@oxcabe please don't rush to solve this, it might be hard to do and less important than rest of the "Type Analysis Improvements" tasks.

[2019-04-15 16:47] oddcoder commented on #5905
sure I can unit test it once it is implemented just mention me in the PR, right now I can't see a pr for it

[2019-04-15 17:31] XVilka commented on #11828
Well, something like:
[code]
[code]
If you have better ideas - please feel free to suggest.

[2019-04-15 17:33] radare commented on #10851
are you running this with http.sandbox=false?

[2019-04-15 17:50] radare commented on #11828
i always anted to have a range parser/checker in r2, i have written it in different languagees already.. so..

having 1,2-10,80,90,100-120

this will allow to "compile" this statement and check if a value is in range, or use it as an iterator generator pulling values out of it.

[2019-04-15 19:45] Maijin commented on #13229
I don't have any opinion on the renaming, won't have impact on the users I think because very few users know about it if not only core so feel free to go ahead :)

[2019-04-15 19:58] bannsec commented on #10851
Yeah. Been a while, but i recall i had to enable it back then due to some commands not working correctly with it enabled. Also, not sure if i got the same errors with it enabled.

[2019-04-16 00:49] GustavoLCR opened #13776 "aaa (aaft) - Stack isn't initialized"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | WSL Debian x64 (buster)
| File format of the file you reverse (mandatory)      | PE, ELF etc.
| Architecture/bits of the file (mandatory)            | PPC, x86/32, x86/64 etc.
| r

[2019-04-16 07:33] #13674 closed

[2019-04-16 08:09] #13713 closed

[2019-04-16 09:04] radare commented on #13776
aei and aeim work as expected. just pushed a pr that solves that issue

[2019-04-16 09:09] radare opened #13781 "Unify all zoom commands"
Right now we have those commands to have a zoomed-out "overview"

* prc=
* p=
* p-
* pz

The zoom. config variables are used to change the behaviour, and those commands dont share all the code that they could share.. will be good to unify and improve the usability of those commands (maybe placing them all under pz or whatever), feedback is welcome

[2019-04-16 09:14] radare commented on #13689
its done i think

[2019-04-16 09:14] #13689 closed

[2019-04-16 09:14] radare commented on #13689
we can open an issue in the r2book to kill rpick, but i think its better to re-read the whole book and rewrite everything we see. so much changes

[2019-04-16 09:14] radare commented on #13689
was rpick handled in esil.rs?

[2019-04-16 09:18] radare commented on #13753
im thinking that this wont work unless i provide the full mapping translations of all the regions at once. otherwise we can recursively rebase things that fall on other used areas and result in a broken state

[2019-04-16 09:46] radare opened #13782 "Review/update flagtags"
Related to

https://github.com/radareorg/cutter/issues/682

Seems like libr/flag/d files are not loaded by default, usage is confusing, missing ft*, more ideas are welcome

[2019-04-16 09:50] radare opened #13783 "[clusterfuzz] utf8 crash and missing SN"
* [Warning: No SN reg alias for current architecture.
* [Cannot find function 'entry0' at 0xffffffffffffffff(aa)
* https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=13726#c2

[clusterfuzz-testcase-minimized-ia_fuzz-5683914623942656.dms.zip](https://github.com/radare/radare2/files/3084165/clusterfuzz-testcase-minimized-ia_fuzz-5683914623942656.dms.zip)

[2019-04-16 11:39] radare opened #13784 "Improve dbt with stackframe contents"
We want to show the contents of the stackframe, maybe via pxr or ad if we dont have local vars defined for the given function
[code]

[2019-04-16 12:08] DigiAngel opened #13785 "Unable to compile"
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x64
| r2 -v full output, **not truncated** (mandatory)     |  Latest git

### Expected behavior
Compile

### Actual behavior
Errors out

### Steps to reproduce the behavior
git clone the repo, s

[2019-04-16 12:30] radare commented on #13785
do you have capstone from git installed system wide? because capstone-master is broken

cant reproduce this issue anywhere, are you using a clean checkout? or reusing an old clone without doing git clean -xdf ?

[2019-04-16 13:35] DigiAngel commented on #13785
Yes, I do have it installed system wide..my process (which I just updated today):
[code]

This has been working fine for a couple years now.  I deleted the radare2 dir and did a fresh git clone.  Pip list shows the below:
[code]

Is there another way to validate these are installed correctly?  Thank you.

[2019-04-16 13:39] radare commented on #13785
the problem which i reported already to them, capstone from git in the master branch reports v5, but it actually contains code from v4, so it misses a lot of instructions and oesnt have the changes of the next branch .ive been hitting my head against the wall for several months with all those messy capstone branch usages that was breaking the r2 builds.. the answer is "only use vX branches or rele

[2019-04-16 13:43] Maijin commented on #13782
I suggest one should move this under the function signature database like we have noreturn=XX we could have unsafe=XX. That way it's all located at the same place and easy to contribute.

[2019-04-16 13:49] DigiAngel commented on #13785
sudo sys/install.sh :)
[code]

[2019-04-16 13:58] radare commented on #13785
dont run sys/install.sh as root, otherwise you are building as root , and you only need root to install.

the USE_CAPSTONE line is the one that informs that it is going to build against the system-wide capstone. i will just comment out the code that adds this flag and this way we will avoid people to use systemwide capstone unless specified on purpose.

ive pushed a pr https://github.com/radare/ra

[2019-04-16 13:58] radare commented on #13782
there's a list of "attributes" that i would like to be able to assign to each function

* noreturn
* unsafe
* unused
* pure
* tailcall
...

so we need a better approach than the one used for noreturn to do this.

[2019-04-16 14:08] DigiAngel commented on #13785
Thank you....I'll try again later today.

[2019-04-16 14:52] ret2libc commented on #13760
I think anything too short would be not understandable by users.

What about `SPEC_SYM`?

[2019-04-16 14:53] ret2libc commented on #12206
This can't be solved if we don't get a better description of the issue, as already asked in https://github.com/radare/radare2/issues/12206#issuecomment-469758419

[2019-04-16 14:54] radare commented on #12206
i will describe in detail when i get some spare time. focus on the other elf issue for now

[2019-04-16 14:55] radare commented on #13785
merged, should be fixed now

[2019-04-16 14:58] DigiAngel commented on #13785
Works like a champ, and compiled as a standard user as well..thanks so much!

[2019-04-16 16:13] deepakchethan commented on #12207
Should I just insert space for this time or wait for the table API ?

[2019-04-16 16:41] #13673 closed

[2019-04-16 17:11] Maijin commented on #13782
All those tags all good to be in these existing databases so it's all centralized and easy to contribute for new comers

[2019-04-16 18:11] radare commented on #12207
better wait for the table api imho

[2019-04-17 09:25] nmeum commented on #13765
ran into the same issue when upgrading the alpine linux package of radare2:

  * [radare2-3.4.1-r0.log](https://github.com/radare/radare2/files/3088808/radare2-3.4.1-r0.log)

[2019-04-17 10:01] radare commented on #13765
Problem is that we shouldnt build asm and anal in the same parallel stage. So we probably need to add another layer

[2019-04-17 10:02] #13640 closed

[2019-04-17 10:31] radare opened #13795 "Add an option to use the popup autocompletion instead of the current one in RCons"
Like it's done in vg

<img width="344" alt="Screenshot 2019-04-17 at 12 30 24" src="https://user-images.githubusercontent.com/917142/56281305-98a59100-610c-11e9-85f2-2a8ffc846e43.png">

[2019-04-17 10:32] radare commented on #13795
And use the theme colors

[2019-04-17 10:39] #4820 closed

[2019-04-17 10:42] radare commented on #11562
I have written a small markdown parser in C, no support for tables in it yet. but yeah will be good to have a way to render markdown files inside r2. will commit my code at some point

[2019-04-17 10:43] radare commented on #11396
Please explain this issue in more detail. it's not clear what are you asking for or what's needed to be done

[2019-04-17 10:43] radare commented on #8115
Bindiffing visualizations and usability in r2 can be improved a lot, +1 for improving the overall state of this

[2019-04-17 10:44] radare commented on #8441
i dont think those issues happen anymore. please reopen if im wrong

[2019-04-17 10:44] #8441 closed

[2019-04-17 10:44] radare commented on #9617
i have implemented alias files which can be used for this

[2019-04-17 10:44] #9617 closed

[2019-04-17 10:45] radare commented on #12588
we need more improvements in the visual tabs. right now its im PoC state and its usable, but will be good to refactor it and improve the usability, integrating it in the following modes:

* panels
* graph
* shell

[2019-04-17 10:47] radare commented on #3033
i have upudated the list of missing <tab> handlers

[2019-04-17 10:50] radare commented on #9719
Im thinking that maybe we want to remove ve (because we have vbe) , and use 've' to toggle ESIL in the disasm.. but we have already oO to rotate that. thoughs on more changes in visual keys?

[2019-04-17 10:53] #13755 closed

[2019-04-17 10:55] Maijin commented on #13669
aa* is not used in aaa

[2019-04-17 10:56] radare commented on #13669
which name do you think is best for this? proposals?

[2019-04-17 10:57] radare commented on #13651
another thing we can do is eprintf a warning message when the options to autocomplete are larger than the limit, so at least the user knows whats going on

[2019-04-17 10:57] #13654 closed

[2019-04-17 10:58] radare commented on #13654
if you use the termux pkg from adb you will have to set a bunch of env vars because its not a statically linked build, you can do a static build too

[2019-04-17 11:00] radare commented on #13607
Solved already

[2019-04-17 11:00] #13607 closed

[2019-04-17 11:01] radare commented on #13482
/bin/ls from mojave, set those options, aaa and open graph in visual

[2019-04-17 11:04] Maijin commented on #13669
No idea what does aa* right now but it doesn't output aa in r2 commands. For the name i don't know.

[2019-04-17 11:05] radare commented on #13348
wasnt this fixed?

[2019-04-17 11:05] Maijin commented on #13482
Here is the binary -
[ls.zip](https://github.com/radare/radare2/files/3089270/ls.zip)

[2019-04-17 11:07] radare commented on #13213
this can be done by just using ahe and ahj

[2019-04-17 11:07] #13213 closed

[2019-04-17 11:08] radare commented on #13264
this is fixed

[2019-04-17 11:08] #13264 closed

[2019-04-17 11:08] #13179 closed

[2019-04-17 11:09] radare commented on #13172
im the only one doing that and i dont think we need this

[2019-04-17 11:09] radare commented on #13168
thats expected. but can be improved indeed

[2019-04-17 11:10] radare commented on #13143
is this bug still there? i think we fixed all those memory problems

[2019-04-17 11:10] radare commented on #13136
i fixed this

[2019-04-17 11:10] #13136 closed

[2019-04-17 11:12] ret2libc commented on #13143
Well... I think the problem is still there, because r2 uses in general a lot of memory and on some machines with not a lot of ram r2 could be killed. That said.... at the moment and for some time I think there isn't much we can do.

[2019-04-17 11:12] ret2libc commented on #13348
I think it was IIRC.

[2019-04-17 11:13] radare commented on #12994
pls try again

[2019-04-17 11:15] radare commented on #3148
i think this is fixed now

[2019-04-17 11:15] #3148 closed

[2019-04-17 11:17] #13348 closed

[2019-04-17 11:17] radare commented on #12750
anal hints can be used to change the disassembly of any string, but this is too low level to solve this problem, but will be good to have some regex that apply to a range

[2019-04-17 11:18] XVilka commented on #13795
Related: https://github.com/radare/radare2/issues/8476

[2019-04-17 11:19] radare commented on #12625
already done

[2019-04-17 11:19] #12625 closed

[2019-04-17 11:20] radare commented on #12555
status of this? @XVilka

[2019-04-17 11:20] radare commented on #12724
pfc prints C now. not sure if unions should be working too. but we want better types-header-sstructs-format integration

[2019-04-17 11:21] radare commented on #12463
i implemented prc= which does that

[2019-04-17 11:21] #12463 closed

[2019-04-17 11:22] XVilka commented on #12726
Sounds good to me, just keep the equal sign:
[code]

[2019-04-17 11:22] radare commented on #12392
Aaaand its gone! the server is down and we need to generate new logs in local.

[2019-04-17 11:22] #12392 closed

[2019-04-17 11:23] radare commented on #12267
i think its fixed, but enotime to verify, anyone? also pls add testss

[2019-04-17 11:25] radare commented on #12091
can you confirm the crash is still there? couldnt reproduce yet

[2019-04-17 11:25] kazarmy commented on #12726
👍  though no need for double spacing and the colon I suppose
[code]

[2019-04-17 11:25] radare commented on #12081
can you try again and confirm?

[2019-04-17 11:28] radare commented on #12033
ping

[2019-04-17 11:28] radare commented on #12007
updates on this? i think a small PR shouldnt be hard to solve all this

[2019-04-17 11:29] radare commented on #11984
hello?

[2019-04-17 11:29] radare commented on #11984
@alvarofe

[2019-04-17 11:30] radare commented on #11890
all the issues listed here are gone! thanks @Vane11ope !!

[2019-04-17 11:30] #11890 closed

[2019-04-17 11:33] radare commented on #13669
thats why it should be renamed. its not consistent with the use of '*'

[2019-04-17 11:35] XVilka commented on #12392
We will setup new server, no worries, once the infrastructure is up and
running.

On Wed, Apr 17, 2019, 2:22 PM radare <notifications@github.com> wrote:

[2019-04-17 12:00] radare commented on #13720
then you should go with this

[2019-04-17 12:01] radare commented on #13720
[code]

[2019-04-17 12:12] radare commented on #13760
then just uses SPEC, all the other keywords are 4 letter, we should stick to something visually consistent or i'll cry again

[2019-04-17 12:25] ret2libc commented on #13760
they are not all 4. There is also `NOTYPE`. But ok for `SPEC`.

[2019-04-17 12:26] radare commented on #13760
then SPECIAL or SPCL. because SPEC looks more like specifications

[2019-04-17 12:30] ret2libc commented on #13760
`SPCL`. Done! :D

[2019-04-17 12:34] radare commented on #13760
then NOTYPE into NTYP? looks really messed up, more like stocks than a real word

[2019-04-17 12:48] radare opened #13796 "Visual graph is confusing with e and E keys, should merge"
basically to toggle (rotate) between all the edge modes

* square
* fast-square
* diagonals
* no lines

we should improve some of those line layouts

[2019-04-17 12:53] ret2libc commented on #13760
Mh... NOTYPE is already ok. It is correctly aligned.

[2019-04-17 13:08] Maijin commented on #5353
Added a note in r2book and closing here - https://github.com/radare/radare2book/commit/c1af25f3ea4ed12543d84402af0458791c9beb2d

[2019-04-17 13:08] #5353 closed

[2019-04-17 13:21] dukebarman commented on #13143
Yep, it was aborted again.

[2019-04-17 13:46] radare commented on #13143
Fix it with hardware

[2019-04-17 16:34] p2mate commented on #12033
was fixed in https://github.com/radare/radare2/commit/d29085336a7d7843287db6152890ff9698e5b336#diff-3b98a85702df1141692acf8e523272b3

[2019-04-17 16:34] #12033 closed

[2019-04-17 18:26] Wenzel commented on #12438
Hi,

i have the same issue here when loading `win32k.sys` pdb file

[code]

Please find the file [here](https://drive.google.com/open?id=1P_MViVvZLF-HsSBr1DdF5ZvFWpKTbE4j)

[2019-04-17 18:28] Wenzel commented on #12994
The file is available, like I said.

I retried with the latest radare2, and it's the same, 25% of memory allocated.

[2019-04-17 22:40] radare opened #13802 "pf variable size arrays support"
a fat header is the easiest example we can take for this:

[code]

this is not working, but it should. the [?] may expect a fieldname (previously defined) to read the dword from there to determine the size of it.

This is used in many other data structures an we should support this properly.

pascal strings can be defined like this:

`pf.pascal_string b[?]z length string`

[2019-04-18 06:05] skvl commented on #12091
I didn't work with that task since then. Fill free to close the bug if You wish.

[2019-04-18 08:10] radare commented on #12091
So the bug is gone?

[2019-04-18 08:21] rgnkn commented on #13404
Same this end.

With me there seems to be an issue with the TracerPid of the newly spawned process. The newly spawned process (with ood or doo) will show the same TracerPid (grep TracerPid /proc/.../status) as with the original start (with r2 -d ...) though the annotated tracer won't be alive after the first ood/doo. The annotated remains at <r2-pid + 1>.

=> ptrace (PT_ATTACH): Operation not perm

[2019-04-18 08:57] skvl commented on #12091
I don't know. I didn't test it since then.

I have just report the issue I have seen. If nobody could see it then may be it is gone.

[2019-04-18 11:36] #12091 closed

[2019-04-18 11:37] radare commented on #12091
it can be related to one bug i blindfixed 2 weeks ago. thats why i was asking if this fix was making this issue gone too

[2019-04-18 12:19] radare opened #13805 "Implement rbin.io plugin"
Like the ones we have for RDebug or RFS

[2019-04-18 14:26] thestr4ng3r commented on #13404
@rgnkn How do you know the tracer is not alive anymore? The reason it is r2-pid + 1 is most likely because ptrace-wrap, which pushes all ptrace calls into a separate thread, which would get this pid, not the initial r2 pid and this thread should stay alive as long as r2 runs.

These `ptrace (PT_ATTACH): Operation not permitted` messages seem to happen because of subsequent `PT_ATTACH` calls to the

[2019-04-18 23:15] jbroadus opened #13812 "Incorrect switch table sizes"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 29 x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86_64 and x86
| r2 -v full output, **not tr

[2019-04-19 05:02] Siguza opened #13816 "Allow setting flag->realname from commands"
**Is your feature request related to a problem? Please describe.**
I'm trying to resymbolicate large C++ code bases, and the only way I know of importing symbols to r2, short of writing a custom plugin, is via flags. Now flags filter our special characters in their "normal" name, but have a "realname" to preserve those. Only sadly, it seems you cannot set this realname from the command line or fro

[2019-04-19 07:43] XVilka opened #13818 "Do not show "CODE XREF ..." if reflines are shown (by default)"
Currently radare2 disassembly shows both reflines and comments like "CODE XREF from ..." by default. @radare and me suggest that we can hide the "CODE XREF ..." lines if reflines are shown. At least by default. And show them once reflines are enabled. But user should be able to force enable the comments even with reflines shown as well.

[2019-04-19 07:58] radare commented on #13816
I would say fN or fnn command for this. Can you send a PR?

[2019-04-19 08:02] radare commented on #13818
I dont see the relation between code xrefs and reflines. Cjmps shouldnt create coderefs

[2019-04-19 08:03] radare commented on #13812
Can you submit a fix as a PR and a testcase for r2r?

[2019-04-19 15:10] radare opened #13821 "Add code hotkey hints in visual pxr"
Same for any other visual print mode that can show pointers

[2019-04-19 15:16] radare opened #13822 "RFE: improve ascii-art stackframe printer"
* [ ] move it into `p`
* [ ] use colors
* [ ] use utf8
* [ ] relative values and sizes instead of full hex addresses
* [ ] show pxr in stackframe (or just the values if found)

more comments are welcome

![IMAGE 2019-04-19 17:16:12](https://user-images.githubusercontent.com/917142/56430509-d51cec80-62c6-11e9-8f2a-8171cf0505d5.jpg)

[2019-04-19 15:19] radare opened #13823 "Improve flagtags"
We need to work more on supporting flagtags

* [ ] ftj -> dump all flagtags in json
* [ ] ft* -> dump in r2 commands
* [ ] ftl ? -> we have no way to list the flagtags loaded
* [ ] integrate with types/bininfo/... the idea is to be able to highlight matching imports, strings, etc

[2019-04-19 15:29] XVilka commented on #13822
Related: https://github.com/radare/radare2/issues/7519

[2019-04-19 17:00] ertosns commented on #9704
this can happend if the excutale is being buzy, or used, try to close all software opening target binary, then make sure it has write permissions, no need to reboot!

[2019-04-19 19:03] radare commented on #4302
where's the bin? do we have a test?

[2019-04-19 19:50] radare commented on #13776
waiting for your solution

btw got another bin that reproduces the issue.

[NoREpls.zip](https://github.com/radare/radare2/files/3099159/NoREpls.zip)

[2019-04-19 19:51] radare opened #13825 "Use aap in aaa"
Include aap in aaaa

Check this bin
[NoREpls.zip](https://github.com/radare/radare2/files/3099163/NoREpls.zip)

[2019-04-19 20:20] Maijin commented on #13825
I'll try to perform aap in aaa after everything to see what's the impact in r2r again

[2019-04-19 20:23] Maijin commented on #13482
For eob the only issue that needed it was this one maybe now it's working by default and therefore the eval can be removed - https://github.com/radare/radare2/issues/4258#issuecomment-193562720 to be tested

[2019-04-19 21:04] Siguza commented on #13816
Closing this as #13824 was merged.

[2019-04-19 21:04] #13816 closed

[2019-04-20 01:45] deepakchethan commented on #13825
Already done on #13543 right

[2019-04-20 08:04] Maijin commented on #13825
Actually we discussed adding it even in normal binary but we need to test again on r2r.

Also, @deepakchethan your solution doesn't work when the binary is opened with `-n` could you check to add that?

[2019-04-20 13:49] ret2libc commented on #13818
I don’t see either the relation.... aren’t reflines just for calls and jumps? Xrefs are also for data etc.

[2019-04-20 14:09] radare commented on #13818
This issue is pretty badly described.

If you look at the code refs (‘c’). You will see that its for jmps and cjmps. But.. only for some of them. Seems like thencode that split bbs when theres a jmp backwards doesnt adds those.

I think the best solution for this would be to do this:

- fix the missing xrefs
- add an option to show/hide the code refs in pd

[2019-04-20 22:37] radare opened #13835 "LEA assembler issues"
* [ ] lea rdi, [rip + 0x1011] -> should be 488d3d11100000 -> but we get 488db811100000 -> which is lea rdi, [rax + 0x1011]
* [ ] $ rasm2 -b64 -d `rasm2 'lea rax, [rip + 0xff9]'` => lea rcx, [rax + 0xff9]

[2019-04-21 09:13] Itra7 opened #13840 "No function at 0xf7. Define it here"
When I open radare in debug mode `r2 -AAAd cedece16` and when hit a breakpoint on main it gives me **No function at 0xf2... Define it here(Y/n)?**. When I click Y it jump somewhere, where i don't want, but when click n it gives me FFFF FFFF FFFF...

![Screenshot from 2019-04-21 11-11-54](https://user-images.githubusercontent.com/37014351/56467993-7078a380-6426-11e9-8931-de95b5e8b135.png)

[2019-04-21 09:49] Maijin commented on #13840
Please follow the bug report template and provide with the information required such as the version number, Operating system, type of binary etc. https://github.com/radare/radare2/issues/new?template=bug_report.md

[2019-04-21 09:50] radare commented on #13840
Probably because doing -AAAA is experimental and not recomended and even less inside the debugger

[2019-04-21 10:53] Itra7 commented on #13840
OS: Ubuntu x64 18.10
File Format: ELF

in file ~/.radare2rc
eco pink
dor aslr=no //  https://reverseengineering.stackexchange.com/questions/21143/when-reopening-file-lose-all-information-in-radare2

[2019-04-21 11:01] Itra7 commented on #13840
![Screenshot from 2019-04-21 12-59-52](https://user-images.githubusercontent.com/37014351/56469112-83df3b00-6435-11e9-9d78-1d981592dc39.png)
![Screenshot from 2019-04-21 13-00-11](https://user-images.githubusercontent.com/37014351/56469113-83df3b00-6435-11e9-94ef-dc40305e10f5.png)
![Screenshot from 2019-04-21 13-00-15](https://user-images.githubusercontent.com/37014351/56469114-83df3b00-6435-11e9-

[2019-04-21 11:02] radare commented on #13840
ood AAA is completely wrong

also dont expect static analysis info to work in the debugger wprogram ebcause nothing is rebased. there aare many other issues related to the same thing.
also you executed 'dc' which bascially runs the program and dies, this is why you cant read anything anywhere, im sorry to say that..but the process is dead

[2019-04-21 11:23] Itra7 commented on #13840
@radare No I'm not executed 'dc' just break point 'db main' and click '<F7> step into' and program jump elsewhere

[2019-04-21 12:15] Maijin commented on #13840
Still missing the version of radare2: r2 -v full output, **not truncated**

[2019-04-21 12:21] deepakchethan commented on #13825
I will look into it @Maijin

[2019-04-21 12:32] radare opened #13845 "Support push-ret on x86-64 and reg dereference"
anal.pushret

Using this binary https://github.com/radare/radare2-regressions/commit/f601fdeb5045a453bce5c0def0f3444048c2c281

[2019-04-21 13:35] aliyuchang33 opened #13848 "Unable to CL show the source code for a specific binary."
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86/64 5.0.8-arch1-1-ARCH
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full outp

[2019-04-21 13:38] #13672 closed

[2019-04-21 16:21] ITAYC0HEN opened #13849 "Implement "hex.address" config variable to hide address column from hexdump"
**Is your feature request related to a problem? Please describe.**
Currently we have options to hide the Address\Offset column in Disassembly and Graph using `asm.offset` and `graph.offset`. There is no such opition for `hex.*` variables though `asm.offset` also removes the Address column from hexdump (`px`).

**Describe the solution you'd like**
I think we should separate the two  and create anot

[2019-04-21 16:34] trufae commented on #13849
or asm.addr

address is unnecessary long

[2019-04-21 16:49] radare opened #13850 "x86-64 analysis var size issue"
Ghidra and IDA fails in this simple hello world. r2 is not failing because is not really trying to find the size of the variable. here's the bin and some random screenshots.

![IMAGE 2019-04-21 18:49:00](https://user-images.githubusercontent.com/917142/56473030-20213600-6466-11e9-93ca-9c3d5eab49d8.jpg)

[o_prog.file.zip](https://github.com/radare/radare2/files/3101401/o_prog.file.zip)

<img width=

[2019-04-21 17:02] Itra7 commented on #13840
@Maijin

$ r2 -v
radare2 2.8.0 0 @ linux-x86-64 git.2.8.0
commit: HEAD build: 2018-08-08__20:37:49

[2019-04-21 17:04] radare commented on #13840
o m g

2.8 is like 2500 away from master

please, try again on git master, we dont fix ancient bugs

[2019-04-21 17:35] lamin3 opened #13853 "Problem emulating a MEW-packed binary"
Hello,

 Following #13720, I'm trying to extract the first 50 emulated instructions starting from the entry point, using ESIL of radar2.

 However, I tested it on a binary packed with MEW SE 11. Unfortunately, after the first jump, I go directly on invalid instructions (ff invalid instructions).

 What is the cause of that ? Is MEW packer loading a section dynamically containing its code, and for

[2019-04-21 17:37] XVilka commented on #13840
Well, you can put it in formaldehyde, and preserve it for the future
radare2 museum.

On Sun, Apr 21, 2019, 8:04 PM radare <notifications@github.com> wrote:

[2019-04-21 17:54] radare opened #13854 "Run aaft after aa/aaa/aaaa"
Though it was already like this :________

![IMAGE 2019-04-21 19:53:33](https://user-images.githubusercontent.com/917142/56473702-2536b300-646f-11e9-8bca-b5eb5a4f8d37.jpg)

[2019-04-21 18:03] radare commented on #13854
@oxcabe @Maijin @sivaramaaa pls fix this, its just 1 line and write the test i used in the screenshot

[2019-04-21 18:27] lillypad commented on #7248
This would be nice bump

[2019-04-21 18:27] radare commented on #13401
Fixed in https://github.com/radare/radare2/pull/13855

[2019-04-21 18:27] #13401 closed

[2019-04-21 18:34] Itra7 commented on #13840
I also think that :)

[2019-04-21 18:34] #13840 closed

[2019-04-21 18:38] radare opened #13857 "nN dont work in window mode for panels"

[2019-04-21 19:29] radare commented on #13853
thats because r2 is setting the maps incorrectly, seems like a bug in the PE parser

[2019-04-21 19:40] Maijin commented on #13840
Next time please follow the bug report template they're here for a reason... We loose time trying to debug problems on ancient versions...

[2019-04-21 20:57] #13857 closed

[2019-04-22 00:02] radare opened #13861 "Type, recursive noreturn anal issue, fcnsignature and varnames issues"
Two issues here:

* [ ] the function called is noreturn, so the bb shouldnt have any out edge
* [ ] if the function signature is changed (afs!) the varnames doesnt get updated

<img width="910" alt="Screenshot 2019-04-22 at 01 52 13" src="https://user-images.githubusercontent.com/917142/56477051-562fdb80-64a1-11e9-85d5-48851df0af57.png">
<img width="1040" alt="Screenshot 2019-04-22 at 01 52 34" sr

[2019-04-23 01:28] #13823 closed

[2019-04-23 08:07] #13776 closed

[2019-04-23 08:19] yasong commented on #13658
@radare Sorry for bothering you. Could you tell me the tool used in R2? Thank you.

[2019-04-23 11:58] condret commented on #13689
ok, will look at the book

[2019-04-23 18:13] radare commented on #13613
using the visual trace mode and improving it is the way to go imho

[2019-04-23 19:25] lamin3 commented on #13853
@radare Thanks a lot for your reply.

 Ok, so what is the solution, is it possible to load another PE parser into radar2 ?

 Also, by the way, how can I map system calls ? Because I have the same problem (it jumps towards invalid instructions ff) when a windows system-call is called

Thanks in advance.

[2019-04-23 22:25] radare opened #13879 "Missing disasm field in 'ao'"
its in json, but not in standard output

<img width="1454" alt="Screenshot 2019-04-24 at 00 24 44" src="https://user-images.githubusercontent.com/917142/56619891-68d41d00-6627-11e9-90e7-72a3373d32c0.png">

[2019-04-24 00:51] radare opened #13880 "Implement dt= like we have afl=, etc"
Grouping them by contiguous blocks of code traced

[2019-04-24 01:01] radare opened #13881 "Cannot set condition flags with drc"
<img width="478" alt="Screenshot 2019-04-24 at 03 01 21" src="https://user-images.githubusercontent.com/917142/56625361-45b46800-663d-11e9-83d6-1016c79e40b8.png">

[2019-04-24 07:17] riusksk opened #13882 "radare2 doesn't recognize all cstring in ios app."
**Is your feature request related to a problem? Please describe.**
radare2 doesn't  recognize all cstring in ios app.  for example:

CFString ".." In IDA:
[code]

In Radare2, it can't  identify cstring "..":
[code]
[code]

**Describe the solution you'd like**
You can refer to IDA.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features

[2019-04-24 07:29] radare commented on #13882
Do you have emu.str enabled?

[2019-04-24 07:31] Maijin commented on #13882
Greetings, can you also provide the following information and did you run analysis like aaa?

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian arm 64, Ubuntu x86 32
| File format of the file you reverse (mandatory)      | PE, ELF etc.
| Archit

[2019-04-24 07:32] riusksk commented on #13882
arm64
macho
r2 -A bin

[2019-04-24 07:32] riusksk commented on #13882
I use r2pipe python module, how to enable emu.str?

[2019-04-24 07:34] radare commented on #13882
e emu.str=true

Thats all you need to get everything on arm and mips.

[2019-04-24 07:34] riusksk commented on #13882
Questions | Answers
-- | --
OS/arch/bits (mandatory) |  windows 64
File format of the file you reverse (mandatory) |  macho
Architecture/bits of the file (mandatory) |  arm64
r2 -v full output, not truncated (mandatory) |r2 -A bin

[2019-04-24 07:37] riusksk commented on #13882
0x103968740 7 str.cstr.......
[0x103a1d300]> e emu.str=true
[0x103a1d300]> f~+str.cstr...
0x103968740 7 str.cstr.......

does it need to reanalyze 'aaa' after enable emu.str?

[2019-04-24 07:41] radare commented on #13882
no, asm variablees doesnt affect the analysis and dont create nwe flags, it just improves the output of the disassembly. use pd, if you want more help i will need a sample binary

[2019-04-24 07:42] Maijin commented on #13882
What's the output of r2 -v ?

[2019-04-24 07:46] riusksk commented on #13882
sample file is too big to upload,can you give me a email addr?

[2019-04-24 07:47] radare commented on #13882
just find any small ios bin that you reproduce the same problem. no need to be this specific app

[2019-04-24 07:48] radare opened #13883 "Add uint64(as decimal) (and int32) in ? output"
[code]

[2019-04-24 07:48] riusksk commented on #13882
radare2 3.5.0-git 21238 @ windows-x86-64 git.3.5.0-git
commit: 1c279c6081bc1877fabd533a8314eb527e32c66c build: Wed 04/10/2019__10:52:39.32

[2019-04-24 07:59] riusksk commented on #13882
it's ok after enable emu.str, it need 'pdf' fun again.
thank you very much

[2019-04-24 13:20] radare commented on #13853
my solution is fixing the pe parser. and yes you can use the lief-pe plugin for r2. is not much maintained, but fiixing that shouldnt be hard.

what do you mean by map syscalls? syscalls are not mapped, they live in another ring. the function library calls iis whta i guess you are refering to. and this is something the runtime linker do. r2 doesnt handle that by default, but have the tools to let

[2019-04-24 13:37] alvarofe commented on #11984
It looks like still is broken as my understanding
[code]

[2019-04-24 13:50] radare commented on #11984
Whats the value in anal.in?

[2019-04-24 14:16] lamin3 commented on #13853
@radare : Thanks a lot for your replies. And I hope I'm disturbing a lot :-)

Yes, indeed I don't want to emulate to native code of the api system call. As said before, I just want to emulate the first 50 mnemonics of the PE packed binary,starting from the entry point, then get back the traces using the "dtd" comamnd. I want something like [push, mov, mov, call, call, ...., till the 50th mnemonic]

[2019-04-24 14:23] radare commented on #13853
aht ret @@ imp*

Will make all improts return withiut falling in ffff places

But there r are many other ways to do that

[2019-04-24 14:29] alvarofe commented on #11984
[code]
However, it's iterating through multiple maps instead of just one

[2019-04-24 14:30] radare commented on #11984
Yes. Thats a bug but totally unrelated to aap

[2019-04-24 14:40] lamin3 commented on #13853
@radare : Thanks for the reply.

 I've just tested it, unfortunately it didn't work. It still stops at the first system call and goes to ff instructions.
 I've attached you here the packed binary (a PE binary packed with Armadillo) i'm testing with.

 It stop at  **call dword [sym.imp.KERNEL32.dll_GetVersion]**  the 14 th instruction from the entrypoint.

The commands I'm using are:
e.dbg.trace=tr

[2019-04-24 19:12] pelijah opened #13886 "Special colors for function/symbol name in call/jmp instructions"
https://github.com/radareorg/cutter/issues/1478

[2019-04-24 23:38] ickromwerk commented on #13351
Hi. I'm here. I thought a lot about this issue and come to the conclusion. As I said before -- it was a mistake to open this ticket.

I have remembered that when I built r2 first time I have got some compile errors in capstone. Probably because of that I have built it manually. Yeap, your right about folder -- it situated here(shlr). I remembered that it was strange folder with 'r' at the end and

[2019-04-25 00:34] ickromwerk commented on #13351
@radare, you were right. That's a bug.

I can't check it right now because I'm already in pajamas but that's some steps to reproduce it:

1. Clone repository
2. Start a build
3. Build must fail in capstone directory by any means
4. Go and build capstone in place from release by hands but in place(shlr/capstone)
5. I probably used USE_R2_CAPSTONE(now obsolete) because it looks familiar

At this pla

[2019-04-25 05:33] riusksk commented on #13882
it will analyze 11 hour after enable emu.str=true with python r2pipe, but it's 30 min after disable.
[code]
it's ok with command `e emu.str = true` in ` r2 -A bin` console.
is it r2pipe's bug?

[2019-04-25 05:56] #13882 closed

[2019-04-25 08:21] ickromwerk opened #13888 "loading a project doesn't restore some evals"
I'm using r2 to work with avr.

Every time I load a project saved with 'PS' command I have to set asm.cpu by hands even if it present in project file's evals.

Steps to reproduce:
$ r2 -a avr any_file

ATmega8

ATmega328

Next load saved project:
$ r2 -p test_project

ATmega8

$ grep asm.cpu ~/.local/share/radare2/projects/test_project/rc
"e asm.cpu = ATmega328"

[2019-04-25 11:47] ickromwerk commented on #13888
I investigated futher a bit. Looks like that have no means with "evals" and tightly coupled to asm.cpu config

Here some snippets from libr/core/cconfig.c
[code]

Here config(asm.cpu) read to *asm_cpu, and then set to asm plugin default (#0 in cpus).

[code]

Here r_asm_cpu set to previously read value. Note that config value differs now. So *asmcpu contains "default" ATmega8 in case of AVR.

I cr

[2019-04-25 12:14] radare commented on #13888
Yes please, create a PR

[2019-04-25 14:47] lamin3 commented on #13853
@radare : Please,  the command "aht ret @@ imp*" didn't work, it still stops at call dword [sym.imp.KERNEL32.dll_GetVersion] as showed above.

Is there another way to simulate the api calls without going to ff instructions ?

I've attached you the packed binary in the previous message.

Thanks a lot for your help

[2019-04-25 15:04] roboman2444 opened #13894 "ARM thumb autoswitch detection on rom dump."
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux
| File format of the file you reverse (mandatory)      | raw rom dump. Mapped at 0xFFFF0000
| Architecture/bits of the file (mandatory)            | ARM, mix of arm32 a

[2019-04-25 15:12] radare opened #13895 "Wrongly honored Thumb loc symbols"
Sample and related shots in here:

[thumb-arm-issu.elf.zip](https://github.com/radare/radare2/files/3117581/thumb-arm-issu.elf.zip)

![IMAGE 2019-04-25 17:12:01](https://user-images.githubusercontent.com/917142/56746821-3dfbdd00-677d-11e9-87ef-f01a386ab93c.jpg)
![IMAGE 2019-04-25 17:12:03](https://user-images.githubusercontent.com/917142/56746825-3f2d0a00-677d-11e9-8008-83d6f5c83343.jpg)

[2019-04-25 22:57] radare commented on #13886
Fixed in https://github.com/radare/radare2/pull/13903

[2019-04-26 00:21] #13886 closed

[2019-04-26 00:29] radare opened #13904 "Panels"
* [x] honor scr.nkey (nN keys in visual go next/prev nkey thing (flag, funuction ..) - i know it conflicts with current new panel keys
* [x] in zoomed mode we cant 'g'oto or 'n/N' . maybe follow nkey only in zoomed mode?
* [x] Add decompiler selection submenu.

To do the last thing we need:

* have the ability to list all the decompilers installed
* select one by setting the cmd.pdc eval variable

[2019-04-26 08:21] radare commented on #13904
Imho we should have subcommands to pdc to handle those:

* pdc. -> list all registered decompilers (how to register them :?)
* pdc.r2dec -> instead of pdd? that looks ugly, we can maybe handle both.. but we still need a way to register them

maybe the simplest option would be to just handle anything in `pdc.` and make the decompiler plugins implement that command. by running them we can check if t

[2019-04-26 09:49] riusksk opened #13905 "radare2 can't find out data/code ref to strings"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | windows x64
| File format of the file you reverse (mandatory)      | macho
| Architecture/bits of the file (mandatory)            | arm64
| r2 -v full output, **not truncated** (m

[2019-04-26 12:24] sivaramaaa commented on #13854
This is fixed , just have to write a test for it , then we close this issue , i will send a PR now :)

[2019-04-26 17:52] alvarofe commented on #11984
This seems to be fixed now

[2019-04-26 17:52] #11984 closed

[2019-04-26 18:09] radare commented on #13854
Cool!

[2019-04-26 18:33] MapleLeaf-X opened #13907 "pdj 100 breaks pd 1"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Win7 x64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32, x86/64
| r2 -v full output, **not truncated**

[2019-04-26 19:09] MapleLeaf-X opened #13908 "aoj missing x86/x64 semantic information of instructions"
It affects any instruction that has side effects such `push` because opex only shows the visible operands and anything hidden is ignored.
I'm not entirely sure if this is a bug or not so please forgive me if this the intended behaviour.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|-------------------

[2019-04-27 08:57] radare commented on #13881
i fixed that in 87e812e86c64dece9d3a177c308a04c9340fd0e2

[2019-04-27 08:57] #13881 closed

[2019-04-27 09:04] radare commented on #13908
agree, seems like a good idea, you can get this by evaluating the esil expression too. but i agree that this sinfo should be exposed directly from static.

Its an easy fix, do you want to send a PR for it?

[2019-04-27 09:09] #13907 closed

[2019-04-27 09:09] radare commented on #13907
can you submit a test doing this:

pd 1
pdj 100 > /dev/null
pd 1

and comparing the output?

btw its fixed now, but a better fix may come soon or late
thanks!

[2019-04-27 09:15] radare commented on #13905
@Maijin tahts another bug in aaaa, its solved by running /re $$ or in fact justs doing aae it works fine, . i dont understsand why aae is not being executed in aaa, when it is MUCH better than aav, and aav is there.. juts causing some noise.

<img width="1108" alt="Screenshot 2019-04-27 at 11 11 03" src="https://user-images.githubusercontent.com/917142/56847588-33f0f000-68dd-11e9-830a-a2d83a032d30

[2019-04-27 09:15] radare commented on #13905
i dont see which analysis commands did you executed, by i assume you did aaa

[2019-04-27 10:11] riusksk commented on #13905
yes, I use 'aaa'

[2019-04-27 10:52] radare commented on #13905
aae was enough, thats why i never use aaa, and i always recommend people to try to understand what each command do. but thats clearly something that should be included in aaa, and i dont know the reason it was removed.

i'll wait for feedback from maijin here, but the PR is green and ive merged it. so it will be good to write a test with this binary to ensure aaa runs aae

[2019-04-27 14:21] MapleLeaf-X commented on #13908
I'm not familiar enough with the code or the 'style' of how things are done with radare so it might have to wait unless if someone else has an idea how it should be represented.

[2019-04-27 14:32] MapleLeaf-X commented on #13907
I'll happily test it if I'll be able to get a copy of the latest compiled radare. Its just that currently I don't have access to machine I could compile on myself so I'll need someone to provide me the binaries for windows to test it.

[2019-04-27 14:57] radare commented on #13907
Travis and appveyour just build every commit for all the platforms.

[2019-04-27 17:26] Maijin commented on #13905
aae is in aaa already https://github.com/radare/radare2/blob/master/libr/core/cmd_anal.c#L8070-L8071

[2019-04-27 17:27] radare commented on #13905
this is not aae, its aae $SS @ $S

[2019-04-27 17:27] Maijin commented on #13905
and why not changing to that this statement then instead of having it twice?

[2019-04-27 17:28] Maijin commented on #13905
https://github.com/radare/radare2/pull/13914

[2019-04-27 17:55] Maijin commented on #13905
`aae` is in aaa now, closing here :) Let us know if you still experience issue, we can always re-open.

[2019-04-27 17:55] #13905 closed

[2019-04-28 12:18] mydockergit opened #13920 "[w] Cannot open 'dbg://...' for writing while working with docker"
### Work environment

| Questions                                                               | Answers
|------------------------------------------------------ |--------------------
| OS/arch/bits (mandatory)                                      | Ubuntu x64
| File format of the file you reverse (mandatory)     | ELF (/bin/ls)
| Architecture/bits of the file (mandatory)               |  x64
| r2

[2019-04-28 12:42] mydockergit commented on #13920
The problem was because I needed to run with `--privileged` flag.

[2019-04-28 12:42] #13920 closed

[2019-04-28 13:43] SwordWorth opened #13923 "break on each function call and return"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
For UI requests, don't hesitate to post some draws.

**Describe alternatives you've considered**
A clear and concise description of any altern

[2019-04-28 13:49] SwordWorth commented on #13923
I want to script with python using r2pipe. Is there a way that when debugging I can break on each call function, thus I can get the parameter?  What's more, I won't jump into system library.
Or is there a way to do function trace, just in program's address space, not in system library?

[2019-04-28 14:14] ulexec commented on #12061
So I've been looking at this issue and it seems the problem comes with parsing the binary relying on sections. as a quick overview, the file has a .dynamic and a .dynstr section but is missing the .dynsym section which is the symbol table section for .dynstr. However we can obtain the same address by parsing the .dynamic section entries and finding the DT_SYMTAB entry, which points to the address

[2019-04-28 14:21] ulexec commented on #13737
The file seems to be truncated and is missing the portion where the section table/ section strings and global string table (.strtab) were. However the ELF header does say that there are sections.
Therefore, this issue seems to be an attempt to get the sections but it fails since the file is chopped and there is no sections to be found. I can imaging this to have an impact on symbol resolution as w

[2019-04-28 15:49] radare commented on #12061
Thanks for the feedback! I bet the fix should be easy to just honor the segments, and use sections as fallback but i dont think the linkers use sections at all

[2019-04-28 17:30] #13880 closed

[2019-04-28 17:34] radare commented on #13923
Yes you can do that

[2019-04-29 06:40] #12100 closed

[2019-04-29 13:23] yasong opened #13930 "The result of function argument identification is poor"
I have test the function argument (parameter) identification features in PPC executable. unfortunately, the result is poor. I want to improve it.
Could you tell me the method used in function argument  (parameter) identification in R2?
Thank you.

[2019-04-29 15:09] thestr4ng3r opened #13931 "Segfault in pd"
[TVMLKit.tar.gz](https://github.com/radare/radare2/files/3127986/TVMLKit.tar.gz)
`r2 -c "aa; pd 1 @ 0x000e0dc3" TVMLKit`

[2019-04-29 17:11] sivaramaaa commented on #13930
Hey hi ,

So there are 2 types of function with respect to argument detection :

1) libc function like printf , scanf those have know arguments and the info is stored in sdb https://github.com/radare/radare2/blob/master/libr/anal/d/types.sdb.txt

2) user defined functions and the arguments to them are identified by the ebp and esp accessed , u could find more about here : https://github.com/radare

[2019-04-30 09:33] AlexKornitzer opened #13934 "No zignspace context in applied flags or function naming"
**Is your feature request related to a problem? Please describe.**
This could well be a design decision and not an oversight hence the raise as a feature request over bug report. The issue here is that any zignspace context for a set of zignatures is not applied to the flags or function names when command such as `z/` are run. As a result when looking at function names or flags for this data you l

[2019-04-30 09:34] AlexKornitzer commented on #13934
If we take this forward I am happy to implement it.

[2019-04-30 18:13] radare commented on #13931
that will  only crash in asan, so not sure if its worth a test and we can just test 1  instruction

the bytes are:

0f2805b6010c00

opcode: movaps xmm0, xmmword [rip + 0xc01b6]

[2019-04-30 18:23] #13931 closed

[2019-04-30 22:00] radare commented on #13934
can you share the binary? all those Warning messages are not good

[2019-04-30 22:44] radare opened #13937 "rahash2 -r is not very useful/working as we would want"
$ rahash2 -a sha1 -r -s lasfd
e file.sha1=6017d3efafd5bfb7cbf2b584073fb4bb928375f2

file.md5 exists but WHY, and sha1 does not.. maybe add  a comment?

[2019-05-01 08:43] AlexKornitzer commented on #13934
Yeah can do, it is nothing sensitive just `ls` from Arch Linux: https://www.archlinux.org/packages/core/x86_64/coreutils If you would rather I just upload the binary let me know where to put it.

Any thoughts on the actual issue?

[2019-05-01 09:58] tilman2 opened #13939 "Command parser only escapes up to one pipe character"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| r2 -v full output, **not truncated** (mandatory)     | radare2 3.5.0-git 21666 @ linux-x86-64 git.3.4.1-277-gcdff7bf53 commit: cdff7bf53a9433be69788c8cb024b883ec9fc721 build: 2019-04-28__08:15:04

### Expected behavior
The command par

[2019-05-01 14:39] marc-groundctl opened #13943 "Pointers inside structs do not take asm.bits into account when calculating offsets"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                                            | Answers
|-----------

[2019-05-01 18:45] nongiach commented on #13835
I just experienced this issue,
glad that you are already working on it.
Keep it up, great work !!!
Thx

[2019-05-02 16:16] qrx opened #13948 "How to uninstall radare2 on macOS?"
There doesn't seem to be any information on how to uninstall Radare2 on MacOS.

I installed using the package from rada.re.

How to remove it?

[2019-05-03 07:09] afjoseph commented on #13948
Try this:
- List packages with `$ pkgutil --pkgs`
- See if radare2 is installed
- Run `pkgutil --pkg-info <R2-PACKAGE>`, replacing R2-PACKAGE with the radare2 package name (I can't really remember it)
- Remove the installed package from the location mentioned in `location` property
    - See helpful note below
- Afterwards, just forget the package `pkgutil --forget <R2-PACKAGE>`
    - I think you

[2019-05-04 13:58] #13948 closed

[2019-05-05 04:11] XVilka commented on #13930
Please provide the examples, better even to add them in https://github.com/radare/radare2-regressions/ as a regression test.

[2019-05-05 04:12] XVilka commented on #13943
Related to https://github.com/radare/radare2/issues/10996

[2019-05-05 04:20] XVilka commented on #13939
It is related to the improving radare2 commands syntax parsing:
- https://www.radare.org/rsoc/2019/ideas.html#title_1
- https://github.com/radare/radare2/issues/7967

[2019-05-05 09:49] radare opened #15595 "Add test for wtff"
wtff prefix

must create a nonzero file

[2019-05-05 10:12] radare opened #13965 "Rebase bin, meta, comments, . .. when doing ood"
At least the comments and other data, but it's pretty common pattern to open in  static, or add comments in  program, launch in  debugger and relaunch a couple of times and keep the user data and other stuff available is important

[2019-05-05 10:21] radare opened #13966 "Make a terminal logging command to save command+output in a log"
Useful for trainings, like asciinema, but in  plain text, without visual stuff, console input + output only. like an r2pipe log

[2019-05-05 10:48] radare opened #13967 "Implement cursor mode in panels for function/symbol/string list"
to select one and seek the disasm/hexdump to there

[2019-05-05 10:52] radare opened #15596 "Add test for rahash2"
https://github.com/radare/radare2/pull/13964

this regression shouldnt happened

[2019-05-05 20:55] #13765 closed

[2019-05-05 20:55] radare commented on #13765
Please confirm the fix

[2019-05-05 21:15] jnbr commented on #13765
Can confirm the fix. Building current master with -j16 works for me.

[2019-05-05 22:26] XVilka commented on #12267
@oxcabe can you please check and write tests for this?

[2019-05-05 22:28] XVilka commented on #11404
@radare do you have any suggestions for this? Just to be able to change only return type ("tr int"), not to type the whole "td int main(int argc, char** argv);"

[2019-05-05 22:31] XVilka commented on #10613
@a1ext is there any progress on this?

[2019-05-06 04:27] XVilka commented on #3777
Everything except interactive binary diffing is done. Please update the issue if something missing now.

[2019-05-06 08:36] radare commented on #11404
afsr maybe? Afs! Opens vim we can just add this subcommand to it

[2019-05-06 08:36] radare commented on #11404
Thats easy issue for @oxcabe

[2019-05-06 09:42] radare opened #13969 "Add * and j in all the missing commands"
For consistency

* [ ] b*  bj
* [ ] y* yj
* [ ] cj c*
* [ ] rj r*
* [ ] P*
* [ ] pj p* - what do here
* [ ] a* aj - whta info to show?
* [ ] uj u*
* [ ] wj w* - does it make sense?
* [ ] lj l* - json version of ls
* [ ] #!j #!*
* [ ] Lj Llj, ....
* [ ] kj have some newlnes
* [ ] k* is not working

Missing helps

* [ ] v?

[2019-05-06 09:43] a1ext commented on #10613
Actually I have no time to work on any open-source at the moment, very busy. You can involve somebody else for the issue.

[2019-05-06 09:54] radare opened #13970 "Implement RAnalOp.var support for ARM"
https://github.com/radare/radare2/pull/13771#issuecomment-489566905

[2019-05-06 09:54] radare commented on #13970
cc @bart1e

[2019-05-06 10:02] bart1e commented on #13970
I’ll try to add PR today with some basic operations support.

[2019-05-06 13:58] radare opened #13973 "Honor scr.utf8 in diagonal lines of the graph"
i bet we can do better in those lines

<img width="544" alt="Screenshot 2019-05-06 at 15 58 19" src="https://user-images.githubusercontent.com/917142/57230056-c6993980-7017-11e9-85d2-455bbe6546b7.png">

[2019-05-06 14:09] radare opened #13975 "aho hides the bytes"
[code]

[2019-05-06 16:44] #13975 closed

[2019-05-06 18:28] radare opened #15597 "Add test for rax2 and 64bit binary number"
[code]

[2019-05-06 21:25] jonasstein opened #13980 "Glitch at background color for syntax highlighting"
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Gentoo /amd64/ 64 bit
| File format of the file you reverse (mandatory)      | ELF (any)
| Architecture/bits of the file (mandatory)            | any
| r2 -v full output, **not truncated** (mandatory)

[2019-05-06 23:22] #13883 closed

[2019-05-06 23:22] radare commented on #13825
ping?

[2019-05-06 23:24] radare commented on #13200
ping @deepakchethan if you are blocked on something you can chk this issue too

[2019-05-06 23:25] #12099 closed

[2019-05-06 23:26] radare commented on #13697
i think all the points are fixed now :D good job!

[2019-05-06 23:26] #13697 closed

[2019-05-06 23:27] radare commented on #13697
just improve the default layouts probably to make it look good on 80x24

[2019-05-07 02:29] yasong commented on #13930
@XVilka
![image](https://user-images.githubusercontent.com/9759407/57267484-e92c6080-70b2-11e9-9103-db64c129eef9.png)Unable to upload the test files.

[2019-05-07 05:50] XVilka opened #13984 "Consider to use more formal and modern intermediate representation"
To be able to use something like Falcon RE IL (based in turn on RREIL and Binary Ninja's IL): https://github.com/falconre/falcon
Or even grab some ideas from MLIR: https://github.com/tensorflow/mlir/blob/master/g3doc/LangRef.md

My proposal is to define two forms of it:
- bitstream (like for LLVM bytecode)
- textual representation

See also Radeco's IL: https://github.com/radareorg/radeco-lib/blob

[2019-05-07 06:49] fumfel opened #13985 "Null pointer dereference in r_bin_demangle_swift()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04.2 x64
| File format of the file you reverse (mandatory)      | Mach-O
| Architecture/bits of the file (mandatory)            |  x86/64
| r2 -v full output, **not trun

[2019-05-07 07:27] #11385 closed

[2019-05-07 10:51] radare commented on #13985
Fixed in 569e4354b11b2eeac8a21ca52160c46e3032a3bf

[2019-05-07 10:51] #13985 closed

[2019-05-07 10:55] #10568 closed

[2019-05-07 10:55] radare commented on #13619
any feedback here?

[2019-05-07 10:56] radare commented on #7148
I think we can close this now that p= p== and prc= are now in sync

[2019-05-07 10:56] #7148 closed

[2019-05-07 10:57] radare opened #13988 "Missing -j in rafind2"
no json format for this command

[2019-05-07 11:00] radare commented on #6244
bah, stupid renaming, everybody now calls it panels

[2019-05-07 11:00] #6244 closed

[2019-05-07 11:01] radare commented on #12267
ping

[2019-05-07 11:01] #13879 closed

[2019-05-07 11:02] radare commented on #12588
ping

[2019-05-07 11:02] radare commented on #12588
@deepakchethan ^

[2019-05-07 11:08] XVilka commented on #11562
@radare no need to write it from scratch - we can just import [md4c](https://github.com/mity/md4c) or [hoedown](https://github.com/hoedown/hoedown) in shlr/mdown and call this code from radare2 code. @deepakchethan might be interested in this.

[2019-05-07 11:26] radare commented on #11562
its just 100 LOC, those implementations are bloated imho but we can discuss this. totally low prio for now

[2019-05-07 13:04] Maijin commented on #11562
md4c is very active and works very well, there are so many tricky cases in markdown I'd rather rely on something existing than doing that ourselves like for the XML

[2019-05-07 13:05] Maijin commented on #11562
+ it's tested.

[2019-05-07 13:10] radare commented on #13930
Where did u get this? I see no option to disable attachments in gh issues :?

People use to submit them as a pullreq btw

[2019-05-07 13:12] radare commented on #11562
Then just make a plugin. Dont add more shit in shlr or extra deps

[2019-05-07 14:22] oxcabe commented on #12267
will do

[2019-05-07 16:06] DaniloNC opened #13991 "How to access the internal grep help?"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | kali linux docker - Linux 6aab7b5494fc 4.15.0-48-generic #51-Ubuntu SMP Wed Apr 3 08:28:49 UTC 2019 x86_64 GNU/Linux
| File format of the file you reverse (mandatory)      | ELF (

[2019-05-08 07:35] yasong commented on #13930
OK. I had made a pull request.

[2019-05-08 07:50] radare commented on #13930
where

[2019-05-08 09:10] radare opened #15598 "Merge all the *.sh in the root directory into one"
* r2r is the name of the r2r.js (npm i -g node-r2r)
* cherrypull.sh must die
* overlay.sh i guess its used by travis, so may be worth
* r2-v is useful, but
* we can probably replace those with just makefiles

comments, feedback, ideas?

[2019-05-08 09:50] radare opened #13996 "Add anal.with"
The idea for this variable is to replace anal.ex and anal.a2f

This is.. a way to tell how to analyze code, right now we have a big unified loop that works for all archs.. but we also have the a2f command, which is a different implementtaion.. and thehre can be others implemted in core plugins or in anal plugins (like the java one does right now.. but its broken as hell).

Also, the java implement

[2019-05-08 09:54] radare commented on #13996
this is similar to the decompiler thing. we need a way to pick which one

[2019-05-08 11:22] radare opened #13998 "Slow flags"
if i "return" in here the whole thing works as expected, but takes 7s less to load a bin that loads in 24s...

```static void remove_offsetmap(RFlag *f, RFlagItem *item) {```

so its a huge bottleneck

[2019-05-08 11:24] radare commented on #13998
We can just remove the call inside the update_flag_item_offset() in lilne 144 to get the same performance boost

[2019-05-08 12:30] radare opened #14001 "RBin Classes bottleneck"
There's a huge O(n) problem that affects demangling c++ as well as loading java, dex, objc and c++ bins which is in the class_get() static function of bin.c

We should use a hashtable instead of a list to save those. This is used to get the class pointer by name and append a method to it if it doesnt exist.

[code]

[2019-05-08 14:30] radare opened #14004 "Implement pipe+xargs support syntax sugar"
The idea is to be able to write something like this:

[code]

the idea is that we want to be able to use pipes ini r2 commands, but r2 commands dont get anything from stdin, so instead of using babckticks and @@ iterators we need a way to express it in a pipe-form, similiar to how `xargs` work in unix

In that case that would work the same way as this:

[code]

But as long as || acts as `stdin` we

[2019-05-09 08:22] radare commented on #14001
i fixed it in 9e89e7cb8665e9b055a7de1ceec8549a3a4411a9

[2019-05-09 08:22] #14001 closed

[2019-05-09 08:26] radare commented on #13967
moving to 3.6 no need to push for this feature, even if its really desireable :) if u can make it before sunday its fine, otherwise i prefer to focus on bugfixing

[2019-05-09 08:28] radare commented on #13854
@sivaramaaa and the pr have happened or not?

[2019-05-09 08:28] #13854 closed

[2019-05-09 08:28] radare commented on #12588
ping @deepakchethan

[2019-05-09 08:31] radare commented on #13200
check this issue @deepakchethan its easy

[2019-05-09 08:36] radare commented on #13782
i did some work on this, but clearly needs more

[2019-05-09 08:36] radare commented on #10851
i plan to focus on improving remoting support in 3.6, so moving again

[2019-05-09 08:38] radare commented on #13760
@ret2libc can you fix this issue? im fine with NOTYPE too

[2019-05-09 08:38] radare commented on #13708
i doubt @oxcabe can fix this before sunday. moving

[2019-05-09 08:39] radare commented on #13670
its fixed , cant repro

[2019-05-09 08:39] #13670 closed

[2019-05-09 08:41] radare commented on #13516
closing as long as its obvious thing to do

[2019-05-09 08:41] #13516 closed

[2019-05-09 08:42] radare commented on #13403
i did some work on this with the `i` and `I` keys. as long as i got 0 feedback ill move to 3.6

[2019-05-09 08:49] radare commented on #13625
funny RCons bottleneck

<img width="404" alt="Screenshot 2019-05-09 at 10 49 33" src="https://user-images.githubusercontent.com/917142/57440349-2413cd00-7248-11e9-93ab-e5fd7f83e249.png">

[2019-05-09 08:51] chengxuncc commented on #10844
Also have this error with sandbox off.
[code]

[2019-05-09 09:12] radare commented on #13625
requires more work . some of it in https://github.com/radare/radare2/pull/14009

[2019-05-09 09:13] radare commented on #12089
depends on the rbuf refactoring from  @ret2libc , so moving to 3.6

[2019-05-09 09:15] radare commented on #13433
ping @sivaramaaa @oxcabe

[2019-05-09 09:15] radare commented on #5905
enotime for this rls

[2019-05-09 09:17] radare commented on #13700
ping!

[2019-05-09 09:24] radare commented on #9564
it think it shouldnt happen  now, l  cant repro at least

[2019-05-09 09:24] #9564 closed

[2019-05-09 09:24] radare commented on #13002
i think this is fixed now, please confirm

[2019-05-09 09:24] #13002 closed

[2019-05-09 09:26] radare commented on #13229
removing the milesstone, and imho few users know it because most ppl expect things that analyze the whole thing to be under `aa`. we can also add some alias commands instead of renaming, so not breaking things, what do u think?

[2019-05-09 09:50] radare commented on #13988
cc @brainstorm

[2019-05-09 09:50] thestr4ng3r commented on #13229
I don't think we need an alias for this. A fitting name would be `aavr`, but that kind of clashes with `aav`, so not too sure about it.

[2019-05-09 11:27] Maijin commented on #13825
Don't close it, it's not done. I'll look at that when I have time

[2019-05-09 12:30] #13760 closed

[2019-05-09 12:30] radare commented on #13783
fixed

[2019-05-09 12:30] #13783 closed

[2019-05-09 14:52] radare opened #14018 "Update/autogenerate windows syscalls for r2"
https://github.com/j00ru/windows-syscalls

[2019-05-09 15:23] thestr4ng3r opened #14019 "Implement * for ta and maybe move commands"
* `ta` just creates anal hints, so it would probably better fit under `ah`, for example as `ahO`
* Then, `ah*` should also emit the respective commands.
* `taa` should probably be moved to `aa`

[2019-05-10 08:56] radare commented on #12779
i have improved it, but its still far from perfect

[2019-05-10 09:33] XVilka opened #14022 "LGTM build error"
Quite strange error - can't reproduce locally
[code]

See full log here https://lgtm.com/projects/g/radare/radare2/logs/rev/pr-1661240436ee32e317906bcad8445cffe21c770a/lang:cpp/stage:Build%20merge_171aa65d01b9387edcf1aa7a4cef9a77d5742f9b

[2019-05-10 09:34] radare commented on #13660
This is fixed now in master \o/

[2019-05-10 09:34] #13660 closed

[2019-05-10 09:36] radare commented on #13825
@Maijin will you fix this before sunday? i touhgh aap was already called in aaa. so whats misssing?

[2019-05-10 09:39] radare commented on #13411
thats a new feature, no bug fix, moving forward

[2019-05-10 09:43] radare commented on #14022
omg capstone broke the git again?

[2019-05-10 09:45] radare commented on #14022
hopefully fixed in https://github.com/radare/radare2/pull/14023

[2019-05-10 09:46] Maijin commented on #13825
It's called in `aaaa` not in `aaa`

[2019-05-10 09:58] radare opened #14024 "Slow O(n) in R_IO"
<img width="579" alt="Screenshot 2019-05-10 at 11 57 02" src="https://user-images.githubusercontent.com/917142/57519065-c603ea00-731a-11e9-88db-f78ab4ba3d1f.png">

[2019-05-10 09:59] radare commented on #14024
reproducible with the '../bins/pe/65535sects.exe' bin.. but probably affects dyldcaches too

cc @mrmacete

[2019-05-10 10:00] radare commented on #14024
alsso this is a pretty shitty test because its parsing the bin TWICE and not catching the segfault of rabin2 if any

[code]

[2019-05-10 10:03] radare commented on #14024
in fact there are many more O(n) issues in io/map.c

[2019-05-10 10:06] radare commented on #14024
Fixing this bottleneck willmake r2 load this bin in few < 2s instead of 50s

[2019-05-10 10:07] radare commented on #14024
this means that we can reduce the testsuite time in travis for about 3s or so

[2019-05-10 10:24] radare commented on #13825
lgtm

[2019-05-10 11:32] ret2libc commented on #14024
True that this list can be replaced with something like a RBTree, but having a binary with soo many sections is not that common and it won't probably improve the average case. So I'm not sure it's *that* important.

[2019-05-10 12:34] radare commented on #13087
cc @XVilka can u tweak your archive download PR to fix this issue? when git is not available?

[2019-05-10 13:08] #13895 closed

[2019-05-10 13:10] #13970 closed

[2019-05-10 13:19] radare opened #14029 "pfc is broken"
[code]

[2019-05-10 13:47] bart1e opened #14030 "RRegItems should be allocated dynamically"
When calling `r_anal_op` with R_ANAL_OP_MASK_VAL, fields `src` and `dst` are filled. The problem is, that when there are registers involved, they are not allocated dynamically. It is usually done by passing a reference to global `RRegItem` variable, so for instance:
`static RRegItem reg;`
`\\ some code`
`op->dst->reg = &reg`
As @radare noticed, it is incorrect approach since the code may behave un

[2019-05-10 15:13] tunnelshade opened #14031 "dir.types not being used for includes"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86_64 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86-64
| r2 -v full output, **not trunca

[2019-05-10 16:49] radare commented on #14024
It is very common on ios

[2019-05-11 00:55] deepakchethan commented on #13200
Okay, I will work on this today.

[2019-05-11 16:42] #13988 closed

[2019-05-11 17:21] radare commented on #13762
The bug is in SDB: https://github.com/radare/sdb/issues/195

[2019-05-12 09:19] radare commented on #14022
ping @XVilka

[2019-05-12 09:19] radare commented on #14022
also i dont think this is blocking to release at all

[2019-05-12 11:41] XVilka commented on #14022
It doesn't, but will send a fix in a couple hours once I am home. Still in
the subway and Shanghai is huuuuge.

On Sun, May 12, 2019, 5:19 PM radare <notifications@github.com> wrote:

[2019-05-12 12:37] #13980 closed

[2019-05-12 15:35] mrmacete commented on #14024
yes, the kernelcache with all KETXs has easily 4000+ sections. same or worse for dyldcache (which is a ~1GB file with all system libs packed in and linked together)

[2019-05-12 23:48] radare commented on #13351
Should be fixed in here https://github.com/radare/radare2/pull/14043

[2019-05-12 23:48] radare commented on #13087
Should be fixed in https://github.com/radare/radare2/pull/14043

[2019-05-13 05:21] XVilka commented on #14022
It is very strange - by looking at the code of https://github.com/radare/radare2/pull/14043/files it should be fixed, but apparently it is not.

[2019-05-13 08:17] radare commented on #13087
i did that in my PR https://github.com/radare/radare2/pull/14043

so i assume we can close it because ill merge in few mins  when travis agrees

[2019-05-13 08:17] #13087 closed

[2019-05-13 08:18] radare commented on #13351
Closing, pls report any other issue if you can repro after 3.5

[2019-05-13 08:18] #13351 closed

[2019-05-13 08:23] radare commented on #12335
Trying to reproduce. with cflags i had no problems, so maybe iits an LDFLAGS only issue

also i found the script is testing 3.0.1 vs 3.1.0 .. will be good to chk if ths is still happening with 3.5, or maybe add a travis task to build the last release and then build r2 from git, will require 3 more min to run but we will be sure that the release build fine if u had a previous versoin installed.

ma

[2019-05-13 08:55] XVilka commented on #13984
Good example on how good IR/IL boosts decompiler and extension development https://twitter.com/josh_watson/status/1127364618429452288?s=19

[2019-05-13 09:11] radare commented on #13762
Fixed in https://github.com/radare/radare2/pull/14045

[2019-05-13 09:11] #13762 closed

[2019-05-13 09:34] radare opened #14046 "Dont use ansi on eprintf outside unix systems"
though that was fixed

![Screenshot 2019-05-13 at 11 34 35](https://user-images.githubusercontent.com/917142/57611412-18d7de80-7573-11e9-80e3-3816feb7d116.png)

[2019-05-13 16:14] #14029 closed

[2019-05-13 16:38] MatejKastak opened #14052 "AArch64 - `wa` write assembly instruction gives wrong results"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux kali 4.14.71-v8 #1 SMP PREEMPT Wed Oct 31 21:41:06 UTC 2018 aarch64 GNU/Linux
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (m

[2019-05-13 17:20] radare commented on #14052
because in  the r2 prompt, the # is considered a comment, so just do 'wa add x0, x1, 3'

about the neg and sub, feel free to submit a PR fixing them, otherwise just wait until someone have 5 spare free minutes to implement that

you can also install the keystone assembler plugin for r2

[2019-05-13 17:24] radare opened #14054 "Proposal for crazy changes in the commands"
* [ ] ae -> e
* [ ] e -> c (or any other letter that have better reference to config)

[2019-05-13 17:31] MatejKastak commented on #14052
Oh, thanks for quick response.

I forgot/didn't know that r2 is I guess assembling those instructions on its own. If I will have some free time I will definitely look into that.

Thanks.

[2019-05-13 18:33] deepakchethan commented on #13200
Could you share the binary or tell me how to reproduce this on my local ?

[2019-05-13 20:48] radare commented on #13200
[code]

pdwdi10 is:

* p ->switch to disasm mode
* dw -> define dword
* di10 -> hint that dword as base 10 (show in decimal instead of hex)

[2019-05-13 20:48] radare commented on #13200
works with asm.meta=true

[2019-05-13 21:45] radare commented on #14052
r2pm -i keystone and then use e asm.assembler=arm.ks and you may be able to assemble them using keystone inside r2. But its desirable to avoid this dependency and use our own assembler to not depend on c++

[2019-05-13 22:15] MapleLeaf-X opened #14057 "r_sys_pid_to_path fails to retrive path"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Win7 x64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (mandat

[2019-05-13 22:50] radare opened #14058 "Rename CORELIB define to something like R2_..."
Find a better name for this thing. git grep CORELIB

[2019-05-14 05:38] XVilka commented on #13795
@deepakchethan @radare can be closed now I guess?

[2019-05-14 07:40] #13795 closed

[2019-05-14 07:40] radare commented on #13795
yes

[2019-05-14 08:28] MapleLeaf-X opened #14063 "ds fails to step"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Win7 x64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32, x86/64
| r2 -v full output, **not truncated**

[2019-05-14 08:48] MapleLeaf-X opened #14064 "doo/ood fails to reopen for debugging"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Win7 x64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32, x86/64
| r2 -v full output, **not truncated**

[2019-05-14 09:27] radare opened #14065 "Last NDK deprecated the need for the python wrapper script"
still works in 19c, but will be good to keep support for old ndks for a while i guess

[code]

[2019-05-14 14:58] radare opened #14070 "Add libr/main/r2pipe.c"
The idea of this r2pipe command will be to contain the following things:

* https://github.com/radare/radare2-r2pipe/tree/master/c
* https://github.com/radare/radare2-r2pipe/blob/master/shell/r2cmd.c

To allow to use shellscript (or any other lang by using the r2pipe command).

NOTE: We can maybe extend r2agent for this, but the idea is to have a small binary with no (or few dependencies) to make

[2019-05-14 23:22] #13767 closed

[2019-05-15 04:35] XVilka commented on #3417
It seems IBM offers bounties for supporting SystemZ: https://www.bountysource.com/teams/ibm/bounties

We should apply and find a student for this bounty to work on it this summer.

[2019-05-15 06:46] #14031 closed

[2019-05-15 08:33] #14022 closed

[2019-05-15 10:04] #13845 closed

[2019-05-15 13:08] ret2libc commented on #13501
This seems the commit that introduces the issue: a404c7706366689f089cd30ea9d6cd4bde2560f5

BTW, with the binary I have for testing, even IDA free (7.1) has the same exact issue :D

[2019-05-15 13:09] radare commented on #13501
MUAHAH that's why i introduce bugs in r2 sometimes :P to spot the copycats!

[2019-05-15 16:55] TrueXakeP opened #14078 "Wrong rjmp interpretation in AVR on ATmega644/640"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10 1809 17763.437 x86 64bit
| File format of the file you reverse (mandatory)      | BIN ROM
| Architecture/bits of the file (mandatory)            | AVR8, ATmega644/640
|

[2019-05-15 17:24] Maijin commented on #14078
did you check with other value for e asm.cpu?

See `e asm.cpu=?` for the list of possible values

[2019-05-15 17:53] TrueXakeP commented on #14078
I'll test now.

[2019-05-15 18:41] TrueXakeP commented on #14078
Just tested now with "radare2 3.5.1 1 @ windows-x86-64 git.3.5.1 commit: 4ec482ba2d4f554beeafb3aa47758e970bcab937 build: Wed 05/15/2019__ 7:58:44.85"
The arrows of `rjmp` in disassembly print are correct for `ATmega1280`, `ATmega1281`, `ATmega2560`, `ATmega2561` and `ATxmega128a4u` as the `asm.cpu`. But not others.
Functions then must be redefined to fix the graph rendering.

But now I see that th

[2019-05-15 20:13] #13835 closed

[2019-05-16 10:16] XVilka commented on #14070
Quite reasonable and should be in the main repo instead.

[2019-05-16 12:07] s0i37 opened #14082 ""dte" output grab"
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | kali rolling 4.6.0-kali1-amd64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | i386, x86/32
| r2 -v full output, **not truncated** (

[2019-05-16 13:56] ret2libc commented on #13501
What I found so far: it seems the problem is caused by a wrong jmptable size. The analysis to find out the size of the table is not very precise and it can confuse some immediate numbers for the size of the jmp table. This, in turn, makes the analysis analyze some mis-aligned instructions, breaking everything :/

[2019-05-16 15:11] #14082 closed

[2019-05-16 15:13] radare commented on #14082
It's easier to fix the bug than to report it.

Thanks for filling the issue, but it would be great if you could try to fix it first the next time.

[2019-05-17 04:51] Wenzel opened #14090 "[GDB protocol] r2 doesn't receive singlestep event"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 29, x86, 64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated

[2019-05-17 14:42] jorgeventura opened #14093 "Incorrect make file configuration for sdb"
I am trying to compile the last version for mingw32 (w32) and the command for configuration is:

./configure --with-compiler=i686-w64-mingw32-gcc --with-ostype=mingw32 --build=x86_64-linux-gnu --host=i686-w64-mingw32 --target=i686-w64-mingw32

Most of the time the scripts are getting the correct compiler i686-w64-mingw32 but for sdb it's not using the crosscompile parameters and starts using cc. T

[2019-05-17 15:08] Wenzel commented on #14090
cc @SrimantaBarua, i have been told on r2 dev Telegram channel that you were familiar with the GDB implementation.
Can you shed some lights ?

[2019-05-17 16:49] radare commented on #14093
Mingw builds have been deprecated more than one year sgo. We only support msvc in windows because mingw is very broken and we cant relay on broken compilers.

[2019-05-17 16:52] jorgeventura commented on #14093
Ok. I am installing MSVC on Windows7/32.

Thank you for the fast replay,
Ventura

[2019-05-17 16:52] #14093 closed

[2019-05-17 16:56] radare commented on #14093
Now we have a new contributor for windows that maybe he will be able to improve the state of r2 in windowsland. So maybe mingw will be supported again at some point but it will require fixes in their side and not workarounds and hacks in our side.

Where did u find thise instructions?

[2019-05-18 13:41] BlaCoiso opened #14101 "Interactive ASCII graph is broken"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows/x86/64
| File format of the file you reverse (mandatory)      | any
| Architecture/bits of the file (mandatory)            | any
| r2 -v full output, **not truncated** (ma

[2019-05-18 13:51] SrimantaBarua commented on #14090
Hi, could you upload a pcap file for the demo you recorded?

[2019-05-18 13:59] SrimantaBarua commented on #14090
@Wenzel it's likely that some state is initialized when r2 connects with the gdb protocol, but not de-initialized when disconnecting.

[2019-05-18 17:01] radare commented on #14101
Windows specific bug i guess.

Is this a regression? Can you determine when this bug was introduced by trying previous builds? Can you try with different color themes and scr.color=1 or 0?

[2019-05-18 18:06] Wenzel commented on #14090
Hi, thanks for the feedback.

I uploaded in this folder the pcap you asked:
https://drive.google.com/drive/folders/19zewadCGsgArn2uRtKksL5ijD2EHbeqi?usp=sharing

Also you will a new video demonstrating how I did the capture.
The funny thing is that in the first part of the video, at my first attempt at reproducing the bug, radare2 actually worked, and i could singlestep through my code.

However,

[2019-05-18 20:08] SrimantaBarua commented on #14090
From the pcap, your `Packetsize=1000;multiprocess...` response comes >2.5 seconds after r2 sends a `qSupported...` packet. In fact, before your `Packetsize` response, it looks like r2's waiting for a response has already timed out and it has already sent a `qC` packet.

Code starts from around [here](https://github.com/radare/radare2/blob/master/shlr/gdb/src/gdbclient/core.c#L134).

I don't think

[2019-05-18 20:10] SrimantaBarua commented on #14090
Maybe the delay in the responses is variable? That might explain why debugging seems to work sometimes, if waiting for the response does not time out.

[2019-05-18 23:17] Wenzel commented on #14090
The reason is because while radare2 is connecting, i'm manually starting my cmd.exe process in the virtual machine.

I need to be at the entrypoint before i can return to gdb and send the first response.

the gdb client can handle that and will just wait for like 10 sec for the `Packetsize=1000` response, or resend `qSupported` multiple times otherwise.

I think we should do the same in radare2.

[2019-05-19 05:45] SrimantaBarua commented on #14090
Could you try #14104 ? This fix is necessary, but might need other fixes too.

[2019-05-19 11:25] Wenzel commented on #14090
@SrimantaBarua I confirm that this fix is working and solving my issue.
thank you so much !

[2019-05-19 18:51] BlaCoiso commented on #14101
Part of the bug only happens with scr.utf8=true, noticeable after 3fba693b91173a65d5abc66aebdb45f93449ce08 when utf8 got enabled by default

[2019-05-19 22:56] radare opened #14107 "Identify slow panels"
Some panels like decompiler can take a lot of time to render, will be good to compute the time they took. or execute them in background in a task, and collect the contents when finished, showing (working...) somewhere in the frame.

By checking the time of executing the frames we can suggest the user to enable cache for them automatically. Because for example, the decompiler output will not change

[2019-05-19 23:06] Maijin commented on #14054
* In term of impact the `|.`, `>><<` nobody cares so you can do it anytime.
* `$()` I personally don't like it because it has nothing to do with macros and `` is well understood already.
* `ae -> e` That shouldn't be necessary at all if `dh esil` + `dXXX`. Esil should just be a debugger plugin.

[2019-05-19 23:07] Maijin commented on #14101
We recommend https://conemu.github.io//https://cmder.net/ on windows to benefit from all the features of radare2 including the colors is that what you're using or?

[2019-05-19 23:12] radare commented on #14054
dh is now dL, despite i agree.i think it makes clear when you are debugging or emulating, but this is a long topic to discuss, and `ae` is not that long, and also killing the current `e` will be very problematic

[2019-05-20 04:27] XVilka commented on #14090
So it is fixed in the master. Thanks for the report!

[2019-05-20 04:27] #14090 closed

[2019-05-20 05:47] XVilka commented on #8476
@deepakchethan can you please review this issue and tell what is missing? I believe it can be closed now. Am I right?

[2019-05-20 08:10] radare commented on #8476
Its buggy. Works , but incomplete

[2019-05-20 10:18] XVilka commented on #8476
So lets open a new bugs instead and close this one.

[2019-05-20 10:18] #8476 closed

[2019-05-20 17:13] thestr4ng3r opened #14115 "Calling izz closes the io fd and breaks subsequent calls"
To reproduce:
[code]

[2019-05-20 18:13] radare commented on #14115
cant repro. works fine here

what shosuld i expect to happen

[2019-05-20 18:38] thestr4ng3r commented on #14115
![Bildschirmfoto vom 2019-05-20 20-37-43](https://user-images.githubusercontent.com/1460997/58044063-22e37980-7b3f-11e9-8bb6-a5c5354e2dc7.png)
No output in the second call. Seems to even crash on Windows.

[2019-05-20 18:46] radare commented on #14115
Maybe related to -n because it works fine when doing r2 /bin/ls for me. Maybe worth add some tests and paste the asan output here

[2019-05-20 18:50] thestr4ng3r commented on #14115
Not just maybe, it is related to -n.

[2019-05-20 18:52] thestr4ng3r commented on #14115
As mentioned on Telegram, `bin_raw_strings()` in cbin.c creates a new RBuffer with `r_buf_new_with_io()` and then frees it, which closes the fd. Asan says nothing here.

[2019-05-20 19:04] radare commented on #14115
thats another regresssion nitroduced in the rbuf refactoring from @ret2libc

[2019-05-20 20:36] a1ext commented on #14115
It seems like 3.3 version is affected as well

[2019-05-20 20:42] a1ext commented on #14115
I tried `izzj` instead of `izz`, after the second one it crashes 100% times on Windows

[2019-05-21 08:22] ret2libc commented on #14115
I don't think it was introduced recently, as @a1ext says. But I think we can fix it by changing a bit the RBuffer API. I can work on this.

[2019-05-21 08:23] radare commented on #14115
+1

[2019-05-21 09:29] radare opened #14124 "Support argument variable direction attributes"
We probably need to extend the TCC parser for this:

* IN
* OUT
* INOUT

The idea here is to specify in the function signature if the arguments passed to a function will modify the contents of the caller or not. We need further analysis improvements to get this to work, but having this in mind and the tooling to define this by hand are the basic roots to implement the rest.

[2019-05-21 09:34] XVilka commented on #14124
One of the possible ways is to extend those to `__attribute__((something))`, tcc is able to parse them. Just would need to add exporting to the SDB representation.

[2019-05-21 09:45] radare commented on #14124
the important part here is imho a way to specify this with commands, apis, and render that in the fcnsignature and varlistings properly

[2019-05-21 10:07] radare opened #14125 "Autodetect argument types in THUMB programs by taking the POP"
That's not a 100% working assumption, but CLANG generates a tailing instruction like this:

[code]

This function takes 3 arguments, that info is salso found in the `push {r4, r6,r7, lr}` of the begining but obfuscated functions can hide those preludes

[2019-05-21 10:38] radare commented on #14019
Related to https://github.com/radare/radare2/issues/13969

[2019-05-21 13:23] radare opened #14128 "Render class/method/fields graph"
[package]
  |
[CLASSNAME]-> [METHODS] -> ....
  `-> [FIELDS] -> ...

similar to how fg works

[2019-05-21 13:31] radare commented on #12600
i dont see how to specify fields of classes using `ac`. also its not possible to sspecify visibility or other attributes to those methods/fields. see the pr `.ic**`

[2019-05-21 13:33] radare opened #14130 "Tab key in visual should rotate only this"
* asm.pseudo=1
* asm.esil=1
* asm.esil=0, asm.pseudo=0

Toggling comments and bytes is a bit anoying to my eyes.

More suggestions / ideas?

[2019-05-21 13:49] thestr4ng3r commented on #12600
Yes. these things are not yet supported. Please open separate issues.

[2019-05-21 13:53] #12600 closed

[2019-05-21 13:54] #14115 closed

[2019-05-22 11:55] thestr4ng3r commented on #12070
@radare What do you think about adding an analysis hint that contains the stackframe size for an instruction? This could be easily filled from different kinds of analysis and then used later.

[2019-05-22 12:34] radare commented on #12070
Sgtm

[2019-05-22 21:00] thestr4ng3r opened #14139 "Length Argument of aha is ignored"
Help:
[code]
Giving it a length or not doesn't have any effect on the saved hint:
![Bildschirmfoto vom 2019-05-22 22-58-20](https://user-images.githubusercontent.com/1460997/58208510-29135a80-7ce5-11e9-9459-51e763115371.png)

[2019-05-23 10:16] ITAYC0HEN opened #14142 "Segfault due to Signed/Unsigned confusion"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Any
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | Any
| r2 -v full output, **not truncated** (mandatory)

[2019-05-23 10:29] ret2libc commented on #14142
I agree with fixing RBuffer API to be more consistent with the sizes of the lengths and indeed I'm already doing it in PR #14141 because there were some crashes. However... The bug is usually somewhere else, in the binary parser that doesn't properly check the sizes. For example, in your test case it seems `process_constructors()` in bin_elf.inc could be more properly rewritten by using `r_buf_rea

[2019-05-24 08:37] radare opened #14147 "rabin2 -qc is not exactly quiet"
imho it should list the classnames only, without any offset or range at all

current ouput:
[code]

expected output:

[code]

before you ask.. current rabin2 -c output (without -q)
[code]

[2019-05-24 08:43] radare commented on #14147
basically, right now -q shows only classes, not methods. so maybe we should add -qqc to list only classnames

[2019-05-24 08:50] #14147 closed

[2019-05-24 18:54] jberryman opened #14149 "Tools seem happy to consume textual assembly files, yet doesn't work on them"
I used `llc` to compile some LLVM bitcode, mistakingly outputting to textual assembly rather than a native object (requiring `-filetype=obj`). Both `r2` and `radiff` seemed to accept the asm files but simply didn't work or behaved in a confusing way.

I'd expect `r2` to give an error if the input file is text, or if this is supposed to work, I'd expect it to actually work (I don't think it is).

A

[2019-05-24 18:56] radare commented on #14149
Files without headers can also contain code, like a shellcode or a network dump. Plaintext is quite difficult to determine, and i dont see why we should error here

[2019-05-25 12:18] s0i37 opened #14153 ""afbc" improvement"
I would like to see new feature in r2 for highlighting whole basic block.
For example, if I want to import coverage from DBI tools:
afbc blue @@./tmp/drcov.log

[2019-05-25 13:27] bannsec opened #14154 "Windows Message Breakpoint"
**Is your feature request related to a problem? Please describe.**
Wanting to be able to quickly identify the functions that handle specific events in a Windows application.

**Describe the solution you'd like**
Not sure what the best solution would be. x64dbg has had a windows message breakpoint ability baked in for a few years now:

https://x64dbg.com/blog/2017/07/07/messages-breakpoints-in-x64d

[2019-05-25 20:27] davidpolverari opened #14157 "Function analysis regression"
On the latest commits, r2 -dA or using `aaa` after loading a file on debugger doesn't resolve function names to addresses.

It seems 680340c2a is the offending commit on this case, as everything was working normally on the previous commit (3e3d97b1987cfceee755b70ae5549c8f6c739889).

### Work environment

| Questions                                            | Answers
|----------------------------

[2019-05-26 11:26] thestr4ng3r commented on #12070
Now that ahF is there, here is an example how to import an x64dbg trace to annotate sp-based vars with a bp offset: https://gist.github.com/thestr4ng3r/24a7b93a8b936019316d6fff46becf33

[2019-05-26 12:33] radare commented on #14157
Thats totally unrelated to analysis. Its because rbin is now switching to use rbuf and the debugger reports file sizes of ut64max which some plugs consider invalid. Please help me track down all those regressions. Ive been working on this huge refavtoring for 3 weeks and i need more hands to get it right for the release

[2019-05-26 17:37] thestr4ng3r opened #14161 "Automatically rename function when renaming an anal class method"
Currently only the flag is renamed. If the name matches, the function should be renamed as well:
![Bildschirmfoto vom 2019-05-26 19-37-19](https://user-images.githubusercontent.com/1460997/58385257-b9a3b080-7fed-11e9-80a8-57d9c8c0e11c.png)

[2019-05-26 17:48] radare commented on #14161
relatd to afna probably

[2019-05-26 18:37] GustavoLCR commented on #14157
@radare This seems to fix it. I never touched bin before so i don't know what I'm doing
[code]

[2019-05-26 18:46] radare commented on #14157
Try it in a PR to verify if its breaking something pls

[2019-05-26 18:46] radare commented on #14157
Try in a PR

[2019-05-26 22:58] #14157 closed

[2019-05-27 04:51] XVilka opened #14164 "Endian switch for `pf` formats"
To be able to specify the endian for every format character/sequence, independently from the current session endian.

cc @ret2libc

[2019-05-27 04:52] XVilka commented on #12726
@radare so, what was decided on this one? I think you got your feedback already.

[2019-05-27 04:54] XVilka commented on #6350
@oxcabe can you please help also to improve the `pf??` and `pf???` output, so it will be grouped by contexts (it will help you to understand the `pf` commands as well).
See also [Print Modes](https://radare.gitbooks.io/radare2book/content/basic_commands/print_modes.html) chapter of the book, so that it should be synchronized with the new `pf` output.

[2019-05-27 14:08] radare opened #14165 "pv pV"
* [x] Make pv accept an argument (pv 32 -> shows nothing)
* [ ] Implement pv* ... how may this work? maybe as oneline instead of many :?
* [x] Fix pv crash (with no args it reads one by away)
* [ ] Fix pvj 32/pv2j 32 - only 1 value is shown, that must be an array of 32 values
* [x] Implement pV must work like pD vs pd, this is, if we do pV2 32, it should show the 2 byte values that fit in 32 bits,

[2019-05-27 16:20] #1328 closed

[2019-05-27 17:08] deepakchethan commented on #13059
Should it really return to the same seek? It has 5 Js and 4 Ks am I missing something

[2019-05-28 04:36] XVilka commented on #14164
@radare what is your opinion on that?

[2019-05-28 07:30] radare commented on #14164
We have cfg.bigendianbfor this

Just having a host endian syntax should be enough. But i will have to think a bit more to find the right format

[2019-05-28 08:04] #14101 closed

[2019-05-28 08:51] mathiasbockwoldt commented on #2730
I don't feel competent enough to help myself, but maybe this project could help in boosting NE support:
https://github.com/zfigura/semblance
"Disassembler for Windows executables. Supports 16-bit NE (New Executable), MZ (DOS), and PE (Portable Executable, i.e. Win32) files."

@Freakqency: you might want to have a look to see how zfigura did things.

[2019-05-28 14:21] radare opened #14177 "icqq/iqqc/iqcq is not working, whilee rabin2 -qqc works"

[2019-05-28 14:27] radare opened #14178 "Make r2pm list packages related to plugins only"
imagine rasm2 -L was able to extend the listing with r2pm's output when the arch you need is not there. same goes for rabin2 -L and others. Basically this means integrgating the pkg manager within r2

[2019-05-28 15:22] XVilka commented on #10656
@TsarFox how was your sleep?

[2019-05-28 18:26] TsarFox commented on #10656
If I remember correctly, I slept very well the night of July 8th, 2018 :)  Why do you ask? Is there renewed interest in addressing this issue? I thought #10677 addressed my implementation of `kill-word`, but it's been nearly a year and I sort of forget now.

[2019-05-28 19:56] BlaCoiso commented on #14101
This fix broke it even more
![image](https://user-images.githubusercontent.com/13855359/58507997-e640ff00-818a-11e9-9e0b-67eaac6b37f5.png)
![image](https://user-images.githubusercontent.com/13855359/58508035-feb11980-818a-11e9-82e0-29aa424aa919.png)

[2019-05-28 20:03] GustavoLCR commented on #14101
@BlaCoiso can you try with `e scr.ansicon = 0`

[2019-05-28 20:06] BlaCoiso commented on #14101
With scr.ansicon = 0 everything looks fine
![image](https://user-images.githubusercontent.com/13855359/58508614-5a2fd700-818c-11e9-917a-cdf388d58d56.png)
![image](https://user-images.githubusercontent.com/13855359/58508623-5ef48b00-818c-11e9-8f81-ba31b825cf77.png)

[2019-05-28 20:07] GustavoLCR commented on #14101
yep, your terminal isn't compatible with ansicon. Which Windows are you using? It works fine with Windows 10 1809

[2019-05-28 20:14] GustavoLCR commented on #14101
According to aba69dde4f41d6458447ec50c1320ea832691187 ansicon should only be enabled with Windows 10 Creators up. Is this a bug or do you have a script that sets it to 1?

[2019-05-28 20:15] BlaCoiso commented on #14101
I'm using Windows 10 version 1803, build 17134.765
Maybe ansicon should be disabled by default on windows (apparently that was the behavior on previous versions)
![image](https://user-images.githubusercontent.com/13855359/58509106-aaf3ff80-818d-11e9-9df2-de7cab6f9bc4.png)

[2019-05-28 20:16] GustavoLCR commented on #14101
cc @kazarmy

[2019-05-28 20:46] BlaCoiso commented on #14101
Apparently this is being caused by using an old SDK version that doesn't define ENABLE_VIRTUAL_TERMINAL_PROCESSING; manually defining it makes ansicon work
![image](https://user-images.githubusercontent.com/13855359/58511028-e4c70500-8191-11e9-95b7-aafb29d3f095.png)
![image](https://user-images.githubusercontent.com/13855359/58511075-02946a00-8192-11e9-94bd-083ea19a4661.png)

[2019-05-28 21:10] GustavoLCR commented on #14101
Which version of VS are you using to build radare? IIRC its only supported
on 2015 up. It is working on 2017 at least

Em ter, 28 de mai de 2019 17:46, BlaCoiso <notifications@github.com>
escreveu:

[2019-05-29 05:02] XVilka commented on #14164
In some weird structures some fields have the opposite endianess for whatever reasons.

[2019-05-29 09:16] #13888 closed

[2019-05-29 20:24] karliss opened #14186 "aarj output isn't valid JSON"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | ArchLinux x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86_64
| r2 -v full output, **not truncated*

[2019-05-30 03:24] rukmaldias commented on #13948
found this from fossies.org and it worked for me

#!/bin/sh
PKG=org.radare.radare2
cd /

pkgutil --files ${PKG} > /dev/null || exit 1

# delete files
FILES="$(pkgutil --only-files --files ${PKG})"
for a in ${FILES} ; do
if [ -f "${a}" ]; then
 rm "$a"
 # | xargs rm -i
fi
done

[code]

[2019-05-30 06:42] XVilka commented on #14178
Better not to integrate r2pm into radare2, since it is planned (a matter of a few month) to develop fully-fledged r2pm.go.

[2019-05-31 02:45] #14186 closed

[2019-05-31 06:51] chrstphrchvz commented on #6787
I apologize for completely neglecting this issue.

I was under the impression that I might have to add S12 to radare2 for use in a hobby project. It was then suggested that I try Freescale's decoder.exe utility; I found that sufficient, and never investigated radare2 any further.

Maybe someday I can try again getting to know radare2 and implementing this, but I don't mean for anyone to wait on me

[2019-05-31 07:04] s0i37 opened #14195 "aeim improvement"
**Is your feature request related to a problem? Please describe.**
Hello.
When I try to emulate images in corefile/minidump format a have already stack environment. But for using "aets+" and "aesb" r2 required "aeim". In same time "aeim esp 0" will rewrite bytes in stack.

**Describe the solution you'd like**
I want use ESIL tracing "aets+", "aesb" without mandatory using "aeim". Or dont initializ

[2019-05-31 07:53] ret2libc commented on #13515
Done in https://github.com/radare/radare2/commit/aaea46bdbc1cee6ec954b37c7593789c09d04994

[2019-05-31 07:53] #13515 closed

[2019-05-31 07:57] ret2libc commented on #10152
Is this done?

[2019-05-31 08:08] radare commented on #14178
I mean calling r2pm -s r_asm . Integrating doesnt mean calling c apis

[2019-05-31 08:08] radare commented on #13948
Read and update doc/macos.md if thats not clear enough

[2019-05-31 08:18] XVilka commented on #10152
Yes, thanks!

[2019-05-31 08:18] #10152 closed

[2019-05-31 08:36] radare commented on #14164
I would stay away from this feature for now. Do u have an example of that case? I know some structs that have different endianness knly for some fields depending on the host arcg. Not sure if really matters for real or we want just to dup the struct for each case because at least jn the cases i can think its something done on purpose and nothing generic

[2019-05-31 11:53] alex-bender opened #14197 "The ~... highlights ascii control characters"
Steps to reproduce:
[code]
got this
[code]
radare2 3.6.0-git 1942 @ linux-x86-64 git.3.5.1-139-g99502ef5
commit: 99502ef5bbb9b8316cb93cba64a3df8a28ec8630 build: 2019-05-31__14:00:59

there is no problem in that version:
radare2 3.5.0-git 1508 @ linux-x86-64 git.3.4.1-409-g7d158e4
commit: 7d158e443b0ac7370bac732f74378b5bf23fd583 build: 2019-05-11__20:12:16

[2019-05-31 13:50] radare opened #14200 "Display anal hint in the disasm"
For example 'noreturn' statements when calling no return functions, set .bits or .size like if it was compatible with rasm2 syntax

[2019-05-31 15:34] radare opened #14202 "Regex search seems broken"
i mean, the regex work.. but why \d is considered 'd' and not a number? :D

[code]

<img width="1183" alt="Screenshot 2019-05-31 at 17 33 38" src="https://user-images.githubusercontent.com/917142/58716851-3bb71f00-83ca-11e9-928f-66db7c85df9f.png">

[2019-06-01 05:55] ITAYC0HEN opened #14203 "Reversed grep is wrong"
### Work environment

Any

### Issue
When a user is using the `~$!` it expects radare2 to show reversed order of lines. As stated here:

[code]

In reality, the list of lines which are passed to `r_list_reverse` is being reversed starting from the second line, while the first line stays in place.

### Expected behavior
The output should be reversed without passing the first item

### Actual behavi

[2019-06-01 19:16] radare commented on #14203
The first line is... special

[2019-06-02 12:22] #14203 closed

[2019-06-02 16:50] Maijin commented on #13349
That's fixed.

[2019-06-02 16:50] #13349 closed

[2019-06-02 19:35] mmmdzz opened #14211 "ragg2 crash on long valid input."
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2019-06-02 21:02] mmmdzz commented on #14211
More output from valgrind:

[code]

[2019-06-03 05:11] lowlyw commented on #14211
the bug is we write into the `elem`

[code]

without checking elem_n. i'd say that elem should *probably* be an `RBuffer`

[2019-06-03 14:33] deepakchethan commented on #8806
Now it supports both autocompletion and history. It uses r_cons API also.

it uses the pwd from RFSShell to keep track of the current directory.

What exactly is remaining ?

[2019-06-03 15:46] radare commented on #8806
I dont think ms supportss tab at all yet. try  this:

there' an assert, debug messages, and tab does snothing  at the end

<img width="854" alt="Screenshot 2019-06-03 at 11 46 00" src="https://user-images.githubusercontent.com/917142/58815203-2bcf5300-85f5-11e9-922c-bd39dbc2c8d4.png">

[2019-06-03 15:46] radare commented on #8806
Also, all the m subcommands doesnt handle tab either: `mg  /<tab>`

[2019-06-03 16:11] thestr4ng3r opened #14215 "pdJ is broken for Cf"
![Bildschirmfoto vom 2019-06-03 18-10-21](https://user-images.githubusercontent.com/1460997/58816976-ea599a80-862a-11e9-9016-04cc065eb5b6.png)

[2019-06-03 17:03] lowlyw commented on #14142
totally agree, offsets should be signed from `r_buf`

[2019-06-03 17:04] lowlyw commented on #14142
this no longer crashes. closing

[2019-06-03 17:04] #14142 closed

[2019-06-03 17:14] lowlyw commented on #14139
yes, this is because we call thru to this

[code]

and the `r_anal_hit_set_arch` has no concept of length. looking now

[2019-06-03 17:19] lowlyw commented on #14139
yeah, hints don't even support size at all, this is more a TODO and a poorly written help.

chk `r_anal_hint_del`

[code]

[2019-06-04 04:06] trietptm opened #14219 "ie shows 0 entrypoints when radare2 opens a saved project"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10 x64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (

[2019-06-04 09:53] 0ki commented on #13785
The problem is back. ./sys/user.sh does fails with this error and cripples r2. Please reopen.

Meanwhile my workaround is:
[code]

[2019-06-04 11:18] aronsky commented on #9907
I came upon this issue when working on something. It seems to have been fixed at some point, as after doing `doo` repeatedly, all the symbols were correctly reloaded under 3.4.0/3.4.1 (those are the versions I checked). However, under 3.6.0 the symbols remain pointing to the original locations, and disassembling doesn't work, just as this issue describes.

What changed?

[2019-06-04 11:37] radare commented on #9907
A lot of things have changed but no single test got broken... soooo :)

[2019-06-04 14:45] radare opened #14220 "varsub seems to not work sometimes"
[code]

[2019-06-04 15:07] 0ki commented on #13785
Full fix:
[code]

Apparently there's something that prevented updating directly from the 6-7 month old version that I had. Sorry, I don't know what.

[2019-06-04 15:20] radare commented on #13785
Proper fix: rm -rf shlr/capstone; sys/install.sh

[2019-06-05 03:14] valour01 opened #14223 "Mode Detection is not right for ARM architectures"
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             |  x86
| File format of the file you reverse (mandatory)      |ELF
| Architecture/bits of the file (mandatory)            | arm 32
| r2 -v full output, **not truncated** (mandatory)     | radare2 3.5.0-g

[2019-06-05 10:10] XVilka commented on #7357
@radare yes, having interactive mode would be even better. And integrate with panels @Vane11ope

[2019-06-05 15:19] pventuzelo opened #14225 "Heap out of bounds read in r_bin_get_binplugin_by_buffer (bin_omf.c)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 x64
| File format of the file you reverse (mandatory)      | OMF
| Architecture/bits of the file (mandatory)            | N/A
| r2 -v full output, **not truncated** (

[2019-06-05 18:33] radare commented on #14225
fixed in https://github.com/radare/radare2/pull/14227. waiting for travis to merge. sorry for the delay i was offline packing bags :)

[2019-06-05 18:58] pventuzelo commented on #14225
Perfect, don't worry you are actually really fast ;)

[2019-06-05 19:09] pventuzelo opened #14228 "Heap out of bounds read in r_read_le32() (wasm_dis)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 x64
| File format of the file you reverse (mandatory)      | WASM
| Architecture/bits of the file (mandatory)            | WASM
| r2 -v full output, **not truncated**

[2019-06-05 19:17] #14225 closed

[2019-06-05 23:30] #14228 closed

[2019-06-05 23:34] radare opened #14230 "Add repeated value pattern visualizations"
![IMAGE 2019-06-05 19:34:18](https://user-images.githubusercontent.com/917142/58997074-e8c5d900-87c8-11e9-969c-1307dacb8a86.jpg)

![IMAGE 2019-06-05 19:34:21](https://user-images.githubusercontent.com/917142/58997076-eb283300-87c8-11e9-91b5-7c8c4b652933.jpg)

[2019-06-06 00:26] radare commented on #14215
that's even worst `r2 -qc 'af;Cf 2 w;pdJ 1~{}' /bin/ls`

[2019-06-06 00:28] radare commented on #14215
all yours. this pdJ loop is creepy and ive spent too much time trying to fix it. this is just used by Cutter right?

[2019-06-06 05:51] pventuzelo opened #14233 "Heap out of bounds read in r_read_le32() (wasm_dis:641 - WASM_OP_F32CONST)"
Same kind of bug than #14228.
But on `case WASM_OP_F32CONST` this time

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 x64
| File format of the file you reverse (mandatory)      | WASM
| Architecture/bits of the f

[2019-06-06 08:13] vifino opened #14234 "zo <tab> completion segfaults"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Gentoo amd64
| File format of the file you reverse (mandatory)      | N/A
| Architecture/bits of the file (mandatory)            | N/A
| r2 -v full output, **not truncated** (mand