[2018-05-06 12:50] #1267 closed

[2018-05-06 13:26] #9969 closed

[2018-05-06 13:26] radare commented on #9969
Thanks for reporting, and sorry for my slow reaction O:)

[2018-05-06 13:45] radare commented on #9852
this crash is in capstone, not r2

<img width="985" alt="screen shot 2018-05-06 at 15 45 17" src="https://user-images.githubusercontent.com/917142/39673899-8baa537e-5144-11e8-96ad-399368b517cf.png">

[2018-05-06 13:59] #9970 closed

[2018-05-06 14:01] pawlos commented on #10022
thanks for the info, `op` also gives some strange results but I'll describe them in a separate ticket once I understand what's going on.

[2018-05-06 14:08] #9852 closed

[2018-05-06 14:08] radare commented on #9852
tired of waiting from capstone to fix anything i just did a workaround , so this bug doesnt affects r2

[2018-05-06 14:12] radare commented on #9855
this is another crash in capstone, not in r2

[2018-05-06 14:12] radare commented on #9855
<img width="719" alt="screen shot 2018-05-06 at 16 11 56" src="https://user-images.githubusercontent.com/917142/39674183-4a374d62-5148-11e8-8f4e-f87e0bdb90ae.png">

[2018-05-06 14:17] #9855 closed

[2018-05-06 15:03] rrreeezzz commented on #9599
Actually, ```ih``` and ```ihj``` for a mach0 seem pretty accurate:
[code]
and
[code]
Thus, if my understanding is correct, these data are constructed for each format therefore a fix would be to change this construction for each format ? Could be a bit of work

[2018-05-06 18:39] #10019 closed

[2018-05-06 19:55] TheAifam5 commented on #10025
DLL its from PwnAdventure3 Game.

[GameLogic.zip](https://github.com/radare/radare2/files/1977987/GameLogic.zip)

[2018-05-06 23:27] rrreeezzz commented on #9599
Will look at it

[2018-05-07 02:58] XVilka commented on #9966
@cyanpencil can you please check this one too?

[2018-05-07 02:59] XVilka commented on #6962
Created the issue in Python-IDB instead: https://github.com/williballenthin/python-idb/issues/37

[2018-05-07 03:04] XVilka commented on #7710
@sivaramaaa for your information - in tcc parser and SDB database some metainformation about type stored in "meta" field, which can be enhanced, e.g. used as a bitfield to store more different properties (you can grep `shlr/tcc/tccgen.c` for "meta" keyword to see the code creating it).

[2018-05-07 03:07] XVilka opened #10031 "C types - structures alignment"
Currently we perform a dumb size and offset calculation for the structures. We need the way to set, store and use the information about alignment of the whole structure, some of its members or parts of it.

[2018-05-07 03:12] XVilka opened #10032 "C types - unions support interface"
We need to think how properly to "apply" the union type to the memory (and link it).
When it is a structure - it is easy to do - just print/link every field.
It is unclear though what to do in the case of union which provides a way to select the member.

 - [ ] Way to print the union like a structure - to fill the all fields with the values in `tp` command
 - [ ] Way to select particular "branch"

[2018-05-07 03:16] XVilka commented on #6851
@sivaramaaa I think along with types information loading from PDB and DWARF we can load C++ classes as structures at first. Assigning you to think about how it can be done the fastest/easiest way.

@Maijin done, we need to add more tests into r2r for this.

[2018-05-07 07:42] ret2libc commented on #4448
This should have been resolved with https://github.com/radare/radare2/commit/b703dfbf17c0cff54181627fb40da92de3a52b79

[2018-05-07 07:42] #4448 closed

[2018-05-07 08:15] cyanpencil commented on #9966
@XVilka Right now I have to focus on the ag* command refactoring to finish before the release, but after I'm done with that I'll look into this

[2018-05-07 08:21] DieHertz opened #10033 "Can't create sections in a project"
I could create sections when working on a QEMUd binary, but I cannot do the same when working on my own or when directly loading them.
Here's what I do:
[code]

What am I doing wrong? If I don't use a project, it seems to work:
[code]

It also seems to affect the file map even though address doesn't fall into the address range where the file is mapped?
[code]

It all looks like magic for now as I

[2018-05-07 09:01] radare opened #10035 "acr should autogenerate MAJOR/MINOR/MICRO variables from VERSION"
We should expose those variables in a .h file from ACR. it's is funny how some other projects handle that:

[code]

acr must define that variable prefix from the PKGNAME directive and split out the version string by chopping stuff after dash:

[code]

[2018-05-07 09:02] radare commented on #10035
Dunno if meson is able to do that

[2018-05-07 09:02] radare commented on #10035
Related to https://github.com/frida/frida-core/issues/188

[2018-05-07 09:03] radare commented on #10033
Use om instead of S, S must die

[2018-05-07 09:04] DieHertz commented on #10033
Thanks, got an answer via Telegram.

[2018-05-07 09:04] #10033 closed

[2018-05-07 09:36] radare opened #10036 "Add sepia theme"

[2018-05-07 10:10] radare opened #10037 "ps issues"
* psx should not print \n
* argument is not honored properly

<img width="173" alt="screen shot 2018-05-07 at 12 10 10" src="https://user-images.githubusercontent.com/917142/39696955-a606826e-51ef-11e8-9be0-bb2668ebd427.png">

[2018-05-07 10:17] radare commented on #10037
pcs works as expected

[2018-05-07 12:23] PaoloMonti42 opened #10038 "rasm2 assembles differently in presence of a space"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x86_64
| File format of the file you reverse (mandatory)      | CLI
| Architecture/bits of the file (mandatory)            | arm 32
| r2 -v full output, **not truncat

[2018-05-07 12:31] xarkes commented on #10038
There was a case on irc where `pa ldr r0, [pc, 04 ]` would not even assemble, causing an error.

[2018-05-07 12:32] PaoloMonti42 commented on #10038
I suspect that for some reason 'pa' inside r2 and rasm2 behave differently, even if the core parsing should be the same

[2018-05-07 12:39] vdf-git opened #10039 "print commands append a space to output"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | arm/16 (ie. thumb-2)
| r2 -v full output, **not

[2018-05-07 12:59] PaoloMonti42 commented on #10038
@xarkes They seem like they are two completely separate issues.
`rasm2 -a arm 'ldr r0, [pc, #04]'`infers arm32, and has this behavior
`pa ldr r0, [pc, 04 ]`from issue #10039 is arm16

[2018-05-07 13:46] Maijin commented on #10033
(needed to add m flag in rw so it's rwm)

[2018-05-07 14:04] vdf-git commented on #10038
It would not be a major bug fix to allow spaces before ] (and ! and so on) in thumb-2. Question is if this is desirable: "ldr r3, [r2, 0x30 ]  !" is nasty syntex IMHO...

[2018-05-07 15:02] d4em0n opened #10041 "asm.pseudo local variable name"
It would be nice if asm.pseudo change fp relative addressing using local variable name
![screenshot_20180507_215942](https://user-images.githubusercontent.com/29397847/39708656-f4720944-5241-11e8-869d-e38aa6024106.png)
For example, in above screenshot, i change local variable name in fp-0x20 to arg1. And instruction `[fp - 0x20]  = r0` it should be `[arg1] = r0`

[2018-05-07 15:27] hamuto opened #10042 "Bug with ood on Manjaro"
First post in github, if have any question or remark please feel free to advice me.
And also excuse my english, non native speaker.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux 4.14.36-1-MANJARO x86_64
| File format o

[2018-05-07 18:02] #9964 closed

[2018-05-08 01:08] radare opened #10047 "pxr doesnt honors color scheme"
<img width="1440" alt="screen shot 2018-05-08 at 03 08 15" src="https://user-images.githubusercontent.com/917142/39732350-1de75bfa-526d-11e8-843a-30b94c4611b6.png">

[2018-05-08 01:09] radare commented on #10047
cc @cyanpencil

[2018-05-08 01:10] #10036 closed

[2018-05-08 07:28] pawlos commented on #9999
@XVilka thanks for tagging this, if it's a good first issue I might consider doing it, but I'm still missing what should be the expected behavior here? Is the help message of Cs wrong? Or the code should change to make use the third parameter as addr and not as repeat counter?

[2018-05-08 07:29] XVilka commented on #6947
@sivaramaaa here you can have an interest in the part of the zignature that will allow to save/load the function arguments and their types. I think it is heavily related to your task.

[2018-05-08 07:30] XVilka commented on #1589
Can be this closed? Since we chose to stick with our own signatures format?

[2018-05-08 07:31] XVilka commented on #5287
Is this still a case?

[2018-05-08 07:31] XVilka commented on #5287
Can you please add the test for that in radare2-regressions if problem is still reproducible?

[2018-05-08 08:06] DieHertz commented on #10033
It could be beneficial to alter this function or rename it somehow then, as it's not really self-documenting, no word about `m` and what it means.

[code]

[2018-05-08 08:28] radare commented on #10033
? This was deprecated by ret2libc 2 releases ago

[2018-05-08 09:05] #9544 closed

[2018-05-08 12:59] #1589 closed

[2018-05-08 13:26] radare commented on #10038
Imho assemblers should support any amount of whitespace between operands and arguments

[2018-05-08 14:15] fcasal opened #10050 "Null deref in cmd_search.c:2031"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                             | 16.04.1 Ubuntu x86_64
| File format of the file you reverse      | ELF
| Architecture/bits of the file            | x86/64
| r2 -v          | radare2 2.6.0-git 18193 @ linux-x86-64 git.2.5.0-

[2018-05-08 14:37] pawlos commented on #10050
that was this check for that was removed in this one https://github.com/radare/radare2/issues/9992

[2018-05-08 14:51] xOmenus opened #10052 "Invalid base address when connect to gdbserver"
I emul mips system on qemu `sudo qemu-system-mips -kernel 'vmlinux-3.2.0-4-4kc-malta' -nographic -hda dlink.img -append "root=/dev/sda rw init=/init" -net nic -net tap`
And start my gdbserver listen on port. Then i opened another terminal and put command `r2 -AAA -B 0x00400000 -a mips -e bin.baddr=0x00400000 -e cfg.bigendian=true -e dbg.exe.path=/home/omenus/firmware/_20160114_1621_DIR_632_2.6.1_s

[2018-05-08 14:55] PaoloMonti42 opened #10053 "x86.nz does not assemble "inc/dec size ptr [reg]" instructions"
[code]

Enabling this functionality would require a rework of the current opcode parsing in [this](https://github.com/radare/radare2/blob/004031aaeb5b11eb31370e2822b4255316c4be17/libr/asm/p/asm_x86_nz.c) file.

The problem is that op->operand[0].type is only one single variable, while to keep track of sizes in, e.g., "inc dword ptr [rcx]" we would require at least two. At the moment the informatio

[2018-05-08 15:58] radare commented on #10050
We should use the r_io_fd_get_current api instead of accessing those fields

[2018-05-08 15:58] radare commented on #10050
But assuming threre should be a desc pointer in io is also wrong. This field must die in siol2

[2018-05-08 16:02] radare commented on #10042
What happens if you dont run anything but ood? I think the problem comes after aaa because the esil env is initialized and may fuckup some assumptions of thw debuggr

[2018-05-08 17:17] Rader2UserThank commented on #9990
@radare I tried it on win/Linux , is there any solution how to translate arm thumb2 instruction to hex with radare 2?

[2018-05-08 18:38] radare commented on #9990
This process is not called “translate” or “convert”. Its called “assemble”

And yes you should be able to do so, if the instruction is not supported send a pr fixing it or install the keystone plugin or use the gas one

[2018-05-09 03:35] XVilka commented on #10052
@SrimantaBarua may help with this I think

[2018-05-09 09:28] XVilka commented on #6773
Please describe what changes do  you want on how to display partitions.

[2018-05-09 09:31] XVilka commented on #8980
Then also should be documented in radare2book

[2018-05-09 11:06] TheAifam5 commented on #9973
What about Clang and LLDB? :)

[2018-05-09 11:15] xarkes commented on #9973
You can use clang with meson+ninja build system. Just do `set CC=clang` and follow the instructions for building.

[2018-05-09 11:28] radare commented on #8980
What about discussing the proper way instead of documenting and extending what we know already its dupped?

[2018-05-09 12:18] pelijah commented on #9973
Meson doesn't support clang on Windows.

[2018-05-09 13:38] hamuto commented on #10042
I'm new with radare2, but it seems that everything to work fine, I can use VV, V!, pdf, breakpoint and dc.

[2018-05-09 14:42] XVilka commented on #10052
@xOmenus no need, he wrote/refactored this code, so if he has time - he will respond here.

[2018-05-09 18:27] radare opened #10058 "p8s should do the same as pcs"
Many ppl has been asking recently about how to create an escaped hex string, the answer is pcs, but first commands that come to my mind are pxs, p8s, p8x... so maybe p8s should be an alias for pcs

[2018-05-09 21:10] radare commented on #9968
Also, as long as you want to dump the section, the IO must happen at physical level. So that's why it dumps ffff, this was working before the siol merge, because the pa was mapped at address 0, which was wrong, but handy. I think that to solve this issue we have to implement iO command

[2018-05-09 21:27] radare commented on #7868
can we close this?

[2018-05-09 21:28] radare commented on #7580
can you try with latest r2?

[2018-05-09 21:29] radare commented on #6786
this can be closed

[2018-05-09 21:29] #6786 closed

[2018-05-09 21:29] radare commented on #5221
we can close this i think

[2018-05-09 21:31] radare commented on #4124
@leberus can you update the issue with the current state of the things?

[2018-05-10 03:33] XVilka commented on #8806
@cyanpencil may want to take a look at this at some point. Not for this release though.

[2018-05-10 03:36] XVilka commented on #6754
Kind of related to the work of @sivaramaaa

[2018-05-10 03:37] XVilka commented on #7568
@cyanpencil you may also join the discussion/thinking about this.

[2018-05-10 03:38] XVilka commented on #9828
Long term, not for this release I think.

[2018-05-10 03:40] XVilka commented on #2141
@cyanpencil you may want also to check this. Related also to https://github.com/radare/radare2/issues/8115

[2018-05-10 03:40] XVilka commented on #8115
@cyanpencil please take a look at this one too.

[2018-05-10 03:41] XVilka commented on #5847
No answer, moving to the later milestone.

[2018-05-10 06:33] s0i37 commented on #9968
rabin2 -O d/S/.section_name don't comfortable for me because rabin2 returns hex-string. And also I have around 1k sections (minidump file). So "wtf" command still is good solve for me now.

[2018-05-10 07:47] radare commented on #9968
I know. And thats why we should improve that to dump raw to stdout and create files directly too

[2018-05-10 07:47] radare commented on #9968
But its imho the way to go

[2018-05-10 09:06] radare commented on #7094
related to the xrefs rework you did

[2018-05-10 09:16] radare commented on #9757
same happens with R_IO which assumes there's a current "filedescriptor".. this is in siol-speak used only when working in non-va mode

[2018-05-10 09:25] radare commented on #3235
the x86 assembler seems to be pretty broken right now
[code]

[2018-05-10 09:28] radare commented on #9599
@rrreeezzz ive moved the issue for 2.7.0 but if you have started to do stuff in here and we can have it for 2.6 it will be great

[2018-05-10 09:29] radare commented on #2639
cc @PaoloMonti42

[2018-05-10 09:29] radare commented on #7522
tired of waiting

[2018-05-10 09:29] #7522 closed

[2018-05-10 09:32] PaoloMonti42 commented on #2639
Here I am, how can I help you?

[2018-05-10 09:33] radare commented on #9564
@sivaramaaa can we close this?

[2018-05-10 09:35] radare commented on #9925
what's the state of this issue?

[2018-05-10 09:36] PaoloMonti42 commented on #9925
Solved [here](https://github.com/radare/radare2/pull/10049)

[2018-05-10 09:58] #5847 closed

[2018-05-10 09:58] Maijin commented on #5847
too old

[2018-05-10 10:13] Maijin commented on #9199
See this @cyanpencil ^

[2018-05-10 10:17] ljani commented on #5847
I had the same problem with some executable, which I cannot remember anymore. However I just tested with [`gametime.exe`](https://github.com/isislab/CSAW-CTF-2016-Quals/blob/master/Reverse/Gametime/gametime.exe) with r2 v2.5.0 and output from `afl` before and after `doo` seem to be equal.

[2018-05-10 10:30] Maijin commented on #5847
@ljani reopen a new issue, test with r2 from git and use the template to report issue please

[2018-05-10 10:31] radare opened #10060 "Missing help for ?e"
?e? prints '?' :P

[2018-05-10 11:13] #10060 closed

[2018-05-10 11:16] #9871 closed

[2018-05-10 11:18] radare commented on #6828
@sivaramaaa moved for 2.7

[2018-05-10 11:26] PaoloMonti42 commented on #9925
Rbp+16 could be pointing both to  a dword or a qword

[2018-05-10 11:58] radare commented on #9798
[code]
->

[code]

[2018-05-10 12:39] radare commented on #9925
Imho it should honor regsize if no ptrsize specified

Do u mean that it works when size is specified? Im afk now

[2018-05-10 12:40] radare commented on #2639
Implemening parsers for such formats like its done for other syntaxes

[2018-05-10 12:43] radare commented on #10042
So its a problem with aaaa right?

[2018-05-10 13:16] radare commented on #2639
You can use the output of pc subcommands as sample format to support in this parser

[2018-05-10 13:17] radare commented on #9925
Then we should fix ragg because this instruction was spitted by it

[2018-05-10 13:27] PaoloMonti42 commented on #9925
The thing is that, until x86_nz is fixed to support 'size ptr' instructions, there will be absolutely no fix on ragg2 that will make it happy.

If you think that making them incompatible is a big problem, we can revert
* https://github.com/radare/radare2/commit/004031aaeb5b11eb31370e2822b4255316c4be17
* https://github.com/radare/radare2-regressions/commit/5e038b38652a6d3b73f91cde62c2e1f5ffa942b3
*

[2018-05-10 13:41] PaoloMonti42 commented on #2639
Alright, I'll try to have it ready for tomorrow.

just one thing. at the moment rax2 -F works with python, but not with the same format as the output of 'pop' in r2. It is a concern?

[code]
[code]

[2018-05-10 13:45] Maijin opened #10064 "Remove Sd command"
`Sd` doesn't work anymore and It is a duplicate of `iO d/S/.text` thus it should be removed.

[2018-05-10 13:47] Maijin commented on #10064
Probably need also to add something in `iO d/S/` to specify when we went it raw instead of hex

[2018-05-10 14:32] #10050 closed

[2018-05-10 15:01] radare commented on #10064
why 2.7 and not 2.6?

the whole S command must die, not just Sd

[2018-05-10 15:03] Maijin commented on #10064
Oh because there is probably enough to do in 2.6.0

[2018-05-10 15:10] Maijin commented on #3235
Can't reproduce this /a jmp rax problem

[2018-05-10 15:10] hamuto commented on #10042
I find new things about this problem which solved it (?), As I said when I compile the **license_2.c** into **license** and use r2 on it, it seems to work except **ood**.
But some strange reason, when I do:
_cp license_2.c test.c_
And compile **test.c** into **test**, the command **ood** works and print :
Process with PID 23398 started...
File dbg:///home/hamza/Security/liveoverflow_youtube/0x05_s

[2018-05-10 15:14] Maijin commented on #10042
ok so that's like a filename issue related to debugger then

[2018-05-10 15:15] hamuto commented on #10042
Should I close the issue? Thanks :)

[2018-05-10 15:18] Maijin commented on #10042
No don't close the issue that's a bug it needs to be fixed

[2018-05-10 15:19] Maijin commented on #8874
oups it's not merged yet

[2018-05-10 15:33] #8874 closed

[2018-05-10 15:56] Maijin commented on #10037
@kazarmy ^

[2018-05-10 16:01] astuder opened #10066 "Missing DATA XREFS for cjmp ops"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian x86 64
| File format of the file you reverse (mandatory)      | binary dump
| Architecture/bits of the file (mandatory)            | 8051
| r2 -v full output, **not truncat

[2018-05-10 16:04] radare commented on #9709
i think i have implemented this already :D but forgot where

[2018-05-10 16:05] radare commented on #9709
in aeaf

[2018-05-10 16:05] radare commented on #9709
[code]

[2018-05-10 16:05] radare commented on #9709
so we want to have `aeab` which basically does the same as aeaf, but for 1 basic block instead of the whole function.

[2018-05-10 19:41] radare commented on #3235
Yeah seems fixed in master now

[2018-05-10 19:48] radare commented on #10066
A conditional jump dont references code

[2018-05-10 19:49] radare commented on #10066
Is this code from git? This stuff changed 2 days ago

[2018-05-10 19:52] astuder commented on #10066
Yes, pulled git today. I don't think it's related to the recent rework of references, which works great (solved a few other issues).

Conditional jump, with a condition that accesses memory. CODE reference is created. DATA reference is missing. Unless there's another op-type I should use for these kind of jumps.

[2018-05-10 20:26] radare commented on #10066
Ok

[2018-05-10 22:38] gu10ng1t commented on #9995
thank you @BlackYoup , I started to use randare not so long ago and when i tried that command it didn't work as i would expect it to... i thought it was me that didn't get the idea of how to use this hwbp...

[2018-05-11 04:01] XVilka commented on #10066
Check also the "anal.ijmp" option.

[2018-05-11 07:48] unixfreaxjp commented on #6773
Firstly do we need to make r2 to have functionality as FDISK? For performing below action I am using FDISK or other partition tool instead..

[2018-05-11 07:53] radare commented on #6773
The mp command prints the partitions already. And making or exposing the fields of those structures with the pf command should be easy. That will allow the user to modify partitions by hand. Imho its more about the tooling than about the capabilities

[2018-05-11 08:02] XVilka commented on #2387
@condret @radare please checkout this one too, what do you think?

[2018-05-11 08:58] #2639 closed

[2018-05-11 09:41] xarkes commented on #9798
From what I understand there are 2 major things under `asm.`
- How to disassemble (`asm.cpu`, `asm.bits`, `asm.arch`, `asm.dwarf`, and so on...)
- How to print it (`asm.bytes`, `asm.cmt`, `asm.lines`, `asm.fcnlines`, ...)

[2018-05-11 10:09] XVilka commented on #9798
Agree on "asm.var.*" - sounds good, same with "asm.lines.*"

[2018-05-11 10:42] XVilka commented on #2032
@Vane11ope can you please try to enable the unicode reflines and stuff in the visual panels code?

[2018-05-11 10:43] XVilka commented on #8672
@cyanpencil this is all yours, don't forget it :D

[2018-05-11 10:53] #10041 closed

[2018-05-11 11:16] XVilka commented on #7332
@cyanpencil please see also this one.

[2018-05-11 13:27] #8785 closed

[2018-05-11 15:12] PaoloMonti42 commented on #9925
I just realized I'm a complete idiot, 'mov size ptr [reg], imm' already works with explicit sizes, it's only inc and dec that are not supported

[2018-05-11 15:18] unixfreaxjp commented on #6773
May I be very honest to express: One(1) byte of user mistype will *kapoot* the partition.. not to mention several different structure to support

Yes I think so too.

[2018-05-11 18:04] rrreeezzz commented on #9599
For now I just changed ```ihj``` for ELF* in order to have ```ih``` = ```ihj``` harmonized  (same style as mach0). However, it removes the old ```ihj``` which printed the entries of the phdr. What do you think ? Should I PR ? If so, I can do the same for PE.

[2018-05-11 21:41] lunixbochs commented on #7410
We're still using revsync with ida and binary ninja, but nobody has shown enough interest on the team in radare to add a frontend. I imagine it would be rather easy for someone who spends more time with radare to build.

Not as expensive as you'd think. Users can't really generate data very quickly, so as long as you're only synchronizing user actions, and have an efficient diffing layer, it doesn

[2018-05-12 08:42] radare commented on #7410
I did, but i have no more time to spend in more things. In fact i build some basic apis to hook events and so on to do that, but yeah, from what i see everybidy interested on this have no spare time to implement it.

[2018-05-12 08:50] radare commented on #9599
Yes, send pr

[2018-05-12 08:54] radare commented on #9925
R2 assembler should work without specifying sizes. Otherwise the output of the disassembler cant be assembled back. Even if not standard.. not a single assembler works completely fine, and we can be flexible

[2018-05-13 12:40] mohe2015 commented on #159
[code]
I think it doesn't work any more.

[2018-05-13 13:42] radare commented on #159
Can u fix it?

[2018-05-13 22:13] BlackYoup opened #10090 "asm.comments"

[2018-05-13 22:14] BlackYoup commented on #10090
Woops, my bad, it wasn't meant to be opened :D

[2018-05-13 22:14] #10090 closed

[2018-05-14 12:44] fumfel opened #10091 "Heap out of bounds read in _inst__sts()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x64
| File format of the file you reverse (mandatory)      | Binary
| Architecture/bits of the file (mandatory)            | AVR
| r2 -v full output, **not truncated*

[2018-05-14 18:41] bferguson3 opened #10096 "Doesn't install on High Sierra?"
The package opens fine
The install completes fine
When the install is done, the app and files are nowhere to be found on my system.

Poked around for half an hour, couldn't figure this out.

[2018-05-14 18:54] pawlos commented on #10039
this is actually not a space but a new line (\xA) character and it's produced by [cmd_help.c:604](https://github.com/radare/radare2/blob/master/libr/core/cmd_help.c#L603). Removing the `\n` there generates a version that covers the result with the r2 prompt. I'll check if maybe this additional space can be removed only in case this is done in ``.

[2018-05-14 18:57] pawlos commented on #10096
I'm on High Sierra and have no issues. Just typing `r2` in the cmd executes radare2. Do you install it from git according to the [README.md](https://github.com/radare/radare2#install)?

[2018-05-14 19:35] bferguson3 commented on #10096
No, I installed it from the .pkg. I assumed it was a GUI based tool at first, and was trying "radare2" not "r2".

Is 65xx architecture not or no longer supported? That was my entire purpose for installing it.

[2018-05-14 19:35] #10096 closed

[2018-05-15 09:28] Darkkey opened #10097 "r2/debugger messages are not sent to TCP r2pipe"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (mand

[2018-05-15 09:31] radare commented on #10097
no need for r2pipe or tcp to reproduce this just `dc > foo.txt` is enough

[2018-05-15 09:55] Maijin commented on #10096
_dAe  8 16       6502        LGPL3   6502/NES/C64/Tamagotchi/T-1000 CPU
is here

[2018-05-15 11:25] condret commented on #9483
r_io_desc_exchange is missing somewhere

[2018-05-15 12:46] #10091 closed

[2018-05-15 12:48] radare commented on #10091
thanks, it seems like every other instruction of this plugin is affected, gonna fix in the next commit

[2018-05-15 12:59] radare commented on #10091
fixed the others

[2018-05-15 16:19] #10037 closed

[2018-05-15 17:28] eldstal opened #10102 "Support for external decompilers (retdec, snowman, ...)"
#9017 was closed, but what about the possibility of a more interactive decompiled view, at the very least with xref jumping and type/name editing for variables in the decompiled view?

Such a feature could probably be separated entirely into a plugin (including the mapping of r2 variables to variables in the decompiled view somehow) or implemented as some sort of standardized decompiler interface

[2018-05-15 17:29] astuder commented on #10066
Digging a bit deeper: I use aar command to generate xrefs. When I call afr on the problematic address (afr @0xc96a), the missing xref is created.

There are (at least) two implementations of xref analysis:
r_core_anal_search_xrefs in core/canal.c, invoked by aar
fcn_recurse in anal/fcn.c, invoked by afr

fcn_recurse looks much more comprehensive.

Consolidate both into an r_anal_op_xref?

[2018-05-15 21:14] #6970 closed

[2018-05-15 21:26] condret commented on #10008
wat

[2018-05-15 21:56] radare commented on #10102
Sounds like a good proposal. Maybe we can add this in the cmd interface. And define some stantard commands to perform actions.

We will need a cursor for x,y to move around words and lines. This may save us from having to use the mouse sometimes. When we dont have any

We can expose this with a command and use it like ~... but for word selection in a scrolled buffer

Then we can ask for action and

[2018-05-15 21:58] radare commented on #10102
Maybe as an alternative view of the visual graph. Which makes more sense because it requires the function to be analyzed

[2018-05-15 21:59] radare commented on #10066
Well i think is good to have both. And one of them is part of the search logic. How do you plan to merge this?

[2018-05-15 22:00] rhythmx opened #10106 "Virtual addressing failure after fallback to rawio"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86_64  18.04
| File format of the file you reverse (mandatory)      | NES rom
| Architecture/bits of the file (mandatory)            | 6502
| r2 -v full output, **not trun

[2018-05-15 23:28] astuder commented on #10066
I thought about moving the logic that creates the xrefs for the current op into a function, then call that function from within r_core_anal_search_xrefs and fcn_recurse.

[2018-05-16 02:02] sivaramaaa commented on #10008
Okk i am unable to repro this issue now , so closing it !

[2018-05-16 02:02] #10008 closed

[2018-05-16 03:34] XVilka commented on #10102
It is some kind a part of the radeco integration task. @kriw @sushant94 @chinmaydd @HMPerson1 @sivaramaaa may be interested in this.

[2018-05-16 08:09] radare commented on #10066
uhm yeah that seems right, but not sure how much shared code will those two implementations have, didnt checked the code yet. try it in a pr :)

[2018-05-16 08:29] #10097 closed

[2018-05-16 08:36] danceswithbytes opened #10107 "avr binary content sometimes displayed as ff... when re-opening project"
Tested with commit 9656ba12aa7f77060f25a0c1489092dec4466279.

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 17.10, x86_64
| File format of the file you reverse (mandatory)      | bin
| Architecture/bits of the file (mandatory)            |

[2018-05-16 08:38] radare commented on #10107
projects are broken and there are over 9000 issues about the same thing, we wont fix projects until we do the proper refactorings in rbin and rio

[2018-05-16 09:39] radare commented on #10039
i think this space is on purpose , but the assembler should handle such syntax , extra spaces before a bracket shouldnt be a problem

[2018-05-16 10:12] #9483 closed

[2018-05-16 10:48] radare commented on #159
cricricri. will try to fix it today or tomorrow when i have some time

[2018-05-16 14:10] sivaramaaa commented on #10023
Moving this to 2.7 , i will do this later

[2018-05-17 03:26] XVilka opened #10112 "Move lang_python3.c"
Saw [](https://github.com/radare/radare2/commit/4d61d66e29131bd532647eb55cde073c7161caf2) and thought that moving lang_python.c here is a good option too, since Python is de-facto standard scripting language in ITsec and RE communities and "lang-python" doesn't require python bindings, just python itself installed. Could be a configure option or so. IMHO, this one should be out of the box (at leas

[2018-05-17 03:41] XVilka opened #10113 "/bin/ls from Fedora 28 - function starts from `endbr64` instruction, disasm and analysis problems"
[code]
[fedora28_bin_ls.zip](https://github.com/radare/radare2/files/2011547/fedora28_bin_ls.zip)

[2018-05-17 03:46] mug896 opened #10114 "vprompt setting in visual mode is not work when entering "libc" library"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 LTS x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86_64
| r2 -v full output, **not tru

[2018-05-17 06:39] #9199 closed

[2018-05-17 10:19] XVilka opened #10115 "Meson + clang-cl with ASAN, UBSAN, etc build for Windows"
We have enough power at our paid AppVeyor account. Would be nice to have the version for Windows with all sanitizers enabled, which will help us to catch the bugs easier.

See https://clang.llvm.org/docs/MSVCCompatibility.html and Google Chrome success story http://blog.llvm.org/2018/03/clang-is-now-used-to-build-chrome-for.html

[2018-05-17 11:27] XVilka commented on #1195
@cyanpencil you may want to look at this one by the way

[2018-05-17 11:30] XVilka commented on #4997
@cyanpencil check please also this one.

[2018-05-17 11:33] XVilka commented on #1904
@cyanpencil please check this one too while you are on the graphs

[2018-05-17 11:38] XVilka commented on #4906
@sivaramaaa you may want to look at this too, just please check http://windbg.info/doc/1-common-cmds.html From what I see the missing thing is 1) better documentation 2) display linked list

[2018-05-17 11:41] XVilka commented on #4868
@ret2libc can you please update the issue to the current situation?

[2018-05-17 11:42] XVilka commented on #6220
@cyanpencil can you please check this one?

[2018-05-17 11:42] XVilka commented on #8511
So, what you have decided here?

[2018-05-17 11:43] XVilka commented on #3535
@sivaramaaa while you are on `pf` - you may want to take a look at this one.

[2018-05-17 11:45] XVilka commented on #2952
@cyanpencil please check this one too, if you have an idea how to implement this quickly. If not - then I think you already have more than enough.

[2018-05-17 13:54] sferrini commented on #6220
@XVilka just tested this, on macOS seems it doesn't print characters anymore, but it does other strange behaviour like changing the colour palette.

[2018-05-17 15:02] cyanpencil commented on #6220
The change of the colour palette means that it's sending the `R` character in some way...

However I'm unable to reproduce it on my system. I'm on arch linux and tested both in urxvt and xterm. Clicking or selecting with the mouse does not print any character in visual mode, even with the command menu `:` open.

[2018-05-17 15:04] sferrini commented on #6220
@cyanpencil have you tried also in "highlighting mode" `/`?

[2018-05-17 15:13] cyanpencil commented on #6220
Ok I just tried and you are right, I was being naive, in highlight mode it prints garbage. It prints garbage also while in offset mode `o`, while setting cmg.gprompt `|` and while adding a comment `;`.

I'll see if I can fix it

[2018-05-17 23:59] inferiorhumanorgans commented on #670
I'm currently working on this:

https://github.com/inferiorhumanorgans/r2-c166

[2018-05-18 07:19] sivaramaaa commented on #9850
@Vane11ope can u check this one

To reproduce this build r2 with asan :
[code]

IMO it's due to oob read in `I.buffer` while calculating len via strlen ()

[code]

[2018-05-18 08:13] radare commented on #9850
aha! this seems to be the crash i was having, but didnt had time to investigate. i think i filled an issue about it, but anyway, lets focus on fixing rather than finding issues

[2018-05-18 08:32] #6827 closed

[2018-05-18 08:35] #6220 closed

[2018-05-18 08:50] ret2libc commented on #10113
it seems like the first instruction is a `endbr64` instruction, for Control Flow Enforcement. That's interesting :) probably capstone is not able to disassemble that correctly.

[2018-05-18 08:55] radare commented on #10112
where is this lang_py3?

[2018-05-18 08:59] ret2libc commented on #10113
objdump tells me it's an `endbr64`, which is probably added by gcc 8 that was included in Fedora 28. However, we should at least recognize it as a `repz nop %edx`.

[2018-05-18 08:59] radare commented on #10113
QUICK TO THE CAPSTONE-ISSUES-CAVE!

[2018-05-18 09:00] radare commented on #10113
https://github.com/aquynh/capstone/issues/1129

[2018-05-18 12:33] ret2libc commented on #4868
This is very hard for me (as for everybody else i think) to do. I'd need to review all the analysis code base. Maybe we have done 1 or 2 of these checks.

[2018-05-18 17:45] ret2libc opened #10122 "afv commands do not work"
[code]

`afvR` and `afvW` do not return anything.
`afvR local_10h` gives `See afv?, afvb?, afvr? and afvs?`.

I think both results are wrong.

[2018-05-18 18:12] ret2libc commented on #10122
my bad, probably some libraries were old

[2018-05-18 20:51] vishnudevtj opened #10123 "dhm command segfults the session"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 9 x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated**

[2018-05-19 04:14] XVilka opened #10127 "`dmh` commands are not working properly on Fedora 28"
Probably because of moving to glibc 2.27 - [changelog](https://abi-laboratory.pro/tracker/changelog/glibc/2.27/log.html)
[code]

[2018-05-19 04:16] XVilka commented on #10112
Here https://github.com/radare/radare2-bindings/blob/master/libr/lang/p/python.c

[2018-05-19 04:48] RKX1209 opened #10128 "Add usb sniffing capability to radare2"
Does radare2 have the capability to sniff usb communication like [libusbsniff](https://github.com/radare/radare/tree/master/libusbsniff)?
It can be useful for debugging over usb connection to embedded systems.

[2018-05-19 07:09] PaoloMonti42 opened #10129 "x86.nz assembling wrongly many mov instructions"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x86 64
| File format of the file you reverse (mandatory)      | CLI
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncat

[2018-05-19 09:12] Maijin commented on #10128
that should probably go in r2-extras

[2018-05-19 11:09] XVilka commented on #10128
@RKX1209 r2 supports opening PCAP files with a plugin from extras. And USB sniffers able to produce PCAP files. So you may want to try to extend it or create a script/plugin on top of it.

[2018-05-19 13:09] XVilka commented on #4328
Are there any ideas why it still happens? http://ci.rada.re/job/radare2-tcc/6191/consoleFull

[2018-05-19 13:12] XVilka opened #10131 "Android builds are failing"
[code]

See http://ci.rada.re/job/radare2-android-aarch64/7471/consoleFull for the full log

[2018-05-19 15:51] radare commented on #10131
Im aware. Static and ios builds are broken too

[2018-05-19 23:26] radare commented on #9798
next change:
[code]

must be

[code]

[2018-05-20 00:44] radare commented on #9798
Another one
[code]

must be:
[code]

[2018-05-20 00:50] radare commented on #9798
[code]
into
[code]

[2018-05-20 00:57] radare commented on #9798
asm.fcnlines

into

asm.lines.fcn

[2018-05-20 01:58] radare commented on #10128
Nowadays i would probably use r2frida for this

[2018-05-20 01:58] radare commented on #4328
404?

[2018-05-20 02:00] radare commented on #10112
This adds the python dependency which is a mess. I prefer to keep it outside

[2018-05-20 02:11] radare commented on #9847
cc @cyanpencil

[2018-05-20 03:31] XVilka opened #10137 "[META} Packaging"
# Very old versions

- [ ] MacPorts - very old version (1.2.1) https://github.com/macports/macports-ports/tree/master/devel/radare2
 - [ ] Funtoo - very old version (2.0.1) https://github.com/funtoo/dev-kit/tree/master/dev-util/radare2
 - [ ] GoboLinux - very old version (1.1.0) https://github.com/gobolinux/Recipes/tree/master/trunk/Radare2/1.1.0
 - [ ] Hyperbola - very old version (1.4.0) https:/

[2018-05-20 03:38] XVilka opened #10138 "Clang build failure"
[code]
See full log here http://ci.rada.re/job/radare2-clang/7835/console

[2018-05-20 03:41] XVilka commented on #4328
404 because it removes old builds. Here is the permanent link http://ci.rada.re/job/radare2-tcc/lastBuild/consoleFull

[2018-05-20 08:55] radare commented on #4328
Because of jemalloc crappy includes

[2018-05-20 12:26] cyanpencil commented on #9847
I'll work on this :+1:

[2018-05-20 20:19] gu10ng1t opened #10143 "Parameter names"
I'd like to know how to see the parameter names of well known functions (libc, Win32 API, etc.).
See below an example of such thing in Ollydbg:

![](https://i.stack.imgur.com/XeAoA.png)

I searched in the book but couldn't find it, neither in the issues list.

[2018-05-20 23:54] #6479 closed

[2018-05-21 00:02] radare commented on #9798
i think we can close this issue for now :) we can open another one for other variables like debug. or anal. which may be also interesting to discuss.

[2018-05-21 00:02] #9798 closed

[2018-05-21 00:05] radare commented on #10138
gnuisms?

[2018-05-21 00:08] radare commented on #10138
which OS are you trying to build r2 in?

http://unix.superglobalmegacorp.com/Net2/newsrc/sys/time.h.html

it's standard stuff

[2018-05-21 00:08] radare commented on #10138
# define CRTSCTS  020000000000

[2018-05-21 00:09] radare commented on #10138
everything is defined in this include file

http://unix.superglobalmegacorp.com/xnu/newsrc/bsd/sys/time.h.html

[2018-05-21 00:34] #9829 closed

[2018-05-21 00:40] radare commented on #9968
[0x100001200]> iO d/S/0.__TEXT.__text |rax2 -s > text

[2018-05-21 00:41] radare commented on #9968
you can also do `wtf dumped $SS @ $S`

[2018-05-21 00:41] radare commented on #9968
let's close this issue as long as the S command will be deprecated soon and there are other ways to achieve the same

[2018-05-21 00:41] #9968 closed

[2018-05-21 00:42] radare commented on #9867
This is done in master already. thanks @cyanpencil !

[2018-05-21 00:42] #9867 closed

[2018-05-21 00:47] #9886 closed

[2018-05-21 00:50] radare commented on #6186
See `libr/flag/d ; make ; cat ft.r2` we need to find a way to make flags use those files to 'tag' them. For now this can be done by hand. but we need to improve

[2018-05-21 01:07] #9850 closed

[2018-05-21 02:02] XVilka commented on #10138
This one fixed, but Clang build (on Linux) still failing:
[code]
Full log is here: http://ci.rada.re/job/radare2-clang/lastBuild/consoleFull

[2018-05-21 03:06] sivaramaaa commented on #10143
Hey hi @gu10ng1t

* If u just want just want to see the parameter names of well known functions , u can just use `aaaa` :

![func_name](https://user-images.githubusercontent.com/18589720/40288617-b4904a44-5cd1-11e8-987d-6c27e8a6e5b8.png)

* If u want it's value while debugging , just enable `e dbg.funcarg = true`, and u can see this display while u step into a call instruction

![visual_arg](https

[2018-05-21 03:06] #10143 closed

[2018-05-21 03:36] XVilka opened #10144 "rm: cannot remove '.libr/libgrubfs.o': Permission denied during building process on Linux"
[code]
This prevents the further building

[2018-05-21 03:57] RKX1209 commented on #10128
Hmm. I want to implement Nintendo Switch debugger for radare2.
It requires usb connection between r2 and switch to exchange debug packets.
So I'd like to add capability of usb communication with some third party library like libusb.
What do you think?

[2018-05-21 04:08] gu10ng1t commented on #10143
Thank you @sivaramaaa  you make a great work here!

But anyway, let me just try clarify my idea here:

What you see below is what I see with `e dbg.funcarg = true` enabled:
![dbg funcarg](https://user-images.githubusercontent.com/25881395/40290089-5458f020-5c92-11e8-95a5-64bd8b7f0a8b.png)

But what I would like (and I guess, some others ;) is:
![parameters comment](https://user-images.githubuserco

[2018-05-21 04:50] gu10ng1t commented on #10143
Well, I don't know what we should expect from functions like scanf, but I got:
![scanf](https://user-images.githubusercontent.com/25881395/40291051-e0702f5a-5c98-11e8-8d69-ca27dd9b8950.png)
strcmp seems to be working:
![strcmp](https://user-images.githubusercontent.com/25881395/40291065-f3aa9a10-5c98-11e8-943e-5ec366b88ff0.png)

Users like me should update that database manually? How that process

[2018-05-21 06:31] sivaramaaa commented on #10143
good to hear :)

u should be able to see a format string and a memory address, but this thing is still in WIP, so yeah it should be improved

Once this command is complete, it should not be necessary to do it manually , but as a workaround  u can load ur own function signature using `tk` command , see `libr/anal/d/types.sdb.txt`

Also feel free to send a PR to update function signature , look at `

[2018-05-21 09:01] radare commented on #9798
yep. but this issue is large enough to open another issue to discuss that

[2018-05-21 09:03] radare commented on #10128
you can do that with an IO plugin using libusb, but this must go into extras

[2018-05-21 09:04] #10138 closed

[2018-05-21 09:18] radare commented on #10137
voidlinux

[2018-05-21 09:18] radare commented on #10123
dhm != dmh

[2018-05-21 10:19] RKX1209 commented on #10128
Sure Thx!

[2018-05-21 10:19] #10128 closed

[2018-05-21 10:27] XVilka commented on #10128
@RKX1209 you can check the implementation of remote GDB io and debug plugins as an example. It basically uses the similar network capabilities.

[2018-05-21 11:19] radare commented on #10128
There are easier plugins to look at. R2frida dor example also uses debug.io to run debug commands thru the io interface

[2018-05-21 11:21] radare opened #10145 "Add new callback to core plugins"
to be able to introduce and remove config vars. We need to unlock rconfig before calling this callback

[2018-05-21 14:28] XVilka commented on #10137
@radare Voidlinux what?

[2018-05-21 14:30] radare commented on #10137
theres no voidlinux in the badge

[2018-05-21 14:33] XVilka commented on #10137
@radare it is because VoidLinux not yet merged in this repology tool: https://github.com/repology/repology/pull/400

[2018-05-21 17:54] radare commented on #10144
ping

[2018-05-22 01:32] roboman2444 commented on #10127
I'm experiencing the same issues... On Arch's glibc 2.27

[2018-05-22 03:32] XVilka commented on #10144
Cannot reproduce on the latest master.

[2018-05-22 03:32] #10144 closed

[2018-05-22 03:41] XVilka commented on #10122
Please send a PR to radare2-regressions.

[2018-05-22 04:10] XVilka opened #10151 "Android build errors"
MIPS ( http://ci.rada.re/job/radare2-android-mips/lastBuild/consoleFull )
[code]
MIPS64 ( http://ci.rada.re/job/radare2-android-mips64/lastBuild/consoleFull )
[code]

AARCH64 ( http://ci.rada.re/job/radare2-android-aarch64/lastBuild/consoleFull )
[code]

[2018-05-22 04:21] XVilka opened #10152 "LGTM alerts"
See the report at https://lgtm.com/projects/radare/radare2/alerts/?mode=list.

Moreover, this thing can be integrated in master builds and pull requests: see https://lgtm.com/help/lgtm/using-lgtm-analysis-continuous-integration

[2018-05-22 06:33] xarkes commented on #10152
Page not found for me.

[2018-05-22 06:40] ilovezfs opened #10154 "2.6.0 build failure with "Undefined symbols" errors"
[code]
Full log: https://gist.github.com/ilovezfs/ddb423ddc9aaa4f160f083c49b95e8b5

Same build failure doesn't happen with 2.5.0.

Tested on macOS 10.11, 10.12, and 10.13.

https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/24418/

[2018-05-22 07:29] radare commented on #10127
There are 0 heap allocations when you stop in the main. Thats obvious and not an issue. Use dcu insteas of the boring db+dc.

Btw this was working for me yesterday in archlinux for x86-64. Didnt tried qith other distros

[2018-05-22 07:35] #4361 closed

[2018-05-22 07:37] radare commented on #10151
I only have problems with mips ans from what i read is because the gcc shipped in the ndk is too old

[2018-05-22 07:40] radare commented on #10154
R2 builds fine without ssl. In fact ssl is not used or required in r2 . Can you just drop the dependency in brew? Will evaluate if we can kill this dependency or enforce ssl builds in jwnkins to avoid this to happen

[2018-05-22 07:40] radare commented on #10154
Can you submit a patch fixing this?

[2018-05-22 07:42] radare commented on #10152
Can we get those tips as “one per day in the irc”? Maybe this will make people contribute or discuss them

[2018-05-22 07:47] XVilka commented on #10151
@radare so should I just update an NDK for those?

[2018-05-22 07:50] XVilka commented on #10127
@radare note, I stopped at "free", so there should be at least one allocation before, but the layout is still same.

[2018-05-22 08:59] roboman2444 commented on #10127
I also stopped after running multiple malloc's and a few free calls.

Note, DMH has a different result when attaching to an already running process...
`
[0x00000000]> dmh

  Malloc chunk @ 0x559280775000 [corrupted]
   size: 0xffffffffffffffff
   fd: 0xffffffffffffffff, bk: 0xffffffffffffffff

  Top chunk @ 0xffffffffffffffff - [brk_start: 0x559280775000, brk_end: 0x559280796000]
`

But when start

[2018-05-22 14:20] david-geiger opened #10159 "latest 2.6.0 release fails to build"
Hi,

I tried on Mageia Cauldron to build latest 2.6.0 release but this one fails to build, see:

	.libr/*.o \
	../shlr/gdb/lib/libgdbr.a ../shlr/java/libr_java.a \
	../shlr/zip/librz.a \
	../shlr/libr_shlr.a ../shlr/ar/libr_ar.a ../shlr/grub/libgrubfs.a ../shlr/windbg/libr_windbg.a ../shlr/qnx/lib/libqnxr.a ../shlr/bochs/lib/libbochs.a -lcapstone
gcc: error: ../shlr/zip/librz.a: No such file or di

[2018-05-22 14:38] david-geiger commented on #10159
Note that I already apply a patch from #10153

http://svnweb.mageia.org/packages/cauldron/radare2/current/SOURCES/radare2-2.6.0-fix-for-build-with-syscapstone.patch?view=markup&pathrev=1231516

And also this patch is needed to link with system libmagic:

http://svnweb.mageia.org/packages/cauldron/radare2/current/SOURCES/0001-fix-FTBFS-for-as-needed.patch?view=markup&pathrev=1230585

[2018-05-22 16:23] mcd1992 opened #10161 "Dietline missing support for word boundaries"
In a default readline setup (emacs mode) any shortcuts that affect words will treat anything non-alphanumeric as the boundary. In radare2's dietline it treats whitespace as the only word boundary.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)

[2018-05-22 20:03] thestr4ng3r opened #10162 "agj prints graphs for every single function when run at offset 0"
### Expected behavior
agj should behave at offset 0 like everywhere else: print the graph of a function at the current offset if there is any.

### Actual behavior
The graph for every single existing function is printed in the json array, which can take forever for a higher number of functions.

### Steps to reproduce the behavior
- Open /bin/ls for example
- `aaa`
- `agj@0` or even worse: `agJ@0`

[2018-05-23 01:37] XVilka commented on #10161
@cyanpencil could you please add it to the list?

[2018-05-23 01:40] mcd1992 commented on #10161
I was working on implementing it and figured out my initial thoughts aren't fully correct. The dietline has support for readline style word separation but there seems to be a bug somewhere thats causing it to only break on whitespace. Planning to dig into it more tomorrow.

[2018-05-23 03:53] XVilka commented on #9617
Same as in Vim maybe?

[2018-05-23 04:03] XVilka commented on #8215
@Vane11ope you might want to check this one too.

[2018-05-23 04:04] XVilka commented on #2487
It is done already I guess?

[2018-05-23 06:56] cyanpencil commented on #10161
@mcd1992 thanks for trying to fix this yourself!
But keep us updated, if you can't find the time to work on this let me know and I'll look into it.

[2018-05-23 06:58] XVilka commented on #3417
Were there any updates on z/OS support?

[2018-05-23 07:00] XVilka opened #10165 "Compact references in graph mode"
Some nodes can get enormous amount of code or data references.
We need to think on more compact form of representing them, folding or cutting them, or even just hiding them.
![screenshot_20180523_145559](https://user-images.githubusercontent.com/203261/40408408-00767cac-5e9a-11e8-80b1-810d50329b53.png)

[2018-05-23 07:33] radare commented on #3417
We dont even have binaries in r2r

[2018-05-23 07:35] radare commented on #2487
Yes

[2018-05-23 07:35] radare commented on #9617
Yep

[2018-05-23 07:48] radare commented on #10162
Theres already an issue for this and its been addressed by @cyanpencil

[2018-05-23 10:52] thestr4ng3r commented on #10162
I see, then this is a duplicate of https://github.com/radare/radare2/issues/9716

[2018-05-23 10:52] #10162 closed

[2018-05-23 11:39] cyanpencil commented on #9716
I'm already working on a fix, I'll send a pr before tonight...
Sorry for the delay in fixing this, but it wasn't  a problem relative only to agj, but to many other ag commands and ended up rewriting most of how ag* commands are handled

[2018-05-23 11:49] BlackYoup commented on #9021
Hello,

I keep getting this error too (even on local linux only). It works fine indeed when you connect the way with you show in your screenshots @radare but not when you connect through `=+ rap://127.0.0.1:1234//bin/ls`.

You can see the following asciinema which demonstrates the problem: https://asciinema.org/a/DvWGSAoxTokc2mNHRI0kb4Jyr

To resume:
- connecting using `=+ rap://127.0.0.1:1234//bi

[2018-05-23 12:01] thestr4ng3r commented on #9716
@cyanpencil Great, thanks for the info!

[2018-05-23 15:27] Toizi opened #10170 "pdf and pdfj differ"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu amd64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (m

[2018-05-23 15:36] apollo3691 opened #10171 "2.7.0 update fails with __x86.get_pc_thunk.bx errors on debian 7 x86"
Hi,

When update reaches:
CC_AR libr_core.a

I get the following errors:
ar: creating libr_core.a
`__x86.get_pc_thunk.bx' referenced in section `.text' of .libr/libr_anal.o: defined in discarded section `.text.__x86.get_pc_thunk.bx[__x86.get_pc_thunk.bx]' of .libr/libr_anal.o
(several lines of this type of error)

Logs
[stderr.log](https://github.com/radare/radare2/files/2031741/stderr.log)
[stdou

[2018-05-23 19:04] Toizi commented on #10170
Some additional info:
The function contains alignment bytes directly between regular opcodes. This most likely leads to the discrepancy between reported size and linear size.
The `ops` from `pdfj` contain the correct `fcn_last` address of `0x4005d1`, so the size is being detected correctly. From a quick look at the `pdfj` code, it seems like it tries to use the linear/contiguous size (calling `tmp

[2018-05-23 19:09] takuter opened #10172 "Unable to Properly Install R2"
I am running Ubunutu 16.04 32-bit and trying to install R2 but it keeps running into an error before it finishes

Full Log here: https://pastebin.com/e8Xw6KPs

This is the erroror problems it gives at the end
Makefile:88: recipe for target 'libr.so' failed
Makefile: 100: recipe for target 'libr.so' failed
Makefile:28: recipe for target 'all' failed
Makefile:55: recipe for target 'all' failed

I ha

[2018-05-23 20:33] mainframed commented on #3417
What do you mean by binaries? I can easily provide those.

[2018-05-23 20:49] radare commented on #3417
Some binaries that can be commited in the regressions repo (shareable) to be used for tests and improve r2

[2018-05-23 21:23] quim0 opened #10174 "Inconsistent o and oj, when using aeim"
[code]

When using aeim, it gets some memory for the stack. This is listed as expected under the `o` command, but not under `oj`.

[code]

When manually opening another file with `o`, it's listed in `oj` too as expected:
[code]

[2018-05-23 22:15] #8385 closed

[2018-05-23 22:15] #9716 closed

[2018-05-23 23:14] radare commented on #10172
Can anyone reproduce?

[2018-05-23 23:16] radare commented on #10170
Can you do a PR?

[2018-05-23 23:26] radare commented on #10151
Yes and using -fuse-ld=gold in ldflags in theory

[2018-05-24 04:47] XVilka commented on #10170
Please also make a regression test for this one.

[2018-05-24 05:02] XVilka opened #10176 "Motorola/NXP MCORE architecture support"
RISC-based architecture, common in low power devices.

https://www.nxp.com/docs/en/reference-manual/MCOREABISM.pdf

[2018-05-24 07:34] XVilka commented on #5221
So, closing it?

[2018-05-24 07:34] XVilka commented on #4913
What to do with this one?

[2018-05-24 07:35] XVilka commented on #3777
Updated, we are now very close. Would be even closer in a couple releases.

[2018-05-24 08:11] radare commented on #5221
Yes

[2018-05-24 08:11] radare commented on #4913
Imho kill

[2018-05-24 10:17] radare commented on #10165
this should be fixed, the idea of maxrefs is to show them like they are by default unless there are more than X in there, in that case then just show the counter

[2018-05-24 10:18] #9962 closed

[2018-05-24 10:20] #10129 closed

[2018-05-24 15:15] oliveriandrea opened #10179 "axj broken"
After the update to 2.7 teh command 'axj' is broken: it should replies
 {"0x1111":0x2222, ....}
but replies
 {0x1111:0x2222, ....} without the ""
so r2pipe raises an error....

It's seems the same https://github.com/radare/radare2/pull/6072 but it was corrected...

[2018-05-24 15:21] oliveriandrea commented on #10179
It's seems the same https://github.com/radare/radare2/pull/6072 but it was corrected...

[2018-05-24 20:05] cyanpencil commented on #10165
@XVilka do you think that fixing `asm.maxrefs` would solve this issue? (see screenshots above)

[2018-05-24 21:34] MaxXor opened #10182 "Failed to write instruction (ELF 32bit ARM shared library)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86_64
| File format of the file you reverse (mandatory)      | ELF 32-bit LSB shared object ARM, EABI5 version 1 (SYSV), dynamically linked
| Architecture/bits of the

[2018-05-24 23:12] radare commented on #10182
Did you opened qith -w? Did you tried with rasm2?

[2018-05-25 09:03] Xarlan opened #10183 "Unable to find filedescriptor"
OS: Linux Mint 18.3 x64
Linux rd 4.13.0-32-generic #35~16.04.1-Ubuntu SMP Thu Jan 25 10:13:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

Radare2:
radare2 2.6.0-git 18142 @ linux-x86-64 git.2.5.0-229-g731b067
commit: 731b067f25aa0dbc5553165bf952288c0ce7a0b1 build: 2018-05-11__11:59:21

File formart:
ELF64

GCC:
gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.9)

I run the debugger:
$r2 -A -d

[2018-05-25 15:15] mcd1992 commented on #10161
So digging into it more, its kinda complicated whats doing what.

In vanilla readline the `rl_unix_word_rubout` function (ctrl+w) is operating based on whitespace only `#define whitespace(c) (((c) == ' ') || ((c) == '\t'))
` which is what is being done in dietline but only for space and not tab.

The meta+f|b cases in dietline aren't using the word detection functions defined and instead are just

[2018-05-25 16:21] MaxXor commented on #10182
It's also not working when I start radare2 with `r2 -A -w <file>`... I'm sure it worked before with ARM 32bit files as I've did it before. Never used rasm2.

[2018-05-25 17:26] gh0stZerO opened #10186 "The output of 'rax2 -s' is not wrapped"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Darwin Kernel Version 17.5.0: Fri Apr 13 19:32:32 PDT 2018; root:xnu-4570.51.2~1/RELEASE_X86_64 x86_64
| r2 -v full output, **not truncated** (mandatory)     | radare2 2.6.0 0 @ d

[2018-05-25 21:35] riverar commented on #5446
It's a RTTI type descriptor name, that describes the class (`.?AV[. . .]`) `Microsoft::WRL::Module<1,Platform::Details::InProcModule>`

[2018-05-26 09:37] radare commented on #10186
Not sure if expected. That will add a newline at the end so the output will not match the input data

[2018-05-26 09:39] radare commented on #10161
Readline is 20k LOC. Its quite huge. And its not available on all systems. R2 only depends on libc,thats why i implemented my own tiny implementation. Feel free to fix it and submit a pr

[2018-05-26 09:42] #9078 closed

[2018-05-26 09:46] mcd1992 commented on #10161
Makes sense. I started to fix up dietline to have the more readline-like word actions, I'll create a PR for that and later on see if there's a decent way to get readline working with just a libc requirement.

[2018-05-26 09:49] #10154 closed

[2018-05-26 10:29] radare commented on #10161
There was a —with-readline working at some point

[2018-05-26 11:32] sivaramaaa commented on #10170
@Toizi  add the test under `new/db/cmd/cmd_pd` , so that we can close this issue !

[2018-05-26 14:36] datafanatic commented on #10172
I'm getting the same problem.
System information: Linux debian 4.9.0-6-686 #1 SMP Debian 4.9.88-1+deb9u1 (2018-05-07) i686 GNU/Linux
GCC:  Using built-in specs. gcc version 6.3.0 20170516 (Debian 6.3.0-18+deb9u1)
Make: GNU Make 4.1

Running in a VM with Virtual Box.

I'm currently with a very bad connection so I can't seem to be able to post the logs to pastebin, but it's pretty much the same as t

[2018-05-26 15:26] codingHahn opened #10193 "Issue Compiling on i686"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                                            | Answers
|-----------

[2018-05-26 16:57] MaxXor opened #10195 "x86 Instruction not correctly assembled"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86_64
| File format of the file you reverse (mandatory)      | ELF 32-bit LSB pie executable Intel 80386, version 1 (SYSV), dynamically linked,
| Architecture/bits of

[2018-05-26 16:58] MaxXor commented on #10182
I've tested patching files with files of other architectures and it seems to be working. Only ARM seems to be affected.

[2018-05-26 17:05] radare commented on #10193
`__x86.get_pc_thunk.bx' referenced in section `.text' of .libr/libr_syscall.o: defined in discarded section `.text.__x86.get_pc_thunk.bx[__x86.get_pc_thunk.bx]' of .libr/libr_syscall.o

[2018-05-26 19:47] Siguza opened #10197 "arm64: offset of tbz and tbnz instructions wrongly disassembled if negative"
Not sure if this issue is part of #8087, please excuse if it is.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.12.6 (16G1314), x86_64h
| File format of the file you reverse (mandatory)      | Raw
| Architecture/bits

[2018-05-26 21:42] radare commented on #10197
This is a bug in capstone. Not r2

[2018-05-27 03:21] #5221 closed

[2018-05-27 04:05] riverar opened #10198 "Can only paste 1 character of text into radare2 on Windows"
### Environment

Windows 10 x64 17134.48
radare2 2.7.0-git 18226 @ windows-x86-32 git.2.6.0-41-g7965a7737
commit: 7965a77373f72f532db8ad2673a6ee1c3a0397e7 build: Fri 05/25/2018__13:59:23.19

### Expected behavior

Full paste support, supported by the console host

### Actual behavior

All data is lost, except for the last character in the buffer.

### Steps to reproduce the behavior
- `radare2 -`

[2018-05-27 11:03] MaxXor commented on #10182
I've digged a little bit into this issue and I found out that the writing of ARM instructions is working in radare version 2.3.0.

[2018-05-27 22:28] wavvs opened #10207 "Rabin2 invalid json output on Windows"
### Actual behavior
For example, run `rabin2 -e -j <binary>`
Output:
`}{"entries":[{"vaddr":4201661,"paddr":4285,"baddr":4194304,"laddr":0,"haddr":264,"type":"program"}]`
Works fine on Linux.

Don't know much internals, but maybe problem is here, r_cons_print instead printf?
https://github.com/radare/radare2/blob/bb4f61580e75778a9b5999127163dcd9d5d2e7b3/binr/rabin2/rabin2.c#L1113

[2018-05-28 05:17] XVilka commented on #10198
This bug looks familiar.

[2018-05-28 05:19] XVilka commented on #10198
Looks like https://github.com/radare/radare2/issues/3936 strikes again.

[2018-05-28 05:34] XVilka opened #10209 "types test fail"
[code]
@sivaramaaa please make Travis happy again.

[2018-05-28 05:35] sivaramaaa commented on #10186
Yup , if u want a newline u can  use `rax2 -s 4142430a`

If u have any particular use-case share with us and we shall think, for now closing the issue!

[2018-05-28 05:35] #10186 closed

[2018-05-28 06:03] sivaramaaa commented on #10209
@XVilka that was weird , just now i have re-run the tarvis and the regeression with `type` disappeared

Now only 1 test is failing
[code]

[2018-05-28 06:03] #10209 closed

[2018-05-28 07:08] sivaramaaa commented on #10182
@MaxXor , @radare i think i found the issue here !

#### With Analysis (not working)
[code]

#### Without analysis (Works fine)

[code]

[2018-05-28 09:01] radare commented on #10198
Use ^C and ^V. that works fine. the problem is when you use the mouse beacuse that sends events to r2 and results in that missbehaviour. @skuater may have a look at this

[2018-05-28 09:10] radare commented on #10207
yes this is a problem, not sure if there are more, im closing this until you provide a way to reproduce or you confirm the fix. Next time you can try sending a pullreq, it's just pressing the pencil button in github, no need to touch the console or use git at all

[2018-05-28 09:10] #10207 closed

[2018-05-28 09:30] fcasal opened #10210 "drj returns 2 json lists for 6502 and AVR"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                             | 16.04.1 Ubuntu x86_64
| File format of the file you reverse      |  -
| Architecture/bits of the file            | -
| r2 -v          | radare2 2.7.0-git 18389 @ linux-x86-64 git.2.6.0-55-g3d

[2018-05-28 12:34] BlackYoup opened #10211 "Remote rap debug: ptrace PEEKTEXT doesn't have the right address"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Exherbo x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            |  x86 64
| r2 -v full output, **not truncated**

[2018-05-28 19:10] wavvs opened #10214 "Paths with parentheses can't be accepted in LDFLAGS"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10

### Actual behavior
I tried build with sys/msvc.bat.
For example
![image](https://user-images.githubusercontent.com/30052411/40626694-dd3fdb98-62c2-11e8-9549-13a05cda1

[2018-05-29 03:13] XVilka commented on #10214
For CRLF - just use conversion when perform checkout.

[2018-05-29 04:10] XVilka commented on #7560
Is this still reproducible?

[2018-05-29 04:49] XVilka commented on #10161
@mcd1992 @cyanpencil see also this https://github.com/radare/radare2/issues/9269

[2018-05-29 07:13] XVilka commented on #10165
Yes. I do think so.

[2018-05-29 08:35] cyanpencil commented on #10165
Ok, I'll work on this then

[2018-05-29 11:30] radare commented on #10214
FUCK WINDOWS, parenthesis in the paths is even more evil than spaces

[2018-05-29 12:51] XVilka commented on #10193
It is because of the mixing PIC and nonPIC code afaik.

[2018-05-29 13:09] radare commented on #10193
Nope its not. The problem is another and its a bug in the toolchains not us. I can do hacks to solve this but is better to just drop the visbilitity bit for the platforms that are failing

[2018-05-29 19:44] astuder commented on #9242
@courk You mention memory-mapped registers in your recent PIC commit. Is that similar to the 8051 where general purpose registers can also be written/read via data memory addresses?

If so, what are your thoughts for a possible solution to support memory mapped registers in r2?

[2018-05-29 21:42] #10170 closed

[2018-05-29 22:26] #10210 closed

[2018-05-30 08:28] redmed666 opened #10223 "[JSON output] Incorrect output from pdfj"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | MacOS
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (mandatory

[2018-05-30 08:44] redmed666 commented on #10223
Found the issue:
in libr/core/cmd_print.c, one condition is messed up in line 4267:
[code]
It should not be !first but first.
I will prepare a commit for that :)

[2018-05-30 08:51] redmed666 commented on #10223
Pull request created: #10225

[2018-05-30 09:13] redmed666 commented on #10223
Another incorrect output in ops:
`"bytes":"e995850000","family":"cpu","type":"jmp","type_num":1,"type2_num":0,"jump":6022720},,,{"offset":6022720,`
As you can see, there are 3 times ',' but should have only 1

[2018-05-30 09:14] radare commented on #10223
can you send another pr fixing this and add tests cases to avoid this thing ot happen again?

[2018-05-30 09:31] radare commented on #10197
can you try again with latest r2 from master and add a test in r2r repo?

[2018-05-30 09:39] radare commented on #10211
i guess that’s related to the siol change

[2018-05-30 10:19] radare commented on #10211
try with -e io.va=0

[2018-05-30 10:20] radare commented on #10211
cc @jroimartin

[2018-05-30 10:47] radare commented on #10171
should be good in master now because we are no longer building the merged libr by default (use --with-libr to reproduce the same issue)

[2018-05-30 10:47] #10171 closed

[2018-05-30 11:01] radare commented on #10172
should be fixed in master. merged libr is not build by default now

[2018-05-30 11:04] radare commented on #10127
enotime for this now, if you can spent some time invesgating and improving the heap analysis i’ll appreciate

[2018-05-30 11:12] radare commented on #8511
https://twitter.com/radareorg/status/1001783229362274305 <https://twitter.com/radareorg/status/1001783229362274305>

[2018-05-30 12:00] fcasal opened #10227 "Add backtrace information to dbtj"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                             | 16.04.1 Ubuntu x86_64
| File format of the file you reverse      |  -
| Architecture/bits of the file            | -
| r2 -v          | radare2 2.7.0-git 18421 @ linux-x86-64 git.2.6.0-80-gd5

[2018-05-30 13:03] radare commented on #10227
Thats easy to solve. Can you try to send a pr implementing it?

Thanks

[2018-05-30 13:46] radare commented on #10193
should be building now because merged lib is not built by default

[2018-05-30 13:46] #10193 closed

[2018-05-30 14:18] s0i37 opened #10228 "map raw files with offset/size"
Hello.
I dont know, may be I do something wrong, but I didnt find anything way to open file with offset like this:
`o memdump.dmp 0xBASE 0xOFFSET 0xSIZE`

Problem.
I have physical memory dump. I make dump virtual memory of some process through **volatility**.
But volatility dont support minidump/corefile format and dump all pages one by one. Also **volatility** takes memmap - virtual pages index f

[2018-05-30 14:24] radare commented on #10228
open != map

use om to map anything anywhere, open the file with ‘o’ and no arguments, and then create the maps on top of that fd

[2018-05-30 16:13] s0i37 commented on #10228
[code]
Its seems work! Great. Thank you.

[2018-05-30 16:13] #10228 closed

[2018-05-30 16:43] radare commented on #8512
The problem is that the analysis don't have a way to detect if the read operation fails because it reads 000000 or ffffffs, even if the hexdump shows 0000s. So if you objdump with 0xff instead of 0x00 you will get same behaviour in both files.

this is a bug in the way io.0xff eval var is managed.

[2018-05-30 17:56] wavvs commented on #10214
@radare ping? How to build with linux then? Readme in repo outdated :(

[2018-05-30 18:47] astuder commented on #9242
Implementing the logic in esil, if that's what you propose, will be convoluted and slow.

My latest thought is, that I could hook mem_read/write in anal, i.e. read/write from/to registers when certain memory locations are accessed by esil. Unlike reg_read/write that should be compatible with the ar commands. But if a user uses p/w commands, memory content may be different from register value seen

[2018-05-30 19:03] astuder commented on #9242
Looking into the code, using anal cb.hook_mem_read/write: Some commands, e.g. aea and debug breakpoints, overwrite these without restoring or chaining existing hooks. I.e. arch dependent hooking will break. An option may be to hook into cb.mem_read/write instead.

[2018-05-30 19:28] radare commented on #10214
Did you tried with meson?

[2018-05-30 19:29] radare commented on #9242
Yep

[2018-05-30 20:13] #10227 closed

[2018-05-30 20:14] #10223 closed

[2018-05-30 21:43] wavvs commented on #10214
@radare Another sh*t happens
![image](https://user-images.githubusercontent.com/30052411/40749119-a3f5e3fa-646b-11e8-9aea-075d4fa89fd9.png)

[2018-05-31 00:37] #10161 closed

[2018-05-31 08:50] radare commented on #10214
dont you have sys/time.h in your machine?

ive pushed a fix for this , please git pull and confirm the fix

[2018-05-31 16:41] XVilka commented on #7335
@cyanpencil check also this.

[2018-05-31 17:05] #4622 closed

[2018-06-01 04:10] XVilka commented on #6828
@radare I think @sivaramaaa better to focus completely on types tasks, there are so many and they are so tricky, moving to the undefined milestone.

[2018-06-01 05:17] roboman2444 commented on #7820
I think this bug still exists... Breakpoints do not work for me on arm32 with radare2.
Tested on alarm 2.6 release and also latest git (as of a few hours ago). Same behavior on both.

GDB correctly does breakpoints, however.

I am doing some fiddling with libr/debug/p/debug_native.c, so if you want me to make any changes to test it, let me know.

Hardware breakpoints aren't a viable workaround, be

[2018-06-01 08:33] Maijin commented on #7820
Please reopen an issue and use the template provided. this is unrelated to the first issue

[2018-06-01 08:33] #7820 closed

[2018-06-01 10:48] radare commented on #10159
@david-geiger HELLO?

[2018-06-01 10:49] radare commented on #10159
nvm its merged, closing until someone else complains again

[2018-06-01 10:49] #10159 closed

[2018-06-01 13:18] MikeColeGuru opened #10238 "m68k instruction differs between screens"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04.1 / amd64 / 64 bits <br>running under VMWare Player 12.5.9 build-7535481
| File format of the file you reverse (mandatory)      | reconstructed
| Architecture/bits of

[2018-06-01 13:21] radare commented on #10238
cant reproduce

[2018-06-01 14:38] wavvs commented on #10214
don't have sys/time on win 10, tried with mingw, but now cfgmgr32.h missing, aaaa

[2018-06-01 15:15] radare commented on #10214
how are you building r2 exactly? we have different machines building every single commit of r2 on windows without any issue

[2018-06-01 16:43] xzcvczx commented on #9111
just fyi this appears to be being caused by lang_lua.dylib

[2018-06-01 19:22] MikeColeGuru commented on #10238
Let me know how else I can help.

[2018-06-01 19:44] roboman2444 opened #10241 "Radare2 arm32 breakpoints/stepping not working."
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | arch linux arm 32
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | arm32
| r2 -v full output, **not truncated*

[2018-06-02 03:01] MikeColeGuru commented on #10238
I decided to try it on another system outside of a VM

radare2 2.7.0-git 18274 @ linux-x86-64 git.2.6.0-112-gf4973a9
commit: f4973a93d410705652205a6863cdcd46a154cc81 build: 2018-06-01__21:52:58

At first, it didn't show any function at all

![function-not-showing](https://user-images.githubusercontent.com/19918682/40869813-1a920490-65e7-11e8-9ee9-611e4834bc68.png)

Then I resized the window and th

[2018-06-02 06:10] MikeColeGuru commented on #10238
I'm sure this is correct either.  Look at the jump and fail.

<pre>
[0x00062330]> ao
address: 0x62330
opcode: bhi.w 0x623a8
mnemonic: bhi.w
prefix: 0
id: 13
bytes: 62000076
val: 0x00000000
ptr: 0x00000000
refptr: 0
size: 4
type: cjmp
jump: 0x00000000
fail: 0x00062332
stack: null
cond: al
family: cpu
stackop: null
</pre>

[2018-06-02 07:03] radare commented on #9111
Wtf? Is brew compiling lua?

[2018-06-02 07:10] xzcvczx commented on #9111
yes brew builds lua as its not part of base macOS, and homebrew includes radare2-extras and radare2-bindings and so builds the lua plugin

[2018-06-02 07:18] radare commented on #10238
Thats wrong. But i dont know if the bug is in r2 or capstone. Do you want to try to fix this bug?

[2018-06-02 07:59] radare commented on #9457
this `;-- rip` thing is a flag, if it anoys you use asm.flags.inbytes=true. but i wouldnt filter that

[2018-06-02 07:59] #9457 closed

[2018-06-02 09:02] radare commented on #10197
HELLO?

[2018-06-02 09:04] radare opened #10242 "0 length files result in errors"
<img width="365" alt="screen shot 2018-06-02 at 11 03 44" src="https://user-images.githubusercontent.com/917142/40872792-ad8b58e2-6654-11e8-9d16-03db6387e45d.png">

thats a siol regression.

[2018-06-02 09:05] radare commented on #10197
so the bug is not fixed yet. capstone fault
[code]

[2018-06-02 09:06] radare commented on #10242
also in order to write here properly we have to set io.va=0 by hand. maybe it will be good to set this to 0 in some situations.

[2018-06-02 21:55] Siguza commented on #10197
Done, hope I put the files in appropriate enough directories.

[2018-06-02 23:14] #10165 closed

[2018-06-03 00:51] MikeColeGuru commented on #10238
I will certainly look into it further and see if I can find the bug

On Sat, Jun 2, 2018 at 2:18 AM, radare <notifications@github.com> wrote:

[2018-06-03 15:08] s0i37 opened #10248 "structs fields detect"
Hello.
I have simple program with simple structure like this:
[code]
After link this struct r2 dont recognize it fields:

![r2_wtf](https://user-images.githubusercontent.com/22872513/40887952-b7920064-6769-11e8-8738-89a222b9f9bf.png)

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
|

[2018-06-03 16:10] radare commented on #10248
this is not done yet. that’s why its not working. @sivaranamaa is working on this in the GSoC

[2018-06-03 16:14] radare commented on #10197
as i said, this is a bug in capstone. so let's continue the discussion in there https://github.com/aquynh/capstone/issues/1144

[2018-06-03 16:45] radare commented on #10238
the bug was in r2. i have fixed some of those isntructions but we need to do the same for all the other instructions.

https://github.com/radare/radare2/commit/1f903954a650b117546c1b4b3dd1340bdd131308

if you want to contribute on this, check out this commit and send a PR improving the analysis information for the rest of m68k instructions

Thanks!

[2018-06-03 16:45] #10238 closed

[2018-06-03 16:48] #10241 closed

[2018-06-03 20:40] condret commented on #9617
atm the clipboard is a malloc:// and a RIOMap if I remember correctly

[2018-06-03 22:37] radare opened #10253 "Compact xrefs"
[code]

in this example we can find that there are 2 function xrefs, one of them with 3 xrefs.

we can compact the xrefs in verbose mode if we use a syntax like this:

[code]

maybe its more readable?

pls discuss

[2018-06-03 22:37] radare commented on #10253
cc @cyanpencil

[2018-06-04 04:14] XVilka commented on #10253
Certainly agree,

[2018-06-04 06:46] semarie commented on #7560
@XVilka just tested with:

[code]

the error is still here (with some new others warnings).

[code]

Please note that the program has been executed even if kill has been requested.

Regarding the error, I think the problem is in `r_debug_native_wait()` function. In BSD context, there is no code that change `reason` variable before checking its value (`wtf` printf). As the value is initialized with

[2018-06-04 08:12] cyanpencil commented on #10253
I agree too, I have only some doubts on the ellipsis representation `(..1da0, ..1db0, ..2eaa)`,
because I'm very used to select an address with the mouse by double clicking and pasting, maybe I would prefer like this `(0x100001da0, 0x100001db0, 0x1000012eaa)`,
but those are only my two cents...

[2018-06-04 08:21] XVilka commented on #10253
I think if we do `; CALL XREF from sym.func.0x100001b44 (+44, +56, +b0, +ea)` it may save us more space. But it is harder to calculate for a human... So I am not sure.

[2018-06-04 09:51] radare commented on #7160
For ARM64

[code]

[2018-06-04 10:17] radare commented on #7160
for MIPS

[code]

basically all instructions not specifying 'u' as unsigned are signed.

[2018-06-04 10:54] wargio commented on #7160
ppc
[code]

[2018-06-04 12:29] xarkes commented on #7967
Note that it would be perfect if each command has a public API.
On Cutter we mostly use `r_core_cmd` and R_API functions. It appears that the R_API are less reliable than the commands themselves (which sucks).

[2018-06-04 12:59] s0i37 commented on #10248
Ok. Good luck)

[2018-06-04 13:50] #7160 closed

[2018-06-04 14:34] radare commented on #7160
please send a PR for r2 implementing support for this. this has been merged

thanks!!

[2018-06-04 14:37] radare commented on #10253
yes i also prefer full address

[2018-06-04 14:39] radare commented on #9617
i was also thinking in having named yanks this weekend

[2018-06-04 18:28] #10174 closed

[2018-06-04 18:42] felberj opened #10259 "Failing to do CFG recovery of bf interpreter"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS HighSierra arm 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86_64
| r2 -v full output, **not tru

[2018-06-04 19:46] geeknik opened #10260 "heap-buffer-overflow (READ of size 1) in r_read_le16 [libr/include/r_endian.h:143]"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian x64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | Unknown
| r2 -v full output, **not truncated** (ma

[2018-06-04 19:51] geeknik opened #10261 "heap-buffer-overflow (WRITE of size 4) in r_utf_block_list [libr/util/utf8.c:678]"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian x64
| File format of the file you reverse (mandatory)      | data
| Architecture/bits of the file (mandatory)            | Unknown
| r2 -v full output, **not truncated** (m

[2018-06-04 19:52] M3rcurio opened #10262 "Can't use rarun2 on Fedora"
Hi,
i've recently updated my version of radare2 but now when i try to use rarun2 it doesn't work. it always prints `Cannot open '/proc/pid/maps': No such file or directory`.
radare has the same behavior with every binary.
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits

[2018-06-04 21:56] radare commented on #10262
Do this proc path exists at all? It seems more like a problem with selinux than r2 itself

Missing capability?

[2018-06-04 22:42] M3rcurio commented on #10262
@radare
Nope, it doesn't exist. I've tried  the same thing on an ubuntu virtual machine and it didn't work too.
Anyway debug works perfectly if i don't try to load rr2 files.

[2018-06-05 03:55] XVilka commented on #10262
No, it is unrelated. Just checked on my installation (Fedora 28) - issue still the same. There is no "/proc" entry for the created process. E.g. it shows created process with PID 65043, but there is only a process with PID 65042 (radare2 itself).

[2018-06-05 03:58] XVilka commented on #10259
Please create a pull request to https://github.com/radare/radare2-regressions with a testcase.

[2018-06-05 07:49] radare commented on #10262
Ah ok so its just trying to trace rarun2’s pid instead of the execve’d one

[2018-06-05 09:33] radare opened #10263 "Rename ?d into aod"
get opcode descriptions is something unrelated to help or evaluating numbers, it doesnt makes much sense to have it under ?d imho. its better as a subcommand of `ao`

[2018-06-05 09:49] Maijin commented on #10263
Will need to check this change is applied in cutter too @xarkes

[2018-06-05 12:15] datafanatic commented on #10172
Apologies about the delayed response. I just cloned the repository and attempted to install it, and it works fine. Thanks a lot.

[2018-06-05 13:45] Maijin commented on #10152
ping1

[2018-06-05 13:53] MiroslavR opened #10266 "Broken r_core.pc causes oddities (crashes, wrong analysis) in R2 library user programs"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian testing x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | ELF, x86/64
| r2 -v full output, **not

[2018-06-05 14:01] #10260 closed

[2018-06-05 14:01] #10261 closed

[2018-06-05 14:29] radare commented on #10266
that only happens if you build r2 —with-syscapstone, my r_core.pc doesnt have that -lcapstone. so imho the problem is in your side, not in r2

[2018-06-05 14:29] #10172 closed

[2018-06-05 14:34] radare commented on #10261
the thing is that those bins only crash if you run iz, so it doesnt crashes with aaa or so, which is what we do for the bins/fuzz

[2018-06-05 14:57] MiroslavR commented on #10266
I didn't specify `—with-syscapstone`, unless the build script did it automatically. However, I see capstone being built and `ldd` on R2 libraries shows they do not depend on system capstone.

[2018-06-06 05:25] abatchy17 opened #10269 "AVR: Error messages on load (Invalid command)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04.3 LTS x64
| File format of the file you reverse (mandatory)      | AVR binary
| Architecture/bits of the file (mandatory)            | AVR
| r2 -v full output, **not

[2018-06-06 08:33] sivaramaaa commented on #10248
@s0i37 hey hi sorry for the delayed replay , recently i have fixed few issues in struct offset propagation , so hopefully it should work for u now

Steps to be taken :
[code]
It would be great if u have a look at it and give me feedback , if there is any issue i could re-open the issue and fix it :)

[2018-06-06 09:46] mojtabamarashee opened #10270 "Patch Keyboard Input"
Hi
Im Pathching a binary file that listen to keyboard input in background, I want when the key "a" is pressed it is repalced with "e".
How I can find read keyboard routine in assembly?

[2018-06-06 10:01] Maijin commented on #10270
That is not a radare2 issue.

[2018-06-06 10:01] #10270 closed

[2018-06-06 10:05] mojtabamarashee commented on #10270
So How I can do it?
Could you please help?

[2018-06-06 10:24] radare commented on #10269
its fixed in my pr, waiting for travis

[2018-06-06 11:12] #10269 closed

[2018-06-06 11:54] R3vrseShell opened #10273 "Fail to open SWF file"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 9.4 (x64)
| File format of the file you reverse (mandatory)      | swf
| Architecture/bits of the file (mandatory)            | x86/32, x86/64
| r2 -v full output, **not tr

[2018-06-06 13:09] Maijin commented on #10270
No. You have to search/learn/work/study etc. You can ask on dedicated Reverse Engineering chats/forums but not in here.

[2018-06-06 14:04] radare opened #10275 "Jmptbl graph glitches"
to reproduce, `e anal.jmptbl=true` and open any bin that contains a jmp rax :P if the amount of outbbs is bigger than the width of the node it looks ugly as hell

<img width="952" alt="screen shot 2018-06-04 at 23 38 44" src="https://user-images.githubusercontent.com/917142/41042922-233c581a-69a3-11e8-97ba-5d7c16c9c509.png">

[2018-06-06 14:05] radare opened #10276 "Cleaner jump lines"
Large graphs with jmptables result on some really (cool to see) but wrong edges layout.
<img width="1609" alt="screen shot 2018-06-04 at 23 43 41" src="https://user-images.githubusercontent.com/917142/41043082-6836914c-69a3-11e8-8ddb-5b3ae34d3b3a.png">

[2018-06-06 14:07] radare opened #10277 "Some edges have a 1 space glitch indent issue"
In the graph press '-' to make the garph smaller and then press 'E' to change the edges layout

<img width="1623" alt="screen shot 2018-06-04 at 23 45 15" src="https://user-images.githubusercontent.com/917142/41043191-aa132a26-69a3-11e8-8c8f-ae2bbdac5819.png">

[2018-06-06 14:14] radare commented on #10273
where's the file to reproduce this? :P

[2018-06-06 15:08] #9847 closed

[2018-06-06 16:19] s0i37 commented on #10248
Very good! But... I notice some strange behavior:
if I make:
[code]
All right.
But if I make (leave function scope during linking type):
[code]
then fields of a type will not recognize.

[2018-06-06 16:36] sivaramaaa commented on #10248
Thanks for the feedback , can u share the binary file here , so that i can take a look at it !

[2018-06-06 19:19] MKuijpers opened #10282 "radiff2 -g not working as expected after upgrading from 2.6.0 1 to 2.6.0 9"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10, x64 64 bit
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not trunc

[2018-06-06 20:04] mug896 opened #10283 "cmd.vprompt setting in visual mode does not work properly when debug program"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 LTS x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86_64
| r2 -v full output, **not tru

[2018-06-06 20:04] sivaramaaa commented on #10248
@s0i37 actually `tl` command  only propagates  struct fields at function present at current offset
If u want to detect struct field outside function , then u have to use `taa` command :
[code]

[2018-06-07 07:05] felberj commented on #10259
Done https://github.com/radare/radare2-regressions/pull/1339

[2018-06-07 07:45] radare commented on #10259
aab works fine. This issue appears in just “aa”

[2018-06-07 08:51] felberj commented on #10259
Are you sure? If I modify the test to do "aab" at the beginning, the output stays the same.

[2018-06-07 08:59] #10112 closed

[2018-06-07 09:01] Maijin commented on #10152
all the issues are in the javascript/html of the radare2-webui embedded in the source or some of the sparsed .py; it doesn't work with the C files so it's useless to add that in the PR 👎

[2018-06-07 09:09] radare commented on #10259
Just do aab. Nothing more. Maybe i checked a different issue in the cfg. But aa was producing bad results indeed. Whwres this bin from? It have some strange constructions

[2018-06-07 09:10] XVilka commented on #10152
@Maijin no, somehow it skips the C files in the report for radare2, on the other hand it took them from radare2 while checking cutter. So there are still useful warnings. Probably need some better setup.

[2018-06-07 09:13] felberj commented on #10259
The binary is from asictf 2018 and contains a brainfuck interpreter. Just to be sure: You ran the regression test and it passes?

[2018-06-07 09:19] felberj commented on #10259
Update: You are right, it works. I must have been fixed in the last few days. I will look at it again!

[2018-06-07 09:34] felberj commented on #10259
Update2: If I do
[code]
it works

if I do

[code]

it does not work

[2018-06-07 09:47] felberj commented on #10259
Ok, so I found the next problem:

[code]
It does not handle the `jmp rax`. Should I update the regression test? If so, how (what is the expected output?)?
<img width="251" alt="image" src="https://user-images.githubusercontent.com/6639926/41092113-6b96ba24-6a48-11e8-994e-976d01cf954e.png">

[2018-06-07 12:05] VivekBhatt007 commented on #10263
@radare, I would like to start contributing with this issue. Can you please explain about that changes and where should i start looking into the code?

[2018-06-07 12:10] xarkes commented on #10263
The idea is to rename the command `?d`. Currently the command is in `libr/core/cmd_help.c:366`. It would be great to delete `?d` command and move that to `ao` which is in `libr/core/cmd_anal.c`

[2018-06-07 15:37] #10122 closed

[2018-06-07 16:31] sivaramaaa commented on #10248
Yup looks like an issue, hence re-opening this , i would take a look at it !

[2018-06-07 17:21] VivekBhatt007 commented on #10263
I have added new switch case in ao with 'd' option and moved code from libr/core/cmd_help.c:366 to libr/core/cmd_anal.c file. Please let me know if there is any test case to verify this changes.

[2018-06-07 17:51] Maijin commented on #10263
Do a Pull Request, you will see which tests are failing

[2018-06-07 22:18] radare commented on #10282
if its fixed in git then we can close this issue. a new release will happen at the end of this month

[2018-06-07 22:42] radare opened #10290 "r2 -H vars should start by R2_"
currently we have:
[code]

* [x] R2_PREFIX
* [x] MAGICPATH
* [ ] PREFIX
* [ ] INCDIR
* [ ] LIBDIR
* [ ] LIBEXT
* [x] RCONFIGHOME
* [x] RDATAHOME
* [x] RCACHEHOME
* [x] LIBR_PLUGINS
* [x] USER_PLUGINS
* [x] USER_ZIGNS

[2018-06-07 22:43] radare commented on #10290
this is gonna be picky for radare2-extras and radare2-pm, but will pay off

[2018-06-07 22:43] radare commented on #10290
this is the place to discuss better names for all those. post your proposals

[2018-06-07 23:06] radare commented on #10259
it should do if you enable anal.jmptbl=true

[2018-06-08 05:57] sivaramaaa commented on #2691
@radare , i think this issue can be closed now , we have `fcn->maxstack` now !

[2018-06-08 13:10] fumfel opened #10293 "Use-after-free in r_anal_bb_free()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 x64
| File format of the file you reverse (mandatory)      | Java Class
| Architecture/bits of the file (mandatory)            | N/A
| r2 -v full output, **not trunca

[2018-06-08 13:13] fumfel opened #10294 "Heap out of bounds read in _6502_op()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 x64
| File format of the file you reverse (mandatory)      | iNES ROM dump
| Architecture/bits of the file (mandatory)            | NES
| r2 -v full output, **not tru

[2018-06-08 13:15] fumfel opened #10295 "Heap out of bounds read in r_read_le16()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 x64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86
| r2 -v full output, **not truncated** (

[2018-06-08 13:17] fumfel opened #10296 "Heap out of bounds read in java_switch_op()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 x64
| File format of the file you reverse (mandatory)      | Java Class
| Architecture/bits of the file (mandatory)            | N/A
| r2 -v full output, **not trunca

[2018-06-08 18:32] Nicceboy commented on #10042
I have exactly same problem. Testing it with very simple program, which takes one argument. Basically copies argument to variable, and prints it:
[code]
This happens as well, if I put arguments after ood.

[2018-06-08 18:55] felberj commented on #10259
It does not, I just tried it:
[code]

[2018-06-08 21:43] radare commented on #10259
why did you run aaa after aab? i said to just run aab, nothing more , anyway it’s a bug and must be fixed, also which compiler generated this bin or where it is coming from ? it have some strange constructions

[2018-06-08 21:49] felberj commented on #10259
Because I have never used radare2 and have no clue what I am doing. Currently waiting for an r2 developer that is coming to my place to manually analyze this program.

It was a challenge from  ASIS CTF Quals 2018: https://ctftime.org/task/6033

[2018-06-09 02:36] sivaramaaa commented on #2691
Ping @radare , @Maijin

[2018-06-09 03:06] xambroz opened #10300 "radare2 2.7.0-git has linking problmes with option --with-sysmagic"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 28
| File format of the file you reverse (mandatory)      | packaging of radare
| Architecture/bits of the file (mandatory)            | x86
| r2 -v full output, **not trun

[2018-06-09 06:45] #2691 closed

[2018-06-09 08:13] sivaramaaa commented on #10248
Hey hi , i have a few changes and submitted a PR , u could test this once it's merged

[code]

Steps to be taken :

[code]
The important thing here is using ahr command ,

`ahr return-value @ func-call-addr`

 since emulating a call instruction is atm not possible u have to set return value of that function call manually as a hint so that we could use it to porpagate struct offset properly !

[2018-06-09 10:20] Maijin commented on #10263
i see only one test that needs to be fixed "cmd_help: ?vi-8"

[2018-06-09 12:27] Tanjmaxalb opened #10303 "rasm2 incorrect assembly"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                             | ArchLinux 4.16.12-1 x86-64
| File format of the file you reverse      | machine instruction
| Architecture/bits of the file            | x86-32
| rasm2 -v full output     | rasm2 2.6.0 0 @ li

[2018-06-09 12:51] felberj commented on #10303
I think this is a capstone issue:

[code]

[2018-06-09 13:09] Tanjmaxalb commented on #10303
Problem is in assembling, but not disassembling, it is full true.

[2018-06-09 15:54] PaoloMonti42 commented on #10303
In commit #10177 I basically rewrote the assembling logic for`mov [reg], imm`, it should be easy enough to reuse the same code for this fix

[2018-06-09 18:03] radare commented on #10303
Capatone doesnt assemble

[2018-06-09 18:04] Maijin commented on #10303
http://radare.today/posts/radare2-capstone/

[2018-06-09 18:59] Tanjmaxalb commented on #10303
Keystone haven't problem with assemble:
[code]
The only exception is 0x67 prefix that overrides address

[2018-06-09 20:59] Maijin commented on #10303
Greetings,

x86.nz (x86 handmade assembler) is one of the many x86 assemblers available in radare2 and is updated frequently.  **Please add a test case so we can fix x86.nz in https://github.com/radare/radare2-regressions/tree/master/new/db/asm** (See https://github.com/radare/radare2-regressions/blob/master/new/README.md) You can do so with github web editor without even cloning the repo.

You ca

[2018-06-10 01:17] #10248 closed

[2018-06-10 02:18] sivaramaaa commented on #10248
Ping @s0i37 , My PR has been merged u can try the above steps to solve the issue !

[2018-06-10 02:27] sivaramaaa commented on #8766
This is currently implemented now, We have `R_ANAL_OP_MASK_VAL`  which fills the `op->dst/src` information, it's supported for most of the major archs

Things left to do :

* Add this support for rest of the arch
* Maybe add this for instruction like arithmetic and other non-memory referencing instruction filling op->imm etc

Closing this issue now, if needed pls open a new issue with updated info

[2018-06-10 02:42] sivaramaaa opened #10307 "pf.fmt dosen't properly support nested struct"
### Steps to reproduce:

[code]
Weirdly `pf.bar.` works !

[2018-06-10 02:43] sivaramaaa commented on #10307
I will look into it whenever i have time :)

[2018-06-10 02:52] radare commented on #10282
ping

[2018-06-10 02:53] radare commented on #10266
can you do a PR to fix this?

[2018-06-10 02:53] #10263 closed

[2018-06-10 03:00] #10242 closed

[2018-06-10 10:18] Maijin commented on #10282
Closing until new answers.

[2018-06-10 10:18] #10282 closed

[2018-06-10 16:55] mcd1992 opened #10313 "Rarun2 regression in cad927a"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux, x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncate

[2018-06-10 18:50] #10303 closed

[2018-06-10 19:18] MiroslavR commented on #10266
If you're referring to me, I'm not experienced enough to know how to fix it properly. What comes to mind, however:
 * Using `--atleast-version=4.0` for pkg-config [here](https://github.com/radare/radare2/blob/7083c3385ae08d7a118a88927574ffe792e652ce/configure#L438) and respecting `USE_R2_CAPSTONE` just like the build script does [here](https://github.com/radare/radare2/blob/d46164497790599bc50b384

[2018-06-10 19:48] mcd1992 commented on #10313
Interesting it looks like the removal of `#include "r_userconf.h"` in `libr/include/r_types.h` is the cause.

[2018-06-11 01:03] #10294 closed

[2018-06-11 01:12] #10295 closed

[2018-06-11 01:15] #10296 closed

[2018-06-11 01:29] #10293 closed

[2018-06-11 01:29] #10313 closed

[2018-06-11 01:36] #10300 closed

[2018-06-11 01:37] #10179 closed

[2018-06-11 01:39] radare commented on #10182
cant repro on mach0-x86-64

[2018-06-11 01:41] radare commented on #10182
in fact i cant repro on elf-arm binary either, can you share this bin? or try again?

[2018-06-11 01:41] #10039 closed

[2018-06-11 03:59] XVilka commented on #4756
@sivaramaaa not a requirement, just please think if you can incorporate this in the current types model.

[2018-06-11 04:53] sivaramaaa commented on #4756
Yeah sure :)

[2018-06-11 07:28] radare commented on #10266
R2 should build against the ancient cs3 without any problem. But default builds should use our own fork of it

[2018-06-11 09:07] MaxXor commented on #10182
I've tested again with latest commit https://github.com/radare/radare2/commit/e3d11b989c869f8f0c9ba89b1e2292dc0a6491b8 and now when I run `r2 -A -w arm-bin` I get a segmentation fault. Will send you the binary later via mail.

[2018-06-11 09:39] radare commented on #10182
wtf? which version of r2 do you have? do u have more than one r2 installed? see r2 -V

[2018-06-11 10:04] MaxXor commented on #10182
I tested with radare2 2.6.0 release build as you can read in the first post of this issue and now tried again by compiling it from the latest commit where I get the segmentation fault at the end of the analysis.

[2018-06-11 10:06] radare commented on #10182
test against git, we dont fix bugs in releases

[2018-06-11 10:07] radare commented on #10182
can you share the binary?

[2018-06-11 10:09] MaxXor commented on #10182
Sent you the library on the mail mentioned on your github profile.

[2018-06-11 10:12] radare commented on #10182
works perfectly fine, the problem is in your installation, run `make purge` to remove all installations or messy files from old r2 setups and then `sys/install.sh`

[2018-06-11 10:12] #10182 closed

[2018-06-11 12:23] MaxXor commented on #10182
You are right, just tested the latest commit in a clean environment & it's working again.

[2018-06-11 17:24] mcd1992 opened #10323 "Improvements to dm. and related commands"
Currently `dm.` prints just the name of the map. I feel it would be more useful to show everything that you would normally see under just `dm`. Is there any known backwards-compatibility issues that might arise from making `dm.` output more than just the name? Also I feel like `dm` would be more useful with a header row explaining what each column is representing. Any known issues with these ideas

[2018-06-11 17:50] mcd1992 commented on #9606
Commenting so I can find this later and give implementation a shot after getting a little more familiar with the codebase.

[2018-06-11 18:20] mcd1992 opened #10324 "A debug print / log level system for output"
Right now it seems that eprintf is the only method we have for outputting to the console that isn't intended for 'proper' program use. So when developing something or debugging something I'm seeing eprintf being used for debug output and then commented out or removed before commit.

I think a syslog style logging system would be useful for debugging/development. Could add a extra argument flag to

[2018-06-11 22:20] #10277 closed

[2018-06-11 22:20] #10275 closed

[2018-06-11 22:34] radare commented on #10324
there’s r_log_ api in r_util. , but its not used anywhere, and can be improved in several ways. glib logging system is not bad either. but a bit overengineerd imho. having the ability to change the loglevel from an eval var seems like a good idea.

[2018-06-11 22:37] radare commented on #10323
agree, we must change that, but probably not that verbose. we have `dmq`already, but there’s no `dmq.`

i like to be able to use backticks to seek to the begining of a map for example s `dm.` ; so we may probably have to type s `dm.~[0]` instead or just s `dmq.`

the header is anoying because it breaks the ability to be reused by other commands.

[2018-06-12 01:43] mcd1992 commented on #10323
I guess you have custom flags for the filepaths? For me the `s dm.` (is it not possible to escape backticks in github markdown?) tries to seek to the map name/filepath as a flag which isn't defined by any default analyses I can see. Now I do see that `s dmm.~[0]` works how you're intending but targets the address and not a flag. `s dmm.~[1]` would work like `s dm.` currently does if you're using c

[2018-06-12 04:04] XVilka commented on #10137
I wrote an email to OpenBSD maintainer but no response. If you have other means to ping them - please do.

[2018-06-12 05:17] sivaramaaa commented on #10307
Oh my bad , `pf` works fine :), i missed to assign a variable name here :

[code]

[2018-06-12 05:17] #10307 closed

[2018-06-12 06:45] fumfel commented on #10295
Problem still exists in `radare2 2.7.0-git 18371 @ linux-x86-64 git.2.6.0-194-gf08603c commit: f08603c6c7a7674e30ecfb44b7c5e6fd18408791 build: 2018-06-12__08:22:08`.

ASAN log wasn't changed, steps to reproduce too.

Crashing test case: https://github.com/radare/radare2-regressions/pull/1349

[2018-06-12 10:58] radare commented on #10323
well those custom flags for the filepaths is done with .dm*

i dont want to overengineer this with dmv or dmmf because you have already dm* and we should have dm.* and dmq. dont worry about breaking old scripts, if changes make sense go for it.

also, most scripts people use are for static analysis, not when debugging

do you want to make those changes in a PR?

thanks!

[2018-06-12 11:17] radare opened #10328 "Support utf8 dots for better "ascii" art"
This can be used in:

* [ ] the diagonal edges in the graphs (VVE)
* [ ] pie charts (?ep command)
* [ ] Smaller QR Codes (pq command)

[2018-06-12 11:18] radare opened #10329 "Wrong text crop for utf8"
<img width="635" alt="screen shot 2018-06-12 at 13 12 26" src="https://user-images.githubusercontent.com/917142/41287449-05bd7bd0-6e43-11e8-8a6a-7faae5ce84ee.png">
<img width="1262" alt="screen shot 2018-06-12 at 13 12 35" src="https://user-images.githubusercontent.com/917142/41287450-05da323e-6e43-11e8-800e-6eaa36edff17.png">
<img width="594" alt="screen shot 2018-06-12 at 13 13 18" src="https://

[2018-06-12 13:14] mcd1992 commented on #10323
Yea I'll be making PR for this request once I get it all figured out and done. Just trying to avoid breaking anyone's workspace with changes beforehand.

Thanks!

[2018-06-13 02:40] XVilka commented on #10328
Please note it should be a separate config option, since not all computers/setups have Braille fonts installed.

[2018-06-13 04:48] oblitum opened #10333 "Help to add working Windows 10 (April 2018 Update) WinDbg profile"
I'm on ArchLinux and just recently started playing with radare2, I'm following the radare2's book and wished to test [the tutorial on WinDbg](https://radare.gitbooks.io/radare2book/content/debugger/windbg.html). I have a virtual machine with latest Windows 10 which I access virt-manager and configured the serial port like the following:

![01 22 00_13-06-18](https://user-images.githubusercontent.c

[2018-06-13 04:50] oblitum commented on #10333
cc @xarkes

[2018-06-13 08:32] oblitum commented on #10333
The serial configuration seems fine `sudo virsh domxml-to-native qemu-argv --xml /etc/libvirt/qemu/frankenstein.xml` gives:

[code]

[2018-06-13 10:55] #10329 closed

[2018-06-13 14:43] radare opened #10338 "Fix gcc8 warnings"
http://xvilka.me/radare2/gcc8_radare2.builderrors.log

[2018-06-13 15:08] radare commented on #10262
still? not fixed? can you try again?

[2018-06-13 15:10] #9599 closed

[2018-06-13 15:11] radare commented on #10197
i would close the issue here because it's a capstone bug, not in r2

[2018-06-13 15:11] #10197 closed

[2018-06-13 15:42] radare commented on #10042
pls try again

[2018-06-13 15:42] radare commented on #3611
please @XVilka add a test or expected output here.

[2018-06-13 16:35] radare commented on #10151
im not building the merged lib anymore by default. so android builds may work. also the NDK is pure crap and contains old versions, so i would wait for when i need the merged lib to do something on android, and try again with a newer linker

[2018-06-13 16:35] #10151 closed

[2018-06-13 17:05] Vane11ope opened #10339 "V! glitches when scroll horizontally"
how to reproduce the bug

1. download this ctf binary "serial" https://github.com/ctfs/write-ups-2016/tree/master/su-ctf-2016/reverse/serial-150
2. sys/install.sh radare
3. r2 -dNAA ./serial
4. V!
5. push "l" ten times so that the main panel scrolls to left
6. glitch

tput cols shows 272 and tput lines shows 79

[2018-06-13 17:35] sivaramaaa commented on #10032
I have started some initial work for supporting union type, though there are some issues which IMHO is better we shall discuss here!

The problem with union is all members share same memory location and it's not accessed using immediate value, so it's difficult to recover or distinguish each one of them, so maybe after type inference task is done we may use that info to solve this issue .

[2018-06-13 20:35] M3rcurio commented on #10262
It seems fixed to me.

[2018-06-13 20:38] #10262 closed

[2018-06-13 21:17] mcd1992 opened #10343 "Implement a documentation generator and improved comments (doxygen/sphinx)"
Currently only the r2bindings code has documentation generation, using vapigen/vala. Implementing a comment standard for future code and slowly adding in comments to older code with something like doxygen/sphinx would allow for dynamic documentation to be generated. This would make it much easier for new developers to understand the existing code and could even help power-developers debug issues a

[2018-06-13 21:30] radare commented on #10343
make vdoc does that

[2018-06-13 21:58] radare commented on #10339
its the same bug about the crop() bug with utf8

do this happens without utf8?

[2018-06-13 22:01] mcd1992 opened #10344 "Redesign command registering / processing and output modes"
Right now the command system works fine but starts to get cluttered with switch statements and extra help lines when adding in output modifiers or selectors like `*` or `.` It would probably be beneficial to come up with a long term plan for an 'abstract' command registration utility.

I haven't looked too deep into this yet but from what I've seen so-far is all base commands are registered in r_c

[2018-06-13 22:53] nsajko opened #10345 "CODE XREF from ADDRESS, where address is data, not code"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Archlinux amd64 intel x86-64 64
| File format of the file you reverse (mandatory)      | memory dump
| Architecture/bits of the file (mandatory)            | msp430/16
| r2 -v ful

[2018-06-14 01:30] mcd1992 commented on #10343
It does in the bindings repo, I'm referring to the r2 base code. Right now there's a lot of global struct/classes and functions in libr that aren't well commented or documented.

I don't expect everyone to go back and start documenting old code but would like to see a *recommendation* to use [Doxygen style comments](https://www.stack.nl/~dimitri/doxygen/manual/docblocks.html) in new code if possib

[2018-06-14 02:15] XVilka commented on #10344
Duplicate of https://github.com/radare/radare2/issues/7967

[2018-06-14 04:23] Vane11ope commented on #10339
@radare the issue has been introduced since the commit 83e85ee07f1e0e900a3b15a805c254b1bf801fc5
and it still has been existing 14/06/2018 13:22 JST the latest master. turning off the utf-8 flag does not mean anything for this, it seems.

[2018-06-14 06:55] Vane11ope commented on #10339
woo no sorry panels seems turning on utf8 internally, not depending on the config and seems its always on.

i turned it off and everything works fine. i will fix panels to take the config anyway.

[2018-06-14 08:01] Nicceboy commented on #10042
Still not working properly. It looks like that it has something do with file path of current directory. At least identically same program works in another directory, and in another directory, it wont. Could it be something else than directory?

**Working path**
[code]
**NOT working path:**
[code]
**Source code of program:**
[code]

[2018-06-14 08:23] radare commented on #10042
Omg why do u have paths with spaces??!? WHY

[2018-06-14 08:23] Tanjmaxalb opened #10346 "rasm2 incorrect assembly of instructions (in MR format)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                             | ArchLinux 4.16.12-1 x86-64
| File format of the file you reverse      | machine instruction
| Architecture/bits of the file            | x86-32
| r2 -v full output     | rasm2 2.6.0 0 @ linux

[2018-06-14 08:38] Nicceboy commented on #10042
Note, that both paths have spaces, only another one is working. But yes, in this case I had to use spaces in Github repo where that path leads.
Looks like problem is there, I removed spaces and it works in both paths.

[2018-06-14 08:40] radare commented on #10339
yeah, so it makes sense to me, and imho its a dupe of the other bug i reported

[2018-06-14 09:16] Vane11ope commented on #10339
thought so too but cyanpencil thought he'd fixed the bug i found already, so he asked me the situation in detail and had me issue this and now we are. hope the fix for the other bug would fix this too.

[2018-06-14 09:20] radare commented on #10042
I think there are other issues to track the same bug. Cc @maijin

[2018-06-14 10:53] XVilka commented on #10113
Fixed now, thanks!

[2018-06-14 10:53] #10113 closed

[2018-06-14 10:55] XVilka commented on #9617
@radare like Vim registers?

[2018-06-14 11:17] radare commented on #9617
Yes

[2018-06-14 13:59] #10346 closed

[2018-06-14 15:46] #10339 closed

[2018-06-15 08:43] sivaramaaa opened #10356 "Handling function pointer inside struct"
### Problem
The `ts` and `tl` command could not handle function pointer inside struct

[code]

The **tcc** parses the function pointer properly :

[code]
So it's just a problem in parsing it

### Solution

While parsing it we can neglect all return type and params and extract the name of the function pointer and make it like this `void *function_pointer`

[2018-06-15 09:10] XVilka commented on #10356
But why not to support it from our side? It can be helpful for indirect calls, will affect things like `afta`.

[2018-06-15 09:11] XVilka commented on #10356
For printing purposes with `pf` we can ignore that and print just a pointer.

[2018-06-15 09:30] xarkes commented on #10333
Hi, sorry for the delay, it's been a while I didn't try the windbg backend.
Last time I tried it, it was not fully working.
As for as I remember, `dc` had some issues even with an older profile.
First things first:
```sudo r2 -a x86 -b 64 -D windbg windbg:///tmp/frankenstein.pipe```
I think you can just:
```r2 -a x86 -b 64 -d windbg:///tmp/frankenstein.pipe```

Now if this still doesn't work you w

[2018-06-15 09:32] radare commented on #10333
yesterday there was someone in #radare using r2 with windbg and everything was working fine. with win7 iirc

[2018-06-15 13:08] #10323 closed

[2018-06-15 13:50] mcd1992 commented on #10324
Dug through the glib one and it looks like it would require some dependencies other than libc. I did find two potentially usable libraries though. I'll give both a try at some point and see which works best, on paper zf_log seems to fit radare's use-case the best.

#### Possible Libraries
* [zf_log](https://github.com/wonder-mice/zf_log) MIT License
    * Debug logging is reduced to no-op in relea

[2018-06-15 15:50] sivaramaaa commented on #8766
I see a few overlapped and few dupe fields between `RAnalValue` and `RAnalOP`

[code]

[code]

IMHO it would be nice if we discuss and merge few things to avoid dupes and save some memory :)

[2018-06-15 16:44] oblitum commented on #10333
@xarkes without `sudo` won't work b/c virt-manager starts VM with high/custom privileges and my users doesn't have access to the pipe. I will try without `-D windbg`, but I guess it will be as far as I will go if it doesn't work.

[2018-06-15 17:02] radare commented on #10333
If u dont have access to the pipe dont expect anythkng to work.

Yes the -d windbg:// is the same as -D windfbg:/: windbg::/

[2018-06-15 17:08] oblitum commented on #10333
I have access as `root`, so I supposed it was fine running `r2` with `sudo` for this test before looking how to lower privileges with virt-manager. It should be fine shouldn't? (if I run without `sudo` I just get the expected `cannot access [...]`, an unrelated privilege issue).

If with `-D windbg` makes no difference, so I'm already at the final stage.

[2018-06-15 17:31] radare commented on #10333
Yes its the same. So ... btw did u updated r2 from git? If i understand the prblem is just memory reading. This was fixed yesterday night by me because somone reported it on irc

[2018-06-15 17:36] oblitum commented on #10333
No, my test was with the last 2.6.0 release [from ArchLinux repos, with their patches](https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/radare2), plus my profile patch.

I'll try from git repos to see if it helps.

[2018-06-16 01:15] JohnPeng47 commented on #9055
Is there no one working on this? If not would like to give it a shot, looking to get a deeper understanding of PE/.NET formats. Is there current support for the MSIL disassembly in radare?

[2018-06-16 01:15] oblitum commented on #10333
It seems to be working from git \o/. I still have to figure out how I should skip traps correctly to let the machine continue running, the trap skipping part should be a bit different than what's on the book. Another thing is that I figure out how to debug without `sudo`, I just need to add my user to the `kvm` user group to have write permission to the serial pipe.

Once I get able to actually de

[2018-06-16 02:35] oblitum commented on #10333
[I'm trying to follow the book](https://radare.gitbooks.io/radare2book/content/debugger/windbg.html) at the point it says I should jump over  `int3` twice and the VM would  get interactive again but I was unable to make that happen, the first jump and `dc` seems to go fine:

![](https://i.imgur.com/fTvt2Su.png)

But afterwards `dc` just keeps running a single instruction and the machine doesn't ge

[2018-06-16 03:12] JohnPeng47 commented on #9055
Is essentially what you are asking highlighted in the following GSOC proposal?

    1st term: Refactoring RBin to support FAT and multibin
    2nd term: Support of FAT binaries (Win32 native + .NET) with new RBin, basic one
    Final: Also should be working with listing symbols from both parts of the binary (e.g. .NET and native code), as well as other metadata. And show this metadata in rabin2 ou

[2018-06-16 06:51] xarkes commented on #10333
Yep exactly what I meant in my first answer here (`dc` not working as expected).
I don't know if it is a logic issue in r2 debuger or if it is because of windbg plugin...
Needs to be fixed.

[2018-06-16 07:08] XVilka opened #10361 "Config option to specify include directories for types parsing"
For example for `to` command.

[2018-06-16 07:17] radare commented on #9055
See in extras. I moved the msil disasm plugin there. But no fatpe support yet and disasm plugin is broken

[2018-06-16 07:49] radare commented on #10361
e dir.types does that iirc

[2018-06-16 08:00] sivaramaaa commented on #10361
Yup u are right !

[code]

[2018-06-16 08:00] #10361 closed

[2018-06-16 08:41] XVilka commented on #10361
@sivaraama please add this in the types r2book chapter when you will update
it.

On Sat, Jun 16, 2018, 4:00 PM sivaramaaa <notifications@github.com> wrote:

[2018-06-16 08:43] sivaramaaa commented on #10361
Yup sure , doing it today :+1:

[2018-06-16 13:47] oblitum commented on #10333
@xarkes ah ok, thanks for the info. Well, that's sad :-(

[2018-06-16 15:30] #10343 closed

[2018-06-16 18:41] JohnPeng47 commented on #9055
When you say fatpe, are you referring to mixed assemblies that contain native and managed code?

[2018-06-17 10:22] radare commented on #9055
Yes, PE binaris have multiple sub binaries inside. One of 1x86-16 for DOS, a 32bit for windows, and msil for .net. The idea is that pe must work like fatmach0 and be able to select which sub bin to open

[2018-06-17 23:14] bannsec opened #10377 "r2lang import error"
I've been trying to write a plugin for r2 and want to register it as a core call in the same way that the pimp util does. However, when i call "import r2lang", i get the following:

[code]

I have also tried starting it via `r2 -i ./radare2.py` and get the same error both ways.

I'm using the latest Docker built image of r2.

[2018-06-18 01:53] bannsec opened #10378 "rap not adding text comments as expected"
I'm attempting to use rap protocol to add comments to a remote r2 server. The setup is:

- r2 ./binary
- =&:12345

Then in a second window (in python):
[code]

Oddly enough, when I do a `r2.cmd('T')` in the python window, it shows the text. But when i just do `T` in the r2 window, it does not show the text.

I'd like to be able to send text/other remote commands to the r2 server that update that r

[2018-06-18 02:00] bannsec opened #10379 "Disable http messages"
When using the http server, i keep getting these messages and i can't figure out how to turn them off.

[code]

I know these are the commands I'm doing. However, in this case, I'd like to simply not show them.

[2018-06-18 02:22] bannsec opened #10380 "CC @ not working"
Trying to use `CC @ address` to only show comments at the given address. However, it does not appear to be working.

[code]

[2018-06-18 02:25] bannsec opened #10381 "r2 http server not shutting down gracefully"
When using the http server, back-grounded, it does not shut down gracefully.

[code]

Basically, just turned on the http server in the background and quit. However, that last `q` simply hangs and i have to force kill r2 every time. The web server should gracefully shutdown when quitting radare.

[2018-06-18 03:28] bannsec opened #10382 "r2 http random port bind"
When binding listening ports in C, you're allowed to specify 0 for the port and the OS will pick an available port for you. When attempting that with `=h& 0`, it appears radare will use the default port.

It would be nice if i could specify either 0 or maybe a negative port number and radare will pass through to the OS the random port selection.

[2018-06-18 03:46] bannsec commented on #7410
Playing with this, i'm noticing some issues on the logging. For instance, the `:CC` that you implemented actually recorded the updated CC line, which would not accurately reflect the changes.

Example:
[code]

Running that CC line would actually duplicate the comment. I would expect something like:

[code]

As the actual text log. Also, I'm not seeing any logging for things like `f`, `afn`, `afvn`

[2018-06-18 03:51] bannsec opened #10383 "VVV not functioning correctly"
Looks like either the help documentation is wrong, or `VVV` is not behaving correctly.

From the `?` screen:
[code]

However, when I do `VVV` i just drop into the `VV` mode instead.

[2018-06-18 08:40] yasong opened #10385 "Support for Cisco router' IOS?"
Is it possible to support for loading and analyzing the Cisco Routers' IOS in PPC and MIPS platform?

[2018-06-18 10:16] Goyo2600 opened #10387 "r2 crash after using 'dmh' command."
| OS/arch/bits                              | Ubuntu amd 64, Ubuntu x86 64
| Architecture/bits of the file         | x86/64 etc.
| r2 -v full output                         | radare2 2.7.0-git 18568 @ linux-x86-64 git.2.6.0-278-gc1cdc7a
commit: c1cdc7a8b6e221d716de72aa54d2e4fa21765b59 build: 2018-06-18__11:19:20

Load binary in debug mode for testing 'dmh' command: (I want to see heap content)

go

[2018-06-18 11:14] thestr4ng3r commented on #10387
Right now I can't reproduce it. Can you share the binary?

[2018-06-18 13:22] radare commented on #10387
try building with asan.

[2018-06-18 13:31] #10385 closed

[2018-06-18 13:31] radare commented on #10385
yes

[2018-06-18 13:35] radare commented on #10383
the help message is wrong. the behaviour changed. a callgraph is a very expensive operation for some binaries. which makes it a problem for some users, so i preferred to drop it

[2018-06-18 13:36] radare commented on #10380
use CC. , CC shows everything, if the help message says otherwise then the help message is wrong

[2018-06-18 13:36] radare commented on #10379
e http.log=false

[2018-06-18 13:40] radare commented on #10378
See this python implementation which ive been waiting for a month to get the PR done..

https://github.com/jroimartin/pyrebox/commits/dev-r2-rap <https://github.com/jroimartin/pyrebox/commits/dev-r2-rap>

/cc @jroimartin

[2018-06-18 14:04] radare commented on #10378
nvm that pr is unrelated.

the problem is that if you do r2pipe.open("rap://...") you are creating a new instance of r2 that talks to the remote instance instead of making a direct connection to the remote rap server in python. if you see ps you'll see 2 instances.

therefor.. when you do "T..." that runs in the local instance under r2pipe, instead of the remote. you can hack it by using the =!= o

[2018-06-18 14:27] Usibre opened #10389 "Bytes field in disas json when opcode invalid"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Currently when an opcode is seen as invalid (in pdj), the json returned has no useful information apart from the size and the offset. However, I'd like to argue that the raw byte(s) are very useful as you can overcome some parts manually when this error occurs. Hen

[2018-06-18 14:36] radare commented on #10389
you can just send a PR fixing this, its only 1 line of code

[2018-06-18 15:15] bannsec commented on #10379
Gotcha. I had tried that after starting the http server before. Looks like it has to be set prior to starting the server.

[2018-06-18 15:15] #10379 closed

[2018-06-18 15:16] bannsec commented on #10378
Yeah, i switched to using the http server for now, so this isn't a huge deal for me. Would still probably be a good thing to implement at some point.

[2018-06-18 15:26] radare commented on #10378
Please open an issue in radare2-pipe repo and close this one

[2018-06-18 15:59] thestr4ng3r commented on #10387
@Goyo2600 ping

[2018-06-18 16:41] Goyo2600 commented on #10387
it's a simple 32bits binary
[prueba2.gz](https://github.com/radare/radare2/files/2112166/prueba2.gz)

[2018-06-18 17:30] radare commented on #10387
aka: just run sys/asan.sh

[2018-06-18 17:44] Goyo2600 commented on #10387
yes, dmh is perfect now with sys/asan.sh
:+1:

[2018-06-18 17:45] radare commented on #10387
asan is way more picky. it should crash more than without asan.. so my guess is that you have built it wrongly somehow, try with sys/install.sh and if its not crashing then close the issue

[2018-06-18 17:55] Goyo2600 commented on #10387
I've built it from a clean installation with sys/install.sh, and dmh is running correctly.

[2018-06-18 17:55] #10387 closed

[2018-06-18 23:50] radare opened #10395 "'R' key not working in aggv"
test

[code]

expect color palete to rotate

[2018-06-19 01:13] bannsec commented on #7410
So, I'm implementing this as a core plugin. Looks like I can directly monitor for any call that i'm interested in anyway, so I probably don't need the `T` logging. I.e.: I can catch new comments being added by simply watching for `CC ` and parsing it out as it's being called. This makes the push side pretty instantaneous. And I currently am multi-processing with the server->client updating so ever

[2018-06-19 03:58] XVilka opened #10397 "Apply colours to visual mode help"
Like for the commands help.

[2018-06-19 03:59] #10383 closed

[2018-06-19 03:59] #10380 closed

[2018-06-19 07:33] radare commented on #7410
Not all the comments are done thru rcorecmd. I was thinking that maybe the sync in r2 should be implemented in frida. So, being able to hook any api without having to add proxy calls to everything in r2.

[2018-06-19 07:51] Goyo2600 opened #10398 "dmh not shows correctly freed chunk"
binary with trhee mallocs: A, B, C
dmh shows chunks correctly
free(B)
dmh shows C chunk freed instead of B

https://asciinema.org/a/Pr165M3Sb0f8LEb5ztd8StufZ

Tested on Ubuntu x64
binary x64
radare2 2.7.0-git 18461 @ linux-x86-64 git.2.6.0-283-g8638b83
commit: 8638b8395fbda29c9441100122de618994c29855 build: 2018-06-18__19:48:58

### Expected behavior
It should show [free] on B chunk
### Actual beh

[2018-06-19 08:07] radare opened #10399 "Panel menus are affected by the solitary syndrome"
<img width="530" alt="screen shot 2018-06-19 at 10 06 58" src="https://user-images.githubusercontent.com/917142/41584823-94ba71f2-73a8-11e8-85a6-3848598016fd.png">

[2018-06-19 08:09] radare opened #10400 "Add an option to bring back the old line start/end origin position"
![image 2018-06-19 10 09 06](https://user-images.githubusercontent.com/917142/41584896-cdcad7de-73a8-11e8-8a93-dfdaf0b3da3d.jpg)

[2018-06-19 08:12] radare opened #10401 "tasks coverities"
[code]

[2018-06-19 08:13] radare commented on #10401
cc @thestr4ng3r

[2018-06-19 08:22] thestr4ng3r commented on #10401
Noted. I'll take a look at it.

[2018-06-19 08:37] radare opened #10402 "Implement breakvars"
The aim for breakvars is to implement function-related memory accesses. Those are mainly required to detect when the stack is accessed, but we may also want to know when some global vars are accessed or code is called.

The breakvars.. or maybe localbreaks / localbreakpoints may work like this:

* when entering a function , it may enable a bunch of other breakpoints, which will be disabled when th

[2018-06-19 09:12] radare opened #10404 "All db commands must accept multiple arguments"
We must be able to set, enable/disable/toggle multiple breakpoints in one line

[2018-06-19 09:15] Maijin commented on #1361
wrong issue number?

[2018-06-19 10:46] xerg0n commented on #9351
I can confirm this bug on ``4.9.105-1-MANJARO``. I installed using sys/install.sh
**Steps to reproduce:**

- ``r2 bmptool`` (produces Unknown DW_FORM 0x06 if thats relevant)
- ``aaa`` / ``aa`` (both produce this error)
- ``Ps test2``
- ``q``uit

try to repen
- ``r2 -p test2``
[code]
Info about the binary:
[code]

```bmptool: ELF 32-bit LSB executable, Intel 80386, version 1 (SYSV), dynamically lin

[2018-06-19 11:48] ITAYC0HEN opened #10408 "The implemented ROR and ROL algorithms are actually Shift (Right | Left)"
Using `woD ror ...` or `woD rol ...` performs [**logical** shifts](https://en.wikipedia.org/wiki/Logical_shift) and not [**circular** shifts](https://en.wikipedia.org/wiki/Circular_shift).
i.e it's not the equivalent of the `ROR` and `ROL` instructions.

The [current implementation](https://github.com/radare/radare2/blob/ef233e2bd5b7eaa5d75fe075881a98b1be0a4c39/libr/crypto/p/crypto_ror.c#L23) is s

[2018-06-19 11:49] fumfel opened #10409 "Heap out of bounds read in r_bin_java_inner_classes_attr_new()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 x64
| File format of the file you reverse (mandatory)      | Compiled Java
| Architecture/bits of the file (mandatory)            | N/A
| r2 -v full output, **not tru

[2018-06-19 12:50] radare commented on #10408
why do you expect this? the help message states it clearly

| wor [val]                     >>= shift right
| wol [val]                     <<= shift left

shift != rotate

i would do worr and woll to implement the <<< and >>> bit rotation.

can u send a PR implementing this? it’s already done for ESIL

[2018-06-19 12:56] ITAYC0HEN commented on #10408
I'm not talking about `wor` and `wol` but on `woD`:

[code]

It is saying "ror" and "rol" which stands for Rotate Right|Left.
Also, the function's name is `ror_crypt` and not "shift_right_crypt" or something...

[2018-06-19 13:34] radare commented on #10408
right this is wrong. can you send a PR fixing libr/crypto/p/crypto_ror.c ?

[2018-06-19 14:07] radare opened #10411 "V!df doesnt refreshes the panels"
so you dont see the function analysis line until you scroll

[2018-06-19 14:07] radare commented on #10411
cc @Vane11ope

[2018-06-19 15:45] radare commented on #10381
thestranger is fixing this now

[2018-06-19 17:49] thestr4ng3r commented on #10401
The second one about `current->dispatch_lock` is explicitly done like this since that is the lock for the condition variable, which must stay locked there.
Is there a way to explicitly ignore errors in coverity?

[2018-06-20 00:32] soez commented on #10398
The function had to detect the double free the distance of a node, if it was greater no. Now if it detects it, although it has a triple while.. :/ the other functions will be changed if this likes pancake (more will be optimized)

https://github.com/radare/radare2/pull/10419

[2018-06-20 00:59] XVilka commented on #10127
@soez while you are on it, can you please check this one too?

[2018-06-20 04:08] Vane11ope commented on #10411
i'm right on it

[2018-06-20 04:30] io12 opened #10420 "Graph view doesn't handle unaligned opcodes"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux / x86_64 / 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not tr

[2018-06-20 04:34] Vane11ope commented on #10411
done https://github.com/radare/radare2/pull/10421

[2018-06-20 06:00] s0i37 commented on #10248
Yes. Sorry for my long time answer. Now it is working well.
Thank you!

[2018-06-20 10:04] radare commented on #10127
they fixed the issue yesterday, can you try again pls?

[2018-06-20 10:09] radare commented on #10401
yes, there are comments for coverity, but we can also ignore them without adding any comment :P

[2018-06-20 10:32] Goyo2600 commented on #10398
Hello soez, I've seen the modified code in linux_heap_glibc.c, but there are something wrong.
As you can see in this simple binary, there are three mallocs, A, B, C (three large continuous chunks), and a free(B).
After free(B), r2  dmh and dmhg commands doesn't show chunk size modified neither [free] text in freed chunk.

[prueba2.gz](https://github.com/radare/radare2/files/2118870/prueba2.gz)

[2018-06-20 11:49] radare opened #10423 "wrong v850 disasm"
[code]

a comma here doesnt seems fine

[2018-06-20 11:50] radare commented on #5517
i dont think this is an issue still

[2018-06-20 11:50] #5517 closed

[2018-06-20 11:51] radare opened #10424 "wrong v850 jarl disasm"
[code]

[2018-06-20 11:52] radare opened #10425 "Implement ESIL for all the V850 instructions"
[code]

[2018-06-20 11:54] radare opened #10426 "JARL is not UJMP :D"
[code]

[2018-06-20 11:56] radare opened #10427 "wrong esil for mov in v850"
[code]

[2018-06-20 11:57] radare commented on #10427
is r0 wired to the ground and always 0 like in mips? because everytime i see r0 in v850 i see zero in the esil.. which should 0, not zero, and anyways, this can be easily identified as a nop

[2018-06-20 12:35] simos opened #10428 "Please publish snap package for radare2"
There is snap package support for radare2 since https://github.com/radare/radare2/pull/10286

Could you please publish a snap package for radare2 on the Snap Store?

How to do this:

1. Visit https://build.snapcraft.io/ and sign in. You can either use your github account (less steps), or create a new account on https://login.ubuntu.com/ and use that to log in.
2. Select the `radare2` repository. T

[2018-06-20 13:19] radare commented on #10428
Wait. Do we have to do this? If we had to be responsible of maintaining thw packages of the 9000 distros that have r2 we would have no time for anything else in r2land. Cant you just take this responsability? Or the one who submitted support for it?

[2018-06-20 14:14] #10409 closed

[2018-06-20 14:42] simos commented on #10428
I am the same person that submitted the support for snap packages.

The particular thing with snap packages, is that the same installation package can be installed in all these distributions (https://docs.snapcraft.io/core/install), times 4 architectures (amd64, i386, armhf, arm64).

I would be really glad to help on this.
For me to use the automated build system, one option is to add me to the Ra

[2018-06-20 15:49] #10400 closed

[2018-06-20 16:17] HongxuChen opened #10432 "Analyzing a wasm file too slow"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2018-06-20 16:58] soez commented on #10127
I think that when the tcache lists are also implemented, everything is fatal ... that's new in glibc 2.27, right? In radare2 is still not implemented ... patience

[2018-06-20 18:20] io12 commented on #10420
Also there is this node in graph view:

[code]

Running `ab` to show the basic block information of the called function:

[code]
Notice that the `addr` field is wrong.

[2018-06-20 22:48] io12 commented on #10420
I investigated further and apparently the problem is with basic block analysis in `core_anal_bbs()`. The function iterates through the opcodes one by one to compute the basic blocks, which doesn't handle the case where there is a jump to the middle of an opcode.

[2018-06-21 04:42] XVilka commented on #10137
https://github.com/radare/radare2/issues/10428

[2018-06-21 07:55] Goyo2600 commented on #10398
Hi, now is perfect without loading libc with LD_PRELOAD, but using LD_PRELOAD r2 crash after dmh

Warning: glibc library with symbol main_arena could not be found. Is libc6-dbg installed?
*** Error in `r2': free(): invalid pointer: 0x00007f5cec737c68 ***
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc-64.so.6(+0x777e5)[0x7f5cec3eb7e5]
/lib/x86_64-linux-gnu/libc-64.so.6(+0x7fe0a)[0x7f5cec3f

[2018-06-21 10:05] batarian71 opened #10435 "Logo"
Hello. I am a graphic designer. I want to volunteer support for open source projects. If you want, I can design a logo for you. What do you say? Also tell me if you want something. I can design.

[2018-06-21 13:43] HongxuChen opened #10438 "AddressSanitizer: heap-buffer-overflow inside r_read_le32 on an invalid ELF"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2018-06-21 14:35] XVilka opened #10439 "FreeBSD support for ARM, MIPS, PowerPC, SPARC"
Taken from https://svnweb.freebsd.org/ports/head/devel/radare2/Makefile?revision=463925&view=markup
[code]

[2018-06-21 14:38] XVilka opened #10440 "FreeBSD buildfixes"
Taken from https://svnweb.freebsd.org/ports/head/devel/radare2/Makefile?revision=463925&view=markup
1. Documentation building patch:
[code]
2. SDB HOST_CC is not autodetected properly
[code]
Without it it tries to use GCC.

[2018-06-21 14:46] XVilka commented on #4681
@unixfreaxjp should be fixed, no? Can you please confirm?

[2018-06-21 14:47] XVilka commented on #5390
@devnexen I see you are lately working on OpenBSD support - you might want to check this one too.

[2018-06-21 14:49] XVilka commented on #4044
@radare can be closed now I guess?

[2018-06-21 14:53] XVilka commented on #7106
@wargio ping?

[2018-06-21 14:56] XVilka commented on #2712
@cyanpencil can you please check this one too (to the end of your list)

[2018-06-21 15:15] radare commented on #2712
See my asm.meta approach too

[2018-06-21 15:16] radare commented on #4044
Cs is not an optonal dep for many important archs right now

[2018-06-21 15:17] radare commented on #10439
Wtf?

[2018-06-21 15:18] radare commented on #10439
Who the hell decided this crap

[2018-06-21 15:42] soez commented on #10398
fixed, if you find more bugs tell me or open issue :+1:

[2018-06-21 15:55] thestr4ng3r commented on #10401
Seems to be this issue: https://github.com/radare/radare2/issues/10387
If cleaning and re-compiling does not help, maybe reopen that one.

[2018-06-21 17:40] radare commented on #10435
We already have a logo for radare. Thanks for the offer but thats not an issue for us right now

[2018-06-21 17:41] #10435 closed

[2018-06-21 17:42] XVilka commented on #10435
I think maybe logo for radeco https://github.com/radareorg/radeco-lib can
be helpful.

On Fri, Jun 22, 2018, 1:41 AM radare <notifications@github.com> wrote:

[2018-06-21 17:50] sivaramaaa opened #10443 "System hangs while analysis"
Recently I have noticed that analysis has become pretty slow and found that even a simple `aa` command utilizes 100% CPU and 100% of my RAM, I have to reboot my system to quit analysis :{

[code]
[code]

[issue_bins.zip](https://github.com/radare/radare2/files/2124684/issue_bins.zip)

It would be great if someone could re-produce this and verify the issue !

(**NOTE:** It was working fine a month

[2018-06-21 17:59] radare commented on #10420
Works fine qith aab and other analysis loops. Theres another issue to trafk this already. Do you have time to fix it?

[2018-06-21 18:37] simos commented on #10137
By adding the snap package of radare2 (#10428), it will cover the following distributions:
1.  Arch Linux
2.  Debian
3.  elementary OS
4.  Fedora
5.  Gentoo
6.  Linux Mint
7.  Manjaro
8.  OpenEmbedded/Yocto
9.  openSUSE
10. OpenWrt
11. Solus
12. Raspbian
13. Ubuntu

Multiply that to the following four architectures: i386, amd64, armhf and arm64.
In practice, more distributions are able to install

[2018-06-21 18:37] wargio commented on #7106
pong?

[2018-06-21 20:01] io12 commented on #10420
I can try to fix it but I don't know the r2 codebase so well yet. Apparently `af` is the command that causes the problem.

[2018-06-22 02:53] #2487 closed

[2018-06-22 03:41] HongxuChen opened #10444 "Unexpected hangs on tiny inputs"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | N.A.
| Architecture/bits of the file (mandatory)            |x86/64
| r2 -v full output, **not truncated** (

[2018-06-22 09:26] asoroa opened #10447 "`dmh` faults when debugging a 32 bit binary on a 64 linux platform"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (

[2018-06-22 13:04] thestr4ng3r commented on #10447
We were already investigating that issue, but couldn't completely track it down yet. Thanks for the report, that asan output is very helpful.

[2018-06-22 13:34] radare commented on #10444
cant reproduce

[2018-06-22 16:28] unixfreaxjp commented on #4681
On it

[2018-06-23 04:19] greg5678 opened #10452 "Radare2 README.md Refers to Mach-O Executable as mach0"
Both the Radare2 README.md and the Radare2 framework refers to the executable file type `Mach-O` incorrectly as `mach0`.

[2018-06-23 08:13] radare commented on #10452
Press the pencil button and make a pr instead of opening an issue for 1 word change

[2018-06-23 08:52] Maijin commented on #9933
Greetings,

x86.nz (x86 handmade assembler) is one of the many x86 assemblers available in radare2 and is updated frequently.  **Please add a test case so we can fix x86.nz in https://github.com/radare/radare2-regressions/tree/master/new/db/asm** (See https://github.com/radare/radare2-regressions/blob/master/new/README.md) You can do so with github web editor without even cloning the repo.

You ca

[2018-06-23 09:09] PaoloMonti42 commented on #9933
@ITAYC0HEN, Yes, my fix #10177 solved this specific issue as well.

[2018-06-23 09:10] ITAYC0HEN commented on #9933
K, thanks!
@Maijin, can we close?

[2018-06-23 14:44] XYlearn opened #10456 "bug with '-' on Visual Mode"
Make sure you are testing using the latest git version of radare2 before submitting any issue.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu18.04 x86 64
| File format of the file you reverse (mandatory)      | PE
| Ar

[2018-06-23 14:46] felberj commented on #10259
I am interested on how I could fix this manually. My idea was to use `afu` to manually resize the function and run the analysis.
IDA claims that main goes until 0x0001162.
If I try to resize `main` with `afu 0x0001162` the functions between main and  0x0001162 are still there. Any hints how to fix it? Do I need to edit the basic blocks (adding jumps to it?)?

[2018-06-23 14:51] felberj opened #10457 "Make types editable in their C format."
It would be nice to edit the structs created with `to -` again by typing `to -`

Example:

1. Create struct definition

`r2> to -`
[code]
2. Edit the struct definition of the struct defined above:

`r2> to -`
[code]

[2018-06-23 16:46] radare commented on #10443
Can u idntify which commit, or aproximated time this changed? We probably need a benchmark suite

[2018-06-23 16:59] XVilka opened #10458 "Constrained types support"
Some types semantically have very limited set of possible values. Storing such kind of types can be beneficial for radare2 types and variables analyis. For example like "int < 250" or "char* [< 100]" where first is a type of integer that always less than 250, and a second - string which length is always less than 100 characters.
Especially those can be useful for initial analysis, when some librar

[2018-06-23 17:03] XVilka commented on #10458
@sivaramaaa FYI

[2018-06-23 17:13] #10452 closed

[2018-06-23 17:36] radare commented on #10456
Cant reproduce. My guess is that you have fuckedup your r2 installation

Can u make purge and sys/install again and if it crashes report q backtrace or crashlog at least to give us a hint

[2018-06-23 17:37] radare commented on #10458
Good idea. Are you using the sign information as hints too?

[2018-06-23 17:48] XVilka commented on #10428
Just checked if I can create builds, only @radare can do that, because somehow this build.snapcraft.io asks too much permissions for the repository access.

[2018-06-23 19:12] radare commented on #10428
Scary

[2018-06-24 06:11] XYlearn commented on #10456
I `make uninstall` and `make purge`. then `sys/install.sh` to rebuild. but it still failed. The full log is a segmentation fault. I tried to debug it with gdb and get the final snapshot
Is it relative to my os?
[code]
![image](https://user-images.githubusercontent.com/20752088/41816453-2b4768ce-77b8-11e8-9f9f-91c7c53c050e.png)

[2018-06-24 06:38] XVilka commented on #2461
@radare @Maijin  can you please check if some of those were already fixed?

[2018-06-24 07:31] sivaramaaa commented on #10443
I used `valgrind --tool=massif r2 ./vim` to check memory allocation and it seems most of memory consumption is from `setxrefs()` function

![r22](https://user-images.githubusercontent.com/18589720/41816804-e17a6c98-77ab-11e8-85f8-4a29be6960cd.png)

@ret2libc , check this thing whenever u have time (currently i am running out of time , so i couldn't get my hands dirty here sorry :{ ) :

[log.txt](h

[2018-06-24 07:34] sivaramaaa commented on #10443
@radare, yup definitely that's what i was talking about in tg :)

I will try to implement this thing after gsoc !

[2018-06-24 07:42] sivaramaaa commented on #10458
yup this idea sounds great, i will check this once we have a decent type inference !

@radare No not yet , but it's definitely planned for the next  PR !

[2018-06-24 08:53] cyanpencil commented on #10456
No, I can reproduce it too.
However it was a very easy fix, sending a pr to take care of it

[2018-06-24 09:08] macromachine opened #10461 "Null pointer read error at class.c:1576"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | Java class.
| Architecture/bits of the file (mandatory)            | x86/64 etc.
| r2 -v full output, **not

[2018-06-24 09:52] macromachine opened #10462 "heap buffer overflow at class.c:6638"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | Java class.
| Architecture/bits of the file (mandatory)            | x86/64 etc.
| r2 -v full output, **not

[2018-06-24 10:02] macromachine opened #10463 "heap buffer overflow at class.c:6223"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      |Java Class
| Architecture/bits of the file (mandatory)            |  x86/64 etc.
| r2 -v full output, **not t

[2018-06-24 11:30] macromachine opened #10464 "invalid read error/heap buffer overflow at mdmp.c:364"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 32
| File format of the file you reverse (mandatory)      | Mini Dump crash report
| Architecture/bits of the file (mandatory)            | x86/64 etc.
| r2 -v full out

[2018-06-24 12:26] macromachine opened #10465 "null pointer error at sdb.c:562"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF.
| Architecture/bits of the file (mandatory)            |x86/64.
| r2 -v full output, **not truncated**

[2018-06-24 14:38] HongxuChen opened #10467 "AddressSanitizer: global-buffer-overflow at anal_z80.c:57 (regression)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | Sega Master System ROM image
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full ou

[2018-06-24 14:49] HongxuChen commented on #10467
Another poc file:
https://github.com/radare/radare2-regressions/blob/master/fuzz/targets/corpora/ia_fuzz_seed_corpus/3898be36284d0213d59c79ecff7866d2e05fcc90

[2018-06-24 15:48] HongxuChen opened #10468 "AddressSanitizer: heap-buffer-overflow at anal_6502.c:55 (regression)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | Sega Master System ROM image
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full ou

[2018-06-24 17:49] simos commented on #10428
@XVilka Thanks for trying it out. Let's me check what can be done about this.

[2018-06-24 18:09] #10456 closed

[2018-06-24 18:49] radare commented on #10259
<img width="1184" alt="screen shot 2018-06-24 at 20 48 41" src="https://user-images.githubusercontent.com/917142/41822447-015ac3c0-77f0-11e8-9253-64909d23ebb9.png">

@cyanpencil ^ can you have a look at this edge layout glitch? (run aaa and then `s 0x1025`)

[2018-06-24 20:00] slovak194 commented on #10427
Yes, it is a "zero register" according to documentation.

[2018-06-24 21:02] radare opened #10473 "Enable asm.imm.str by default?"
It's still not fully working, but in many cases, the strings are encoded as immediates

<img width="599" alt="screen shot 2018-06-24 at 23 02 00" src="https://user-images.githubusercontent.com/917142/41823598-9f365b38-7802-11e8-9b48-b2900d9ff4f8.png">

[2018-06-24 21:03] radare commented on #10473
also notice the screenshot, many strings are not detected

[2018-06-24 21:03] radare commented on #10473
cc @kazarmy

[2018-06-24 21:04] radare opened #10474 "Improve display of switch / case flags in disasm"
<img width="882" alt="screen shot 2018-06-24 at 22 43 09" src="https://user-images.githubusercontent.com/917142/41823612-e2332c90-7802-11e8-91d3-75db7b5b3558.png">

[2018-06-24 21:05] radare commented on #10474
i think we shuold check if flag statrs with 'case.' and then display ranges of values and display as a comment the address of the jmp, in this case, many jmptables are referencing the same basic block

[2018-06-24 21:20] radare commented on #10259
I have fixed this analysis bug in this pr https://github.com/radare/radare2/pull/10475

[2018-06-24 21:24] radare opened #10476 "Kill anal.bb.split variable"
we probably dont want to tweak this. its more like a debugging feature. it must be always behave like it's set to true

[2018-06-24 21:53] #10432 closed

[2018-06-24 22:07] #10465 closed

[2018-06-24 22:31] #10259 closed

[2018-06-24 23:07] radare commented on #10443
aab takes 20s, but sets 0 xrefs

[2018-06-24 23:07] radare commented on #10443
aar = 8s, and sets 67k xrefs,

[2018-06-24 23:09] radare commented on #10443
it doesnt seems that slow here, at least for issue_bin.

[2018-06-24 23:30] radare opened #10481 "Set anal.endsize=false by default"
and see what happens

[2018-06-25 02:36] sivaramaaa commented on #10443
@radare sorry , but plsss **check `vim` bin** , that's what causing the computer to hang

also plss check the memory usage , i have 3GB RAM , and as it occupies the whole RAM  , my computer gets **hanged** , IMHO it's not really about speed rather about memory usage which ultimately causes system to hang

[2018-06-25 02:39] XVilka commented on #10474
Agree with radare, showing it as `case [4-49]` instead makes much more sense. No even need for an address - since it is obviously the current one.

[2018-06-25 04:17] XVilka opened #10483 "Fastcall arguments and variables"
See the broken test in radare2-regressions
[code]

[2018-06-25 06:28] XVilka opened #10484 "rahead2 and ratail2 tools"
Simple wrappers but very useful for day to day binary files inspection.
Rahead2 is supposed to behave as a `head -n` for example, printing hexdump for unknown files or disasm for recognized formats (or `rahead2 -nn` to always show hexdump).
Same for tail - to monitor the files change and print it in hexdump on a screen.

[2018-06-25 06:50] XVilka opened #10485 "rafind2 recursive search ability"
To search for hex sequences or expressions in all files in the directory, like `find .`

[2018-06-25 07:39] radare commented on #10443
Yes it takes 2.5gb of ram in here. Its a big binary so its not that strange to eat a lot of memory but i would probably think this is related to a memleak rather than acusing xrefs. Csn u share the memgrind logs and see if theres any?

[2018-06-25 07:43] radare commented on #2461
Nope not done but this probably makes more sense just in cutter. Let the cmdline be cmdline

[2018-06-25 08:08] radare commented on #10485
Agree that will be useful

[2018-06-25 08:41] XVilka commented on #10484
why?

[2018-06-25 08:56] Maijin commented on #10484
You can add that in r2pm to add some alias in your path, imho enough cluttering core :S, we just successful got rid of ragg2-cc not to add more crap

[2018-06-25 08:59] Maijin commented on #2461
I never use icon for command line application, i find that useless tbh makes more sense for cutter yes. But the right click context why not?

[2018-06-25 09:01] xarkes commented on #10484
Yes I think we don't need to add another tool in core, maybe r2pm is a good option.

[2018-06-25 09:59] XVilka commented on #10484
@xarkes head/tail cannot handle hexdata, using xxd | tail is uberslow on big binaries. If every linux has xxd/hexdump, why to have hexview in radare2 then?

[2018-06-25 10:28] radare commented on #10473
bin is echo-bin

[2018-06-25 10:29] kazarmy commented on #10473
movabs insns don't have comments ... probably two separate issues here

[2018-06-25 10:38] kazarmy commented on #10473
oh only 1 issue here

[2018-06-25 10:42] xarkes commented on #10484
I meant `head | xxd` or `tail | xxd`, I often use that and it suits my needs, that's why I see no point in having rahead2. Imho ratail2 is more interesting because it monitors file changes.
Anyway I still agree with Maijin, I don't think it's good to clutter Core more.

[2018-06-25 11:36] HongxuChen opened #10492 "AddressSanitizer: heap-buffer-overflow at class.c:3794"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | Java Class
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not trunca

[2018-06-25 12:32] HongxuChen commented on #10444
Another two files that will cause hang: [hang_1](https://github.com/ntu-sec/pocs/blob/master/radare2-18567/hangs/hang_1?raw=true), [hang_2](https://github.com/ntu-sec/pocs/blob/master/radare2-18567/hangs/hang_2?raw=true) .  On my machine, they also hang when executing `r2 -A $FILE`.

[2018-06-25 12:36] radare commented on #10484
If u want this implement head/tail as r2 commands and use r2 -qc to do that. But i dont think we want full posix system commands on top of r2

[2018-06-25 12:37] radare commented on #2461
The right click thing depends on the terminal you use in your mac. -e is not possible so you have to do applescripts to make that shit to happen. Imho its overengineering. Lets just close this and let cutter handle this

[2018-06-25 12:59] sivaramaaa commented on #10443
yeah , it could be !

Sure , I will try to look when i am free (Currently working on type inference)

[2018-06-25 13:06] #2461 closed

[2018-06-25 13:06] Maijin commented on #2461
done

[2018-06-25 13:47] cyanpencil opened #10494 "Address Sanitizer: strcat-param-overlap when calling graph"
Got this error when calling graph with `VV`.
[code]

Found out only that it was introduced in this commit https://github.com/radare/radare2/commit/3ca17abc4039506f00c38787fca9426d4967ebe5

My system is unix.

Any ideas?

[2018-06-25 14:53] HongxuChen opened #10495 "AddressSanitizer: heap-buffer-overflow at class.c:3652"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | Java Class
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not trunca

[2018-06-25 14:57] HongxuChen opened #10496 "AddressSanitizer: heap-buffer-overflow at class.c:3985"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | Java Class
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not trunca

[2018-06-25 16:14] radare commented on #10443
If anyone have time to chk this i would appreciate. Just having some logs may be enough for me to test

[2018-06-25 18:09] simos commented on #10428
One way to deal with this issue is to fork `radare2` into another account that you are OK to use on build.snapcraft.io. You can then select the forked `radare2` from the list of repositories on build.snapcraft.io.
This repository mirroring can be either manual or automated (with webhooks).

[2018-06-25 18:09] XVilka commented on #10484
Well, for head I use an alias like `r2 -qc "px 50"`, but for tail currently it is impossible, will require some changes in the core afaik.

[2018-06-25 19:44] radare commented on #10484
Why impossible?

Use ‘px 64@$s-64’

[2018-06-25 19:45] radare commented on #10428
Maybe we can have another repo with only 1 commit per release, so distros can use and reduce .git size

[2018-06-25 21:42] simos commented on #10428
One more alternative is to create a new repository with just the snapcraft.yaml configuration file, just like this https://github.com/snapcrafters/tcpie
That would be enough to create an initial `radare2` snap and get going.

In detail,
1. Find where to create the repository on Github so that it is OK to give access to build.snapcraft.io.
You may want to create a separate Github account.
2. Get th

[2018-06-26 02:43] macromachine opened #10498 "AddressSanitize: heap buffer overflow at class.c:6477"
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | Java Class
| Architecture/bits of the file (mandatory)            | x86/64.
| r2 -v full output, **not truncated** (mandatory)

[2018-06-26 10:42] radare commented on #10494
strcat is a VERY VERY bad idea. blame `David CARLIER` and me for merging

[2018-06-26 10:42] radare commented on #10494
i dont get why the hell this code should depend on apple or not

[2018-06-26 10:44] radare commented on #10494
should be fixed here. https://github.com/radare/radare2/pull/10499 pls confirm

[2018-06-26 10:46] kazarmy commented on #10473
If `asm.imm.str` is on by default, I think there is a need to differentiate between string comments that are the immediate value itself and string comments that are from dereferencing (i.e. `char []` vs `char *`). I think this can be done by showing dereferenced string comments as follows (no semicolon in the middle):
[code]
instead of:
[code]

[2018-06-26 10:50] radare opened #10500 "Make oo reopen without debugger"
Right now we have the following behaviour:

* open file -> oo -> reopened file
* open file -> ood -> debug program
* debug program -> oo -> debug program
* debug program -> ood -> debug program

this seems not consistent, as `oo`, should be dropping the debug mode

[2018-06-26 10:51] xarkes commented on #10500
cc @fcasal

[2018-06-26 11:57] kazarmy commented on #10473
lgtm ... not sure whether it's worth the extra 3 chars though

[2018-06-26 13:10] cyanpencil commented on #10494
Yes, it is fixed on that pr.
I'll close this issue as soon as it is merged. Thanks!

[2018-06-26 13:31] kazarmy commented on #10473
[code]

hmmm ... a bit ugly ... i think i like the arrow better

[2018-06-26 13:32] #10494 closed

[2018-06-26 13:32] radare commented on #10494
As long as the pr was named “fix #something” issues are closed automatically

[2018-06-26 20:50] securitykitten commented on #7310
Hello,

As part of some testing, I've generated all zignatures for the following directories
[code]
I found this issue and thought that it could help.

I've uploaded them into this repo.
https://github.com/securitykitten/r2_windows_zignatures

The zignatures are uniq'd per .lib file and I didn't consolidate them all into a single JSON file.

[2018-06-26 21:09] #10474 closed

[2018-06-26 21:10] JohnPeng47 commented on #9055
After comparing the execution of rabin2 -A on a fat mach-o, single bin mach-o and  a pe file, I found that the fat mach-o will pass the check_bytes check, leading to a call to r_bin_file_xtr_load_bytes, which eventually determines the # of archs present in the fat binary.
[code]
Looking at the check_bytes:
[code]
My initial assumption of the check_bytes function was that it is used to determine wh

[2018-06-26 21:27] scrapbird opened #10505 "segfault when running ds with windbg plugin"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64, OSX
| File format of the file you reverse (mandatory)      | Windows kernel, not a file
| r2 -v full output, **not truncated** (mandatory)     | radare2 2.7.0-git 1

[2018-06-26 21:54] radare commented on #10505
i dont have windbg setup, can you share a backtrace, register state, code involved, etc? or valgrind logs, or run it with asan.

[2018-06-26 22:10] scrapbird commented on #10505
@radare will grab one for you when I get home tonight.

[2018-06-26 22:36] radare opened #10506 "Skip thready code if there's only 1 task running"
We may save a bunch of cycles with this
cc @thestr4ng3r

[2018-06-26 22:38] radare commented on #10506
also we want to reduce the amount of calls to r_cons_is_breaked() i think we can get rid of some

[2018-06-26 22:42] radare opened #10507 "what is going on in op"
<img width="473" alt="screen shot 2018-06-27 at 00 41 51" src="https://user-images.githubusercontent.com/917142/41943219-eade6cc8-79a2-11e8-86b9-db9602675a29.png">

[2018-06-26 22:42] radare commented on #10507
| op [fd]                   prioritize given fd (see also ob)

[2018-06-26 22:43] radare commented on #10507
only happens with 3, the other fds are set properly

[2018-06-27 06:03] Maijin commented on #7310
Would you be able to create similar repository like https://github.com/radareorg/radare2-sigs where travis.yml contains the routine that autogenerate those zignature file?

[2018-06-27 07:11] xarkes commented on #9781
Btw the new tool can be found here: https://github.com/radareorg/r2pm

[2018-06-27 08:29] vSzemkel opened #10513 "afv help supplement"
afv? command does not explain the base case for variable definition, eg. "afv".
Add the syntax hint for afv, please

r2 -version
radare2 2.7.0-git 18487 @ linux-x86-64 git.2.6.0-309-g65deb59

[2018-06-27 08:42] vSzemkel commented on #10513
Arguments with default names are already defined, so there is no need for afv..

[2018-06-27 08:42] #10513 closed

[2018-06-27 08:44] scrapbird commented on #10505
Here you go @radare

[2018-06-27 08:58] thestr4ng3r commented on #10506
Good point. I already have something in mind to reduce it, but I still have to think it through a bit.

[2018-06-27 09:04] thestr4ng3r commented on #10506
By the way, right now scheduling alway happens in a cyclic way in each r_cons_is_breaked() call, which can be extremely often.

It might be better to do it time-based, i.e. only schedule if the last scheduling is already some time ago. This could be easily implemented by saving the last scheduling time and checking the delta with r_sys_now() in r_core_task_schedule() and if it is still below a cer

[2018-06-27 09:22] XVilka commented on #10273
No file - no fix.

[2018-06-27 11:04] kazarmy commented on #10473
nvm ... just found out that `asm.imm.str` strings use single quotes while dereferenced strings use double quotes ... that should be difference enough

[2018-06-27 11:57] #10498 closed

[2018-06-27 12:05] radare opened #10515 "Background Webserver doesnt plays well with tasks"
* [ ] RConfig should be saved/restored on each thread.. .this is a `per-thread cfg->ht`
* [ ] Can't be stopped
* [ ] Is not listed in tasks
* [ ] =H& vs &=H, same goes for =h
* [ ] cfg.sandbox must be honored in context switching too

[2018-06-27 12:13] radare commented on #10507
current problem is that only have lot of maps everytime we change the priority of a file with associated bininfo. the bug is in ob code (we also need to decide proper syntax for ob, obb and obo.

Comments are welcome

[2018-06-27 12:13] radare commented on #10507
cc @ret2libc @condret

this is also very related to the RIOSection killification

[2018-06-27 12:14] radare commented on #10507
and the thing is. why we want to have multiple maps with the exact same info? i vote for avoiding dupped maps
<img width="570" alt="screen shot 2018-06-27 at 13 47 10" src="https://user-images.githubusercontent.com/917142/41973128-638cb69a-7a14-11e8-92bc-0ea30e784d14.png">

[2018-06-27 12:34] ret2libc commented on #10507
What's the test binary?
Anyway, I see a use case for duplicated maps, but they shouldn't be created for no reason. I think the user should be able to explicitly duplicated a map, but in this case it seems just a bug.

[2018-06-27 12:46] #10496 closed

[2018-06-27 12:46] radare commented on #10496
fixed in master, and tests added, thanks

[2018-06-27 12:46] radare commented on #10495
fixed in master, and tests added, thanks

[2018-06-27 12:46] radare commented on #10492
fixed in master, and tests added, thanks

[2018-06-27 12:46] #10492 closed

[2018-06-27 12:47] radare commented on #10495
fixed in master, and tests added, thanks

[2018-06-27 12:47] #10495 closed

[2018-06-27 12:47] #10506 closed

[2018-06-27 12:51] radare commented on #10505
the .step callback is not implemented in the windbg plugin, so its using sw step based ones from r2.

the thing is... you are not using r2 from git. the linenumbers doesnt match the ones in code. please update

[2018-06-27 12:53] radare commented on #10505
for example:

[code]

in bp.c:227 we have this:
[code]

so imho your installation is fuckedup somehow

[2018-06-27 13:20] radare commented on #10473
Yep sgtm

[2018-06-27 13:28] radare commented on #10507
Happens in any binary

Well its calling to reload all the bininfo which implies creating maps

[2018-06-27 13:44] #10273 closed

[2018-06-27 14:06] radare commented on #10273
Also this issue should be in r2e

[2018-06-27 14:07] Maijin commented on #10428
Maybe we can create a team just for snap package under radare org and add someone from snap and only access to a radareorg repository used for snap?

[2018-06-27 14:23] radare commented on #7310
What about having 1 repo to store them all instead of just a repo with one useless script?

[2018-06-27 14:23] radare commented on #7310
And then r2pm packages for them

[2018-06-27 14:26] radare opened #10517 "Flags cut function lines"
<img width="734" alt="screen shot 2018-06-27 at 16 25 22" src="https://user-images.githubusercontent.com/917142/41980424-bdb34f5a-7a26-11e8-9818-9affab5cf04c.png">

[2018-06-27 14:47] Maijin commented on #7310
We can also merge them sure

[2018-06-27 15:19] sivaramaaa commented on #10443
Isuue bin

[vim.zip](https://github.com/radare/radare2/files/2141796/vim.zip)

Logs

**Valgrind- memcheck log**

[memecheck_log.txt](https://github.com/radare/radare2/files/2141785/memecheck_log.txt)

**Valgrind - massif (a heap profiler)** -- this log shows large amount of GB used !

[massif_log.txt](https://github.com/radare/radare2/files/2141805/massif_log.txt)

@radare , i couldn't find any la

[2018-06-27 16:00] radare commented on #8992
anyone still alive?

[2018-06-27 16:32] #3235 closed

[2018-06-27 16:39] radare commented on #9989
What about just cloning config->cfg ?

related issue https://github.com/radare/radare2/issues/10515

[2018-06-27 16:40] radare commented on #9625
dont we have this already solved?

[2018-06-27 16:41] radare commented on #4157
this is related to the pava mode

[2018-06-27 16:43] radare opened #10520 "The PAVA mode should allow to reload bininfo if headers are modified"
The pava will allow us to do such cool things

[2018-06-27 16:45] radare commented on #9055
yeah, ideally we should redesign the whole rbin api to make it more consistent. things has started to be done, but enotime for everything, and dont expect that to change from one day to other.

checkbytes is to check if the file is of a known type. subbinaries in fatmach0 are others mach0s, and in this csae its also checking for dyldcaches

[2018-06-27 16:59] radare commented on #10473
ok

[2018-06-27 19:32] lewez commented on #9564
Happening with this file too (was asked to post it here) https://ufile.io/isr8k

[2018-06-27 19:42] securitykitten commented on #6947
Reading through this list of zignature ideas and I think I can help with the function preludes.

In CSE's assemblyline tool they have a Binary Ninja script that will do a linear sweep based upon a pretty comprehensive list of preludes.  Highlighted here -> https://bitbucket.org/cse-assemblyline/alsvc_binja/src/31f03aec9afde2e9a610381ed8f1e6164a25e647/binja.py?at=master&fileviewer=file-view-default

[2018-06-27 20:32] scrapbird commented on #10505
I've been working in some of the windbg plugin files, unsure why the line numbers would be different in bp.c but I'll grab another backtrace from your master branch once I get home again (just got in to work and don't have a set up here for this).

[2018-06-27 20:47] mcd1992 commented on #10444
Digging through with you test files it just looks like a malformed ELF file. R2 isn't hanging its just trying to run analysis on 4GB of data, its not going to do that real quick.

[2018-06-27 22:00] astuder opened #10524 "Pull-request #10407 breaks auto-complete in visual mode seek"
TAB auto-complete for seek in visual mode (o) is broken since pull request #10407 (commit 9620ffa)

Before that commit, pressing TAB auto-completed to functions and flags. After that commit, TAB auto-completes to r2 commands.

How to reproduce:
Enter visual mode (vp)
Seek (o)
Press TAB -> list of r2 commands instead of flags, functions, registers

[2018-06-28 01:21] radare commented on #3105
Implemented in f5f090b70970c0bf4e22abc3ad0ce7ab1db8b2f4

[2018-06-28 01:21] #3105 closed

[2018-06-28 02:16] radare commented on #9825
Fixed in https://github.com/radare/radare2/pull/10526

[2018-06-28 03:37] radare commented on #10444
-Q doesnt hangs. It just doesnt shows the prompt. Its Quiet. You can type commands there

[2018-06-28 03:38] radare commented on #10444
For large null mappings my pr fixes this. This is how the issue is reproduced here. I have an issue to fix to merge it

[2018-06-28 03:43] HongxuChen commented on #10444
@radare Oh my bad, didn't notice that.

[2018-06-28 07:16] scrapbird commented on #10505
Here you go, this is from the current master branch:

[2018-06-28 07:28] ret2libc commented on #9625
The problem is a bit different here. It was more about the API than the output shown to the user. Anyway, I'm going to close it for the moment and I can re-open it after having a better look at it and see if it's still a problem.

[2018-06-28 07:28] #9625 closed

[2018-06-28 07:31] ret2libc commented on #4157
let's close this then.

[2018-06-28 07:41] ret2libc commented on #9825
@radare Shall it be closed then?

[2018-06-28 07:59] simos commented on #10428
Let me summarize the options in creating a snap package for radare2.

### Manual packaging

You can create .snap packages yourself and then upload manually to the Snap Store, and finally release them to the users. To do that,

1. Create a VM for `amd64` and install Ubuntu 16.04. You may also create VMs with `i386`, `armhf` and `arm64` as these are also supported in the Snap Store. For simplicity,

[2018-06-28 22:32] attritionorg commented on #10492
@radare can you link to the fixing commit please? thanks!

[2018-06-28 23:17] cyanpencil opened #10538 "afta segfaults on particular binary"
The binary:
[binary.zip](https://github.com/radare/radare2/files/2147246/binary.zip)

To reproduce:
[code]

The binary is a bit particular (e.g. decompilation fails in ida)

[2018-06-28 23:45] #10517 closed

[2018-06-29 04:03] XVilka commented on #10290
I don't think it should land in 2.7.0 - it might need a lot of changed in r2e and r2pm for a week.

[2018-06-29 04:06] XVilka commented on #6962
Closing this one.

[2018-06-29 04:06] #6962 closed

[2018-06-29 04:12] XVilka commented on #5568
For Binary Ninja experts - please update the bug, I think they added a lot of features these days.

[2018-06-29 11:11] radare commented on #5568
i think the esil point can be marked as done, and the automatic noreturn..maybe its something to be done by a script. we already support noreturn points

[2018-06-29 11:11] radare commented on #5568
about the undo thing. thats very related to the task of syncing instances

[2018-06-29 11:35] SpenserStyles opened #10541 "Unable to store binaries with non-simple project save"
I am using Radare to analyze STM32 code.
I load the binary and then create maps for the RAM and peripherals regions.
When I save the project it clears the file.path and file.lastpath preventing the binary from being saved with the project when prj.files is true.  This affects Cutter since the project when saved as non-simple project no longer has a path to the binary and fails to create the memory

[2018-06-29 11:40] SpenserStyles commented on #10541
Ok I have a workaround for Cutter.  I can manually run the RC script.

[2018-06-29 11:44] SpenserStyles commented on #10541
I figured out a work around for Cutter by manually running the RC script.

[2018-06-29 11:50] radare commented on #10290
agree

[2018-06-29 12:24] radare commented on #10492
e9ce0d64faf19fa4e9c260250fbdf25e3c11e152

[2018-06-29 12:33] #10483 closed

[2018-06-29 12:40] XVilka opened #10543 "Don't show a comma after last argument"
[code]

[2018-06-29 13:20] #10538 closed

[2018-06-29 13:52] thestr4ng3r opened #10546 "Make prints to stderr redirectable"
Most things that normally go to stderr, like the log of aaa are printed using eprintf().
It would be nice if we could redirect that output in cutter.

All the buffering, etc stuff that regular r_cons_print can do is not necessary imho, so a simple function pointer in RConsContext to make it configurable and a function r_cons_eprintf or something to use it conveniently would be enough.

[2018-06-29 13:52] XVilka commented on #4681
So, does it work?

[2018-06-29 13:56] thestr4ng3r commented on #10546
I'm not sure though if everything that uses eprintf right now also links against cons...

[2018-06-29 14:14] sivaramaaa commented on #10546
+1 , yup that would be nice !

[2018-06-29 23:54] #10524 closed

[2018-06-30 15:18] #10447 closed

[2018-06-30 15:53] radare opened #10554 "Add more magic signatures in libr/magic/d"
Here's a nice list of them, media types like mp3/ogg are important too

* [ ] https://en.wikipedia.org/wiki/List_of_file_signatures
* [ ] https://blog.netspi.com/magic-bytes-identifying-common-file-formats-at-a-glance/

[2018-06-30 23:57] attritionorg commented on #10492
Thank you  @radare!

[2018-07-01 05:30] unixfreaxjp commented on #4681
PPC passed perfectly. rarun2 worked fine, added the compilation snips at https://github.com/radare/radare2/issues/4681#issuecomment-399501469
I think sparc will have the same result, will check on request basis. I think we can close this.

[2018-07-01 05:38] unixfreaxjp opened #10557 "ARC processor support for r2"
I am launching ARC cpu environmental testing and bugfix platform for the ARC processor.
Ping me for details, and started in several checks already. Let me know if you have interest in participation.

Thank you!

cc: @radare @XVilka

[2018-07-01 06:22] s0i37 opened #10558 "Choosing basic block in minigraph VV."
Hello.
I want to suggest to add a feature for select basic block in minigraph-mode in "VV". For example via 1-9 key.
It will be very usable if we have a huge function graph. But now I need to choose some basic block through "tab" in sequence order.

[2018-07-01 07:36] HongxuChen opened #10559 "AddressSanitizer: heap-buffer-overflow at class.c:3652"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | Java Class
| Architecture/bits of the file (mandatory)            | -
| r2 -v full output, **not truncated**

[2018-07-01 07:41] HongxuChen opened #10560 "AddressSanitizer: heap-buffer-overflow at class.c:3774"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | Java Class
| Architecture/bits of the file (mandatory)            | -
| r2 -v full output, **not truncated**

[2018-07-01 07:45] HongxuChen opened #10561 "AddressSanitizer: NULL pointer READ at class.c:6277"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | Java Class
| Architecture/bits of the file (mandatory)            | -
| r2 -v full output, **not truncated**

[2018-07-01 07:47] HongxuChen opened #10562 "AddressSanitizer: NULL pointer READ at class.c:6284"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | Java Class
| Architecture/bits of the file (mandatory)            | -
| r2 -v full output, **not truncated**

[2018-07-01 07:49] HongxuChen opened #10563 "AddressSanitizer: NULL pointer READ at class.c:6287"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | Java Class
| Architecture/bits of the file (mandatory)            | -
| r2 -v full output, **not truncated**

[2018-07-01 08:45] pelijah opened #10564 "Sandbox doesn't honor `http.root` and `dir.prefix`"
https://github.com/radare/radare2/blob/master/libr/util/sandbox.c#L55

[2018-07-01 09:05] pelijah commented on #10564
Is there a way to access global instance of `core->config`?

[2018-07-01 11:18] thestr4ng3r commented on #10401
Crash is fixed, I think this issue can be closed.

[2018-07-01 13:59] Maijin commented on #9825
Not it's not merged

[2018-07-01 17:41] bannsec opened #10567 "afl."
It would be helpful to have a command `afl.` that behaved in the same way that `CC.` does, returning only those function definitions at the current position. Further, it would be beneficial also to have `afl.j` that would return the function definition in json for the current position.

[2018-07-01 17:42] bannsec opened #10568 "f."
In the same sense as the `afl.`, it would be helpful to have `f.` to return the flags only at the current position, and `f.j` to return the flags in the current position as a json structure.

[2018-07-01 17:42] javierprtd commented on #10127
It is already implemented by @morbith-dqtz :)

[2018-07-01 23:22] bannsec opened #10570 "Core Plugin to interdict command"
It would be helpful for registered core plugins to have the ability to interdict a command.

For example, the core plugin could be an updated handler for comments. In this case, when it see's "CC " command come through, it may want to handle the command update and tell the radare core to mark this as completed. This way, you wouldn't be getting excess updates. This is the same method that Google's

[2018-07-01 23:47] bannsec opened #10571 "Refresh screen via http server"
With some of the cross control stuff i'm working on, it would be nice to be able to trigger a refresh remotely via http. For instance, i'm updating comments via http while looking in visual mode on the command line. I don't see the updated comments until I hit `r` for refresh locally. If I try to perform that command remotely, the command line does not update.

It would be nice to have some way of

[2018-07-02 01:07] bannsec opened #10572 "aflqj as ints"
Command `aflqj` outputs the integer values as hex strings in the list. For example:

[code]

Given the JSON format, it would generally be preferable for the value to be in the actual integer values, not strings.

[2018-07-02 04:23] Maijin commented on #10567
I believe you mean, the function informations not function definition as this is unrelated to afl role

[2018-07-02 08:11] radare commented on #10568
We have fd but yep. f. Would be good

[2018-07-02 10:08] XVilka opened #10574 "Parse sprintf/printf strings for arguments"
For example if we have string "bla-bla %s" we can find our that next arguments is a `char*`, same for int. Could improve types/variables autodetection a lot.

[2018-07-02 10:56] #10561 closed

[2018-07-02 10:59] radare commented on #10562
Also fixed in 9d85d55b8d4edb499c458f791c5b3a66d8e989af

[2018-07-02 10:59] #10562 closed

[2018-07-02 11:03] #10563 closed

[2018-07-02 11:06] #10559 closed

[2018-07-02 11:12] #10560 closed

[2018-07-02 11:41] HongxuChen commented on #10559
@radare  it seems that both cases still cause crashes on my machine as of radare2 2.6.9 18641?

[2018-07-02 11:43] HongxuChen commented on #10563
Still crashes with asan.

[2018-07-02 11:46] HongxuChen commented on #10562
Still crashes with asan.

[2018-07-02 11:46] HongxuChen commented on #10560
Still crashes with asan.

[2018-07-02 11:47] HongxuChen commented on #10561
Still crashes with asan.

[2018-07-02 11:56] sivaramaaa commented on #10574
Yeah sure, i already had this in my mind :+1:

[2018-07-02 13:11] XVilka commented on #10127
Yes, it is fixed.

[2018-07-02 13:11] #10127 closed

[2018-07-02 14:56] astuder commented on #10524
Fix confirmed. Thanks!

[2018-07-02 16:29] SpenserStyles opened #10577 "ARM Thumb Emulation Fails to set Carry Bit"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.13.5 64-bit
| File format of the file you reverse (mandatory)      | BIN
| Architecture/bits of the file (mandatory)            | ARM Cortex 16-bits
| r2 -v full output,

[2018-07-02 16:46] SpenserStyles opened #10578 "ARM Remote GDB not working"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.13.5 64-bit
| File format of the file you reverse (mandatory)      | BIN
| Architecture/bits of the file (mandatory)            | ARM Cortex 16-bits
| r2 -v full output,

[2018-07-03 00:51] XVilka commented on #10578
Can you record a session and upload here PCAP file? It is hard to reproduce
without hardware.

On Tue, Jul 3, 2018, 12:46 AM SpenserStyles <notifications@github.com>
wrote:

[2018-07-03 02:23] sivaramaaa commented on #10485
Can we close this issue , if it's implemented with this PR [#10552](https://github.com/radare/radare2/pull/10552)

[2018-07-03 02:36] #10485 closed

[2018-07-03 02:37] Maijin commented on #10485
@sivaramaaa don't ask close it next time ;)

[2018-07-03 02:52] Maijin commented on #4681
@radare ?

[2018-07-03 03:01] #10401 closed

[2018-07-03 03:20] XVilka commented on #10571
Also required for this https://github.com/radare/radare2/issues/7410

[2018-07-03 03:22] XVilka commented on #10484
OK, closing

[2018-07-03 03:22] #10484 closed

[2018-07-03 03:38] XVilka commented on #2032
@cyanpencil @Vane11ope @kazarmy please help to review the current state, and what is needed to be done.

[2018-07-03 03:39] XVilka commented on #3670
@ret2libc you maybe want to check this one?

[2018-07-03 03:52] #10473 closed

[2018-07-03 05:32] sonictk opened #10580 "Can't figure out how to get radare2 to disassemble like IDA"
Hi there:

I'm a newcomer to learning x64 assembly, and I'm starting out with NASM. I'm trying to use radare2 for debugging, but no matter what I try, I can't seem to get radare2 to disassemble the binary the same way that IDA does. I was requested to file a ticket on the issue tracker here (https://twitter.com/Maijin212/status/1013983499290841090)

### Work environment

Win 10 x64
PE x64

[code]

[2018-07-03 05:53] sonictk commented on #10580
As usual, it's only after filing the issue that I find a solution:

[code]

Gives me the correct result.

[2018-07-03 05:53] #10580 closed

[2018-07-03 07:02] XVilka opened #10581 "Short string regressions"
Seems both unicode and str.imm commits combined produced regressions in:
[code]
[code]

[2018-07-03 07:10] sivaramaaa commented on #10485
okk :)

[2018-07-03 07:16] sivaramaaa commented on #10443
@Maijin i am reopening this coz it's just that i couldn't find any huge leak , but definetly there is a problem , even few people in #radare irc reported the same problem , so let's wait for @radare or @ret2libc to verify this issue ! (or in worst case i could check this after gsoc or so :} ...)

[2018-07-03 07:50] HongxuChen opened #10583 "AddressSanitizer: heap-buffer-overflow at bin_dex.c:596"
We found a few other crashes when radare2 is compiled with Address Sanitizer run with the command `r2 -A -Q $POC`. These crashes are mostly relevant to Java Class (the initial seeds we fed with r2  are all Java Class files).
[code]

We will list them briefly according to the crash sites from this thread on. The relevant information is available at https://github.com/ntu-sec/pocs/tree/master/radare

[2018-07-03 07:51] HongxuChen opened #10584 "AddressSanitizer: heap-buffer-overflow at bin_mz.c:31"
POCs:
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_bin_mz.c%3A31_1.class
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_bin_mz.c%3A31_2.class

asan:
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_bin_mz.c%3A31_1.class.err.SIG06
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_bin_mz.c%3A31_2.class.err.SIG06

[2018-07-03 07:52] HongxuChen opened #10585 "AddressSanitizer: heap-buffer-overflow at bin_xtr_fatmach0.c:22"
POCs:
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_bin_xtr_fatmach0.c%3A22_1.class
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_bin_xtr_fatmach0.c%3A22_2.class

asan:
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_bin_xtr_fatmach0.c%3A22_1.class.err.SIG06
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_b

[2018-07-03 07:59] HongxuChen opened #10586 "AddressSanitizer: heap-buffer-overflow at class.c:3598"
POCs:
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_class.c%3A3598_1.class
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_class.c%3A3598_2.class

asan:
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_class.c%3A3598_1.class.err.SIG06
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_class.c%3A3598_2.class.err.S

[2018-07-03 08:00] HongxuChen opened #10587 "AddressSanitizer: heap-buffer-overflow at java/class.c:3774"
POC:
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_class.c%3A3774_1.class

ASAN:
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_class.c%3A3774_1.class.err.SIG06

[2018-07-03 08:02] HongxuChen opened #10588 "AddressSanitizer: heap-buffer-overflow at class.c:3792"
POCs:
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_class.c%3A3792_1.class.err.SIG06
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_class.c%3A3792_2.class.err.SIG06

ASAN:
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_class.c%3A3792_1.class.err.SIG06
https://github.com/ntu-sec/pocs/blob/master/radare2-18643/crashes/hbo_class.c%