[2018-02-23 17:27] #9475 closed

[2018-02-23 17:46] msftsecurityteam commented on #9479
So how do I get an enter press to continue disassembling where I left off
previously?
On Fri, Feb 23, 2018 at 11:07 AM radare <notifications@github.com> wrote:

[2018-02-23 17:50] msftsecurityteam commented on #9479
Maybe I am misunderstanding but block size doesn’t appear to be relevant
here at all. I disassemble at 0x5430 with block size 32 (0x20), but
pressing enter starts disassembly at 0x54ae, 0x7e bytes away?
On Fri, Feb 23, 2018 at 12:46 PM MC <darkhat@gmail.com> wrote:

[2018-02-23 17:50] radare commented on #9479
by editing the code and sending a PR

or using pD instead of pd, but you will get some invalid instructions

[2018-02-23 17:52] radare commented on #9479
pd disassembles N instructions, and pD bytes.

in fact pd N <enter><enter> works fine, the problem is when you use pd without arguments.

can you confirm this?

[2018-02-23 17:52] msftsecurityteam commented on #9479
Ok, so I will close this issue then if this is expected behavior
On Fri, Feb 23, 2018 at 12:50 PM radare <notifications@github.com> wrote:

[2018-02-23 17:53] msftsecurityteam commented on #9479
Ok give me a few minutes I will confirm and get back. Apologies for the out
of sync responses I am on mobile
On Fri, Feb 23, 2018 at 12:52 PM MC <darkhat@gmail.com> wrote:

[2018-02-23 17:54] radare commented on #9479
no its not expected, i want to know if the behavious is correct if you run “pd 5”<enter><enter>, because i think the problem is only when calling pd without arguments. pls confirm

[2018-02-23 18:32] giuscri commented on #9478
Fixed by https://github.com/radare/radare2/commit/e90c5500534d797def60d3162e357426b894b208

[2018-02-23 18:32] #9478 closed

[2018-02-23 23:15] radare opened #9484 "scr.color must be int instead of bool and replace scr.truecolor"
This will simplify some more code related to colorhandling

* 0 : no color
* 1 : 16 colors
* 2 : 256 colors
* 3 = 16 milion colors

[2018-02-23 23:53] #9481 closed

[2018-02-23 23:56] #9287 closed

[2018-02-23 23:56] radare commented on #9255
closing until someone complains or tests again

[2018-02-23 23:56] #9255 closed

[2018-02-24 04:12] pgrohe opened #9486 "make uninstall fails to complete - tries to cd to non-existent dir libr/sysregs/d"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | n/a
| Architecture/bits of the file (mandatory)            |  n/a
| r2 -v full output, **not truncated** (ma

[2018-02-24 04:35] XVilka commented on #7148
Can you maybe show the screenshots of what do you want exactly?

[2018-02-24 07:40] asutoshpalai opened #9489 "Binary getting modified in write mode without explicit write operations"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch linux x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | ARM (aarch64)
| r2 -v full output, **not tr

[2018-02-24 10:47] #9484 closed

[2018-02-24 11:54] giuscri commented on #9486
Can reproduce. Content of `./libr/sysregs/d` seems to be moved into `./libr/syscall/d2` by 5642883db9df708c0c2bf7f72f6e65b3d49e127d

[2018-02-24 12:12] michaelbr92 opened #9493 "no escape for special charecters in json serialization"
# no escape for special charecters in json serialization

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian arm 64, Ubuntu x86 32
| File format of the file you reverse (mandatory)      | PE, ELF etc.
| Architecture/bits of

[2018-02-24 12:48] #9486 closed

[2018-02-24 15:36] michaelbr92 commented on #9493
@Maijin can I bee assigned to it?

[2018-02-24 16:18] Maijin commented on #9493
I can't assign you on github but with your message you are claiming the issue ;)

[2018-02-24 16:26] #9370 closed

[2018-02-24 18:09] giuscri opened #9500 "P- should remove whole project directory, not only rc file"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            |x86/64
| r2 -v full output, **not truncated*

[2018-02-24 18:15] giuscri commented on #9500
This should be easy to fix. Just change `r_core_project_delete` is such a way that removes the directory instead of the rc.

To check you're really deleting a project directory (and avoid rimraf's) one might check if it contains an rc file and that after deleting `rc`, `rop.d` and `xrefs.sdb` the directory is empty.

[2018-02-24 19:35] Maijin commented on #3574
Isn't that done by https://github.com/radare/radare2-extras/pull/116 ? What remains to be done, since it's listed in GSOC task please describe :p

[2018-02-24 19:36] Maijin commented on #3574
@XVilka @radare @SrimantaBarua

[2018-02-25 04:39] securisec opened #9503 "Core dumped on prj via Ve"
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | ubuntu 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x64
| r2 -v full output, **not truncated** (mandatory)     | radare2 2.4.

[2018-02-25 09:31] #9470 closed

[2018-02-25 11:27] sivaramaaa commented on #9470
@YugoCode , I hope it's fixed now , check it out with latest master !!!

[2018-02-25 12:38] Misiur opened #9505 "`S` lists only two sections"
### Work environment
OS | Ubuntu x86 32
File format | ELF
Architecture | Any
R2
[code]

### Expected behavior
[code]
### Actual behavior
[code]
### Steps to reproduce behavior
`echo 'int main(){}' | gcc -g -x c - && r2 -c S a.out`

It worked like that in `0.9`, but a lot has changed since then.

[2018-02-25 12:52] Misiur opened #9506 "Specific dwarf data causing segfaults."
### Work environment
OS | Ubuntu x86 32
File format | ELF
Architecture | MIPS R3000
R2
[code]

### Expected behavior
(not the same file)
[code]
### Actual behavior
[code]

### Steps to reproduce behavior
File tested - [smdcurrent.zip](https://github.com/radare/radare2/files/1756028/smdcurrent.zip)

Additionally, debug sections in `iS` only have offset address, but not absolute one (affects x86 bin

[2018-02-25 19:35] Maijin commented on #9505
`iS` and `S` are completely different.
-> `S` is planned for death in profit of `om` thus obsolete.
-> if you want to get sections information it's `iS` and the info is still correct in your output

[2018-02-25 19:54] JulioSDDR opened #9511 "Edit function is not working"

[2018-02-25 19:58] FFY00 opened #9512 "asm.emu being enabled when using O in VV but never disabled"
Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | `Ubuntu 17.10

[2018-02-25 20:04] #9511 closed

[2018-02-25 20:17] Maijin commented on #9511
https://github.com/radareorg/cutter/issues/341

[2018-02-25 21:11] MaskRay commented on #7967
The final goal is to move `R_ARGS` to the command descriptor function so that arguments can be completed. But before that, these `R_ARGS` will be kept under case labels.

[2018-02-25 22:40] radare commented on #6208
I think so, refactorings are always welcome

[2018-02-26 09:44] radare opened #9514 "make purge should uninstall and purge debian packages if found"
Same goes for other distros,  and maybe by prompting the user for confirmation

[2018-02-26 10:46] jasuramme commented on #9379
Sorry for delay.
Which data do you mean? I don't have objdump for sh architecture. I meant, that we could try hold information about was the piece of memory processed as code or used only as data. I never tried aab or a2f yet. So that's what I do now - implement ESIL. I will try to find some ways to convert that memory pieces to data, but after I finish with ESIL. My head is full with that now)

A

[2018-02-26 13:37] radare commented on #9512
O doesnt changes asm.emu at all, just toggles asm.esil which changes the disasm output to be esil instead of assembly. if you wanna rotate asm.emu use the ‘)’ key

[2018-02-26 13:54] sivaramaaa commented on #9512
Yup it doesen't change asm.emu , it toggles asm.esil and asm.pseudo !!
But i could see a point here !!!
[code]
It would be nice if we restore the config value once user quit's  the graph or visual mode !!

what do u think @radare  ??

@FFY00  ,But idk if this is the issue u are talking about !!!

[2018-02-26 14:06] radare commented on #9512
Yep sgtm

[2018-02-26 15:11] radare opened #9518 "rabin2 -V not implemented on mach0"
protip:

[code]

[2018-02-26 17:43] FFY00 commented on #9512
@sivaramaaa there are more than 2 profiles, keep hitting `shift+o` until you see the red comments with the emulated register values. You should be able to cycle back to the first layout with a couple hit but the problem is that `asm.emu` isn't turn back off after the profile that enables it is changed.

[2018-02-26 18:37] Maijin commented on #9518
Already tracked but was missing example thanks, duplicate of #4216

[2018-02-26 18:37] #9518 closed

[2018-02-26 18:37] Maijin commented on #4216
@giuscri @radare added an example for Mach-O

[2018-02-26 19:02] radare commented on #9503
Cant reproduce. Can yuo provide a backtrace or crahslog?

Ive tried with asan and valgrind

[2018-02-26 19:21] radare2-bein opened #9520 "radare2 armv7 playstore bugs"
!shell escapes crashes
pd nr not working

is visual mode supported?

using archos neon 45b , android 5.1 2016-02-01 , kernel 3.10.65

[2018-02-26 19:23] securisec commented on #9503
Cant do it. Because after the crash, the terminal gets messed up and cant copy the messages. Do you have some instructions on how to grab what you need? Btw, i am able to re produce this on both ubuntu 64 and osx

[2018-02-26 19:27] radare commented on #9503
Use pipes

Valgrind -o logfile r2...

Or with asan:

R2 ... 2> logfile

[2018-02-26 19:28] radare commented on #9520
Can you use termux instead?

[2018-02-26 19:29] radare2-bein commented on #9520
same thing, I guess. currently sarching for logfile ...

[2018-02-26 19:35] radare2-bein commented on #9520
so, correctly r2pipe crashes on shellescape, logfile is lost

[2018-02-26 19:42] radare2-bein commented on #9520
I will look more closely..

[2018-02-26 20:01] securisec commented on #9503
In Ubuntu, i can only get the message `Segmentation fault (core dumped)`. In OSX, here is a screenshot

![image](https://user-images.githubusercontent.com/22226823/36692366-dc9079f0-1b05-11e8-95fa-4afc5bb7422a.png)

[2018-02-26 22:19] giuscri opened #9521 "mkdir -p creates `-p` directory"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86 64
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated**

[2018-02-26 22:21] giuscri commented on #9521
Checking the code of `r_sys_mkdir{,p}` should be enough.

[2018-02-27 08:10] radare commented on #9503
Modify env.sh if u r using r2 from home to put the valgrind line there or the pipe redirections

[2018-02-27 08:13] vdf-git opened #9524 "rasm2 thumb-2 erroneous opcode for str rX,[rY,Z]"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | arm-16 (ie. thumb-2)
| r2 -v full output,

[2018-02-27 10:14] radare opened #9525 "e graph.format=? not working"
[code]

[2018-02-27 10:42] radare opened #9526 "=h? should show help instead of spawn webserver"
[code]

[2018-02-27 14:49] msftsecurityteam commented on #9479
"pd 5"<enter><enter> seems to work fine as shown here:

$ r2 /bin/ls
 -- Did you know that r2 is 10 years old?
[0x00005430]> e cmd.repeat = true
[0x00005430]> pd 5
            ;-- entry0:
            ;-- rip:
            0x00005430      31ed           xor ebp, ebp
            0x00005432      4989d1         mov r9, rdx
            0x00005435      5e             pop rsi
            0x00005436      4

[2018-02-27 17:24] sivaramaaa commented on #9512
@FFY00 yup i could reproduce , but i think it's easy to fix , if u wanna checkout see these lines  https://github.com/radare/radare2/blob/a792aaafbe154c3a545e6d49747a867d7191b15f/libr/core/graph.c#L3901 that's causing issue

Feel free to send a PR !!!

[2018-02-27 17:36] #9526 closed

[2018-02-27 17:40] #9410 closed

[2018-02-27 18:14] giuscri commented on #9525
what should happen instead?

[2018-02-27 21:41] radare commented on #2059
I think we need to add a new method in RCons to push data into the readchar buffer and pull them if any before reading from user. And remove all the hacky workarounds. This may allow us to add some youterm-like support for scripting r2 at stdin level. maybe having some special syntax for sleeps and such

[2018-02-27 21:54] #8979 closed

[2018-02-27 22:02] Misiur commented on #9505
This means whole `S` family of functions is deprecated? What is the replacement for `S.`?

[2018-02-27 22:10] radare commented on #8980
@@iS implemented here: 6cdd273d5c5bec51f7ffee5b09f98e8b69f25149

[2018-02-27 22:14] radare commented on #8763
I think that we should set prj.simple=true enabled by default. what do you think? at least it's more reliable :P

[2018-02-27 22:20] radare commented on #8950
ping, can we get this done before monday? or move to 2.5?

[2018-02-27 22:22] thestr4ng3r commented on #8763
It is already default iirc

[2018-02-27 22:22] radare commented on #8840
@mrexodia can you take a look at this?

[2018-02-27 22:34] radare commented on #9483
Having support for negative filedescriptors would be good to index them by position in array sorted asc.

so we can reuse output of other commands like `om*-1 > foo;oom;.foo`

[2018-02-27 22:36] radare commented on #9435
we can close this now

[2018-02-27 22:36] #9435 closed

[2018-02-27 22:42] radare commented on #8522
those logs may be pretty outdated

[2018-02-27 22:43] radare commented on #8504
Should work with prj.simple

[2018-02-27 22:46] #9525 closed

[2018-02-27 22:47] radare commented on #6754
P I N G

[2018-02-27 22:51] radare commented on #9465
you mean callgraph?

[code]

try this

[2018-02-27 22:58] radare commented on #6754
we can use this oneliner:
[code]

[2018-02-27 23:03] radare commented on #6754
but maybe we should do recursive emulation with esil and then extract the constants from the regwrite callback instead

[2018-02-27 23:39] radare commented on #2059
Done :D

[2018-02-27 23:39] #2059 closed

[2018-02-27 23:44] FFY00 commented on #9512
Thanks, I'll try to fix the issue later when I have more time. Thanks for pointing me out to the files in question.

[2018-02-27 23:50] #9514 closed

[2018-02-27 23:53] radare commented on #9503
you can also attach a gdb or lldb to the r2 pid and then type bt , dis, i r,... to get the proper crashlog information

[2018-02-28 00:06] giuscri commented on #9417
Future fixers: here
[code]
argv[0] is whole `lldb-server g :9999 -- AAAAAAAAAAA`. Don't know if that's _the_ reason behind the bug but it may be a good start.

[2018-02-28 00:24] #9521 closed

[2018-02-28 01:19] YugoCode commented on #9470
@sivaramaaa It is now working with `fd.`, but not with `fd`.

So these thinks need to be fixed:

- `fd` still prints only one flag, although there are more.
-  There is no more JSON output when specifying `fd.j`

[2018-02-28 02:03] P4N74 commented on #8522
yes I just looked at this issue recently and it is outdated. I am going through the code to remember what I did earlier and try to fix this.

[2018-02-28 04:14] securisec commented on #9503
Hoping this is what you are looking for.

https://pastebin.com/QuAAcZVL

[2018-02-28 07:31] radare commented on #9503
Is core->file NULL ?

[2018-02-28 08:33] ret2libc commented on #9468
What are you referring to exactly? I cannot find any bb_pos. Is it `bb->op_pos`?

[2018-02-28 08:38] radare commented on #9468
Yes bb->op_pos

[2018-02-28 08:39] radare commented on #9468
I added asm.bbinfo to show that infonqhen bbline is set, may help to debug

[2018-02-28 09:11] radare commented on #9505
om. Or iS.

[2018-02-28 09:35] radare commented on #9512
i dont see the problem here, but ill chk the PR

[2018-02-28 09:59] radare commented on #9505
i think we should kill the 'S' command right after the release (next monday) in a PR to see what's breaking. Let's keep up the breaking changes spree!!

[2018-02-28 10:16] radare commented on #9524
@vdf-git what about sending a pullreq instead of just commiting to your repo?

[2018-02-28 10:21] radare commented on #9520
r2pipe? what are you trying to do and which version of r2, device, etc are you using?

[2018-02-28 10:51] XVilka commented on #6851
See also https://alschwalm.com/blog/static/2016/12/17/reversing-c-virtual-functions/

[2018-02-28 10:53] XVilka commented on #6851
See also more in https://www.blackhat.com/presentations/bh-dc-07/Sabanal_Yason/Paper/bh-dc-07-Sabanal_Yason-WP.pdf

[2018-02-28 10:55] XVilka commented on #6851
And also http://blog.httrack.com/blog/2014/05/09/a-basic-glance-at-the-virtual-table/ for GCC

[2018-02-28 11:12] thestr4ng3r commented on #6851
I will try to do msvc soon.

[2018-02-28 12:58] #9493 closed

[2018-02-28 13:14] radare commented on #8522
Cool thanks

[2018-02-28 15:16] securisec commented on #9503
Here is the core dump

[core.13512.zip](https://github.com/radare/radare2/files/1767617/core.13512.zip)

[2018-02-28 15:58] gu10ng1t commented on #9465
ty @radare, the callgraphs are very useful, I really like them when I want grasp the whole thing and where it goes

well, lets detach the main expression here:
_locates all calls with the final destination outside the current module_

for example, from that callgraph is there any way to easily filter the calls from current module to itself? doing such thing would be what is expected from a find al

[2018-02-28 16:04] radare commented on #9503
so its not fixed in master?

[2018-02-28 16:18] securisec commented on #9503
Ah, sorry, didnt see the commit message. I can no longer reproduce. Thanks!

[2018-02-28 16:18] #9503 closed

[2018-02-28 16:56] radare commented on #9465
As i said, those commands are not as userfriendly as they should be, which is the r2 way you would expect to get this done? Ill think about it and improve it for the next release right now im a bit busy with many other issues that matter for mondays release.

Thanks!

[2018-02-28 18:37] michaelbr92 commented on #9466
I think that arch/bits and the parsing of the arguments are 2 different issues.
The first is to remove all uses and settings of arch and bits for the config.
and the second one will be to change the parsing of length in the command line.

[2018-02-28 19:56] mrexodia commented on #8840
![](https://i.imgur.com/BrcXrrI.png)

Duncan (mrexodia), [28.02.18 20:22]
Closefile is the io-desc-close

Duncan (mrexodia), [28.02.18 20:22]
And then successfully opened

Duncan (mrexodia), [28.02.18 20:23]
But then some “locked with writers”

Duncan (mrexodia), [28.02.18 20:23]
(Which appears to be a failure of r-file-mmap-windows)

Duncan (mrexodia), [28.02.18 20:24]
im still confirming but I t

[2018-03-01 00:14] radare opened #9541 "VC and VVC should rotate between scr.color=0,1,2"
Right now its using e! which is wrong

[2018-03-01 07:09] dukebarman commented on #6322
I've created profiler logs of my case for kcachegrind:
- only open binary
[callgrind.out.42046.zip](https://github.com/radare/radare2/files/1770178/callgrind.out.42046.zip)
- open and command `aaa`
[callgrind.out.42070.zip](https://github.com/radare/radare2/files/1770179/callgrind.out.42070.zip)

Binary file: /usr/lib64/firefox/libxul.so
r2: from git
OS: Fedora x64

[2018-03-01 07:14] redmed666 commented on #9471
Pull request created: #9543

[2018-03-01 09:00] Maijin commented on #8980
isn't that @@@ ?

[2018-03-01 09:53] #9471 closed

[2018-03-01 11:39] radare commented on #9489
another problem caused by aaaaaa :P

[2018-03-01 11:42] radare opened #9544 "afta is slow as hell and cant be stopped"
Try aaaa in this bin https://github.com/radare/radare2/files/1754127/adbd.zip

[2018-03-01 11:49] #9489 closed

[2018-03-01 12:51] radare commented on #8980
Right... we should improve the help messages and probably clarify that @@@ changes blocksize and @@ only offset. And review all those suffix operators.

[2018-03-01 13:48] xarkes commented on #1169
Is this issue worth remaining? We dropped mingw32 support on AppVeyor, and the users mainly use the msvc build now I suppose.

[2018-03-01 14:24] giuscri commented on #9417
@radare could you explain more this bug? what should happen?

[2018-03-01 14:37] radare commented on #9544
even more when io.cache is enabled

[2018-03-01 19:54] radare commented on #9466
What dl u mean by remove all uses and settings of arch and bits?

Imho this issue is only for the 2nd thing you mentioned. And it was suposed to be a place a discuss if we all agree on that behaviour change.

[2018-03-01 19:59] radare commented on #9465
I would call it import “graph” but i can think on other kind of graphs:

- callgraph
- xrefs graph
- refs graph
- bb graph
- data graph

For example, graphing all references to local variables in a function by making variables and addresses where those are referenced as nodes.

Etc

All this stuff is easy to do, the only complicated part is defining a clean way to achieve all that and cleanup the

[2018-03-01 20:29] giuscri commented on #3168
so expected output should be
[code]
instead of
[code]
?

[2018-03-01 23:37] kamou opened #9545 "r2 is wrongly using dlopen when loading lang plugins."
tested on Fedora Workstation 27 with current master branch.
[code]

So I'm testing with that simple code:
[code]

this is just a stupid hello world cpython module to show the problem with RTLD_LOCAL
I'm compiling it with:
`gcc -fpic --shared $(python-config --includes) hello.c -o hellomodule.so`

trying it with python:
[code]

now if I try to use it in r2:
[code]
looking at man dlopen:

so this me

[2018-03-01 23:48] kamou commented on #9545
maybe `dlmopen` could be an alternative

[2018-03-01 23:54] gu10ng1t commented on #9465
That's awesome @radare. I hope you have time to do all that cool stuff.

At the moment I'm a part of a course in Reverse Engineering (CERO, from Mente Binaria project, lead by Fernando Merces). We started learning the basics of how to use x64dbg, ollydbg and a little bit of gdb.

I did't know radare in the beginning but later on I discovered that it follows some principles that I see in vim (do lo

[2018-03-02 01:45] radare commented on #9545
Gnuism?

[2018-03-02 01:47] radare commented on #3168
What about functions? I think we should not prefix them

[2018-03-02 01:49] kamou commented on #9545
yes.

[2018-03-02 03:12] XVilka commented on #9545
@kamou
```But I guess the choice of RTLD_LOCAL was probably related to the fact r2 needed both python2 and python3 available, but I guess r2 should let the user just choose with an option or an environment variable what version of python to use.```
Agree, moreover Python is walking dead nowadays, so targeting Python 3 is more important.

[2018-03-02 10:02] #9348 closed

[2018-03-02 10:40] radare commented on #9417
as you can see, r2 cant debug this `lldb-srver g... ` oneliner, take any other program as example and with "strange" arguments and see what happens

[2018-03-02 10:41] #8840 closed

[2018-03-02 10:44] radare commented on #1169
poor mingw :(

[2018-03-02 10:58] leberus commented on #8864
Just wanted to show that I am working on it [here](https://github.com/leberus/radare2/commit/85134495cbfc70dfff5fd6261a11acfa960cec4f)

<pre>
[0x7f7d9d0e31f0]> dz?
|Usage: dz Environment commands
| dz                          Show all environment variables
| dzl                         Show all environment variables (long output)
| dzg [env_name]              Show [env_name]
| dzgl [env_name]

[2018-03-02 11:00] radare opened #9549 "@@@? not working"
* [ ] ?@@@? help message is not working
* [x] @@@ operator is not iterating at all
* [x] arguments are too long (imports, instead of ii :??)
* [x] we want @@@ to modify offset + blocksize like @@iS does
* [x] @@@? is not using RCore.help api

[2018-03-02 11:16] radare commented on #8864
awesome!

[2018-03-02 11:24] radare opened #9550 "More RCons glitches"
![image 2018-03-02 12 24 24](https://user-images.githubusercontent.com/917142/36896905-a5d9d6ec-1e14-11e8-89cf-f5f5c9ce6a12.jpg)

[2018-03-02 11:24] radare commented on #9550
Press VVOOO to get this

[2018-03-02 14:55] faridtsl opened #9552 "Rewriting hash and crypto modules."
Hello,

I wanted to start rewriting hash+crypto modules to make them more readable and maintainable. but i faced some issues and I would like to have some guidance. here are a few questions and i wish to maintain this issue open for future discussions as the process will likely take time.

I will start with the hash module for now :

- The choice of the hash type now is done by a bitmask (so limit

[2018-03-02 16:01] michaelbr92 commented on #9466
while ```pd1``` is really fast to type I think that it will be confusing in the other pd commands and in large numbers (ex. ```pd342``` in comparison to ```pd 342```)
but I agree that removing arch and bits from the command will be necessary

[2018-03-02 16:50] radare commented on #9506
cant reproduce

[2018-03-02 16:51] giuscri commented on #9417
is this the same bug?
[code]

[2018-03-02 16:52] radare commented on #9506
i pushed a blindfix, pls confirm because i cant reproduce

[2018-03-02 16:52] #9506 closed

[2018-03-02 16:58] #9541 closed

[2018-03-02 17:03] giuscri opened #9554 "Missing usage line for some commands"
~First output line of `oob?` should _not_ be green.~
See first output line of `oob?`

![screenshot a48a96139b82d34a8119024ebe666980](https://user-images.githubusercontent.com/4048120/36911353-929e2b3a-1e43-11e8-96c1-d6c8c7aae2d8.png)

[2018-03-02 17:04] ret2libc commented on #9468
Problem was actually with how `@B` was implemented. bb->op_pos works fine.

[2018-03-02 17:58] #9549 closed

[2018-03-02 18:02] radare commented on #9466
If nobody is going to complain about this (except travis) i’ll do this change later tonight

[2018-03-02 18:39] michaelbr92 commented on #9466
What change? the length parsing?

On Fri, Mar 2, 2018, 8:02 PM radare <notifications@github.com> wrote:

[2018-03-02 19:11] ret2libc commented on #9550
Can you provide a reproducer? Whic bin, which commands?

[2018-03-02 21:24] thestr4ng3r commented on #9441
I just noticed the bug already shows up when just running `idpi` (which should not alter any state at all).
Example:
[code]
See, disassembly is different starting at 0x0040118a.

`ah` shows nothing, so it does not seem to be an analysis hint.

[2018-03-03 00:06] radare commented on #9466
And remove the space split logic to select arch and bits because we have @a: and @b:

[2018-03-03 06:52] YugoCode opened #9557 "Not only list the used library names, but also their version"
When printing the used libraries of a Mach-O binary with _otool_, the output looks like this:

[code]

So could we extend the `il` command, to also print the compatibility and current version?

[2018-03-03 07:56] radare commented on #9550
Any binary, commands are listed there already

[2018-03-03 07:58] YugoCode opened #9558 "Enable indirect addressing with offsets: pv8 @ [sp + 4]"
Right now this is working:

[code]

But you cannot add offsets for indirect addressing. So these all are not working:
[code]

Could someone add this feature please?

[2018-03-03 08:35] YugoCode commented on #9558
![Alt Text](https://media2.giphy.com/media/26gJzc8gAkTImtSLe/giphy.gif)
Whoops, my bad it works 😅

[2018-03-03 08:35] #9558 closed

[2018-03-03 08:55] YugoCode commented on #9558
Is there a command that prints the address/result of **x1 + 8** and not the value at the address?
`pv` always prints the value at the address, but can you evaluate **sp + 0x20** with a command?

[2018-03-03 09:47] radare commented on #9441
So asm.bits changed after loading the pdb? Are you sure you are not loading a 64bit pdb with a 32bit binary?

[2018-03-03 09:48] radare commented on #9558
?v does

[2018-03-03 09:49] radare commented on #9557
Seems like a good addition to rbin. But this implies changing the liblist to return a list of structs instead of strings.

Also, wonder which other fileformats expose this info outside the filename

[2018-03-03 09:50] #9468 closed

[2018-03-03 09:52] radare commented on #9506
Cool!

[2018-03-03 09:53] radare commented on #9554
This is 1loc fix

[2018-03-03 09:53] radare commented on #9417
Yep

[2018-03-03 09:53] thestr4ng3r commented on #9441
Ah yes you are right. I should have noticed by the `rbp`.
No, I compiled the exe+pdb myself in Visual Studio. See the attached zip.

[2018-03-03 10:23] thestr4ng3r commented on #9441
Ok, so `idpi` calls `r_core_bin_load()` for the pdb and that sets `asm.bits` to 64 from the pdb which has been loaded with the `any` plugin. But isn't that kind of a shitty solution in the first place? I would expect it not to touch any global bin state at all, but just load and display the pdb.

[2018-03-03 10:25] thestr4ng3r commented on #9441
I mean, even if you had a 64bit pdb and run `idp` with it, I would think it should only do what `idpi*` tells it to, and nothing else.

[2018-03-03 10:38] xarkes commented on #9441
Yes feel free to modify the behaviour of idp/idpi. Using `r_core_bin_load` was the easiest way to get PDB information (PDB code is a bit shitty).

[2018-03-03 11:02] ret2libc commented on #9467
I'd like to revert https://github.com/sivaramaaa/radare2/commit/868ee152b8c43cad572b29d81c738873c692c9d2 because it's a bit overkill restoring the seek on every exit from the graph and it makes the graph less useful.

This problem, indeed, seems like a bug and the way it was fixed is just a way to hide the original bug. The bug lies somewhere in `asm.emu=true`

Way to reproduce:
[code]

[2018-03-03 11:08] ret2libc commented on #9467
Moreover, the issue doesn't seem to be graph related.
New way to reproduce:
[code]

[2018-03-03 11:17] YugoCode commented on #9558
Thank you!!! :)

[2018-03-03 11:41] thestr4ng3r commented on #9441
Ah ok I think I understand the code now. Seems easy to refactor.

[2018-03-03 15:48] giuscri opened #9564 "Code analysis should auto-resize basic block"
Basic blocks could be resized at run-time instead of specifying a max size.

Right now basic block maxsize is controlled by `eanal.bb.maxsize`. While `aa`, if you go past that value you'll get a warning saying
[code]
You can try to reproduce this via `$ r2 -A ./radare2-regressions/bins/anal/flare_notepad.ex`

See comments to https://github.com/radare/radare2/pull/9533 for some ideas on this.

[2018-03-03 16:06] #9554 closed

[2018-03-03 17:29] giuscri commented on #8504
Can't reproduce this as of 00668df334800762038a77ca666ef46d378650f8
[code]

[2018-03-03 17:46] giuscri commented on #9467
[code]

[2018-03-03 17:58] ret2libc commented on #9467
@giuscri sorry... did you revert your commit (4cb630a60221ab647bc04681f6a0fda3e793bdd3)?

[2018-03-03 18:08] giuscri commented on #9467
yes, both when HEAD is 4cb630a60221ab647bc04681f6a0fda3e793bdd3 or 4cb630a60221ab647bc04681f6a0fda3e793bdd3~1

[2018-03-03 18:14] giuscri commented on #9409
Binary from IO wargame, [level02.zip](https://github.com/radare/radare2/files/1777734/level02.zip)

[2018-03-03 18:20] ret2libc commented on #9467
After talking with @giuscri we found out he couldn't reproduce because he had `asm.comments=false` in his radare2rc.

[2018-03-03 18:20] giuscri commented on #9409
Can't reproduce as of 00668df334800762038a77ca666ef46d378650f8
[code]

[2018-03-03 20:10] kamou commented on #9545
I get your point, but I personally wouldn't kill python 2 support yet. Mainly because I'm using triton which only supports python2 for now. But python 3 support is under development.
So I suggest to only switch from RTLD_LOCAL to RTLD_GLOBAL for now.
If you all agree, I can do a PR.
If you have a better idea, I'll be glad to hear it and maybe implement it.

[2018-03-04 01:16] Qwokka opened #9572 "pd Prints real-mode addresses wrong when scr.color.ops = true"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian Stretch x86_64
| File format of the file you reverse (mandatory)      | MZ
| Architecture/bits of the file (mandatory)            | x86/16
| r2 -v full output, **not trunca

[2018-03-04 01:43] OhioDuckFarmer commented on #8504
While I can confirm that I am unable to reproduce the issue, it looks like there is another issue.  As shown below, after the loading of the project (via Po) the data is no longer available:

    $ r2 -a 8051 ihex://Vend_Ax.hex
    Cannot set bits 64 to '8051'
    Cannot set bits 64 to '8051'
     -- Hold on, this should never happen!
    [0x00000000]> px
    - offset -   0 1  2 3  4 5  6 7  8 9

[2018-03-04 01:59] mscherer commented on #9409
I can still reproduce.

I open the file, do:
[code]

[2018-03-04 02:04] OhioDuckFarmer opened #9574 "Reloading of project causes source data to be blank"
### Work environment

Q: OS/arch/Bits
A: LSB Version:	core-9.20160110ubuntu0.2-amd64:core-9.20160110ubuntu0.2-noarch:printing-9.20160110ubuntu0.2-amd64:printing-9.20160110ubuntu0.2-noarch:security-9.20160110ubuntu0.2-amd64:security-9.20160110ubuntu0.2-noarch
   Distributor ID:	Ubuntu
   Description:	Ubuntu 16.04.3 LTS
   Release:	16.04
   Codename:	xenial

Q: File format of the file you reverse
A:

[2018-03-04 02:06] OhioDuckFarmer commented on #8504
I have created a new issue for this new problem:

[Reloading of project causes source data to be blank #9574](https://github.com/radare/radare2/issues/9574)

[2018-03-04 10:00] Segflow commented on #7405
Not working with the attached binary

[little_tommy.zip](https://github.com/radare/radare2/files/1778348/little_tommy.zip)

[2018-03-04 10:22] #8504 closed

[2018-03-04 11:10] giuscri commented on #9409
Would you share the digest of the binary you're using and your ~/.radare2rc file? Also, are you able to reproduce the bug if you start r2 with the -N option?

[2018-03-04 12:12] mscherer commented on #9409
[code]

And yes, I can still reproduce the bug with -N.

I did copy /levels/level02 again today, just to be sure, but that the same sha1 as the one I had, as the one you uploaded. I also did "make clean" in radare and recompile from HEAD.

[2018-03-04 12:28] mscherer commented on #9409
I even installed radare2 on a new system (running Fedora 27) from git and I can reproduce the issue.

[2018-03-04 14:12] guedou opened #9577 "to makes r2 crash"
The following file makes `to /tmp/crash.h` crash r2:
[code]

### Work environment

[code]

### Expected behavior

Load the structure

### Actual behavior

r2 crash

### Steps to reproduce the behavior

[code]

[2018-03-04 15:19] ret2libc commented on #9417
I think there's a problem here though. It seems like lldb assumes that everything is part of the program to be debugged. So

` lldb "/tmp/program with space" --version` is interpreted as program="/tmp/program with space" and all the rest as arguments to the program.

In r2 case, instead, we still allow r2 arguments after the `-d` flag. So if you do
`r2 -d "/tmp/program with space" --version` this

[2018-03-04 15:51] guedou opened #9579 "to does not load char* member correctly"
char* structure member are not displayed.

Here is a complete example:
[code]
It seems that the type should be `s` instead of `z`.

### Work environment

[code]
### Expected behavior

The string `r2` should be displayed.

### Possible fix

[code]

Here is the output after patching and rebuilding the sdb:
[code]

[2018-03-04 15:54] Maijin commented on #9579
Could you send this as a pull request please ?

[2018-03-04 16:24] ret2libc commented on #9467
I think i found the root cause of the issue. When you enable `asm.emu=true`, there are other commands that are executed when you go in visual mode. Among them, there's a `pf %s%s %s @ 0x%08llx` which sets `core->tmpseek` to true. This value does not seem to be restored to its original value after the command has been parsed, so the offset is restored to the original value before visual mode has be

[2018-03-04 17:27] #9577 closed

[2018-03-04 18:09] guedou commented on #9577
Thanks !

[2018-03-04 19:49] lowlyw commented on #9579
this will just fix it for 32bit, it will remain broken in 64bit i think.

`s` is a 32bit pointer, `S` is a 64bit pointer

[2018-03-04 19:51] lowlyw commented on #9564
i came across this issue in radiff2 also, this would be a nice option imo.

[2018-03-04 20:52] radare commented on #7405
Did you enabled anal.jmptbl? Didnt checked yet but will be good to describe the version of r2 and show where the jmptable is, arch..

[2018-03-04 20:52] radare commented on #8504
Try with prj.simple

[2018-03-04 21:02] #9512 closed

[2018-03-04 21:02] #9441 closed

[2018-03-04 21:12] giuscri commented on #9574
reproduced.

I've changed`rc` of the project and `rc` is actually re-executed when you `Po`.

[2018-03-04 21:24] OhioDuckFarmer commented on #8504
It is my understanding that we are moving away from the "use prj.simple"
response and fixing the actual full prj usage process.

On Sun, Mar 4, 2018 at 3:52 PM, radare <notifications@github.com> wrote:

[2018-03-04 22:53] Segflow opened #9582 "Jump table not working"
While playing with a little binary (attached below), I just noticed that radare2 don't show the jump table in the graph view, while Binary Ninja did. **anal.jmptbl** is enabled using `e anal.jmptbl=true`

### Radare2 version

Build from repo:
[code]

### Expected behavior
Shows the jump table in graph view

### Actual behavior
Simply shows `jmp eax` and nothing more

### Steps to reproduce the beh

[2018-03-04 23:18] #9579 closed

[2018-03-04 23:28] radare opened #9584 "pf *z not working"
works for 32bit only so maybe the way to go would be to go would be *z... but i think we can detect if its widechar or utf8, ascii, etc

see
[code]

<img width="1006" alt="screen shot 2018-03-05 at 00 23 34" src="https://user-images.githubusercontent.com/917142/36952125-0736e2e2-200c-11e8-92d8-f95413d69a78.png">

[2018-03-05 00:49] #9572 closed

[2018-03-05 05:30] l0stb1t opened #9587 "ESIL produces wrong result"
I think I found a bug in esil
[code]
in 64bit mode, mov ebx, eax I think the correct esil string should be
[code]
mov ebp, eax should be
[code]

[2018-03-05 08:17] radare commented on #9587
This is probably a bug in the assembler not in esil

[2018-03-05 08:27] radare commented on #9582
Wheres is this jmp?

[2018-03-05 08:28] radare commented on #8504
No.

[2018-03-05 08:33] XVilka commented on #9587
It is supposed to be solved in https://github.com/radare/radare2/blob/master/libr/anal/p/anal_x86_cs.c#L746
[code]
But apparently register function doesn't consider this as a 64bit destination.

[2018-03-05 08:34] Segflow commented on #9582
At the end of `main` function, block **0x80486db**
<img width="564" alt="screen shot 2018-03-05 at 9 31 52 am" src="https://user-images.githubusercontent.com/2049730/36964799-13c70b12-2058-11e8-8f63-67bdee9f3ef3.png">

And here is how Binary Ninja:

<img width="1324" alt="screen shot 2018-03-05 at 9 33 37 am" src="https://user-images.githubusercontent.com/2049730/36964906-53b28508-2058-11e8-9729-c

[2018-03-05 08:41] #9466 closed

[2018-03-05 08:41] radare commented on #9466
Fixed by @ret2libc

[2018-03-05 08:43] radare commented on #9587
Disassemble the instruction right after assembling and you can see what im refering to. If this is a bug in there, the problem goes to capstone, not r2

[2018-03-05 09:11] radare commented on #9550
uhm cant reproduce now

[2018-03-05 09:13] radare commented on #9387
@XVilka do you wanna try to make a blind fix here?

[2018-03-05 09:14] #9500 closed

[2018-03-05 09:23] radare commented on #8950
MOVING AWAY; TOO MUCH TIME WAITING FOR A REPLY

[2018-03-05 09:25] radare commented on #9550
still reproducible

[2018-03-05 09:28] radare commented on #9550
[code]

[2018-03-05 10:00] XVilka commented on #9387
Checking it

[2018-03-05 10:16] #9545 closed

[2018-03-05 10:20] #9550 closed

[2018-03-05 10:22] #9467 closed

[2018-03-05 10:37] #9524 closed

[2018-03-05 10:58] kamou commented on #9587
I think the problem is here: https://github.com/radare/radare2/blob/master/libr/anal/p/anal_x86_cs.c#L210

[2018-03-05 11:00] kamou commented on #9587
I don't know why getarg is renaming register variants when in 64 bits

[2018-03-05 11:13] radare opened #9588 "P must list the projects"
And we can remove Pl, the P? should show the help

[2018-03-05 11:43] OhioDuckFarmer commented on #9574
Some follow up information:  Setting prj.simple=True will resolve the issue of the data changes to 0x0 when  Po is issued; however, the next time the user tries to use the project the data is not what it should be as now it is all 0xff:

	r2 -a 8051 ihex://Vend_Ax.hex
	Cannot set bits 64 to '8051'
	Cannot set bits 64 to '8051'
	 -- 3nl4r9e y0\/r r4d4r3
	[0x00000000]> px
	- offset -   0 1  2 3  4 5

[2018-03-05 11:44] OhioDuckFarmer commented on #8504
prj.simple causes a new issue.  See my additional information post that I just added.

[2018-03-05 12:30] #9387 closed

[2018-03-05 13:54] XVilka commented on #9587
Ah, it was before the that `dst64` parameter was checked AFAIR.

[2018-03-05 13:59] XVilka commented on #9387
@riverar I fixed the issue (and memory consumption), but if you check the code of the `libr/bin/mangling/microsoft_demangler,c` it is awful and super ineffective. If you want to improve it - you can play with profiler and optimize it. This 60Mb file loads about 10min on my machine, surely we can do better.

[2018-03-05 15:59] radare commented on #9574
And if you type ‘o’ which file is opened?

[2018-03-05 16:00] radare commented on #8504
Ok then we r not going to enable it by default for this release.

Thanks

[2018-03-05 16:26] OhioDuckFarmer commented on #9574
Based upon the results shown below, the original file is not being re-opened.

    Just after saving project and exiting:

    [0x00000000]> Ps vend_ax
    vend_ax
    [0x00000000]> Po
    [0x00000000]> o
    3 - -rw- 0x00000100 malloc://256
    4 - -rw- 0x00000080 malloc://128
    5 - -rw- 0x00010000 malloc://65536
    6 * -r-x 0x00000ead ihex://Vend_Ax.hex

    Staring r2 with project (r2 -p ven

[2018-03-05 16:56] riverar commented on #9387
@XVilka Awesome, thanks! Will play with it indeed. cc: @EvanCarroll can you give this a spin and confirm?

[2018-03-05 17:08] radare commented on #9417
this is the only issue pending to release. we can move it for 2.5 and have more time to discuss and find a better solution and have more time for the next release or just wait some hours and get this into 2.4.

what do you think?

[2018-03-05 17:31] radare opened #9592 "x86nz shift warnings"
<img width="506" alt="screen shot 2018-03-05 at 18 30 32" src="https://user-images.githubusercontent.com/917142/36989903-584b0180-20a3-11e8-8886-e27e8bf55ce5.png">

[2018-03-05 17:42] radare opened #9593 "void* != ut64 in elf parser"
[code]

[2018-03-05 19:07] redmed666 opened #9595 "[ESIL] Calculated address is 64 bits instead of 32 bits when overflowed"
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.13.3
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (mandatory)     | radare

[2018-03-05 21:48] radare commented on #9595
can you paste the hexpairs that construct this snippet to make a test out of it?

thanks!

[2018-03-05 22:58] giuscri commented on #9409
If I'm not mistaken you were using r2 from December 2017.
[code]
Would you please share your current `r2 -v`?

[2018-03-05 23:09] zadlg commented on #9318
I can't reproduce the bug now, however I have the same behavior by hinting CTRL-C during fgets (or scanf or whatever similar), after doing aaaa.

[2018-03-06 00:07] mariolima opened #9598 "Stack Panel doesn't follow stack.bytes"
Stack panel on the Visual Panels View doesn't follow the **stack.bytes** option. With "e stack.bytes = false", the stack should be displayed by words instead of bytes which is not the case in Panel view.

[2018-03-06 00:33] #9318 closed

[2018-03-06 00:34] fcasal opened #9599 "the ihj info does not match the info of ih"
I believe `ih` and `ihj` should show the same info, however this is not the case.
For comparison:
[code]

vs

[code]

[2018-03-06 02:48] XVilka commented on #9599
JSON output is like `iHk` output. But yes, should be harmonized.

[2018-03-06 06:12] adwait1-G commented on #4228
I would like to work on this issue as the micro-task. @c0riolis  , what are the improvements required?

[2018-03-06 06:15] XVilka opened #9600 "Define a constat via "types" command"
Like structure offset will propagate over all immediates. Suggesting `tC` command for that.
 Currently is possible as a part of enum, but would be handy even without enum.

[2018-03-06 07:19] ilovezfs opened #9601 "error: use of undeclared identifier 'r_cons_html_print'; did you mean 'RCons_html_print'"
2.4.0 build fails. Tested on macOS.

https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/19777/version=high_sierra/consoleFull

[code]

Ref https://github.com/Homebrew/homebrew-core/pull/24900

[2018-03-06 08:20] redmed666 commented on #9595
Hi,

Is this ok for you?

[code]

[2018-03-06 09:11] xarkes commented on #7967
If I understood your example correctly, you changed the syntax for the help command from `u?` to `?u`, is that right?
From what I understand your code wouldn't implement any sort of AST?

[2018-03-06 09:37] radare commented on #7967
Wat

[2018-03-06 09:38] radare commented on #9601
Wrong repo. This is not a bug in r2, but in r2b

[2018-03-06 09:55] ilovezfs commented on #9601
meaning https://github.com/radare/radare2-bindings ?

[2018-03-06 10:36] radare commented on #9601
Yes

[2018-03-06 10:43] ilovezfs commented on #9601
https://github.com/radare/radare2-bindings/issues/184

[2018-03-06 10:43] #9601 closed

[2018-03-06 13:08] leberus opened #9606 "Better handling when loading coredump"
cc @radare

I've been thinking for a while that we should have better handling when loading coredumps.
Right now (I'm talking for ELF), the only thing we do is retrieve the registers and spit them to the output so the user has a chance to set it via "arw".
I think we could:

1) Retrieve the register values and set them automatically
2) Retrieve the maps and set them

The good thing about setting t

[2018-03-06 13:19] radare opened #9608 "Cant type nonascii chars in prompt now"
any utf8 wide char is not supported by the r2 shell now. wtf

[2018-03-06 13:32] #9434 closed

[2018-03-06 14:23] radare commented on #9606
Agree. Theres no prefered way. Just design it the best you can think of and we can discuss later on this :)

[2018-03-06 17:08] XVilka commented on #2032
https://github.com/radare/radare2/issues/9608 is also related

[2018-03-06 17:09] XVilka commented on #9606
Keep in mind that the same treatment may be needed for MDMP loading too.

[2018-03-06 17:09] leberus commented on #9606
You can assign this to me if you want

[2018-03-06 17:36] ret2libc commented on #9417
Yes I think it was ok to wait next release for this.
What do you think about what I said before? I'd say it makes sense that whatever is after the `-d` flag, should be considered as program name + its arguments.

[2018-03-06 20:44] radare opened #9611 "#if USE_NEW_FCN_STORE"
its value is 0.. and uses r_listrange so maybe we can remove it because current fcn storage works pretty fast and its been a long time without maintaining that

[2018-03-06 20:50] #9592 closed

[2018-03-06 20:53] MaskRay commented on #9611
What is the purpose of `r_listrange_*` in `libr/anal/fcnstore.c`?

[2018-03-06 21:17] Gromimousse commented on #1267
Is it still an issue ?
It works on my computer (debian x86-64) :

[code]

[2018-03-06 21:20] jvoisin commented on #1267
Is it using an executable stack?

[2018-03-06 21:31] Gromimousse commented on #1267
Not sure about how you check if stack is executable, but checksec says it is NX :

[code]

[2018-03-06 21:32] jvoisin commented on #1267
`strace` it to check if there is a suspicious call to `mprotect` :)

[2018-03-06 21:35] Gromimousse commented on #1267
No call to mprotect :
[code]

[2018-03-06 21:45] jvoisin commented on #1267
Wonderful \o/

[2018-03-06 22:36] rfc2119 opened #9612 "[Visual graph] Pressing "t" doesn't branch to true"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                             |Ubuntu x86 32
| File format of the file you reverse      |ELF
| Architecture/bits of the file            | x86/32

`r2 -v`: radare2 2.5.0-git 17589 @ linux-x86-32 git.2.4.0-14-g88eb6e9
commit:

[2018-03-07 00:59] radare opened #9613 "nopskip ignored by aab"
this is /bin/ls from debian after aab

<img width="836" alt="screen shot 2018-03-07 at 01 58 56" src="https://user-images.githubusercontent.com/917142/37067663-2cefef38-21ab-11e8-89e4-c05a58c5ea17.png">

[2018-03-07 06:39] XVilka commented on #3201
For anyone who wants to dig into jump tables analysis code - most of the code is located in `libr/anal/fcn.c` and some of it is in `libr/core/cmd_print.c`. Just search for `opt.jmptbl`.

[2018-03-07 09:02] radare opened #9616 "Add relocatable-friendly yank-and-paste command"
The `y` command copies bytes, but we want a command that understands the code logic to reallocate the references to make the code work in the different place.

Obviously this will work only in one direction. user must take care of relocating the references to the relocated code. But eventually we can take care of the xrefs in here

[2018-03-07 09:09] radare opened #9617 "Yank with multiple clipboards"
What do when you want to swap the bytes from one place to another? we need disk access to cache that in disk first.. so ideally we may want to have multiple clipboards.. addressed by index or using a stack

[2018-03-07 09:13] radare opened #9618 "Swaping bytes between two offsets"
Related to https://github.com/radare/radare2/issues/9617

What about adding a `w` subcommand to copy from a different location? suggested changes:

* wff -> write from file
* wf -> write from offset (wf 0x10000 10 @ 0x200000) -> writes 10 bytes from 0x100000 into 0x200000)
* improve wf? help message
* default length for write must be blocksize

[2018-03-07 09:13] radare commented on #9618
btw, this wff thing is consistent with the wtf command

[2018-03-07 09:57] radare commented on #9618
Done in cac712d5e3b10603350d3765dc13a89e1a5f55c3

[2018-03-07 09:57] #9618 closed

[2018-03-07 10:29] radare commented on #9612
as a workaround set this in your r2rc:

e graph.dummy=false

[2018-03-07 10:31] radare commented on #9611
make the RList of functions faster to be iterated. But we now have RBTree and other stuff that makes this unnecessary, so probably better to remove old unused code and go for this instead

[2018-03-07 10:49] radare opened #9620 "Add command to show how many bytes are needed for N instructions"
This is basically ao N~size~++=

and yes. im thinking in making grep more smart and be able to do some map-filter-reduce with it

[2018-03-07 10:51] radare commented on #9595
well those bytes are useless because they depend on the values of eax, ebp, esi... i was looking for a self-contained snippet that can test this issue.

[2018-03-07 11:14] redmed666 commented on #9595
Alright, here is an example which is self-contained this time:

[code]

So here, you will see that r2 will write 0x00 at 0x100403579 instead of 0x00403579.

[2018-03-07 12:39] leberus commented on #8864
Hi, I'd like to talk about what I am currently doing to see if we agree or I need to take another way.

  <b>env is an array of pointers</b>

<pre>
1) At first shot, I parse /proc/pid/env to get all env strings
2) I go to the end of the stack and for each env I do:

Taking into account that  <b>env is an array of pointers</b>,
I want to get the addr of the pointer, that points the string:

 2a) Se

[2018-03-07 13:33] redmed666 commented on #9595
I've found where a patch seems to be needed.
In esil.c > esil_poke_n > line 1793 (```ret = r_anal_esil_mem_write (esil, addr, b, bytes);```).
So I could avoid the issue by doing addr & 0xffffffff in order to be sure that the address is a 32 bits one. The issue is I don't know how I can do that in order to be architecture independent.

Do you have something in mind to do that?

[2018-03-07 13:53] ret2libc commented on #9612
https://github.com/radare/radare2/commit/6428824bc6b30872f523ca1497890ce564c83180
https://github.com/radare/radare2/commit/1d81e15424a22afd738831f84ae85fa2a1c7fedd

I'll revert these 2 commits and track down the root cause of the issue.

[2018-03-07 15:51] EvanCarroll commented on #9387
Yep, seems to work now. It's dog slow but it's not segfaulting. Also super slow to run something like `idpi~search`

[2018-03-07 19:05] radare commented on #9387
Performance is always a 2nd step :) want to profile or send a pr improving it?

[2018-03-07 19:59] mscherer commented on #9409
The version is only changed if I run configure again, but usually, I just gut "git pull --rebase && make", assuming this wouldn't cause trouble (or make clean if t doesn't build).

But on the fresh installation:
[code]

[2018-03-07 20:05] mscherer commented on #9409
Ok so that's even worst, I need to erase libr/include/r_version.h or it stay at the date of the first compilation.

[2018-03-07 20:58] ret2libc opened #9624 "Is R_BIN_SCN_MAP still useful?"
I remember adding R_BIN_SCN_MAP because time ago there was no SIOL and we needed a way to distinguish between segments (that are mapped in virtual memory) and sections that were just specified in the binary headers.

Now, since we have SIOL and RIOSections which express exactly the segments, I was wondering whether we need R_BIN_SCN_MAP anymore.

[2018-03-07 21:14] #9612 closed

[2018-03-07 21:33] ret2libc opened #9625 "Split "sections" RBinPlugin callback into "sections" and "mappable""
At the moment, you can't map parts of a file without having a section for it. This means that, for example, in bin_elf.c we have to add fake sections for segments, so that they are then mapped in IO.

See:
https://github.com/radare/radare2/blob/master/libr/bin/p/bin_elf.c#L212

I propose we split the callback in 2:
1. sections which just returns the list of sections as provided in the binary
2. ma

[2018-03-07 21:35] radare commented on #9625
cc @condret

[2018-03-07 22:58] radare commented on #9409
Use sys/install.sh

[2018-03-07 23:55] radare opened #9628 "Add help for > redirection"
[code]

[2018-03-07 23:58] radare commented on #9628
We have `H>` and we must implement `T>`.

Also explain fd redirections like ` 2> /dev/null`

[2018-03-08 06:30] XVilka commented on #8588
@ret2libc if you are working on graphs - can you please check this one too?

[2018-03-08 06:31] XVilka commented on #8062
I think maybe reusing algorithm from https://github.com/radareorg/cutter/issues/366 can help to draw it quicker.

[2018-03-08 06:52] XVilka commented on #4228
@adwait1-G you can compare the output of https://github.com/evanw/unwind and radare2 on different samples.

[2018-03-08 10:28] Gromimousse commented on #3235
The issue is not about having multiple strings in ragg2, but the variable names, as said before.
But ragg2 bugs anyway, I tried to run the code snippet on several machines, and the behaviour is quite messy :
On my own computer (debian x86-64), when I compile with
[code]
 it doesn't recognize the 64 bits architecture and compiles it on 32 bits. So there is one issue here (and by the way it works on

[2018-03-08 11:43] Gromimousse commented on #1267
Actually the result is different on my university computer :O There is a call to mprotect :
[code]
I have to check again but it is possible that ragg2-cc compiled it to 32 bits executable on ___my computer___.

[2018-03-08 12:06] jvoisin commented on #1267
Well, we don't care much about `RW` memory, more about `X`.

[2018-03-08 18:45] Gromimousse commented on #1267
Ok, then it's fine. The executable is normal on my computer as well. Can't say if the problem will appear on different OS though, but it looks ok on debian.

[2018-03-08 22:41] yurivict opened #9636 "SONAME is improperly defined in the shared libs"
For example, libr_util.so has SONAME libr_util.so. This means that when you change interface in the headers, users aren't required to update depending ports.

This is error-prone, and will cause depending ports to fail. There are interface changes between 2.2.0 and 2.4.0.

Normally, SONAME should be libr_util.so.2 or libr_util.so.2.4.

[2018-03-08 23:33] #6756 closed

[2018-03-09 14:10] leberus commented on #9606
Ok, I have got something.
The approach I took is to split it in two parts:

<b>1)</b> $ r2 [corefile] - This will load the maps and the regstate found in the coredump. Only for analysis.
<b>2)</b> $ r2 -d [binary] [corefile] - This will start a new process and set the maps and the regstate to the ones found in the coreudmp. This will be for debugging.

So far, I got the first part working:

<pre>

[2018-03-10 18:48] redmed666 commented on #9595
Hi,

Do you have an idea how I could be sure that the address calculated is in the range of address of the architecture analysed? I think the functions *_esil_mem_{write, read} miss this kind of check.

[2018-03-10 18:55] redmed666 opened #9647 "EAX not updated after an imul during emulation"
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.13.3
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (mandatory)     | rradar

[2018-03-10 23:38] wavvs opened #9649 "pdf does not print instructions after int3"
### Expected behavior
I assume that `pdf` (pdc, pdr, maybe other?) should disassemble whole function, but it can't  disassemble after **int3** instruction. `pd` works as expected.
### Actual behavior
Recorded behavior: https://asciinema.org/a/zCQiST74pLRckCyWcrCOSuisT

### Steps to reproduce the behavior
- Use this binary [lab2.zip](https://github.com/radare/radare2/files/1799910/lab2.zip)

[2018-03-10 23:41] radare commented on #9649
Int3 is a breakpoint, no execution will happen after that. Why it should be considered differently? And pdf, pdr, pdc and others are completely unrelated to the code analysis loops

[2018-03-10 23:46] wavvs commented on #9649
I expect that if `pdf` disas whole function it shouldn't stop at int3, it should disas until last ret instruction, right?

[2018-03-11 00:12] radare commented on #9649
Pdf shows what the previous analysis did. So its not pdf fault. And no, not all functions end with a ret. some do with jmp others with call , others with breakpoint instructions etc

[2018-03-11 00:24] wavvs commented on #9649
Yeah, my mistake, sorry, I meant function in my situation. So it is not an issue or something with analysis?

[2018-03-11 07:18] stek29 opened #9652 "DYLD Shared Cache"
On Apple *OS most libraries are bundled in [DSC](http://iphonedevwiki.net/index.php/Dyld_shared_cache).

It's a massive file with all Mach-O's of different libs glued together, and optimized.

Extraction is cumbersome and leaves many artifacts -- first of all, indirect calls are replaced by direct calls to preresolved locations (except a whitelist which can be found in dyld sources). Since branch

[2018-03-11 09:23] radare commented on #9649
I didnt had time to check this bin with my laptop yet. But one option to skip that would be to add anal hints or tweak the analysis loop or the plugin to make int3 instructions be considered a nop. But anyway i doubt any anyalisis tool will consider an int3 not the end of a function

[2018-03-11 10:03] Maijin opened #9653 "/c and /cj should search also .sub disable/enable"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | OSX / x86/64
| File format of the file you reverse (mandatory)      | ALL
| Architecture/bits of the file (mandatory)            | ALL
| r2 -v full output, **not truncated** (mand

[2018-03-11 10:39] redmed666 commented on #9647
Funny though, esil is correct for a mul operation and eax is correctly updated. So I suspect more and more an issue when converting imul to esil which lead to rax instead of eax and an incorrect multiplication afterward.

[2018-03-11 11:25] redmed666 commented on #9647
Pull request created for imul and idiv: #9654

[2018-03-11 15:33] n4r1b opened #9656 "Add support for extended regex"
Maybe there could be an Evaluable var inside search to add support for extended regex, something like <code>search.extended</code>. Having that we could evaluate that var and modify the second parameter ("e") in function r_regex_new for ex.: https://github.com/radare/radare2/blob/2ecaaf493912a25179116d67d8752dbf87fe3c6d/libr/core/asm.c#L147

This would allow us to do things like this:

[code]

[2018-03-11 15:49] redmed666 commented on #9647
EDX not updated when doing the multiplication or the division. So pull request didn't solve completely the issue.

[2018-03-11 16:17] radare commented on #9656
I think this is achhieved by ending the regex with /e but i dont have a shell to test now. Also that depends on the libc implwmentation

[2018-03-11 16:40] condret commented on #9595
esil only knows 64bit offsets, bc off simplicity in the implementation. Otherwise emulating segmentation/bankswitching would become even harder. we can add a mask for these cases in the generated esil

[2018-03-11 16:45] redmed666 commented on #9595
Ok that explains a lot :)

So, you mean that the ESIL printed would have a "&=" with a mask in order to be sure that the calculated offset is ok?

[2018-03-11 20:03] MaskRay commented on #7967
No. I just gave an example that argument parsing should be done properly, not strchr strstr r_num_math here and there.

[2018-03-11 20:35] xarkes commented on #7967
Yep ok good.

On Sun, Mar 11, 2018, 21:03 Fangrui Song <notifications@github.com> wrote:

[2018-03-11 21:11] redmed666 commented on #9595
Hum, this solution of the ESIL would not too much to implement? I would presume that would impact every "[]" operation, right? And all these operations will use at some point mem_{read, write} so, won't that be easier to modify these functions instead?

[2018-03-11 22:09] n4r1b commented on #9656
I just tried with /e and at least in my PC it didn't work. Hard coding the second param of r_regex_new to "e" did the work. Anyways I thought regex depended on the implementation inside utils/regex I guess that if it depends on libc this is not the best solution but this is way beyond the scope of my knowledge

[2018-03-12 02:10] xambroz commented on #9636
Hello,
there is already undocumented modifier HAVE_LIBVERSION=1 to get the soname versioned.
make HAVE_LIBVERSION=1

$ objdump -x /usr/lib64/libr2.so.2.4.0|grep SONAME
  SONAME               libr2.so.2.4.0

Best regards
Michal Ambroz

[2018-03-12 02:13] yurivict commented on #9636
This should be happening by default.

[2018-03-12 08:28] radare commented on #9636
We can evaluate to change this  in next release. But only for make builds. Meson builds will need to change, and this is something that doesnt works on windows

[2018-03-12 08:34] radare commented on #9656
Can you send a pr? Didnt checked the code when i replied. I was not in laptop but iirc default is util/regex so just enabling the “e” may be enough

[2018-03-12 09:07] n4r1b commented on #9656
Oky, I'll send a pr tonight

[2018-03-12 11:33] #2227 closed

[2018-03-12 11:49] radare commented on #9656
Thanks!

[2018-03-12 11:52] radare commented on #9595
Maybe we can add an addrsize variable in the ESIL vm to specify the size of the memory address bus, to apply that mask when accessing memory for read and write operations. Instead of modifying all esil expressions to behave like this. That will be clearner imho

[2018-03-12 11:53] radare commented on #9606
Cool!

[2018-03-12 12:20] redmed666 commented on #9595
So, I would presume that would mean to add ut64 addrsize in the RAnalEsil struct, initialize it in r_anal_esil_new and use it as a mask from the *_mem_{read,write} functions?

[2018-03-12 13:47] xambroz opened #9665 "radare2 2.4.0 release has issues with the color console"
Hello,
there is some issue in the 2.4.0 release which causes the radare2 fail to initialize the color of the prompt (and some other dialogs like list assembly with pdf, visual mode assembly, zoom mode etc.)

GOOD - This is how it looked like in 2.3.0 (same machine, same dependencies):
![screenshot from 2018-03-12 14-03-44](https://user-images.githubusercontent.com/723625/37285104-d3ec24de-25f5-11e

[2018-03-12 14:04] XVilka opened #9666 "lines with comments do not use Unicode reflines"
[code]
in case of two lines with `; JMP XREF` reflines were not updated from ASCII to Unicode characters (from `:` to `⁝`)

[2018-03-12 14:07] xarkes commented on #9665
Oh. Can you try with various configurations of `scr.color`?
Does it happen when `scr.color` is set to 1? To 2? To 3?
Does calling `ecd` fixes that issue?

[2018-03-12 14:10] radare commented on #9665
If undefined behaviour buld with asan or run with valgrind and share logs. But better check only git than release

[2018-03-12 14:11] radare commented on #9665
Also share your radare2rc or try with an empty one

[2018-03-12 14:11] radare commented on #9666
Cc @kazarmy

[2018-03-12 15:01] radare commented on #9595
Then that would be called addrmask :P but yep that was the idea. Maybe addrmask makes more sense

[2018-03-12 17:33] xambroz commented on #9665
[code]

[2018-03-12 17:43] radare opened #9671 "Improve 6502 with instructions and invalid instructions"
* https://www.pagetable.com/?p=39
* http://nesdev.com/undocumented_opcodes.txt

[2018-03-12 19:16] redmed666 commented on #9647
Pull request in radare2 #9659  and radare2-regression #1230 (build was failing because I haven't updated the regression test)

[2018-03-12 19:18] redmed666 commented on #9595
Hehe :D Ok perfect, I will work on that :) Question about the initialization of addrmask: from where could I know the size of the addresses in the context of esil?

[2018-03-12 20:29] redmed666 commented on #9595
Pull request #9673 :)

[2018-03-12 22:25] condret commented on #9595
gb abuses this for the bankswitches

[2018-03-12 22:44] radare commented on #9665
e scr.color=2

it is no longer a boolean

[2018-03-12 22:50] condret commented on #9595
i think the generated esil should look like this ´´´´dl,esi,0x412345,+,0xffffffff,&,=[1]´´´´

pls keep things like real-mode exist, 16-bitness can access 20-bit offsets.

[2018-03-12 22:52] radare commented on #9595
we will have to change a lot of esil expressions if we do it like this and to become longer. because every one with [] will require that & before. imho is better to make it into the esil state configurable by the user and set by core when used

[2018-03-12 22:56] condret commented on #9595
at least don't make the esil api use the rconfig directly, should be independent from an r2-instance. I personally prefere these operations to be setup by the plugin. lots of things depend on this working as it does atm. everything that has bankswitching or segmentation

[2018-03-12 22:59] condret commented on #9595
can we make this special implementation a set of customops, that override the default ops?

[2018-03-13 00:40] xambroz commented on #9665
Sure ... but you would expect to error gracefully or interpret "true" as 1 or 2.
Instead it starts behaving flaky with parameters saved by radare2 itself in the past or/and recommended in other materials like:

$ grep -a -n -o -R -e "scr.color[ ]*=[ ]*true" *
libr/core/rtr.o:47:scr.color=true
libr/core/libr_core.so:6081:scr.color=true
libr/core/rtr.c:189:scr.color=true
shlr/www/m/legacy.js:1:scr.c

[2018-03-13 00:49] xambroz opened #9676 "command "ecs" ends in infinite loop in scr.color = 2"
The command "ecs" ends in infinite loop in scr.color=2.
![image](https://user-images.githubusercontent.com/723625/37316560-c6be7034-2657-11e8-8498-e0edded7d16c.png)

It works for scr.color=0 or scr.color=1.

[2018-03-13 05:46] redmed666 commented on #9595
So if I understood correctly, a possible solution would be to add an option in esil that the user needs to switch on in order to make it work like that? And the default would set the addrmask to 0xffffffffffffffff so that would be like before?

[2018-03-13 06:37] redmed666 commented on #9595
@condret: I was wondering regarding your solution with esil: how something using a bankswitch wouldn't be impacted by that? I presume the esil produced by this case would be the same, no?

[2018-03-13 08:42] radare commented on #9676
Cc @xarkes

[2018-03-13 08:43] radare commented on #9665
Is this the problem?

[2018-03-13 08:47] radare commented on #9595
Too much work for just a test imho this doesnt needs to be that complicated

[2018-03-13 08:47] radare commented on #9595
Yes

[2018-03-13 09:18] xarkes commented on #9676
It used to be looping on an integer, so the condition `r <= 0xff` would eventually be true. Now that we use `ut8` it just overflows and loops infinitely.

[2018-03-13 10:41] #9665 closed

[2018-03-13 10:46] radare commented on #9676
fixing now

[2018-03-13 10:52] #9676 closed

[2018-03-13 11:34] #9656 closed

[2018-03-13 13:59] xambroz commented on #9665
Tested - works for me.

[2018-03-13 14:41] #9666 closed

[2018-03-13 15:39] guedou opened #9682 "[rafuzz2] commands that crash r2"
I started a new `rafuzz2` campaign a found the following crashes that a checked manually.

I will update the list with fixed and newly found crashes until this issue is closed.

### Work environment

OS: Debian

[code]

### Steps to reproduce the behavior

Triggered with `r2 -`:
- [ ] pCx44444444vd
- [x] pbij 10g{j 10g{|
- [ ] pI 4444444444444
- [x] ~~/c.. and /cA~~
- [x]  aespd +oobt

Triggered w

[2018-03-13 16:27] leberus opened #9683 "Debugger: push testsuite forward"
I'd like to push our debugger's tesuite forward, so we are notified whenever anything breaks down.
I though about going through <b>./t.archos/Linux-x86_64/dbg_*</b> and check their output
I saw that few of them are broken, or at least not returning the expected output, which might be because: a) either we have to tweak the expected output or b) fix the debugger behavior, all depending on what we s

[2018-03-13 16:33] XVilka commented on #9683
Do it. Travis-CI cannot test debugger, but afaik AppVeyor can and our CI (Jenkins)

[2018-03-13 16:43] XVilka commented on #4199
Good introduction to the subject https://yurichev.com/blog/de_bruijn/

[2018-03-13 19:37] MaskRay commented on #4199
The algorithm on Wikipedia is very intricate

The recursive Fredricksen-Kessler-Maiorana algorithm with the modulo restriction generates de Bruijn sequence.

FKM algorithm forms a De Bruijn cycle.  -- Combinatorial Generation

I stumbled upon this a few days ago in https://github.com/abo-abo/avy/blob/master/avy.el#L298

[2018-03-13 22:53] Daniele-B opened #9687 "Can't open rarun2 file"
I got a problem using rarun2 files on Fedora 27: everytime i try r2 output is "permission denied".
It isn't a problem of permissions, if i run r2 with sudo command output is the same.
Also if i try to run `r2 -e dbg.profile = blabla.rr2` (without specify filename in the commandline) radare2 doesn't open.
### Work environment

| Questions                                            | Answers
|------

[2018-03-13 23:23] condret commented on #8840
I just saw the fix, now it doesn't behave as expected

[2018-03-14 03:09] #9608 closed

[2018-03-14 06:36] XVilka commented on #8522
I removed old leaks, added new ones, updated the comment. In fact there are more it seems.

[2018-03-14 06:40] leberus commented on #9687
Somehow it doesn't escape whitechars:

[2018-03-14 07:20] P4N74 commented on #8522
I had worked on removing leaks coming from dummy nodes creation but didn't get time to work in it for past 1.5 weeks.. I will pull the master and re-check it. Also there was one regression issue which caused use-after-free in one of the graph mode (or layout, that is changed using `p`) and leaks in sdb (I think this one is fixed as it is not shown in this one)..

[2018-03-14 07:47] XVilka commented on #8522
@P4N74 no, I just omitted leaks not related to the graphs code.

[2018-03-14 08:59] obskyr commented on #8967
Make sure this supports files generated by [RGBDS](https://github.com/rednex/rgbds) too! The syntax is very similar, if not identical. Banks should be supported too.

Example:

[code]

[2018-03-14 12:00] radare opened #9690 "zfs to open all signatures matching a glob"
zfs must open directories or handle glob syntax to open multiple signatures (even if signatures are not in the same dir)
Current solution:
[code]

[2018-03-14 12:11] mrexodia commented on #8840
What exactly goes wrong @condret?

[2018-03-14 15:38] jnbr opened #9693 "Hard coded ld breaks cross compiling"
Previous releases of radare2 could be easily cross-compiled.
This is not the case for the latest version 2.4.0.

The reason is the hard coded `ld` in `${PARTIALLD}` introduced in: https://github.com/radare/radare2/commit/dcd1ef1c6bb136337113b3ec17adb0d42dcaf4cb.
I fixed it for Voidlinux, by replacing `ld` with `${LD}`: [voidlinux-patch].

I think `${LD}` should be used instead of `ld` in all place

[2018-03-14 15:38] leberus commented on #9682
<b>aespd +oob</b> seems to have been solved by #9688 as well

[2018-03-14 19:43] xambroz commented on #9687
Having Radare 2.50 on fedora 27 as well.
The issue seem really about the whitespaces in the rarun2 file.

This works:
program=/bin/ls

![image](https://user-images.githubusercontent.com/723625/37426506-972145dc-27be-11e8-8886-fa027c17f776.png)

This doesnn't work:
program = /bin/ls

![image](https://user-images.githubusercontent.com/723625/37426596-dbf37f22-27be-11e8-8f5f-a326dacad290.png)

[2018-03-14 20:40] Daniele-B commented on #9687
1.` [Mercurio@localhost Root_me]$ ls -la ch18.bin`
`-rwxrwxr-x. 1 Mercurio Mercurio 5240 13 mar 21.10 ch18.bin`
`[Mercurio@localhost Root_me]$ ls -la ch1.bin`
`-rwxr-xr-x. 1 Mercurio Mercurio 7339 26 nov  2009 ch1.bin`

2. I tried both: i tried to do `r2 ch18.bin -e dbg.profile = blabla.rr2` with program = ch8.bin into rr2 file, and i tried `r2 -e dbg.profile = blabla.rr2` with program = ch1.bin.

[2018-03-14 21:54] radare commented on #8522
cant reproduce, please refresh those logs

[2018-03-15 00:40] radare commented on #9687
Its not a feature. Do you want to try to make the patch to fix this issue? There’s another issue discussing the same topic iirc

[2018-03-15 01:00] xambroz commented on #9687
Still the "permission denied"  is strange - I do not have any explanation for that one.
Please @Daniele-B could you try running with "strace r2 -e dbg.profile = blabla.rr2"  to see access to which file si being denied.

Also would you consider trying with the rpm build for Fedora whether the issue would be the same?
Here is RPM for the today's commit :100:
https://copr-be.cloud.fedoraproject.org/r

[2018-03-15 05:52] XVilka commented on #8522
Still reproducible.
Did
`r2 /bin/ls
aaa
s main
VV
... scroll, jump to other functions, go back/undo
V!
... tab multiple times
q
`
Here is the full output:
[code]

[2018-03-15 06:32] gsharpsh00ter opened #9697 "radare2 command "ac" heap buffer overflow read"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux ubuntu 4.8.0-59-generic #64-Ubuntu SMP Thu Jun 29 19:37:59 UTC 2017 i686 i686 i686 GNU/Linux
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits

[2018-03-15 08:26] Maijin opened #9698 "Add a basic man ascii in r2"
Add a basic man ascii in r2 from @radare

[2018-03-15 08:59] radare opened #9699 "Add command to show ascii table"
Maybe also add it into the rax2 manpage (or in rax2 itself)

[2018-03-15 10:11] #9698 closed

[2018-03-15 13:29] r00tus3r commented on #9699
Please merge my pull request
https://github.com/radare/radare2/pull/9703

[2018-03-15 17:22] samouy opened #9704 "Opening ELF in write mode throws "r_io_create: Permission denied" error"
Hello there !

I would like to report the following issue :

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 9/x86/64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandator

[2018-03-15 17:25] thestr4ng3r commented on #9704
Works for me at least:
[code]
Are you really sure you have write permissions to that file?

[2018-03-15 17:29] samouy commented on #9704
Which permissions do you have on your side ?
I checked and modified the file's permission and tried to reopen it with different modes :

Fails :
`-rwxr-xr-x 1 sam sam 884 Jun  3  2012 ch13`
`-rwxrwxr-x 1 sam sam 884 Jun  3  2012 ch13`
`-rwxrwxrwx 1 sam sam 884 Jun  3  2012 ch13`

[2018-03-15 17:30] thestr4ng3r commented on #9704
Same:
`-rwxr-xr-x 1 florian users 884 15. Mär 18:24 ch13`
Then it really seems to be a bug.

[2018-03-15 18:52] cothan commented on #9704
It works normally on my side.
[code]

[2018-03-15 19:49] pelijah commented on #8950
ping @XVilka

[2018-03-15 22:00] Daniele-B commented on #9687
@radare I don't have knowledge about radare internals, so i'd prefer not

@xambroz i attacched the output on this message cause its big. Here is: [ch1.log](https://github.com/radare/radare2/files/1817160/ch1.log)
I've updated Fedora at the lastest version today and the output still the same.
"permissions denied" shows only when i add filename on commandline and i type `ood` on radare2 shell.

[2018-03-16 09:45] #9595 closed

[2018-03-16 10:11] Maijin opened #9705 "Missing /mj, /vj and /Vj"
We are missing JSON output for:

* [ ] /mj
* [ ] /vj
* [ ] /Vj

This is required for https://github.com/radareorg/cutter/issues/396#issuecomment-373670280

[2018-03-16 10:28] radare opened #9706 "Use this script to generate macOS signing certificate"
https://github.com/derekparker/delve/blob/a8d11f02a85e99144111afb784cde059ea3faab1/scripts/gencert.sh

instead of pointing the user to a boring interactive guide to do the steps by hand clicking on widgets

[2018-03-16 10:45] radare opened #9707 "aos is not working"
[code]

[2018-03-16 10:47] radare opened #9708 "Rename ab into a8 or ax"
[code]

[2018-03-16 10:51] radare opened #9709 "Add afb subcommand to get inputs and outputs of the basic block"
This is. which registers are read for the first time and which ones are set before quitting the bb

Right now we have aeaf that does this, but for the whole function, not for one basic block
[code]

[2018-03-16 10:52] radare opened #9710 "Make ar=/dr= accept a list of space/comma separated list of registers to show"
instead of
[code]
should be
[code]

[2018-03-16 10:53] radare commented on #9710
this will allow us to easily implement the command to get the register values only showing the registers involved in a function or basic block or portion of code.

[2018-03-16 10:53] radare commented on #9709
afbi seems a good place for this, and this command should expose more info about the basic block

[2018-03-16 10:54] radare commented on #9228
cc @condret similar to gb bankswitch

[2018-03-16 10:55] radare commented on #9606
can we close this now?

[2018-03-16 10:55] radare commented on #9709
afi should list the regs used in the function

[2018-03-16 10:56] radare commented on #9006
closing?

[2018-03-16 11:01] leberus commented on #9606
No please.
I would like to start with the part 2 of this, which should be loading the binary for debugging with the status of the coredump, just as gdb does with "gdb [binary] [coredump]".
I am planning to start soon.

[2018-03-16 13:29] leberus commented on #9710
Something like?

<pre>
$ r2 gcore-x86_64
Setting up coredump: asm.arch <-> x86 and asm.bits <-> 64
Setting up coredump: Registers have been set
Setting up coredump: 13 maps have been found and created
 -- I am Pentium of Borg. Division is futile. You will be approximated.
[0x00000000]> ar=rax rbx rcx
 rax 0xfffffffffffffdfc   rbx 0x7ffe187ca7a0       rcx 0x7fa434a03040
[0x00000000]>
</pre>

It's a

[2018-03-16 14:04] leberus commented on #9710
Maybe we can use another <b>ar</b> command to specify the size.

[2018-03-16 14:39] #9006 closed

[2018-03-16 16:00] radare opened #9713 "ROP classification not working if setup is not done properly"
There are several issues in the current rop gadget classification code:

* [ ] esil.stats=1 + esil.romem=1 + aeim is required,
* [ ] no error messages are shown if those vars are not set
* [ ] we probably want to use io.cache or pcache whatever
* [ ] Multiple Sdbs are created to hold all the rop types.
* [ ] We may probably want to use only 1 Sdb and store stuff using a different syntax (const/0x1

[2018-03-16 16:00] radare commented on #9713
Also, we probably want to have more classifications

[2018-03-16 17:18] Gromimousse commented on #9713
As for esil.stats and esil.romem, should we modify them in core/cconfig.c directly ? And it doesn't seem like aeim is required to make classification works. I mean, I just set romem and stats to true and it worked for me.
And what are io.cache/pcache for ? I may try to do this this weekend (and merge the multiple sdb into one).

[2018-03-16 19:03] leberus commented on #9704
I couldn't reproduce this either.
Could you try to debug it and see where it goes wrong.
Or strace it with "-e open"

[2018-03-16 19:09] radare commented on #9713
I think /R should set thise vars and restore the origina value after that when rop.db is true

[2018-03-16 19:20] xambroz opened #9714 "Visual Flags mode not available as VF"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 27 x64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | 64
| r2 -v full output, **not truncated** (mand

[2018-03-16 19:27] xambroz commented on #9714
Exactly the same applies to the Visual types.
Was available as "Vt". Is not available now directly although it is in the help of the Visual mode "V".
![image](https://user-images.githubusercontent.com/723625/37540646-a891e834-294f-11e8-8b0e-7e802d4f395a.png)
![image](https://user-images.githubusercontent.com/723625/37540656-b267c46e-294f-11e8-8e5e-b815526c6c7c.png)

Pressing "t" in visual mode als

[2018-03-16 20:06] davidpolverari commented on #9699
I think this one was already implemented by e16b1ef1c8213e3da377096890399f43592d45ea. Should it be closed?

[2018-03-16 21:30] radare commented on #9710
Oh right.. we can then use a different syntax like maybe prefix with : or comma to separate size and names

[2018-03-16 22:09] #9699 closed

[2018-03-16 22:10] radare commented on #9699
Yes. Thanks! You can autoclose issues if you put “Fix #issuenumber” in the commit message

[2018-03-16 22:11] radare commented on #9714
No. Everything is under Vb now

[2018-03-16 22:42] xarkes opened #9716 "agj behaviour (graph.from, graph.to)"
Currently `agj @ 0` prints all the functions from the binary into a single json array.
I think this is used to check whether the user wants to use a range.
* If addr == 0 and range is set, check that range
* If addr == 0, list all the functions
* Else list only the functions at our offset

This is not a valid behaviour to me because if a user seeks to 0 in Cutter (it can happen sometimes) then it'

[2018-03-17 01:29] radare commented on #9716
Yep i agree the agj behaviour is confusing. Theres an issue to discuss all the commands and their use cases to cover all possible graphs we can be interested on. May be good to move the discussion there.

[2018-03-17 01:49] radare commented on #9693
Can you send a pr fixing this? Maybe setting partialld as ld when its set?

[2018-03-17 01:53] radare commented on #9683
Go for it

[2018-03-17 02:43] XVilka opened #9717 "If `asm.linesright=true` draw function lines along with jumplines"
Currently the option only moves reflines, but it make sense also to draw the function lines along with those, not in the old leftmost position. Maybe also moving the flagname to the right make sense.

[2018-03-17 02:45] XVilka commented on #9714
Send a PR to the radare2-book https://github.com/radare/radare2book

[2018-03-17 02:51] XVilka opened #9718 "`asm.ucase=true` damages the immediate values"
Before setting `asm.ucase=true`:
[code]
After:
[code]

Note the line `ldr.w ip, [0x00000008]` became `LDR.W IP, [0x0000000c]`

[2018-03-17 02:54] XVilka opened #9719 "Visual preview for the `graph.*` variables changes in `Ve` mode"
Like it is done for the disassembly preview when changing `e asm.*` variables.

[2018-03-17 08:47] Gromimousse commented on #9713
Actually the multiple sdb are sub ns from the global "rop_db" sdb, isn't it ? Isn't it good ?
Maybe another problem is that the rop_db is created and gadgets are classified each time we call print_rop, but gadgets aren't gonna change between 2 analysis... So perhaps we should check if the rop_db already exists before trying to create a new one ?

[2018-03-17 09:05] radare commented on #9719
It’s Vbe now but yep this seems like a nice thing to have

[2018-03-17 09:06] radare commented on #9718
Weird

[2018-03-17 09:13] radare commented on #9717
A mockup would be helpful to understand that

[2018-03-18 04:45] daddesio commented on #6751
Hi, I was getting the exact same errors as @kuh3h3. The solution is to provide `--with-os=windows` to configure. This fixes all issues for me under msys2 (except for a minor issue when running the final `make w32dist`).

The default setting `--with-os=auto` causes mk/platform.pk to calculate OSTYPE based on the uname `OSTYPE=$(shell uname | tr 'A-Z' 'a-z')` but without stripping the NT version. On

[2018-03-18 14:11] #9611 closed

[2018-03-19 00:03] jnbr commented on #9693
I do not understand what you mean by:

#9720 should fix though.

[2018-03-19 03:39] #9693 closed

[2018-03-19 04:52] bannsec opened #9721 "VV Graph inside Panels view?"
Is it possible to put the Very Visual view inside the panels view? Primarily, I would find it helpful to be able to graphically step through a program (how VV does today), but with the added context of being able to watch the registers change or other enhancing information.

[2018-03-19 07:46] leberus commented on #9710
I thought about something like:

<pre>
ar=rax rbx
ar=eax ebx ecx
ar=:32
ar=:16
</pre>
Could we also mix different sizes?

<pre>
ar=ebx rcx
</pre>

PD: Why is this marked with the esil label. Is this meant to be done with <b>esil</b>?

[2018-03-19 08:39] radare commented on #9721
VV is graph view, is this what u mean?

[2018-03-19 08:40] radare commented on #9710
That would break compat. I was thinking in dr=32:rax rbx rcx

[2018-03-19 08:45] leberus commented on #9710
And the output of

<pre>
dr=32:rax rbx rcx
</pre>

should be:

1) Show all 32bits registers in colums + rax rbx and rcx in columns as well
2) Or show 32bits form of rax rbx and rcx

[2018-03-19 09:00] radare commented on #9710
3. Nothing because rax and rbx are not 32 bit registers :D

[2018-03-19 09:14] radare commented on #7522
I was obviously jk. I hate the whole python ecosystem and i wonder why the hell this is not working. Because r2 should not be modifying any environmnt that can affect virtualenv

[2018-03-19 09:18] leberus commented on #9710
Yes, that's what I thought it would show the 32bits form of those.
So I guess we are left with:

1) <b>dr=:8/16/32/64</b> -> will show all registers in columns for the specified size
2) <b>dr=:[size][reg1] [reg2] [reg..]</b> -> will show only those registers for that specified size (in case they are valid, for example: <b>dr=:32 ebx eax</b>)
3) <b>dr=[reg1][reg2][reg..]</b> -> will show only those

[2018-03-19 09:20] radare commented on #9710
The idea is that whats after : will filter the regs that wouldbe shown. And the number if found will select the bits

[2018-03-19 09:21] radare commented on #9710
Noes! The other way around, to not break compat

dr=([size])(:[regs...])

[2018-03-19 09:37] leberus commented on #9710
Understood ;-)

[2018-03-19 09:45] radare commented on #9713
We can use. A single sdb for everything, making it easier to save in a project and move around. But its ok as its now, could improve that way i think.

And yep we shuokd reuse that db instead of creating. A new one each time. Also we may want to have. Acommand to reset that db

[2018-03-19 09:45] radare commented on #6751
Can we get a generic solution in a pr?

[2018-03-19 09:58] radare commented on #9697
cant reproduce

[2018-03-19 10:00] radare commented on #9697
And the code looks good to me. Its using strbuf.append. Can you try again with a clean asan build from git?

[2018-03-19 10:02] radare commented on #9682
ocmx doesnt crashes for me

[2018-03-19 10:38] radare commented on #9682
The only crash i get now is with the o—- which is a pain to fix and im starting to think in ways to solve it, the others i cant reproduce. Could you?

[2018-03-19 10:56] radare commented on #8864
will be good to have some generic code to do all this stuff, and yeah, via r_egg calling setenv() can be probably the cleaner way to do that, but we probably need to improve dx and such. if you are in the mood, that would be a good thing to improve

[2018-03-19 11:11] radare commented on #3235
the number after .var specifies the offset .var0 and .var1 are 1 byte away, and ragg realign those pointers, to be 0 both, so just use proper naming and it should work

[2018-03-19 11:50] Maijin commented on #6751
As said, Open a new issue please....

[2018-03-19 15:14] bannsec commented on #9721
So i mean, inside the `V!` view, on the left, i see a disassembly view of the program. I'd like to be able to switch that view out for the view i get with "VV". Meaning, I can see "VV" on the left as well as panels around it.

[2018-03-19 15:42] guedou commented on #9682
I edited  the list of commands after testing them against e1b85f623beb0b69c74af3a5e33fd51efb292e8c ocmx does not crash anymore.

All of them are segfaulting on two different Debian systems.

[2018-03-19 16:23] radare opened #9724 "ROL/ROR not working"
wtf

[code]

[code]

[2018-03-19 16:28] radare commented on #9682
thanks for the update

[2018-03-19 16:59] radare commented on #9465
Well, i'm pretty short in time, but yep ill try to get this issue fixed before 2.5

[2018-03-19 17:03] radare commented on #9721
there are some things to solve and refactor in panels to get this working because it requires the canvas to not be cropped at first and not updated unless seek changes, thats why its not in there and thats why jumping into graph mode from panels results in full interactive graph view and not in a frame.

[2018-03-19 17:43] traceprobe opened #9725 "heap-buffer-overflow in r_asm_disassemble (asm.c:475)"
Working environment:
OS/arch/bits: Ubuntu x86 64
File format of the file you reverse: Dalvik dex
Architecture/bits of the file: Arm/dex version 035
r2 -v output:
radare2 2.5.0-git 17694 @ linux-x86-64 git.2.4.0-175-gd45faff
commit: d45faff871c285a1daed7d051af0bc73f017fa69 build: 2018-03-19__13:29:29

Expected behavior: successfully analyzing dex file
Actual behavior: heap-buffer-overflow under ASA

[2018-03-19 17:46] traceprobe opened #9726 "heap-buffer-overflow in dalvik_op (anal_dalvik.c:92)"
Working environment:
OS/arch/bits: Ubuntu x86 64
File format of the file you reverse: Dalvik dex
Architecture/bits of the file: Arm/dex version 035
r2 -v output:
radare2 2.5.0-git 17694 @ linux-x86-64 git.2.4.0-175-gd45faff
commit: d45faff build: 2018-03-19__13:29:29

Expected behavior: successfully analyzing dex file
Actual behavior: heap-buffer-overflow under ASAN

Steps to reproduce the behavio

[2018-03-19 18:03] traceprobe opened #9727 "heap-buffer-overflow in get_ivar_list_t (mach0_classes.c:311)"
Working environment:
OS/arch/bits: Ubuntu x86 64
File format of the file you reverse: Mach-O
Architecture/bits of the file: arm subarchitecture=11
r2 -v output:
radare2 2.5.0-git 17694 @ linux-x86-64 git.2.4.0-175-gd45faff
commit: d45faff build: 2018-03-19__13:29:29

Expected behavior: successfully analyzing dex file
Actual behavior: heap-buffer-overflow under ASAN

Steps to reproduce the behavior

[2018-03-20 08:01] gsharpsh00ter commented on #9697
I can reproduce the issue on my **32bit** ubuntu linux box:
[code]
The issue was reported by AFL. I build radare2 with the following commands:
[code]
Please have a try, I believe it can be reproduced.

[2018-03-20 08:33] #9647 closed

[2018-03-20 10:51] samouy commented on #9704
Hello,

thanks for your replies. After rebooting, I opened the file successfully in write mode. I don't know where this error came from... Thanks for your help guys !

[2018-03-20 10:51] #9704 closed

[2018-03-20 17:52] radare commented on #9697
do you want to try to fix it?

its probably not reproduceable on 64bit, will have to find some time to setup a 32bit environment but im a bit busy right now

[2018-03-21 01:53] chrstphrchvz commented on #6787
There is an ancient GNU toolchain for 68hc11/68hc12, if that is of any help: https://www.gnu.org/software/m68hc11/

[2018-03-21 05:09] xambroz commented on #9687
Interesting - in the strace we can see that some directories are not where it should be, but nothing about permission denied. Possibly it could be in some sub-process.
Please can you try with the "-f" option to strace to follow also on the forked processes?

Something like:
strace -f r2 -e dbg.profile = blabla.rr2
strace -f r2 -e dbg.profile = blabla.rr2 2>&1 | grep -i -E "open|perm"

[2018-03-21 09:07] redmed666 commented on #9724
Hum, seems to be inverted?

[code]

[2018-03-21 09:09] #9708 closed

[2018-03-21 09:47] Maijin commented on #6787
It was already in @condret message but thanks.

[2018-03-21 11:05] radare commented on #9724
Esil works like this. Arguments are popped form the esil stack, other ops like - and / behave the same way

[2018-03-21 11:06] radare commented on #6787
Making an r2 plugin out of the binutils code is about half an hour of work, anybody wants to give it a try?

[2018-03-21 13:11] redmed666 commented on #9724
Ho right sorry, I misread your issue and thought that you were waiting for "1" in your example for ``` "ae 2,1,>>".

[2018-03-21 15:04] #9726 closed

[2018-03-21 15:23] #9725 closed

[2018-03-21 15:31] #9727 closed

[2018-03-21 15:37] xarkes commented on #8989
Fix this please.

[2018-03-21 17:05] andreafioraldi opened #9743 "Load a project and a binary together"
There is a way to load a binary and a project associated to the binary in a contemporary way?
Projects does not store information about imports or the path of the analyzed binary (oj) for example and I need this informations in my session when i open a project.

[2018-03-21 17:30] redmed666 commented on #9582
Hello! I could have the jump table correctly analysed.
Did you set the anal.jmptbl to true? (``` e anal.jmptbl=true```)
After that, I did a ```aa``` and I could have the complete jump table as you can see below :)

<img width="1306" alt="screen shot 2018-03-21 at 18 26 46" src="https://user-images.githubusercontent.com/15695476/37726378-805f29e6-2d35-11e8-953a-3d9c66d56507.png">

[2018-03-21 18:12] pelijah commented on #9636
I can make it for Meson but there is no way to do it optional. In this case Meson will generate such names on Windows: `r_util-2.5.0-git.dll`. This will break Cutter build for WIndows.

[2018-03-21 18:17] pelijah commented on #9636
But we can rename libs on installing step in sys/meson.py.

[2018-03-21 19:35] Maijin commented on #9582
@redmed666 is this with @Segflow binary?

[2018-03-21 19:36] redmed666 commented on #9582
Yup

[2018-03-21 19:38] Maijin commented on #9582
ok then this can be closed, could you add a test ?

[2018-03-22 09:44] ret2libc opened #15583 "Unit tests should output [XX] in case of error"

[2018-03-22 13:47] Xilokar opened #9749 "ahb side effects"
### Work environment
Ubuntu x86 64
raw binary
arm/thumb
radare2 2.5.0-git 17697 @ linux-x86-64 git.2.4.0-178-ge0086d7d7
commit: e0086d7d701763c91f31c5875a47717138811210 build: 2018-03-20__14:02:38

### Expected behavior
setting ahb will only impact asm.bits of the upper range

### Actual behavior
asm.bits is modified by the last ahb encountered

### Steps to reproduce the behavior
r2 -aarm -b32 ar

[2018-03-22 13:57] Xilokar opened #9750 "ahb should be overriden by @b:"
### Work environment

Ubuntu x86 64
raw binary
arm/thumb
radare2 2.5.0-git 17697 @ linux-x86-64 git.2.4.0-178-ge0086d7d7
commit: e0086d7 build: 2018-03-20__14:02:38

### Expected behavior
@b: should override any ahb set in the range

### Actual behavior
@b: only override the ahb set at the beginning of the current offset

### Steps to reproduce the behavior

[code]

ahb is not overriden by @b: dir

[2018-03-22 14:40] Xilokar opened #9751 "@b directive may delete ahb"
### Work environment
Ubuntu x86 64
raw binary
arm/thumb
radare2 2.5.0-git 17697 @ linux-x86-64 git.2.4.0-178-ge0086d7d7
commit: e0086d7d701763c91f31c5875a47717138811210 build: 2018-03-20__14:02:38

### Expected behavior
@b should not delete any ahb set

### Actual behavior
@b may delete an ahb set

### Steps to reproduce the behavior
[code]
[armthumb.zip](https://github.com/radare/radare2/files/18

[2018-03-22 16:45] radare commented on #9743
Simple projects do that

[2018-03-22 16:45] radare commented on #8989
Fix what

[2018-03-22 19:01] ret2libc commented on #9751
Apart from the fact that I'm not getting exactly your output...
Here it seems there's some big problem with the way commands are parsed, more than with the `ahb/@b:` commands. (cc @radare)

If you do
[code]
Note the bytes (764c3615)
[code]
Now the bytes are different (the same is true if you use `@a` instead of `@b`)

[2018-03-22 19:07] securisec opened #9754 "Feature request: Line highlight on seek"
Currently, while seeking in Visual mode, r2 highlights only the offset. It would be nice to have an option that allows one to highlight the whole line while seeking. Visually, this highlight will stretch horizonally, and include all the columns including opcodes, comments etc. The highlight should adjust if `scr.breaklines` is enabled and work for multiline comments also.

The cyan line in the sre

[2018-03-23 06:10] redmed666 commented on #9582
Yes sure but what kind of test do you want?

[2018-03-23 08:28] Xilokar commented on #9751
(i think you are using the zip file instead of the armthumb.bin file inside the zip)

Indeed, as I was looking at bitness issues, I was just looking at the adresses, but you are right:

[code]
Using @b: clearly discard the temporarily seek address, but this seek address is nevertheless used in the displayed asm

[2018-03-23 08:35] ret2libc commented on #9751
Ops :P Yeah you are right, anyway the issue is there in any file.
It's not about `@b:` though, because you have the same problem when you use `@a:` too. I think it's actually a command parsing issue.

[2018-03-23 11:57] xtsop opened #9756 "Mismatch between disassembling on JSON and non-JSON exported results for DATA"
On ARM mach-O libraries it has been found that when marking an address as data, it gets disassembled

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                                            | Answers
|--------------------------------------------

[2018-03-23 12:40] radare opened #9757 "r_bin_cur is a wrong name"
Should be `r_bin_file_current()`... but.. we really want to have that? i mean, a default binfile? and we should use descriptors, not pointers

[2018-03-23 13:35] Maijin commented on #9582
Check afb command on the various blocks ?

[2018-03-24 23:28] wavvs opened #9764 "Possible console ui bug while debugging"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux Mint 18.2  x86_64
| File format of the file you reverse (mandatory)      | ELF 64-bit LSB shared object
| Architecture/bits of the file (mandatory)            | x86-64
| r2

[2018-03-25 22:59] #4400 closed

[2018-03-26 08:25] Xilokar commented on #9751
Now that the related issue raised by this has been fixed (by PR #9758), looking back at why ahb are deleted:
set_tmp_bits () do its stuff (searching for eventual hints to modify) before the temporary seek and the revert action (restoring hints) after.
IMHO, a better way would be to have set_tmp_bits set asm.bits and add a flag in RCore to prevent  r_core_seek_archbits() to change asm.bits if the f

[2018-03-26 08:46] ret2libc commented on #9751
@Xilokar When I modified it, I've done it as it was done elsewhere, but yes, I think your approach is better. I don't think adding a field to the RCore structure is a problem. :)

[2018-03-26 10:33] xtsop commented on #9756
I can help fixing the bug but can you give me a hint from which source file to start dissecting it?

[2018-03-26 11:40] chrstphrchvz commented on #6787
I am familiar with S12 assembly but am completely new to radare and binutils. I would be interested in adding an S12 plugin unless someone's about to beat me to it :^)

[2018-03-26 12:17] radare opened #9768 "likely/unlikely should not emulate intermediate instructions only cjmps"
<img width="679" alt="screen shot 2018-03-26 at 14 16 12" src="https://user-images.githubusercontent.com/917142/37905792-50af5af8-3100-11e8-8df2-6ef5da289d26.png">
<img width="703" alt="screen shot 2018-03-26 at 14 16 17" src="https://user-images.githubusercontent.com/917142/37905793-50d01b58-3100-11e8-969e-b141c9e00cb1.png">

[2018-03-26 12:40] Maijin commented on #6787
Do it then

[2018-03-26 12:54] wavvs commented on #9764
I'm not so familiar with r2 commands yet, thank you for comments. Console ui doesn't show debugging steps in  V +p + p + ! mode. I press s several times and nothing (eip in the top right corner seems to change).

[2018-03-26 15:45] #9751 closed

[2018-03-26 15:46] #9750 closed

[2018-03-26 15:50] FXTi commented on #4400
Now tt command need support for non-built-in types.

- alias defined by prior tyepdef

- enum

- struct/union

[2018-03-27 04:14] XVilka commented on #9768
Not sure what you mean though.

[2018-03-27 04:16] XVilka commented on #9756
@xtsop `lib/core/disasm,c` - `r_core_print_disasm` and `r_core_print_disasm_json`. Commands calling code is located in `libr/core/cmd_print.c`

[2018-03-27 06:10] XVilka commented on #7493
My thoughts on that - we do not need a binary that do not relay on the external libraries, we just need static compilation of the resulting binary, that's it. We can also check https://github.com/clibs/clib for the inspiration.

[2018-03-27 06:12] XVilka commented on #7493
Moreover, instead of using "git.exe" we can just link to the [libgit2](https://libgit2.github.com/) for a completely portable solution.

[2018-03-27 06:51] elouet commented on #9384
I just ran into the same issue, although in a more simple case :
![arm_it](https://user-images.githubusercontent.com/436633/37951172-c9c36c4a-319b-11e8-9405-d001180df2e0.png)
In the sequence above, there is only one single instruction which is subject to conditional execution following the IT NE instruction. The flow represents the second one as part of the same block, although it will be executed

[2018-03-27 07:32] xarkes commented on #7493
In this case, we could use this as well: https://github.com/yaml/libyaml

[2018-03-27 08:18] mrpalacios opened #9770 "\xFFFF... when reading glibc version hash"
Hello,

I cannot get r2 to properly read libc debug file and problem seems to come from the read of libc.so version, as `r_io_read_at`, with correct _vaddr_ and _offset_, is always returning \xFFFFFFFF... .

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)

[2018-03-27 09:08] elouet opened #9772 "Inconsistent display after file resize"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | plain file
| Architecture/bits of the file (mandatory)            | empty file
| r2 -v full output, **not tr

[2018-03-27 14:32] radare commented on #9772
You have to update the maps. Check the om command. Theres an automap resize for those cases. This is because of the siol change snd we discussed a bit on how to solve that without being too intrussive with the internal logic of siol

[2018-03-27 14:37] radare commented on #9384
thats a known issue, can you send apr fixing it?

see libr/anal/p/anal_arm_cs.c

<img width="605" alt="screen shot 2018-03-27 at 16 35 42" src="https://user-images.githubusercontent.com/917142/37974373-11b4dde0-31dd-11e8-86fa-6431c39c1684.png">

[2018-03-27 16:13] radare commented on #7493
Omg dependencies. R2pm works with no dependencies, everything is expected to be installed. So i wont add any library as dependency

[2018-03-27 16:14] radare commented on #7493
We shuold provide binary packages for windows and thats it, i dont plan to make everything compilable because thats a real problem for windows users, and we wont include a toolchain with it

[2018-03-27 16:14] xarkes commented on #7493
Who cares if it's linked statically?

[2018-03-27 16:19] xarkes commented on #7493
If you disagree to use any lib (even with static linking) for r2pm only, then what are our options?

[2018-03-27 16:41] radare commented on #7493
I do

[2018-03-27 16:41] radare commented on #7493
Binary packages and rewrite in C to skip the bash dependency

[2018-03-28 09:07] radare commented on #9764
Works for me

[2018-03-28 19:28] radare opened #9778 "Implement afxj"

[2018-03-29 00:44] msftsecurityteam commented on #9479
Came back to this issue. Yes what you said above is correct, if I do "pd 5" and then press enter, it continues disassembling at the correct address. If I just do "pd" with no arguments, that's where it runs into trouble

[2018-03-29 13:09] radare commented on #9465
another thing we want is to have a graph.depth, this may allow us to render smaller graphs, and be able to expand the depth in visual graph

[2018-03-29 15:42] revolter commented on #6982
@radare, It looks like you're the troll here, not @PaquitoRiviera.

[2018-03-29 21:51] GHXST01 opened #9781 "r2pm windows"
Probably an insanely dumb question but I just installed radare2 from the official website for windows.
The blog post I am following along with uses the r2pm to install r2frida, however I am not able to find r2pm in the install files located under `C:\Users\***\AppData\Local\Programs\radare2`

Do I get it separately from somewhere?

My apologies if I'm bothering anyone with this question.

[2018-03-30 02:47] darrellenns opened #9782 "rarun2 input truncating on null chars"
rarun2 seems to truncate input when it encouters a null byte. Here is an example test case:

The rarun2 profile - just running cat here to pass the input straight through to output
[code]

This script makes some sample input data with null bytes in it
[code]

Piping directly to cat, the input data is passed through unaltered.
[code]

Using rarun2, the input is trucated.
[code]

Arch Linux, 64 bit

[2018-03-30 04:27] XVilka commented on #9781
Because it is a shellscript  https://github.com/radare/radare2/blob/master/binr/r2pm/r2pm

There is an ongoing issue to rewrite it in C to be completely portable:
- https://github.com/radare/radare2/issues/7493
 - https://github.com/radareorg/cutter/issues/420

[2018-04-02 02:17] #9778 closed

[2018-04-02 12:10] trufae commented on #6447
Not anymore. thanks to SIOL(R) thanks @condret

[2018-04-02 12:10] #6447 closed

[2018-04-02 13:32] Obaied opened #9788 "R2 debugger doesn't read input from .rr2 file"
I need a way to pipe input from a file/python one-liner to dc. Preferably also a way to do that with `ood` like `ood < `python -c 'print "a"*32'`.

Here's what I have now.

[code]

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)

[2018-04-03 08:05] Abominas commented on #1225
Is anyone working on these? I'll tackle some of these options.

[2018-04-03 09:11] gingerbeardman opened #9790 "Crash opening Mega Drive ROM"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.13.4, 64-bit
| File format of the file you reverse (mandatory)      | SEGA Mega Drive ROM
| Architecture/bits of the file (mandatory)            | M68/16
| Cutter and r2

[2018-04-03 11:19] #9790 closed

[2018-04-03 11:44] radare commented on #1225
No one afaik

[2018-04-03 13:35] radare commented on #9721
cc @Vane11ope

[2018-04-04 09:04] mrmacete commented on #9384
The problem pointed by @elouet is solvable, for example in this way: https://github.com/radare/radare2/pull/9795

instead, handling the "else"-condition cases by creating basic blocks without explicit jumps seems less feasible, also because there are complex cases like `ITET`, `ITTET`, `ITETE`, etc.

In my opinion it's better to keep the instructions following the `IT` instruction in the same basi

[2018-04-04 09:14] wargio commented on #9286
when i use `dr` on ppc i simply do `dr reg=0x12345678` an example: `dr r2=0xb7ffffff`

[2018-04-04 10:57] #8198 closed

[2018-04-04 10:58] #8308 closed

[2018-04-04 11:07] radare opened #9798 "Cleanup asm. variables"
its a bit confusing that asm.filter, asm.relsub asm.varsub, asm.decode... all those vars should have similar name prefixes to be easily spottable because they all work on the string representation of the instruction and improve it by showing flag names instead of offsets and such.

Also, right now we have 44 config keys under asm. this is probably too much :3

[2018-04-04 12:32] radare commented on #9798
yep, any proposal?

[2018-04-04 13:30] fumfel opened #9800 "Null pointer dereference in Elf32_r_bin_elf_get_maps()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             |  Ubuntu 16.04 x64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            |  x86/64
| r2 -v full output, **not truncate

[2018-04-04 13:55] #9800 closed

[2018-04-04 13:56] #9593 closed

[2018-04-04 14:28] kazarmy commented on #9798
asm.emu.* to emu.*? Less typing

[2018-04-04 14:30] kazarmy commented on #9754
Does that cyan line take up a whole line?

[2018-04-04 14:32] radare commented on #1225
good

[2018-04-04 18:28] ret2libc commented on #9768
I'm not sure either. Related to ESIL I think it's a must to change how it's evaluated. It doesn't have any sense that emulation changes based on where you start printing the disassembly.

[2018-04-04 19:41] astuder commented on #9574
Does the missing data reappear if delete the maps that overlap the file using om-?

[2018-04-04 20:04] radare commented on #9718
shorter test:
[code]

[2018-04-04 20:07] radare commented on #9718
its a bug in asm.relsub

[2018-04-04 20:13] radare opened #9804 "Add a command to print a ropchain"
This is an alias for

[code]

also, pxW doesnt obeys asm.offset, and we would want pxWq to only show the words, same goes for pxQ and so on

[2018-04-04 20:17] #9718 closed

[2018-04-04 20:27] radare opened #9805 "Autocomplete filenames after >"
i think this was already implemented, but cant find it now :?

[2018-04-04 20:27] radare commented on #9805
in libr/core/core.c

[2018-04-04 20:33] #9805 closed

[2018-04-04 20:35] radare commented on #6828
ping @sivaramaaa

[2018-04-04 20:43] radare commented on #9804
updated, now master can do:

[code]

[2018-04-04 20:45] radare commented on #9628
Fixed in master

[2018-04-04 20:45] #9628 closed

[2018-04-04 22:43] #9588 closed

[2018-04-04 22:44] radare commented on #8950
ping @XVilka

[2018-04-05 01:32] sivaramaaa commented on #6828
yup , i would try to complete this by next release :)

[2018-04-05 01:45] davidpolverari commented on #8806
I was busy with work stuff, both at work and at home. But now I got some free time and I will try to implement completion.

[2018-04-05 07:59] radare opened #9808 "asm.emu.* -> emu.*"
and let the world burn in flames

[2018-04-05 08:03] xarkes commented on #8950
Propeller was added by @pelijah here https://github.com/radare/radare2/pull/9639

[2018-04-05 08:03] #8950 closed

[2018-04-05 08:50] radare commented on #6828
great!

[2018-04-05 08:59] #9697 closed

[2018-04-05 09:05] radare commented on #8198
cool!

[2018-04-05 09:19] radare commented on #9166
ping

[2018-04-05 09:27] radare commented on #7522
i dont know what this workon thing is. but using virtualenv like the documentation says makes everything work as expected, i cant reproduce this problem.

[code]

[2018-04-05 16:06] ret2libc commented on #9724
@radare What is the problem here? I think ESIL is working fine:
[code]
Actually, the problems seems to be with `?` command more than with esil.

[2018-04-05 16:27] #9682 closed

[2018-04-05 19:01] wargio commented on #9808
I Agree

[2018-04-06 08:10] ret2libc commented on #9768
@radare I'd move this to next release if you are ok with it.

[2018-04-06 08:11] ret2libc commented on #3235
@radare I'd move this to next release if you are ok with it.

[2018-04-06 08:16] ret2libc commented on #9505
Can it be closed? I don't think this is a bug.

[2018-04-06 08:28] ret2libc commented on #9624
Removed it

[2018-04-06 08:28] #9624 closed

[2018-04-06 09:19] fumfel opened #9811 "Invalid read (SIGSEGV) in r_read_le32()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            |  x86/64
| r2 -v full output, **not truncated

[2018-04-06 10:02] radare commented on #9505
Yes. Close it. The S command must die

[2018-04-06 10:02] radare commented on #3235
Sure no hurry for this

[2018-04-06 10:02] radare commented on #9768
That one is important but probably makes sense to fix it with time

[2018-04-06 10:43] radare opened #9813 "Show word offset and octal words in bytes"
Feature request comes from here:
https://reverseengineering.stackexchange.com/questions/14556/can-radare2-support-word-oriented-architectures/17913#17913

[2018-04-06 15:27] dukebarman commented on #6322
In last versions, besides no finished analysis, have another errors:
[code]

[2018-04-06 15:55] #9505 closed

[2018-04-06 15:59] ret2libc commented on #9465
@gu10ng1t would something like `axt @@@i` work for you?

[2018-04-06 16:23] dukebarman opened #9816 "Cannot compile r2 in Fedora 27"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 27 x64

### Expected behavior
Installed radare2.

### Actual behavior
Not installed radare2.

### Steps to reproduce the behavior
[code]

I think that problem is in one of

[2018-04-06 16:25] Maijin commented on #6322
Those are not errors but warnings

[2018-04-06 18:13] ret2libc commented on #9816
Same here...

[2018-04-06 22:09] dukebarman commented on #6322
sry, mistypes. Warnings of course

[2018-04-07 02:35] ambrosehua opened #9821 "jump target shortcut not working for branch instructions other than beq/bne in MIPS"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux/x86/64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | MIPS/MIPS64
| r2 -v full output, **not truncated

[2018-04-07 08:45] radare commented on #9821
Is this a bug in capstone? Can you provide a sample binary or a testcase with any of the bins of the suite? Also, you should be able get that information with the command ao~jump, which is the destination of the jump

[2018-04-07 08:46] radare commented on #9821
Also, jr, jalr... are jump to register, so that wouldnt work because the register value is not taken into account with the current shortcut code. This and jumo table handling would be good additions for this. Please confirm the ao output for those non reg branchs

[2018-04-07 08:56] ambrosehua commented on #9821
[ld-2.20.so.gz](https://github.com/radare/radare2/files/1886210/ld-2.20.so.gz)
check bltzal @ 0x00002e34

ao~jump is 0xa;

[2018-04-07 09:02] ambrosehua commented on #9821
check ld-2.20.so, “jalr/ t9”@ 0x00002e48 should be different than other case.

Since radare2 can tell that ld t9, -sym._dl_start(gp) @0x00002e40 is load t9 with target address _dl_start from GOT, it should give shortcut @ 0x00002e48 a valid target

[2018-04-07 11:54] ambrosehua commented on #9821
I think it is not a a bug of Capstone, since the radare2 can tell aav from bltzal@0x00002e34

|              ; DATA XREF from 0x00019b7c (sym.dl_open_worker)
|           0x00002e30      288088df       ld t0, -aav.0x00002e3c(gp)    ; [0x37028:4]=0x2e3c aav.0x00002e3c
|           0x00002e34      01001005       bltzal t0, aav.0x00002e3c   ;[2]
|           0x00002e38      00000000       nop
|

[2018-04-07 12:05] pelijah commented on #9243
Warning for GetAVX was fixed. Other warnings are non-related to Windows and require reworking of all debug plugins.

[2018-04-07 13:33] cyberwinter opened #9825 "ELF Parser locating imports incorrectly (PPC)"
### Work environment
Arch Linux x86-64
PPC-32 ELF
radare2 2.5.0-git 17805 @ linux-x86-64 git.2.4.0-282-g43af9e3bb
commit: 43af9e3bb2ac50cd755d0ee89aca33bd3607e0ff build: 2018-04-06__23:16:3

I've compiled a simple hello world binary with  toolchain for ppc build via crosstools-ng , and tried to analyze it with R2.

### Expected behavior
Imports of file (`printf` func) is actually located at `0x100

[2018-04-07 14:02] #9816 closed

[2018-04-07 14:10] cyberwinter commented on #9825
Well, as I see problem may be hiding in finding relocation sections:
![image](https://user-images.githubusercontent.com/26345930/38455839-3ce619be-3a86-11e8-845e-e2302424bc7a.png)
So maybe we need to check code, which is parsing PT_DYNAMIC header

[2018-04-07 14:49] #8522 closed

[2018-04-07 14:49] #9724 closed

[2018-04-07 15:32] wavvs opened #9826 "pdf and VV printing bugs?"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Lubuntu x64
| File format of the file you reverse (mandatory)      | ELF32
| Architecture/bits of the file (mandatory)            | x86
| r2 -v full output, **not truncated** (man

[2018-04-08 03:32] firmianay opened #9827 "command "~[modifier]+" bug"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | 64-bit
| r2 -v full output, **not truncated** (ma

[2018-04-08 04:11] kazarmy commented on #9754
The offset is highlighted because it's the current value of the program counter, and not because it's the current seek value.

[2018-04-08 04:35] kazarmy commented on #9754
The seek line is always the first line in Visual mode and I'm curious to know as to why you need a line highlight for that. As for the program counter, a comment (e.g. `;-- eip:`) follows it around so it doesn't seem that a line highlight is needed there either.

[2018-04-08 04:52] securisec commented on #9754
Requesting a spanning seek line so that while navigating in visual mode,
one can easily and visually identify all the components of that particular
line like comments and such. Although I agree that this feature is really
not needed because everything can be done using the offset or current
location, it is just a little more visually appealing.

Also, thinking of future scale, a toggleable spannin

[2018-04-08 06:00] kazarmy commented on #9808
The `asm.emu` var becomes just `emu` though (as in `e emu=true`). This ok?

[2018-04-08 08:52] radare commented on #9808
That one is weird. Maybe i would kept it as asm.emu

What do you think?

And maybe just wait for release to change this. I was so busy irl to do it before

[2018-04-08 09:36] kazarmy commented on #9808
I prefer asm.emu since it's clear by itself that it's referring to a config var. E.g.:

[code]

sounds better than:

[code]

The rest can move under emu.*

Ok.

[2018-04-08 09:38] goulou commented on #7410
You should definitely have a look at YaCo : it works only with IDA at the moment, but the underlying model is fully independent from it. Implementing the hooks in both ways (for 2-way sync) in radare2 should not be so hard. Furthermore, all the hard work (synchronization, conflict merging...) is already done. It works with as many users as you want, both synchronously and asynchronously.
It is ava

[2018-04-08 10:10] radare opened #9828 "A bunch of issues to discuss/move/reorder"
# R2 TODO

* foldable stuff .. was in r1..redo?

* Allow to seek to branch N like in visual, but from cmdline
* refactor vmenus.c -> refresh function must be redefined for each menu
* if no debugger supported, say so... r_io must ?

BUGS
----

* opening a file from inside r2 doesnt clears internal data (strings..)
* shell encoder - get x86-64 one from twitter
  - http://funoverip.net/2011/09/simpl

[2018-04-08 10:27] #9827 closed

[2018-04-08 11:24] #9636 closed

[2018-04-08 11:27] radare commented on #9584
cc @kazarmy

[2018-04-08 11:29] radare commented on #561
isnt unified what you are looking for? -u?

i have improved cu the last week. pls review

[2018-04-08 11:33] radare commented on #6186
Microsoft did the list of dangerous functions for us https://msdn.microsoft.com/en-us/library/bb288454.aspx

[2018-04-08 11:44] radare commented on #9483
cc @condret

[2018-04-08 11:48] radare commented on #7148
![](https://www.remosoftware.com/images/slider-img/drive-defragment/large-drive-defrag-2.jpg)

[2018-04-08 11:49] radare commented on #3942
ping @rlaemmert

[2018-04-08 12:00] radare commented on #9620
tired of waiting

[2018-04-08 12:02] kazarmy commented on #9754
`scr.breaklines` doesn't depend on content -- this does and so implementation of this is somewhat more complicated.

[2018-04-08 12:08] radare commented on #8823
cc @leberus

[2018-04-08 12:08] radare commented on #4448
isnt this fixed in your pr @rlaemmert ?

[2018-04-08 13:52] radare opened #9829 "aos 10000"
doesnt works because blocksize

[2018-04-08 14:11] ambrosehua commented on #9821
Oops，I think it is a bug of Capstone
the imm(0) returned from bltzal is wrong, while imm(0) returned from bal is (addr + (short)offset<<2)

[2018-04-08 14:27] radare opened #9830 "Add missing 6502 instructions"
yeah those are "undocumented", but pretty common from what i see

http://nesdev.com/undocumented_opcodes.txt

[2018-04-08 14:29] radare commented on #9830
see also https://www.pagetable.com/?p=3

[2018-04-08 15:43] dukebarman commented on #9166
@rob2e where do you recheck valid opcodes? IDA / avr-objdump / atmel site / etc.

[2018-04-08 17:59] XVilka commented on #561
Yes, `radiff2 -u` does the job, but it also prints the strings, not sure if this is required at all since it messes the screen output.

[2018-04-08 19:51] radare commented on #9804
I'm fixing pf to make this work:

[code]

[2018-04-08 21:00] radare commented on #2141
ping @xarkes

[2018-04-08 21:02] #9705 closed

[2018-04-08 21:35] #9582 closed

[2018-04-08 21:35] radare commented on #9582
do we have the test?

[2018-04-08 21:36] radare commented on #8806
any updates?

[2018-04-08 21:45] radare commented on #3168
ping?

[2018-04-08 21:57] wargio commented on #9808
maybe we can have `e emu.enable = true`

[2018-04-08 22:29] radare commented on #8806
im working on this right now, will send pr in few mins

[2018-04-08 23:01] radare opened #9835 "Add $$$ variable for the non temporal offset"
See the difference between

?v $$ @ 0x300
?v $$$ @ 0x300

[2018-04-08 23:01] radare commented on #9835
Should print 0x300 and 0

[2018-04-08 23:02] radare commented on #9804
What about pdC as for Chain

[2018-04-08 23:27] #561 closed

[2018-04-08 23:27] radare commented on #9710
i think we can close this now

[2018-04-08 23:27] #9710 closed

[2018-04-09 00:24] radare commented on #9804
Implemented in pdp. also improved /R

[2018-04-09 00:25] #9804 closed

[2018-04-09 00:25] radare commented on #9606
ping

[2018-04-09 00:51] davidpolverari commented on #8806
Sorry for not being able to do it on time! I feel really bad for this, but I had some problems irl. I'm reading https://github.com/radare/radare2/commit/2a8ab337d94ec4d6f0b13aef7bf5af859251304d atm and will try to contribute if I figure out how to autocomplete paths from RFS. Again, sorry for the delay.

[2018-04-09 01:25] davidpolverari commented on #8806
r_fs_shell_prompt() in libr/fs/shell.c has a char array called path[] that contains cwd, right? As autocomplete is done inside libr/core/cmd_mount.c, should I have a function inside shell.c to return path[] contents to be consumed by getFilesFor() in cmd_mount.c?

[2018-04-09 01:29] kazarmy commented on #9584
If `asm.bits=64`, can't reproduce. If `asm.bits=32`, then `pf *z` appears to be working as intended (assuming `cfg.bigendian=false`).

[2018-04-09 01:29] #9584 closed

[2018-04-09 02:40] davidpolverari commented on #8806
I started working on it the way I told you on the last comment, but I don't know if it's the right approach. I created a PR is on https://github.com/radare/radare2/pull/9837/commits/4c1a2bbd370c31843967bf45d9a3726f08e6e646 (not to be merged, just for review) with the first steps of it.

[2018-04-09 06:57] xarkes commented on #2141
No time sorry.

[2018-04-09 07:33] radare commented on #561
Use -qu if you dont want the strings

[2018-04-09 07:35] radare commented on #8806
Np take care about your real life. Just say it if you can’t. Learning to say no is something i have still to learn

[2018-04-09 07:36] radare commented on #8806
The current thing works, but its buggy and incomplete, so feel free to complete it. And Dont feel bad about jt

[2018-04-09 07:37] radare commented on #9584
I fixed this for *D yesterday. Maybe its related but we have no tests for those. Can u?

[2018-04-09 07:39] radare commented on #9068
The address where the bin is loaded from. This is useful when the header is not in offset 0 like in fatmachos

[2018-04-09 07:51] kazarmy commented on #9584
Probably. See test above.

[2018-04-09 08:10] radare opened #9840 "Add asm.databits"
To specify the size of address bus, this can be useful for archs where the address space width doesnt fits the register size. so we can stop abusing asm.bits for those cases.

Changing asm.bits must update asm.databits, but not the other way around.

Comments?

[2018-04-09 08:44] radare commented on #9587
merg?

[2018-04-09 08:44] radare commented on #9587
dont use merge, do rebase pls :3

[2018-04-09 09:59] giuscri commented on #3168
I'm not going to work on this

[2018-04-09 13:36] ret2libc commented on #9811
This should have been fixed by https://github.com/radare/radare2/commit/324625cb334a7ff2c0f5b06b597dae21d4903567

[2018-04-09 13:36] #9811 closed

[2018-04-09 15:48] radare commented on #9811
thats related to the rbuf.io <http://rbuf.io/> change i did some commits ago. thanks for pointing it out. it may affect other places

[2018-04-09 21:54] radare commented on #9772
Cc @condret

[2018-04-10 00:51] gu10ng1t commented on #9465
@ret2libc thank you for your suggestion, its very close to what we have on OllyDbg

I'm learning RE and if you didn't tell me it I would not know (learning curve of radare is not easy!)

if you had answered before I think @radare could close this issue hehe, but wait, don't close now hehe! @radare suggested some cool things a month ago:

I found very interesting and a good insight from the questio

[2018-04-10 10:07] radare opened #9847 "When toggling cursor, show bytes"
When cursor is enabled enable asm.bytes if its not set. Maybe this should be the default behaviour, or maybe not, but will be good to be able to do that and add a config var to choose

[2018-04-10 10:08] radare opened #9848 "Vr to toggle asm.shortcut hints for code/data"
We should have a way to tell r2 to toggle between code and data refs shortcut hotkeys in the disasm. This will make navigation using only hotkeys much better

[2018-04-10 10:26] radare commented on #9847
Another option would be to disable asm.bytes by default and then use Vc to toggle them in visual

[2018-04-10 10:32] radare opened #9849 "Improve asm.shortcut"
The name is probably misleading. i use to think as "hotkey"

The values should be:

* 0 = no shortcut
* 1 = show at the left of the offset
* 2 = show at the right of the offset
* 3 = show at the right of the bytes
* 4 = show at the right of the disasm as a comment

imho the default should be 1 or 2, but changing this can result on lot of XX so we must think wisely

[2018-04-10 10:37] radare commented on #9798
e asm.lines* moved to asm.lines.*

[2018-04-10 10:45] kazarmy commented on #9808
`emu.enable` is a bit too long for me, and I like keeping `asm.emu` for its historical significance.

[2018-04-10 11:31] ret2libc commented on #9849
I honestly don't even know what `asm.shortcut` is about. Could you elaborate? What does it do? We have the usual problem that there are so many features, with no doc, that it's hard to know what they are even supposed to do.

[2018-04-10 11:43] radare opened #9850 "Crash in visual highlight"
Enter visual mode and then press / type a word scroll and repeat the same thing many times.
[code]

[2018-04-10 11:44] radare commented on #9850
build with asan :P

[2018-04-10 11:51] SpawnTree commented on #7071
Even I am getting the same error.

`==8424==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x11e894183be0 at pc 0x7ff7c8233203 bp 0x00450b8ffc30 sp 0x00450b8ffc78
READ of size 8 at 0x11e894183be0 thread T0
    #0 0x7ff7c8233202 in insert+0x222 (C:\Users\Sumit\Desktop\Runtime\run.exe+0x140003202)
    #1 0x7ff7c8234b0f in main+0x63f (C:\Users\Sumit\Desktop\Runtime\run.exe+0x140004b0f)

[2018-04-10 12:02] radare commented on #9849
I describd it in the issue and you can already check the help message. Just changes the location of the ;[x] in the disasm

[2018-04-10 12:02] radare commented on #9808
Makes sense

[2018-04-10 12:15] radare commented on #9465
I will do the cool graph things in 2.6, too busy to make them fit in 2.5, if that solves your issue yes close it. And open another one requesting all those graph changes i siggested (copypasta)

[2018-04-10 12:19] radare commented on #7071
With latest code from git?

[2018-04-10 12:19] ret2libc opened #9851 "introduce a mailing list for questions/help"
# Existing communication channels<a id="sec-1"></a>

Right now we have mainly 2 communication channels, which are IRC/telegram and GitHub. The former is mainly used for real time communication, small chats and requiring help live. The latter is used for dealing with issues, bugs, Pull Requests, questions, ideas, etc.

# Problems<a id="sec-2"></a>

## IRC/Telegram<a id="sec-2-1"></a>

-   many ques

[2018-04-10 12:36] radare commented on #9851
It’s 2018.

[2018-04-10 12:36] #9851 closed, assigned to XVilka, ret2libc, radare, Maijin

[2018-04-10 12:37] gu10ng1t commented on #9465
ok, you (or @ret2libc )  can close this issue!

once again thank you so much

[2018-04-10 12:42] Maijin commented on #9851
Terrible idea sorry but no.

[2018-04-10 12:53] fumfel opened #9852 "Heap out of bounds read in m68k_read_disassembler_32()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated*

[2018-04-10 13:00] #9587 closed

[2018-04-10 15:15] Wenzel opened #9854 "IO plugin doesn't receive write mode flag -w"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | ubuntu 16.04
| File format of the file you reverse (mandatory)      | ...
| Architecture/bits of the file (mandatory)            | x86_64
| r2 -v full output, **not truncated** (m

[2018-04-10 15:46] GeoSpark opened #9855 "Disassembly of M68k move.l instruction fails to feed capstone a big enough buffer"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux Mint 18.1 Serena x86 64 (Ubuntu Xenial 16.04)
| File format of the file you reverse (mandatory)      | M68k binary blob
| Architecture/bits of the file (mandatory)

[2018-04-11 01:13] EvanCarroll opened #9859 "Build failure"
[code]

[2018-04-11 09:01] radare commented on #9855
can you send a fix for this? and write tests to ensure this doesnt happens again?

thanks

[2018-04-11 09:02] radare commented on #9854
cc @condret
but anyway flags != rw

see static RIODesc *__open (RIO *io, const char *pathname, int rw, int mode) {

[2018-04-11 09:07] radare commented on #9855
also may be related to https://github.com/radare/radare2/issues/9852

[2018-04-11 09:28] radare commented on #9854
uhm use r_sys_backtrace() and check where this value is lost by adding prints in the callers

[2018-04-11 09:41] Wenzel commented on #9854
I added some printfs:
[code]

[2018-04-11 09:52] radare commented on #9854
go in radare2.c and see how r_core_file_open(9 is called, because this looks like READ + EXEC only

so i guess that -d have something to do with having -w ignored

[2018-04-11 09:52] radare commented on #9854
because we basically make all debugger backends always writable to avoid people having to pass -w to the -d

[2018-04-11 10:04] Wenzel commented on #9854
This function is being called here:
https://github.com/radare/radare2/blob/master/libr/core/file.c?utf8=%E2%9C%93#L782

We are just passing the flags as they are.

[2018-04-11 10:07] radare commented on #9854
then just check the path from ‘w’, because ‘w’ is setting that | R_IO_WRITE thing

[2018-04-11 10:10] Wenzel commented on #9854
sorry, this is the right call to r_io_open_nomap in _r_core_file_open:
https://github.com/radare/radare2/blob/master/libr/core/file.c?utf8=%E2%9C%93#L769

[2018-04-11 10:11] Wenzel commented on #9854
I don't know much the radare2 code, i would prefer that i maintainer would look up into this.

[2018-04-11 10:28] radare commented on #9366
should be fixed now

[2018-04-11 10:28] #9366 closed

[2018-04-11 10:30] radare commented on #9848
Done in 5d6e22888ea6d53e39b1cb6103d50d23e6b28128

[2018-04-11 10:30] #9848 closed

[2018-04-11 10:35] ret2libc commented on #8980
Something like `@@@o:rwx` could work to iterate over all maps?

[2018-04-11 10:43] radare commented on #8980
the problem is not iterating maps. but to specify offset+size on each element.

maybe we can define a syntax like ! and reuse other commands output like this

x @@c:omq

(and make omq output be less quiet and show vaddr!size of each map)

[2018-04-11 10:57] ret2libc commented on #8980
Once you do `@@@o`, radare2 should be able to retrieve all the info about
maps, right?

I think I don't understand the issue.

[2018-04-11 11:14] Wenzel commented on #9854
I built a Dockerfile for your to reproduce:
[code]

Usage:
[code]

You should get this output:
[code]

Thanks guys !

[2018-04-11 16:27] radare opened #9865 "move aetr command to extras"
REIL is very limited, buggy, and never used by anyone in r2land. We should support RREIL, OpenREIL, or anything else that supports at least a common subset of ESIL features, otherwise i dont see a reason for having this in core, except for the ability to get an SSA representation which may be probably better to represent inside the disasm or esil

[2018-04-11 16:30] radare opened #9866 "Add a key to "hide" or mark graph nodes as unreachable"
Using the LIKELY/UNLIKELY recursive emulation

[2018-04-11 17:01] sivaramaaa commented on #9826
Hey it's actually a known issue , the block size is larger than max block size so u just need adjust an config var to get proper result
[code]
And there is already an issue to make this process automatic ,see issue [#9564](https://github.com/radare/radare2/issues/9564)

For now a warning is issued to the user when u run anlysis , so closing this issue !!

[2018-04-11 17:01] #9826 closed

[2018-04-11 17:25] #9465 closed

[2018-04-11 18:55] radare commented on #9465
Whwres the new issue?

[2018-04-11 21:47] gu10ng1t opened #9867 "Implementation of import graph"
@radare (related to #9465)

[2018-04-12 02:36] sivaramaaa commented on #7293
@XVilka Currently, I have moved most of the function argument logic into libr/core/carg.c , still some dupes have to be merged like afvd

Now u have an api to access function arguments ``` R_API RList *r_core_get_func_args ```

So a little bit of refactoring and implementing an API for accessing structure/union elements should be done to close this issue I guess

[2018-04-12 08:54] radare opened #9868 "Add t subcommand to show the size of a struct"
I suggest doing that in `tss` like this: `tss <fcnname>`

[2018-04-12 08:55] radare opened #9869 "Add ts* command to print pf.<fcname> instead of pf fmt..."
Right now we have:

[code]

we shoulkd have this:

[code]

[2018-04-12 09:30] #9868 closed

[2018-04-12 09:31] radare opened #9870 "r_anal_type_get_size returns wrong size"
Struct size is not properly computed
[code]

160??? should be 24

[2018-04-12 09:32] radare commented on #9870
Funnily, the `pfs` command thinks this struct is 21 bytes in size :D which is also wrong.

[code]

[2018-04-12 10:59] radare opened #9871 "Show entropy bars from rahash2"
r2 can generate entropy bars from a file with this oneliner
[code]

But this option should be available from rahash2 too

Note that p=e is entropy but rahash2 should be also able to generate graphs from other statistics so the 'e' must be configurable.

In addition, r2 can show vertical bar graphs using the `p== command`

<img width="790" alt="screen shot 2018-04-12 at 12 59 41" src="https://user-

[2018-04-12 20:36] Wenzel commented on #9854
Does the Dockerfile i provided have been helpful ?

[2018-04-12 22:16] radare commented on #9854
Didnt had time to test. Im a bit busy those days

[2018-04-13 08:27] ret2libc opened #9874 "assert in code"
Often in the code you can find condition checks that should never happen (but sometimes do) and that are handled just with a `return NULL` or `return UINT64_MAX`. Although the code in this way keep "working", the wrong values may propagate further in the program, making it reach an inconsistent state that could lead to various (and hard) bugs.

Examples:
https://github.com/radare/radare2/blob/mast

[2018-04-13 17:11] bokoloc commented on #9721
This would be super useful

[2018-04-13 20:51] gu10ng1t commented on #9465
https://github.com/radare/radare2/issues/9867

[2018-04-14 07:12] pelijah commented on #7225
It seems that the issue was fixed: https://github.com/radare/radare2/blob/master/libr/include/r_cons.h#L408

[2018-04-14 08:00] radare opened #9880 "ESIL asm.shortcuts"
For jumps like this: `jmp dword [ecx*4 + 0x10003020]    `

aka UJMP

[2018-04-14 08:47] mrexodia commented on #7225
Yes, looks good!

[2018-04-14 08:47] #7225 closed

[2018-04-14 08:48] #9870 closed

[2018-04-14 08:49] #9808 closed

[2018-04-14 08:56] radare opened #9881 "ahi f and ahi F"
for float and double. we need the bytes for the instruction doing this to write a test.

[2018-04-14 16:18] radare opened #9882 "Make rahash2 -L output grep friendly"
Current output is like this:
[code]

should be like this:
[code]

additionally we may add a description, license, author, size of hash if any, etc.. like its done for the other r2 plugins.

[2018-04-14 16:26] radare opened #9883 "rafind2 search errors"
[code]

[2018-04-14 16:40] radare opened #9884 "Find references to a range of addresses"
The /r command lacks the ability to speicfy a range of addresses to be matching.

* Like it's done with /V.. so maybe the /rv or /rR or /rV should be the way to go

[2018-04-14 16:42] radare opened #9885 "Missing esil for rev16 (thumb)"
│⋮    0x00003dca         7eba       rev16 r6,r7

[2018-04-14 16:47] radare commented on #9885
Same goes for the following:

*  4abe       TODO,bkpt 0x4a
*  cfba       TODO,revsh r7, r1
*  01f31a1e   TODO,ssat lr, 0x1b, r1, lsl 4
* TODO,stcl p4, c0, [r7, -0xb0]!
* 5def92b1   TODO,vbic d27, d29, d2
* 66b2       TODO,sxtb r6, r4
* 2bba       TODO,rev r3, r5
* 8fecefd5   TODO,stc p5, c13, [pc], {0xef}
* a2b2 TODO,uxth r2, r4
* 93ed68a6   TODO,ldc p6, c10, [r3, 0x1a0]
* ddfd6614   TODO,invalid.

[2018-04-14 17:02] radare opened #9886 "/V4 offset info is lost"
[code]

In the output we have this.. but the flags are looking like this:

[code]

so... maybe we should just put the real offset in the name? or create xrefs, or create 2 flags.. ?

[2018-04-14 20:07] radare commented on #9884
after thinking a bit, i think the right commands would be:

* /rV [minaddr] [maxaddr] # like /r but with a range
* /rE [minaddr] [maxaddr]

we can also make all those commands accept a range expression instead of making different commands. but this is probably something to apply to other commands and do a generic api in r_util

[2018-04-14 20:49] radare opened #9887 "unaligned function signature comments and wrong pre line"
<img width="1440" alt="screen shot 2018-04-14 at 22 49 15" src="https://user-images.githubusercontent.com/917142/38772401-1c3c6a00-4036-11e8-83bb-11c543629866.png">

[2018-04-15 08:43] radare commented on #9880
See f443be9dc8690985c11b9a3d1612d335f7d72240 as reference to find where to touch

[2018-04-15 10:04] cyberwinter commented on #9825
Still actual with master. Found out, that problem is compilation specific. Because binary from another toolchain is disassembled well

[2018-04-15 12:25] #9883 closed

[2018-04-15 16:26] radare commented on #9887
@kazarmy can you have a look at this?

[2018-04-15 16:51] radare commented on #4327
Intel nice docu here https://software.intel.com/sites/landingpage/IntrinsicsGuide/#expand=0

[2018-04-16 00:02] mrmacete commented on #9885
Tracking status of this:

- [x] 7eba       rev16 r6,r7
- [ ] 4abe TODO,bkpt 0x4a
- [x] cfba TODO,revsh r7, r1
- [ ] 01f31a1e TODO,ssat lr, 0x1b, r1, lsl 4
- [ ] TODO,stcl p4, c0, [r7, -0xb0]!
- [ ] 5def92b1 TODO,vbic d27, d29, d2
- [ ] 66b2 TODO,sxtb r6, r4
- [x] 2bba TODO,rev r3, r5
- [ ] 8fecefd5 TODO,stc p5, c13, [pc], {0xef}
- [ ] a2b2 TODO,uxth r2, r4
- [ ] 93ed68a6 TODO,ldc p6, c10, [r3, 0x1

[2018-04-16 01:12] davidpolverari commented on #9240
@EvanCarroll, did it work for you after git clean -xdf or make clean/mrproper before running ./configure? Maybe this can be closed by now.

[2018-04-16 07:46] ret2libc opened #9897 "meson: has_header_symbol ADDR_NO_RANDOMIZE in socket/run.c"
Even in meson there should be a check to see if ADDR_NO_RANDOMIZE is available and if it is, HAVE_DECL_ADDR_NO_RANDOMIZE shall be defined, as done in the configure script.

[2018-04-16 10:56] #9887 closed

[2018-04-16 10:59] kazarmy commented on #9887
This one's tricky -- the reflines for the comment line shouldn't be the reflines for the previous line nor the next line, but the reflines for a `nop` instruction between the 2 lines. As a compromise, 8f209fade29b3c5c1f4eae931c0bd04c237a669c copies the previous line's reflines.

[2018-04-16 12:25] fumfel opened #9900 "Heap out of bounds read in r_read_le16()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x64
| File format of the file you reverse (mandatory)      | Generic
| Architecture/bits of the file (mandatory)            | v850
| r2 -v full output, **not truncate

[2018-04-16 12:30] fumfel opened #9901 "Heap out of bounds read in avr_op_analyze()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x64
| File format of the file you reverse (mandatory)      | Generic
| Architecture/bits of the file (mandatory)            | AVR
| r2 -v full output, **not truncated

[2018-04-16 12:33] fumfel opened #9902 "Heap out of bounds read in string_scan_range()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x64
| File format of the file you reverse (mandatory)      | Generic
| Architecture/bits of the file (mandatory)            | None (Binary file)
| r2 -v full output,

[2018-04-16 12:39] fumfel opened #9903 "Heap out of bounds read in sh_op()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86-64
| r2 -v full output, **not truncated*

[2018-04-16 12:39] ret2libc commented on #9886
I'd go for making the flag something like `hit.<offset>.<value>`.

[2018-04-16 12:55] ret2libc commented on #9884
I like the idea of having a "range expression" instead of many different commands.
Something like `/r 0x2000:0x3000`. It would require a little bit more thinking, but it provides much more flexibility IMO.

[2018-04-16 15:46] radare commented on #9886
What if you want the flagsin the offset?

[2018-04-16 16:02] ret2libc commented on #9886
What do you mean?

[2018-04-16 18:07] xarkes commented on #9897
cc @pelijah

[2018-04-16 19:06] fumfel opened #9904 "Heap out of bounds read in r_read_le32()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86-64
| r2 -v full output, **not truncated*

[2018-04-17 08:53] xarkes commented on #9897
Closed in #9905

[2018-04-17 08:53] #9897 closed

[2018-04-17 09:01] SjRNMzU opened #9907 "BUG: Invalid disasembly after reloading binary."
### Work environment

| Questions                                                   | Answers
|------------------------------------------------------|--------------------
| OS/arch | Arch /  x86_64
| File Format | ELF 32 bit
| Architecture/bits of the file (mandatory)  | x86
| ➜ r2 -v     |  radare2 2.6.0-git 18020 @ linux-x86-64 git.2.5.0-75-gf6c5d0e98  commit: f6c5d0e98bcc4f26a1fd418a8977907d3ee

[2018-04-17 09:36] xarkes opened #9908 "Game Gear ROM aac takes too much time"
It looks like `aac` takes now much more time on this binary:
https://github.com/radareorg/cutter/files/1869155/popils.gg.zip

Maybe you can find more information here:
https://github.com/radareorg/cutter/issues/427

[code]
And it takes too much time in the other case. The wrong command is indeed `aac`.
[EDIT] Already 2 hours and still running.

[2018-04-17 10:44] KoWu opened #9909 "ARM remote debug PC pc confusion"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | 4.16.0-2-ARCH x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | 32-bit ARM EABI5
| r2 -v full output, **

[2018-04-17 13:54] radare commented on #9908
You are using an old r2. Please update, we dont review or fix bugs in old releases

[2018-04-17 13:57] radare commented on #9909
You cant use -D and -d

[2018-04-17 13:57] kazarmy commented on #9754
See #9853 for discussion.

[2018-04-17 13:57] radare commented on #9907
Thats called aslr

[2018-04-17 14:17] radare commented on #7056
this seems impler than smt to express. almost a pseudo-disasm, so we can improve it to support that, but there's still many info missing here

[2018-04-17 14:40] traceprobe opened #9913 "heap-buffer-overflow in dalvik_op (src/libr/anal/p/anal_dalvik.c)"
This issue appears in the same function as issue #9726
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | dex
| Architecture/bits of the file (mandatory)

[2018-04-17 15:14] rdjondo opened #9914 "ARM-Thumb : when returning from a function, ESIL jumps over the assembly instructions following the calling function"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Raspbian Linux raspberrypi 4.13.30-v7 armv71 (if compiling test.exe and also running radare2), Windows 10 (if you want run to run radare2 on test.exe only )
| File format of the f

[2018-04-17 15:20] traceprobe opened #9915 "heap-buffer-overflow in r_hex_bin2str (libr/util/hex.c)"
This issue looks different from issue #8673, which is a stack-based overflow and has been patched.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | dex
| Ar

[2018-04-17 16:31] rdjondo commented on #9914
Please close this issue as it appears to be fixed for radare2 2.6.0-git 17936   git.2.5.0-76-gbfb54eafb --  commit: bfb54eafb8b

[2018-04-17 18:12] radare commented on #9908
omg i missread, sry im exhausted :P should be easy to fix

[2018-04-17 19:35] LeoPilot opened #9917 "How to Dissassemble in Radare2"
Hi Beginner here. Just downloaded Radare2. Did a fair bit of searching to find out how to dissassemble a 68000 machine code file. But still not sure how to do it. I have a binary file. I right click and select "use Radare2 to open it" which brings up a command line interface. Then I type pd 4. I get an output which looks a bit like 68000 but has several commands I don't recognise. How do I dissass

[2018-04-17 19:52] #9908 closed

[2018-04-17 21:57] SjRNMzU commented on #9907
It's not the behavior of many other debuggers nor is it useful.  I re-ran `aa` after reloading the binary so r2 should reload symbol info.

[2018-04-17 22:02] KoWu commented on #9909
Uh okay, my fault. Remote debugging ARM is nevertheless not possible, but I think thats #9209 .

[2018-04-17 22:02] #9909 closed

[2018-04-17 22:51] SjRNMzU commented on #9907
If I run `doo` once, then the output of `afl` is incorrect and you cannot correct it until you restart r2. Using aslr=false with rarun2 does not fix this.

[2018-04-17 23:09] traceprobe opened #9918 "[In Capstone] heap-buffer-overflow in m68k_read_disassembler_16/32 function (arch/M68K/M68KDisassembler.c)"
The issue is in Capstone disassembler code.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x8

[2018-04-17 23:25] bannsec opened #9919 "Debugging Windows binary from Linux"
I'm attempting to debug a Windows binary from Ubuntu but cannot get it to work the way I want. Specifically, I've tried many renditions of `gdb://` and `rap://` handlers. The closest I've gotten is the following:

On Windows, I start radare with:
[code]

Then, I can connect from Ubuntu with:
[code]

This seems to mostly work for remote disassembling. However, the problem comes when attempting to r

[2018-04-18 06:44] pawlos opened #9920 "radare2 crashes in V! mode when resizing console window"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux ubuntu 4.4.0-21-generic #37-Ubuntu SMP Mon Apr 18 18:33:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
| File format of the file you reverse (mandatory)      | ELF
| Architectur

[2018-04-18 07:46] ITAYC0HEN commented on #9920
Reproduced on Arch x64, Windows 10 64bit and on WSL (bash) as well.
@Vane11ope , probably one of your latest commits since it does not happen before. Can you please check this out?

[2018-04-18 10:25] xarkes commented on #9068
Then there are no inconsistencies and we can close this?

[2018-04-18 10:28] radare commented on #9907
debuggers dont do analysis usually, and if they do, the info is volatile

aa doesnt reload symbol information, it analyzes the symbols to get functions from them, but doesnt do what you are looking for

[2018-04-18 10:29] #9914 closed

[2018-04-18 10:43] radare commented on #9068
the inconsistency is in the RBin API, i have several ideas to improve that and im trying to push small changes over time.

[2018-04-18 10:47] radare commented on #9915
the bug is not in hex_bin2str, but in the caller function asm.c and its an oobread, not exploitable

[2018-04-18 10:55] radare commented on #9915
please send a pr to r2r with that dex file

[2018-04-18 10:59] #9913 closed

[2018-04-18 11:13] radare commented on #9886
when you search for values you have 2 addresses , the place where the value is found and the value itself. sometimes you want to know the offset and sometimes the value, so i would like to have flags for both, or at least let the user choose 1, 2 or 1+2

[2018-04-18 11:16] radare commented on #9901
Fixed in b35530fa0681b27eba084de5527037ebfb397422 and 25a3703ef2e015bbe1d1f16f6b2f63bb10dd34f4

[2018-04-18 11:16] #9901 closed

[2018-04-18 11:23] #9915 closed, assigned to nobody

[2018-04-18 11:26] #9903 closed

[2018-04-18 11:30] radare commented on #9900
cant reproduce

[2018-04-18 11:30] #9900 closed

[2018-04-18 11:36] #9902 closed

[2018-04-18 11:38] #9904 closed

[2018-04-18 11:42] radare commented on #9068
imho we can close this issue, because its part of the plans for rbin already

[2018-04-18 11:43] radare commented on #9920
==39250==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x6060000088e4 at pc 0x000103fe06d6 bp 0x7ffeec017690 sp 0x7ffeec017688
READ of size 4 at 0x6060000088e4 thread T0
    #0 0x103fe06d5 in Layout_run panels.c:209
    #1 0x103fe01d7 in doRefresh panels.c:471
    #2 0x1046bb628 in resize cons.c:245
    #3 0x7fff6127ff59 in _sigtramp (libsystem_platform.dylib:x86_64+0x1f59)
    #4 0x7ff

[2018-04-18 11:51] #9920 closed

[2018-04-18 12:03] radare commented on #9874
i prefer to add an eprintf for those cases, so the user dont loose all its work, asserts are bad practice imho, because it result in having multiple different behaviours depending on how you build r2. call that eprintf assert if you want, but safe returns make it “keep working” even if an allocation fails. (for example), but some eprintfs can become really noisy if inside a loop or chained with ot

[2018-04-18 13:50] sivaramaaa commented on #9886
So then we could either create 2 flags or 1 flag at offset where the value is found and a xref to "value itself"

Also if u are going to place 2 flags , we can name them something like this :
[code]

imho having this would only increase yet another config var , we already have a lot, we have to reduce adding config vars

@radare can u tell me an use-case for having a flag at the value itself  , it

[2018-04-18 14:00] ret2libc commented on #9874
That's why I like the GLib approach, where the assert gets translated into an `if (!expr) { eprintf(...); return;` or, if you want to test r2 and find all bugs (like what we usually do when developing) it gets translated into a real assert that halts the program execution.

About the noisiness, consider that if an anomalous condition becomes noisy, it really means there's something bad that needs

[2018-04-18 14:56] radare commented on #9886
search hit flag names are defined by the user, so not sure if that will work. but yep, this seems a good appraoch, the user can later remove the ones he doesnt needs.

[2018-04-18 19:55] dukebarman opened #9925 "Wrong opcodes in x86 (inc rax)"
I think, in rasm2 this opcodes are wrong:

[code]

r2 from git:
[code]

[2018-04-19 08:52] fumfel opened #9926 "Heap out of bounds read in get_debug_info()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x86/64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncate

[2018-04-19 12:52] fumfel opened #9928 "Heap out of bounds read in _inst__lds()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x86/64
| File format of the file you reverse (mandatory)      | Generic (binary file)
| Architecture/bits of the file (mandatory)            | AVR
| r2 -v full output

[2018-04-19 13:49] mytbk opened #9929 "mmap..* overlap with fmap..* in EFI modules"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86_64
| File format of the file you reverse (mandatory)      | PE(EFI)
| Architecture/bits of the file (mandatory)            | x86_64
| r2 -v full output, **not trunc

[2018-04-19 13:51] mytbk commented on #9929
This behavior comes after the siol change, I've been using a workaround by om- the maps. The cause of this is the sections in EFI modules have a virtual size multiple of 4KB, but the physical size usually not, thus there are some bytes fall to the mmap..* region.

[2018-04-19 18:37] radare opened #9930 "honor asm.comments in agv"

[2018-04-19 22:24] #9930 closed

[2018-04-20 09:12] Grillette opened #9931 "Install problem"
Hello, I have a problem installing radare2 from git.

I can make my git clone on my environment without any issue but when I run ./sys/install.sh I got some error and can't finish the install. Just see the error below and let me now if you want to see the complete output.

`cp: './plugins.cfg' and 'plugins.cfg' are the same file
checking build system type... x86_64-unknown-linux-gnu
checking host

[2018-04-20 10:37] radare commented on #9931
All those strings are in one line?

[2018-04-20 10:39] radare commented on #9931
The error is pretty clear. You have to install patch. Pacman -Syu patch should help

[2018-04-20 10:44] radare commented on #9929
Siol supports different psize and vsize

[2018-04-20 11:49] Grillette commented on #9931
Didn't know that patch was a library. Thank you it worked fine !

[2018-04-20 11:49] #9931 closed

[2018-04-20 12:03] iCyb3r opened #9933 "rasm2 giving me different output for x64"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows x86_64
| File format of the file you reverse (mandatory)      | cli
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated**

[2018-04-20 15:32] radare commented on #9931
patch is not a library, is a basic unix command, like diff

[2018-04-20 15:45] LeoPilot commented on #9917
Thank you. I downloaded the pdf and it helped a lot. I found out I have to type "pd 4 m68k"

[2018-04-20 15:45] #9917 closed

[2018-04-20 15:46] radare commented on #9917
if you are using a modern version of r2, the arch is not defined as an argument of pd.

use r2 -a m68k or in the shell e asm.arch=m68k and then pd 4 to disassemble 4 instructions

[2018-04-20 15:49] mytbk commented on #9929
Yes. I mean EFI modules always have a vsize multiply of 4K, and usually larger than psize. However, for a section of an EFI module, paddr(next section)-paddr(this section)=vaddr(next section)-vaddr(this section)=psize(this section)<vsize(this section) as is shown in `rabin2 -S` output, so there are unwanted mmaps which are overlapped with fmaps.

I don't know if the PE loader of UEFI firmware hand

[2018-04-20 17:24] radare commented on #9925
I found some more yesterday. Didnt reported because enotime, but will be good to give another bump to our x86 assembler soon or late before the next release

[2018-04-20 17:39] tlqaksqhr opened #9937 "Need to update cross compiler link in Windows.md"
Well, I try to download Windows x86-64 cross compiler from "http://switch.dl.sourceforge.net/" but this link seems to be dead. And, In source forge site(link is : https://sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win64/Automated%20Builds/), "mingw-w64-bin_i686-linux_20110627" is not exist.
So, I think modify these information.

p.s. I'm not good at english, so I apologize

[2018-04-20 18:26] radare commented on #9928
fixed

[2018-04-20 18:26] radare commented on #9926
fixed

[2018-04-20 18:40] xarkes commented on #9937
Quick question: why do you cross compile?
Thanks for reporting dead link though :)

[2018-04-20 22:47] d3db0t commented on #9882
Do you mean the output should be :
enc base64
enc base91
enc punycode

cry rc2
cry rc4
cry rc6
...
and so on? @radare

[2018-04-21 02:33] tlqaksqhr commented on #9937
I wish contribute this project(whatever).  That's why I doing cross compile
Thank you for answering me :)

[2018-04-21 06:41] XVilka commented on #9865
RREIL is very different from the REIL, just a similar name, totally another beast. Just cut and move to extras.

[2018-04-21 07:50] radare commented on #9865
Agree

[2018-04-21 07:52] radare commented on #9882
Yes. Grep friendly

[2018-04-21 09:11] d3db0t commented on #9882
Do I need to be assigned on this issue to start working or just finish and start a PR?

[2018-04-21 16:29] attritionorg commented on #9928
Can you link to the fixing commit please?

[2018-04-21 16:30] attritionorg commented on #9926
Can you link to the fixing commit please?

[2018-04-21 18:13] d3db0t commented on #9882
I guess someone did :laughing: @radare

[2018-04-21 18:48] radare commented on #9882
900 issues and 1collision 😱

[2018-04-21 18:52] d3db0t commented on #9882
Why is my travis CI build failing? Is it something related to Regression Tests? @radare

[2018-04-21 20:00] radare commented on #9882
Just search for XX]

[2018-04-21 20:01] radare commented on #9926
4e1cf0d3e6f6fe2552a269def0af1cd2403e266c
https://github.com/radare/radare2/commit/4e1cf0d3e6f6fe2552a269def0af1cd2403e266c

[2018-04-21 20:01] radare commented on #9928
https://github.com/radare/radare2/commit/041e53cab7ca33481ae45ecd65ad596976d78e68

[2018-04-21 20:46] d3db0t commented on #9882
I added the test, what should I do now? The travis build did not restart. @radare

[2018-04-21 21:37] attritionorg commented on #9926
Thanks!

[2018-04-22 06:54] brainstorm commented on #8512
I can confirm this bug with my AVR firmwares, I've observed same insights and issues. The problems  seem to start early by i.e not detecting/enforcing arch bits correctly:

[code]

[code]

[2018-04-22 07:01] brainstorm commented on #8512
I can confirm the issue, same symptoms and the analysis for my AVR ESC firmwares seems to differ a bit from the bin (left hand side) to the hex (right hand side):

<img width="1137" alt="skarmavbild 2018-04-22 kl 16 58 19" src="https://user-images.githubusercontent.com/175587/39092319-a99a9444-464e-11e8-9329-0b36faa4cd02.png">

[2018-04-22 12:41] radare commented on #8512
Whats the point in blaming the graph when its a problem with the io?

[2018-04-22 15:26] d3db0t commented on #9882
Travis is happy now :smile:

[2018-04-23 08:55] #9926 closed

[2018-04-23 08:57] #9928 closed

[2018-04-23 10:56] fumfel opened #9943 "Invalid free in r_strbuf_fini()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86-64
| r2 -v full output, **not truncated*

[2018-04-23 16:34] radare commented on #8512
Any noticeable difference in the io data comparing plain posix io with ihex://? Or it is a glitch? Just open both files side by side and scroll until you see a difference

[2018-04-23 16:50] pelijah commented on #9937
So do you want to build r2 on Windows? Why not to use Meson?

[2018-04-24 01:40] #9918 closed

[2018-04-24 03:47] brainstorm commented on #8512
I did precisely that, scrolling for a while in the beginning end and random sections, side by side, and nope, no differences eyeballing the hexes. Here are some screenshots:

<img width="1251" alt="skarmavbild 2018-04-24 kl 13 44 26" src="https://user-images.githubusercontent.com/175587/39165016-b6cff15e-47c5-11e8-873a-253d7ac92c86.png">
<img width="1233" alt="skarmavbild 2018-04-24 kl 13 44 02" s

[2018-04-24 07:51] #9754 closed

[2018-04-24 07:55] #9943 closed

[2018-04-24 08:22] XVilka opened #9947 "Seek line highlight also comments"
Not only the offset + disasm

[2018-04-24 09:34] radare commented on #9947
its done and fixed in master. must be improved, some cases dont highlight the whole line. so kazarmy can take a look again.

e asm.highlight=$$

e asm.highlight=rip

etc

[2018-04-24 11:34] radare opened #9948 "support more mmx instructions"
[code]

movdqa = load 128 bits from rdi+rcx into xmm0
pcmpeqb xmm0, xmm1 => xmm0 = (xmm0 == xmm1)? 0: -1;
pandn xmm1, xmm0 => xmm1 = !(xmm0 & xmm1)
pmovmskb eax, xmm1 => Creates a mask made up of the most significant bit of each byte of the source operand (second operand) and stores the result in the low byte or word of the destination operand (first operand).

there's no pseudocode for those inst

[2018-04-24 11:50] radare commented on #9947
Done

[2018-04-24 11:50] #9947 closed

[2018-04-24 11:56] radare commented on #9925
[code]

doesnt seems like something easy to encode...

[2018-04-24 16:02] radare commented on #9798
any more changes here? @ret2libc @kazarmy @Maijin @xarkes

here's the current list of asm. variables (which is pretty large)

[code]

[2018-04-25 00:03] #9882 closed

[2018-04-25 04:24] XVilka commented on #6970
@sivaramaaa please check this one

[2018-04-25 04:25] XVilka commented on #6856
@sivaramaaa and this one

[2018-04-25 04:26] XVilka commented on #4361
@sivaramaaa we have "tp" command now, can be extended to accept sequence of types too.

[2018-04-25 04:27] XVilka commented on #3143
@sivaramaaa and this - parsing is done, what is missing - loading and using those types automatically.

[2018-04-25 04:28] XVilka commented on #7710
For this we need to think/discuss first how it should be done exactly @sivaramaaa

[2018-04-25 04:29] XVilka commented on #6827
@sivaramaaa please check this one too.

[2018-04-25 04:31] XVilka commented on #4622
This was partially done with `ta` command. @sivaramaaa you can check this one too.

[2018-04-25 04:39] sivaramaaa commented on #9544
@XVilka sure,  i will start working on all of my assigned issues !!!

[2018-04-25 05:32] XVilka opened #9954 "hook"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                                            | Answers
|-----------

[2018-04-25 06:08] XVilka commented on #9867
@cyanpencil - kind of related to the graphs issues, regarding the consistency of `ag` commands.

[2018-04-25 06:14] XVilka commented on #4508
This is related to https://github.com/radare/radeco-lib/issues/91

[2018-04-25 09:34] radare commented on #9954
?

[2018-04-25 10:09] cyanpencil commented on #9867
Thank you for pointing this out to me.
Also, #8385 is related - maybe we can add them to #6967?

[2018-04-25 13:38] d4em0n opened #9957 "Segmentation fault when press "eco[TAB]""
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Kali Linux amd64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64.
| r2 -v full output, **not truncated

[2018-04-25 20:45] Wenzel opened #9960 "Debugger does not unset breakpoint"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 LTS
| File format of the file you reverse (mandatory)      |
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (m

[2018-04-26 01:33] #9957 closed

[2018-04-26 02:21] beijiuhu opened #9961 "rax2 convert hexstr to raw error on Windows"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 7 Pro SP1 64Bit
| r2 -v full output, **not truncated** (mandatory)     | commit: 562bd8f65ac9bcfb30ea2d2da95b6178776471a8 build: Tue 04/10/2018__ 8:26:07.70
### Expected b

[2018-04-26 06:00] XVilka opened #9962 "`agft` is broken"
Check on any single function.

@cyanpencil see this please too.

[2018-04-26 08:29] radare commented on #9075
you are using a very old version of valabind and swig. try upgrading this first. bindings build fine here. use valabind > 1.x and swig 3.x at least

[2018-04-26 09:11] Wenzel opened #9963 "debugger: singlestep reset breakpoints"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 LTS
| File format of the file you reverse (mandatory)      |
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (m

[2018-04-26 09:58] cyanpencil commented on #9962
@XVilka, are you referring to the fact that it only prints the tiny graph for the function in the current seek, and not the function provided in the argument?
(example: `agft` and `agft sym.xxx` are the same because the argument is ignored)

[2018-04-26 12:41] XVilka opened #9964 "Wrong highlight in ESIL help - `ae??`"
![screenshot_20180426_204038](https://user-images.githubusercontent.com/203261/39306238-279c788a-4992-11e8-9778-372c88433374.png)

[2018-04-26 12:42] XVilka opened #9965 "Deprecate the `anal.bb.*` variables"
Just kill them.

[2018-04-26 12:45] XVilka opened #9966 "Use the colorscheme in Visual Types menu"
Don't use the hardcoded colors in the `Vb` - then `t` - menu, "visual types"
![screenshot_20180426_204456](https://user-images.githubusercontent.com/203261/39306406-b3138412-4992-11e8-916d-7587d60d6c55.png)

[2018-04-26 12:47] XVilka opened #9967 "Store the C representation of the C type"
What about storing the original C representation (or simplified one) of the parsed C type (in `t` commands). If not hard would be nice to have it in Visual Types menu too.

[2018-04-26 12:49] XVilka commented on #9954
To be able to run the function from the r2pipe script upon that hook. Setting the callback basically.

[2018-04-26 14:12] radare commented on #9954
just pass an argument to the script

[2018-04-26 14:13] radare commented on #9967
i dont think tcc can give us this, it would be easier to just regenerate it from the sdb storage

[2018-04-26 14:27] #9961 closed

[2018-04-26 14:27] radare commented on #9961
remove the spaces between that or quote the whole thing, otherwise thats considered separate numbers to be converted

aka expected behaviour

[2018-04-26 14:28] s0i37 opened #9968 "Dump sections problem"
Hello.
I need to dump memory sections. But I didnt get them. May be I do something wrong...
I tried to get memory for PE and ELF files through "Sda" or "dmd".
"Sda" gives me 0xff content always.
"dmd" didnt work at all.
Also I noticed, that "Sda" for minidump-files works, but memory contents didnt accordance original addresses.

###My environ:
[code]

### Expected behavior
I expected to give store

[2018-04-26 14:31] radare commented on #9968
the S command will be deprecated soon or late. use wtf text@$S!$SS

[2018-04-26 14:31] radare commented on #9968
and yep. i can reproduce this bug, probably a va/pa problem after the siol merge

[2018-04-26 17:00] s0i37 commented on #9968
Whats about "dm"? It is usable only in debug mode?

[2018-04-27 01:50] beijiuhu commented on #9961
test rax2 -s "0a0a0a" > t
test rax2 -s 0a0a0a > t

some result:

0d0a0d0a0d0a

[2018-04-27 01:54] beijiuhu commented on #9961
my radare2 download from here http://radare.mikelloc.com/get/2.5.0/radare2-msvc_64-2.5.0.zip

[2018-04-27 07:01] radare commented on #9961
Omg windows specific issue. Thanks for reporting

[2018-04-27 07:03] radare commented on #9968
Maps are not sections, and yes, all d subconmands are debugger specific

[2018-04-27 10:44] sivaramaaa commented on #9965
Basically there are 3 variables under `anal.bb.*`

[code]
anal.bb.maxsize cannot be killed at the moment coz u need to change this value for binaries with larger basic block size , almost all analysis modules use this size

But once this issue is fixed https://github.com/radare/radare2/issues/9564 , we could then kill anal.bb.maxsize

i don't know about the rest of 2 variables

[2018-04-27 10:54] Vane11ope commented on #9721
sorry i've not been aware of this suggestion.

i've been on adding some other useful function to V! right now. however, i think that's a nice feature to add so let me take a look and see what i can do :)

[2018-04-27 11:06] fumfel opened #9969 "Stack buffer overflow in wasm_dis()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x64
| File format of the file you reverse (mandatory)      | Binary (generic)
| Architecture/bits of the file (mandatory)            | WASM
| r2 -v full output, **not

[2018-04-27 11:08] fumfel opened #9970 "Heap out of bounds read in parse_import_ptr()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x64
| File format of the file you reverse (mandatory)      | Mach-O
| Architecture/bits of the file (mandatory)            | x86-64
| r2 -v full output, **not truncat

[2018-04-28 03:59] XVilka opened #9973 "Remove the Mingw32/Mingw64 support"
Since we now have native MSVC support it is just an additional burden to support Mingw32/64, and some code can be cleaned. So please discuss. And MSVC 2015 version supports Windows versions higher than Windows XP (including it).

[2018-04-28 04:02] XVilka commented on #5847
@pielgrzym ping?

[2018-04-28 04:05] XVilka commented on #347
@radare what about this one? Any updates on this?

[2018-04-28 06:58] xarkes commented on #9973
I agree, I see no advantages to keep MinGW while MSVC is available.

[2018-04-28 07:04] s0i37 commented on #9968
Ok. I dumped all memory like this:
[code]
Its a little bit cumbersome but its seems worked.

[2018-04-28 08:02] radare commented on #347
No updates. The rbin refactoring hasnt happened yet.

[2018-04-28 08:04] radare commented on #9973
How can i get msvc in mac/linux? Mingw is there because its the only easy way to crosscompile to windows from there. Imho its useful, but i agree there are some inconsistencies that can make some people complain

[2018-04-28 08:05] radare commented on #9968
Ideally this sjould be done reusing the rabin2 -O option but making it available inside r2 as iO

[2018-04-28 08:06] xarkes commented on #9973
Well indeed, but give me one good reason to cross compile when there are releases binaries? If you don't have Windows, you surely don't need Windows binaries?

[2018-04-28 08:07] XVilka commented on #9973
@radare easy - just use Wine: https://github.com/xantares/msvc-wine

[2018-04-28 09:00] Toizi opened #9975 "Call xrefs from relocation section"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Xubuntu amd64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2018-04-28 09:31] radare commented on #9973
And how to wget msvc.zip?

[2018-04-28 09:47] XVilka commented on #9973
http://landinghub.visualstudio.com/visual-cpp-build-tools

On Sat, Apr 28, 2018, 5:31 PM radare <notifications@github.com> wrote:

[2018-04-28 10:34] radare commented on #9973
Why is this thing not in r2pm yet then?

[2018-04-28 10:36] xarkes commented on #9973
Because no one needed it until you today :p
So if we add that to r2pm and documentation to cross compile with wine, then it's all good, we can remove MinGW support?

[2018-04-28 21:09] radare commented on #8828
this is asm.highlight which can be improved to support more colors depending on hints or so. let's close this for now and continue the work on #8588

[2018-04-28 21:09] #8828 closed

[2018-04-28 21:12] radare commented on #8458
asm.offset should be enough here. no need to add extra options imho

[2018-04-28 21:13] radare commented on #4692
i think we can close this, after 2 years, this code changed a lot and many memleaks has been fixed. and more will do

[2018-04-28 21:13] #4692 closed

[2018-04-28 21:15] radare commented on #9716
related to https://github.com/radare/radare2/issues/9867

[2018-04-28 21:56] #8458 closed

[2018-04-28 21:59] radare opened #9979 "Implement graph.bytes"
Like graph.offset, but to toggle asm.bytes instead of asm.offset in the bb rendering

[2018-04-28 22:00] radare commented on #9716
open discussion in this pad https://hackmd.io/Nd6mgWwJRdOaCSYr7l2XQA?edit

[2018-04-29 02:30] XVilka commented on #9973
I was using Cygwin and Mingw too, but these days those are not popular due
to WSL (and improved C99 in MSVC) and have too big overhead.

On Apr 29, 2018 4:19 AM, "radare" <notifications@github.com> wrote:

Mainly because i dont like to depend on privative software to do something.
And when i was maintaining r2 for windows i was doing cygwin and mingw alone

then it's all good, we can remove MinGW

[2018-04-29 09:46] radare commented on #9973
World surf league?

[2018-04-29 09:58] pelijah commented on #9973
Windows Subsystem for Linux. But it is available only on Windows 10.

[2018-04-29 13:37] WarrenHood opened #9983 "rp2m build failed (Kali linux chroot on android)"
Hi. I want to install r2frida (since I am struggling to build frida)...  Everything goes fine and then build fails after cloning a tar.xz file and it says it does not look like a tar file

[2018-04-29 19:50] radare opened #9986 "Implement xxd -i in rax2 -i"
[code]

This is already implement in r2 via the pc command, we just need to expose it in rax2 and update the manpage

[2018-04-29 20:10] radare commented on #9983
rp2m is nothing.

download it by hand and try to uncompress it in your shell. the tar.xz works fine here and it is a valid file. and if it is not is a problem with frida, not radare

[2018-04-29 20:10] #9983 closed

[2018-04-29 22:00] aldelaro5 opened #9987 "Incorrect graph view when analysing a function"
I get incorrect graph when trying to analyse a function.

I cannot share the binary, but here's the function code: https://pastebin.com/wttcjdhW

And here's the produced graph which looks incorrect:
[ascii_graph.txt](https://github.com/radare/radare2/files/1959275/ascii_graph.txt)

### Work environment

| Questions                                            | Answers
|-----------------------------

[2018-04-29 23:45] radare opened #9989 "RConfigHold api is wrongly designed"
I think that this hold api can be implemented when hooking which variables are modified, and keeping ¡the original value until its unhold. There's no need to support push/pop here. but maybe doable to evaluate implement this too. the idea is that when rconfig is on hold, all set operations will check if the original value has been saved and keep running the callback. This way when running r_config

[2018-04-30 00:03] radare commented on #9987
Can you share any other binary to reproduce the issue? Or just type stream of bytes to write with wx and then af

[2018-04-30 00:50] aldelaro5 commented on #9987
Unfortunately, I only have propreaitary binary at the moment so I can't get another binary, I will say that this issue did happened on another binary I had and that I noticed it after the frontend cutter was behaving strangely with graphs (while they worked fine before).  So this likely used to work meaning it might be a regression?

As for typing hex bytes.....I am not sure what to do tbh.

[2018-04-30 06:58] Rader2UserThank opened #9990 "Can't translate arm to hex on windows and ubuntu"
I tried to translate arm instruction to hex , but in THUMB2

For exmaples `add R0, R1, R2` inTHUMB2 hex it  `01EB0200` but when I do `rasm2 -a arm -b 32 "add R0, R1, R2"` I get `020081e0`

When I using the windows version I tried  `rasm2 -a arm -b 16 add r0, r1, r2` but I get
 `Cannot assemble 'add' at line 3
invalid`

[2018-04-30 07:55] radare commented on #9990
And the quotes?

[2018-04-30 09:10] Rader2UserThank commented on #9990
@radare  what do you mean please?

[2018-04-30 10:48] #9083 closed

[2018-04-30 13:38] pawlos opened #9992 "r2 search doesn't work after loading a project"
The search command `/` doesn't work when project is loaded from file (`Po`).

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64, macOS High Sierra 10.13.3
| File format of the file you reverse (mandatory)      | ELF

[2018-04-30 15:56] radare commented on #9990
If you dont quote the instruction you will be assembling only “add” without any argument. Which is wrong

[2018-05-01 07:33] cyanpencil commented on #9962
Since I wasn't able to find the source of this bug I manually binary-serched on the commit history to see when it was introduced.

I found out that tiny graph edges were broken since the very commit that introduced them.
In particular, in commit [b49314a94](https://github.com/radare/radare2/commit/b49314a94b5ca94cfe83e05dd90c4e0a19fe5bbf) we can see they were introduced because in line 3052 in fil

[2018-05-01 10:04] pelijah commented on #9083
Still requires changes in r2pm.

[2018-05-01 10:12] xarkes commented on #9083
Yes, I will start working on new version of r2pm soon (one-two weeks).

[2018-05-01 13:30] BlackYoup opened #9995 "Hardware breakpoint won't be hit for 32 bit binary on a 64 bits system unless asm.bits = 64"
Hello,

First of all, I'm just starting with radare2, I'm sorry if a similar issue has been opened or if the problem is known, I couldn't find it :-/

Thanks for the tool, it's fun and nice to use!

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)

[2018-05-01 14:14] radare commented on #9962
Press the e key to toggle edges

[2018-05-01 15:39] cyanpencil commented on #9962
Thank you for your answer @radare , but I think I didn't formulate well the question.

The problem is that `graph.edges = 2` by default, so that we the `agft` command is ran, the broken edges of the tiny graph are shown by default.

My question is then: should the graph edges be disabled when running `agft` (and, more in general, when displaying the tiny graph) unless specified by the user?

[2018-05-02 04:57] XVilka opened #9998 "Better syscall/external function emulation facilities with ESIL"
Currently the UX of it is far from good, in my opinion. Would be nice to rethink the interface.

[2018-05-02 05:48] pawlos opened #9999 "Cs help info is misleading or it does not work as stated in help"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS x86_64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (ma

[2018-05-02 09:15] radare commented on #9995
Whichcommand did u used to set the hwbp?

[2018-05-02 10:02] #9990 closed

[2018-05-02 12:20] afiskon opened #10001 "There’s no support for RISC-V assembler"
Hello,

I noticed that rasm2 disassembles RISC-V instructions successfully but can't assemble same instructions:

[code]

I'm using Arch Linux x64, radare2 was compiled from source using radare2-cutter-git AUR package ( https://aur.archlinux.org/packages/radare2-cutter-git/ ):

[code]

Is it a bug or this feature is just not implemented yet?

[2018-05-02 12:33] radare commented on #10001
there’s no support for riscv assembler at all

$ rasm2 -L | grep risc
_dA_  32 64      riscv       GPL     RISC-V

there’a no ‘a’ in the first column

[2018-05-02 12:38] afiskon commented on #10001
Oh, OK. Is there anyone working on it currently? If not I could try to implement it.

[2018-05-02 12:41] radare commented on #10001
nobody afaik, all yours :)

[2018-05-02 14:41] radare commented on #9716
cc @cyanpencil

[2018-05-02 16:17] Rader2UserThank commented on #9990
@radare , even I type  `rasm2 -a arm -b 16 "add r0, r1, r2"` I got `invalid`

[2018-05-02 18:53] quim0 opened #10003 "Invalid json in e??j"
### Work environment

[code]

### Expected behavior
Be able to parse the json output.

### Actual behavior
Raises an invalid \escape exception.

### Steps to reproduce the behavior
[code]

As you can see there're some `\\xff`  scape characters, and according to [this](https://stackoverflow.com/a/4296045) it must be `\u00ff` if we want the unicode character, or `\\\\xff` if we want the `\\xff`.

[c

[2018-05-02 21:03] quim0 commented on #10003
Problem seems to be here:
https://github.com/radare/radare2/blob/0036b2cae832696793593117c0724d277a459174/libr/util/str.c#L1106
But this function is used in other places, so idk how to approach this, as it may break other stuff.

[2018-05-02 22:26] Hanan-Natan commented on #9992
Same issue here:
``radare2 2.6.0-git 1 @ windows-x86-32 git.
commit: 562bd8f65ac9bcfb30ea2d2da95b6178776471a8 build: Tue 04/10/2018__ 8:26:09.94``

[2018-05-02 23:50] condret commented on #9998
uhm, nobody uses the current interface

[2018-05-02 23:52] condret opened #10005 "esil "==""
the "==" operator should not push any value to the stack

[2018-05-03 11:49] radare commented on #9962
act as a minigraph?

next step was to show it in a corner when scrolling a huge graph (or in panels)

[2018-05-03 11:56] radare commented on #9998
because the world is full of noobs and non-believers, please add more details

[2018-05-03 15:29] afiskon commented on #10001
I explored the code a little bit and I got an impression that I'm not going to reuse current disassembly implementation. I would like to implement risc-v assembly/disassembly engine from scratch (fortunately this ISA is well documented and structured) and cover it with property-based tests.

Does this course of action sound OK? If the answer is yes, will it be OK to replace current risc-v disassem

[2018-05-03 15:48] Maijin commented on #10001
What's the reason of not improving the current risc-v disassembler over reimplementing a new one?
Same question, why not using the binutils riscV then instead of reimplementing a new one?

[2018-05-03 15:49] radare commented on #10001
current riscv disassembler is ripped from GNU, and yes, gnu code is awful. dont even try to reuse the assembler implementation of gas, its even worst than trying to adjust the disassembler. ideally it should be theorically easy to adjunst the llvm-riscv code to work within capstone and then make r2 use capstone for disasm and analysis, but assembling will be lacking too because the llvm assembler

[2018-05-03 16:15] pawlos commented on #9992
Looks like the `core->io->desc` is NULL and it exits on

    if (!core || !core->io || !core->io->desc) {

in cmd_search.c

[2018-05-03 16:29] radare commented on #9990
buy a mac, works fine here

[2018-05-03 17:14] pawlos commented on #9992
[0x004049a0]> o
     3 * r-x 0x0001ee78 /bin/ls
     4 - rw- 0x00000d68 null://3432
    [0x004049a0]> om
     3 fd: 3 +0x00000000 0x00400000 - 0x0041da63 r-x fmap.LOAD0
     2 fd: 3 +0x0001de00 0x0061de00 - 0x0061e5ff r-- fmap.LOAD1
     1 fd: 4 +0x00000000 0x0061e600 - 0x0061f367 rw- mmap.LOAD1
    [0x004049a0]> Po ls_project
    Close current session? (Y/n) y
    [0x004049a0]> o
     3 - r-x 0x0

[2018-05-04 03:36] sivaramaaa opened #10008 "Wrong disassembly with io.cache and afta"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (mandato

[2018-05-04 03:37] sivaramaaa commented on #10008
I would try to look into this issue, once I finish my refactoring and optimizing stuff with afta !!

[2018-05-04 07:56] radare commented on #9992
Wonder why core->io->desc is not a siol antipattern. @condret

[2018-05-04 08:28] PaoloMonti42 commented on #9986
While working on this issue, I noticed some code for the -P option, but it's actually unreachable since the flag is not checked from the argv. Is this known?
[code]

[2018-05-04 08:30] radare commented on #9986
you see it you fix it :P

not known issue, and no tests for this

[2018-05-04 08:52] PaoloMonti42 commented on #9986
Should I submit them as separate PRs?

[2018-05-04 09:12] radare commented on #9986
Yep. But same pr with different commits looks fine to me too

[2018-05-04 09:47] afiskon commented on #10001
@Maijin I completely understand the desire to reuse existing code. But as always there are pros and cons.

Pros:
* The code _suppose to be_ working, well-tested, etc
* Time is saved

Cons:
* There is no fun in that :) And people write OSS for free in their spare time because it's fun.
* License issues. For libraries (not end products) I prefer MIT/BSD-style licenses so anyone could reuse it, inclu

[2018-05-04 10:06] Maijin commented on #10001
And there is no modern, maintained disassembler library in the MIT/BSD license available already?

If you want to reimplement the wheel go ahead, but please prioritize the assembler first so we don't end up with 2 not working disassembler and still no assembler.

Make also sure that this current tests
* https://github.com/radare/radare2-regressions/blob/master/new/db/asm/riscv_32 and
* https://git

[2018-05-04 11:10] radare commented on #9992
ive removed this check, try again to see if it works for you now, it shouldnt harm to drop this assumption

[2018-05-04 11:32] radare commented on #10001
im totally for doing things from scratch, but reusing helps avoiding dupped work.

lemme answer your dots

+1

+1, thats why we have —without-gpl configure flag, and thats why i said to do that in capstone

thats why we do continuous refactoring , break apis, rewrite things from scratch all the time, etc. r2 doesnt have “legacy” code. or at least we try to make all code “alive"

well, capstone is

[2018-05-04 12:47] pawlos commented on #9992
works without the check

[2018-05-04 13:03] #9992 closed

[2018-05-04 17:52] Maijin commented on #10001
Yeah as said it's fine, but please prioritize assembler to avoid 2 broken disassembler and no assembler in the end.

[2018-05-04 18:07] #9706 closed

[2018-05-04 22:57] #9986 closed

[2018-05-05 12:39] PaoloMonti42 commented on #9925
I took a look and x86.nz is the assembler with this behavior. The others throw an error, and that makes sense. I can try to fix it, what is the expected behavior? Inferring a size, or error?

[2018-05-05 15:54] PaoloMonti42 commented on #9925
Weird behavior for 'mov [reg], N' but in this case it seems to default to 'word ptr'

[2018-05-05 20:04] PaoloMonti42 opened #10019 "rasm2 assembling for 32 bits even if 'r' registers and -b 64"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x86_64
| File format of the file you reverse (mandatory)      | None, manual input to rasm2
| Architecture/bits of the file (mandatory)            |  x86/64
| r2 -v f

[2018-05-06 09:12] Maijin commented on #6851
@thestr4ng3r @XVilka @r00tus3r can you check the boxes in the initial post of the issue so we know what is remaining to do here?

[2018-05-06 09:17] Maijin commented on #1267
Verdict @Gromimousse @jvoisin ?

[2018-05-06 09:33] pawlos opened #10022 "o command with fd doesn't switch to selected file descriptor"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 32, OSX High Sierra
| File format of the file you reverse (mandatory)      | ELF, Mach-O
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full ou

[2018-05-06 10:46] Maijin opened #10023 "Merge anal.noncode in anal.in"
@sivaramaaa's idea :
we need to create io.maps.exec just like io.sections.exec and then
set `anal.in = io.maps.exec` as default  this should solve the problem

[2018-05-06 11:07] radare commented on #10022
no. that behaviour changed 1 year ago

its just the help message is wrong. use op for this

[2018-05-06 11:07] #10022 closed

[2018-05-06 12:06] TheAifam5 opened #10025 ""w32_dbg_maps/w32_OpenProcess" The parameter is incorrent"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10 x64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (