[2015-10-13 22:19] radare commented on #3452
@condret the patch is there, i have also pushed some tests and more enhacements in the anal, hopefully i didnt overlap too much of your changes.

[2015-10-13 22:20] radare commented on #2781
What about moving this discussion to 1.0?

[2015-10-13 22:21] radare commented on #2772
Let's focus on most common asan crashes for this release. we can continue squashing null derefs for later

[2015-10-13 22:21] XVilka commented on #3438
@crowell can we close it?

[2015-10-13 22:22] radare commented on #2751
Similar to the other ^C bug you fixed before

[2015-10-13 22:25] radare opened #3460 "Cannot build against old capstone libs"
Because they doesnt support m68k.

See build log: http://pastebin.com/YjLsLGuD

This can be fixed with this: https://github.com/aquynh/capstone/pull/511

But we should provide a version check to fix this issue until capstone gets support for this

[2015-10-13 23:27] radare commented on #3460
Should be fixed now.

This issue is related https://github.com/aquynh/capstone/pull/511

[2015-10-13 23:27] #3460 closed

[2015-10-13 23:28] crowell commented on #3438
close #3438
On Oct 13, 2015 6:32 PM, "Anton Kochkov" <notifications@github.com> wrote:

[2015-10-13 23:29] radare commented on #3386
@alvarofe wanna try?

[2015-10-14 00:12] radare commented on #2922
Done!

[2015-10-14 00:12] #2922 closed

[2015-10-14 00:12] radare commented on #2922
42bc18703a75901ecb642582f1e034bdc4f35887

[2015-10-14 00:12] radare commented on #3449
Done in 42bc18703a75901ecb642582f1e034bdc4f35887

[2015-10-14 00:12] #3449 closed

[2015-10-14 00:13] radare commented on #3446
thanks @ret2libc

[2015-10-14 00:13] #3446 closed

[2015-10-14 00:13] radare commented on #3273
Thanks @alvarofe

[2015-10-14 00:14] radare commented on #3239
Move to 1.0? @Maijin do you have some time to write tests for all those commands?

[2015-10-14 00:16] radare commented on #2824
This is done in `di` and DebugInfo struct

[2015-10-14 00:16] #2824 closed

[2015-10-14 00:22] radare commented on #3441
Uhm? this info is already available in V!?

[2015-10-14 00:22] #3441 closed

[2015-10-14 00:25] radare opened #3461 "Make the iOS debugger work"
Current issues:
- [ ] Cannot step
- [ ] Cannot soft-step (using breakpoints and code analysis)
- [ ] Cannot continue (without detach)
- [ ] Breakpoints (in theory they should work)

[2015-10-14 00:27] radare opened #3462 "Support dbg.libs/dbg.unlibs on linux/osx"
If those vars are set, a hidden breakpoint to dlopen/dlclose should be set

[2015-10-14 00:38] radare opened #3463 "Show all registers when reg.pc.size != asm.bits"
This happens in AVR, because PC is a 16/24 size register, and the asm.bits should be 8, but the pc register size is different. in this case `dr=` command should display both groups

[2015-10-14 00:50] #3463 closed

[2015-10-14 00:51] radare commented on #3426
reg profile has been added.

[2015-10-14 00:54] radare commented on #3430
Probably ok to close

[2015-10-14 00:54] #3430 closed

[2015-10-14 00:55] radare commented on #3452
@Darkkey i have pushed some tests and fixes in the avr analysis. also added a reg profile, so everything starts to make sense now.
@condret this xch patch is merged, so you can go on with the esil thing.

[2015-10-14 00:58] radare opened #3464 "Debugger TLS memory"
It will be good to be able to access the TLS memory of a speciifc thread. This can be only done by injecting an %fs/%gs dumper in the target process.

One approach would be to put this code available in IO and add an io command to specify the address to virtually map this memory. The only thing is that it requires some code injection stuff that will be handier to be done in the debugger plugin.

H

[2015-10-14 01:01] #3443 closed

[2015-10-14 01:03] radare commented on #3322
@condret what do you think about this issue?

[2015-10-14 01:09] radare opened #3465 "Verify and enhance r2pipe support for Windows"
Right now, r2pipe works great on linux and osx on Python or NodeJS as main languages supported. But there's also for a large variety of languages that work with it.

R2pipe support for Windows is not that rich atm. Only Python is supported, and it is a bit limited. Some remote-only r2pipe apis will work too, but fail in case of being used as an rlang #!pipe script.

* [x] Implement NodeJS r2pipe s

[2015-10-14 01:11] radare commented on #2905
Maybe just use the hud-style as recently done in VF_ ?

[2015-10-14 01:13] radare commented on #3457
Why not start from 0? instead the 'a'?

[2015-10-14 07:16] ret2libc commented on #2907
Done

[2015-10-14 07:16] #2907 closed

[2015-10-14 07:28] radare commented on #3076
Signatures doesnt do any refence or code analysis. Axt is not suposed to qork after this

Didnt moticed u changed the offset where the signature is found so everything looks good to me.

Also, i have fixed several issues in the amalysis. Run aac to get those axt things working.

Other analysis commands would work better too. In addition, can you try if the function size is properly analyzed now?

[2015-10-14 08:21] radare opened #3467 "Follow jumps must support automatic thumb-mode swap"
On ARM code analysis, `blx` analysis switches to `asm.bits=16`, but if you don't perform full analysis and you try to follow the calls by pressing the numbers in visual mode, the `asm.bits` is not changed.

[2015-10-14 08:25] radare commented on #3467
This requires that branch-and-exchange instructions to be marked somehow in the `RAnalOp`, and we should store a destination asm.bits field in the list of call destinations.

We can probably extend this functionality for the anal hints. (ahB) -> to set the destination bits?

[2015-10-14 09:05] hegusung opened #3468 "Problem finding PE functions in release mode"
Hi,
I tried to disassemble my own PE binary with radare2 but when i list the functions with my PE binary compiled in release mode, only 2 functions appear : (after doing aa and afl)

a function called entry0
a function called section..text

Everything works fine with my Debug mode binary.

[2015-10-14 09:13] #3078 closed

[2015-10-14 09:26] Maijin commented on #3273
Nop, it' still not working try aaa^C on this http://rghost.net/private/7TLhfnvdy/887a052f214118d4d3ff84a967e2d9eb

[2015-10-14 09:29] ret2libc commented on #3457
fixed

[2015-10-14 09:29] #3457 closed

[2015-10-14 11:17] radare commented on #3468
How are you analyzing the binary? are you talking about symbols or functiks? Dis you run the aac command? Or maybe aap? I guess this is a 32bit W32 executable, can u provide a sample? Which functions are not found? Try enabling anal.hasnext if u are using af. Join the irc, maybe someone can give u some hints on how the analysis works in realtime

[2015-10-14 11:28] hegusung commented on #3468
ok thanks ! aac works. I will join the IRC for further questions.

[2015-10-14 11:28] #3468 closed

[2015-10-14 11:44] jvoisin commented on #2781
It is that hard/long to add an `author` field to a struct?
Am I missing something?

[2015-10-14 11:45] XVilka commented on #2768
@radare bug is still here

[2015-10-14 11:55] Maijin commented on #3468
@hegusung use "aaa" not "aa"

[2015-10-14 11:55] Maijin commented on #3468
@hegusung  Or even simpler use r2 -A

[2015-10-14 12:09] radare commented on #2768
Can u try to run mkdir -p to create this and identify if the problem is in r2 mkdirp code or this path is just impossible to create in cygwinland?

[2015-10-14 12:11] radare commented on #2781
What if theres more than one author? Do we want a string or an int to store the version? If a string we need a version comparator function. .. Blablabla

[2015-10-14 12:25] XVilka commented on #2768
@radare `mkdir -p` worked flawlessly.

[2015-10-14 12:58] dukebarman commented on #3076
Right?

[code]

I think it works :)

[2015-10-14 12:58] radare commented on #3076
ow yeah ;)

[2015-10-14 12:58] #3076 closed

[2015-10-14 13:01] Maijin commented on #3076
@dukebarman can you add a test in r2r?

[2015-10-14 13:01] radare opened #3470 "Add support for mkdir -p"
Right now:
[code]

We have `r_file_rmkdir` (recursive makedir), which shoulkd be proabbly renamed to `r_file_mkdirp` to avoid confusion with `rm`.

Maybe we want to make r2's mkdir use this instead of a plain mkdir. or we can just add support for `rmkdir -p` command.

This will be handy to debug https://github.com/radare/radare2/issues/2768

[2015-10-14 13:12] XVilka commented on #3307
Closed in 32a4b9e6b77117f175ffc553c9c4b00ce4a1d0db

[2015-10-14 13:12] #3307 closed

[2015-10-14 13:49] dukebarman commented on #3077
Retried this file in last version of radare2

![test bin_fault](https://cloud.githubusercontent.com/assets/1186777/10485545/de74eff4-729b-11e5-9679-092ea14fe2e7.png)

[2015-10-14 13:59] dukebarman opened #3471 "Need command for matched zygnatures"
It would be awesome to be able to see what subset of signatures actually was found

[2015-10-14 14:25] XVilka commented on #3471
@dukebarman please, show an example how do you see it

[2015-10-14 14:29] #2751 closed

[2015-10-14 14:29] #3386 closed

[2015-10-14 14:32] dukebarman commented on #3471
Maybe like in
[code]
But only founded or add column/flag in z* for each founded sign

[2015-10-14 14:35] #3273 closed

[2015-10-14 14:36] radare commented on #3471
We can show this in the `z` command

[2015-10-14 14:52] dukebarman commented on #3159
Update images:
![2015-08-25 01-32-30](https://cloud.githubusercontent.com/assets/1186777/10487375/ba11bc2e-72a4-11e5-81f6-e51c9f75928a.png)
![2015-08-25 01-36-18](https://cloud.githubusercontent.com/assets/1186777/10487376/ba142c5c-72a4-11e5-891d-b56fa532cb08.png)

[2015-10-14 14:56] #3471 closed

[2015-10-14 14:56] radare opened #3472 "Add `zj` command to show zignatures status in JSON format"

[2015-10-14 15:00] radare commented on #3471
should be done now :)

[2015-10-14 15:01] dukebarman commented on #3471
We need not only number :) Need list of founded signs

[2015-10-14 15:02] radare commented on #3077
aa will look for symbols, are you doing it wrong. there are no symbols in this bin

why the hell you get a crash in aa? can you show backtrace?, you should run af @ sign.sys.b.strotk

aff is nothing

adn then type afi @ sign.sys.b.strtok.

[2015-10-14 15:02] dukebarman commented on #3471
I'd suggest new "zlm" command, to show the full list of the matched zignatures

[2015-10-14 15:11] radare commented on #3471
They are stored in flags. Use the flagspace associated

[2015-10-14 15:25] alvarofe commented on #3077
maybe it was related with the segfault in dex. Try pull

[2015-10-14 15:53] jvoisin commented on #3450
I'm currently fuzzing PE, so far, nothing.

[2015-10-14 16:22] dukebarman commented on #3077
@alvarofe you're right. I don't see segfault anymore.

[2015-10-14 17:21] Maijin commented on #3450
Some results
* Java: http://pastie.org/private/obuthbwxaapvieevaevyvg
* AVR: http://pastie.org/private/5l7y47ekuofscd4biey7ya

[2015-10-14 17:28] dukebarman commented on #3077
Earlier:
[code]
Now:
[code]

Is it correct? Our sign is finished on sign.sys.b.strok+90

[2015-10-14 17:49] radare commented on #3077
The signatures doesnt spexify function size. A function should not stop on a call. Can u paste the output of pdf?

[2015-10-14 18:11] dukebarman commented on #3077
[code]

Sorry, not correct. I mean sign.sys.b.strok+114 And +114=ret

[2015-10-14 18:14] bspar commented on #3450
From ELF fuzzing:

Samples: http://rghost.net/8Y2YTw7Sm
List: http://pastie.org/private/t2k51ydk2lajvjitvbw1q

[2015-10-14 19:09] radare commented on #3077
You have to run af @sign.... Before calling pdf

[2015-10-14 19:21] dukebarman commented on #3077
Seems ok

![pdf_sign](https://cloud.githubusercontent.com/assets/1186777/10494939/327f62fe-72ca-11e5-8b7e-58a39d1c6941.png)

[2015-10-14 19:26] #3472 closed

[2015-10-14 19:36] dukebarman commented on #3471
Right?
[code]

[2015-10-14 19:37] Maijin commented on #3471
@dukebarman `f` to display list of flagspace to choose from. You can also use `VF`

[2015-10-14 19:40] dukebarman commented on #3471
[code]
:))))

For VF thanks!

[2015-10-14 19:41] Maijin commented on #3471
corrected is fs sorry

[2015-10-14 21:34] ret2libc opened #3474 "seek undo/redo: don't stack consecutive dups"
How to check it:
[code]
Expected output: only one entry in the seek history.

[2015-10-14 21:42] ret2libc commented on #3474
The reason for this change is that in visual and graph mode, when i press ```u``` it can happen that I have to press it many times because the same address may be stacked many times and you don't really know if there's something wrong with the visual/graph mode or it's ok.

[2015-10-14 21:45] jvoisin commented on #3033
It would be super-awesomely-nice!

[2015-10-14 23:23] condret commented on #3474
pls do it on the siol-branch

[2015-10-15 00:03] radare opened #3476 "wf: support delta from the begining of file"
It should look like this:

[code]

Also, there's no `wf?` implemented

[2015-10-15 00:33] crowell commented on #3450
closed @bspar  crashes

[2015-10-15 00:39] crowell commented on #3450
@Maijin AVR seems fixed, java just infinite loops now, no crashes, but still not great..

[2015-10-15 00:46] crowell commented on #3450
fixed java anal loop https://github.com/radare/radare2/commit/51348dd8a8c4550ffbe5c1ad3594fabc91976ddf

[2015-10-15 00:49] #3438 closed

[2015-10-15 09:06] Maijin commented on #3450
@crowell AVR issue not fixed, still segfaulting

[2015-10-15 09:15] radare commented on #3474
Ok for but the change should be simple so it can be done in both

[2015-10-15 09:22] condret commented on #3474
merge-conflict, here we go :(

[2015-10-15 10:31] aguilbau opened #3479 "/x fails sometimes"
/x fails for some cases:
[code]

[2015-10-15 10:45] jvoisin opened #3480 "Killing the bindings?"
Since the recommended way to use r2 from foreign languages is to use `r2pipe`, shall we kill the (borken) bindings?

[2015-10-15 10:47] XVilka commented on #3480
1. Nope, bokken still use it
2. Nodejs bindings are broken for a long time - could be killed, etc.
3. In general - move the rest (officially unsupported) into the r2-bindings-extra
4. Focus on 3-4 most important languages and write tests them + add in the TravisCI

[2015-10-15 10:51] jvoisin commented on #3480
It wouldn't be that hard to port bokken to r2pipe anyway.

What would be the point of keeping the bindings?

[2015-10-15 10:54] XVilka commented on #3480
Bindings are useful, especially for things like that https://github.com/radare/radare2/issues/2100
But supporting _all_ languages - that's certainly overkill, yep. I'd leave only Python and JS as 'official' languages - thats my suggestion.

[2015-10-15 10:57] aguilbau commented on #3479
the same bug is present in standard search:
[code]

[2015-10-15 11:02] condret commented on #3479
e serach.from and e search.to ?

[2015-10-15 11:04] aguilbau commented on #3479
0xffffffffffffffff for both

[2015-10-15 11:09] alvarofe commented on #3450
I'll try the avr issue

[2015-10-15 11:13] jvoisin opened #3481 "Reduce the number of (pedantic) warnings"
We've got some continuous integration jobs for radare2 launched upon every commit, and [one of them](http://ci.radare.org/job/radare2-pedantic/) is using the compiler flag `-pedantic`.

It would be great to decrease a bit the number of warnings that it generates ;)

[2015-10-15 11:15] alvarofe commented on #3450
@Maijin I don't get nothing with the first avr (compiled with asan), git pull?

https://asciinema.org/a/e1elpe2jnwqq0srkg8m3o76m7

have you set limits for the memory or something?

[2015-10-15 11:36] Maijin commented on #3450
Yep is ok now ;)

[2015-10-15 12:16] aguilbau commented on #3479
this reminds me of a bug i had when implementing substr finding:
[code]
this code will find 'abc' in 'lolabclol',
but not 'abc' in 'ababc'

the solution was this patch:
[code]

dunno if it helps, but here its anyways.

[2015-10-15 12:43] XVilka commented on #3159
I guess profile for 64bit XP should be added here https://github.com/radare/radare2/blob/master/shlr/wind/profiles.h

[2015-10-15 12:44] XVilka commented on #3480
Speaking of nodejs - here is the bug https://github.com/radare/radare2-bindings/issues/88

[2015-10-15 12:51] dukebarman commented on #3480
So not kill nodejs plz :)

[2015-10-15 13:12] Maijin commented on #3481
Is this build  used or even read anyway?

[2015-10-15 13:22] jvoisin commented on #3481
Not really, but it helps tracking down how much our codebase sucks.

[2015-10-15 13:42] radare commented on #2271
This should be fixed now. can you retest?

[2015-10-15 13:52] Maijin commented on #2271
@radare nop https://travis-ci.org/radare/radare2/jobs/85531215#L3240

[2015-10-15 14:33] Maijin opened #3483 "Do you want to print X lines not asked for some archs"
http://pastie.org/private/dwmjyw7ylby7u1tja9td4g In this example, "Do you want to print X lines? (y/N)
" is not asked to the user which is very unfriendly.

[2015-10-15 14:33] #3483 closed

[2015-10-15 14:59] lowfatcomputing commented on #3433
You are correct. My bad.

    [0x00000000]> pdl | sort | uniq

    2
    4

The only bug I might see here now is a usability bug. Afaik UAL is *not* actually 16-bit asm. It's both 16-bit and 32-bit. So maybe instead it should be specified as `-b16-32`, `-bUAL` or something.

It seems clear now that my ELF and BIN files are disassembled at the wrong offset, or capstone tries to disassemble the inte

[2015-10-15 16:02] condret commented on #3480
we should kill python (i'm not talking about the bindings)

[2015-10-15 16:03] Maijin commented on #3480
@dukebarman did you try the r2pipe in node?

[2015-10-15 16:07] dukebarman commented on #3480
@Maijin yeap. But it's not all for planned my tasks :(

[2015-10-15 16:15] jvoisin commented on #3480
But no one is maintaining nor using them :/
And I'm tired of endlessly redirecting people to r2pipe because they are broken.

[2015-10-15 16:29] revskills commented on #3450
Let's start from here:

[code]

issue #2501 : XBE, Microsoft Xbox executable, not signed (old issue not fixed, seems not in list from comment 0 but anyway..)
file: http://revskills.cz/r2/0fda269757fb09e36daca69c26f54fdb

[2015-10-15 16:36] revskills commented on #3450
[code]

issue #2593
file: http://revskills.cz/r2/5a1a113d300ed93d21288a3314bd0679

Was fixed and confirmed, so not sure if regression (note address is 0x000000000000  )

[2015-10-15 16:40] revskills commented on #3450
[code]

issue #2465  Mach-O arm_v7 executable
file: http://revskills.cz/r2/9bdfe1a56d369d4e1c5a43a711c8ba83

[2015-10-15 16:52] revskills commented on #3450
[code]
MS-DOS executable
file: http://revskills.cz/r2/oom02

[2015-10-15 16:53] revskills commented on #3450
btw it is quite noticeable that mach0 parser has been improved.. kudos for that g*ys

[2015-10-15 17:05] radare opened #3485 "VV should use non-interactive cons"
The problem is that graphing HUGE functions results in answering "do you wanna print X lines.. (Y/n)" on every redraw

[2015-10-15 17:15] radare opened #3486 "ESIL support for the "it" Thumb instruction"
Some bytes: 08bf b8bf 18bf ...

Some doc: http://community.arm.com/groups/processors/blog/2010/09/30/condition-codes-3-conditional-execution-in-thumb-2

[2015-10-15 18:51] Maijin commented on #3480
@dukebarman :/ I mean, why would you ever use bindings, it is very complex to use and install + highly prone to break because no maintenance, it's only generated

[2015-10-15 21:25] dukebarman commented on #3480
@Maijin r2pipe doesn't work in Windows :'(

[2015-10-15 21:26] Maijin commented on #3480
@dukebarman It would be much more easier to make the r2pipe working on windows than the bindings if that's your only problem

[2015-10-15 22:21] XVilka commented on #3480
@Maijin let both bindings blossom, not to mold.

[2015-10-15 22:30] condret commented on #3486
looks like a conditional jump to me

[2015-10-15 22:32] condret commented on #3451
what about killing https://github.com/radare/radare2/blob/master/libr/anal/p/anal_x86_cs.c#L1301 ?

[2015-10-16 07:01] radare commented on #3479
Can you submit a PR?

[2015-10-16 07:09] radare commented on #3433
-b16 is asumed for thumb, not because the instruction size or the register size. Its an exception to make things simpler. Because its just a mode of the cpu.

-b16 sets thumb2 mode in capstone disassembler (as well as in gnu). Thumb2 contains 2 byte and 4 byte instruction lengths. Thumb was only 2. But thumb and thumb2 are binarynl compatible, so it makes sense to use thumb2 here, unless the cpu d

[2015-10-16 07:26] radare commented on #3451
It is harming you in any way? Its just a verbose print when this thing happens. So what

[2015-10-16 07:26] radare commented on #3486
It is

[2015-10-16 09:23] radare opened #3490 "Use strings instead of enums to specify plugin's arch"
Otherwise we cant add more archs than the ones supported by the core. Or just specify a "ARCH_OTHER" type and then use a string.

See  https://github.com/radare/radare2/pull/3489

[2015-10-16 09:31] alvarofe commented on #1289
Only remains the webui

[2015-10-16 10:02] radare commented on #3486
@condret do want?

[2015-10-16 10:23] condret commented on #3451
https://github.com/radare/radare2/blob/master/libr/anal/esil.c#L123 it blocks the interrupts stored in the sdb-instance

[2015-10-16 10:42] radare commented on #3451
we should just return false or remove it. a logger should not return true.

feel free to push that change.

[2015-10-16 10:50] radare commented on #1289
Also, add an option to disable hashing this, or try it with a big binary or invalid section information.

[2015-10-16 10:57] radare commented on #3480
The bindings are working and maintained, in the sense that they compile and run the tests. Also bokken depends on them to work.

My plan is to focus on native bindings after 1.0, at the same time we do some API cleanup and refactoring. The node-ffi is probably one of the most anoying parts. But we should recommend everyone to use r2pipe.

[2015-10-16 10:58] radare commented on #3480
nodejs bindings should be fixed. but i dont think @eddyb can find some time anytime soon for it. its low-prio for me, but it would be great to get it ready for es6 and latest node-ffi

[2015-10-16 11:03] radare commented on #2271
this happens because the libr/bin/d files are wrongly installed.

it works fine in my machine, but maybe there’s a problem in the make install or in make symstall

[2015-10-16 11:03] radare commented on #3479
also, please, submit a testcase for the regressions repo

[2015-10-16 11:08] radare commented on #3033
And super-easy-to-do, but im too lazy to do it now, anyone? otherwise i'll try to find some time for it next week.

[2015-10-16 11:17] radare commented on #3077
Then im closing it

[2015-10-16 11:17] #3077 closed

[2015-10-16 11:30] alvarofe commented on #3033
easy for @radare or easy for everyone :P?. I'll look at it if this is important for the release

[2015-10-16 12:05] alvarofe commented on #1289
iS doesn't hash nothing by the default, it's the same as before. You have to specify the algorithm to use. I'll try with fuzzed binaries from r2r

[2015-10-16 12:15] radare commented on #3033
Imho the most important autocompletion pending is for pf

[2015-10-16 15:37] XVilka commented on #152
Could be helpful http://backtrace.io/blog/blog/2015/10/03/whats-a-coredump/

[2015-10-16 15:41] futex opened #3494 "pn command regression"
I'm little sad that the useful command `pn` have been removed, i was using it when I was running radare2. This habit has been disturbed, so please bring back `pn` !

[2015-10-16 15:42] Maijin commented on #3494
+1

[2015-10-16 15:45] XVilka commented on #3494
@futex that's because everyone thinking that such an utility should be a part of the coreutils, in addition to the `/bin/true`, `/bin/false` and `/bin/yes`

[2015-10-16 16:04] Manouchehri opened #3495 "Broken Docker Build"
I noticed my build hadn't been updated in a few days, turns out the build is broken. Looks like it's related to the bindings.

https://hub.docker.com/r/radare/radare2/builds/bh5cxcrwpg3ym5qysw52ion/

[2015-10-16 17:28] jjdredd commented on #3494
@XVilka since reimplementing standard utils/libs is an old tradition of r2, why not include pn in r2 also?

[2015-10-16 18:28] ret2libc commented on #3485
It's already done in 785f0d2cbfc572c7548b2b1fa127c121e4e70f84

[2015-10-16 18:58] #3485 closed

[2015-10-16 19:07] Maijin commented on #3033
imho k and pf are the most important cause unusable without autocompletion

[2015-10-16 21:17] condret commented on #3494
u can create a core-plugin for this

[2015-10-17 08:44] radare commented on #3033
Agree.

[2015-10-17 22:39] Maijin opened #3497 "Cannot find /usr/share/radare2/0.10.0-git/format/dll/COMCTL32.sdb"
When opening some PE executable I got this message
[code]

I use ./sys/install.sh

[2015-10-17 22:53] Maijin opened #3498 "a2f is not documented"
[code]

[2015-10-17 23:04] XVilka commented on #3259
Cause is in the `beginline()` function in the `libr/core/disasm.c`

[2015-10-17 23:31] radare commented on #3497
Same issue as in the w32 ordinal
Thing. This is because make install or symtall fails somehow. Check the path plz

[2015-10-17 23:31] radare commented on #3498
Documentation is unnessary when you have the source.

[2015-10-18 00:08] condret opened #3499 "Fix DES"
thanks to @flanfly we now have a des implementation, that can be used for avr-esil, but it does not always meet the specs. We need to fix that.

[2015-10-18 00:16] radare commented on #3499
Rhash and rcrypte definitively need some love :)

[2015-10-18 01:06] condret commented on #3499
we put it in utils, because i was not sure if anal can access crypto, and the plugin-handling in crypto looks like a huge TODO

[2015-10-18 01:52] condret commented on #3490
we already have archs not supported by the core

[2015-10-18 07:53] radare commented on #3490
I know. Thats why i opened this issue

[2015-10-18 10:40] darkprof83 opened #3501 "Problem with c++11"
If compile https://github.com/radare/radare2/blob/master/libr/asm/arch/x86/ollyasm/disasm.h with c++11 standart program used std::shared_ptr it is conflict on 34 line #define unique. I am added #undef unique in the end of file.

[2015-10-18 10:43] Kiwhacks commented on #3494
+1

[2015-10-18 15:12] #3501 closed

[2015-10-18 15:12] radare commented on #3501
thx

[2015-10-18 15:13] radare commented on #3495
[code]

[2015-10-18 15:19] crowell commented on #3495
what compiler and such does this dockerhub use?

i dont have this problem on my machine.

On Sun, Oct 18, 2015 at 11:13 AM, radare <notifications@github.com> wrote:

--
Jeff Crowell
https://github.com/crowell

[2015-10-18 15:33] jvoisin commented on #3498
Lemme documented this hidden command.

[2015-10-18 15:39] radare commented on #3498
this command is available in a plugin, not sure if you want it to be documented in core...

[2015-10-18 15:40] radare commented on #3498
also, a2f was suposed to be a rewritten of af using esil and sdb, for ease maintainability, it works. but nobody checked out yet. so im still waiting for someone to review the anal loop

[2015-10-18 15:40] #3498 closed

[2015-10-18 15:41] jvoisin commented on #3498
I wrote two short lines to explain what it does, nothing fancy :)

[2015-10-18 15:42] jvoisin commented on #3497
What PE? Can you share them?

[2015-10-18 15:42] jvoisin commented on #3494
+1

[2015-10-18 15:43] Maijin commented on #3497
most of PE got this issue

[2015-10-18 15:57] Manouchehri commented on #3495
https://hub.docker.com/r/phusion/baseimage/

Ubuntu 14.04 LTS, standard gcc 4.6.

[code]

[2015-10-18 16:00] radare commented on #3497
make symstall is ok, make install is wrong. fixing in 3.. 2..

[2015-10-18 16:03] #3497 closed

[2015-10-18 16:03] radare commented on #3497
pls confirm

[2015-10-18 16:09] radare commented on #3495
For some reason the radare2-bindings-python build of our CI disasspeared and i didnt realized this brokeness. Here's the patch, maybe next time you can send a PR :)

thanks!

https://github.com/radare/radare2-bindings/commit/0b9928616eaee8ec4937dc5b2b164235413d9800

[2015-10-18 16:09] #3495 closed

[2015-10-18 16:09] radare commented on #3495
@XVilka plz setup the radare2-bindings-python CI task again

[2015-10-18 16:13] ret2libc opened #3502 "pages are not mapped when input=!cmd is used"
Step to reproduce:
[code]
[code]
[code]

[code]
You can see invalids, but we should have the instructions there. Moreover, the program doesn't stop at the entry0. If you remove the ```input=!python test_in.py``` line in test.rr2, everything will work as expected
[code]

```rarun2 test.rr2``` works without problems.

[2015-10-18 16:19] radare commented on #3479
I wrote the tests here https://github.com/radare/radare2-regressions/commit/814bdb747fcf6b93dac2afd2c8cfb191618d91f9

[2015-10-18 17:42] radare commented on #3479
uhm my patch caused a regression http://pastie.org/private/ye6bmon675mxkd5w44v5q . will investigate on this later

[2015-10-18 19:34] radare opened #3504 "rethink ascii-art graph commands"
to move to the basic block of that address

[2015-10-18 19:37] radare opened #3505 "Better x86.cs analysis"
Some instructions are wrongly analyzed and painted as red:
[code]

Those are some i found by random luck:
[code]

[2015-10-18 19:47] radare commented on #3498
From my latest tests af is way better than a2f.. More complete.

U can enable it by setting anal.a2f=true

This will make af call a2f

[2015-10-18 20:14] #3505 closed

[2015-10-18 20:16] radare commented on #3499
ive fixed the static build introduced by the avr-des thing

[2015-10-18 20:34] ret2libc commented on #3504
Just use VVo. 'o' is for that purpose, not 'g'. 'g' is just for shortcuts written in the comments of the disassembly. With 'o' you can go to whatever address you want.

[2015-10-18 21:01] #3479 closed

[2015-10-18 21:13] radare commented on #3504
We should make the VV graph view to work differently:

* 'p' 'P' should rotate between different print modes, like in visual, but adapted to the graph.
  * debug view (show registers + stack on top) show backtrace?
  * show comments or not
  * show esil or not
  * minigraph
* 'o' and 'O' should goto shortcut or offset .. in visual VO toggles esil .. umf
* 'g' and 'G' should scroll top/down of the

[2015-10-18 21:14] radare opened #3506 "Support search.align in rafind2"

[2015-10-18 21:20] alvarofe commented on #3450
@revskills please, confirm from master that the xbe, mach and msdos are fixed.

[2015-10-18 21:21] radare opened #3507 "Infinite a2f analysis issue"
[code]

[2015-10-18 21:22] radare commented on #3450
Just created a new issue to track the infinite analysis problem https://github.com/radare/radare2/issues/3507

[2015-10-18 21:32] #3506 closed

[2015-10-18 21:53] radare opened #3508 "radiff2 -g should output in ascii art too"
we need another flag to specify which kind of output we want: graphviz or asciiart. and maybe sdb-k/v, csv, etc..

[2015-10-18 21:54] radare commented on #3508
we should implement this in R_API int r_core_anal_graph(RCore *core, ut64 addr, int opts) {

[2015-10-18 22:03] #3507 closed

[2015-10-18 22:03] radare commented on #3508
Would be cool to have an interactive asciiart graphdiff from `radiff2 -g` too

[2015-10-18 22:09] radare commented on #2784
Should be fixed now

[2015-10-18 22:09] #2784 closed

[2015-10-18 22:10] radare commented on #3408
ping

[2015-10-18 22:10] radare commented on #3426
Basics are working, @condret is pushing some goodies everyday.

[2015-10-18 22:10] #3426 closed

[2015-10-18 22:12] radare commented on #1289
Everything is done now, right? can we close this issue?

[2015-10-18 22:19] radare commented on #3480
Nope

[2015-10-18 22:19] #3480 closed

[2015-10-18 22:33] #3470 closed

[2015-10-18 22:39] condret commented on #3322
i think we should enable the plugins to set handlers for a few traps, not all. 1/0 could be handled by a plugin (they may create their own signal-bus, and emulate SIGFPE). general parsing problems from esil should not be handled by plugin

[2015-10-19 00:30] radare opened #3509 "Add commandline flag and eval var to prefix all symbols/sections/imports with a specific string."
`e bin.prefix=libc.` or then `.!rabin2 -XXXX  -rsB 0x4810230 /lib/libc.so` where XXXX must be a flag to set that prefix string. we can probably use environment variable like `RABIN2_PREFIX` or `_SYMPREFIX`

[2015-10-19 00:52] radare commented on #2688
This is now possible with `.dmm*`

[2015-10-19 00:52] #2688 closed

[2015-10-19 01:18] radare commented on #1405
Done in git

[2015-10-19 01:18] #1405 closed

[2015-10-19 01:24] radare commented on #3033
If i find some time i'll be doing the 'k' autocompletion, i've moved the issue to 1.0 as long as current state is quite good, and we need some stabilization time window.

[2015-10-19 01:24] radare commented on #781
isnt just easire to use the index number instead of the name?

[2015-10-19 01:58] #2474 closed

[2015-10-19 05:53] ret2libc commented on #3262
@radare This is already solved by adding an option to specify the Max size, isn't it? Can we close the issue?

[2015-10-19 05:55] ret2libc commented on #3196
Can we close it? We have the graph.invscroll var that should invert the behavior for any preference...

[2015-10-19 05:57] ret2libc commented on #2839
Isn't it already done in aF?

[2015-10-19 06:46] ret2libc commented on #3504
I really like the 'p'/'P' commands to rotate between different modes. But I'd also like to keep 'o' for "Goto Offset" because it is consistent between visual and graph and it's one of the command everybody uses more. Now, given that we can't have every char with the same semantic both in visual and in graph mode, I'm not sure about 'g'/'G' because i think we can reuse those chars for more used com

[2015-10-19 06:52] radare commented on #3262
Yes

[2015-10-19 06:52] #3262 closed

[2015-10-19 06:52] radare commented on #3196
Yes

[2015-10-19 06:52] #3196 closed

[2015-10-19 06:52] radare commented on #2839
Yes

[2015-10-19 06:52] #2839 closed

[2015-10-19 07:10] ret2libc commented on #3259
@radare even with asm.linesup=false there are many issues with reflines. In particular, when there are comments like "; JMP XREF from 0x10000110b (entry0)" in the middle of the disasm, the lines have a gap. Also, I noticed that if there is a not visible jump that goes in the visible part of the disasm, there's no refline (see here https://asciinema.org/a/f3i3fyjuo6qrcmetjnfslopcf )

[2015-10-19 08:06] #1289 closed

[2015-10-19 08:07] Maijin commented on #3504
Yes definitely agree on "because it would require to press shift and it's too slow to be a "shortcut""

[2015-10-19 08:08] Maijin commented on #2271
Since the CI is currently down, no proof of that working yet

[2015-10-19 08:15] radare commented on #3504
R2 is not emacs

[2015-10-19 09:33] crowell commented on #3504
capital letters is a long way off from esc, meta, alt, ctrl <key>, there are already lots of a/A f/F in visual mode...

[2015-10-19 09:41] Maijin commented on #3504
who speaks about ctrl/meta/alt and ctrl????

[2015-10-19 10:11] jvoisin commented on #3504
I'm quite sure that @radare was trolling, and you fell for it.

[2015-10-19 10:59] radare opened #3512 "Add support for punycode encode/decode"
https://nodejs.org/api/punycode.html

I think there was another issue related to this but i cant find it now

[2015-10-19 12:02] radare commented on #3290
Done in git, it can be better, but it works

[2015-10-19 12:02] #3290 closed

[2015-10-19 19:25] revskills commented on #3450
[code]

file:compiled Java class
http://revskills.cz/r2/5d8afd5a03f19e3ce5b1778af9e18b00

[2015-10-19 22:02] ret2libc opened #3515 "relocatable ELF object: wrong addresses"
example: r2r/bins/elf/test.o
both IDA and readelf says that the function test is at vaddr=0/paddr=0x40, but r2 loads it at a wrong address.

[2015-10-19 22:07] Maijin opened #3516 "masm syntax is broken"
masm syntax is broken

"e asm.syntax=masm" doesn't work anymore

[2015-10-19 22:20] Maijin opened #3517 "AtariST"
Just a remind to implement generic AtariST loader

* IDA Loader http://www.reverse-engineering.info/IDA/atari.txt

[2015-10-19 23:15] condret commented on #3494
pn always impressed a lots of ppl on conferences

[2015-10-20 00:13] CoolOppo commented on #3494
What did `pn` do?

[2015-10-20 07:26] radare commented on #3516
This is capstone-x86 specific. Can ypu write a test for this? As long as capstone doesnt tests anything, we should take care of that...

[2015-10-20 08:39] radare commented on #3504
@ret2libc agree with all those proposals as they are in sync with the current ones in visual. and make change because we are no longer using WASD for moving

[2015-10-20 08:52] jvoisin commented on #3331
@ret2libc Any updates about this?

[2015-10-20 10:26] alvarofe opened #3518 "use LC_FUNCTION_STARTS command in mach0 to detect functions"
output using jtool

[code]

[2015-10-20 11:40] crowell opened #3520 "handling of | character within "" is broken"
see t/cmd_rop

[code]

this used to work.

[2015-10-20 11:49] crowell commented on #3520
has rregex been changed lately?

something looks f'd

[code]
it should be working

[2015-10-20 12:28] radare commented on #3518
<3

[2015-10-20 12:49] dukebarman opened #3521 "Wrong strings in reopened file (read-write mode)"
[code]

File: https://www.dropbox.com/s/y3w7tfzzbus82uz/ReadAnalogVoltage.cpp.bin?dl=0

[2015-10-20 13:35] dukebarman opened #3522 "Errors with open dotnet malware"
[code]

File: https://dl.dropboxusercontent.com/u/10688770/net_sample.zip
Pass: infected

https://www.virustotal.com/en/file/e79c5efac2d92268a6607ab9b0ea35720bd10dee73689f45ecdb5734d1b14628/analysis/1445347730/

[2015-10-20 13:37] Maijin commented on #3522
Those are just Warnings

[2015-10-20 13:38] dukebarman commented on #3522
Maybe change texts for this?

[2015-10-20 14:00] jvoisin commented on #3304
Done in c4a930aeffaffad823fa1389346e7db6ac7a8ff0

[2015-10-20 14:00] #3304 closed

[2015-10-20 14:56] radare opened #3523 "Remove useless gotos in pdc decompilation"
like this one:
[code]
also:
[code]

[2015-10-20 15:10] eQu1NoX opened #3524 "Finding addresses in a binary with fork"
When I open up a process that forks in the debugger, something strange happens. It does not seem to analyze/pick up entry point properly.

[code]

[2015-10-20 15:15] radare commented on #3524
radare is a low level debugger. (again)

this means that you start debugging BEFORE the binary is loaded in memory.

run `dcu entry0` before that `aa`, but i would recommend you to use aaa or aac, or any other analysis that works better for that case. but anyway, thats unrelated tot he problem.

Also, if you have dbg.forks enabled, the debugger will stop in the fork if you run `dc`. so you can jus

[2015-10-20 15:59] eQu1NoX commented on #3524
Thanks for your reply. A few points.

1. r2 from git, x64 is used.
2. Perhaps we can change documentation on https://github.com/radare/radare2/wiki/Migration-from-ida-or-GDB ? It maps "set follow-fork mode" in gdb to "dcf ; dp". Maybe we can change that to [4].
3.
[code]

4. I tried doing the following as you suggested and it works, thanks.
[code]

[2015-10-20 16:00] XVilka opened #3526 "Wrong number colorization with 'e asm.emu=true'"
[code]
It colorize 3584 like the `[1]` follow up key, and those 0xe00, 0xffffff00  - are not colored at all.
Probably also it will be nice to make the numbers looks different from the follow-ups keys.

[2015-10-20 16:02] radare commented on #3526
Because those numbers are in a comment. And comments are comments . Not colorized magical animals

[2015-10-20 16:02] #3526 closed

[2015-10-20 16:28] Maijin opened #3527 "fs a<tab> segfault"
fs a<tab> segfault after opening a binary

[code]

[2015-10-20 17:14] condret commented on #3527
o_O

[2015-10-20 20:05] Maijin commented on #3527
Open a binary not malloc

[2015-10-20 20:14] alvarofe commented on #3527
confirmed

[2015-10-20 20:56] #3527 closed

[2015-10-20 21:11] revskills commented on #3450
[code]
file: http://revskills.cz/r2/57c2a523cd3e19aa78961fba9e977d93

[2015-10-20 21:15] revskills commented on #3450
[code]
Mach-O 64-bit x86_64 executable
file: http://revskills.cz/r2/45d2d1309807e95422006abb97462bc6

[2015-10-20 21:20] revskills commented on #3450
[code]
Mach-O 64-bit x86_64 executable
file: http://revskills.cz/r2/55c9c9a630790dbe432da1ff577271f1

[2015-10-20 21:27] revskills commented on #3450
[code]
Mach-O arm subarchitecture=11 executable
file: http://revskills.cz/r2/3b3a5a26830334d5733f732aae8edf7e

[2015-10-20 21:32] revskills commented on #3450
[code]

Mach-O i386 executable
file: http://revskills.cz/r2/06ff0c01a02aaccae1d0f272f43263c0

[2015-10-20 21:51] radare opened #3530 "pi 200~? != 200"
compare with `pd 200~? == 200`

[2015-10-20 21:52] #3518 closed

[2015-10-20 22:14] radare opened #3531 "Add/Use asm.emu into pdc"

[2015-10-20 22:18] XVilka opened #3532 "Show the prompt always in bottom in the graph mode"
Just go to the graph mode
[code]
Then, it has the only one small node, so pressing ':' shows the command prompt not at the bottom of the screen/terminal - but at the next line after the end of that node.
![r2-prompt](https://cloud.githubusercontent.com/assets/203261/10622601/5403a1da-7791-11e5-94e9-91fb4ce41858.png)

[2015-10-20 22:32] radare opened #3533 "Imports not demangled"
[code]

[2015-10-20 22:54] #3533 closed

[2015-10-20 22:57] #3532 closed

[2015-10-20 23:21] radare commented on #3530
Fixed

[2015-10-20 23:21] #3530 closed

[2015-10-20 23:22] radare commented on #3530
in 79d212eafa376bd3ab6518761c6e4dc049077d37 and 84bd6df03f08c72724ff7bc185212c7e3ef42ffa

[2015-10-21 07:07] condret commented on #3531
asm.emu?

[2015-10-21 09:21] radare commented on #3531
Yes

[2015-10-21 09:59] radare commented on #3523
Current pdc output is wrong for loops and other situations. So don't relay on pdc for fully-reliable decompilation

[2015-10-21 14:14] radare commented on #3522
Fixed in 5fece33093600974f4361f258adcf3d1c9a6f9bf

[2015-10-21 14:14] #3522 closed

[2015-10-21 14:46] radare commented on #3418
Fixed

[2015-10-21 14:46] #3418 closed

[2015-10-21 15:59] Maijin opened #3535 "Export in dot format for pf"
@corkami suggested we could export in dot format to have such native export:

http://i.imgur.com/WfvvBao.png

[2015-10-21 16:34] condret opened #3536 "use all cores in /sys/install.sh (make -j 8 for example)"
i don't do shellscripts very often, so i'm not sure if this is possible.

[2015-10-21 17:10] XVilka commented on #3536
probably determine it on the fly with
[code]
command, that's only for Linux though...

[2015-10-21 17:12] condret commented on #3536
i now how you can determine the number of cores in windows, but only in c

[2015-10-21 17:14] crowell commented on #3536
Also nproc
On Oct 21, 2015 7:13 PM, "condret" <notifications@github.com> wrote:

[2015-10-21 17:17] jvoisin commented on #3536
Just use `make -j`

[2015-10-21 17:33] jjdredd commented on #3536
[code]

Sounds  overkillish and oomish.

[2015-10-21 17:33] crowell commented on #3536
No this is a terrible idea make -j can bring your system to a halt
On Oct 21, 2015 7:27 PM, "jvoisin" <notifications@github.com> wrote:

[2015-10-21 17:38] crowell commented on #3536
make -j $(nproc+1) is usually what it recommended.
On Oct 21, 2015 7:34 PM, "Judge_Dredd" <notifications@github.com> wrote:

[2015-10-21 17:56] CoolOppo commented on #3536
you mean `make -j $(nproc)+1` right? or am i wrongo

[2015-10-21 18:04] ret2libc commented on #3331
haven't looked at it yet :( sorry

[2015-10-21 18:13] radare commented on #3535
Hey thats a good point :) thanks @corkami for the idea!

[2015-10-21 18:16] radare commented on #3536
This is already done

[2015-10-21 18:18] radare commented on #3536
The nproc+1 rule is like swap=ram*2 rule. Both were invented when the pentium pro ruled the world. Nowadays it makes no sense to follow those rules. Mainly because almost every processor have 2 cores, so you end up having to do nproc*2.. But thats not true for arm, etc etc. so as long as every arch performs different is better to keep a sane value like the current hardcoded -j8

[2015-10-21 18:19] radare commented on #3536
You can fix this with hardware

[2015-10-21 18:21] radare commented on #3536
About how to get the amlunt of cpus is something useless. As explained in my prev reply. Every os provides this info different. And each cpu model and arch responds diferent. And the build system also, doesnt paralelixes in all situations because there are some blocker steps that halt that performance a bit.

Do not try to mess with c code to determine the number of cpus. Just use MAKE_JOBS or use

[2015-10-21 18:30] jjdredd commented on #3536
imho 8 is too much for default

[2015-10-21 20:18] radare commented on #3536
@jjdredd my current machine have 6 cores with hyperthreading, which means i can spawn 12 threads. Setting up more tasks than the ones supported by the hardware is not really a performance problem. It only takes some more memory. And well. if -j8 is making your raspberrypi fail (which is not even happening) you can override this value with the MAJE_JOBS environment.

[2015-10-21 20:18] #3536 closed

[2015-10-21 20:35] radare commented on #3535
Can you provide some example .dot file to produce this output?

[2015-10-21 20:49] radare commented on #3322
We can discuss/do this after the 0.10 release. it's not really a huge problem for now and it can be implemented in external scripts

[2015-10-21 20:51] radare commented on #3259
What about moving this issue to 1.0? i think that both issues can be fixed by just checking some context in the disasm. the noisy chars in the reflines in comments are already known.. we should refactor the reflines code. But im not sure if we are in time for the release

[2015-10-21 20:58] radare commented on #3474
can we close this?

[2015-10-21 21:04] revskills commented on #3450
[code]
Mach-O i386 executable
file: http://revskills.cz/r2/ab88f42f9b4afceb8137f20cd1e97839

[2015-10-21 21:08] revskills commented on #3450
[code]
file: http://revskills.cz/r2/db10e3103b4defa8fc76892665a14a89

[2015-10-21 21:36] Maijin commented on #3535
https://code.google.com/p/corkami/source/browse/trunk/misc/graphs/java.gv

[2015-10-21 21:52] XVilka commented on #3535
@radare probably also the similar output using RCanvas, like the ascii graphs would be awesome, and share generating code between them.

[2015-10-21 22:10] radare commented on #3450
all fixed. your turn

[2015-10-21 23:10] radare opened #3541 "Implement oonn+ command"
Like oonn, with -w

[2015-10-22 00:19] condret opened #3542 "how do i use r_str_replace ?"
this question might seem weird, but i wonder if i use it correctly, because it segfaults. see
````rasm2 -a gb "ret  nZ"```` the valgrind output shows that the segfault happens in r_str_replace

[2015-10-22 00:38] #3490 closed

[2015-10-22 00:38] condret commented on #3542
yep it's my fault

[2015-10-22 00:38] #3542 closed

[2015-10-22 00:48] condret opened #3544 "r_str_replace2"
can we have that function pls? u can use r_str_replace only for strings that do live on the heap, r_str_replace2 could work for stack too

[2015-10-22 01:27] #2271 closed

[2015-10-22 01:34] #3541 closed

[2015-10-22 02:02] radare opened #3545 "Implement dbt* to set flags for everything related to the backtrace"
[code]

[2015-10-22 02:37] radare opened #3546 "Enhanced support for RCons line grep"
The `~:` operator must be able to support ranges and negative values:

* `~:-1` show last line
* `~:-2` show line before the last one
* `~:..3` same as `~:0..3` , see below
* `~:2..8` show lines from 2 to 8
* `~:2..` show lines from 2 to the end

[2015-10-22 08:53] ret2libc commented on #3259
In my opinion this should be a blocker one and there shouldn't be any
release without a fix for this. The strong point of r2 is (i think) the
visual mode and if also that is broken, what can a user use? (No good
enough GUI, no good enough graph.. We should try at least to keep the
visual mode working IMHO)
Il 21/ott/2015 22:51, "radare" <notifications@github.com> ha scritto:

[2015-10-22 08:54] ret2libc commented on #3474
Did anybody fix it?
Il 21/ott/2015 22:58, "radare" <notifications@github.com> ha scritto:

[2015-10-22 09:11] XVilka commented on #3259
Yeah, that's very important.

[2015-10-22 09:32] crowell commented on #3474
reopening

[code]

[2015-10-22 10:03] jvoisin opened #3549 "dbg.forks is weird"
It would be great if this option could behaves like the `follow-fork-mode` from gdb, that can be set to either `child` or `parent`.

Currently, it only breaks on `fork`/`vfork`.

[2015-10-22 10:35] radare commented on #3545
Implemented in the upcoming commit

[2015-10-22 10:35] #3545 closed

[2015-10-22 11:27] radare opened #3550 "Support horizontal graph layout"
Useful for graphing `pf` output

[2015-10-22 11:32] ret2libc opened #3551 "baddr: DYLD is considered with baddr = 0"
Also: allow to use -B even for non pic binaries

[2015-10-22 11:39] radare commented on #3549
is not weird, it works as expected. But yep. having dbg.follow.child would be good

[2015-10-22 12:10] radare commented on #3462
Internal breakpoints are set and working, the "feature" works, but it's not working as well as in Windows yet (no automatic continuation or libname detection) yet. So let's move the task for 1.0

[2015-10-22 12:11] radare commented on #3549
Probably would be good to not add more tasks for 0.10 now, this is a feature enhacement which can be automated with scripts or done by hand.

[2015-10-22 12:19] radare commented on #3535
someone is ddosing graphviz.org :(

[2015-10-22 12:19] radare commented on #3535
@XVilka nice idea!

[2015-10-22 12:38] shiftre opened #3552 "R2 is missing interior and posterior comments"
Interior and Posterior comments allow to make the navigation and separation of function calling and parameters easier

They also allow to add global comments about the current function being analyzed, unlike regular comments which are put on the side or repeatable comments which are special condition of regular comments.

They are referenced in IDA as Shift-Ins and Ins keyboard shortcuts.

[2015-10-22 12:44] XVilka opened #3553 "Show the line of the source code in DWARF"
That was working - see the testsuite.

[2015-10-22 12:48] shiftre opened #3554 "Radare2 is missing section search regex capabilites"
When listing sections ("S") in r2 it is not possible to search a section or a program header using regex.

It is however possible to pipe them to grep and find them but a proper way to do that would be to use an external utility.

[2015-10-22 12:51] crowell commented on #3554
this is the case for `~` to support regexp.
internal 'grep' just uses strstr or smth, we should use r_regex for this.

[2015-10-22 12:56] crowell commented on #3554
how about a var `e scr.regexgrep` or something?

[2015-10-22 13:08] radare commented on #3553
It is broken now? Is asm.dwarf set?

[2015-10-22 13:09] radare commented on #3552
You mean asm.cmtright?

[2015-10-22 13:11] radare commented on #3554
Wtf dont add config vars for this!

Should be enough if implemented in ~/.../... But do you really need regexp for this? There's also VF_ which can be helpful in your case

[2015-10-22 13:12] radare commented on #3474
Add a test case or gtfo

[2015-10-22 13:13] crowell commented on #3552
@radare yes, but for individual comments can be useful, that's a global var

[2015-10-22 13:13] XVilka commented on #3553
yes. yes.

[2015-10-22 13:15] radare commented on #3259
Yes. This was two weeks ago

[2015-10-22 13:15] radare commented on #3259
The visual mode is working. What you are complaining about is just one or two specific cases where the lines show some noisy chars that doesnt makes code understanding worst or so. Imho this is an enhacement, but far from blocker. A blocker thig is a core feature or tool. Not a visual thing that users look at it just for fun

[2015-10-22 13:16] radare commented on #3259
What is important is all the windows related tasks tagged for 0.10 or making the suite green. And nobody is working on that. This is totally unimportant

[2015-10-22 13:18] radare commented on #3552
Yep. We can add a per-comment option to toggle this. This can be easily implemented on top of ah.. But would be desirable to be in C*

Also.. What do in case one option conflicts the other?

[2015-10-22 13:19] radare commented on #3553
Do you know where this was broken? Or when it was working?

[2015-10-22 13:21] radare commented on #3544
The name is totally fucked up. I vote for yep. But using a different name:

r_str_replace_in(buf, bufsz, key, val);

[2015-10-22 13:23] radare commented on #3520
Yes. I updated rregex to fix a segfault. Git log libr/magic for more info. If theres a regression on that pls add more tests

[2015-10-22 13:47] XVilka commented on #3553
I'll dig after the workshop.

[2015-10-22 13:56] shiftre commented on #3554
what does VF  do ?

[2015-10-22 14:36] crowell commented on #3520
there *is* a test, this is how i discovered it failing...

On Thu, Oct 22, 2015 at 9:23 AM, radare <notifications@github.com> wrote:

--
Jeff Crowell
https://github.com/crowell

[2015-10-22 14:55] radare opened #3555 "Implement pf.k=v syntax support"

[2015-10-22 15:10] condret commented on #3544
ok

[2015-10-22 15:26] sghctoma opened #3556 "Only 4 bits per RGB channel can be used via the 'ec' command family"
Hi,

Yesterday I was trying to create a Monokai-ish color theme for radare2, and I
got a bit confused. The fact that we can't use the whole 24bit color space
despite the fact that it is indeed supported by radare2 was what confused me.
We can set colors using commands like this: "ec mov rgb:abc". This means, that
we can only control 4 bits of each component (r, g, b) instead of 8.

(It is also not

[2015-10-22 15:37] radare commented on #3535
Implemented in `pfd` command. Only 'x', 'i' and 'z' formats are handled for now.. feel free to extend the support for the rest of formats. Also, no field->struct support yet. this would be easy to add, but i would prefer to have some tests first. @Maijin can you provide a sample test for this?

[2015-10-22 15:53] #3555 closed

[2015-10-22 16:24] radare commented on #3556
can you submit a pullreq for review?

the change makes sense to me

[2015-10-22 16:24] radare commented on #3520
marked as broken? when did it break? which test?

[2015-10-22 16:26] radare commented on #3554
it’s explained in V?

also, i said VF_, not VF.

VF is a visual mode to walk over the flagspaces and flags.
VF_ is the same, but using the hud interface and mixing comments and other meta info for quick searching

[2015-10-22 16:27] radare opened #3557 "VF_ should be V_"
the question is ... where should the current V_ live?

[2015-10-22 17:04] sghctoma commented on #3556
Sure, I will, but first a question: the coding style in these parts of the code does not really match your guidelines found in CONTRIBUTING.md (e.g. no spaces around operators). Should I format the code according to the guidelines, or use the style used in the original code? Right now it's a bit of a mix - new/modified code is formatted according to the guidelines, but I did not reformat anything

[2015-10-22 17:06] radare commented on #3553
the git log of this test is as weird as it has been always makred as broken.

the source:line comments are added, but it’s just unable to find the file in the filesystem. should be easy to fix then. also, maybe its a good time to add a config to specify path to source

[2015-10-22 18:01] crowell commented on #3520
https://github.com/radare/radare2-regressions/blob/master/t/cmd_rop#L97

Idk when it is broken but this used to work
On Oct 22, 2015 6:25 PM, "radare" <notifications@github.com> wrote:

[2015-10-22 18:42] radare commented on #3556
This code was written before that update on the codingstyle. I plan to update the indentation of yhe whole project in an automated way when clangformat is able to do this.

Until that day, we are doing progressive fixes to enhace the indentation of the whole codebase.

If you do so i would recommend you to do it in two commits. so your changes are easier to review

[2015-10-22 21:24] alvarofe opened #3560 "drop privileges after open file with root permission"

[2015-10-22 21:26] radare opened #3561 "Drop privileges/chroot/... after opening file in sandbox mode"
This can be useful when debugging as root (drop privileges in child process too?), or editing system files. when we just want to keep root access for the specific resource after loading it.

[2015-10-22 21:27] #3560 closed

[2015-10-22 21:38] #3509 closed

[2015-10-22 21:47] radare opened #3563 "Remove unused configure flags"
[code]

[2015-10-22 22:44] radare commented on #3563
Done

[2015-10-22 22:44] #3563 closed

[2015-10-22 22:45] #3556 closed

[2015-10-22 22:47] radare commented on #3515
can you write a test case for this?

[2015-10-22 22:47] radare commented on #3515
anyway, object files are not relocated, so any address would be fine in theory

[2015-10-22 23:07] radare opened #3564 "Support on terminal resize on windows"
When resizing the terminal on windows the visual mode is not refreshed on Windows. This is handled with a signal in *nix.

[2015-10-22 23:48] radare commented on #3368
i have added a new colorscheme named "basic", it looks quite good on windows.

[2015-10-23 02:12] radare commented on #3408
ive tested the last builds and its working good

[2015-10-23 02:12] radare commented on #3203
Fixed

[2015-10-23 02:12] #3203 closed

[2015-10-23 02:13] radare commented on #2768
Please confirm if this is fixed now

[2015-10-23 02:13] radare commented on #3450
ANYONE?

[2015-10-23 08:37] condret opened #3566 "ec is broken"
it does not parse background color anymore

[2015-10-23 10:01] radare commented on #3566
How are you testing this issue? `ec math red blue` works for me.

the current code seems ok:
[code]

confusing, but correct.. so im not sure about your fix

[2015-10-23 10:09] condret commented on #3566
try that ````ec offset rgb:000000 rgb:ffffff````

[2015-10-23 11:26] #3551 closed

[2015-10-23 12:17] radare commented on #3551
♥️

[2015-10-23 14:37] condret opened #3568 "support different syscall-tables"
as u can see in https://school.fluxfingers.net/challenges/24 it is possible to run 32-bit syscalls in 64-bit mode. It would be nice to have an extension for the as-command, where u can specify the bitness.

[2015-10-23 14:39] radare commented on #3568
All syscall tables are loaded at runtime, it depends on asm.bits, asm.os and asm.arch. there's an sdb for each combo

[2015-10-23 14:39] radare commented on #3568
just use `as 4 @b:32`

[2015-10-23 14:56] condret commented on #3568
````as 4 @b:32```` sets asm.bits to 32 and does not set it back

[2015-10-23 14:57] condret commented on #3566
ok, i changed that 8-bit leftshift to 4-bit. Is it better now?

[2015-10-23 15:01] radare opened #3570 "Colorize in HUD if color is enabled instead of uppercasing matching letters"

[2015-10-23 15:02] radare commented on #3568
oops. this is a regression. it was suposed to be temporal. i'll write a
test case now

On 10/23/2015 04:56 PM, condret wrote:

[2015-10-23 15:03] radare commented on #3566
no, read the code of the function. that shift is done inside the
function itself. you dont need two variables to achieve the same

On 10/23/2015 04:57 PM, condret wrote:

[2015-10-23 15:26] #2905 closed

[2015-10-23 16:00] condret commented on #3568
and it is noisy

[2015-10-23 16:12] radare opened #3572 "`ad` should show if the address is pointed by a register"
use anal->reg
[code]
in theory this command should be used to analyze the conetns of the memory. not the offsets of it. so this feature must identify numeric values that are referenced by any register.

Moved from https://github.com/radare/radare2-bindings/issues/43

[2015-10-23 16:23] #3566 closed

[2015-10-23 16:24] radare commented on #3568
It is fixed now

[2015-10-23 16:39] #3568 closed

[2015-10-23 17:51] #3544 closed

[2015-10-23 20:27] XVilka commented on #3033
Added item for the `#!pipe [lang] [file]` autocompletion request.

[2015-10-23 21:16] XVilka commented on #3115
yes, this syntax is nice.

[2015-10-23 21:17] XVilka commented on #3115
And clearly important for the https://github.com/radare/radare2/issues/3535

[2015-10-23 22:47] radare commented on #3115
Isnt enough to place a number before the struct?

[2015-10-23 22:49] XVilka opened #3574 "Supporting PCAP file capture for testing debuggers and network activity"
So just record for example a GDB session with GDB protocol and use the session as a replay in a test -> open the pcap file, send the command, read the answer from pcap file -> if the answer is different - then return the error or so.

[2015-10-23 22:50] Maijin commented on #3574
Dat would be support useful and many people are interested in the pcap support withing radare2 during hack.lu

[2015-10-23 22:57] XVilka commented on #3115
@radare what you mean? Didn't got your idea.

[2015-10-24 08:55] revskills commented on #3450
[code]
file: http://revskills.cz/r2/db3d80b14cb52964a7e4f902b176d211

[2015-10-24 08:58] revskills commented on #3450
[code]
file: http://revskills.cz/r2/8338cc1424e50e098cbc1a7e1e74e25d

[2015-10-24 09:00] revskills commented on #3450
[code]
file: http://revskills.cz/r2/fdd58371931a2f1b546e925824da053e

[2015-10-24 09:05] revskills commented on #3450
[code]
file: http://revskills.cz/r2/bf838568bc9a7299f49436f2f42a5adf

[2015-10-24 10:01] radare opened #3578 "GPU support"
https://github.com/clyfish/gcnasm/blob/master/test/basic_test.isa

[2015-10-24 10:02] radare commented on #3578
The idea for this issue is to create assembler and disassembler plugins for various gpus

[2015-10-24 10:59] radare opened #3580 "aarj output is not valid"
Current output is like this:
[code]

[2015-10-24 11:08] radare commented on #3368
meh, no feedback no issue

[2015-10-24 11:08] #3368 closed

[2015-10-24 11:36] radare commented on #3450
Cant reproduce fdd58371931a2f1b546e925824da053e

[2015-10-24 11:46] revskills commented on #3450
Fixed in your latest commit (previous pe.c bug)

[2015-10-24 12:05] revskills commented on #3450
same file as #2593
[code]

[2015-10-24 15:33] condret commented on #3578
http://developer.amd.com/wordpress/media/2012/10/R700-Family_Instruction_Set_Architecture.pdf

[2015-10-24 18:10] XVilka commented on #3368
@radare it was good enough -> thus no feedback.

[2015-10-24 18:13] XVilka commented on #3408
@radare it doesn't fixed in the AppVeyor https://ci.appveyor.com/project/radare/radare2-shvdd/build/0.10.0.2278
It is not your fault, but all sed, uname, etc executable failing even on the configure stage.
Which binaries you were testing?

[2015-10-24 23:52] shiftre commented on #3552
How would they collide ?

[2015-10-25 00:00] radare opened #3585 "Implement mv and cp unix commands"

[2015-10-25 00:47] #3585 closed

[2015-10-25 00:57] radare commented on #3465
.net api seems to work, but have somem problems if building on mono and running on windows.

[2015-10-25 00:58] radare commented on #3465
Thanks @skuater and @jpenalbae for this!

[2015-10-25 02:22] radare commented on #3450
@revskills everything is fixed in my side

[2015-10-25 11:37] revskills commented on #3450
Same file as https://github.com/radare/radare2/issues/3450#issuecomment-150024578

[code]

[2015-10-25 11:39] radare commented on #3450
Theres a pullreq from alvaro that conflicts with current master that aims to fix this. Im waiting for the update

[2015-10-25 11:47] radare commented on #3552
Now comments doesnt specify any position or type. They are just comments. The asm.cmtright option allows to choose where to render them.

The idea would be to allow to specify where to print any specific comment. This option will override the asm.cmtright variable.

Does it looks good for you?

[2015-10-25 11:48] radare commented on #3408
Appveyour build system is fuckedup. Can you send a mail to they to see whats going on?

[2015-10-25 11:49] radare commented on #3368
There are some visual glitches with utf8 and graph mode in windows because of some tiny bugs in rcons. Not sure if we will be in time to fix it before the release

[2015-10-25 11:52] radare commented on #3115
Uhm maybe i didnt understood the problem. Can you write a test case marked as broken?

[2015-10-25 11:53] revskills commented on #3450
[code]
file: http://revskills.cz/r2/9288a4566e0b6e7b2819f8a338681a58

[2015-10-25 11:53] radare commented on #3574
Gdb already have a protocol debug flag that logs everything. This would be much easier to handle than a pcap.

Also i remember that i addrd support to r1 for loading pcap files. But this was so many years ago. Dunno whre this code is now

[2015-10-25 11:53] radare commented on #3574
Srsly? This is damn simple to do

[2015-10-25 11:57] radare commented on #3033
+1

[2015-10-25 15:48] alvarofe commented on #3450
I can't reproduce 9288a45. I think it was fixed in 40ba8260748e8d3aa110cd0d9d32eeeff3cb3ae9

[2015-10-25 17:35] shiftre commented on #3552
Does that mean that all the comments would be rendered this way if I choose this option ? If this is the case, then no .

I want to be able to have an option to use Interior, Exterior and Regular comments altogether

For ex

anterior comment

; Attributes: bp-based frame

; int __cdecl main(int argc, const char **argv, const char **envp)
public main
main proc near

argc= dword ptr  8
argv= dword p

[2015-10-25 18:08] Maijin commented on #3574
It was not gdb related interest but really about PCAP support. Especially circl.lu people

[2015-10-25 18:16] revskills commented on #3450
I can reproduce with:
radare2 0.10.0-git 9495 @ linux-little-x86-64 git.radare2-windows-nightly-243-g0e21163
commit: 0e21163f8eb9b3f9e8c4947e148932c3d11405e9 build: 2015-10-25

[2015-10-25 19:08] alvarofe commented on #3450
make clean is always the solution ;) confirmed now

[2015-10-25 19:15] alvarofe commented on #3450
it seems fixed now in master

[2015-10-25 20:49] revskills commented on #3450
confirmed now it is fixed 9288a45

[2015-10-25 21:05] XVilka commented on #3574
@radare - it is not about debugging, it is about autotesting gdb debuggers on CI - so gdb code in radare2 will be able simply replay the PCAPs of gdbserver sessions. That was the whole point of my suggestion. But the general support of PCAP format also included in this proposal.

[2015-10-25 21:15] revskills commented on #3450
[code]
file: http://revskills.cz/r2/256996efe37d69100bf09cf3a07cbffc

[2015-10-25 21:19] revskills commented on #3450
[code]

file: http://revskills.cz/r2/eeaf87ece627fe94f92f836ac3467ffd

[2015-10-25 21:34] revskills commented on #3450
[code]

From radare2-regressions: elf/hello-objc-linux

[2015-10-25 21:35] revskills commented on #3450
[code]
From radare2-regressions:  omf/605d45c02352294155cfed6ce0f7e5cc

[2015-10-25 22:11] XVilka commented on #3521
Please add the proper testcase in radare2-regressions.

[2015-10-26 02:08] #3521 closed

[2015-10-26 02:10] radare commented on #3535
@Maijin ping

[2015-10-26 02:10] radare commented on #3515
@ret2libc ping

[2015-10-26 02:30] #3476 closed

[2015-10-26 02:32] radare commented on #3450
file: http://revskills.cz/r2/eeaf87ece627fe94f92f836ac3467ffd -> forbidden

[2015-10-26 02:38] radare commented on #3504
I would like to preserve the 'C' to toggle colors, like in visual. We can maybe use ';' to toggle comments?

Also, i miss a disasm mode in pP with "offset+opcode", looks like asm.bytes variable is ignored, we should probably honor some vars from the user.

In normal visual, the help message says:
[code]

Which is wrong. and in VV this seems to be a redraw. Which looks good to me.

I will try it mo

[2015-10-26 02:54] radare opened #3593 "Reduce memory usage"
This is a work-in-progress task that aims to track the refactoring task to reduce memory usage without affecting performance.

There are many places where there memory is abused. for example in `r_bin.h`:

<img width="389" alt="screen shot 2015-10-26 at 03 48 04" src="https://cloud.githubusercontent.com/assets/917142/10720178/88eb4cc0-7b94-11e5-8490-2cb59378a9a0.png">

Same situations can be found

[2015-10-26 09:01] revskills commented on #3450
fixed link

On Mon, Oct 26, 2015 at 3:32 AM, radare <notifications@github.com> wrote:

--

Francisco Alonso.
http://twitter.com/revskills
PGP: 0xE2E64DCA
--

[2015-10-26 09:13] ret2libc commented on #3504
* C to toggle colors is ok
* ';' to toggle comments is ok imo, as long as when we will implement the cursor inside nodes, ';' will also add comment to a line, like in visual mode
* "offset+opcode" i think i've implemented it. it should be the second print mode
* L for refreshing is ok
* ```ec``` and ```e``` commands: imo for this we should take a better/more general approach. I was thinking about

[2015-10-26 11:27] radare commented on #3574
Just write a small c program using libpcap that prints r2 commands to set flags to specify where each structure of the capture is in the pcap file.

[2015-10-26 11:27] radare commented on #3504
L for refreshing is not ok because we have r and L is part of HJKL

[2015-10-26 11:27] radare commented on #3504
This subs/callback model is done in rconfig. Also in sdb. And i guess everything can become too bloated in some cases. But it can be useful in some situations. The same when having multiple clients or tasks running in background. The ui (and the webui) need to get notifications to update the affected frames

[2015-10-26 12:38] ret2libc commented on #3504
Ah right! So we can keep 'r' for refreshing the graph, ok?

Seems like you can have only one getter/setter for each rconfignode in the current implementation, but you may want to have multiple listener to the same event in some cases. In that way you can also handle easily multiple clients/background tasks.

BTW, I will change C for colors and ';' for comments, then we can close this issue, can't

[2015-10-26 13:25] Maijin commented on #3535
[code]

[2015-10-26 13:33] Maijin commented on #3580
seems to work here, At least on /bin/ls on linux

[code]

[2015-10-26 17:16] condret opened #3595 "implement c166"
http://www.keil.com/dd/docs/datashts/infineon/c166ism.pdf

[2015-10-26 17:19] radare commented on #3580
Work != valid

This is not valid json

[2015-10-26 17:44] radare commented on #3504
Yep. Make those changes and close the issue :) lets go for the next ones. Fix segfaults and enhace pfd

[2015-10-26 18:09] Maijin commented on #3580
Yes, but in your output 123:254523 was looking wrong that's why ;)

[2015-10-26 18:11] Maijin commented on #3595
Duplicate with #670

[2015-10-26 18:11] #3595 closed

[2015-10-26 18:16] Maijin commented on #164
@radare ping, now dbg.profile exists and works

[2015-10-26 18:20] Maijin commented on #781
Added in the META

[2015-10-26 18:20] #781 closed

[2015-10-26 18:21] Maijin commented on #853
Added in the META, closing

[2015-10-26 18:21] #853 closed

[2015-10-26 18:23] Maijin commented on #3221
Added in r2r issues

[2015-10-26 18:23] #3221 closed

[2015-10-26 18:28] Maijin commented on #2958
What about this issue since `pv` behavior has been changed

[2015-10-26 18:30] #887 closed

[2015-10-26 18:33] radare commented on #2958
Old Pv is now p-

[2015-10-26 18:40] Maijin commented on #3117
Added in https://github.com/radare/radare2/issues/3145

[2015-10-26 18:40] #3117 closed

[2015-10-26 19:06] radare commented on #164
Yeah. Close it

[2015-10-26 19:11] #164 closed

[2015-10-26 19:21] #3504 closed

[2015-10-26 20:11] Maijin commented on #3516
Will create a test from https://github.com/radare/radare2/commit/e774d332b792a0f3cffeb220071c44d9a13c36b6

[2015-10-26 20:29] Maijin commented on #3516
https://github.com/radare/radare2-regressions/commit/8256fdb6c0f6b1a4a343d4e4da9afca50d25154c

[2015-10-26 22:06] Maijin commented on #3535
[code]
[code]
[code]

[code]

[code]

[code]

None of the z, d and i is working :(

[2015-10-27 06:23] ricardoquesada opened #3598 "when using "r2 -mAddress" search will break with search.to==search.from"
When mapping a file to a certain address, `search.from` will be equal to `search.to`... and the value will be the length of the mapped file.

Steps to reproduce it:

[code]

If I don't use the `-m` option, it works ok.
I tried changing `e search.to` and `e search.from` but it didn't work.

[2015-10-27 08:17] radare commented on #3598
Whats in search.in variable? Thats the only one that matters here

[2015-10-27 11:11] #3580 closed

[2015-10-27 11:12] radare commented on #3580
cmon..

[2015-10-27 11:12] radare commented on #3557
@ret2libc feedback on this?

[2015-10-27 11:47] radare commented on #3535
Please retest. should be working better now.
`
We need:

* a sample of structs with struct pointer fields to generate graphs
* support for ascii art graph them
* handle more format types (most common ones are working now)
* find how to make square tables in dot format

[2015-10-27 12:13] ret2libc commented on #3557
```V?_``` ?? I don't really use V_, but I see it more as an help for new users ( so some sort of "help" ```?```), more than an usual way to do things

[2015-10-27 12:57] ret2libc commented on #3515
that's true, but if you look at 'iS', the .text section starts at va=0. so if you show that a function is at 0x40, seems like it's at offset 0x40 from the start of the .text section, but that's wrong.
Also, we should probably handle in a better way relocatable objects, because (at least for ELF) every section is at va 0, so they may overlap. And relocations are a common things and asm.midflags=tru

[2015-10-27 13:01] Maijin commented on #3557
Maybe something like "V??" for the hud, since it's just an 'advanced' kind of helper

[2015-10-27 13:26] ricardoquesada commented on #3598
[code]

I tried changing `search.to` and `search.from` variables but nothing happened.
I changed `search.in` to use `range` but nothing happened.

[2015-10-27 13:58] radare commented on #3598
Use search.in=map or io.map... =? Will list them

[2015-10-27 14:25] ricardoquesada commented on #3598
Thanks.
`search.in=io.maps` seems to work with `/x`
But if I use `/c` it doesn't work.
eg:
[code]

[2015-10-27 14:45] #3516 closed

[2015-10-27 15:02] radare commented on #3515
then i'll move it for 1.0, its not really a bug, its something that can be enhaced, but can result in many breakage. what do you think?

[2015-10-27 15:03] radare commented on #3408
ping @XVilka any update?

[2015-10-27 15:04] radare commented on #3450
this eeaf87 looks fixed to me

[2015-10-27 15:08] XVilka commented on #3408
@radare waiting for an answer. I'll open a support request in the forum too, today, bit later.

[2015-10-27 15:56] radare commented on #3450
Just found another crash in the java parser. http://lolcathost.org/b/jaja.class

[2015-10-27 16:10] alvarofe commented on #3450
java is a big hole that need a lot of love. I will move that task to 1.0.0 because we could spend months fixing crashes xD

[2015-10-27 16:34] ret2libc commented on #3515
Yeah sure, it's better to delay this. Initially I thought it was only a vaddr/paddr problem, but it clearly needs proper thinking

[2015-10-27 16:50] Maijin commented on #3450
[code]

Another infinite print bug

[2015-10-27 16:58] radare commented on #3408
Ktxby

[2015-10-27 17:02] #2776 closed

[2015-10-27 17:03] Maijin commented on #2776
https://github.com/radare/radare2/issues/3251

[2015-10-27 17:04] Maijin commented on #3190
ping @Manouchehri

[2015-10-27 17:05] Maijin commented on #2924
@XVilka ping

[2015-10-27 17:10] Maijin commented on #2670
@radare ping ?

[2015-10-27 17:24] radare commented on #2670
Theres nothing to parse here. -F uses  libc scanf/sprintf. I did it because it was necessary for a ctf. So yes its useful. Also for debugging fpu.

the functionality is just 1 or 2 lines to get the ptr and call scanf. So the bug should be really stupid. Or the test case is wrong.

[2015-10-27 17:26] radare commented on #3450
What about disabling java in default builds? Moving it to extras can end up in abandon and untestification. But at least users will not be that vulnerable 🐣

[2015-10-27 17:27] radare commented on #3450
This issue have nothing to do with fuzzing or parsing binariess. Pleae fill this in a separate issue. This task is already a mess and we should remove old comments or find a better way to organize the crashfiles (r2r?)

[2015-10-27 17:45] ricardoquesada opened #3599 "wrong address after restoring a 6502 mapped file"
Just open a mapped 6502 file and save the project:
eg:
[code]

Then try to restore:
[code]

The file, that was original mapped at 3970, will be mapped at 0x0 instead after restoring the project.

[2015-10-27 18:05] Manouchehri commented on #3190
Looks like r2 is doing a better job of strings now, it's actually getting a few email addresses that IDA missed.

### IDA

#### 410 strings

https://gist.github.com/Manouchehri/c0d5dbf60633c2409580

### `RABIN2_STRPURGE=1 rabin2 -qzz`

#### 203 strings

https://gist.github.com/Manouchehri/05926fa3d55a13ad7389

### `rabin2 -qzz`

#### 12834 strings

https://gist.github.com/Manouchehri/c0d5dbf60633c

[2015-10-27 20:56] XVilka commented on #955
@crowell you said it is working for you, can you check please?

[2015-10-27 20:59] XVilka commented on #3553
@radare then this variable should be a list of the directories, since it is useful to support iterative search in the whole list.

[2015-10-27 22:58] Maijin commented on #3535
Some pfd tests have been added
https://github.com/radare/radare2-regressions/commit/49c70f258f75343db6b68e478843df9a5900b46d

[2015-10-28 08:48] XVilka commented on #1208
@aquynh what do you think about this? This is important, since [lowRISC](http://www.lowrisc.org/) is getting bigger these days, and soon to be released.

[2015-10-28 08:55] Maijin opened #3603 "Warning cannot find .../format/dll/*.sdb"
When opening some PE Warnings are displayed several time which makes it very verbose + not very explicit for the user.

[code]

[2015-10-28 09:21] #2670 closed

[2015-10-28 09:22] Maijin opened #3604 "hex -> float rax2 Fx40551ed8"
hex   ->  float  rax2 Fx40551ed8
Is broken, is tested in the testsuite

[2015-10-28 09:47] Maijin opened #3605 "Infinite printing bug"
[code]

[code]

Anothers infinite print bug, found when doing #3450

[2015-10-28 10:08] Maijin opened #3606 "r2 -A followed by V V g u"
r2 -A followed by V V g u . seek at the beginning of the file for no reason.

[2015-10-28 12:04] aquynh commented on #1208
yes if RISC-V has disassembler, it will be easy to support that in Capstone.
(note that tablegen only ensure assembler, but not disassembler)

otherwise, for those architectures do not have support from LLVM, you can still port them to Capstone like what M68K did recently.

[2015-10-28 13:23] sushant94 opened #3607 "Issues with ESIL flag computation"
There are some issues when esil computes flags. This bug is to consolidate these and work towards a fix.

1. Carry flag for subtraction is set using `$c,cf,=` rather than using `$b,cf,=`
2. Overflow flag is not computed correctly (for subtraction)
3. ESIL never sets Adjust Flag (AF)
4. x86 add (`+=`) does not set flags.
5. x86 sub  does not set `pf`

I'm working towards a fix (and respective tests

[2015-10-28 13:27] jvoisin commented on #3450
+1 for disabling Java by default.

[2015-10-28 13:51] XVilka commented on #926
@jvoisin can you please write a testcase for this bug?

[2015-10-28 13:52] XVilka commented on #662
@radare isn't this already done?

[2015-10-28 13:53] XVilka commented on #311
@radare @skuater looks like working now, can be this closed?

[2015-10-28 13:55] radare commented on #311
it works now

[2015-10-28 13:55] #311 closed

[2015-10-28 13:56] radare commented on #662
nope, this is not done yet.

[2015-10-28 13:57] #3604 closed

[2015-10-28 14:25] radare opened #3608 "Add anal.in, like the search.in thing"

[2015-10-28 15:23] radare opened #3609 "Run sys/user.sh in sys/install.sh if running on elcapitan"

[2015-10-28 16:03] radare commented on #3604
Nope i fixed the tests

[2015-10-28 16:23] Maijin commented on #3604
Which is also ok.

[2015-10-28 16:43] radare commented on #3607
Cc @condret

[2015-10-28 18:15] sushant94 commented on #3607
Some more points to consider:
- How do we go about setting the CF for SHL/SHR (and other variants) [[See Link]](http://x86.renejeschke.de/html/file_module_x86_id_285.html)
- Even though new operations `>>>` and `<<<` are in ESIL, these are not currently used to implement ROR/ROL of x86. It is possible to implement these using this, however, the other variants (RCL/RCR) include the carry flag in th

[2015-10-28 18:40] radare commented on #3605
Thats because m68k and the other anal plugs are wrong. There are some issues to report to capstone, but i have some local workarounds until its ready

[2015-10-28 20:22] #3606 closed

[2015-10-28 20:40] revskills commented on #3450
[code]
file: http://revskills.cz/r2/b099298e30716688b11e956d26060042

[2015-10-28 20:43] revskills commented on #3450
+1 for disabling Java by default. Can you group tasks on a issue with labels and I can add fuzzing labels/regressions in case of old samples, etc?

[2015-10-28 21:00] condret commented on #3607
````$b,cf,=```` will never work, it must be ````$b63,cf,=```` for example

[2015-10-28 21:01] radare commented on #3465
Everything is done and tested by @skuater . Thanks!

[2015-10-28 21:01] #3465 closed

[2015-10-28 21:08] condret commented on #3607
the shl/shr thing is easy. it works similiar in gb-land: srl a
``1,a,&,C,=,1,a,>>=,$z,Z,=,0,N,=,0,H``

[2015-10-28 21:12] condret commented on #3607
i really don't like ````>>>```` and ````<<<```` because they need 3 args pushed on the stack, if i remember right

[2015-10-28 22:01] sushant94 commented on #3607
@condret
Why do you say just `$b` dies not work? Cause this seems to be working. Then again, I might be wrong and it might have just worked for this case.

 I don't know about gb, but for x86, the carry flag is not defined if the number of bits shifted out is more than the width of the destination. I'm not sure on how to account for this.

And I don't know where `>>>` and `<<<` are used and who in

[2015-10-28 22:13] XVilka opened #3611 "Rework reflines for referering the labels"
Currently it is shown as

[code]

But it is doubling the reference. We need to decide which one it should point to - label name or label address. And fix that in the code, obviously.

[2015-10-28 22:23] XVilka commented on #3607
Added the 0.10 milestone, since I think ESIL is now widely (more or less) used, so it is better to provide fixes in the release.

[2015-10-28 22:23] XVilka commented on #3603
Are those exist?

[2015-10-28 22:28] XVilka opened #3612 "`afa-` doesn't remove function arguments"
subj.

[2015-10-28 22:53] radare opened #3613 "fix graph help"
from https://github.com/sghctoma/writeups/blob/master/hacktivity2015-avatao/01-reverse4/01-reverse4.md

r2 tip: You can move the selected node around in graph view using the HJKL keys. The ? documentation needs to be fixed on this part though: the move node (HJKL) and the move canvas (hjkl) keys are swapped there.

[2015-10-28 22:56] radare opened #3614 "radiff2 -g color issues"
A sad truth reveals itself after a quick glance at these graphs: radiff2 is a liar! In theory, grey boxes should be identical, yellow ones should differ only at some offsets, and red ones should differ seriously. Well this is obviously not the case here - e.g. the larger grey boxes are clearly not identical. This is something I'm definitely going to take a deeper look at after I've finished this w

[2015-10-28 23:13] condret commented on #3607
@sushant94  $b means borrow-from-bit, if you just do $b, you do not define from what bit you want to check the borrow. So $b performs undefined behaviour, which may end up in analdeamons eating your pet/child/keyboard, or launching nethack.
rlc/rcr can be done easily with DUP operation, or use $cx how i did it for gb: rlc a
``1,a,<<=,$c7,C,=,C,a,|=,$z,Z,=,0,H,=,0,N,``

[2015-10-28 23:22] XVilka opened #3615 "Parsing function arguments also in registers too"
To use not only the stack for passing arguments inside the function.

[2015-10-28 23:23] XVilka commented on #3615
TOTHINK: Select some kind of ABI "profiles"? Based on the operating system or the file format.

[2015-10-29 07:44] #3613 closed

[2015-10-29 09:49] radare commented on #3611
can you write a test case? i understand the problem and agree, but i want a test for proper fixing/testing.

thx

[2015-10-29 09:49] radare commented on #3612
write a test case plz

[2015-10-29 10:58] radare commented on #3609
Anyone has comments on this? do we want users to install stuff system-wide?

[2015-10-29 11:00] radare commented on #3605
im working on this

[2015-10-29 11:01] radare commented on #926
did you tried with asm.emu=true?

[2015-10-29 11:01] radare commented on #926
can you write a test case?

[2015-10-29 11:03] revskills commented on #3450
[code]
*Low priority

file: http://revskills.cz/r2/a84c559b0033f196a5527f2f1f187742

[2015-10-29 11:52] radare commented on #3553
Added a workaround with dir.source eval var

[2015-10-29 11:54] radare commented on #3553
We need to rethink the current dbgsrc implementation. let's move this for 1.0

[2015-10-29 11:54] radare commented on #926
@jvoisin ping

[2015-10-29 11:55] radare commented on #3557
i dont see the reason to hide another level of help in V? because the help is already r_cons_less'd

[2015-10-29 11:56] radare commented on #3557
The question is... do new users use the hud at all? :D

[2015-10-29 11:57] radare commented on #3408
ive moved this to 1.0 because i dont plan to use appveyour builds for the release. this is not blocking, because this is just an appveyour bug. mingw32 and native builds on windows work as expected

[2015-10-29 11:58] radare commented on #3557
Oh you mean that V?? for the hud... and V_ for the current VF_? doesnt seems a bad approach

[2015-10-29 12:00] radare commented on #3535
Let's move this for 1.0 ,this is not a blocking feature and it's "working", looking forward enhacements here. if anyone is willing to help, this is an easy task! also, @Maijin it will be good to have some broken tests showing what's its not yet working

[2015-10-29 12:01] radare commented on #3607
Can we move this for 1.0, i dont think this is blocking for 0.10 release. it is "only" needed for radeco, which there's no release planed yet.

[2015-10-29 12:09] #3557 closed

[2015-10-29 12:09] sushant94 commented on #3607
In any case, this issue is almost fixed (atleast the points highlighted here).

[2015-10-29 12:50] XVilka commented on #3408
@radare Yep, they've answered, but it didn't helped. So it will take time to mitigate this stuff.

[2015-10-29 13:11] #3431 closed

[2015-10-29 13:11] radare commented on #3431
Sorry, i was tired of waiting. this took me just 10m to get it working and 1h to complete the support. It can be enhaced, but here's the initial implementation for you to play with. https://github.com/radare/radare2/commit/97233ecbae0c8076f37d064ee62d1a5d920b64f6

[2015-10-29 13:12] radare commented on #3417
Please, fill the sysz disassembler issues into the capstone repo. do you need help to advance on this support? can you provide sample binaries?

[2015-10-29 13:15] radare commented on #2464
uh? isnt it working for arm already? can you retest?

[2015-10-29 13:17] XVilka commented on #3417
@bigendiansmalls @mainframed can you please make a regression tests for those opcodes? In here https://github.com/radare/radare2-regressions/tree/master/t.asm (see the examples for the other architectures).

[2015-10-29 13:34] radare commented on #3431
Related http://gamehacking.org/vb/threads/489-My-Genesis-Hacking-Info%28-Chemists%29

[2015-10-29 13:35] radare commented on #3474
@ret2libc @crowell ping

[2015-10-29 13:38] radare opened #3617 "Enhance m68k disassembler/analysis support"
* make m68k.cs the default one
* report tons of bugs to capstone
* compare with current disassembler based on MAME
* analysis is far from perfect on m68k right now
* no ESIL emulation yet

[2015-10-29 14:22] zhroom commented on #3417
Hey everyone - Am working on it - given the modest support in capstone for SystemZ, we're working on finishing out the support there then brining it forward (see @mainframed post above).

Yes - can do with the regression tests -that shouldn't be a problem..

[2015-10-29 14:22] bigendiansmalls commented on #3417
Hey everyone - Am working on it - given the modest support in capstone for SystemZ, we're working on finishing out the support there then brining it forward (see @mainframed post above).

Yes - can do with the regression tests -that shouldn't be a problem..

[2015-10-29 14:43] radare commented on #3417
👍

[2015-10-29 14:54] Maijin commented on #3603
No

[2015-10-29 15:00] radare commented on #3603
Again. The fedora make refactoring broke this.

[2015-10-29 15:02] radare commented on #3615
See ranalcctype enum... This was already defined but not finished. And cna be finished pretty quickly. I just didnt priorized it

[2015-10-29 15:02] radare commented on #3615
This can be also done with pf and debug/arg.c

[2015-10-29 15:03] radare commented on #3612
@alvaro_fe can u chk this?

[2015-10-29 15:04] Maijin opened #3619 "agv/webUI default launch doesn't work"
try r2 -c=H or agv and be amazed.

[2015-10-29 15:16] alvarofe commented on #3612
This works

[code]
@XVilka could you provide a test case?

[2015-10-29 15:18] XVilka commented on #3612
@alvarofe yes. Have the sample file, will psuh in r2r soon.

[2015-10-29 15:20] alvarofe commented on #3612
@XVilka thanks :)

[2015-10-29 17:51] #3474 closed

[2015-10-29 18:11] radare opened #3621 "Find and destroy esil bugs"
Using this magic line
[code]

from https://github.com/radare/radare2/issues/3233

32bit only
* [x] PUSHAW
* [x] PUSHAL
[code]
* [ ] POPAL
[code]
* [ ] POPAW
[code]

* [x] pushf
* [ ] pushfd
* [ ] pushfq

[code]

----

`r2 -caae /bin/ls`

* [x] esil_mod: Division by zero!
* [x] esil_addeq: invalid parameters
* [ ] esil_add: invalid parameters
* [ ] esil_muleq: empty stack
* [ ] esil_xor:
* [ ] ....

[2015-10-29 18:23] ricardoquesada opened #3622 "can't search for pattern 01010102. Page issue?"
I'm trying to search for the pattern 0x01, 0x01, 0x01, 0x02 in this file:
https://www.dropbox.com/s/mt7mlde7yh9i180/pvm2-indiecito.sid?dl=1

I know the bytes are there. I simple hexudmp, o even with radare you can see them:
[code]
So, I would expect to find that pattern using `/x 01010102` in radare.

So I did:
[code]

and it couldn't find it. However if I search of `0102`, instead of `01010102`,

[2015-10-29 19:24] Maijin commented on #3621
Just linking with #3233

[2015-10-29 19:38] XVilka commented on #3621
![dead bug](http://ih1.redbubble.net/image.10787525.4248/fc,550x550,black.jpg)

[2015-10-29 23:09] Maijin commented on #1883
@radare "try "r2 -caeim -e asm.emu=1 -e asm.emuwrite=1 bins/pe/standard.exe" now need"

So now it just need an example of database and then, we'll be able to map all the parameters/vars :D

[2015-10-30 00:07] radare commented on #3622
Try with different block sizes using the b command. I'll look into this when i have time.

Thanks for reporting

[2015-10-30 00:46] ricardoquesada commented on #3622
Thanks. Changing the block size haven't solved the issue.
I tried with a block size of 64k.
[code]

[2015-10-30 02:20] radare opened #3627 "to doesnt handles ~"
[code]

[2015-10-30 03:52] radare opened #3628 "ob command is confusing and some commands doesnt work"
The `ob` command needs to be fixed and simplified. the current output is:
[code]

To reproduce a bug on this try:
[code]
this affects 'i' .. and the title in visual which displays the wrong file selected

[2015-10-30 09:55] #3502 closed

[2015-10-30 10:23] radare opened #3629 "Enhace support for MegaDrive/Genesis"
Properly load the memory regions, not just the sections

https://github.com/DrMefistO/smd_ida_tools/blob/master/smd_loader/smd_loader.cpp

[2015-10-30 10:26] Maijin commented on #1883
@newlog This is working now we need to enrich the database :+1: :+1: :+1:

[2015-10-30 10:31] radare opened #3630 "SMS: Add support for loading MasterSystem/GameGear ROMs"
https://github.com/garbear/pyrominfo/blob/master/pyrominfo/mastersystem.py

[2015-10-30 12:08] #3627 closed

[2015-10-30 12:23] jvoisin opened #3632 "Show return types of functions"
Currently, radare2 can show the types of functions parameters, it would be great to also show the return type.

[2015-10-30 12:34] sushant94 commented on #3352
This is fixed in 63d94c5d37303ceb8df26f99c37d72d9148f7722 , though it does not have the explicit prefix for the flag (it now emits a `$b` rather than a `$b64` as @condret has said above)

[2015-10-30 12:45] sushant94 commented on #2345
What's the status of this? Do we still need this? As I see, `aoe` still currently says TODO.

[2015-10-30 16:48] Maijin commented on #1025
Note to add the 0x10 bios interrupt somewhere

[2015-10-30 16:53] XVilka commented on #1025
@Maijin You mean for DOS images or for stuff inside the old legacy BIOS images?

[2015-10-30 16:55] Maijin commented on #1025
@XVilka https://en.wikipedia.org/wiki/BIOS_interrupt_call#Interrupt_table used by MSDOS and bootloader mainly.
And I've used int10 in my first assembly course at UNI.

[2015-10-30 16:56] XVilka commented on #3622
@ricardoquesada please add the test for this in https://github.com/radare/radare2-regressions/tree/master/t/search

[2015-10-30 16:57] Maijin commented on #3622
Or here https://github.com/radare/radare2-regressions/blob/master/t/cmd_search

[2015-10-30 17:24] #1883 closed

[2015-10-30 19:13] radare opened #3634 "register alias+name conflicts"
ARM and other architectures are doomed to fail because the aliases of r# registers are handled differently, the solution for this is to change the register aliases to be in uppercase like `R0` for ret0 register and `A0` for argument, and use lowercase for legit register names.

[2015-10-30 19:14] radare commented on #3634
This means that all refereces to them in the code must be updated. "sr pc" -> "sr PC" ...

[2015-10-31 00:00] radare commented on #2345
Yes, this needs to be done. Its just calling analop to get the esil expression and pass it to the reil translator and print that.
The command must accept a numeric argument to specify how many instructions you want to get in reil

[2015-10-31 00:01] #3352 closed

[2015-10-31 01:19] radare opened #3635 "Fix build on non-exec environments"
`sh configure-plugins` instead of `./configure-plugins` and so on..

ubuntuphone is one of those targets, where $HOME is mounted without exec permissions

[2015-10-31 02:45] radare commented on #3634
Done

[2015-10-31 02:45] #3634 closed

[2015-10-31 02:46] radare commented on #3630
Done !

[2015-10-31 02:46] #3630 closed

[2015-10-31 03:57] davispuh opened #3636 "Can't build out of source dir"
Seems currently it's not possible to build outside of source directory.
It's very useful because you can easily just `rm -rf build` dir and leaving source dir unaffected by build.

[2015-10-31 06:17] jjdredd commented on #3636
do you want cmake?

[2015-10-31 06:24] davispuh commented on #3636
CMake would be great and for it's very simply to build out of source dir but that's not really requirement for out of source dir building, just need so build scripts don't assume current directory is source dir.

[2015-10-31 06:28] jjdredd commented on #3636
so you want to add a ${BUILD_DIR} to every -o option of gcc?

[2015-10-31 09:56] radare commented on #3619
Fedora patch fault. Will fix soon

[2015-10-31 10:06] sushant94 opened #3639 "Better Tests for ESIL"
The idea is to have better tests for x86 and x86_64 esil by comparing the ESIL register and memory states vs. a run of the same binary inside gdb. This will help us catch bugs that maybe difficult to find manually. Also, can reduce the amount of time spent in writing tests as the output is compared against a run rather than static, hardcoded values.

[2015-10-31 10:45] dukebarman opened #3640 "Invalid commands in Visual Mode"
When you open file in Vp mode and press up&down keys some commands converted to invalid

![2015-10-31-110640_1440x900_scrot](https://cloud.githubusercontent.com/assets/1186777/10863145/a2bc92fa-7fd4-11e5-9f84-9e7a2ccd0833.png)

File for tests https://dl.dropboxusercontent.com/u/10688770/ex3.1.bin

[2015-10-31 10:47] radare commented on #3640
wat

[2015-10-31 10:57] XVilka commented on #3640
Not a bug, this is how radare2 works, it starts disassembling from the current offset. Thus, if the current offset is in the middle of opcode -> it returns 'invalid' instruction. Closing.

[2015-10-31 10:57] #3640 closed

[2015-10-31 11:08] radare commented on #3636
there’s some gmake magic behind the VPATH variable, but it turned to be dark magic so i droppoed it, i dont really see any benefit in compiling out of source directory, but any PR will be welcome

[2015-10-31 11:15] radare commented on #3622
Please, stop this burocracy crap.. Writing 4 lines of test doesn't deserves the amount of time needed to comment here and wait for him to do it. Is good to teach newcomers how to contribute properly, but please, don't fall into the burocracy trap.

I just pushed the test in `t/search/sidbug`. I dont have time to check it now, but maybe i'll have a look later today or tomorrow. Thanks for reporting

[2015-10-31 13:36] radare commented on #3639
this issue should be in the r2r repo, not here

[2015-10-31 14:18] radare commented on #3603
works for me, what are you doing?
[code]

[2015-10-31 18:13] Maijin commented on #3603
./sys/install.sh will retry maybe it's fixed now.

[2015-10-31 19:37] radare commented on #3603
Ok. If not try with make install DESTDIR and make symstall DESTDIR. Also check the dll/ is a file or a directory

[2015-10-31 19:37] davispuh commented on #3636
Not really, it works other way, like
[code]

It's configure responsibility to create makefile in current dir which references source dir. But here makefile isn't generated in current directory even when configure succeeds without errors.

Anyway it's not really big deal and I don't really know anything about Autotools.
I find it preferable because of source code and build result separation, it's e

[2015-10-31 20:21] sghctoma opened #3643 "Graph layout should be preserved"
If you manually rearrange the graph using the HJKL keys, your changes will be lost when you switch views. I think it would be nice if the layout would be preserved, and also saved in the project file.

[2015-10-31 20:27] sghctoma opened #3644 "The x86 handmade assembler (x86.nz) can not handle SIB addressing"
Currently the x86.nz assembler plugin can not assemble instructions where scale-index-base addressing is used. Example:

[code]

The same with x86.nasm:

[code]

[2015-10-31 20:58] Manouchehri commented on #1194
Not sure if this is helpful or not, but Microsoft is taking questions on PDB if you have any.

https://github.com/Microsoft/microsoft-pdb

[2015-10-31 21:51] XVilka opened #3645 "Move the useful comparison and macro into the r_util from RISC-V code"
Move this code from libr/anal/p/anal_riscv.c
[code]
somewhere into the r_util.

[2015-10-31 22:17] XVilka commented on #3639
@sushant94 kind of related, since the gdb replay can be used instead of running gdb every time https://github.com/radare/radare2/issues/3574

[2015-10-31 22:19] Rafiot commented on #3603
Similar (?) bug when installed as user, on ubuntu 15.10. I get plenty of this one:

[code]

But the other sdb are there:

[code]

If it is unrelated, I'll open an other bug.

[2015-10-31 23:43] radare commented on #3645
Do you think this is going to be used at all?

[2015-10-31 23:44] radare commented on #3644
For 32 bits use asm.olly unless you are alergic to gpl.

Can you add some tests?

[2015-11-01 00:11] radare commented on #3643
This was planned to be done in sdb

[2015-11-01 00:12] radare commented on #3603
It is not unrelated. You read wrong the path. There's a dll under the dll directory. Maybe u did a symstall and later a install? Let me try and ill push a fiz

[2015-11-01 00:17] radare commented on #3645
Acording to coverity this little code contains 2 bugs, so i vote for no

[2015-11-01 05:23] crowell opened #3647 "static build is broken"
`./sys/static.sh` fails

[code]

[2015-11-01 07:26] jjdredd commented on #3636
Are you proposing autotools?

[2015-11-01 07:31] radare commented on #3647
More expected errors from the fedora patch, will fix later. Thanks for pointing out

[2015-11-01 11:18] sghctoma commented on #3644
I'm allergic to GPL, but I can live with it :) But for the moment I've just changed the default fallback assembler to x86.nasm. Which got me thinking: what if the fallback assembler would not be hardcoded, but there was an option to set it? Would you be OK with such an option?

About the tests: I've started to look around, and got a little confused. There are some tests in `libr/asm/t` that seems

[2015-11-01 13:24] Rafiot commented on #3603
I don't think I ever ran anything else than the user install script but it might be.

Right now, the installation look lithe that:

[code]

So the dll directory makes a loop.

[2015-11-01 16:42] radare commented on #3647
Still? It should be fixed after my morning patches

[2015-11-01 17:43] crowell commented on #3647
still fails

On Sun, Nov 1, 2015 at 11:42 AM, radare <notifications@github.com> wrote:

--
Jeff Crowell
https://github.com/crowell

[2015-11-01 17:52] radare commented on #3647
Can u paste something? Or should i nagically guess why it fails in your macchine qhen it works in mine?

[2015-11-01 18:00] davispuh commented on #3636
@jjdredd are you retarded? You just keep asking questions and they don't really make any sense as I already said what I wanted and no I never claimed that, but radare uses acr which is almost as same as autotools.

[2015-11-01 18:00] crowell commented on #3647
https://gist.github.com/7d93a6d21afc9f1600b8

On Sun, Nov 1, 2015 at 12:42 PM, Jeff Crowell <crowell@bu.edu> wrote:

--
Jeff Crowell
https://github.com/crowell

[2015-11-01 18:21] jjdredd commented on #3636
@davispuh Is that the way you usually talk to people? I suggest you change your tone.

[2015-11-01 18:45] davispuh commented on #3636
@jjdredd I suggest you to GTFO as you don't add anything to this issue and your questions don't lead us anywhere to solve this issue. Anyway I've already said everything so I'm not commenting here anymore.

[2015-11-01 19:29] crowell commented on #3647
fixed in https://github.com/radare/radare2/commit/b7c9762fffc7a2f0096f271ac2b86d2e906a2752

[2015-11-01 19:29] #3647 closed

[2015-11-01 19:35] radare commented on #3603
The problem happens with sys/user.sh or which installation method are you using?

[2015-11-01 20:28] Rafiot commented on #3603
Yes, with sys/user.sh

[2015-11-01 20:28] Maijin opened #3649 "Windows Minidump Segfault"
http://pastie.org/private/wudcb6nx5bgusspzznzq

The file: http://rghost.net/private/7vRjfNr8Q/42b2b3be50f73dce291d2e9a8e1fe101

[2015-11-01 20:31] Maijin opened #3650 "Stackoverflow(?) on windows generated binaries"
http://i.imgur.com/QxLiXxr.png

r2 -A radare2-w32-0.10.0-git/libr_asm.dll
http://bin.rada.re/radare2-w32-0.10.0-git.zip

[2015-11-01 20:49] Maijin commented on #3650
On linux, analysis seems to be stuck but doesn't crash see valgrind log:

[code]

[2015-11-01 20:55] Maijin commented on #3649
@davispuh  You may be interested

[2015-11-01 21:36] davispuh commented on #3649
I don't really have time to look into it, but that crash happens at [libr/bin/p/bin_mdmp.c#94](/radare/radare2/blob/master/libr/bin/p/bin_mdmp.c#L94)

It might be related to radare API changes since I wrote it then, there it doesn't even touch mdmp object at all. Maybe `RBinInfo, ret->file` needs to be allocated before.

[2015-11-01 21:48] davispuh commented on #3649
yeah it is so, will need fixing all accesses to allocate it. It was introduced with this commit dff11411ccacacd167e7589f7a7840ef80712b60 but I wrote it way way earlier :D

[2015-11-01 23:19] trufae commented on #3636
![](http://i.ytimg.com/vi/JRZGTnjCLOo/hqdefault.jpg)

[2015-11-01 23:26] radare commented on #3636
Keep calm dudes. I use to be rude, but just in words. But i understand this can offend someone at some point. I don't want r2land to be an offensive place.

@davispuh please, take a break before replying in that way. acr emulates autoconf, but absolutely not the same as autotools, there's no automake process involved (which would be the solution for this problem), but it will also make configure s

[2015-11-02 08:43] radare commented on #3644
Yes it will be good to have an asm.asm option. Its just filling a pointer, because its not hardcoded at all. I can do it quickly, but we need a better name for it, because asm.asm looks retarded to me.

The asm/t thing is there because of practicity. All tedtsuites started i libr/*/t but have been moved to r2r to avoid the bloatness of the bins and be able to work in there without interfering the

[2015-11-02 14:16] radare commented on #3650
Can you reproduce this on wine with the same binary? valgrind wine may help. all those errors are capstone related. check if also crashes when using x86.udis

[2015-11-02 16:37] XVilka commented on #3348
@crowell I know now how it works, but better not to break so fragile support of GDB before the release.

[2015-11-02 17:08] hemantmits opened #3653 "unable to disassemble win PE exe on ARM host"
Hi,

I am trying to disassemble a win PE, build using i686-w64-mingw32-gcc on my rpi 2 box.
Its a simple "hello world" c program.

but in disassemble I am seeing lots of "unaligned" and "invalid" codes. e.g.

            0x004014e0    83ec0c         sub esp, 0xc
            0x004014e3    83ec0c         unaligned
            0x004014e4    05d8534000     add eax, 0x4053d8
            0x004014e9    0

[2015-11-02 17:15] radare commented on #3653
I think `e asm.pcalign=0` will fix the issue. x86 doesnt have the alignment issue. i'll push a workaround tonight

[2015-11-02 17:23] hemantmits commented on #3653
Thanks alot for quick response.  `e asm.pcalign=0`  solved my issue.

[2015-11-02 17:32] sghctoma commented on #3644
By hardcoded I meant that if the current plugin is not able to assemble, r2 always chooses the <arch>.nz as assembler provided it exists (libr/asm/asm.c@375). As for the name: asm.asm looks silly indeed, maybe asm.assembler is a bit better.

Thanks for the clarification on the tests, I'll start writing them!

[2015-11-02 17:57] #3653 closed

[2015-11-02 18:01] radare commented on #3653
The fix should be ready now :) thanks for pointing out!

[2015-11-02 18:02] radare commented on #3653
please confirm. i have also pushed 4 test cases to avoid this thing to happen again

[2015-11-02 18:24] hemantmits commented on #3653
I did a build with latest code and its working fine.
Thanks alot that was quick :+1:  :)

[2015-11-02 21:36] Maijin opened #3654 "Add Windows Types"
For better function arguments we need to handle windows types.
Probably to be shipped in a separated sdb file

[2015-11-02 21:50] radare commented on #3654
They are all defines to basic c types

[2015-11-02 21:51] XVilka commented on #3654
@radare I think he means to ship pre-parsed types sdb for windows.

[2015-11-02 22:10] Maijin commented on #3654
Maybe something like http://paste.ubuntu.com/13086562/

[2015-11-02 22:38] XVilka commented on #3645
I have a better version somewhere, will paste here soon.

[2015-11-02 22:40] Maijin commented on #2276
@crowell  reping

[2015-11-02 22:44] crowell commented on #2276
I thought I did this a long time ago, maybe never pushed it... Thanks for
the ping
On Nov 2, 2015 5:40 PM, "Maijin" <notifications@github.com> wrote:

[2015-11-03 08:21] radare commented on #3654
Yep. Precompiled headers :)

[2015-11-03 08:22] radare commented on #3645
But... I dont any reason to have something that is not used anywhere..

[2015-11-03 10:04] #3622 closed

[2015-11-03 10:06] radare commented on #3603
Cannot reproduce. anyone else have the same problem?

[2015-11-03 10:07] radare commented on #926
If no one provides a test or a patch, im not gonna push this for 0.10

[2015-11-03 10:08] radare commented on #3650
Cant reproduce on linux with asan, only happens on windows, so my guess is that its a mingw bug

[2015-11-03 10:08] radare commented on #3650
@skuater is looking at it

[2015-11-03 10:38] Maijin commented on #3650
On linux as said the analysis just doesn't progression and stuck so it's also not working in linuw

[2015-11-03 12:46] Maijin commented on #3654
"windows-types" in https://github.com/radare/radare2/tree/master/libr/anal/d ?

[2015-11-03 13:24] jvoisin commented on #3654
It would be cool to have those, yup.

[2015-11-03 13:37] #3639 closed

[2015-11-03 14:03] XVilka commented on #3645
@radare you right ofc. Closing this.

[2015-11-03 14:03] #3645 closed

[2015-11-03 14:06] jvoisin commented on #926
I don't have the binary anymore :/

[2015-11-03 14:08] Maijin opened #3655 "META - Add function argument detection"
![image](https://cloud.githubusercontent.com/assets/1408600/13150924/14752dfa-d668-11e5-869f-32d10f3a8b4a.png)
- [x] Add precompiled headers in sdb file for windows OS #3654
- [x] Autoload those types when `e asm.os = windows`
- [x] Add "return type" in the Functions definition files #1953
- [x] Use Native types instead of pf types in Functions definition files
- [x] What about `const char *local`

[2015-11-03 14:08] #926 closed

[2015-11-03 17:46] ricardoquesada commented on #3622
it's working ok now. thanks for fixing it.

[2015-11-03 21:34] Maijin commented on #2240
Done https://github.com/radare/radare2/commit/eb56f6d424d8e64bcaa19b5406b573dd916e05d4

[2015-11-03 21:34] #2240 closed

[2015-11-03 22:49] Maijin commented on #3603
Has been corrected confirmed by @Rafiot

[2015-11-03 22:49] #3603 closed

[2015-11-03 23:18] Maijin commented on #3535
* [ ]
* [ ]
* [ ]
* [ ]

[2015-11-03 23:33] Maijin commented on #3535
To be added:
* [ ] quadword
* [ ] byte
* [ ] uleb
* [ ] char
* [ ] decchar
* [ ] time
* [ ] nulltermwidestring
* [ ] bitfield
* [ ] enum
* [ ] register
* [ ] struct

[2015-11-03 23:57] Maijin commented on #3650
On linux is not stuck now.

Using Windows got this when opening the file:
[code]

[2015-11-04 08:10] radare commented on #3535
Write tests plz

[2015-11-04 08:18] #3619 closed

[2015-11-04 10:14] #2798 closed

[2015-11-04 10:19] Maijin opened #15570 "Add test for 6502"
https://github.com/radare/radare2/issues/2939

[2015-11-04 10:19] Maijin commented on #2939
It's done, now need tests

[2015-11-04 10:19] #2939 closed

[2015-11-04 13:57] radare commented on #3650
Can u paste the output of rabin2 -z? Looks like an unterminated string

[2015-11-04 14:05] radare commented on #3450
Status? All those crashes are fixed now? Can we remove the comments of the fixed ones?

[2015-11-04 14:22] revskills commented on #3450
Status = disable Java by default.

=================================================================
==11634==ERROR: AddressSanitizer: heap-use-after-free on address 0x6270000900f0 at pc 0x7eff5308a94f bp 0x7ffdf2c88680 sp 0x7ffdf2c87e28
READ of size 1 at 0x6270000900f0 thread T0
    #0 0x7eff5308a94e in __interceptor_strncmp (/lib64/libasan.so.2+0x7094e)
    #1 0x7eff51ec401f in check_bytes /home

[2015-11-04 15:35] Maijin commented on #3650
On linux http://paste.ubuntu.com/13102104/

[2015-11-04 16:06] radare commented on #3450
we're trying to fix java.. without refactoring it with @alvarofe

[2015-11-04 16:41] revskills commented on #3450
So.. Should I report bugs in java?

[2015-11-04 17:01] radare commented on #3450
Maybe we can just put them in a separate issue to keep track of them.

I think we should focus on fixing clang analyzer issues in libr/bin/p/*

[2015-11-04 17:02] revskills commented on #3450
so lets close this one if everything is fixed now. Please double check :-).

[2015-11-04 17:07] Maijin commented on #3450
@revskills Minidump will need tons of fuzz, currently it doesn't even run on a standard stuff :'( https://github.com/radare/radare2/issues/3649

[2015-11-04 18:14] alvarofe commented on #3450
to be fair this is related with fatmach format

[code]

[2015-11-04 18:55] alvarofe commented on #3450
it's still pending to fix 7cc0970af593532fcf484a17dac1563e in r2r bins/java

[2015-11-04 18:56] radare commented on #3450
cant find this bin. are you sure its pushed?

[2015-11-04 18:58] alvarofe commented on #3450
https://github.com/radare/radare2-regressions/commit/c1b203469baa7bf949c28187c8cbf008cb55b687

[2015-11-04 18:58] alvarofe commented on #3450
git pull :P

[2015-11-04 19:29] radare commented on #3450
Because of my type changes in the header files? Do we have valid minidump files to test? Maybe @skuater can have a look

[2015-11-04 19:31] Maijin commented on #3450
@radare I've provided a testfile here https://github.com/radare/radare2/issues/3649

[2015-11-04 22:22] XVilka commented on #3628
Well, it needs tests then. But what output you have in mind?

[2015-11-05 01:02] #3649 closed

[2015-11-05 01:03] radare commented on #3649
The segfault is gone, but there are some invalid sizes in sections:

[code]

[2015-11-05 04:00] bydo commented on #3609
/usr/local is still writeable in 10.11, SIP whitelists it.

[2015-11-05 13:00] radare commented on #3450
everything should bef ixed now :) fuzz again

[2015-11-05 13:03] radare opened #3661 "graph comments"
i find useless and noisy to have comments in the graph view. the thing is that now, there's no way to drop them without quiting the graph mode. way to reproduce:

[code]

[2015-11-05 13:04] radare commented on #3650
i dont see anything wrong on linux with asan

[2015-11-05 13:05] Maijin commented on #3450
Java : http://pastie.org/private/zin7a5bzuehgkxol440jlq
e asm.arch = java ; aaa ; pd 100

Segfault => http://pastie.org/10531841

[2015-11-05 13:18] radare commented on #3450
added test and fixed

[2015-11-05 13:20] Maijin commented on #3450
Java : http://pastie.org/private/sjybqjk9j7iwkylildxsg
e asm.arch = java ; aaa ; pd 100

Segfault => http://pastie.org/private/ab176eak83k9fivbma7yfq

[2015-11-05 13:31] Maijin commented on #3605
More with riscv http://pastie.org/private/p68mv2vw2o3nqofeudqzzg

[2015-11-05 14:08] radare commented on #3609
We should probably install r2 in /usr/local in osx. As long as its an expected path for pkgconfig and dyld.. Thanks for the tip. Will do some tests later on this

[2015-11-05 14:10] radare commented on #3605
Please add this test case for ALL archs. This happens when invalid instructions are not handled by the anal plugin, so the analysis is unable to find the end

[2015-11-05 15:31] radare opened #3662 "Implement unix's wc command in r2"
conflicts with
`| wc[ir*?]           write cache undo/commit/reset/list (io.cache)`

[2015-11-05 15:52] Maijin commented on #3605
* DCPU16 http://pastie.org/private/vspiiaa23hxkhrntrlmkfa
e asm.bits=16
e asm.arch=dcpu16
e anal.a2f=true
e anal.afterjmp=true
e anal.bbsplit=true
e anal.calls=false
e anal.eobjmp=false
e anal.esil=true
e anal.hasnext=true
e anal.limits=true
e anal.noncode=true
e anal.recont=true
e anal.nopskip=false
e anal.split=true
e anal.trace=true
aaa

[2015-11-05 16:00] Maijin commented on #3605
@radare Also I cannot use w6d on the base64 string, otherwise I could create directly a r2script that you just have to run to reproduce

[2015-11-05 16:03] Maijin opened #3663 "Cannot use long string in w6d ?"
Maybe it's a known bug but I can't use a long string when using w6d
Could be nice for creating r2 script to reproduce issue found during fuzzing or other bug such as https://github.com/radare/radare2/issues/3605

[2015-11-05 16:26] ret2libc commented on #3661
You have ';' to switch comments

[2015-11-05 16:29] ret2libc commented on #3661
Btw, I think comments are really fundamental when you do RE and if you don't display comments you don't even have the shortcuts to move between functions and nodes.
We may probably want to have shorter comments by cutting them or moving them on multiple lines.

Personally, I would go for having a var asm.multicomments=n to split comments on multiple lines if they exceed n chars. What do you think?

[2015-11-05 16:33] ret2libc commented on #3661
But that's for sure a bug. It was introduced with 35b180a484def84b12f10b664380b72385b8ee13.

[2015-11-05 16:38] radare commented on #3605
Why not? Why not just wx? Thats fine. Its also fine if you send a fix :p

[2015-11-05 16:38] radare commented on #3663
Define long strings. R2 prompt is not infinite

[2015-11-05 16:39] Maijin commented on #3663
http://pastie.org/private/vspiiaa23hxkhrntrlmkfa

[2015-11-05 16:40] radare commented on #3661
The jmphint comments are displayed even without asm.comments.. Or they should at least, because they are not comments.

Comments are provided by the user via anal/meta. And the nodes should be resized in case the content changes

[2015-11-05 16:42] radare commented on #3661
We should redesign comments for next release. Just focus on this for now. We will need to support different colors for commwnts, different locations (right or top), folded comments, flag comments.. And more. Its a huge topic and i dont wanna mess with it before the release.

[2015-11-05 17:31] dukebarman opened #3664 "Search command broke disasm avr code"
I try find addresses for command "in" but after search is finished disasm code print with errors
[code]

[2015-11-05 18:54] dukebarman commented on #3664
If I choose option "e asm.midflags=false" then code isn't broke. But it isn't normally / expected behavior

[2015-11-05 19:39] alvarofe commented on #3612
@XVilka ping

[2015-11-06 02:59] radare commented on #3664
Is this issue only happening in avr?

[2015-11-06 03:00] radare commented on #3664
Cna u add a test with the correct output? (Build r2 with an older commit)

[2015-11-06 14:30] radare commented on #3662
we already have `~?` not sure if wc should be done at all

[2015-11-06 14:48] dmtch opened #3665 "flirt signature loader is broken?"
Hi.
I try to use signatures like this:
[0x0040c194]> zF vc32rtf.sig
inflate error: -5 buffer error
Decompressing failed.
We encountered an error while parsing the file. Sorry.
Loading: Microsoft VisualC 2-11/net runtime
[0x0040c194]> z
Loaded 0 signatures
  0 byte signatures
  0 head signatures
  0 func signatures
I did it wrong or it's some bug in radare?

[2015-11-06 14:49] ret2libc opened #3666 "fcnline disappears with comments"
if you have a comment like ```; JMP XREF from 0xdeadbeef``` and you go to visual mode, if the comment is the first instruction, the function line (on the left) disappears.

[2015-11-06 15:23] XVilka commented on #3665
@dmtch we need that file to test.

[2015-11-06 15:27] radare commented on #3665
there are some tests for flirt. But probably not enough, so it will be good if you could provide some more .flirt and bin files for testing.

thanks

[2015-11-06 15:28] #3654 closed

[2015-11-06 16:01] dmtch commented on #3665
http://rghost.net/8x9S5Q82V
signatures from ida free

[2015-11-06 16:03] #3662 closed

[2015-11-06 16:04] Maijin commented on #3605
@radare because wx would be huge

[2015-11-06 16:05] Maijin commented on #3404
ping @hteso

[2015-11-06 16:46] radare opened #3668 "Windows rax2.exe doesn't waits for input"

[2015-11-06 16:49] radare commented on #3605
then split it up into several lines

wx …
s+128
wx …
s+128
…
s 0

[2015-11-06 17:14] radare commented on #3605
any other infinite analysis here?

[2015-11-06 17:17] radare commented on #3661
also, the ';' key redraws the graph which is ok, but it shouldnt change the scroll position. thats how it was working before

[2015-11-06 18:51] dukebarman commented on #3664
[code]

[2015-11-06 18:55] XVilka commented on #3664
@dukebarman please exclude reflines, bytes and offsets using the corresponding config variables

[2015-11-06 21:29] radare commented on #3664
Use asm.lines, asm.bytes... Also test if this happens with pi.

Thanks, ill look as soon as possible

[2015-11-06 23:27] skuater commented on #3650
tested on windows with the git version from yesterday and seem solved.

[2015-11-07 04:16] radare commented on #3650
Wat? I am still having the same crash. Drag any r2 dll into radare2.exe and type aa

[2015-11-07 10:50] radare opened #3670 "Improve disassembly reflines"
* [ ] Avoid overlapping edges
* [ ] Colorize forward/backward lines
* [ ] Use different color for each line (rainbow)

[2015-11-07 10:52] jjdredd commented on #3670
This may require major refactoring...

[2015-11-07 10:53] radare commented on #3670
@jjdredd this major refactoring has been done by @ret2libc in his last PR ;)

[2015-11-07 10:53] XVilka commented on #3670
Related are https://github.com/radare/radare2/issues/2545 and https://github.com/radare/radare2/issues/3259 and https://github.com/radare/radare2/issues/3611

[2015-11-07 11:01] radare commented on #3259
This should be fixed now. please review and close

[2015-11-07 11:02] radare commented on #3611
Provide a test case and test again please

[2015-11-07 11:02] radare commented on #2545
Please verify again

[2015-11-07 11:14] ret2libc commented on #3259
please check it and if it's ok we can close this issue.

[2015-11-07 11:21] jjdredd commented on #3021
think this needs to be reopened
linux x86, 24f675e

file: http://jjdredd.github.io/game.xz

[code]

[2015-11-07 11:26] radare commented on #3021
cant reproduce. it just takes a lot of time and memory, but i dont see
any crash on linux+asan

On 11/07/2015 12:21 PM, Judge_Dredd wrote:

[2015-11-07 11:27] radare commented on #3021
is this an oomkill in your side?

On 11/07/2015 12:21 PM, Judge_Dredd wrote:

[2015-11-07 11:30] jjdredd commented on #3021
If it gets oom'd with 2,5Gb RAM it's still a bug :)
It gets a segfault pretty soon though. OOM doesn't kill with segfault imho.

[2015-11-07 11:38] radare commented on #3021
memory consumption of the code analysis is something to be improved :)

but that's not a crash. you can fix this with hardware. i have 32GB of
ram here and the analaysis just finished fine

On 11/07/2015 12:30 PM, Judge_Dredd wrote:

[2015-11-07 11:48] jjdredd commented on #3021
Asan works fine for me too (I didn't wait for the analysis to finish but it didn't segfault).
The usual build segfaults.

[2015-11-07 13:09] radare commented on #3021
Haha :D

Will try without asan tonight. Asan build should take more memory and be more paranoic on memory accesses.

[2015-11-07 21:00] aweinstock314 opened #3671 "afvn doesn't have tab-completion for variable names"

[2015-11-07 22:02] radare commented on #3609
Thanks! I have changed sys/install.sh for osx after some testing. Its now installer in /usr/local

[2015-11-07 22:02] #3609 closed

[2015-11-08 15:19] jjdredd commented on #3021
Can someone pls confirm this?

[2015-11-08 15:59] radare commented on #3021
I can do some profiling to optimize the memory usage of the r2 code analysis.

[2015-11-08 16:15] radare commented on #3021
no crash without asan here. But 900MB of ram needed to analyze a 17MB
binary seems too much to me :P so i'll improve it.

On 11/08/2015 04:19 PM, Judge_Dredd wrote:

[2015-11-08 16:41] radare commented on #3021
According to massif, main memory usage comes from the Sdb storage when allocating SdbKv structures. ![2015-11-08-171821_1680x1050_scrot](https://cloud.githubusercontent.com/assets/917142/11021342/e2a8b928-863e-11e5-9d54-eadf0181998e.png)

This struct contains a fixed size array to avoid unnecessary heap fragmentation for performance reasons:

[code]
This is a minimum of 255+8+4+8+4 = 285 bytes per

[2015-11-08 16:45] radare commented on #3021
I'm also surprised by the amount of memory taken by RBin, here's a second run of massif without analyzing the program, the way to optimize this is not that obvious, so i'll take a deeper look later. If anyone wants to share his thoughs/patches you're welcome :)

![2015-11-08-172925_1680x1050_scrot](https://cloud.githubusercontent.com/assets/917142/11021399/7fa1dba0-8640-11e5-9b40-17333d119223.png)

[2015-11-08 16:51] radare commented on #3021
The yellow lines are caused by the RFlagItem struct which is really huge for the same reasons. I did a quick change and reduced memory usage from 80MB to 14MB, so I guess we can go this way for the rest of structs containing fixed size arrays :P i guess that performance will be worst for small bins, but better for big ones. because the heap allocator doesnt seems to manage big allocations as well

[2015-11-08 17:10] jjdredd commented on #3021
I really don't feel like this is an oom issue.

[2015-11-08 17:33] radare commented on #3021
After dinner i will do all those mem optimizations. So you can try again

[2015-11-08 17:35] radare commented on #3021
Anyway your backtrace doesnt shows any crash at all. Can you check syslog to confirm that oom thing? Can you also verify the instruction that is prpducing the crash if any? Not just the backtrace and the register values?

[2015-11-09 04:23] radare commented on #3021
After all the optimizations mentioned done (well, almost all of them) I have managed to reduce the memory consuption of r2 from 630MB to 235MB. All tests are passing. There are still some minor things to be done, but, it will be good if you give it a try and confirm that the issue is gone

[2015-11-09 04:38] radare commented on #3021
The startup memory usage have been also improved from 346MB to 76MB. And it can be lowered to 50 or so. In fact, Just the Sdb change resulted in -150MB. Here there are some screenshots:
![2015-11-09-052227_1680x1050_scrot](https://cloud.githubusercontent.com/assets/917142/11026025/fb773df2-86a3-11e5-8104-a96775160353.png)

![photo_2015-11-09_05-23-12](https://cloud.githubusercontent.com/assets/917

[2015-11-09 09:31] jjdredd commented on #3021
600-700 Mb I can afford, so I'm not out of memory imho.

@ `aaccaea`

[code]

[code]

[2015-11-09 09:40] jjdredd commented on #3021
[code]
Was I really out of stack??
I tried with `ulimit -s unlimited` and now it doesn't crash (at least immediately), I will leave the analysis for some time to see how things go.

[2015-11-09 10:03] radare commented on #3021
Yep. How small your stack is? I can reduce this requirement too

[2015-11-09 10:21] radare commented on #3605
@Maijin ping

[2015-11-09 10:22] radare opened #3672 "Support and test Linux ARM64 debugger"

[2015-11-09 10:29] radare commented on #3021
your crash shows that the size of your stack is 64KB. Welcome to 2015

[2015-11-09 10:33] radare commented on #3021
Try again, i have moved this 8KB buffer from the stack to the heap.

[2015-11-09 10:42] XVilka commented on #3672
Related issues are https://github.com/radare/radare2/issues/1773 and https://github.com/radare/radare2/issues/1700 (though last one should be fixed, can't reproduce anymore with qemu, please can someone retest it on the real hardware?).

[2015-11-09 10:44] jjdredd commented on #3021
I think it's even less: `stack size              (kbytes, -s) 8192`.

yeh, I'm from 80's http://www.hartvannederland.nl/wp-content/uploads/2015/10/Back-to-the-Future.jpg

[2015-11-09 10:45] XVilka commented on #3612
can't reproduce anymore, looks like was a glitch. Thx for waiting!

[2015-11-09 10:45] #3612 closed

[2015-11-09 10:58] jjdredd commented on #3021
TY @radare it seems to be fixed at 0811424

[2015-11-09 11:12] radare commented on #3672
@XVilka nope. this issue is to track the native debugger, not the remote one

[2015-11-09 14:52] #3628 closed

[2015-11-09 14:56] #3605 closed

[2015-11-09 14:57] Maijin commented on #3663
wx …
s+128
s 0
To be used instead

[2015-11-09 14:57] #3663 closed

[2015-11-09 15:08] radare commented on #3663
in r1 there was an slurp mode, but it was removed in r2 to avoid confussion. this thing was working like this:

w<<EOF
….
EOF

we can discuss to enable again this mode, but it was problematic for batch and r2pipe

[2015-11-09 19:04] radare commented on #3663
What about disussing the << instead of closingv

[2015-11-09 19:46] XVilka commented on #3259
[code]

[2015-11-09 20:05] XVilka commented on #3670
How to handle this case?
[code]
When the beginning of the one refline is also an end of the another? How to show them properly?

[2015-11-09 21:22] radare opened #3676 "Implement bin.strfilter=i"
`i` is for `IP` addresses. filters strings containing IP addresses.

[2015-11-09 21:45] radare commented on #3668
Fixed by @skuater thanks!

[2015-11-09 21:45] #3668 closed

[2015-11-09 21:45] #3021 closed

[2015-11-09 21:52] radare opened #3678 "minidumps not working"
[code]

* no symbols
* no entrypoint
* 64 sections with inconsistent data
* ...

<img width="1188" alt="screen shot 2015-11-09 at 22 52 05" src="https://cloud.githubusercontent.com/assets/917142/11047779/878f0a82-8734-11e5-8dce-88a939c1a47e.png">

[2015-11-10 11:07] XVilka commented on #3678
Target moved to the next release

[2015-11-10 11:34] XVilka commented on #3664
@dukebarman
[code]
or, use the `pi` instead of `pd`.

[2015-11-10 12:51] radare commented on #3678
Ill move it to extras as soon as i have some time

[2015-11-10 15:34] XVilka commented on #3235
@crowell ping, is this still an issue? What about writing a test for it?

[2015-11-10 15:49] XVilka commented on #3202
@radare it was a pair of two issues - using WinAPI instead of the unix API and "Permission denied". Lol. Fixed the first one, still thinking how to solve the permissions stuff.

[2015-11-10 16:11] XVilka commented on #2545
Fixed. Thanks!

[2015-11-10 16:11] #2545 closed

[2015-11-10 16:11] XVilka commented on #2285
Related https://github.com/radare/radare2/issues/3661

[2015-11-10 16:14] XVilka commented on #3259
Fixed, thanks!

[2015-11-10 16:19] XVilka commented on #3259
@ret2libc see this one:
[code]

[2015-11-10 16:20] XVilka commented on #3259
@ret2libc and this:
[code]

[2015-11-10 18:27] ret2libc commented on #2285
@XVilka i think we can actually close this, because now the output of the graph is taken from 'pd', not from 'pi' anymore.

[2015-11-10 18:36] Maijin commented on #2285
Yep two problems different and this one is fixed

[2015-11-10 18:36] #2285 closed

[2015-11-10 21:33] #3676 closed

[2015-11-10 22:05] Maijin commented on #3655
Something like this?
* If the e asm.os = windows/linux/... It loads the predefined set of types for the platform
* It loads the definition something containing return type and native types(not pf) : sym.imp.user32.dll_LoadIconA=HINSTANCE:hInstance LPCTSTR:lpIconName ; HICON
* Display LoadIconA(HINSTANCE:0x1000,LPCTSTR:0x10000) [return HICON]

ping  @radare

[2015-11-11 07:32] radare commented on #3664
Please, push to test this asap, i want this ready for the release. Thanks

[2015-11-11 07:34] radare commented on #3235
No one tried again, also, that issue depends on arch/os

[2015-11-11 07:35] radare commented on #3202
👍

[2015-11-11 07:39] #3650 closed

[2015-11-11 07:39] radare commented on #3650
Fixed in git

[2015-11-11 07:41] radare commented on #3649
I'm moving minidump and msil support to radare2-extras. Sorry, there's no time to review and fix this before the release. Can you take a look?

[2015-11-11 07:41] radare commented on #3348
👍

[2015-11-11 07:44] radare commented on #3190
Can you cook a pullreq with the changes required to reduce the false positives without loosing too much true positives?

[2015-11-11 07:46] radare commented on #3599
Yeah. Projects are not saving the map address. Will look into it before release.

Thanks

[2015-11-11 07:46] radare commented on #3599
Can you add a testcase?

[2015-11-11 08:27] ricardoquesada commented on #3599
sure. I'll add one tomorrow.

[2015-11-11 10:43] XVilka opened #3681 "Embedding the text files"
To be able to open/read/edit/remove/add the links to the local text files (or store them somewhere), and add shortcut to open them (in split? or I don't know) and read/edit. (like in vim)

Should looks something like:
[code]

[2015-11-11 13:42] Maijin opened #3682 "Ability to do xor of char in ? and rax2"
Ability to do xor of char in `?` and `rax2`

Something like
[code]

[2015-11-11 16:27] radare commented on #3682
Use wox, is not on chars or chairs, but in bytes. Aka unsigned chair

[2015-11-11 18:38] radare commented on #3682
In that case that would would be 'B' otherwise u cannot determine if its a number a char or wat

[2015-11-11 19:12] XVilka opened #3683 "Determine the OSTYPE in the only one place"
Just search through the Makefiles - it does perform calculations of the OSTYPE everywhere. Should be extracted, unified and put in the one place.

[2015-11-11 20:07] radare commented on #3683
Wat? Ostype is determined by configure

[2015-11-11 20:15] lizardo opened #3684 "r2 "pd" incorrectly disassembles some instructions [ARM, Thumb]"
Using latest r2 from git (master ad74a6e) on [example.elf.b64.txt](https://github.com/radare/radare2/files/32236/example.elf.b64.txt) (ARM Thumb ELF executable for a Cortex-M0 based microcontroller), some instructions are disassembled incorrectly.

For instance, this sequence is incorrect:
[code]

If the "absolute" address (.text section offset + instruction offset) is given instead, disassembly i

[2015-11-11 21:08] lizardo commented on #3684
Using the following commands also generate correct disassembly (and even somewhat working rabin2 analysis!):

[code]

Curiously, using "r2 -t example.elf" (which would be similar to the above) still generates incorrect disassembly.

[2015-11-11 21:46] Maijin commented on #3682
I use wox already, but I don't want to write stuff but some user told that it could be nice to do that also in "? ..." to quickly try stuff. 'B' would be fine as well

[2015-11-11 22:00] XVilka commented on #3683
@radare there is also an "auto" option, then Makefile trying to determine the OS by itself, using output of the uname. At least in 3 different places. Search 'uname' through radare2 sources.

[2015-11-11 22:59] radare commented on #3684
This is probably an io bug, bear in mind that physical mapping of the binary is not what the process will see when loaded in memory, so you should be seeking to the virtual address to get the correct disassembly for absolute addresses referenced in the code.

You can use the short r2 -a arm -b 16 instead of the long -e version.

Ill look into this when i have some time. Thanks

[2015-11-11 23:07] radare commented on #3682
we can just teach r_num to handle single quoted chars as numbers too

[2015-11-11 23:20] #3682 closed

[2015-11-11 23:28] radare commented on #3684
this happens when the base address of the program is lower than the filesize. so it overlaps the fake physical memory with the virtual map producing those issues. @condret can you confirm this works fine with siol?

[2015-11-11 23:32] radare commented on #3684
nevermind. didnt saw the flag. just unset asm.midflags, thats because of the loc flags. you can fix this just doing ‘f-loc*'

[2015-11-11 23:32] radare commented on #3684
maybe we shuoldnt set flags for the local symbols.. or we should set midflags to false by default..

[2015-11-12 00:21] radare commented on #3681
We need some discussion on this topic:

* use a specific syntax in comments?
* use anal hints to specify this?
* add extra field in comments
* which keys to use in visual mode? same for graph and panels

[2015-11-12 02:54] lizardo commented on #3684
I can confirm setting asm.midflags to false fixed the issue for me. How do I find out why some flag was created?

[2015-11-12 07:30] radare commented on #3684
This flag comes from the LOC elf symbols . See libr/format/elf.c

[2015-11-12 09:06] #3684 closed

[2015-11-12 09:07] radare commented on #3684
I just found that NOTYPE symbols are not listed in -r mode, but created when loading r2, that was inconsistent, so i just did a separate function to perform this check and make this more consistent. Thanks for pointing this out :) it should be fine now

[2015-11-12 09:08] radare commented on #3661
@ret2libc ping

[2015-11-12 09:34] #3599 closed

[2015-11-12 09:34] radare commented on #3599
Yesterday is not tomorrow ;D i just fixed this thing. please add a test case, see the projects tests for it.

thanks for pointing out this!

[2015-11-12 09:52] radare commented on #3450
No more issues? anyone wanna fuzz more before the release?

[2015-11-12 09:52] revskills commented on #3450
I'm on it

[2015-11-12 09:53] radare commented on #3450
@revskills :*

[2015-11-12 09:53] radare commented on #3664
@dukebarman test plz?

[2015-11-12 09:53] revskills commented on #3450
release ETA?

[2015-11-12 09:55] radare commented on #3664
Just `asm.midflags=false` to get proper disasm here. im investigating a bit more

[2015-11-12 09:57] radare commented on #3664
Do avr have some kind of specific memory alignment like ARM/MIPS does? because /c is searching on every single byte, not only the aligned addresses

[2015-11-12 10:06] #3661 closed

[2015-11-12 10:08] XVilka commented on #3681
Yes, I suggest using [filename.txt] or [filename.md] or [filename.url]. Anal hints? No, I don't think so, I think it should be somewhere in the `CC` command set. Extra field? Nope, just embed it in the comment. We can even underline such reference in the comment. Not sure about keys, any ideas?

[2015-11-12 10:28] XVilka commented on #3683
E.g. do all the OS/platform (but not the compiler) dependent stuff here https://github.com/radare/radare2/blob/master/mk/platform.mk

[2015-11-12 13:27] radare commented on #3683
Whats your proposal?

[2015-11-12 17:36] ricardoquesada commented on #3599
@radare thanks. sorry, I didn't get it. In which folder are the project tests ? In `radare2-regressions/files/projects/test` ?

[2015-11-12 18:28] radare commented on #3599
Use r2 -p projectname to reload the project

[2015-11-12 18:29] radare commented on #3599
Grep for Po/Ps im all tests to find other project tests as sample

[2015-11-12 23:00] ricardoquesada commented on #3599
@radare done:
https://github.com/radare/radare2-regressions/pull/254

[2015-11-13 00:35] radare commented on #3665
Some files report to be using newer compression methods:
[code]

[2015-11-13 09:00] Maijin opened #3688 "Pagedown/PageUp keys in the graph act as home/end keys"
Pagedown/PageUp keys in the graph act as home/end keys
Instead of scrolling more than arrow, they go at the bottom or at the top of the graph which is wrong.

[2015-11-13 09:18] radare commented on #3688
confirmed issue

[2015-11-13 10:08] dmtch commented on #3665
Are there samples of compressed *.sig files? I will fix this bug in inflate implementation.

[2015-11-13 10:30] radare commented on #3665
i dont think is a bug in the inflate implementation because we are using vanila zlib, which is fine. The problem here is that IDA changed the format of their latest signature files. And this will require some reversing to make them work here.

I'm moving this issue for 1.0, feel free to investigate on the issue, but it will be good if JF, the author of the current flirt implementation can check it

[2015-11-13 10:31] radare commented on #3664
i'm going to move this issue to 1.0 if i get no more feedback as long as the issue can be "fixed" by properly configuring r2. I'm giving you 24h more :P

[2015-11-13 10:51] dmtch commented on #3665
See, it's mistake:
zip.c: 49
	do {
		* * *
		err = inflate (&stream, Z_FINISH);
		* * *
	} while (err != Z_STREAM_END);
We call inflate() with parameter flush == Z_FINISH repeatedly until compressed data ends. zlib author wrote:
   So the only thing the flush parameter actually does is:
   when flush is set to Z_FINISH, inflate() cannot return Z_OK.  Instead it
   will return Z_BUF_ERROR if it has

[2015-11-13 16:26] dukebarman commented on #3664
[code]

doesn't help:
[code]

`pi` helped in all cases:
[code]

[2015-11-13 19:32] radare commented on #3664
This is because of asm.midflags not being false. And because the hits are not aligned to instructions, i have already said that few commwnts ago. Can you please tell me if avr have some kind of alignment restrictions for code addresses?

[2015-11-13 19:38] radare commented on #3665
Can you send a pullreq that fixes this issue? Is this change fixing the problem?

Thx

[2015-11-13 20:36] radare commented on #3665
Nevermind :) i just merged and tested your PR.

Thanks!

[2015-11-13 20:36] #3665 closed

[2015-11-14 01:09] lizardo opened #3691 "r2 "wc*" command returning garbage when combined with ESIL emulation (uninitialized memory read)"
Using r2 git 19ef474

Here is a minimal test case:

[code]

Run with: `valgrind r2 -qi /tmp/test.r2 -`

Relevant output:
[code]

[2015-11-14 16:43] Darkkey commented on #3664
For branch commands (call/jmp/...) alignment is word (2 bytes).

[2015-11-14 16:44] Darkkey commented on #3664
I.e., jmp 0x68 in reality encoded as jmp 0x34 (because jmp opcode stores only 16 bits of address), so you can't jmp/call to odd address.

[2015-11-14 17:30] radare commented on #3664
Ok so this must be specified in the asm/anal plugin to tell the disassembler not to disassemble odd addresses as valid instructions.

Also, "in" is part of invalid, so some invalid instructions will be catched in that rop search i think

[2015-11-15 08:38] radare commented on #3664
I have updated the anal plug to expose that opcode size info. Didnt tried yet if that affects this issue. Can we have a test case? Or should i do it?

[2015-11-15 14:18] dukebarman commented on #3664
More better. Disasm code wasn't break
[code]

But invalid commands confuse users (they think it's diffreant commands). Is it possible correct this?

[2015-11-15 15:40] radare commented on #3664
Write a test marked as broken and send a pr for the r2r repo

[2015-11-15 20:23] dukebarman commented on #3664
ROP search work with errors after patch:
[code]

[2015-11-15 21:23] dukebarman commented on #3664
https://github.com/radare/radare2-regressions/pull/255

[2015-11-15 22:53] Maijin commented on #3266
* sym.imp.msvcrt.dll_atexit

[2015-11-16 09:27] radare commented on #3691
confirmed with valgrind, asan detects nothing here

[2015-11-16 09:44] #3691 closed

[2015-11-16 09:44] radare commented on #3691
Thanks :)

[2015-11-16 09:44] radare commented on #3672
linux-arm64 debugger should be working now. i have updated android builds for testing

[2015-11-16 09:46] radare opened #3692 "Enhace the VE (visual color scheme editor)"

[2015-11-16 09:51] Maijin opened #3693 "Conditional jump or move depends on uninitialised value(s)"
* http://pastie.org/private/gldrar4n4jaatu6is8bjaa
* http://rghost.net/private/6lKvL7fJy/bcc2ce00488ecf976babd0ec18a030c2

[2015-11-16 09:52] radare commented on #3693
paste the output after this patch

$ git diff .
diff --git a/libr/anal/p/anal_x86_cs.c b/libr/anal/p/anal_x86_cs.c
index 2d8445a..862941e 100644
--- a/libr/anal/p/anal_x86_cs.c
+++ b/libr/anal/p/anal_x86_cs.c
@@ -234,6 +234,7 @@ static int analop(RAnal *a, RAnalOp *op, ut64 addr, const ut8 *buf, int len) {
                        &size, (uint64_t*)&naddr, insn);
        }
 #else
+eprintf ("%d\n",

[2015-11-16 10:23] Maijin commented on #3693
http://rghost.net/private/7LSwcCHwl/64e420e851040db65342a4add16ebc65

[2015-11-16 12:16] unixfreaxjp commented on #1837
FreeBSD 9.3 and has no problem. de-mangled well with bin.demangle. And in my case I (think) I need demange for symbols.

[2015-11-16 21:01] radare commented on #3664
shuold be fixed too. the tests seems to return more results, tests are marked as broken, but returning more results instead of less.

can you verify them and fix the tests with the new output if they look good for you?

thanks!

[2015-11-16 21:14] dukebarman commented on #3664
It wasn't fixed. I marked wrong lines on image

![wrong_rop](https://cloud.githubusercontent.com/assets/1186777/11194926/09bc2ee6-8cc0-11e5-8cac-c53d2b3b2200.png)

[2015-11-16 21:17] radare commented on #3664
I wasnt getting them on osx. Let me try on linux. Thanks

[2015-11-16 21:17] radare commented on #3664
Looks like a bug in the disassembler

[2015-11-16 21:57] radare opened #3695 "/R doesnt colorizes opcodes in disasm"

[2015-11-16 23:51] gaming-hacker opened #3696 "Building on OSX errors"
i'm builind with xcode 7.2b3 on OS X 10.11.1
just pulled the latest
d
CC libr2.c
clang: warning: argument unused during compilation: '-pie'

clang: warning: argument unused during compilation: '-pie'
../../libr/core/libr_core.dylib: no identity found

Makefile:37: recipe for target 'osx-sign' failed
make[1]: *** [osx-sign] Error 1

any help of fixing this?

[2015-11-16 23:52] radare commented on #3696
git clean -xdf
sys/install.sh

osx-sign fail is an ignored error, if you want to codesign your r2 build just setup the environment var described in sys/install.sh output

[2015-11-16 23:53] radare commented on #3664
and i cant reproduce it :/ can you try again?

[2015-11-16 23:56] gaming-hacker commented on #3696
ok let me look,  there was also this error
user.sh: line 42: symstall: command not found
Oops
..

i've looked there's no such command on OS X

[2015-11-16 23:59] radare commented on #3696
i cant reproduce this. if you look at the line the only reason for this issue to happen is to have "MAKE" set to "". im on yosemite, but i'll try on elcapitan

[2015-11-17 00:02] gaming-hacker commented on #3696
ok, i got it to install with sh user.sh, somehow make picked up -j4 from my env??

[2015-11-17 00:03] #3696 closed

[2015-11-17 00:05] dukebarman commented on #3664
A bit better. Need delete strange strings "unaligned":
[code]

[2015-11-17 01:00] radare commented on #3696
the -j4 comes from MAKEJOBS, so it was you having some special env vars?

[2015-11-17 01:18] radare commented on #3664
I think asm.pcalign fixes this. Maybe @crowell can take a look

[2015-11-17 01:54] radare commented on #3672
Looks like current register profile is wrong. (wrong size) in theory it's 34 qwords (x0-x32 + pc + sp + cpsr)

[2015-11-17 04:08] jingtaozf opened #3697 "Failed to get correct segment vaddr for mach-o file."
In file radare2/libr/bin/bin.c, function r_bin_get_vaddr, the following code exist:

[code]
But it's not true, for example, I have one mach-o file, which segment __objc_classname's vaddr is 0x0100c09687 and its align is one byte.

The above code will raise issue to such file.

[2015-11-17 07:56] radare commented on #3697
Can you provide a test file and a regressions script? I think this code was just a hack to get it working for thumb sections, but needs proper implementation to cover all cases.

@ret2libc can you check out this issue too?

Thanks

[2015-11-17 08:45] jingtaozf commented on #3697
[code]
but the va should be 0x0000a4e1

[2015-11-17 09:02] radare commented on #3697
Oh! that can be the reason why some asm.emu strings are chopped by 1 char in many iOS apps. is this the same issue?

[2015-11-17 09:26] jingtaozf commented on #3697
It should be:)

[2015-11-17 09:59] radare commented on #3697
confirmed :) it’s the same issue, and dropping this code fixes the emulation output. i’m gonna investigate a bit to get a proper fix. thanks for pointing out this

[2015-11-17 10:51] mrmacete opened #3698 "assembling instructions containing '#-'"
Encountered this issue while developing the assembler for BPF arch, but it may affect other archs using '#' char to declare immediate values, the problem is the following:

[code]

It seems that '#' char acts as a comment, **when it is not followed by a digit**, while this works:

[code]

same behaviour also using the 'waf' command reading instructions from a text file.

Actually, in the failing c

[2015-11-17 10:51] revskills commented on #3450
[code]

file: http://revskills.cz/r2/6f29967c0c3bbbc0fff59bc00f047209

[2015-11-17 11:10] radare commented on #3698
quote the whole line like “pa ld #-1” or just use a decent syntax like I did for arm and others dropping all those useless chars that only complicate the parser :)

[2015-11-17 11:14] mrmacete commented on #3698
mmm... quotes seems to not solve the problem. yeah i could go for a #-less syntax, it is not copy-and-paste safe for the user, though :/

[2015-11-17 11:25] radare commented on #3698
oh right. because the # is handled by rcore.cmd and rasm.assemble… you should drop that syntax from the disassembler too. so it will be copypaste friendly.

i would prefer assemblers disassemblers in r2 not to have those chars in there, because they just collide with r2 command syntax (as wel well as rasm one, and many others one).

so i wuld suggest you to make this change, but it makes sense to

[2015-11-17 11:28] mrmacete commented on #3698
sure! ;)

[2015-11-17 11:51] #3697 closed

[2015-11-17 11:52] radare commented on #3697
its not the ideal solution, but it should be fine now :)

[2015-11-17 12:17] #3698 closed

[2015-11-17 12:25] jingtaozf commented on #3697
Thanks.:)

[2015-11-17 12:40] radare commented on #3693
32 was enough as a reply. i can confirm the issue with valgrind. not with asan, and having 32bytes of buffer shouldnt be a problem in r2. i have verfiied the thing with even rasm2:
[code]

so i wrote a simple C program that just uses the capstone library, and the same valgrind messages are spitted. So this is not an r2 bug.

[2015-11-17 12:54] radare commented on #3664
can you confirm those unaligned disssapear if you set asm.pcalign=2 ?

[2015-11-17 12:55] radare commented on #3450
@revskills cant reproduce this last heap buffer overflow in master r2. can you confirm?

[2015-11-17 13:11] dukebarman commented on #3664
asm.pcalign doesn't fix this :(

[2015-11-17 13:18] radare commented on #3664
then its a bug in the bwdisasm code used in /R , @crowell can you check this out?

[2015-11-17 13:22] radare commented on #3681
What about using the ',' key.or maybe just pressing ';' in viusal mode and then another key? im not sure how should we handle this from the commandline... instead of visual, because a comment can contain more than one file reference and also it can have a very long filepath which is unreadable in visual mode

[2015-11-17 13:30] XVilka commented on #3681
What about displaying only the filename, instead of the full path?

[2015-11-17 13:30] XVilka commented on #3681
And using ';' twice, I think is ok.

[2015-11-17 13:36] radare commented on #3681
; opens a prompt, so it shuold be ;;<enter> which doesnt seems too much handy. so maybe just ‘,’ and then select the file

[2015-11-17 15:21] radare commented on #3672
Finally working !

[2015-11-17 15:21] #3672 closed

[2015-11-17 15:42] radare commented on #3664
the thing is that the backward disassembler takes into account invalid instructions, but not unaligned ones.

[2015-11-17 17:26] alvarofe commented on #3450
I can reproduce. I'll look at it this night ;)

[2015-11-17 17:32] revskills commented on #3450
[code]
file: http://revskills.cz/r2/361fef87f4b8355630c7532847164c79

[2015-11-17 17:50] XVilka commented on #3681
Sounds reasonable

[2015-11-17 19:31] radare opened #3701 "Implement dcu.. like s.."
just taking the current address and changing the N lower nibbles of the address

[2015-11-18 06:04] XVilka commented on #2086
@radare  `r_reg_get_value: 32bit oob read 172` and regarena size is 168. It is strange, because in libr/debug/p/debug_gdb.c:379 there is a declaration of the `cpsr` register at the offset of 172. Why regarena size is 168 then? Speaking about ARM 32bit

[2015-11-18 09:02] TheJJ opened #3703 "Never ever force-push to master again"
I just noticed that there was a force push for one commit: old: b2f81a7 new: 6c48783
Please, horrible conflicts will arise when rewriting history.

The difference between these is:
[code]

I have great trust in radare and it's future, so please don't mess up the repo again with a force push.

[2015-11-18 09:48] radare commented on #3703
i don't see anything wrong with this file in master, close != delete, and that's fine in the current master. this commit is very old. you should pull twice a day at least. and that's true, push -f is bad and i'm flagelating myself for this right now. But sometimes i'm not the one who fuckedup master with some wrong code and i prefer to push -f with clean code than keeping reverts and such.

There

[2015-11-18 09:48] #3703 closed

[2015-11-18 10:04] #2494 closed

[2015-11-18 10:06] radare commented on #2415
we should support named breakpoints, this is, breakpoints that depend on a flag instead of an offset.

[2015-11-18 10:10] radare commented on #1000
the shellcodes are from ragg2, the parameters on call can be taken by signature or just pxr@esp after entering in the call, between other methods

[2015-11-18 10:10] radare commented on #1000
tracing capabilities are way more complete than in peda. and i didnt touched them for years. so i just checked the boxes

[2015-11-18 10:11] TheJJ commented on #3703
Thanks for your consideration :)

Of course the change you did was valid, i'm just saying the force push should be avoided.
Keep up the awesome work (the TUM ctf team relies on you :grin:)!

[2015-11-18 10:22] radare commented on #3450
all fixed again, push more crashes plz :D

[2015-11-18 10:33] radare opened #3704 "Add support for db.. like we do in s.. and dcu.."
and maybe just generalize the .. prefix inside rnum

[2015-11-18 10:34] slorquet commented on #2557
Hello,

no, the fix is not OK.

dbg->bits == R_SYS_BITS_64 is not the correct test. This variable is not even tested for x86

With this commit I still get a bunch of
r_reg_get_value: null or oob arena for current regset
r_reg_get_value: null or oob arena for current regset
r_reg_get_value: null or oob arena for current regset

and the reg names containx x%d instead of the correct register names.

[2015-11-18 10:46] radare commented on #2086
I have refactored the drp code and now you have the new drps command to show the reg profile and.. ocasionally you can fake it by passing a numeric argument. This will ease the debugging. About arm32 gdb profile the size is 172, not 168. at least with latest code in git. can you confirm?

[2015-11-18 10:47] radare commented on #2557
agree. the correct test is (dbg->bits & R_SYS_BITS_64)

[2015-11-18 10:48] radare commented on #2557
can you submit a PR with this? after changing this the oob arena message is no longer appearing?

[2015-11-18 10:48] slorquet commented on #2557
let me try that.

[2015-11-18 10:49] XVilka commented on #2086
@radare I can't check right now, this doesn't work at cygwin at all.
I'm using my version of qemu - https://github.com/XVilka/qemu
Then I run "run_qemu.sh", then "connect_r2.sh" from https://github.com/XVilka/hacklu/tree/master/demos/Firmware/demo1_arm_boot

(In case you'll want to reproduce it by yourself, or wait until evening).

[2015-11-18 10:56] radare commented on #2557
otherwise i'll be doing blind fixes :P thanks!

[2015-11-18 10:57] slorquet commented on #2557
Doesnt work. A printf reveals that the R_SYS_BITS_64 is set, thats why I dont get ARM regs but the x%d regs.

Are you sure that this R_SYS_BITS_64 is related to my ARM cortex TARGET and not my x86_64 PC host?

Thats why I wanted to test dbg->anal->bits and not dbg->bits.

[2015-11-18 11:11] #3704 closed

[2015-11-18 13:13] jvoisin commented on #1000
`the parameters on call can be taken by signature or just pxr@esp after entering in the call`
This should be done by default.

[2015-11-18 16:13] XVilka commented on #3681
Closing now, please reopen if you think there is more to improve or discuss,

[2015-11-18 16:13] #3681 closed

[2015-11-18 16:30] radare commented on #3681
Yeah looks quite good for now :) the code can he improved

[2015-11-18 16:44] radare commented on #1000
Define default

[2015-11-18 16:45] radare commented on #2557
You should specify -b32 the gdb backend cant magically guess the remote target because the gdb protocol is crap

[2015-11-18 16:46] radare commented on #3703
💪🏻

[2015-11-18 16:49] slorquet commented on #2557
How do you say it's Thumb-2 ?

I'm still using the command line in the original post:
/home/joe/sys/bin/radare2 -a arm.gnu -b 16 -D gdb gdb://localhost:3333

why no -b16 ?

[2015-11-18 16:55] slorquet commented on #2557
hardware setup is equivalent to an stm32f4discovery board with openocd, not an iphone or android that may support full ARM opcodes.

[2015-11-18 16:58] XVilka commented on #2557
@slorquet @radare it is possible to determine the bitness automatically, but not before the release, since it could require more changes for the whole gdb parser.

[2015-11-18 17:12] slorquet commented on #2557
by grepping the code, I see that R_SYS_BITS_16 exists but nothing uses it at runtime.

[2015-11-18 17:22] XVilka opened #3705 "Flash assembly and disassembly support"
Porting and extending something like a flasm could be a start http://www.nowrap.de/flasm

[2015-11-18 18:13] radare commented on #2557
there’s no binary conflict between thumb and thumb2, this is why capstone and other disassmblers just doesnt allow to specify that because thumb2 is an extension for variable length instructions in THUMB code

-a arm -b 16 should be fine, “arm” is capstone. “arm.gnu” is the gnu disassembler from binutils.ar

[2015-11-18 18:13] radare commented on #2557
you can specify the cpu type with -e asm.cpu

[code]

but this depends on the disassembler plugin.

[2015-11-18 18:14] radare commented on #2557
it is possible to determine thumb and non-thumb mode by checking the cpsr register, because arm and thumb share the same register profile. but iirc you cant identify the target arch and bits, you have to specify that by hand. same with gdb

[2015-11-18 18:16] radare commented on #2557
because its the same reprofile as arm, there’s no difference, is just a mode switch, reg values and everything is kept between thumb and arm mode changes.

[2015-11-18 18:18] radare commented on #2086
I dont have time for checking this stuff now, and its not a priority for me. thanks for sharing this stuff, maybe it will be good to write a blog post or put them in the radare2-extras repo for keeping them.

[2015-11-18 18:30] radare commented on #2557
Thumb2 is not conflicting

[2015-11-18 18:35] Maijin commented on #3705
See also:
* https://hex-rays.com/contests/2009/SWF/ReadMe.txt => https://hex-rays.com/contests/2009/SWF/swf.zip

[2015-11-18 20:24] ricardoquesada opened #3707 "Visual Mode Insert doesn't work correctly when using a mapped file"
It has two bugs:
- it saves much bigger file
- it doesn't change the opcode
## Steps to reproduce it

Open the file with the following arguments. Notice that the file `reset64.bin` exists in the radare2-regressions repo and is only 5 bytes long.

[code]

Then:
- enter Visual Mode with `V`
- then go the `disasm` mode by pressing `p` just once
- then press `c` to enter into "cursor" mode
- then pres

[2015-11-18 22:07] crowell commented on #3695
i hate to pass the blame, but looks like an IO error, I'm goign to look more at this tonight.

[2015-11-18 22:09] XVilka commented on #2086
Added some insane debug:
Note two things - arena->size was a write value 176 at first place, then after syncronizing registers it's dropped down to the 168. The 2nd thing that for the `pc` and `lr` registers offsets are too big - 480 and 448 respectively, which is obviously wrong.
[code]

[2015-11-18 22:11] crowell commented on #3695
[code]

something's seriously fricked

[2015-11-18 22:49] radare commented on #3695
i doubt this mainly because the color of the instruction is in the bytes…

[2015-11-18 22:50] crowell commented on #3695
Er, this was meant to be the avr bug
On Nov 18, 2015 5:49 PM, "radare" <notifications@github.com> wrote:

[2015-11-18 22:51] radare commented on #3695
no. this is a generic bug in /R

[2015-11-18 23:19] radare commented on #2464
Hello? :p it works on arm64 and was working on arm32 too, buti just neednconfirmation. Run the latest android r2 in console, type ood enter visual mode and do some steps

[2015-11-19 03:32] zonkzonk opened #3709 "r2 hotpatcher victim? :)"
Hi, playing around with some silly lib and hotpatcher I get r2 to dump core:

http://sprunge.us/WLih

[code]

can anyone reproduce? I can share that lib aswell.

Greetings
--zlul

[2015-11-19 04:04] jpenalbae commented on #2464
I was talking about linux, not android.

Stepping seems to be working fine, but breakpoints do not. After hitting a break point if you try to step or continue you get this:
[code]

Also looks like there is some problem with conditional jumps, they look fine when opening the binary without `-d` but when using `-d` everything looks like a mess...

[code]

That jump should point upwards instead of do

[2015-11-19 07:08] mrmacete commented on #3395
This apparently is not working even on multiliners, it seems the if at line 587 of libr/asm/asm.c is simply inverted.

[2015-11-19 07:33] radare commented on #3395
Can you send a pr for testing and write sone tests for the regressions?

[2015-11-19 07:39] mrmacete commented on #3395
Sure!

[2015-11-19 08:31] mrmacete commented on #3395
since this regression is actually arch-independent, should i create a new foder under t.asm ?

[2015-11-19 08:51] radare commented on #3395
yes, looks fine to me

[2015-11-19 08:52] radare commented on #2464
what if you drop the breakpoint before continuing?

[2015-11-19 09:24] radare commented on #3709
how can i reproduce this if you didnt provide the commands or the file?

also, drop all the ulimit restrictions, sometimes a small stack size or cpu time are the reasons why r2 fails. your crash backtrace makes not much sense as long as rcoresetup is not called from cons.set_raw, and the eip points to 0 so this seems like a null ptr call. but there's no such thing in r_cons_set_raw... so i can't g

[2015-11-19 09:53] radare commented on #3201
Please @dmtch feed this thread with your analysis, so we can organize some ideas to get proper jump table analysis. thanks!

[2015-11-19 10:00] radare opened #3710 "visual cursor to call and press enter not working"
this is a regression pointed out by @ret2libc

[2015-11-19 10:03] XVilka opened #3711 "Ability to emulate visual mode without the actual terminal"
To be able to test the visual mode automatically, for regression tests

[2015-11-19 10:37] mrmacete commented on #3395
added a PR for both radare2 and radare2-regressions

[2015-11-19 11:02] jpenalbae commented on #2464
After removing the bp, stepping works as long you do not set the breakpoint again...

[code]

[2015-11-19 11:07] radare commented on #2464
so thats clearly an issue with the breakpoint size, because on x86 bps are 1 byte, and here they are 2-4.. if you have some time for experimentation i guess that adding some printfs will help to find the root of the issue.

[2015-11-19 11:11] #3695 closed

[2015-11-19 11:23] #3710 closed

[2015-11-19 13:04] dmtch commented on #3201
I inspected several samples of x86/64 executables from different compilers (msvc, gcc, delphi, borland c++, fpc). There are two common cases of jumptables-branching code:
1. direct jump like "jmp [tbl + ind * sz]"
2. indirect jumps:
2.1. absolute addresses: "mov r1, tbl [ind * sz] ; jmp r1"
2.2. relative addresses: "lea r1, tbl ; *** ; mov r2, [r1 + ind * sz] ; add r2, r1 ; jmp r2"
May be you know

[2015-11-19 13:04] dmtch commented on #3201
Also there is one thing like this:
mov r1, some_func
...
call r1
Does radare recognise this call?

[2015-11-19 18:12] revskills commented on #3450
256996efe37d69100bf09cf3a07cbffc still unfixed. (Java)

[2015-11-19 18:21] zonkzonk commented on #3709
morrn,

There is no radare commands at this time. To reproduce:

 r2 -&
[pid]
hotpatcher -l /some/lib/in/usr/lib [pid]
 fg
Segfault

Get hotpatcher here: https://github.com/vikasnkumar/hotpatch

Greetings
--zlul

[2015-11-19 20:37] radare commented on #3709
You mean that u are patching an r2 library at runtime, while r2 is running? This is normal reason to make any program crash

[2015-11-19 20:52] zonkzonk commented on #3709
No. It's an arbitrary library against r2. Can't we protect against this?

[2015-11-19 20:57] radare commented on #3709
Wat? Are you loading that lib in r2 i dont see this in the commands u listed

[2015-11-19 21:54] ret2libc opened #3715 "print calculated rip-relative addresses"
When you have rip-relative addresses, you can directly show the right address, instead of displaying "rip + offset"

[2015-11-19 22:39] zonkzonk commented on #3709
this is what hotpatcher does, afaik, so not sure what to do? colse?

[2015-11-19 23:19] radare commented on #3715
done in asm.relsub

[2015-11-19 23:19] #3715 closed

[2015-11-19 23:22] radare commented on #3709
this is a bug in hotpatcher, not in r2. you are modifying a stopped process in memory, and r2 crashes after returning because the addresses in memory was fuckedup. if you do the same without stopping r2 the hotpatching works as expected, so this is not an issue for r2.

the same happens with any other program like vim, less, etc..

[2015-11-19 23:22] #3709 closed

[2015-11-19 23:23] radare commented on #3707
this looks like an io bug, wondering if @condret branch is safe from this bug

[2015-11-19 23:25] radare commented on #3693
@aquynh ping

[2015-11-19 23:58] radare commented on #3450
it's fixed now :D

[2015-11-20 00:00] radare commented on #3450
@revskills can you try fuzzing fatmach0s and the demanglers?

[2015-11-20 00:00] Maijin commented on #3671
https://github.com/radare/radare2/issues/3033

[2015-11-20 00:00] #3671 closed

[2015-11-20 00:02] radare commented on #1384
thanks so we can close this issue right?

[2015-11-20 00:02] #1384 closed

[2015-11-20 00:02] Maijin commented on #3450
zignature, pdb and flirt signature could be nice I don't think this has been done already

[2015-11-20 00:02] radare commented on #2557
@slorquet ping

[2015-11-20 00:03] radare commented on #3664
@crowell ping

[2015-11-20 00:04] radare commented on #3664
do we have a test for this pcalign issue in /R?

[2015-11-20 00:10] Maijin commented on #3711
Even if this could be nice, imho there are enough tests to do before without this.

[2015-11-20 00:13] radare opened #3716 "ARM64 assembler and close all the pending ARM assembler issues"

[2015-11-20 00:17] radare commented on #3621
esil_mod: Division by zero!
esil_addeq: invalid parameters
esil_add: invalid parameters
esil_muleq: empty stack

[2015-11-20 00:19] radare commented on #3233
Moved into https://github.com/radare/radare2/issues/3621

[2015-11-20 00:19] #3233 closed

[2015-11-20 00:25] radare commented on #3535
@Maijin write tests plz, so we can TDD instead of RDD

[2015-11-20 00:27] #3494 closed

[2015-11-20 00:28] radare commented on #3414
dup for https://github.com/radare/radare2/issues/3523

[2015-11-20 00:28] #3414 closed

[2015-11-20 00:29] radare commented on #3404
Closing this bug as long as its clearly not a bug in r2, please open the issue in radare2-bindings or bokken itself. because bindings are working, and bokken is also working fine, so it's a problem in your installation or linux distro

[2015-11-20 00:29] #3404 closed

[2015-11-20 00:31] radare commented on #3287
@condret can you post some tests for the z80.cr transition? so we can safely move the old plugin to extras?

[2015-11-20 00:31] radare commented on #3275
Those functions match with the no-return function database

[2015-11-20 00:33] radare commented on #3275
related to https://github.com/radare/radare2/issues/3266

[2015-11-20 00:38] radare commented on #3259
Assuming this is fixed after @ret2libc refactoring

[2015-11-20 00:38] #3259 closed

[2015-11-20 00:39] radare commented on #3238
Related to https://github.com/radare/radare2/issues/3201

[2015-11-20 00:39] #3238 closed

[2015-11-20 00:42] radare commented on #3201
also https://github.com/radare/radare2/issues/3223 related

[2015-11-20 00:43] radare commented on #3190
Let's close this for now

[2015-11-20 00:43] #3190 closed

[2015-11-20 00:43] radare commented on #3189
can we close this?

[2015-11-20 00:45] radare commented on #3138
done in master `drps`

[2015-11-20 00:45] #3138 closed

[2015-11-20 00:47] radare commented on #2960
Can someone verify this is still happening?

[2015-11-20 00:49] radare commented on #2876
can we have a test case for this issue?

[2015-11-20 00:50] radare commented on #2814
is this fixed?

[2015-11-20 00:52] radare commented on #2699
Done!

[2015-11-20 00:52] #2699 closed

[2015-11-20 00:52] radare commented on #2685
can you re-verify?

[2015-11-20 00:53] radare commented on #2571
isnt this already done in master?

[2015-11-20 00:58] radare commented on #2386
this is already tracked in another issue

[2015-11-20 00:58] #2386 closed

[2015-11-20 00:59] Maijin commented on #3655
Usage of pf in the function definition is wrong.
1) Almost no user will contribute because don't know pf, which is highly probable
2) Types<->pf are already implemented see [here](https://github.com/radare/radare2/blob/master/libr/anal/d/windows-types) , that will means potentially 2 database for the same info (with wrong stuff potentially)
3) If there is an error due to a wrong types<->pf in a fu

[2015-11-20 00:59] #2326 closed

[2015-11-20 01:00] radare commented on #2326
you can stop the execution

[2015-11-20 01:03] radare commented on #2189
same for return values

[2015-11-20 01:04] radare commented on #2113
Done by @ret2libc

[2015-11-20 01:04] #2113 closed

[2015-11-20 01:05] radare commented on #2091
isnt this already done?

[2015-11-20 01:09] radare commented on #1974
Already done in master

[2015-11-20 01:09] #1974 closed

[2015-11-20 01:10] radare commented on #1930
@inisider

[2015-11-20 01:10] radare commented on #1930
This was a task for @inisider and i already implemented it (partially), and it requires tests cases and proper verification for all file formats

[2015-11-20 01:12] radare commented on #1753
Same for disassembler (capstone?)

[2015-11-20 01:12] radare commented on #1752
is this still happening?

[2015-11-20 01:13] Maijin commented on #2876
http://rghost.net/private/8BLkKYjyt/db4bf522462bbee2c937c04a4e57e924

[code]

Where it should be
[code]

[2015-11-20 01:13] radare commented on #1746
asm.emu helps a lot for this

[2015-11-20 01:14] radare commented on #1703
Already done in master

[2015-11-20 01:14] #1703 closed

[2015-11-20 01:15] radare commented on #1574
can you confirm that this is still happening?

[2015-11-20 01:15] Maijin commented on #3189
Something should be done to have coverage of the test if this is not solution then yes it should be closed

[2015-11-20 01:16] radare commented on #1455
can you write a test case for this and verify if this is still happening?

[2015-11-20 01:16] radare commented on #1442
Done by asm.emu

[2015-11-20 01:16] #1442 closed

[2015-11-20 01:17] Maijin commented on #2091
@radare Not yet :D

[2015-11-20 01:17] radare commented on #1438
aecs is already done in master

[2015-11-20 01:17] radare commented on #1438
Can we have a test case for this?

[2015-11-20 01:18] radare commented on #1208
Already done in master

[2015-11-20 01:18] #1208 closed

[2015-11-20 01:22] radare commented on #758
The disasm.c has been refactred a lot and now is way better to work with.

[2015-11-20 01:22] #758 closed

[2015-11-20 01:23] radare commented on #676
so this is not a bug, but a design decission.

[2015-11-20 01:23] #676 closed

[2015-11-20 01:24] radare commented on #650
what about `e asm.blankblock` ?

[2015-11-20 01:27] radare commented on #490
can someone confirm if this is still happening?

[2015-11-20 01:27] radare commented on #472
i think -q fixes this issue

[2015-11-20 01:27] #472 closed

[2015-11-20 01:29] radare commented on #176
there are already several issues related to jmp tables. let's just focus in https://github.com/radare/radare2/issues/3201

[2015-11-20 01:29] #176 closed

[2015-11-20 01:34] radare commented on #3275
Add `dbne` and `dbnd` command maybe? to enable disable the breakpoints on all the functions reported by `an` command.

this also requires to load all the default symbols into `an` at startup depending in asm.os

[2015-11-20 01:36] radare opened #3717 "Enhance the WebUI"
see https://github.com/radare/radare2/labels/webui

[2015-11-20 02:19] crowell commented on #1574
its still off, https://gist.github.com/523250fbd642f667df45

[code]

fuqstring is loaded at 0x200 instead of 0x190

[2015-11-20 02:23] radare commented on #1574
what if you force a higher load address with -B ?

[2015-11-20 02:24] #3189 closed

[2015-11-20 05:13] inisider commented on #1930
I will add tests then, but when I tried it last time it did not work :(

On Fri, 20 Nov 2015, 03:11 radare <notifications@github.com> wrote:

[2015-11-20 07:32] rebrec opened #3718 "Wrong generation of OpCodes"
Example better than a comment i guess :
$ rasm2 "test al,al"
85c0
$ rasm2 -d 85c0
test eax, eax

$ rasm2 -d 84c0
test al, al

(if i am missing something please forgive me (first issue ever...)

[2015-11-20 07:36] jjdredd commented on #3718
iirc not all the (dis)assembler plugins are working correctly

[2015-11-20 08:57] ret2libc commented on #2814
I think it's kinda fixed. To test:
[code]

[2015-11-20 09:00] mrmacete commented on #3395
when labels has common prefix and different lengths, replacement breaks the code. it may be an issue of  how equs are replaced, i guess they should be replaced in order of length (longer first). just made a PR in regressions to catch this with a broken test.

[2015-11-20 09:14] radare commented on #3718
-a x86.olly and -b32 as a workaround for those cases. But it is planned to extend the default assembler to handle more instructions

[2015-11-20 09:15] radare commented on #2814
A test case with those commands will be good. Can @maijin or you send a pr?

[2015-11-20 09:22] radare commented on #3395
Nice catch!

[2015-11-20 09:31] n0way0ut commented on #2685
$ r2 -d a.out
Process with PID 17499 started...
Attached debugger to pid = 17499, tid = 17499
Debugging pid = 17499, tid = 17499 now
Using BADDR 0x400000
Assuming filepath ./a.out
bits 64
Attached debugger to pid = 17499, tid = 17499
 -- This is an unacceptable milion year dungeon.
[0x7f8b4ee1caf0]> aaa
Cannot determine xref search boundaries
Oops invalid range
[0x7f8b4ee1caf0]> dc
[+] SIGNAL 11 e

[2015-11-20 09:52] radare commented on #2814
you guys are too slow..

[2015-11-20 09:52] #2814 closed

[2015-11-20 09:52] radare commented on #2814
just did it myself, after being bored of waiting

[2015-11-20 09:55] radare commented on #2685
no. you have fuckedup the stack, so there’s no way to recover the backtrace

[2015-11-20 09:59] n0way0ut commented on #2685
$ r2 -d a.out
Process with PID 17660 started...
Attached debugger to pid = 17660, tid = 17660
Debugging pid = 17660, tid = 17660 now
Using BADDR 0x400000
Assuming filepath ./a.out
bits 64
Attached debugger to pid = 17660, tid = 17660
 -- This is an unacceptable milion year dungeon.
[0x7fa4b937daf0]> aaa
Cannot determine xref search boundaries
Oops invalid range
[0x7fa4b937daf0]> dc
[+] SIGNAL 11 e

[2015-11-20 10:59] radare opened #3719 "Add r2pm package for bjoern tool"
https://github.com/fabsx00/bjoern-radare

[2015-11-20 11:10] radare commented on #2685
yeah, this seems like a bug, can you try with other backtrace engines?

[code]

[2015-11-20 12:01] rebrec commented on #3718
Thanks for the workaround

[2015-11-20 12:16] n0way0ut commented on #2685
yes, it works only with anal

[0x7fde41affaf0]> e dbg.btalgo=anal
[0x7fde41affaf0]> aaa
Cannot determine xref search boundaries
Oops invalid range
[0x7fde41affaf0]> dc
[+] SIGNAL 11 errno=0 addr=0x7fff70f42ff8 code=1 ret=0
Debugging pid = 18112, tid = 1 now
[+] signal 11 aka SIGSEGV received 0
[0x00400525]> dbt
0  0x00400525 sp: 0x0  0[sym.foo]  rip sym.foo+25
1  0x00400525 sp: 0x7fff70f43010  0[s

[2015-11-20 12:47] XVilka opened #3720 "ESIL fails for 6502 on cygwin"
[code]

[2015-11-20 13:13] #3718 closed

[2015-11-20 17:10] XVilka commented on #3720
hm,
[code]

[2015-11-21 07:44] unixfreaxjp opened #3721 "izz: rabin -zz error"
izz met rabin -zz "malloc" errors:
[code]
snapshot:
![](https://lh3.googleusercontent.com/--cj0tmlWYLM/VlAZ7RdAIPI/AAAAAAAATrs/WC1PVGg9XWY/s700/Capture.PNG)
I debugged into this error point:
[code]
This could be from one of these sourcecodes, never seen this error before, meanwhile rabin -zz executed just fine directly.
[code]
(I could be very wrong but..) it looks like related to (recent) changes

[2015-11-21 10:16] XVilka opened #3722 "afa? and afv? commands still require function"
Remove dependency from function, for help usage screen.
[code]

[2015-11-21 10:19] jvoisin opened #3723 "`afvn` segfaults"
[code]

[code]

[2015-11-21 11:51] crowell commented on #3723
cant repro,

i get

[code]

[2015-11-21 12:00] alvarofe commented on #3723
git pull?

[2015-11-21 13:25] alvarofe opened #3724 "Debugging 32 bits on xnu bad cpu type"
I have not tested on others platform but when debugging 32 bits mach0 files the cpu_type that is expecting posix_spawnp is wrong because of
[code]

bits is always 64 and this value is get from core->assembler->bits in `r_core_file_open`. The way to go I think should be load the binary first and get its bits.

[2015-11-21 14:22] radare commented on #3724
Even if you -b32?

[2015-11-21 14:23] radare commented on #3724
This was working before. Probably a regression introduced by @ret2libc

[2015-11-21 15:33] Maijin commented on #3723
@jvoisin can't reproduce ;)

[2015-11-21 16:57] ninjahacker opened #3726 "OAT File Format"
The Android Runtime (ART) uses a new file format called OAT. I don't think r2 handles this very well. They look almost identical to ELF files (okay, they are ELF files...). In the example, you can see the header at 0x1000.

https://www.dropbox.com/s/r9wto0xw1jyf6i9/LGBluetooth4.odex?dl=0

[2015-11-21 17:35] ninjahacker commented on #3499
Is there a reason this can't be pulled from something that is already heavily tested and known to work like openssl?

[2015-11-21 18:00] Dax89 opened #3727 "[Question] PS-X executable support"
Hi,

I want to port the work that I have done some time ago in my PSX disassembler to Radare2, so other people can benefit of it.

So, I have created a r_bin plugin which parses PS-X Executable format, I have added sections and entry points, currently I'm able to get a basic MIPS listing.

Now, I want to rename some functions, because part of them are SysCalls and other ones are COP2 processor cal

[2015-11-21 18:52] radare commented on #3499
All crypto algos in r2 has been ripped from other projects that are already tested.i just enforce the code to be readable. Standalone and easily reusable by cleaning up the code and such. Also the length of the code matters, and the cose must be pure C because managing inline assembly and other stuff can result in portability problems.

The main idea behind the r2 project is to maintain a reusable

[2015-11-21 18:55] radare commented on #3723
If u type bt you can also show the offending instruction, the value of the registers, the affected line of code in r2 codebase and the values of the variables that affect this line.

And you will sudddenly discover that if you do all the previous steps the fix will become obvious and you can directly commit the fix instead of opening an issue ;-)

[2015-11-21 21:53] cr1901 opened #3728 "Windows fails to create symbolic links during symstall target"
To duplicate, open a terminal using MSYS2 (Specifically the Mingw-w64 Win32 Shell), clone the repo as of commit 94089be, and run `sys/install.sh /mingw32`. radare2 will build fine, but will not successfully install all binaries and libraries, resulting in a broken install. There are no paths in my target install path, which leads me to believe that the symbolic link creation is failing in a more s

[2015-11-21 21:57] XVilka commented on #3728
You can try to run configure ; make ; make w32dist or sys/mingw32.sh as a
workaround for now.
On Nov 22, 2015 12:53 AM, "William D. Jones" <notifications@github.com>
wrote:

[2015-11-21 22:12] alvarofe commented on #3724
Yes, it fails even though you use -b 32

[2015-11-21 22:21] cr1901 commented on #3728
That worked; specifically, for MSYS2 and MinGW-64 users, `./configure; make; make w32dist` works.

[2015-11-21 22:46] Maijin commented on #3727
@Dax89 For Capstone specific problems, feel free to open an issue on there thread https://github.com/aquynh/capstone/issues ;)

[2015-11-21 23:04] Dax89 commented on #3727
I have made some research and it seems to be a known issue: https://github.com/aquynh/capstone/issues/156 :)

[2015-11-21 23:15] Maijin commented on #3727
@Dax89 Wouldn't hurt to ping them :+1:

[2015-11-22 01:09] radare commented on #3721
`izz` works fine in my FreeBSD, do this happens in all binaries? do `rabin2 -zz sample` works as expected?

[2015-11-22 01:25] radare commented on #3728
The problem of this is that windows build need to be compiled with an empty prefix. Otherwise at runtime will fail to find all the external files. See sys/mingw32.sh for more details. Windows doesnt have /usr

[2015-11-22 02:08] radare commented on #3726
"I don't think r2 handles this very well" can you be more precise in your bug report?

https://github.com/radare/radare2/blob/master/libr/bin/p/bin_art.c

[2015-11-22 02:10] radare commented on #3727
Try with mips.gnu disassembler and report those issues to capstone

[2015-11-22 02:18] Northern-Lights commented on #2014
The issue seems to persist:
[code]

[2015-11-22 05:59] unixfreaxjp commented on #3721
all binaries are affected. rabin2 -zz worked fine. proof:
![](https://lh3.googleusercontent.com/-f_LfvaETuzA/VlFZL4cKbFI/AAAAAAAATsw/YKErdfxslY0/s 580/Capture.PNG)
I will try to recompile it without sys/install.sh but ./configure it first to see if the problem persist.

[2015-11-22 06:22] unixfreaxjp commented on #3721
The problem is gone with the just installed git version, thank you!
[code]
test PoC
[code]

[2015-11-22 06:22] #3721 closed

[2015-11-22 09:12] Dax89 commented on #3727
Yes, in fact I have posted the disassembler listing using mips.gnu :)

And, about the main issue (function renaming), is it possible to do it? I need a custom r_anal plugin?

[2015-11-22 11:05] #3724 closed

[2015-11-22 14:21] XVilka opened #3731 "Automatic line break for long comments"
Instead of printing it in the one line, add the ability to break it into the multiple lines, may be depending from the terminal/split size.

[2015-11-22 14:57] ninjahacker commented on #3726
Sorry. This is a request for adding the file format. R2 doesn't recognize or handle OAT files at all. I've provided a link to an example OAT file. The ART file is completely different from the OAT file.

[2015-11-22 15:22] spiperac opened #3732 "Different outputs from pdj and pdj with n bytes range"
Without n range:
[code]
with N range

[code]

[2015-11-22 15:30] cr1901 commented on #3728
In the iterim, `CFLAGS=-static-libgcc ./configure --with-ostype=windows && make && make w32dist` worked for me from an MSYS2 prompt. The explicit CFLAGS seems to be redundant, but just in case.

[2015-11-22 16:30] radare commented on #3726
odex != oat

[2015-11-22 16:32] radare commented on #2014
Use -a x86.olly or x86.nasm, but dont close this issue because those expressions should be handled by the default x86.nz

[2015-11-22 16:43] ninjahacker commented on #3726
odex != odex on Android 5. I really encourage you to look at the file. I think you'll be surprised. They are all like this now.
Android 4 and earlier, odex = optimized dex
Android 5 and later (on ART runtime), odex = oat, art = art, and they are different file formats.

[2015-11-22 17:01] XVilka commented on #3726
I think OAT can be implemented the same way CGC-elf support has been added

[2015-11-22 17:33] revskills commented on #3450
[code]
file: http://revskills.cz/r2/21650855180932f7b2e005c3cb7aec26

[2015-11-22 17:52] revskills commented on #3450
[code]

file: http://revskills.cz/r2/05416456de04fa6838cd38e6cce5bebb

[2015-11-22 18:08] revskills commented on #3450
[code]

file: http://revskills.cz/r2/ffc94063da6027da908954d0b5f81169

[2015-11-22 18:33] dukebarman commented on #3664
I think that problem was fixed so I correct tests https://github.com/radare/radare2-regressions/pull/261

[2015-11-22 18:52] crowell commented on #3664
@dukebarman can we close this?

[2015-11-22 18:59] dukebarman commented on #3664
Yes, for now...

[2015-11-22 19:09] #3664 closed

[2015-11-22 19:57] radare commented on #3664
\o/

[2015-11-22 20:20] revskills commented on #3450
[code]

file: http://revskills.cz/r2/3757ca0ff58b0625d261512707f112f3

[2015-11-22 20:27] radare commented on #3732
wtf. @alvarofe is to blame here. im fixing right now

[2015-11-22 20:28] #3732 closed

[2015-11-22 20:31] radare commented on #3726
OAT is already supported, and loads fine with r2. what is the exact problem you are having? are you using r2 from git?

[2015-11-22 20:39] revskills commented on #3450
[code]

file: http://revskills.cz/r2/3496c4253cd979b4d0018cc5c88f2a08

[2015-11-22 20:41] radare commented on #3727
Can you submit this rbin plugin in a pullreq so i can review and suggest the enhancements?

At first instance, i would implement those post-analysis function renamings, syscall findings, etc in r2pipe scripts which can be written in any language and can be run by hand at any time.

if those functions follow any pattern you can just write some signature files for it and run them too.

I guess that

[2015-11-22 20:42] radare commented on #3727
Maybe we can add some kind of bin-specific scripts that will run after loading a specific filetype, like vim does.

[2015-11-22 20:43] radare commented on #3723
no one cant reproduce

[2015-11-22 20:43] #3723 closed

[2015-11-22 20:45] #3722 closed

[2015-11-22 21:24] ninjahacker commented on #3726
I am using it straight from git. Maybe it isn't purging the older build? I mean the code you linked to definitely doesn't handle OAT though. It looks for the art header, not the oat header. Grepping through the code shows that OAT hasn't been included as well, so I'd be surprised if it works. When the file I linked to loads in r2, it thinks it's a standard ELF file, not OAT.

[2015-11-22 22:05] Dax89 commented on #3727
PR Sent: https://github.com/radare/radare2/pull/3734

[2015-11-22 22:12] radare commented on #3450
@revskills all fixed! fuzz moar! :D

[2015-11-22 22:39] ninjahacker commented on #3726
Here is my session:

https://asciinema.org/a/30500

Basically I show my version of r2, loading the file as a Linux ELF32, and showing the disassembly makes no sense. Then I seek to the header to show that it exists and is an oat file.

[2015-11-22 22:50] kiwiz opened #3735 "Add support for naming local variables based off esp"
This is handy for functions compiled with `omit-frame-pointer`, which don't use `ebp` for indexing into the stack.

[2015-11-22 22:54] radare commented on #1438
its already here https://github.com/radare/radare2-regressions/blob/master/t.esil/syscall

[2015-11-22 22:54] #1438 closed

[2015-11-22 22:59] #2782 closed

[2015-11-22 23:37] ninjahacker commented on #3726
Samples:

https://www.dropbox.com/s/gvhs8lci6f27f5m/oatfiles.tgz?dl=0

[2015-11-23 00:40] #650 closed

[2015-11-23 08:45] revskills commented on #3450
Not fixed: ffc94063da6027da908954d0b5f81169

[2015-11-23 09:54] radare commented on #490
PING. a test case is welcome

[2015-11-23 10:01] Maijin opened #3737 "ahi segfault"
[code]

* ASAN: http://pastie.org/10575548
* BackTrace: http://pastie.org/10575543

[2015-11-23 10:10] dmtch opened #3738 "Flag name validation"
Hi.
There is flirt signatures db with names like "@__security_check_cookie@4". r_name_check() return error when char "@" was caught. Do you think, is safe to add '@' as valid char here?

[2015-11-23 10:18] radare commented on #3738
no, @ is an invalid char because it conflicts with r2 cmdline

[2015-11-23 10:19] radare commented on #3738
in rbin, every symbol have a realname, demangled name and flagname. this should be probalby handled for this cases too.

[2015-11-23 10:25] dmtch commented on #3738
Thanks.

[2015-11-23 10:27] ret2libc commented on #1752
At the moment it's causing a SEGFAULT. I will look at it!

[2015-11-23 11:42] radare commented on #3737
ok confirmed :) can you add a test in r2r plz?

im fixing right meow

[2015-11-23 11:45] #3737 closed

[2015-11-23 11:59] radare opened #3739 "Fix asm.bbline"
* [x] fix reflines when bbline=true
* [x] blocks are not correctly splitted

[2015-11-23 12:01] ret2libc commented on #3739
Not utf8 related...

[2015-11-23 12:08] radare commented on #3739
utf8 is part of the problem, just try it

[2015-11-23 13:49] ret2libc commented on #1752
is this still a problem?

[2015-11-23 14:15] radare commented on #1752
nope

[2015-11-23 14:15] #1752 closed

[2015-11-23 15:00] ret2libc commented on #3739
<img width="479" alt="screen shot 2015-11-23 at 15 58 09" src="https://cloud.githubusercontent.com/assets/562321/11339743/36e885dc-91fb-11e5-8f35-a1d17c273b3d.png">
<img width="494" alt="screen shot 2015-11-23 at 15 58 26" src="https://cloud.githubusercontent.com/assets/562321/11339749/3be610fe-91fb-11e5-9fe4-aeb33aae9891.png">

Problems are still there with and without utf8

[2015-11-23 15:36] radare opened #3742 "cfg.debug=true segfaults on osx"
[code]

[2015-11-23 18:01] #3742 closed

[2015-11-23 18:02] alvarofe commented on #3450
Confirm now from master

[2015-11-23 19:12] ret2libc opened #3745 "enhance Vd: option to rename flags used in current instruction"
It should allow to rename functions used in the instruction referenced by the cursor and also rename local var/args.

We can introduce 'Vdv' to rename local vars and 'Vdn' to rename functions or just use 'Vdn' to rename everything (a little bit more complicated because the command has to understand the type of the flag).

A possible issue can arise if there are multiple flags used in one instructi

[2015-11-23 19:18] ret2libc opened #3746 "Vdi doesn't always work"
Step to reproduce:
[code]

The instruction keeps using hexadecimal.

[2015-11-23 19:33] ret2libc opened #3747 "asm.lbytes=false prints some non-aligned instructions"
[code]

Seems like only instructions with hidden bytes have this problem

[2015-11-23 19:35] ret2libc commented on #3746
Another instruction:
[code]

[2015-11-23 19:41] ret2libc opened #3748 "asm.bytes=false and cursor"
If you hide the bytes while in Visual mode, it's not clear sometimes if you are in the middle of an instruction or not.

What about replacing the cursor from '*' to '+' when it is in the middle of an instruction?

[2015-11-23 20:05] radare commented on #3748
what about +%d with the delta inside the instruction and * if its at the begining?

[2015-11-23 20:57] radare commented on #3746
only works if the number is hexadecimal. its easy to fix, this was reported yesterday by travisgoodspeed on twitter. do you want to fix it? or write a test case instead of a snippet in github?

[2015-11-23 21:14] aaronpuchert commented on #2014
@Northern-Lights: See my [comment above](https://github.com/radare/radare2/issues/2014#issuecomment-72501009). I started writing an assembler in `libr/asm/p/asm_x86_tab.c` that should be able to assemble your instructions correctly. Unfortunately I didn't have the time to add 64-bit support, so it can't replace the existing assembler. Other issues are tracked in #2095.

[2015-11-23 22:05] Maijin commented on #3727
@dax89 see capstone issue answer

[2015-11-23 22:10] radare commented on #3746
aka tired of waiting (R)

[2015-11-23 22:54] ret2libc commented on #3748
The only issue I can see with this approach is that we will have to reserve 3 chars for the cursor (1 for '+'/'*' and 2 for the offset, since some instructions can have more than 10 bytes). Do you think is ok to always reserve 4 chars for marks? (possibly even more, considering that soon there will be also #3331)

[2015-11-23 22:58] radare commented on #3748
looks too much space to me, only 2-3 chars is enough imho, i dont think we need 4

[2015-11-23 23:17] ret2libc commented on #3746
Doesn't work with colours.

[2015-11-23 23:29] ret2libc commented on #3748
yeah it's too much also for me. this is why i suggested to just use '+' alone, without specifying the offset. if you want to show it, you have to reserve 4 chars ('b' for breakpoint, '+'/'*' and 2 chars for offset)

[2015-11-24 07:39] radare commented on #3746
It does now

[2015-11-24 07:39] #3746 closed

[2015-11-24 09:21] ret2libc opened #3749 "'Cf' command doesn't work"

[2015-11-24 09:22] radare commented on #3450
moar

[2015-11-24 09:29] radare commented on #3749
See libr/core/cmd_meta.c:456 and libr/util/p_format.c

[2015-11-24 09:59] ret2libc opened #3751 "improve metadata usage in visual mode"
When moving with 'j'/'k' in visual mode, metadata should be skipped as a whole: so if i defined a qword at address 0, by pressing j i go to the address 8. Same for 'k'. If i want to go "inside" the metadata I can use 'h' and 'l'.

[2015-11-24 11:55] ret2libc opened #3752 "mach0: too many symbols"
How to reproduce:
[code]
There are a lot of symbols with "func.10000XXXX" name. Is this intended?

[2015-11-24 12:03] ret2libc commented on #3751
See #2712

[2015-11-24 12:03] ret2libc commented on #2712
See #3751

[2015-11-24 12:21] ret2libc opened #3753 "add hexdump metadata(Cd) to data sections"
After analysis (aaa), we can use `Cd 1` for all addresses in data sections (only where there's no other metadata) so that it will be easy in visual mode to know when you are in data sections. Something like what IDA does.

[2015-11-24 12:22] #3749 closed

[2015-11-24 13:46] radare commented on #2712
But it can be useful too

[2015-11-24 13:47] radare commented on #3751
Skipped bytes depend on opcode size or anal hint right now, data size must be honored too, but can be ptoblematic if this area is too big

[2015-11-24 13:47] radare commented on #3752
Yes

[2015-11-24 14:20] ret2libc commented on #3751
In which cases data can be so big?

At the moment, as you said, this is based on opcode size, but if you have defined dword/qword/or some other metadata it's better to skip the whole metadata, instead of keep using the opcode size as it was an instruction.

[2015-11-24 14:23] #3752 closed

[2015-11-24 17:52] ricardoquesada commented on #448
I also need bank support for disassembling c64 snapshots.
Was "bank support" added ? or is there any work around ?

Basically, I have 2 blocks of code, both of them must be mapped at the same address, but only one can be active.

[2015-11-24 18:26] ricardoquesada opened #3756 "to have Banks support (or Sections to remap the memory)"
Old machines used bank-switching to map data on a certain physical memory.
As an example:
- on the C64, on the address 0xa000  you can find either the BASIC ROM or the RAM depending on a certain flag
- the C128, has 128Kb of RAM, but only 64Kb were accesible at the same time. Bank switching was used for that.

I'm implementing VICE C64 Snapshot file format support (https://github.com/ricardoquesad

[2015-11-24 18:53] radare commented on #448
Ask @condret for this. This is similar to gameboy requirements. And i think this is done by changing priorities in the sections

[2015-11-24 18:55] radare commented on #3756
Gameboy have the same requirements and i think condret solve it by changing section/maps order/priorities

[2015-11-24 20:13] ricardoquesada commented on #3756
Ok, thanks. I'll ping @condret

Changing the order did help a little bit. If RAM is the last section then it will only "occupy" the unused space, but I couldn't find a way to see the RAM space when there are collisions.

[2015-11-24 20:20] Maijin commented on #3756
Isn't that should be in https://github.com/radare/radare2/blob/master/libr/bin/p/bin_ningb.c#L221 ? Instead of sections?

[2015-11-24 20:27] ricardoquesada commented on #3756
@Maijin Thanks. Perhaps I'm doing something wrong. I'll give it a try.

How can I switch between "memories" ? Can the "memories" overlap ? The code that you mentioned doesn't have overlapped "memories".

[2015-11-24 21:13] radare commented on #3751
nope, becuase if you are scrolling down code and suddenly you found a jump table which is 512 byte length you want to scroll slowly across this table, not skip it. same for the data section. this is. the good approach for this would be to mix px and pd in the same view if the offset is in a non-executable section

[2015-11-25 00:22] VisualPrankDude commented on #2991
Thanks! :)

[2015-11-25 09:52] jvoisin commented on #1000
Like showing the parameters in comments, when it's possible, for call, every time.

[2015-11-25 10:37] ret2libc opened #3759 "os x debugging fails with 'ood'"
How to reproduce:
[code]

[2015-11-25 11:09] ret2libc opened #3760 "io/debugger OS X: different views depending on the current offset"
How to reproduce:
[code]
In the second 'px' there are only 'ff'. Seems to happen only when debugging and only with mach0.

[2015-11-25 11:10] ret2libc commented on #3759
I will add a test and then close it ;)

[2015-11-25 11:33] radare opened #3761 "drd is broken after the arena.push fix"
this is because arena_swap() has been commented out until proper

This needs some tests which can be written in esil, no need for native debugger for this.

[2015-11-25 14:20] #3761 closed

[2015-11-25 14:21] radare opened #3762 "Add dra command that mimics 'ara'"

[2015-11-25 15:16] XVilka opened #3763 "Ability to reference descriptors in' o' command by index"
'o' command lists opened files
- 755566 place:// bla
  Something like ' [0] - 755566 place:// ' bla
  Would be nice
  To type o [0]
  Instead of typing
  o 755566

[2015-11-25 18:27] radare commented on #3688
@ret2libc ping

[2015-11-25 19:01] alvarofe commented on #3760
It seems that the same happens in linux

https://asciinema.org/a/bc2xdevudvz14mbw2j9ufef42

perhaps this is right i don't know by sure but you are seeking at baddr and maybe behind that address there shouldn't be nothing mapped but just thinking loud. I've never thought on that :S

btw i just noticed that i have to seek twice to get the output right with V (you can see it in the asciinema). Someon

[2015-11-25 20:53] ret2libc commented on #3760
It's right that there isn't nothing behind the base address, but if i just go one byte before, only the first byte should be "ff", not all of them.

[2015-11-25 21:18] radare commented on #2464
I tried on ubuntutouch, naitve linux-arm, debugging in thumb worked perfectly fine, with breakpoints, steps, etc.. i will close this issue for now. when the ios port is done we can do more testing. android builds seems to be fine too, for arm and arm64

[2015-11-25 21:40] radare commented on #3760
The solution for this would be to make the mach and ptrace io read the maps of the process and in case you do a read out of bounds, just fill with fff until the begining of the next map and then read again aligned to that address. its a know bug, just not tracked yet :) feel free to fix, its kinda easy

[2015-11-25 21:50] radare commented on #3763
maybe the solution would be to define sequential file descriptors in libr/io/desc.c

[2015-11-25 22:52] ret2libc commented on #3731
This is also important for ascii art graph, because otherwise many times you have very big nodes.

[2015-11-26 09:51] geek-li opened #3764 "why can't load script."
I write a bat file with the the content as below:
[code]

but throw a error :
[code]

how to solve this error?

[2015-11-26 09:51] #3688 closed

[2015-11-26 10:53] radare commented on #3764
Is script.py in the same directory as 1.bin? This error comes from python, not r2

[2015-11-26 11:49] radare opened #3765 "Dalvik disassembler changes for OAT"
the dalvik disassembler plugin should work differently when `asm.cpu` is set to `oat`. This README describes the changes needed to be done to get proper disassembly.

https://github.com/anestisb/oatdump_plus/blob/master/README.md

[2015-11-26 11:56] Maijin opened #3766 "ahi 2 mov eax, 'A' instead of mov eax, 'AAAA'"
ahi 2 mov eax, 'A' instead of mov eax, 'AAAA'

https://github.com/radare/radare2-regressions/blob/6913c508304e3c25c1a04a81afe02be6f5634c98/t/cmd/ahi#L164

[2015-11-26 11:56] Maijin opened #3767 "ahi information are not stored in Project"
ahi information are not stored in Project

[2015-11-26 11:59] radare commented on #3764
Oh i think its because the unnecessary quotes