[2020-03-20 15:18] bin2415 commented on #4258
Great!
Recently, I am learning the algorithm of detecting `tail call optimization`, could you please give any hint about where is the source code to handle `tail call optimization`?

Thanks!

[2020-03-20 15:47] Ruturaj4 commented on #16268
Backtrack using gdb. As I couldn't find asan.sh in ./sys/ directory. Thanks for reply.

[code]

[2020-03-20 23:25] #16263 closed

[2020-03-21 03:07] kuqadk3 commented on #10725
I could try to implement the tool (https://github.com/mncoppola/ws30/blob/master/basefind.py) but I don't know which part of r2 that I should put this in. Also, it would be great to know which command that we will use for this one.

[2020-03-21 09:36] enovella commented on #16268
I also came across with this crash

[code]

[2020-03-21 12:27] kouamdo commented on #14808
_Implementing the support for any new architectire counts as a microtask._

What can i do after read the pdf ??

[2020-03-21 14:02] guedou commented on #10725
rabin2 is a good candidate

[2020-03-21 14:57] radare commented on #16268
Did u built r2dec after building r2?

[2020-03-21 15:02] radare commented on #10725
I would say rafind2 and also add a subcommand of / to do this because thats what this tool is doing, actually its pretty similar to what aav do

And theres an issue already for this with some more ideas but cant find it now

[2020-03-21 16:11] Ruturaj4 commented on #16268
yes in my case.

[2020-03-21 16:22] gogo2464 opened #16272 "Allow people to write chart-encoding plugin"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I open a binary with his own chart encoding because the chart-encoding is not processed instead of the ascii.

For example I can not see the text in visual mode.

**Describe the solution you'd like**
I personally find more convenient to load a module that will change the inernal way that radare2 works ins

[2020-03-21 16:53] gogo2464 commented on #6350
Can I be assigned to this issue please?

Can you give me the syntax of the command related to https://github.com/radareorg/radare2/issues/414 please?

[2020-03-21 17:11] wargio commented on #14808
implement the decoder.

[2020-03-21 17:54] 08A commented on #16264
@XVilka, do you have a example binary with your example?

[2020-03-21 18:04] 08A commented on #16264
If you want the update number to be like in the example, the function r_core_magic_at in
libr/core/cmd_magic.c need to have different parameters. Indeed, we need to add parameter. And we count the global number of hit or the number inside the segment?

[2020-03-21 18:23] radare commented on #6350
you are now in charge of it :)

[2020-03-21 18:33] 08A commented on #16264
the simplest solution is (with global count):
[code]
example:
[code]

[2020-03-21 21:29] enovella commented on #16268
as usual, so also *yes* on my end

[2020-03-21 21:33] enovella commented on #16268
[code]

After this update got fixed I believe

[2020-03-21 21:53] radare commented on #16268
This commit just adds a pkgname. Its unrelated to the crashlog i assume the problem is having different r2 libs when compiling the plugin thats why i was asking to rebuild

[2020-03-21 22:42] radare commented on #16264
What about sending a PR?

[2020-03-21 23:01] radare commented on #16272
i think what you are refering to is a way to specify the character encoding to write and read strings in r2, right now this is hardcoded and it is not possible to write plugins for this but imho it shold be something inherent to r2 and not done in subcommands like this 'T' thing. uppercase commands are bad. better stick to lowercase.

Maybe a good approach would be to have plugins and a way to sel

[2020-03-22 01:09] imyxh commented on #11353
I'd be happy work on an implementation for this in the shell script, but I worry that checkout by date isn't the optimal solution. What if some function is renamed very close to a release date, and plugin creators are just a day or so behind the refactor?

I think if we make checkout by date the default behavior, we should probably also implement an option to install from a specific commit of a pa

[2020-03-22 01:14] XVilka commented on #11353
Shellscript r2pm is outdated, please contribute to https://github.com/radareorg/r2pm instead.

[2020-03-22 01:18] imyxh commented on #11353
@XVilka okay, will do; corresponding issue is [r2pm/67](https://github.com/radareorg/r2pm/issues/67). I assume the golang version of r2pm is eventually going to be merged into this repository? It's been in development for a while so I wasn't sure if it was to be merged in future or if it's just a side thing for compatibility.

[2020-03-22 01:25] XVilka commented on #11353
It will not be merged in this repository, but shell script will be removed (once r2pm.go is done) yes.

[2020-03-22 12:49] radare commented on #4258
ther'es no formal definition for this and its a bit blurry by definition because it can be confused with obfuscated code so it ends up being a bit difficult to solve in a generic way, you can use metrics like lastr intruction of a function is a jump, but it can be a conditional jump too. and last instruction of a function can be inside the function because there can be more than one tailcall in th

[2020-03-22 13:07] #16264 closed

[2020-03-22 13:32] radare commented on #16253
cant reproduce

[2020-03-22 13:32] radare commented on #16253
can anyone try to repro?

[2020-03-22 13:33] radare commented on #11353
i think r2pm.c will be done before r2pm.go and i dont want to remove the shellscript because r2pm.go doesnt uses the same syntax so many packages that i use wont be there.

r2pm.go is almost 2 years old and its still unusable, r2pm.sh took me one night to do and its still rocking. i have 0 hope in Go

[2020-03-22 13:33] bin2415 commented on #4258
Great! Thanks! :)

[2020-03-22 13:41] XVilka commented on #11353
Shellscript is non-portable solution (no Windows). We need portable
solution. Go gives libs out of the box - for https, GitHub API, zip files,
etc. It will become way more complex in pure C.

On Sun, Mar 22, 2020, 21:33 radare <notifications@github.com> wrote:

[2020-03-22 15:17] gogo2464 commented on #6350
Thank you @radare.

[2020-03-22 15:28] HoundThe commented on #16266
Should the unused function be completely removed?

[2020-03-22 15:48] bin2415 commented on #4258
Hi, is [this](https://github.com/radareorg/radare2/blob/master/libr/anal/fcn.c#L841) the logic that detecting tail call optimization? If so, could you please give any advice to set the `anal.jmp.tailcall` value?

[2020-03-22 17:00] radare commented on #4258
<img width="875" alt="Screenshot 2020-03-22 at 17 57 02" src="https://user-images.githubusercontent.com/917142/77255286-945fed00-6c66-11ea-9b37-4d299774ed87.png">

[2020-03-22 17:02] radare commented on #16266
no. its not really unused . it will break the buildi f you do so

[2020-03-22 17:07] bin2415 commented on #4258
Yeah, Thanks!
A quick question, is there any advice to set the `anal.jmp.tailcall` value?

[2020-03-22 17:27] HoundThe commented on #16266
Oh I see, so it's because they are static, but are included to other files through the .c file directly, so a silencing using R_UNUSED attribute or creating a public interface for it?

[2020-03-22 19:09] gogo2464 commented on #414
Hello. Can you tell me more about the syntax of `psT` please?

[2020-03-22 19:11] imyxh commented on #11353
@XVilka, wouldn't libcurl provide all the functionality we need from C? If we ask plugin authors to simply tag their repos, downloading could be as simple as a GET request to the appropriate GitHub URL.

[2020-03-22 22:48] imyxh opened #16281 "radare2 double-loads plugin libraries"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Archlinux on x86-64
| File format of the file you reverse (mandatory)      | all
| Architecture/bits of the file (mandatory)            | all
| r2 -v full output, **not truncated*

[2020-03-22 23:36] x0urc3 opened #16283 "ood does not handle iomap and fd properly"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (man

[2020-03-23 01:08] #16265 closed

[2020-03-23 01:09] #16251 closed

[2020-03-23 04:50] XVilka commented on #11353
@imyxh surely there are libraries for C, but then the problems arise:
- Crossplatform building, preferably without any of radare2 source dependencies (for Go it's just `go get` or whatever similar)
- Building statically binaries, with Go it's easy as one command for ANY supported platform
- r2pm.go is supposed to be small independent binary (like `rustup`) to keep your radare2 and cutter installat

[2020-03-23 04:52] XVilka commented on #14178
Moving to the dedicated r2pm repository. It can be solved with tags, which are supported already: https://github.com/radareorg/r2pm/issues/54

[2020-03-23 08:10] radare commented on #11353
System(curl) is better than libcurl same goes for system(git) vs libgit. I dont want to add those dependencies to r2 when we can just call the system programs

[2020-03-23 08:43] XVilka commented on #7310
See also these:
- https://github.com/Maktm/FLIRTDB
- https://github.com/push0ebp/sig-database
- https://github.com/push0ebp/ALLirt

[2020-03-23 09:53] XVilka opened #16285 "Fix OpenBSD failing tests"
See full log here
[radare2_r2r.v_openbsd.log.zip](https://github.com/radareorg/radare2/files/4368373/radare2_r2r.v_openbsd.log.zip)

[2020-03-23 10:21] radare commented on #16283
cant reproduce on mac, but found this other bug which is not taking 100% cpu but gets stuck in here

[code]

[2020-03-23 11:29] x0urc3 commented on #16248
Your right. Brute force search to find main_arena. Any other method to find main_arena address in memory?

https://github.com/radareorg/radare2/blob/14977a6828b47ee5a70e6c41c6d5dce873b78d48/libr/core/linux_heap_glibc.c#L343-L353

[2020-03-23 11:55] radare commented on #16266
well ideally this code should be refactored to avoid including .c files and such, but i would prefer to merge asm and anal first so we dont have to compile that stuff twice, and this is far beyond the scope of this issue, you can safely ignore this warning

[2020-03-23 12:16] radare commented on #16285
at least r2r.v is running fine :)

[2020-03-23 14:15] qbarrand commented on #11353
Not exactly the same products, are they? :)
`r2pm` in Go would also call those programs, and allow for a variety for package types (including binary archives for Windows) with a YAML syntax. See https://github.com/radareorg/r2pm/blob/master/docs/packages.md#schema for an idea of what a package file might look like. Note that there is exactly zero dependency on `sh`!

I am certainly to blame for th

[2020-03-23 15:24] thestr4ng3r commented on #11353
No actually you are the one the reason there HAS been progress in r2pm at all.

About C, I don't see a big reason to switch to C now, Go is easy enough to learn.

[2020-03-23 20:52] gogo2464 opened #16291 "set configuration option to change ascii to custom chart encoding"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I open a binary with his own chart encoding because the chart-encoding is not processed instead of the ascii. I can not see the text in visual mode. The visual mode is only one example of the possible trouble we can meet. consdere commands such as `w`, `ps`, etc...

**Describe the solution you'd like**
I

[2020-03-23 22:03] pelijah commented on #16253
Can't reproduce too.

[2020-03-24 06:23] imyxh commented on #8291
Curious: what would it take to add AT&T support? Is there guidance on what sort of functions should be modified/implemented?

[2020-03-24 14:22] gur111 opened #16296 "Cursor doesn't become visible after existing graph view of a function"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2020-03-24 16:23] radare opened #16297 "Multiple ao fails"
see those ffffffs
[code]

[2020-03-24 16:59] gur111 commented on #16296
Created a PR fixing this issue. I believe I've added the function call in the right spot but can anyone verify please?
https://github.com/radareorg/radare2/pull/16298

[2020-03-24 23:54] gogo2464 commented on #414
I finished to made a new command to support gaeboy encoding.

I made an array of structs to store the custom chart encoding of the gameboy. I imagine we want more custom text encoding. Where can I store the arrays?

[2020-03-25 03:39] ryancor opened #16302 "Issue Breaking on Win32 DLL Functions"
#15953 # Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10 x64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86-32 bits
| r2 -v full output, **not tru

[2020-03-25 04:31] aar0nge opened #16303 "invalid free in cmd_info.c:cmd_info()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2020-03-25 04:35] aar0nge opened #16304 "unmatched array length in core_java.c"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2020-03-25 06:50] aar0nge opened #16305 "stack variable should be initialized"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2020-03-25 06:56] aar0nge opened #16306 "seg fault from r_getopt in r_main_radiff2()"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2020-03-25 09:21] #16214 closed

[2020-03-25 10:18] wargio commented on #15713
i can confirm that this is not true. the json sometimes is broken.

[2020-03-25 11:46] radare commented on #16306
send a PR with the suggested fix please

[2020-03-25 11:48] radare commented on #16305
i dont see where this variable is used without initializtion, but you should send a PR instead of filling an issue if you know the fix

[2020-03-25 11:48] radare commented on #16303
send a pr, dont spend time reporting bugs if you have the fix

[2020-03-25 11:48] radare commented on #16304
send the pr with the fix please

[2020-03-25 11:55] radare commented on #414
please don't say "chart", chart encoding is nothing, but a typo, it's "char", from "character"

also i dont see why this stuff should be in sT for several reasons:

* s is for seeking
* uppercase letters in commands shouldnt be used
* none of the letters have any relationship with encoding chars

kazarmy have been working on character encoding things for the string search functions, he can probabl

[2020-03-25 12:55] bast233 commented on #414
I read your post again and I noticed `pe pokemon  # uses last selected encoding`.

[2020-03-25 12:58] gogo2464 commented on #414
I noticed your command `pe pokemon  # uses last selected encoding`.

[2020-03-25 13:03] gogo2464 commented on #6350
@radare do I use the command `pfe`? I read your post https://github.com/radareorg/radare2/issues/414.

[2020-03-25 14:16] kazarmy commented on #414
I think it's fine that you want to do something like the table in https://en.wikipedia.org/wiki/Code_page_437#Character_set but for your own custom encodings. I think what @radare is saying that you should use `pst` instead of `psT` where `t` stands for table (or maybe even `te` and `pe`?). You do have to figure out suitable syntax yourself though, for both the command(s) needed and the data files

[2020-03-25 15:46] radare opened #16308 "Analysis performance"
<img width="286" alt="Screenshot 2020-03-25 at 16 31 08" src="https://user-images.githubusercontent.com/917142/77555989-2ca0e080-6eb8-11ea-8702-690b846c41e1.png">

[2020-03-26 07:09] XVilka opened #16314 "Retire JavaScript tests and remove them from the repository"
Now there is V and C r2r testsuite, no need for JavaScript anymore.
Also:
- Remove [`test/Attic`](https://github.com/radareorg/radare2/tree/master/test/Attic)
- Rename `test/new` just into `test/db` and rename irrelevant files
- Update [`test/README.md`](https://github.com/radareorg/radare2/blob/master/test/README.md) accordingly

[2020-03-26 07:26] x0urc3 opened #16315 "Improve glibc version detection"
- tcache feature was introduced in glibc > 2.25
- glibc version is required during runtime to correctly parse heap data structure
- Current detection will fail if version number is not included in filename

https://github.com/radareorg/radare2/blob/80f59a7c5f87a15bdab3ad1945491d6d251087ef/libr/core/linux_heap_glibc.c#L42-L46

Thanks @XVilka  for pointing this out. Ref: https://benohead.com/blog/20

[2020-03-26 07:36] XVilka commented on #16315
Related: https://github.com/radareorg/radare2/issues/8185

[2020-03-26 10:57] radare commented on #16308
ive fixed this in `af`. but should be fixed in anal to speedup the bottom layer

[2020-03-26 11:02] #16304 closed

[2020-03-26 11:28] #16303 closed

[2020-03-26 11:31] radare commented on #16314
Can we stop adding obvious issues?

Sent from my iPad

[2020-03-26 13:31] XVilka commented on #16314
It's not obvious for external contributors - notice the "good first issue" label.

[2020-03-26 15:03] 08A commented on #16237
[code]
does this output satisfy you?

[2020-03-27 01:00] #15928 closed

[2020-03-27 03:05] XVilka opened #16322 "Upgrade `r_getopt` implementation to optparse"
There are good portable `getopt()` implementations with a suitable license, maybe just to reuse them?
- https://github.com/skeeto/getopt
- https://github.com/skeeto/optparse

Way more powerful than the current implementation:

# Optparse

Optparse is a public domain, portable, reentrant, embeddable,
getopt-like option parser. It's a single header file and can be
trivially dropped into any project.

[2020-03-27 03:23] kuqadk3 commented on #6346
Hi,
I have checked and figured out that r_anal_diff_fcn is called from r_core_gdiff_fcn which was called from cmd_anal and cmd_cmp
![image](https://user-images.githubusercontent.com/12135974/77718120-a8b03b00-7014-11ea-8f10-920a5b6e1193.png)

The problem of that function does not have anything to do with radiff2.

But I also checked and find out there is only option 'g' in radiff2 took in function

[2020-03-27 03:57] radare opened #16323 "an doesnt work"
should display flagname or function name

[code]

[2020-03-27 04:31] #16308 closed

[2020-03-27 05:32] radare opened #16326 "Simplify the way pe resources are extracted"
Reference tweet: https://twitter.com/defconisov3r/status/1242240569667174400?s=21

[2020-03-27 06:19] karliss commented on #16323
"an" names the thing used at address not the thing located at address. In your example `push rbp` doesn't reference any  function or variable.

[code]

[2020-03-27 07:06] defconisov3r commented on #16326
The main objective is to get all the resources of a file quickly using a simple command. In the first instance I have tried to recover them using rabin2 -x, but it did not work, investigating a little I managed to get to the rabin2 -O d/S/.rsrc file > resources.dump command. Which gives me a general dump of the entire resources section (Useful but not comfortable for the individual analysis of eac

[2020-03-27 07:56] XVilka commented on #6346
@kuqadk3 good idea, go for it.

[2020-03-27 09:24] lordneon opened #16327 "Searching in kernel raw memory"
Hi,
I am using radare2 connecting to a gdb stub provided by qemu to do some kernel debugging.

I've just updated my radare2 version to the latest git version and it seems searching in raw memory has broken at some point during the last few months. Previously you just had to set search in raw memory and the kernel memory range and it would be happy.

Perhaps there is a new configuration variable I

[2020-03-27 10:36] 08A commented on #16237
Can we close this issue?

[2020-03-27 12:55] radare commented on #16322
Those assume argv is mutable

And we dont want different order of flags neither longopt. So better to kiss

[2020-03-27 13:46] radare opened #16329 "Noisy continous releases"
following the feeds, it seems like there's a new release in every single commit

https://github.com/radareorg/radare2/releases.atom

[2020-03-27 13:53] radare commented on #16323
ooh right, i was confused

[2020-03-27 13:58] defconisov3r commented on #16326
An improved version of this little script would be this one...
It already saves the content of each resource in a ".bin" file for further analysis individually :).

[code]
![imagen](https://user-images.githubusercontent.com/7275589/77763162-41888b80-7000-11ea-9679-f5b8eb3c25ba.png)

[2020-03-27 13:58] radare commented on #16323
and we have some tests. nvm

[2020-03-27 13:58] #16323 closed

[2020-03-27 14:12] radare commented on #16237
Yes. Use FIx #issuenumber next time

[2020-03-27 14:16] radare commented on #16323
maybe should be under `ao` .. like `aon`? because its analyze-opcode-name not `analyze name`

[2020-03-27 14:17] #16237 closed

[2020-03-27 14:17] radare opened #16330 "r2r coverity bugs"
[code]

[2020-03-27 16:24] lordneon commented on #16327
It seems a change to `libr/io/p/io_gdb.c` is to blame this commit: https://github.com/radareorg/radare2/commit/e0b197766811db0952d243b2df36969d34cee36e#diff-dcd6451a43f58f805114d8bee0d4ebe1

Changing `io->off = ST64_MAX;` back to `io->off = UT64_MAX;` fixes it:

[code]

[2020-03-27 16:58] XVilka commented on #16322
Sorry, no kissing amidst pandemic.

[2020-03-27 16:58] #16322 closed

[2020-03-27 18:30] frederictobiasc commented on #13420
Is there anything left to do? I think it has been resolved by https://github.com/radareorg/radare2/pull/13609.

[2020-03-27 19:29] 08A commented on #12700
Is this issue solved? Because the only reference to 'RSyscallRegs *regs;' is in one legacy test?

[2020-03-27 19:52] 08A commented on #15109
I understand the sort command, but for join and uniq how do you want the user to use it?

[2020-03-27 19:52] Maijin commented on #12700
Not fixed

[2020-03-27 19:54] Maijin commented on #12700
If you want to work on CPU/Platform profiles project that’s definitely an important one!

[2020-03-27 21:22] gogo2464 commented on #414
@kazarmy I want to load values from a file. Do I implement my own file format and do I make a new function to parse it or do I use an existing function if it exists?

I inspected the files for `pfo` (radare2/libr/bin/d) and `eco` (radare2/libr/cons/d). I saw there are 2 different file formats: .h with c code for type definition only for `pfo` and cmds for `eco`.

I tried to make a .h header with v

[2020-03-28 01:35] kazarmy commented on #414
If you check e.g. [radare2/libr/bin/d/elf64](https://github.com/radareorg/radare2/blob/46adf34e83e52d12c13181f69ebbac38c3f7a834/libr/bin/d/elf64), you'll notice that it's composed of cmds too. This is apparently the recommended way to define data files in r2 if you're doing them from scratch. This does mean that you can also choose to parse data files that are already in some standard format (say

[2020-03-28 04:32] gogo2464 commented on #414
Thank you very much @kazarmy ! I did not read the part on types on the manual of radare2 yet ;). I should have read that. So I did not used to know the command `k` yet. Now I know it and I will use it in a file opened by the command `pse` that I implemented. When the file will be read, I will prorammatically read the database of radare2. I have already seen some functions. Good bye and give me goo

[2020-03-28 06:56] kazarmy commented on #414
Good luck! Just be prepared to change things depending on what @radare says 😁

[2020-03-28 10:55] 08A commented on #9421
I am working on this where can i find documentation on sdb

[2020-03-28 11:35] #12700 closed

[2020-03-28 12:23] hexagonal-sun opened #16335 "Using `tp` when sizeof(type) > block size results in zeros in values"
When using `tp` with a type that is greater than block size, all fields that are printed beyond the block boundary are silently set to `0`.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch linux x86_64
| File format of the

[2020-03-28 12:28] hexagonal-sun opened #16336 "segfault with `tc struct`"
I found this one when writing the bug report for #16335 .

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch x86_64
| File format of the file you reverse (mandatory)      | N/A
| Architecture/bits of the file (mandatory)

[2020-03-28 15:38] radare commented on #9421
In the sdb repository

[2020-03-28 15:39] radare commented on #9421
But we will probably end up removing sdb now that we have more hands and better data structures

[2020-03-28 15:41] radare commented on #414
Someone fix the meaningless issue title

[2020-03-29 00:21] radare opened #16342 "Cannot define empty struct"
[code]

[2020-03-29 00:24] radare opened #16343 "unnamed struct named as 0 and no difference with struct and typedef"
[code]

[2020-03-29 00:24] radare commented on #16343
cc @XVilka

[2020-03-29 08:29] NirmalManoj opened #16344 "Improve the output of radiff2 -U flag by having file names instead of hardcoded string"
**Is your feature request related to a problem? Please describe.**
The `radiff2 -U` flag for unified diffing output doesn't output the name of the files. The current output looks like the following when files differ
![Screenshot from 2020-03-29 13-24-01](https://user-images.githubusercontent.com/18501167/77844345-be179780-71c3-11ea-8ba3-4001ed37210f.png)

**Describe the solution you'd like**
The o

[2020-03-29 09:32] #16330 closed

[2020-03-29 11:06] XVilka commented on #16306
Was fixed in https://github.com/radareorg/radare2/commit/5e4cdaaa0473ce1bcf152fe51531d3aa30754b9f

[2020-03-29 11:06] #16306 closed

[2020-03-29 11:18] radare commented on #16336
its a stupid null deref, its easy to fix. anyone?

<img width="1251" alt="Screenshot 2020-03-29 at 13 18 30" src="https://user-images.githubusercontent.com/917142/77847765-ca99f100-71bf-11ea-8d27-94ba7bc66287.png">

[2020-03-29 12:28] radare opened #16345 "Forward type declaration support"
as long as Tenis is not defined this wont be parsed properly. but we can just assume this is a void* until the type is defined

[code]

[2020-03-29 12:30] thestr4ng3r commented on #16345
You can use `"td struct Fuck { struct Tenis* loop; };"`

[2020-03-29 13:29] thestr4ng3r opened #16347 "o+ does not set maps writeable"
![Screenshot from 2020-03-29 15-27-13](https://user-images.githubusercontent.com/1460997/77850315-f32ae680-71d1-11ea-8b7d-36e78d37fe3c.png)

The first `om` result (after `o+`) should be the same as the second (after `oo+`) and the first write should succeed.

[2020-03-29 14:35] thestr4ng3r commented on #16347
@kazarmy Since you are doing o commands, you might be interested in this.

[2020-03-29 14:53] kazarmy commented on #16347
Ok I'll have a look.

[2020-03-29 16:49] 08A commented on #8467
I am working on r_syscall_sysreg. Where do you want to store the info on io, reg, mem?
If we store this info in the sdb file it is interpreted as an array.

[2020-03-29 17:00] 08A commented on #8467
We could have a collection of sdb file for every specific archi, and the user could load the specific file if he want.
example: archi-info-chiprandom.sdb
with something like this inside
[code]

[2020-03-29 18:53] RHL120 opened #16353 "I Can't Use A Saved Project"
I am new to Radare so this is probably my fault not Radare's.
To save a project I use Ps proejectname
but whenever I open a project with r2 -p projectname or Po project name (within Radare) I get
afb+: Cannot add basic block at 0x00001040
afB: Cannot find function to set bits at 0x00001040
afc: Cannot find function here
Missing function at 0x00001040
afb+: Cannot add basic block at 0x00001070
afb+

[2020-03-29 19:03] radare commented on #16345
Oh right ill try this approach for my ivar pr

[2020-03-29 19:04] radare commented on #16353
Yeah totally expected. Projects have been broken for years, if you want to help you are welcome to add tests and submit fixes

[2020-03-29 19:44] Maijin commented on #8467
Wait - there is a lot to do here, don't rush things out, don't forget that this issue  is a project for GSOC, you will have to come up with a calendar/planning you'll discuss with the mentor of that project! But yes one of the idea is to have files with the configuration per CPUs instead of hardcoded configuration.

Understanding and making r_syscall_sysreg working is a first step - check how that

[2020-03-29 19:50] luke-goddard opened #16355 "Cvs Segmentation Fault, repeatable"
### Work environment
Arch Linux archie 5.5.8-arch1-1 #1 SMP PREEMPT Fri, 06 Mar 2020 00:57:33 +0000 x86_64 GNU/Linux
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x64/x86
| File format of the file you reverse (mandatory)      | ELF x86

[2020-03-29 20:31] gogo2464 commented on #414
@kazarmy Thank you very much. I am currently waiting for opinion and change request.

[2020-03-29 21:02] gogo2464 commented on #414
The build as failed because as developped in the description of the draft pull request: I have generated files. I just wait to know if my folder encoding is on the right place. I can fix this issue. I just want to have opinion on it before.

[2020-03-30 01:03] #16355 closed

[2020-03-30 01:04] #16336 closed

[2020-03-30 08:49] luke-goddard opened #16358 "Change default decompiler"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
set default decompiler command for visual mode
`e decompiler.cmd = pdg`

**Describe alternatives you've considered**
None

**Additional context**
The default decompiler is pdc it would be nice to have the ability to change it to another decompiler

[2020-03-30 08:53] radare commented on #16358
e cmd.pdc=pdg

[2020-03-30 08:53] #16358 closed

[2020-03-30 10:02] Faelian opened #16359 "Radare2 shouldn't add envrionment variable when debugging"
Hello,

During exploit development I have spend quite some time before realizing that radare2 was adding environment variables when opening a program with -d. This modify the stack and make it hard to develop local exploit that rely on environment variable for storing values and addresses.

### Work environment
[printenv.tar.gz](https://github.com/radareorg/radare2/files/4402023/printenv.tar.gz)

[2020-03-30 10:07] kazarmy commented on #414
See @radare's [comment](https://github.com/radareorg/radare2/pull/16357/files#r399926994) here ... `libr/util/` doesn't have a `d` directory so it should be fine. If you think `util` is too generic, the location can be changed later if needed without much effect on the user. Right now focus on pushing the pr through.

More comments:

- Do first, ask for approval later.
- Do you need to change the

[2020-03-30 10:34] kazarmy commented on #414
And please change the issue title.

[2020-03-30 12:52] radare commented on #16345
it works this way which makes sense because of C :P

[2020-03-30 12:52] #16345 closed

[2020-03-30 13:07] radare commented on #16359
we should add a test for this, it wasnt adding any envvar some time ago

[2020-03-30 13:35] radare opened #16362 "Struct pointers pf-ied as just pointers"
This is bad because we can't do introspection here and it's necessary to properly pretty-print data structures in memory

[code]

[2020-03-30 14:25] radare opened #16366 "Add stackframesize information in aoj"
Please @thestr4ng3r add more details on this, preferibly you can describe it in C, as a PR

[2020-03-30 14:28] thestr4ng3r commented on #16366
related: #12070

[2020-03-30 18:06] radare commented on #15109
thats something to discuss and decide. the sort operation is already implemented, but join and uniq are not.

uniq should be easy to be implemented so you can start in there, for join we will need to think further on how to import other commands' table into one table which is a bit more complex to discuss.

[2020-03-30 18:07] radare commented on #13420
ping

[2020-03-30 20:50] scrapbird commented on #13420
I think this was "done" (https://github.com/radareorg/radare2/pull/13609) but I hadn't tested on bsd systems. Seems there was some discussion around a fix for it here: https://github.com/radareorg/radare2/issues/15079 but it was then closed.

[2020-03-30 23:20] kuqadk3 commented on #6346
Is it a way to pass two args into one option? @radare @XVilka

For ex :
[code]

[2020-03-30 23:41] paxcut opened #16372 "Windows meson build fails due to recent commit"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template below*

### Work environment

| Questions                                            | Answers
|------------

[2020-03-31 08:22] radare commented on #6346
What do you mean

[2020-03-31 09:17] radare commented on #13420
May be worth adding one test at least

[2020-03-31 09:31] radare commented on #16372
Should be fixed in my PR. but if you know how to fix a bug dont open an issue, just do a PR next time

[2020-03-31 11:28] ITAYC0HEN opened #16377 "Fails to search a binary for some regex"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x32
| r2 -v full output, **not truncated** (mandatory)

[2020-03-31 12:44] #13849 closed

[2020-03-31 15:04] radare commented on #15264
any plans to solve this issue @x0urc3 ?

[2020-03-31 15:26] radare commented on #16297
i fixed this in a98f662c9ceeea73f4241731d4883ced99a1319c

[2020-03-31 15:26] #16297 closed

[2020-03-31 15:28] #16253 closed

[2020-03-31 15:46] radare commented on #16329
![Screenshot 2020-03-31 at 17 23 25](https://user-images.githubusercontent.com/917142/78046524-8cdfc880-7377-11ea-82b3-39a9989086be.png)

[2020-03-31 17:54] x0urc3 commented on #15264
Not in the immediate future

[2020-03-31 17:59] paxcut commented on #16372
. All I did was get rid of the function so that the compilation could finish, but I tried to figure how to do the windows equivalent of the stdin operation, but I just started looking a radare two days ago and there was nothing similar anywhere I looked. I suspected that  an expert could fix it in an instant. I realize that in a sense this wasn't an issue, but I still wanted to help if only to mak

[2020-03-31 18:03] #16372 closed

[2020-03-31 21:42] radare opened #16387 "DEX loading is slow"
Optimizations to speedup the dex loading:

* [ ] Use r_buf_data once and then r_read APIs to avoid all the rbuf backend messing and unnecessary memory copies.
* [ ] Cache the result of r_buf_data() to speedup consecutive calls
* [ ] Use buffer backend instead of the io one for RBuffer from RIO
* [ ] Use the RBuffer everywhere. maybe worth adding an uleb methods in rbuffer for dwarf and dex
* [ ] A

[2020-03-31 21:44] radare commented on #16387
This is because the IO buffer backend plugin is 2x slower than the byte buffer one and the whole parsing depends on RBuffer. 20s is still too much and the dex parser should do bigger reads and then r_read endian APIs instead of depending so much with RBuffer.

[2020-03-31 22:15] radare commented on #16387
Another optimization reduces the time to 14s

[code]

[2020-03-31 22:24] radare commented on #16387
https://github.com/radareorg/radare2/pull/16388

[2020-03-31 22:34] radare commented on #12202
Done with asm.flags.inline

[2020-03-31 22:34] #12202 closed

[2020-03-31 22:35] #15657 closed

[2020-03-31 23:34] radare commented on #15747
Kind of related to https://github.com/radareorg/radare2/pull/12064

[2020-04-01 03:51] XVilka opened #16389 "`r2r -v` should show the full version like the rest of the r2 utils"
Currently it shows only the short variant;
[code]
I think it should show the full version like `r2 -v` or `rabin2 -v`

[2020-04-01 04:19] manrajsandhu32 opened #16390 ""aaa" before "ood" command cause visual glitch in kali linux terminal"
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Kali Linux x64 32
| File format of the file you reverse (mandatory)      | PE, ELF etc.
| Architecture/bits of the file (mandatory)            | PPC, x86/32, x86/64 etc.
| r2 -v full output, **not trun

[2020-04-01 04:30] XVilka commented on #16390
Very old version, please try to reproduce it with version from git.

On Wed, Apr 1, 2020, 12:19 Manraj Sandhu <notifications@github.com> wrote:

[2020-04-01 04:42] mssandhu3232 commented on #16390
No bro, it was just my mistake that i don't notice version while reporting issue but i am using latest version of radare2. I installed it from apt install radare2 from kali linux terminal.
![Screenshot_2020-04-01_15-41-38](https://user-images.githubusercontent.com/43464959/78099998-34550d80-7401-11ea-8656-da46036963df.png)

[2020-04-01 04:47] radare commented on #14549
cc @HoundThe

[2020-04-01 07:12] ret2libc commented on #16387
@radare could you provide the "classes.dex" you are testing?

[2020-04-01 08:03] radare commented on #16389
Current output should be -qv

[2020-04-01 08:04] radare commented on #16390
Thats 3 month old indeed. Quite old

[2020-04-01 08:07] radare commented on #16390
And the lines at rhe left sre not a glitch. But wtong anylisis lines. Post the executable for testing and commands to reproduce

[2020-04-01 08:11] mssandhu3232 commented on #16390
radare2 ./license_2
aaa
ood
s main
pdf

[license_2.txt](https://github.com/radareorg/radare2/files/4413697/license_2.txt)

[2020-04-01 08:59] radare commented on #16390
ood or oob?

[2020-04-01 09:11] radare commented on #16387
[classes.dex.zip](https://github.com/radareorg/radare2/files/4414050/classes.dex.zip)

[2020-04-01 09:18] mssandhu3232 commented on #16390
its "ood" bro

[2020-04-01 09:19] radare commented on #16390
im not your bro, if it's ood, it means the title of the issue is wrong

[2020-04-01 09:21] mssandhu3232 commented on #16390
yeah, its my mistake

[2020-04-01 09:22] radare commented on #14195
the proposal sgtm

[2020-04-01 11:10] radare opened #16393 "Add GPG/RSA crypto finding commands"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Darwin pmb.lan 19.3.0 Darwin Kernel Version 19.3.0: Thu Jan  9 20:58:23 PST 2020; root:xnu-6153.81.5~1/RELEASE_X86_64 x86_64
| Architecture/bits of the file (mandatory)

[2020-04-01 11:24] radare opened #16394 "pm [file] doesnt works"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian arm 64, Ubuntu x86 32
| File format of the file you reverse (mandatory)      | PE, ELF etc.
| Architecture/bits of the file (mandatory)            | PPC, x86/32, x86/64 etc

[2020-04-01 11:26] radare opened #16395 "Add open command in the ms shell"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| r2 -v full output, **not truncated** (mandatory)     | radare2 4.4.0-git

### Expected behavior

[code]

this should do the same as running the `mo` command to open the given fs file into r2

### Actual behavior

open command doesnt e

[2020-04-01 11:28] radare opened #16396 "Forensics: Deleted files"
Right now we can do  `mi` to get the offset for given file. but we have no way to determine the filename from the offset.

Also, there's no way to enumerate deleted files. not even in FAT.

The mi feature only works for FAT btw, and we have no tests

[2020-04-01 18:22] HoundThe commented on #14618
Hmm, so what's the goal of this issue? Ability to merge binary classes into anal classes? Or the other way around?

[2020-04-01 18:26] thestr4ng3r commented on #14618
The goal is to have a way to import classes from bin to anal.

[2020-04-01 20:19] s00kee commented on #16315
Hi, I'm very new to open source but I'd like to give this a try as my first issue if it's ok. Thanks.

[2020-04-02 02:02] bin2415 opened #16399 "Wrong size of jump table error when comparing with memory"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian, Ubuntu 18.04, amd64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | 64
| r2 -v full output, **not trun

[2020-04-02 02:08] scrapbird commented on #13420
I'll look at getting that done this week 👍

On Tue, Mar 31, 2020 at 10:18 PM radare <notifications@github.com> wrote:

[2020-04-02 04:44] XVilka commented on #16285
Looks like fixed in https://github.com/radareorg/radare2/commit/91c58506e54519e11f0ec0acb1c09825522af38b
@thestr4ng3r

[2020-04-02 04:46] XVilka commented on #13577
@radare since you did the retpoline change, can you confirm if this was fixed?

[2020-04-02 04:59] #15605 closed

[2020-04-02 04:59] #15606 closed

[2020-04-02 05:00] #15797 closed

[2020-04-02 05:02] XVilka commented on #15603
Irrelevant now

[2020-04-02 05:02] #15603 closed

[2020-04-02 05:11] XVilka commented on #15280
Better colors probably too

[2020-04-02 08:15] #13577 closed

[2020-04-02 08:15] radare commented on #13577
Yes. This was exactly the bin i used in the testsuite

[2020-04-02 08:28] XVilka opened #16400 "ESIL suggestions for improval"
- [ ] Separate `R_API r_anal_esil_*` into `libr/include/r_esil.h`
- [ ] Consider to isolate the ESIL handling into the separate library, like siol was
- [ ] Provide the better API to distinct between various ESIL operation kinds
- [ ] Provide the API for "un-RPN"-ing of the ESIL expressions, for printing purpose, maybe more readable representation, useful for debugging/etc
- [ ] Provide the way fo

[2020-04-02 08:53] thestr4ng3r commented on #15607
See also the `-L` option.

[2020-04-02 08:55] thestr4ng3r commented on #16285
Except for the gnu as tests we set to BROKEN, everything is fixed.

[2020-04-02 09:21] radare commented on #16285
The gnu ass should assemble a different instructionn like i said. Can you do the change?

[2020-04-02 09:26] thestr4ng3r commented on #16285
No, these two tests were explicitly about the instructions from #1167, so not sure what we should do about them. There are already tests with other instructions.

[2020-04-02 10:11] #16347 closed

[2020-04-02 12:10] 08A commented on #12732
Hi could you indicate where i should look in the code if i want override this behavior with a lookup on the DT_DYNAMIC segment.

[2020-04-02 12:26] ret2libc commented on #12732
@08A Hi, I would start from `Elf_(r_bin_elf_get_relocs)` defined in `libr/bin/format/elf/elf.c`. As you can see it iterates over the sections looking for `.rela` or `.rel` sections. As said, loaders don't really care about sections, but they do use the information in the DT_DYNAMIC segment to find out relocations (I cannot tell you the exact details as I don't remember them anymore, but I guess th

[2020-04-02 14:33] bilboed commented on #16399
Seems to detect it fine with radare2 4.2.1 0 @ linux-x86-64 git.4.2.1

[code]

[2020-04-02 14:41] radare opened #16407 "Do emscripten JS/WASM builds in CI"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| r2 -v full output, **not truncated** (mandatory)     | radare2 4.4.0-git

### Steps to implement

[code]

See https://github.com/radareorg/radare2/pull/16406

[2020-04-02 15:03] bin2415 commented on #16399
The newest version works. Thanks, I'll switch to newest version.

[2020-04-02 15:03] #16399 closed

[2020-04-02 15:18] radare commented on #16399
Please dont use debian packages for r2. 4.2 is 3 month old. There are tons of fixes and changes since that release. Next week i’ll release 4.4. Please test it from git.

[2020-04-02 15:20] bin2415 commented on #16399
Yeah, I am using 4.4.0 now. Thanks!

[2020-04-02 18:23] mohe2015 opened #16411 "Analyzing with `aaa` hangs at `Check for vtables` for small binary"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated

[2020-04-02 20:12] mohe2015 commented on #16411
I found the issue. It's basically a parser differential attack.
[out.working.elf.zip](https://github.com/radareorg/radare2/files/4423349/out.working.elf.zip)
[out.nonworking.elf.zip](https://github.com/radareorg/radare2/files/4423350/out.nonworking.elf.zip)
[code]
vs
[code]
So the address of the section header is invalid.
This is the only difference of the binaries.
[code]
But `r2 -c 'aaa' -Q out.

[2020-04-03 04:29] XVilka commented on #16183
Was fixed.

[2020-04-03 04:29] #16183 closed

[2020-04-03 08:44] #16195 closed

[2020-04-04 10:12] radare commented on #15453
The funny thing is how we can reproduce this if we run the following line twice

[code]

basically

[2020-04-04 12:30] DanusMinimus opened #16413 "Radare2 doesn't detect all functions for ELF-MIPS malware sample"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | MIPS
|$ r2 Mozi_unpacked.bin

[0x00400260]> aaa

[2020-04-04 12:31] DanusMinimus commented on #16413
[Mozi.zip](https://github.com/radareorg/radare2/files/4431319/Mozi.zip)

[2020-04-04 13:31] radare commented on #14549
@HoundThe want to take this issue?

[2020-04-04 13:48] HoundThe commented on #14549
@radare  Sure I'll have a look

[2020-04-04 15:06] 08A commented on #12732
@ret2libc There is in libr/bin/format/elf/elf.c an interesting function init_dynamic_section. I was wondering if i could modify this function and the struct ELFOBJ. I could add DT_RELA, DT_REL, ..

[2020-04-05 08:03] kamathe opened #16418 "r2 doesn't detect main function for stripped binary on Linux"
### Work environment

radare2 version

[code]
OS details

[code]

### Expected behavior

r2 should detect main function in stripped binaries

### Actual behavior

r2 doesn't detect main function in stripped binaries

### Steps to reproduce the behavior

Take a simple hello world program

[code]

Compile it using gcc, notice it is not stripped

[code]

Run it to see it works

[code]

Load in r2, an

[2020-04-05 14:51] radare commented on #16418
Can you share the binary? The main function is detected on stripped binaries but for some reason doesnt seems to work in this case

[2020-04-05 15:03] radare commented on #14293
@ret2libc as u said this wont be fixed soon please move your pr and the issue to milestone 4.5 or further

[2020-04-05 15:05] radare commented on #13095
I think we can close this after the bb approach it makes no sense to try to obey ida style fcn names

[2020-04-05 15:05] #13095 closed

[2020-04-05 15:37] radare opened #16421 "Make CI fast again"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| r2 -v full output, **not truncated** (mandatory)     | radare2 4.4.0-git 17284 @ darwin-x86-64

### Expected behavior

wait about 10 minutes to determine if we can merge a PR

### Actual behavior

wait > 2h, even more if there are mor

[2020-04-05 15:40] radare commented on #13821
this one is important and very useful

[2020-04-05 16:04] radare commented on #16390
the analysis info is not rebased so the code doesnt matches the lines and the glitch happens. thats totally known and expected. its just a amtter of finishing the implementation of the rb command

[2020-04-05 16:05] radare commented on #13677
txf* is txg

[2020-04-05 16:24] radare commented on #15880
@ret2libc so?

[2020-04-05 16:36] radare commented on #16413
Can we ship this binary in our testsuite? i have opened a PR fixing the issue

[2020-04-05 16:37] DanusMinimus commented on #16413
This is a malware sample, so watch out with it.

[2020-04-05 16:43] radare commented on #15625
this is done already

[2020-04-05 16:43] #15625 closed

[2020-04-05 16:47] radare commented on #15766
we need libdemangle first

[2020-04-05 16:47] radare commented on #15912
is this issue fixed now? @c-urly

[2020-04-05 16:55] radare commented on #12061
can you try again @enovella ? i think this issue is fixed

[2020-04-05 17:40] Maijin commented on #12061
Still here it seems -
<img width="387" alt="image" src="https://user-images.githubusercontent.com/1408600/78505671-4a522d80-7775-11ea-801c-ccf666410b33.png">

[2020-04-05 17:59] radare commented on #16207
Please fill this issue in the capstone repository., i dont think this is an issue in r2

[2020-04-05 17:59] #16207 closed

[2020-04-05 18:10] radare commented on #16233
seems like this spotted a bug in the json indenter, spaces after : are not skipped to identify the type.. fixing

<img width="447" alt="Screenshot 2020-04-05 at 20 08 26" src="https://user-images.githubusercontent.com/917142/78506341-3a3c4d00-7779-11ea-8f87-38bfda85e8db.png">

[2020-04-05 18:31] #13677 closed

[2020-04-05 18:41] radare commented on #16168
can you update?

[2020-04-05 18:41] radare commented on #16168
or just share a link to the last log

[2020-04-05 18:42] radare commented on #16407
Already done. but we are not publishing the binr/*/*.js yet. will be good to do so. anyone?

[2020-04-05 18:42] radare commented on #16387
This is fixed now

[2020-04-05 18:42] #16387 closed

[2020-04-05 18:54] radare commented on #15978
will be good to have a better reproducer i cant repro

[2020-04-05 18:58] radare commented on #16366
related to one wip PR im doing and not going to happen in 4.4 (i want to make every RAnalBlock store an RRegArena, so we can swap it when doing recursive emulation and add a command to manually get/set the register values in a specific basic block (and add another command to propagate the values to the rest of bbs

[2020-04-05 18:59] radare opened #16429 "abr - anal block registers"
The purpose of this new command proposal is the following:

- every RAnalBlock store an RRegArena

So we can swap it when doing recursive emulation

- add a command to manually get/set the register values in a specific basic block
- add another command to propagate the values to the rest of bbs

related to the current code we use in the anal graph with esil info

feedback/ideas on this? cc @mrmace

[2020-04-05 18:59] radare commented on #16342
This is solved

[2020-04-05 18:59] #16342 closed

[2020-04-05 19:00] radare commented on #16343
please @oxcabe or @XVilka can you pls fix this issue and add a test before 4.4? thanks!

[2020-04-05 19:31] kamathe commented on #16418
@radare How do i share the binary ? I cannot upload it here, i get an error saying "We don't support that file type"

[2020-04-05 19:40] radare commented on #16418
Zip it

[2020-04-05 20:08] kamathe commented on #16418
@radare Ugh! my bad, i am just going to pretend I did not ask you that :) anyways please find the attached zipped binary
[hello.zip](https://github.com/radareorg/radare2/files/4434695/hello.zip)

[2020-04-05 20:15] ret2libc commented on #15880
So this can be closed if we agree `|grep xor` is an invalid command.

[2020-04-05 20:15] #15880 closed

[2020-04-05 20:36] #16413 closed

[2020-04-05 20:51] radare commented on #16281
fixed in my PR

[2020-04-05 20:51] radare commented on #16281
but can be improved

[2020-04-05 21:10] radare commented on #15880
Thanks!

[2020-04-05 21:32] vext01 opened #16432 "Debugger broken on OpenBSD."
### Work environment

 * OpenBSD-current amd64
 * ELF

[code]

### Expected behavior

[code]

Should open debug session for the binary.

### Actual behavior

[code]

and exits.

Also tried `ood`:

[code]

Also found this seg:
[code]

All of these behaviours seem to work on Debian, so I assume this is OpenBSD specific.

Thanks

[2020-04-05 21:54] vext01 opened #16433 "`rasm2 -b64 'mov rax, 0xdeadbeef' | rasm2 -d -b64 -` doesn't round trip."
Hi,

Not sure if this is a bug or user stupidity...

# Work environment

 * Debian amd64
 * ELF

[code]

### Expected behavior

[code]

### Actual behavior

[code]

What's with the 0xffffffff prefix?

[2020-04-05 22:10] radare commented on #16432
Try r2 -d ls

[2020-04-05 22:11] radare commented on #16433
The 32bit sign bit is extended. Seems like an issue in the assembler with 64bit encoding here

[2020-04-05 22:12] vext01 commented on #16432
[code]

[2020-04-06 01:26] radare commented on #15468
ive fixed some, now the numbers are:

ARM64 18
PPC64 22
S390X > 1000
newShell 96

[2020-04-06 01:26] radare commented on #15468
see https://github.com/radareorg/radare2/pull/16435

[2020-04-06 01:31] radare commented on #16387
Closing this issue because its fixed in the pr

[2020-04-06 07:35] thestr4ng3r opened #16436 "Heap Buffer Overflow in r_main_rasm2()"
Detected by asan here: https://travis-ci.com/github/radareorg/radare2/jobs/314528531

[code]

[2020-04-06 08:02] #16394 closed

[2020-04-06 08:06] #13626 closed

[2020-04-06 08:08] #16233 closed

[2020-04-06 11:07] XVilka commented on #12722
Superseded by GitHub Actions (they are Azure Pipelines underneath)

[2020-04-06 11:07] #12722 closed

[2020-04-06 12:22] kazarmy commented on #16329
I think it's best that we delete these draft releases manually. Sure, a script could be possibly be written that deletes them using the GitHub API within a Travis job, but a mistake/bug could spectacularly delete normal releases as well with no way of getting them back unless they are saved somewhere. Even then, it would be difficult to restore them and the timestamps would be off.

[2020-04-06 13:03] XVilka commented on #16421
AppVeyor now faster - disabled unnecessary tests.

[2020-04-06 16:32] Ruturaj4 commented on #16268
I reinstalled r2dec and it works fine now

[2020-04-06 16:32] #16268 closed

[2020-04-06 16:39] #16266 closed

[2020-04-06 16:55] thestr4ng3r commented on #14024
RBTree might be overkill indeed. Generally the skyline is the optimization for quick access. From what I understand, the way `r_io_map_get()` is implemented is only useful when the skyline is not there yet.

[2020-04-06 17:17] thestr4ng3r commented on #14024
![flamegraph](https://user-images.githubusercontent.com/1460997/78586092-35d86880-783b-11ea-9d57-d8ac42f5d086.png)

[2020-04-06 17:33] thestr4ng3r commented on #14024
I think we can at least make it MUCH more cache-friendly by using RPVector instead of the linked list. The problem is that there are two metric by which the maps must be ordered: Priority (order in the list at the moment) and interval. So simply replacing the list by a tree will not work. We either need two data structures or maintain the priority differently.

[2020-04-06 18:07] imyxh commented on #16396
Perhaps you're aware but the debugfs tool has an `lsdel` command that lists deleted inodes. Could look at implementing that sort of thing instead of a filename-based output.

[2020-04-06 18:50] ret2libc commented on #13939
@tilman2 could you provide better test case? I don't understand the example you provided.

[2020-04-07 00:51] wizeman opened #16449 "The 'wa' command doesn't assemble 'xor ax, ax' correctly"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | NixOS x86 64-bit
| File format of the file you reverse (mandatory)      | Doesn't matter, I think
| Architecture/bits of the file (mandatory)            | x86 in 16-bit mode, but

[2020-04-07 01:02] wizeman commented on #16449
Simpler test case:

### Expected behavior
[code]
### Actual behavior
[code]

Note that 32-bit and 64-bit modes are broken too.

[2020-04-07 01:11] wizeman opened #16450 "Make the distinction between assembly and disassembly plugins clearer"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | NixOS x86 64-bit
| File format of the file you reverse (mandatory)      | None
| Architecture/bits of the file (mandatory)            | x86/16 but other bit modes are broken too
|

[2020-04-07 03:28] XVilka opened #16452 "Failed ` rabin2 -S, -SS, -rS and -rSS file elf` test on AppVeyor clang-cl build"
# Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | AppVeyor clang-cl
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86
| r2 -v full output, **not truncated** (m

[2020-04-07 03:29] #16281 closed

[2020-04-07 03:32] XVilka commented on #16450
Because they are assembler plugins, not disassembler plugins. But maybe we can indicate it better somehow.

[2020-04-07 08:10] 0xd3xt3r opened #16455 "Error while parsing ELF MIPS imports"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian arm 64, Ubuntu x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | MSB shared object, MIPS, MIPS32

[2020-04-07 08:32] radare commented on #16396
Sounds like a plan

[2020-04-07 10:24] radare commented on #16432
i can repro. the thing is that r2 -d pid works as expected. what is failing is the fork+ptraceme function. i tried disabling the ptrace-wrap as well as reverting the last commits related to this function without any change.

i wonder if this issue affects netbsd and freebsd too :?

[2020-04-07 10:24] radare commented on #16432
can you help us find the commit (or r2 version) where this stopped to work?

[2020-04-07 10:56] #16436 closed

[2020-04-07 11:46] 08A commented on #9421
@XVilka @radare Should this issue be closed?

[2020-04-07 12:06] #9421 closed

[2020-04-07 13:36] kamathe commented on #16418
@radare we you able to get the binary ? Is the issue reproducing on your end too ?

[2020-04-07 16:23] thestr4ng3r opened #16464 "Crashes detected by Fuzz Tests"
To reproduce, run `r2r -F bins/fuzzed @fuzz` in `test/`
[code]

[2020-04-07 19:13] 0pendev commented on #15507
No news about this issue ?

[2020-04-07 22:09] oxcabe commented on #16343
This is necessary for the typedefs to work AFAIK, typedefs reference those dummy structs when used.

So... typedefs shouldn't be included in `ts` commands right?

[2020-04-07 22:37] radare commented on #16305
ping

[2020-04-07 23:30] radare commented on #16305
the final boss for this issue is this:

[code]

[2020-04-08 03:34] XVilka commented on #16407
Probably worth to move to GitHub Actions too

[2020-04-08 08:11] radare commented on #15507
I think we can close it

[2020-04-08 08:51] thestr4ng3r commented on #15507
I don't think so, it seems to be still present.

[2020-04-08 09:01] radare commented on #15507
Then it should be fixed. Didnt tried yet

[2020-04-08 09:17] radare opened #16478 "Rename asm.sysz into asm.s390x"
It's basically the same thing, and for consistency i think s390x makes more sense

[code]

![IMAGE 2020-04-08 11:23:42](https://user-images.githubusercontent.com/917142/78767833-68917680-798b-11ea-98e5-f52cd3d06a23.jpg)
![IMAGE 2020-04-08 11:23:46](https://user-images.githubusercontent.com/917142/78767856-6af3d080-798b-11ea-8cd0-43be4c5b796a.jpg)

[2020-04-08 11:56] #16389 closed

[2020-04-08 12:00] #16305 closed

[2020-04-08 12:13] #14371 closed

[2020-04-08 12:22] #16210 closed

[2020-04-08 12:22] radare commented on #15688
pls rebase and put proper output in there otherwise its unreadable. imho just alink to the last travis build should be fine

[2020-04-08 13:59] radare commented on #15663
imho we should close this issue

[2020-04-08 14:09] radare commented on #16478
uhm maybe we should just keep it as sysz, and use asm.cpu to select the model of CPU from IBM. capstone is really broken, so nobody will notice, and i should find some time to get linux/s390x emulator for local development at some point

[2020-04-08 14:16] 08A commented on #12732
I move here the list of possible refacto:

 - rel_cache_new and Elf_(r_bin_elf_get_relocs) (same behaviour different data structure, maybe replace by the new implementation or reused inside rel_cache_new)
- move struct dynamic_relocation_section inside ELFOBJ
- move the function get_dynamic_info inside init_dynamic_section
- remove is_rela inside ELFOBJ

[2020-04-08 15:00] radare commented on #16343
that '0' shouldnt be there, i think thats the only thing to fix here. because the typedef assigns the name already

[2020-04-08 15:02] radare commented on #16432
im going back in time  (until 2018) and i cant find a single commit that works wtf. so i assume is something related with OpenBSD. btw im testing on openbsd 6.3

[2020-04-08 16:34] #15662 closed

[2020-04-08 22:01] vext01 commented on #16432
Check it out:
[code]

[code]

so `ptrace(2)` is erroring with `EBUSY`.

Man page says:
[code]

## Using gdb to look at ptrace(2) args

(fresh run)

[code]

[code]

[code]

Do you see anything wrong?

[2020-04-08 22:24] vext01 commented on #16432
Here's the permission checking code in the kernel:
https://github.com/openbsd/src/blob/15eef8140673a1d26e3b3703d4a0f2551d7c7ad6/sys/kern/sys_process.c#L334-L410

[2020-04-08 22:31] vext01 commented on #16432
And here's a `pstree` snippet showing the relationship between r2 and the process to be traced:
[code]

`a.out` does not appear anywhere else in the output...

[2020-04-08 22:41] radare commented on #16432
Do the child calls pt attach? Because i think so by adding printfs the other day.

[2020-04-08 22:42] radare commented on #16432
I also tried without the ptrace wrapper and same issue

[2020-04-08 22:44] #14648 closed

[2020-04-08 22:45] vext01 commented on #16432
Not sure what you mean.

[2020-04-08 23:15] radare commented on #16432
See the configure flag. Its enabled by default. Which makes r2 use a worker thread to communicate with the child.

[2020-04-09 03:49] #16418 closed

[2020-04-09 04:01] XVilka commented on #16421
Fixed now.

[2020-04-09 04:01] #16421 closed

[2020-04-09 04:02] XVilka commented on #16478
Yes, lets keep sysz and use the a variant selection.

[2020-04-09 04:02] #16478 closed

[2020-04-09 07:35] pelijah opened #16488 "r_bin_demangle() incorrectly detects name mangling scheme"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows x86-64
| File format of the file you reverse (mandatory)      | any
| Architecture/bits of the file (mandatory)            | any
| r2 -v full output, **not truncated** (ma

[2020-04-09 08:01] pelijah opened #16489 "iD command doesn't accept rust lang"
# Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | any
| File format of the file you reverse (mandatory)      | any
| Architecture/bits of the file (mandatory)            | any
| r2 -v full output, **not truncated** (mandatory)

[2020-04-09 08:05] radare commented on #16489
Can you make a PR?

[2020-04-09 08:58] vext01 commented on #16432
I think you are talking about `--without-ptrace-wrap`.

It seems this is the default on OpenBSD (the end of configure says `USE_PTRACE_WRAP = 0`). Passing `--with-ptrace-wrap` doesn't turn it on either. So it's **always** disabled on OpenBSD.

When I said:

This was in response to:

Do you mean: does the child process use `PT_ATTACH`?

No. The child is just a simple piece of asm compiled with gcc:

[2020-04-09 09:05] #16489 closed

[2020-04-09 10:20] radare opened #16492 "Missing - subcommands in all the t subcommands"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| r2 -v full output, **not truncated** (mandatory)     | radare2 4.4.0-git

### Expected behavior

[code]

### Actual behavior

[code]

### Steps to reproduce the behavior

The problem here is that there's `t-Lala` which works fine, but

[2020-04-09 10:23] 08A opened #16493 "Radare2 should fix various issue found by lgtm"
### Work environment
LGTM, i just create this issue so we can talk how to solve various problem found by this tools

### Expected behavior
Green badge

### Actual behavior
Yellow badge

### Steps to reproduce the behavior
click on the lgtm badge

### Additional Logs, screenshots, source-code,  configuration dump, ...
https://lgtm.com/projects/g/radareorg/radare2/alerts/?mode=list

[2020-04-09 10:25] radare commented on #16407
@XVilka can you do that change before sunday?

[2020-04-09 10:32] 08A commented on #16493
What is the acceptable range for this allocation.
maybe 1-4096?

- https://lgtm.com/projects/g/radareorg/radare2/snapshot/e0dc22a95aa72cac584423f8d558cde3bb73159a/files/shlr/sdb/src/sdb.c?sort=name&dir=ASC&mode=heatmap#x876a12223fc17e2e:1
- https://lgtm.com/projects/g/radareorg/radare2/snapshot/e0dc22a95aa72cac584423f8d558cde3bb73159a/files/shlr/sdb/src/ht_inc.c?sort=name&dir=ASC&mode=heatmap#xd2e

[2020-04-09 10:44] XVilka commented on #16488
Please add the test in the testcases

[2020-04-09 10:45] XVilka commented on #16493
See also https://github.com/radareorg/radare2/issues/16130

[2020-04-09 11:00] kamathe opened #16495 "radare2 installation issues, errors in compilation"
Trying to install radare2 errors out with following messages

[code]

Setup and compiler details

[code]

[2020-04-09 11:53] 08A commented on #16493
I will focus on lgtm, the feedback loop is shorter.

[2020-04-09 14:19] esclear opened #16498 "STM8 architecture support"
**Is your feature request related to a problem? Please describe.**
It would be nice if r2 supported the [STM8](https://en.wikipedia.org/wiki/STM8) architecture for disassembly.

**Describe the solution you'd like**
Ideally a STM8 disassembler and corresponding analysis would be implemented as a plugin.

**Describe alternatives you've considered**
An alternative solution is to use [naken_asm](https

[2020-04-09 14:27] 08A commented on #12732
I am trying to remove the `struct ht_rel_t` but in the function `get_import_addr_ppc` k is used:
`rel->k`.
What is the purpose of the field?

[2020-04-09 14:41] 08A commented on #12732
`get_import_addr_ppc` get the vaddr?

[2020-04-09 14:54] ret2libc commented on #12732
AFAIS that is the position of the reloc entry in the relocations. IIRC ppc has some kind of relocation types that compute the final address based on the position of the relocation entry (or something like that, I don't remember exactly sorry).

[2020-04-09 16:21] radare opened #16503 "clusterfuzz-testcase-minimized-ia_fuzz-5754875154792448.dms"
Crash Type: Heap-use-after-free READ 8
Crash Address: 0x602000039370
Crash State:
  Pe64_r_bin_pe_free
  r_bin_file_free
  r_list_delete

[clusterfuzz-testcase-minimized-ia_fuzz-5754875154792448.dms.zip](https://github.com/radareorg/radare2/files/4457394/clusterfuzz-testcase-minimized-ia_fuzz-5754875154792448.dms.zip)

[2020-04-09 16:34] #16495 closed

[2020-04-09 16:35] radare commented on #16432
this is an issue, it should be 1. im hardcoding this and testing to verify. will be good to test on netbsd and freebsd too

it's r2 who forks and must call ptrace(PT_ATTACH) before calling execve to run the executable

well just try 'ls' like we all do for now, and same issue

[2020-04-09 16:54] radare commented on #16432
i have a workaround.. seems to work fine here.. but maybe worth merging if its not breaking anything. comments in here @thestr4ng3r ? will be good to test on freebsd and netbsd too, any volunteer with some time?

![Screenshot 2020-04-09 at 18 53 16](https://user-images.githubusercontent.com/917142/78920276-6fa3ac00-7a93-11ea-8cce-9c16c22537fa.png)

[2020-04-09 16:57] radare commented on #16432
see https://github.com/radareorg/radare2/pull/16505

[2020-04-09 16:58] thestr4ng3r commented on #16432
Will check this around the weekend when I have time. I have freebsd and openbsd set up locally to test.

Actually I think with the new r2r we should be able to run debug tests in CI for *bsd.

[2020-04-09 18:10] 08A commented on #12732
I am not sure what the function get_import_addr is doing, do you have any idea?
And maybe some documentation.

[2020-04-09 19:47] radare commented on #12732
Its documented in C

[2020-04-09 20:21] radare commented on #16189
fixed

[2020-04-09 20:21] #16189 closed

[2020-04-09 20:24] radare commented on #15978
still cant repro

[2020-04-09 20:29] radare commented on #15978
[code]

[2020-04-09 21:07] #16283 closed

[2020-04-09 21:30] radare commented on #16452
this is because \n and \r\n probably

[2020-04-09 22:09] 08A commented on #12732
This part of the code base is a real spaghetti code without any context it take me 3 hour to understand that it was the addr inside the plt.

I am rewriting this part and i was wandering how to get the base addr of the got.
My idea was take the first lazy binding inside the got.
[code]
Deref the ptr
[code]
Do some magic
[code]

But i can't read the got with `r_buf_read_at (bin->b, first_lazy_entry

[2020-04-09 22:55] radare commented on #5363
the problem now is not the speed. but the projects cant be loaded. with things like this:

[code]

overall speed looks good to me now we have improved quite a lot in 4 years

[2020-04-09 22:57] radare commented on #16503
cant repro

[2020-04-10 03:23] eagleoflqj commented on #16493
I'm doing the same. imho PRs should be small which makes them easy to get merged.

[2020-04-10 03:46] #15165 closed

[2020-04-10 03:57] XVilka commented on #12999
Superseded by GitHub Actions

[2020-04-10 03:57] #12999 closed

[2020-04-10 03:58] XVilka commented on #15587
Can we try to do that for SourceHut and GitHub Actions? They should work on both.

[2020-04-10 04:00] #16455 closed

[2020-04-10 04:10] XVilka commented on #15663
Here it happens again:
[code]

[2020-04-10 04:35] XVilka opened #16513 "EBCDIC character support"
[Extended Binary Coded Decimal Interchange Code](https://en.wikipedia.org/wiki/EBCDIC) (EBCDIC; /ˈɛbsɪdɪk/) is an eight-bit character encoding used mainly on IBM mainframe and IBM midrange computer operating systems. It descended from the code used with punched cards and the corresponding six-bit binary-coded decimal code used with most of IBM's computer peripherals of the late 1950s and early 196

[2020-04-10 05:07] #16314 closed

[2020-04-10 06:09] #16109 closed

[2020-04-10 06:11] radare commented on #16513
Why lgpl only? Mit or bsd are welcome too

[2020-04-10 06:22] XVilka commented on #16513
I meant not GPL-ed obv. Added a comment

[2020-04-10 06:58] ret2libc commented on #15663
Yes but I don't think it's a bug. It is just different system

[2020-04-10 07:07] Misiur opened #16514 "Auto analysis does not recognize hot patched functions"
By `mov edi, edit` I learned that it is a function added when compiling with /hotpatch. In cuttter however they are not considered functions and the graph cannot be generated:

![Cutter](https://i.imgur.com/zVnq78b.png)

[2020-04-10 07:30] radare commented on #16514
Use E anal.hasnext=true and about reanalizing modified code there are some issues opened already

[2020-04-10 07:48] ret2libc commented on #12732
Hi @08A . Why are you rewriting that part of the code? Why do you need new logic to compute the addresses when there is already one?

By the way, about using sections vs segments, I think that function is partially wrong as well as it relies on sections by name, instead of using the dynamic entries.

[2020-04-10 09:14] radare opened #16515 "Confusing axf != afx"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| r2 -v full output, **not truncated** (mandatory)     | radare2 4.4.0-git

### Expected behavior

### Actual behavior

afx does what i expect it to do axf instead thinks of 'f' as 'from' iand afx as function.

### Steps to reproduce th

[2020-04-10 09:58] 08A commented on #12732
I was refactoring the rel_cache_new and i discover this function which was like you said wrong because it relies on sections by name.

[2020-04-10 09:59] 08A commented on #12732
My only problem right now is get the value in the got.

[2020-04-10 10:08] radare commented on #11900
a very basic anal plug for tricore should be added before 4.4 release. the plugin should be just doing nothing but returning a reg profile to save an assert

[2020-04-10 10:19] thestr4ng3r commented on #16432
Btw the reason ptrace-wrap is not enabled on OpenBSD is that it is Linux-specific. *BSD don't seem to have the limitation that this fixes.

[2020-04-10 10:32] thestr4ng3r commented on #16432
Now there is another issue:
![Screenshot from 2020-04-10 12-31-24](https://user-images.githubusercontent.com/1460997/78984700-3452bd00-7b27-11ea-8d18-4224d14b74ae.png)
But stepping and io seems to work fine.

[2020-04-10 10:38] ITAYC0HEN opened #16517 "Wrongly detected additional x-ref in ELF 64bit"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch64
| File format of the file you reverse (mandatory)      | ELF64.
| Architecture/bits of the file (mandatory)            | x65
| r2 -v full output, **not truncated** (mandato

[2020-04-10 10:58] ITAYC0HEN commented on #16515
For me `axf` was always **a**nalyze **x**refs **f**rom and `axt`  **a**nalyze **x**refs **t**o.

My real question is why both `axff` and `afx` exists, until I figured that they are different.
`axff` for me was always **a**nalyze **x**refs **f**rom **f**unction. I never used `afx` and actually never knew it was there. I did't think that we should have cross-referencing command in `af` since cross-r

[2020-04-10 11:42] ITAYC0HEN opened #16519 "Duplicate "main" and "sym.main" pointing at the same address"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch64
| File format of the file you reverse (mandatory)      | ELF.
| Architecture/bits of the file (mandatory)            | x64
| r2 -v full output, **not truncated** (mandatory

[2020-04-10 11:44] ret2libc commented on #12732
@08A I think existing code is already doing that, so I suggest that you adapt the code but you change as little as possible. For example, I think you can find the code in `get_import_addr_x86` in the `R_386_JMP_SLOT` switch-case. In general, I believe the approach in RBin to get what you want is to get the file offset of the section and read it from there. If you already have the virtual address a

[2020-04-10 12:02] c-urly commented on #15912
This testcase is fine right? @radare

[code]

[2020-04-10 16:31] vext01 commented on #16432
Hi,

Seems that fix gets us somewhere. On OpenBSD-current/amd64 I get the same kind of thing as @thestr4ng3r:
[code]

i.e. some warnings, but stepping over the binary and the reported register values look ok to me at a glance.

[2020-04-10 17:45] vext01 commented on #16433
How do we move this one forward folks? Shall I write a test?

[2020-04-10 23:56] #16432 closed

[2020-04-10 23:57] #15978 closed

[2020-04-11 00:03] radare commented on #15295
Ping @mrmacete

[2020-04-11 00:06] radare commented on #15587
What about 4.5? So we can focus on the release

[2020-04-11 01:37] XVilka commented on #15587
@radare plan is to try - if they work without any problem - enable them, if not - postpone fixes to the later release.

[2020-04-11 08:25] radare commented on #15587
Plans end tomorrow

[2020-04-11 08:57] thestr4ng3r opened #16525 "Debug on OpenBSD: Could not get memory map: Operation not permitted"
![Screenshot from 2020-04-10 12-31-24](https://user-images.githubusercontent.com/1460997/79039682-442fd700-7be3-11ea-9b5f-1ce0360a64f9.png)

[2020-04-11 08:58] thestr4ng3r commented on #16432
Follow-up: #16525

[2020-04-11 09:07] thestr4ng3r commented on #15587
wdym? the debug tests are already enabled:
![Screenshot from 2020-04-11 11-07-05](https://user-images.githubusercontent.com/1460997/79039875-9cb3a400-7be4-11ea-9fb4-a10a7826c0f2.png)

[2020-04-11 13:20] 08A commented on #12732
[code]

i don't have the same result than the example but i am pretty sure my result is valid, it is the only arm test that fail.

[code]
I can find addresses that the previous implementation couldn't find (it was based on section name)

[2020-04-11 13:42] vext01 commented on #16432
Would it be worth adding a test so that this can regress in the future?

[2020-04-11 13:47] 08A commented on #12732
[code]

And this test result seems strange.

[2020-04-11 14:28] radare commented on #16432
Yes but we should ensure the suite runs on openbsd ci too

[2020-04-11 15:32] radare commented on #16407
right now: https://travis-ci.com/github/radareorg/radare2/jobs/318387799
i would like to get those .wasm and .js zipped and uploaded in gh releases. maybe this way we will get r2.js with xterm.js working at some point..

[2020-04-11 17:09] 0xballistics opened #16531 "Only the first function is displayed among symbols of imported DLL on debug mode"
# Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
OS/arch/bits (mandatory)                             | Windows 10 64-bit
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (m

[2020-04-11 17:58] radare commented on #16493
Can we close this issue?

https://lgtm.com/projects/g/radareorg/radare2/alerts/?mode=list&severity=error

those are probably the important ones but i dont see them that scary because all the heap implementations i know return NULL on failure, .. well except debian :D but those are not blocking the release, so moving to 4.5 or closing. because lgtm is always there reporting all the issues

[2020-04-11 18:10] radare commented on #15453
@thestr4ng3r can we close this issue?

[2020-04-11 18:36] thestr4ng3r commented on #15453
I think so. Current project implementation will soon be superseded by https://github.com/thestr4ng3r/r2db/

[2020-04-11 19:12] eagleoflqj commented on #2460
chocolatey isn't updated since 3.9.0

[2020-04-11 20:28] eagleoflqj opened #16532 "Is nodejs build system still needed"
It's broken since 26cb39c7595b98fbafec976d8c571ca18a7b5d48.
As in #10767, the whole sys/build should be removed.

[2020-04-11 22:28] vext01 commented on #16433
This still isn't quite right:
[code]

(I'm unable to re-open the bug)

[2020-04-11 22:37] vext01 commented on #16525
This is a failing call to `sysctl(2)`:
https://github.com/radareorg/radare2/blob/1ff6331a331d279833136baabe87492a377b33f4/libr/debug/p/native/bsd/bsd_debug.c#L391-L394

The reason is that, since about 5 years ago, only root can issue use that MIB:
https://cvsweb.openbsd.org/cgi-bin/cvsweb/src/sys/kern/kern_sysctl.c.diff?r1=1.273&r2=1.274&f=h

Confirmed by running as root. Makes the error go away:

[2020-04-11 22:43] vext01 commented on #16525
If you are just trying to find where things are loaded in the virtual address space, you could use `dl_iterate_phdr(3)`?

https://man.openbsd.org/dl_iterate_phdr

[2020-04-11 23:34] brandonros opened #16533 "rasm2 tricore ld.bu disassembly error"
similar to https://github.com/radareorg/radare2/issues/15912

from ghidra:

[code]

from rasm2:

`rasm2 -a tricore -o 0x80018800 -D '910000f7024a39ff0c35'`

[code]

[2020-04-12 01:06] trompetin17 commented on #16353
Hello, today I was reviewing what is the current problem about this, and I found something that I want to share.
Everything is about vars(e command) when the project load from file some properties load badly.
It looks like boolean and numbers, but what I found is not all properties just this:

cfg.fortunes (instead true load 1)
esil.stack.pattern (instead "0" load 0)
http.maxport (instead "9999" l

[2020-04-12 02:49] #15453 closed

[2020-04-12 02:51] radare commented on #16464
Please provide specific crash logs i tested some of those and i cant reproduce

[2020-04-12 03:18] XVilka opened #16535 "Build all radare2 plugins weekly in the cronjob of GitHub Actions"
To check if something is broken, we can set the job every few days or weekly, like Coverity one.

[2020-04-12 03:21] XVilka commented on #16127
Was fixed

[2020-04-12 03:21] #16127 closed

[2020-04-12 03:23] XVilka commented on #16532
Good catch, will be removed by https://github.com/radareorg/radare2/pull/16536

[2020-04-12 03:36] radare commented on #16464
[code]
cc @wargio

[2020-04-12 04:04] #15587 closed

[2020-04-12 04:05] radare commented on #16452
ping @thestr4ng3r

[2020-04-12 04:20] #16532 closed

[2020-04-12 04:30] trompetin17 commented on #16353
@RHL120 could you open your file rc (look in P? the path for projects and loop up over there) with text editor
And tell me if you see something like
"f fcn.0x00001040 0 0x00001040"???

[2020-04-12 05:08] trompetin17 commented on #16353
Ok digging my RS file I found some "f fn.xxxxx 0 0xxxxxx"
to show you and example

_"f fcn.01423af4 0 0x01423af4"
"af+ 0x01423af4 fcn.01423af4 f n"
afB 64 @ 0x01423af4
afc arm64 @ 0x01423af4
afvr x2 arg3 int64_t @ 0x1423ab8
afvr x1 arg2 int64_t @ 0x1423ab8
afvr x0 arg1 int64_t @ 0x1423ab8
afS 0 @ 0x1423af4_
<img width="665" alt="Screen Shot 2020-04-12 at 12 03 59 AM" src="https://user-images.githu

[2020-04-12 05:38] kazarmy commented on #16433
Neither will round-trip.

For `mov rax, 0xdeadbeef` the assembler will assume you are doing `mov rax, -559038737` and assemble according to the MOV r/m64, imm32 variant of MOV, which sign-extends the immediate.

For `mov rax, 0x1deadbeef`, it is clear that the immediate is 64-bit and thus the MOV r64, imm64 variant is used, but current convention is to represent that variant by `movabs`.

In math,

[2020-04-12 08:48] radare commented on #16525
The output of “dm” will be empty and u will struggle to see the libs loaded with dmm or set breakpoints for example

[2020-04-12 08:48] radare commented on #16533
Try with latest binutils we can update the disassembler from gnu if tht works

[2020-04-12 08:49] radare commented on #16535
Thsi is r2extras

[2020-04-12 10:02] 08A commented on #16493
Small warning can create weird bug I believe that fix all minor lgtm warning will improve the code base's quality. It's why for me this issue should rest open until all the warning are solved (or reviewed).
This issue was open to centralized the work on the lgtm warning.

[2020-04-12 10:12] vext01 commented on #16433
Yes, I understand that, and you are right that both encodings are valid, but I find the choice (somewhat) unexpected.

If you assemble the same in GNU assembler (which is pretty much de-facto for x86-64 on unix):
[code]

Then you get a `movabs` by default:
[code]

Presumably it infers this from the target register.

So would it not be better to use `movabs` in `rasm` too? One question I have -- if

[2020-04-12 10:45] federicodotta opened #16543 "Missing strings on iOS binary with izz"
### Work environment
OS/arch/bits (mandatory) : Arch Linux x86_64
File format of the file you reverse (mandatory): Mach-O 64-bit arm64 executable
Architecture/bits of the file (mandatory): Arm64
r2 -v full output: radare2 4.3.1 0 @ linux-x86-64 git.4.3.1/ commit: unknown build: 2020-03-20__16:02:58

### Expected behavior
izz find all the strings of the binary

### Actual behavior
izz missed the 'e

[2020-04-12 12:16] XVilka commented on #16407
Fixed in https://github.com/radareorg/radare2/commit/00a30c943a79d2da265f11d18cb05b9801c3a430

It's probably better to move this into GitHub Actions

[2020-04-12 12:16] #16407 closed

[2020-04-12 14:48] radare commented on #15888
fixed in fdb75d3bf9a3d09f3c95ca0bed0bfb5eaab02684

[2020-04-12 14:48] #15888 closed

[2020-04-12 14:49] radare commented on #15888
calling r_regex_comp after r_regex_new is leaking because its initializing it twice, the leak should be fixed, so maybe worth to open an issue

[2020-04-12 14:51] radare opened #16549 "RRegex.comp() leaks if called after .new()"
calling r_regex_comp after r_regex_new is leaking because its initializing it twice, the leak should be fixed, so maybe worth to open an issue

see https://github.com/radareorg/radare2/commit/fdb75d3bf9a3d09f3c95ca0bed0bfb5eaab02684

and  https://github.com/radareorg/radare2/issues/15888

[2020-04-12 15:39] radare commented on #16407
Yes but as i said it was not ready to mwrge and it is not uploading anything

[2020-04-12 15:40] radare commented on #16493
Totally agree

[2020-04-12 15:43] radare commented on #2460
😱

[2020-04-12 15:44] radare commented on #15453
Nice

[2020-04-12 16:27] radare commented on #16503
fixed in 74958b8e88879302d6f61a813943b968cf03dbd5

[2020-04-12 16:27] #16503 closed

[2020-04-12 16:33] radare commented on #16543
this is not a string, its a method name. you can list it with the ic command.

symbol sections is skipped from the iz strings command.

[2020-04-12 16:39] federicodotta commented on #16543
Uhmm... I might be wrong but it should be a string. ObjC does not invoke methods directly but uses *objc_msgSend* method, supplying a string that contains the method name as second argument (in my example that string was *encryptPassword:*)

Thank you for your great work!

[2020-04-12 16:48] radare commented on #16543
yes, it is a string, in the region that contains the class and method names. which r2 ignores because otherwise the amount of foound strings will be massive. you can  use izz ifyou want to get it

[2020-04-12 16:50] federicodotta commented on #16543
As you can see in the first screenshot, I used izz, not iz. For this reason it seems strange to me that that string was not present in the result

[2020-04-12 16:53] radare opened #16550 "Weird asan in debugger io maps"
[code]

[2020-04-12 16:53] radare commented on #16464
@thestr4ng3r can you update the listing?

[2020-04-12 16:55] thestr4ng3r commented on #16464
I did 2h ago, are there any new fixes?

[2020-04-12 16:59] kazarmy commented on #16433
See #16551.

[2020-04-12 17:25] karliss commented on #16550
That line contains r_pvector_foreach_prev. The way it's written loop ends with it pointing one element before start. I don't know if UB rules in C are weaker but at least in C++ there is a special rule that allows having a pointer one past the last element of array as long as it isn't deferenced. Without this special rule just calculating the pointer outside array bounds would be UB. One element p

[2020-04-12 17:38] karliss commented on #14549
Single dex file has 16bit limit for number of methods more than 65536 methods is impossible unless you use split code into multiple dex files.

[2020-04-12 18:04] HoundThe commented on #14549
How does this differ from the grep option?

[2020-04-12 18:40] #15260 closed

[2020-04-12 20:43] #11900 closed

[2020-04-12 20:48] radare commented on #16464
Ah nope. Didnt noticed the issue text changed

[2020-04-12 20:49] radare commented on #16550
Can u repro and wanna try to fix in a PR? I assume its a bug i. The macro

[2020-04-12 21:45] eagleoflqj opened #16555 "Function save in configure-plugins does nothing"
[code]
cfg is never modified so `cp` has no effect.

[2020-04-12 21:52] radare commented on #16555
did u pass the right args to pick the plugins ?

[2020-04-12 22:20] eagleoflqj commented on #16555
Is it relevant to args? I just run `sys/user.sh` and notice there's
[code]
on stderr. I don't see any chance $cfg becomes something other than `./plugins.cfg`, so I guess `cp $cfg plugins.cfg` is useless?

[2020-04-13 02:33] XVilka opened #16560 "`rabin2 -S %R2_FILE% |grep prixfixe. |wc -l |awk "{print $1}"` broken on Windows clang-cl"
clang-cl build on Windows: https://ci.appveyor.com/project/radareorg/radare2/builds/32131658/job/5n88sgw6aw9hswbe
[code]

[2020-04-13 04:25] XVilka commented on #12582
Irrelevant now

[2020-04-13 04:25] #12582 closed

[2020-04-13 04:33] XVilka commented on #16535
@radare no, extras fires only on the change in the extras. This one should reflect ongoing radare2 changes and check if all plugins are compatible still.

[2020-04-13 04:45] #16550 closed

[2020-04-13 04:50] radare commented on #16464
i think all crashes must be gone now. only timeouts must be left. can u update the list again?

[2020-04-13 05:00] radare commented on #16464
Some timeouts are because some vmaps are too large and analysis takes forever trying to analyze code that is not mapped phisically

[code]

[2020-04-13 05:04] radare commented on #16560
Dupe of https://github.com/radareorg/radare2/issues/16452

[2020-04-13 05:04] #16560 closed

[2020-04-13 07:02] XVilka opened #16563 "[XX] db/archos/linux-x64/dbg_oo ood after open in debug mode"
https://github.com/radareorg/radare2/runs/581861975
[code]

[2020-04-13 08:40] radare commented on #16560
9 vs 0

[2020-04-13 08:59] pelijah commented on #16563
Was previously seen in my PR https://github.com/radareorg/radare2/pull/16528#issuecomment-612646773

[2020-04-13 09:14] pelijah commented on #16563
So it's unrelated to #16562. Not sure that bug is related to my changes too.

[2020-04-13 09:33] thestr4ng3r commented on #16464
much better now, only 1 crash and 6 timeouts

[2020-04-13 09:50] radare commented on #16452
9 vs 0

[2020-04-13 10:18] radare commented on #16452
i dont consider this a blocking issue to release

[2020-04-13 12:27] XVilka opened #16564 "Get rid of bitfields"
They are not portable between compilers, endianesses, etc:

https://github.com/radareorg/radare2/blob/master/libr/util/protobuf.c#L16

[2020-04-13 13:07] sanguinawer commented on #16531
I'm looking at this issue, can confirm only hapend on debug mode.
Problem come into r_buf_read_at, on debug mode the readed result is incorrect , possible issue with FD.

[2020-04-13 13:43] radare commented on #16531
It is reading from disk or memory?

[2020-04-13 13:55] XVilka commented on #16452
It's a regression though, not a new issue.

[2020-04-13 14:10] radare commented on #16564
👍 cc @wargio

[2020-04-13 15:49] radare commented on #16464
the last crash is fixed already and im pushing fixes or the infinite loops. can u review and merge pls?

[2020-04-13 16:20] radare commented on #16464
Ill ask u to update the list when my prs get merged.

[2020-04-13 18:12] radare opened #16576 "Move test/scripts into test/bins/src"

[2020-04-13 18:28] radare commented on #16464
@wargio i fixed your crashes, ignore the comments

[2020-04-13 18:29] radare commented on #16563
is this random? because i see master green

[2020-04-13 19:15] pelijah commented on #16563
Yep random.

[2020-04-13 19:17] radare commented on #16464
this is 6 timeouts. but i fixed 4 timeouts already, but at least 0 crashes

current output:
[code]

[2020-04-13 19:23] #16433 closed

[2020-04-13 19:50] eagleoflqj opened #16578 "Bugs in function run_commands in radare2.c"
https://github.com/radareorg/radare2/blob/344e66730367e24c2c97da64f6d248c65a5dd14c/libr/main/radare2.c#L249-L256

r_core_run_script returns a bool. Don't know how to deal with it.

[2020-04-13 20:09] radare commented on #16578
Maybe checking the $? Value when it returns false? Boolification tends to simplify things sometimes but it can spot some design issues like this one

[2020-04-13 21:45] radare commented on #16429
ref  https://github.com/radareorg/radare2/pull/6110

[2020-04-13 21:49] radare commented on #16464
[code]

[2020-04-13 21:49] #16464 closed

[2020-04-14 03:27] brainstorm opened #16584 "izzq~MSCF yields fake hits?"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | OSX
| File format of the file you reverse (mandatory)      | PE32
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (mandatory

[2020-04-14 09:06] thestr4ng3r commented on #16464
Nice, great job!

[2020-04-14 10:23] radare opened #16589 "Debian CI builds should add libuv as runtime dependency"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian
| r2 -v full output, **not truncated** (mandatory)     | radare2 4.4.0

### Expected behavior

import r2pipe working

### Actual behavior

[code]

### Steps to reproduce th

[2020-04-14 10:28] wargio commented on #16564
luckily is an easy fix xD

[2020-04-14 11:11] radare opened #16590 "Cannot open large files"
# Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian arm 64, Ubuntu x86 32
| File format of the file you reverse (mandatory)      | PE, ELF etc.
| Architecture/bits of the file (mandatory)            | PPC, x86/32, x86/64 etc.

[2020-04-14 12:41] Shaddy commented on #16590
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian arm 32, Raspbian GNU/Linux 10 (buster)
| File format of the file you reverse (mandatory)      | N/A
| Architecture/bits of the file (mandatory)            | N/A (8GB File)

[2020-04-14 15:22] #16564 closed

[2020-04-14 15:33] radare opened #16593 "Release CI"
We need to upload/deploy all the following builds when there's a tag

* [ ] Debian builds (with capstone5 and libuv dependency)
* [ ] linux-sdk-static (sys/sdk.sh)
* [ ] macOS builds
* [ ] Windows builds (2017)
* [ ] Emscripten (WASM/JS)

[2020-04-14 15:33] radare commented on #16589
generalized in https://github.com/radareorg/radare2/issues/16593

[2020-04-14 15:33] #16589 closed

[2020-04-14 15:34] radare commented on #16584
omfg 1GB of executable code /o\

[2020-04-14 15:56] ret2libc commented on #16593
Well, since we are at it...
- [ ] AppImage  (like Cutter does)
- [ ] container image

[2020-04-14 19:55] meowmeowxw commented on #16248
pwndbg checks main_arena in the symbols of the libc: https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/heap/ptmalloc.py#L73
while gef compute the offset from __malloc_hook since main_arena and __malloc_hook are adjacient in memory: https://github.com/hugsy/gef/blob/dev/gef.py#L58
It shouldn't be too hard to implement one of the two methods, I can try in the following days

[2020-04-14 20:20] radare commented on #16248
Cool!

[2020-04-14 21:18] esclear commented on #16498
I'd like to claim this issue.
I've started working on it, but I'm not sure how long it'll take, since I'm doing this alongside other stuff.

[2020-04-15 01:22] chenjinzhi1990 opened #16596 "Is it feasible to open another binary file on r2 command line?"
## Is it feasible to open another binary file on r2 command line?

[2020-04-15 04:08] XVilka commented on #16593
Dupe of:
- https://github.com/radareorg/radare2-release/issues/34
- https://github.com/radareorg/radare2-release/issues/35

[2020-04-15 04:24] XVilka commented on #16285
Closing then.

[2020-04-15 04:24] #16285 closed

[2020-04-15 04:25] XVilka commented on #16593
See also https://github.com/radareorg/radare2/issues/16126

[2020-04-15 04:29] XVilka commented on #15680
Open a new issue if it wasn't fixed.

[2020-04-15 04:29] #15680 closed

[2020-04-15 04:30] XVilka commented on #15598
Was largely fixed with the new r2r I think.

[2020-04-15 04:32] #15591 closed

[2020-04-15 04:33] XVilka commented on #15586
Irrelevant now?

[2020-04-15 04:34] #15576 closed

[2020-04-15 04:35] XVilka commented on #15575
@Maijin could you please write what is left then?

[2020-04-15 06:15] XVilka opened #16598 "OpenBSD TIMEOUT db/formats/pe/base_FSG PE: FSG 2.0- pi 1"
See https://builds.sr.ht/~xvilka/job/188049#task-test-656
[code]

[2020-04-15 06:25] XVilka opened #16599 "Rename some repositories"
No need for the duplication in the name, imho:
- [radare2-r2pipe](https://github.com/radareorg/radare2-r2pipe) to just "radareorg/r2pipe"
- [radare2-testbins](https://github.com/radareorg/radare2-testbins) to just "radareorg/testbins"
- [radare2book](https://github.com/radareorg/radare2book) to just "radareorg/book"
- [radare2-bindings](https://github.com/radareorg/radare2-bindings) to just "radar

[2020-04-15 07:00] ITAYC0HEN commented on #16599
Makes sense :)

[2020-04-15 07:10] ret2libc commented on #14164
There is already a way to swap endian and it's the `e` format.
```|  e       temporally swap endian```

[2020-04-15 07:11] ret2libc commented on #14004
I don't think this feature should be in 4.5.0 and not even in a close release. It's really just a "ok-to-have" but I think anything this complicated is better done with a r2pipe script. Please move this issue to 9999999999999999 milestone.

[2020-04-15 08:03] thestr4ng3r commented on #16599
This one should stay as an archived repo, to be able to track the history.

[2020-04-15 08:06] thestr4ng3r commented on #15582
New r2r uses paths.

[2020-04-15 08:06] #15582 closed

[2020-04-15 08:08] thestr4ng3r commented on #15598
The only remaining is `cherrypull.sh` which I have no idea what it even does.

[2020-04-15 08:13] ret2libc opened #16600 "x @@@C:cmd is wrong"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 31 - x86_64
| File format of the file you reverse (mandatory)      | any
| Architecture/bits of the file (mandatory)            | x64
| r2 -v full output, **not truncated**

[2020-04-15 08:17] Maijin commented on #15575
@XVilka

Tests in unit/legacy_unit/ need to be converted especially the one in util/ for example:  https://github.com/radareorg/radare2/blob/master/test/unit/legacy_unit/util/test_queue.c, https://github.com/radareorg/radare2/blob/master/test/unit/legacy_unit/util/test_str.c etc.

[2020-04-15 08:29] radare commented on #15598
We csn delete cherrypull it was helpful for me to clone and meege remote branches easily but nowadays im used to use the raw git commanss by hand so im not using it anymore

[2020-04-15 08:31] #14164 closed

[2020-04-15 08:32] #15586 closed

[2020-04-15 08:33] radare commented on #16596
Yes

[2020-04-15 11:27] radare commented on #16599
I prefer the radare2- prefix on all of them othwrwise its anoying to use tab imho

[2020-04-15 11:40] #15598 closed

[2020-04-15 11:48] XVilka commented on #16599
what tab?

[2020-04-15 12:47] radare commented on #16599
Thst key in the keyboard at the left of q

[2020-04-15 13:05] thestr4ng3r commented on #16599
You are aware that your folder name doesn't have to match the repo name?

[2020-04-15 13:07] XVilka commented on #8069
For porting to the RVector too

[2020-04-15 13:47] ret2libc commented on #8069
Just for clarity... better not use Sdb, but just an HT where needed. Variables in RAnal is a good proof of why sdb is not good when used directly.. it shall just be used to serialize/deserialize stuff.

[2020-04-15 15:05] thestr4ng3r commented on #8069
Yeah, the benefit that you have "quick projects" is killed by the fact that you would have to still write the serialization/deserialization code, but at runtime, making everything bloated and slow. It really only makes sense when the string kv fits the data structure by design.

[2020-04-15 19:14] meowmeowxw commented on #16248
I've added the lines 320 -> 341 and 381 -> 387
https://github.com/meowmeowxw/radare2/blob/2d1226e90587501c826d35095be10f34a5329e9c/libr/core/linux_heap_glibc.c#L320

However I get a segfault after the command `dmh` (which is executed correctly). Debugging with gdb I found that the segfault is from `r_core_task_schedule` in the line 280 of `task.c`.

I've tried to isolate the problem and if I set m

[2020-04-15 21:49] eagleoflqj commented on #16599
imho for users that fork a repo, there may be confusion without a prefix. radareorg/book looks good but eagleoflqj/book doesn't.

[2020-04-16 08:33] lordneon commented on #16327
I've just pulled the latest version to see if the fix has worked... Unfortunately it has not.

Now you just get a blank response:
[code]

Version:
`radare2 4.5.0-git 24541 @ linux-x86-64 git.4.4.0-13-gb4b301319
commit: b4b3013197e641dc7be8f8f52da9143832a7fdf6 build: 2020-04-06__22:01:08
`

[2020-04-16 12:00] meowmeowxw commented on #16248
I've added the way to compute the main_arena using symbols:
https://github.com/meowmeowxw/radare2/blob/cab8f2a92f5ee7de7a7fd00165f2f01c3ebff8dd/libr/core/linux_heap_glibc.c#L325

However if I call `r_core_free()` to free the core of the libc, radare2 crashes a (segfault after executing `dmh`) because of the call to `r_core_task_scheduler_fini()` inside `r_core_fini()`, I don't know exactly how to

[2020-04-16 17:46] radare commented on #8069
well. the reason for using sdb in projects was because tloading all the data in a disk hashtable takes 0 time. there's no other solution for this outside sdb right now

[2020-04-16 17:51] radare opened #16613 "unfixed covs"
[code]

[2020-04-16 20:10] federicodotta commented on #16543
Hi!

I just tried with the last git code (radare2 4.5.0-git 0 @ linux-x86-64 git.4.5.0-git, commit: HEAD build: 2020-04-17__00:00:16) on the same environment/same application (last time I tried with version 4.3.1 but I realized that it was not the last version of radare2).

Unfortunately I have the same issue: izz still does not find the string.

Thank you for your great work!

[2020-04-17 01:18] i0ntempest commented on #12335
Just got similar errors upgrading 4.3.1 -> 4.4.0:
[code]
Removing the old version fixed it.

[2020-04-17 02:12] eagleoflqj opened #16617 "Bugs in libr/bin/format/dex/dex_uleb128.inc"
Take https://en.wikipedia.org/wiki/LEB128#Unsigned_LEB128 as an example.
Given {0xE5, 0x8E, 0x26}, this function
https://github.com/radareorg/radare2/blob/9222e458e253c7c00374a4ba69cbb13459d3f595/libr/bin/format/dex/dex_uleb128.inc#L4-L24
returns 166 rather than 624485, while another leb128 decoder https://github.com/radareorg/radare2/blob/9222e458e253c7c00374a4ba69cbb13459d3f595/libr/util/uleb128

[2020-04-17 03:08] chenjinzhi1990 commented on #16596
What commands can be implemented? @radare

[2020-04-17 07:19] Maijin commented on #12335
ok thanks for rechecking, closing here.

[2020-04-17 08:31] radare commented on #16596
Type o?

[2020-04-17 08:31] #16596 closed

[2020-04-17 08:35] radare commented on #16617
What do you mean by Big endian not relevant?

[2020-04-17 10:05] mopihopi commented on #12335
@Maijin : The problem is that new versions aren't built correctly when an old version is currently installed, and i0ntempest reported that this is still a problem.

[2020-04-17 10:23] XVilka commented on #16617
It should be probably moved to `libr/util/uleb`

[2020-04-17 11:39] radare opened #16620 "Use RRef"
The only reference counting structure in r2land right now is this:

`R_API void r_anal_block_unref(RAnalBlock *bb) {`

So we should change it to use the generic refcounting helper. And discuss which others shoul dbe converted

[2020-04-17 12:38] Maijin commented on #12335
right reopening

[2020-04-17 12:39] radare commented on #16617
No. It should be removed. We have 3 implementations of uleb already and the one in util is the one that should stay

[2020-04-17 12:58] eagleoflqj commented on #16617
I can’t see how endian affects dex_read_uleb128‘s behavior. It doesn’t work on any endian.

[2020-04-17 18:26] thestr4ng3r opened #16624 "Types API"
Types are stored in sdb and there is a lot of code in r2 that uses it.
But there is almost no API for types and currently all of this code directly accesses the sdb, resulting in huge amounts of code duplication and highly fragile code in case the format will change in the future. Even r2ghidra has to manually pull out information from the sdb:
https://github.com/radareorg/r2ghidra-dec/blob/3773ed

[2020-04-17 19:35] thestr4ng3r commented on #15944
![Screenshot from 2020-04-17 21-31-13](https://user-images.githubusercontent.com/1460997/79607352-5930cc80-80f3-11ea-9aa5-434fbc63c48c.png)

[2020-04-17 23:48] radare commented on #15944
Yep thats why pd is that slow after analyzing vars

[2020-04-18 02:26] imyxh commented on #8291
I'm no expert at C, but enough of a fan of att syntax that I'm trying to parse the source code myself. It looks like [r_asm_assemble()](https://github.com/radareorg/radare2/blob/35290dd51d815ed0e36623b1fba63c6f8a93bd84/libr/asm/asm.c#L570) doesn't check `a->syntax` before selecting an assembler. So I assume an assembler like x86.nasm or x86.nz is being selected.

However, the x86.as plugin *does*

[2020-04-18 07:43] radare commented on #8291
Thats exactly what im doing in the r_arch PR

[2020-04-18 19:13] FXTi commented on #4228
By now, it support RBin, RAsm from version 1.0 to 3.9, and basic RAnal. But there's something should be noted:

RBin part:
* RBin look up version magics by linear scan in an ascending-order table. **Any update on that table should not break its order,** or `magic_int_within` will fail to do its job.
* I actually don't know how to generate the `revision` in `pyc_version` struct. And I doubt its acc

[2020-04-18 23:57] bannsec opened #16634 "drtj all broken"
# Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             |  Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (m

[2020-04-19 00:11] bannsec opened #16635 "drtj fpu returns invalid json"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2020-04-19 00:25] bannsec commented on #16635
I should note, xmm and ymm are doing the same thing.

[code]

[2020-04-19 09:36] liranzw opened #16636 "Feature Request - seek to highlight"
I just moved from IDA to radare2 and i miss the Alt-T option for searching free text in graph mode.
You already have the feature to highlight searched text, but it would be great if i could jump to it.

Maybe add the highlighted text to the hit flags, or let me jump with n/N between highlights.
That would be great.

If there is another method to search&seek in graph mode that i'm not aware of, ple

[2020-04-19 15:56] #15944 closed

[2020-04-19 23:52] selmen2004 commented on #6996
c-sky , wish is based on motorolla mcore has new open source toolset that can be explored here : https://github.com/c-sky , it is used on set-top boxes and other things
hope that helps

[2020-04-20 06:18] smithCoderLeo opened #16646 "p: Cannot find function at 0x（some address）"
r2 version:  radare2 4.5.0-git 0 @ linux-x86-64 git.4.5.0-git
operation:
1. r2 (my file)
![image](https://user-images.githubusercontent.com/13193519/79724854-cf634800-831a-11ea-8803-cacdb872c478.png)
2. aaa
![image](https://user-images.githubusercontent.com/13193519/79724899-e1dd8180-831a-11ea-991e-4f747164082a.png)
3. s 0x14002A14C
![image](https://user-images.githubusercontent.com/13193519/79725

[2020-04-20 07:18] radare commented on #16646
Please fill the issue properly, which file are you using, which version of r2? Which commands are you typing before pdf?

[2020-04-20 07:47] XVilka commented on #16620
Apart from that, it should be documented in the [DEVELOPERS.md](https://github.com/radareorg/radare2/blob/master/DEVELOPERS.md), so people will know that they should use it.

[2020-04-20 07:48] XVilka commented on #16624
Yes, good idea and will make the types code more readable

[2020-04-20 07:57] lordneon opened #16647 "Searching in raw kernel memory"
Issue #16327 has not been fixed. The fix commited just hides the error message and does not resolve the underlying issue.

The issue appears to be using a signed INT64 for the end search offset rather than unsigned.  ( https://github.com/radareorg/radare2/commit/e0b197766811db0952d243b2df36969d34cee36e )

Could the previous issue be reopened please?

[2020-04-20 09:03] XVilka commented on #16647
Next time please write in the original issue to reopen it.
Duplicate of https://github.com/radareorg/radare2/issues/16327

[2020-04-20 09:03] #16647 closed

[2020-04-20 09:53] XVilka commented on #5947
Afaik it was fixed, please confirm

[2020-04-20 10:08] thestr4ng3r opened #16659 "Rabin2 Test Segfault on OpenBSD"
Happened here: https://builds.sr.ht/~xvilka/job/191301
[code]
should be tested with valgrind or asan.

[2020-04-20 10:10] XVilka commented on #16617
Lets remove it then, and see if tests are still passing.

[2020-04-20 12:03] Maijin commented on #5947
That's really old, I'll close - you can find my draft for this here https://gist.github.com/Maijin/beff8af9116822c7a96ac34da110b430 but probably need full rewrite now

[2020-04-20 12:03] #5947 closed

[2020-04-20 15:42] eagleoflqj commented on #16617
I'll have a try.

[2020-04-20 16:44] radare commented on #6996
Cool!

[2020-04-21 01:57] chenjinzhi1990 commented on #16596
ios app file

[2020-04-21 02:00] chenjinzhi1990 opened #16666 "Is it feasible to open another binary file on r2 command line?"
![image](https://user-images.githubusercontent.com/25029027/79816798-a5f7fa00-83b6-11ea-9659-c2fb6240cad3.png)

Use radare2 to open a binary code file for the iOS app, and later open another binary code file on the command line. How to achieve this goal.

[2020-04-21 03:42] #16617 closed

[2020-04-21 03:46] XVilka opened #16667 "Add a linter/GitHub Action to validate commit messages and headers"
To enforce the basic commit message writing rules and mark invalid as red in the pull requests:
- https://github.com/marketplace/actions/gs-commit-message-checker
- https://github.com/conventional-changelog/commitlint
- https://github.com/seferov/pr-lint-action

[2020-04-21 03:53] XVilka commented on #16666
Yes, just use `o` commands: https://radare.gitbooks.io/radare2book/content/basic_commands/mapping_files.html

[2020-04-21 03:53] #16666 closed

[2020-04-21 07:34] imyxh commented on #16590
This is interesting. If it's of any help, I can't reproduce this on AArch64—my Android phone with 3 GB RAM lets r2 open a 4 GiB file with no problem.

[2020-04-21 13:34] radare opened #16668 "Fix 'q' command in cfg.newshell"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian arm 64, Ubuntu x86 32
| File format of the file you reverse (mandatory)      | PE, ELF etc.
| Architecture/bits of the file (mandatory)            | PPC, x86/32, x86/64 etc

[2020-04-21 14:09] ret2libc commented on #16668
I will work on this soon. The problem is that `core_cmd_tsr2cmd` and all the handlers just return bool, but they should probably return `int` (or better an enum) with `q` returning `R_CORE_CMD_EXIT`.

[2020-04-21 14:13] radare commented on #16668
There was an issue about this 2 weeks ago becuse there was a missusage of bool vs int in corecmd to return 0,1 -1 and -2 with different meanings

[2020-04-21 15:45] karliss commented on #15944
Better than before but not solved completely. Varsub still iterates through all the variables at each instruction. `function_size * function_variables` can be `n^2` in the worst case.

[2020-04-21 17:15] radare opened #16671 "Split r2r.c into libr/main and make it available from inside r2"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template below*

### Work environment

| Questions                                            | Answers
|------------

[2020-04-21 17:24] imyxh commented on #16450
Idea: we change the checks involving r_asm_use() in [rasm2.c](https://github.com/radareorg/radare2/blob/dcbb114a9d05300a5f5268e5417810d7d6f3b572/libr/main/rasm2.c#L682) to first check the return value of r_asm_use(), and if it is true, we further check that we have either `as->disassemble` or `as->assemble` depending on if `dis` (the flag for -d and -D) is set or not.

[2020-04-21 17:33] radare commented on #16450
Just check rasm2 -L, its clear there

[2020-04-21 17:33] #16450 closed

[2020-04-21 21:11] eagleoflqj commented on #16493
There are tons of calls to `grub_dl_ref` and `grub_dl_unref` under shlr/grub/fs, which actually does nothing. Should they be removed?

[2020-04-21 22:49] radare opened #16674 "Use : and remove \, ' and =!"
I think that the current use of ':' is not fair enough to be that accessilble, and can be easily delegated to #: for example without making the command parser more complicated.

The idea is to have a single char to run commands thru io->system. this is heavily used in r2frida and will be good to have it easy to use from any keyboard layout.

The problem i see is with `.:` because we would want to

[2020-04-21 23:09] enovella commented on #16674
I really got used to `\` for io, especially in r2frida. Not a big fun of suddenly changing all these commands, but any change will be well accepted by me. Why is there this need of changing it? Lets keep only `\`?

[2020-04-21 23:27] #16613 closed

[2020-04-21 23:33] radare commented on #16674
\ is used for escaping especial chars, it's problematic for the new shell parser because it makes it more complex (one extra exception.

[2020-04-22 01:37] HoundThe commented on #16624
Shouldn't the second **r_anal_base_type_struct** be an **r_anal_base_type_enum** ?

[2020-04-22 04:32] XVilka opened #16676 "Take tests from BAP repo"
https://github.com/BinaryAnalysisPlatform/bap-testsuite

[2020-04-22 04:39] XVilka opened #16677 "` e asm.sub.jmb=false` doesn't disable jump/call substitution"
[code]

[2020-04-22 04:41] lowlyw opened #16678 "asm.jmpsub substitutes addresses for function names even if disabled"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macos 10.15.4
| File format of the file you reverse (mandatory)      | z64
| Architecture/bits of the file (mandatory)            | mips64
| r2 -v full output, **not truncated** (

[2020-04-22 04:42] lowlyw commented on #16678
oh, im too slow, dup of #16677

[2020-04-22 04:42] #16678 closed

[2020-04-22 05:25] XVilka commented on #12604
Mostly supported, probably needs some interface improvement. @thestr4ng3r @radare please evaluate

[2020-04-22 06:17] officialcjunior opened #16680 "Error while debugging a MIPS binary remotely"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04.4 LTS, 64 bit
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | MIPS
| r2 -v full output, **not tr

[2020-04-22 07:21] ret2libc commented on #16674
@enovella what do you mean? I don't see any command that has `\`. Does r2frida adds commands with `\`?

[2020-04-22 07:52] XVilka commented on #16130
Updated the report.

[2020-04-22 08:06] radare commented on #16677
I dont see any jmp in this pd

[2020-04-22 08:09] XVilka commented on #16677
It says all jumps, including calls.

[2020-04-22 08:21] radare commented on #16674
I prefer ‘ than \. In ES layout is 1 key instead of 2. Backslash conflicts with escaping

[2020-04-22 08:25] ret2libc opened #16682 "Fix temporary seek with deltas (e.g. cmd @ +0x10) in cfg.newshell"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| r2 -v full output, **not truncated** (mandatory)     | radare2 4.5.0-git 27975 @ linux-x86-64 git.4.4.0-58-g06ab29b93 commit: 06ab29b93cb0168a8ec1cb39f860c6b990678838 build: 2020-04-21__13:48:08

### Expected behavior
[code]

### Actu

[2020-04-22 09:28] radare commented on #16636
I have started to implement this in here: https://github.com/radareorg/radare2/pull/16683

still very wip, but hopefully ready soon :)

[2020-04-22 10:22] radare commented on #16682
fix? this has never been suposed to work

use $$+1 if you want that, but this syntax has never been supported

[2020-04-22 10:27] radare commented on #16680
this is not master. it's like 1 week old

can you please confirm the bug is still in master? because the errror line doesnt matches the source

[2020-04-22 10:29] radare commented on #12604
ive never used anal classes

[2020-04-22 10:29] radare commented on #12604
i dont even have a reproducer to test

[2020-04-22 11:11] ret2libc commented on #16682
If so, even better but it works with old parser.

[2020-04-22 11:54] ret2libc opened #16684 "Wrong multi-line handling in r2shell?"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| r2 -v full output, **not truncated** (mandatory)     | radare2 4.5.0-git 27975 @ linux-x86-64 git.4.4.0-58-g06ab29b93 commit: 06ab29b93cb0168a8ec1cb39f860c6b990678838 build: 2020-04-21__13:48:08

### Expected behavior
First command:
[

[2020-04-22 11:54] ret2libc commented on #16684
cc @radare @thestr4ng3r @XVilka @karliss

[2020-04-22 12:48] radare commented on #16682
:magic:

[2020-04-22 12:49] ret2libc commented on #16682
Are you ok with NOT supporting this feature? If so, I'm going to close this bug.

[2020-04-22 12:53] ret2libc commented on #16146
I removed the milestone 4.5.0 as tree-sitter support just landed and I don't plan to add new "sugar" on top of it for some time. First the duty, then the pleasure ;)

[2020-04-22 12:53] radare commented on #16146
sgtm

[2020-04-22 12:54] ret2libc commented on #15663
I would close this bug. I don't think the tests or r2 are broken, it's just that we don't have a way to tests with "regex", which is something @thestr4ng3r mentioned. That would be useful here as well. Can we close this?

[2020-04-22 12:54] radare commented on #16682
well if we support it it will be nce because it will be in sync with `s`

s +10 works

and yeah i probably added @+ and @- support but i always use the $$+- syntax

[2020-04-22 12:54] ret2libc commented on #15652
I understand it is not good to have warnings, but this should be opened in tree-sitter upstream, not here. It is not our bug. Closing this.

[2020-04-22 12:54] #15652 closed

[2020-04-22 12:56] ret2libc commented on #14785
I have removed this issue from 4.5.0 milestone, as tree-sitter parser just landed and I really think it's NOT the right time to introduce new sugar on top of existing parser (nor the right time to add features on top of new parser). We can keep the issue open, but definitely something to think about in at least a couple of releases from now.

[2020-04-22 12:58] ret2libc commented on #14625
Cool idea, but I think it's just a nice-to-have thing, I'm not going to invest time on this any time soon as newshell just landed and there are many other things to fix. It is anyway easy to use r2pipe to accomplish whatever you want.

[2020-04-22 13:01] ret2libc commented on #13939
I think we can close this.
This is now possible with `cfg.newshell`, thanks to proper parsing.

[code]

Of course you have to escape the `|` character, because otherwise it would be interpreted as the pipe operator `|`.

[2020-04-22 13:01] #13939 closed

[2020-04-22 13:03] ret2libc commented on #16535
I doubt I'm gonna be able to do it for 4.5.0, moving already to 4.6.0

[2020-04-22 13:03] ret2libc commented on #16667
Nice-to-have feature, though not essential for now. I don't have a deadline for this and I'm removing me from the assignee.

[2020-04-22 13:04] ret2libc commented on #16599
I personally prefer `radare2-*` prefix. It makes it clear they are radare2 related repositories.

[2020-04-22 13:05] ret2libc commented on #15435
Nice-to-have feature, not a priority for me at the moment.

[2020-04-22 13:08] ret2libc commented on #14775
[code]

This works with `cfg.newshell=1` (aka the new parser). I think we can close this.

[2020-04-22 13:08] #14775 closed

[2020-04-22 13:10] ret2libc commented on #10636
Yeah, this can be closed as we agreed to move them in the repo :) good choice :P

[2020-04-22 13:10] #10636 closed

[2020-04-22 13:14] ret2libc commented on #6340
The new parser correctly supports this, but RGrep does not work well in this case. I still need to investigate exactly, but it complains with "too many grep string".

In any case, the new parser correctly prioritize the "parts" of the command:
Command: `ao~jump[1] @@i`
Parsed as:
[code]

[2020-04-22 13:17] ret2libc commented on #7967
Update: basic command structure can now be parsed with the new tree-sitter parser, enabled with `cfg.newshell`.

[2020-04-22 13:20] ret2libc commented on #9417
@radare isn't this fixed?

I think in radare2 4.4.0 you can do `r2 -d python3 --version` and it will debug python3 with the argument `--version` (so when executed, the process will just print `Python 3.7.6`).

[2020-04-22 13:25] radare commented on #9417
imho yes

[2020-04-22 13:25] #9417 closed

[2020-04-22 13:30] ret2libc commented on #14440
I think they are redundant and there isn't really much difference between `@@` and `@@@` versions of the same "command".

May I propose a "merged" view?

[code]

WDYT?

[2020-04-22 13:47] thestr4ng3r commented on #16624
Yes, good catch.

[2020-04-22 14:04] #16599 closed

[2020-04-22 14:08] ret2libc commented on #9825
I'm no PPC expert, but something like the following improves a bit the situation, though it is not perfect.

[code]

In particular, the following solution identifies the relocations, but there are dupped ones (I think because they are both in RELA and REL sections). Also, I can't find any PLT section, but as I said I'm no PPC expert. Maybe this can be useful as a starting point for someone else in

[2020-04-22 14:13] ret2libc commented on #10945
Let's close this. I don't think there is any need to keep this issue open. Someone will refactor this if/when needed, I guess. WDYT @radare ?

[2020-04-22 14:14] ret2libc commented on #11311
I removed me from assignee, but this is quite important IMHO because `io.cache=true` is *needed* for relocation entries in things like kernel and dynamic libs (AFAIR).

[2020-04-22 14:15] ret2libc commented on #11666
Probably not going to focus on this for few releases. I guess it will raise in prio as soon as someone who needs --without-gpl will use meson.

[2020-04-22 14:57] ret2libc commented on #13057
Removed milestone from this, as I doubt I will work on this any time soon.

[2020-04-22 15:00] radare commented on #11666
can you just split up the list of plugins built by meson like its done in acr? so plugins.cfg is honored? this way we can just use the plugins.cfg of desire. the only extra thing would be to pass the WITOHUT_GPL cflag

[2020-04-22 15:06] radare commented on #11311
io.pcache is fast, and imho should be used instead of io.cache.

the idfference is that pcache only works on allocated maps, the io.cache works everywhere

[2020-04-22 15:07] #10945 closed

[2020-04-22 16:01] typoon opened #16686 "Getting `error: too many basic types` when trying to import efi.h"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86_64
| File format of the file you reverse (mandatory)      | PE32+ (EFI)
| Architecture/bits of the file (mandatory)            | x86/64 (EFI)
| r2 -v full output, **not

[2020-04-22 16:02] officialcjunior commented on #16680
Sorry, I've updated now, to:
[code]

Still, I'm facing:

[code]

[2020-04-22 16:10] typoon opened #16687 "Accept multiple directories for `dir.types`"
**Is your feature request related to a problem? Please describe.**
Currently it is not possible to load header files if they make reference to other header files in more than one directory.

It would be great if one could specify multiple directories in the `dir.types` variable and when using commands such as `to` have radare look for the included files in all of the directories in the sequence th

[2020-04-22 16:21] enovella commented on #12061
@ret2libc is this ready for testing?

[2020-04-22 17:50] radare commented on #12061
R2 is always ready

[2020-04-22 17:50] radare commented on #16687
Sgtm

[2020-04-22 17:51] karliss opened #16688 "Help for some commands not working using newshell"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             |  ArchLinux x86_64
| File format of the file you reverse (mandatory)      |  ELF
| Architecture/bits of the file (mandatory)            |  x86/64
| r2 -v full output, **not truncat

[2020-04-22 18:07] enovella commented on #12061
I meant for this test
[code]

[2020-04-22 18:10] karliss commented on #16687
tcc has tcc_add_include_path and tcc_add_sysinclude_path which support multiple directories and use ';' or ':' based on compile time configuration.

[2020-04-22 18:23] ret2libc commented on #12061
Oh, that's a pity :( I thought latest changes done by @08A would fix this as well, but there is something else probably. Anyway, there were already a lot of changes in the right direction, but unfortunately many places uses section names instead of DYNAMIC entries :(

[2020-04-22 18:35] ret2libc commented on #12061
So, I had a very quick look and I think there are two problems:
1) symbols/imports still rely on sections too much, instead of using first information from DYNAMIC and then, at most, augment them with section info
2) `reloc_convert` does not handle many of the relocations that are not x86/x86_64/arm

@08A since you worked heavily on elf.c, would you enjoy moving symbols/imports from sections to dy

[2020-04-22 18:41] 08A commented on #12061
Okay why not. But before doing that I will try to do a small refactoring on the relocations usage inside elf.c.

All relocations entries are loaded 3 times... in a row.

[2020-04-22 18:48] typoon commented on #16687
What would those things be? I don't see any variables with those names:

[code]

I also don't see those as commands:

[code]

On Wed, Apr 22, 2020 at 2:10 PM karliss <notifications@github.com> wrote:

[2020-04-22 18:54] ret2libc commented on #12061
I see, yeah. Do you plan to cache relocs entries in ELFOBJ?

[2020-04-22 18:56] karliss commented on #16687
Those are  C api function. Accessing them wlll require some changes to r2 source code.

[2020-04-22 19:02] karliss opened #16689 "Panel mode can be accesed in non-interactive mode"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | ArchLinux x86_64
| File format of the file you reverse (mandatory)      | PE, ELF etc.
| Architecture/bits of the file (mandatory)            | x86_64
| r2 -v full output, **not t

[2020-04-22 19:42] 08A commented on #12061
Yes

[2020-04-22 19:48] #16668 closed

[2020-04-22 19:51] radare commented on #16686
thats totally expected, you must create your custom .h files to load into r2, we dont use gcc/clang so there will be many missing defines and such.

[2020-04-22 19:55] typoon commented on #16686
In this case, I am reversing a UEFI binary. I need to have those type
definitions from the headers, and it would be really hard to build a file
with them. Also, if some definitions change between versions, the I would
have to recreate a new header because of that instead of using the existing
ones.

Isn't there a way to load the headers like that, and when r2 runs into a
type it already knows, it

[2020-04-23 00:11] radare commented on #16686
Yes. The parser improves over time. But a more concrete reproducer would be better. So having the reason why a specific construction fails is the best way to solve this. Because there may be more than one issue probably.

I didnt checked the files but i assume you can probably comment regions with #if 0 until you get it to load

[2020-04-23 04:49] XVilka opened #16697 "DRCOV file format support (popular coverage format)"
DRCOV is popular file format and simple enough to be supported by radare2 out of the box. You can read more about the format here: https://www.ayrx.me/drcov-file-format

See the Lighthouse parser: https://github.com/gaasedelen/lighthouse/blob/master/plugin/lighthouse/parsers/drcov.py

Will also solve the https://github.com/radareorg/radare2/issues/14153

[2020-04-23 04:52] XVilka commented on #16687
We need to think about the general way to specify the list of values in the configuration variables, and create API correspondingly.

[2020-04-23 04:54] XVilka commented on #6828
Related: https://github.com/radareorg/radare2/issues/16697

[2020-04-23 06:54] ret2libc opened #16698 "Add --with-sys-tree-sitter in acr"
With https://github.com/radareorg/radare2/pull/16679 we got the possibility of using system tree-sitter library instead of the bundled one, in meson.

This issue is to track the additional support for this in acr as well.

[2020-04-23 07:10] ret2libc commented on #16688
Ok, so I actually removed them on purpose, but I'm ready to put them back if there is a need.

`?@?` becomes `@?`
`?|?` becomes `|?`
`?>?` becomes `>?` (actually this last one does not work, I'm preparing a PR).

What do you think? Do you prefer the original help commands back? cc @radare @XVilka

[2020-04-23 07:40] ret2libc commented on #16698
@radare I think `acr` does not support CHKLIB with a name that contains `-` (e.g. `CHKLIB tree-sitter`). This would generate the var HAVE_LIB_TREE-SITTER, which does not work. Can this be fixed? Until then, systreesitter will work only on meson. It's not that important for now anyway.

[2020-04-23 09:56] m0rv4i opened #16702 "Export Ordinals not correct"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux outfield 4.19.114-1-MANJARO #1 SMP Thu Apr 2 17:04:36 UTC 2020 x86_64 GNU/Linux
| File format of the file you reverse (mandatory)      | PE (DLL)
| Architecture/bits of the

[2020-04-23 11:31] XVilka commented on #4086
@radare @condret @ret2libc @thestr4ng3r I think this one can be closed, right? Please confirm

[2020-04-23 11:48] ret2libc commented on #4086
Let's just close this IMHO.

[2020-04-23 12:30] #15581 closed

[2020-04-23 12:31] #4086 closed

[2020-04-23 13:52] typoon commented on #16686
The issue here seems to be for trying to re-implement a type that radare already knows (or is hard coded, not sure). For example, if you create a `test.h` file with the following contents:

[code]

And then try to load it with `to`, it works fine. Now, change the file to look like this:

[code]

And you get an error on the last typedef there:

[code]

So the issue seems to be that radare doesn't l

[2020-04-23 14:18] XVilka commented on #16686
Not exactly. While they are primitive for C some of the really "primitive" types like `int` or `long` are platform-dependent. And radare2 on 32bit ARM FreeBSD should be able to define structs for x64 WIndows PE files, which has a different understanding of `int` length. Thus, the `intX_t` files are considered primitive and the interpretation of the `int` by `to` depends on the current value of `e

[2020-04-23 14:31] karliss commented on #16688
I am fine with new ones. This issue should probably be left open until we switch to newshell by default and help messages can be updated.

[2020-04-23 14:47] typoon commented on #16686
I get where you are coming from, and that exact argument should allow overwriting the `*_t` types, since they are defined in terms of the real C primitive types (int, long, char, etc.). Since there is a set of configurations that specify the size of the base primitives, the `_t` ones should then be defined based on them, but if the user has a reason to overwrite those, they should be allowed to do

[2020-04-23 15:27] typoon commented on #16686
Just to make clear what I am trying to say (was on my phone hen wrote the previous reply so it was a bit short).

The `*_t` types should probably be allowed to be rewritten exactly for the reason that the user might be loading a binary of another platform or they might have a reason to be overwriting those values.
creating any of the types that were processed up to that point.

Whenever a redefini

[2020-04-23 16:47] typoon opened #16704 "Parser for `to` command can't handle typedef for multiple types"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 20.04 x86_64
| File format of the file you reverse (mandatory)      | All formats
| Architecture/bits of the file (mandatory)            | x86_64
| r2 -v full output, **not

[2020-04-23 16:49] typoon commented on #16704
Just to make it clear, this is not happening just with enums, but with any typedef that declares more than one type. So the following causes the same error:

[code]

[2020-04-23 20:34] #16689 closed

[2020-04-24 09:23] #16682 closed

[2020-04-24 11:46] radare opened #16707 "Optimize RAnalMeta and fix its naming"
that code is where DEX loading spends most of the time loading because of running this command: "Cd 4[7182378123]"

<img width="849" alt="Screenshot 2020-04-24 at 13 44 47" src="https://user-images.githubusercontent.com/917142/80209180-ddbea600-8631-11ea-99c3-d11afb07fdd6.png">

[2020-04-24 12:04] Stoo0rmq commented on #15410
Hi everyone, I am experimenting exactly the same problem.
wine version: 5.0
radar2 version: radare2 4.4.0 50

File to execute: 7zip File Manager, x86 PE
Command used: r2 -a x86 -b 32 -d winedbg://7zFM.exe
Result:
"connected"
but nothing happens afterwards. If I Ctrl+C it I got the following message:
`^Cconnect: Interrupted system call
Could not resolve address '127.0.0.1' or failed to connect
[r]

[2020-04-24 12:15] Stoo0rmq opened #16708 "Unable to use winedbg://"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template below*

### Work environment

| Questions                                            | Answers
|------------

[2020-04-24 12:16] XVilka commented on #15410
@radare WineDbg has the GDB protocol support, see: https://wiki.winehq.org/Wine_Developer%27s_Guide/Debugging_Wine#GDB_mode
So the `winedbg --gdb --no-start ./Exception.exe` + `r2 -a x86 -b 32 -d gdb://localhost:34631` should work too, and **worked** in the past.

[2020-04-24 12:20] Stoo0rmq commented on #16708
Tried the @XVilka solution:
` winedbg --gdb --no-start ./Exception.exe + r2 -a x86 -b 32 -d gdb://localhost:34631 `
Obtained the following output on R2:
`gdb.io.open: Cannot connect to host.
[r] Cannot open 'gdb://127.0.0.1:59079' `
And the following output on winedbg:
`
..snip..
target remote localhost:59079
002c:002d: loads DLL  @0x7bc30000 (0<0>)
002c:002d: loads DLL  @0x7b000000 (2470912<7347>

[2020-04-25 15:34] federicodotta commented on #16543
Hi!

Maybe I found the problem. After a very short string (1 char), radare seems to fail to identify many subsequent strings (including the one that miss), as you can see at address 0x1000295db of the following screenshot:

![Screenshot from 2020-04-25 19-28-56](https://user-images.githubusercontent.com/1651767/80283813-ceffee00-871a-11ea-8bcf-d71c1018862b.png)

Thank you,
Federico

[2020-04-25 15:59] owenniles commented on #10637
I noticed what I think is a similar issue. It seems like the `tk` command does not work when `.radare2rc` is loaded automatically at startup.

Steps to reproduce:

[code]

Am I missing something here? If not, does this deserve its own issue or can it live here?

[2020-04-26 03:53] XVilka opened #16719 "[XX] db/cmd/write wen 3 writable bin - happens from time to time on some PRs"
[code]

[2020-04-26 03:54] #15937 closed

[2020-04-26 04:08] XVilka commented on #10913
@GustavoLCR if you think this can be closed - please close. No response from the issue author.

[2020-04-26 07:10] radare commented on #16543
Cc @kazarmy

[2020-04-26 07:11] radare commented on #16719
Related to umask? Cant see why this can fail randomly

[2020-04-26 12:28] XVilka commented on #16684
We need a testcase for this as well. Good catch!

[2020-04-26 14:01] geekscrapy commented on #7414
If there a way to make this "safe"? I.e. cmdj returns None for example? Seems more intuitive than throwing an error? As it's not actually an error with the command

[2020-04-26 14:17] #16543 closed

[2020-04-26 14:19] kazarmy commented on #16543
You can use `r2 -e bin.str.enc=ascii ipa://DemoHITB.ipa` if you want matching flags.

[2020-04-26 20:31] ret2libc commented on #16684
There is actually a tests for this, but it checks the "wrong" behavior. What I'd like to know if this is really a bug or a feature?! @radare

[2020-04-27 04:36] XVilka opened #16726 "Windows build is broken"
vs2019 (see https://ci.appveyor.com/project/radareorg/radare2/builds/32451579/job/2j0hmli8av9dt88o#L2345):
[code]

clang-cl (see https://ci.appveyor.com/project/radareorg/radare2/build/job/ynvvq9ahcwwdqd7l#L109):
[code]

[2020-04-27 05:28] #16531 closed

[2020-04-27 08:36] ret2libc commented on #16726
This is weird though... The first commit to have red appveyor is https://github.com/radareorg/radare2/commit/670e08779527a8ee9499143cc61e4e504718d64e but it seems the related PR was green. This does not look like a random failure either, does it? What's going on???

[2020-04-27 08:42] radare opened #16727 "Rename core->assembler to rasm"

[2020-04-27 08:42] radare commented on #16727
comments @thestr4ng3r @ret2libc ?

[2020-04-27 08:48] thestr4ng3r commented on #16727
https://gitlab.freedesktop.org/mesa/mesa/-/blob/master/include/GL/gl.h#L549

[2020-04-27 08:52] ret2libc commented on #16727
Same as https://github.com/radareorg/radare2/issues/16727#issuecomment-619830239

[2020-04-27 11:12] XVilka opened #16729 "Improve r2r speed on Windows"
I think there might be some bottlenecks in that, it takes around 10 min on Linux and 30 min on Windows.

[2020-04-27 13:20] radare commented on #16727
🙄

[2020-04-27 13:44] radare commented on #16698
fixed in acr-1.8.2

[2020-04-27 17:41] radare opened #16730 "RVector bugs"
there  are some more bugs in rpvector. but ill try to report them as separate issues

* vector grows linearly, when it should grow depending on the index if its larger than the next vector capacity (see below)

[code]

[2020-04-27 17:56] ret2libc commented on #16590
Hi @Shaddy , could you test the fix provided in https://github.com/radareorg/radare2/pull/16648 and see if it works for you? Thanks!

[2020-04-27 18:33] radare opened #16731 "RPVector grows without filling the new slots with nulls"
This results in UB and crashes when trying to use those unitialized slots.

not initializing to null only makes sense when initializing the whole array with user provided data. otherwise it should be initialized to null

[2020-04-27 19:36] radare opened #16732 "RVector api to assign, but not to get"
to get the ptr at a given index you have to use index_ptr and then dereference the pointer, ideally that pointer should be peeked with a proper api

[code]

[2020-04-27 21:13] #16702 closed

[2020-04-27 21:24] m0rv4i commented on #16702
♥️

[2020-04-27 22:03] pelijah commented on #16729
Tests from `db/asm` take ~30s. As you can see here more than a half of that time is spent on `CreateProcess()`.
![изображение](https://user-images.githubusercontent.com/16493991/80424849-37052e80-88eb-11ea-9458-f4be01dfd6d7.png)

[2020-04-27 22:06] pelijah commented on #16729
On Linux `db/asm` tests take ~14s.

[2020-04-27 22:09] Shaddy commented on #16590
@ret2libc I've tested and talked with @radare internally. It was not working, but found out the reason and it is working now (see #166148)

[2020-04-28 03:47] radare commented on #16636
Now the feature is working, but the implementation could be much better. feel free to try the branch if you can't wait until merged :)

[2020-04-28 04:31] XVilka commented on #6734
@GustavoLCR @yossizap please take a look and check if this should be closed.

[2020-04-28 04:34] XVilka commented on #3961
@ret2libc @radare please check this one, I think can be closed?

[2020-04-28 07:05] radare commented on #16684
Only for comments afaik

[2020-04-28 07:07] radare commented on #7414
If the output of cmdj is not a json then it should fail not return none. Because it would be a bug in r2

[2020-04-28 07:41] ret2libc commented on #16684
Perfect, then I will treat this as a bug (which should be fixed by newshell).

[2020-04-28 07:45] ret2libc commented on #3961
I think nothing has changed on this, so I'm not sure. Though the bug is a very old one and there were no more complaints (?)

[2020-04-28 08:17] liranzw commented on #16636
Wow. That was really fast. Thank you very much!

[2020-04-28 08:17] #16636 closed

[2020-04-28 10:58] radare opened #16736 "RBinObj leaks"
RBinPlugins can create RBinObjs but it is not possible to free them, so all that internal plugin info is leaking, see

https://github.com/radareorg/radare2/pull/16706/files#diff-b4307134b5b494e1ff0c917431905623R18

[2020-04-28 11:29] SylvainCecchetto opened #16737 "[PE][Header] Missing section"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.15.4
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (m

[2020-04-28 11:39] radare commented on #3961
imho it fine to close it

[2020-04-28 11:49] #3961 closed

[2020-04-28 11:57] #16158 closed

[2020-04-28 12:32] 08A commented on #12732
@ret2libc Hi, i was starting a small refacto, the idea was limiting the usage of `Elf_(Dyn) *dyn_buf;` inside `ELFOBJ`.

Some entrie like `DT_RUNPATH` could have a valid value of 0. But inside `struct Elf_(r_bin_elf_dynamic_info)` the default value is 0. So we need to init the struct with the value -1.

The only problem is that the definition of `Elf_(Addr)` and `Elf_(Xword)` have a different size

[2020-04-28 12:38] ret2libc commented on #12732
i'd say this one.

[2020-04-28 12:44] SylvainCecchetto opened #16739 "[PE][Header] Missing import entries"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.15.4
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (m

[2020-04-28 14:10] fenugrec commented on #3961
partly because I haven't used r2 in many years !
palloc() looks better now, but what I said back then still has some truth:

- palloc() doesn't check the result of calloc()  : see https://github.com/radareorg/radare2/blob/9079a7bd96d9cc950002b813d6249ad1d97ce227/libr/cons/cons.c#L602
- some callers do nothing if palloc() returns false

I wasn't able to compile r2 for a quick test, and I'm not runn

[2020-04-28 15:57] thestr4ng3r commented on #16731
Exactly. That is why it doesn't initialize and it's the desired behavior. It's the user's responsibility to initialize the data.

[2020-04-28 15:57] #16731 closed

[2020-04-28 15:59] thestr4ng3r commented on #16730
The proposed fix is wrong but yes, this is a bug indeed.

[2020-04-28 16:02] thestr4ng3r commented on #16730
Or well it depends on how "insert" is interpreted. Right now it is correct if the index is only allowed to be in the range [0, vec->len]. I'm not sure if we really should allow more. Normally you should just use `r_vector_reserve()`, then `r_vector_assign_at()`. Insert will really "insert" and move the elements behind the index further.

[2020-04-28 16:06] thestr4ng3r commented on #16732
I think most of the time you will want to do something like this, without copying:
[code]

But ofc a getter that copies could be added too.

[2020-04-28 17:45] Shaddy commented on #16590
@ret2libc @radare I tested the last branch and it works fine in 32-bit, good job :)!

[2020-04-28 22:18] radare commented on #16698
You can finish the pr after updating acr

[2020-04-29 04:21] #16739 closed

[2020-04-29 04:22] #16737 closed

[2020-04-29 04:24] XVilka commented on #16737
Would be nice to have a test for this

[2020-04-29 04:24] XVilka commented on #16739
Would be nice to have a test for this

[2020-04-29 06:05] XVilka commented on #12755
Ideally, it should be minimized and added as a test case. And closed, since there is no response from the author.

[2020-04-29 06:09] XVilka commented on #4868
Please update the issue, maybe split.

[2020-04-29 07:49] SylvainCecchetto commented on #16737
Thank you for the fix. Should I add the binary in https://github.com/radareorg/radare2-testbins/tree/master/pe via a PR? Or you will do? Not sure about the unit test procedure.

[2020-04-29 09:23] ret2libc commented on #16698
I will do it sometime in the next weeks, it's not high prio as anyway few distros are shipping tree-sitter right now and those who do are probably using meson. Anyway, it's in my todo list.

[2020-04-29 10:54] radare commented on #16698
Should be done before the release (may 25)

[2020-04-29 10:58] radare commented on #12755
Skuater should have a look at it. Or maybe gustavo

[2020-04-29 14:26] rgnkn opened #16744 "extend "?*" for plugin documenation"
I have a bit of a strange request. I use from time to time the "?*" command within r2 to gain some rough overview on changes by diffing - I can imagine that you might raise your eye brows, but I'm generally quite lazy ;-)

My luxury "problem" is that "?*" doesn't output documentation on plugins, e.g. with r2-ghidra installed I need to state an additional "pdg?" in order to get the according inform

[2020-04-29 15:01] karliss commented on #16744
As part of shell rewrite done by @ret2libc the way commands are stored and managed is also being rewritten. Once all of that is finished recursive help should also work with plugins as long as they are using the new API.

[2020-04-29 18:04] pelijah commented on #16729
Ok it is my fault. It turned out that this sufficient `CreateProcess()` slowdown is caused by antimalware service.

[2020-04-29 22:53] GustavoLCR commented on #12755
I can't reproduce it even using the same version of r2 as him. Maybe he uploaded the wrong bin?

![image](https://user-images.githubusercontent.com/23562137/80654593-03451880-8a53-11ea-988f-bc9c07e508ae.png)

[2020-04-30 04:07] XVilka commented on #12755
Lets close then. We will reopen if it will be confirmed.

[2020-04-30 04:07] #12755 closed

[2020-04-30 09:12] ret2libc opened #16748 "ambiguity in help of some commands"
Right now we use `?` to get the help of a list of commands.
For example:
[code]

I would expect to be able to do also:
[code]
and get something like:
[code]

Does this make sense?
If it does, how to get the help of the command named `fd`? If you do `fd?` you get only the help of all the subset of commands, but not of `fd` itself.

What shall we use? `fd??` ?

cc @karliss @radare @XVilka @thestr4ng

[2020-04-30 09:39] karliss commented on #16748
In my opinion merging the two is acceptable so that there is single help.

[code]

In the current help examples and subcommands sections are merged either way is acceptable for me.  There are some commands that already print more detailed description of command for example `afll` and many of the special commands and modifiers like `~`.

Depending on needs the extended description part could contai

[2020-04-30 09:51] ret2libc opened #16749 "commands help: what we want"
With the new parser and work ongoing to improve RCmd so that commands are directly called by it and not with a set of switch/cases everywhere, it's probably a good time to choose what kind of information we want to show for help.

When the refactoring in RCmd will be done, help messages should be printed dynamically by RCmd itself, based on the structure defined during the registration of commands

[2020-04-30 10:02] ret2libc commented on #16749
For each RCmdDesc I think we need at least:
* `summary` of the command. Example: `afB` would have as a summary `set current function as thumb (change asm.bits)`. This `summary` can be used when printing the help of `af?`
* `args_str`. Example: `afB` would have as `args_str` `[bits]`. This `args_str` can be used when printing the help of `af?`, to show something like `| afB [bits]    # summary`
* `

[2020-04-30 10:22] karliss commented on #16749
*  Nontrivial argument description.   `afll?`   `pf??`   `ag?`  `wA`  . This more or less belong to description unless it's very long.
* Legend/command output description `pxA?`. Part of description unless very long.

[2020-04-30 11:00] karliss opened #16750 "Tab complete improvments"
**Is your feature request related to a problem? Please describe.**
Having structured information about about all the commands as could be provided after a few iterations in the direction started by #16738 opens potential for improving tab complete.

**Describe the solution you'd like**
* Knowing all the commands removes the need for hard-coded list currently used
* Grid of few hundred command name

[2020-04-30 11:01] karliss commented on #16748
Searching examples for #16749 I noticed that for some commands full description might be quite long `ae??`. In those cases might be better to keep it separate. So maybe keep description and sub-command list together if description is short or there are no commands otherwise have the command for extended help.

Another potential tool for accessing the help messages is tab complete I wrote some idea

[2020-04-30 11:59] ret2libc commented on #16748
I personally find a bit confusing having sometimes the help of the sub-command embedded and other times separated.

[2020-04-30 12:41] kazarmy commented on #16729
It was worth investigating, though it doesn't seem to be where the big slowdowns are.

[2020-04-30 16:46] pandasauce commented on #15674
I should add that it works perfectly in WSLtty, so it probably has more to do with the Windows build/env detection than with mintty itself.

[2020-05-03 07:30] pawlos opened #16757 "Crash when exiting visual panels mode with tabs"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 18.04 64bit (WSL)
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not tr

[2020-05-03 07:45] radare commented on #16757
Can you paste the output of asan?

[2020-05-03 08:19] pawlos commented on #16757
=================================================================
==3434==ERROR: AddressSanitizer: heap-use-after-free on address 0x60400038e598 at pc 0x7f5115dd5501 bp 0x7ffd9e74e030 sp 0x7ffd9e74e020
READ of size 8 at 0x60400038e598 thread T0
    #0 0x7f5115dd5500 in __free_menu_item /home/ubuntu/radare2/libr/core/panels.c:4972
    #1 0x7f5115ddb305 in __mht_free_kv /home/ubuntu/radare2/libr/cor

[2020-05-03 09:25] radare opened #16758 "RVector have no way to chk if its empty"

[2020-05-03 09:25] radare opened #16759 "RVector and RPVector methods are not in sync"
just defines to pass .v

[2020-05-03 09:29] thestr4ng3r commented on #16759
wat

[2020-05-03 09:42] #16759 closed

[2020-05-03 09:42] radare commented on #16759
nvm they are in the .h

[2020-05-03 09:44] radare commented on #16757
uhm are you using r2 4.0? because the lines of the errors dont match what i have in master

[2020-05-03 09:48] pawlos commented on #16757
@radare yes, building with `./sys/install.sh` but let me rebuild again

[2020-05-03 10:09] pawlos commented on #16757
@radare sorry, it was a mistake on my side not using the latests. The latest doesn't crash in that exact spot but building with the `./sys/sanitizer.sh` and doing the same steps I'm getting a lot of output from it (~ 2MB file).

Should I post that output instead?

[2020-05-03 18:30] radare commented on #16757
in line:
[code]

i have this:
``
demo_end:                         r_cons_clear00 ();
[code]

[2020-05-03 20:29] pawlos commented on #16757
@radare check my previous [comment](https://github.com/radareorg/radare2/issues/16757#issuecomment-623085911). I've re-did and the crash does not occur but asan produce a lot of other messages about leaked bytes.

[2020-05-03 23:31] radare commented on #16757
Can you update the issue title and description ? It’s a memleak instead of a crash, right?

[2020-05-04 02:34] 18345093167 opened #16763 "How to use on Android"
I want to debug so file on Android

**Describe the solution you'd like**
use commmand like r2 on PC. No need source to debug so file.

[2020-05-04 07:00] ret2libc commented on #16732
I'm not sure I understand exactly what you'd like to have @radare

[2020-05-04 07:01] ret2libc commented on #16726
This is fixed, isn't it @radare @XVilka ?

[2020-05-04 07:16] ret2libc opened #16766 "Update tree-sitter as soon as a new release is done"
tree-sitter got support for old compilers (e.g. the one in CentOS 6/RHEL 6), but there was no upstream release yet. As soon as a release will be done (or anyway before new radare2 release) update it.

[2020-05-04 07:42] XVilka commented on #16726
It was solved by meson downgrade, but the reason of error is still unclear. It still might be r2 fault, it needs a investigation.

[2020-05-04 09:03] pandasauce commented on #15674
Solved in #16747 and by running r2 with `TERM` set to `xterm`.

[2020-05-04 09:03] #15674 closed

[2020-05-04 10:20] radare commented on #16763
This is not a forum. Use irc or telegram to ask questions

[2020-05-04 10:20] #16763 closed

[2020-05-04 14:05] XVilka commented on #6734
Closing as irrelevant then.

[2020-05-04 14:05] #6734 closed

[2020-05-04 14:06] XVilka commented on #3159
@dukebarman could you please try again?

[2020-05-04 15:43] pawlos commented on #16757
@radare updated

[2020-05-04 23:15] ivanzinhoa opened #16768 "Register names list as comments at top of AVR binary."
I have created a simple blinky program using Atmel Studio 7, it is just 5 lines of code, I convert the produced HEX file into a BIN, run R2 with that binary file, get the first disassembled instructions with the command line "pD 10" and then I see a list of the names of the registers as comments along with the 10 instructions I requested, it is useless and I don't need to list the register names,

[2020-05-05 13:51] #16343 closed

[2020-05-05 14:14] sylvainpelissier commented on #11978
The problem is solved with qemu 4.2.

[2020-05-05 16:45] radare commented on #11978
can we close this issue here? it's not our fault that qemu is buggy

[2020-05-05 16:52] radare commented on #16768
e asm.comments=false

[2020-05-05 21:48] ivanzinhoa commented on #16768
Please, I tried that before posting the issue. The problem is really annoying especially on Cutter, I'm using a laptop screen so if I jump to the first instruction it just shows those unuseful comments. This is a bug.

[2020-05-05 22:33] GustavoLCR commented on #16768
e asm.flags=false

[2020-05-05 23:26] ivanzinhoa commented on #16768
Thank you, that worked for the command line.

Now I want to do it on Cutter but there isn't a check on Preferences menu, I also run Cutter.exe --help but there is no option, also I looked for a config file or so but I wasn't able to find any, is there a way to achieve that same "asm.flags=false"?

[2020-05-05 23:51] GustavoLCR commented on #16768
click on Windows->Console, then you can type the command in there

[2020-05-06 00:04] ivanzinhoa commented on #16768
Thank you very much @GustavoLCR that also worked.

[2020-05-06 00:40] #16768 closed

[2020-05-06 01:35] XVilka commented on #15588
@radare can you please send a pull request for this?

[2020-05-06 03:58] #11808 closed

[2020-05-06 05:13] XVilka commented on #16493
2 left:
![image](https://user-images.githubusercontent.com/203261/81140275-68d95d80-8f9b-11ea-9eae-2f991c97ff1f.png)

[2020-05-06 07:22] sylvainpelissier commented on #16393
Do you have practical use cases or example for this one ?

[2020-05-06 09:27] ishitatsuyuki opened #16777 "x86 pseudo for LEA is wrong"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10/Arch linux amd64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86 (32-bit)
| r2 -v full output,

[2020-05-06 10:24] rickhg12hs opened #16778 "`movq rax, xmm0` doesn't work in native debugger"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 29/x86_64
| File format of the file you reverse (mandatory)      | ELF 64-bit LSB shared object
| Architecture/bits of the file (mandatory)            | x86-64
| r2 -v full

[2020-05-06 12:15] karliss commented on #16778
I don't see you starting the debugger. So you are probably running ESIL emulation not the native debugger. ESIL currently isn't properly supported SIMD  #4327 #11421

[2020-05-06 12:21] rickhg12hs commented on #16778
@karliss I'm still getting familiar with radare2.  How would I use the native debugger to step through a few instructions, like I tried here in this ELF SO?

[2020-05-06 13:48] kazarmy commented on #16778
Why not?

[2020-05-06 13:48] #16778 closed

[2020-05-07 05:21] XVilka opened #16779 "Support writing Python byte data"
If you dump some data in Python it looks something like that:
[code]
where `\x00` is `0x00`, `\xf0` is `0xf0`, `\x10` is `0x10`, `\xab` is `0xab`.
On the other hand, `U`, `[.`, and `B` here are the ASCII characters.
Often you need to deal with such data from logs/etc. Would be awesome to support not also for printing it with `pcpb` (as opposed to `pcp` which uses `struct.pack()`), but also `wxp`.

[2020-05-07 07:26] radare commented on #16779
Seems like a very issue thing you can make a pr for it will be easier to do it than describing how you want it

[2020-05-07 07:49] xarkes commented on #16779
The description is clear enough in my opinion, at least I understood it after first read, so correct me if I am wrong but XVilka is suggesting the addition of the command `wxp` that would work as follow:
`wxp b'Hello'` will write the bytes `Hello` (`0x48 0x65 0x6c 0x6c 0x6f`)
`wxp b'\xc0\xfe\xba\xbe'` that will write the bytes `0xc0 0xfe 0xba 0xbe`
`wxp b'Hi\x20there'` that will write the bytes `H

[2020-05-07 13:42] ret2libc commented on #16749
[code]

Is it really useful to have the first line `Usage: p[=68abcdDfiImrstuxz] [arg|len] [@addr]`? Do we want to keep it? I'm not sure about that, since anyway all the information are already in the list of commands and the arguments can be really different between different commands, so you should really see the specific command if you want to know more about the arguments of a command.

Opinio

[2020-05-07 15:01] radare opened #16781 "Add configure option to make r2 builds without dlopen support"
This is very useful for static builds that may crash trying to load plugins or you just want faster startup times without having to use the -N or the R2_NOPLUGINS env var

[2020-05-07 16:21] arnaugamez opened #16785 "GML graph export from ESIL dataflow graphs (aeg) is broken"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 19.10 x64
| r2 -v full output, **not truncated** (mandatory)     | radare2 4.5.0-git 24779 @ linux-x86-64 git.4.4.0-141-gbeb2f2dd9 commit: beb2f2dd948543c0ed82d5d08d5e3fcc5

[2020-05-07 20:02] radare commented on #16785
Use yfiles to load those graphMl files. There are several standards. Just to confirm

[2020-05-08 11:34] arnaugamez commented on #16785
Yes it's broken. It even does not include the informatino of graphs. I paste here a ultrasimple example.

Generate the graph with this ESIL expression:
`.aeg edi, esi, +,  eax, =, edx, eax, *=`

If you visualize it with `aggv` for example you get this:
![image](https://user-images.githubusercontent.com/5301529/81401631-06659600-9130-11ea-8e74-a446be347160.png)

Now just use `aggg` to see the GML o

[2020-05-08 17:57] yusefkarim opened #16788 "Remote debugging problems for ARM via OpenOCD connection"
While attempting to connect to the gdb-compatible server provided by running OpenOCD I ran into several issues.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux (kernel 5.6.10) x86-64
| File format of the file you re

[2020-05-08 19:59] radare commented on #16788
Seems like the gdb regprofile is not being parsed properly

[2020-05-09 00:06] abcSup commented on #14986
I actually looked into this weeks ago and was researching on how `gdb` is able to keep track of the stack frames. It turned out that `gdb` does not actively keep track of the stack frames during execution and the backtrace is generated on requests. I also asked in their irc and was told that `gdb` should not be able to resolve the stack frames past `#1 0x41415041414f4141 in ?? ()` because the base

[2020-05-09 09:33] radare commented on #16779
That will break the new parser @ret2libc

[2020-05-09 10:57] radare commented on #16749
The oneliner help can become useless when there are lot of subcommands.. maybe we can set a limit and just add ... if doesnt fit, for short ones i think its fine at least it makes my eye read it faster but its also fine and simpler to just skip them and describe them below

[2020-05-09 12:26] ret2libc commented on #16779
Why? I don't think it breaks it, it should be supported (unless there are bugs ofc)

[2020-05-09 12:27] 08A opened #16790 "With `~...` selection you can't select with a mouse"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template below*

### Work environment

| Questions                                            | Answers
|------------

[2020-05-09 12:41] radare commented on #16779
Well it will require a specific parser to handle this specific argument syntax and dont escape the escaped chars

[2020-05-09 14:55] SjRNMzU opened #16791 "Segmentation fault opening binary"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian Sid, x86_64
| File format of the file you reverse (mandatory)      | ELF64
| Architecture/bits of the file (mandatory)            | x64 ELF
| r2 -v full output, **not trunc

[2020-05-09 14:56] SjRNMzU commented on #16791
Uploading the file through Github failed. I've also uploaded it here - https://transfer.sh/69vmM/libBlocksRuntime.so.0.0.0

[2020-05-09 15:09] XVilka commented on #16791
GitHub expects you to zip it before.

On Sat, May 9, 2020, 22:56 SjRNMzU <notifications@github.com> wrote:

[2020-05-09 20:27] ret2libc commented on #16779
It works well already, there is no need to modify anything because strings between single quotes are not modified (same as in bash)

This is the syntax tree:
[code]

[2020-05-10 04:58] abcSup commented on #12179
Thanks for reporting the issue!

`r2 -d ./ch23.bin gdb://localhost:8686` will actually run `./ch23.bin gdb://localhost:8686` on your host instead of connecting to the remote ARM gdbserver. Please try `r2 -d gdb://localhost:8686' and let me know if it works.

[2020-05-10 08:13] redmed666 opened #16797 "Qiling/gdb remote debugging not working"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Kali x64 64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (man

[2020-05-10 09:58] #16791 closed

[2020-05-10 15:54] elp0t0r1c0 commented on #16779
hmm:

[code]
This is already implemented, by just using 'w'.

[2020-05-10 17:17] radare opened #16801 "So much unorganized sub"
we have jmpsub, regusub, relsub varsub tailsub.... and imho all those should be living under `asm.sub`. Feedback on this?

[code]

[2020-05-10 17:34] radare commented on #16801
Also i cant find a way to get a plain low leel dissasm which means calls without replaced symbols, etc
[code]

[2020-05-11 02:44] XVilka commented on #16797
Qiling is based on the unicorn, right? Which is based on the very old qemu, whose gdbserver has changed protocol a bit since. Just a blind guess though.

[2020-05-11 06:30] XVilka commented on #16801
Makes perfect sense, agree.

[2020-05-11 06:38] redmed666 commented on #16797
Hi,

Apparently, Qiling is implementing itself its gdbserver (in `qiling/debugger/gdbserver/gdbserver.py`). I will try to see the differences between their implementation and what radare2 expects.

[2020-05-11 07:38] radare commented on #16797
You missed the -d flag in r2

R2 wprks well with qilin

[2020-05-11 07:42] radare commented on #16779
Yep. But if people want the b’’ wrap..

[2020-05-11 07:48] xarkes commented on #16779
I would say either make `w` compliant or chose not to support `b''`.
I'm not in favor of adding yet another command.

[2020-05-11 07:59] radare commented on #16779
Me neither. Never seen the point of having python3 specific syntax to work as input for r2 when we have very similar and more generic ways to do so

[2020-05-11 08:11] XVilka commented on #16779
I didn't knew it's supported in plain "w". Marking as solved.

[2020-05-11 08:11] #16779 closed

[2020-05-11 09:16] XVilka opened #16805 "`db/anal/arm ao 16 after ao 32` often fails on MacOS in GitHub Actions"
The failure seems random, but happens quite often:
[code]
https://github.com/radareorg/radare2/runs/662640843#step:11:48

[2020-05-11 09:27] XVilka opened #16806 "Support loading coredumps from the standard locations"
Sometimes, figuring where coredump was put, and if is enabled is tricky. Radare2 can help to handle this automatically, see e.g. https://stackoverflow.com/questions/2065912/core-dumped-but-core-file-is-not-in-the-current-directory

- [ ] Linux
- [ ] MacOS
- [ ] *BSD
- [ ] Windows

[2020-05-11 10:00] XVilka opened #16808 "Add Docker Publish action"
https://github.com/marketplace/actions/publish-docker

To push here: https://hub.docker.com/repository/docker/radare/radare2

I tried to trigger it on DockerHub, but seems not working, probably because of the `radare`->`radareorg` repository transfer.

[2020-05-11 10:27] redmed666 commented on #16797
Indeed, the -d flag was missing. But I have another issue. It seems that radare2 doesn't handle properly the breakpoint address properly. It doesn't add the PE base address to the entrypoint address. So it connects to qiling's gdbserver, it receives correctly the address of entrypoint but doesn't break at it and begins at 0x00000 instead of 0x<base_address>

[2020-05-11 10:30] abcSup commented on #11722
Tested radare2.exe on Microsoft Windows 10 Home Version 10.0.18363 Build 18363 while connecting to a remote gdbserver on Ubuntu 18.04 LTS

[code]
[code]

It works for me. However, I realized that radare2.exe on Windows does not generate most of the symbols. Meanwhile, r2 on my Ubuntu shows the symbols while connecting to the same gdbserver.

[code]

I suggest @reijin90 try again with the latest r2

[2020-05-11 10:43] abcSup opened #16810 "Missing symbols when debugging a remote gdb on Windows"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Microsoft Windows 10 Home Version 10.0.18363 Build 18363
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86_

[2020-05-11 10:58] abcSup commented on #8931
Hello @bannsec. Thank you for reporting the issue and I am here to check again if the issue is still ongoing. I appreciate that if you can help me to confirm it again with the latest `r2` or you can provide me with more details (steps, files, platforms) on how to reproduce the issue.

`r2` has changed a lot since you reported the issue. I can confirm that doing `is` after connecting to a remote gd

[2020-05-11 11:25] XVilka commented on #16808
Added, but feel free to improve

[2020-05-11 11:47] radare commented on #16808
Imho we should ship it in Alpine , the final base image would be smaller

[2020-05-11 14:30] radare commented on #16797
use -B or -m to map the bin in the same baddr of the remote site to slide those offsets

[2020-05-11 15:18] radare commented on #16805
that's an UAF

[2020-05-11 17:38] redmed666 commented on #16797
Ok, found a way to make it work.

1) `r2 -`
2) `doof gdb://127.0.0.1:9999/0`
3) enjoy

The file is mapped and the commands are working as expected so that's nice. But that seems pretty quirky that `r2 -d gdb://127.0.0.1:9999/0` doesn't work, no? Or at least maybe that could be documented somewhere?

Thanks for your help!

[2020-05-12 00:16] abcSup commented on #16788
@yusefkarim Currently, I do not own any hardware to reproduce the error. Based on the error messages you provide, I have created a small branch fix on my fork https://github.com/abcSup/radare2/tree/fix-16788-regprofile . For now, you could just `git clone` and build from source yourself. I would not create a PR yet until I can make sure that this works for you and I do not break gdb for other targ

[2020-05-12 03:58] XVilka commented on #16805
Looks reproducible also on OpenBSD: https://builds.sr.ht/~xvilka/job/206261#task-test-0

[2020-05-12 07:09] ishitatsuyuki commented on #16777
@radare Can you comment on which syntax is expected for the pseudocode? Was the revert in #9126 supposed to give the correct behavior?

[2020-05-12 08:46] radare commented on #16777
I prefer

Lea rax, sym.foo

Rather than

Lea rax, [sym.foo]

[2020-05-12 08:46] radare commented on #16805
On it

[2020-05-12 08:47] radare commented on #16797
Yeah the -d way should work

[2020-05-12 09:10] ishitatsuyuki commented on #16777
I asked for pseudocode, and you replied with x86 disassembly.

If it's about pseudocode then I prefer `rax = sym.foo` as well.

[2020-05-12 09:54] XVilka commented on #16806
See also https://github.com/radareorg/radare2/commit/0d78c577a3c66ff493073d321a35b3c8b6782f86

[2020-05-12 12:31] radare commented on #7519
@XVilka i have updated the issue text and title to be in sync with the current situation

[2020-05-12 16:51] radare commented on #16777
Yes. Actually if you change the disassembly like i propose the pseudocode will look like u said

[2020-05-12 17:03] radare commented on #16785
@ret2libc can you fix this issue ?

[2020-05-12 17:51] #16805 closed

[2020-05-12 21:21] yusefkarim commented on #16788
@abcSup Thank you for looking into this! Your patch fixed the `r_reg_get` assertion, the output of `dr` now yields:
[code]
which looks correct to me (ignoring the values).

I am still having the same problem when trying to start `r2` though. I must run the command,
[code]

several times before it successfully connects, each failure I get the error:

[code]
Does this warrant a new bug report?

[2020-05-12 23:37] radare commented on #16727
Fixed in https://github.com/radareorg/radare2/pull/16814

[2020-05-12 23:37] #16727 closed

[2020-05-13 03:22] abcSup commented on #16788
Thanks for letting me know that it works.

Best to keep it in this issue. I have read that, but the error messages are not enough for me to debug.
[code]
[code]
Let me know if there is a way I can setup OpenOCD connecting a VM without the hardware or you could capture the packets between the gdb server/client using Wireshark.

[2020-05-13 10:02] ITAYC0HEN commented on #15644
@thestr4ng3r @radare now that the work you guys did with Analysis Blocks merged, this issue can be solved?

[2020-05-13 15:44] yusefkarim commented on #16788
I am not aware of any way to do my setup without actual hardware. I have gone ahead and done several packet captures of successful and failed attempts. I have attached two pcaps of each type.

One thing I found is on a **successful** attempt, OpenOCD prints out:
[code]
I don't know if that helps at all.

I don't use Wireshark very often so if I did something wrong or you need more information just

[2020-05-13 18:03] flobotics commented on #10183
Hi,
the issue with this is, that after a restart, it does not stop at breakpoints anymore, even the breakpoints still exists.

[code]

[2020-05-14 00:31] swoops opened #16820 "`aaa;zg` fails assertion `size > 0` in sign.c"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Kali and Arch Linux, amd64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86 64 bit
| r2 -v full output, **

[2020-05-14 09:04] XVilka commented on #16130
Updated the report.

[2020-05-14 09:21] XVilka commented on #16130
@FXTi it found some leaks in Python plugin as well.

[2020-05-14 09:33] radare commented on #15121
i think its fine like its now, i would close this issue, because its not a real problem, and there's no actual proposal to change, nobody complains on the current visual tabs style. and yes, it can be improved, but i would prefer to have some stylish proposals

[2020-05-14 09:34] radare commented on #15109
sort is implemented already, and join is more or less implemented in my comma PR.

[2020-05-14 09:35] radare commented on #15109
The comma (nd) allows to load multiple table outputs into a single table, so it can be postprocessed in a handy way

[2020-05-14 09:35] radare commented on #15109
So imho this pr can be closed when https://github.com/radareorg/radare2/pull/16824 gets merged

[2020-05-14 11:44] FXTi commented on #16130
It shows 76 errors. Let me check.

[2020-05-14 15:56] radare commented on #16130
👍

[2020-05-14 21:26] #16797 closed

[2020-05-15 10:03] FXTi opened #16827 "Support CALL_* python bytecodes analysis"
Now, pyc's anal plugin can give out jump info in function. But call info between functions needs more analysis.

CALL_* opcodes call function based on stack context, not anything like a pointer to called function.

**Possible Implementation**

I suggest emulating the stack across basic blocks.

Please be  aware of **ternary operator** and this example: https://godbolt.org/z/WaXdRG. Solution like *

[2020-05-15 11:47] XVilka commented on #7310
@pelijah please open a separate issues for these.

[2020-05-15 12:09] pelijah commented on #7310
I would prefer to send PR. One issue has already been fixed by me. Just let me some time.

[2020-05-16 06:39] FXTi commented on #14866
Python bytecode plugin has been moved into the main repository. Someone change the issue's title please.

[2020-05-16 08:36] radare commented on #14866
Why lua?

[2020-05-16 17:52] GustavoLCR opened #16832 "newshell: Error while parsing command: `&`"
Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows x64
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| r2 -v full output, **not truncated** (mandatory)

[2020-05-16 23:12] pelijah opened #16833 "r_core_anal_fcn() doesnt analyze some symbols"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | any
| File format of the file you reverse (mandatory)      | any
| Architecture/bits of the file (mandatory)            | any
| r2 -v full output, **not truncated** (mandatory)

[2020-05-17 04:13] XVilka opened #16837 "Pyc code warnings"
[code]

[2020-05-17 10:24] pelijah opened #16842 "`af` doesn't create a new function at the address which is reached by jump from two or more function"
*If you would like to report a bug, please fill the template below*

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | any
| File format of the file you reverse (mandatory)      | any
| Architecture/bits of the file (mandatory)

[2020-05-17 10:28] pelijah commented on #16842
If you change the order, `af` doesn't even create `sym._obstack_begin` function.
[code]

[2020-05-17 10:33] pelijah commented on #16842
Related issue: https://github.com/radareorg/radare2/issues/16833

[2020-05-17 12:51] #16837 closed

[2020-05-17 19:07] radare opened #16843 "Flags should not start with numbers"
This is something that is valid now for some reason. dunno when this changed but imho flags should not start with digits and we should have tests for this

![Screenshot 2020-12-11 at 13 49 16](https://user-images.githubusercontent.com/6431515/101905387-aea47700-3bb7-11eb-907a-732d83195b7e.png)

![Screenshot 2020-12-11 at 13 50 16](https://user-images.githubusercontent.com/6431515/101905472-d136900

[2020-05-17 19:19] gitjeff2 commented on #4174
I can confirm the observations of @radare with respect to this issue.

I am conducting disassembly and source code archaeology of a C64 game cartridge just to get a better grasp of 6502 assembly. After some massaging of the disassembly output of *radare2* with vim macros to make it valid input for my assembler &mdash; [64tass](http://tass64.sourceforge.net/) in my case &mdash; it appears that all

[2020-05-17 19:21] thestr4ng3r commented on #16843
Why not?

[2020-05-17 22:32] pabx06 commented on #15699
me too looking for SREC. IDA & ghidra seems to handle it . but it would be nice to have it in radare2

[2020-05-18 01:49] XVilka opened #16846 "Better test coverage of DWARF"
Since we decided to improve our own DWARF parsing code and do not import libdwarf we need to improve its code drastically. Currently it is largely untested and we need more samples for every type of the standard:
- [ ] DWARF1 samples
- [ ] DWARF2 samples
- [ ] DWARF3 samples
- [ ] DWARF4 samples
- [ ] DWARF5 samples

[2020-05-18 08:02] radare commented on #15699
If someone have samples and time to take care of this it should be as simple as taking the ihex io plugin and rename it to srec and parse it there

[2020-05-18 08:02] radare commented on #16843
For the same reason we dont like variables starting with numbers.

[2020-05-18 14:49] ret2libc commented on #16766
See https://github.com/tree-sitter/tree-sitter/releases/tag/0.16.7 . With this, radare2 should compile on CentOS 6 and centos6-CI should be green.

[2020-05-18 16:05] ret2libc commented on #16600
@thestr4ng3r this is fixed, isn't it? AFAIR you fixed it not long ago. If not, please re-open.

[2020-05-18 16:05] #16600 closed

[2020-05-18 16:16] kazarmy commented on #16843
Agree

[2020-05-18 16:21] ITAYC0HEN commented on #16843
Currently, you can define flags which are only numbers (decimal, hex) and they will conflict with decimal and hex number in the commands. How would the program know what the user (or the automation) meant

[2020-05-18 16:22] thestr4ng3r commented on #16600
Yes, fixed in edf1be10d114e98b95aa1f6ddf7bbebf5279aa7e

[2020-05-18 16:30] thestr4ng3r commented on #16843
Depends on the parser. If we want to support args in commands that can be both a number or a flagname then I agree on this suggestion and I think forbidding leading digits is a good way to do so since you also catch cases like `0x1337`.

[2020-05-18 16:51] #16832 closed

[2020-05-18 16:56] monocle-ai opened #16851 "Please ignore"
<span> What is a&nbsp;</span><span><b>Arithmetic Overflow? </b></span><span> When a narrow type integral value was shifted left, multiplied, added, or subtracted and the result of that arithmetic operation was cast to a wider type value. If the operation overflowed the narrow type value, then data is lost. You can prevent this loss by converting the value to a wider type before the arithmetic oper

[2020-05-18 16:56] monocle-ai opened #16852 "Please ignore"
<span> What is a&nbsp;</span><span><b>Arithmetic Overflow? </b></span><span> When a narrow type integral value was shifted left, multiplied, added, or subtracted and the result of that arithmetic operation was cast to a wider type value. If the operation overflowed the narrow type value, then data is lost. You can prevent this loss by converting the value to a wider type before the arithmetic oper

[2020-05-18 16:56] monocle-ai opened #16853 "Please ignore"
please ignore

[2020-05-18 16:56] monocle-ai opened #16854 "Please ignore"
please ignore

[2020-05-18 16:56] monocle-ai opened #16855 "Please ignore"
<span> What is a&nbsp;</span><span><b>Arithmetic Overflow? </b></span><span> When a narrow type integral value was shifted left, multiplied, added, or subtracted and the result of that arithmetic operation was cast to a wider type value. If the operation overflowed the narrow type value, then data is lost. You can prevent this loss by converting the value to a wider type before the arithmetic oper

[2020-05-18 16:56] monocle-ai opened #16856 "Please ignore"
<span> What is a&nbsp;</span><span><b>Arithmetic Overflow? </b></span><span> When a narrow type integral value was shifted left, multiplied, added, or subtracted and the result of that arithmetic operation was cast to a wider type value. If the operation overflowed the narrow type value, then data is lost. You can prevent this loss by converting the value to a wider type before the arithmetic oper

[2020-05-18 16:56] monocle-ai opened #16857 "Please ignore"
<span> What is a&nbsp;</span><span><b>Arithmetic Overflow? </b></span><span> When a narrow type integral value was shifted left, multiplied, added, or subtracted and the result of that arithmetic operation was cast to a wider type value. If the operation overflowed the narrow type value, then data is lost. You can prevent this loss by converting the value to a wider type before the arithmetic oper

[2020-05-18 16:56] monocle-ai opened #16858 "Please ignore"
<span> What is a&nbsp;</span><span><b>Arithmetic Overflow? </b></span><span> When a narrow type integral value was shifted left, multiplied, added, or subtracted and the result of that arithmetic operation was cast to a wider type value. If the operation overflowed the narrow type value, then data is lost. You can prevent this loss by converting the value to a wider type before the arithmetic oper

[2020-05-18 16:56] monocle-ai opened #16859 "Please ignore"
please ignore

[2020-05-18 16:56] monocle-ai opened #16860 "Please ignore"
please ignore

[2020-05-18 16:56] monocle-ai opened #16861 "Please ignore"
<span> What is a&nbsp;</span><span><b>Arithmetic Overflow? </b></span><span> When a narrow type integral value was shifted left, multiplied, added, or subtracted and the result of that arithmetic operation was cast to a wider type value. If the operation overflowed the narrow type value, then data is lost. You can prevent this loss by converting the value to a wider type before the arithmetic oper

[2020-05-18 16:56] monocle-ai opened #16862 "Please ignore"
please ignore

[2020-05-18 16:56] monocle-ai opened #16863 "Please ignore"
please ignore

[2020-05-18 16:57] monocle-ai opened #16864 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

3 instances of this defect were found in the following locations:
---
**Instance 1**
File : `libr/anal/class.c`
Functio

[2020-05-18 16:57] monocle-ai opened #16865 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

10 instances of this defect were found in the following locations:
---
**Instance 1**
File : `libr/anal/esil.c`
Functio

[2020-05-18 16:57] monocle-ai opened #16866 "Please ignore"
please ignore

[2020-05-18 16:57] monocle-ai opened #16867 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

4 instances of this defect were found in the following locations:
---
**Instance 1**
File : `libr/anal/fcn.c`
Function:

[2020-05-18 16:57] monocle-ai opened #16868 "Please ignore"
please ignore

[2020-05-18 16:57] monocle-ai opened #16869 "Please ignore"
please ignore

[2020-05-18 16:58] monocle-ai opened #16870 "Please ignore"
please ignore

[2020-05-18 16:58] monocle-ai opened #16871 "Please ignore"
please ignore

[2020-05-18 16:58] monocle-ai opened #16872 "Please ignore"
please ignore

[2020-05-18 16:58] monocle-ai opened #16873 "Please ignore"
please ignore

[2020-05-18 16:58] monocle-ai opened #16874 "Please ignore"
please ignore

[2020-05-18 16:58] monocle-ai opened #16875 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

2 instances of this defect were found in the following locations:
---
**Instance 1**
File : `libr/anal/reflines.c`
Func

[2020-05-18 16:58] monocle-ai opened #16876 "Please ignore"
please ignore

[2020-05-18 16:58] monocle-ai opened #16877 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

1 instance of this defect were found in the following locations:
---
**Instance 1**
File : `libr/anal/xrefs.c`
Function

[2020-05-18 16:58] monocle-ai opened #16878 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

1 instance of this defect were found in the following locations:
---
**Instance 1**
File : `libr/asm/arch/arc/gnu/arc-d

[2020-05-18 16:58] monocle-ai opened #16879 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

2 instances of this defect were found in the following locations:
---
**Instance 1**
File : `libr/asm/arch/arm/gnu/arm-

[2020-05-18 16:58] monocle-ai opened #16880 "Please ignore"
please ignore

[2020-05-18 16:58] monocle-ai opened #16881 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

3 instances of this defect were found in the following locations:
---
**Instance 1**
File : `libr/asm/arch/mips/gnu/mip

[2020-05-18 16:59] monocle-ai opened #16882 "Please ignore"
please ignore

[2020-05-18 16:59] monocle-ai opened #16883 "Please ignore"
please ignore

[2020-05-18 16:59] monocle-ai opened #16884 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

1 instance of this defect were found in the following locations:
---
**Instance 1**
File : `libr/asm/arch/tms320/tms320

[2020-05-18 16:59] monocle-ai opened #16885 "Please ignore"
please ignore

[2020-05-18 16:59] monocle-ai opened #16886 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

1 instance of this defect were found in the following locations:
---
**Instance 1**
File : `libr/asm/p/asm_x86_nasm.c`

[2020-05-18 16:59] monocle-ai opened #16887 "Please ignore"
please ignore

[2020-05-18 16:59] monocle-ai opened #16888 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

2 instances of this defect were found in the following locations:
---
**Instance 1**
File : `libr/bin/bfile.c`
Function

[2020-05-18 16:59] monocle-ai opened #16889 "Please ignore"
please ignore

[2020-05-18 16:59] monocle-ai opened #16890 "Please ignore"
please ignore

[2020-05-18 16:59] monocle-ai opened #16891 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

2 instances of this defect were found in the following locations:
---
**Instance 1**
File : `libr/bin/format/elf/elf.c`

[2020-05-18 16:59] monocle-ai opened #16892 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

4 instances of this defect were found in the following locations:
---
**Instance 1**
File : `libr/bin/format/le/le.c`
F

[2020-05-18 17:00] monocle-ai opened #16893 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

11 instances of this defect were found in the following locations:
---
**Instance 1**
File : `libr/bin/format/mach0/mac

[2020-05-18 17:00] monocle-ai opened #16894 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

9 instances of this defect were found in the following locations:
---
**Instance 1**
File : `libr/bin/format/mdmp/mdmp.

[2020-05-18 17:00] monocle-ai opened #16895 "Please ignore"
please ignore

[2020-05-18 17:00] monocle-ai opened #16896 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

1 instance of this defect were found in the following locations:
---
**Instance 1**
File : `libr/bin/format/pe/pe.c`
Fu

[2020-05-18 17:00] monocle-ai opened #16897 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

3 instances of this defect were found in the following locations:
---
**Instance 1**
File : `libr/bin/format/wasm/wasm.

[2020-05-18 17:00] monocle-ai opened #16898 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

1 instance of this defect were found in the following locations:
---
**Instance 1**
File : `libr/bin/mangling/swift-sd.

[2020-05-18 17:01] monocle-ai opened #16899 "Please ignore"
<span> What is a&nbsp;</span><span><b>Conditionally Uninitialized Variable? </b></span><span> The return value of a function that is potentially used to initialize a local variable is not checked. Therefore, reading the local variable may result in undefined behavior.</span>
---

7 instances of this defect were found in the following locations:
---
**Instance 1**
File : `libr/bin/p/bin_dex.c`
Func