[2016-12-05 22:16] Maijin commented on #6201
As pancake said: "Can you show an asciinema or copypaste/screenshot of that behaviour?"

[2016-12-05 22:33] TobalJackson opened #6286 "Stepping-into x64 continues unexpectedly"
Hello,

I've noticed a strange behavior when stepping-into the printf call between x32 and x64 versions of the same program:
[code]
I compile this program with:
`gcc -g -fno-stack-protector -O0 -o print_64 print1.c`
and
`gcc -g -m32 -fno-stack-protector -O0 -o print_32 print1.c`

for the 64 and 32 bit versions respectively.

My system information:
[code]
When debugging both versions, I use:
[code]

[2016-12-05 22:34] TobalJackson commented on #6286
I've uploaded the source and 2 example binaries:

[print.zip](https://github.com/radare/radare2/files/632472/print.zip)

[2016-12-06 13:54] Maijin opened #6288 "Wrong rjmp in AVR"
See the following:

[code]

[2016-12-06 14:27] radare commented on #5768
ping ?  @gtors are you working on this?

[2016-12-06 14:28] radare commented on #6262
when

[2016-12-06 14:29] XVilka commented on #6262
It's done.

[2016-12-06 14:29] #6262 closed

[2016-12-06 14:30] radare commented on #6129
any update?

[2016-12-06 15:03] leberus commented on #6129
not yet, yesterday and today i got a but busy, but i'll report some
feedback during this week ;)

On 6 December 2016 at 15:30, radare <notifications@github.com> wrote:

[2016-12-06 15:15] gtors commented on #5768
@radare Not yet.

[2016-12-06 17:13] Maijin opened #6289 "agf doesn't work through r2pipe"
From @m4ndingo : agf doesn't work (doesn't output anything) through r2pipe.

[2016-12-06 17:17] radare commented on #6289
works fine here, at least with the python api.

i guess you are maybe trying to graph a HUGE function which breaks the r2pipe.cs api or something

[2016-12-06 17:39] leberus commented on #6129
i started working on it, so hopefully it'll be done tomorrow or the day
after tomorrow (hopefully tomorrow :))

On 6 December 2016 at 16:02, Oscar Salvador <osalvador.vilardaga@gmail.com>
wrote:

[2016-12-06 18:43] Maijin commented on #6129
@leberus see also https://github.com/radare/radare2/issues/6104 also easy one, and all the https://github.com/radare/radare2/labels/file-format tags

[2016-12-06 19:04] m4ndingo commented on #6289
Hello

I'm trying to send this command (aef) with r2pipe in .net but I get allways an empty result; in the shell works fine (same binary)

![agf_notwoking_onpipe](https://cloud.githubusercontent.com/assets/12532269/20939396/f8e9eaa4-bbee-11e6-85b2-6933bdccfc75.png)

[2016-12-06 19:46] radare commented on #6289
Hello

i know that it works, that's why im saying where the issue is

[2016-12-06 20:15] Maijin commented on #6289
entry0 is very small.

[2016-12-06 20:36] radare commented on #6289
maybe its an issue with the windows build... he should confirm that the same issue happens with r2pipe.py or place some printfs in the r2pipe.cs module..

[2016-12-07 21:02] m4ndingo commented on #6289
![r2pipe_agf_python_fails_too](https://cloud.githubusercontent.com/assets/12532269/20986400/dd606882-bcc8-11e6-88d2-cea28cdcd972.png)

[2016-12-07 21:19] Maijin commented on #6289
@skuater ^

[2016-12-07 21:19] radare commented on #6289
Try with just r2cmd("af;agf")

[2016-12-07 21:27] m4ndingo commented on #6289
![r2pipe_agf_python_fails_too](https://cloud.githubusercontent.com/assets/12532269/20987272/46a8cade-bccc-11e6-9c6c-710170dcf92a.png)

[2016-12-07 21:54] #6289 closed

[2016-12-07 21:54] Maijin commented on #6289
use  scr.rows and scr.columns

[2016-12-07 21:54] gtors commented on #5768
@radare

But what if `io.cache = false` ?

[2016-12-07 22:05] radare commented on #5768
then you have to open the file with -w or reopen with oo+ to get write permissions

[2016-12-07 23:41] killabytenow commented on #6288
Cannot reproduce with commit 7edd787373d77edd5e105a5e9f66f414efe25da4 at master:
[code]

[2016-12-07 23:52] killabytenow commented on #6288
Yup!! Maybe I am wrong ... it seems that I am not using the last version of radare2... my r2 installation was broken.

I can reproduce it, but it is not a bug:
[code]
The reason of the different results is because r2 assumes by default that we are using an ATmega88 AVR MCU, which has a PC of 8 bit. When we run again `ao` setting another MCU model it works ok.

I will upload today a patch, because

[2016-12-07 23:58] killabytenow commented on #6288
I have make a new PR #6291setting ATmega8 as the default MCU (if not set or an unknown MCU is set).

[2016-12-08 09:48] #6288 closed

[2016-12-08 18:25] leberus commented on #6129
hi, so far i have [this](https://github.com/leberus/radare2/commit/c65ee57886e7c857019bdbcb7e3a6a4fba2f57c0)

It get loads at the entry point but I'm having some troubles with the relocations. I'm taking a look at a couple of links: [this](http://www.devttys0.com/2012/03/writing-a-bflt-loader-for-ida/) and [that](https://blog.tangrs.id.au/2012/04/bflt-format-implementation-notes/) but i'm not sure

[2016-12-08 21:25] Maijin opened #6293 "V after agf doesn't work"
V after agf doesn't work

[2016-12-08 21:25] Maijin opened #6294 "agf doesn't respect e asm.comments"
agf doesn't respect e asm.comments

[2016-12-08 21:28] Maijin commented on #6129
Why not this in radare2-extras?

[2016-12-08 22:02] radare commented on #6293
Wat

[2016-12-08 22:02] radare commented on #6294
Its known

[2016-12-08 22:03] radare commented on #6129
Yeah extras is fine :)

[2016-12-08 23:02] Maijin commented on #6293
Wat. just do a `agf ; V`

[2016-12-09 11:22] skuater commented on #6286
Sorry by the delayed answer.

The linux backend is loading with swstep = true, until become fixed plz use this command to set this value to false:
Load the file into r2 and type:
e dbg.swstep=false

then u can still working without this issue

The real issue is when r2 try to emulate a hwstep and set a break in the destination address, in x32 the generate code is a call address, and for x64 is a c

[2016-12-09 12:30] radare commented on #6293
cant reproduce.

[2016-12-09 12:31] radare commented on #6293
oh wait i can now

[2016-12-09 13:07] xpn opened #6296 "cmd.esil.intr does not fire on syscall"
This issue follows on from the twitter conversation here: https://twitter.com/_xpn_/status/806939903577591808

_**Issue:** A syscall instruction (0f05) does not appear to fire the python script set within cmd.esil.intr, however int 0x80 (cd80) does._

Radare Version:

During testing of the cmd.esil.intr option, the following was used:

`e cmd.esil.intr=#!pipe python /home/xpn/int_hook.py`

This fi

[2016-12-09 13:21] Maijin commented on #6296
Hello,

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2016-12-09 13:21] Maijin commented on #6293
😹

[2016-12-09 13:59] xpn commented on #6296
Hi Maijin,

The version is listed above, it is:

[code]

I believe this is the latest release, but I'll check out from github and retest.

[2016-12-09 14:29] #6293 closed

[2016-12-09 16:06] radare opened #6297 "pdrj output contains too many newlines"

[2016-12-09 16:06] radare commented on #6296
sysenter != syscall

[2016-12-09 16:10] radare commented on #6296
git pull and try again i have added sysenter as an alias for syscall. it should work now

[2016-12-09 16:20] Maijin commented on #6296
latest release, but not latest from git

[2016-12-09 16:27] #3598 closed

[2016-12-09 16:28] radare commented on #6129
well. as long as its uclinux it makes sense to be in core

[2016-12-09 16:39] TobalJackson commented on #6286
Hey @skuater,

Thank you for this workaround; I've just tested it and it works! Thank you, I wish you luck in hunting down the bug.

[2016-12-09 17:04] leberus commented on #6129
hi, i've been trying to fix this problem with the relocation but i miss something, so maybe you can bring me some light.

What I do:

- Parsing the file
- Get hdr
- Get entry point
- Get relocation_start_addr
- Parse all relocations as it's doing [here](http://www.devttys0.com/2012/03/writing-a-bflt-loader-for-ida/)
- Patch relocations

Do I have to fill the structure RbinRelocation? Does it have

[2016-12-09 17:06] radare commented on #6286
the bug has been hunted and fixed already in master, just git pull

[2016-12-09 17:06] #6286 closed

[2016-12-09 17:07] #6141 closed

[2016-12-09 18:17] radare commented on #2145
moved to 1.2 because i dont think you are gonna fix it

[2016-12-09 18:17] radare commented on #1455
closing until further feedback

[2016-12-09 18:17] #1455 closed

[2016-12-09 18:18] radare commented on #1235
meh, we already have this. we should just close when the mutexes are properly implemented, but we can open a different issue for that

[2016-12-09 18:18] #1235 closed

[2016-12-09 18:19] radare commented on #1195
@XVilka any chance?

[2016-12-09 18:21] radare commented on #1195
removing milestone. tired of waiting

[2016-12-09 18:38] Maijin commented on #6129
Pull request please

[2016-12-09 18:58] #779 closed

[2016-12-09 18:58] radare commented on #779
tired of waiting.. 2 years is enough to wait for a 10 minute work

[2016-12-09 19:58] TobalJackson opened #6298 "rarun2 config omitting `program=...` causes SEGFAULT"
Hello,

I'm running `r2 -R <config>.rr2 -d <program>` in order to specify the output terminal that the program should tie its STDIN/OUT to using the config:

[code]
and running r2 with the command:

[code]

which produces a segfault:

[code]

adding in the line `program=fork1` to fork1.rr2 will alleviate this issue, but seems redundant to specify the program in the rr2 config as well as on `-d` op

[2016-12-09 19:58] TobalJackson commented on #6298
forgot to add my r2 version:
-> % r2 -v
radare2 1.1.0-git 13166 @ linux-x86-64 git.1.0.2-221-g07819e2
commit: 07819e2f3659af4b43f21df58428eca392190a30 build: 2016-12-09

[2016-12-09 20:04] #6298 closed

[2016-12-09 20:08] radare commented on #6298
You missed the program= directive

[2016-12-09 20:32] xpn commented on #6296
Sorry, no idea why I provided 'sysenter' when I tested 'syscall'.

OK, so I've done a fresh git pull:

[code]

I've updated the above assembly file to to the following:

[code]

and I appear to still have the same issue:

[code]

[code]

Due to the change you have now made, I've also tested this with the above "sysenter" version of the script, which seems to have a similar issue:

[code]

[code]

[2016-12-09 20:57] leberus commented on #6129
Hi, I did a PR as you said: [here](https://github.com/radare/radare2/pull/6299)

But as I wrote there, I would like of someone is kind enough to check it out, because I think that something is not as it should be.

Thanks

[2016-12-09 21:23] radare commented on #6129
did a review, pls read the comments.

i should try to confirm it works properly, but the code looks “ok"

[2016-12-09 21:42] #6296 closed

[2016-12-10 01:12] radare commented on #755
there are issues already opened for all those points, can we close this issue?

[2016-12-10 01:20] radare commented on #6251
Maybe having a config_push method that accepts a null terminated array of fields to save

[2016-12-10 07:40] asutoshpalai opened #6303 "rarun2 is buffering the ouput till the program ends"
I am trying to redirect the io of a program to my script. So, I am using rarun2 with the listening option. But the output of my program is not sent to the script until the program has exited.

Filtering out the unnecessary details, I could distill the reproduction to this
[code]

In first terminal:

    $ ./issue.sh

In another terminal

    $ nc localhost 4000
    4
    5
    Started the binary

[2016-12-10 11:28] Maijin commented on #6303
Hello,

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2016-12-10 12:45] ImanolBarba opened #6307 "SIGSEGV when using command aaaa on AVR binary"
I recently updated my r2 version and a certain AVR binary I was analyzing makes r2 segfault (which it didn't before) when I run aaaa or invoke r2 with `-AA` flag.

I first analyzed the binary successfully on Tuesday December 6th and I updated r2 today (December 10th) around 1 AM, something in between should be the cause.

It doesn't consistently happen with all AVR binaries, I tried with an AVR EL

[2016-12-10 13:08] asutoshpalai commented on #6303
I have verified this on a fresh install (it wasn't installed earlier) on an Ubuntu 16.04 LTS server.

Its `r2 -v` reads
[code]

I actually faced the bug on my Arch laptop and checked it after an update too.

[2016-12-10 13:11] Maijin commented on #6307
Paste output of r2 -v

[2016-12-10 13:39] zonkzonk opened #6308 "/P fault"
https://asciinema.org/a/85pgispqmnkbtchszm2r6n83n

[2016-12-10 13:39] #6202 closed

[2016-12-10 13:44] ImanolBarba commented on #6307
radare2 1.1.0-git 13170 @ linux-x86-64 git.1.0.2-225-g8d02b7f
commit: 8d02b7fececfc98090d4da1b26b780c63ae06dc8 build: 2016-12-10

I also want to add that  I just dumped a blink led example from an arduino uno and it also crashes, so it's not specifically tied to the binary per se

[2016-12-10 14:01] Maijin commented on #6308
No asan, no gdb, no valgrind logs?

[2016-12-10 15:00] radare commented on #6308
U see it you fix it

[2016-12-10 15:12] zonkzonk commented on #6308
No asan, no gdb, no valgrind logs!
but, teh vid :p

[code]

[2016-12-10 22:29] #6308 closed

[2016-12-10 22:38] radare commented on #6303
thats what happens if you dont fflush() after printf(). try with `rarun2 program=/bin/sh listen=8080`

[2016-12-10 22:38] #6303 closed

[2016-12-11 02:05] asutoshpalai commented on #6303
Thanks for your reply.

But this is a stub issues reproduction program and my main aim was to debug another one which I can't modify. Is there anyway I can do that?

[2016-12-11 04:48] unixfreaxjp commented on #6283
Anyone tested this yet? A good issue actually.

[2016-12-11 09:58] radare commented on #6303
You can use ldpreload to tweak the console terminal information to have 1 byte of buffer size for stdout, or calling fflush after some api hooks with it..

[2016-12-11 10:12] killabytenow commented on #6307
I am checking it and it seems a bug when managing the reg profile. I don't know why neither when this bug appeared. I have to travel this week I am not sure when I will have time to debug this, so please be patient.

[2016-12-11 12:57] radare commented on #6307
There was some changes in the regprofiles 2 or 3 weeks ago with skuater. But it shouldnt segfault :) may be related to this

[2016-12-11 22:13] radare commented on #6307
valgrind logs:
[code]

[2016-12-11 22:39] radare commented on #6283
so looks like this compiler generates "call next;next:;pop eax" and then computes the relative pointer to the string from here. you can fix this with `asm.emuwrite=true`. but this can be dangerous in some situations. remember to run `aeim` first to initialize the stack.

the string itself is not recognized because it priorizes the section symbol in here. we can do better here with the new apis i a

[2016-12-11 22:47] radare commented on #6129
Uhm, wheres the PR?

[2016-12-11 22:48] radare commented on #6031
ping?

[2016-12-11 22:49] radare commented on #5862
Maybe checking for that feature in /proc/cpuinfo?

[2016-12-11 22:55] radare commented on #5862
Lets close this for now until we find a good platform to test this.

[2016-12-11 22:55] #5862 closed

[2016-12-11 22:59] radare commented on #5970
@lowlyw if you can reproduce it.. can you give more details or try to fix it?

[2016-12-12 00:21] dodomorandi commented on #6283
This is very nice. However I am still having some troubles. [This file](https://drive.google.com/file/d/0B88Q0Bv2HTxxSW9jWUQtNEZpd2c/view?usp=sharing) contains a compiled lib from the source I posted.
I am not able to obtain the same results with this library, even if everything seems to work flawlessly with the one given by @Maijin.

Here it is what I get using this lib:
![schermata da 2016-12-12

[2016-12-12 00:36] radare opened #6310 "ahe not honored"
anal hint esil is not honored for emulation or disasm..

[2016-12-12 02:37] ImanolBarba commented on #6307
Thanks for looking into this issue :)

Unfortunately, I just did a sys/install.sh and it seems to be failing still (using the same binary), I checked and the last commit was this one.

radare2 1.1.0-git 13180 @ linux-x86-64 git.1.0.2-235-g4598fc3
commit: 4598fc34ca8bd2f6eb5d842f7cc0b363481b198e build: 2016-12-12

[code]

[2016-12-12 10:03] Maijin commented on #6310
#5044

[2016-12-12 10:22] radare commented on #6283
I think we should allow asmemu to emulate part of the stack without requiring asm.emuwrite. That would be the best way to handle all those cases because compilers can get really funky here and identifying patterns to resolve references seems like a bad idea to me

[2016-12-12 11:21] radare commented on #6283
thats the same, but calling a helper function to set eax=ret address

what about other archs? is this also an issue for arm or mips?

[2016-12-12 11:22] leberus commented on #6129
I'm having an issue:

I get all relocations and they look fine (I was checking it out with severals tools like **readbflt** and **flthdr**).
So after parsing them, I end up with an **address** (address that must be patched) and a **value** (value that must be written), and that for each relocation. So far ok.

But when I wanted to patch all this (in patch_relocs), I though that writing to RBin->cu

[2016-12-12 13:29] dodomorandi commented on #6283
I am able to cross-compile for ARM, and things seem to work correctly. asm.emuwrite does not seem to be necessary, but I just tried to compile against armv7-a.

Unfortunately I do not have a gcc binary to compile against MIPS. Anyone can do this? Otherwise I will leave my laptop compile the mips64-elf-gcc overnight.

[2016-12-12 13:48] radare commented on #6310
Fixed in 3cd649559e2fcccb8d947fcd42f75a7537faa1d3

[2016-12-12 13:48] #6310 closed

[2016-12-12 13:48] radare commented on #5044
Fixed in 3cd649559e2fcccb8d947fcd42f75a7537faa1d3

[2016-12-12 13:48] #5044 closed

[2016-12-12 14:20] Maijin commented on #6243
This is done I think.

[2016-12-12 14:20] #6243 closed

[2016-12-12 14:21] Maijin commented on #6294
This is enhancement for @m4ndingo GUI.

[2016-12-12 14:40] radare commented on #6294
im adding graph.comments right now..

[2016-12-12 14:42] radare commented on #6283
you can use the ndk.. well i could do this too but im a bit busy. just trying to get feedback and ideas for different problems that may affect this issue. thanks!

[2016-12-12 14:45] #6294 closed

[2016-12-12 14:53] radare commented on #6129
i think this was done by @alvarofe for PE.. we can just have some flags in the first run, so feel free to reopen the pr with that

[2016-12-12 14:53] alvarofe commented on #6095
I understand `nbbs` as number of basic blocks but change it as you've already commented with me on private might break some scripts and guis that depend on this. However, updating such scripts is not a pain, is just a matter of use sed. I would go instead to document r2pipe and the different json that r2 is able to give. Dunno why would be the best way to do it.

[2016-12-12 15:03] radare commented on #6095
so let's close it, nbbs lgtm too, but i nwas looking for some feedback that nobody gave in a month. thanks

[2016-12-12 15:03] #6095 closed

[2016-12-12 16:18] alvarofe commented on #6129
you must use RIO to write and make those changes visible calling r2 with `io.cache=true` `r2 -e io.cache=true bin`. Use RBind from RBin.

It was a PoC, this must be handle in a better way without the io.cache=true, maybe rewritte the buffer in RBin and parse again may do the trick, but with io.cache should be enough by now

[2016-12-12 16:19] alvarofe commented on #6129
You have an example in bin_elf.c

[2016-12-12 16:41] radare commented on #6093
not for this release. @skuater mind to share some ideas for this?

[2016-12-12 16:50] radare commented on #6070
I think we can implement this inside RCons. checking the time if a timeout is set in is_breaked()

[2016-12-12 16:54] radare commented on #5685
testcase:
[code]

[2016-12-12 17:33] #5685 closed

[2016-12-12 17:34] radare commented on #4258
Moving to 1.2, dont wanna touch the anal much more for next week release. Focusing on stability now.

[2016-12-12 17:42] #6307 closed

[2016-12-12 18:02] ImanolBarba commented on #6307
Works like a charm, thanks guys!

[2016-12-12 19:24] #6254 closed

[2016-12-12 21:53] MariasStory opened #6311 ""V_" for help."
Can we make something similar to "V_" for all possible options and commands in r2?
I hope to have some command (combination of keys) that would let me find needed command or option by typing words present in it's description, like it is done in "V_".
Basically, I would press the combination of keys and have a list of all options and commands with descriptions and a possibility to filter them throu

[2016-12-12 22:57] #6070 closed

[2016-12-12 22:57] radare commented on #6068
do we have a test for this?

[2016-12-12 22:59] radare commented on #3224
This can be done with r2frida, we can consider this an offtopic for r2 because it can be done by hand already by a plugin or using external tools like r2frida.

[2016-12-12 22:59] #3224 closed

[2016-12-12 23:02] radare commented on #2384
PING

[2016-12-12 23:04] #755 closed

[2016-12-12 23:04] Maijin commented on #6311
Just use ?* with grep

[2016-12-12 23:06] radare commented on #2406
the rcons(push,pop) has been implemented. so i think we can close this issue for now.

Could you provide tests for specific commands that doesnt work for the radare2-regressions repo if you find any other issue.

[2016-12-12 23:06] #2406 closed

[2016-12-12 23:07] radare commented on #2527
bin.demangle is enabled by default now. so i think we can close this issue

[2016-12-12 23:07] #2527 closed

[2016-12-12 23:09] radare commented on #2612
in related news esil for rop searching is used for emulating the gadgets and classify them. it's not exactly rop searching.

[2016-12-12 23:11] radare opened #6312 "Opening a huge file takes alot of time"
for some reason is not even ignoring that its 1-2GB in size and trying to scan it entirely. so -n is necessary to load those files. this was not the case some releases ago. i think this issue was introduced in the bigfile elf support during this summer. having tests for huge files will be also desired, wondering if that works too with sparse files

[2016-12-13 01:15] #6312 closed

[2016-12-13 01:16] radare commented on #6312
this is a workaround, the correct solution would be to use mmap and rbuf-io to work with those buffers, but maybe some rbin plugins will fail and need testing. allocating and copying the whole memory of the bin more than once is killing startup performance

[2016-12-13 01:24] #6297 closed

[2016-12-13 01:24] radare commented on #6282
sys/python.sh is used by the `r2-python` r2pm package

[2016-12-13 01:30] radare commented on #6259
pins are used to specify a custom implementation for a given code to be provided in C or by another portion of code. this is basically a way to hook when a specific address is executed, and instead of running the esil code in this address, run the code implemented by a native pin, or redirect the execution to a different address... we dont have tests for this, so its probably not working and just

[2016-12-13 01:37] #6257 closed

[2016-12-13 02:42] peperunas opened #6313 "Debugger not stopping at breakpoints"
The debugger seems not to be stopping at breakpoints.

These are the steps I do to reproduce the behaviour:

Open the binary:
`$ r2 -d binary`
Set a breakpoint:
`> db 0xdeadb00b`
Run the application:
`> dc`

Nothing happens though.

[2016-12-13 08:01] radare commented on #6313
Are you using the last version from git? Which os and arch? It works for me

[2016-12-13 08:06] radare commented on #6311
You can extend the command list of the hud if you miss any. Having all of them seems useless to me

[2016-12-13 08:08] leberus commented on #6129
Ok, I see, thanks ;).
I expect to make the PR during this morning.

On 12 December 2016 at 17:19, Álvaro Felipe Melchor <
notifications@github.com> wrote:

[2016-12-13 08:11] radare commented on #6129
Cool!

[2016-12-13 10:43] Maijin commented on #6313
Hello,

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2016-12-13 11:20] radare commented on #1200
any other bin?

[2016-12-13 11:21] radare commented on #2388
imho we can close this as long as dtcj makes no sense because its not buffered and we are adding json as soon as its requested by someone

[2016-12-13 11:21] #2388 closed

[2016-12-13 11:22] radare commented on #1930
This was done in 7b94a79dcdfa0242388827e847833a46f0a9e877

[2016-12-13 11:22] #1930 closed

[2016-12-13 11:26] radare commented on #6166
makes sense when you are working with bizarre io targets that only permit reads in some specific alignments and sizes and the io plugin doesnt honors this info, also useful when the backend is slow, or when you want to view only blocks of N bytes. So imho its useful

[2016-12-13 11:29] radare commented on #5877
we can maybe append a newline via stderr.. to avoid breaking normal output

[2016-12-13 11:34] dodomorandi commented on #6283
I performed some tests, and I am not completely sure of the results I get:
![screenshot radare on mips32r6 test lib](https://cloud.githubusercontent.com/assets/350168/21138308/b80b6c1c-c12d-11e6-82c1-7286d897ae8f.png)

This is what I get if I compile the test lib with the ndk prebuilts. Specifically, the file has been built with the mipsel-linux-android-gcc 4.9.x (20150123), using arch mips32r6.
I

[2016-12-13 11:37] radare commented on #6283
without aeim i dont think the emulation of mips will work at all also asm.emuwrite is needed

[2016-12-13 11:41] radare commented on #5945
if we cant get better names for maps thats all what we can do for now

[2016-12-13 11:41] #5945 closed

[2016-12-13 11:42] radare commented on #4554
this must be computed statically at analysis time

[2016-12-13 11:43] dodomorandi commented on #6283
Whoops, sorry!
I just forgot to run aeim before making the screenshot for x86. I will edit the previous post in a couple of minutes. However the MIPS screenshot have been correctly taken, setting asm.emu, asm.emuwrite and running aaa. Maybe I am still missing something?

[2016-12-13 11:45] radare commented on #2459
anyone?

[2016-12-13 11:52] radare commented on #6283
the string ref is fine in mips sorry :D

[2016-12-13 12:00] sheinz commented on #6235
Sorry for the long delay.

Here are the samples:
 * [ets_timer.o.gz](https://github.com/radare/radare2/files/648783/ets_timer.o.gz) - Single object file
 * [http_get.out.gz](https://github.com/radare/radare2/files/648785/http_get.out.gz) - Whole ELF application

The disassembly of ets_timers.o by [xtobjdis](https://bitbucket.org/foogod/xtobjdis):
[code]
...
[code]

The current disassembly of ets_t

[2016-12-13 12:06] #2673 closed

[2016-12-13 12:15] Maijin commented on #1594
Then like #2388 we can close here

[2016-12-13 12:15] #1594 closed

[2016-12-13 12:16] #6311 closed

[2016-12-13 12:16] radare commented on #1594
we need to rethink all the tracing implementations in r2 to get this right, i would like to have dtcj but i think it will make more sense somewhere else. in a command to display the results of the traces

[2016-12-13 13:54] jvoisin commented on #6282
Don't we want to kill the bindings anyway?

[2016-12-13 13:59] XVilka commented on #6282
@jvoisin save afl.sh and asan.sh but unify them, cut the duplications, etc. It's useful to just call them

[2016-12-13 14:02] jvoisin commented on #2612
What does it mean?

[2016-12-13 14:27] marespiaut commented on #1200
@radare Not for now. I'll do some research this evening.

[2016-12-13 14:52] radare commented on #2612
it means that esil is used for gadget classificiation, but not for rop searching

[2016-12-13 14:52] radare commented on #6282
i have removed some today

[2016-12-13 17:04] jvoisin commented on #2612
Care to give an example?

[2016-12-13 17:30] radare commented on #2612
emulate the code until a specific condition or sequence of actions happen that can be considered a rop gadget.

[2016-12-13 17:53] leberus commented on #6129
[Here](https://github.com/radare/radare2/pull/6315) it is. Sorry for the lateness

[2016-12-13 19:54] nil0x42 opened #6316 "`Cf`: Infinite loop"
## Steps to reproduce:

`$ r2 -c 'Cf 1 main' /bin/true`
[code]

[2016-12-13 23:24] #5705 closed

[2016-12-14 00:08] Maijin commented on #6313
@peperunas ping

[2016-12-14 00:18] peperunas commented on #6313
I always use the git version.

Here is a demo: https://asciinema.org/a/eoxiz5bjv1n2s7027c0qetuxf

[2016-12-14 08:06] radare commented on #6313
Are you sure the given address is mapped at the time you set the breakpoint? Can you do an asciinema?

[2016-12-14 09:26] mrmacete opened #6318 "psz is broken on fat mach0"
Strings seems to be referenced using physical address instead of virtual address, this breaks references on fat binaries where physical !== virtual.

Here is a session in which `psz` shows the wrong result, unless provided with manually calculated physical address (using offset from section start):

[code]

The same problem shows up in `asm.emu` resolved strings.

Thinning the binary workarounds t

[2016-12-14 09:30] radare commented on #6318
fat binaries are incorrectly loaded since this summer after the rsoc broke it. since then use rabin2 -x.

anyway, if you can write a test, or find time to fix it i’ll really appreciate that :)

[2016-12-14 09:35] #6129 closed

[2016-12-14 09:45] mrmacete commented on #6318
yes, i'm seeing now, it's more complex than that, actually those kind of strings are mapped at `0x100006dc1`, but it seems references from code are of type `0x6dc1`

[2016-12-14 09:47] radare commented on #6316
its not infinite here. it stops after a bunch of iterations, that depends on the number of times this format is trying to be rendered. we can save some time by checking if the format is valid before creating it. but thats probably expected if you use the command in the wrong way.

the p_format() function needs a way to verify if the format is valid or not. because right now the return value is alw

[2016-12-14 10:00] radare commented on #6318
Yep its not a problem with psz, but with the sections that map the subbin in memory

[2016-12-14 11:56] leberus commented on #4124
after Christmas I'll try to make it work on BSD (got no time now)

[2016-12-14 12:01] radare commented on #4124
cool!

[2016-12-14 12:09] radare commented on #4041
lets focus on not adding more features for 1.1, but this will probably go in 1.2, as long as i plan to invest some time fixing the support of gdb

[2016-12-14 12:10] radare commented on #4837
uh @P4N74 ?

[2016-12-14 12:38] alvarofe commented on #6318
Write a test please

[2016-12-14 12:42] mrmacete commented on #6318
yes, i'm on it. the above binary is not good for the test. i'm reproducing the problem with an apple's framework but i'm unsure if i can just push it on r2r repo, so maybe i have to dig for another suitable binary or produce one.

[2016-12-14 12:57] #6316 closed

[2016-12-14 13:23] radare commented on #6318
you can reproduce this with a hello world in C compiling it with -arch armv7 -arch arm64

[2016-12-14 13:49] peperunas commented on #6313
How do I check whether it's mapped in memory?

[2016-12-14 13:58] Maijin commented on #6313
`d?`
`dm` -> Show memory maps

[2016-12-14 14:21] peperunas commented on #6313
https://asciinema.org/a/32r61b8yiuggpgprvkzet4m9t

[2016-12-14 14:26] dferrero commented on #6282
`android-aarch64.sh`, `android-arm.sh`, `android-mips64.sh`, `android-mips.sh` and `android-x86.sh` in a single, argument-taking script done in https://github.com/radare/radare2/pull/6319

[2016-12-14 17:11] radare commented on #6313
Tested on linux and osx and works as expected for me

[2016-12-14 19:26] alvarofe commented on #6318
I have a fix but trying to understand what is going on

[2016-12-14 19:48] radare commented on #6318
Awesome!

[2016-12-14 20:10] XVilka opened #6321 "dietline - wrong handling ESC"
If type something like "qew qwe" in command line of r2, then press ESC:

  - It moves cursor to the start of the line
  - It doesn't clear the line
  - It doesn't show the next command if type it
  - After typing the next command, and pressing enter - it runs, but still no display
  - After the 2nd command ends its execution, typing one more command displays it, but pressing Enter doesn't run it.

[2016-12-14 20:20] dukebarman opened #6322 "Analysis isn't finished"
Try to analyse library:

[code]

I were waiting about 14 hours... And analysis wasn't finished

Env: r2 from git, Mint 17.3 x64, firefox from apt-get

[2016-12-14 21:06] Maijin commented on #6313
I always use the git version : prove it, paste r2 -v.
Drag the binary here in a zip archive if you can share it.

[2016-12-14 21:09] radare commented on #6322
Why you have so much patience? There are sevwral issues for the same thing. Yes. R2 analysis is slow for big binaries. Thats a known issue and will be solved next year but required some heavy refactoring and more tests that are delicate to do

[2016-12-14 21:31] radare opened #6323 "RBin should (optionally) compute the size of all the symbols"
by computing the diff between the next symbol and the target one. (honoring section boundaries)

[2016-12-14 21:34] radare opened #6324 "Add variable to show flag size of current offset"
? $fs

[2016-12-14 21:36] radare opened #6325 "Add command to automatically set the size of all flags matching a glob"
`fla sym`

[2016-12-14 21:38] Maijin commented on #6324
ah cool :) I was using fl 👍

[2016-12-14 22:55] #6324 closed

[2016-12-14 23:19] radare commented on #6325
Done!

[2016-12-14 23:19] #6325 closed

[2016-12-14 23:19] radare commented on #6325
https://asciinema.org/a/3mes9omiaibe0qa5hhxltdh6c

[2016-12-14 23:20] radare commented on #6323
this is done for flags using the fla command, this may work for the user, but we probably dont want to make rbin fake the information from the headers, so closing this

[2016-12-14 23:20] #6323 closed

[2016-12-14 23:25] lvlvvvt opened #6326 "Add support for backticked commands with rarun2"
pancake asked me to suggest this. At the moment to pass a command as an arg with rr2 the syntax is as follow:

`arg1=!python -c'print "beer"*1664' `

it would be great if the following was also supported:

```arg1=`python -c'print "beer"*1664'` ```

[2016-12-15 11:20] fumfel opened #6327 "FPE (modulo by zero) in grub_ext2_read_inode()"
**FPE (modulo by zero) in grub_ext2_read_inode()**

Tested on Git HEAD: 4ae632133ed34c7f80949a8a705635608a4ac45d

Payload (bins/fuzzed/r2_fpe_grub_ext2_read_inode) in https://github.com/radare/radare2-regressions/pull/641

To reproduce: `r2 -A r2_fpe_grub_ext2_read_inode `

ASAN Output:

[code]

[2016-12-15 11:55] radare commented on #6327
grub is a pile of crap. i already fixed many overflows in there.. thanks for reporting this. im gonna fix it now

[2016-12-15 12:30] radare commented on #6313
several questions:

1) why do you analyze?
2) why do you doo if that was not explained in the issue?
3) did you checked the maps after the doo? because if there’s aslr the address will be in different place

breakpoints at a given address are not nominal. if the symbol moves to another place after a reload or because of some dyld tricks its not gonna work this way

tested that everything works fin

[2016-12-15 16:22] peperunas commented on #6313
@Maijin have you seen the first asciinema demo I've posted? I clearly do a `r2 -v`.

@radare just tell me which sequence of commands should I try then. How may I completely remove r2 and reinstall it?

[2016-12-15 20:07] alvarofe commented on #6318
Fixed in master plus 1min time saved in travis

[2016-12-15 20:07] #6318 closed

[2016-12-15 22:13] Maijin commented on #6313
Ah yes.

[2016-12-15 22:21] computereasy opened #6331 "Interpret the output of `radiff2`"
Dear all,

I am playing with the `radiff2` for function-level similarity analysis, and become confused with the output.

Suppose I have the following output by using `radiff2`:

    radiff2 -AC BIn_1 Bin_2

      sym.frame_dummy   42 0x401950 |      MATCH  (0.904762) | 0x401af0    42 sym.frame_dummy
                    sym.usage  221 0x401af0 | UNMATCH  (0.225256) | 0x402040   586 sym.usage

I int

[2016-12-15 22:36] Maijin commented on #2100
This is done. https://github.com/radare/radare2-r2pipe/blob/master/python/ipython.py

[2016-12-15 22:43] XVilka commented on #2100
No, I spoke about webui. it's very far from done.

On Dec 16, 2016 2:36 AM, "Maijin" <notifications@github.com> wrote:

This is done. https://github.com/radare/radare2-r2pipe/blob/master/
python/ipython.py

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/radare/radare2/issues/2100#issuecomment-267464813>, or mute
the thr

[2016-12-15 22:53] Maijin commented on #2100
ah yes true

[2016-12-15 22:53] h4ng3r opened #6332 "pd removing part of the opcode string"
Some Dalvik opcodes are being truncate by pd command. Check the following examples:

[code]
[code]
Another example:
[code]

[2016-12-15 23:32] h4ng3r opened #6333 "SEGFAULT in some commands on dex"
I am using r2 from git, this is the last commit now:
[code]

If I open a simple dex file "pi" command will always SEGFAULT.

[code]
pd1 for example will produce the same SEGFAULT.

[code]

This is the backtrace for the "pi" example:
[code]

More information from asan:
[code]

[2016-12-15 23:33] peperunas commented on #6313
I forgot to add the test binary:

`echo "f0VMRgEBAQAAAAAAAAAAAAIAAwABAAAAdIAECDQAAAB0AQAAAAAAADQAIAACACgABAADAAEAAAAA
AAAAAIAECACABAjOAAAAzgAAAAUAAAAAEAAAAQAAANAAAADQkAQI0JAECIwAAACMAAAABgAAAAAQ
AACQvgAAAACLHdCQBAiDwwM5HdSQBAh9Bisd1JAECLiZgAQI/+CDiR3QkAQIv1qRBAiLBDXYkAQI
MdiJBDXYkAQIRoH+gQAAAHW96RYQAAC4AQAAALsAAAAAzYAAALwAAAD/AAAAL3rByMvOatXX2t0I
/ubp7IOX1ZWUiiJhbSt+cGdkOnhTVwYTDF9TRlpUUEtE1xTEoel

[2016-12-16 00:18] Maijin commented on #6313
@peperunas instead of this base64, drag an archive with your bin on github.

[2016-12-16 00:42] radare commented on #2100
Then why dont open this issue in the webui repo?

[2016-12-16 14:26] peperunas commented on #6313
My bad!

[test.zip](https://github.com/radare/radare2/files/657391/test.zip)

[2016-12-16 18:44] enovella commented on #6322
Find the same issue here with an ARM shared object.

[2016-12-16 20:25] radare commented on #6322
Do u think its an infinite loop? Can you add some printfs to confirm this theory?

[2016-12-16 20:28] radare commented on #6332
Thats because rasmop or ranalop is too small?

[2016-12-17 08:18] radare commented on #6333
For this kind of errors use valgrind

[2016-12-17 13:55] radare commented on #6321
Happens in all terminals? Didnt tried yet

Workaround: but a macbookpro and remove the esc key from the magicbar

[2016-12-17 20:55] alex-t0 opened #6337 "Hangs on call on step over (F8)"
I am playing with task 3 from pwnable.kr.
Binary: http://pwnable.kr/bin/bof
C Source: http://pwnable.kr/bin/bof.c

I debug step by step `func` function.

It hangs at call 0xf75fd910 inside `func` function, address 0x5664564f. I think execution passed to gets, but from visual mode there are no place where to input my string, which must overflow buffer :)

Not in visual mode program asks for input s

[2016-12-17 21:01] radare commented on #6337
It waits until the read syscall returns. So i guess thats expected behaviour

[2016-12-17 21:10] alex-t0 commented on #6337
How to enter string and go to the next instructions in visual mode? It does bot switch to other modes.

[2016-12-17 23:44] radare opened #6338 "Short for vars and args"
We should display a sumarized version of the function vars, args, ret signature instead of taking one line for each. This will save a lot of lines and we can add a key to toggle that information, for some functions where many vars are detected because they are arrays and not individual variables it will be very useful

[2016-12-17 23:48] radare commented on #6338
We can also improve on that by just adding the comment of the definition of the variable in the first moment it is accessed. Or maybe showing them in columns, like in hexdump of the stack, to ease the reading. we can use pxa-style and set flags in those offsets. this will be very handy for the debugger

[2016-12-17 23:51] radare commented on #6338
Also, use `e asm.vars=false` to be able to see the first instruction in the disasm when so many vars are found

[2016-12-18 00:01] #6326 closed

[2016-12-18 00:05] #6038 closed

[2016-12-18 00:05] radare commented on #6038
thanks

[2016-12-18 00:07] radare commented on #6068
ping @Maijin

[2016-12-18 00:08] radare commented on #5113
Can we consider this issue fixed now that we have axf.?

[2016-12-18 00:10] radare commented on #3195
nope

[2016-12-18 00:10] #3195 closed

[2016-12-18 00:11] radare commented on #3195
i think its fine the way it's now no need to make more complex its usage

[2016-12-18 00:13] radare commented on #2770
that's pretty clear right know i think :)

[2016-12-18 00:13] #2770 closed

[2016-12-18 00:16] radare commented on #3110
no sample no fix

[2016-12-18 00:17] radare commented on #3227
its fixed now i think

[2016-12-18 00:17] #3227 closed

[2016-12-18 00:23] radare commented on #2952
We can use the 'T' and 'F' keys to merge the TRUE and FALSE nodes to the current one. and maybe use U to undo the operation

[2016-12-18 18:21] XVilka commented on #6321
Yes, same thing on a lot of different terminals.

[2016-12-18 18:23] XVilka opened #6340 "Backticks and grep expansion before evaluating iterations"
For example, lets take something like `ao~jump[1] @@i`
It should first evaluate grep and column extraction, then iterate.
Same applies to backticks as well.

[2016-12-18 18:58] radare commented on #6340
Use macros for this

[2016-12-18 23:01] XVilka commented on #4622
@oddcoder @radare do you have any ideas how to implement this with less effort?

[2016-12-18 23:15] circleous opened #6341 "Build fail on windows"
I'm trying to build radare2 on windows using mingw-w64 (MSYS2).
Following [radare gitbooks windows compilation](https://radare.gitbooks.io/radare2book/content/introduction/windows_compilation.html) instruction.
[code]
Fails when trying to run `make`

[2016-12-18 23:26] circleous commented on #6341
https://github.com/HPCE/hpce-2015-cw2/issues/3
Seems like this has same issue. After comment out the line, build is fine.
[code]

[2016-12-18 23:27] alvarofe commented on #2952
'U' is already use for redo seek

[2016-12-18 23:29] alvarofe commented on #6322
I think the issue is aac

[2016-12-19 02:32] InsidiousMind commented on #5424
Hey! I'll take this up as my first contribution. It's pretty simple to do and i'm just looking over the codebase and getting used to it so I think this would be a good opportunity.

[2016-12-19 03:57] radare commented on #6103
Fixed in 329e093192dd6fb4dc0ed03ba370b20ebc39f00f

[2016-12-19 03:57] #6103 closed

[2016-12-19 03:58] radare commented on #5768
Fixed in ffcdb0443e1f92fabd2b60b2c914de866c7dc8fc

[2016-12-19 03:58] #5768 closed

[2016-12-19 04:58] #4722 closed

[2016-12-19 05:15] radare commented on #5113
Related to https://github.com/radare/radare2/issues/5959

[2016-12-19 09:33] Dax89 opened #6343 "Function argument issue (x86)"
Some commands doesn't retrieve function's arguments, for example in this function I have:

[code]

If I call `afi` I get two arguments correctly:
[code]

but if I call `afij` I have `nargs = 0`:

[code]

Radare2's version:
[code]

is this a known issue?

[2016-12-19 10:10] XVilka commented on #6341
@circleous Why are you closed it?

[2016-12-19 11:15] circleous commented on #6341
The program runs fine so far. So, i thought for closing this.

[2016-12-19 11:17] XVilka commented on #6341
No, but the bug itself remains.

[2016-12-19 11:34] #5959 closed

[2016-12-19 11:50] alvarofe commented on #5113
I would close. We have test and it works at least someone has a complain

[2016-12-19 11:51] #5113 closed

[2016-12-19 11:52] alvarofe commented on #2712
moved to 1.2.0

[2016-12-19 11:53] enovella commented on #6322
Sure that I can add printfs to it, the only problem is that I do not remember which binary I was radare'ing with. It could be a binary of the SECCON 2016 CTF or another one.  Let me see if I am able to reproduce the infinite loop with one the binaries of this CTF and can print out where the issue is.

[2016-12-19 11:53] Maijin commented on #6343
Well it's just a single-line fix, just change the json to have it use the same as the non-json.

[2016-12-19 13:08] radare commented on #2952
F was also taken for the trackflags thing :(

[2016-12-19 13:26] Dax89 commented on #6343
Thanks for the tip @Maijin it was very easy, Pull request sent!

I have one last question:
If I want to insert locals and arguments separately (as array) in json output what I need to do?
It seems that `r_anal_var_list_show(core->anal, fcn, ???, 'j')` is the function required for this purpose.

[2016-12-19 13:41] radare commented on #2952
I have an idea for this and will be easier than i though... but not today.moving to 1.2

[2016-12-19 13:51] radare commented on #6333
PING

[2016-12-19 14:27] h4ng3r commented on #6333
@radare, I reproduced the error in Linux with the the last version from git.

Valgrind backtrace:
[code]

[2016-12-19 14:31] radare commented on #6341
commenting this fixes the build but breaks the usage. O_BINARY should be available on windows. mainly because its windows-only flag

[2016-12-19 14:35] radare commented on #6341
pushed a fix. pls confirm i dont have such env to test

[2016-12-19 14:37] radare commented on #6237
this can be done with `aae` and `fla` .. or maybe an `aac` mode that just flags and adds empty function boundaries to be analyzed with detail later

[2016-12-19 14:43] alvarofe commented on #6333
are you working on it??

[2016-12-19 14:46] h4ng3r commented on #6333
Nop, I'm at work :(.

[2016-12-19 14:53] alvarofe commented on #6333
ok, will look at it after fix all coverities

[2016-12-19 15:58] #6331 closed

[2016-12-19 16:07] DIV-submission opened #6346 "Cross-comparison functions with different names in Radiff2"
Hello,

I am thinking to use `radiff2` for some malware sample similarity analysis, and by reading its source code, I figured out that `radiff2` only compares functions with the same name (am I understanding it correctly here?)

That is, for example I have two malware sample `M1` and `M2`, each of which has two functions `func1` and `func2`. Then it seems to me that `radiff2` will compare the simi

[2016-12-19 16:41] #6343 closed

[2016-12-19 17:04] oddcoder commented on #4622
I found a work around to avoid using this (I don't remember what I did but
I never needed it) however it will be still good addition to have similar
feature

[2016-12-19 17:28] alvarofe commented on #6333
i can't reproduce neither in mac os x nor linux, check again since lately there has been fixes in dex as well as other places

[2016-12-19 18:42] alvarofe commented on #6333
ok fixed and pushed in master, it would be great if you could create a test for this

[2016-12-19 18:42] #6333 closed

[2016-12-19 19:25] radare commented on #2712
Fair

[2016-12-19 19:26] radare commented on #6341
Ping?

[2016-12-19 19:31] alvarofe commented on #6321
The ESC thing happens here too, but you don't need to type `qwe qwe` to move the cursor to the start of the line. As soon I type something it comes back to its position and you can continue. Mind you record an asciinema to understand better the issue?

[2016-12-19 23:49] circleous commented on #6341
`warning: implicit declaration of function ‘_fileno’` This isnt only happen on `_fileno` but `_snprintf`, `_read`, ... winapi related. After digging out a bit, it needs -D_POSIX_SOURCE. It trigger another error, meanwhile the first problem is solved.
`sys.c:419:4: error: unknown type name ‘fd_set’`
ref: http://stackoverflow.com/questions/15749184/fileno-not-available https://cygwin.com/ml/cygwin-a

[2016-12-20 02:23] radare commented on #6341
Maybe the instructions are wrong? i just do sys/mingw32.sh and it builds fine on osx and linux

[2016-12-20 04:34] circleous commented on #6341
Oddly enough, build runs fine on cygwin x86 windows.

[2016-12-20 06:46] XVilka opened #6349 "pf.pe_nt_image_header32 - Missing struct name"
Take any exe, open it in '-nn' mode, then type:
[code]

[2016-12-20 06:48] XVilka opened #6350 "pf enhacements"
- [ ] Support `pf.` nested struct/union name autocompletion (currently works only for the 1st level)
 - [ ] Add custom terminator support (for strings, etc)
 - [ ] Improve (and sort, may be group) help for the command

[2016-12-20 09:37] XVilka commented on #6341
Well, Cygwin 32/64, Mingw32 on Windows and Mingw32 on *nix, Mingw-w64, MSYS2, etc - everything is different and use different architectures. @circleous Can you please provide a full build log?

[2016-12-20 15:00] radare commented on #6341
I dont see the point on providing support for over9000 reimplementations of the same crappy abstractions of unix on top of windows when native windows builds work fine

[2016-12-20 15:04] XVilka commented on #6341
well, Mingw32 is not very 'native' one, unlike Mingw-w64. Cygwin provides unix-like experience of radare2 on windows - true colors, piping with unix utils, etc. Mingw32 can be easily integrated with Visual Studio and so on. It's different target auditory.

[2016-12-20 18:24] Dax89 opened #6353 "[PE32] Wrong address -> section calculation"
[This](http://spin.quequero.org/uicwiki/images/CM01.zip) crackme causes some section calculation issues: the PE plugin loads the section table correctly:

[code]

but if I seek to other sections, radare prints the wrong section:

[code]

This issue affects even the disassembler listing because it can't find data and strings in "DATA" segment:

[code]

[2016-12-20 22:32] Svenito opened #6354 "Add tests for SPP rasm2"
Add tests for SPP in rasm

[2016-12-20 22:33] Svenito opened #6356 "Integrate SPP into libr/asm"
integrate spp into libr/asm instead of binr/rasm2

[2016-12-20 22:33] Svenito opened #6357 "Remove globals from SPP.c"

[2016-12-20 22:53] radare commented on #6357
This issue should be in radare/spp not here

[2016-12-20 22:55] Svenito commented on #6357
Moving

[2016-12-20 22:55] #6357 closed

[2016-12-20 23:40] radare opened #6358 "Implement CDQE and such in ESIL"
http://www.felixcloutier.com/x86/CBW:CWDE:CDQE.html

[2016-12-21 06:37] #6354 closed

[2016-12-21 09:44] Dax89 commented on #6353
I have investigated for this issue: my first statement is wrong: all PE executables have a wrong VirtualSize value for all sections.

The issue has been introduced in commit https://github.com/radare/radare2/commit/302d3f52e95a715966a28e88221ba46435e7e9f0 with this code:

[code]

afaik VirtualSize's value is already memory aligned and there is no need to do an additional alignment step.

These are

[2016-12-21 10:11] radare commented on #6321
works fine in osx for me. i dont see any issue here

[2016-12-21 10:23] XVilka commented on #6321
Will record an asciinema.

[2016-12-21 10:25] XVilka commented on #6321
I found some ESC handling in libr/cons/dietline.c, but when I added eprintf() for catching it, it wasn't shown: https://github.com/radare/radare2/blob/master/libr/cons/dietline.c#L1195

Is the right place to dig?

[2016-12-21 10:32] radare commented on #6321
yes, go deeper

[2016-12-21 20:50] zonkzonk opened #6359 "s++, /o"
morrn,

this is not the previous instruction:

[code]

[2016-12-21 21:28] radare commented on #6359
The prev instruction is not always properly analyzed because there can be many of them, specially on x86. Thats a known issue but u should provide proper test case to proove that we can improve this specific case

[2016-12-21 21:41] XVilka opened #6360 "Wrong function start."
This is not a bug! It's a feature request! Please note that before complaining :)
Open [hello.zip](https://github.com/radare/radare2/files/667414/hello.zip) in r2
Perform `aaa`. Then go to `0x00400a29`

[code]
Note, that function start at 0x00400a50 (488d... opcode), not from 0x00400a4f, as r2 think.
Would be nice to autorecognize that. Pretty interesting, that some parts of the file is padded wit

[2016-12-21 23:14] radare commented on #6360
e asm.midflags=true

the ~ sign indicates that there’s a flag in there

[2016-12-22 06:41] XVilka commented on #6341
I can't reproduce it on my environment. @circleous are you?

[2016-12-22 11:47] #6353 closed

[2016-12-22 14:50] Maijin commented on #6350
[code]
Could you details those ? The first two are dup i've pointed to existing open issues

[2016-12-22 15:18] XVilka commented on #6360
Uh, shame on me, I forgot about that option, sorry.

[2016-12-22 15:18] #6360 closed

[2016-12-22 16:52] asutoshpalai commented on #249
Don't know if it's intentional or a bug, but while in cursor mode if we step using `s`, the behaviour is that of "continue until cursor".

Note: it doesn't happen if we use `f7` for stepping.

[2016-12-22 18:25] radare commented on #249
It is on purpose. If it feels unnatural we can discuss to change this

[2016-12-22 22:32] sferrini opened #6364 "Unresolved relative path if passed arguments"
# Working as expected

[code]

[code]

# Not working as expected

[code]

[2016-12-23 08:32] radare commented on #6364
Iirc the real issue is the path is relative instead of absolute, can youconfirm?

[2016-12-23 08:47] sferrini commented on #6364
Yep, with a relative path and arguments, for __some__ binaries happens this.

[2016-12-23 09:04] radare commented on #6364
Some? o_O can u be more specific?

[2016-12-23 09:12] sferrini commented on #6364
Oh, I supposed it was because different binaries but now I tried instead with just one binary and different argument length and I discovered that it's failing because "long" args.

Maybe the argument buffer is too small?  Just guessing.

[2016-12-23 09:14] sferrini commented on #6364
Also after a failure it creates strange files on disk:

[code]

[2016-12-23 09:26] sferrini commented on #6364
### `'A'*9`:

[code]

### `'A'*10`:

[code]

### `'A'*12`:

[code]

[2016-12-23 09:55] circleous commented on #6341
Sorry for the wait. http://sprunge.us/ihHC

[2016-12-23 11:32] radare commented on #6341
For reference

[2016-12-23 12:55] radare opened #6366 "Implement aeaj and fix aeaf"
aeaf expects linear functions. should walk the bbs, the order doesnt matter.

aeaj should print this info of aea in json format

[2016-12-23 18:16] radare opened #6367 "Make RBin info when loading with -n"
Right now the `i` command doesn't shows anything if we load the bin with -n, it will be good to have a way to get this info into r2 (or just display it) when the user requests it.

[2016-12-24 10:48] alvarofe commented on #6332
The issue is within ds_build_op_str mainly in r_print_colorize_opcode. This color thing should be handled in a plugin maybe with the anal plugin?

[2016-12-24 11:54] Dax89 opened #6369 "sdb_get() includes carriage return"
I don't know if it the right place, but it's a Sdb issue (should be posted in "sdb" repo?)

I have noticed a weird issue in radare2, basically all ordinal imports (at least in PE files) have its address equals to 0:

[code]

instead if I rename comctl32.sdb in order to get the plain "ordinal named" import I get the correct address:

[code]

The issue is that sdb_get() includes the carriage return

[2016-12-24 12:46] radare commented on #6332
Better handle this in rparse if needed... will make more sense in there

[2016-12-24 18:00] alvarofe commented on #6332
yeah it makes sense

[2016-12-25 12:04] j123123 opened #6374 "drt with some options doesn't show registers"
```drt mmx```, ```drt xmm``` and ```drt flg``` doesn't show any register in r2 debug mode

[2016-12-26 00:45] radare commented on #6374
Pla specify arch/os pair where this bug can be reproduced

[2016-12-26 02:41] radare opened #6377 "xor al, 0x80 should be assembled as 3480 instead of 80f080"
the shorter the better (for x86.nz)

[2016-12-26 07:29] j123123 commented on #6374
radare2 1.2.0-git 13307 @ linux-x86-64 git.1.1.0-37-gbc766ba
commit: bc766baf7375a1aa5151cd13ba354429aa0caa72 build: 2016-12-25

Ubuntu 16.04.1 LTS x86_64
[code]

[2016-12-26 12:54] skuater commented on #6374
Linux reg profile have all xmm,mmx,st grouped in fpu.
Theses command show it:
 drt fpu
 dr st0
 dr xmm0h
 drf
and u can modify using (dr cant use in linux to modify fpu registers yet ...):
 drm

Also u can use 'drp' to show the loaded profile.

[2016-12-26 13:13] #6377 closed

[2016-12-26 13:26] #6332 closed

[2016-12-26 13:58] j123123 commented on #6374
@skuater OK, but what if I want to see only XMM, MMX or FLAGS register?
For exampe, ``drt drx`` works correctly and shows me all debug registers. When I type ``drt flg`` I expect to get something like
[code]
but I get nothing

[2016-12-26 14:58] skuater commented on #6374
@j123123 no way , to solve this is needed do some changes into reg profile for linux. Ill try to implement when get some free time

[2016-12-27 18:41] #6359 closed

[2016-12-27 21:32] ekiwi opened #6387 "[anal] Thumb LDR (register) -> ESIL: does not include register offset"
For ARM Thumb LDR instructions, the offset register is not included in the ESIL.

Example (r2 from git, built today):
![0 instead of r1](https://cloud.githubusercontent.com/assets/2456545/21508776/ba11a6e6-cc51-11e6-8edb-fb97e0eb0493.png)
_Here `r1` is missing from the ESIL, instead a `0` is emitted_

[2016-12-27 21:41] ekiwi commented on #6387
Can anyone confirm that the expected behavior documented in https://github.com/radare/radare2-regressions/pull/649 is correct?

[2016-12-27 22:14] ekiwi opened #6388 "[anal] Thumb: asrs -> ESIL does not lead to actual arithmetic shift"
For example `asrs r4, r4, 2` will be translated to `r4,r4,=` which is obviously not an arithmetic shift.

As ESIL only supports logical shifts (as far as I can tell), what would be the correct way to fix this?

[2016-12-27 23:06] ekiwi opened #6389 "[anal] Thumb -> ESIL: stm/ldm should be post, not pre increment"
I am not 100% sure on this, but the way I read the manual from ARM, the `ldm`/`stm` instructions increment the address after performing the first load/store.

Checkout the [Architecture Reference Manual](https://www.pjrc.com/teensy/beta/DDI0403D_arm_architecture_v7m_reference_manual.pdf) section `A7.7.40` (LDM) and section `A7.7.156` (STM).

Currently the ESIL that is emitted by `r2` performs the

[2016-12-27 23:09] ekiwi commented on #6389
Once this has been confirmed as a bug, I will start working on a fix.

[2016-12-28 15:02] #4856 closed

[2016-12-28 15:02] radare commented on #4857
Fixed also

[2016-12-28 15:02] #4857 closed

[2016-12-28 15:17] h4ng3r opened #6390 ""ia" command is running imports twice"
"ia" command is running and showing imports twice for all archs, here an example:
[code]

The code that causes the bug is:
[code]

I'll PR with the fix after pass all checks ;)

[2016-12-28 15:41] radare commented on #6389
Cool thanks!

[2016-12-28 16:15] Maijin commented on #6390
I suppose iE (exports) should be used instead

[2016-12-28 18:02] DigiAngel opened #6391 "Segfault on malware sample"
Sample:
[code]

it's pretty nasty...anyway backtrace here:
[code]

[2016-12-28 23:13] Maijin commented on #6391
What is this

[code]

That's not radare2.

Also

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2016-12-28 23:14] Maijin commented on #6391
And please details where you are doing this `[Fast goto call/jmp]> a`, Use an asciinema

[2016-12-28 23:21] DigiAngel commented on #6391
Version here:
[code]

That call/jmp is per the help in Visual mode:
[code]
I'll see if I can get asciinema from a linux box later today.

[2016-12-28 23:29] radare commented on #6391
0.10.6 is pretty old. Use git to confirm the bug

[2016-12-28 23:43] DigiAngel commented on #6391
Well that was interesting.....looks like when I initially installed I did a git clone then ./configure make sudo make install.  Since then I've been doing sudo sys/install.sh, which apparently installs somewhere else besides /usr/local/.  So now here's what I got:
[code]
with the same segfault.  I thought I'd cleaned out any bits of 0.10.5, but it looks like not..where else can I check?  Thank you

[2016-12-29 00:55] Maijin commented on #6391
Yeah so that's why the segfault... Clean your install git clean -xfd, make uninstall, make clean, make purge

[2016-12-29 00:56] Maijin commented on #6391
And use ./sys/install.sh always even for update just relaunch it. No need to pull, the script is doing it for you

[2016-12-29 03:10] radare commented on #204
this can be easily implemented now after 96dbf57b300b860433d7e4104c52fdb80baeddc1

[2016-12-29 09:38] #6391 closed

[2016-12-29 16:06] sre opened #6394 "couple of small issues"
Hi,

The Debian build infrastructure [0] found a few smaller issues with the source/buildsystem. If nobody beats me to it, I can prepare patches for them after CCC.

[code]

[0] https://qa.debian.org/bls/packages/r/radare2.html

-- Sebastian

[2016-12-29 16:27] zonkzonk opened #6395 "fun issue r2 and http"
Hi,

to get an arbitrary http request without external tools, how can I teach izz something like delete the format= strings? I would have expected:

[code]

Greetings
--zlul

[2016-12-29 16:36] radare opened #6396 "Add rabin2 -k to handle OpenBSD for rabin2 -C"

[2016-12-29 16:41] younix commented on #6396
The OpenBSD Kernel detect its binaries with this special ELF section

.section ".note.openbsd.ident", "a"
        .p2align 2
        .long   0x8
        .long   0x4
        .long   0x1
        .ascii "OpenBSD\0"
        .long   0x
        .p2align 2

[2016-12-29 18:28] antoinealb opened #6400 "Cortex-M: arm.gnu differs from arm"
Hi,
I have this project I am testing radare2 on. It uses an STM32F407 processor, so a Cortex-M (ARMv7-M) CPU. When I disassemble the code using the `arm` machine it can't decode some instructions, but it works fine when using the `arm.gnu` plugin:

Using `arm.gnu`:
[code]

Using the builtin `arm`, see the change at `0x080001c4`:

[code]

[2016-12-29 19:46] radare commented on #4910
cc @younix

[2016-12-29 20:56] zonkzonk opened #6401 "izz crash with bigger file"
morrn,

r2 crashing with segmentation fault, when analysing a bigger file:

,r2  -e 'io.va=true' American_Beauty.avi
aaaa
pd 10
izz~'8'

[code]

Greetings
--zlul

ps, no valgrind on this machine

[2016-12-29 20:59] zonkzonk commented on #6401
forgot list:
[code]

[2016-12-29 22:24] zonkzonk commented on #6395
done by removing format specifier in /libr/core/cbin.c . still html is ugly, but dumped.

[2016-12-29 22:24] #6395 closed

[2016-12-29 23:04] Maijin commented on #6400
Did you try changing `e asm.cpu` value? Check the possible value using `e asm.cpu=?`

[2016-12-29 23:05] Maijin commented on #6400
Also ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2016-12-30 02:48] radare commented on #6395
izzq or maybe using ps?

[2016-12-30 02:49] radare commented on #6401
SeeMs like an stack exhaustion

[2016-12-30 03:43] mgjung95 opened #6402 "String(DATA) xref does not work with x86 binary built with -fPIC -m32"
I found that string xref does not work  when target binary is compiled with -fPIC -m32 in x86.

sample code is ..
`#include <stdio.h>

void main()
{
        printf("Hello PIC!\n");
}`

build cmd > gcc -fPIC -m32 test.c

![image](https://cloud.githubusercontent.com/assets/24835236/21559293/c95934a6-ce8c-11e6-9f45-58f90f492b55.png)

![image](https://cloud.githubusercontent.com/assets/24835236/215592

[2016-12-30 10:07] Maijin commented on #6402
Is it possible you sent the binary in a zip archive ? + Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2016-12-30 10:26] rmarsollier opened #6403 "Adresses displayed "in shell" and exported in json are differents"
Adresses displayed "in shell" and exported in json are differents

For instance as an example on a very basic crackme:

[code]
It seems none of the addresses exported in the json are in the 0x0040xxxx set.
I can reproduce this on several binaries, for at least the pdf(j) and pdr(j) commands.

[code]

[2016-12-30 12:12] Maijin commented on #6403
One is decimal, one is hexadecimal. Not a bug.

[2016-12-30 12:13] #6403 closed

[2016-12-30 14:23] radare commented on #6402
Probably works if u use aae but without seeing the code or the commands you used its hard to say

[2016-12-30 14:24] radare commented on #6400
Your radare2rc is fuckedup with variables from radare1 (7 years old)

[2016-12-30 23:11] radare opened #6405 "Try this rust demangler"
http://lxr.free-electrons.com/source/tools/perf/util/demangle-rust.c

[2016-12-31 10:19] jttoivon opened #6406 "Search doesn't work when -m option is given to r2"
If I load a file to a location, say, 0x100, then it is mapped there correctly, but
the search is always restricted to range 0 - filesize. Setting the search.from/to variables doesn't help either, see below. I'm using the following version:
[code]

[code]

[2016-12-31 12:24] paulfertser commented on #2557
Hello,
Just tried a similar setup, r2 -b 16 -a arm -D gdb gdb://localhost:3333, few comments so far:
1. Documentation is lacking in that it's totally not obvious that to force thumb mode it's necessary to use -b16; and as it's already said, PSR register is available and its flag can tell whether the current address will be decoded as thumb or arm by target; also gdb serial protocol supports provid

[2016-12-31 16:49] radare commented on #2557
yes there was an issue about doing this. but forcing thumb mode when the psr bit is set is incorrect because it will produce invalid disasm when trying to disassm non-thumb code. This was one though i had a while ago.. in fact there’s an issue for this already. and imho it only makes sense to do it when seek == pc

can you send a pr? maybe @defragger can see if this breaks x86 somehow, please send

[2016-12-31 17:00] radare commented on #6406
see e search.in=?

[2016-12-31 17:40] paulfertser commented on #2557
r_io_plugin_gdb doesn't implement kill(), so sending signal to stop a running target is not possible.

Compared to the usual GDB debugging I'm also lacking a sensible way to send qRcmd command ("monitor" in gdb) to be able to send OpenOCD commands directly. =!pkt isn't suitable because qRcmd needs hex-encoded contents.

It's also kind of strange PSR is not shown in "?0;f tmp;s.. @ pc" visual mode

[2016-12-31 18:10] radare commented on #2557
this is up to the r_debug_gdb plugin, not the io one. you can implement this in the io if you like too via system

thats because of the reg profile missing the bit definition of the psr

[2016-12-31 18:12] paulfertser commented on #2557
I meant to say that "dk" doesn't let me send any signal via GDB Serial protocol and that I'm not able to stop a running target anyhow.

[2016-12-31 18:13] radare commented on #2557
i see, the gdb debug plugin doesnt implements the kill callback

[2017-01-01 10:43] jttoivon commented on #6406
Thanks! Setting `e search.in=io.maps` seems to do the trick. Maybe this should set by default, when the `-s` option is given?

[2017-01-01 11:18] radare commented on #6406
You are not using -s but maybe we should decide better which search.in mode use by default depending if loading with -n with -d, maybe with -m too, etc... didnt changed that to have some consistent behaviour, but thats up for discussion

[2017-01-01 11:28] MariasStory opened #6410 "Impossible disassembly?"
This seems to be an old trick:
![image](https://cloud.githubusercontent.com/assets/6576335/21581025/a93908ee-d01d-11e6-9020-f0cc98856c0e.png)

[2017-01-01 12:14] n0w opened #6411 "Wrong AVR 'mul' description on pseudo asm"
When setting asm.pseudo = true on AVR, the following instruction
`429f           mul r20, r18 `

gets 'translated' as:
`429f           r20 *= r18`

when it should be something like:
`429f           r1:r0 = r20*r18`

[2017-01-01 13:57] Maijin commented on #6410
Well it is.

[2017-01-01 13:57] Maijin commented on #6410
Use radare2

[2017-01-01 14:04] MariasStory commented on #6410
Hi @Maijin,

Can you please explain why did you close the issue?

To me, it is a big problem to deal with.

Example:
rasm2 'mov ax, 05EBh; XOR eax, eax; JZ -7; add ax,5; sub ax,5'
b8eb05000031c00f84ecffffffc005e805
Output:
rasm2 -d 'b8eb05000031c00f84ecffffffc005e805'
**mov eax, 0x5eb
xor eax, eax
je 0xfffffff9
invalid
invalid
invalid
invalid**

[2017-01-01 14:06] Maijin commented on #6410
Well you didn't explain what is the problem just pasted a slide without any reproducer without any tests.
Also the assembly shown in the slide is not the same as the one you provided.

[2017-01-01 14:09] Maijin commented on #6410
+ It's not a bug, if you follow the disassembly using arrow left/right in visual mode this trick doesn't work so it's not a problem for radare2.

[2017-01-01 14:10] Maijin commented on #6410
See https://asciinema.org/a/3l290l0jxe13firaq51psxudk

[2017-01-02 03:57] mgjung95 commented on #6402
when I check "r2 -v", the output is...
**mgjung@mgjung-VirtualBox:~/research/swmaze_core/swmaze_core/crypto_test$ r2 -version
radare2 1.2.0-git 13331 @ linux-x86-64 git.1.1.0-64-gad48c07
commit: ad48c071a7efd6b89a7e6b1a7c3c99cc5967d541 build: 2016-12-28**

I tested like followings.
 mgjung> r2 a.out
   [0x0804841d]aaa
   [0x0804841d]aad
   [0x0804841d]pd 20

But I didn't try "aae", could you expla

[2017-01-02 13:17] radare commented on #6410
pd does linear disasm, pdr or agf do graph/recursive disasm, also you can enable asm.midflags to solve that disasm trick

also, iirc there are tests for this

[2017-01-02 13:19] radare commented on #6411
cc @killabytenow

[2017-01-02 13:20] radare commented on #6411
there's no parse_avr_pseudo.c so it is using the x86 asm parser which is probably going to be buggy in many cases. the solution would be to copy the x86 one and adapt it for avr

[2017-01-02 13:21] radare commented on #2557
can you send a PR for that?

[2017-01-02 14:44] Maijin commented on #6410
Yes midflags have tests iirc. So closing this.

[2017-01-02 14:44] #6410 closed

[2017-01-02 14:58] radare commented on #6410
please confirm that pdr and agf works fine for this case and write tests for them if needed, not sure if its a regression yet

[2017-01-02 15:03] radare commented on #6388
open anal_arm_cs.c with your favourite editor and fix that. capstone already provides all this info, just fix the format string that creates this esil expression

thanks!

[2017-01-02 15:04] ekiwi commented on #6388
but what would be the correct ESIL command for an **arithmetic** right shift?

[2017-01-02 15:05] radare commented on #6388
OP ("<<", esil_lsl);
        OP ("<<=", esil_lsleq);
        OP (">>", esil_lsr);
        OP (">>=", esil_lsreq);
        OP (">>>", esil_ror);
        OP ("<<<", esil_rol);

(from anal/esil.c)

[2017-01-02 15:10] ekiwi commented on #6388
These are only logical shifts and rotations. An arithmetic right shift fills the empty positions on the left with the former MSB. I don't see how I can emulate that behavior with the instructions you posted.

[2017-01-02 15:11] radare commented on #6388
iirc <<< and >>> will do that. because they rotate the bits

there are other archs that already have instructions like this too

[2017-01-02 15:17] ekiwi commented on #6388
The way I understood it, `<<<` and `>>>` are [circular shifts](https://en.wikipedia.org/wiki/Circular_shift), while what I need is an [arithmetic right shift](https://en.wikipedia.org/wiki/Arithmetic_shift).

Thus:

![rotate_right](https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Rotate_right.svg/450px-Rotate_right.svg.png)

vs

![arithmetic shift right](https://upload.wikimedia.org/wikip

[2017-01-02 15:28] radare commented on #6388
there’s no esil instruction for that. we can implement this in <<<< and >>>> or you can implement it in several esil instructions.

sorry for the confusion

implementing those two new instructions in esil is just editing the libr/anal/esil.c . i guess other archs will have similar instructions so it’s worth the effort. maybe other esil-ists in r2land can share their thoughs here

[2017-01-02 15:30] ekiwi commented on #6388
If I have enough time I will try to do that.

`>>>>` is enough, as an arithmetic and logical _left_ shift do exactly the same thing, only the _right_ shifts differ.

[2017-01-02 15:52] cloudtracer commented on #6078
I've been working on some pure javascript reversing tools myself and its a daunting task. I'd be very interested in knowing if someone can get the emscripten build working, I've tried myself with the same results.

[2017-01-02 18:27] radare commented on #6078
i’ll give a try before 1.2 :)

[2017-01-02 20:05] radare commented on #6337
it is fixed now?

[2017-01-02 20:07] radare commented on #6341
_fileno should be defined in stdio.h . see https://msdn.microsoft.com/en-us/library/zs6wbdhx.aspx

[2017-01-02 20:08] radare commented on #6341
So, as long as the fopen is done with the 'b' bit. this thing is totally unnecessary, i have just commented out. pls confirm its fixed

[2017-01-02 20:19] #6388 closed

[2017-01-03 01:34] trufae commented on #6369
this issue must be opened in the sdb repository

[2017-01-03 01:55] #6364 closed

[2017-01-03 01:59] radare commented on #6401
Can't reproduce, can you show regions or hexdump of contents pointed by $rsp ?

are you sure you are using latest r2 from git? :P

[2017-01-03 09:25] sferrini commented on #6364
@radare thanks!

[2017-01-03 09:43] Jichao opened #6413 "Bad CPU type in executable"
iphone5c:
1)add cydia.radare.org
2)`apt-get install radare2`.
3)`b2`

-sh: /usr/bin/r2: Bad CPU type in executable

[2017-01-03 10:34] Maijin commented on #6369
https://github.com/radare/sdb/issues/new

[2017-01-03 11:03] Dax89 commented on #6369
Ok I have opened this issue there, I will close this one.

[2017-01-03 11:03] #6369 closed

[2017-01-03 11:20] radare commented on #6413
the default package is compiled for 64bits, there’s a separate package for 32bits (radare2-arm32)

[2017-01-03 11:20] #6413 closed

[2017-01-03 11:23] radare opened #6415 "http.sandbox is not working"
it is not able to disable the sandbox when quitting the webserver, and cfg.sandbox says it is disabled

[2017-01-03 11:29] Jichao commented on #6413
@radare
`apt-get install radare2-arm32` Could not find the package
`apt-cache search radare2`

[2017-01-03 11:52] radare commented on #6413
oh i have to use underscore in the package name to avoid cydia get confused with the version number. you can download the deb and install it by hand for now.

http://cydia.radare.org/debs/radare2-arm32_1.0.2_iphoneos-arm.deb

i’m gonna fix this and push an updated package for 1.1

thanks for noticing this.

[2017-01-03 11:58] Jichao commented on #6413
thx for your reply, I have manage to build it using `sys/ios-cydia32.sh`.

[2017-01-03 12:05] rolandking opened #6417 "shared library and debugging questions"
I have most things figured out but I can't figure out how to do a couple of things

I have a shared library, I can (and have)  added comments, arguments etc. When I'm debugging code which uses this shared library, I can't find a method of opening the shared library during the run or importing the information about it from the project file (or anywhere else) to the location it ends up in memory so

[2017-01-03 12:07] rolandking commented on #6417
.. and I can't figure out how to label this as a question .. can someone do it for me please.

[2017-01-03 12:25] radare commented on #6413
should be fixed now. i can see the radare2-arm32 package in cydia

[2017-01-03 12:41] futex opened #6418 "rahash2 failed to read from a pipe"
I have a base64 encoded file and is content is xored, i try to uncrypt with a piped rahash2 command line:

`rahash2 -D base64 forum.php | xargs rahash2 -E xor -S 0x7a`
`rahash2: Cannot open file
`

But the command failed (Cannot open file)

If i try with too commands line, it run perfectly
`rahash2 -D base64 forum.php > /tmp/pp`
`rahash2 -E xor -S 0x7a /tmp/pp`

[2017-01-03 12:53] radare commented on #6418
you have to pass the filename as argument thats why it says that it cannot open a file. you can use - to tell rahash2 to read from stdin

[2017-01-03 13:02] futex commented on #6418
I have try
` rahash2 -D base64 forum.php | rahash2 -E xor -S 0x7a - `
` rahash2 -D base64 forum.php | xargs rahash2 -E xor -S 0x7a - `
` rahash2 -D base64 forum.php | xargs rahash2 -E xor -S 0x7a {} `

they failed too, rahash2: Cannot open file error

[2017-01-03 15:51] radare commented on #6418
Should be fixed in here 2f5c778abe14a39213944ba9e202ada6a886f7a8

[2017-01-03 15:51] #6418 closed

[2017-01-03 16:47] radare commented on #6418
will be good to have tests for this. can you send a pullreq to the r2r repo with some tests for this?

[2017-01-03 17:00] arielkoren opened #6420 "Obtain all exported functions of dynamically loaded library"
When debugging a program on linux with r2, it seems like i cant get all functions exported by some library (LIBC), but only the functions used by the main program. for example:

[code]

"~" means " | grep"
Obviously there should be more than 37 symbols..

What should i do if i want to find the address of the function "system" or "printf" for example

[2017-01-03 17:07] futex commented on #6418
After update, it work perfectly with that command

`rahash2 -D base64 forum.php | rahash2 -E xor -S 0x7a -`

Thank you :)

[2017-01-03 17:24] radare commented on #6420
confirmed issue. works fine with module name but not with address. this is a one line fix, wanna try to send a pr?

[2017-01-03 19:01] arielkoren commented on #6420
point me to the module and i will try to have a look this weekend

[2017-01-03 20:18] Maijin commented on #6420
https://github.com/radare/radare2/blob/master/libr/core/cmd_debug.c#L928

[2017-01-04 02:01] circleous commented on #6341
Yep, build is fine now.

[2017-01-04 09:31] radare opened #6424 "`pi` not working"
<img width="385" alt="screen shot 2017-01-04 at 10 20 30" src="https://cloud.githubusercontent.com/assets/917142/21637795/e3156790-d268-11e6-98b1-2619409dd851.png">

[code]

[2017-01-04 11:31] #6341 closed

[2017-01-04 11:31] Maijin commented on #6341
Then close

[2017-01-04 12:30] #6387 closed

[2017-01-04 14:47] l4l commented on #6405
It doesn't work in many cases:
e.g `_ZN71_$LT$Test$u20$$u2b$$u20$$u27$static$u20$as$u20$foo..Bar$LT$Test$GT$$GT$3barE` converts to `_ZN71_<Test ` instead of `<Test + 'static as foo::Bar<Test>>::bar`
[source](https://github.com/alexcrichton/rustc-demangle/blob/master/src/lib.rs#L292)
So it's better based on the rust demangler imo

[2017-01-04 22:19] radare opened #6428 "Honor scr.color in `ad` commands"

[2017-01-04 22:20] radare opened #6429 "r2 -nnn fatmach0 loads flags of subbin, not the ones of the fatmach0"

[2017-01-05 00:45] Flat opened #6430 "Incorrect offset with ARM android native library"
# Problem

radare2 upon seeking to a position in the binary shows the correct hex, but writes to the wrong offset. using io.va = false shows the offset it thinks it correct (the wrong one) instead of obscuring it with the code that it should be.

# Steps to reproduce

1. Load attached .so in r2 ```r2 -w libandroid_runtime.so``` ([libandroid_runtime.so.tar.gz](https://github.com/radare/radare2/file

[2017-01-05 00:51] radare commented on #6430
as a workaround you can set a high base address to avoid PA overlap with VA.

$ r2 -B 0x9000000 -w target.so

[2017-01-05 01:19] Flat commented on #6430
Looks like that does indeed make it work correctly for me.

[2017-01-05 01:29] radare opened #6431 "Implement dh io for gdb://"
the io.gdb plugin must provide more debugger commands via =! or \.. this is what the debugger will use in case of `dh io` (instead of the dh gdb), both methods should be implemented imho, the io one is lower level

[2017-01-05 01:48] ninjahacker opened #6432 "ESIL arm 32 errors"
See broken tests in https://github.com/radare/radare2-regressions/pull/653

Summary:
LDR and STR don't work perfectly with offsets.
SUB does not set the zero flag when the result is zero (big deal for exiting loops!).

[2017-01-05 12:28] phmarek commented on #6176
Trying `rabin2 -P <some PDB file>` I get this output:

[code]

I guess that's related.

Is there some workaround I can use to dump the PDB file?

[2017-01-05 12:37] phmarek commented on #6176
This is radare2=1.1.0+dfsg-1, BTW.

[2017-01-05 12:39] radare commented on #6176
rabin2 -P <pdfile> should work fine, there are tests for that already. if its not working open another issue, but this one is unrelated to your problem

[2017-01-05 12:53] phmarek commented on #6176
Thanks a lot!

[2017-01-05 12:59] phmarek opened #6434 "rabin2 not working/crashing on PDB"
Rabin2 (from radare2=1.1.0+dfsg-1) doesn't work for PDB files built from CL.EXE 19.00.24210 (free EWDK edition).

[code]

On another file I had no segfault, but the same 4 messages and no output either.

[crash.zip](https://github.com/radare/radare2/files/687283/crash.zip)

[2017-01-05 13:00] radare commented on #6434
try with version of git before reporting plz, cant do much without reproducer file or backtrace without symbols, also 1.1 is old, in r2land we only fix bugs reproducible on git

[2017-01-05 13:04] phmarek commented on #6434
Reproducer file is attached above.

[2017-01-05 13:57] radare commented on #6431
https://sourceware.org/gdb/onlinedocs/gdb/Packets.html#vCont%20packet

[2017-01-05 18:05] ninjahacker commented on #6432
Working it. The changes require some bigger overhauls than I thought. SUB doesn't set flags but SUBS does, but r2 doesn't distinguish the difference right now. Adding lots more tests for ADD(S)/EOR(S)/etc too.

[2017-01-05 18:11] sre commented on #6176
The magic warnings are leftovers lelong is 4 byte in magic, so "%u" should be used instead of "%lu".

[2017-01-05 20:19] ninjahacker opened #6436 "32 bit ARM assembler errors AND/EOR/ORR"
rasm2 -a arm -b 32 'and r2,r2'
022002e0
rasm2 -a arm -b 32 'ands r2,r2'
022002e0

The 'ands' should be 022012e0. The same problem occurs for eor/eors, orr/orrs. Disassembly works:
rasm2 -a arm -b 32 -d 022012e0
ands r2, r2, r2

[2017-01-05 23:12] zonkzonk opened #6437 "[lulzfuzz] cmd_info segfaults"
morrn,

[code]

Greetings
--zlul

[2017-01-05 23:15] zonkzonk commented on #6401
now yes :P but this core dump seems screwed (wrong ulimit)
nothing useful:

(gdb) i r rsp
rsp            0x7ffe60741298   0x7ffe60741298
(gdb) x/40i $rsp
   0x7ffe60741298:      Cannot access memory at address 0x7ffe60741298
(gdb) x/40i $rsp+40
   0x7ffe607412c0:      Cannot access memory at address 0x7ffe607412c0
(gdb) x/40i $rsp-40
   0x7ffe60741270:      Cannot access memory at address 0x7ffe60

[2017-01-05 23:15] #6401 closed

[2017-01-05 23:22] zonkzonk commented on #6395
izzq looks ok. no need to fiddle :)

[2017-01-06 00:25] radare commented on #6436
Thanks for reporting. You can use the keystone plugin meanwhile

[2017-01-06 05:59] Maykeye commented on #5241
I've done analyzing libxul from firefox on

radare2 1.2.0-git 13411 @ linux-x86-64 git.1.1.0-103-g8e59afb
commit: 8e59afb91c4adb6347ec63c991889d97eafcf021 build: 2017-01-03

running under callgrind.

~25 trillions instructions and ~3 days later, most time was spend in these functions:

* r_flag_get_at (28.53%, ~7 trillions Irs)

* r_anal_get_fcn_at (11.64% ~2.9 trillion Irs)

* and __GI_strchr fro

[2017-01-06 14:25] l4l opened #6443 "realloc misusage"
After running cppcheck there's founded lot of realloc misusage like:
[code]

When realloc fails then memory from malloc is leaked. So may be we need some fn like `r_realloc`?

And here is all problem lines:
[code]

[2017-01-07 00:45] #6436 closed

[2017-01-07 02:05] radare opened #6445 "radiff2 -z to Diff strings extracted from two files"
this is:
[code]

but using the API and not touching the fs..

[2017-01-07 02:06] radare opened #6446 "Do not autoname when radiff2 -C"

[2017-01-07 08:50] j123123 commented on #6410
#6012 - relevant issue

[2017-01-07 11:46] #6390 closed

[2017-01-07 11:52] Maijin commented on #6417
That's a question for @oddcoder

[2017-01-07 11:54] Maijin commented on #6417
Please read https://github.com/radare/radare2/blob/master/doc/types.md

[2017-01-07 12:02] Maijin commented on #6400
ping1

[2017-01-07 13:08] radare opened #6447 "Working with multiple bins is confusing"
Opening more than one bin is not a pleasant experience. Mainly because the oc command kills the current session withiut even asking confirmation or being able yo control multiple cores.

But using oc is not ideal.. we should add another arg to the o command to specify the baddr.. because specifying a different paddr is important to avoid overlapping file maps, but without a different baddr this is

[2017-01-07 13:13] radare opened #6448 "Add command to diff current function with others"
Finding similar or exact match functions is very useful to identify inlined functions and some other compiler optimizations that may result in dupe code that can be simplified to find place to inject code or reduce the amount of unknown code

[2017-01-07 14:26] radare opened #6449 "o= is not colorized"

[2017-01-07 15:04] Maijin commented on #6449
and is not documented!

[2017-01-07 15:28] Maijin commented on #6446
So just adding a set_i false for anal.autoname ?

[2017-01-07 15:28] Maijin commented on #6446
in here https://github.com/radare/radare2/blob/master/binr/radiff2/radiff2.c#L426

[2017-01-07 16:49] l4l commented on #6313
@peperunas try to set breakpoints after entry point, after opening at debug mode it by default here. Works fine for me:
https://asciinema.org/a/bb22yny9h244xmvqocgk6uob6

[2017-01-07 20:01] radare commented on #6449
😱

[2017-01-07 20:04] l4l commented on #6445
Hmm, i think i can take that one
What's the best way to get those strings? r_core_bin_info?

[2017-01-07 20:17] radare commented on #6445
See rbingetstrings()

[2017-01-07 20:25] ninjahacker opened #6451 "r_core_anal_esil_fcn usefulness?"
I was looking into doing better on ARM analysis, and I came across two functions: r_core_anal_esil_fcn and r_core_anal_esil.

r_core_anal_esil_fcn is called from r_core_anal_fcn when anal.esil is set. But r_core_anal_esil_fcn doesn't appear to do anything. Then there is r_core_anal_esil which appears to really do analysis using esil. So is this a mistake? Should r_core_anal_fcn really call r_core_

[2017-01-07 21:52] ninjahacker opened #6454 "BX should change between arm and thumb mode"
See https://github.com/radare/radare2-regressions/pull/657

[2017-01-07 23:02] neobrain opened #6456 "Cursor not displayed on data blocks in Vpc"
In visual mode with cursor enabled, the cursor only shows up on assembly instructions. It is not drawn when the cursor offset coincides with e.g. a data word.

Steps to reproduce:
* `radare2 /usr/bin/ls`
* `Vpc` to enter visual mode with cursor enabled (note how the cursor is placed on the first instruction)
* `d` and `w` to declare the data at the current instruction as a data word (note how the

[2017-01-08 02:39] rolandking commented on #6417
I had read that piece about functions, and I just read it again. However unless I've misunderstood it, that's to compile definitions of system/well-known functions directly into r2 for general use, what I was looking for was a way, when annotating decompiled code, to annotate the parameters of the functions in that executable. eg if I'm working on piece of code and find function foo() in there and

[2017-01-08 21:22] VisualPrankDude commented on #6443
uhm, did you verify the grep ?

[2017-01-08 21:22] alvarofe commented on #6451
There is a TODO inside `r_core_anal_esil_fcn` so I think is not implemented.

[code]

[2017-01-08 21:24] alvarofe opened #6459 "Move into aae what I have done in disasm.c"
The correct place to handle blx/bx switch instruction set should reside in `aae`.

[2017-01-08 21:28] VisualPrankDude commented on #6443
,git diff libr/bin/format/pe/pe.c
diff --git a/libr/bin/format/pe/pe.c b/libr/bin/format/pe/pe.c
index 0b8350e..f84de30 100644
--- a/libr/bin/format/pe/pe.c
+++ b/libr/bin/format/pe/pe.c
@@ -2495,6 +2495,10 @@ void PE_(r_bin_pe_check_sections)(struct PE_(r_bin_pe_obj_t)* bin, struct r_bin_
        }
        //we need to create another section in order to load the entrypoint
        sections = real

[2017-01-08 21:33] l4l commented on #6443
What dou mean by that? I didn't use grep much:

cppcheck radare2 >/dev/null 2>&1 | grep "Common realloc"

On 09.01.2017 00:22, VisualPrankDude wrote:

[2017-01-08 21:34] l4l commented on #6443
Here you can see section = realloc(section, ...) as well as I mentioned
in first msg

On 09.01.2017 00:28, VisualPrankDude wrote:

[2017-01-08 21:36] l4l commented on #6448
Looks like #6346

[2017-01-08 21:40] VisualPrankDude commented on #6443
@Maijin can you please reformat my comment, forgot tags and can't edit currently

[2017-01-08 21:51] ninjahacker commented on #6459
You should also check against the const ARM_INS_BX rather than fixed numbers.

[2017-01-08 21:53] Maijin commented on #6443
got it covered ;)

[2017-01-08 21:53] ninjahacker commented on #6451
Yes, true. I'm just wondering if I'm missing something since ESIL analysis is done elsewhere. Why can't we just hijack that? Or is there something special that needs to be done here?

[2017-01-08 22:14] l4l commented on #6443
Ah, that's better, @VisualPrankDude. But well, don't see [it in master](https://github.com/radare/radare2/blob/master/libr/bin/format/pe/pe.c#L2497)

[2017-01-08 23:03] #6445 closed

[2017-01-09 00:16] radare opened #6460 "Show comments in hexdump"
* Add hex.comments variable
* px should print the comments entered with CC at right of each row
* Check all comments in range

[2017-01-09 02:17] radare opened #6461 "radiff2 -z / -i should |sort before comparing buffers"
we must sort and uniq()

[2017-01-09 02:26] radare opened #6462 "radiff2 -u should support buffers of different size"
it is currently chopping the buffers to R_MIN(lenA, lenB)

[2017-01-09 02:44] radare opened #6463 "Add command/key to move visual cursor forward/backward N bytes (abs/rel)"
when selecting stuff in visualmode will be good to have a key to grow/shrink that selection by having numerical input prompt

[2017-01-09 02:48] radare commented on #6461
See libr/util/diff.c (r_diff_buffers_unified) and also radiff2.c (get_imports & get_strings)

[2017-01-09 11:02] condret opened #6464 "integer overflow in r_io_extend"
https://github.com/radare/radare2/blob/e20ac7a1395c13e409033b3b89354c563c25f258/libr/io/io.c#L618

this potential integer overflow can shrink files

[2017-01-09 12:31] radare commented on #6464
Can you provide a test case for the testsuite? the fix is just an if, would you like to send a pr?

[2017-01-09 12:45] #6415 closed

[2017-01-09 13:33] radare opened #6465 "Add quieter mode for rabin2 -s to only show the symbol names"
The address of the symbols can be undesired if we just want to diff

[2017-01-09 14:18] radare commented on #4657
Done in master

[2017-01-09 14:18] #4657 closed

[2017-01-09 14:20] radare commented on #4528
Should be relatively easy to implement now that we have -u and -U

[2017-01-09 15:36] radare opened #6466 "Add support for Reloc Type 1 for ELF"
Sample file: http://lolcathost.org/b/libvulkan_radeon.so.xz

Problem:

* Imports wrongly resolved (see rabin2 -i output)
* PLT not resolved properly so many imports are dupped

Notes

* Seems like rabin2 -R is consistent with objdump -R
* This is the R_386_32 // R_X86_64_32 type

*"R_386_32 is a relocation that places the absolute 32-bit address of the symbol into the specified memory location. R_

[2017-01-09 15:52] condret commented on #6464
i'm not sure if we just want to return false if integer overflow got detected. We could eprintf something and only extend until UT64_MAX.

[2017-01-09 16:14] radare commented on #6466
http://eli.thegreenplace.net/2011/08/25/load-time-relocation-of-shared-libraries/

[2017-01-09 16:15] radare commented on #6464
yes, error is what i would expect, a simple fix would be to cast to st64 and check if its negative

[2017-01-09 16:16] radare commented on #6464
i dont think anybody is gonna resize a file in r2 to be > 63 bit in size

[2017-01-09 16:50] radare opened #6467 "Add 'o' subcommands to open next/prev file, count opened files, etc"

[2017-01-09 16:52] Maijin commented on #4528
:O

[2017-01-09 17:00] radare opened #6468 "Analysis info not tied to any specific file"
which can result in a problem when trying to switch between different overlapped files

[2017-01-09 17:06] XVilka opened #6469 "msys2 building - sh.exe segfaults on this line."
[code]

[2017-01-09 22:48] Svenito opened #6471 "RFC: Remove r_asm_from_string function"
https://github.com/radare/radare2/compare/master...Svenito:remove-r_asm_from_string

It is not called anywhere and could be removed pending anyone objecting.

[2017-01-09 23:40] radare commented on #6471
I think it was done to ease the use of the native bindings. Keep it for now but add a comment with that info. We may probably want to define a high and low level apis for all modules

[2017-01-09 23:48] radare opened #6472 "Rebrand rap, rtr, rmt into r2p"
We must decide to change the name of the radare remote protocol:

* Use r2p:// instead of rap:// ?
* all defines, functions, commands should refer to a single name

See r_io.h with RMT_*
See libr/core/rtr.c

I think having r2p.c makes more sense and its more intuitive than rap://

[2017-01-09 23:57] #6356 closed

[2017-01-10 00:33] radare opened #6473 "Show cyclesTotal (afc) in afll and afi"

[2017-01-10 10:59] l4l opened #6474 "Counting in hud selector goes to -1"
that should be pretty easy
[code]

![screenshot- - -10-13 58 35-msk-2017](https://cloud.githubusercontent.com/assets/5658339/21803830/50b7887e-d745-11e6-8e9d-238cd54a1e23.png)

[2017-01-10 11:25] radare commented on #6322
can you proove that "infinite analysis" theory with a small binary?

[2017-01-10 11:36] radare commented on #6451
currently there are multiplke analysis loops. esil makes no sense to do it in the same static analysis loop because you need proper function boundaris to perform correct recursive code emulation to resolve all refs properly. so we just experiment with different commands and loops to find best results on different targets and slowly add them to the defaults when properly tested.

if you have any id

[2017-01-10 11:39] radare commented on #6474
I can reproduce and its easy to fix. Do you want to do it? Btw this test can be onelinered like this:

r2 -cV_ /bin/ls

[2017-01-10 12:28] Svenito commented on #6471
Done via 4fe5d34

[2017-01-10 12:28] #6471 closed

[2017-01-10 13:07] #6474 closed

[2017-01-10 13:07] radare commented on #6474
tired of waiting

[2017-01-10 13:08] radare commented on #6469
if it's segfault it's msys fault, not r2

[2017-01-10 13:08] radare commented on #6464
tired of waiting, fixed in de2ae8ca0f24149d1c6aae6dc73cb38653ada060

[2017-01-10 13:08] #6464 closed

[2017-01-10 14:07] radare opened #6475 "Show flags of offsets in pxr"
This can be useful to see rsp/rbp and other references pointing to the stack

[2017-01-10 14:15] l4l commented on #6474
¯\_(ツ)_/¯

[2017-01-10 14:49] radare commented on #6313
is this a cantreproduce?

[2017-01-10 14:59] peperunas commented on #6313
@radare, I'll check as soon as possible.

[2017-01-10 16:48] enovella commented on #6322
Hi r2,

Sorry but I did not find yet the binary that hung me r2 in that occasion. As soon as I am able to reproduce the "infinite analysis" again,  will share the binary over here.

Cheers

[2017-01-10 19:27] alvarofe commented on #6459
I did that cause I had to include capstone and it was a workaround. The idea is making in better and be only in anal. It doesn't make any sense to be in disasm.c

[2017-01-10 19:27] alvarofe commented on #6459
Original issue https://github.com/radare/radare2-regressions/pull/657

[2017-01-10 21:27] alvarofe opened #6476 "rabin2 -O d/S/<section name> throws an error it shouldn't be there"
Just cleaning issues I saw this. Why is trying to write on bin/ls when it should dump the content out?

![image](https://cloud.githubusercontent.com/assets/3474042/21825409/e4806efc-d783-11e6-9d2e-ff6dbf3f5393.png)

[2017-01-10 21:35] alvarofe commented on #6468
Is this a problem for IO? I would say RAnal <-> RBin. IO should limit itself to read and write don't mess up with anal info

[2017-01-10 21:39] alvarofe commented on #6451
r2 is for experimentation, PoC and fun before to pass the stuff to production/approval aka pancake

[2017-01-10 22:28] ninjahacker commented on #6451
Yeah, I'll see what I can do. Right now I'm pretty close to finishing the LDR/STR esil implementation for ARM. It's pretty nuanced. A ton of cases to consider to get it right. Each of which obviously need a regression test! Ugh!

[2017-01-10 22:31] ninjahacker commented on #6459
Aha! Cool. Thanks!

[2017-01-10 22:41] ninjahacker opened #6477 "ARM assembler doesn't do LDR/STR with shifts"
We can assemble:
[code]

but

`LDR R1, [R2, R3, lsl 3]` won't work.

[code]

All the typical shifts are allowed for both STR and LDR:
[code]

[2017-01-10 23:49] condret commented on #5328
would be nice to "hijack" the fd and transform it to a RIODesc. So you debug something, then you hijack the fd, kill the process and start the esil-vm, at the point where you killed the process

[2017-01-11 00:19] zonkzonk opened #6478 "rabin2 faulting with negative resize"
morrn,

rabin2 faulting with negative size on second attempt:

[code]

[2017-01-11 00:20] radare opened #6479 "Managing types: enums"
[code]

several issues here:

* te doesnt accepts the argument to show the enum
* te [enum] [value] - works fine

we want "te [enum]" to list all the enums and values of that enum

Also, using "t enum" results in a debug printf.. when it should do the same as 'te enum'

[2017-01-11 00:25] zonkzonk commented on #6478
sorry wrong gdb usage!

[code]

[2017-01-11 00:35] radare opened #6480 "self:// should have * commands to import the data into r2"
Will be nice to have libgum integration via r2pm with self:// this way we will be able to use r2preload to inject an r2 shell into the target process and use libgum to manipulate the process in memory

[2017-01-11 00:35] radare opened #6481 "Implement ytf command"
Stands for `yank to file` . this is.. dumping the current clipboard contents to a file (argument)

[2017-01-11 00:50] radare opened #6482 "Implement tj command"
List all type information in JSON format

[2017-01-11 01:00] radare commented on #6479
See e2e90a6bf4bb030aff03c30a5ed25a9c95d83ac6 i did the `ts` -> `t` alias in here, doing the same for enums is easy. the "hard" part is to implement the "IS ENUM"

[2017-01-11 06:23] XVilka commented on #6482
Also to command to list _all_ types, not just structs, enums and simple types separately

[2017-01-11 08:44] radare commented on #6476
Dunno should not be required

[2017-01-11 08:48] radare commented on #6482
I would put this in another command, not to

[2017-01-11 08:51] radare commented on #5328
fd://22

I think this makes more sense via self:// than via dbg:// because not all operating systems support sharing an fd between processes

[2017-01-11 11:31] radare opened #6483 "seek undo test completely broken ?"
@Maijin dont mark tests as broken that easily... when was this fuckedup?

<img width="983" alt="screen shot 2017-01-11 at 12 30 16" src="https://cloud.githubusercontent.com/assets/917142/21846967/c9aafacc-d7f9-11e6-9761-24bbf9d5eb67.png">

[2017-01-11 11:37] radare opened #6484 "Kill previous background "speech" process if launched in background"
See r_sys_tts()

Reproducer: "?es say;?es wat"

[2017-01-11 11:38] radare commented on #6484
Err i mean: "?es say&;?es wat&"

We should probably want to stop prev tts even if in foreground

[2017-01-11 11:39] radare opened #6485 "Use & as an universal separator"
Right now we have to do this:
x&;x

But in sh you can do x&x because the & implicitly splits the command list

[2017-01-11 12:00] radare commented on #6478
I can reproduce it. Its a bug in the boundaries checks of elf_write.c. Gtg run out will fix later or maybe alvaro can have a look

[2017-01-11 14:45] radare commented on #6478
Fixed now. thanks! can we have a test for this?

[2017-01-11 14:45] #6478 closed

[2017-01-11 15:54] #6481 closed

[2017-01-11 16:01] radare commented on #6437
cant reproduce. in fact.. i dont know which commands are you typing here..

[2017-01-11 16:48] radare commented on #6451
Awesome! Good job!

[2017-01-11 17:05] wargio opened #6486 "[PPC] asm.emu & asm.pseudo doesn't work correctly"
Hi,

i'm using radare2 to analize a ppc64 elf and the emu/pseudo options seems broken to me.
`e asm.emu=1`

[code]
and for pseudo
`e asm.pseudo=1`

[code]
especially wrong when a
[code]
is translated as
[code]

About radare:
radare2 1.2.0-git 13695 @ windows-x86-32 git.1.1.0-172-ge23c17346
commit: e23c173460b25a6ff51ff474ace12144a595fb55 build: 2017-01-10

[2017-01-11 17:07] radare commented on #6486
there’s no pseudo plugin for powerpc, so it’s using the x86 one which is pretty different. Do you wanna write it? Just copypaste the mips one (because it handles 3 parameter instructions) and add the list of instructions for ppc64? see libr/parse/p/*

[2017-01-11 17:08] radare commented on #6486
also, pseudo is not done via emulation. you may want to implement the ESIL expressions for PPC64 too. You can use asm.esil=true to see that (or just toggle that variable in visual mode by pressing the ‘O’ key (uppercase o)

[2017-01-11 17:11] wargio commented on #6486
do i have to rebuild radare2 to add the ESIL expressions ?

[2017-01-11 17:13] radare commented on #6486
just type make in libr/anal no need to reinstall or rebuild everything. the esil expressions must be in the libr/anal/p/anal_ppc_cs.c plugin

[2017-01-11 17:38] XVilka commented on #6469
@radare will ping msys2 devs, please keep it open to track things down.
This code seems to work (from IRC):
[code]

[2017-01-11 18:07] radare commented on #6469
Wtf a non unified diff in 2017?

[2017-01-11 18:15] Maijin commented on #6483
I don't think put BR on this

[2017-01-11 20:29] alvarofe commented on #6437
Check master again I think is a null dereference on obj otherwise I am lost

[2017-01-11 21:45] ninjahacker opened #6487 "ARM R2 and R3 linked to CPSR weirdly"
This should not happen:

[0x00000000]> ar
sb = 0x00000000
sl = 0x00000000
fp = 0x00000000
ip = 0x00000000
sp = 0x00000000
lr = 0x00000000
pc = 0x00000000
r0 = 0x00000000
r1 = 0x00000000
r2 = 0x00000000
r3 = 0x00000000
r4 = 0x00000000
r5 = 0x00000000
r6 = 0x00000000
r7 = 0x00000000
r8 = 0x00000000
r9 = 0x00000000
r10 = 0x00000000
r11 = 0x00000000
r12 = 0x00000000
r13 = 0x00000000
r14 = 0x00000000
r

[2017-01-11 22:04] alvarofe commented on #6487
You are having fun with arm :)

[2017-01-11 22:15] Maijin commented on #6487
use `ar register` and code style :P it will look much nicer and concise

[2017-01-11 22:17] radare commented on #6487
wtf could be a bug in the last changes in r_reg, pretty scary

[2017-01-11 22:23] Maijin commented on #6487
Even better `| ard <name>      Show only different registers`

[2017-01-11 22:33] radare commented on #6487
Should be fixed now. the regprofile was wrongly defined. see 50e6c1d4283615d9c233a615ffbeae29b82ec83f the bits definition of the cpsr is wrong. you can check how its done for x86, and will be good if you can add the 1bit registers to represent those state register.
This is in libr/anal/p/*.c and libr/debug/p/* (the register profiles may be found in analysis and debugger plugins)

[2017-01-11 22:33] radare commented on #6487
Fixed, requires updated regprofiles with correct bit definitions

[2017-01-11 22:33] #6487 closed

[2017-01-11 23:32] radare opened #6489 "Rename Cf into CF"
to be consistent with VdF

[2017-01-11 23:34] radare opened #6490 "Find better keys to format as data the memory"
we can do pxd to show this delta table. or just type `Cf 4 i`.. but this is very tedious and the disasm in visual scrolls terribly bad.

we need better ways to define this kind of arrays of simple types from the shell and in visual mode.

<img width="745" alt="screen shot 2017-01-12 at 00 24 57" src="https://cloud.githubusercontent.com/assets/917142/21870760/3df157d2-d85e-11e6-810d-8f803a28722d.pn

[2017-01-12 01:03] ninjahacker commented on #6487
@alvarofe Yes! About a year ago I was planning on really sitting down and improving ARM since that's all I worked on and r2 was severely lacking compared to x86. Then I changed jobs and whatnot and lost a lot of the time I was going to use. I'm just now getting around to it again.

[2017-01-12 04:32] sevan opened #6493 "Use of linux_dbg_wait() breaks builds on other unices such as the BSDs"
As the function name suggests, `linux_dbg_wait()` is for Linux.
Its use in [debug/p/debug_native.c](https://github.com/radare/radare2/blob/dc5be7a7678ae317d2e0c3b487181da75a3a30a0/libr/debug/p/debug_native.c#L360) breaks the build on operating systems such as the BSDs

`radare2-master/libr/debug/libr_debug.so: undefined reference to `linux_dbg_wait'`

As a test, when the line which this function i

[2017-01-12 05:00] zonkzonk commented on #6437
@radare ipa %1269168516 %1073741824\\n

[2017-01-12 07:11] leberus commented on #6493
I'll fix it. Would be a matter of put an elif __linux__ for this function. I'll get my laptop in 30min

[2017-01-12 08:12] radare commented on #6437
wat

On Jan 12, 2017 6:00 AM, "zonkzonk" <notifications@github.com> wrote:

[2017-01-12 08:16] leberus commented on #6493
Hi @sevan

could you try to compile this branch?

[2017-01-12 09:26] wargio commented on #6486
I tried to edit the anal_ppc_cs.c but i don't understand why it doesn't show any changes, even if i point to the rbin/radare2 binary to do the test.

i even added `.esil=true` to the structure at the very end of the file.

Is there something else i need to edit?

[2017-01-12 09:38] sevan commented on #6493
Thanks @leberus, that did the trick.

[2017-01-12 09:56] leberus commented on #6493
@sevan thanks for testing it, I've done a PR ;)

[2017-01-12 10:19] #6493 closed

[2017-01-12 10:23] radare commented on #6486
did you installed r2 with sys/install.sh ?

[2017-01-12 10:57] radare opened #6495 "Rebasing the session"
We can change the baddr at startup time.. but this is not possible in the middle of a running session. we can use fR to relocate the flags, but this will not change the bininfo, analysis, meta, ...

I think that we should have a command to perform this action, and test it properly, also we should be able to rebase only the metadata from a specific range in memory, if we have more files opened we d

[2017-01-12 11:08] Maijin commented on #4304
ping1

[2017-01-12 11:44] radare opened #6496 "rabin2 -B not working with fatmach0 when sub-bin is specified"
[code]

[2017-01-12 13:16] wargio commented on #6486
doh, nope.
`[sudo] make install`

ok. my mistake, i'll try.

[2017-01-12 13:48] radare opened #6497 "Add Visual Game Console Mode"
As long as we want to use and run r2 everywhere, it is important to support gamepad as input to interact with it. This is.. a special visual mode that can be fully used with 2 buttons and a up/down/left/right arrows.

[2017-01-12 14:22] m1ghtym0 commented on #6460
Gonna do it, when I find the time, hopefully before February;-)

[2017-01-12 15:00] ninjahacker opened #6498 "ESIL Math Error"
I don't think this is deliberate.

"ae 0xfffffffe,0x00000008,+"
0x100000006

Should just be 6?

[2017-01-12 15:28] leberus commented on #6437
$ r2 --
 -- EIP = 0x41414141
[0x00000000]> ipa %1269168516 %1073741824\n
No file selected
Segmentation fault (core dumped)
$

I'll try to get my head around

[2017-01-12 15:48] radare commented on #6437
thats a silly null deref, i will push the fix as soon as my compiler finished buliding r2 in this machiine.

reproducer is just r2 -qcia —

no need for all that compilcated and meaningless command

[2017-01-12 15:53] radare commented on #6437
Fixed in e5c38591c6005f615cbc192800593241aae19a62

[2017-01-12 15:53] #6437 closed

[2017-01-12 15:56] radare commented on #6498
why? you are not moving this into any register or size boundary. esil is 64bit friendly

[2017-01-12 16:03] leberus commented on #4748
Hi, what's exactly the problem loading these files? I could get the symbols and sections (and compared to readelf seems to be correct). I'm pretty sure i'm missing something

[2017-01-12 16:06] radare commented on #4748
the disasm doesnt seems correct. probably because how the linker works.. but dunno...

[2017-01-12 16:47] ninjahacker commented on #6498
Sorry no issue. I was stuck in 32-bit mode and thought it was truncated to 4 bytes. We're good.

[2017-01-12 16:47] #6498 closed

[2017-01-12 17:38] smarek opened #6499 "Web frontends does not work"
`ERROR:process_posix.cc ...` comes from Google Chrome, I use as default browser

however `http: cannot open ...` is unknown to me, folders exist, `r2pm update; r2pm -i www-t` has ran successfully. Also no change when I try `www-p, www-m or www-enyo`

I've tried, and error appears if I install in both user and system-wide installation, I've also tried completely clearing `.config/radare2`, that did

[2017-01-12 17:58] smarek commented on #6499
Ok, so removing radare2 repository, checking out again the whole thing and reinstalling, fixed the issue, but i'd be damned, if I knew what is going on. Closing as user-trouble/wontfix

[2017-01-12 18:03] smarek commented on #6499
Ok, more poking around, problem is that `r2pm` installed `www-t` conflicts with builtin one, so, if there is `~/.config/radare2/www` available and frontend is within, on launch it will fail with `http: Cannot open /home/user/.config/radare2/www//t/index.html`

So quick fix is to **remove ~/.config/radare2/www** and things will start working instantly

[2017-01-12 21:39] ninjahacker opened #6500 "ARM Register profile"
I fixed the bit offsets for the anal register profile, but the bit flags won't set (the cpsr register updates though). Do I need to make a change somewhere else to get this to be recognized?

0x00000000

0x40000000

0x00000000

0x00000000

[2017-01-12 22:38] ekiwi commented on #6389
this is related to https://github.com/radare/radare2/issues/6432

[2017-01-12 22:47] ninjahacker commented on #6389
Ah. Yes. I've been working a lot on 32 bit. So if you already started, I haven't touched 16 yet. STR is completely overhauled now. I've a few minor things to patch up before the pull request, but it does all the bells and whistles. Conditional, pre/post increment, word, byte, half word, etc.

[2017-01-12 22:49] wargio commented on #6486
How do i evaluate the expression `(a << lsh) | (a >> rsh)` in ESIL?
this is what i came up with, `??` are placeholder for the missing part of the expression
```a,lsh,<<,??,a,rsh,>>,??,|,r0,=```

[2017-01-12 22:49] ekiwi commented on #6389
while the encoding of the instructions is different, as far as I know, the analysis code that emits the ESIL commands is the same, so your fix will most likely also fix this issue.

Maybe you could check if the test passes with your changes: https://github.com/radare/radare2-regressions/pull/651

[2017-01-13 01:38] radare commented on #6486
Use ae to evaluate expressions and see if they work as expected. Use " quotes around the command like this:

"ae a,lsh,<<,??,a,rsh,>>,??,|,r0,="

[2017-01-13 11:59] radare commented on #6489
oops. there was a CF already and it was undocummented. fixed in 7272dac44b1424a3b4339b2a0bbf9f7aac80d1c2

[2017-01-13 11:59] #6489 closed

[2017-01-13 12:16] radare commented on #518
some goodies for cpsr on arm are being merged recently. we need more time to focus on this issue. moving to 1.3

[2017-01-13 12:20] radare commented on #946
cc @leberus

[2017-01-13 12:21] radare commented on #2145
moving to 1.3 :D

[2017-01-13 12:21] radare commented on #2145
faith--

[2017-01-13 12:22] radare commented on #910
i think we can close this issue, the new sdb branch will be merged soon, and we are progressively updating many parts to use sdb. no need to track them here.

[2017-01-13 12:22] #910 closed

[2017-01-13 12:23] radare commented on #1225
cc @leberus

[2017-01-13 12:24] radare commented on #6037
cc @condret

[2017-01-13 12:24] radare commented on #6037
moving to 1.3, probably makes sense to take care of this after merging siol

[2017-01-13 12:26] radare commented on #6337
Considering it is fixed

[2017-01-13 12:26] #6337 closed

[2017-01-13 12:27] radare commented on #6461
we should probably implement RList<string> diffing instead of comparing buffers here..

[2017-01-13 13:13] #6475 closed

[2017-01-13 13:20] ninjahacker commented on #6389
Sorry, I wasn't thinking about what was being said. Running the tests made it clear. I am working primarily on STR, and possibly LDR (although I may need a little break once STR is all sorted out -- I've written 100 test cases!). You are talking about STM and LDM which are completely different. So we shouldn't be overlapping at all.

[2017-01-13 13:50] skuater commented on #6093
i have made some research about how implement this some months ago. let me recap all

[2017-01-13 13:51] leberus commented on #1225
i'll take a look ;)

[2017-01-13 14:01] radare opened #6501 "Export local vars as flags"
So they can be displayed in pxa, pxr, etc

Those flags should have a prefix to make clear that are variables and can be removed safely.

Something like:
[code]

[2017-01-13 15:00] guedou opened #6502 "[OS X] Command line arguments order"
On OS X, arguments are not processed when they appear after the main parameter.

In the following example, the `-B` argument is not processed correctly.

[code]

[code]

The r2 command as the same issue:
[code]

[2017-01-13 15:42] radare commented on #6502
no its not about osx. this is about posix or not.

BSD getopt vs GNU getopt

getopt vs getopt_long

etc

im not gonna allow r2 accept flags after the file names, basically because it will break things like r2 -d ls -l / and be able to load multiple files in a single line, etc

long live posix

[2017-01-13 15:56] guedou commented on #6502
Thanks for your reply =)

[2017-01-13 15:56] #6502 closed

[2017-01-13 15:56] radare commented on #6502
You are welcome :)

[2017-01-13 17:08] ekiwi commented on #6389
urgh sorry, my bad.

[2017-01-13 17:33] oddcoder opened #6503 "Use qAPI for emulation instead of unicorn"
The full QAPI is describer [here](https://elmarco.fedorapeople.org/qemu-qapi.pdf)
It would be cool to have direct qemu support

[2017-01-13 18:54] oddcoder commented on #6417
you can change the type of variable with `afvt`
for example
[code]

[2017-01-13 22:08] #6473 closed

[2017-01-13 22:20] radare commented on #6367
one option is to use `oa 0` to load the bininfo of memory at offset 0, but this is probably not the best way to solve this. also i think that `oa` should be under `ob`.. or any other place that makes it more related to rbin

[2017-01-13 22:24] radare commented on #3033
autocompleting Sr and S- makes no sense

[2017-01-13 22:28] Maijin commented on #3033
? Why ?

[2017-01-13 22:28] Maijin commented on #3033
It totally makes sense...

[2017-01-13 23:31] radare commented on #3481
404

[2017-01-13 23:31] radare commented on #3275
cc @leberus

[2017-01-13 23:33] radare commented on #3275
i think that we should just add a command to put a breakpoint on all the noreturn functions. or at least provide a documenetd an easy way to do that

[2017-01-13 23:34] radare commented on #3275
the list of noreturn functions can be listedn with the `tn` command

[2017-01-14 00:25] radare commented on #6204
the problem is that scrolling can be in avery distance position compared to the cursor, and this can be also confusing. the cursor position is always relative to the current offset. So maybe we should also store the base offset and use it to compute the delta instead of assuming core->offset.

[2017-01-14 00:33] tigertoes commented on #3481
`http://ci.radare.org/job/radare2-scan-build/$recent_build_number/clangScanBuildBugs/` ([for example](http://ci.radare.org/job/radare2-scan-build/$recent_build_number/clangScanBuildBugs/ ))

[2017-01-14 01:32] radare commented on #6068
Test case for this:
[code]

current output:
[code]

should be:
[code]

[2017-01-14 01:40] radare commented on #4748
I think we can close this issue and open it again if someone complains.

[2017-01-14 01:40] #4748 closed

[2017-01-14 02:45] kazarmy commented on #6495
How does wrongly-based metadata get into the session in the first place?

[2017-01-14 03:57] ninjahacker commented on #6500
This only happens if cpsr is the last register in the profile. Mapping the bit fields (e.g. zf) to any other register works. I submitted a pull request (https://github.com/radare/radare2/pull/6504) with a ghost register "blank" to fix this for now. Obviously a better fix should be done later.

[2017-01-14 08:13] radare commented on #6495
?

[2017-01-14 08:45] kalyan-kumar commented on #4228
Is this issue still open? If so, what else is to be done? I'd like to work on it.

[2017-01-14 09:02] leberus commented on #3275
I'll take a look on monday ;)

[2017-01-14 09:14] radare commented on #4228
A lot of things. Try it yourself, from what i remember it was not supporting python3, symbols was not extracted, analysis was very incomplete...

[2017-01-14 09:21] c0riolis commented on #4228
@radare It is supporting python3.

@kalyan-kumar: Check this to see what's already implemented:
https://github.com/radare/radare2-extras/pull/38

[2017-01-14 10:26] radare commented on #4228
My bad :)

[2017-01-14 12:33] kazarmy commented on #6495
Um ... what are the possible reasons to rebase metadata?

[2017-01-14 12:48] radare commented on #6495
Aslr?

[2017-01-14 13:19] kazarmy commented on #6495
ah ok

[2017-01-14 15:24] #6496 closed

[2017-01-14 15:27] alvarofe commented on #6496
Added test too

[2017-01-14 19:19] condret commented on #6503
i think we should use both

[2017-01-14 19:23] condret commented on #6501
This should be configureable. As long as you don't look for uninitialized vars, I see no scenario where this could be useful

[2017-01-14 19:30] XVilka commented on #6503
Yes, 2 different plugins. I think you need to move that issue in radare2-extras.

[2017-01-14 19:34] condret commented on #6468
IO should at least know, what BinFile the RIOSections belong to.
@radare the problem get partially solved in siol, because siol allows priorizing every mapped section that belongs to a specific binfile.

[2017-01-14 20:13] radare commented on #6501
Not configurable. Flags will be displayed in pxa and pxr so you can see the layout in the stack and their boundaries and merge them easily to identify arrays and such. It is useful in many situations imho

[2017-01-14 20:13] radare commented on #6503
Extras is fine for me

[2017-01-14 20:14] radare commented on #6468
Only if those bins are overlapped. And yes. Analysis and bininfo should depend on iofd imho

[2017-01-14 20:59] XVilka commented on #6349
Was just a naughty debug message https://github.com/radare/radare2/commit/d4564ce4250f90dde463d6e466616e83b1f9b4b9

[2017-01-14 20:59] #6349 closed

[2017-01-14 21:02] XVilka commented on #1207
Yes, can be closed.

[2017-01-14 21:02] #1207 closed

[2017-01-14 23:11] #5758 closed

[2017-01-14 23:17] condret commented on #6501
ah, so they don't spam the casual px

[2017-01-14 23:24] condret commented on #6468
their mapping usually does overlap

[2017-01-15 12:04] laanwj opened #6506 "Flag labels sometimes show duplicated while disassembing around Cd data"
This tends to happen when the label is precisely after memory areas defined as hexdump with `Cd`. Some examples:

![untitled1](https://cloud.githubusercontent.com/assets/126646/21962286/8bdcf48a-db22-11e6-9222-c35fbd61ae33.png)
![untitled2](https://cloud.githubusercontent.com/assets/126646/21962287/8bf2ba0e-db22-11e6-943c-01ffe724f97a.png)

Either label only shows once in the `f` listing, at the a

[2017-01-15 13:00] ITAYC0HEN opened #6507 "debugging fails after runnning`doo`"
After updating r2 (my previous version was 10 days ago) the `doo` command seem not to work. For example here's an application that I debugged well yesterday, but now - whenever I run `doo` inside the debugger, with args or without, the debugged program fails to run. **Might be connected to leberus patch**.
It's not unique to this program, it fails on any another program I tested.

**For example th

[2017-01-15 17:28] leberus commented on #6507
I'll work on it tomorrow ;)

[2017-01-15 17:42] AlexKornitzer opened #6508 "aan - autoname functions completely trashed?"
One of the more recent commits seems to have broken the function autonaming (in certain binaries) for me. All my functions are given the same name in this case offset 0, so `fcn.00000000`. This can be easily replicated by running `t.anal/avr/search` in the radare2 regression suite.

Apologies if this is already a known issue.

Output of regression test:
[code]

[2017-01-15 18:23] radare commented on #6508
i'm aware of that and i know which one broke it, but i have barely been able to touch my laptop during this weekend. autonaming and all the other issues will be soon fixed (today/tomorrow)

thanks

[2017-01-15 18:25] AlexKornitzer commented on #6508
No worries, thought that may be the case.

[2017-01-15 21:40] rolandking commented on #6417
I use the afv series commands for renaming and re-typing stack-based local variables already, however that's not the same as specifying the basic signature for a block of code. I'd like to annotate function blocks so they show up the same way known system functions like malloc() and strlen() do.

[2017-01-15 21:47] radare commented on #3561
Already implemented in `r2 -S`. The user can also use system-level sandbox features, docker, virtualmachine, chroot if he wants

[2017-01-15 21:47] #3561 closed

[2017-01-15 21:50] Maijin commented on #6417
As said in the doc the function def are defined in libr/anal/d https://github.com/radare/radare2/blob/master/libr/anal/d/types

[2017-01-15 22:01] radare commented on #3481
Ive read the whole list of pedantic warnings of today's master and i think that it's ok to close this issue, the warnings are the following:

* Use variable arguments in CPP macros not being ISO (meh, every single C compiler supports that)
* Enums are 32bit wide (not an issue for any modern compiler afaik (CAN BE FIXED WITH static const ut64 ..)
* Data precision lost caused by assuming 32bit defin

[2017-01-15 22:40] radare commented on #6460
Any update on that? :)

[2017-01-15 22:43] radare commented on #5168
Now that the sdb branch is merged this issue should be "gone" as soon as we replace the raw usage of util/ht.c to use the new one. but this may introduce new regressions.

[2017-01-15 22:47] radare commented on #3110
On x86 most jumps and calls are relative, so the only way to grab those pointers is by tracing the LEA ops and see if the address is > filesize . this will work for ELFs

[2017-01-15 22:48] radare commented on #3110
For PE maybe we should track the PUSH IMM

[2017-01-15 22:54] radare commented on #2639
Related to the hexII input too

[2017-01-15 22:55] radare commented on #3550
Done in master by pancake

[2017-01-15 22:55] #3550 closed

[2017-01-15 22:57] radare commented on #5221
any other idea to optimize this? we have grouped the basicblocks ranges and updated sdb. segmenting the functions will be the next optimization to avoid walking the whole list all the time

[2017-01-15 22:59] radare commented on #2389
SDB no longer have non-ascii restrictions. so this is not an issue now. only \0 is an invalid char. the restriction is more about the shell itself. to allow always the user to retype a flag, if it supports non-ascii chars it will be difficult by some users if they reload the project or so.

also flags should have a realname field which may contain those free-of-restrictions strings. already used b

[2017-01-15 22:59] #2389 closed

[2017-01-15 23:00] radare commented on #3481
I think we can close this now. not all pedantic warnings are fixed, because that will require some really bad code, and all compilers it is not an issue what's left.

[2017-01-15 23:00] #3481 closed

[2017-01-15 23:02] radare commented on #3549
CC @leberus

[2017-01-15 23:03] radare commented on #6166
I would like to reopen the discussion of this or close the issue if it'so k the way it is already.

I think that this is useful, but maybe not something to set in a key in visual mode, but maybe do it in a config var. and use V% for something else

[2017-01-15 23:04] radare commented on #1206
upward lines are now differently printed

[2017-01-15 23:04] #1206 closed

[2017-01-15 23:04] radare commented on #1206
(not with colors, but meh)

[2017-01-15 23:05] radare commented on #3942
@rlaemmert wanna check this issue?

[2017-01-15 23:08] Maijin commented on #1206
Better with colorzzzzz @jvoisin @XVilka

[2017-01-16 00:06] radare opened #6511 "List assembler directives help in rasm2 -hh"

[2017-01-16 00:06] radare opened #6512 "Add .incbin directive in rasm2"
Ref http://www.codersnotes.com/notes/the-joy-of-incbin/

[2017-01-16 00:07] radare commented on #1206
done!

[2017-01-16 00:10] radare commented on #6508
Fixed in master by reverting the commit

[2017-01-16 00:10] #6508 closed

[2017-01-16 00:29] radare commented on #6506
please try again with master just to confirm its not gone after the sdb update and

this can be also an issue with the .word thing that was not previously done

can you write a test case? im trying to reproduce it without much success

[2017-01-16 07:13] laanwj commented on #6506
Verified that it still happens with git 6ef1722.

It's a very neat feature I must say when reverse-engineering assembly code with data intermixed. Apart from this it works great and this is only a very minor issue.

Done. Curiously it seems related to m68k, or at least depend on the architectur.

Generate test file and launch radare on it:
[code]

Reproduction:
[code]

Non-reproduction:
[code]

Cu

[2017-01-16 09:13] radare commented on #6400
@antoinealb PING

[2017-01-16 09:20] radare commented on #5241
Interesting! i bet we can optimize the r_flag_get_at by using Sdb instead of iterating over all the flags. this seems like a nice optimization to do, i though main issue was in r_anal_get_fcn_at.. but i guess that after the optimizations this is no longer an issue.

we should focus on r_flags now imho :)

[2017-01-16 09:32] radare commented on #6434
the bug is in finish_pdb_parse

[2017-01-16 09:43] radare commented on #6434
I have fixed the crash, but the code is actually leaking. The problem here is that the list of elements is assuming some really bad things and its crashing when the list is constructed in a different order. I'll open an issue to fix this memory leak. But at least it's not crashing now :)

thanks!

[2017-01-16 09:44] radare opened #6513 "Fix memleak introduced in PDB"
introduced in 75dd4536fa3980041b22cf9da2863f0c0bbe2142

this requires some refactoring and code cleanup of the PDB parser.

[2017-01-16 09:48] radare commented on #6420
This is fixed already.. dunno why i didnt closed the issue. pls confirm, but i remember to fix it and test it

[2017-01-16 09:48] #6420 closed

[2017-01-16 09:51] radare commented on #6078
we can use dockcross with emscripten target with the radare2-release. that will simplfy a lot the distribution of r2 in js. i have opened an issue there and @braincode will have a look soon

[2017-01-16 09:52] radare commented on #6078
ref https://github.com/radare/radare2-release/issues/4

[2017-01-16 10:00] h4ng3r opened #6514 "Show debug info in Dex files"
Replicate this for Dalvik:
https://github.com/radare/radare2/blob/master/libr/bin/p/bin_dbginfo_elf.c

[2017-01-16 10:25] phmarek commented on #6434
Hmmm, thanks for the fix... but now `rabin2` doesn't support `-P` any more?

[code]

How would I dump PDB files now? The manual page still has `-P`.

[2017-01-16 10:25] phmarek commented on #6434
[code]

[2017-01-16 10:31] radare commented on #6434
it does. see the output of rabin2 -h, rabin2 -P expects an argument. i'll just update the short help message. thanks for pointing out

[2017-01-16 10:36] phmarek commented on #6434
Well, of course I gave the path to the PDB file. Still I get the same output, ie. the usage info!

[2017-01-16 10:38] radare commented on #6434
$ rabin2 -P wdm_harvested.pdb
pdb root has not initialized
pdb was not parsed

works fine here. are you building from scratch? using sys/install.sh?

[2017-01-16 10:38] phmarek commented on #6434
Sorry, used the wrong shell script that didn't insert the arguments.

Still, I don't get the expected output...

[code]

And without `-j` I get the first two lines, but then no more data.

[2017-01-16 10:39] radare commented on #6434
i fixed the crash, i assumed this was a corrupted PDB file. if its a legit one.. well that’s another story ^^D

[2017-01-16 10:42] phmarek commented on #6434
Well, it's a true output of `CL.EXE`, so I guess that it's contents should be okay...

[2017-01-16 11:03] #6511 closed

[2017-01-16 11:03] zonkzonk opened #6516 "0x00007fdf5d136cb5 in r_io_seek"
morrn,

[code]
then screen blanks and opening new window in dwm crashes r2. (guess sigwinch)

core dump:

[code]

[2017-01-16 11:06] Svenito commented on #6512
Definition: http://tigcc.ticalc.org/doc/gnuasm.html#SEC97B

[2017-01-16 11:13] radare commented on #6516
thats an uaf, gdb is useless here. valgrind shows:

==46569== Invalid read of size 8
==46569==    at 0x100C494A6: r_io_use_desc (io.c:286)
==46569==    by 0x10011FC4C: r_core_read_at (cio.c:488)
==46569==    by 0x100166104: r_core_print_disasm (disasm.c:3677)
==46569==    by 0x1000AF42D: cmd_print (cmd_print.c:3299)
==46569==    by 0x100144C96: r_cmd_call (cmd_api.c:226)
==46569==    by 0x1000C5BE

[2017-01-16 11:16] #6516 closed

[2017-01-16 11:36] devendra491 commented on #6507
I'm having the same problem.. please help!

[2017-01-16 11:40] radare commented on #6507
its fixed in master, just update

[2017-01-16 11:40] #6507 closed

[2017-01-16 11:54] leberus commented on #3549
I've understood correctly, r2 continues tracing the parent when the process has been forked, and the option "**dbg.follow.child**" should instruct r2 to follow the child instead, as "**set follow-fork-mode child**" does.
I'll take a look then :)

[2017-01-16 12:10] radare commented on #3549
yep, thats it

[2017-01-16 12:34] radare commented on #6506
I managed to reproduce it with this oneliner:

[code]

but not with yours

[2017-01-16 12:49] radare opened #6518 "Remove libr/util/ht.c"
And use sdb's ht. here's the list of points where the old ht is used:

* libr/anal/fcnstore.c:
* libr/flag/flag.c
* libr/config/config.c
* libr/util/mixed.c
* libr/util/strht.c
* libr/asm/arch/tms320/tms320_dasm320.c

grep for `r_hashtable*` and `ht(` / `ht64(`

[2017-01-16 12:52] m1ghtym0 commented on #6460
Couln't find the time to work on it yet, but hopefully there might be some this week

[2017-01-16 13:42] radare commented on #6506
cc @alvarofe maybe its related to your wip fix?

[2017-01-16 15:18] Maijin commented on #6068
https://github.com/radare/radare2-regressions/commit/cdba55b5f7668d9de8208b624203f5738b714123

[2017-01-16 16:14] XVilka commented on #6031
This is a long run goal.

[2017-01-16 16:15] XVilka commented on #5066
Not this time. Hopefully during GSoC/RSoC.

[2017-01-16 16:19] Maijin commented on #6031
r2pm are mostly covered they just need to be fixed once for all and add the github cron

[2017-01-16 16:25] XVilka commented on #6350
About improving help for the command - group the similar things, like byte-dword, chars-strings, etc.
About API - not sure how it should look exactly, but something more useful.

[2017-01-16 16:50] XVilka commented on #2435
Meh, some new error.
[code]

[2017-01-16 16:53] Maijin commented on #2435
again?

[2017-01-16 16:54] XVilka commented on #2435
Why again? Have you seen the same error before?

[2017-01-16 20:26] leberus commented on #3549
I got it working. I'll do the PR tomorrow, i wanna test it a bit more ;)

[2017-01-16 21:23] Svenito opened #6519 "Graph nodes don't resize when asm.emu changes"
View ASCII graph and then change the `asm.emu` setting. The graph nodes don't resize to fit the new content size.

[2017-01-16 21:33] Svenito opened #6520 "Flags are not applied to all jumps"
Added a flag to the jump target @ 0x080481aa with `f`. Label is added to the first jump @ 0x080480c5 but not to the one @ 0x080480cf - see screenshot.

Binary attached

![screenshot_2017-01-16_21-28-42](https://cloud.githubusercontent.com/assets/31278/21999658/2182d9f8-dc33-11e6-9de4-e6a543881eb0.png)

[keygenme.zip](https://github.com/radare/radare2/files/709431/keygenme.zip)

[2017-01-16 21:37] radare commented on #6520
only flags with a dot in the name are replaced

[2017-01-16 21:51] Svenito commented on #6520
ah yes, can confirm this is the case, thanks

[2017-01-16 21:51] #6520 closed

[2017-01-17 10:43] XVilka commented on #4163
@skuater any chance?

[2017-01-17 11:18] zonkzonk opened #6522 "rabin2 RPATH"
morrn,

removing a non-existing RPATH:

,bash checksec.sh --file /tmp/bash
RELRO           STACK CANARY      NX            PIE             RPATH      RUNPATH      FILE
Partial RELRO   Canary found      NX enabled    No PIE          No RPATH   No RUNPATH   /tmp/bash

[code]

Greetings
--zlul

[2017-01-17 11:31] XVilka opened #6523 "Move `sys/release-notes` into `radare/radare2-release repo`"
It belongs better to the release repository, imho.

[2017-01-17 11:35] zonkzonk commented on #6522
fb31d8e64cec2d9d894ad94a0db96e46cb115338

[2017-01-17 11:42] zonkzonk commented on #6522
@pancake

,git diff -r fb31d8e64cec2d9d894ad94a0db96e46cb115338
diff --git a/binr/rabin2/rabin2.c b/binr/rabin2/rabin2.c
index 8102d8f..078aa0d 100644
--- a/binr/rabin2/rabin2.c
+++ b/binr/rabin2/rabin2.c
@@ -420,6 +420,7 @@ static int rabin_do_operation(const char *op) {
                }
                break;
        case 'R':
+                if (bin)
                r_bin_wr_rpath_del (bin);

[2017-01-17 12:12] radare commented on #6522
r_bin_wr_rpath_del should already check for null

[2017-01-17 13:02] rolandking commented on #6417
I seem not be making myself very clear. Yes I know that the function signatures of system functions which are compiled into r2 are in the d/types directory. But I'm not talking about well-known system functions here, I'm talking about functions just in the piece of code I'm disassembling. If I find a function foo() in the code I'm working on and deduce its type signature I was looking for a way to

[2017-01-17 13:08] XVilka opened #6524 "Remove requirement of the space before the operator '>' after the command"
It just creates zero-size file, but do not perform redirection.
[code]
`ii >file` works OK.

[2017-01-17 13:41] radare commented on #6524
why

[2017-01-17 14:59] radare commented on #6523
agree

[2017-01-17 16:25] radare commented on #6522
why dont u ever use `print` in gdb?you should print the values of the affected variables in the line that crashes..otherwise its useless

[2017-01-17 16:25] radare commented on #6522
rpath_del already checks for null, so this is not the issue.

[2017-01-17 16:27] radare commented on #6522
(and your backtrace) clearly shows that bin is not null. you can use valgrind to see better info here

[2017-01-17 16:30] antoinealb commented on #6400
Sorry for the delay, finally found the time to install radare2 from soure, here is the output of `radare2 -v`:

[code]

The issue is still present with this version.

[2017-01-17 16:31] antoinealb commented on #6400
Also, changing `asm.cpu` to `cortex-m` does not change the result.

[2017-01-17 16:37] radare commented on #6400
Can u confirm the issue is not in capstone?

[2017-01-17 16:55] antoinealb commented on #6400
I think radare2 does not correctly set the `CS_MODE_MCLASS` flag in Capstone. Here is my test case:

[code]

and its output:

[code]

If I remove the `CS_MODE_MCLASS` flag I get a missing second instruction.

See also: aquynh/capstone#235

[2017-01-17 17:25] #6400 closed

[2017-01-17 21:11] antoinealb commented on #6400
The patch works! Thanks for the quick fix.

[2017-01-17 21:43] radare opened #6526 "Add config.mk/config.h file for the hardcoded paths"
To allow the build system to redefine them without hacking CFLAGS and such.

* WWWROOT, HOMEWWWROOT
* THEMES
* SDB,. ..

[2017-01-18 06:25] leberus commented on #3549
I think this issue can be closed now

[2017-01-18 10:11] radare opened #6528 "1M = 1M, not 1024K :P"
[code]

[2017-01-18 11:27] XVilka commented on #6524
@radare why what?

[2017-01-18 11:37] radare commented on #6524
why do you want to impose this restriction?

[2017-01-18 11:38] XVilka commented on #6524
@radare sorry, worded it inaccurately. I want to _remove_ it, not to impose it, since it's already in place.

[2017-01-18 11:52] zonkzonk commented on #6522
@radare rabin2 -O R -e -d -I -R /tmp/bash
so without RPATH, trying to remove it, fails.
(if bin) was added by me :)

[2017-01-18 12:28] radare opened #6530 "?@? != ?~??"
help(rconsgrep) != help(rcons)

[2017-01-18 14:16] zonkzonk commented on #6522
@radare reproduced with zzuf:

[code]

[2017-01-18 14:23] #6528 closed

[2017-01-18 14:33] radare commented on #6522
doing -OR -edIR will ignore -O and not remove the rpath , this seems like a bug to me, but anyway

if i do -OR only this warning appears:

==14344== Conditional jump or move depends on uninitialised value(s)
==14344==    at 0x10004A7B9: r_core_cmd (cmd.c:2570)
==14344==    by 0x1000437FB: r_core_cmdf (cmd.c:2773)
==14344==    by 0x1000EA62F: bin_sections (cbin.c:1909)
==14344==    by 0x1000E7529:

[2017-01-18 14:53] radare commented on #6522
i fixed those warnings.. canyou please paste the output of valgrind in your machine?

[2017-01-18 15:08] radare commented on #6524
there’s no such thing pls provide an example.. also bear in mind that a number before  > is considered a fd, like in the shell. so the same restriction goes for posix sh

[2017-01-18 15:12] #6460 closed

[2017-01-18 15:12] radare commented on #6460
awesome! well done!

[2017-01-18 15:35] Maijin commented on #6460
@m1ghtym0 Can you add tests ?

[2017-01-18 15:41] m1ghtym0 commented on #6460
@pancake thanks:-)
@Maijin Sure, but give me some time, there are some other things I need to get done;-)

[2017-01-18 15:47] #6524 closed

[2017-01-18 16:16] zonkzonk commented on #6522
ok, can't use valgrind on this machine. (broken) can someone else please test?
still in 6b46a63bcd0a0d2e6b384e3b2240b4238b3dc2dd

[2017-01-18 16:27] zonkzonk commented on #6522
sorry I totally fucked this up, here is valgrind.txt as png:
![valgrind.txt](https://cloud.githubusercontent.com/assets/5694980/22072650/ef76a6e2-dd9a-11e6-82ff-eec78be4e464.png)

[2017-01-18 17:27] radare commented on #6522
your valgirnd log shows pretty fuckedup things. are you sure you are using a clean build of r2?

[2017-01-18 17:28] radare commented on #6522
the crash you are experimenting is because there are some previous overflows on global variables with const strings, i cant think of any bug except a fuckedup build

[2017-01-18 22:28] alvarofe commented on #6459
TODO: implement  afB (f->bits) as anal hint since is causing some issues and likely that will resolve the issue I am facing and will make it easier plus remove a few lines in disasm.c.

[2017-01-18 22:30] alvarofe commented on #6459
[FX]  7  arm_32: arm32 blx switches bits
[FX]  8  arm_32: arm32 bx switches bits on odd location

[2017-01-19 01:45] condret opened #6535 "pcache integration"
Ok, so pcache is basically implementen on the siol-branch in the API.
So what commands shall I add for bringing the pcache to the userland?

[2017-01-19 09:27] leberus commented on #3275
Hi, I have a question regarding this:

Why the functions listed with `tn` are not matching the functions listen with `afl`:

[code]

[code]

Is there a "quick" way in r2 (some api) to get the address owned by functions listed with `tn`?

Thanks

[2017-01-19 09:32] condret commented on #6535
https://asciinema.org/a/cbjy4qt3qpg48ettondlo38pr

[2017-01-19 09:43] radare commented on #6535
❤️

[2017-01-19 09:58] l4l opened #6537 "Unintuitive detection of strings with non-ascii syms"
[code]
puts @ 0x400594
r2' str @ 0x400598

[2017-01-19 09:59] radare commented on #6537
thats expected, r2 strings are extracted by analyzing the data section, not the code.

there’s other code to find strings from code that will find that \x01.. thing

[2017-01-19 10:43] radare commented on #3275
you can chk the code in the analysis loops that uses this list of names to check if the destination of a jmp/call is a no-return destination to see how its done. the bp functionality should use the same behaviour

[2017-01-19 10:43] radare commented on #3275
because r2 uses flags, not symbol names, to refer to an address. this is.. you can hook the import, the symbol (but there can be more than one symbol with the same name), the flag can also refer the source (if it was found via zignatures), etc.

[2017-01-19 10:45] leberus commented on #3275
Ok, i'll take a look to all together. Thanks for the explanation ;)

On 19 January 2017 at 11:43, radare <notifications@github.com> wrote:

[2017-01-19 10:51] radare commented on #3275
I think this will require SEH support for windows and othr c++ ecosystems. Maybe @skuater can light a bit this thread

[2017-01-19 12:08] Maijin commented on #3275
https://github.com/radare/radare2/issues/2036

[2017-01-19 13:03] radare commented on #5363
[code]

[2017-01-19 16:57] sasdf opened #6538 "Debugger broken after perform additional experimental analysis"
As the title, it got sigsegv after `aaaa`.
`rip` register seems be destroyed after the analysis that continuing execution will got sigsegv.
[code]

[2017-01-19 17:04] leberus commented on #6538
Somehow the register values are changing after `aaaa`. I could reproduce it with build: `2017-01-19` too.

[2017-01-19 17:19] sasdf commented on #6538
It seems caused by `afta` in `aaaa`
[code]

[2017-01-19 17:23] radare commented on #6538
because its using esil to emulate code and this will modify the registers in anal->reg, but this is somewhat mixed with debug->reg, so we should probably save the registers before doing esil analysis and restore it back after that. this will be consistent for non-debugger uses too.

also, the debugger registers shouldt change with emulation

[2017-01-19 17:36] Maijin commented on #6538
@oddcoder ^

[2017-01-19 20:59] alvarofe commented on #6459
This has been fixed in master now. @ninjahacker if you wanna play with go ahead, if you just come across a binary where it fails let me know.

[2017-01-19 20:59] #6459 closed

[2017-01-19 21:32] alvarofe opened #6539 "PoC rabin2 -x use pointers instead of sdb"
Just to measure times and memory space. That maybe will fix the issue with a dyld32 I have

[2017-01-20 08:45] condret commented on #6497
A gamepad API would be great

[2017-01-20 09:08] radare commented on #6497
we can add some APIs in RCons to wrap the input, this way it will be possible to write a Core plugin that uses SDL to read the buttons pressed by a gamepad and convert them into input keycodes for RCons. This will allow us to use r2 with a gamepad. from my experience, the dingoo console maps the buttons as keys of the keyboard. but maybe thats just a hack from the linux driver who made the port :P

[2017-01-20 09:33] Manouchehri opened #6541 "Obey user theme colors in canal.c"
[`canal.c`](https://github.com/radare/radare2/blob/master/libr/core/canal.c) should use the current radare2 theme (e.g. `eco solarized`) instead of hardcoding values like `lightgray` and `yellow`.

As an example, this is what `VV` looks like:

![image](https://cloud.githubusercontent.com/assets/7232674/22143751/2d9930fa-dec9-11e6-8230-621439f2966c.png)

And ideally `ag` should follow the same colo

[2017-01-20 09:37] Manouchehri commented on #6541
Same issue as #2141?

[2017-01-20 09:41] leberus commented on #5675
Hi, i got `dmi.` working. I have just one question.
Should it print the vaddr as it does `dmi`, so rebased on the current addr? Or without rebasing?

[code]

or

[code]

I guess it's rebased but just asking

[2017-01-20 10:07] radare commented on #6541
well, the graphdiff loop is different from the graph one. this thing should be obeyed in both.. so ok to keep it there

[2017-01-20 10:08] radare commented on #5675
with rebasing. otherwise its useless

[2017-01-20 10:08] radare commented on #5675
dmi was working already.. :?

[2017-01-20 10:19] leberus commented on #5675
unless I'm missing something, it's working here for me:

[code]

[2017-01-20 10:51] jpenalbae commented on #6497
Why SDL? most gamepads are available trough /dev/input/* char devices...

[2017-01-20 11:34] radare commented on #6497
in linux.. but there are more OS than just linux in this world :P

[2017-01-20 11:43] jpenalbae commented on #6497
what a shame....

[2017-01-20 11:43] Maijin commented on #3201
@radare added a command for displaying them in graph too recently that needs more work

[2017-01-20 12:05] radare opened #6542 "pf.-x not working"
[code]

[2017-01-20 12:11] phmarek commented on #6434
`rabin2` is not crashing anymore, but it still won't give any useful output for me.

[code]

That's using 7775521801aaf81d5851f79b83d1845ae0290b3f.

[2017-01-20 12:16] radare commented on #6434
again?? please read the comments of the issue. its not crashing but it is not properly parsed

[2017-01-20 12:17] radare commented on #6078
Done! :D 1.2 will come with an asmjs build (fully compiled master yesterday)

[2017-01-20 12:17] #6078 closed

[2017-01-20 12:19] phmarek commented on #6434
Yeah, right.
It's not crashing.
And it's not properly parsing the file.

But it's a freshly generated file, and I didn't run any fuzzying tool... so I hoped for a dump of the contents.

[2017-01-20 12:48] radare commented on #6523
Fixed in 31645472b33e2d425e900a0057fd1c718e4da6ad

[2017-01-20 12:48] #6523 closed

[2017-01-20 13:18] radare commented on #6499
Please re-try

[2017-01-20 13:18] radare commented on #6499
it was fixed some days ago to allow the http.sandbox access your home www directory

[2017-01-20 13:18] #6499 closed

[2017-01-20 13:19] radare commented on #6424
probbly related to the rcons_push/pop thing

[2017-01-20 13:21] radare commented on #2435
its beacuse of the abs vs relative paths?

[2017-01-20 13:25] radare commented on #5168
util/ht is still used in some places, we should use sdb's one

[2017-01-20 13:26] radare commented on #6068
this happens because its a chained relsub+varsub

[2017-01-20 13:27] Maijin commented on #6068
?

[2017-01-20 13:27] radare commented on #6461
Done by nevun

[2017-01-20 13:27] #6461 closed

[2017-01-20 13:29] radare commented on #4765
@leberus wanna chk this?

[2017-01-20 13:31] radare commented on #3462
cc @leberus

[2017-01-20 13:32] radare commented on #3462
cc @skuater

[2017-01-20 13:36] radare commented on #3239
no time to check all this.. but will be good of @Maijin can do mark some checkboxes here

[2017-01-20 13:38] radare commented on #3251
pls guise, do something here

[2017-01-20 13:51] radare opened #6543 "Use SDB instead of libr/util/strht.c"

[2017-01-20 13:59] Maijin commented on #3251
@sevan could look at the netbsd CI ^

[2017-01-20 14:01] radare commented on #6497
some sandboxed environments forbid access to devices directly too :P

[2017-01-20 14:17] ninjahacker commented on #6459
Beautiful! It behaves exactly as expected now!

[2017-01-20 14:21] skuater commented on #4163
yes, looking at it

[2017-01-20 14:30] Maijin commented on #6543
Link to #6518

[2017-01-20 14:43] radare commented on #6542
Fixed in c189495a94a7b12ecc96d4879e6ca49dfd419cda

Also added two tests in r2r

[2017-01-20 14:43] #6542 closed

[2017-01-20 15:14] #4528 closed

[2017-01-20 15:16] radare commented on #6434
well, its not crashing because its leaking, there are some things to change in there and i dont have time/priority to fix the parser now. i dont even use windows at all, so its -1 prio for me, if anyone is interested it welcome :)

[2017-01-20 15:18] leberus commented on #4765
i'll take a look ;)

[2017-01-20 16:23] radare commented on #3462
cc @leberus

[2017-01-20 16:27] radare commented on #2211
Solvable with Sdb, after the update-sdb merge. but needs refactoring of all the bin plugins

[2017-01-20 16:56] leberus commented on #3462
I'll take a look ;)

[2017-01-20 17:45] radare commented on #2179
PoC here : https://bugs.php.net/bug.php?id=69248

[2017-01-20 21:50] Diadlo commented on #3951
I, think, I found the reason of error: https://github.com/radare/radare2/blob/1.1.0/libr/socket/run.c#L247
Here ends the original process (whose PID has been saved) and continue new one

[2017-01-20 22:34] radare commented on #3951
Can you send a PR?

[2017-01-21 02:48] #5877 closed

[2017-01-21 02:49] radare commented on #2739
@condret is this fixed in siol?

[2017-01-21 02:50] radare commented on #6097
We probably want to have this output logged in a buffer inside RBinObject

[2017-01-21 08:07] VisualPrankDude opened #6546 "feature request xc"
Hi,

is it possible to have regex for xc, so you can specify a function in commandline ?
[code]
When having more then one function (eg. strlen), one could still display
for each matched function.

Greetings
VP

[2017-01-21 08:09] VisualPrankDude commented on #6443
ok, then im off :)

[2017-01-21 08:40] Diadlo commented on #3951
@radare I'm trying to fix the issue, but changing sign `s/==/!=/` provide a regression.

[2017-01-21 10:30] radare commented on #6546
you can use @@ and glob expressions like main*

On Jan 21, 2017 9:08 AM, "VisualPrankDude" <notifications@github.com> wrote:

[2017-01-21 14:46] qcGVkzEG opened #6547 "x86_64: Wrong disassembly for opcode "83 f8 yy""
The opcode `83 f8 yy` encodes `cmp eax, yy`, where `yy` is **sign-extended**.

radare2 does not sign-extend: For instance, it displays `cmp eax, 0xff` for the instruction `83 f8 ff`, while `cmp eax, 0xffffffff` is correct (according to objdump and the hardware).

[2017-01-21 15:35] radare commented on #6547
This issue belongs to capstone, not r2

[2017-01-21 16:00] qcGVkzEG commented on #6547
Thanks! Apparently, the bug is already [fixed](https://github.com/aquynh/capstone/issues/614) in the capstone's delevopment, so there's nothing left to do.

[2017-01-21 16:00] #6547 closed

[2017-01-21 17:07] Maijin commented on #6547
Hello,

Ensure you are using radare2 from git.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2017-01-21 17:07] radare commented on #6547
which version of r2 do u use? because r2 uses that capstone already

On Jan 21, 2017 5:01 PM, "qcGVkzEG" <notifications@github.com> wrote:

[2017-01-21 19:10] chairkov opened #6548 "Error in r_bin_object_new: load_bytes failed for p9 plugin"
Hi,

the following cmdline just hangs:

r2 -b 64  -AA  -B 0x00420540 -e search.from=0 -e 0x00420540 -e asm.esil=1 -e anal.esil=1 -c "/B" bash

errors are:
[code]

is this due to esil or wrong base addr? also, what is the p9 plugin?

Greetings
chairkov

[2017-01-21 19:15] VisualPrankDude commented on #6546
Thanks. r2 -AAc 'xc @@ sub.__libc_start_main*' /bin/ls works!

[2017-01-21 19:15] #6546 closed

[2017-01-21 19:45] zonkzonk commented on #6522
still in 02a858ccd53341294d28751f29c7de11dcb503c1

zzuf   -s 0:1000000 -r 0.06 -q  -C 1  rabin2 -O R  /tmp/bash
zzuf[s=0,r=0.06]: signal 11 (SIGSEGV)

[2017-01-21 19:56] zonkzonk commented on #6522
@pancake new valgrind for 02a858ccd53341294d28751f29c7de11dcb503c1:

![meh](https://cloud.githubusercontent.com/assets/5694980/22177356/a34fbe68-e013-11e6-9348-1a29d5ca05b2.png)

[2017-01-22 00:52] radare commented on #6548
can you share the bin?

[2017-01-22 00:52] radare commented on #6548
And paste r2 version

[2017-01-22 00:54] radare commented on #6097
Fixed in 4e2cd40ed6866c6ee690ce2a640bdf7796054491

no buffering but can be disabled with r2 -e bin.verbose=false fuzzedbin

[2017-01-22 00:54] #6097 closed

[2017-01-22 00:56] radare commented on #6541
not sure if graphml supports this kind of formatting, and if so, can you point some example or documentation?

[2017-01-22 00:57] radare commented on #3731
partially fixed with asm.cmtright

[2017-01-22 01:00] radare commented on #3348
I think this may fit into WONTFIX cathegory

[2017-01-22 01:00] #3348 closed

[2017-01-22 01:16] radare opened #6549 "Range reference search"
We can implement this in `/rr $$ $$+4096`

[2017-01-22 01:27] radare commented on #546
I think we can close this already, it can be better, anyways. cc @alvarofe

[2017-01-22 01:27] #546 closed

[2017-01-22 01:30] radare commented on #741
related to the r2k cc @P4N74

[2017-01-22 01:30] radare commented on #741
cc @jpenalbae

[2017-01-22 02:19] Manouchehri commented on #6541
The loop can be forced to one side by setting the port.

http://graphml.graphdrawing.org/primer/graphml-primer.html#Ports

[2017-01-22 08:58] #3951 closed

[2017-01-22 09:03] radare opened #6551 "Output of afi is weird"
Currently the outpiut of afi shows spaces before the key, vars are wrongly listed, etc..

this cant be read by a human or a script. its crap

<img width="1680" alt="screen shot 2017-01-22 at 10 02 25" src="https://cloud.githubusercontent.com/assets/917142/22181295/f8c788d2-e089-11e6-8965-4d03f05bc393.png">

[2017-01-22 09:11] radare commented on #6522
pls try again and let me know if its fixed now

[2017-01-22 09:14] #6548 closed

[2017-01-22 09:14] radare commented on #6548
first of all, /B have nothing todo with esil. the output is perfectly .

all those warnings are normal, because /B is trying to find headers using RBin, and many places may result in warnings from this module and their plugins, you can disable this with the bin.verbose eval var i added yesterday night

[2017-01-22 09:16] chairkov commented on #6548
r2: cbfa52e126294be4e08b865727215a40a84faf3c
od -t x1 bash: http://sprunge.us/NXTC

[2017-01-22 09:17] chairkov commented on #6548
@radare but what about "Error in r_bin_object_new: load_bytes failed for p9 plugin"

[2017-01-22 09:28] zonkzonk commented on #6522
can't reproduce. :)

[2017-01-22 09:28] #6522 closed

[2017-01-22 09:44] radare commented on #6548
git pull again

there are more places to honor bin.verbose.. im just trying to fix that progressively

[2017-01-22 12:06] radare commented on #5570
We have no time for 1.2 to find a reproducer, identify the issue and check for regressions in 1 week, it would be great if someone who cares (because thats windows specific) could have a look at this.

maybe @rlaemmert

[2017-01-22 12:56] radare commented on #3951
Can you add a test case for this?

[2017-01-22 16:10] leberus commented on #5675
You might want to mark "dmi?" and "dmi." as done? :)

[2017-01-22 18:38] laanwj opened #6554 "68k negative relative addressing disassembly wrong?"
These instructions show as addressing with positive offsets, but what actually happens is that they use a negative offset (shown in comment):
[code]
This has thrown me off track a few times. It might be a capstone bug not on in radare?

[2017-01-22 19:53] radare commented on #6554
capstone is the default disassebmler for m68k, r2 just adds the info after the ‘;’ but the issue you are explaining seems to be related to capstone. also you can use the netbsd m68k disassembler with r2pm -i m68k-net and compare results

[2017-01-22 19:54] radare commented on #5675
done :)

[2017-01-22 20:41] laanwj commented on #6554
Haven't been able to check with netbsd disassembler yet, but `m68k-linux-gnu-objdump -D -b binary -mm68k files/SYSTEM.INTERP ` gives me:
[code]
Sign-extending the offset to 64 bit on a 32-bit architecture is weird. But at least it's clearly not a 8 bit positive offset.

[2017-01-22 20:42] radare commented on #6554
yeah this output looks wrong too. open an issue in the capstone repo.

[2017-01-22 21:52] enovella opened #6555 "After "af"-ing a target function that we want to jump to, "s" does not seek anymore"
Hi,

I do not know if this is normal or am doing something wrongly and the behavior is odd.

**Radare2 version** used:
[code]

**Binary:**
`wget https://d17997cq2dsp0g.cloudfront.net/tasks/baby-6971f0aeb454444a72cb5b7ac92524cd945812c2.tgz`

**Problem:** After `af`-ing a function, the seek command does not work as intended.
[code]

Without prior analyzing, the seek command `s` does not want to jump

[2017-01-22 21:55] radare commented on #6555
cant reproduce .

are you building with sys/install.sh?

[2017-01-22 21:56] enovella commented on #6555
Yeah,

I git pulled, and later on updated with sys/install.sh.

[2017-01-22 21:57] Diadlo commented on #3951
@radare I will try

[2017-01-22 21:57] enovella commented on #6555
Do you want me to pull + compile right now?

[2017-01-22 22:01] enovella commented on #6555
Just if it is useful info, pulled & re-compiled now and same behaviour.

[2017-01-22 22:28] radare commented on #6555
are you using tab to autocomplete the flag? check the value of that flag with f~dostack.. but it works fine here :? are you sure you dont have mixed versions of libs of r2?

[2017-01-22 23:08] enovella commented on #6555
1) For seeking I use autocompletation but `af` does not allow it though.
[code]
2) I am not sure that my r2 installation is mis-mixing libs.
3) If it is working fine there then forget the issue.

Cheers

[2017-01-22 23:13] Maijin commented on #6555
`af @ sym.dostack` instead of `af sym.dostack` maybe ?

[2017-01-22 23:14] Maijin commented on #6555
`af @ sym.dostack` works for me.

[2017-01-22 23:15] Maijin commented on #6555
As well as `aaa`

[2017-01-22 23:17] Maijin commented on #6555
You are creating a function called sym.dostack at current offset if you don't use `@` therefore seeking to the function is same as seeking to current offset.

[2017-01-22 23:17] #6555 closed

[2017-01-22 23:19] enovella commented on #6555
This makes a lot of sense. However, I did not that an analysis command would allow you to "create" a function that it is already an existent function.

Thanks for the quick answers.  Cheers

[2017-01-23 01:52] radare commented on #6400
This change breaks the disassembly of iOS thumb binaries

[2017-01-23 02:03] radare commented on #6400
Fixed in 4b371141aada26819242970784b873e95e4f6cc0

please confirm

[2017-01-23 03:48] radare opened #6556 "Buffer the whole IO"
The idea of this is to make RIO work with only RBuffers, this is, reading all the maps and sections

Notes:
* this must be implemented in the siol branch
* unicorn plugin can active this mode, or the user shuold.. in order to map all the buffers in unicorn and r2 at the same time. the buffers cant be reallocated while unicorn is active.

cc @condret

[2017-01-23 10:17] leberus commented on #3462
hey @radare, you sure this feature is "working"?
I've written a small program that does a dlopen and dlclose, and then I've enabled "dbg.libs" in my .radare2rc.

Debugging it with gdb shows that actually breakpoints are not being set (at least on linux), the problem is :

[code]

then, setbpint is called:
[code]

But it looks like `r_flag_get` is not able to find any of these symbols:

[code]

`dm

[2017-01-23 10:29] leberus commented on #3462
Nevermind, the problem is that the right symbol is "sym.imp.dlopen". I've checked this out for all calls to r_flag_set.
I tried to change the setbpint call to look for sym.imp.dlopen and it worked.

[2017-01-23 10:42] CodingFree commented on #2738
I think I am having the same problem:

IO.Cache is already enabled:
[code]

And I have a commit pending:
`idx=0 addr=0x004005c4 size=5 48656c6c6f -> 48616c6c6f (not written)`

However, I am not able to commit the changes into the file:
`Error writing change at 0x004005c4`

I am using the following version:

[2017-01-23 11:00] radare commented on #3462
no it is not working on linux, only on windows

[2017-01-23 11:00] radare commented on #3462
pr?

[2017-01-23 11:07] leberus commented on #3462
I'll do the PR today, i'm on it right now

On 23 January 2017 at 12:00, radare <notifications@github.com> wrote:

[2017-01-23 11:40] radare commented on #2738
cc @condret

if we fix this, should be in siol ulness its quick fix.

[2017-01-23 11:40] radare commented on #2738
can youa add a test case for r2r?

[2017-01-23 11:41] #2919 closed

[2017-01-23 12:51] radare commented on #2738
as a workaround you can use wc * > fun.r2

and then r2 -i fun.r2 -w bintopatch

[2017-01-23 13:30] resilar commented on #5221
Please fix this. The issue renders `aaa` analysis of r2 completely unusable for any serious work (>= 1MB binaries).

[2017-01-23 13:31] CodingFree commented on #2738
May this be part of the problem?

[code]

[2017-01-23 13:31] radare commented on #5221
aaa is the less serious command in r2land

[2017-01-23 13:32] radare commented on #2738
sorry, wc* not wc *

[2017-01-23 13:34] resilar commented on #5221
Actually, the scrolling in visual mode has got MUCH better since I last tested. So the optimizations that have been done so far help a lot.

[2017-01-23 13:36] radare commented on #5221
yes, we are slowly introducing more optimizations and this is not about fixing “this issue”, is about refactoring, profiling, changing parts of r2, etc, which requires lot of testing before going forward, that’s why it’s not fixed yet. but will get better over time.

[2017-01-23 14:07] XVilka opened #6559 "Windows: remove dependency from dirent.h (opendir(), readdir(), etc)"
Currently things like r_lib_opendir(), sandbox, some fs tools are using opendir() api from dirent.h
Using Find*File() should help to solve the problem.

[2017-01-23 14:09] XVilka opened #6560 "Unify __WINDOWS__ and _WIN32 usage"
Somewhere we're using `__WINDOWS__`, somewhere - `_WIN32`. This one should be unified.

[2017-01-23 16:33] radare opened #6561 "Class boundaries"
As long as most of the time all the methods of a class are stored consecutively it will be good to be able to mark with flags the boundaries of each class, this way we can find references to that range, or be able to remove, nop or comment easily the classes that are not interesting for us.

this can be generated with ic*, just grabbing the bounadries of each method of the class and set flags for

[2017-01-23 16:53] antoinealb commented on #6400
cant find the above commit. Did you rebase it or something?

[2017-01-23 17:24] radare commented on #6400
Nope

[2017-01-23 19:15] Maijin commented on #6400
https://github.com/radare/radare2/commit/197443d42aecccf9e380ca8b742fbd60113df414 I suppose.

[2017-01-23 20:31] sevan commented on #3251
Sure, what's the requirements?

[2017-01-23 21:25] alvarofe commented on #6556
I have seen that RBuffer has RMmap that I don't know if this is used somewhere, no at least what I have seen so far. This would be very useful for files and huge files. I am working in local to improve file format enforcing RBuffer API usage to avoid crashes and I think enforcing everywhere using RBuffer is a great idea.

[2017-01-23 22:16] condret commented on #6556
http://3.bp.blogspot.com/-yiLSMXBJbVo/UrT9aN9hwRI/AAAAAAAAHJk/U_KfssGpG6U/s1600/picard-facepalm.jpg

[2017-01-23 22:35] DigiAngel opened #6562 "Rabin2 fails to compile"
Ack:
[code]

git info:
[code]

Anything else I can provide?  Using the sys/install.sh method.

[2017-01-23 22:46] condret commented on #6556
Except for unicorn, i see no practial usecase for this. If it is really necessary for unicorn to work with buffers, ok, then I could copy all the data into that buffer and pass it to unicorn. But storing that buffer persistantly in RIO is a bad design in my opinion. I'd prefer to make this functionallity an io-plugin that gets it's representation as a RIODesc. With the .system callback we can make

[2017-01-23 22:47] radare opened #6563 "Add pd subcommand to disassemble a class"
This is, all the class info on top with attribuets ,inheritance, etc, and then all the methods below

[2017-01-23 22:48] radare commented on #6563
This can be partly archived with ic~class~Name, and grabbing the size of class and minimum offset in the class address range.

[2017-01-23 22:49] deragent commented on #6562
Build also fails on debian.

Problem lies with the use of *strnstr* function which is not standard C. ( See for example answers in following stack overflow: https://stackoverflow.com/questions/4980150/undefined-reference-to-strnstr-when-installing-cminpack)

Build fails for me in libr/core/disasm.c : 2947

Warnings and errors are:
`disasm.c: In function ‘delete_last_comment’:
disasm.c:2947:4: warn

[2017-01-23 23:03] DigiAngel commented on #6562
Confirm the above is debian:
[code]

[2017-01-24 00:16] radare opened #6564 "agf cant be stopped ^C is ignored"

[2017-01-24 00:19] radare opened #6565 "ARM64 ESIL"
0x1000181f0      3c7f4093       TODO,Sxtw x28, w25

[2017-01-24 00:21] radare opened #6566 "/r @@ cant be stopped"
[0x1000b6074]> /r @@ sym.imp.*

[2017-01-24 00:25] radare commented on #6562
should be fixed in master

[2017-01-24 01:29] DigiAngel commented on #6562
Indeed it is:
[code]

Thank you so much!

[2017-01-24 01:29] #6562 closed

[2017-01-24 07:06] laanwj commented on #6554
This was fixed upstream (https://github.com/aquynh/capstone/issues/844). I guess this can be closed, or after radare's integrated capstone is updated.

[2017-01-24 11:54] radare commented on #6556
We may also delegate the cache implementation from io to rbuffer in util. This will require some more changes to siol, but will benefit the overall design imho because we may be able to diff buffers and such.

i understand condret’s position here. but from the rbin and ranal pov having a linear memory to read from will heavily speedup and ease the parsing of structures. it will save a lot of memdu

[2017-01-24 11:59] radare opened #6568 "Project notes must be parsed with SPP"
Project notes (`Pn -`) must be assumed to be in markdown and preprocessed with SPP. This will allow us to have a syntax to put r2 commands in there, so, be able to import the notes into r2 as comments, flags, refs, notes...

This is one of my current workflows when doing static analysis and it feels pretty stable, because the editor doesn't crashes, projects may be trashed. but user notes nope :D

[2017-01-24 13:31] condret commented on #6556
have you seen the pcache-implementation. It still needs some optimization. But it looks promising to me.

rbin and ranal can be optimized in other places first (pointless reads for example).

I'm not sure if I understand that feature-request correctly

[2017-01-24 13:49] radare commented on #6556
didnt chkd anything about siol, will do after release. give me 1 week

[2017-01-24 14:31] radare commented on #3251
@sevan to build every commit of r2 in a netbsd, maybe in a VM or so.. https://hub.docker.com/r/anyakichi/netbsd-builder/  this can be handy to integrate in radare2-release repo for example

[2017-01-24 14:37] XVilka commented on #3251
@sevan also in the long run (in a couple months, I hope) I'm going to replace our CI (ci.rada.re) server completely, would be nice to setup netbsd vm too.

[2017-01-24 16:43] condret opened #6572 "Manpages for siol"
Well this sounds weird, but I realized that we need some documentation here, that describes how siol works, and how it should be used. Wrong usage of the API can cause:
- weak performance
- endless loops
- segfaults
- double-frees
- weird bugs

I don't think that I should do that for these reasons:
1. If someone else does this correctly, I can be sure that someone else understood the API in its de

[2017-01-24 17:24] Maijin commented on #6572
Use a markdown doc like here - https://github.com/radare/radare2/blob/master/doc/io

[2017-01-24 18:06] radare commented on #6572
+1 for markdown. This stuff can go into doc/*

[2017-01-24 18:49] VisualPrankDude opened #6574 "zfa core dump"
[code]

[2017-01-24 20:18] radare commented on #6574
fixed in e0902d1eee5cd2855553eb98bb22eb2b91d10ea4

thanks!

[2017-01-24 20:21] radare commented on #6514
Done in 459fc39f5b1af08805e7e114abf1f00e76cfbff9

[2017-01-24 20:21] #6514 closed

[2017-01-24 20:22] radare commented on #6506
@Maijin pls add this test

[2017-01-24 20:23] #6486 closed

[2017-01-24 21:45] radare commented on #4619
the accesses are saved already. they are just not lisetd, this is very easy to fix.

the same goes for .writes=.. so its just a matter of walk enumerate the variables of the function and then resolving the key "var.${fcnaddr}.${type}.${index}.reads"  and list the offsets in the array.

The output of afvs and afvg should be some thing like:

[code]
fmi:
[code]

[2017-01-24 22:10] #6574 closed

[2017-01-24 22:11] radare commented on #6561
Done with the new output of ic, and the f= command

[2017-01-24 22:11] #6561 closed

[2017-01-24 22:46] h4ng3r commented on #5773
@cryptax, can we close the issue? Thanks

[2017-01-24 22:54] radare commented on #5773
I think so!

[2017-01-24 22:54] #5773 closed

[2017-01-24 22:55] radare opened #6575 "Deprecate fcn->vars"
there's a getter method that uses sdb now

[2017-01-24 23:07] radare commented on #4619
afvs is already handled and have a different meaning. so i used afvR and afvW

Fixed in 37e79b3ba1501738550624f660cf09d976a56d69

[2017-01-24 23:07] #4619 closed

[2017-01-24 23:46] radare commented on #6538
can be "solved" by swapping to a different debugger backend temporarily:

[code]

[2017-01-24 23:52] #6538 closed

[2017-01-25 00:07] #6501 closed

[2017-01-25 00:08] radare commented on #6501
@oddcoder can you add support for SP vars and ignore the reg ones here? also adding tests will be helpful. will be cool to have some automatic analysis integrated into the debugger

[2017-01-25 00:09] radare commented on #6501
so we dont have to import/export flags everytime we enter a function, etc

[2017-01-25 00:13] radare commented on #3275
@leberus any update on that? moving for 1.3 or do you have something to PR and test?

[2017-01-25 00:15] radare commented on #2738
@condret fixed in siol?

[2017-01-25 00:16] radare commented on #2958
I think we can close this for now. there's also f=~fcn, afM and p-h, p-=, etc..

[2017-01-25 00:17] radare opened #6576 "Fix aai percentage issue"
to show the % of code analyzed (considering data and basic blocks ranges) inside the current section (or just .text?)

[2017-01-25 00:18] radare commented on #6576
related to https://github.com/radare/radare2/issues/2958

[2017-01-25 06:37] leberus commented on #3275
Yep, move it to 1.3, didnt have time so far but i'll work on it during this
week

El dia 25/01/2017 01:13, "radare" <notifications@github.com> va escriure:

[2017-01-25 10:04] Maijin commented on #2958
@radare p-h is not working

[code]

See cmts, imps, syms, str.

[2017-01-25 10:10] VisualPrankDude opened #6579 "afta segfault"
[code]

[2017-01-25 10:15] radare commented on #6579
cant reproduce. in fact, valgrind is not even complaining at all

[2017-01-25 10:20] radare commented on #6579
show register values pls

[2017-01-25 10:58] m1ghtym0 commented on #6572
Will do

[2017-01-25 11:59] VisualPrankDude commented on #6579
@radare
[code]

[2017-01-25 12:00] VisualPrankDude commented on #6579
(gdb) !uname -a
Linux VP01 4.2.0-42-generic #49-Ubuntu SMP Tue Jun 28 21:26:26 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
(gdb) !r2 -v
radare2 1.2.0-git 13595 @ linux-x86-64 git.1.2.0-git-29-g3e7b5ab
commit: 3e7b5aba60e14f29644db6ea7d07d65c6e602161 build: 2017-01-25

[2017-01-25 12:33] VisualPrankDude commented on #6579
@radare asan:

[code]

[2017-01-25 14:14] wargio opened #6581 "[UI] Last color on windows is never resetted with asm.emu=1"
Last color on windows is never resetted with asm.emu=1

This is the patch.. i can't push it due a proxy i'm behind to..

[code]

[2017-01-25 14:15] radare commented on #6581
send a PR pls. you can do that by clicking the pencil icon in github

[2017-01-25 14:53] antoinealb commented on #6400
Still works, but now `-e asm.cpu=cortex` is required. Using radare2 built from commit bce083ae7c667ec89ec14f61c1d9bd7f9a882147

[2017-01-25 14:54] radare commented on #6400
yep. thats expected. unless you know a way to determine when a binary is cortex or not. i mainly work with android and ios apps and i find many regressions if i assume cortex by default

[2017-01-25 14:56] kiryazev commented on #5775
Is it really supposed to debug x64-bit processes with 32-bit debugger? It sounds unusual at least for Windows.

[2017-01-25 14:56] antoinealb commented on #6400
Not aware of any way. Maybe make the choice explicit (i.e `asm.cpu` must be set by the user) ?

[2017-01-25 15:15] radare commented on #6400
yes

[2017-01-25 16:28] leberus commented on #6579
I think the problem is that `I.buffer.index` goes beyond `I.buffer.length`, and reaches really big values, making s points out of scope, here:

`char *s = I.buffer.data+I.buffer.index-1;`

In my case, s points to a map with prot_none, so it gets killed.
Since I'm not so confident with `libr/cons/dietline.c` code, I'm not sure if the following changes would break something:

[code]

[2017-01-25 16:31] Svenito commented on #6068
Seems to also affect x86

    [0x00000000]> wx 488D470C
    [0x00000000]> f sym.callback=0xc
    [0x00000000]> pd 1
            0x00000000      488d470c       lea rax, [rdi + 0xc]        ; 0xc ; sym.callback ; sym.callback

[2017-01-25 16:52] #6551 closed

[2017-01-25 16:58] VisualPrankDude commented on #6579
@leberus without trying your patch I could fix it in my version. when substituting 0x80 with 0x7f
however, that is not utf8 :/

[2017-01-25 20:56] radare commented on #6068
Rdi cant be determined at static time. So nope this is not a bug for x86. The problem happens only when its a pc-relative thing

[2017-01-25 20:59] alvarofe commented on #6579
It shouldn't break and if it does is because an oob read is happening so is a good sign. I commited your changes @leberus confirm @VisualPrankDude that the crash is gone.

[2017-01-25 21:47] robopeter opened #6585 "aac Uses Invalid Range When Used With -m"
Attempting to run "aac" on a binary blob (no elf or other header) that was loaded with the -m flag yields an "Oops invalid range" error. Running "aac ###" where ### is a large number somewhere around the size of the binary yields the expected results.

The following chunk from cmd_anal.c seems to not make sense, but I don't know enough of what's going on to fix it:

[code]

First, why are there tw

[2017-01-25 21:48] robopeter commented on #6585
Maybe this is related to #5433 ? or at least some of what's being talked about there...?

[2017-01-25 22:04] Maijin commented on #6579
Re-open, fix was causing bug.

[2017-01-25 22:24] robopeter commented on #6585
search.in is set to file... which is what I think I want, isnt it? I want to search the whole (relocated) file.
anal.in doesn't seem to be an option... ???

[2017-01-25 22:34] radare opened #6587 "Add HUD for VB"
like its done for VF

[2017-01-26 00:07] krytarowski commented on #3251
I've not been following r2 in a while. I know how to attach to python buildslave. I'm using it for LLVM+Clang+LLDB CI. Java and docker are out of my control.

[2017-01-26 00:33] radare opened #6588 "Missing instruction for the arm64 assembler: MOV"
[code]

should be `f40300aa`

[2017-01-26 00:38] kazarmy commented on #6579
Still broken:

[code]

R2 version:
[code]

[2017-01-26 00:56] kazarmy commented on #6579
More fun stuff:
[code]

The oob read address is changing.

[2017-01-26 08:19] Svenito commented on #6068
The examples don't show the flags as flag substitution happens only with addresses >256

[2017-01-26 11:22] leberus commented on #6579
I'm preparing a commit

[2017-01-26 15:02] Svenito commented on #6068
Further noticed that in the above example:

    wx 0c009fe5
    e asm.arch=arm
    e asm.bits=32
    f sym.callback=0x14
    pd 1

it should use the address stored at 0x14 to resolve the flag and not the flag at 0x14, because the instruction is

    Ldr  r0,  [0x00000014]

not

    Ldr  r0,  0x00000014

[2017-01-26 15:19] kazarmy commented on #6579
The oob read address changes (due to ASLR?) even if I just repeat:
[code]
Aah silly me.

[2017-01-26 15:31] leberus commented on #6579
@kazarmy could you try [this](https://github.com/leberus/radare2/tree/console) ?

[2017-01-26 16:04] VisualPrankDude commented on #6579
can't reproduce in

radare2 1.2.0-git 13608 @ linux-x86-64 git.1.2.0-git-42-g3a13add
commit: 3a13addb77b6e99225be6b1b6c467b72f6704475 build: 2017-01-26

[2017-01-26 16:08] VisualPrankDude commented on #6579
forgot 0x7f change ...

[2017-01-26 16:09] leberus commented on #6579
just check out my branch and see if it crashes, if not we can push the commit

[2017-01-26 16:10] VisualPrankDude commented on #6579
final can't reproduce :D

[code]

[2017-01-26 16:10] VisualPrankDude commented on #6579
@leberus: Thanks !

[2017-01-26 16:16] leberus commented on #6579
are you on telegram? it's gonna be much easier

[2017-01-26 16:28] leberus commented on #6579
You ca try the branch i told you and tell me

El dia 26/01/2017 17:14, "VisualPrankDude" <notifications@github.com> va
escriure:

[2017-01-26 16:29] VisualPrankDude commented on #6579
na, just checkink your branch

[2017-01-26 16:33] kazarmy commented on #6579
@leberus Confirm no segfault on:
[code]
Thanks!
[code]

[2017-01-26 16:35] VisualPrankDude commented on #6579
hm, can't test, I get a constant "WARNING: r2 library versions mismatch!"
even with git clean -xdf and fresh checkout. But with
https://github.com/radare/radare2/issues/6579#issuecomment-275429800
and
https://github.com/radare/radare2/issues/6579#issuecomment-275430167
is fixed.

[2017-01-26 16:37] Maijin commented on #6579
git clean -xdf ; make uninstall ; make purge etc.

[2017-01-26 16:43] VisualPrankDude commented on #6579
@Maijin I remove /usr/local/lib/radare2 libr2* libr_*, but will test with make uninstall.

[2017-01-26 16:52] leberus commented on #6579
@VisualPrankDude

This change is wrong:

`if (I.buffer.index < I.buffer.length)
`

`I.buffer.index` never gets incremented, and this causes a bug that while writing in the command line, the line looks totally screwed up (starts writing from the other side).
This is why must be `<=`. I've done that in my pr

[2017-01-26 16:55] kazarmy commented on #6579
Oh my. That's bad.

[2017-01-26 17:01] leberus commented on #6579
I didn't mean that, I meant this:

`(I.buffer.index + utflen) < I.buffer.length`

[2017-01-26 17:18] VisualPrankDude commented on #6579
@leberus yes, I got that.
testing with your branch, all is finally ok.

Tanks many too all :)

[2017-01-26 17:18] #6579 closed

[2017-01-26 17:19] VisualPrankDude commented on #6579
btw. @Maijin thanks for make uninstall, it is nice to not shot ranlib :)

[2017-01-26 17:25] leberus commented on #6579
Dont close it. It will be closed once my PR gets merged ;)

El dia 26/01/2017 18:19, "VisualPrankDude" <notifications@github.com> va
escriure:

[2017-01-26 17:56] kazarmy commented on #6579
@leberus You meant that if `<` is used instead of `<=`, it is possible that line 1455 in the `else` block:
[code]
is executed but the index is not updated?

Btw, `buffer.index > buffer.length` cannot happen right?

[2017-01-26 18:22] leberus commented on #6579
No, I meant here:

if ((I.buffer.index + utflen) <= I.buffer.length) {
	I.buffer.index += utflen;
}

If we put "<" instead of "<=", the line within if gets never executed and leads to the problem that whatever you type in the prompt looks wrong (starts writing the other way round)

[2017-01-26 18:40] leberus commented on #6579
I meant not to close this issue because is not fixed in the master till my
pr gets merged

El dia 26/01/2017 18:56, "Khairul Azhar Kasmiran" <notifications@github.com>
va escriure:

[2017-01-26 18:56] sevan commented on #3251
It would be cool if you could work out what the CI requires & state that, leaving the implementation on the client side where builds are performed (if nothing is currently prepared).
Trying to work out what the [docker script](https://github.com/anyakichi/docker-netbsd-builder/blob/master/Dockerfile) is actually trying to do, I don't think it would ever work because a) there is no NetBSD docker su

[2017-01-26 20:12] bennyty opened #6590 "Update r2 on Kali Linux"
I have a new install of Kali from https://www.offensive-security.com/kali-linux-vmware-virtualbox-image-download/

`Linux kali 4.6.0-kali1-686-pae #1 SMP Debian 4.6.4-1kali1 (2016-07-21) i686 GNU/Linux`

I tried to follow https://securityblog.gr/3791/install-latest-radare2-on-kali/ in order to update to the git version of r2. However:

[code]

and

[code]

and r2 aborts on most commands:
EDIT: put

[2017-01-26 22:43] radare commented on #6590
please remove r2 from kali first

apt-get remove radare2 radare2-lib
apt-get purge radare2 radare2-lib

(didnt tried), if you want to be sure that there’s no previous installation of r2 you can run this in git’s :

./configure —prefix=/usr
make purge

btw, the release machinery is also creating .deb packages. you can just download it and install it with dpkg -i

a new release will happen this sund

[2017-01-26 23:15] Maijin commented on #6590
Just use `./sys/install.sh` after cleaning everything like @radare  said

[2017-01-27 00:09] bennyty commented on #6590
Thanks, I tried to remove the libs:

[code]

This is my `/etc/apt/sources.list`, maybe Kali's default sources don't include whichever repository r2 is listed in.
[code]

But alas, my "r2 library versions [still] mismatch!"

I can afford to wait for the next release if that would simplify the process.

[2017-01-27 00:33] radare commented on #6590
maybe its radare2-dev or something like that check the list of installed packages (dpkg -l)

[2017-01-27 01:03] bennyty commented on #6590
Taught me something I didn't know.
For reference they are:
[code]
Everything seems to work now, thanks! Is it recommended to install off of the .deb packages or build from git?

[2017-01-27 01:07] Maijin commented on #6590
Build from git. Use ./sys/install.sh

[2017-01-27 01:33] #6590 closed

[2017-01-27 05:20] kazarmy commented on #6579
Sorry, instead of asking whether "it is possible", I should have said that it is certain that if line 1455 (`I.buffer.length += utflen;`) is executed, the index will not be updated if `<` is used instead of `<=`, which would most likely result in the write-at-start behavior you described (would need to check code outside the `default` case to be certain).

Of course, without your patch, `buffer.in

[2017-01-27 07:59] kazarmy commented on #6579
Line 1455 will be executed if `I.buffer.index == I.buffer.length`, which I'm assuming is the situation at r2 start (something like `I.buffer.index = I.buffer.length = 0` at start?). I'm also assuming of course that `I.buffer.data` is of reasonable size.

[2017-01-27 08:26] leberus commented on #6579
f.i, at the first iteration using utf8:

[code]

Once this line is reached, values are:

I.buffer.index = 0
I.buffer.length = 1
utflen = 1

Without `<=`, `I.buffer.index` is always kept at the same value (0), this is why you always write at the same position and the prompt gets fucked up

[2017-01-27 08:39] kazarmy commented on #6579
Ok thanks.

[2017-01-27 10:13] zonkzonk opened #6593 "/E esil fun: 0x00400000 esil_neg: unknown reg "zf"
morrn,

echo 'e anal.esil=1; e asm.esil=1; e esil.verbose = 1; aaaa; /E  "zf,!,?{,4213168,rip,=,}"' |  r2  /bin/ls 1>/dev/null

 esil vm is initialized:
esil output seems ok.

but I get error: 0x00400000 esil_neg: unknown reg  "zf

valgrind/asan follows later

[2017-01-27 10:40] zonkzonk commented on #6593
![asan esil](https://cloud.githubusercontent.com/assets/5694980/22368149/0d456a94-e47d-11e6-97ef-c35ea82f7308.png)

[2017-01-27 10:55] skuater commented on #832
implemented a MSVC SEH pattern for pe32

[2017-01-27 12:09] #6581 closed

[2017-01-27 16:50] DigiAngel opened #6595 "Fails to compile"
As of this morning:
[code]

Git info:
[code]

[2017-01-27 17:01] radare commented on #6588
[code]

[2017-01-27 17:02] radare commented on #6588
[code]

            0x100007f64      20240091       Add  x0,  x1,  9

[2017-01-27 17:03] leberus commented on #6595
Which version are you using? That commit was reverted

[2017-01-27 17:03] radare commented on #6588
ADR/ADRP

[2017-01-27 17:04] radare commented on #6588
[code]
            0x10000faf0      406c6958       Ldr  x0,  0x1000e2878      ; 0x1000e28

[2017-01-27 17:04] radare commented on #6588
Orr
[code]

[2017-01-27 17:07] DigiAngel commented on #6595
Not sure to be honest...I just did the sys/install.sh dance this morning and that's what I got.  However after nuking the /opt/radare dir and re-cloning all seems well:
[code]
Thanks and sorry for the noise.

[2017-01-27 17:07] #6595 closed

[2017-01-27 17:08] leberus commented on #6595
np, have fun ;)!

[2017-01-27 17:46] lawrenceakka opened #6596 "Project functionality broken if aeim is used - binary not reloaded"
1) Use aeim
2) Save the project
3) Quit and reopen the project
4) r2 thinks the file is malloc:// ... The path to the original binary is lost, and the original binary is not loaded
5) 😭

[code]

[2017-01-27 19:49] #6588 closed

[2017-01-27 22:16] Maijin commented on #6596
Wat ?

Project != Binary.

If you want to save the bin in the project file you have to specify that with e prj.files option otherwise you need to open the file again and use the project.

[2017-01-27 23:02] lawrenceakka commented on #6596
Aha! I understand.

However ...

1. Using `e prj.files=true` does not seem to help in this scenario. Saving the project copies the binary to the .config directory, though r2 generates warnings about not being able to copy the malloc:// file as well. Once `aeim` has been used however, when the project is saved and reloaded, the binary is not loaded. Is it meant to be?

2. If you `r2 -p test` and th

[2017-01-28 08:48] wargio commented on #6469
on my version of msys2 (latest: 01/28/2017) it doesn't crash. it just builds.

[2017-01-28 09:15] radare commented on #6596
This is related to another issue related to projects with multiple files

[2017-01-28 09:29] lawrenceakka commented on #6596
xref to #6037

[2017-01-28 11:54] #6001 closed

[2017-01-28 12:35] #6564 closed

[2017-01-28 13:28] oddcoder commented on #6194
This should be closed now ?

On Tue, Nov 15, 2016 at 04:20:59AM -0800, Maijin wrote:

[2017-01-28 13:36] zen0x90 opened #6598 "r2pm doesn't work because of a missing directory "db2""
Hi,

I just installed radare2 from source. Installation went fine but I have an issue with r2pm :

[code]

The directory `db2` doesn't exists. So even if I `$ r2pm update` its not working because of that missing directory. Instead directory `db` is created.

[code]

[code]

Cheers

[2017-01-28 14:24] radare commented on #6194
No

[2017-01-28 15:18] ninjahacker opened #6599 "ARM ldrex/strex assembler not supported"
rasm2 -a arm -b 32 'ldrex r1, [r2]'
001092e5
rasm2 -a arm -b 32 'ldr r1, [r2]'
001092e5

Disassembly is fine:

rasm2 -a arm -b 32 -d 9f1f92e1
ldrex r1, [r2]

But it isn't recognized in ESIL:
rasm2 -a arm -b 32 -dE 9f1f92e1

*blank*

[2017-01-28 15:45] radare commented on #6599
You can use arm.ks meanwhile. Or someone will eventually implement those

[2017-01-28 15:56] #6476 closed

[2017-01-28 16:02] alvarofe commented on #6424
Is because of colors

[code]

[2017-01-28 16:12] alvarofe commented on #6424
[code]

Is chopped in here `r_core_cmd_subst`

[code]

[2017-01-28 17:47] radare commented on #6424
Oh we should deansify in backticks. Isnt?

[2017-01-28 18:22] peperunas commented on #6313
@l4l nope, it's not working.

[code]

[2017-01-28 21:51] condret opened #6603 "siol-compability"
so you guys added new stuff, and renamed other stuff. And this is why siol build fails again.

Questions:
- what is R_IO_DESC_TYPE ... for, is it really needed?
- what is io->Oxff for, isn't it the same as io->ff ?

[2017-01-28 23:48] radare commented on #6313
Cc @leberus

[2017-01-29 01:01] leberus commented on #6313
Ill take a look tomorrow

El dia 29/01/2017 00:48, "radare" <notifications@github.com> va escriure:

[2017-01-29 02:35] razorfish-sl opened #6604 "turn off the garbage speaking in the WI"
Do i really need a continual message about posting to facebook , or some grandfather in WW2 ?

may be better to clean up some of the bugs, than have such crap in a disassembler

[2017-01-29 02:44] #6598 closed

[2017-01-29 02:47] radare commented on #6068
also, the instructions posted by @Maijin are actually dereferencing a pointer and we should resolve the pointer in there, not the address of the pointer.

[2017-01-29 02:57] #6587 closed

[2017-01-29 02:58] radare commented on #5898
@oddcoder can you take a look at this?

[2017-01-29 02:59] radare commented on #4554
Maybe it will be better to do this in a separate analysis command, because we need the control flow graph to do the recursive analysis properly, and this way we can test before integrating. We can just run this command after `af` or add a config var to enable/disable the run of this step after analyzing a function.

[2017-01-29 03:00] radare commented on #1200
@marespiaut any update?

[2017-01-29 03:01] radare commented on #832
Fixed in 83eff0445103e10a0e3a1f2e4d6e2778d1b54a9b

[2017-01-29 03:02] radare commented on #2435
ping @XVilka

[2017-01-29 03:05] radare commented on #6530
I think it's clean because ~?? is pointed out from ?@?

[2017-01-29 03:05] #6530 closed

[2017-01-29 03:06] radare commented on #2179
`32-bit systems are affected. It is highly unlikely that 64-bit operating systems would allow such an overflow. (Read: not impossible.)`

[2017-01-29 03:42] #2179 closed

[2017-01-29 08:59] leberus commented on #6313
@peperunas last output you pasted seems quite old. Could you get r2 from git again and try it again.
I've tested it on my site and unfortunately I couldn't reproduce your error (I've tested it on Linux x86_64):

[code]

As I said, from your last output looks like you have an old r2 version there, so please test it from git and tell us.
Although it was working for everyone before, r2 received a lot

[2017-01-29 10:01] peperunas commented on #6313
[code]

Still nothing.

[2017-01-29 10:01] peperunas commented on #6313
[code]

[2017-01-29 10:08] leberus commented on #6313
Mm, strange.
Do you have any special options enabled for debugger? Can you show me your config regarding dbg.* values?
Thanks ;)

[2017-01-29 10:13] peperunas commented on #6313
This is my `.radare2rc`:

[code]

and `dbg.*` confs:

[code]

[2017-01-29 11:26] radare commented on #6604
I dont know what version of r2 are you using, but the text-to-speech functionalities are disabled in master already. This feature was implemented in maybe 10 minutes in only one of the 14.000 commits that this repo have. And this is the base to have better support for blind users. Yes, there are blind users in r2land.

See `e~tts` to check the options.

The fortune messages can be also configured

[2017-01-29 11:26] #6604 closed

[2017-01-29 12:13] radare commented on #6593
you are quoting wrong

[2017-01-29 12:14] radare commented on #6593
NOTABUG

[2017-01-29 12:14] #6593 closed

[2017-01-29 12:45] Maijin commented on #6604
Hello,

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2017-01-29 13:44] leberus commented on #6313
I'm unable to reproduce it, its working for me :(. Do you have this issue with all binaries? Or just with this one?
I'll try to have some thoughts about it

[2017-01-29 13:53] radare commented on #6603
Oxff is used to specify which value the user wants to use to display the regions of memory that cannot be read. this was a request from a user who wanted to have 0x00 instead of 0xff.

[2017-01-29 13:54] radare commented on #6603
and this Oxff was implemented 9 months ago.., is not that "new"

[2017-01-29 13:57] radare commented on #6603
i dont know why this R_IO_DESC_TYPE (OPEN|CLOSED) was implemented., but it could be simplified to a bool. IIrc it is a way to allow the backend to tell the frontend that the stream was closed. But i cant recall the commit right now

[2017-01-29 14:01] radare commented on #6313
Works for me too. Tested on linux-x64 and osx

[2017-01-29 14:01] peperunas commented on #6313
It happens to every binary I try to debug. I've already removed and reinstalled r2 several times.

[2017-01-29 14:50] Maijin commented on #832
Far from beeing completed :P

[2017-01-29 15:52] radare commented on #1700
Cant reproduce  :? tried with arm32 and arm64 on qemu and real hardware

$ r2 -a arm -b 32 -d gdb://host:port

the same goes for arm64 if -b 64 is used

[2017-01-29 15:57] XVilka commented on #1700
This is an old bug, situation can be different nowadays. Close it if you
can't reproduce.

On Jan 29, 2017 7:52 PM, "radare" <notifications@github.com> wrote:

[2017-01-29 16:02] #1700 closed

[2017-01-29 16:04] zonkzonk opened #6606 "pf+arg args heap overflow"
[code]

[2017-01-29 16:05] zonkzonk commented on #6606
,r2 -v
radare2 1.2.0-git 13631 @ linux-x86-64 git.1.2.0-git-65-g5fa9601
commit: 5fa9601abee893ffd91003bb404f55303b1321e6 build: 2017-01-29

[2017-01-29 16:06] zonkzonk commented on #6593
@radare ok, but how to quote then?

[2017-01-29 18:01] radare commented on #2435
im closing this bug because its not having feedback for a lot of time and nobody is using cygwin . if this is an issue its because of the path is trying which just depends on the way you build r2, and we dont build official cygwin compilations of r2. so if you dont care, i care even less

[2017-01-29 18:01] #2435 closed

[2017-01-29 18:02] condret commented on #6603
The R_IO_DESC_TYPE thing is set 2 times in the codebase, and never checked anywhere. I removed it, since it really does nothing

[2017-01-29 18:30] radare commented on #6593
Like you quote any other command in r2. Covering the whole command. Not the argument

[2017-01-29 18:31] radare commented on #6603
Ok for me. But wondering who added this and why

[2017-01-29 18:39] skuater commented on #832
still working adding more patterns

[2017-01-29 18:55] condret commented on #6603
you added this >6 years ago

[2017-01-29 18:59] #6606 closed

[2017-01-29 19:13] condret opened #6608 "RCoreFile->desc"
I don't think that the will manage to kill RCoreFile for 1.3, but maybe we can kill RCoreFile->desc.

I would like to replace RCoreFile->desc with RCoreFile->fd (int or ut32). I think, in order to prevent segfaults and stuff, we should go for encapsulation when it comes to io, which means that the core shall not have any pointers to rio internal stuff, like the descs. Having a fd/id should be enou

[2017-01-29 19:39] #6506 closed

[2017-01-29 19:40] alvarofe commented on #6506
@Maijin did you add test for this?

[2017-01-29 19:51] condret commented on #6037
definitely something that should be easier to fix with siol

[2017-01-29 20:29] #5898 closed

[2017-01-29 20:30] XVilka opened #6609 "Move autocompletion tout of libr/core/core.c to the corresponding commands"
Right now it's a monstrous function in libr/core/core.c
I think splitting it to the smaller chunks (workers/handlers) and moving those chunks closer to the actual commands implementation will make code maintenance and enhancement tasks easier.

[2017-01-29 21:01] oddcoder commented on #5670
that was fixed but I dont have the commit id :P

[2017-01-29 21:01] #5670 closed

[2017-01-29 21:17] condret commented on #2739
@radare i think it is

[2017-01-29 21:30] zonkzonk opened #6610 "l heap overflow"
[code]

,r2 -v
radare2 1.2.0-git 13642 @ linux-x86-64 git.1.2.0-git-76-g9eef413
commit: 9eef413f6a8941fab06f95731a3a9e160d88db27 build: 2017-01-29

[2017-01-29 21:31] zonkzonk commented on #6606
Thanks  alvarofe ! Can't reproduce

[2017-01-29 21:33] zonkzonk commented on #6593
@radare, ok adding additonal quotes, yields in the same result:
0x00400000 esil_neg: unknown reg "zf
Cannot parse esil ("zf,!,?{,4213168,rip,=,}")

isn't rpn a proble here? since esil_neg is complaining.

[2017-01-29 21:51] Maijin commented on #5670
Well ok for the ctrl+C but afta doesn't work...

[2017-01-29 21:55] Maijin commented on #6194
Any more .. details?

[2017-01-29 22:15] #6610 closed

[2017-01-29 23:50] XVilka commented on #4888
Was fixed in https://github.com/radare/radare2/commit/0d78c577a3c66ff493073d321a35b3c8b6782f86

[2017-01-29 23:50] #4888 closed

[2017-01-30 08:58] #6585 closed

[2017-01-30 09:19] laanwj commented on #6506
I've tried it out, and indeed it seems to be fixed. Thanks!

[2017-01-30 09:24] radare commented on #6585
I wrote 4 tests for this thing in t.anal/others/aac

[2017-01-30 13:25] radare opened #6611 "orr not implemented for arm64 assembler"
[code]

we also miss other binary ops for the arm64 assembler

[2017-01-30 13:27] radare commented on #6593
you are still quoting wrongly and not pasting the command you are using

[2017-01-30 16:29] dinosaurfiles opened #6614 "stdin pipe for commands such as dc"
Example on GDB. Adding a breakpoint before the stdin method(gets, scanf, etc)
`(gdb)run < "test input"`
Can we have the same functionality such as
`[0xdeadbeef]> dc < "test input"` ?

[2017-01-30 16:32] radare commented on #6608
Agree on that, if we manage to have a fast way to resolve from fd to desc. Otherwise we will have to control the descriptor state (open/closed) and add a reference counter

[2017-01-30 19:26] zonkzonk opened #6616 "dg heap-buffer-overflow after writing core on purpose"
morrn,

running dg

[code]

[2017-01-30 20:58] radare commented on #6616
Its ironic

[2017-01-30 21:31] alvarofe commented on #6616
I reviewed the code and is full of vulnerabilities due to bad practices, I fixed some in local but I prefer to hand it out to Oscar who was who made it.

[2017-01-30 21:35] leberus commented on #6616
Soz :(, I'll take a look tomorrow ;)!

[2017-01-30 22:29] radare opened #6617 "asm.pseudo doesnt works with asm.tabs"
Also, asm.ucase is ignored when asm.pseudo is set

[2017-01-30 22:32] radare opened #6618 "Optimize ESIL and pseudo for LEA"
[code]

in esil:

[code]

which can be: `0x2c,esp,-=`

and the pseudo for it is WRONG!
[code]