[2016-02-10 17:45] #4095 closed

[2016-02-10 17:45] radare commented on #4095
Thanks! nice catch

[2016-02-10 17:47] radare commented on #4093
the way to get that "symbol" can be done in different ways.

* analop : incomplete in some situations
* esil : emulate the instruction and catch mem references and immediates computed
* parsing disasm : like r_parse does

[2016-02-10 17:57] evanrichter commented on #4014
I found [documentation ](http://nagasm.org/ASL/Propeller/printedPDF/QuickReference-v15.pdf)for propeller but I have no experience with it. should I try anyway?

[2016-02-10 18:13] radare commented on #4014
Why not? :)

[2016-02-10 19:56] alvarofe commented on #4096
I would suggest `Vdw32, VdW8`, since when you are in visual mode a menu is presented to you to choose between different options, among those `w` and `W`

So after choose `w` or `W` we just ask the user how many times he wants to repeat the cmd.

[2016-02-10 19:58] DePierre opened #4097 "MIPS - $gp not resolved properly"
I am trying to use r2 to analyze a MIPS binary (see <http://rghost.net/69m7Wnrw2>) but it fails to properly resolves $gp. Since $gp is not resolved, I can't look for XREF like calls to ``system()`` for instance, which makes it cumbersome when you have to compute gp's value by hand...

+ r2 version:
[code]

+ ipcamera file:
[code]

+ r2 initial analysis:
[code]
+ IDA analysis for comparison:
[code]

[2016-02-10 22:15] evanrichter commented on #4014
I made a pull request, but I don't know how to reference this issue...

[2016-02-11 00:20] radare opened #4101 "? numeric conversion should support multiple values like rax2 does"
[code]

the problem of this approach is that we shouldnt use space as separator ...

[2016-02-11 00:21] radare commented on #4096
Vd32w is more vim-friendly and consistent with the rest, so the current behaviour will not change and the current use will not be broken

[2016-02-11 12:44] radare commented on #2218
Which one do u propose? Isnt that already in -I?

[2016-02-11 13:30] #4096 closed

[2016-02-11 13:36] #4090 closed

[2016-02-11 16:09] #3779 closed

[2016-02-11 16:17] Maijin commented on #3779
awesome !

[2016-02-11 16:59] jvoisin commented on #2276
@crowell reping :D

[2016-02-11 17:11] radare opened #4103 "radiff2 show disasm instead of hexpairstrings"
(with some context and alignment)

[2016-02-11 23:46] dukebarman commented on #2218
output for RELRO like in checksec, for example, and may be change sort order - this options will be place first

[2016-02-12 17:03] radare commented on #4084
What you want is the `e search.chunk=1`

[2016-02-12 17:38] radare commented on #4084
Sorry, just added `search.overlap` to address this issue. i have added two test cases for this.

thanks for reporting

[2016-02-12 17:39] radare commented on #4064
/me working on this

[2016-02-13 09:45] #4082 closed

[2016-02-13 18:49] radare commented on #2276
Anyone? This is pretty easy thing to do

[2016-02-13 18:49] radare commented on #2276
Also, milestone for 0.10.1

[2016-02-14 02:42] jsmnsr commented on #3084
The fix provided by @crowell appears to fail those tests because r_num_math will return 0 for all string arguments to p with ascii characters such as what is in the callflag test unit. The if (l == 0 test) { goto beach; } will then catch all instances of p where the parameter to p is '0' or an alphabetical string.

I would like to help fix this issue but I am looking for some guidance regarding th

[2016-02-14 04:33] gitido commented on #4084
search.overlap indeed fixes the first issue, thanks!
Just wondering, any reason it shouldn't be the default?

As for the second issue reported here, it hasn't been resolved yet, right?

[2016-02-14 06:56] radare commented on #3084
No. Absolutely no. Nummath uses a callback to determine the value of alphanumeric words . Those are resolved by core from the flagnames and others.  Both solutions are wrong.

[2016-02-14 07:03] radare commented on #4084
I dont see why anyone wants to catch all the overlapping keyword hits by default. This will result in much more hits in some situations, my main concern here is that this requires soms real testing for a while before it gets enabled by default, to avoid infinite loops or false positives happen.

Sorry for the other cases, can you fill a separate issue for it? Its usually not a good idea to use a s

[2016-02-14 07:05] radare commented on #3084
@maijin can you reference @crowell commit here?

[2016-02-14 10:13] Maijin commented on #3084
His broken patch is already reference see before ?

[2016-02-14 10:31] radare opened #4108 "Update flagsizes depending on function, struct, symbol sizes, .."
This will be useful for windows and other use cases, where the code references base+fielta in stack pointers, and pxr doesnt shows anything right now

[2016-02-14 20:31] skuater commented on #4076
The problem is when the file already exist, delete file.bin before run the command.

io.cache=true enable all write operations on memory then the file never become create / rewrite this its the reason dont crash with this option enabled.

Looking to solve ... at moment remove the file before launch r2.

[2016-02-14 20:56] radare commented on #4076
Removing the file doesn't solves the problem because he wants to patch some bytes, not write them on top of nothing. Let me know if you can find the reason. i dont have any windows to test right now

[2016-02-15 12:26] 0xABD commented on #4076
The use case is that I try to patch the existing file. The actual script is more complex, doing checksums, etc., but the crash happens regardless of the script.
Anyway, this works in linux on an existing file as intended.
I will try to get a stacktrace or other crash details and post it here.

[2016-02-15 15:05] radare commented on #1463
that videocore disassebler code is proabbly the most horribly code i have ever seen in binutils. full of asserts, overflows, the cpu description defined in an external file that is parsed with fopen/getline.. hardcoded file paths and lot of `if () return else if()`. my eyes hurt right now.

[2016-02-15 15:05] radare commented on #1463
Related a93805475da5cffcfd4476829e4583e5b136451b

[2016-02-15 15:06] radare commented on #1463
ah, forgot to say it also comes with format string vulnerabilities...

[2016-02-15 15:14] radare commented on #1463
Commited support for it in the vc4 branch:

https://github.com/radare/radare2/tree/vc4

it will not be merged until all those vulnerabilities and issues get fixed. feel free to contribute if anyone in in the mood

[2016-02-15 18:08] radare commented on #4013
this is fine now

[2016-02-15 18:08] #4013 closed

[2016-02-15 18:09] radare commented on #1547
Ithink we shouldnt deprecate this at all. just fix to avoid those nulls, it is useful to find bugs in the analysis and we can slowly improve that struct.

[2016-02-15 19:01] ret2libc commented on #4026
Please explain what's the wrong output and what's the expected output...

[2016-02-15 21:12] radare opened #4109 "Vx only shows 10 first xrefs"
see visual.c:603 `if (++count > 9) break;`

Also, it will be good to show a comment if found.

[2016-02-15 21:14] radare commented on #4109
![screen shot 2016-02-15 at 22 14 17](https://cloud.githubusercontent.com/assets/917142/13060409/7e3cd5e6-d431-11e5-81ff-ae575bcc2ab6.png)

[2016-02-15 21:15] radare commented on #4109
also, note that we should also show more than 3 xref calls in that list if the console width is able to show more of them.

[2016-02-15 21:29] radare commented on #4103
Honoring arch/bits and using the -D flag

[2016-02-15 21:44] Maijin commented on #4054
ping @rofl0r

[2016-02-15 21:47] Maijin commented on #4014
Major one are here now thanks all guys :) Closing the issue for now.

[2016-02-15 21:47] #4014 closed

[2016-02-15 22:08] radare opened #4110 "pd@x:90 doesn't works"
It should be the same as `pD@x:90`

[2016-02-15 22:52] radare commented on #4103
Done in https://github.com/radare/radare2/commit/fd359e91218a8b1a97f7196ce73a6b05b5edd642

[2016-02-15 22:52] #4103 closed

[2016-02-15 23:00] radare commented on #4110
Tests here https://github.com/radare/radare2-regressions/commit/69255f9198e5c2e6f954b0d3ef998c0763905972

[2016-02-15 23:09] radare commented on #2276
[code]

about to commit in 3..2. ...

[2016-02-15 23:14] #2276 closed

[2016-02-15 23:14] radare commented on #2276
Done

[2016-02-15 23:59] radare opened #4112 "Multiple definitions of dwords/qwords like in Vd#x but from the shell"
* Be able to define N consecutive dwords from the shell without pf
* Be able to define this by using cursor selection
* Add tests

[2016-02-16 00:02] radare commented on #4109
We should have some scrolling in case its out of the screen

[2016-02-16 00:22] radare commented on #4109
Fixed in 994eea2acbf73959b413da890acc77e4ced9896f

[2016-02-16 00:22] #4109 closed

[2016-02-16 00:42] Maijin commented on #3084
ping @jsmnsr

[2016-02-16 00:44] radare opened #4113 "do not hardcode preludes"
Support in `ap` and `aap`

[2016-02-16 00:52] radare commented on #4026
The Cd in the pd is only handled at the begining, if you try to disasm a dword +1 it will show code instead of the 3 bytes pending.

The same happens for large hex blocks and such

[2016-02-16 01:57] radare commented on #4112
It is now done in git. no tests yet.

[2016-02-16 03:32] radare commented on #4112
some tests done. enhancements are welcome

[2016-02-16 03:32] #4112 closed

[2016-02-16 03:39] jsmnsr commented on #3084
I will get a chance to work on this issue some more tomorrow.

[2016-02-16 04:05] radare commented on #4073
Done in 24582a7c37fc48bb09f28236086b9f7bd595ebce

[2016-02-16 04:05] #4073 closed

[2016-02-16 04:06] radare commented on #3751
Related https://github.com/radare/radare2/issues/4026

[2016-02-16 11:24] Maijin commented on #4113
So where this should be defined ? External SDB ?

[2016-02-16 11:27] radare commented on #4113
maybe in plugins, directly in C, we also need to identify forward preludes and backward preludes. this is because forward searching will find the first instruction matching some bytes, but in arm64 for example, the function prelude is defined by N same instructions. so it requires some more logic than just checking a fixes amount of bytes.

[2016-02-16 11:49] radare commented on #4007
Please try again, i have added some tests. this is happening with anal.afterjmp. we should add more analysis tests feel free to send one for your case

[2016-02-16 14:00] XVilka opened #4114 "Remove sigsetjmp from Xtensa disasm"
It does not build on Windows correctly.

[2016-02-16 14:30] radare commented on #3408
Still?

[2016-02-16 14:58] Maijin commented on #3408
still on going

[2016-02-16 15:22] cynecx commented on #4007
https://asciinema.org/a/f3bfa2jt067asmhty7l8c0cas
It's still not working with that file. I also disabled anal.afterjmp. Is it possible to upload that file?

[2016-02-16 15:25] radare commented on #4007
just add .jpg to the file and drag it to github, or just post it somehwere :)

[2016-02-16 15:30] cynecx commented on #4007
Here you go: https://cloud.githubusercontent.com/assets/5961244/13080727/3ba51ca4-d4ca-11e5-906b-78db8180b654.png

:)

[2016-02-16 15:32] radare commented on #4007
oh i see, the patch i posted yesterday was for UJMP instructions not JMPs itself. having the binary would be good for testing, or at least a simple testcase using r2 malloc:// and wx, af...

[2016-02-16 16:12] #4061 closed

[2016-02-16 17:28] rofl0r commented on #4054
i did ```make dist``` on latest git however it still doesn't produce a tarball

[code]
after executing the xz command, i get a long list of filenames and that's it. no .xz file, no .tar, nothing.
according to xz --help:
[code]
so i suppose the xz invocation should be
[code]

[2016-02-16 17:49] rofl0r commented on #4054
tried to change the dist: target and commented out the last line (weird mv command)
ran it once and now i always run into an error, i.e. even with the line restored nothing works
[code]
this whole dist target seems really wacky (cd'ing to other dir, moving stuff around, etc)
why not put the tarball-gen logic into a shellscript that's invoked ?
[code]

[2016-02-16 18:08] 0xABD commented on #4076
At `\radare2\libr\util\file.c` you are calling WriteFile with `lpNumberOfBytesWritten = NULL` and `lpOverlapped = NULL` at the same time which is prohibited (https://msdn.microsoft.com/en-us/library/windows/desktop/aa365747(v=vs.85).aspx)

[code]

[2016-02-16 18:22] 0xABD commented on #4076
Made a PR
https://github.com/radare/radare2/pull/4116

[2016-02-16 18:47] radare commented on #4054
This thing works fine in all my systems, even on windows. I bet its your system that is not compatible.. I can rework those steps but a pullreq is welcome

[2016-02-16 20:26] #4076 closed

[2016-02-16 20:44] Maijin commented on #4007
@cynecx Can this binary shared on radare2-regressions, not malware nor copyrighted?

[2016-02-16 21:07] cynecx commented on #4007
Well, this is just an executable containing virtualized code of some hello messageboxes so yes, sure.

On 16 Feb 2016, at 21:44, Maijin <notifications@github.com<mailto:notifications@github.com>> wrote:

@cynecx<https://github.com/cynecx> Can this binary shared on radare2-regressions, not malware nor copyrighted?

-
Reply to this email directly or view it on GitHub<https://github.com/radare/radare

[2016-02-16 23:53] radare commented on #4060
No need to oo+. the shortest poc is: `cp /bin/ls ls ; r2 -wc 'aecs*' ls`

[2016-02-16 23:56] #4060 closed

[2016-02-17 00:02] Maijin commented on #4060
segfault is fixed but still doesn't work :
[code]

[2016-02-17 00:31] jsmnsr commented on #3084
So is this a problem with num_callback as it is implemented in core?

[2016-02-17 00:31] radare commented on #4060
This offset is far from the boundaries of the files. Not sure what are you trying to get working but this is not something you should do

[2016-02-17 00:34] radare commented on #3084
No. It is a problem on how is used the argument of pd when calling the disasm loop

[2016-02-17 00:34] Maijin commented on #4060
Was trying to do dcs* but with esil :p

[2016-02-17 00:46] radare commented on #4060
Without initializing yhe stack thats what u get

[2016-02-17 01:09] Maijin commented on #4060
`r2 -wc "aei ; aeim ; aeip ; 10aecs" ./ls` (because aecs* isn't implemented)

[code]

[2016-02-17 01:18] radare commented on #4060
Do you know that esil does not emulates dyld or even loads libc or even implements all kernel syscalls. Etc?

[2016-02-17 01:31] jsmnsr commented on #3084
when the argument of pd == "0" i go to beach. Does this sound like an adequate fix? The failing tests pass now.

[2016-02-17 11:47] XVilka commented on #2436
@Nodepad sorry, just noticed your asnwe

4. pf support can be checked if you run "radare2 -nn your_mz_file" and using "pf.<tab>"
5. Any updates on it?

[2016-02-17 12:38] Maijin commented on #2436
For pf, on pe for example: you'll see something like
pf.pe_dos_header [2]zwwwwwwwwwwwww[4]www[10]wx e_magic e_cblp e_cp e_crlc e_cparhdr e_minalloc e_maxalloc e_ss e_sp e_csum e_ip e_cs e_lfarlc e_ovno e_res e_oemid e_oeminfo e_res2 e_lfanew
...
It will probably be similar or so for MZ + others structs. I see it as already be done https://github.com/radare/radare2/blob/master/libr/bin/format/mz/mz

[2016-02-18 00:16] Maijin commented on #1476
[code]
This should search from the offset 0x0 to 0x100 for magic value right ? Looks like it doesn't because seeking offset is 0x1000 + the seek offset is moved after the search which is not the case for example when performing a /x .

[2016-02-18 08:59] ret2libc opened #4120 "can't rename flags like sym.func.deadbeef, sym.imp.atoi, etc."
Test case:
[code]
The last command should return something, instead there is nothing. If you look for sym.imp.atoi you will still find that.

It seems like this https://github.com/radare/radare2/blob/master/libr/flags/flags.c#L441 returns NULL when trying to rename those kind of flags. All flags that are subject to this line https://github.com/radare/radare2/blob/master/libr/core/bin.c#L1222 are a

[2016-02-18 09:56] radare opened #4121 "Support iOS OTA unpacker"
http://newosxbook.com/src.jl?tree=listings&file=ota.c

Like in `rabin2 -x` or maybe just directly in r_fs plugin

[2016-02-18 10:42] jvoisin commented on #3873
I think that crowell had a PoC in ruby for this.

[2016-02-18 10:59] radare opened #4122 "Support structs in r_asm"
one solution would be to handle this syntax:

[code]

maybe just use dword, byte, ... instead of int/char... then we should just define labels for those fields like this:

[code]

so in fact it will be the same as doing this:
[code]

[2016-02-18 11:34] radare opened #4123 "Use MPC for Ragg2 parsing"
https://github.com/orangeduck/mpc

much better than doing our own syntax parser or bison/yacc

[2016-02-18 11:57] radare opened #4124 "Add command to generate coredump in MACH0 or ELF"

[2016-02-18 13:31] XVilka commented on #4122
Should have support for syntax like
[code]
and for
[code]

[2016-02-18 14:27] radare commented on #1463
Coverity have same complains about that code :P
[code]

[2016-02-18 14:29] radare commented on #3084
not the argument == “0”, doing this should be the same:

pd 1-1

and the same for flags. this is.. if the result of r_num_math (core->num, input+2); is 0 but input is not “” then goto beach;

[2016-02-18 15:29] Maijin commented on #3745
Duplicate of https://github.com/radare/radare2/issues/2805

[2016-02-18 16:20] travisgoodspeed opened #4125 "MSP430 Invalid Instruction Width / Alignment"
Howdy y'all,

The MSP430 architecture always fetches half-word aligned instructions, and all valid instructions begin at even addresses.  Unfortunately, R2's MSP430 decoder treats invalid instructions as being just one byte long, breaking alignment and causing future, valid instructions to be unnecessary mistaken for invalid instructions.

For example, this sequence from the MSP430F2618's mask ROM

[2016-02-18 16:56] #2423 closed

[2016-02-18 22:19] radare opened #4126 "Add ability to compare hash in rehash2 and change return value"
[code]

This will calculate the checksum of /bin/ls and compare it with the given hash with -c.

the return code will be 0 if they are the same, and 1 if not.

[2016-02-19 10:15] XVilka commented on #3655
![fun_args](https://cloud.githubusercontent.com/assets/203261/13172747/c4709396-d70a-11e5-9ecb-beb03a8844eb.png)

[2016-02-19 10:23] dukebarman commented on #3655
:+1:

[2016-02-19 12:52] trufae commented on #1566
there are dupped issues with other issues here. we should merge all the graph related tasks in a single one

[2016-02-19 13:23] dukebarman opened #4128 "Radare2 is not as cool as PEStudio"
See its [features](https://www.winitor.com/) page

Add command for print Indicators like in PEStudio (i.e display version information that are already parsed). For example:

![image](https://cloud.githubusercontent.com/assets/1186777/13176670/fc0fe4d6-d724-11e5-81f3-d2be71bd5741.png)

- Filter and flag potential malware and antidebug functions from imports (GetWindowThreadProccesId, ...)

All this

[2016-02-19 15:03] Maijin commented on #4128
Is indeed very interesting to print all the information from a binary elf/pe/mach0 but is definitely not r2 job to determine if malicious or not, this could be done by an external plugin + quid licence of the xml files, I highly doubt this can be shared ?

[2016-02-19 15:09] radare commented on #4128
yeah, this should be done with r2pipe or something, maybe a separate tool on top of r2

[2016-02-19 17:22] radare commented on #3655
this is already done. but doesnt works in all cases because if the arguments are passed in registers there’s no direct way to catch this. but args are detected in the same way as the local vars.

[2016-02-19 21:35] stanciuadrian commented on #4114
Use setjmp when sigsetjmp is not available. Just sync with GNU opcodes.

[2016-02-19 23:21] stanciuadrian commented on #4126
I started working on this.

[2016-02-20 08:03] q6r opened #4130 "unicorn plugin broken"
uc_hook_add changed https://github.com/unicorn-engine/unicorn/issues/430

[2016-02-20 08:11] radare commented on #4126
👍

[2016-02-20 08:11] radare commented on #4130
Can you send a pr?

[2016-02-20 13:34] stanciuadrian commented on #4114
Did you start working on it?
I have already fixed it in my fork and can do a pull request.

[2016-02-20 14:06] radare commented on #4114
Nope i was just asking. Send the pr :) thanks

[2016-02-20 15:31] stanciuadrian commented on #4114
Rechecked this issue and it seems I also need to modify `configure.acr` to define `HAVE_SIGSETJMP` if the `sigjmp_buf`/`sigsetjmp()`/`siglongjmp()` are available. In `binutils` they do this by compiling a short C program and checking if the compilation fails:
[code]

[2016-02-20 16:03] radare commented on #4114
Yes it does. But i prefer to avoid that thing. Setjmp is as bad as goto. It should be removed if possible

[2016-02-20 16:38] alvarofe opened #4132 "bad disassembly arm"
I've seen this issue while disassembly ls from iOS

https://asciinema.org/a/3bfa8v6oq6yxuv4aadj69je34

i think @ret2libc was working on this

![ls](https://cloud.githubusercontent.com/assets/3474042/13197789/3edd70ac-d7f8-11e5-8882-23444cdc57d1.png)

[2016-02-20 17:09] alvarofe commented on #2464
I think i am experiencing the same issue with iOS. When i set a breakpoint i get `EXC_BAD_INSTRUCTION`, because it can't find a breakpoint and it fallback https://github.com/radare/radare2/blob/63956d67af9223f680942aa83f3ea8c0aea4d04c/libr/bp/bp.c#L69 i think we should look this with more care to set the breakpoint smarter at least with arm due to its idiosyncrasy.

skimming through gdb source cod

[2016-02-20 18:05] radare commented on #4132
e asm.bits=16

This thing was fixed for android because the thumb bit is set in rbin. It works for me on ios app binaries.

[2016-02-20 18:18] alvarofe commented on #4132
that doesn't resolve the issue i think.

at entry0 the bytes are `00009de40410..`, when moving with `j/k` in visual mode they become `00d111e3..` so something strange is happening there, although dumping the content is right. Maybe a regression?

<img width="1440" alt="captura de pantalla 2016-02-20 a las 19 17 30" src="https://cloud.githubusercontent.com/assets/3474042/13198342/9ff8ea70-d806-11e5

[2016-02-20 19:17] radare commented on #4132
Oh then it should be related to the ret2libc changes

[2016-02-20 21:55] radare commented on #4132
should be fixed now, it was a bug in r_io, please confirm and close

[2016-02-20 22:20] radare commented on #2464
right now the bp sequence is defined by the value in asm.bits.

there’s one arm hex instruction that is a breakpoint for thumb and arm at the same time, so it is ok to useit unless the next instruction is the destination of a branch. this logic cant be predicted in the current api, but this opens the door to much more complex breakpoint machinery. not sure if really matters to overengineer this pa

[2016-02-20 22:41] #4114 closed

[2016-02-21 01:02] radare opened #4134 "bin.minstr not used by izz command"

[2016-02-21 09:29] MariasStory opened #4137 "Follow stack and registers, do patterns detection."
Am I missing something very important about r2?

1) Please do something with the simple tricks to prevent disassembly. Simple example is a "push" + "ret" combination. Is it so difficult?

2) I would like to see a simple stack and registers analyze to have comments on the registers and stack ("push", "ESP")  change operations, as well as the "call" that are changed in the "call".
Such call:
` 0x004

[2016-02-21 09:34] radare commented on #4137
e asm.emu=true

[2016-02-21 12:32] alvarofe commented on #4132
fixed

[2016-02-21 12:32] #4132 closed

[2016-02-21 14:19] ret2libc commented on #3745
It's not a duplicate IMO, because what i want to do here is to add a new option to the 'Vd' menu that should be able to rename the flag/variable/argument under the cursor, like what you do when you are in IDA, you select a symbol on an instruction and press 'n'

[2016-02-21 19:19] q6r commented on #4130
Sent on radare extras repo

[2016-02-21 19:19] #4130 closed

[2016-02-21 20:03] radare commented on #3745
👍

[2016-02-21 20:07] radare commented on #4130
Thanks!

[2016-02-21 23:07] radare opened #4140 "Show reference analysis lines"
In the lines column of the disassembly we need an option to show also data references, this is very useful to understand the xrefs in small functions in arm code, where lot of data is referenced by delta pointer tables.

[2016-02-22 00:51] radare opened #4141 "ESIL equations"
it will be useful to identify value of GP in mips or find the base address where a binary is mapped in memory by adding r2 the ability to resolve simple esil equations.

This thing can be even done by bruteforcing, the question the user performs would be:

* Which value of `GP` i need to get that `T9` register pointing to `sym.imp.main`?

Then we must compute differnet values of GP (within a range

[2016-02-22 00:55] radare commented on #4097
Looks like this binary have `loc._gp` you can set it to anal.gp and `ar gp=loc._gp` , but i have observed that this is reseted, after the asm.emu analysis, so, for now you must set this in the cmd.prompt or so.

Also, i have fixed some more bugs and aae will work better on mips. Try again, i'll try to find a better strategy to get GP defined in a proper way.

[2016-02-22 00:55] radare commented on #4097
Also, this issue is related https://github.com/radare/radare2/issues/4141

[2016-02-22 08:31] juneJuly opened #4142 "write string "@executable_path" error"
when write string "@executable_path/XXXXX"
return error with "Invalid address (executable_path/XXXXX)"

so, how to write a string with "@"

[2016-02-22 08:59] juneJuly commented on #4142
my current solution is "write \x40"

[2016-02-22 10:08] ret2libc commented on #4026
I have to delay this to the next release, unless someone else wants to do it before.

[2016-02-22 17:50] radare commented on #4097
ping?

[2016-02-22 17:56] radare opened #4144 "Print signed values"
We need a way to show byte, word, dword, qword signed values from immediate or memory. not sure if will be better if we just  an hexdump-like view but using (st32) before printing it

* [x] Honor cfg.bigendian
* [x] Add more tests
* [x] Add pxd[X] to specify the size of the decimal words
* [ ] Add documentation for all this stuff
* [ ] Support signed sized values in pf

[2016-02-22 18:00] #4120 closed

[2016-02-22 18:00] radare commented on #4054
[code]
this happens because the current directory is not named `radare2`. i will refactor this (hopefully today) and ping you back

[2016-02-22 18:01] radare commented on #3408
status?

[2016-02-22 18:52] DePierre commented on #4097
@rarade I am not sure what commands I am supposed to issue but here is what I did anyway:

[code]

In r2 with `ipcamera`:
[code]

Then looking at another function (where the `jalr t9` should read `bzero`):
[code]

[2016-02-22 19:29] Maijin commented on #3408
"On going" from @XVilka

[2016-02-22 21:51] #4134 closed

[2016-02-22 21:55] radare commented on #4126
This was implemented here https://github.com/radare/radare2/pull/4135

[2016-02-22 21:55] #4126 closed

[2016-02-22 22:21] #4064 closed

[2016-02-22 22:22] radare commented on #1547
Closing this issue, so now that there are no (null)'s we have room for improvement in this area to enhace RAnalOp, instead of just killing it

[2016-02-22 22:22] #1547 closed

[2016-02-22 22:29] #3084 closed

[2016-02-22 22:32] radare commented on #2780
Maybe also confirm the bin contains sections with executable bit set?

[2016-02-22 22:33] radare commented on #2712
Same issue: https://github.com/radare/radare2/issues/4026

[2016-02-22 22:34] radare commented on #4026
Dupe of https://github.com/radare/radare2/issues/2712

[2016-02-22 22:34] #4026 closed

[2016-02-22 22:38] radare commented on #4097
Try setting `ar gp=sym._gp` and `e anal.gp=sym._gp` right before the 2nd disasm

[2016-02-22 22:40] radare commented on #3751
Closing as dupe for https://github.com/radare/radare2/issues/2712

[2016-02-22 22:40] #3751 closed

[2016-02-22 22:45] #4110 closed

[2016-02-22 23:03] radare commented on #4084
Moving for 0.10.2, not prioritary for the next release that will happen in a week

[2016-02-22 23:21] rofl0r commented on #4054
i found that this is due to radare's make dist's cding to .. and doing stuff there which is completely unexpected.
i.e. if radare2 is in /home/foo/radare2, it will cd into /home/foo, rename the radare2 dir, and make a tarball in /home/foo.
a better solution would be to use ```mktemp -u``` to create a temporary dir, copy (or git clone) the stuff over there and finally copy the tarball to the previo

[2016-02-22 23:51] DePierre commented on #4097
@radare This gives me the following output:
[code]

[2016-02-23 01:31] #4010 closed

[2016-02-23 01:34] radare commented on #1471
Any update on this?

[2016-02-23 08:25] #3745 closed

[2016-02-23 08:39] radare commented on #4097
This requires some tests. Will do and investigate the issue with them

[2016-02-23 10:57] radare commented on #4054
try now

[2016-02-23 10:57] radare commented on #4054
https://github.com/radare/radare2/commit/24d86cfbb8205421940cb95f77025138924210e2

[2016-02-23 11:00] radare opened #4148 "Function names ignoring symbols and flags"
[code]
![screen shot 2016-02-23 at 11 59 29](https://cloud.githubusercontent.com/assets/917142/13249513/0dd271ea-da25-11e5-8f8b-02c903d3cbc6.png)

[2016-02-23 11:09] radare commented on #4142
you can also quote the entire command like this:

`"w @executable_path/XXXX"`

[2016-02-23 11:09] #4142 closed

[2016-02-23 11:26] radare commented on #3408
isnt everything working now?

[2016-02-23 11:28] radare commented on #4148
I wrote a test in t.formats/mach/fcn but it will be good to have some more tests, having several flags in the same offset and such

[2016-02-23 13:23] radare commented on #4097
this happens, because gp is recomputed at the begining of the function, so it is not a const along the entire program

[2016-02-23 13:24] mrmacete opened #4151 "arm64 zr and sp equivalence"
just noticed that `sp` and `zr` registers just share the same memory.
Is this correct? i guess is for what is written here:
http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.den0024a/ch04s01.html

but isn't it already handled in capstone?

in order to do correct math we need wzr, xzr, zr to be zeroes... the straightforward way would be to decouple sp and zr, but what will this break?

do

[2016-02-23 13:33] radare commented on #4151
From my understanding some instructions handle the 31th register (aka SP) as the zero register. so imho this is a bug in capstone, well, a feature enhancement :P

we can change the register profile to handle zr in a separate region.. also there's no way to tell r_reg that a specific register is wired to ground. This is also happening in MIPS. and i think it's something we should handle.

https://w

[2016-02-23 13:34] radare opened #4152 "Implement wired-to-ground registers"
MIPS and ARM64 archs have a zero register which always have 0 as a value. we need a way to specify this characteristic in the r_reg profile

[2016-02-23 13:58] mrmacete commented on #4152
as far i can understand there are several options, for example:

* it could be a new type, say "constant", using the optional field to set the "wired" value
* it could be a new type, say "zero" and it is always zero
* it can be a new flag like "read only" and we assume that the initial value is zero, or just add a field for the initial value

in all cases the major impact is in the r_reg_get_value

[2016-02-23 14:03] mrmacete commented on #4151
ok, i can start writing some broken test in regressions, and then file a pull request for separating them in reg profile. is it ok?

[2016-02-23 14:07] radare commented on #4152
yep.  i though about those options too. i would vote for the simplest one. i would just modify the get_value to always return 0, in fact, those registers can be set, but the value is never altered, there’s no hardware exception if you try to change the value of a wired register. so it is not exactly const or read only. but more exactly, wired to ground. so maybe we should just go for the 2nd optio

[2016-02-23 14:07] radare commented on #4151
sure :)

[2016-02-23 14:47] radare commented on #4070
It swaps if you do 0x because numbers are tied to endianness, but data is not

[2016-02-23 17:34] #4148 closed

[2016-02-23 17:54] codido opened #4155 "Linux kernel modules addresses"
Linux kernel modules do not have program headers. As a result, the addresses r2 uses are basically absolute offsets in the file, while other tools (e.g. nm) seem to use relative offsets in the section.

For example, for the following source file:
[code]

nm yields:
[code]

while r2 yields:
[code]

Headers (objdump):
[code]

[2016-02-23 17:56] gitido commented on #4084
Sorry for the delayed response.

Should I still open a separate ticket for the second issue mentioned here?

[2016-02-23 21:36] ret2libc opened #4157 "pf format file automatically loaded only with -nn"
It would be great if the right file is loaded automatically also when the file is opened in the normal way.

[2016-02-23 22:56] aeickho opened #4158 "Arm thumb incorrect base of PC-rel load"
The following testcase contains two PC-relative loads, both loading constant zeros from [PC+0], in the first case, radare2 incorrectly interprets the address, indicating a load of -1 from the word following the correct address.

With:
radare2 0.10.0 10303 @ linux-little-x86-64 git.0.10.0-139-g79c09b4
commit: 79c09b43560e3b7a1827ee97a027c1de27196293 build: 2016-02-15

![f2](https://cloud.githubuser

[2016-02-24 02:33] radare commented on #4157
What do you mean?

[2016-02-24 08:00] juneJuly commented on #4142
@radare
in fact i did,  and return error with "Invalid address (executable_path/XXXXX)"

[2016-02-24 09:32] ret2libc commented on #4157
When you do
[code]
You can see a lot of pf formats already loaded, related to the format of /bin/ls. If you do:
[code]
There is nothing.
It would be cool to have the formats autoloaded even in this case.

[2016-02-24 09:32] Maijin commented on #4157
Loading pe structures/types when opening a pe, loading elf structures/types when opening an elf not just when putting the -nn structure. This has already been discussed iirc

[2016-02-24 10:43] radare commented on #4157
Yes. -nn was just a 'temporary hack' until we found a way to do this even in va mode. I think this issue was already reported a while ago.

[2016-02-24 11:17] z03 opened #4159 "use-after-free in rax2 -d - incorrect checksum for freed object - object was probably modified after being freed"
Bug found using random mutations with radamsa applied on /dev/urandom with the following command:

radamsa /dev/urandom | rax2 -d

after a few seconds, the following error message was displayed:

rax2(11630,0x7fff7d625000) malloc: *** error for object 0x7ffab3f00118: incorrect checksum for freed object - object was probably modified after being freed.
*** set a breakpoint in malloc_error_break to

[2016-02-24 11:59] d33tah commented on #3880
@radare2: ping

[2016-02-24 12:12] Maijin commented on #4157
I though there was an issue already created but no

[2016-02-24 13:12] ret2libc commented on #2712
I'm going to postpone this issue to 0.10.2 because before doing it, it would be better to refactor r_meta because it has no clear API. I'm on it anyway. Ok?

[2016-02-24 13:57] XVilka opened #4162 "Mingw32/Windows minor complains"
[code]

[2016-02-24 14:02] XVilka commented on #4162
[code]
...
[code]

[2016-02-24 14:04] XVilka commented on #4162
[code]

[2016-02-24 14:05] XVilka commented on #4162
[code]

[2016-02-24 14:08] XVilka commented on #4162
[code]
...
[code]

[2016-02-24 14:10] XVilka commented on #4162
[code]
...
[code]

[2016-02-24 14:13] XVilka opened #4163 "Windows - not implemented features"
[code]

...

[code]

...

[code]

[2016-02-24 14:27] radare commented on #2712
👍

[2016-02-24 18:06] timofonic commented on #921
Any news for this GSoC? Can this be interesting for rewritten engines like ScummVM/RogueVM and not need to use the expensive IDA Pro?

There could be other interoperability purposes too, there many proprietary file formats everywhere in proprietary software for Microsoft Windows family and most useful tools like IDA are quite expensive.

NE support would be nice too :)
https://github.com/radare/ra

[2016-02-24 18:08] Maijin commented on #921
@timofonic Hey ! Feel free to help on those issues, see some people are adding some of the features https://github.com/radare/radare2/pull/4149 so is WIP

[2016-02-24 18:12] Maijin commented on #921
Btw if the question is just, does it supports PE, yes it definitely does already since a long time.

[2016-02-24 18:12] timofonic commented on #921
@Maijin That's nice! Thanks!

Unfortunately, I'm not yet enough skilled to be considered a developer. I'm just doing little tests these days, but nothing serious.

Anyway, it would be very nice to have an alternative to IDA Pro. Now the GUI is another issue you're quite aware too :D

[2016-02-24 18:12] Maijin commented on #921
@timofonic Btw if the question is just, does it supports PE, yes it definitely does already since a long time.

[2016-02-24 18:27] radare commented on #3880
Sorry i didnt had time to check this issue yet. I willnot fix it for 0.10.1 released this week. But seems an interesting problem to solve for later

[2016-02-24 18:28] radare commented on #4159
Can you send a simple reproducer, valgrind output, gdb backtrace or pullreq?

[2016-02-24 18:48] d33tah commented on #3880
@radare: I see. Is this "later" any specified? ;)

[2016-02-24 20:55] timofonic commented on #921
@Maijin

Sorry for my bad explanation. I did mean about the missing PE features.

Anyway...
Are there some side by side comparison with other software like IDA Pro and... others (are there?)?

[2016-02-24 20:59] timofonic commented on #3985
- Clean the issue tracker in a sane way, not deleting them like some moronic FOSS projects do. For example: Prepare a road map to solve them and reduce it to less than 50 :D

Over 600 issues? WTF! Are you ADHD like me? :P

[2016-02-24 21:41] Maijin opened #4165 "Tons of display instead of the warning OSX"
See http://pastebin.com/WXVWwsTX

Where it should just say:
[code]

[2016-02-25 00:51] radare opened #4167 "Enhanced cursor mode in visual mode"
* [x] Support cursor in register list `dr=`
* [x] TAB in cursor mode must switch between commands
* [x] Honor 'i' in register cursor mode to change the value of the selected register

[2016-02-25 00:55] #4165 closed

[2016-02-25 09:51] radare opened #4168 "Can't debug r2 if sys/user.sh"
This is because `r2` is a shellscript baked by env.sh, so you need to run `env.sh gdb --args r2 ..` or maybe we can just add another script named `gdb-r2` and `lldb-r2`, but the proper way would be to just handle an env var or also wrap gdb and lldb to catch those cases

[2016-02-25 10:36] radare commented on #4167
Everything done! :D

[2016-02-25 10:36] #4167 closed

[2016-02-25 10:48] XVilka commented on #4162
[code]

[2016-02-25 10:51] radare commented on #4162
This last one should be filled in sdb

[2016-02-25 10:56] Maijin commented on #4125
Hi there o/ Can you check if @prazzb fix fixes your issue ?

[2016-02-25 11:15] rlaemmert opened #4169 "reading from memory addresses is not added to xrefs"
stuff like mov [0x40000], eax is not handled as xref

[2016-02-25 11:23] #4169 closed

[2016-02-25 12:04] radare commented on #4169
we should add more tests and verify that the address is mapped or it is valid somehow instead of <0x1000

[2016-02-25 12:11] radare commented on #3880
hopefully in 1-2 weeks, but as long as my life is kind of a chaos i cant promise anything :D so if anyone else have a chance to take alook it will be great

[2016-02-25 12:12] radare commented on #4142
if you get this error is because you didnt quoted the command. try again with exact line i pasted there

[2016-02-25 12:18] radare commented on #4158
this is probably because of the flags in the middle of instructions. try with `e asm.midflags=0`

[2016-02-25 12:18] radare commented on #4158
also, a testcase is welcome

[2016-02-25 12:23] radare commented on #4159
This must be fixed before release. we need more info. im running this in two machines for more than 30m without any crash. are you on latest git?

[2016-02-25 12:26] radare opened #4171 "Implement RAP API bindings and documentation"
- [ ] NodeJS (and publish in npm)
- [ ] Python (and pip pkg)
- [ ] C/C++
- [ ] .NET maybe?

[2016-02-25 12:26] radare opened #4172 "Kill SEEK command from RAP protocol"
Maybe we should mimic the siol branch design
- kill seek
- put offset parameter on read and write ops
- add getsize callback

[2016-02-25 12:28] aeickho commented on #4158
![f2](https://cloud.githubusercontent.com/assets/986535/13319669/98ff23d6-dbc3-11e5-8b1a-2a5e61197570.png)

[2016-02-25 12:29] radare opened #4173 "Reverse cmd in rap"
We need a way for rap servers to run commands in r2 host. something like this:
[code]

[2016-02-25 12:30] radare commented on #4173
This will be useful when writing debug backends using rap://, so the io plugin can run r2 commands to change register values and stuff like that. we should slowly redesign this to support remote debuggers in a better way

[2016-02-25 12:31] radare opened #4174 "C64 (6502) jump destinations are wrong"
Looks like c64 disasm doesnt matches c64 analysis of branch instructions (anal is ok)

[2016-02-25 12:31] radare opened #4175 "C64 (6502) not all regs shown because of 8 / 16"
We already have a similar thing for thumb support (16/32) in core, but this should be done in a generic way to use it and work better.

[2016-02-25 12:36] ret2libc commented on #4168
fixed with 2f306d01a3291e31a021668474c0a7ac204234fc

[2016-02-25 12:36] #4168 closed

[2016-02-25 12:48] #4158 closed

[2016-02-25 12:50] radare commented on #4158
Sorry i misunderstood the issue. this thing should be fine now. this is a regression that happened after changing the meaning of `pc` in the analysis context.

[2016-02-25 12:53] radare commented on #4158
i have added a test case for this

[2016-02-25 13:34] XVilka commented on #4162
Ok. Plus failed tests from this log on Cygwin https://ci.appveyor.com/api/buildjobs/mk8wbuxhp9n2ugn8/log

[2016-02-25 16:10] travisgoodspeed commented on #4125
Yup, this fixes it right up.  Thanks, @prazzb!

[2016-02-25 16:10] #4125 closed

[2016-02-25 16:39] aeickho commented on #4158
radare2 0.10.0-git 10417 @ linux-little-x86-64 git.0.10.0-253-g99c200b
commit: 99c200b9c3ae3a6a4c7c08198a6c97ceadf30e4c build: 2016-02-25

sorry, maybe we have a big  misunderstanding but with your patch "my" problem is not be solved

this is an real code snipped:
_the r2 "address comment" in .. 0x0800d8e0, ..  0x0800d8f6, 0x0800d90c  is not calculated correctly
the output from objdump is correct

[2016-02-25 16:55] XVilka opened #4178 "Rewrite disasm_strings() from cmd_print.c in effective way"
https://github.com/radare/radare2/blob/master/libr/core/cmd_print.c#L1380

Right now it's very slow and leaking through all the holes.

[2016-02-25 17:20] radare commented on #4158
Uhm.. So pc is not preincremwnted in this instruction? We should -8 instead  of -4 then...

[2016-02-25 17:27] radare opened #4179 "Add a command to set the contents of the register arena"
This is useful when emulating debugger backends feeding the profile and arena from an io.rap or stuff like that

[2016-02-25 18:53] oddcoder commented on #1868
I guess I will start working on the PIC architecture from scratch following the instruction set and registers from microchip Section 29. Instruction Set manual at microchip.com/downloads/en/DeviceDoc/31029a.pdf

[2016-02-25 19:51] rofl0r commented on #4054
[code]
[code]
btw what is [] around a command supposed to be doing ?

[2016-02-25 21:46] radare commented on #1868
Awesome! 👍

[2016-02-25 21:48] radare commented on #4158
Try again, i added 3 more tests and tested on real hardware with thumb code, i should test the unaligned loads because i guess the arm mmu is being strict on that.

I have changed the analop info and the esil expression.

In esil, the pc is preincremented like in real cpus, so theres no need to increment the value of pc

[2016-02-26 07:38] MariasStory commented on #4137
Sorry to take so much time to follow on this feature request.
From all the tests I have done so far it seems that the "e asm.emu=true" option is a work in progress. At the moment though it is mostly confusing than helpful.

Please correct me if I am wrong.

I'll take a closer look on the code when I'll have a bit more time.
Maybe you could give some hints how to improve the features in the code?

[2016-02-26 09:35] radare commented on #4159
Can anyone reproduce?

[2016-02-26 10:01] radare commented on #4097
We should probably reset the value of the gp register everytime we start analyzing a new function instead of doing linear disasm. but im not sure either if this would be the expected behaviour.. delaying for next release as long as it needs more review and tests. Please provide some tests for the r2r repo

[2016-02-26 10:46] radare commented on #4137
asm.emu is not work in progress. it works as it should, you will need to initialize the stack if you want to follow push/pop data movements otherwise you’ll get tons of fffffff.

the esil emulation works quite fine already, but there’s always room for improvment. what suggestions do you have on this field?

[2016-02-26 10:49] radare commented on #4054
try again. the [ is an alias for test. kinda posix thing

[2016-02-26 10:49] radare commented on #3408
status?

[2016-02-26 11:07] XVilka commented on #3408
Still not performs static linking. "--static-libgcc" not yet helped as it should have: https://github.com/radare/radare2/blob/master/sys/mingw32.bat#L7

[2016-02-26 11:14] radare opened #4181 "shlr/www is not maintainable"
Current graphs doesnt work  in Chrome because this is the only browser that have deprecated a specific javascript function to manipulate SVG required by joint.js. Trying to upgrade joint.js results in a complete hell of javascript dependencies that break other stuff.

This is also problematic for the distro packagers which have to be careful when including random .js files that have non-lgpl compa

[2016-02-26 11:18] radare commented on #4181
https://github.com/radare/radare2-webui

[2016-02-26 11:51] revskills commented on #4159
You can close this issue if no updates, I have a process fuzzing rax2 now.

[2016-02-26 12:13] radare opened #4182 "asm.tabs not supported by pdc"

[2016-02-26 12:30] radare commented on #3408
shouldnt this be in the LDFLAGS?

you can also just copy the missing .dll in the final build

[2016-02-26 12:31] radare commented on #3408
is ‘gcc’ really the name of the compiler you are using?

[2016-02-26 12:33] XVilka commented on #3408
yes, it's gcc

[2016-02-26 13:40] #4182 closed

[2016-02-26 14:19] rofl0r commented on #4054
make dist finally succeeded, trying to use the tarball i now get
[code]
build succeeds tho.
so we have only 2 problems left
- assumption that sed is gnu sed
- usage of git to query version number. this could be improved by using it only if .git/ exists

[2016-02-26 14:22] radare commented on #4054
_CHKLIB_LIBS=$(echo "-l${_CHKLIB_NAME}" | sed 's,\+, -l,g’)

this is the offending line

[2016-02-26 14:29] rofl0r commented on #4054
what's the sed cmd supposed to achieve ?

[2016-02-26 14:29] radare commented on #4054
does it works if you use sed -e instead of sed in this line of the configure script?

[2016-02-26 14:31] rofl0r commented on #4054
nope, -e does not fix it

[2016-02-26 14:33] rofl0r commented on #4054
btw are lua, openssl, and zlib hard deps (i.e. if not found an in-tree copy gets used)?

[2016-02-26 14:34] rofl0r commented on #4054
if you can explain what the regex is supposed to achieve i'll ask the implementor of musl's BRE code how it can be written in a portable way.

[2016-02-26 14:38] radare commented on #4054
there are no hard deps in r2, everything can be compiled with just gcc (and git, make..)

lua is only required if you want to run lua scripts from the r2 prompt, so it

zlib is embedded in r2, the system dependency is just if you are a distro and dont like projects to embed their own forks of code from other libraries.

openssl is not used at all, it was used for big number computations with gmp i

[2016-02-26 15:41] aeickho commented on #4158
tnx
![f2](https://cloud.githubusercontent.com/assets/986535/13356839/bb674f4a-dca7-11e5-966b-91ee9f62727b.png)

[2016-02-26 17:45] radare commented on #4054
It’s strange that this expression is not supported by your musl+busybox distro. can i download that distro from somewhere to try it?

the regexp is quite obvious, just replacing the “+” char for “ -l"

[2016-02-26 17:54] radare commented on #4158
👍

[2016-02-26 18:11] alvarofe commented on #4159
i can't reproduce so far

[2016-02-26 18:48] radare commented on #4159
Closing until feedback. enough waiting and enough ppl trying to reproduce

[2016-02-26 18:48] #4159 closed

[2016-02-26 19:15] rofl0r commented on #4054
you could dl a 40 MB rootfs from http://ftp.barfooze.de/pub/sabotage/ (the 1.1.12 ones are the newest) and then use them with chroot (
see also https://github.com/sabotage-linux/sabotage/blob/master/enter-chroot or
and https://github.com/sabotage-linux/sabotage/blob/master/KEEP/super_chroot.c if you want to chroot without root privs)
POSIX specifies for sed strict usage of BRE as opposed to ERE
[c

[2016-02-26 19:27] rofl0r commented on #4054
according to one of the musl devs:
[code]
so it's fine to just leave the slash away

[2016-02-26 19:56] radare commented on #4054
I will install busybox:musl docker later for testing but if u confirm that removing the backslash works for you i'll update and release a new version of acr and bump that thing.

Thanks!

[2016-02-26 20:55] rofl0r commented on #4054
yeah i can confirm that. thanks for fixing it.

[2016-02-26 21:42] Maijin commented on #4128
Closing this as it is somehow part a duplicate for #921 and part another tool to be built on top of r2 and not an issue for r2 repository.

[2016-02-26 21:42] #4128 closed

[2016-02-26 22:04] alvarofe commented on #3954
you suggest here use -O to sign binaries as ldid does https://github.com/radare/radare2/issues/4069 and using radare commands output is not very feasible in that case i think.

[2016-02-27 09:29] radare commented on #3954
it is in case the binary already contains that command and we just need to update the hashes. if we need to add a new command and relocate all the segments it will need more work. but it is also possible to do it with r2 commands.

[2016-02-27 09:38] radare commented on #4054
i have installed the busybox:musl docker image and the sed works fine with that \+ thing.. but i can confirm that it also works fine without the backslash on gnu, bsd and musl machines i have. so i have done the change in acr and pushed it. pls try again

[2016-02-27 09:39] radare commented on #4054
where is this check done?

[2016-02-27 11:34] radare commented on #4054
pls try again ,lemme know if i fixed the git errmsg thing

[2016-02-27 13:02] rofl0r commented on #4054
yeah, musl 1.1.14 which came out 5 days ago, added the \+ \? stuff since it's so widely assumed to be available, so it seems your docker img is bleeding edge.

[2016-02-27 13:12] rofl0r commented on #4054
when doing ```make dist``` now, i get
[code]

[2016-02-27 13:26] Maijin commented on #1658
Well status on that ? @radare What about killing it [radare2-extras] now we have r2pipe for scripting with the r2 binary itself imho is sufficient. As already said, a better way to build only the necessary stuff within r2 will help.

[2016-02-27 13:58] radare commented on #3408
what now

[2016-02-27 14:00] radare commented on #4054
the @^^^ issue happens because you are using a pretty old version of `git`... this can be fixed by using HEAD instead of @.. but cmon.. this changed 1-2 years ago.. which version of git are you using?

[2016-02-27 14:15] radare commented on #4054
just changed that, pls verify, anyway, you shouldnt be running make dist if you are packaging the tarball.

[2016-02-27 14:31] z03 commented on #4159
I'm unable to determine the exact input that is causing the crash but here's the complete stack trace that might shed light on the issue:

Process:               rax2 [14666]
Path:                  /Users/USER/*/rax2
Identifier:            rax2
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        bash [14643]
Responsible:           rax2 [14666]
User ID:

[2016-02-27 14:47] Maijin opened #4184 "xref doesn't work on arm32"
On IDA pro:

<img width="578" alt="screen shot 2016-02-27 at 15 39 41" src="https://cloud.githubusercontent.com/assets/1408600/13373462/fa385450-dd68-11e5-85e0-79913064be39.png">

On radare2 after a r2 -A

<img width="1022" alt="screen shot 2016-02-27 at 15 39 55" src="https://cloud.githubusercontent.com/assets/1408600/13373465/fc864ef6-dd68-11e5-8611-0885c73b6afe.png">

Here is the binary:

![cha

[2016-02-27 14:58] rofl0r commented on #4054
[code]

[2016-02-27 14:58] rofl0r commented on #4054
ok testing now

[2016-02-27 14:59] radare commented on #4054
This is 3 years old version of git.

[2016-02-27 15:01] radare commented on #4184
use aae like normal people does when analyzing code that construct data references by several chained instructions and taking delta pointers from memory. Feel free to add it into the aaa command. i will never use that, but aae is quite stable now.

also, ida is retarded and shows two references, when its in fact only one chained with another one. so r2 does right here.

[2016-02-27 15:03] Maijin commented on #4184
Well obvious for you, not for the rest of the people :p

[2016-02-27 15:03] Maijin commented on #4184
I'm adding it to aaa

[2016-02-27 15:04] radare commented on #4184
people sucks

[2016-02-27 15:04] rofl0r commented on #4054
and ? it works well and i never felt the urge to rebuild it.

[2016-02-27 15:07] redfast00 commented on #4184
aae just spits out a bunch of "0xaddress invalid interrupt/syscall 0xaddress"

[2016-02-27 15:08] radare commented on #4184
it also creates references internally, the output is because its trying to run data as code because it makes a linear emulation of the code. we should scr.null=true before running aae in aaa to avoid scaring users

[2016-02-27 15:14] radare commented on #4054
i have changed the @ for HEAD, so it should work for you now.

it’s ok not to update if you don’t care about remote code execution and path traversal vulnerabilities.

[2016-02-27 15:18] radare commented on #4159
Ok, i changed that allocation, try to break it now

[2016-02-27 15:18] redfast00 commented on #4184
So, I am looking for any refs to the string "73vjackakblablabla". I think it's used as a salt in a hash. So I set asm.emu to true, ran aae, and then ran pd~73vjackakblablabla . Still doesn't output a thing.

[2016-02-27 15:19] rofl0r commented on #4054
i thought those were in libcurl, openssl etc, which are up to date

[2016-02-27 15:22] Maijin commented on #4184
for xref you need to use axt

[2016-02-27 15:22] radare commented on #4184
you dont need to set asm.emu to true to run aae.

its only needed for the pd~str thing.

if this is not shown can be for different reasons:

* this string is referenced by a pointer table, so the linear emulation and data references are not found
* the string is taken after an offset. so you can find the closest reference before that string
* the reference is non aligned and you should grep for a

[2016-02-27 15:28] redfast00 commented on #4184
https://drive.google.com/file/d/0B4Wy3AomuX2qY3Zzc0FhS0d4NXc/view?usp=sharing . I am almost sure the string is aligned. The actual string is "73vjaclg3287tdskj".

[2016-02-27 15:48] z03 commented on #4124
I'm interested to work on this but need to be pointed in the right direction, should the implementation to generate the core dumps depend on gathering information collectively from the os (aka /proc on linux for elf coredumps) in addition to the r2_debug api? or should the os be used to auto generat coredumps through signals such as SIGABRT/SIGHUP etc..? or should the implementation be left up to

[2016-02-27 15:54] radare commented on #4184
tried with hopper demo and it cant find the xrefs either. if someone have ida
will be good to have some feedback o nthis

wrote:

ng> . I am almost sure the string is aligned. The actual string is
"73vjaclg3287tdskj".

Reply to this email directly or [view it on GitHub](https://github.com/radare/
radare2/issues/4184#issuecomment-189665310).![](https://github.com/notificatio
ns/beacon/AA3-lhqF6nt4U

[2016-02-27 15:56] dequis commented on #3635
I don't think this is possible, `libr/{anal,bin,syscall}/d/Makefile` have to execute the built sdb binary

[2016-02-27 16:00] z03 commented on #4159
I was able to break it again, the stack trace is slightly different this time:

Process:               rax2 [18418]
Path:                  /Users/USER/*/rax2
Identifier:            rax2
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        bash [15003]
Responsible:           rax2 [18418]
User ID:               501

Date/Time:             2016-02-27 17:56:13.797 +02

[2016-02-27 16:01] radare commented on #3635
that's right, even mmap(PROT_EXEC) fails when trying to map a file in the
noexec mounted path. a solution for this would be to not generate those at
compile time. we can generate them in users's home from system global files.
this way system files will be text-only, portable and generic, and user
directory will contain stuff that can be broken, removed or changed without
major issues. This also co

[2016-02-27 16:02] radare commented on #4159
rax2.c:313 contains a return. so it means that the stack has been corrupted,
those backtraces are not really useful. it will be better if you could provide
the output of valgrind or just use sys/asan.sh and provide the outpiut of the
run

time:

Path: /Users/USER/*/rax2
Identifier: rax2
Version: 0
Code Type: X86-64 (Native)
Parent Process: bash [15003]
Responsible: rax2 [18418]
User ID: 501

OS Ve

[2016-02-27 16:11] rofl0r commented on #4054
thanks, it appears everything works smoothly now.
however i get a few warnings that should probably be adressed http://sprunge.us/LhPe

[2016-02-27 16:11] #4054 closed

[2016-02-27 16:20] radare commented on #4124
The implementation of this must follow different approaches, but focusing on a
generic and portable way by default. This is:

if the system provides a generic way to create a core file:

  * add a new callback on debug plugin

if not, just go for the generic way:

  * add api in r_debug, like: r_debug_gcore(RDebug *dbg, const char *newcorefile);

I think its safe to go this way, but maybe we can g

[2016-02-27 16:21] radare opened #4186 "type punned warnings in tcc"
[code]

[2016-02-27 16:21] radare commented on #4054
i have created a new issue for those warnings, which are already tracked somewhere else, but i always forgot O:P

https://github.com/radare/radare2/issues/4186

[2016-02-27 16:26] radare commented on #1658
didnt worked on this at all yet. imho ranal2 should be removed, because the libr_asm will be merged into libr_anal, so it makes sense to kill ranal2, which is not used at all right now by anybody afaik

[2016-02-27 16:48] alvarofe commented on #2780
is this necessary? when loading a not binary file the info that is showed is only from core not from bin because of this https://github.com/radare/radare2/blob/master/libr/core/cmd_info.c#L167 so indirectly we are doing it

[code]

[code]

[2016-02-27 17:00] radare commented on #4144
some work on this here 0f211141124f75b1547f85ebf3c6e3bf74c8c7b7

[2016-02-27 17:05] radare commented on #4144
* [ ] Honor cfg.bigendian
* [ ] Add more tests
* [ ] add pxd[X] to specify the size of the decimal words

[2016-02-27 17:37] radare commented on #4144
added pxd[124] in 35af84c9786612a4b74ec9d92e25fa1dd897a6ef so current functionality is done. just need some more tests and documentation. cc @Maijin

[2016-02-27 17:46] #4181 closed

[2016-02-27 17:47] #3981 closed

[2016-02-27 17:48] #3799 closed

[2016-02-27 17:48] #3717 closed

[2016-02-27 17:49] #2106 closed

[2016-02-27 17:51] #2051 closed

[2016-02-27 17:52] #2027 closed

[2016-02-27 17:53] #1981 closed

[2016-02-27 17:59] Maijin commented on #1658
fair enough

[2016-02-27 18:19] Maijin commented on #152
See also this issue @z03 you may be interested

[2016-02-27 18:27] radare commented on #4144
Related https://github.com/radare/radare2/issues/3223

[2016-02-27 18:35] radare opened #4190 "Scroll below address 0 in visual mode shouldnt be possible"
This is a regression introduced recently. Way to reproduce:

[code]

same behaviour in cursor mode

[2016-02-27 18:36] radare commented on #3223
See related issue @jpenalbae .. i did pxd1 , pxd2 ... but maybe it will be good to have aliased chars like bhwq

[2016-02-27 19:24] Maijin opened #4191 "Add aae in aaa"
In order to get xrefs in ARM32 binaries https://github.com/radare/radare2/issues/4184

* [x] Add a warning message at the end of aaa something like "Use aaaa for more experimental analysis engine"
* [ ] Create r2 -AA for aaaa

[2016-02-27 19:32] Maijin commented on #2393
@radare ping? I don't see the aat in aaa ?

[2016-02-27 23:06] jvoisin commented on #333
Yes.
But to be honest, a different shade for up/down and a different colour for (un)conditional would be super-cool :)

[2016-02-28 00:00] stanciuadrian commented on #4162
I am looking at `rahash2` on MSYS2 and have some remarks:
1) in `radare2-regressions/t.tools/rahash2/rahash2`, the `!!rahash2 -qa md5 -s hello1` should use only one `!` and same for the next one `!!rahash2 -qa md5 -s hello\\x31`. I think `!!` is only required for `!!rahash2 -v~commit?`.
2) the `hello\\x31` test succeeds on Linux but on MSYS2 it only works if a single backslash is used: `!rahash2 -

[2016-02-28 00:15] mrdanielps opened #4192 "segfault when asm.varsub enabled"
On the default configuration, architectures with no parse plugin will default to x86.pseudo. Since commit c545af6fbfbb613ccc20f620d13d8f167dd3316a, this segfaults when disassembling.

Specifically, the crash occurs when when trying to `strncpy` a non-existing register name ([parse_x86_pseudo.c:290](https://github.com/radare/radare2/blob/c545af6fbfbb613ccc20f620d13d8f167dd3316a/libr/parse/p/parse_x

[2016-02-28 08:27] radare commented on #2393
Aat is done so this issue should be closed. I dont think we should use it in aaa, but feel free to do some tests.

[2016-02-28 08:35] radare commented on #2780
Not really. You can have an elf that doenst contain code at all. And there are fileformats supported in r2 that are not binaries

[2016-02-28 16:50] #4192 closed

[2016-02-28 17:21] jvoisin commented on #2393
I agree.

[2016-02-28 17:21] #2393 closed

[2016-02-28 21:40] radare commented on #4186
Should be fixed in f09f4770b350dad6477aebc3b78f057bbe225006

[2016-02-28 21:40] #4186 closed

[2016-02-28 21:40] radare commented on #4144
Basic support for this thing is done, let's move this for 0.10.2 to finish the final details

[2016-02-28 23:09] radare opened #4194 "Remove r_cons dependency in r_io"

[2016-02-28 23:12] radare commented on #4194
cc @condret

[2016-02-28 23:14] radare opened #4195 "Remove r_cons dependency from r_flags"

[2016-02-28 23:15] radare commented on #3408
Looks like its just an issue in jenkins. let move this to 0.10.2

[2016-02-29 03:48] juneJuly commented on #4142
@radare
thx for help.
but still not work for me, i got another solution, it's just enough.

[2016-02-29 12:03] XVilka opened #4196 "Support for 16bit protected mode addressing for x86"
Same addressing mode as 32 bit protected mode does, though every entry in the GDT is limited to 64 kB.

Currently code assumes that under 16bit we're using real mode only https://github.com/radare/radare2/blob/master/shlr/capstone-patches/fix-x86-16.patch

[2016-02-29 13:33] radare opened #4197 "dcu entry0 on osx not working"
recent regression

[2016-02-29 16:40] radare commented on #4196
We can verify and test all this stuff with the bochs plugin. But i think we should ask capstone to include a new option to make this behaviour configurable. Not sure how should we handle this in r2

[2016-02-29 17:32] radare commented on #4196
Mention this in the capstone issue. I guess that wiuld be the way to finally solve this issue

[2016-02-29 21:16] alvarofe commented on #4197
It was an issue when building r2. Can we close it?

[2016-02-29 22:29] radare commented on #4197
Fixed in 4677f5baf5cb62128102b5fe033454c1d5cc0dd1

[2016-02-29 22:29] #4197 closed

[2016-03-01 12:50] egyp7 opened #4199 "Add Export in De Brujin Graph using DNA"
I'm interesting in this feature in radare2. This is really perspective function for graph analysis and building from small-size sequence. Many BFGraph algorithms source maybe simply imported from DNA Sequence Processing project **bfgraph** from here:
https://github.com/pmelsted/bfgraph/tree/fb020977e9b21583081b705baf31d56d16887c7d

[2016-03-01 12:58] egyp7 opened #4200 "Graph edges breaking in OSX 10.11"
I'm report for this bug wich presented in last version of radare2. Broken graph edges marked with red lines(and red circle) in next screenshot:
http://i.imgur.com/BBfxz1Q.jpg

OSX 10.11, default Terminal application.

[2016-03-01 13:01] XVilka commented on #4200
Related to https://github.com/radare/radare2/issues/3794 and https://github.com/radare/radare2/issues/2091

[2016-03-01 13:04] YHVHvx opened #4201 "Process Animation in debug mode radare2"
I'm interesting also for animate into/over opportunities in radare2 for process animation like Olly Debugger(Ctrl+F7/F8). This is really cool and interesting future(mainly for productivity) for dynamical application analysis wich must be presented in next release radare2!

[2016-03-01 13:06] XVilka commented on #4199
Related to the De Brujin sequences in general, see how they were generated using ragg2 http://crowell.github.io/blog/2014/11/23/pwning-with-radare2/

[2016-03-01 13:07] Maijin commented on #4200
Please register/comment on the existing issue

[2016-03-01 13:07] #4200 closed

[2016-03-01 13:15] egyp7 opened #4202 "Broken menu in Debug Interface on OSX 10.11"
I'm tried use new undocumented interface in radare2 for application debugging, but i get some troubles with menu action in OSX 10.11 iTerm 2. For use this radare2 mode, i'm switch debug mode with <SHIFT> + F1 keys combination and goto menu with <M> key. But when i try access into menu options menu is closed and console is fuckuped. At next screen i'd try show it without action:
http://i.imgur.com/

[2016-03-01 15:51] Th4nat0s opened #4203 "compilation error"
Hello got this this morning on the make

make[3]: Entering directory '/home/user/code/radare2/libr/bin'
gcc -c  -MD   -fPIC -g -Wall -D__UNIX__=1 -DCORELIB -Iformat -Imangling -I/home/user/code/radare2/libr/../shlr/zip/include -I/home/user/code/radare2/libr/include -o bin.o bin.c
In file included from bin.c:12:0:
../config.h:143:7: error: ‘r_bin_xtr_plugin_dyldcache’ undeclared here (not in a func

[2016-03-01 19:17] radare commented on #4203
Are u using sys/install.sh?

[2016-03-01 19:18] Maijin commented on #3632
Duplicate of https://github.com/radare/radare2/issues/1953

[2016-03-01 20:16] Th4nat0s commented on #4203
Houps.. of course not.. but it was working until now with a make... I
will try the script.

On 01/03/16 20:18, radare wrote:

[2016-03-01 20:56] radare commented on #4203
The script makes a clean build every time. Sometimes the .d files keep referencing unused files which causes this error if not cleaned properly

[2016-03-01 20:56] radare commented on #4203
Also sys/install.sh installs in /usr or /usr/local in osx using symlinks. So you dont have to reinstall if u are doing changes in the code

[2016-03-01 21:04] XVilka opened #4204 "Implement modifications of fastcall-style function arguments"
When arguments stored in registers, they should have working commands 'afA*' exactly like 'afa*'.

[2016-03-01 21:07] XVilka commented on #4084
@gitido please do.

[2016-03-01 21:10] codido opened #4205 "/x dot matches depend on the block size"
[code]

[2016-03-01 21:11] gitido commented on #4084
@XVilka Sure, https://github.com/radare/radare2/issues/4205

[2016-03-01 21:13] radare commented on #4205
Add the tests in the r2r repo

[2016-03-01 21:15] gitido commented on #4205
@radare The 10th test case in t/search/hex ('any-match with small block size')

[2016-03-01 22:16] Th4nat0s commented on #4203
It's on a linux ubuntu 15 and a make clean was issued before.  I will
try the script thursday.

Thank's

On 01/03/16 21:57, radare wrote:

[2016-03-02 08:18] q6r opened #4206 "function pointers and analysis"
r2 shows this :

[code]

those addresses (0x40073d,0x40079f,..) are functions. It would be nice if r2 checks if those addresses are in fact functions, define them as functions and change the disassembly to something like this.

[code]

this is what IDA shows btw

[code]

[2016-03-02 08:56] radare commented on #4203
Ah then i guess its because you didnt remove plugins.cfg before configure-plugins

[2016-03-02 08:57] radare commented on #4206
Can u share the binary?

[2016-03-02 09:06] q6r commented on #4206
[serial.zip](https://github.com/radare/radare2/files/154368/serial.zip)

[2016-03-02 13:16] radare opened #4207 "add buffersize support to rarun2"

[2016-03-03 02:13] cr1901 commented on #3629
I'm not sure if this is a bug, or my incompetence, probably both. But when I attempt to load a Genesis ROM, all detected symbols are given addresses in little endian format instead of big endian (notice that I include the "-e" switch):

[code]

E.g. I know for a fact that sym.SSP should have a value of 00FFFFF0. Am I missing anything obvious here?

[2016-03-03 08:30] Th4nat0s commented on #4203
sys/install.sh works flawlessy :) !

[2016-03-03 08:30] #4203 closed

[2016-03-03 08:31] Maijin commented on #3836
http://www.lua.org/source/5.3/lopcodes.h.html

[2016-03-03 08:32] #3274 closed

[2016-03-03 08:34] Maijin commented on #4020
Ping?

[2016-03-03 08:36] Th4nat0s opened #4210 "Rabin 2 is not happy :).."
When analysing a vb pe32 with rabin2 -I

I got :
[code]
and several times
[code]

A fresh installed radare with install.sh :)...

I do confirm MSVBVM60.sdb is missing in my folder

[2016-03-03 08:44] Th4nat0s commented on #4210
Only a few comparing to :
https://github.com/radare/radare2/tree/master/libr/bin/d/dll

[code]

[2016-03-03 08:53] Th4nat0s commented on #4210
Someting is broken in the install script i guess, if i do the step manually, is works

[code]

[2016-03-03 08:57] Th4nat0s commented on #4210
Oki understood... install put in in

/usr/share/radare2/0.10.2-git/format/dll  and my rabin seek it in /usr/local/share/radare2/0.10.0-git/format/dll/

If i copy it manually **and change the name to UPPERCASE**.. is works !.. :)

[2016-03-03 09:14] radare commented on #4210
Those sdb files should be case insenstive.. The libname referenced in the executable is lowercased and checked in that directory.

[2016-03-03 09:28] Th4nat0s commented on #4210
If the uppercase file is not theyre.. I do confirm radare output a bunch of

```Cannot find /usr/local/share/radare2/0.10.0-git/format/dll/MSVBVM60.sdb```

[2016-03-03 10:03] radare commented on #4210
w t f i though that thing was there, anyway, i just pushed a fix for that, but i remember the commit was already there :???

[2016-03-03 10:47] xarkes commented on #3705
I'm working on it.

[2016-03-03 11:06] radare commented on #3705
awesome! put it in radare2-extras and make a pkg for r2pm

[2016-03-03 11:25] q6r commented on #3836
I'm working on it

[2016-03-03 11:41] febriyantonugroho opened #4211 "pf. command cannot displaying format file ? :|"
why file format does not appear on the screen?

![screenshot from 2016-02-26 19_55_08](https://cloud.githubusercontent.com/assets/11923154/13493208/544f05b0-e16f-11e5-9e23-0e8952b158f4.png)

[2016-03-03 11:46] Maijin commented on #4211
What version of r2 are you using. Please paste r2 -v

[2016-03-03 12:21] radare commented on #4211
Looks like the 4 year old shipped in ubuntu

[2016-03-03 13:11] radare commented on #4210
Should be fixed now. i found the missing commit it was incomplete patch.

[2016-03-03 13:11] #4210 closed

[2016-03-03 13:12] radare commented on #3629
yeah this is a bug, i can confirm it ,m68k is big endian and the plugin is just using pointers to get the addresses instead of doing proper endian sanitification.

im fixing it right now

[2016-03-03 13:16] radare commented on #3629
should be fixed now. will be good to have some tests

[2016-03-03 13:19] radare commented on #3629
tests done :P

[2016-03-03 13:43] febriyantonugroho commented on #4211
my r2 version is 0.9.6

[2016-03-03 13:46] Maijin commented on #4211
Please read the guidelines https://github.com/radare/radare2/blob/master/CONTRIBUTING.md before reporting issues, this is fixed in the git version please use that.

git clone https://github.com/radare/radare2/ && cd radar && ./sys/install.sh

[2016-03-03 13:49] febriyantonugroho commented on #4211
thank you :))

[2016-03-03 13:55] #4211 closed

[2016-03-03 14:03] Th4nat0s commented on #4210
Sorry but no, it is not fixed for me... using commit 3624931cdec3aaf1f301dccb753bd044a66f89b5

Then sudo rm /usr/local/share/radare2/0.10.0-git/format/dll/* then the install .sh script again...

I still have the "Cannot find /usr/local/share/radare2/0.10.0-git/format/dll/MSVBVM60.sdb" because the sdb files are generated in /usr/share/radare2/0.10.2-git/format/dll
When i copy the file.. and upercas

[2016-03-03 14:17] radare commented on #4210
this is because you have to remove the plugins from older versions. are you compiling with sys/install? makr purge will remove old stuff from preiovus r2 installations.

all those files shuold be in lowercase. if you have it in uppercase, maybe a git clean -xdf will help in removing all the old files

[2016-03-03 15:33] Th4nat0s commented on #4210
did..
[code]

And all is working fine again.. Thank's for support.

[2016-03-03 15:34] radare commented on #4210
cool! :)

[2016-03-03 15:52] jjdredd commented on #3836
just copypaste sources from lua

[2016-03-03 17:00] cynecx commented on #4007
Is there any update on this?

[2016-03-03 22:08] itbroz commented on #4007
Hey sorry for off-topic but is this cynecx the same guy who goes on forums with username nL2TP ?
i want to ask something if it is............!

[2016-03-03 22:18] radare opened #4213 "VR rotate between installed color themes"
add a config option like `scr.randpal` to rotate between all installed color themes or just do random stuff.
This feature can be also accessible from `ecn` and `ecp` to switch to next and previous color theme.

We need to keep an index and iterate in the list of `eco`

[2016-03-03 22:33] cynecx commented on #4007
@itbroz
Sorry but no I am not nL2TP.

[2016-03-03 22:57] radare opened #4214 "Add support for bold attribute in RCons"
Accessible from color palette

[2016-03-03 23:32] aeickho opened #4215 "Arm thumb: missing opcode mrs r0, PRIMASK"
With:
radare2 0.10.2-git 10468 @ linux-little-x86-64 git.0.10.1-11-g3624931
commit: 3624931cdec3aaf1f301dccb753bd044a66f89b5 build: 2016-03-04

the r2 disassembler can't translate  the opcode mrs r0, PRIMASK

r2
![f2](https://cloud.githubusercontent.com/assets/986535/13513269/1acac8c0-e1a0-11e5-85c7-e5a7e75b1080.png)

arm-none-eabi-objdump
![f2](https://cloud.githubusercontent.com/assets/986535/13

[2016-03-03 23:54] radare commented on #4215
This is a bug in capstone. switch to the GNU one and it will work as expected:

e asm.arch=arm.gnu

I have filled an issue for this in the capstone repo: https://github.com/aquynh/capstone/issues/596

[2016-03-04 00:25] cr1901 commented on #3629
Awesome, works now/saves me some trouble! :P Thanks as always.

[2016-03-04 00:27] radare opened #4216 "Enhance RBin's VersionInfo implementation"
Almost working, I extract all version information for ELF binaries but now I need to store them in the sdb.

- [x] ELF version info extraction
- [x] PE version info extraction
- [ ] Mach-O version info extraction
- [ ] Store version info in sdb
- [ ] Retrieve version info from sdb in libr/core/bin.c and display them
- [ ] JSON output
- [ ] Test everything with radare2-regressions

[2016-03-04 01:21] radare commented on #1659
Ranal2 has been killed, and now the functionality is implemented in  `rasm2 -A`

[2016-03-04 08:07] unixfreaxjp opened #4218 "OSX Darwin compilation error"
Compile error, MacOSX

[code]
Environment:
[code]
Anyone had same problem?

Method compilation:
[code]

Thanks!

[2016-03-04 08:42] oddcoder commented on #4218
I am on it !!!

[2016-03-04 14:21] radare commented on #4218
Should be fixed now

[2016-03-04 14:21] #4218 closed

[2016-03-04 16:58] rlaemmert commented on #1566
How about adding n/N for jump to next and previous highlighted item?

[2016-03-04 17:00] radare commented on #1566
lgtm ! @ret2libc ?

[2016-03-04 21:20] cr1901 commented on #3629
@Maijin Was this feature actually implemented/forgotten to be closed?

I commented b/c there was a bug that was related to enhancing Genesis support, but I'm not actually sure if the feature as @radare described was implemented.

[2016-03-04 21:33] Maijin commented on #3629
Oh right :D Next time please do another issue so we don't get confusion, I'll remove the comments to get clean view soon ;)

[2016-03-05 01:41] radare commented on #3629
Megadrive ftw

[2016-03-05 03:35] theaverageguy commented on #3292
Please guide me a bit in this.

[2016-03-05 05:12] radare commented on #3292
I think this issue is already fixed

[2016-03-05 05:12] #3292 closed

[2016-03-05 05:41] theaverageguy commented on #3955
Hi there.
I wish to contribute to Radare as part of the GSoC program.
I would like to get familiar by fixing a few bugs. Can I get some more hints to handle this?

[2016-03-05 08:41] #1658 closed

[2016-03-05 10:00] Maijin commented on #1191
https://blog.cylance.com/you-me-and-.net-guids Dat is really interesting

[2016-03-05 16:00] ril3y opened #4223 "r2pm installing radeco states cargo error"
Hey guys I am not sure this is an actual issue but when installing radeco from r2pm it complains that cargo is not found.

~/Desktop $ r2pm -i radeco
Processing radeco ...
Already up-to-date.
Install Done For radeco
**_/usr/local/bin/r2pm: 9: /usr/local/bin/r2pm: cargo: not found
/usr/local/bin/r2pm: 10: /usr/local/bin/r2pm: cargo: not found_**

FYI. I am running the git version on linux mint.  Th

[2016-03-05 18:49] radare commented on #4223
You need to install rust :P i have pushed a fix for this

[2016-03-05 18:49] #4223 closed

[2016-03-05 19:12] radare commented on #3955
each column should be indented at the same position to ease readability.

[2016-03-05 23:15] radare commented on #3955
We have to define a way to columnize stuff in RCons.grep, this is for example `afl~###` where ### is what we have to define to make the internal grep filter this

[2016-03-06 10:14] c0riolis opened #4228 "Python assembly and disassembly support"
I'm working on it.

[2016-03-06 10:21] Maijin commented on #4228
Awesome !

[2016-03-06 10:21] #244 closed

[2016-03-06 10:27] EliaGeretto commented on #4191
I'm looking into this one. Suggestions are welcome.

[2016-03-06 10:27] Maijin opened #4229 "RC4 encrypt/decrypt in radare2"
Something really simple like this:

[code]

Would be definitely super useful for malware analysis ! It can also be done as an r2pm module using the script as it is !

[2016-03-06 10:31] Maijin commented on #4191
Well the issue #4184 is quite well documented, you can check the binary I provided and see if you can manage to get the xref after the aaa [once you have added aae in it]
Here is where the aaa is https://github.com/radare/radare2/blob/master/libr/core/cmd_anal.c#L3548

[2016-03-06 10:41] #4206 closed

[2016-03-06 10:42] Maijin commented on #4206
@q6r Can you add a test for that ?

[2016-03-06 10:44] radare commented on #4206
I have added a test for this

[2016-03-06 10:44] radare commented on #4206
Just enable `e asm.relsub=true`

[2016-03-06 10:45] radare commented on #4228
Do it in radare2-extras

[2016-03-06 10:46] Maijin commented on #4206
ok perfect

[2016-03-06 11:45] Maijin commented on #4213
https://github.com/radare/radare2/commit/9c05579ade21410fcd66771eeeed8c5336478066

[2016-03-06 11:45] #4213 closed

[2016-03-06 12:05] #1124 closed

[2016-03-06 12:55] radare commented on #244
Uhm. After merging this i realized it makes no sense to have this.

Default keys are useless, the user must provide a key to encrypt the shellcode.

What do you think?

[2016-03-06 12:56] radare commented on #4229
Rc4 is quite simple so it can be added in rhash/rcrypto api

[2016-03-06 13:06] q6r opened #4231 "cursor + fold = segfault"
https://asciinema.org/a/aknbxlbfnea04c106pxz4mvhl

bt

[code]

[2016-03-06 15:19] radare commented on #4231
A backtrace would be more helpful. Attach the debugger and type bt when it crashes

[2016-03-06 15:20] q6r commented on #4231
I included it in the issue ^ :/

[2016-03-06 15:31] codido commented on #4190
Seems this was fixed for regular visual mode but not for cursor mode:

[code]

[2016-03-06 15:34] radare commented on #4231
Oh sorry disnt saw that from the mail. Thx

[2016-03-06 16:29] Maijin commented on #4190
@codido please open another issue.

[2016-03-06 16:39] radare commented on #4190
Its ok no need to open more issues. The fix is simple. But im afk, if anybody manages to fix this before the moon raises at gmt+1 send a pr. Its just one line, the challenge is to find it :p

[2016-03-06 18:20] Maijin commented on #4191
@EliaGeretto Don't forget that as well https://github.com/radare/radare2/commit/6b6fca7b656dd5af57b8f3a746ec25daab580e94

[2016-03-06 18:39] Maijin commented on #4191
Don't forget also to add https://github.com/radare/radare2/commit/fbb1b1e80ff343c14f095a340ef53b977ebfc943

[2016-03-06 19:14] Maijin commented on #4215
@radare not a bug see the answer

[2016-03-06 19:22] EliaGeretto commented on #4191
Ok, I was able to insert aae into aaa and to get the missing xrefs with aaa. Now aaa is also printing the same errors reported in #4184. Should I set scr.null to true before executing aae in aaa for every arch or only for arm and mips? Could you be more specific about the conditions?

[2016-03-06 19:24] Maijin commented on #4191
@EliaGeretto `if (arm || mips && textsection < 1MB)` <- Condition to execute aae. just remove the display of it by enabling scr,null before and disabling after.

[2016-03-06 19:53] revskills opened #4234 "AddressSanitizer WRITE of size 4 set_mem_access arch/AArch64/AArch64InstPrinter.c:73"
[code]
file: http://revskills.cz/r2/3496c4253cd979b4d0018cc5c88f2a08

radare2 0.10.2-git 10495 @ linux-little-x86-64 git.0.10.1-38-gfbb1b1e
commit: fbb1b1e80ff343c14f095a340ef53b977ebfc943 build: 2016-03-06

[2016-03-06 19:57] revskills opened #4235 "AddressSanitizer READ of size 1 _Thumb_getInstruction arch/ARM/ARMDisassembler.c:785"
[code]

file: http://revskills.cz/r2/9bdfe1a56d369d4e1c5a43a711c8ba83

reproduce: aef

radare2 0.10.2-git 10495 @ linux-little-x86-64 git.0.10.1-38-gfbb1b1e
commit: fbb1b1e80ff343c14f095a340ef53b977ebfc943 build: 2016-03-06

[2016-03-06 20:01] revskills opened #4236 "AddressSanitizer READ of size 1 reader arch/X86/X86Disassembler.c:837"
[code]
file: http://revskills.cz/r2/c063f69844f6c15db3ef1611ff0336a0

reproduce: aef

radare2 0.10.2-git 10495 @ linux-little-x86-64 git.0.10.1-38-gfbb1b1e
commit: fbb1b1e build: 2016-03-06

[2016-03-06 20:04] revskills opened #4237 "AddressSanitizer READ of size 1 /libr/anal/p/anal_bf.c:33"
[code]

file: http://revskills.cz/r2/d98a0277ae04b6e81d2bd24a8cee5296

reproduce: aef

radare2 0.10.2-git 10495 @ linux-little-x86-64 git.0.10.1-38-gfbb1b1e
commit: fbb1b1e build: 2016-03-06

[2016-03-06 20:30] revskills opened #4238 "Should we consider the allocation of CVEs?"
I love this project, but as a user **concerned about security** I want to know the status of patches and potential vulnerabilities that may affect radare2* (internal code, external components or just c&p code). I understand that this adds new tasks, but unlike any other reversing framework or tool is a way to **motivate the user to update** not only because bugfixes, new arch, whatever. Likewise t

[2016-03-06 20:34] revskills commented on #4238
Regarding #4234

[2016-03-06 21:18] alvarofe commented on #4234
to reproduce
[code]

[2016-03-06 21:53] alvarofe commented on #4234
the issue is with capstone here a patch. Confirm and i will make a pr to upstream

[code]

[2016-03-06 22:00] revskills opened #4239 "AddressSanitizer READ of size 1 ../arch/6502/6502dis.c:149"
[code]

Reproduce: aae
file: ./vsf/c64-rambo2-rom.vsf

radare2 0.10.2-git 10495 @ linux-little-x86-64 git.0.10.1-38-gfbb1b1e
commit: fbb1b1e build: 2016-03-06

[2016-03-06 22:03] revskills opened #4240 "AddressSanitizer READ of size 1 format/elf/elf.c:418"
[code]

Reproduce: aae
file: ./elf/zzufed/file5

radare2 0.10.2-git 10495 @ linux-little-x86-64 git.0.10.1-38-gfbb1b1e
commit: fbb1b1e build: 2016-03-06

[2016-03-06 22:05] revskills opened #4241 "AddressSanitizer READ of size 2 format/elf/elf.c:433"
[code]

Reproduce: aae
file: ./elf/zzufed/file8

radare2 0.10.2-git 10495 @ linux-little-x86-64 git.0.10.1-38-gfbb1b1e
commit: fbb1b1e build: 2016-03-06

[2016-03-06 22:06] revskills opened #4242 "AddressSanitizer READ of size 4 ../arch/riscv/riscv.c:325"
[code]

Reproduce: aae
file: ./elf/guess-number-riscv64

radare2 0.10.2-git 10495 @ linux-little-x86-64 git.0.10.1-38-gfbb1b1e
commit: fbb1b1e build: 2016-03-06

[2016-03-06 22:07] revskills commented on #4234
Note from radare2-regressions ./mach0/machfuzzed/mach10 also reproduce this issue

[2016-03-06 22:09] revskills opened #4243 "AddressSanitizer stack-buffer-overflow READ of size 135 libr/core/anal.c:2283"
[code]

Reproduce: aae
file: ./elf/mips.elf

radare2 0.10.2-git 10495 @ linux-little-x86-64 git.0.10.1-38-gfbb1b1e
commit: fbb1b1e build: 2016-03-06

[2016-03-06 22:23] #4231 closed

[2016-03-06 22:23] radare commented on #4231
Please confirm if it is fixed now in master

[2016-03-06 22:24] radare commented on #4234
it is fixed now?

[2016-03-06 22:27] radare commented on #4236
[code]

[2016-03-06 22:33] alvarofe commented on #4234
I can make a pr to include the patch inside capstone-patches

[2016-03-06 22:34] revskills opened #4244 "AddressSanitizer rax2 WRITE of size 74801 radare2/binr/rax2/rax2.c:375"
[code]

Repro:  rax2 -S < mipsbe-busybox > crash.hex
file: ./bins/elf/mipsbe-busybox

rax2 0.10.2-git 10495 @ linux-little-x86-64 git.0.10.1-38-gfbb1b1e
commit: fbb1b1e80ff343c14f095a340ef53b977ebfc943 build: 2016-03-06

[2016-03-06 22:38] radare commented on #4237
Fixed in c959e2032d2fc81cfe57de27bb09bc3ccf8fa638

[2016-03-06 22:38] #4237 closed

[2016-03-06 22:43] #4239 closed

[2016-03-06 22:43] radare commented on #4239
Thanks!

[2016-03-06 23:12] alvarofe commented on #4244
I can't reproduce this one in Mac

[code]

[2016-03-06 23:17] revskills commented on #4244
I've various samples try this one:

http://revskills.cz/r2/f6183c62ec52da2a3d1d5a8ad4059a9d

[code]

[2016-03-06 23:25] #4242 closed

[2016-03-06 23:25] alvarofe commented on #4244
confirmed with valgrind

[code]

[2016-03-06 23:25] radare commented on #4234
Fixed in master

[2016-03-06 23:25] #4234 closed

[2016-03-06 23:26] radare commented on #4231
Anyway, the z and Z keys in visual mode look pretty broken. Will fill an issue for that

[2016-03-06 23:26] radare opened #4246 "V[zZ] is confusing"

[2016-03-06 23:37] #4241 closed

[2016-03-06 23:37] radare commented on #4240
It's fixed now

[2016-03-06 23:57] alvarofe commented on #4244
@revskills https://github.com/radare/radare2/pull/4247

[2016-03-07 00:01] #4235 closed

[2016-03-07 00:02] #4244 closed

[2016-03-07 00:12] revskills commented on #4236
confirmed, fixed

[2016-03-07 00:15] radare commented on #4236
Awesome!

[2016-03-07 00:15] #4236 closed

[2016-03-07 00:18] radare commented on #4238
Yes, I think that this will be very interesting, because, as long as we are using some third-party libraries we shuold inform the users and be aware of backporting those fixes from capstone, grub, magic, etc...

[2016-03-07 00:46] radare commented on #4202
It is not broken, use right-left arrows to select panel and up/down to select option, if you run V! you and then press 'j' the menu will drop down. You can also use tab and shift-tab to select next/previous panel. the 's' for stepping works as expected. whats the issue you are having?

[2016-03-07 02:24] radare commented on #4229
[code]

[2016-03-07 02:25] radare commented on #4229
Fixed in 3f5aa46bd5177f18a6e784c45e0ec3da9c1eb266

[2016-03-07 02:25] #4229 closed

[2016-03-07 02:35] #4190 closed

[2016-03-07 02:55] radare commented on #4191
Done in aaaa

[2016-03-07 03:02] radare opened #4248 "afl output must be sorted by offset"

[2016-03-07 03:23] radare opened #4249 "Duktape bytecode disassembler"
https://github.com/svaarala/duktape

[2016-03-07 03:24] radare commented on #4191
i think scrnull is better not to touch it, because current warnings are important.

[2016-03-07 03:24] radare commented on #4207
ping

[2016-03-07 07:09] EliaGeretto commented on #4191
OK, so this issue is closed? I'll just delete everything?

[2016-03-07 08:17] Maijin commented on #4191
I would say instead of aaaa replace with `if (arm || mips && textsection < 1MB)`

[2016-03-07 10:31] EliaGeretto commented on #4191
Just to be clear, now "aaaa" executes "aae" and "aat", the last one two times. Where would you place that condition given that it was decided to keep the warnings? If you want "aaa" to execute "aae" isn't it better to simply eliminate the new if?

[2016-03-07 10:33] radare commented on #4191
I think is better to keep aaaa and not put hidden restrictions that change the behaviour qhich makes r2 less predictible

[2016-03-07 10:57] EliaGeretto commented on #4248
I'm willing to complete this one. I was thinking about retrieving a copy of the function list and ordering it before this iteration: https://github.com/radare/radare2/blob/master/libr/core/anal.c#L1235 Where should I put the comparator? In the same file?

[2016-03-07 10:57] Maijin commented on #4191
I don't agree with that, I would remove aaaa and put the condition instead.

[2016-03-07 11:04] radare commented on #4248
Use r_list_sort and pass the callback that compares the offsets. Yes

[2016-03-07 11:05] radare commented on #4191
Users will be confused by why some bins run some analysis and others dont. As well as the user will have no choice to choose what to do

[2016-03-07 11:17] revskills commented on #4240
is not fixed, same issue reproduced now

[2016-03-07 11:19] Maijin commented on #4191
Well, people are confuse anyway  https://github.com/radare/radare2/issues/4184

[2016-03-07 11:33] hteso opened #4251 "Blank space using flgoff"
When using the option `asm.flgoff` the line with the function name in the disassembly has a blank space at the beginning:

[code]

With the option disabled it looks fine:

[code]

[2016-03-07 11:54] chinmaydd commented on #4248
@EliaGeretto I am sorry but I was working on this already, I hope you don't mind. #4252 aims at solving this issue.

[2016-03-07 11:59] radare commented on #4191
we can confuse them even more by adding some meaningless sentences and sleep(random()) in there too. good idea

[2016-03-07 12:05] radare commented on #4240
I've got this:

[code]

[2016-03-07 12:15] revskills opened #4253 "AddressSanitizer READ of size 1 libr/bin/p/bin_mach0.c:179"
[code]

file: http://revskills.cz/r2/2771dee2dc338bf61454f9b677f2ad2b

radare2 0.10.2-git 10515 @ linux-little-x86-64 git.0.10.1-58-gbe9d534
commit: be9d53417e0f644526da17ad5c2a16ea402bbf7a build: 2016-03-07

[2016-03-07 12:15] Maijin commented on #4191
Or just a simple message about the conditions and say to the user that since it's experimental feature he has to run it manually but can run everything with aaaa

[2016-03-07 12:17] Maijin commented on #4191
Until a better way of having aaa doing really everything is found

[2016-03-07 12:21] radare commented on #4253
Confirmed.  i have added a test for this bin

[2016-03-07 12:23] #4253 closed

[2016-03-07 12:24] revskills commented on #4253
:+1:

[2016-03-07 13:15] Maijin opened #4254 "More algorithm for rahash2 -E and a dedicated r2 command"
Hey, I think could be cool to add more useful crypto within r2 especially for malware analysis, here are some common one that can be found in [pycrypto](https://www.dlitz.net/software/pycrypto/api/2.6/Crypto-module.html). See https://github.com/radare/radare2/commit/3f5aa46bd5177f18a6e784c45e0ec3da9c1eb266 to know where/how to implement them
- [x] AES-ECB
  - [x] Tested
- [x] AES-CBC
  - [x] Teste

[2016-03-07 13:23] revskills commented on #4240
Also:

[code]

[2016-03-07 13:53] radare commented on #4254
Which command do u like for doing this from r2? Maybe like wo?

[2016-03-07 13:53] radare commented on #4254
Can you find small and simple c implementations for all those algorithms?

[2016-03-07 14:13] Maijin commented on #4254
Yeah wo family command would be ok Here is the pycrypto repo with C code https://github.com/dlitz/pycrypto/tree/master/src

[2016-03-07 15:17] ret2libc commented on #1566
@rlaemmert do you mean like in vim when you highlight something and then you press n/N? If so, I think that's something missing to the highlight engine in general, not specific to the graph, because the "goto searched term" feature is not implemented even in normal visual mode I think. Right, @radare ?

But I would definitely love to have such a feature :)

[2016-03-07 15:20] radare commented on #4243
not fixed acording to revskills. will need to use asan on linux. on mac looks good with valgrind

[2016-03-07 15:37] rlaemmert commented on #1566
Yea thats exactly what i mean with that. This feature would be totally awesome.

[2016-03-07 15:53] radare commented on #1566
you mean highlighted stuff with /? there's n/N in visual mode to go next/prev flag/function/...

[2016-03-07 15:59] rlaemmert commented on #1566
hm that doesnt seem to work as expected

I use /mov to highlight all mov instructions, after that if i press n or N
and then the screen seem to jump weird arround. Maybe a bug?

On Mon, Mar 7, 2016 at 4:53 PM, radare <notifications@github.com> wrote:

[2016-03-07 16:05] rlaemmert commented on #1566
https://asciinema.org/a/dod6ugqn0d99frhy2cxioumj2

[2016-03-07 16:09] trufae commented on #1566
i didnt said that n/N does anything with the highlight at all

[2016-03-07 17:03] ret2libc commented on #4191
We could keep using aaa and add yet another var (enabled by default) to enable/disable the new aae feature. I believe too that adding another aaaaaaa command is not good

[2016-03-07 17:06] rlaemmert commented on #1566
oh my fault, didnt read carefully enough.
you mean n/N is already used for something different in visual mode

[2016-03-07 17:12] lionaneesh commented on #4254
I'll work on implementing RC2.

[2016-03-07 17:13] PankajKataria commented on #4254
I am working on XOR

[2016-03-07 17:14] Maijin commented on #4191
@ret2libc @radare To make everyone happy, what about this for some time until a good fix is done on all those commands:
If section is < 1MB
`[x] Text Section < 1 MB detected, running extended analysis automatically`
`[x] Emulate code to find computed references (aaa)`
`[x] Finding function by preludes (aap)`
`[x] Analyze consecutive function  (aat)`
`[x] Text Section > 1 MB detected, extended anal

[2016-03-07 17:23] radare commented on #4191
aae is unusable on big binaries mainly because it takes lot of time to emulate all the code, but this is something that must be up to the user, because even if the bin is big maybe he wants to do that. also, we should detect static linked stuff and reduce the size of code to be analized. maybe fill another issue for that

[2016-03-07 17:25] Maijin commented on #4191
That's why
`[x] Text Section is > 1MB, extra analysis not run to avoid infinite time you can run it manually using aaaa`

[2016-03-07 17:37] oddcoder commented on #4254
cool guys +1

[2016-03-07 20:12] codido commented on #4155
Actually it's possible to reproduce this issue with object files.
[code]
...yields:
[code]

[2016-03-07 21:07] therealkbhat commented on #4254
This sounds fun! I'd like to work on Blowfish.

Note: as per issues filed there, the pycrypto library is no longer actively maintained (see [this](https://github.com/dlitz/pycrypto/issues/173)). Apparently development and other projects have moved to [pycryptodome](https://github.com/Legrandin/pycryptodome/tree/master/src), which has everything pycrypto has and more.

[2016-03-07 21:08] PankajKataria commented on #4254
for XOR encryption what can we do if the input contains null bytes. The rahash2.c will not pass the full string to the encryption plugin like for example :
"rahash2 -S key -E XOR -s hello' world\n' "  will give correct output but
"rahash2 -S key -E XOR -s hello' world\n' | rahash2 -S key -E XOR -s -
will give 'h' as output as because in the output of the encryption there will be a null byte (ie e(

[2016-03-07 23:31] radare commented on #4254
I would prefer the lowercase name here: xor

[2016-03-08 02:30] codido opened #4258 "Handle tail call optimization"
It appears function boundaries are a bit off when tail call optimization is used. For instance:
[code]

...yields:
[code]

[2016-03-08 02:31] radare commented on #4258
e anal.eobjmp=true

[2016-03-08 02:41] codido commented on #4258
This indeed seems to solve this, thanks!
Any reason this shouldn't be true by default?

[2016-03-08 05:00] chinmaydd commented on #4254
I plan to work on implementing DES.

[2016-03-08 08:11] Maijin commented on #4254
I have added in the issue:

 Ability to rehash -E to handle file like `rahash2 -S key -E rc4 file.exe` for example

[2016-03-08 09:19] hteso opened #4261 "Duplicated offset with "asm.spacy""
When using the option "asm.spacy" the function address in the disasm is shown twice:

[code]

[2016-03-08 09:35] radare commented on #4261
Only if asm.functions = false, right?

[2016-03-08 09:39] hteso commented on #4261
Actually with both. If `asm.functions = false` the duplicated offset move to the next line:

[code]

[2016-03-08 10:17] ret2libc commented on #4258
Because this is not probably the right solution. Indeed you will see that functions will now be terminated as soon as you meet a jmp... I don't think anal.eobjmp really fixes the issue, because it creates many more problems.

[2016-03-08 10:25] radare commented on #4258
eobjmp doesnt exactly means that the funciton terminates on any jump. it must have some kind of conditions.. i know that this creates problems, because it is not easy to handle all sistuations in a generic way, did you spot any case where this is not working fine? we should have tests for this :3

[2016-03-08 13:58] ret2libc opened #4263 "pd and pdj stops at two different addresses"
[code]
Those two addresses should be the same.

[2016-03-08 14:09] chinmaydd commented on #3574
@radare I would like to take up this issue and work on it.

[2016-03-08 14:11] radare commented on #4263
do blocksize affects this result? who is right? can we have tests?

[2016-03-08 15:02] ret2libc commented on #4263
pd is right... pdj just prints only 20 lines more or less.

I will do tests soon.

[2016-03-08 19:00] radare commented on #3574
All yours! I cant assign it to you because i can only do that enabling commit perms to you.

[2016-03-08 20:22] alvarofe commented on #4243
I've tried on linux too and valgrind doesn't complain i will compile gcc with asan support and see

[2016-03-08 20:23] revskills commented on #4243
clang

[2016-03-08 21:04] radare opened #4266 "Enable demangle by default"

[2016-03-08 21:04] radare commented on #4266
Add a way to disable it from `$ r2`

[2016-03-08 21:17] alvarofe commented on #4240
should be fixed now. Close when confirmed

[2016-03-08 21:39] alvarofe commented on #4251
it's working here

[code]

[2016-03-08 21:54] Maijin commented on #4266
+1 on this one `e bin.demangle = true` by default ? And if user want to disable then he have to use `e bin.demangle = false` in the config file or command prompt until it is properly fixed.

[2016-03-08 21:57] Maijin commented on #4266
Also, until the possibility to enable/disable without relaunching is fixed, why not just adding in e? bin.demangling something like "to disable, add e bin.demangling=false in cmdline or config file".

[2016-03-08 22:18] radare opened #4267 "Prefix all env vars exported to the shell with R2_"
Also add an env var to be sure that we are running inside an r2 shell

[2016-03-08 22:27] XVilka commented on #4266
`r2 -M /bin/idaq` to disable demangle. And :+1: for enabling it by default. And not only bin.demangle but also asm.demangle too.

[2016-03-08 22:29] condret commented on #4254
we allready have DES, but it is broken

[2016-03-08 22:31] radare opened #4268 "Change rc filenames"
`~/.config/radare2/radare2rc` is redundant. what about `~/.config/radare2/rc`  and `rc.d` ?

[2016-03-08 22:48] Maijin commented on #4254
Here https://github.com/radare/radare2/blob/master/libr/util/des.c

[2016-03-08 23:48] PankajKataria commented on #4254
Should we consider the case of only one file provided, If not then please suggest suitable format to separate the output. Currently, I am printing newlines after every encrypted file.

[2016-03-08 23:55] Maijin commented on #4254
@PankajKataria What u mean? Like decrypting/encrypting several file like `rahash2 -S key -E rc4 file.exe file2.exe` and so on?

[2016-03-08 23:57] PankajKataria commented on #4254
@Maijin :Yup

[2016-03-09 08:41] radare commented on #4268
The reason behind keeping radare2rc was to be consistent with ~/.radare2rc and ~/.config/radare2/radare2rc but it is not even the same filename because of the dot... what do you think?

[2016-03-09 08:53] #4261 closed

[2016-03-09 09:08] Maijin commented on #1537
ping @radare status? with rehash2 -E it's going to change right !

[2016-03-09 09:08] #4251 closed

[2016-03-09 09:09] radare commented on #4251
Reproduced with http://pastebin.com/XKHJdE2z . Fixed in master now

[2016-03-09 09:09] radare commented on #1537
yeah, we need to define the wo? commands to encrypt/decrypt/setkey/blablabla

[2016-03-09 09:10] XVilka commented on #1537
why not reuse `#` tag?

[2016-03-09 10:04] ret2libc commented on #4258
Yes, a lot. This is /bin/cat for example:
[code]
I also found out some time ago that there are BasicBlocks that do not belong to any function.
As always, I think RAnal needs a lot of love!

[2016-03-09 10:11] radare opened #4271 "aaaa too slow if seek is not in entry0"
this is because it is using $S and $SS to find the boundaries of the code to analyze.

[2016-03-09 10:28] radare commented on #4258
All yours if you are in the mood :D

[2016-03-09 10:30] radare commented on #4266
Ok for -M and put it by default. Can anyone send a pr? Let travis tell us what we break

[2016-03-09 10:38] radare opened #4272 "Fix all aae warnings"
```r2 -c aae /bin/ls```

[2016-03-09 10:55] Maijin commented on #4272
Duplicate of #3621

[2016-03-09 10:56] radare commented on #4272
dupe

[2016-03-09 10:56] #4272 closed

[2016-03-09 10:57] radare commented on #4155
@jpenalbae

[2016-03-09 11:01] Maijin commented on #1476
ping @radare

[2016-03-09 11:02] radare commented on #1476
so /m doesnt respects search.to?

[2016-03-09 11:04] Maijin commented on #3993
Status?

[2016-03-09 11:05] radare opened #4274 "Optimize r_list_sort() by using more r_list_add_sorted"
and check if any of the elements in the list has been added unsortedly

[2016-03-09 11:05] radare commented on #3993
still not perfect

[2016-03-09 11:06] Maijin commented on #3993
we need binaries/test in r2r for that purpose

[2016-03-09 11:09] radare opened #4275 "lanai warnings"
[code]

[2016-03-09 11:34] danigargu commented on #4267
Great idea! this may be very usefull for plugins/scripts :+1:

[2016-03-09 11:47] edgarmb opened #4277 "change r2 prompt to reflect current PC"
When using radare2 in debug-mode (non visual) the prompt doesn't show the current **program counter** when step tracing (**ds**).

[code]
Is there any reason for this behaviour?

[2016-03-09 11:51] lionaneesh commented on #3512
I am willing to work on this one. Do we implement this in rahash2?

[2016-03-09 12:01] #4263 closed

[2016-03-09 13:39] futex commented on #4254
It can be usefull to have aPlib, lzma algorithm, ok it's not crypto, but compressor algo, but many malwares use it.

[2016-03-09 14:16] Maijin commented on #4254
@radare about @futex what do you think ? Do them and put them in r2extras ?

[2016-03-09 14:17] hteso opened #4279 "Enforce prefix renaming functions"
If I try to rename a function I would like to be able to choose the name, but the prefix `fcn.` is being enforced:

[code]

I would prefer to be able to name the functions without being forced by the tool to use a specific prefix.

[2016-03-09 14:20] radare commented on #4279
@ret2libc

[2016-03-09 14:40] radare commented on #4254
about compression algorithms, i think it will be better to create a different issue

[2016-03-09 14:40] Maijin commented on #4254
ok then

[2016-03-09 14:42] radare commented on #3512
this must be done libr/util/punycode.c but i think it will be more useful to have it in the r2 shell (and | or) rax2, not rahash2

[2016-03-09 14:43] radare commented on #4277
you can do:

e dbg.follow=1

or just:

"e cmd.prompt=.dr*;sr pc"

[2016-03-09 14:43] Maijin opened #4280 "Compression algorithm for rahash2 -E and a dedicated r2 command"
Like #4254, really interesting for malware analysis the compression algorithm :
- [ ] Define/Create rehash2 command maybe same as crypto algorithm
- [ ] Define/Create radare2 command
- [ ] zip
- [ ] lzma
- [ ] lznt1
- [ ] aPlib
- [ ] lzmat
- [ ] gzip

[2016-03-09 14:51] mminnella opened #4281 "Search issues on hex data"
Hi,
following search doesn't work:
bash$ r2 test_hex_search_issues

[code]

[test_hex_search_issues.zip](https://github.com/radare/radare2/files/165382/test_hex_search_issues.zip)

[2016-03-09 14:52] Maijin commented on #4281
This is not a test. Please look at how it is done in https://github.com/radare/radare2-regressions/blob/master/t/search/basic and make a pull request :+1:

[2016-03-09 14:53] futex commented on #4280
Nice to have it!

[2016-03-09 15:27] radare commented on #4280
there’s already support for zip, and therefor gzip. but there’s no command to do that from the shell.

we need to think which command to use here

[2016-03-09 15:38] hachzz opened #4282 "radare2 cant debug i386-app on OSX?"
i have an issue posted [reverseengineering.stackexchange.com](http://reverseengineering.stackexchange.com/questions/12183/radare2-cant-debug-i386-app-on-osx)
pls help, thank you!

[2016-03-09 15:49] Maijin commented on #4280
from the r2 cli + from a command like rahash2

[2016-03-09 15:52] radare commented on #4282
i dont see any post about this in there. but lets start with the common questions:

- are you using last version from git?
- default dbuegger is not based on XNU, instead of ptrace, there’s an USE_XNU_PTRACE var to go back to the previous engine
- did you tried r2 -b 32 -d /path/to/bin ?

@alvaro_fe maybe can help on this

what is the error you have?

[2016-03-09 15:56] hachzz commented on #4282
my post here:
http://reverseengineering.stackexchange.com/questions/12183/radare2-cant-debug-i386-app-on-osx

i tried with r2 -b 32 -d /path/to/bin, still fail... :(

[2016-03-09 16:08] radare commented on #4282
the error message is quite clear:

* run r2 as root

or

* create a codesign certificate and sign r2 and all their shared libs with it

see doc/osx for more information

[2016-03-09 16:20] hachzz commented on #4282
after run these commands:
$ make -C binr/radare2 osxsign
$ make -C binr/radare2 osx-sign-libs

but nothin better, still have errors, here my log

dc:radare2 hungpv$ sudo make -C binr/radare2 osxsign
rm -f radare2
gcc radare2.c  -MD   -fPIC -g -Wall -D__UNIX__=1 -I/Users/hungpv/hoc/rc/radare2/libr/../shlr/zip/include -pie -I/Users/hungpv/hoc/rc/radare2/libr/..//libr/include -I/Users/hungpv/hoc/rc/r

[2016-03-09 16:28] radare commented on #4282
If Challenge#1 is not in the path you will have to prefix it with ./ like in any unix system.

Also, i would recommend you to rename the bin to not contain silly characters like the hash or space.

Also u dont have to build r2 as root, only at run.

See the error medsages you get they are quite clear imho

[2016-03-09 16:34] hachzz commented on #4282
ok, after rename "Challenge 1" to "c1", its run well, but have some lines:

attach 769 769
bin.baddr 0x00001000
asm.bits 32
**r_debug_reg: error reading registers**
 -- If you're not satisfied by our product, we'll be happy to refund you.
[0x8fe01000]>

is it effect to program? (its bad?)

[2016-03-09 16:36] radare commented on #4282
so it works as expected.

you can enter in visual mode with V<enter>

press ‘p’ twice to go tot he debugger view and then ’s’ to step. all this stuff should work.

if you want to debug the program you should type `dcu entry0` to continue execution until the entrypoint.

[2016-03-09 16:38] hachzz commented on #4282
okay, thank you.
your support is best.

[2016-03-09 19:58] cym13 opened #4283 "r2 displays (lots of) '.gnu.version' entries at startup"
Maybe it is intended behaviour but it quickly becomes *very* bloated as some binaries have many thousands of entries.

    $ r2 -v
    radare2 0.10.2-git 10544 @ linux-little-x86-64 git.0.10.1-91-g9edd7bc
    commit: 9edd7bc3f30d24a98911ca5fa3bc2a1f7cee03c0 build: 2016-03-09

    $ r2 /usr/bin/yes
    Version symbols section '.gnu.version' contains 61 entries:
     Addr: 0x00400b40  Offset: 0x0000

[2016-03-09 21:15] oddcoder commented on #1868
it is time to put a check near the pic18cxx ?

[2016-03-09 21:30] Maijin commented on #1868
Already done since a long time :+1:

[2016-03-09 22:02] alvarofe commented on #4283
That's been introduced recently because of the version info code, they are just eprintf for debug purpose i will add a macro to avoid those annoying messages

[2016-03-09 22:16] alvarofe commented on #4283
it should be fixed now but nothing to be worry about

[2016-03-09 22:16] #4283 closed

[2016-03-09 22:20] alvarofe commented on #4282
closing as it seems everything is fine. If you find any issue regarding debugging on OS X just create another issue. Bear in mind that multithread is not supported yet but for one thread of execution everything should work smoothly.

regards

[2016-03-09 22:20] #4282 closed

[2016-03-09 22:22] lionaneesh commented on #921
Hey I am working on PE's CRC extraction and check. Would adding it as an info command work?

This is what it looks like right now:
[code]

[2016-03-09 22:52] PankajKataria commented on #4280
sounds cool I'd like to work on it.

[2016-03-09 23:08] crowell commented on #4199
Hi, I know nothing about this topic. What needs to be extended in the current pattern generator

[2016-03-09 23:10] 0x2Adr1 commented on #921
hi guys, I am currently working on:

- [x] the version info of ELF and Mach-O binaries (PE was already merged)
- [x] Extract/Dump Resources (any idea of a good command shortcut for this? "iR [file]" maybe)

[2016-03-10 00:46] kamou opened #4284 "rop search improvement"
Hello,

I found some improvement that can be done for the rop search command, but I'd like to implement it myself.
I just can't figure out how to get the size of the end_gadget, could you please help ?
### Improvement explanation:
the "problem" is that the backward search starts from the instruction right before the end_gadget.
but an end gadget like:
`41ff14dc  call qword [r12 + rbx*8]`
can becom

[2016-03-10 01:22] kamou commented on #4284
thinking again about it I think it shouldn't even be improved there...
I guess the end_list should have contained that shortened instruction (ff14dc), don't know yet why it didn't.

[2016-03-10 01:43] securitykitten opened #4285 "pdfj function missing?"
I downloaded and built the latest version of radare2 from git
[code]

I noticed that when running the pdfj command that it was no longer producing output, an example of a session is shown below
[code]
[code]
Then listing the functions
[code]

Now disassembling a function from the list

[code]
Then doing pdfj on the same function
[code]

Has the pdfj function been removed or deprecated?  I can't fi

[2016-03-10 02:20] radare commented on #921
Yes this looks good. Right now ive been saving this in sdb, it is used for dex, and when loading a dex it shows the current hash and prints an r2 command to calculate the hash.

I think this info is already saved in sdb for PE too.. Or at least it should. But its cool to have a top level command for this rather than messing with sdb

[2016-03-10 02:53] edgarmb commented on #4277
Thank you! I need to spend more time exploring the the configuration variables :+1:

[2016-03-10 02:53] #4277 closed

[2016-03-10 08:16] Maijin commented on #921
Awesome \o/

[2016-03-10 10:26] radare commented on #921
To extract dump respueces use the -O (uppercase O) there are some dumping/manipulation conmands there already

[2016-03-10 10:27] radare commented on #921
We should probably make iO accessible from r2, not just rabin2 from shell

[2016-03-10 10:40] radare commented on #4285
@ret2libc

[2016-03-10 10:44] timofonic commented on #921
Hello.

I'm not a developer, just a wannabe that's struggling at electronics right
now. But I consider reverse engineering very interesting in the digital
preservation and interoperability ways. I consider Document Liberation
Project a very amazing work, I hope this happens in other sectors like
Electronic Design Automation (this is awful, there are zillions of file
formats and even the expensive

[2016-03-10 10:50] XVilka commented on #921
@timofonic good to hear, not sure how this does relate to this particular bug though. You're welcome on our #radare IRC channel to discuss such things, or to corresponding Telegram channel.

[2016-03-10 14:16] oddcoder commented on #4204
could you please add extra information !!

[2016-03-10 15:21] therealkbhat opened #4287 "RCrypto: segfault on running "-E blowfish""
Command `$ rahash2 -S "abc" -E blowfish -s "testing"` results in a segmentation fault.

Relevant code is [here](https://github.com/radare/radare2/blob/master/libr/crypto/p/crypto_blowfish.c).
Suspicions are on invalid assumptions regarding the key, but there may be other issues.

[2016-03-10 19:20] alvarofe commented on #4240
ping

[2016-03-10 19:48] revskills commented on #4240
Pong  fixed, thanks
El 10/3/2016 8:23 p. m., "Álvaro Felipe Melchor" <notifications@github.com>
escribió:

[2016-03-11 09:16] radare opened #4290 "Add @ iterator for functions"
something like `@@f` because `@@= \`aflq\`` performs badly when list is large

[2016-03-11 09:42] radare opened #4291 "Add `aftp` command to analyze type propagation in function"
* Tracks local vars defined in current function
* Finds when they are passed in CALLs
* Output r2 commands to register those `afa` (function arguments types) in the calls
* ...

I think that this kind of analysis can be done by using ESIL, so taking `aae` code as reference..or maybe just extending `aae` to do that tracking is important.

[2016-03-11 10:11] radare opened #4292 "Parseable output of command `p=`"
p=e is cool, but only for the commandline, we need to extend it to support JSON and quiet modes:
`p=eq` and `p=ej` .. and show the output with meaningful offsets and ponderable values, rather than ascii art magic

[2016-03-11 11:19] #4292 closed

[2016-03-11 15:52] hummypkg opened #4293 "MIPS find string references with two-part loads."
I'm disassembling a MIPSel application and can't easily cross reference strings because they are generally referenced using two-part register loads such as:

    a100043c       lui a0, 0xa1
    bc768424       addiu a0, a0, 0x76bc

Here's the string:

    [0x008e19fc]> sf strings
    [0x008e19fc]> f~a176bc
    0x00a176bc 18 str.cont_count_ignore

No xrefs

    [0x008e19fc]> axt str.cont_count_ignor

[2016-03-11 16:03] Maijin commented on #4293
1. Ensure you are using radare2 from github. Please paste your radare2 -v
2. Try with aaaa prior txt

[2016-03-11 16:03] radare commented on #4293
Use aae. EmulaTing code is the inly way to compute those references statically

[2016-03-11 16:38] hummypkg commented on #4293
deb# (164) radare2 -v
    radare2 0.10.2-git 10550 @ linux-little-x86-64 git.0.10.1-97-g04a5eb3
    commit: 04a5eb3fb45724a18806b003a3b64695a8b64d3c build: 2016-03-11

Thanks, that definitely improves things and I now have some references in place but most of them are still missing. The one I first posted still doesn't have it.

    | ||||||    0x008e19ec      21200002       a0 = 2
    | ||||||

[2016-03-11 17:49] codido opened #4294 "Raw search in ELF files fails"
Raw search seems to be broken:

[code]
...searches in the range of 0x00400400 to 0xffffffffffffffff.

Modifying search.from & search.to don't seem to control the search appropriately.

[2016-03-11 17:58] #4294 closed

[2016-03-11 17:59] Maijin commented on #4294
Use oon or r2 -n to open raw then search on the entire binary, not only mapped sections. Alternatively drop all sections and disable io.va

[2016-03-11 18:06] codido opened #4295 "Spurious relocations from debugging information"
The following:
[code]
...yields:
[code]

There shouldn't be a relocation at offset 0x37 above.

[2016-03-11 20:11] zonkzonk opened #4296 "wx problem or not?"
morrn,

in current r2 I get segfault with wx:

[code]

Greetings
--zlul

,r2 -v
[code]

valgrind:
[code]

[2016-03-11 20:27] alvarofe commented on #4155
This is happening because when looking for the vaddr there is not phdr info so we are returning physical address, i will change that and see how many test are broken because of it

[2016-03-11 20:34] codido commented on #4155
@alvarofe Please note that supporting the behavior of standard tools means that two different functions may be located at the same address:
[code]
...outputs:
[code]

Can radare handle such cases?

[2016-03-11 21:28] alvarofe commented on #4155
Please test this. There were some test BROKEN but with the change are fixed now. Test with `.ko` and once travis is green again i will push

[code]

[2016-03-11 21:30] zonkzonk commented on #4287
So SetHashString takes two arguments?

E_NOT_CRYPTOGUY

[2016-03-11 21:32] alvarofe commented on #4155
i get this with `nm` and with the branch `elf` i posted early the same result.

[code]

[2016-03-11 21:41] alvarofe commented on #4243
neither luck in linux. I just opened the binary and then `aae` but ASAN doesn't complain

[code]

[code]

[2016-03-11 21:41] crowell commented on #4287
`r_crypto_final (cry, NULL, 0);`
`return (cry && cry->h && cry->h->final)?
        cry->h->final (cry, buf, len): 0;`
`return update (cry, buf, len);`
`blowfish_crypt (&st, buf, obuf, len);`
nice, buf is null
`left = (inbuf[0] << 24 | inbuf[1] << 16 | inbuf[2] << 8 | inbuf[3]);`
segfault.

[2016-03-11 21:45] alvarofe commented on #4296
Where is the segfault?

[2016-03-11 21:46] revskills commented on #4243
Wops, it seems fixed already in:

radare2 0.10.2-git 10556 @ linux-little-x86-64 git.0.10.1-99-g747699f
commit: 747699f712d7cc0402b20c9313a16634e68d7764 build: 2016-03-11

Close please

[2016-03-11 21:47] #4243 closed

[2016-03-11 21:47] crowell commented on #4243
wut how did that commit fix anything?

[2016-03-11 21:53] alvarofe commented on #4287
yes, in `blowfish_crypt` keylen is 3 but it assumes outbuf of size 8 so is a oob write. Can you fix it @therealkbhat ?

[2016-03-11 22:17] alvarofe commented on #4246
what about to use visual code analysis menu and add `z` to select which function to fold and unfold?

[2016-03-11 22:18] Maijin commented on #4246
No, `z` is super useful, but nobody use `Z` changing the letter wouldn't hurt anyone

[2016-03-11 22:24] codido commented on #4155
@alvarofe Could you post the sections? Any chance ffunction-sections was missed?

[2016-03-11 22:30] alvarofe commented on #4246
I discovered an issue i think introduced to avoid a crash recently. `j` goes up when approaching a folded function.

http://asciinema.org/a/35is8r22x0lv7aeyboyrd87gb

[2016-03-11 22:33] codido commented on #4155
@alvarofe This fix doesn't seem to do the job:
[code]
So it ends up interpreting the ELF's header as instructions..

[2016-03-11 22:34] alvarofe commented on #4155
it seems i didn't compile it well. Trying the `elf` branch shows the correct output

[code]

[2016-03-11 22:37] alvarofe commented on #4155
mm oki i see. let me read the elf spec to come up with a better solution though the vaddr of the symbols are the same as `nm`

[2016-03-11 22:42] codido commented on #4155
The symbols seem fine, but they need to be aligned with the addresses as well, and right now these are just physical offsets.

That being said, I'm not entirely sure this can be solved nicely. On one hand sym.foo and sym.bar should both point to 0x0. On the other, when you do `pdf @sym.foo` and `pdf @sym.bar`, you don't really want to get the same output.

This means that symbols should probably h

[2016-03-11 22:47] alvarofe commented on #4155
we were using file offsets. Perhaps other tools are wrong haha i need to research more about it to understand better the issue and how to handle it.

[2016-03-12 01:26] radare commented on #4296
invalid

[2016-03-12 01:26] #4296 closed

[2016-03-12 01:35] radare commented on #4293
Can you verify if the ESIL representation for the instructions in the
reference that is not working are correct? if you go into visual mode and
press 'p' to see the disasm you can press 'O' (uppercase 'o') to see the esil
expressions.

place but most of them are still missing. The one I first posted still doesn't
have it.

esilref: '/mnt/hd2/fred'

esilref: '/mnt/hd2/wilma'

esilref: '/mnt/hd2/bar

[2016-03-12 01:39] radare commented on #4295
that's not what nm says.. what do objdump says?

wrote:

'*'  ; RELOC 32

Reply to this email directly or [view it on GitHub](https://github.com/radare/
radare2/issues/4295).![](https://github.com/notifications/beacon/AA3-lpS6OvKoO
W1gU0s17OXSnyj5m_uxks5psa8ZgaJpZM4Hu6Hc.gif)

[2016-03-12 01:43] codido commented on #4295
objdump seems to behave perfectly fine:
[code]
results in:
[code]

(the different offsets are due to https://github.com/radare/radare2/issues/4155, but seem unrelated here)

[2016-03-12 01:49] radare commented on #4204
This task is about implementing the `afA` command. As long as fastcall depends on the ABI we can assume that we only need the number of arguments and the types of each. for example:

[code]

When disassembling a function, the disassembler loop must grab this information, if there's any fastcall argument defined it will use the rsyscall api to get the corresponding register and show it in the comme

[2016-03-12 02:21] radare opened #4298 "Add rabin2 -O fixchksum"
Implement RBin operation to recalculate the new hash of the file and show command to patch the binary.

[2016-03-12 02:37] radare commented on #4284
Maybe this should be related to search.align eval var

[2016-03-12 02:38] radare commented on #4284
Maybe @jpenalbae or @crowell can give you some pointers if needed :)

[2016-03-12 02:50] jpenalbae commented on #4284
I would say that the way to go is to keep searching backwards starting with the instruction right before the end_gadget. What you might want to improve is the end_gadget selection, but I would not touch the backwards disassembly part.

Anyway, what is really needed, is an speed improvement, instead of adding more end_gadgets to the list which actually slows down the process even more. Probably add

[2016-03-12 10:25] jvoisin commented on #4284
The backward disassembler is a bit messy, maybe it should be improved too.

[2016-03-12 16:18] Maijin commented on #4216
ping @0x2Adr1

[2016-03-12 16:22] Maijin commented on #4191
@EliaGeretto So after discussion on Telegram:

* [ ] Add a warning message at the end of aaa something like "Use aaaa for more experimental analysis engine"
* [ ] Create r2 -AA for aaaa

[2016-03-12 16:34] #4191 closed

[2016-03-12 17:01] #4266 closed

[2016-03-12 17:49] emoon commented on #3617
I'm interested in hearing more of what bugs has been in the capstone implementation (as I have done a fair share of it)

[2016-03-13 00:08] radare opened #4301 "Implement Visual entropy mode"
Display hex+disasm of current seek and the bars of entropy in the lower part.
- Using jk moves next/prev block. (seek to there)
- Numbers from 0 to 10 are used to seek there too
- +/- keys increase/decrease the number of rows (zoom)

This visual mode must work on static files or dynamic debugging environments.

Use `e cmd.visual=p=e $r` for now

[2016-03-13 02:19] radare opened #4302 "Fix ELF dynamic struggles"
http://michalmalik.github.io/elf-dynamic-segment-struggles

[2016-03-13 02:23] #4275 closed

[2016-03-13 02:25] radare commented on #1659
Example: `rasm2 -jA 90`

[2016-03-13 02:30] radare commented on #3408
ping

[2016-03-13 02:31] radare commented on #4216
ping @0x2Adr1

[2016-03-13 02:32] radare commented on #4202
i'm closing this as long as i don't see a real issue here

[2016-03-13 02:32] #4202 closed

[2016-03-13 02:35] radare commented on #4258
Which condition can we assume when considering a tail continuation or not? Do you have more examples?

[2016-03-13 02:37] radare commented on #4207
ping

[2016-03-13 02:40] radare commented on #3993
i wrote a test for this by loading osx's /bin/ls and analyzing the entrypoint

<img width="622" alt="screen shot 2016-03-13 at 03 39 39" src="https://cloud.githubusercontent.com/assets/917142/13726565/42e16736-e8cd-11e5-90b6-e0aed91fff57.png">

[2016-03-13 02:40] radare commented on #3993
One solution would be to hardcode some rules like "main" > "entry*" > "sym.*"

[2016-03-13 08:01] therealkbhat commented on #4287
@alvarofe yes, I'll fix this soon.

[2016-03-13 08:31] egyp7 commented on #4199
Hi **crowell**, here more info about this topic:
https://en.wikipedia.org/wiki/De_Bruijn_graph
https://en.wikipedia.org/wiki/De_Bruijn_sequence
This is simple task and not take hard work for release ;)

With best regards, egyp7.

[2016-03-13 11:57] #4184 closed

[2016-03-13 11:58] #1346 closed

[2016-03-13 12:00] Maijin commented on #1329
ping @jvoisin

[2016-03-13 16:30] cr1901 opened #4304 "User defined labels do not replace addresses in 68k disassembly"
Mirroring issue #3841 that I opened back in December, I am having trouble getting the 68k backend to honor manual labels that I create in the disassembled output. The use case was to fill in the Sega Genesis I/O addr space with easy-to-read names, such as the z80 Bus Request register at 0xa11100, as shown below:

[code]

I would expect, for instance, address 0x0000044e to be `move.w 0, sym.z80BusR

[2016-03-13 16:34] Maijin commented on #4304
Did you also try with m68k.cs ?

[2016-03-13 16:41] cr1901 commented on #4304
How do I specify that? (Incidentally, radare2 autodetects this is 68k if I omit the `-a` flag)

[2016-03-13 16:44] Maijin commented on #4304
m68k is one engine for 68000, m68k.cs is another one using capstone

[2016-03-13 16:44] Maijin commented on #4304
just use -a m68k.cs or -a m68k

[2016-03-13 16:45] Maijin commented on #4304
Please see https://github.com/radare/radare2/issues/3617

[2016-03-13 16:49] cr1901 commented on #4304
Same output:
[code]

[2016-03-13 18:20] #4302 closed

[2016-03-13 18:44] radare commented on #3617
@emoon afaik there are no tests for m68k yet, but you should be able to create some and verify the difference between GNU and Capstone plugins easily, we already do this for other archs like mips or x86.

[2016-03-13 18:45] radare commented on #3617
the issues i reported was spotted by doing manual disassembly and switching from one plugin to the other

[2016-03-13 19:58] radare opened #4305 "aar should identify string references and create flags and metatype for them"

[2016-03-13 20:01] radare commented on #4287
any update on this?

On Sun, Mar 13, 2016 at 9:01 AM Kishor Bhat <notifications@github.com>
wrote:

[2016-03-13 21:12] emoon commented on #3617
I see. Me and @npanel did a fair amount of testing (comparing against GNU gas) and GNU was actually wrong in some cases while this our code is correct (by reading and looking at the specs in the manuals) but of course there may still be issues.

[2016-03-13 21:21] lionaneesh commented on #662
I am interested in working on this.

[2016-03-13 21:42] zonkzonk commented on #4296
@pancake: why? wtf :)

[2016-03-13 21:46] zonkzonk commented on #4296
Reading symbols from r2...done.

warning: core file may not match specified executable file.
[New LWP 11155]
Core was generated by `/tmp/ls'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x00007fa4dde0fd90 in ?? ()
(gdb) bt
#0  0x00007fa4dde0fd90 in ?? ()
#1  0x0000000000000001 in ?? ()
#2  0x00007ffe52d8cdcc in ?? ()
#3  0x0000000000000000 in ?? ()

[2016-03-13 22:19] radare commented on #4296
so it doesnt crashes with valgrind? what about running with asan? i cant get any crash here

[2016-03-13 22:23] zonkzonk commented on #4296
5322.412872] ls[11155]: segfault at 3d38adb2 ip 00007fa4dde0fd90 sp
00007ffe52d8b290 error 6 in ld-2.23.so[7fa4dde0f000+23000]
,

this is all I get+ \xcc in teh registers.
Do you want remote login or reinstall os? :)

On 3/13/16, radare <notifications@github.com> wrote:

[2016-03-13 22:27] alvarofe commented on #4296
those directions `0x00007fa4dde0fd90` doesn't give info at all. I can't reproduce it and i see the error is ocurring in `ld`? `00007ffe52d8b290 error 6 in ld-2.23.so[7fa4dde0f000+23000]` Can you reproduce again the issue using r2 from master? if at least i could see where is failing i might guess

[2016-03-13 22:29] radare commented on #662
👍

[2016-03-13 22:30] radare commented on #4296
Can you paste the oytput?

[2016-03-13 22:31] radare commented on #4295
Can you share the binary and write a test for the regressions repo?

[2016-03-13 22:34] zonkzonk commented on #4296
On 3/13/16, Álvaro Felipe Melchor <notifications@github.com> wrote:

I now think we should suspend this task, as long as ld is not checked/updated.
Problem still with ,r2 -v
radare2 0.10.2-git 10552 @ linux-little-x86-64 git.0.10.1-97-g04a5eb3
commit: 04a5eb3fb45724a18806b003a3b64695a8b64d3c build: 2016-03-11

[2016-03-13 23:01] #4290 closed

[2016-03-13 23:02] radare commented on #4248
This is done. It can be optimized by not sorting on every listing, but it's ok for now

[2016-03-13 23:02] #4248 closed

[2016-03-13 23:11] #4194 closed

[2016-03-14 00:22] codido commented on #4295
Sure, https://github.com/radare/radare2-regressions/pull/332

[2016-03-14 00:45] #4305 closed

[2016-03-14 00:45] radare commented on #4305
Must do the same for aae

[2016-03-14 00:57] radare commented on #4305
progrably add `anal.strings

[2016-03-14 02:47] therealkbhat commented on #4287
@radare Sorry, I was occupied over the weekend.

I'm having trouble debugging this. My code assumes both key and plaintext string are in hex.

Even with `$ rahash2 -E blowfish -S "aaaaaaaa" -s "aaaaaaaa"`, it produces one block (8 bytes) of ciphertext. However, it calls `blowfish_crypt` on the "next" block, which doesn't exist, and it segfaults.

Also, @crowell , I don't see the null. :/

[2016-03-14 08:55] radare opened #4306 "afna is sometimes confusing"
We should find better way to name functions, because aaa is sometimes producing confusing disassemblies

[2016-03-14 09:16] Maijin commented on #4306
Enhancing #3800 would also allow better detection

[2016-03-14 09:25] rlaemmert commented on #4306
i think the best would be fcn.<addr>(arg1,arg2,arg3) or something similar. the first called library function as label is not that useful, because most of the time the first library function is something for initializing the real stuff

[2016-03-14 09:33] Maijin commented on #4306
I think you confuse display and flag name. fcn.(arg1,arg2,arg3) will looks like even bigger mess since argument will just be undefined. fcn.0x0000(0x000,0x000,0x0000) that is looking more useful...
"because most of the time the first library function is something for initializing the real stuff" <- This behaviour works somehow well on lot of PE binaries at least and is far better than fcn.0x000

[2016-03-14 09:34] radare commented on #4306
wtf

[2016-03-14 09:36] XVilka commented on #4306
@radare can you show the example of confusing name?

[2016-03-14 09:43] radare commented on #4287
anyway, tired of waiting I pushed the one-line fix.

[2016-03-14 09:43] radare commented on #4287
23af75fd16f526f668383906d6325c5638abcd2e

[2016-03-14 09:45] XVilka commented on #4287
Still require proper fix, @therealkbhat

[2016-03-14 09:51] rlaemmert commented on #4306
"This behaviour works somehow well on lot of PE binaries at least and is far better than fcn.0x000"
Not in the binaries i have seen so far. In the last one for example i had functions that always start with VirtualAlloc. Or this one:
0x0041526f      e89cf1ffff     call sub.USER32.dll_GetDC_410 ;[5]
This function is the _WinMain in idapro.

[2016-03-14 09:55] radare commented on #4287
Define proper fix. Probably needs proper testing, nothing more, or maybe im missing something. the null deref was pretty clear. and it misses an error message maybe, but not much more imho.

Also, im aware decryption doesnt works because the function is not referenced anywhere, but this is unrelated to this issue

[2016-03-14 09:59] radare commented on #4306
I think WinMain should be identified like a bin symbol from the PE plugin, like it is done for ELF. this way the afna will not fail here. if you can share a bin for htat, or just implement the `binsym` callback in the PE plugin for the R_BIN_SYM_MAIN.

[2016-03-14 10:00] Maijin commented on #4287
I have unchecked the blowfish support in main issue then #4254

[2016-03-14 10:00] #4287 closed

[2016-03-14 10:06] radare commented on #3617
I think MAME guys are the ones with best m68k support nowadays, so it will be good to compare with their code. or maybe it will be interesting to add an m68k.mame plugin to ease that step. Maybe @poliva can light us a bit on this topic.

[2016-03-14 10:43] radare commented on #4295
Should be fixed in https://github.com/radare/radare2/pull/4307 can you confirm? will be good to confirm with the testsuite, and other binaries to avoid having regressions

[2016-03-14 11:25] hummypkg commented on #4293
The negative addiu looks wrong in ESIL but a0 looks right to me:

    | ||||||    0x008e19f0      a100043c       lui a0, 0xa1
    | ||||||    0x008e19f4      a200053c       lui a1, 0xa2
    | ||||||    0x008e19f8      01000224       addiu v0, zero, 1
    | ||||||    0x008e19fc      bc768424       addiu a0, a0, 0x76bc
    | ||||||    0x008e1a00      c8cca524       addiu a1, a1, -0x3338

    | |||||

[2016-03-14 11:31] XVilka commented on #4122
Copying text here from the GSoC Ideas page:

Unify assembly syntax among all supported architectures in radare2, implement this in an external library, and make it [fasm-compatible](http://flatassembler.net/docs.php?article=manual). This backend will perform the preprocessing assembly listings, then passing it to the frontend. It should be the one library for all available architectures.

It shoul

[2016-03-14 11:38] radare commented on #4293
git pull and check if this is working/correct now :)

[2016-03-14 11:50] radare commented on #4122
there’s no arch-specific syntax in rasm2, all the assembler directives work on all platforms. We should enhance them, by adding more assembler directives

right now the assembler is based on one liner definitions. i would proabbly move this macro task to the preprocessor, like cpp does. and in fact, spp will solve that issue (or even cpp).

i didnt implemented a preprocessor in rasm2 because rasm2

[2016-03-14 11:55] XVilka commented on #4122
Yep, just smoothly integrating preprocessor is ok, the idea is just to make it unseen for the user. And I'm exactly know that 'virtual' directive is arch-independent.

[2016-03-14 12:04] hummypkg commented on #4293
Subtraction looks good now but still no ESIL reference to the string at 0xa076bc

    | ||||||    0x008e19f0      a100043c       0xa10000,a0,=
    | ||||||    0x008e19f4      a200053c       0xa20000,a1,=
    | ||||||    0x008e19f8      01000224       1,zero,+,v0,=
    | ||||||    0x008e19fc      bc768424       30396,a0,+,a0,=
    | ||||||    0x008e1a00      c8cca524       13112,a1,-,a1,=

[2016-03-14 12:19] EasyHard commented on #4020
Hi @Maijin  @crowell I am trying to looking into this as my GSoC micro task and found some clues.

Just a heads up ^_^.

[2016-03-14 12:25] radare commented on #4293
I guess that you runned aae to try to find this ref, right? Or at least with asm.emu=true

Can you tell me how is this reference computed or which would be the correct address instead of the wrongly computed one? (I dont have much time for looking at this task right now)

Let me know if you find other esil issues in mips.

Thanks!

[2016-03-14 12:46] EasyHard commented on #4020
Hi @abpolym @crowell @Maijin
The problem is that the `hlt` instruction is treated as an end gadget. And currently `r_core_search_rop` does not search any addresses that are smaller than the previous end gadgets. So it will blocks the chance to disassemble `fff4` as `push esp`.

I will submit a PR for this.

[2016-03-14 12:51] radare commented on #4020
👍

[2016-03-14 15:04] hummypkg commented on #4293
Yes, I used aae.
It isn't a wrong reference, just that the reference doesn't seem to be detected.
Thanks for the help so far, I will see if I can fix the problem myself and submit a patch.

[2016-03-14 16:00] hummypkg commented on #4293
FWIW, this seems to be the same issue as https://github.com/radare/radare2/issues/949#issuecomment-43643179 - trying to automatically create xrefs for these strings.

[2016-03-14 16:50] Maijin commented on #4254
AES is not done/not working in fact feel free to do add support for that as well :)

[2016-03-14 20:36] Darredevil commented on #3244
I would like to tackle this, I did a quick patch which just times r_core_loadlibs_init() and creates a var in sdb for it. Not sure if that was the full goal of the issue.

[2016-03-14 21:31] hummypkg commented on #4293
Here's a hack-ish patch. I doubt this is the best way to do it but it's working for me and means I don't have to go back to IDA for this project!

[mipsref.diff.txt](https://github.com/radare/radare2/files/172866/mipsref.diff.txt)

It is resolving most of the string references in my project. Ideally it would only look at ADD operations where 'arg1 && !(arg1 & 0xffff)' but the ESIL analyser doesn't

[2016-03-14 22:08] #4020 closed

[2016-03-14 23:30] Maijin commented on #4304
Do you have any binaries that can be shared [no license...] to create the tests ?

[2016-03-14 23:31] cr1901 commented on #4304
I could share my Shining In The Darkness ROM, but that's of questionable legality :P...

[2016-03-14 23:31] Maijin commented on #4304
yes, we can't use this one, any PD Rom with this behaviour ?

[2016-03-14 23:34] cr1901 commented on #4304
I'll make a test ROM tonight/tomorrow and duplicate the problem.

[2016-03-14 23:40] radare opened #4311 "Support to change asm.bits via ESIL"
This is necessary to emulate the `blx` and `bx` instructions that switch between arm and thumb

[2016-03-14 23:53] radare commented on #4304
that's because libr/parse only looks for `0xa11100` instead of `0xa11100.l`. also there's no m68k-specific parse plugin, and this syntax is a bit weird to consider it generic. what do this `.l` means? can we remove it?

[2016-03-14 23:59] cr1901 commented on #4304
@radare Traditional 68k assemblers expect instruction mnemonics and operands to be qualified with either `.b`, `.w`, or `.l` to indicate their width, so the assembler can determine which instruction encoding to use.

[2016-03-15 03:29] ithurricane opened #4312 "How to disassemble system_call?"
I love this project, and want to disassemble system_call,
I want to to do a job like:
gdb /usr/src/linux-2.6.32.9/vmlinux /proc/kcore
and disassemble system_call.

How to disassemble system_call in radare2?

[2016-03-15 08:37] radare commented on #4312
Theresno support for cores in r2 yet. To disassemble just use 's sym.system_call and then pd to disassemble

[2016-03-15 09:44] radare opened #4313 "V& switch 16/32/64 bits current function in cursor mode"

[2016-03-15 10:29] radare opened #4314 "Use afr instead of af in r2 -A"

[2016-03-15 10:32] oddcoder commented on #4314
what is the question ?

[2016-03-15 10:36] radare opened #4315 "Vdf doesnt honors anal.calls"

[2016-03-15 10:47] #4313 closed

[2016-03-15 10:47] radare opened #4316 "V& in cursor mode should change ahb"

[2016-03-15 10:51] radare commented on #4311
cc @condret any suggestion for this?

[2016-03-15 10:53] XVilka commented on #4311
add a special status register?

[2016-03-15 10:56] radare commented on #4304
uhm.. this replacement works for me. im using the m68k plugin, not the capstone one and loading the rom found in r2r/bins/smd which is an opensource game for megadrive

[2016-03-15 11:13] radare commented on #4304
see https://github.com/radare/radare2-regressions/commit/fdc3836bbc765a7a84f2f3a3ac5aa149498488fd

[2016-03-15 11:16] radare opened #4317 "Drop _pseudo tail for all parse plugins"

[2016-03-15 11:51] Maijin commented on #4314
Should we switch af to afr in r2 -A that's the question.

[2016-03-15 11:53] Maijin commented on #4304
[code]

I don't see m68k.gnu

[2016-03-15 12:03] oddcoder commented on #4314
I would say yes AFAIK recursive analysis is much more accurate than linear search.

[2016-03-15 12:38] aikuchin opened #4318 "Add windows heap analyzing option"
It can be useful to get list of allocation from windows minidump to find and identify individual objects in memory.
Sample program (source, binary and output) are here https://github.com/aikuchin/dump/tree/master/radare2_heap_analyze , it allocates 32 256-byte objects and then spins to wait for dump collection.
Turns out that some objects are managed by lookaside list frontend allocator but after

[2016-03-15 12:42] XVilka commented on #4318
Related to this code https://github.com/radare/radare2-extras/tree/master/libr/bin/format/mdmp I suppose

[2016-03-15 13:23] aikuchin commented on #4318
Not only, I mentioned dumps in comment but this can be also very useful with debugger. Not sure if code can be shared but this seems to depend only on memory analysis and not on backend that provides memory data.

[2016-03-15 13:41] EasyHard opened #4319 "can not use regex sequence in rop search"
I notice that `"/R push esi;push ebx"` could find a correct gadget but `"/R/ push esi;push ebx"` can find nothing. For example,

[code]

[2016-03-15 13:54] radare commented on #4319
Can you send a test for the radare2-regressions repository?

@crowell this looks like a regression

[2016-03-15 14:03] Maijin commented on #4319
Duplicate already reported https://github.com/radare/radare2/issues/1745

[2016-03-15 14:04] Maijin commented on #4319
Already reported see https://github.com/radare/radare2/issues/3520

[2016-03-15 14:11] crowell commented on #4319
@maijin that's a different issue with | this is a general one
On Mar 15, 2016 10:05 AM, "Maijin" <notifications@github.com> wrote:

[2016-03-15 14:15] EasyHard commented on #4319
Hi, I made a PR of this. I will create a test ASAP.

[2016-03-15 15:24] EasyHard commented on #4319
Accidentally create a PR in my fork. O_o

[2016-03-15 16:44] EasyHard commented on #1131
https://github.com/JonathanSalwan/ROPgadget/ does not Identify gadget semantically. Instead, it just uses regex to match needed parts to execv /bin/sh.

It should be easy to make a similar implement since radare2 could also searching rop gadget by regex. So I think this may be a good starting point. Maybe I can make a PR of it. How do you think @jvoisin ?

And with ESIL radare2 will be cooler sinc

[2016-03-15 17:31] jvoisin commented on #1131
I think I had some PoC that does exactly this, based on <s>stolen</s> borrowed code from ROPgadget. I think it would be more interesting to make a first iteration with ESIL, and to refine it later, since the *grep* thingy won't be really re-usable, will it?

[2016-03-15 18:49] Maijin commented on #3520
See this one @EasyHard

[2016-03-16 01:37] EasyHard commented on #1131
OK. I am trying to make some PoC of tasks in [Ropchain generator with ragg2
](http://radare.org/gsoc/2016/ideas.html#title_4), so that I can get some sense of them and write a proposal. But I think you are right. ESIL is more interesting and more important in this GSoC  idea.

[2016-03-16 11:12] 0x2Adr1 commented on #4216
See https://github.com/radare/radare2/pull/4325

[2016-03-16 11:43] radare opened #4326 "anal.strings for aae"

[2016-03-16 11:43] radare commented on #4319
This was fixed already

[2016-03-16 11:43] #4319 closed

[2016-03-16 11:44] radare commented on #4312
this is not an issue, just a support request and its already been explained. use irc or telegram if youw ant more interactive support

[2016-03-16 11:44] #4312 closed

[2016-03-16 11:44] XVilka commented on #4326
What you mean here?

[2016-03-16 11:46] radare commented on #4304
So here's the first gnu/capstone inconsistency:

[code]

[2016-03-16 11:49] XVilka commented on #2772
@srri can you please update the log for the latest version of radare2?

[2016-03-16 11:54] radare commented on #4318
I would prefer to have a generic heap analysis functionality in r2, not just window-specific or bound to the mdmp. because this should work in debugger mode too. Maybe @skuater can give some ideas on this

[2016-03-16 12:00] radare commented on #4314
we can also enable anal.calls=true and disable it right after the -A analysis. can you guys send a PR to see what travis thinks about this?

[2016-03-16 12:02] radare commented on #4314
see https://github.com/radare/radare2-regressions/issues/336

[2016-03-16 12:03] radare commented on #4326
im on this. ill commit soon

[2016-03-16 12:06] XVilka commented on #2985
See also https://github.com/sushant94/esil-tests

[2016-03-16 12:27] radare commented on #4326
Done in 21bb24b7a47f3205d50fb1f98c62a96eafa8319d

[2016-03-16 12:27] #4326 closed

[2016-03-16 12:57] radare commented on #4304
If you wanna get better m68k refs and analysis you should be implementing the ESIL expressions for each instruction

[2016-03-16 13:05] radare opened #4327 "Support MMX in ESIL"
more and more common programs are using MMX instructions lately, because of gcc optimizations. so it is important to support that

[2016-03-16 13:06] radare commented on #4327
this is /bin/ls from voidlinux having mmx instructions

[2016-03-16 13:07] radare commented on #4327
http://lolcathost.org/b/ls.zip

[2016-03-16 14:22] jarusified commented on #4173
I am interested in solving this? This is my idea right now, Basically When the host is Listening for Incoming Connections, I Should use (select() or new thread) for reading from stdin and pass that to existing functions right?? (tell me if this is the right path?)

[2016-03-16 14:22] radare commented on #4293
Aaah that makes sense, an ADD instruction is not suposed to reference an address in other architectures. let me adapt your patch and try if that can be generic for other architectures.
thanks!

[2016-03-16 14:28] XVilka commented on #4173
@jarusified radare2 already has it's own API to talk via the network - see libr/include/r_socket.h for API and libr/socket/*.c for implementation.

[2016-03-16 14:32] #4293 closed

[2016-03-16 14:35] XVilka opened #4328 "TCC build fails"
[code]

[2016-03-16 14:58] jarusified commented on #4173
@XVilka  will use that. But is the overall understanding of the issue correct?

[2016-03-16 15:00] XVilka commented on #4173
@jarusified there yes, just add the answering part.

[2016-03-16 15:12] vient commented on #4317
"Drop _pseudo tail for all" but "not all plugins do pseudo"? So all or not all?

[2016-03-16 15:29] KuroAku commented on #4124
I was reading this links

And the code for generating the core files in OSX needs superuser privileges. Does the debug plugin has those privileges? I have never written a debugger before, so I can't tell for sure.

[2016-03-16 15:37] srri commented on #2772
Sure, give me a few days to do so

Den onsdag 16. mars 2016 skrev Anton Kochkov <notifications@github.com>
følgende:

--
*Steven Richards*
sbrichards@mit.edu
+1.604.446.0174

[2016-03-16 15:44] radare commented on #4293
I did some more enhancements for the MIPS analyzer, also, call reg references are now properly handled if gp is set correctly, because delayed branches were not catched properly before.

[2016-03-16 15:49] radare commented on #4293
i have recently added `anal.strings` for aae and aar. so you can basically load the bin with bin.strings=false, and then check how many strings the analysis was able to find.

After all those changes, i see that not all refs are still catched, but we are improving :) feel free to submit more tests for mips analysis, this is necessary to avoid breaking stuff

[2016-03-16 16:03] radare commented on #4328
im aware of this, this is why i filled many issues trying to remove the
r_io and r_cons dependencies from many r2 modules. this way there will be
no problem for the tcc linker

On 16 March 2016 at 15:35, Anton Kochkov <notifications@github.com> wrote:

--
--pancake

[2016-03-16 16:07] radare commented on #4173
you can test this by doing:
[code]

and then:

[code]

the idea behind this issue is to review/cleanup/document the rap protocol
and add support for the server side to issue commands in the host one. This
will be easier to test/implement if done in python or nodejs, there are
already implementations of that protocol for them.

This is important because it will allow non-r2 rap servers to tell r2 w

[2016-03-16 16:48] XVilka opened #4331 "WebAssembly build target"
https://github.com/WebAssembly/binaryen#cc-source--asm2wasm--webassembly

[2016-03-16 17:55] radare commented on #4331
i guess that this will be done with emscripten, using the same script we already have, but until wasm is not released i will not spend a single minute of my life on this :P

[2016-03-16 17:58] radare commented on #4124
you need the same permissions than for debugging, aka signing the binary or be root on osx, or add entitlements and be root on ios

[2016-03-16 17:59] radare commented on #4317
it’s a bug marked as “question” for discussion, so we need to evaluate this and see if we really want to do something else than generating pseudocode with this module

[2016-03-17 07:06] mrmacete opened #4333 "search limits -1 on sliced mach0 goes beyond the selected slice"
On an iOS mach0 binary with armv7 and arm64 slices, when `search.from` and `search.to` are both set to -1, it seems that the search is performed on the whole binary and not only on the selected slice (using -b 64 in my case) resulting in exponentially slower search times.

I'm not sure if this is a bug or an intended behaviour, although this was unexpected for me. My working workaround is to alway

[2016-03-17 08:51] radare commented on #4333
It depends on search.in and if the binary is loaded into sections you will not be able to search on the whole file at all

[2016-03-17 09:00] radare commented on #4311
Yeah sounds good to me. But maybe we want a toggler for 16/32 instead of a var?

[2016-03-17 09:01] radare commented on #3244
See comments. Thanks!

[2016-03-17 09:35] mrmacete commented on #4333
wow, just didn't know about search.in :( i'll try it

[2016-03-17 09:35] #4333 closed

[2016-03-17 09:43] radare commented on #4333
Use "e search.in=?" To see all the values u can use here

[2016-03-17 10:17] mrmacete commented on #4333
great!

[2016-03-17 10:58] Maijin commented on #3520
This is fixed

[2016-03-17 10:58] #3520 closed

[2016-03-17 11:05] Maijin commented on #1745
@crowell Is the "/R/ pop;pop;pop" ok ? Because there are already tests for "/R/..." maybe that issue can be closed

[2016-03-17 11:38] radare opened #4334 "Add $variable pointing to the begining of the first section mapped"
Same for the last one.. in case they are all contiguous

[2016-03-17 16:01] radare opened #4335 "radiff2 -A to analyze binaries to find functions before diffing"

[2016-03-17 21:42] atalax opened #4336 "The /cmd/ endpoint in the web interface is not protected againts CSRF"
The `/cmd/` endpoint is not protected againts CSRF. This allows any site visited while the web server is running to execute arbitrary commands on the host.

[2016-03-17 21:48] atalax opened #4337 "The enyo and material web interfaces are vulnerable to XSS"
Again, this leads to arbitrary command execution.
PoC

[code]

Edit:
To clarify, this occurs when the string from the binary is show in the disassembly window.

[2016-03-17 23:10] radare opened #4338 "Add hold option in rarun2 to stop execution until a specific event happens"
Signal is received maybe? This is useful for attaching the debugger

[2016-03-18 00:31] radare commented on #4336
e http.cors=true

[2016-03-18 08:20] Maijin commented on #3882
See this one @edsrzf

[2016-03-18 08:40] atalax commented on #4336
I might be doing this wrong, but setting `e http.cors = true` does not really help
Try this for example:
[code]
Digging through the code, it looks like the `Origin:` header should be checked somewhere around [here](https://github.com/radare/radare2/blob/master/libr/core/rtr.c#L592), but as I don't know the codebase, I am not really sure if that is enough.

[2016-03-18 09:46] radare commented on #4336
Ah, i missunderstood you. if you dont want others to run commands in this radare session just load it in sandbox mode. `e cfg.sandbox=true`

[2016-03-18 10:17] atalax commented on #4336
Hm, thanks, I will be sure to add that to my .radare2rc from now on (note that the correct option is actually `http.sandbox = true`, `cfg.sandbox` disables the web server entirely).

Why is this not the default? I do not think leaving a wide open hole to the host system by default is a good idea...

[2016-03-18 11:48] c0riolis commented on #4228
https://github.com/radare/radare2-extras/pull/36

[2016-03-18 11:48] c0riolis commented on #4228
https://github.com/radare/radare2-extras/pull/38

[2016-03-18 11:59] radare commented on #4336
you have to run cfg.sandbox right after starting the webserver,

By default http.bind = localhost, so that port shouldnt be open for everyone. if having ports open for localhost is a problem for you you should run r2 in docker maybe or just enable the sandbox when you want others to participate there.

Also, even if you disable ! there are many other ways to run code in r2, this is why the sandbox

[2016-03-18 12:09] radare commented on #4228
Can you submit an r2pm package?

[2016-03-18 12:23] atalax commented on #4336
That seems to  [happen](https://github.com/radare/radare2/blob/master/libr/core/rtr.c#L449) automatically.

That does not really help anything though does it? The way [CSRF](https://en.wikipedia.org/wiki/Cross-site_request_forgery#Example_and_characteristics) works is as follows:

1) I start radare2 HTTP server on my machine
2) I visit an attacker controlled website
3) Attacker controlled website

[2016-03-18 12:52] Maijin commented on #3932
Closing thanks @oddcoder

[2016-03-18 12:52] #3932 closed

[2016-03-18 12:53] Maijin commented on #2101
WIP closing this

[2016-03-18 12:53] #2101 closed

[2016-03-18 12:54] radare opened #4342 "Implement imq and imj"

[2016-03-18 13:42] radare commented on #4342
(and add tests)

[2016-03-18 13:42] neuschaefer opened #4344 "x86: Wrong ESIL for ljmp"
I have a 32-bit program that does a `ljmp 8:0x34040`, which AFAIK sets `cs` to `8` and `eip` to `0x34040`. The opcode is `ea404003000800`.
The generated esil, however, is `0x8,eip,=`.

[code]

[2016-03-18 13:50] hdarwin opened #4345 "rasm2 can't assemble x86 string instruction."
[code]

[2016-03-18 15:25] c0riolis commented on #4228
Why closing it? There is still a lot of things to do to have assembly & disassembly :D

[2016-03-18 15:59] #4345 closed

[2016-03-18 16:00] radare commented on #4345
You can use x86.olly or x86.nasm or x86.tab when the default assembler misses an instruction. but adding them is easy

[2016-03-18 19:56] oddcoder opened #4347 "adding wildcard support for r2"
It will be cool if their is wildcard supporting in r2
this feature will be super useful in this case
`to /usr/include/*.h`
however it shoudln't be tied to `to` it should be generic to anything in r2

[2016-03-18 20:23] radare commented on #4347
See r_str_glob for this

[2016-03-18 21:47] l4l commented on #4254
I'm going to fix aes algo

[2016-03-19 01:57] #4335 closed

[2016-03-19 03:33] radare opened #4348 "Support `disable aslr` command in GDB protocol"
[code]

[2016-03-19 14:42] Maijin commented on #4144
So what about the issue with the offset "ruller" ?

[code]

[2016-03-19 14:45] Maijin commented on #3239
First thing will be to ensure search.from, search.to and so on respect prior search.align

[2016-03-19 14:51] Maijin commented on #1476
Two issues:

* `s 0 ; e search.from = 0 ; /m` -> Works
* `s 1000 ; e search.from = 0 ; /m` -> Doesn't work

----

* `s 0x1000 ; /x 9090cd80 ; s` -> 0x00001000 OK
* `s 0x1000 ; /m ; s` -> 0x100005574 WTF

[2016-03-19 20:01] KuroAku commented on #4124
A function for generating the core for mach0 binaries

only works if it's run with sudo privileges, even if the binary is signed.

Should I add a check for superuser privileges and refuse to run in case of not superuser? I don't know what's the prefered way to handle this situations.

I'm using El Capitan, maybe in older versions of OSX this function doesn't require superuser privileges.

[2016-03-19 22:00] radare commented on #1476
See search.in and set it to raw

[2016-03-19 22:09] Maijin commented on #1476
Doesn't help at all :(

[2016-03-19 22:26] oddcoder opened #4350 "r2 doesn't autoload types from dwarf"
when compiling C file containing any structure types with debug info. R2 parses the dwarf section of the elf. but it doesn't autoload types from the parsed dwarf into types sdb

[2016-03-19 22:29] radare opened #4351 "Output of t is wrong"
The current output of the `t` command is the same as `tk`. this is not correct. mainly because t should have a better/simpler output, and tk is used to access the database in raw. The output for `t` should be the key for the keys with value "type".. or the last part of the keys starting with `type.`

[2016-03-19 22:31] radare opened #4352 "td? is not really helpful"
We should probalby add a example like:
[code]
also there must be a space between `td` and the parameter.

See t? and td?

[2016-03-19 22:32] radare opened #4353 "t* doesnt works"

[2016-03-19 22:36] radare opened #4354 "Better `te`"
Some random issues for te

* [ ] Using `te` without anything else lists all the enums defined, but this is not explained in t?
* [ ] There's no te? help
* [x] output for `te Foo.COW` should be 1, not the entire k=v string.

[code]

[2016-03-19 22:40] radare commented on #4354
The output of `tb Foo.COW` matches what `te Foo.COW` should do. (imho).. what do you think?

[2016-03-19 22:43] radare opened #4355 "tf should be like te, but for functions"
In `t` we can store the following things:

* types (int, char, ..)
* structs
* enums
* function signatures
* bitfields  (tb)

We should clarify this and make them accessible using a single root command instead of multiple root ones. for example:

`t` -> list types
`ts` -> list structs
`te`-> enums
`tf` -> functions
`tb` -> bitfields

This is what i would probably expect without checking the help m

[2016-03-19 22:47] radare opened #4356 "tl is incomplete"
Some issues with tl

* [x] tl- doesnt exist, so you cant remove a link
* [x] link is probably a bad name for this operation
* [x] cannot redefine type (tl int;tl char;pd 1)
* [x] current tf functionality should be in tl
* [x] no `tl*` is implemented

[2016-03-19 22:47] radare opened #4357 "Verify/fix that all type definitions and links are stored and restored in projects"

[2016-03-19 22:48] radare opened #4358 "ts is confusing"
The help message is really poor, and we shuold probably implement this under the `tl` command and use `ts` for structs

[2016-03-19 22:51] radare opened #4359 "Types in disasm doesnt consume bytes"
See that there are some issues here:
[code]
* [ ] struct int wtf
* [ ] links of offset=type should also sepcify a name
* [ ] those names doesnt need to be unique
* [ ] the offset of the next instruction should be `$$ + sizeof(typeIn($$))`

[2016-03-19 22:52] radare opened #4360 "Add support for unions in t"

[2016-03-19 23:12] Maijin commented on #4353
Duplicate

[2016-03-19 23:12] #4353 closed

[2016-03-19 23:13] Maijin commented on #4350
Duplicate https://github.com/radare/radare2/issues/774

[2016-03-19 23:13] #4350 closed

[2016-03-19 23:17] Maijin commented on #4353
https://github.com/radare/radare2/issues/3925

[2016-03-19 23:59] radare opened #4361 "Show value for type for some specific bytes"
(from xvilka)
Add one more pls - 'ability to apply type to the sequence of bytes directly from command line'

`ts struct qwe 474333456`

(pancake)
it is useful to be able to show the values for a specific type (struct, union ..) with some specific data.
this can be already done with `pf ... @x:....` .. the pf expression can be extracted from the struct type, and the hexpairs will go after the @x:

[2016-03-20 01:24] #4267 closed

[2016-03-20 01:46] radare commented on #3621
[code]

[2016-03-20 01:59] radare opened #4362 "Add `aex` command to emulate hexpairs"
This command must work like this:
[code]
This is `inc eax` for x86

[2016-03-20 02:01] radare opened #4363 "Add ae subcommand to emulate N instructions starting at X offset"
Without having to change the program counter by hand like we can do now:

[code]

[2016-03-20 02:30] radare commented on #4179
`r_reg_arena_set_bytes` is the function this command must use
its just a call to `r_str_hexstr2bin()` and then pass this to set_bytes
the command can be drw and arw

[2016-03-20 02:32] radare commented on #4038
ping

[2016-03-20 07:27] oddcoder commented on #4351
something like this ?
[code]

[2016-03-20 07:47] oddcoder commented on #4351
ok and what about struct types ?

[2016-03-20 09:04] radare commented on #4351
Maybe do this in ts?

[2016-03-20 09:06] oddcoder commented on #4351
what should ts be exactly doing ?

[2016-03-20 11:18] oddcoder commented on #4352
easy one

[2016-03-20 11:44] XVilka opened #4365 "Alias in 'd' commands for 'ood'"
May be 'doo'? Since reopening debugger with arguments - very common need and most people search it in the 'd' commands namespace

[2016-03-20 11:46] XVilka commented on #4360
Especially to show them and switch on the fly

[2016-03-20 12:41] #4351 closed

[2016-03-20 12:41] #4352 closed

[2016-03-20 13:43] oddcoder commented on #4354
| tb <enum> <value>  Show matching enum bitfield for given number
| te <enum> <value>  Show name for given enum number
the correct way of using te is
[code]
output: COW
while
[code]
output: 1
no need to change it I think

On 20 March 2016 at 00:40, radare <notifications@github.com> wrote:

[2016-03-20 14:54] radare opened #4367 "Better pds"
* [x] support for funciton boundaries (pdfs)
* [ ] length argument ignored (pds $F)
* [x] show conditional branches and labels
* [x] only show strings (not labels or function calls)

[2016-03-20 15:36] radare opened #4368 "Implement ldid -e"
To show embedded iOS binary entitlements

[2016-03-20 15:39] Maijin opened #4369 "to b.h error not explicit"
When opening this struct with to, the error reported is `/tmp/b.h:4: error: bracket expected` where instead it should tell the user that the type `WORD` is not defined.

[code]

[2016-03-20 17:37] oddcoder commented on #4355
ok :D :D always writing specs is very helpfull !!  but if it was done before coding step :last_quarter_moon_with_face:

[2016-03-20 22:06] condret commented on #4327
what do you mean by support?

[2016-03-20 22:16] XVilka commented on #4327
I think decoding them into ESIL instructions
On Mar 21, 2016 1:07 AM, "condret" <notifications@github.com> wrote:

[2016-03-20 22:24] Maijin commented on #4306
https://github.com/radare/radare2/issues/832

[2016-03-20 22:31] condret opened #4370 "why does r_io need to know if we do debugging or not?"

[2016-03-21 00:05] radare commented on #4144
Dunno whats a ruller

[2016-03-21 00:05] radare commented on #4365
Yep lgtm

[2016-03-21 00:56] radare commented on #4360
Switch?

[2016-03-21 00:58] radare commented on #4124
The important part is to make it work. Being root or not is something that can be solved later, and i dont get why do you need to use that api

[2016-03-21 01:47] zonkzonk opened #4371 "setting zf?"
morrn,

as asked in #radare, how to get/set zf bit? I can get fine with dr zf or dr rflags, but how to set?

[code]

Greetings
--zlul

![use](https://cloud.githubusercontent.com/assets/5694980/13909263/c82210ba-ef0f-11e5-92a2-90b93e26f682.png)

[2016-03-21 02:15] radare commented on #4371
dr zf=1

But this depends on the regprofile so you will probably need to fix it (see drp) or just modify the eflags

[2016-03-21 02:16] radare commented on #4306
We should disable afna by default. And add anal.autoname for this purpose

[2016-03-21 02:24] radare commented on #4369
Tell this to the tcc guys. This is not our code. Are you sure WORD is not defined?

[2016-03-21 02:25] radare commented on #4354
Ok close it

[2016-03-21 02:25] radare commented on #3239
👍

[2016-03-21 02:27] radare commented on #4355
Even if you design something for months you will notice the design is flawed when you write the code or use the functionality. I prefer to write pocs and have working or usable stuff that can be improved than tons of docs and drafts for something that will never exist because it will be too poorly interesting to do

[2016-03-21 02:30] radare commented on #4254
Cool!

Maybe @condret can point you to the issues he was having and the eay to integrated in esil. But for now just focus on implementing it for rahash2

Thanks

[2016-03-21 02:32] radare commented on #4344
This is a very easy thing to fix. Can you submit a test case for the r2r repo? Do you wanna try to fix it?

Thanks

[2016-03-21 05:47] zonkzonk commented on #4371
hm, doesn't work:

[0x7f57de928d90]> drp~zf
gpr     zf      .1      .1158   0       zero

[2016-03-21 05:48] zonkzonk commented on #4371
using dr zf=1 at this time :)

[2016-03-21 05:58] XVilka commented on #4369
WORD is not standart type, but we may want to add it as typedef with some
distributed header with our tcc.
On Mar 21, 2016 5:24 AM, "radare" <notifications@github.com> wrote:

[2016-03-21 06:02] zonkzonk commented on #4371
exit code ?? seems wrong in current version:
[0x00600078]> dr zf=1
[0x00600078]> ??
1
[0x00600078]> !r2 -v
Segmentation fault
,r2 -v
radare2 0.10.2-git 10652 @ linux-little-x86-64 git.0.10.1-195-g2a82395
commit: 2a82395c3fc0b23a1376acfa14cc308d47f297cf build: 2016-03-21

[2016-03-21 07:48] NaveenBoggarapu opened #4372 "radiff2: "Buffer truncated....""
I was exploring radiff2 using the below programs

    /* test1.c */
    #include<stdio.h>
    void main(){
        int array[20];
        int k;
        for(k=0; k < 20; k++){
                array[k] = 10;
        }
    }

    /* test1_sim.c */
    #include<stdio.h>
    void main(){
        int array[20];
        int k;
        for(k=0; k < 20; k++){
                array[k] = 5;
        }
    }

[2016-03-21 08:43] radare commented on #4371
Ive got a segfault doing !vim yesterday.. I think theres a regression in the code that setups the environ vars.

You can also show the version with the ?V command

[2016-03-21 08:53] radare commented on #4372
This is because -c compares bytes and the warning message tells you that one file is 4 bytes bigger than the other.

I dont see anything wrong in here. Maybe just clarifying that radiff have commands to find differences at byte, deltified byte, byte similarities, code graph and disassembly..

[2016-03-21 08:54] radare commented on #4372
As long as you have been successfully using radiff2, can you suggest some ideas for enhancing it? Some different output, or better help messages? Thanks!

[2016-03-21 09:05] NaveenBoggarapu commented on #4372
But, in "https://radare.gitbooks.io/radare2book/content/binary_diffing.html" it is mentioned that

I was in an impression that it will show the count.

I would suggest to add a feature to compare a specific symbol further in, like in this case, after observing the output using ` -C` option I identify that sym.main is an unmatch, if there is a provision to analyze with respect to a symbol as done i

[2016-03-21 09:54] Maijin commented on #4144
Really

[code]

[2016-03-21 09:56] radare commented on #4144
i call it header, and reading the mail from the phone it looked like crap

[2016-03-21 09:57] Maijin commented on #4144
So, what about the header

[2016-03-21 09:57] radare commented on #4144
btw, how many differences do i have to find in this picture?. there's one missing fruit in the bottom-right corner

[2016-03-21 09:58] radare commented on #4144
ah! the buterfly in the cloud , right on top of the mouse head!

[2016-03-21 09:58] Maijin commented on #4354
Letting open for t? and te?

[2016-03-21 09:58] radare commented on #4144
and the flower in front of the ladybug

[2016-03-21 10:01] Maijin commented on #4144
xD ok, but what about the header, removed or not removed.

[2016-03-21 10:02] radare commented on #4144
you are not really helpful in finding the real problem, there's a LADYBUG, A FUCKING LADYBUG

[2016-03-21 10:02] XVilka commented on #4360
@radare for example see:
[code]
So we need to switch between printing `struct c` with int types and `struct y` with float inside the union b. Idea is not to print all of them, but ability to select only one and hide others. Something like this.

[2016-03-21 10:04] Maijin commented on #4144
Grass on the left is missing and beard/hair of the lion is different

[2016-03-21 10:07] XVilka commented on #4144
I've found LADYBUG too:
![](http://nick.mtvnimages.com/nick/properties/miraculous/season-1/characters/miraculous-ladybug-about-web.jpg?quality=0.75)

[2016-03-21 10:18] radare commented on #4144
this thing you mean? https://github.com/radare/radare2/commit/b56d1c01bf2f58fcd2d5cb54067b73973f21e511

[2016-03-21 10:19] radare commented on #4144
can you write tests for this? the current print_hexdump_header thing is quite complex and im afraid of having regressions when cleaning it up

[2016-03-21 10:20] radare commented on #4360
you mean conditional structures depending on some types like 010 does?

[2016-03-21 10:22] XVilka commented on #4360
No, conditional structures are awesome and will be nice addition too, but I meant unions. To switch between possible values somehow. Have no idea how to do that yet.

[2016-03-21 10:22] radare commented on #4372
isnt -C -g <symbol> not working?

awesome!

write test cases for the radare2-regressions repo if you are in the mood, they are really helpful to avoid loosing features when involuntarily breaking stuff.

Thanks!

[2016-03-21 10:30] KuroAku commented on #4124
The header of the corefile (acording to http://osxbook.com/book/bonus/chapter8/core/) needs the cpu type and subtype. To obtain that info the function is needed.

I could be wrong, but that's the conclusion I reach.

[2016-03-21 10:32] radare commented on #4124
you can get this info by parsing the header in memory, to create the core file you just need to read memory and enumerate the maps which is already done.

[2016-03-21 10:34] radare commented on #4360
about conditional structures, maybe we can just abuse cpp for this. reloading the same struct multiple times with different defines set depending on the value of a specific field. that will ease the implementation but slowldown the runtime because will require to parse it more times.

[2016-03-21 10:59] NaveenBoggarapu commented on #4372
No, -C -g <symbol> doesn't work for that.

After going through the code, I have realized that -C and -g doesn't work together, when both the options are given, last option of these two will work.

I am still confused about the difference shown, it is different from the output shown in radare2 book.

On the other note, there are few minor spelling mistakes in the code comments and few corrections r

[2016-03-21 12:03] radare opened #4373 "Add support to add comments to variables"

[2016-03-21 12:25] l4l commented on #4254
Ok, why not
Existed implementation don't have aes-192/256 support
So i guess it can take a while for fixing/integrating other

[2016-03-21 12:42] radare commented on #4372
fork the repository, create a branch and push the commits with your changes. then the github website will suggest you to create a pull request. press the button and travis/jenkins will rebuild and run the entire testsuite and i’ll review it to merge it or add comments

[2016-03-21 14:12] hteso opened #4374 "Simplifies flowgraph"
It would be good to have a command to export in "dot" (graphviz) a simplified flowgraph with only the Basic Block address on each node. Same as with the interactive graph (`VV`) zoomed out, but in dot.

A example:

http://pastebin.com/VJC1eRNB

[2016-03-21 15:02] crowell commented on #4369
ida ships with a header that defines WORD/DWORD/QWORD/etc. it may be nice
to our own with typedefs of stuff.

On Mon, Mar 21, 2016 at 1:58 AM, Anton Kochkov <notifications@github.com>
wrote:

--
Jeff Crowell
https://github.com/crowell

[2016-03-21 15:23] Maijin commented on #4369
https://github.com/radare/radare2/blob/master/libr/anal/d/windows-types

[2016-03-21 15:50] natewalck opened #4375 "Invalid install location for OS X 10.11+"
The OS X installer package is broken on 10.11+ when SIP is enabled.

It is installing files to ```/usr/bin``` which is a SIP protected location. It should instead install to ```/usr/local/bin``` or another non-SIP protected location.

[2016-03-21 16:33] leberus commented on #152
Hi! Is there anyone taking a look at this? If not, I'd like to take a look into it!

[2016-03-21 16:52] radare opened #4377 "rabin2 -x /etc/services no error"
it does nothing and it shows nothing

[2016-03-21 16:54] Maijin commented on #4377
@lionaneesh see this ^

[2016-03-21 17:54] Darredevil commented on #4365
@XVilka @radare PR ready for merge

[2016-03-21 18:29] Maijin commented on #4365
@Darredevil small tips, if you add Fix like "Fix #4365" in your commit message, it will automatically close the issue. good to know for next time ;)

[2016-03-21 18:44] Darredevil commented on #4365
@Maijin Got it, thx :D

[2016-03-21 18:46] zonkzonk commented on #4371
,file core.1164*
core.11648: ELF 64-bit LSB core file x86-64, version 1 (SYSV),
SVR4-style, from 'r2 -d use'
core.11649: ELF 64-bit LSB core file x86-64, version 1 (SYSV),
SVR4-style, from './use'
,gdb -q r2 core.11648
Reading symbols from r2...done.

warning: core file may not match specified executable file.
[New LWP 11648]

warning: Could not load shared library symbols for linux-vdso.so.1.
Do

[2016-03-21 19:49] Darredevil commented on #4362
@radare @XVilka I would like to tackle this but I need more information

[2016-03-21 20:55] #4365 closed

[2016-03-21 20:57] XVilka commented on #4362
Thx, commited in https://github.com/radare/radare2/commit/b362e2d2fb77149a374618d75baa29fb77be0e0c

[2016-03-21 20:58] VisualPrankDude opened #4379 "lulz issue: drt 128 :)"
[code]

[2016-03-21 21:31] XVilka opened #4380 "Getting more done in GitHub with ZenHub"
Hola! @XVilka has created a [ZenHub](http://www.zenhub.io) account for the **radare** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub account. Once

[2016-03-21 21:32] #4380 closed

[2016-03-21 21:32] XVilka commented on #4380
Sorry :(

[2016-03-21 21:56] oddcoder commented on #4380
looks cool

On 21 March 2016 at 23:32, Anton Kochkov <notifications@github.com> wrote:

[2016-03-21 22:11] condret commented on #4327
k

[2016-03-21 23:19] radare opened #4381 "Add command to 'save as'"

[2016-03-21 23:31] radare opened #4382 "Do not include strings in the radiff2 output"
(if flag starts by `str.` must be ignored)

[2016-03-21 23:31] revskills commented on #4382
I wonder how you identified this issue

[2016-03-22 00:15] radare opened #4383 "radiff2 -CC conflicts with -A"
Imho we shuold deprecate -CC

[2016-03-22 00:36] radare opened #4384 "Sort output of radiff2 -C"
order by:

* alphabetically by function name
* offset
* similarity
* type (NEW, MATCH, UNMATCH)
* function size

in:

* forward
* backward

[2016-03-22 00:36] radare commented on #4382
Fixed in 895a9668843d78ba2bd9465d05f8f5718bf749d6

[2016-03-22 00:36] #4382 closed

[2016-03-22 00:40] radare commented on #4306
I have added the `anal.autoname` variable set to false by default. we can enable it in the future when we make it better.

[2016-03-22 00:55] #4374 closed

[2016-03-22 00:56] radare commented on #3794
404

[2016-03-22 00:56] radare commented on #945
Still happening?

[2016-03-22 01:05] #4279 closed

[2016-03-22 02:28] ninjahacker commented on #4311
Related: #4091 #3924
Also, there are some regressions that need to be brought up to passing (based on those issues).
I was hoping to some day get to do this, but I don't know much about ESIL. Through emulation, are we going to mark each opcode as 16 vs. 32 vs. 64 bit? Then when we seek to an offset, it is known how to disassemble?

[2016-03-22 05:38] oddcoder commented on #4360
at the current time
unions are not parsed correctly
[code]

[2016-03-22 08:56] radare commented on #4311
This is already supported theres a glibal asm.bits value taken from rbin, but this value can change depending on fcn->bits or section->bits. Also theres ahb to change the anal hint bits. To change the bits for N instructions.

What we need is a way to represent in esil which instructions change the cpu mode like bx or so.

[2016-03-22 08:58] radare commented on #4362
Aex != doo ????

[2016-03-22 08:58] radare commented on #4362
What info do you need?

[2016-03-22 10:50] radare commented on #4360
Should be easy to fix tcc to change struct for union in this case

[2016-03-22 10:50] #4354 closed

[2016-03-22 11:39] radare commented on #4304
Shall we use capstone by default on m68k?

[2016-03-22 11:40] radare commented on #4304
(im asking because i dont really RE m68k code.. so you can have a better opinion on this)

[2016-03-22 11:41] radare commented on #4304
Capstone seems to disassemble this instruction different than GNU:
[code]

bytes: 33fc0100

[2016-03-22 11:44] radare commented on #4304
I have updated the tests and commited some changes, so imho it is working now. please confirm

[2016-03-22 11:55] radare commented on #4383
Fixed in d426a4e4a560b499087b2f82c5df528930984a8c

[2016-03-22 11:55] #4383 closed

[2016-03-22 12:58] hteso commented on #945
No, no empty nodes now; but eh graph is huge.

[2016-03-22 13:25] Maijin commented on #4304
@emoon

[2016-03-22 13:36] XVilka opened #4390 "'tp' command to print type"
e.g. we have some type like this:
[code]
and it was loaded already in types database, so we can apply it to the any address, without saving the link between them:
[code]

[2016-03-22 14:26] emoon commented on #4304
I think the difference here is because the instruction ```33fc0100``` isn't actually legal. To generate this instruction

[code]

The following bytes are needed
[code]

Which can be verified by https://www.onlinedisassembler.com and the output from capstone is

[code]

[2016-03-22 15:50] XVilka commented on #4362
@radare already explained, now we can wait for PR :)

[2016-03-22 16:10] #4355 closed

[2016-03-22 16:10] #4358 closed

[2016-03-22 16:18] cr1901 commented on #4304
I was pulling my hair out trying to decode this instruction (unsuccessfully) earlier and reached the same conclusion. Something isn't right here... (it's also possible that the tables I'm using suck too)

[2016-03-22 16:24] XVilka opened #4392 "dyldcache file format support broken"
It takes 100% cpu and extracts no files at all.
The fileformat has changed and the current api changes broke the plugin

[2016-03-22 16:26] crowell commented on #4381
`Ps [file]` is save as, no?

[2016-03-22 16:27] XVilka commented on #3896
This library can be reused https://github.com/andoma/vmir

[2016-03-22 16:28] emoon commented on #4304
Also Genesis/Megadrive uses a "pure" m68k right? (Meaning that it doesn't have any extensions or similar to the instruction set)

[2016-03-22 16:42] cr1901 commented on #4304
I believe it's a pure m68k.
Use the capstone backend for now. Was the GNU backend written specifically for r2?

[2016-03-22 16:52] hteso opened #4393 ""aaaa" command via r_core_cmd_str"
When executed via `r_core_cmd_str` inside a thread, the `aaaa` command doesn't rename the functions.

[2016-03-22 17:15] radare commented on #4392
it was supporting only 32bit dyldcaches, now they are 64bit (because of arm64).

[2016-03-22 17:18] alvarofe commented on #4392
This can be useful  http://newosxbook.com/tools/joker.html the source code is available

[2016-03-22 17:21] emoon commented on #4304
Ok I have investigate this a bit more

https://www.onlinedisassembler.com/odaweb/YU6DCsrO/0

With these bytes

[code]

Capstone will output

0x1000:	movem.l	(a7)+, d7/a0
0x1004:	subq.b	#$1, $ff001b.l
0x100a:	move.b	$ff001c.l, $a01fff.l
0x1014:	move.w	#$0, $a11100.l
0x101c:	rte
[code]

[2016-03-22 17:51] radare commented on #4375
Nope this was fixed days before elcapitan was released. Whih version are u using? Are u running the sys/install.sh?

[2016-03-22 17:52] radare commented on #4379
When passimg a bitsize that is not handled by any reg just shows them all

[2016-03-22 17:52] radare commented on #4360
Are u on this?

[2016-03-22 18:03] alvarofe commented on #152
afair there is not one working on this. So go ahead @leberus :)

[2016-03-22 18:04] alvarofe commented on #4375
he refers to .pkg. I've just checked and it fails. Just use r2 from git and `./sys/install.sh`

[2016-03-22 18:12] oddcoder commented on #4360
I am not sure ! most probably I wont get into tcc

[2016-03-22 18:17] jarusified commented on #4173
initial fix : https://github.com/radare/radare2-bindings/pull/107

[2016-03-22 18:24] radare commented on #4375
fixed in master, will be ready in the next release

[2016-03-22 18:24] #4375 closed

[2016-03-22 18:31] natewalck commented on #4375
Yep this was for the .pkg. Thanks for the quick fix!
On Tue, Mar 22, 2016 at 11:25 AM radare <notifications@github.com> wrote:

[2016-03-22 18:34] radare opened #4394 "update the swift demangler"
now that swift is opensource we should port the c++ version to C

i dont think the mangling is gonna change much from 2.2 to 3.x

[2016-03-22 18:36] alvarofe commented on #4394
https://mikeash.com/pyblog/friday-qa-2014-08-15-swift-name-mangling.html

[2016-03-22 18:50] l4l commented on #4254
I've done most of the work for implementation [here](https://github.com/l4l/radare2/commit/e27f953e6920a9cba12e6f929a6429d071e702fd) but there is still critical bug(s) that I still cannot find. So I really will be glad to receive any help with it

[2016-03-22 18:51] radare commented on #4254
can you describe the bug? :P

[2016-03-22 18:54] radare commented on #4173
It's good to have this fix in python, but the proper fix should be in core, are you planning to do it too?

[2016-03-22 18:59] l4l commented on #4254
It will be easy to fix if know where's the problem :( I guess it something related to buffer overflow due to I got sigsegvs

[2016-03-22 19:24] jarusified commented on #4173
yes, i am planning to the same.

[2016-03-22 19:35] l4l commented on #4254
Some wierd buffer overflow. Logs: [gdb](http://pastebin.com/sHj9YBKC), [asan](http://pastebin.com/7gifQDc6)

[2016-03-22 20:03] radare commented on #4254
use valgrind, this is a clear buffer overflow at radare2/libr/crypto/crypto.c:120

[2016-03-22 20:03] radare commented on #4173
cool!

[2016-03-22 20:10] #4360 closed

[2016-03-22 20:10] radare commented on #4360
Fear is the worst enemy ;) be brave and solutions will appear quickly.

[2016-03-22 20:10] radare commented on #4360
please confirm and write tests, because i dont see the output of t

[2016-03-22 20:11] radare commented on #4360
't' should list all the types and now is not showing any type at all. also tu is not implemented

[2016-03-22 20:11] radare commented on #4360
but it is parsed and stored properly now

[2016-03-22 21:12] cr1901 commented on #4304
@radare2: Negative. Did not fix the issue on my end.

GNU engine:
[code]

Capstone engine:
[code]

[2016-03-22 21:17] emoon commented on #4304
This looks weird to me

GNU

[code]

And for Capstone

[code]

It seems data is missing here?

[2016-03-22 21:24] cr1901 commented on #4304
I have no idea what's going on, tbh. It's like the printed output does not match radare's internal representation. Very interesting that its choking on this ROM. I could try dumping again and seeing if I have a bad dump.

[2016-03-22 21:25] emoon commented on #4304
If I insert

[code]

In Capstone I get

[code]

Which is the expected result. It seems like the data is being feed in some bad way.. dunno

[2016-03-22 21:28] emoon commented on #4304
I don't think you have a bad ROM. It seems more to be the case that either the m68k backend is behaving bad depending on how the input is feed or that it returns back the wrong size (which seems weird as it works fine when I try this is the capstone example code)

[2016-03-22 22:07] zonkzonk opened #4397 "iz string length"
morrn,

is it possible to specify string length in iz(z) like in strings -n ?

Greetings
--zlul

[2016-03-22 22:11] Maijin commented on #4397
bin.minstr: Minimum string length for r_bin
bin.maxstr: Maximum string length for r_bin

[2016-03-22 22:12] Maijin commented on #4397
and in rabin2:  -N [min:max]    force min:max number of chars per string (see -z and -zz)

[2016-03-22 22:35] oddcoder opened #4400 "add support for typedefs"
probably their would be `tt` to show typedefs just like `te` `tf`...ect and tcc should be able to add typedefs to sdb

[2016-03-22 22:55] zonkzonk commented on #4397
@maijin doesn't work

[2016-03-22 22:55] Maijin commented on #4397
what doesn't work

[2016-03-22 22:58] zonkzonk commented on #4397
forgot to set maxstr

[2016-03-22 23:10] #4397 closed

[2016-03-22 23:19] zonkzonk commented on #4371
can be closed, can't reproduce in bbbe3a2519b53e85781d1f9d3f082c9318eba5df

[2016-03-22 23:32] #4371 closed

[2016-03-23 00:13] #4367 closed

[2016-03-23 00:35] #3925 closed

[2016-03-23 00:56] radare commented on #4304
can you paste your capstone test?

[2016-03-23 08:09] Maijin commented on #4357
https://github.com/radare/radare2/commit/1a3e09d1e8894c98ac265da8c741b3bd7ae49aaa ; Now need some tests

[2016-03-23 08:22] radare commented on #4381
This is project save as, but not file save as

[2016-03-23 08:23] Maijin commented on #4381
what's the difference with `wt` ?

[2016-03-23 08:25] radare commented on #945
Because of the string refs being considered calls. So this can be closed?

[2016-03-23 08:28] hteso commented on #945
Yep, thanks :)

[2016-03-23 09:06] #945 closed

[2016-03-23 10:08] emoon commented on #4304
The only thing I did was to change the ```tests/test_m68k.c```

[code]

And also comment out the line

[code]

Because the example code has a bug in it (but the real printer code does what it should)

[2016-03-23 12:18] hummypkg opened #4403 "Find more string references for MIPS and remove some false positives."
Thanks for making the changes in #4293
Here's another patch that improves this, allowing it to find strings referenced through subtraction and removing some references that aren't relevant by checking the register name (works for me, there may be a better way of doing this...)

[mipsrel2.diff.txt](https://github.com/radare/radare2/files/185936/mipsrel2.diff.txt)

Without the patch:

    [0x00413aa

[2016-03-23 12:23] XVilka commented on #4403
Please, provide also the test for radare2-regressions. Thank you!

[2016-03-23 13:24] hummypkg commented on #4403
New test file is at: http://hpkg.tv/misc/mips-busybox
and test script (t.anal/mips/mips-ref2)

    for a in . .. ../.. ; do [ -e $a/tests.sh ] && . $a/tests.sh ; done

    PLUGIN=mips

    NAME="mips hello ref anal subtract"
    BROKEN=
    ARGS="-e bin.strings=false -e anal.strings=true"
    FILE=../../bins/elf/busybox-mips
    CMDS="
    aae @entry0
    pd 1 @ 0x00406228

    "
    EXPECT='

[2016-03-23 14:37] hteso opened #4404 "Incorrect JSON output at command ij"
The command `ij`, at least with PE files, returns an incorrect JSON:

`"{"core":{"type":"EXEC (Executable file)","file":"/Users/hteso/Pocs/pocs/pe-w32-x86","fd":36,"size":23464,"mode":"-r--","obsz":0,"block":256,"format":"pe"},"bin":{"pic":false,"canary":false,"nx":false,"crypto":false,"va":true,"intrp":"","bintype":"pe","class":"PE32","lang":"","arch":"x86","bits":32,"machine":"i386","os":"window

[2016-03-23 14:42] leberus commented on #152
Ok, then I'll take it ;)

[2016-03-23 15:20] Maijin commented on #4403
Well, a pull request is better in this case

[2016-03-23 15:20] Maijin commented on #4404
@lionaneesh See this

[2016-03-23 15:57] hummypkg commented on #4403
I've created a pull request against radare2-regressions for the new test, #345

[2016-03-23 19:55] yashi21 opened #4408 "Problem in eco (helps in choosing theme)"
r2  <some_binary_file>

[2016-03-23 20:18] yashi21 opened #4409 "Segmentation Fault in 'eco' (in a specific situation)"
In command prompt:

r2  [some_binary_file]
_CASE 1:_
->eco

_whereas
CASE 2:_
->eco basic

->eco

What's the issue?
Basically when I am using **eco** without specifying any theme it is leading to segmentation fault. This too happening only if eco  is used in such a way for the first time. If eco [theme] is run successfully once, then eco is running properly.

[2016-03-23 20:21] #4408 closed

[2016-03-23 21:17] iriahi opened #4410 "New command needed for the /m web-ui"
I'm trying to display information shown at the bottom this [screenshot](https://imgur.com/UjdF6Dq).
As discussed with @radare, it would be great if a command exposed all the information needed.

[2016-03-23 21:32] #4409 closed

[2016-03-23 21:32] radare commented on #4409
Thanks! it's fixed now in master

[2016-03-23 21:35] #4404 closed

[2016-03-23 23:44] alvarofe commented on #4393
it should be at least if you have anal.autoname=true

[code]
but anyway i will remove the core.cmd and use the API for accomplish the same.

Also i've spotted an issue and it can be the reason why is not working.

[code]

there aren't functions in the functions flag space.

[2016-03-24 00:18] yashi21 commented on #3964
ragg2 is not working for any ".c" file... i.e it isn't producing any executable files for any ".c" file.
I am new to radare2, so please correct me if I am wrong.

[2016-03-24 06:56] lionaneesh commented on #4377
It passes the bin object to each of the RbinXtr plugin's check() method and each one of them return 0 (because none of the plugins support its extraction). Then it exits. Should we show an error message?

[2016-03-24 09:55] hummypkg commented on #4403
Closing since change has now been merged.

[2016-03-24 09:55] #4403 closed

[2016-03-24 11:29] #1537 closed

[2016-03-24 12:10] radare commented on #3964
Ragg2 supports two languages. One of them is C, and uses gcc or clang as backend. But it requires that the functions you use are registered as syscalls in the sflib included. Otherwise it will not work.

The other language is a minimalistic compiler that generates relocatable code . This language was originally called rc and the compiler was rcc (relocatable code compiler)

[2016-03-24 13:41] radare commented on #4404
See what? I already fixed this

[2016-03-24 13:42] radare commented on #152
👍

[2016-03-24 13:43] radare commented on #4381
Wt saves virtual memory not physical one

[2016-03-24 14:23] radare commented on #4372
Ping

[2016-03-24 14:24] radare commented on #4370
Already answered on irc

[2016-03-24 15:00] radare commented on #4304
something im worried about the capstone output is that offsets are not padded with zeros so it makes ugly to read. compare this:

[code]

output:
[code]

the second is capstone and it looks wrong to me

[2016-03-24 15:02] radare commented on #4304
also i can point you to over 9000 instructions that gnu disassembles as valid mips instructions and capstone recognizes them as invalid. for example: ff00f94f or 0000f0ff and many others

[2016-03-24 15:04] radare commented on #4304
ok, using asm.bits=64, makes capstone happy with those instructions

[2016-03-24 15:13] radare commented on #4304
nevermind, i confused the issue. i have found the bug and ill push the fix soon

[2016-03-24 15:19] emoon commented on #4304
Sweet! :+1:

[2016-03-24 15:54] Maijin commented on #4381
k

[2016-03-24 15:55] Maijin commented on #4404
@radare I posted it prior you fixed it :P

[2016-03-24 17:28] radare commented on #4304
@emoon what do you think about the 0x%08x instead of 0x%x for jmp/call numbers?

[2016-03-24 17:37] emoon commented on #4304
0x%08x would likely be better yes

[2016-03-24 19:08] oddcoder commented on #4356
what is the purpose of `tl*`

[2016-03-24 21:15] Maijin commented on #4362
https://github.com/radare/radare2-regressions/pull/347

[2016-03-24 21:22] radare commented on #4304
Can you submit the change in capstone master?

[2016-03-24 21:46] emoon commented on #4304
Now when I think about it this will actually require some more work. Right now the m68k backend doesn't put instructions into instruction groups the code doesn't actually know if it's printing a immediate for a jump or not.

I guess it would be possible to do it anyway but it would be a bit hacky which I would prefer not to do so implementing instruction groups would be the first

Also I have no s

[2016-03-24 21:55] Maijin commented on #4304
r2 uses next no worries.

[2016-03-24 21:56] Maijin commented on #4356
fix by @oddcoder in https://github.com/radare/radare2/pull/4417

[2016-03-24 21:56] #4356 closed

[2016-03-24 22:11] #4362 closed

[2016-03-24 23:19] #4393 closed

[2016-03-24 23:48] radare commented on #4304
the r2 disasembler removes the ‘#’ from the disassembled instructions to make it consistent with the rest of architectures and simplify reading and parsing. afaik there’s no real issue in removing it, isnt? is there any instruction with the same name that any of the arguments can be an immediate or an address and generates different opcode?

[2016-03-25 06:39] emoon commented on #4304
I'm confused. I thought the issue was to change from ```jmp 0xff``` to ```jmp 0x000000ff``` ?

[2016-03-25 06:56] radare commented on #4304
Yes it is

[2016-03-25 06:59] emoon commented on #4304
Alright I will take a look at (can't do it right now but hopefully in not that long time)

[2016-03-25 07:56] radare commented on #4304
👍

[2016-03-25 09:18] XVilka opened #4419 "Disable bochs plugin (or fix it) for Android builds"
[code]

http://ci.rada.re/job/radare2-android-arm

[2016-03-25 09:20] radare commented on #4419
what about fixing it? i told skuater to fix this yesterday. but i’ll do it right now after the 2nd coffee. zzzzzz

[2016-03-25 09:26] XVilka commented on #4419
I'll fix it after work if no one do that.

[2016-03-25 09:27] radare commented on #4419
im on this as i said in the prev comment

[2016-03-25 09:34] radare commented on #4419
fixed

[2016-03-25 09:34] #4419 closed

[2016-03-25 09:38] radare commented on #4410
What info do we want to show here? i will probably implement this in the `aai` command (analyze-all-info).

[2016-03-25 10:06] Maijin commented on #4410
Or reuse content of p-h

[2016-03-25 11:14] sushant94 opened #4420 "Mismatched r13 in esil emulation"
Binary: Ubuntu 14.04 /bin/ls
Instruction: mov r13d, edi
ESIL: rdi,r13d,=
Offset: 0x411733

| REGISTER| GDB                                   | ESIL                                  |
|---------|---------------------------------------|---------------------------------------|
| r13     | 0x7fffffffe050 -> 0x1                 | 0x7fffffffe050 -> 0x7fff00000001      |

[2016-03-25 11:17] sushant94 commented on #4420
__More__
Binary: Ubuntu 14.04 /bin/ls
Instruction: mov r13d, 4
ESIL: 4,r13d,=
Offset: 0x410a34

| REGISTER| GDB                                   | ESIL                                  |
|-----------------|------------------------------------|----------------------------------|
| r13     | 0x7fffffffdc80 -> 0x4                 | 0x7fffffffdc80 -> 0x7fff00000004      |

[2016-03-25 11:20] sushant94 opened #4421 "Incorrect emulation of rep stosq"
Binary: Ubuntu 14.04 /bin/ls
Instruction: rep stosq qword [rdi], rax
ESIL:
Offset: 0x407435

| REGISTER | GDB | ESIL |
| --- | --- | --- |
| rcx | 0x18 -> 0x17 | 0x18 -> 0x18 |
| rdi | 0x61c0c0 -> 0x61c0c8 | 0x61c0c0 -> 0x61c0c0 |
| rip | 0x407435 -> 0x407435 | 0x407435 -> 0x407438 |

[2016-03-25 11:22] sushant94 opened #4422 "Incorrect value of rax after xor eax,eax"
Binary: Ubuntu 14.04 /bin/ls
Instruction: xor eax, eax
ESIL: rax,eax,^=,$z,zf,=,$p,pf,=,$s,sf,=,0,cf,=,0,of,=
Offset: 0x4026c4

| REGISTER| GDB                                   | ESIL                                  |
|---------|---------------------------------------|---------------------------------------|
| rax     | 0xb623949448d72f00L -> 0x0            | -0x49dc6b6bb728d100 -> -0x49dc6b6c00

[2016-03-25 11:23] sushant94 opened #4423 "xor r8d, r8d does not reset higher order bits"
Binary: Ubuntu 14.04 /bin/ls
Instruction: xor r8d, r8d
ESIL: r8d,r8d,^=,$z,zf,=,$p,pf,=,$s,sf,=,0,cf,=,0,of,=
Offset: 0x4034c2

| REGISTER| GDB                                   | ESIL                                  |
|---------|---------------------------------------|---------------------------------------|
| r8      | 0x7fffffffdab0 -> 0x0                 | 0x7fffffffdab0 -> 0x7fff00000000

[2016-03-25 11:52] Maijin commented on #4357
Closing for now https://github.com/radare/radare2-regressions/blob/77c64a2ea9e7302ed0b377bf28ca8a0d8fc86351/t/cmd_project#L145

[2016-03-25 11:55] #4357 closed

[2016-03-25 13:12] crowell commented on #4423
This is surprising. R8D refers to the lower dword of r8
On Mar 25, 2016 7:34 AM, "Sushant Dinesh" <notifications@github.com> wrote:

[2016-03-25 13:33] #1745 closed

[2016-03-25 13:36] d3bug3r commented on #3955
I am doing it

[2016-03-25 17:00] FelixBer commented on #4423
This is one of the gotchas with x86_64: operations on 32 bit regs generally zero-extend to their 64 bit length.

Same for example:
mov rax, -1
mov eax, 0
//now rax == 0

[2016-03-25 17:23] VisualPrankDude commented on #4379
hm, not so beautiful, but not a problem.

[2016-03-25 17:29] radare commented on #4379
Must be fixed imho dont close it

[2016-03-25 19:18] Maijin commented on #1057
@pastcompute statut?

[2016-03-25 20:44] sushant94 opened #4428 "blocker"

[2016-03-25 20:44] #4428 closed

[2016-03-25 20:57] sushant94 commented on #4422
__Similar__

Binary: Ubuntu 14.04 /bin/ls
Instruction: xor edx, edx
ESIL: rdx,edx,^=,$z,zf,=,$p,pf,=,$s,sf,=,0,cf,=,0,of,=
Offset: 0x40350a

| REGISTER| GDB                                   | ESIL                                  |
|---------|---------------------------------------|---------------------------------------|
| rdx     | 0x7ffff77a4258 -> 0x0                 | 0x7ffff77a4258 -> 0x7ff