[2016-08-30 16:45] brainstorm opened #5654 "[AVR] afCl errors: Unknown calling convention '0x10e9af610'"
Today my project starting complaining again about afCl, @oddcoder:

[code]

This relates back to issue https://github.com/radare/radare2/issues/5452.

[2016-08-30 16:55] brainstorm commented on #5268
The original IO issue got fixed in https://github.com/radare/radare2/commit/0d3595e83ab6ff09a01fc84254e630d8e696568f ... I wish support was more comprehensive but oh, well, I'm with rpavlik, let's chip in support as needed ;)

[2016-08-30 16:55] #5268 closed

[2016-08-30 17:01] brainstorm commented on #5654
Just pulled master, recompiled, reloaded the project and I'm getting this:

[code]

Missing `printf` somewhere? :)

[2016-08-30 22:00] alvarofe opened #5656 "Have two branches?"
What about to follow the same thing as capstone does having two branches?. Sometimes we land commits in master that introduces regression that travis does not catch and only through using the tool can be seen. One example is that for an arm binary with a lot of symbols is impossible to get a disasm without spending so much time (blame on me).

The reason is that we always say to users use r2 from

[2016-08-30 22:18] Maijin commented on #5656
Already been discussed, who maintains it, you ?

[2016-08-30 22:21] Maijin commented on #5656
[code]
I don't get how this will be resolved btw, since you will say user to use only master, nobody will test the dev

[2016-08-30 23:39] VPaulV opened #5657 "aap segmentation fault"
[code]
[code]

Backtrace:
[code]
[malwr.zip - password: infected](https://github.com/radare/radare2/files/446125/malwr.zip)

[2016-08-31 01:14] radare opened #5658 "Honor asm.emustr in pds view of the graph"

[2016-08-31 01:18] #5657 closed

[2016-08-31 01:22] radare commented on #5658
This happens for the same reason the graph disasm is not storing the information from the previous basic block

[2016-08-31 02:21] radare commented on #5656
Nope

[2016-08-31 02:21] #5656 closed

[2016-08-31 09:02] #5649 closed

[2016-08-31 10:54] VPaulV commented on #4783
Sorry for this "commit spam", did it by mistake

[2016-08-31 14:07] Maijin commented on #4306
`afta` may help to reduce false detection, question is how to proceed to submit and fix those false detection ?

[2016-08-31 14:35] Maijin commented on #5049
@Manouchehri ping1

[2016-08-31 16:22] Manouchehri commented on #5049
@Maijin Yep, they're the same binary.

![image](https://cloud.githubusercontent.com/assets/7232674/18137242/96be83d2-6f75-11e6-9807-9edc80936232.png)

[2016-08-31 16:32] Liblor opened #5662 "Graph View is broken"
The graph view on the webui doesn't work.
`[0x00000000]> agv`
leads to `/m/` which is a known bug #5564, but even after changing to `/graph/` manually, the graph isn't shown. Instead one gets to see html code, because `<`, `>` etc. get escaped.

I tried to debug it a little, but I'm not very experienced.
if `/graph/` is opened, `I.is_html` is set to `true`, thus the "filter" `r_cons_html_print` in

[2016-08-31 17:49] Maijin commented on #5662
Did you analyse the binary before going in graph

[2016-08-31 17:49] Maijin commented on #5049
dat troll.

[2016-08-31 18:18] Manouchehri commented on #5049
You haven't even seen my best yet.

Anyway, is there anything else I should do before forgetting about this
again?

[2016-08-31 18:25] Maijin commented on #5049
Just added tests, It's fixed, thanks !

[2016-08-31 18:25] #5049 closed

[2016-08-31 18:53] Liblor commented on #5662
Yes, I did and I added a picture ;)
After commenting out `r_cons_html_print`I might not have analyzed the binary though, I have to check the `\x.2\x)4\x(2` thing again.

![r2_bug_graph](https://cloud.githubusercontent.com/assets/4940804/18142092/53928986-6fbc-11e6-882e-bbc9feea6327.png)

[2016-08-31 19:08] Maijin commented on #5662
Hello,

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2016-08-31 19:10] Maijin commented on #5662
Also this is old graph, to get the graph use /p/ or use /m/ -> disassembly -> info -> graph, but this is highly WIP by @gcolajan  https://github.com/radare/radare2-webui

[2016-08-31 20:52] Liblor commented on #5662
Ah, I see. I thought that `/m/` is WIP, that's the reason I checked out `/graph/`, so I guess `/graph/` will be removed in the foreseeable future.
Thanks for clarification!

[2016-08-31 21:22] Maijin commented on #5662
Don't know if will be removed but surely be updated.

[2016-09-01 01:10] P4N74 commented on #5640
Similar issue with `pfj [integer]? (struct_name)` but it has extra `}]`, and there is no `,` separation between two fields in `pfj {integer>1}? (struct_name)`.

[2016-09-01 10:09] radare commented on #5662
what do you think about agv? i dont use for since ascii graphs are there.. and imho it can just confuse users. suggestion in changes or removal?

[2016-09-01 10:10] Maijin commented on #5662
+1 on removal because it's confusing and removal of graph.web: Display graph in web browser (VV) too

[2016-09-01 10:12] XVilka commented on #5662
+1 for removal.

[2016-09-01 14:43] Maijin commented on #5643
So you just want pagedown/pageup support in hud

[2016-09-01 14:45] Maijin commented on #4438
@VPaulV probably also be fixed with your fix

[2016-09-01 14:59] VPaulV commented on #4438
Last r2 from the git master does not detect main:
[code]

[2016-09-01 15:06] Maijin commented on #4438
@VPaulV  `aap` fail miserably yes that's the point

[2016-09-01 15:13] daniel-rome opened #5663 "rasm2 big endian option (-e) doesn't work properly"
It seems that rasm2 always returns the hexpair bytes in little endian.
[code]

[2016-09-01 15:23] VPaulV commented on #4438
But in general yes it will solve this issue.
If I use aap with e anal.hasnext = true;
Before:
[code]
After:
[code]

[2016-09-01 19:51] radare commented on #5663
Fixed. this is a regression from the latest big-endian patches. but it's working again. i wrote two tests for it.

[2016-09-01 19:51] #5663 closed

[2016-09-01 22:26] Liblor commented on #5662
As I got confused by it: +1 for removal

[2016-09-02 02:01] Durakill opened #5665 "el capitan no debug gdb/r2"
Installed radare2 from dmg. El Capitan 10.11.6

"MikesMBP:~ $ r2 -d /Users/durakill/Desktop/example
syntax error: error in error handling
syntax error: error in error handling
Unsupported architecture
Child killed
unknown error in debug_attach
Cannot open 'dbg:///Users/durakill/Desktop/example' for writing."

example is 32 bit Xcode c compile. Hello World, nothing fancy.

I installed Radare2 from

[2016-09-02 02:30] radare commented on #5665
Use -b32 as a workaround until this regression is fixed

[2016-09-02 03:11] radare opened #5666 "lower/upper case"
_dAe  32         v810        LGPL3   V810 disassembly plugin
_dA_  32         v850        LGPL3   v850 disassembly plugin

[2016-09-02 06:19] h4ng3r commented on #5133
we can create a  apk:// or  multidex:// similar to the Java  zipall://.

[2016-09-02 09:42] Maijin opened #5667 "ELF regression on a bin"
https://twitter.com/maciekkotowicz/status/771439232531456001
![image](https://cloud.githubusercontent.com/assets/1408600/18199827/648c0388-7102-11e6-8c5a-d99593c7e678.png)

The bin is here https://t.co/WjM0uCKdUk

[4f50ce05a9f180180c6422b2a43dd82e.zip](https://github.com/radare/radare2/files/451671/4f50ce05a9f180180c6422b2a43dd82e.zip)

[2016-09-02 10:07] radare commented on #5133
👍

[2016-09-02 11:03] Maijin commented on #5133
r2 -L, apk:// already exist, just need to be adapted.
* rw_  zip      Open zip files [apk|ipa|zip|zipall]://[file//path] (BSD)

[2016-09-02 12:15] #5666 closed

[2016-09-02 12:16] Maijin commented on #5564
Closed in #5662

[2016-09-02 12:16] #5564 closed

[2016-09-02 12:45] 0xbc commented on #5232
Hi all,

I just ran across this issue and did a bit of digging around. It seems that, for some reason, the environment variable `NAME` is set to the machine's hostname for Bash on Ubuntu on Windows (!). As such, a fairly easy workaround to get r2 building is to unset the variable like so:

`$ NAME= sys/user.sh`

I haven't tried it with `sys/install.sh`, but the same thing should apply. I guess the

[2016-09-02 12:54] Maijin commented on #4306
Very common are:

[code]

[2016-09-02 13:07] radare commented on #4306
we can add some blacklist of symbols or names to not use by afna

[2016-09-02 13:09] radare commented on #5232
NAME env var is set by windows?

[2016-09-02 13:23] radare opened #5668 "=H /p argument ignored"
Looks like spawning a specific URL as argument for =H doesn't works now, this is a regression

[2016-09-02 13:24] radare commented on #5662
afaik agv was honoring cmd.graph and graph.web before... now looks like someone killed all that functionality and just called "=H /graph".. which is completely wrong. so i would go for bringing back the old functionality

[2016-09-02 13:24] radare commented on #5662
Related: https://github.com/radare/radare2/issues/5668

[2016-09-02 13:26] brainstorm commented on #5654
Some commit might have solved it automagically since it does not complain now... although argument detection still doesn't seem to appear/work.

[2016-09-02 13:26] #5654 closed

[2016-09-02 13:52] radare commented on #5654
cc @oddcoder

[2016-09-02 14:05] Maijin commented on #5654
It definitely work, but you need to implement database etc.

[2016-09-02 15:12] Maijin opened #5670 "afta can't stop infinite emulation"
See https://github.com/radare/radare2-regressions/blob/master/bins/elf/busybox-mips when doing "aaa then afta" it is just then impossible to stop (ctrl+C) :(

[2016-09-02 15:23] psifertex commented on #5667
From a very brief look at it, it looks like the binary is using the `dynstr` dynamic symbol table to include an incorrect symbol name over an import. Only relying on the import itself for the import name should fix it.

[2016-09-02 15:48] radare commented on #3367
i think we can close this issue

[2016-09-02 15:52] radare commented on #5644
yes it is normal. you are disassembling every single byte so it turns out that its disassembling lot of invalid instructions. those are represented by 3 question marks. it’s documented in C

[2016-09-02 15:52] #5644 closed

[2016-09-02 15:56] radare commented on #5642
you can get the list of basicblocks of a function using @ instead of space afb@0x8048320. the afb shows only the current basic block, so it will be good to update the help message or maybe split that functionality within afb.

mind to send a PR fixing this?

[2016-09-02 15:56] radare commented on #5641
@P4N74 are you working on the fix?

[2016-09-02 16:12] #5627 closed

[2016-09-02 16:12] #5662 closed

[2016-09-02 16:19] daniel-rome opened #5671 "MIPS debugging doesn't work properly"
r2 mips debugging functionality doesn't work properly. It returns a "Ilegal Instruction" signal after a "ds" command. Also, some opcodes were modified after the "ds" command.

[code]

[2016-09-02 16:56] brainstorm commented on #5141
Another "feature"/tweak I realized: It would be nice to have the project directories self-contained in a single project directory. As it is now:

[code]

If those flatfiles were already inside the `.d`'s, I could just do a `git init` and we would be totally ready to go.

@radare Any reason for keeping those separate and not all in the same project directory?

[2016-09-02 17:04] P4N74 commented on #5641
I am spending most of my time on reading about kernel for kernel task. I won't be able to give enough time to this except for my free time.

[2016-09-02 18:37] Maijin commented on #5671
Hello,

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2016-09-02 18:38] Maijin commented on #3367
Noooo

[2016-09-02 18:57] #5668 closed

[2016-09-02 20:27] #5640 closed

[2016-09-02 22:34] 0xbc commented on #5232
Yep... in Bash on Ubuntu on Windows, the `NAME` environment variable seems to be set to the hostname. It's not set in the regular Windows shell though.

Would an appropriate fix actually be to just replace all occurrences of `${LIB}` with `lib` in `shlr/bochs/Makefile`? There are a couple of other build scripts where the path for `libbochs.a` is explicitly assumed to be `shlr/bochs/lib/libbochs.a`

[2016-09-03 00:29] radare commented on #5232
I dont have any windows at home, well just few vms with few disk space so i cant really build anything in there so i can do a blind fix, but i would prefer if you can send a pullrequest, so travis will test on linux and osx for you.

[2016-09-03 01:31] radare commented on #5667
binutils also fails

[2016-09-03 02:16] radare commented on #5667
gdb and ltrace also fails on this. so it's not "ridiculous", i have traced a bit with ld.so and qemu -strace and got a 1 line fix in r2 code. i'll push a PR to see if it creates any regression for other binaries.

Nice catch!

[2016-09-03 02:40] #5667 closed

[2016-09-03 02:51] radare commented on #5466
Done in master

[2016-09-03 02:51] #5466 closed

[2016-09-03 07:02] daniel-rome commented on #5671
Hello Mijin,

Yes! I am using r2 from git:
[code]
It is a "Sep 1, 2016" commit and no new debugging commits have been pushed since that day.

[2016-09-03 10:54] radare commented on #5667
I have added a testcase too

[2016-09-03 11:41] Maijin commented on #5551
Well there are still plenty of bug unrelated to syscall/stack etc. remaining to get fixed, see also the @sushant94 script https://github.com/sushant94/esil-tests

[2016-09-03 11:42] Maijin commented on #5551
Tons of Basics one https://github.com/radare/radare2/issues/4952

[2016-09-03 12:39] #5665 closed

[2016-09-03 12:58] #5573 closed

[2016-09-03 12:58] radare opened #5675 "dmi is hard to use and buggy"
- [ ] Include !rabin2 oneliner in help message
- [x] dmi? is not implemented
- [x] Implement dmi. to see symbol (closest) of current address
- [ ] Add `dmil` or something like to automatically load all symbols from all loaded libraries
- [ ] When symbol is a function and the size is known, create not only the flag, but also the function definition (`af+`)
- [ ] ...

[2016-09-03 13:42] h4ng3r commented on #5133
Perfect! I'll do it after fix the dex parser

[2016-09-03 13:43] Maijin commented on #5133
what do you mean, dex parser? Dex is already handled by r2

[2016-09-03 13:43] brainstorm commented on #5141
Another "feature"/tweak I realized: It would be nice to have the project directories self-contained in a single project directory. As it is now:

[code]

If those flatfiles were already inside the `.d`'s, I could just do a `git init` and we would be totally ready to go.

@radare Any reason for keeping those separate and not all in the same project directory?

[2016-09-03 13:44] Maijin commented on #5141
Duplicate message

[2016-09-03 13:48] h4ng3r commented on #5133
I'm fixing some bugs :)

[2016-09-03 13:54] Maijin commented on #5133
ah ok like this https://github.com/radare/radare2/issues/5317 :3

[2016-09-03 13:57] radare commented on #5141
The reason was for backward comptibility and be able to consider a script a project.

[2016-09-03 14:01] pielgrzym opened #5677 "r2 freezes after loading project saved in debugger mode"
Hi,

Reproduced this with latest r2 version:

[code]

After loading a project (either via r2 -p myproj or Po myproj from inside of r2) radare gets unresponsive - as if some io handling was broken (you can type some letters, but nothing usable, output doesn't look garbled.

Here is the [gist ](https://gist.github.com/pielgrzym/78430141a1c2bb30fb0e4609fc5cf16b) containing analyzed binary, project fi

[2016-09-03 14:03] radare commented on #5677
press ^C and paste gdb backtrace

[2016-09-03 14:06] pielgrzym commented on #5677
radare2 doesn't crash - when I press ^C it goes to newline as if everything was normal. Unfortunately I can't type anything.

[2016-09-03 14:07] radare commented on #5677
run r2 with a debugger and press ^C, otherwise you will not get any backtrace

[2016-09-03 14:09] h4ng3r commented on #5133
For the moment I fixed:
* Parsing bin->strings for UTF-8 classes, methods, fields.
* Add signature to all methods and fields, so there is no need to use an index
* Minor parsing errors that I don't remember

[2016-09-03 14:21] pielgrzym commented on #5677
[code]

[2016-09-03 14:22] radare commented on #5677
there’s no hang here. but its just that your project disabled the prompt or something. if you type stuff you should get the output of the commands

[2016-09-03 14:24] pielgrzym commented on #5677
It 'swallows' some stuff, from time to time I can get output of commands (then I type do it outputs for 'o' etc.). Sometimes I can even quit r2 and the debugee starts printing it's things on the screen. I guess it's the terminal output that is mangled by the debugged binary somehow? I tried removing 'e cfg.debug = true' from project to prevent r2 from loading the binary, but no change here.

[2016-09-03 14:30] pielgrzym commented on #5677
When I set `e cfg.debug = false` in project file and loaded it via `Po` it works just fine - it looks like input is somehow broken when r2 loads project in debugger mode for some reason.

[2016-09-03 14:33] Maijin commented on #5677
can you paste the project file ?

[2016-09-03 14:34] pielgrzym commented on #5677
It's linked in the issue - inside the gist. Both project, xrefs file and the analyzed binary.

Link for conveninece: https://gist.github.com/pielgrzym/78430141a1c2bb30fb0e4609fc5cf16b

[2016-09-03 14:34] Maijin commented on #5677
There is no project file there.

[2016-09-03 14:35] pielgrzym commented on #5677
Sorry, something apparently went wrong with the gist - fixing!

[2016-09-03 14:36] pielgrzym commented on #5677
I've accidentally overwriten the project file with binary (same names). Should be fixed now.

[2016-09-03 15:17] radare commented on #5677
making projects be directories instead of files would be better. let’s see if i can do this change soon :)

[2016-09-03 15:45] Liblor commented on #5662
Well, `agv` now launches `/graph/`, but it still doesn't render the graph, so this bug shouldn't be closed.

`<` is escaped to `&lt;` and `>` to `&gt;`, so one just gets to see html code as in the screenshot above.

[2016-09-03 15:46] Maijin commented on #5625
Isn't that fix with your last commit @oddcoder ?

[2016-09-03 15:50] Maijin commented on #5662
Update.

[2016-09-03 15:51] radare commented on #5662
nope. agv doesnt spawns the web by default unless you enable graph.web=true

[2016-09-03 15:58] radare commented on #5662
try again

[2016-09-03 15:59] #5625 closed

[2016-09-03 16:01] Liblor commented on #5662
Sorry for not mentioning it, I set graph.web=true, and then I ran `agv`. The browser opens, but I just see html code.

[2016-09-03 16:01] Maijin commented on #5662
well then same message as the beginning:
[code]

[2016-09-03 16:05] Liblor commented on #5662
I know about the new graph view, but it's just confusing for a radare2 beginner. He sets `graph.web=true`, and it doesn't work. I think its better to remove the old graph view, if it doesn't work, don't you think so?

[2016-09-03 16:07] radare commented on #5662
why a beginner would change default settings? the webui lives in a separate repository. im not talking about removing, but filling an issue in the radare2-webui repo to get it working again. this is a regression.

[2016-09-03 16:08] Maijin commented on #5662
https://github.com/radare/radare2-webui/issues

[2016-09-03 16:16] Liblor commented on #5662
Newbies like GUIs, they might change settings ;)
There is a new web graph ui as @Maijin said, that's why I thought it wasn't really a regression, if this one is deleted, but I see your point.
Thanks for the help and this awesome project!

[2016-09-03 16:21] Maijin commented on #5662
What @radare says is: This is not the place for writing this issue but here https://github.com/radare/radare2-webui/issues is.

[2016-09-03 16:32] radare commented on #5662
well. that’s an issue in the webui, not in r2 itself, so imho the issue here is gone for now.

the /graph/ thing was working but was pretty bad, i was expecting this to be done by the gsoc webui task but didnt get done in time

[2016-09-03 16:33] Maijin commented on #5662
https://github.com/radare/radare2-webui/issues/100 Like this

[2016-09-03 19:35] jjdredd commented on #5677
zip archived directories

[2016-09-03 19:56] Maijin commented on #5677
xml.

[2016-09-03 20:21] radare commented on #5677
Theres an issue for that already. Brainstorm was proposing single directory with stuff inside so it can be git'd or zip'd easily

[2016-09-03 20:24] Maijin commented on #5677
Please discuss https://github.com/radare/radare2/issues/5141

[2016-09-03 20:37] pielgrzym commented on #5677
Just making sure we're on same page - when I was saying about overwriting it was an accident when I was pushing the files to gist repo - the problem is still unsolved (r2 input is crippled) :wink:

[2016-09-03 20:38] pielgrzym commented on #5677
As for other comments - :+1: for one dir per proj :smile_cat:

[2016-09-03 21:09] Maijin commented on #5677
Comment in the issue #5141

[2016-09-03 23:01] Maijin opened #5679 "ds 1000 is broken"
`ds 1000` displays usage !

[2016-09-03 23:06] #5679 closed

[2016-09-03 23:29] zonkzonk commented on #4978
redirecting stderr helps for one of the problems:

,r2 -q -A -c 'pD $SS@$S' /bin/true | wc -l
3083
, r2 -q -c 'pD $SS@$S' /bin/true | wc -l
2733
, r2 -q -c 'pD $SS@$S' /bin/true 2>/dev/null| wc -l
2733

[2016-09-04 01:19] psifertex commented on #5568
There is another useful feature shown in your screenshots show that might be worth mentioning: automatic identification of functions that don't return by propagating a no-return property. The r2 basic block at `0x8048c88` calls `explode_bomb` for example (which presumably calls exit or otherwise doesn't return itself), but then keeps disassembling unlike the BN graph which terminates after the cal

[2016-09-04 02:01] radare commented on #5568
this feature is already supported, but you need to specify that this function is noreturn type. we can improve this if we see that a function calls a noreturn function is also a noreturn one, but only if thats the only exit point

[2016-09-04 09:41] laanwj commented on #5625
Sorry for being silent on this issue - I've just verified and it's indeed fixed, thanks @oddcoder !

[2016-09-04 10:48] 0xbc commented on #5232
PR is up - I didn't get to test it on straight Ubuntu so we'll see how the CI run goes...

[2016-09-04 10:59] oddcoder commented on #5625
\o/

[2016-09-04 11:02] radare opened #5683 "Implement zG command (or zge)"
Generate exact match signatures

[2016-09-04 11:04] radare opened #5684 "Add threshold for zignatures"
those shouldnt be considered valid zignatures

[code]

[2016-09-04 11:05] radare opened #5685 "Check for dupped zignatures when loading them"
Check if two signatures have the same bytes, but different name and warn about that

[2016-09-04 11:13] 0xbc commented on #5232
Merged, cool! @pawlos / @CoenraadS, does this work for you?

[2016-09-04 11:23] radare opened #5686 "Load compressed zignatures"
I would delegate this task to 3rd party programs in a streamy way:
- zg foo | gzip > foo.r2.gz
- zo foo.r2.gz

The zo command should be the same as '. foo', but should support compressed streams, and load faster, because it doesnt have the logic of rcorecmd() only parsing the lines that start with 'z'

[2016-09-04 12:02] #5684 closed

[2016-09-04 12:05] radare commented on #5686
I have implemented the 'zo' command, but is not yet supporting compressed ones. the performance compared to '.', for loading a 24MB signatures script is 5.3s vs 4s

[2016-09-04 12:05] radare commented on #5685
Maybe this should be a different command because checking this at load time can be pretty slow

[2016-09-04 12:07] Maijin commented on #5685
Dup of https://github.com/radare/radare2/issues/3800

[2016-09-04 12:08] radare opened #5687 "zg shuold walk the basic blocks, but the function length"
otherwise we will be comparing with:
- data inside the function
- mixed functions can share basic blocks
- huge functions, when in fact they are just small ones with far nodes
- ...

[2016-09-04 12:13] radare commented on #5683
Done

[2016-09-04 12:13] #5683 closed

[2016-09-04 12:13] radare commented on #5683
in dad684788344e7b3238a30d39c723f37984c798c

[2016-09-04 12:14] CoenraadS commented on #5232
@0xbc Yes it is working

[2016-09-04 12:14] radare commented on #5232
can we close this issue now?

[2016-09-04 12:16] radare opened #5688 "Zignatures with zero bytes"
we shouldnt assume that 0 is a mask, this informtaion must be stored in a different buffer

[2016-09-04 12:24] Maijin commented on #5232
Let's close and reopen if necessary.

[2016-09-04 12:24] #5232 closed

[2016-09-04 13:01] radare opened #5690 "Rename Vvm to Vvr -> rename function (not modify)"

[2016-09-04 13:01] radare commented on #5690
cc @brainstorm

[2016-09-04 13:29] zlowram commented on #5686
Did you push that?

[2016-09-04 13:56] radare opened #5691 "Honor search.in for z/"
[code]

z/ is confusing becuase /z is not doing the same

[2016-09-04 14:10] radare commented on #5691
Also honor search.align to speedup

[2016-09-04 14:13] zonkzonk opened #5694 "usage of an?"
morrn,

how do I use an? I accidently filled it. :)

[code]

[2016-09-04 14:17] radare commented on #5694
i dont see any problem on this

[2016-09-04 14:21] radare commented on #5686
i did zo, but doesnt supports compressed signatures, which is low prio and unnecessary for now

[2016-09-04 14:24] chairkov opened #5695 "skip to next function regex"
hi,

as asked in the chat:

[code]

can you give an example of `?@?`

Thank you @radare !

[2016-09-04 14:26] radare commented on #5695
[code]

[2016-09-04 14:26] chairkov commented on #5695
that is not a script.

[2016-09-04 14:27] radare commented on #5695
I dont understand what you want exactly. do you want to run a script/command for every flag that matches a string?

you can do this with @@ just:  x @@ foo*

[2016-09-04 14:27] radare commented on #5695
nope. this is an example of ?@?

[2016-09-04 14:27] chairkov commented on #5695
while parsing, skip to every function that has <regex>.

[2016-09-04 14:28] chairkov commented on #5695
regex

[2016-09-04 14:28] radare commented on #5695
parsing what

[2016-09-04 14:29] chairkov commented on #5695
afl command

[2016-09-04 14:30] #5694 closed

[2016-09-04 14:47] radare commented on #5695
i still dont understand the question or the problem itself. Is `sn/sp` what you are looking for with e scr.nkey=fcn ?

[2016-09-04 14:48] radare commented on #5695
maybe what you want is an @@f operator with support for regex? like pdr @@f:foo to run `pdr` on every function that matches `foo` in the name?

[2016-09-04 14:48] radare commented on #5695
Or maybe you want that regex to be in `sn/sp` commands?

[2016-09-04 14:50] Maijin commented on #3115
Fixed !

[2016-09-04 14:50] #3115 closed

[2016-09-04 15:51] Maijin commented on #5695
Can't you give an input/output of what you want?

[2016-09-04 17:51] daniel-rome commented on #5671
Little endian is not affected by this bug, only big endian.

[2016-09-04 19:20] pawlos commented on #5232
@0xbc works for me too.

[2016-09-04 19:28] jpenalbae commented on #5671
Maybe the fix would be as easy as inserting the bp in big endian. Just guessing....

[2016-09-04 19:53] Maijin commented on #5232
awesome !

[2016-09-04 21:18] chairkov commented on #5695
@radare yes, I thought maybe sn/sp is enough. It could be thought of as "vim :n"

[2016-09-04 21:19] chairkov commented on #5695
@radare @@f would be nice :)

[2016-09-05 01:39] XVilka opened #5697 "Looping over offsets from textfile doesn't work"
[code]

[2016-09-05 02:40] radare commented on #5697
It works but this is not a valid number. Misses the 0x

[2016-09-05 02:43] XVilka commented on #5697
then may be add '0x' to `?X` output?

[2016-09-05 07:59] daniel-rome commented on #5671
@jpenalbae is right! Thanks :)

I have added the following code in order to solve this:
[code]
But the variable (endian), which is send by argument is always "0" (little endian), since it is hardcoded in the following code:
[code]
I would need a way to assign core->debug->db->endian variable to 1, once the RCore or RDebug structures have been created and change this hardcoded number by "bp->endian

[2016-09-05 09:11] radare commented on #5697
Why dont use ?v instead? ?X show hexpairs which is fine without the 0x

[2016-09-05 09:33] XVilka commented on #2598
Related https://reviews.llvm.org/rL280356

[2016-09-05 16:13] Maijin opened #5698 "axt doesn't follow e asm.relsub"
`axt` doesn't follow `e asm.relsub`

![image](https://cloud.githubusercontent.com/assets/1408600/18253349/4b9536ee-7394-11e6-94a7-1c0debe64ab5.png)

![image](https://cloud.githubusercontent.com/assets/1408600/18253347/499d7694-7394-11e6-9e3b-8b03bad4be20.png)

`axt` and `axtj` still displays :

[code]

CC @pinkflawd

[2016-09-05 21:38] #4783 closed

[2016-09-05 21:39] #4438 closed

[2016-09-05 21:39] #5569 closed

[2016-09-05 21:39] #4750 closed

[2016-09-05 22:14] Maijin opened #5703 "asm.leahints are displayed in the middle of the disassembly"
Regression asm.leahints are displayed in the middle of the disassembly :

![image](https://cloud.githubusercontent.com/assets/1408600/18257601/c405fd52-73c6-11e6-9953-f4bc7113be7a.png)

[2016-09-06 00:47] radare commented on #5703
we can set leahints to false by default for now

[2016-09-06 01:07] VPaulV commented on #5703
It is here https://github.com/radare/radare2/blob/master/libr/core/disasm.c#L1854

I am not sure if this print should be there at all... Maybe just comment it out?

Here is also one more potential place for regression - https://github.com/radare/radare2/blob/master/libr/core/disasm.c#L1829

[2016-09-06 01:24] VPaulV commented on #4750
In order to get results similar to the IDA results enable anal.hasnext
[code]

[2016-09-06 01:31] VPaulV commented on #4442
This issue is not resolved. Pull request https://github.com/radare/radare2/pull/5660 does not fix it.

[2016-09-06 09:02] brainstorm commented on #5141
ln -sf'ing that outside file in the `.d` directory for now then ;)

[2016-09-06 10:08] radare opened #5705 "Tiny mach064 not working on latest OSX"
[code]

[2016-09-06 10:44] #5671 closed

[2016-09-06 20:36] zonkzonk commented on #5694
@radare I was irritated by windows dlls, and storing stuff (AAA) at teh end

[2016-09-06 20:37] zonkzonk opened #5708 "having phun on -p"
morrn,

```r2 -p "`bash genchars 8192 %%f`"  /bin/ls```
then hit q

[code]

,r2 -v
radare2 0.10.6-git 12310 @ linux-x86-64 git.0.10.5-179-gd250d21
commit: d250d21385c608a46ce7e09670ce46c0ae85f4db build: 2016-09-06

[2016-09-07 02:13] VPaulV commented on #4442
After fix:
[code]

[2016-09-07 02:15] VPaulV commented on #4734
After fix:
[code]

[2016-09-07 14:06] tnias opened #5710 "segfault when printing disasm"
[code]

[narnia6.zip](https://github.com/radare/radare2/files/459259/narnia6.zip)
SHA256 (narnia6) = d65f346e82d30a30e1e7450078db982e019d8e892a4131133928a9dcc0754df3

[code]

[2016-09-07 17:12] zonkzonk commented on #5710
reproduced somehow.
tracking down: not in 07656c523b353def9c02325e61e7b1f09545e752

[2016-09-07 18:08] alvarofe commented on #5710
Should be fixed in master, is due to some changes in anal that has been merged recently. Mind you to create a test to avoid crashes in the future? Thanks

[2016-09-07 18:08] #5710 closed

[2016-09-07 20:45] Maijin commented on #5710
Hello,

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2016-09-07 22:02] tnias commented on #5710
Added a testcase
https://github.com/radare/radare2-regressions/pull/539

[2016-09-08 09:49] XVilka opened #5715 "Visual view of the $ variables"
To view the values easily, like it was done for config variables, but for '$' ones

[2016-09-08 11:59] brainstorm opened #5716 "Context-dependent colors for comments"
As mentioned in the radarecon 2016's Radare A to Z session: Let's say that I have a command, rpipe tool or similar that annotates (comments) specific instructions, say `in` and `out` instructions, i.e:

![skarmavbild 2016-09-08 kl 13 57 45](https://cloud.githubusercontent.com/assets/175587/18348551/4473e268-75cc-11e6-9ce1-47f4e1889720.png)

I would like those `in`/`out` comments to have different

[2016-09-08 14:56] atrodo opened #5717 "dko 11 c Doesn't work"
If I create a custom SIGSEGV handler in my code, r2 debugger will not allow me to step into that handler.  This use to work, but after bisecting, I found that the big rewrite in 722c6282 (Major rework to the native debugger (esp on Linux) (#5185)) changed this behavior. I haven't traced how everything works, but it appears that line 955 in libr/debug/debug.c now no longer lets `dko 11 c` operate:

[2016-09-08 17:41] h4ng3r commented on #5133
I'm working on this issue.

Is quite easy to adapt "r_io_zip_open" to append all classes*.dex to the same RIOZipFileObj object. But I'm not sure which is the best way to handle it in the bin_dex.c. There all main functions get a "RBinFile" object, one idea is change RBinDexObj* holded on arch->o->bin_obj for a RList and then change all functions to do the same but for all dex files.
Another idea i

[2016-09-09 10:34] XVilka commented on #5697
Thx, closing, NOTABUG.

[2016-09-09 10:34] #5697 closed

[2016-09-09 12:02] pinkflawd opened #5718 "Zignature curiosities"
Run through of generating zignatures for Visual Studio runtime and scanning for them in a target binary.

Not entirely sure but quite certain I followed the instructions on http://radare.today/posts/zignatures/ correctly. Also checked the .zig file with msvcrt.dll, signatues look fine.

- [ ] Nr. 1

[code]

Scanning for the generated msvcrt.zig file on a 8000h code section takes a bit more than 10

[2016-09-09 12:09] radare commented on #5708
nice catch, fixed in 618ac8ad03b0239c0fa2358597d8a16dd0cec0c5

[2016-09-09 12:09] #5708 closed

[2016-09-09 12:29] #5715 closed

[2016-09-09 14:53] Maijin opened #5720 "Add v in VV"
Add visual function/vars code analysis menu command `v` in the Visual Graph

[2016-09-09 16:16] VPaulV opened #5721 "r2pipe is broken"
After the commit 7cf0e1b63361e14a92512f6a940e18283acd2afe r2pipe holds forever when r2cmd is called.

[code]
---------------
Also it is not possible to use r2p_open with -c. Is it a bug?

[2016-09-09 16:57] Maijin commented on #5721
That issue should have been sent on radare2-bindings (next time :) )

[2016-09-09 17:09] VPaulV commented on #5721
Oh right, my bad sorry. Should I reopen it?

[2016-09-09 17:11] Maijin commented on #5721
it's ok

[2016-09-09 17:34] #4442 closed

[2016-09-09 17:34] #4734 closed

[2016-09-09 21:33] vah13 opened #5723 "radare2 crash"
![rad_quit_crash out](https://cloud.githubusercontent.com/assets/7976421/18403531/f46ce0bc-76ed-11e6-96a4-37eff5fbc298.jpg)
 hi
found crash in radare2, after unload executable file from radare2 hi crashed

# radare2 PoC
![image](https://cloud.githubusercontent.com/assets/7976421/18403576/33cadb74-76ee-11e6-8553-66bfef9fe94d.png)
![image 1](https://cloud.githubusercontent.com/assets/7976421/1840357

[2016-09-09 22:08] Maijin commented on #5723
Ok it is segfaulting when when quitting. Can you paste whole backtrace from gdb (`bt`) or use ./sys/asan.sh and reproduce the crash and paste the log generated ?

[2016-09-09 22:15] VisualPrankDude commented on #5723
is it affected by last commit that uses all sections instead of just .text? because then it would affect
.fini

[2016-09-10 02:04] radare commented on #5721
Can you add a unit test for this with an alarm? I know this change was about to break something but i wast sure what exactly. The change was necessary to make python/node io plugins work. So i will revert the change and update the python and node sides rather than the core.

[2016-09-10 08:35] Maijin opened #5724 "izz doesn't work in raw binaries"
The file: [ex.zip](https://github.com/radare/radare2/files/465313/ex.zip)

## izz:

![image](https://cloud.githubusercontent.com/assets/1408600/18409197/2effcf88-7742-11e6-97ae-ea413ce0eea8.png)

## Rabin2:

![Rabin2](https://cloud.githubusercontent.com/assets/1408600/18409192/161e6812-7742-11e6-980a-51076509e85d.png)

[2016-09-10 08:40] Maijin opened #5725 "e hex.cols =100 ; pxe | hex-columns not respected"
![image](https://cloud.githubusercontent.com/assets/1408600/18409237/e31d6c78-7742-11e6-9989-300b685f4c54.png)

[2016-09-10 09:04] radare opened #5726 "Add keys in visual to save and restore process state"
Maybe that will be nice to be a push/pop model, so saving different memory and register state. so we can go back in time if we are debugging

[2016-09-10 11:17] #5720 closed

[2016-09-10 11:22] #5723 closed

[2016-09-10 11:23] radare opened #5728 "Add afbx to show basic block xrefs"
This is useful for knowing all the previous basic blocks that are referencing the current basic block

[2016-09-10 12:02] Maijin commented on #5723
Test added!

[2016-09-10 12:03] Maijin commented on #5726
@n4x0r ^

[2016-09-10 15:25] Maijin opened #5729 "tk doesn't work with grep ~"
tk doesn't work with grep ~

[2016-09-10 15:48] XVilka commented on #5729
Full example pls

[2016-09-10 15:50] Maijin commented on #5729
[code]
print everything

[2016-09-10 16:23] constdec opened #5730 "Install radare2-bindings-python"
After make and sudo make install on python folder I get this error.

Makefile:164: recipe for target 'install-python' failed
make[1]: *** [install-python] Error 1

[2016-09-10 16:24] XVilka commented on #5730
1. Please provide the full log
2. Try to use r2pipe instead.

[2016-09-10 16:28] constdec commented on #5730
make
Build r_core -L/usr/local/lib -lr_core -lr_config -lr_cons -lr_io -lr_util -lr_flags -lr_asm -lr_debug -lr_hash -lr_bin -lr_lang -lr_io -lr_anal -lr_parse -lr_bp -lr_egg -lr_reg -lr_search -lr_syscall -lr_socket -lr_fs -lr_magic -lr_crypto
valabind-cc python r_core -NRadare -NSDB --swig -x --vapidir=../vapi ../vapi/r_core -I/usr/local/include/libr -L/usr/local/lib -lr_core -lr_config -lr_cons

[2016-09-10 16:41] Maijin commented on #5730
Use markdown https://guides.github.com/features/mastering-markdown/ for paste: ```

[2016-09-10 16:53] XVilka commented on #5730
Looks like you're using very old radare2 - this issue was fixed yesterday.

[2016-09-10 17:36] constdec commented on #5730
I just used git from radare.org instructions, I will reinstall.Thanks for your time

[2016-09-10 17:46] XVilka commented on #5730
@constdec because I've retried to 1) git pull and rebuild r2 2) r2pm -i python - all works smoothly, and this is exactly a bug I was fixing recently.

[2016-09-10 18:02] #5730 closed

[2016-09-10 18:12] Maijin commented on #5730
@constdec Next time, use https://github.com/radare/radare2-bindings for error related to bindings, Also it's highly recommended to use r2pipe.

[2016-09-10 18:26] h4ng3r commented on #5465
Are imports in DEX? http://stackoverflow.com/questions/15459256/no-java-imports-in-smali

[2016-09-11 09:10] radare commented on #5724
Thats because iz and izz depends on having headers in the bin

[2016-09-11 18:04] h4ng3r opened #5735 "DEX disam missing information"
# Wrong Virtual Function Address

[code]

The function should be poitint at 0x00000290, this can be fixed adding 0x10 at virtual methods (as direct methods):
[code]

# Hide Function Prolog Bytecodes

[code]

The first instructions are the prolog of the function, this are (from IDA PRO ;) ):
[code]

The bytescodes from 0x00000280 to 0x0000028C should be hidden, maybe showed as metadata or somthing

[2016-09-11 20:57] Maijin commented on #5718
I see other bugs on the dll analysis (aaa) the entry0 function created via the analysis is size 29.5K
Other functions size are really really big:

![image](https://cloud.githubusercontent.com/assets/1408600/18420440/0fef861a-7873-11e6-93ee-6067c02a23a5.png)

Lot of frames of function are also really really big.
![image](https://cloud.githubusercontent.com/assets/1408600/18420429/bfc6c89c-7872-11e6

[2016-09-11 21:16] #4706 closed

[2016-09-11 21:17] Maijin commented on #4306
ok this false positive are now handled

[2016-09-11 21:18] Maijin commented on #2960
ping 1

[2016-09-11 21:19] Maijin commented on #1888
Please reopen if necessary because this seems fixed.

[2016-09-11 21:19] #1888 closed

[2016-09-11 21:20] Maijin commented on #1922
what's the status on this ?

[2016-09-11 22:07] radare commented on #4306
Lets consider this fixed for now

[2016-09-11 22:07] #4306 closed

[2016-09-11 22:18] Maijin commented on #4306
ok, I think the deal will be probably later to enhance all those stuff https://github.com/radare/radare2/blob/master/libr/core/anal.c#L299 for example, detecting "str.usage" should rename the block or function as fcn.usage and so on

[2016-09-12 13:18] h4ng3r commented on #5465
Maybe we can show all the classes from types array that are not in the classes array. This will be something like all those classes that are being called and are not implemented by the app itself.

[2016-09-12 15:43] Maijin opened #5737 "Opcodes -> Char hint"
Some opcodes doesn't have char comment:

[code]

Should have:

[code]

![image](https://cloud.githubusercontent.com/assets/1408600/18442297/821a9bf6-7910-11e6-92c8-e07ea1c6a412.png)

[2016-09-12 15:49] Svenito commented on #5633
i'll get started on this

[2016-09-12 18:13] tigertoes commented on #3481
To begin with I'm slowly going to work my way through the low hanging fruit - unused args and other similar related easy wins to start with - #5739 is the first PR of what might be many more to come based on your feedback.

[2016-09-12 18:30] Maijin commented on #3481
@tigertoes If you could kill the remaining of list (see libr/includes/list.h) in profit of r_list that would be cool :)

[2016-09-12 18:33] XVilka commented on #3481
Check also results of http://ci.radare.org/job/radare2-scan-build/ - it returns sometimes a bit different warnings.

[2016-09-12 19:27] radare commented on #5633
virtually assigned. thanks!

[2016-09-12 19:28] radare commented on #5737
chars should be single-quoted

[2016-09-12 19:28] radare commented on #5737
can you paste all the bytes of those instructions and paste the output of ao?

[2016-09-12 19:29] radare commented on #5465
yep! looks like the way to go. i was also thinking in this method

[2016-09-12 19:40] Maijin commented on #5737
Those are all same instructions but here is paste http://pastebin.com/JyCSD1Y6
[code]

[code]

[2016-09-12 19:41] radare opened #5742 "r2 -nd not working (always loading bin info)"
to reproduce: `r2 -qcis -nd /bin/ls`

[2016-09-12 20:03] tigertoes commented on #3481
@Maijin Thanks, I'll take a look at that after I fix my crap attempt in sdb.
@XVilka I've got scan-build running locally and its output seems to match the CI server's.

[2016-09-12 20:23] oddcoder commented on #3481
@tigertoes if you are really interested in fixing this kind of issues
you can go with `sys/clang-analyzer.sh`
really powerfull and helpfull
it will also list warnings in nice html format :)

[2016-09-12 20:42] tigertoes commented on #3481
@oddcoder Thank you, I found that earlier and I am using a mixture of it and `scan-build ./config CFLAGS+=-pedantic && scan-build -o . make` to pick things apart, as well as using the CI output from the pedantic and scan-build jobs. If there's some particular parts of the codebase you think I should focus my attention on that are fairly straightforward, please let me know.

[2016-09-12 20:43] radare commented on #3481
see sys/clang-analyzer.sh

[2016-09-12 21:05] #5742 closed

[2016-09-12 21:11] #5737 closed

[2016-09-12 21:12] radare commented on #5737
please add tests and fix the broken ones . thanks!

[2016-09-12 23:57] radare opened #5744 "Optimize graph by removing single instruction jmp basic blocks"
very useful to read AVR code
![screen shot 2016-09-13 at 01 56 20](https://cloud.githubusercontent.com/assets/917142/18456968/68768b2a-7955-11e6-8223-239926e1f525.png)

[2016-09-12 23:58] radare commented on #5744
Sample file
[a.out.zip](https://github.com/radare/radare2/files/468573/a.out.zip)

[2016-09-13 06:36] MariasStory commented on #5737
Related to #5608.
This trick was seen in a malware.

[2016-09-13 10:55] h4ng3r opened #5745 "DEX exports not working"
[code]

Expected ouput, more o less:
[code]

Adding a test would be nice.

[2016-09-13 11:29] radare commented on #1922
Lack of tests maybe?

[2016-09-13 11:45] fnugroho opened #5746 "Unsupported flirt signature version ?"
![screenshot from 2016-09-13 13_37_54](https://cloud.githubusercontent.com/assets/19466951/18472511/17f0e744-79e2-11e6-869b-8fd6f0ef3512.png)

[2016-09-13 12:04] Maijin commented on #5746
Already known please use search on github #5246

[2016-09-13 12:04] #5746 closed

[2016-09-13 12:05] Maijin commented on #5746
and subscribe to the issue and contribute/involve in the issue if you want to be fixed faster (Create tests, investigate structure etc.)

[2016-09-13 13:15] radare opened #5748 "/z vs z/"
@Darkkey was confused during the training. so maybe we can do something for that :D

[2016-09-13 15:08] #5729 closed

[2016-09-13 15:21] sborpo opened #5750 "Crash using aaa analysis on large binary (acroRd32.dll)"
Hello,
I've tried to run the command : aaa (analyze all) on acroRd32.dll ~20 Mb(the main adobe reader dll) on
 Windows 10.
after i typed these commands from the cmd:
radare2 r2 c:\acroRd32.dll
[0x60042492]> aaa
the radare printed these lines and crashed after some amount of time:
[x] Analyze all flags starting with sym. and entry0 (aa)
[x] Analyze len bytes of instructions for references (aar)
[ ]

[2016-09-13 15:23] VisualPrankDude commented on #5750
@sborpo can you run valgrind and or give gdb trace?

[2016-09-13 15:44] MariasStory opened #5751 "Reference search does not stop."
Hi, I did this reference search:
![image](https://cloud.githubusercontent.com/assets/6576335/18480540/59db0d28-79d9-11e6-97a8-b1f4baec10af.png)

It takes forever and did not stop yet. Should it stop at 0x1800190a0?

Is there a way to do the search faster?

[2016-09-13 16:11] radare commented on #5751
check the search.in and search.{from|to} variables. confirm that you are using r2 from git, also, other vars like search.align may speedup the search… but probably not for /r that relays on instruction information.

try with:

e search.in=io.sections.exec

[2016-09-13 18:11] Maijin commented on #5750
Hello,

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2016-09-13 18:12] Maijin commented on #5750
http://radare.org/get/pkg/radare2-w32-0.10.6.zip

[2016-09-13 18:58] Maijin commented on #5751
you can also use xref: axt @ 0x180016110 , axt @ sym.XXXX

[2016-09-13 19:48] radare commented on #5750
Windows have a small stack so recursivity is bad for him. You can try reducing the anal.depth or check with a debugger why it crashes. Also, ensure you are using the latest git

[2016-09-13 20:00] h4ng3r commented on #5465
Done, PR tomorrow with exports.

This is my output:
[code]

[2016-09-13 20:01] radare commented on #5465
awesome!

[2016-09-13 20:08] VisualPrankDude commented on #5750
windbg and ollydbg are good debuggers.

[2016-09-13 20:12] Susanne588586 opened #5754 "file invocation and path ${PATH}/./test"
Hi,

trying to "debug" a file called test, r2 is using /usr/bin/./test, even though I specified ./test.

[code]

Kind Regards
Susan E.

[2016-09-13 20:16] Maijin commented on #5750
@VisualPrankDude ?

[2016-09-13 20:16] Maijin commented on #5754
Hello,

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2016-09-13 20:43] h4ng3r commented on #5745
Done, PR tomorrow with exports.

This is the output:
[code]

[2016-09-13 22:10] radare commented on #5754
cant reproduce on osx. which os are you using?

[2016-09-13 22:20] radare opened #5756 "ihex:// is broken"
Files: [ex3.4.zip](https://github.com/radare/radare2/files/470901/ex3.4.zip)

[code]
<img width="1082" alt="screen shot 2016-09-14 at 00 19 17" src="https://cloud.githubusercontent.com/assets/917142/18493446/e8542f62-7a10-11e6-9719-fc42484ad006.png">

[2016-09-13 22:36] Susanne588586 commented on #5754
Ubuntu 15.10 with git d6708032b57e4777ce0e54636b941c31af336a69

[2016-09-13 22:40] h4ng3r commented on #5745
Fixed! I'll PR tomorrow after some valgrind checks.

This is the new output:
[code]

[2016-09-14 07:35] killabytenow commented on #5756
I have tested it and I think that this behaviour is absolutely normal:

One is a complete ELF file (ex3.4.elf: ELF 32-bit LSB executable, Atmel AVR 8-bit, version 1 (SYSV), statically linked, not stripped)

While the other file is a raw ROM hexdump without symbols, relocation table and other bells and whistles. So the hexdump and radare analysis must be different!

In the other hand raw dissassemb

[2016-09-14 08:27] XVilka opened #5758 "Support separate loading debug symbols"
For example in Gentoo with 'splitdebug' option: https://wiki.gentoo.org/wiki/Project:Quality_Assurance/Backtraces#Stripping

[code]

[2016-09-14 08:28] XVilka commented on #5758
@n4x0r

[2016-09-14 08:31] sborpo commented on #5750
Hello,
The version of radare2 that i got is :
radare2 0.10.5 12231 @ windows-x86-32 git.0.10.5
commit: 940f2d311d8e011ad76ed54122d46beea4b6db90 build: 2016-08-17

i have debugged the process with olly and got an exception of access violation.
here is a screenshot of the call stack before the exception:

![call_stack_during_exception](https://cloud.githubusercontent.com/assets/11454647/18505175/c6c

[2016-09-14 08:32] XVilka commented on #5758
It's located at `/usr/lib/debug/lib64/libc-2.23.so.debug`, since `/lib/libc.so.6` is a symlink to /lib/libc-2.23.so`, so the 'prefix' is `/usr/lib/debug`

[2016-09-14 09:21] Maijin commented on #5750
That's old version ... I just posted you the link http://radare.org/get/pkg/radare2-w32-0.10.6.zip

[2016-09-14 09:24] Maijin commented on #5756
@Darkkey

[2016-09-14 09:36] Maijin opened #5759 "Merge functions argument detection functionnalities and databases"
Currently we have two functions sdb, both are fulfilling similar goals but both are using same information. Merging those functionalities/databases must be done to avoid duplicate.

1) One for "e asm.emu ; e asm.emuwrite" function argument found and predicted the value made by @radare

![image](https://cloud.githubusercontent.com/assets/1408600/18506894/5166da92-7a6e-11e6-9ad8-2b5438f42671.png)
-

[2016-09-14 10:40] radare commented on #5750
This is old. Please upgrade

[2016-09-14 11:46] sborpo commented on #5750
Thanks for the updated , i've upgraded it - the analysis are running more than one hour and still counting.... so now its not crashing - thanks! :)
I've tried other DLL (Qt5Core), strangely there is a huge difference between the IDA and radare2.
IDA identifies ~17,000 functions , but radare2 ~6,506.
this number is lower than the number of exported functions of the Dll (7,161)- so when i tried to l

[2016-09-14 12:00] Maijin commented on #5750
You don't need aaaa for analysis, aaa or even smaller subset (aa, aac, etc. radare.today/posts/analysis-by-default/) should be largely sufficient.

Also I've already spotted bugs in dll analysis #5718  could you share your bin ?

[2016-09-14 13:13] sborpo commented on #5750
here is the binary  (it is zipped):
http://www.megafileupload.com/k7kg/Qt5Core.zip

Do you have a clue about the exports ? why there are 0 exports?
Thanks!

[2016-09-14 13:18] XVilka opened #5760 "gdb:// doesn't work on amd64 linux"
[code]

+

[code]

result in a wrong opening, see the data dump:

[code]

[2016-09-14 14:04] Susanne588586 commented on #5754
@Maijin @radare
sadly this runs in munmap error. the idea is to check for current directory, before calling r_str_concat.

[code]

[2016-09-14 14:42] #5642 closed

[2016-09-14 14:52] radare commented on #5754
yep. please send a PR, and having tests will be good

[2016-09-14 15:03] radare commented on #5760
yep i have the same issue with gdb-avr… i though that x86 was fine because @crowell said it was fine for him…

[2016-09-14 15:06] XVilka commented on #5760
It was at some point, it's regression.

[2016-09-14 15:07] radare commented on #5760
can you identify the offending commit?

[2016-09-14 15:07] XVilka commented on #5760
Will try, yeps.

[2016-09-14 15:21] radare commented on #5751
are you in debugger mode? in which OS? are you using r2 from git? which values do you have in search.* ?

[2016-09-14 15:32] jvoisin commented on #5748
What about `zs` for `z`ignature `s`earch instead of the weird `z/`?
Also, I don't think that it's worth having `/z`.

[2016-09-14 15:32] oddcoder opened #5762 "r_anal_get_fcn_in doesn't work properly without aa"
![screenshot_2016-09-14_17-26-20](https://cloud.githubusercontent.com/assets/10424605/18518605/53581bf0-7aa9-11e6-8655-36794819da70.png)

The binary file used
[echo.zip](https://github.com/radare/radare2/files/472527/echo.zip)

how to generate

[code]

[2016-09-14 15:36] MariasStory commented on #5751
Hi guys, thanks for your suggestions. I don't have much time for debugging the case today.
Will follow the case a bit later.

[2016-09-14 15:48] radare commented on #5748
Well to be consistent/ortogonal.. Or search stuff should be under / imho

[2016-09-14 16:36] Maijin commented on #5748
well yara uses "scan"

[2016-09-14 16:49] radare commented on #5762
as expected. get_fcn_in() requires the code to be analyzed to return something

[2016-09-14 17:25] radare commented on #5748
lldb also scans instead of searching. but this have nothing to do with the question :D

[2016-09-14 18:48] oddcoder commented on #5762
af should do analysis ?

[2016-09-14 19:21] radare commented on #5762
Yes

[2016-09-14 19:34] oddcoder commented on #5762
their is af in the commands I used and `get_fcn_in` failed inside pdf

I dont think this is the normal behavoir

[2016-09-14 19:49] #5465 closed

[2016-09-14 20:05] radare commented on #5717
Can you send a pullreq with this change? Both reasons should be handled in the same way imho

[2016-09-14 20:06] radare commented on #5716
We can add another color category in the cons.pal to handle different kinds of colors. Other comments can also be interesting to have

[2016-09-14 20:08] radare commented on #5715
You cant change the value of those vars because they are computer from other sources. I would not do that

[2016-09-14 20:36] radare commented on #5133
We should probably load them all into a single binobj. Not sure how its done for java but would be good to use the same method that it uses to load all the classes in a jar at once. Also im not sure if there are tests for this

[2016-09-14 21:03] zonkzonk opened #5766 "lulzfuzz: avb faulting"
[code]
 r2 -v:
 bc16525860b6efc7f42775d74b727cbff5f6fb05

 Greetings
 --zlul

 Greetings to c-base; I had my ordinateur missing :p

[2016-09-14 21:14] zonkzonk commented on #5766
meh

[2016-09-14 21:32] Susanne588586 commented on #5754
@radare sorry, im unable to do the patch. my first try munmapped into a core file :/ will race with others

[2016-09-14 23:33] radare opened #5767 "Add debug plugin callbacks to inject/unload dylib"
Base code from:

OSX: https://github.com/stephank/inject_dylib
OSX: https://github.com/rodionovd/task_vaccine/

libgum. as a portable way...

the simplest solution would be to just resolve the dlopen symbol in the target process and inject code that calls it with a specific library as argument. This is also possible to do with r2frida

[2016-09-14 23:33] radare opened #5768 "Add comment with previous bytes/instruction in `wa`"

[2016-09-14 23:43] radare opened #5769 "VE must support to change the background color too"
visual color theme editor

[2016-09-15 03:59] XVilka commented on #5715
@radare I wasn't talking about changing, just a view.

[2016-09-15 07:47] Maijin opened #5772 "Merge "an" non-return database with function argument detection database"
As one can notice, `an` which provides a way to define non-return function uses hardcoded values (functionality added by @radare):

https://github.com/radare/radare2/blob/master/libr/core/core.c#L1338-L1352
![image](https://cloud.githubusercontent.com/assets/1408600/18542055/0b44150a-7b29-11e6-9cd9-f3fb2ef8b6b0.png)

Since those are just information concerning return type, they should be added wit

[2016-09-15 07:58] jvoisin commented on #5748
Zignature stuff should be under a single command, `z`, in my opinion.

[2016-09-15 09:15] radare commented on #5715
Isnt :$?~.. Enough? Where do u want to have them? By pressing $ inside Ve?

[2016-09-15 09:51] radare commented on #5748
so its ok the way it is now for you?

[2016-09-15 10:29] Maijin commented on #5748
He said 'zs'

[2016-09-15 10:31] cryptax opened #5773 "Enhance support of Dalvik :)"
I am using _today's git (Sept 15)_.

Please get classes.dex from _[https://my.owndrive.com/index.php/s/uTrGVCtBh0ko09i](https://my.owndrive.com/index.php/s/uTrGVCtBh0ko09i)_ (it is taken from Android/Crosate malware, please beware ;) I do not believe this DEX is particularly advanced or tricky.
Rename the sample to classes.dex for instance.

**Cross references for the string** controlcenter.com/te

[2016-09-15 10:39] radare commented on #5768
inspiration source: https://twitter.com/keystone_engine/status/776116480236593152

[2016-09-15 10:53] #5754 closed

[2016-09-15 11:00] #5690 closed

[2016-09-15 13:04] radare commented on #4379
its fixed in master

[2016-09-15 13:04] #4379 closed

[2016-09-15 13:40] radare commented on #5751
without having the file or the setup you have its difficult to understand whats going on because i cant reproduce it

[2016-09-15 16:18] Forsari0 opened #5775 "Can't attach to a x64 process under 64-bit Windows"
So, attaching to x86 process works just fine;
But when I'm trying to attach to a x64 process, it's failes:

### Version

[2016-09-15 16:21] radare commented on #5775
cc @skuater

[2016-09-15 16:22] radare commented on #5756
try it yourself and you'll see that the code makes no sense. its not just about elf vs raw

[2016-09-15 16:31] Carlinho89 opened #5776 "sys/ios-cydia.sh failing with no error"
Hi, I'm trying to build radare2 for my iPhone6s. I can install normally radare2 with the 'sys/install.sh' on my Mac.

I'll attach a copy of the log.
[ios-cydia_log.txt](https://github.com/radare/radare2/files/475123/ios-cydia_log.txt)

I can't see where the error is..

[2016-09-15 16:40] Maijin commented on #5775
[code]
Still issue with sdb and windows looks like 👎

[2016-09-15 17:10] radare commented on #5775
again, this is not an issue with sdb, this is because it tires to find the files in the wrong path. dunno how tihs tarball is created. its 1 line to fix this

[2016-09-15 17:19] radare commented on #5776
just grep for “error:”

it fails trying to compile the debugger backend because you dont have the mach include files for iOS. in fact nobody does because apple doesnt provides them for so long. so just grab the ios-include.tar.gz and uncompress it inside the sys subdirectory. the build system will take care of it and override the system ones.

you can also pass —witohut-debugger

this is the error

[2016-09-15 17:20] radare commented on #5766
avb is not a command. the command is av. this is clearly a null deref.

[2016-09-15 17:25] #5766 closed

[2016-09-15 17:27] radare commented on #5718
cc @zlowram

[2016-09-15 17:30] alvarofe opened #5778 "Repeat disasm"
![captura de pantalla 2016-09-15 a las 19 28 45](https://cloud.githubusercontent.com/assets/3474042/18560179/c80a271e-7b7a-11e6-9d65-ac4bb7e58642.png)

[2016-09-15 17:31] #5725 closed

[2016-09-15 17:33] radare commented on #5778
can you write a testcase?

[2016-09-15 17:34] radare commented on #5778
i guess that happens when disasm size is smaller than string, this was suposed to be fixed half a year ago by ret2libc in addition to all the scrolling and such in the middle of non-disasm stuff in visual mode. and its probably related to the fixes that was added at the time.

[2016-09-15 17:46] alvarofe commented on #5778
will do, first i have to ask if i can share the bin since you know

[2016-09-15 17:50] Maijin commented on #5778
You know.

[2016-09-15 19:02] radare commented on #5748
In soviet russia does not

[2016-09-15 19:32] MariasStory commented on #5751
Hi @radare I don't have the time to do detailed analyze of the problem and I got some kind of answer for the memory dump that I was working on.

I assume that this was a problem with the dump. Still, I am surprised that the search is so slow.

You can close the issue.

[2016-09-15 20:03] #5751 closed

[2016-09-15 20:04] radare commented on #5751
you can profile the reason to identify why is that slow, but 99% sure is because of capstone. udis86 was much faster for the same operation. changing block size can also help,.. just giving some hints

[2016-09-15 20:16] radare commented on #5778
yes i know that i will have to fix what i have been waiting for months for others to do :P

im used to that :P

[2016-09-15 20:59] radare commented on #5778
i think this should be easy to reproduce by writing a .c with a long string

[2016-09-15 23:28] killabytenow commented on #5756
Why does it not have sense? Because the jmp at offset 0? this is the interrupt table... it is normal? Once is executed the first jmp, it jumps to main at 0x8e and clears the SREG, configures the stack (out 3e, 3d), etc... it seems a normal AVR program. I've not read all code, but it the first twenty instructions are meaningful.

[2016-09-16 09:05] radare opened #5781 "Honor symbol size during analysis"
some binaries contain symbol size information. this is important and useful for the analysis, because we can reduce the boundaries of the function size, and even use that to detect if we are analyzing at the begining of a function, etc..

having always in mind that this information can be tricked to mess up the whole thing. it would be interesting to have and use that from the current analysis loo

[2016-09-16 09:20] saucec0de commented on #5474
Fix proposal in #5782

[2016-09-16 09:32] #5474 closed

[2016-09-16 11:55] Maijin commented on #5756
![image](https://cloud.githubusercontent.com/assets/1408600/18585107/3d91012a-7c15-11e6-9305-788bb6b68240.png)
@Darkkey

[2016-09-16 12:02] najeex opened #5784 "radare2 unable to analyze some function"
I am playing with [this binary](https://github.com/RPISEC/MBE/blob/master/src/lab01/lab1A)
and see some function are not show or analyze but ida pro show all fuction. i try many command (iE,afl,afll). plz improve r2 to analayze
and this is pastbin file http://pastebin.com/aaEfE8q6

[2016-09-16 12:17] radare commented on #5784
rtfm http://radare.today/posts/analysis-by-default/

[2016-09-16 12:18] radare commented on #5784
also can you be more specific? which function is not found exactly?

[2016-09-16 12:21] radare commented on #5784
in short:

[code]

[2016-09-16 12:48] Maijin commented on #5784
[code]

[2016-09-16 12:48] Maijin commented on #5784
I suppose

[2016-09-17 09:30] alvarofe opened #5786 "pds miss some information"
![captura de pantalla 2016-09-17 a las 11 28 15](https://cloud.githubusercontent.com/assets/3474042/18607319/0a1ab998-7cca-11e6-95d3-63dd4c66bccb.png)
![captura de pantalla 2016-09-17 a las 11 28 26](https://cloud.githubusercontent.com/assets/3474042/18607320/0a1ddbe6-7cca-11e6-8a5a-133eaa88794d.png)

[2016-09-17 09:32] Maijin commented on #5786
Would be also really cool to have function prototypes display here :)

[2016-09-17 09:32] Maijin commented on #5786
As an option ofc

[2016-09-17 10:30] radare commented on #5786
again, this is a problem related to the recursive emulation of the disasm in the graph. for the same reason asm.emu doesnt works in there

[2016-09-17 13:05] Susanne588586 opened #5787 "3 feature requests pd"
Hi,

3 possible feature requests:
1.  pd N until instrunction name
2.   pd from instruction to instruction
3.   immediate disassembly of function for r2 -c

[2016-09-17 13:18] Susanne588586 commented on #5787
ok, I can get 3 through izz

[2016-09-17 15:06] Maijin commented on #5737
https://github.com/radare/radare2-regressions/commit/6bbbfc14854e9ecc661c340fd4f093c34a884a58

[2016-09-17 15:20] Maijin commented on #5698
Also found a bug in finding xref when creating this bug
https://github.com/radare/radare2-regressions/commit/dbe9df59d17eed49e9862e749f8e0ddc477af13a

[2016-09-17 15:41] Maijin opened #5788 "/a is broken (?)"
See test is working with /A but not with /a

https://github.com/radare/radare2-regressions/commit/465244c24983c47a08ed4aa936cb13657ad6b533

While working on https://github.com/radare/radare2/issues/3239

[2016-09-17 16:57] oddcoder commented on #5787
please note that r2 is extendable using  r2pipe which is have support in lots of programming language (like python for example) and you can create a script that performs both feature 1 & 2 using couple of python lines :)

[2016-09-17 18:45] Susanne588586 commented on #5787
sorry, but I don't want any external scripting language, when debugging my stuff. also, voices told me, that r2pipe is using -c for which some of the feature requests is

however I could pipe to stdout and use awk!

Thanks!

[2016-09-17 19:30] zlowram commented on #5718
Hi there @pinkflawd, thanks for reporting! Here some quick answers after a first look:

No. 1: In this case, since it's writing to a file, it is not necessary to display that message. Will take a look.

No. 2: This is because the `zg` command spits out a message when the signature is too short. This should be removed since it breaks the signature file and r2 will try to interpret that as commands

[2016-09-17 21:04] VisualPrankDude opened #5789 "?l print string length"
https://github.com/radare/radare2/blob/master/libr/core/cmd_help.c#L462
https://github.com/VisualPrankDude/stuff/blob/master/radare2-misc/questionmark_l.diff

[2016-09-17 21:10] VisualPrankDude opened #5790 "shift example exits r2 ?"
https://github.com/VisualPrankDude/stuff/issues/1

[2016-09-17 21:16] Maijin commented on #5789
What's this issue about ?

[2016-09-17 21:17] Maijin commented on #5790
What's this issue about ?

[2016-09-17 21:18] Maijin commented on #5789
I took time to label it, care to elaborate ? ...

[2016-09-17 21:21] Maijin commented on #5789
If this is just a one line fix, what about just fixing it using github edit ? https://help.github.com/articles/editing-files-in-your-repository/

[2016-09-17 23:25] alkino opened #5792 "Better output for mrc PC15 in arm"
Hi o/
MRC PC15 is an extension on arm proc (http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.ddi0464f/BABHDDAA.html) with is common (I think it is on all new arm cpu but can't be sure)/

In radare2 we got: mrc p15, 0, r0, c0, c0, 5 which is correct. But not so helpful. You need to read: http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.ddi0464f/BABIGAED.html

I think radare2 c

[2016-09-17 23:33] Maijin commented on #5792
@radar Similar idea as the in/out comment:

![image](https://cloud.githubusercontent.com/assets/1408600/18611614/03a4ffa4-7d3f-11e6-9f75-fdeb53e7f140.png)

[2016-09-18 00:03] VisualPrankDude commented on #5790
using shift ruins r_num_calc and exits r2:
 r2 -c "?in morrn\n;?(10000000000000>>32)" /bin/ls

[2016-09-18 08:06] radare commented on #5789
Cant add comments if you dont send a pullreq. You can do that by pressing the pencil icon in github. Or using the shell... You missed the 0x..

[2016-09-18 08:53] radare commented on #5789
Also, this patch is wrong because you are making print on accessing the variable. Use ?v $l to do that

[2016-09-18 11:32] Maijin commented on #5718
@zlowram fixed n*1, n*2 and n*4 you can confirm and check the checkboxes:
![image](https://cloud.githubusercontent.com/assets/1408600/18615339/693bc32e-7da4-11e6-9e89-3fa14ff836d6.png)

[2016-09-18 11:40] Maijin commented on #5718
https://github.com/radare/radare2/commit/f9b70631b2689b730e0234e3f6f99bbb61d59b1b The pull-request for information: 8 lines

[2016-09-18 11:53] Maijin commented on #5718
@zlowram probably adding a treshold to avoid zg to produce 29.5K zignature could be cool to add like cfg.maxzlen ?

[2016-09-18 14:07] VisualPrankDude commented on #5789
?v $l is using hex and it does not work:

[0x00404870]> ?v $l foobar; ?l foobar
0x2
6

Also it seemed to have never worked before with core->num->value = strlen (input)

[2016-09-18 14:09] zlowram commented on #5718
I think that before trying quick fixes zignatures "design" have to be reviewed. They are really basic now and maybe with a little bit of work could be improved.

A first step might be to create an e-var to avoid generating zignatures for loc.* and sub.* and focus only on lib code.

[2016-09-18 14:49] Maijin commented on #5698
@alvarofe another dll anal issue here ^

[2016-09-18 19:06] Maijin commented on #5691
Duplicates of https://github.com/radare/radare2/issues/2570

[2016-09-18 19:06] #2570 closed

[2016-09-18 20:14] radare commented on #5789
if you want dec use ?vi
but why is hex a problem?

[2016-09-18 20:14] radare commented on #5789
works for me

[0x00000000]> ?l patata
[0x00000000]> ?vi
6

[2016-09-18 20:26] VisualPrankDude commented on #5789
didn't knew about ?|
hex is not a problem, it is, in my version using ?v $l foobar or ?v $l foobarbaz is always 0x2

[2016-09-18 20:26] radare commented on #5758
This is already possible with `oa` command, please confirm i did this last week

[2016-09-18 20:34] #5748 closed

[2016-09-18 20:44] radare commented on #5347
so we can close this

[2016-09-18 20:44] #5347 closed

[2016-09-18 20:45] radare commented on #5210
3 months. ping

[2016-09-18 20:46] radare commented on #5183
i would prefer to just provide a .a to the linker instead of using pkg-config. but its a doable feature i guess

[2016-09-18 20:47] radare opened #5796 "Add command to reopen current file inside malloc://"

[2016-09-18 20:49] radare commented on #2531
should be fixed because we save comments in base64 now

[2016-09-18 20:49] #2531 closed

[2016-09-18 20:50] radare commented on #2531
(please confirm and add test if possible)

[2016-09-18 20:56] radare commented on #5789
but i agree that having to do ?vi after ?l to get the length seems unnatural… so maybe it is good to change that behaviour. what others think?

[2016-09-18 21:02] Susanne588586 commented on #5787
ok, as from the chat, 3 can be solved by below or similar:
r2 -qc 'af;s `izz~hash_get_n_entries[3]`;pd 10' /bin/ls| awk '/push|pop/{print}'

"<pancake> also is better to use izq~entries[0]"

[2016-09-18 21:03] radare commented on #4736
ideally using sdb loading huge projects should be done in miliseconds, because it will just imply mapping the database in memory. but this is not gonna be done anytime soon i guess.. i dont have much time for this lately

[2016-09-18 21:05] #5787 closed

[2016-09-18 21:07] radare commented on #4775
:______________

[2016-09-18 21:09] radare commented on #4756
hey @oddcoder im moving this issue for 1.x but keep it mind :)

[2016-09-18 21:25] radare commented on #5705
error: error: ::posix_spawnp ( pid => 31226, path = './trap', file_actions = 0x7fff5cf59348, attr = 0x7fff5cf59398, argv = 0x7fe97866a7b0, envp = 0x7fe97866d750 ) err = Malformed Mach-o file (0x00000058)

[2016-09-18 21:26] radare commented on #3173
this requires parsing Info.plist and such.. probalby in extras and low-prio

[2016-09-18 21:28] #5497 closed

[2016-09-18 21:32] #5496 closed

[2016-09-18 21:44] #5502 closed

[2016-09-18 21:52] #5503 closed

[2016-09-18 21:58] #5493 closed

[2016-09-18 21:58] #5494 closed

[2016-09-18 21:58] #5495 closed

[2016-09-18 21:58] #5498 closed

[2016-09-18 21:58] #5499 closed

[2016-09-18 21:58] #5500 closed

[2016-09-18 21:58] #5501 closed

[2016-09-18 21:58] #5504 closed

[2016-09-18 21:58] #5505 closed

[2016-09-18 21:58] #5506 closed

[2016-09-18 21:58] #5507 closed

[2016-09-18 21:58] Susanne588586 commented on #5789
others think it is a good idea :)

[2016-09-18 22:01] Maijin commented on #5424
I've gathered everything in here https://hackmd.io/GYQwHALADApgxlAtAZmANgIyIjWiBGATMAOyJpRr5gwCcJAJsAKwZA==

[2016-09-18 22:23] Maijin opened #5798 "moving build/ in radare2-extras"
This folder - https://github.com/radare/radare2/tree/master/build never touched since 4 years ago and confusing name "build" located at root of the project, what about remove it and move it in r2e ?

[2016-09-18 22:39] Maijin opened #5799 "Complete random behavior in p=, p=b"
Just repeat this several time:

`r2 -qc "b 2 ;wx 0xff ; p=b" -|head -n 40`

![image](https://cloud.githubusercontent.com/assets/1408600/18619620/72a9beae-7e01-11e6-9fe6-856715fde16f.png)

![image](https://cloud.githubusercontent.com/assets/1408600/18619623/7e294dda-7e01-11e6-87f5-e60e55364f8f.png)

[2016-09-18 23:12] radare commented on #5796
do it in the `oom` command

[2016-09-18 23:25] radare commented on #5799
Its fixed in master

[2016-09-18 23:25] radare commented on #5424
👍

[2016-09-18 23:28] radare commented on #5798
Wow 4 years

Imho this thing makes more sense and i should make some stuff in here soon or late. Theres no sense in moving to extras because this is suposed to be the build system for r2 and eventually replace the current one or provide an alternative build method.

Also having more than one build system helps to identify compilation issues

[2016-09-19 00:11] #5799 closed

[2016-09-19 03:31] radare commented on #5798
But i agree that at least a readme or a clear foldername would make the whole thing more pleasant

[2016-09-19 03:36] radare opened #5801 "Use esil instead of analop for swstep"
Esil is known to be capable of more stuff than just static analysis. Add an option in dbg.swstep.esil to use esil to determine the destination of an instruction like call [eax+3] at runtime

[2016-09-19 07:56] ret2libc commented on #5210
I'd prefer if someone else could do this

[2016-09-19 10:44] radare commented on #5789
@alvarofe what do you about this change? what's your use case for this?

[2016-09-19 12:44] #5633 closed

[2016-09-19 14:51] #5796 closed

[2016-09-19 15:03] radare commented on #4113
related to zignaturez

[2016-09-19 15:06] radare commented on #4857
cc @skuater

[2016-09-19 15:06] radare commented on #4384
ping @jkrshnmenon

[2016-09-19 15:44] #5790 closed

[2016-09-19 18:33] Maijin commented on #5113
@abpolym ping

[2016-09-19 18:38] Maijin commented on #5784
Ping1 @najeex

[2016-09-19 18:39] #4925 closed

[2016-09-19 18:40] Maijin commented on #4372
ping(2)

[2016-09-19 18:41] #294 closed

[2016-09-19 18:42] Maijin commented on #2438
ping(2)

[2016-09-19 18:42] Maijin commented on #2960
ping 2

[2016-09-19 18:43] Maijin commented on #3908
Then reopen the issue when time comes.

[2016-09-19 18:43] #3908 closed

[2016-09-19 18:44] #5336 closed

[2016-09-19 18:45] Maijin commented on #5255
ping(2)

[2016-09-19 18:48] #5197 closed

[2016-09-19 18:50] Maijin commented on #314
ping @Nodepad

[2016-09-19 18:55] Maijin commented on #372
@jvoisin I see this is checked on your issue ?

[2016-09-19 19:02] #1953 closed

[2016-09-19 19:04] #4978 closed

[2016-09-19 19:10] XVilka commented on #5798
TBH, I'm not sure this one will provide the same flexibility level as the Makefiles + acr. I know current one is very convoluted in some places and hacky too for a few targets, but it's the most portable one.

[2016-09-19 19:27] Maijin commented on #5798
Agree with @XVilka

[2016-09-19 19:28] Maijin commented on #5798
the most problematic with this build/ folder is that it is located at the root of the project, it is unused and everyone(beginner) think it is where the logic for build is. Which is not the case.

[2016-09-19 20:37] jvoisin commented on #5798
There is no point in keeping such thing currently, nor to have different build system: we should only have a well-maintained and clear one (the **moar better gooder simpler one**).

[2016-09-19 20:39] #372 closed

[2016-09-19 21:43] #198 closed

[2016-09-19 21:44] Maijin commented on #660
@Svenito ping

[2016-09-19 21:48] Maijin commented on #1375
@jduck status on this ? Is it closable ?

[2016-09-19 21:51] Maijin commented on #5721
@VPaulV ping

[2016-09-19 21:51] Maijin commented on #5717
@atrodo ping1

[2016-09-19 21:53] VPaulV commented on #5721
Hey, sorry I am pretty busy now, will do it when will have more free time

[2016-09-19 21:53] Maijin commented on #5789
I'm curious @Susanne588586 @VisualPrankDude at which point do you need this when RE?

[2016-09-19 21:55] Maijin commented on #1734
Any testcase for this ?

[2016-09-19 22:13] Maijin commented on #5643
You can already use "J" and "K" I will add pagedown/pageup

[2016-09-19 22:19] DigiAngel commented on #5643
Hi Maijin...hitting J or K results in filtering by JK.  This is after hitting the _ key.  Screenshot included.
![2016-09-19 16_18_14-zone-y](https://cloud.githubusercontent.com/assets/947191/18650834/b7d607ac-7e84-11e6-99c3-8afe85502b03.jpg)

Does this make sense?  Thank you.

[2016-09-19 22:20] DigiAngel commented on #5643
Commands:
[code]

For example if I type "reloc" I'll get the includes screenshot.
![2016-09-19 16_20_00-zone-y](https://cloud.githubusercontent.com/assets/947191/18650873/fc0f2e6c-7e84-11e6-8c42-4f7d547dd2cd.jpg)

Thanks again.

[2016-09-19 22:21] Maijin commented on #5643
yes I see

[2016-09-19 22:26] DigiAngel commented on #5643
Sweet.  Personally I think that page up/page down would be appropriate here as people may well want to filter with "J" or "K".  Thanks so much..sorry I wasn't clearer...again 8-|

[2016-09-19 23:04] radare commented on #5255
This is fixed now with the -g thing

[2016-09-19 23:04] #5255 closed

[2016-09-19 23:05] radare commented on #2438
I think theres  atest for the fatmach0-3true and it is passing :? Or it was last time i checked but the recent changes could broke it somwhow

[2016-09-19 23:19] VPaulV commented on #5721
Heh, sorry, moving from one living place to another sometimes is pretty time demanding process

[2016-09-19 23:28] Maijin commented on #5643
* https://github.com/radare/radare2/blob/master/libr/cons/hud.c#L222

[2016-09-19 23:30] Maijin commented on #5643
Nah I though u were speaking of Flagspace set which is easy to patch but this stuff is a mess. @XVilka may be more lucky on this.

[2016-09-19 23:32] Maijin commented on #2438
There is no test for that in https://github.com/radare/radare2-regressions/blob/master/t.tools/rabin2/rabin2

[2016-09-19 23:51] radare commented on #2438
see t.formats/mach0/fatmach0

[2016-09-19 23:54] Maijin commented on #2438
ah ok then let's close this.

[2016-09-19 23:54] #2438 closed

[2016-09-20 02:32] NikolaiHampton commented on #5386
@radare @Maijin - The issue raised by @computereasy was the segfault was and that was fixed by @alvarofe.
The August 2 comment regarding "shedding light on how MATCH/UNMATCH" works I think is unrelated to the segfault. I think this should be opened as a different issue.

[2016-09-20 06:34] Svenito commented on #660
Back in the saddle. I assume that

is the next item to tackle

[2016-09-20 06:50] radare commented on #5643
I will do that its just 1-2 lines of code

[2016-09-20 10:37] alvarofe commented on #5645
[code]

[2016-09-20 10:37] alvarofe commented on #2438
I opened another issue cause in fatmach seems to be a regression https://github.com/radare/radare2/issues/5645 so is safe to close this issue

[2016-09-20 10:50] #5368 closed

[2016-09-20 10:59] DigiAngel commented on #5643
Awesome...thank you!

[2016-09-20 11:14] #5643 closed

[2016-09-20 11:23] radare commented on #5643
it was more than 2 lines, but simple shit to do. njoy

[2016-09-20 11:24] radare commented on #5645
i think murphy was also aware of this issue dunno if he have any shareable bin

[2016-09-20 11:35] Maijin commented on #840
Do we have binaries for this ?

[2016-09-20 11:47] Maijin commented on #5750
[Qt5Core.zip](https://github.com/radare/radare2/files/482438/Qt5Core.zip)

[2016-09-20 12:22] radare commented on #5721
I will do that i know what to change i just needed a proof of that brokenness. A test would be great to have

[2016-09-20 15:29] Maijin commented on #5471
@killabytenow sen this ?

[2016-09-20 15:56] pinkflawd commented on #5718
I don't have any idea particularly how radare creates/scans for zignatures, but got some ideas that might be useful, only maybe:

- treating zignatures as binary data, if I see correctly right now they are stored in ascii format (?) - I understand that is because it will be parsed by the zg command, but maybe a separate option for dealing with bulk import makes sense?
- zignature "compression" in

[2016-09-20 16:19] Susanne588586 opened #5809 "iM - doesn't work for MS-DOS executable?"
Hi

[code]

[code]

specifying -b 16 also does not help.

[2016-09-20 16:28] Susanne588586 commented on #5809
hm, maybe it is already there.

[2016-09-20 16:30] Maijin commented on #5809
@Susanne588586 add test if you can.

[2016-09-20 16:36] Susanne588586 opened #5810 "ir/iR relocations for MS-DOS executable?"
[0000:3600]> ir|wc -l
2957
[0000:3600]> iR|wc -l
2957
[0000:3600]>

not sure, because MS-DOS was before my time, but I could
swear this is not ELF.

Shall I upload teh phile?

[2016-09-20 16:37] Maijin commented on #5810
duplicate issue use search engine on github please https://github.com/radare/radare2/issues/1200

[2016-09-20 16:37] #5810 closed

[2016-09-20 16:39] Susanne588586 commented on #5810
MZ executables only consists of 2 structures: the header and the relocation table.

[2016-09-20 16:40] Susanne588586 commented on #5810
why can Maijin close my issues?

[2016-09-20 16:41] Maijin commented on #5810
Read my comment.

[2016-09-20 16:52] Susanne588586 commented on #5809
[code]

[2016-09-20 16:54] Maijin commented on #5809
Why can't you do a Pull-request?

[2016-09-20 16:54] jduck commented on #1375
After my recent changes, there are the "r_bp_enable" and "r_bp_enable_all" function, which simply set the enabled flag on the breakpoint(s). They do not (de-)activate ((un-)"restore") breakpoints at all. "r_bp_restore" (and _one and _except versions) live in IO and actually handle putting software breakpoints in place. Finally, these functions are called by the "bp_hit" and "recoil" functionality

[2016-09-20 16:56] Susanne588586 commented on #5809
maybe 0x0040:132b :)

[2016-09-20 16:56] Maijin commented on #5809
What do you mean?

[2016-09-20 16:56] Susanne588586 commented on #5809
because I want to discuss before pull

[2016-09-20 16:57] Maijin commented on #5809
Your example is PE not an MZ

[2016-09-20 16:58] Susanne588586 commented on #5809
depends on 16bit or 32bit mode, not sure

[2016-09-20 16:58] Susanne588586 commented on #5809
PE has MZ header

[2016-09-20 16:59] Maijin commented on #5809
I know but what's your point, this 0x0040132b is the entrypoint of the PE

[2016-09-20 17:01] jduck commented on #198
The core request of this issue is "access breakpoints on memory ranges". That does not seem to be implemented, so perhaps closing this issue is premature.

However! It seems very difficult to implement more than what exists already. How would someone specify what to do once such a breakpoint is hit? As @radare said, you can already change page permissions with "dm". Even if we did that for the use

[2016-09-20 17:02] Svenito commented on #3395
Running this on the latest git release I get:

    $ rasm2 -a x86.nasm  'label:;call label'
    e8fbffffff

and

    $ cat test.s
    label:
    call label

    $ rasm2 -a x86.nasm -f test.s
    e8fbffffff

The rest in r2r is `t.asm/label/singleline` (https://github.com/radare/radare2-regressions/blob/3af33bb99f0653c2f6becee6eab75f8d6082ebc0/t.asm/labels/singleline) which also seems to pass. Assum

[2016-09-20 17:03] Susanne588586 commented on #5809
yes and r2 does not find it in 91cb15a3e77750c7b905bb515e44188ff6e1678d

[2016-09-20 17:03] Maijin commented on #5809
![image](https://cloud.githubusercontent.com/assets/1408600/18680655/f971d188-7f64-11e6-964f-fa3bc17d3576.png)

[2016-09-20 17:03] Maijin commented on #5809
Works for me

[2016-09-20 17:04] Maijin commented on #3395
Thanks !

[2016-09-20 17:19] Maijin commented on #5809
If the question is about main detection it's already tracked there #832

[2016-09-20 17:19] #5809 closed

[2016-09-20 17:21] radare commented on #3395
that works because label evaluates to 0 and therefor it works. so this is not fixed at all

[2016-09-20 17:23] Svenito commented on #3395
OK. I'll keep on it then

On Tue, 20 Sep 2016, 18:21 radare, <notifications@github.com> wrote:

[2016-09-20 17:29] radare commented on #198
you can identify which instruccion accessed that mem range with assessed debugging with dsue or other esil-helpers for the debugger. Hardware breakpoints are working (on x86), an should be implemented for other archs as well. that would solve the problem

it is possible to run commands on breakpoint hit, a guy sent a pr on that recently (<1month) and it was already possible before with dbC. so you

[2016-09-20 17:31] radare commented on #3395
feel free to add tests :3

[2016-09-20 17:52] Svenito commented on #3395
Will do

[2016-09-20 18:46] Susanne588586 commented on #5809
iM != ie

[2016-09-20 18:46] Susanne588586 commented on #5809
@radare wat do

[2016-09-20 18:47] Susanne588586 commented on #5810
I agree on that, but I shall close myself my issues !

[2016-09-20 19:22] zonkzonk opened #5812 "dg after db with long breakpoints, in linux_generate_corefile"
morrn,

[code]

[2016-09-20 19:23] zonkzonk commented on #5812
[0x7f02c0f38cd0]> e dbg.bpinmaps
false
[0x7f02c0f38cd0]> db
0x00000000 - 0x00000001 1 --x sw break enabled cmd="" cond="" name="AA€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A€A

[2016-09-20 19:46] Maijin commented on #5810
:P faster.

[2016-09-20 19:46] Maijin commented on #5809
Follow, write tests and comment this issue #832 😄

[2016-09-20 19:47] Maijin commented on #5809
It's already tracked in an issue why opening 1000000 issues for the same thing ?

[2016-09-20 19:49] zonkzonk commented on #5812
happens after two such bigger breakpoints :)

[2016-09-20 20:10] radare commented on #5812
as long as this is the line that fails:

        elf_proc_note->n_threads = proc_data->per_process->num_threads;

can you run the following lines in gdb?

print elf_proc_note
print proc_data->pre_proess

my guess is that one of those is null

after that you can already add a null check and try the patch yourself

[2016-09-20 20:40] radare opened #5813 "VVR doesnt honors scr.randpal like VR does"
(copypaste code)

[2016-09-20 20:55] #5772 closed

[2016-09-20 21:36] alvarofe commented on #5789
I can't come up with a use case for this, but is true that help says

[code]

so make senses implement it in ?l instead of use ?vi afterwards.

[2016-09-20 22:17] radare commented on #5789
return != print.. but yep

[2016-09-20 22:21] zonkzonk commented on #5812
so far:

(gdb) p  elf_proc_note
$1 = (elf_proc_note_t *) 0x562da5242dc0

(gdb) p  proc_data->per_process
$2 = (proc_per_process_t *) 0x0

[2016-09-20 22:36] zonkzonk commented on #5812
[0x7f247dc97cd0]> dg
Writing to file 'core.18514'
screweddg: coredump failed
r_file_dump file: core.18514 buf: (nil)

[2016-09-20 22:37] radare commented on #5812
this saves from a crash, but .. do the process exist at the time of trying to dump it?

[2016-09-20 22:46] zonkzonk commented on #5812
https://github.com/radare/radare2/pull/5814

[2016-09-20 22:57] VPaulV commented on #5721
ok, will add it on weekends, but is there a way to set a time-out for test?

[2016-09-21 08:00] Maijin commented on #5721
yes

[2016-09-21 08:32] radare commented on #5721
not for now, but it can be easily implemented

[2016-09-21 08:36] Maijin commented on #5721
TIMEOUT=1 is here

[2016-09-21 08:36] radare commented on #5721
ah i though you mean timeout in the r2pipe.c api

[2016-09-21 08:36] Maijin commented on #5721
https://github.com/radare/radare2-regressions/blob/master/tests.sh#L216 just need to be completed for r2 tests probably

[2016-09-21 09:06] Maijin commented on #5589
Also, reimplementing the logic of https://github.com/fireeye/flare-floss with ESIL could also be done

[2016-09-21 09:14] radare commented on #5192
can you confirm if this is fixed now?

[2016-09-21 09:14] radare commented on #4384
looking forward your PR :)

[2016-09-21 09:15] radare commented on #4631
ping @poliva

[2016-09-21 09:16] radare commented on #4775
can you check this issue @daniel-rome ? you have access to be-mips machines

[2016-09-21 09:18] radare commented on #680
ping @montekki can you send a pr for that? checking for arch can be a dirty but working solution, so having this done with a couple of tests would be good for me

[2016-09-21 09:18] radare commented on #680
also we can differentiate if the number starts with # instead of just 0x and if it contains :

[2016-09-21 09:19] radare commented on #4556
Moving to 1.x as long as it doesnt seems to be a problem for now

[2016-09-21 09:19] radare commented on #4781
no time for this release :D moving a bit further

[2016-09-21 09:23] radare commented on #5221
i dont think skiplist solves this problem at all, and breaking the bindings is a no-way unless we patch valabind to support skiplist

[2016-09-21 09:27] daniel-rome commented on #4775
Ok! let me some days, I am a bit busy ;)

[2016-09-21 09:29] killabytenow commented on #5471
These pair of instructions are not implemented in the old implementation neither in mine. I will take a look into the binary, but I will try prioritize the implementation of these instructions and include them in the next PR.

[2016-09-21 09:35] radare opened #5815 "ESIL assisted mmu breakpoints (assisted hardware breakpoints)"
dsue can do that, but that's slow because it steps into ,so the fastest method would be:

* change permissions of given map
* on exception analyze with esil if the instruction is accessing the specific memory address
* if nope, just drop page perms, step into, change perms again and continue

[2016-09-21 09:38] MariasStory commented on #5589
Cool reference @Maijin.
According to their documentation, the floss can already be used with r2:

I didn't test it jet.

[2016-09-21 09:40] radare commented on #5698
this is simple to do.. buuuuuut the problem is that those references can change at any time if memory changes because the contents of the address are not static like the instruction is. so it is not a reliable reference

[2016-09-21 09:41] radare commented on #5698
maybe we should consider adding a new type of reference for this

[2016-09-21 09:43] radare commented on #4775
can you do this for 0.10.6 release?

[2016-09-21 09:45] radare commented on #5778
this issue is very important. and can also be reproduced this way:

"Cs $SS;pd 1"

[2016-09-21 09:46] zlowram commented on #5718
Thanks for this ideas! I'll take them into account for optimising the signature scanning. However, I'll focus first on having them working properly :)

[2016-09-21 09:47] radare commented on #2712
removing @ret2libc as long as i cant expect this to be done for the next release or by him at all

[2016-09-21 09:47] radare commented on #2712
if anyone wants to check this go for it, otherwise i'll try to focus on that when i have some spare time next year

[2016-09-21 09:49] radare commented on #4162
hello? anyone alive?

[2016-09-21 09:49] radare commented on #4162
moving to the next release as long as nobody cares

[2016-09-21 09:49] radare commented on #4216
totally low prio

[2016-09-21 09:50] radare commented on #4592
imho current script is quite good. im closing this issue for now, just send pr if you think we need anything else

[2016-09-21 09:50] #4592 closed

[2016-09-21 10:08] monosource commented on #5192
Yes, it's fixed. Thanks a lot!

[2016-09-21 10:08] #5192 closed

[2016-09-21 10:09] Maijin commented on #5589
I know I added the support for radare2 in the project. But this isn't the same as what I proposed.

[2016-09-21 10:13] monosource commented on #5472
Still broken.

[2016-09-21 10:18] radare commented on #4372
please try on latest git

[2016-09-21 10:19] radare commented on #4997
not prio for this release. but nice to have it at some point

[2016-09-21 10:24] jvoisin commented on #5589
Maybe this could go into a separate `r2pipe` script into of r2.

[2016-09-21 10:32] jvoisin commented on #5568
I think that @oddcoder's work on function's types recognition might help too.

[2016-09-21 10:45] oddcoder commented on #5568
fixed by
https://github.com/radare/radare2/commit/6c47f5a20d08760289004f2ae15612b9a4073e0a

[2016-09-21 10:46] oddcoder commented on #4929
fixed by https://github.com/radare/radare2/commit/6c47f5a20d08760289004f2ae15612b9a4073e0a

[2016-09-21 10:50] oddcoder commented on #4929
well not fully done*

[2016-09-21 11:12] Maijin commented on #5472
It's still being worked on by @saucec0de on #5802

[2016-09-21 11:12] Maijin commented on #5472
Add tests please

[2016-09-21 11:13] Maijin commented on #5589
Yes for sure or even a separated project

[2016-09-21 11:56] Maijin commented on #3395
<unlogic> https://github.com/radare/radare2/issues/3395 for this, any suggestions as to how to test this?

[2016-09-21 11:56] radare commented on #3395
just rasm2 -a x86.nasm  'nop;label:;call label'

[2016-09-21 11:58] Maijin commented on #660
Closing this for now.

[2016-09-21 11:58] #660 closed

[2016-09-21 12:02] Svenito opened #5816 "Option to drop zeros from compiled instructions in nz assembler"
Some instructions have trailing zeros and nz should be able to drop these like olly does using the `SHORT` keyword

[2016-09-21 12:22] radare commented on #5816
nopes its not about trailing zeros, its about zeros at any place. the thing is that some places where you can put code doesnt allows to have some chars because they are invalid, so the idea behind this is to avoid those characters in the construction without using an encoder. just placing that inside the assembler would be enough, so in case we dont want zeros and we add 3 to eax, we can do the sa

[2016-09-21 12:24] Svenito commented on #5816
i see. Ok, that makes sense, but I'll need to do some reading up on this. Thanks for elaborating

[2016-09-21 12:36] radare commented on #4929
oh.. wats missing?

[2016-09-21 12:36] oddcoder commented on #4971
probably this is fixed by now

[2016-09-21 12:36] #4971 closed

[2016-09-21 12:47] radare commented on #4775
verified by @daniel-rome it was already fixed by me in 90fb18dcfc

[2016-09-21 12:47] #4775 closed

[2016-09-21 12:54] oddcoder commented on #4929
automatic detection of similar functions to this one as noreturn
[code]
since all pathes here would lead to a no return function this function should also be identified as no return but that wont simply happen, one should add that manually

[2016-09-21 12:58] oddcoder commented on #4929
probably we will be able to that at certain point :)

[2016-09-21 13:12] jkrshnmenon commented on #4384
Created a PR. Looking forward to your comment

[2016-09-21 13:23] jvoisin commented on #5312
The generated ESIL is right:
[code]

[2016-09-21 13:27] Maijin commented on #5798
Can we move it here then https://github.com/radare/radare2/tree/master/sys ?

[2016-09-21 13:28] radare commented on #5798
ok move it there

[2016-09-21 13:58] brainstorm opened #5819 "Bits editor should respect asm.bits"
The current incantation of radare's bit editor does not respect the length of the instruction (`asm.bits`). See radare's screenshot vs datasheet opcode bits:

![skarmavbild 2016-09-21 kl 09 48 16](https://cloud.githubusercontent.com/assets/175587/18713779/cbd27b38-8013-11e6-9f3d-1cf6414ec490.png)
![skarmavbild 2016-09-21 kl 09 49 37](https://cloud.githubusercontent.com/assets/175587/18713777/cbce7

[2016-09-21 14:48] jvoisin commented on #1206
Nah, the *showing reg values* is simply taking the current values of the registers in debug mode, no need for fancy analysis.

[2016-09-21 14:52] jvoisin commented on #5589
Lets close this then.

[2016-09-21 14:52] #5589 closed

[2016-09-21 14:53] Maijin commented on #5589
I agree.

[2016-09-21 14:53] radare commented on #5819
Asm.bits is honored here too. Whats the problem?

[2016-09-21 14:54] Maijin commented on #1206
@jvoisin I see only remaining issue unchecked is `Print upward and downward jumps in a different colour` correct ?

[2016-09-21 15:09] radare commented on #5819
this is reflected in `hex`.. not sure if the bit editor will work on > 8 byte words

[2016-09-21 15:09] radare commented on #5819
also, add a seaprate issue for the bitshifting/rotation stuff

[2016-09-21 17:17] resetnow opened #5821 "Heap buffer overflow in cmd_print"
In this issue, it is assumed #5820 is merged/applied (fix for another overflow).

Steps to reproduce:

1. Compile r2 with address sanitizer
1. Load <a href="https://resetnow.ru/temp/r2-xtensa-crash">this binary</a>
1. Pipe to minidec
1. Observe crash

The result of tmp_get_contsize is changed between allocation of func_buf, and call to r_io here https://github.com/radare/radare2/blob/master/libr/c

[2016-09-21 17:59] alvarofe opened #5822 "Show in comments the string even if wide string (common thing with windows binaries)"
![captura de pantalla 2016-09-21 a las 19 55 52](https://cloud.githubusercontent.com/assets/3474042/18722618/b7d6a2f4-8035-11e6-9a5d-22d4bba8691c.png)

[code]

[2016-09-21 18:37] Maijin commented on #5822
This already works no ?

[2016-09-21 18:46] zonkzonk commented on #5822
@Maijin look closer :)

[2016-09-21 18:58] Maijin commented on #5822
I don't have the binary sadly

[2016-09-21 19:19] jvoisin commented on #1206
Yes sir

[2016-09-21 19:26] Maijin commented on #1206
Ok then can you remove all the other message of the thread and add a screenshot of this ?

[2016-09-21 19:50] alvarofe commented on #5822
and more, so it seems regression on filter

[code]

[2016-09-21 19:59] Maijin commented on #5822
Yeah the string is defined by analysis and xref exist, probably sone improvement needed :)

[2016-09-21 22:25] alvarofe opened #5824 "Big endian regression?"
[code]

when defining as string

[code]

when it should be  `VMXh`

[2016-09-22 05:33] saucec0de commented on #5472
Yes, pr #5802 fixes these issues. Tests have been added in radare/radare2-regressions/commit/6bcc48dea4ac391e14e4b5ba95c51c9efee2d188 where I have crafted a binary that tests all sorts of call and jmp.

[2016-09-22 10:19] #5813 closed

[2016-09-22 12:04] brainstorm commented on #5819
Solved in https://github.com/radare/radare2/commit/43a3eacd :)

[2016-09-22 12:04] #5819 closed

[2016-09-22 12:35] radare commented on #5386
Should be fixed, please confirm

[2016-09-22 13:47] radare commented on #5824
nope thats fine imho because it's little endian, so the lower 0x68 is the first 'h' in the string

[2016-09-22 13:48] Maijin commented on #5386
Not fixed. Here is the false and true comparison:

![image](https://cloud.githubusercontent.com/assets/1408600/18750565/f4542638-80db-11e6-8d8f-e7198ff4e0cd.png)

Still this `UNMATCH  (1.000000)`

[2016-09-22 14:35] saucec0de commented on #5472
#5802 was merged. issue can be closed

[2016-09-22 14:37] #5472 closed

[2016-09-22 18:01] killabytenow commented on #5471
Working on this issue:

https://github.com/killabytenow/radare2/blob/git-pull-of-my-branch/libr/anal/p/anal_avr.c

Try to pull of this branch and try... this patches should fix your issue.

[2016-09-22 18:19] radare commented on #5471
i will pull your branch this weekend :*

[2016-09-22 18:34] radare commented on #5388
see the new radiff2 -S

[2016-09-22 18:37] radare commented on #5778
This is fixed in 5c7313641dacd4f71f6699e5456fab3b5fc1a06b

thanks @alvarofe

[2016-09-22 18:37] #5778 closed

[2016-09-22 19:02] nullbites opened #5828 "de-XOR strings in 'p'"
Idea for r2 related to malware analysis:

Implement a 'p' option that will xor strings/data with a string or value and print the result with the other formats (d, s, & u).

I saw the w option can do that with wox, but this might be a neat feature to implement with the 'p' command.

[2016-09-22 20:21] Maijin commented on #5828
What is "d, s and u ) ?

[2016-09-22 21:02] nullbites commented on #5828
The sub functions of 'p' d=disassemble s=strings, sorry about not being
clear on that

[2016-09-22 21:07] Maijin commented on #5828
Iirc you can use the clipboard (y? command) to do this too. I don't see really benefit of this @radare  ?

[2016-09-22 21:33] nullbites commented on #5828
Radare is about scriptability, so going from radare to python ord and xor back into radare seems kinda messy.

That being said I totally get it if this isn't implemented because of other tools.

[2016-09-22 21:53] Maijin commented on #5828
? The functionality of xor with strings (woD) and character (wox) already exist in at least two ways I just don't get what adding a third one in p will add more ?

[2016-09-23 01:02] chairkov opened #5830 "scr.pager = /usr/bin/id"
[code]

[2016-09-23 01:18] jjdredd commented on #5830
were you trying to say something specific?

[2016-09-23 08:11] h4ng3r commented on #5773
Anal is not working and I'm focusing on disas first. The entrypoints cant be parsed from the AndroidManifest so we need to think how should we handle that. I'll check the other issues next week.

[2016-09-23 10:13] pinkflawd opened #5833 "Function detection issue"
Hello,

I tested function detection on a VisualStudio binary with not much more than one function, and seems the function is found but length is not determined correctly. Binary attached, pw. infected

The function in question is located at 0x401090, when disassembled with pdf @ ... the output ends at 0x40118a; true end of function though is at 0x401248.

Also curious, when listing functions with

[2016-09-23 10:52] radare commented on #5833
Theres function size and boundary, which may differ if it contains shared basic blocks or far jumps. I cant check the binary now, but i would like to know which command did u used to analyze the binary and if we miss any noreturn function in the registry (how does the function look like (ending with a call exit or so?)

[2016-09-23 11:23] alvarofe commented on #5786
The main issue here is cause is working by string matching a bad idea imho, cause is searching by `sym`,  `fcn.` and such, the issue here is when the user changes the name of the function. Thus the whole thing should be implemented using RAnalOp to know when is called and can be arch independent. I did some changes with the aim to improve it but is not perfect and must be implemented in another wa

[2016-09-23 11:28] alvarofe commented on #5786
With my PR

[code]

![image](https://cloud.githubusercontent.com/assets/3474042/18784316/93f0823a-8191-11e6-9018-7dc5f6d88940.png)

[2016-09-23 12:10] pinkflawd commented on #5833
Ohai :)
I used 'aaa'.

Here is the last instructions when issuing pdf @ 0x401090

[code]

Here is what the end of the function should be:
[code]

[2016-09-23 12:30] Maijin commented on #5833
try `e anal.jmptbl = true ; aaa`

[2016-09-23 12:47] Svenito commented on #3395
I'm still getting the same result when using multiline or single line for those instructions

[2016-09-23 13:00] pinkflawd commented on #5833
Cool with this pdf finds the end of the function correctly. The missing functions above 0x40149e still missing though.
Thanks!

[2016-09-23 13:07] Maijin commented on #3395
@radare

[2016-09-23 13:09] Maijin commented on #5833
is it detected wit `e anal.hasnext =true ; aaa` ?

[2016-09-23 16:07] Maijin commented on #5833
@radare @pinkflawd just added a test https://github.com/radare/radare2-regressions/commit/92dc3729bbfed760e1529b2ec693aa99c691107a

Will we see jmbtbl activated by default soon ?

[2016-09-23 16:08] alvarofe commented on #5822
done

[2016-09-23 16:08] #5822 closed

[2016-09-23 16:25] #5830 closed

[2016-09-23 16:29] Maijin commented on #5487
@saucec0de can you check if this is fixed ?

[2016-09-23 17:18] marespiaut opened #5836 "radare2 misinterpreting instructions as a string for a DOS binary"
Hello,

I've been comparing the output of radare2 with the DOSBox debugger.
I'm working on `fire.exe` from the DOS video game **Fire & Ice** (Renegade, 1993).
[code]

Starting at entry point, DOSBox, is going to display the following:
[code]
while, radare2 is going to display the following
[code]
You can see that, for DOSBox, at position `11B9:0040`, the bytes `29C38EDA8EDA8EC3B103` corresponds to

[2016-09-23 17:25] Maijin commented on #5836
Hello,

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2016-09-23 17:27] marespiaut commented on #5836
Hello @Maijin,

I'm using the following version:
[code]

I'm installing radare2 from git right away.

[2016-09-23 17:40] marespiaut commented on #5836
@Maijin, I've tried with the latest version of radare2, but the result is still the same.
[code]

[2016-09-23 17:47] Maijin commented on #5836
I see it's an abandonware right, can you link the binary here (You can drop a .zip on github containing the executable)

[2016-09-23 17:55] marespiaut commented on #5836
@Maijin, I have uploaded the game on my personal website: https://tinyurl.com/zxfcesk

[2016-09-23 17:56] Maijin commented on #5836
<3 Your avatar, I love Goblins <3

[2016-09-23 17:56] marespiaut commented on #5836
Here is the full game, zipped.
[fire.zip](https://github.com/radare/radare2/files/490345/fire.zip)

[2016-09-23 18:00] Maijin commented on #5836
Goblins guys are true genius !

[2016-09-23 18:01] Maijin commented on #5836
@marespiaut  Found some easter eggs in Adibou using r2 :P but not yet found how to trigger them in the game :P

[2016-09-23 18:03] marespiaut commented on #5836
@Maijin We need to talk via email, or IRC, I think we have some interest in common.

[2016-09-23 18:04] Maijin commented on #5836
You can join #radare on irc or use telegram https://telegram.me/joinchat/ACR-FgWyg1bbu9YUzT_5pg

[2016-09-23 22:34] alvarofe commented on #5786
fixed and tested

[2016-09-23 22:34] #5786 closed

[2016-09-24 08:22] radare commented on #5487
Ping

[2016-09-24 08:24] radare commented on #5833
Yep but not before the release. I want to do some more tests with it before enabling it

[2016-09-24 08:26] radare commented on #5836
-e bin.strings=false.

Theres some code in rbin that defines the rules to consider something a string or not. We should make those checks more stricts for msdos binaries. Will check when i have some time

Thanks for reporting

[2016-09-24 08:39] radare commented on #3395
Oh so it works then?

[2016-09-24 08:41] radare commented on #3122
Do we have tests for all that stuff?

[2016-09-24 08:42] Svenito commented on #3395
I'm inclined to say yes, as I'm unable to get different output from multilinear or single line input as described. I can add tests if you like though

[2016-09-24 08:49] radare commented on #5828
Yeah i agree on that.. But r2 aims to be ortogonal and unixlike so i see this problem can be solved in a more generic way.. Maybe having a syntax for specifying temporal changes in the core.block like it happens wih some @ modifiers. So we will not need to have a different print command for each block manipulation. And as long as i dont want to do that maybe the best way would be to allow write op

[2016-09-24 09:06] Maijin opened #5839 "Add custom alphabets for woE woD baseXX"
Add custom alphabets for woE woD baseXX use the key to provide it

[2016-09-24 09:08] Maijin commented on #3395
@Svenito yes please

[2016-09-24 09:08] Maijin commented on #3122
Going to check

[2016-09-24 09:28] radare commented on #3395
So close this

[2016-09-24 09:28] #3395 closed

[2016-09-24 12:52] VisualPrankDude opened #5841 "arm binary/img as comment? / cannot set breakpoint"
Hi,

in this ![ phile 108255a elf](https://cloud.githubusercontent.com/assets/6604362/18808587/64a00c96-8266-11e6-9294-4708bd6642b7.png) I see binary/img as a comment, is it bug or not?

[code]

[2016-09-24 13:13] chairkov commented on #5830
@radare what can we do about this ? ( Setting pager to something other then a pager)

[2016-09-24 13:14] radare commented on #5830
Nothing

[2016-09-24 13:55] VisualPrankDude commented on #5841
also debugging has problems, setting e asm.arch to arm doesn't work:

[code]

[2016-09-24 15:52] saucec0de commented on #5487
sorry delay. yes, i will check if fixed...

[2016-09-24 15:59] VisualPrankDude commented on #4268
radare2rc looks good to me. I don't think, "rc" is a good name, because it could be confused with /etc/init.d/rc
also, let me tell, I hate collecting radare2rc from ~/.config.
  grrr !1

[2016-09-24 16:17] saucec0de commented on #5487
on radare2 latest, i could not reproduce the issue. the step-over is executed correctly on my machine and no crazyness happens.  as such, i can recommend the issue too be closed.

[2016-09-24 16:19] #5487 closed

[2016-09-24 16:20] #5717 closed

[2016-09-24 16:20] #5349 closed

[2016-09-24 16:20] #5344 closed

[2016-09-24 16:22] Maijin commented on #3406
Dup of #5487 fixed

[2016-09-24 16:22] #3406 closed

[2016-09-24 16:23] VisualPrankDude opened #5844 "ds_atabs_option saved by capstone?"
Hi,

 is it possible to overflow size in ds_atabs_option(..) ?, then malloc would eventually suffer and st
rcpy is not terminated? (q from chat)

https://github.com/radare/radare2/blob/master/libr/core/disasm.c#L869

[code]

[2016-09-24 16:30] #5745 closed

[2016-09-24 16:30] #5735 closed

[2016-09-24 16:39] h4ng3r commented on #5773
@cryptax I checked the disassamble with the latest version and it seems ok, can you check it again plis?
This is what I get with r2:
[code]

[2016-09-24 16:53] h4ng3r commented on #3141
Not sure if it's working for Java:
[code]

For others like IPA, it is only loading one file from the "zip".

[2016-09-24 18:10] Maijin commented on #3141
@h4ng3r wrong issue ?

[2016-09-24 19:18] Maijin commented on #5691
![image](https://cloud.githubusercontent.com/assets/1408600/18810659/777e4054-829c-11e6-95bf-6644d8e7f175.png)

[2016-09-24 19:32] h4ng3r commented on #3141
yep, sorry.

[2016-09-24 19:32] h4ng3r commented on #5133
Not sure if it's working for Java:
[code]

For others like IPA, it is only loading one file from the "zip".

I've a working PoC that reads 2 dexs and puts both in the same RBin. The bin_dex compares the size of the first DexObj and detects that are two files. I think that with a little refactoring it can be done easily.

[2016-09-24 20:15] radare commented on #5841
What else do you expect?

[2016-09-24 20:16] radare commented on #5844
Proove it with a poc

[2016-09-24 20:19] radare commented on #5691
The align matters because signatures .. Well functions always start on aligned addresses

[2016-09-25 01:13] VisualPrankDude commented on #5841
@radare what else do you need, to set a breakpoint?

e cfg.bigendian=true also did not work :/

entrypoint is 0x00. Is it a valid ELF?

readelf -h 108255A.elf
ELF Header:
  Magic:   7f 45 4c 46 01 02 01 00 00 00 00 00 00 00 00 00
  Class:                             ELF32
  Data:                              2's complement, big endian
  Version:                           1 (current)
  OS/ABI:

[2016-09-25 01:23] VisualPrankDude commented on #5841
program header is broken, I wonder how this works

[2016-09-25 09:32] pinkflawd commented on #5698
in static analysis memory won't change, no?

[2016-09-25 10:14] radare commented on #5698
Yep it can because in static analysis you can emulate or even be modified by relocs

[2016-09-25 10:15] radare commented on #5698
I think that we should be able to specify that the src or dest of a ref is not a fixed address but the result of emulating an instruction. Just by pointing to the address of it and setting a bit for that.

[2016-09-25 11:38] pielgrzym opened #5847 "Analysis crippled during debugging on Windows"
Hi,

When running radare2 with only analysis options (`r2 -A gametime.exe`) it discovers plethora of functions, symbols, xref searches work etc. The moment I enable debugger (doesn't matter if I use `doo` or run `r2 -Ad gametime.exe`), whole analysis functionality is crippled and I can see only some imported symbols (for example: `afl` returns only a handful of imported functions, xref searches do

[2016-09-25 11:39] Maijin commented on #5847
@skuater ^

[2016-09-25 18:20] Susanne588586 opened #5849 "~ bug: cannot grep for xmm0 fpu register"
r2 -dc "db main;db;drf~xmm0" /bin/bash

This seems to end up in stderr, printing all registers at once.

[2016-09-25 18:59] Susanne588586 commented on #5849
r2 -dc "db main;db;drf~xmm0" /bin/bash)  2>&1 | grep xmms seems to work as ugly workaround

[2016-09-25 19:22] #5691 closed

[2016-09-25 20:31] zonkzonk opened #5850 "pxr color reset?"
morrn,

$ r2 -e scr.color=0  -qdc "pxr@dx" ./bin/mycustombin

does not wok.

still displaying in color.

[2016-09-25 21:11] radare commented on #5850
Theres no dx flag at all

But will chk that

[2016-09-25 21:46] h4ng3r commented on #5133
In fact, parsing is easy because you always know which Dex are you parsing. The problem is when disas or anal need some info, now they are calling getoffset or getname and passing class_id, type_id, string_id or method_id. With multi-dex the method_id is not unique, so we need to also pass the DEX file or maybe the address so bin_dex can get which file is it.

[2016-09-25 22:07] Maijin commented on #5133
for jar it's `r2 zip://`
for apk it's `apk://`
there is also `zipall://`, `ipa://` etc. check `r2 -L`

[2016-09-25 22:08] Maijin commented on #5133
I've already said that previously btw

[2016-09-25 22:08] Maijin commented on #5133
![image](https://cloud.githubusercontent.com/assets/1408600/18818585/5574c078-837d-11e6-8eb0-be93e01f2388.png)

[2016-09-25 22:09] VisualPrankDude commented on #5850
@radare er, bx. anyway using "dr <register name>" I could also get fpu register

[2016-09-25 22:12] Susanne588586 commented on #5849
using "dr register name" I could also get fpu register

[2016-09-25 22:12] #5849 closed

[2016-09-25 23:04] Susanne588586 commented on #5789
so, one can use ?vi, for others:

[code]

[2016-09-25 23:05] VisualPrankDude commented on #5789
so, one can use ?vi, for others:

[code]

tired of this shit !

[2016-09-25 23:05] #5789 closed

[2016-09-26 08:13] h4ng3r commented on #5133
@Maijin I know that, the problems is how because there are multi solutions and I'm trying to decide with @pancake which is the best one.

[2016-09-26 08:38] cryptax commented on #5773
@h4ng3r yes, you are correct, I get that too now. And that's a correctly disassembly, so that's already one fix :)

[2016-09-26 10:15] pinkflawd commented on #5698
Guess me promising I wont emulate nothing if you implement this now is no help? :P

[2016-09-26 10:29] radare commented on #4384
merged thanks

[2016-09-26 10:29] #4384 closed

[2016-09-26 11:40] #2571 closed

[2016-09-26 12:11] Maijin commented on #3693
Fixed.

[2016-09-26 12:11] #3693 closed

[2016-09-26 12:24] radare commented on #5698
you wont emulate anything, it will be done by r2 in a transparent way

[2016-09-26 12:34] radare commented on #5836
this happens because this binary contains 0 sections

[2016-09-26 12:39] radare commented on #5836
just use -e bin.strings=false as a workaround, until i get a random idea to solve this problem

[2016-09-26 12:39] radare commented on #5850
cant reproduce

[2016-09-26 12:39] #5850 closed

[2016-09-26 13:20] radare commented on #5847
try again i fixed a bug that may affect this issue

works fine on linux and osx

[2016-09-26 13:24] radare commented on #5841
this is thumb, not arm32, maybe the entrypoint.also why are you passing all those useless eval options in the example if they just make things hard to understand?

you cant debug ARM binaries on X86 systems unless you use an emulator or something. so thats why breakpoints dont work.. also breakpoints will not work if you dont run the program in debugger mode..

[2016-09-26 13:39] arno01 opened #5852 "radare2 stopped loading functions properly since 1e89dddd87a67ce920b9764ed8a7fe2b254bd2c7"
Since the change done in 1e89dddd87a67ce920b9764ed8a7fe2b254bd2c7:libr/bin/bin.c at r_bin_load_io_at_offset_as_sz  https://github.com/radare/radare2/commit/1e89dddd87a67ce920b9764ed8a7fe2b254bd2c7#diff-caf08efa1bd7b633b9cc695a8681a9cfR794 , radare2 doesn't load functions properly:

[code]

Thanks to fix!

[2016-09-26 13:57] arno01 commented on #5852
It looks like that it should:

[code]

within ```if (!buf_bytes) {``` , at least that worked for me :-)

[2016-09-26 13:59] radare commented on #5852
git pull, there have been several fixes after that, in fact the testsuite was failing in travis, the problem is that there's no way to test the cornercase i was fixing. plase git pull and confirm the issue is fixed in master or not, because it works for me on linux and osx

[2016-09-26 14:01] radare commented on #5841
where is this executable coming from? it looks like its full of crap and its not even a working executable.

[2016-09-26 14:01] #5841 closed

[2016-09-26 14:02] Maijin commented on #5852
Looks like `sym.main` doesn't exist see it's seeking to `[0x00000000]>`
Did you look at the flags list and see if it hasn't took another name ? `V_` main

[2016-09-26 14:17] radare commented on #5386
This can be closed now

[2016-09-26 14:17] #5386 closed

[2016-09-26 14:18] radare commented on #5142
I fixed this last week. fill another issue if you found any other inconsistency

[2016-09-26 14:18] #5142 closed

[2016-09-26 14:32] arno01 commented on #5852
How sym.main doesn't exist... here is when radare2 is without the subj.commit:

[code]

[2016-09-26 14:37] radare commented on #5758
this can be done with ob and oa, but its just not done "automatically". so considered fixed, but keeping it open until someone writes a test

[2016-09-26 14:43] XVilka commented on #5758
I know it can be done in manual mode, but it's just a few distributives, gdb does that automatically, would be nice to have that for r2. I'll fix it by myself when I have time (since nobody even cares except me), should be very easy.

[2016-09-26 14:53] n4x0r commented on #5758
Im restricted on time atm if not i would have done it already. is not that u are the only one that cares xvilka cmon :_(

[2016-09-26 14:56] arno01 commented on #5852
@radare I have just tried the very latest version, it did not work.
Seems like there is some problem in reading the file structure with the subj. commit. I have manually changed couple of lines and it was working for me,.. but I am not entirely certain my fix is a good one...

[2016-09-26 15:00] arno01 commented on #5852
When I was doing `git pull`, sometimes I've seen that HEAD rolled 5 days back (to 21 Sept), it looks like there is some github issue, though nothing at the status github com .... so I just want to make sure that neither you have been trying the wrong radare2 version .. :-)

[2016-09-26 15:02] radare commented on #5852
just run sys/install.sh it will git pull cleanup the build and install everything in a generic way if you want i can show you an asciinema demonstrating that it works

[2016-09-26 15:04] #4311 closed

[2016-09-26 15:04] arno01 commented on #5852
I used `make uninstall`, `make purge`, `git pull upstream master`, followed by `sys/user.sh` in the end.

At the point of `git pull` I had some issue. My colleagues at work are also experiencing some nasty issues with the github right now.

And for the sake of cleanliness, I did `rm -rf radare2` and `git clone` it again. The issue described in subj. is still there.

[code]

[2016-09-26 15:09] radare commented on #4372
HELLO ANYONE

[2016-09-26 15:11] radare commented on #4522
works fine with oa and ob. but it's just a manual process

[2016-09-26 15:11] #4522 closed

[2016-09-26 15:11] radare commented on #4888
works fine with oa and ob but requires manual step, moving to 1.x because its low prio now

[2016-09-26 15:13] radare commented on #5695
waiting for feedback

[2016-09-26 15:14] radare commented on #5695
@@f is already done, just that there's no regex for it

[2016-09-26 15:15] alvarofe commented on #5852
What about `s main`??

[2016-09-26 15:16] #5695 closed

[2016-09-26 15:17] arno01 commented on #5852
@alvarofe yep, that is working :-)  So `sym.` is dropped then?

[2016-09-26 15:18] alvarofe commented on #5852
What about `s main`

[code]

[2016-09-26 15:19] alvarofe commented on #5852
Though there is an issue cause there is not symbols whatsoever when loading with the debugger.

[2016-09-26 15:19] radare commented on #5852
r2 doesnt uses getopt long because its an ugly gnuism. dont use double dash in cmdline r2 -v

and yep, this seems like good version now

[2016-09-26 15:20] radare commented on #5852
main is detected without symbols, sym.main comes from the symbol table, but main will override sym.main naming because its just shorter.

r2 analizes the code in the entrypoint to define where the main is. but this is done by the rbin layer, so we can close this now?

[2016-09-26 15:21] alvarofe commented on #5852
but `call 0x4003f0` should be `call sym.imp.write` and when you do `is` you don't get nothing so it seems to me a regression

[2016-09-26 15:22] arno01 commented on #5852
@alvarofe taking the moment, does the following work for you ?

[code]

then `s`, `s`, ... after 3rd `s` I am getting

[code]

right after:

[code]

[2016-09-26 15:27] radare commented on #5852
ok i see, im fixing now wait

[2016-09-26 15:38] XVilka commented on #4888
Related https://github.com/radare/radare2/issues/5758

[2016-09-26 15:38] radare commented on #5852
Chk again

[2016-09-26 16:45] radare commented on #5852
pls confirm now

[2016-09-26 17:39] arno01 commented on #5852
on my way...

[2016-09-26 17:46] arno01 commented on #5852
@radare confirming, it is working now!

Taking this opportunity, I would like to ask, why does debugging stop after it goes through the `write` syscall ? e.g. `db sys.imp...`, `dc`, `ds` (3 times) and it exits... here is the recorded session https://asciinema.org/a/4875w8tzx0u20m60erkv32vqq

Thanks in advance!

[2016-09-26 18:05] radare commented on #5852
Closing it, im 99% sure that this step in problem is related to dbg.swstep and the latest changes in RAnalOp by doing the software based breakpoints on memjmp instructions, also you dont need to do db+dc+db-... and i dont see you removing the breakpoint after hitting it, so this can be another reason for that issue. please confirm both, and open a new issue to track this problem.

you can just do

[2016-09-26 18:05] #5852 closed

[2016-09-26 20:29] Maijin commented on #4674
Please share the bin and next time put it in a zip that you drag and drop on github to avoid shitty online service.

[2016-09-26 20:29] #4674 closed

[2016-09-26 21:20] Maijin commented on #5698
Dll bug is fixed but not relsub issue

[2016-09-26 21:54] Maijin commented on #5698
Not yet :P this time it broke older axt tests :P

[2016-09-26 22:05] alvarofe commented on #5844
Check master now

[2016-09-26 22:05] #5844 closed

[2016-09-26 22:29] daniel-rome opened #5855 "Ctrl+C (^C) within attached process seems not to be implemented"
After attach r2 with a infinite process (e.g while(1){}) and type "dc", the ctrl+c handler (signal) seems not to be implemented.

[2016-09-26 23:01] Maijin commented on #5698
Fixed and tested !

[2016-09-26 23:01] #5698 closed

[2016-09-26 23:03] Maijin commented on #5718
@alvarofe check out the dll issues^

[2016-09-27 00:17] #5721 closed

[2016-09-27 01:27] radare commented on #5855
When process is not running in the same terminal you must handle rconsbreak() passing a callback that does a kill() to the target pid. This way the debugger will catch the event. Send sigcont or anything like that

You can verify the behaviour by running kill in another terminal by hand

[2016-09-27 04:55] #5821 closed

[2016-09-27 06:20] sope2016 opened #5857 "Radare2 Installation Error ver 0.10.6"
Hi,

While installing through http://cydia.radare.org
version 0.10.6

iOS 7.1.2 & iOS 9.3.2

Getting below error. Screen shot attached for reference.
Regards, Sope
![cydia-radare2-error-while-installing](https://cloud.githubusercontent.com/assets/21242510/18862248/7b1a253a-84a8-11e6-9401-404f03d4c3b5.jpg)

[2016-09-27 16:07] radare opened #5860 "Honor varsub and such in axtj as it was done in axt"

[2016-09-27 16:12] Maijin commented on #5860
@pinkflawd

[2016-09-27 16:19] radare commented on #4207
@zlowram wat do with this thing?

[2016-09-27 16:20] radare commented on #3985
this issue looks like crap and should be closed or reordered cc @Maijin

[2016-09-27 16:21] #5776 closed

[2016-09-27 16:23] radare commented on #437
ping ? 1.0 is close, is anyone up for this? because imho its quite low prio and i'll put it for 9999

[2016-09-27 16:25] radare opened #5862 "ARM and dbg.swstep"
imho all ARM64 chips have hardware step support, so we should only set it to true on some arm32 chips... which ones?

[2016-09-27 16:26] radare commented on #3988
cc @skuater

[2016-09-27 16:39] Maijin commented on #3985
I agree on closing definitely useless with milestones

[2016-09-27 16:39] #3985 closed

[2016-09-27 16:42] Maijin commented on #3655
For 1.0.0 objectives for this issue would be to merge asm.emu, asm.emuwrite databases that;s really important to avoid shipping duplicates, Add Autocomplete for all new commands #3033 and Add afta by default on aaa and/or aaaa

[2016-09-27 16:43] Maijin commented on #5798
ok let me do that

[2016-09-27 16:44] #5798 closed

[2016-09-27 16:45] jduck commented on #5758
@XVilka I care too!

[2016-09-27 18:50] h4ng3r opened #5863 "Get symbols from AndroidManifest for APK files"
For APK files entrypoints and other symbols can be obtained from the AndroidManifest.xml.

Related to: https://github.com/radare/radare2/issues/3222

[2016-09-27 22:20] Susanne588586 opened #5864 "setting more than one breakpoint"
hi, setting more than one breakpoints is working? addr of gets looks odd. is this radare specific?

[code]

[2016-09-27 22:37] zonkzonk commented on #5850
@radare knurr

[2016-09-27 22:38] #5812 closed

[2016-09-27 23:43] arno01 opened #5865 "[radare2] Different behavior when using `-d` vs `ood`. `-d` makes radare2 to throw: Cannot determine xref search boundaries, Oops invalid rangen calls (aac)"
Dear devs,

I am observing a different radare2's behavior when opening a binary with `-d` or via `ood`, so that with `-d` radare2 seem to be unable to determine xref search boundaries nor it can analyze function calls (aac)

[code]

please find the output is below:
### with `-d`

[code]
### with `ood`

[code]

Am I doing something wrong?

Cheers

[2016-09-27 23:45] radare commented on #5865
aslr affects, also in the debugger it starts analyzing in the loader, not the executable

[2016-09-27 23:52] arno01 commented on #5865
I also thought that ASLR affects this, but I have tried to disable it:
[code]

as well as:
[code]

But that neither one helped.

Here is the ascii recording:
https://asciinema.org/a/b1z7p7softmj0rsk3uapy2la3

[2016-09-27 23:58] arno01 commented on #5865
@radare since you mentioned that it starts analyzing in the loader, not the executable, then why it works with the gdb alone? I don't really know the whole inner-working of the radare2, so if this is expected behavior I described in subj., then feel free to close this issue.

[2016-09-28 01:37] sre opened #5867 "reproducible builds: avoid absolut paths in binaries"
Hi,

It would be nice, if radare can be built reproducible [0]. This seems to almost work already, as can be seen on [1], which built 0.10.6 two times and compared the result. With the SOURCE_DATE_EPOCH
patch I sent with the Debian patches (#5866), the only remaining issue seems to be absolut paths being included in the binary. This is usually solved by either not using `__FILE__`, or by using rel

[2016-09-28 04:23] sre opened #5869 "License Foo"
Hi,

In Debian I disabled a few plugins for license reasons:

- [x] asm.m68k ([BSD-4-clause is incompatible with GPL](https://en.wikipedia.org/wiki/BSD_licenses#4-clause_license_.28original_.22BSD_License.22.29))
 -  capstone variant is available anyways, so moving it to r2-extras shouldn't hurt?
- [x] asm.z80 (that German non-commercial license is definitively [DFSG](https://en.wikipedia.org/wiki

[2016-09-28 07:13] XVilka commented on #5869
Regarding m68k - @oddcoder, I remember you were going to improve it, could be covered by tests and port features from it, then move to extras indeed. And for z80 plugin - this was supposed to be done by @condret.

[2016-09-28 07:17] Hi-Angel opened #5870 "rabin2 -s doesn't list exports of a dll"
`rabin2 -s` doesn't list exports from a dll *(attached)*, e.g.:

	% rabin2 -s ~/.wine/drive_c/windows/system32/kernel32.dll
	[Symbols]

	0 symbols
	% rabin2 -version
	rabin2 0.10.6 12511 @ linux-x86-64 git.0.10.6-5-ge78b561
	commit: e78b56166944dc306be875926fef8ad84d020013 build: 2016-09-28

**Additional information**: the attached kernel32 isn't the vanilla one, but the one from WINE, [specifical

[2016-09-28 07:58] radare commented on #5870
Tried with -E?

[2016-09-28 08:00] Hi-Angel commented on #5870
/me looks the manual: oh, undocumented feature!

	% rabin2 -E ~/.wine/drive_c/windows/system32/kernel32.dll
	[Exports]

	0 exports
	% rabin2 -sE ~/.wine/drive_c/windows/system32/kernel32.dll
	[Symbols]

	0 symbols
	[Exports]

	0 exports

Alas, this didn't help :/

[2016-09-28 08:18] radare commented on #5870
Its in the help and its also documented in C. If its not in the manpage send a pr

Can you share this dll?

[2016-09-28 08:23] Maijin commented on #5870
Probably duplicate of #5750

[2016-09-28 08:31] Hi-Angel commented on #5870
I'm on my way. I'm wondering, how to describe it better than `Show globally exportable symbols`? E.g. in ELF libraries there's no such a term as import/export, shall I add that it's specific to DLLs?

[2016-09-28 09:15] Maijin commented on #5870
`i?` documents iE:
`| iE                 Exports (global symbols)`
Just reuse that

[2016-09-28 09:26] Hi-Angel commented on #5870
@Maijin that's almost what I said.

Anyway, I guess I'll just paste the text as it is in the help, because I found with diff more undocumented options, and they're too poorly documented in the help to understand them without experimenting.

For example, `-G [addr]       load address . offset to header`: what header? Binary, or the `.h` one *(as radare supports both)*? Most likely the latest, becau

[2016-09-28 09:37] Hi-Angel commented on #5870
…I mean, I don't mind documenting them in a better way, as well as I understand that `--help` option is not the place for big and detailed docs *(it is what manual is supposed for)*.

But then I'd be glad if someone could answer here how to document them in a better way because experimenting with them for me makes no sense, given there's a bunch of peoples knowing beforehand what the options do.

[2016-09-28 10:02] Antonin-Deniau opened #5872 "pdj 1 @ [rip] Throw a segfault"
[0x00400c90]> pd 1 @ eip
Invalid address (eip)
[0x00400c90]> pd 1 @ [eip]
            0x10102464c457f      ff             invalid
[0x00400c90]> pdj 1 @ eip
Invalid address (eip)
[0x00400c90]> pdj 1 @ [eip]
Segmentation fault

Other register have the same problem (e.g: pdj 1 @ [rax])
Tested on multiple binary, 64 bit x86 only
On Docker, version:

radare2 0.10.6 12507 @ linux-x86-64 git.0.10.6-1-gbf

[2016-09-28 10:22] Maijin commented on #5872
Can you please provide more detail on the segfault. Backtrace of gdb, asan logs....

[2016-09-28 10:24] Hi-Angel commented on #5870
@Maijin what test? dll is attached.

[2016-09-28 10:31] rlaemmert commented on #5870
This seems just a problem with wine dll`s. the real kernel32.dll is working fine. Anyway idapro has the same problems with this dll.

[2016-09-28 10:36] Maijin commented on #5870
Test is writing a proper test for here https://github.com/radare/radare2-regressions

[2016-09-28 10:44] Hi-Angel commented on #5870
Ah, that is. No, it is very unlikely to be a regression, because first time I noticed it, it was yesterday on a very old system with radare2 of version 0.9.6 as maximum.

[2016-09-28 10:51] Maijin commented on #5870
The purpose of this repo is you to write test on testing this functionnality, this can be done without the functionnality currently working it's called TDD, that's what we tried to do on this project so please, send a PR with a test testing this functionality please 👍

[2016-09-28 11:19] sope2016 commented on #5857
Hi,

Is the file linked to some appropriate file ?
radare2_0.10.6-git_iphoneos-arm.deb <<-- File Size: 42+ Mb
The content of above file goes in ./data/ **<--- folder which is not present in iOS version.**
**Does not work. Error while installing**

radare2_0.10.4-git_iphoneos-arm.deb for iOS 7.1.2 <**<--- File Size: 10.4 MB <<--- Works properly on iOS 7.1.2**
The content of above file goes in ./usr

[2016-09-28 11:24] radare commented on #5869
for 1.0 i would like to clarify all the license issues, so it's great to have you back :)

* asm.m68k we have the capstone implementation that afaik is working fine now (there was some bugs in the past, but they are all gone iirc, i will talk with @killabytenow and @poliva to see if they notice any regression on that change) im not sure if @Maijin wrote tests for that, but that would be great if w

[2016-09-28 11:27] Maijin commented on #5857
I see 0.10.4 in your log wtf.

[2016-09-28 11:31] radare commented on #5857
i will take a look on this today

[2016-09-28 11:40] radare commented on #5867
agree on that. we should kill all those __FILE__ occurrences

[2016-09-28 12:06] Antonin-Deniau commented on #5872
I never used gdb, is it what you want?

(gdb) run -A bomb
Starting program: /usr/bin/r2 -A bomb
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[x] Analyze all flags starting with sym. and entry0 (aa)
[x] Analyze len bytes of instructions for references (aar)
[x] Analyze function calls (aac)
[ ] [*] Use -AA or aaaa to perform

[2016-09-28 12:19] leberus commented on #4857
I'd like to take a look if no one minds

[2016-09-28 12:20] Maijin commented on #5872
Ok so three things:
* The segfault can be reproduced just with `pdj 1 @ [eip]`
* `[eip]` is wrong, it is definitely not a r2 flag or anything else
* You are trying to print rip/eip but you aren't debugging

[2016-09-28 12:25] sope2016 commented on #5857
It was just to show that 0.10.4 gets extracted to ./usr
that's why its in the log.

I assume owner did got the point.
Thanks Sope

[2016-09-28 12:26] jduck commented on #4857
By all means!

[2016-09-28 12:37] Antonin-Deniau commented on #5872
Thanks! I've just realized that i didn't put the -d flag...

[2016-09-28 12:42] radare commented on #5865
gdb is not analyzing code at all.

symbol information should be available in r2, but functions only will appear if you analize code. you can do aa @ entry0 if you want to have similar results

also bear in mind that the memory layout is different in disk and debugger

[2016-09-28 12:44] radare commented on #5872
i cant reproduce the crash, so having a backtrace or valgrind log may help on understanding that. also you can try using an alternative disassembler to see if the problem is behind capstone (e asm.arch=x86.udis)

[eip] is not wrong, is a totally valid expression for r_num

use dr?eip to show the reg value

[2016-09-28 12:52] Maijin commented on #5872
He has posted a backtrace, ok didn't know for [eip] my bad then

[2016-09-28 12:52] Antonin-Deniau commented on #5872
First the valgrind backtrace:

The valgrind:
[code]

[2016-09-28 12:53] Antonin-Deniau commented on #5872
And if i set e asm.arch=x86.udis it segfault too

[2016-09-28 13:15] radare commented on #5872
is this a 32bit build?

because it looks to me like a problem we will never face on 64bit

[2016-09-28 13:23] radare commented on #5872
try with this patch:

[code]

[2016-09-28 13:24] Antonin-Deniau commented on #5872
It is the docker image, so the installation is in the [Dockerfile](https://github.com/radare/radare2/blob/master/Dockerfile) i think

[code]

The only thing i did on this image is install python from the repos, and r2pipe with pip.

[2016-09-28 13:49] Antonin-Deniau commented on #5872
I applied the patch (I verified it)
And after compiling it do the same thing :
[code]

[2016-09-28 14:00] radare commented on #5872
i can reproduce it. lemme fix that

[2016-09-28 14:06] radare commented on #5857
last pkg should be installed in /private/var  instead of /usr because rootfs on ios is pretty small anyway this seems a mix between the android and ios builds.. will fix later and push a new pkg

[2016-09-28 14:47] #5872 closed

[2016-09-28 15:06] h4ng3r commented on #5773
@cryptax, can you try this again with the last version pls? Now, I see some xrefs:
[code]

[2016-09-28 15:29] radare commented on #5857
confirmed, this was an issue with just the repository.

i have cleaned up the package cache and generated a new build with latest git as 0.10.6. you should remove the pkg from cydia by hand, refresh the sources and install radare2 again and it should work fine now (i just confirmed this in local)

thanks for reporting

[2016-09-28 15:29] #5857 closed

[2016-09-28 15:30] radare commented on #2767
this bug report looks like a huge mess of useless warnings, can we close this or at least be more specific or push an updated list of warnings?

[2016-09-28 15:31] radare commented on #2767
i would like to have the acr-related warnings filled in the acr repo, not here

[2016-09-28 15:31] radare opened #5874 "implement asm.relsub for ARM"
just copypaste from libr/parse/p/parse_x86_cs.c into parse_arm_cs.c (the if (p->relsub) block)

sample input:

[code]

[2016-09-28 15:34] #5864 closed

[2016-09-28 15:34] radare commented on #5864
looks odd because gets points to 0 because gets is not a flag and r2 only speak flaggish,

[2016-09-28 15:48] #2767 closed

[2016-09-28 15:55] wdworks commented on #3467
Hello!
Do i get it correct, that currently radare2 switches asm.bits variable only on full analysis ("aa")?
Because it seems, i'm currently facing the same issue when executing "afr" command.
I'm trying to work around it with scripting analysis through r2pipes api.
My question is how to get op size of already analysed function?
I thought i could get it through "ahb", but no luck with that. Is this

[2016-09-28 16:41] radare commented on #3467
With ao

[2016-09-28 17:03] sre commented on #5869
I was in read-only mode, since David Martínez Moreno maintained the package for some time (he also maintained bokken, so that made sense to me). Since he didn't upload anything for quite some time and didn't respond to my mails I will take care of it again :)

FWIW the license part can be roughly translated like this (the remaining header is a description of the program): »The program is freeware.

[2016-09-28 17:06] wdworks commented on #3467
Thanks for the reply!
ao seems to be dependent on the current asm.bits settings, so opcode gets analysed each ao with the current op length.
If for example function was analysed with af with the asm.bits set to 16, then  if i later in process change asm.bits to 32, pdf output on this function stays exactly same as before, which is perfectly what is expected. So, from that i assume somewhere functi

[2016-09-28 17:10] radare commented on #3467
you can change the bits temporarily with ao@b:16


[2016-09-28 17:17] ghostbar commented on #5869
@sre let me know any changes you make so I can merge them into https://github.com/ghostbar/radare2.deb (I'm building backports there as well so I'll keep it going)

[2016-09-28 17:25] wdworks commented on #3467
I've probably brought some unnecessary confusion by using "op length"
term, sorry for that.

What i really trying to achieve is to keep track if  the function was
analyzed in thumb mode or 32 bit arm despite of the current value of the
asm.bits.

"pdf" handles it , but any other pdf derived commands such as pdfj just
re analyses opcodes based on the current asm.bits value.

On 28.09.2016 20:10, ra

[2016-09-28 19:43] radare commented on #3467
A function can specify different bits u just need to anayze it first with the proper bits and force the hint with afB 16

[2016-09-28 20:06] radare commented on #5863
We need an axml parser in r2 to do that.

Theres an issue opened for this iirc and theres also a pkg in r2pm but its
in ruby. Not c

On Sep 27, 2016 8:50 PM, "Marc" <notifications@github.com> wrote:

[2016-09-28 20:08] radare commented on #3655
Emuwrite is dangerous and irreversible. I  would not merge it

On Sep 27, 2016 6:42 PM, "Maijin" <notifications@github.com> wrote:

[2016-09-28 20:08] radare commented on #3655
Ok for the autocompletion, go for it if you find any

On Sep 27, 2016 6:42 PM, "Maijin" <notifications@github.com> wrote:

[2016-09-28 21:47] Maijin commented on #5863
the issue is linked already
![image](https://cloud.githubusercontent.com/assets/1408600/18933623/f99c2ef2-85d5-11e6-966f-775e7a5d2cac.png)

[2016-09-28 21:49] Maijin commented on #3655
@radare I'm speaking about the databases, What's the point of keeping two databases that are doing exactly the same ????

[2016-09-28 21:49] Maijin commented on #3655
For autocompletion it's all t commands

[2016-09-28 21:50] Maijin commented on #5759
@radare This is this issue !

[2016-09-28 21:50] Maijin commented on #3655
https://github.com/radare/radare2/issues/5759 here

[2016-09-28 21:51] Maijin commented on #5759
It seems definitely incoherent to have 2 databases that do the same.

[2016-09-28 22:12] radare opened #5877 "Impement rax2 -s and rax2 -S in r2 (maybe ?s and ?S) always append newline"

[2016-09-28 22:18] Maijin commented on #5877
![image](https://cloud.githubusercontent.com/assets/1408600/18934486/4177766a-85da-11e6-8d68-7dd180f78fea.png)

[2016-09-28 22:19] Maijin commented on #5877
![image](https://cloud.githubusercontent.com/assets/1408600/18934494/576a1afe-85da-11e6-958e-ea5d267b3908.png)

[2016-09-28 22:40] Greynad commented on #5877
![r2-mod](https://cloud.githubusercontent.com/assets/5173529/18934979/49973dbe-85dd-11e6-99d3-cf45be98c3d0.jpg)

@Maijin Would that be okay? (help style wise)

[2016-09-28 23:01] alvarofe commented on #3467
In r2 we grab symbols and based on the direction of them we determine whether is thumb or arm. From that information direction ranges are built (from X-Y is thumb, Y-Z is arm) and based on that asm.bits will be changed accordingly (maybe at some point if you query asm.bits gives you 32 but before at given addr was 16). This behaviour can be changed either with anal hints saying at this direction s

[2016-09-29 03:09] sre commented on #5869
https://anonscm.debian.org/cgit/collab-maint/radare2.git

[2016-09-29 04:55] vah13 commented on #5723
CVE-2016-7573

[2016-09-29 06:17] wdworks commented on #3467
Sorry, i'm not sure what direction you meant. symtable related?

Thing is, i'm working on a pretty big (~40MB) firmware blob with no
symbol table, so i have to sort it out based on heuristics like for
example if function is reverenced with blx [imm] from a function
previously analyzed as 32bit arm, then i can safely mark it as thumb.
And i cant go with full analysis on it, so i'm trying to impleme

[2016-09-29 07:45] Maijin commented on #5877
Why not ?s and ?S like suggested by @radare

[2016-09-29 07:48] radare commented on #3655
@oddcoder can u have a look atthis? Also, i think all this stuff should be distributed in .h form and precompiled to key=value sdb database later instead of providing hand made stuff

[2016-09-29 07:48] radare commented on #3655
Agree

[2016-09-29 07:48] radare commented on #3655
Dont mix issues

[2016-09-29 07:55] Maijin commented on #3655
yes but as said for distributing .h tcc must work correct and it doesn't there is an hackmd.io with the issues related to tcc impacting this opened

[2016-09-29 08:12] oddcoder commented on #3655
yess tcc is complex big task on its own, for merging all databases I am allocating time to work on

[2016-09-29 08:40] radare commented on #3655
tcc was working fine when i was using it and i see not much complexity on it… where’s the link to that issue?

[2016-09-29 08:41] radare commented on #5877
well. that's inconsistent

<img width="354" alt="screen shot 2016-09-29 at 10 40 51" src="https://cloud.githubusercontent.com/assets/917142/18946926/50f1c2ec-8631-11e6-8766-c997b35107b0.png">

[2016-09-29 08:42] m1ghtym0 opened #5879 "pd -N gives unexpected output"
Unfortunately I have not much time at the moment, to have a look at source of the problem myself,
but here is the output that confuses me: http://pastebin.com/JBetaNN7

I would expect the same output from those two commands, however I don't get what's it's actually displaying with the second one:

    pd 6 @ 0x0004137b
    0x0004137b      488d3d1e2612.    lea rdi, str._bin_sh
    0x00041382      4

[2016-09-29 08:44] radare commented on #5879
cant reproduce are you using r2 from git?

[2016-09-29 08:47] Maijin commented on #3655
Here again https://hackmd.io/OwNmE5gEwZhhaAjAMwAzPgFgKYGMPgwjjzC5TjJSrQBG2ATEA===

[2016-09-29 08:53] Maijin commented on #4952
@ml86 can you check this issue and all the related opened esil issues like https://github.com/radare/radare2/issues/4344 and so on ? https://github.com/radare/radare2/issues?q=is%3Aopen+is%3Aissue+label%3Aesil

[2016-09-29 09:02] radare opened #5880 "reference rabin2 -h in i? and viceversa"
As suggested by @gozes on [Twitter](https://twitter.com/gozes/status/781290769449492482)

[2016-09-29 09:25] #5874 closed

[2016-09-29 09:27] radare commented on #5880
Should be fixed by 6a7f728950196c91de78ea5a0a2108079a72a4f2 let me know if it's not clear enough yet

[2016-09-29 09:32] radare commented on #5869
oh i see, nice to see you again :)

yeah, fucking scary stuff. we already fixed a bunch of vulns in there iirc, but anyway, @maijin do we have z80 tests to check the differences between those two z80 disassemblerls? if not maybe its time to just blindly move to extras and wait for complains, but making it available via r2pm should be fine

ok.. i had a look at this and looks like main missing feat

[2016-09-29 09:33] gozes commented on #5880
to clarify I was not only referring to rabin2 alone but to all the tools that come with r2( rax2, rasm2, rafind2, ragg2 etc). Basically if anything that the individual can do that can also can be accomplish in r2 shell by a command should be reference. that would make radare2 a little bit easier to learn because if you know how to do something with one of the tools that comes with r2 then you know

[2016-09-29 10:26] alvarofe commented on #3467
The direction of the symbol whether is even or not. afB is not anal hint just mark a function as 32 or 16 depending on the value. If you know by sure a direction because it comes from blx or whatever as thumb mark with anal hint as thumb `ahb 16` from that direction onwards will be treated as thumb.

[code]

From 0x00 until 0x32 will be treated as thumb and from 0x32 onwards as arm

[2016-09-29 10:43] oddcoder commented on #5869
@XVilka not compatiable with gpl ? well we I can just re implement it from scratch ? and make it gpl ?
totally independent of the old imepelmentation ?

[2016-09-29 11:26] radare commented on #3467
but this doesnt covers all cases, only when the binary format exposes that information, otherwise, in code you can make the cpu switch to arm/thumb at any time with custom code.

[2016-09-29 11:46] wdworks commented on #3467
Yeah, that is pretty much what i'm facing.

To my understanding checking if symbol is even will work if it is
referenced through [blx Rm], because in this case bit 0 i used to check
if mode switch needed. Which is true for the most cases like for example
elf symbol table.

In my case all i have is physical offsets of 32 bit arm functions, from
which thumb functions are accessed through blx [label]

[2016-09-29 12:51] Maijin commented on #5869
@oddcoder no, capstone already have m68k.cs with ok license, now the point was to improve/test it so it is ok to remove m68k and put in r2e

[2016-09-29 13:06] alvarofe commented on #3467
About the blx [label] if that is not implemented (i don't know i should check the code) just send a PR.

ahb 16 it only applies to a single instruction but the code take that into account and all the bytes following it are treated as thumb until other ahb 32 is found to switch into arm. `pdfj` should be work dunno if regression but anyway easy to fix.

[2016-09-29 13:07] radare commented on #3467
ahb = single instruction
afB = whole function

[2016-09-29 15:16] Greynad commented on #5877
Why not ?s or  ?S: because those names are already used with
?s from to step  sequence of numbers from to by steps
?S addr              return section name of given address

Plus as said yesterday, the function is already implemented and available in your current build, it’s just badly documented.

![r2_mod](https://cloud.githubusercontent.com/assets/5173529/18959952/3e875b8a-8668-11e6-9080-0aacdb

[2016-09-29 19:08] Maijin commented on #3655
@radare Idea for merging those database and the function emulation functionnality is also the next step on the initial GSOC project:

![image](https://cloud.githubusercontent.com/assets/1408600/18968349/e1305416-8688-11e6-88be-edfd3e252065.png)

[2016-09-29 20:36] h4ng3r opened #5886 "Dalvik seems to have problems with no aligned functions"
[code]

As we can see LHello.method.foo(I)V is in 0x00000290.

In the visual mode we can see that is rendered in a bad address:
[code]

Anal info is missing:
<img width="1123" alt="anal" src="https://cloud.githubusercontent.com/assets/2039733/18971496/842b8742-8695-11e6-8af8-60a410268bdb.png">

[code]

I also attach the imagen from pancake pointing the color problems (this also happens without any

[2016-09-29 21:07] vdun opened #5887 "Bash autocompletion"
For options from : `r2 -h`

[2016-09-29 21:13] Maijin commented on #5887
???

[2016-09-29 21:13] Maijin commented on #5887
Please detail what that means.

[2016-09-29 21:13] Maijin commented on #5887
Hello,

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2016-09-29 21:37] vdun commented on #5887
I mean this: http://www.tldp.org/LDP/abs/html/tabexpansion.html
would be great to have this with bash, zsh, ...
I'm using the latest git version:
[code]

[2016-09-30 08:02] Maijin commented on #5887
You mean that kind of file then https://github.com/docker/compose/blob/master/contrib/completion/zsh/_docker-compose

[2016-09-30 08:03] Maijin commented on #5471
So fixed ?

[2016-09-30 08:10] Maijin commented on #5879
Hello,

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2016-09-30 08:31] radare commented on #5471
cc @killabytenow

[2016-09-30 09:12] wdworks commented on #3467
Btw afB relies on the current (previously analyzed with different op
size) function size, where in fact it should re-analyze it completely
after changing op size with `afB`.

So currently to get correct result i'm still going with `af- @ e
asm.bits=16 af@`

On 29.09.2016 16:07, radare wrote:

--
Best regards, Vasily .

[2016-09-30 09:17] Svenito commented on #5816
I'm not sure how to enable this behaviour for olly. It will always spit out opcodes with 0s for the above instructions.

[2016-09-30 09:39] Maijin commented on #5608
Related to https://blog.didierstevens.com/2016/09/30/quickpost-enhancing-radare2-disassembly-listing/#comment-358540 too

[2016-09-30 09:39] Maijin commented on #5608
https://blog.didierstevens.com/2016/09/30/quickpost-enhancing-radare2-disassembly-listing sorry

[2016-09-30 10:38] pinkflawd opened #5889 "binaries crash r2 on 'aaa' with jmptbl set to true"
Ran a test script (see below) on a malware dump and found three binaries that crash r2, on cmdline as well as through pipe, when anal.jmptbl = true is set.

[code]

[breaks_aaa_w_jmptbl.zip](https://github.com/radare/radare2/files/502699/breaks_aaa_w_jmptbl.zip)

[2016-09-30 11:16] killabytenow commented on #5471
it should be fixed.. don't know now :P

[2016-09-30 11:17] killabytenow commented on #5471
in theory the opcodes are implemented, now they are conditional jumps, and they should work well

but I cannot test it now

[2016-09-30 11:23] Maijin commented on #5471
@Blackjak34

[2016-09-30 12:23] pinkflawd commented on #5889
asan.sh crash log on the 57b8c2f5cfeaca97da58cfcdaf10c88dbc2c987c436ddc1ad7b7ed31879cb665 binary:

ASAN:SIGSEGV
=================================================================
==23369==ERROR: AddressSanitizer: SEGV on unknown address 0x000000000000 (pc 0x7f58824204aa bp 0x7fffa925a590 sp 0x7fffa9259d20 T0)
    #0 0x7f58824204a9  (/usr/lib/x86_64-linux-gnu/libasan.so.2+0x474a9)
    #1 0x7f58800ea

[2016-09-30 12:48] pinkflawd opened #5890 "function detection doesn't find callbacks f. eg. CreateThread, SetWindowsHookEx, etc."
Function detection misses callback functions in Windows binaries, found to be true at least for CreateThread callback handlers and SetWindowsHookEx handlers.

Below, 0x1000282d should be a function address, but is handled as dword.

[code]

[2016-09-30 14:32] cryptax commented on #5773
@h4ng3r - pulled new version. Yes, I confirm, I see the references too myself. Well done!

**The things that don't work yet**

We don't see where getLine1Number is used:

[code]

The references from sym.Lcom_adobe_flashplayer__AFC.method.onCreate__V are not correct. They should list for instance getLine1Number, shouldn't they?

[code]

**The things that now work (congrats!):**

[code]

I also have

[2016-09-30 14:49] Maijin commented on #5773
@cryptax I strongly recommend you take a look at the commit that made this possible :)

[2016-09-30 15:32] killabytenow opened #5891 "Aseo Anal does not work properly"
The core command 'aeso' does not work properly.

When I use it, it starts executing code at the current `PC`, but it seems (as I understand from the `libr/core/cmd_anal.c` source code) that it sets the breakpoint on the current `(core->addr+current_opcode->size)` address, which has not any sense:
[code]
The behaviour of this bug can be observed more precisely in the following video posted in youtu

[2016-09-30 15:38] killabytenow commented on #5891
My dirty solution:
[code]
Is this ok, or is it risky to depend on the `op->addr` value? It works flawlessly with my AVR Anal Plugin.

[2016-09-30 23:30] Blackjak34 commented on #5471
Tested with the binary in OP, looks like it works now

[2016-09-30 23:30] #5471 closed

[2016-09-30 23:41] killabytenow commented on #5471
Nice! Thanks!

[2016-10-01 00:10] vdun commented on #5887
yes

[2016-10-01 08:21] leberus opened #5892 "Regression in 7fe4084b328ae4a25931d865da360b39a149af2c"
The patch given in that commit is wrong, is checking the bad pointer, and because of that, every coredump is failing:

if (!elf_proc_note->n_threads || elf_proc_note->n_threads < 1 ) {
                eprintf ("problem in elf_proc_note\n");
                free (elf_proc_note);
                free (proc_data->per_process);
                free (proc_data);
                return false;
        }

[2016-10-01 08:29] radare commented on #5892
Can you send a pr?

[2016-10-01 08:43] leberus commented on #5892
Yes, I will, but right now I'm afk. I will try in the afternoon

El dia 01/10/2016 10:29, "radare" <notifications@github.com> va escriure:

[2016-10-01 08:48] leberus commented on #5892
Btw, the check which was not  checking properly the null pointer was fixed by @alvarofe two days ago(so was not fixed at the time @zonkzonk was trying.
This is way @zonkzonk was confused i think.

I'l make my PR

[2016-10-01 09:06] alvarofe commented on #5892
I pushed a fix to master my apologies because i didn't see it when merging his PR

[2016-10-01 09:09] alvarofe commented on #3467
I don't have to undo the function definition it just works fine. Can you provide an asciinema to show the issue?

http://asciinema.org/a/14astlj9e9oti1gmy06qb0e7p

[2016-10-01 09:53] radare commented on #3467
after seeind IDA’s api i noticed that they have a way to hint an address to specify that there’s a function there.. this is just a hint, which would be marked from symbols, preludes, signatures and other sources. But after that the analysis will use this information to do the analysis.

those function hints can use other hints like asm.bits (for thumb) or function length (which is sometimes expose

[2016-10-01 12:09] killabytenow commented on #5891
I have made a mini-pull request for checking if this solution breaks the radare2-regressions tests: https://github.com/radare/radare2/pull/5893

[2016-10-01 13:18] zonkzonk opened #5894 "help: .dr wrong output"
sitting at 0x00000000 hitting .dr lands in help dialog of r.

[code]

can anyone reproduce? :)

[2016-10-01 13:19] zonkzonk commented on #5894
radare2 0.10.6 12527 @ linux-x86-64 git.0.10.6-21-gfad94aa
commit: fad94aa57f0ddd5e2cc3c409a4e32b77291b7fb0 build: 2016-09-29

[2016-10-01 13:30] leberus commented on #5892
@alvarofe no problem! was first my fault to not check the right pointer xD.
I've created a new PR:

https://github.com/radare/radare2/pull/5895

[2016-10-01 13:50] zonkzonk commented on #5892
reproduced: wrong patch, stops fault, but does not let do any more coredumps

[2016-10-01 13:59] leberus commented on #5892
@zonkzonk , what do you mean? With the check @avarofe was adding, and without your check, should work. Could you try with the code I've changed in my PR?

[2016-10-01 14:02] alvarofe commented on #5892
but is weird when i tried the patch i was able to generate coredump with `dg` will look better at night, maybe linux issue?

[2016-10-01 14:09] leberus commented on #5892
I was trying to dump yesterday and it was failing for me, once i removed the check for the num_threads was working fine again.
Let me know your findings ;)

[2016-10-01 14:13] radare commented on #5894
What else do u expect if you execute the output of a command that doesnt shows radare commands?

[2016-10-01 14:28] leberus commented on #5892
@alvarofe anyway, I see that you already fixed the regression, that's terrific ;)!
My PR removes this check:

if (!elf_proc_note->n_threads || elf_proc_note->n_threads < 1 ) {
                eprintf ("problem in elf_proc_note\n");
                free (elf_proc_note);
                free (proc_data->per_process);
                free (proc_data);
                return false;
        }

In my PR

[2016-10-01 15:17] zonkzonk commented on #5894
| .dr*                  Include common register values in flags
| .dr-                  Unflag all registers

these also don't work :/

[2016-10-01 15:19] radare commented on #5894
yep they work, otherwise the debugger will not work at all

[2016-10-01 15:20] zonkzonk commented on #5892
as I said, just remove my patch and it segfaults at that revision. with my wrong patch it did not segfault but also dit not write any coredumps. sorry.

[2016-10-01 15:45] #5894 closed

[2016-10-01 16:05] bluec0re opened #5896 "Would it make sense to allow space in the r_num_as_string function?"
Currently, ? 32 produces a result like
[code]
As space can actually be printed without any escapes, would it be possible to allow it in the r_num_as_string function?
This would produce the output
[code]

[2016-10-01 16:40] leberus commented on #5892
It shoulndt segfault with the last version. Do a git pull and try it please :)

[2016-10-01 16:48] radare commented on #5896
yep it should in fact its a bit inconsistent that this column is only shown when the char is printable. mind to send a PR?

[2016-10-01 23:05] bluec0re opened #5898 "Custom defined types are not loaded from project files"
Custom defined types are not loaded from the project file. They are included in the file and can be created by c&p them manually, so it's not an syntax issue.

Bsp:

[code]

Radare version:

[code]

[2016-10-02 00:06] alvarofe commented on #5892
I get the coredump correctly and don't get any segfault so far. Regarding the check you removed (in your PR) i would maintain it since it doesn't hurt and imagine if there is some kind of race condition that we are not aware, I'd rather to be safe.

[2016-10-02 00:11] alvarofe commented on #5889
Fixed in master. @oddcoder take a look why the name of reg is null whether is normal or not.

[2016-10-02 00:11] #5889 closed

[2016-10-02 00:39] radare commented on #5898
Cc @oddcoder

[2016-10-02 13:43] leberus commented on #5892
Hi @alvarofe , i'm with you, it doesn't hurt. But what about move the check inside of get_proc_process_content function?
In that case, all checks belonging to that function are being performed there, and if num_threads is 0 o less, we just return NULL (as we do if the something fails in that function).
If you give me the ok, I can do another PR for it, if not, feel free to close the issue as you f

[2016-10-02 19:16] #5892 closed

[2016-10-02 19:47] enovella opened #5900 "Segmentation fault on ragg2"
Hi Guys,

I am reporting this crash on the latest r2 version. Hopefully, you can quickly spot the issue.

`$ ragg2 -v
ragg2 0.10.6 12542 @ linux-x86-64 git.0.10.6-36-gbd544b5
commit: bd544b5ee3e1abac076cfa4eae6855989787b8d6 build: 2016-10-02
`

Backtrace:

[code]

[2016-10-02 20:07] Maijin commented on #5900
Test to be added here when fixed https://github.com/radare/radare2-regressions/blob/master/t.tools/ragg2/ragg2

[2016-10-02 21:50] alvarofe commented on #5900
I pushed a fix into master. But bear in mind if you execute this you will get a crash again and the main reason is cause it execute the nop but after offset 80 you will find trash on the buffer producing either ilegal instruction, null dereference or invalid memory access cause you try to execute the buffer.

Just add `c3` to return nicely.

`ragg2 -p n80 -w 79:c3 -x`

[2016-10-02 22:08] alvarofe commented on #5900
Test added

[2016-10-02 22:14] alvarofe commented on #5892
done your comment ;)

[2016-10-03 06:55] leberus commented on #5892
Great, thanks ;)

El dia 03/10/2016 00:15, "Álvaro Felipe Melchor" <notifications@github.com>
va escriure:

[2016-10-03 10:20] Darkkey commented on #5756
I've recheck everything and think that somehow between 5th Sept and 16th Sept it was fixed. So now working, sorry for raising panic, my bad.

[2016-10-03 10:40] radare commented on #5756
i think nobody touched anything related to ihex during this range of time, but anyway nice to hear that

[2016-10-03 13:54] Maijin commented on #5756
OSOM!

[2016-10-03 13:54] #5756 closed

[2016-10-03 17:43] radare opened #5903 "aei? doesnt show aeim, aeim have parms and are not in help"
FUCK DOCUMENTATION

[2016-10-03 21:39] oddcoder opened #5905 "aan and cross references are broken in rebased windows binary"
https://asciinema.org/a/ackapzilrfqnz6bpig5jg8ki8

this is the used binary
[challenge1.exe.zip](https://github.com/radare/radare2/files/507246/challenge1.exe.zip)

[2016-10-04 09:34] radare commented on #5900
that's expected behaviour. -x runs the code you have specified, so it will crash, not a problem in r2

[2016-10-04 09:34] #5900 closed

[2016-10-04 09:39] pinkflawd opened #5907 "Symbols for Windows MFC applications missing"
Symbols for mfc42.dll and probably other versions of mfc libraries as well are missing, just shown as Ordinal_123.

[088abec8fce00ee2347daed2f71cc3318df59a14e37e5e57379ec32a6bfa2a8b.zip](https://github.com/radare/radare2/files/508066/088abec8fce00ee2347daed2f71cc3318df59a14e37e5e57379ec32a6bfa2a8b.zip)
[42d993e75b8f9e087ab3849379bb2bf7a1703339f13d3f5aed1a6fc21afde5d1.zip](https://github.com/radare

[2016-10-04 09:40] radare commented on #5891
fixed

[2016-10-04 09:40] #5891 closed

[2016-10-04 09:45] radare commented on #5890
can you share a sample bin?

[2016-10-04 09:45] Maijin commented on #5907
Please see how it's done and improve, you can use the github edit for that, it's very simple:
Example: https://github.com/radare/radare2/blob/master/libr/bin/d/dll/msvbvm60.sdb.txt

[2016-10-04 09:48] radare commented on #5836
I think this bug affects bios images too, any other restriction to handle that?

[2016-10-04 09:50] futex opened #5908 "rahash2 uncrypt xored file failed"
I want to uncrypt a data file with rahash2, i use this command line:

`rahash2 -D xor -S XNplLxvSG39YeXNXYidwXaOcq9h7uJZs jhg45s >> jhg45s.dll`

Normaly after that i have a dll file (take care, it's a malware), but rahash2 failed, in return i have a unknown data type file.

I use this python code to retrieve the dll file
[code]
The crypted data file is here (pass: infected):
[jhg45s.zip](https://g

[2016-10-04 09:57] #1977 closed

[2016-10-04 10:02] Maijin commented on #5880
Well you got the model, I think this is simple enough you can do a Pull-request for this no?

[2016-10-04 10:14] pinkflawd commented on #5890
[f1b203fc38f047010d7071cd5f106045.zip](https://github.com/radare/radare2/files/508165/f1b203fc38f047010d7071cd5f106045.zip)

[2016-10-04 11:20] radare opened #5909 "cmdline flags inconsistency"
rasm2 -k == r2 -o

imho this should be r2 -k ... and maybe remove the current 'k'

[2016-10-04 12:44] trufae commented on #5890
i dont see the same disasm at that offset. i mostly find refs to data in pushes, not code

[2016-10-04 12:44] radare commented on #5887
Fixed in https://github.com/radare/radare2/issues/5887

[2016-10-04 12:44] #5887 closed

[2016-10-04 12:48] radare commented on #5909
Same for rabin2
[code]
but maybe in rabin2 we really want to have a way to query sdb..

[2016-10-04 13:01] trufae commented on #5896
hello?

[2016-10-04 13:07] #5886 closed

[2016-10-04 13:10] radare commented on #5908
use > not >>

[2016-10-04 13:13] radare commented on #5908
the seed if its a string and not a number should be prefixed with s:

[2016-10-04 13:22] futex commented on #5908
Yes, you right with s: it's better :)

 rahash2 -D xor -S s:XNplLxvSG39YeXNXYidwXaOcq9h7uJZs jhg45s > jhg45s2.dll

file jhg45s2.dll
jhg45s2.dll: PE32 executable (DLL) (console) Intel 80386 (stripped to external PDB), for MS Windows

Thank you

[2016-10-04 13:23] radare commented on #5908
but i guess rahash2 should not allow strings without the s: otherwise its pretty easy to miss that point here. What do you think?

[2016-10-04 13:49] radare commented on #4268
ok, let's keep it like it is now, closing for now as long as most ppl agree that current naming is good enough

[2016-10-04 13:49] #4268 closed

[2016-10-04 13:54] Maijin commented on #5908
Agree, this is confusing :S

[2016-10-04 13:55] radare commented on #5908
should be fixed in my last commit, please confirm

[2016-10-04 13:55] Maijin commented on #5908
@futex

[2016-10-04 13:58] futex commented on #5908
Nice :) thank a lot

[2016-10-04 14:08] #5908 closed

[2016-10-04 14:25] alvarofe commented on #5824
[code]

[2016-10-04 15:31] trufae opened #15576 "Some tests take A LOT of time to run"
dwarf one, .etc..

[2016-10-04 16:23] pinkflawd commented on #5870
example binary, after aaa the command iE still delivers 0 exports (should have more than 6000 though):
[mfc42u.dll.zip](https://github.com/radare/radare2/files/508980/mfc42u.dll.zip)

[2016-10-04 16:33] pinkflawd commented on #5890
oh right different binary. here a SetWindowsHookEx call is located in pdf @ 0x10012536, the callback thats not detected is 0x10013318:

[code]

also CreateThread is present in 0x1000f974:

[code]

hope that helps

[2016-10-04 17:52] h4ng3r opened #5911 "Dalvik const-class issue"
The following image shows 3 "const-class" instructions with invalid information from analysis, they are getting the value from "bin->strings" but they should be from "bin->types". Anyway the class name is enough so no anal information is required.

![screen shot 2016-10-04 at 16 08 11](https://cloud.githubusercontent.com/assets/2039733/19085657/5f1b5a52-8a6b-11e6-852b-0bda6500c34a.png)

[2016-10-04 18:04] radare commented on #2758
Currently lang is only found in RBinInfo, we should expose this info at RBinSymbol level too.

This is impotrant for demangling reasons.. and also for grouping, because an app can be done in several languages, but RBinInfo will only show the most promiment one (swift > objc > c), this kind of multi-lang can happen in different file formats. The same goes for android apps with c++ shared libraries

[2016-10-04 18:06] radare opened #5912 "enhance support of strings encoded in disasm"
https://blog.didierstevens.com/2016/09/30/quickpost-enhancing-radare2-disassembly-listing/

[2016-10-04 19:11] Maijin commented on #5890
I Don't see changes:

![image](https://cloud.githubusercontent.com/assets/1408600/19088589/158843f8-8a77-11e6-9cfa-268f55d92b5c.png)

![image](https://cloud.githubusercontent.com/assets/1408600/19088553/f52b3dd6-8a76-11e6-91e5-41d7fbd516f1.png)

[2016-10-04 20:42] radare commented on #5890
Use afr or aa

[2016-10-04 20:43] radare commented on #5890
And u have to analize to get anything in the disasm

[2016-10-04 21:01] Maijin commented on #5890
It's analysed

[2016-10-04 21:02] Maijin commented on #5890
![image](https://cloud.githubusercontent.com/assets/1408600/19092347/83b693ca-8a86-11e6-9ebe-0f114a550098.png)

![image](https://cloud.githubusercontent.com/assets/1408600/19092355/8ec9ee2e-8a86-11e6-83b9-c3f3e2d1172a.png)

[2016-10-04 21:18] DidierStevens commented on #5912
Here is the bin.
[shellcode.bin.txt](https://github.com/radare/radare2/files/509540/shellcode.bin.txt)

[2016-10-05 00:32] Darredevil opened #5916 "r_reg_get_list() broken for R_REG_TYPE_ALL"
Currently R_REG_TYPE_ALL is set to -1 and r_reg_get_list() returns NULL by default for any type < 0.
These need to be fixed so it returns a full list of all REG types.

[2016-10-05 02:51] radare commented on #5870
Cc @skuater @alvarofe

On Oct 4, 2016 6:23 PM, "pinkflawd" <notifications@github.com> wrote:

[2016-10-05 02:54] radare commented on #5824
-s expects an hexpair, the hexpair function skips the 0x. Theres anothwr
flag for this in rax2

On Oct 4, 2016 4:25 PM, "Álvaro Felipe Melchor" <notifications@github.com>
wrote:

[2016-10-05 10:58] sope2016 opened #5919 "Can someone compile radare2 ver 0.10.6 for iOS 32 bit"
Hi,

Can someone compile radare2 ver 0.10.6 for iOS 32 bit :question:
cydia.radare.org repository has 64 bit version only.

[code]
[code]
Thanks in advance :thumbsup:
Sope

[2016-10-05 12:30] alvarofe commented on #5912
Thanks

[2016-10-05 14:02] #5911 closed

[2016-10-05 14:12] alvarofe commented on #5648
This has been improved. Remains the thumb/arm detection where sometimes fail and is a known issue. I will close it feel free to reopen it in case is still slow for you

[2016-10-05 14:12] #5648 closed

[2016-10-05 15:05] radare commented on #5648
😍

[2016-10-05 15:53] alvarofe commented on #5824
[code]
The string must be **VMXh** since is the port that vmware uses and used by malware to detect it.

[2016-10-05 17:03] radare commented on #5919
Since ios9, the 32bit builds of r2 cant read kernel memory. Thats why i switched to default arm64 builds and didnt wanted to fat it because size matters on mobile devices. Therefor i'll add a different pkg for 32bit tonight.

--pancake

[2016-10-05 20:38] radare opened #5921 "invalid esil for arm64 movk's"
[code]

this is translated to:

[code]

the LSL is ignored

[2016-10-05 21:12] radare opened #5924 "r_flag vs r_flags"
r_flag_new()   .. should be r_flags_new() seems more consistent, but breaks the namespacing api with r_flag_item, so maybe we should just drop all r_flags references like the name of r_flags.h, etc..

#consistency

[2016-10-05 21:13] radare opened #5925 "glitch in hints"
looks like call reg shouldnt have a hotkey
<img width="562" alt="screen shot 2016-10-05 at 23 06 08" src="https://cloud.githubusercontent.com/assets/917142/19131824/48d0c610-8b51-11e6-91bb-2d3099fef2c7.png">

[2016-10-05 21:43] zonkzonk opened #5926 "ecf/x86.nz bigger allocation"
morrn,

[code]

radare2 0.10.6 12549 @ linux-x86-64 git.0.10.6-41-g0080399
commit: 008039902160731a0c02ca027af4a75766297097 build: 2016-10-04

[2016-10-05 21:57] alvarofe opened #5927 "remove list_head thing from source code for r_list"

[2016-10-05 22:07] zonkzonk commented on #5926
not radare's fault

[2016-10-05 22:07] #5926 closed

[2016-10-05 22:18] Maijin commented on #1734
ping2

[2016-10-05 22:58] alvarofe commented on #5870
mmm well the thing with this binary is that export directory is null as just can see

[code]

`PE_IMAGE_DIRECTORY_ENTRY_EXPORT` is `0` so the first entry. Thus, it seems this dll doesn't have export information and likely the same reason why ida pro fails.

In a normal dll isn't null

[code]

Don't know if obscured somehow to hide its content and we can get export in another way.

[2016-10-05 23:05] alvarofe commented on #5750
The number of export 0 is cause there is a check on r2 where if the number of function greater than 0xfff wasn't allowing to gather that information. I will check against r2r to see if there is a regression and commit.

now

![captura de pantalla 2016-10-06 a las 1 03 00]
(https://cloud.githubusercontent.com/assets/3474042/19134860/f7c422b6-8b60-11e6-8a2d-fa5ff3f17df3.png)
![captura de pantalla 20

[2016-10-05 23:13] alvarofe commented on #5750
Pushed in master

[2016-10-05 23:20] #5870 closed

[2016-10-05 23:20] #5750 closed

[2016-10-05 23:28] #5907 closed

[2016-10-06 00:29] lucasduffey opened #5929 "r2pipe - broken pipe"
OS: Ubuntu 16.04.1 LTS

[code]

ipython log
[code]

[2016-10-06 04:38] sope2016 commented on #5919
**Pancake:** that would be of **great help** :relieved: different pkg for 32bit because there are several users like me who are **learning to use r2 on iOS 32bit** also we don't have access to **64bit iOS JB** devices.

Thanks for your understanding & help. :thumbsup:

Sope.

[2016-10-06 09:04] radare commented on #5929
Please update your r2. R2pipe doesnt works with 4 year old version from debian

[2016-10-06 09:21] Maijin commented on #5929
Hello,

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2016-10-06 09:21] #5929 closed

[2016-10-06 09:37] radare opened #5931 "reloc comments not aligned"
<img width="1051" alt="screen shot 2016-10-06 at 11 37 05" src="https://cloud.githubusercontent.com/assets/917142/19147614/38cfc7d0-8bb9-11e6-8578-fe34f5ab8f4c.png">

[2016-10-06 10:59] Maijin opened #5933 "TrailingSpaces issues in pdsf"
I've passed the test to BROKEN=1 as it is a mess to fix this all the time:

https://github.com/radare/radare2-regressions/blob/master/t.esil/apple#L23

[2016-10-06 11:03] radare commented on #5933
This test is important. Dont do that

[2016-10-06 11:30] bluec0re opened #5934 "Any plans regarding support of structure offsets and enums in the disassembly?"
Like IDA Pro does [1] [2]. I think the later one might work with a flag (workaround?)?

e.g.:
from

[code]

[code]

to

[code]

[code]

[1] https://www.hex-rays.com/products/ida/support/idadoc/472.shtml
[2] https://www.hex-rays.com/products/ida/support/idadoc/473.shtml

[2016-10-06 11:57] bluec0re opened #5935 "Ah* and ah- do not work as expected"
`ah-` and `ah*` do not work as expected (and proposed by the doc) if used with an offset argument.
- `ah- 0x...` doesnn't delete anything
- `ah* 0x...` always prints all commands, not only the ones responsible for the given offset

radare/radare2-regressions#581

[2016-10-06 12:08] #5896 closed

[2016-10-06 12:16] Maijin commented on #5933
What to do then, leaving it red? 👎

[2016-10-06 12:17] Maijin commented on #5934
It's already supported with t command @XVilka @oddcoder can give you more insight

[2016-10-06 12:19] bluec0re commented on #5934
I'd already implemented it for local variables (t command), but couldn't find it during the implementation in a general manner (maybe something for the hint part?)

[2016-10-06 12:28] radare commented on #5933
fix the problem or fix the test, what is the problem?

we suffered several regressions because you just marked them as broken instead of trying to investigate the reason or notify me

[2016-10-06 12:29] radare commented on #5925
i fixed this yesterday

[2016-10-06 12:29] #5925 closed

[2016-10-06 12:29] radare commented on #5921
i also fixed this yestrday

[2016-10-06 12:29] #5921 closed

[2016-10-06 12:37] ret2libc commented on #5925
oh ok :( :( thanks

[2016-10-06 12:39] radare commented on #5855
ping

[2016-10-06 12:46] Maijin commented on #4304
If I remember this bug was windows problem since I remember you said tests weren't passing on windows but are passing on osx and linux

[2016-10-06 12:48] Maijin commented on #5933
Well that's why I'm opening an issue and not leaving it BROKEN=1 without telling you 👍

[2016-10-06 13:08] bluec0re commented on #5934
what's about replacing the (numeric) `immbase` implementation of hints with  `pf` format strings? This would make it much more flexible and could represent all of the current supported bases, right?

[2016-10-06 13:27] radare commented on #5933
fixed in master, pls update test

[2016-10-06 13:27] radare opened #5937 "pds@@ doesnt works"
thats because pds messes with RCons

[2016-10-06 13:29] radare commented on #3499
dropping milestone as long as nobody seems t obe interested or willing to fix that

[2016-10-06 13:36] radare commented on #4556
This thing is only required for processes that are spawned by launchd, this is, background services. Which by default is 5MB, as long as r2 is not started as a service we dont need to use that.. the only place would be in r2agent, but it sholdnt get that much memory, and im not sure if the service children will inherit the same restrictions

[2016-10-06 13:51] radare commented on #4280
@futex wanna do that? at least adding zlib/gzip is easy because its already shipped with r2

[2016-10-06 13:53] #4556 closed

[2016-10-06 14:00] radare commented on #4837
ping @P4N74

[2016-10-06 14:02] radare commented on #4868
this is a long-story , not everything is gonna be fixed for the next release. please choose the ones you think they can be done or the ones you can do in 1 month and create specific issues for them

[2016-10-06 14:02] radare commented on #4835
hello?

[2016-10-06 14:03] sope2016 commented on #5919
**Pancake:** Thank You so much appreciate it. :smile:  :+1:
Just download it.
[code]

Sope!

[2016-10-06 14:08] #5919 closed

[2016-10-06 14:11] XVilka commented on #4835
So did Ange said something about this? Could be added, yep, just covered by tests.

[2016-10-06 14:18] radare commented on #4835
nope, but ill ask him again

[2016-10-06 19:35] P4N74 commented on #4837
@radare I will look into https://github.com/radare/radare2/issues/3512#issuecomment-217127978 code and fix this issue. The problem is of unicode only iirc.

[2016-10-06 20:21] Maijin commented on #5933
Fixed, notice also NAME='iphone-arm-esil tests' contains trailing space. same file

[2016-10-06 20:21] #5933 closed

[2016-10-06 23:05] zonkzonk opened #5938 "oo segfault"
morrn,

[code]

[2016-10-06 23:09] zonkzonk commented on #5938
input in that pid:

[code]

[2016-10-07 03:22] jjdredd opened #5939 "3333 stars!"
![3333](https://cloud.githubusercontent.com/assets/4748239/19177939/0b34ed58-8c0b-11e6-8b7e-9123a08c84d9.png)

[2016-10-07 08:13] #5939 closed

[2016-10-07 09:28] gozes commented on #5880
@Maijin I can but I don't know all the mappings yet, I'm still learning r2. However, if someone can explain the logic of the commands or guide me, I can jump on IRC any time, I am more then happy to do it. :smiley: actually, I am more then happy to go over all the docs and clarify, from the point of view of someone learning r2,  things that maybe unclear or hard to understand and fix them but for

[2016-10-07 11:08] Maijin commented on #5880
@radare just posted the model for i? and rabin2:
https://github.com/radare/radare2/commit/6a7f728950196c91de78ea5a0a2108079a72a4f2
Still need to do same with rax2 and ??? ; rahash2 and ph?, p=? ;  radiff2 and C? ; rafind2 and / ;...

[2016-10-07 11:10] Maijin commented on #5880
The goal of the issue can be you look at the command and find equivalence:
1) You train yourself
2) You improve doc

[2016-10-07 11:11] Maijin commented on #5938
Can you share this core file ?

[2016-10-07 12:14] radare commented on #5938
This is not a poc. Please provide proper input or proper crashlog or proper core.

[2016-10-07 12:15] radare commented on #5938
Whats the value of iop?

[2016-10-07 14:34] j123123 opened #5940 "Possible UB at anal_x86_cs.c due return NULL when insufficient memory"
At https://github.com/radare/radare2/blob/6b56489eafc6782f0f5de34050b240ebd6abe0a7/libr/anal/p/anal_x86_cs.c#L81function getarg() which can return a NULL, the result strdup() call, or the result of calling r_str_newf(). strdup() can return NULL if insufficient memory

If we analyze r_str_newf() function here is also strdup() function, and even malloc () i.e. if we out of memory, it may well return

[2016-10-08 00:49] radare commented on #5869
This is what happens when i remove the z80 plugin replacing it with the .cr one

https://s3.amazonaws.com/archive.travis-ci.org/jobs/165964004/log.txt

[2016-10-08 01:01] #5938 closed

[2016-10-08 01:12] cr1901 commented on #4304
I think I need to add another test. The regression test I wrote in August (which the bug for that _was_ fixed), is orthogonal to the issue that I opened, _as far as I know_.

[2016-10-08 01:15] radare commented on #996
can you provide a pull request showing this behaviour? or it is already fixed after 2 years?

[2016-10-08 01:16] #1000 closed, assigned to nobody

[2016-10-08 01:21] radare commented on #4124
status of pendings ticks to be done here? any wip development?

[2016-10-08 01:21] radare commented on #4258
can we close this issue?

[2016-10-08 01:25] radare opened #5944 "Implement dm."
to show the current map like S. does

[2016-10-08 01:26] radare opened #5945 "dm* is useless"
after trying it for some days i can say that dm\* will generate a lot of duplicated flags to point to each map. we need beter namings

[2016-10-08 08:56] futex commented on #4280
I will take a look

[2016-10-08 10:37] radare commented on #4280
Cool 👍

[2016-10-08 10:44] Maijin commented on #1000
@jvoisin please verify

[2016-10-08 10:47] Maijin commented on #5867
@radare didn't u fixed this one ?

[2016-10-08 11:12] DigiAngel opened #5946 "Latest git fails to compile"
Topic says it..ouch:
[code]

Didn't have any issues before this.

[2016-10-08 11:34] Maijin commented on #5946
Fixed already

[2016-10-08 11:34] #5946 closed

[2016-10-08 11:35] Maijin commented on #5946
https://github.com/radare/radare2/commit/66a55302ee74058d9426728d16a6ccc78545421f

[2016-10-08 11:39] DigiAngel commented on #5946
Worked like a champ...thanks so much for the quick resolution.

[2016-10-08 11:59] d33tah commented on #3880
Ping @radare ;)

[2016-10-08 12:29] radare commented on #5867
Nope only some . Will fix more today and maybe tomorrow ill get rid of all of them

[2016-10-08 14:29] jvoisin commented on #1000
Well, it's ghetto. I'd like to find references to a range, not search for a precise hex value.

[2016-10-08 14:33] Maijin commented on #1000
@jvoisin can you open an issue with screenshot comparing r2 /v /V and peda ?

[2016-10-08 14:43] radare commented on #1000
Rtfm thats what /V does

[2016-10-08 14:45] jvoisin commented on #1000
You're right, I only read `/v`, my bad.

[2016-10-08 14:53] #1110 closed

[2016-10-08 15:06] XVilka commented on #5934
At first, this is currently unsupported as-is, but can be workarounded with ahi, if improve it a bit.
But yes, full fledged support is already in plans.

[2016-10-08 15:56] XVilka commented on #3800
- [ ] zF command - FLIRT - add 'scan' command, like in Yara
 - [ ] zF - do not scan by default
 - [ ] zF - show the status of FLIRT signatures in 'z' commands
 - [ ] zb - arguments support + documentation in a book
 - [ ] z/ - search in '[0 ; $s]' range by default

[2016-10-08 18:20] Maijin opened #5947 "Debugger questions"
Working on a converter from x64dbg to r2 here are some problem I faced (r2script only):
x64dbg is using module name + address in his project file

I can display modules in radare2 via dmm, but:
- `dmm.` doesn't work #5944
- `dbm mybinary.exe 0x10` doesn't work with name of the binary
- `dbm blabla.dll 0x10` should maybe throw an error if this module isn't loaded yet or be ready to be handled when

[2016-10-08 18:35] radare commented on #3800
Do we want to add more features to flirt when it doesnt works with latest signatures? Imho we should go for our own format and not depend on ida's work

[2016-10-08 18:49] XVilka commented on #3800
@radare imho, FLIRT loading support is very important. And those mostly about user experience/refactoring, figured those after a speaking with @pinkflawd

[2016-10-09 10:10] radare commented on #5944
wtf this is already done and dmm. too

[2016-10-09 10:10] #5944 closed

[2016-10-09 10:14] radare commented on #5947
dmm. works i have just tested it and the implemnetation is trivial, proof it otherwise

[2016-10-09 10:16] radare commented on #3880
ouch, those two weeks turned to be quite long, this needs rework on the analysis, which is slowly happening, and right now not the main prio for next release. will try to raise the prio a bit

[2016-10-09 10:43] Maijin commented on #5947
@radare https://www.youtube.com/watch?v=L38YceH3-k0&feature=youtu.be here you go, randomness of radare2 debugger on windows :<

[2016-10-09 12:12] Maijin commented on #5947
@skuater see the video too

[2016-10-09 13:24] pinkflawd commented on #3800
I'd guess sticking to FLIRT format doesn't scale in the long run, enhancing the radare zignatures could, but also I'm quite unaware how much effort that'd require to make them feasible.

[2016-10-09 13:29] Maijin commented on #3800
Well beginning shipping default one in core repo or via r2pm would at least begin progress for people to contribute to it :P

[2016-10-09 17:02] #2960 closed

[2016-10-09 22:10] h4ng3r commented on #5773
@cryptax I think that the problem is that "str.getLine1Number" is not being used, indeed IDA Pro also found this string, so its correct. But of course it does not have any XREF.

What exists is a method called "getLine1Number " and xrefs work for this method:
[code]

[2016-10-10 01:06] tnias commented on #5903
Like this #5949?

[2016-10-10 07:47] radare commented on #4792
as discussed with @ret2libc we may probably think ina much more flexible interface integrated into visual rather than having a separate panel. maybe with stacked columns

[2016-10-10 07:49] radare commented on #4421
can you test again? cc @skuater

[2016-10-10 09:29] Maijin commented on #5903
@tnias yes

[2016-10-10 09:29] #5903 closed

[2016-10-10 09:29] Maijin commented on #5903
@tnias next time in body or commit message use "Fix #XXXX"

[2016-10-11 08:45] radare commented on #4304
Ok thanks

[2016-10-11 11:19] Maijin commented on #5877
Update on this ? @radare said go with `?x`

[2016-10-11 12:59] bluec0re opened #5952 "scr.null=true breaks project management"
[code]

[2016-10-11 13:05] radare commented on #5952
This should be fixed by ensuring and changing this variable temporarily when saving/loading projects.

thanks

[2016-10-11 14:27] illnino opened #5953 "Failed to compile radare2 for iOS"
1. `git clone https://github.com/radare/radare2.git`
2. `$ sys/install.sh`
3. `$ sys/ios-cydia.sh`

=====
Error Log:

[code]

[2016-10-11 22:49] radare commented on #5953
Uninstall r2 from brew , its old

[2016-10-12 09:31] illnino commented on #5953
1. Uninstall from brew
2. Re-compile using GIT.
3. Run `➜  radare2 git:(master) ✗ sys/ios-cydia.sh`
4. Error Found.

==============

Error Log:
[code]

[2016-10-12 09:36] illnino commented on #5953
Sorry, I made a mistake.

I have tried on two MBP. One succeed, one failled. All compiled using Git clone.

Failed:
OS: 10.11.6 (15G1004)
XCode: 7.3.1

Succeed:
OS: 10.10.5
XCode: 7.2.1

=============

Error Log:

[code]

[2016-10-12 13:22] m1ghtym0 commented on #5879
Hi

Sorry had very little time lately...
I used r2 from git, and rechecked, just to be sure;-)
Here is the full command history: http://pastebin.com/gEh1x4Le
And here is the libc: https://transfer.sh/107a9a/libc-2.19.so
Would appreciate if somebody could verify my results and reopen this issue
if it's reproducable.

[2016-10-12 13:31] radare commented on #5953
git pull and try again, it works for me, but this was a warning with xcode8

[2016-10-12 15:43] sylvainpelissier opened #5954 "rasm2 wrong assembly value for ARM instruction"
I found that the command:
[code]
outputs
[code]
It seems the assembled value is wrong:
[code]
But the correct value is 010080E1. However I do not know where to correct that.

[2016-10-12 15:45] radare commented on #5954
the code is in libr/asm/arch/arm/armass.c

in case you miss some instructions in the assemblers you can:

* implement them in the embedded assembler

or just go use an alternative assembler

* arm.as (which uses GAS)
* arm.ks (using keystone and available via r2pm)

thanks!

[2016-10-12 17:04] oddcoder opened #5955 "Analysis of large files takes too long"
Not sure how long it will take but google chrome (100Mb file) took too long to do full analysis. I am aware that `aaa` or even the much simpler `aa` is slow. but there should be some walk around since other tools manage to handle big binaries faster than we do.

I used google chrome 53.0.2785.143 to test aa and after like couple of hours it never finished I estimate that it will take days
you can

[2016-10-12 17:35] Maijin commented on #5955
[code]

Definitely ok.

[2016-10-12 19:28] Maijin opened #5956 "asm.relsub improvement on movzx"
From Reverseengineering stackexchange:

http://reverseengineering.stackexchange.com/questions/13696/radare2-how-to-change-operand-from-integer-value-to-flag-offset-in-disassem

<img width="710" alt="screen shot 2016-10-12 at 21 27 47" src="https://cloud.githubusercontent.com/assets/1408600/19324599/bde3744a-90c2-11e6-93ec-9a6632ae505a.png">

[2016-10-12 20:39] j123123 commented on #5954
https://github.com/radare/radare2/blob/c0c0cba3398466661afed716f709f1fc404a752e/libr/asm/arch/arm/armass.c#L101 <-- I think this place is wrong
``	{ "orr", 0x0, TYPE_ARI },``

for example, let's try ``eor`` instruction :
[code]
this mask is used: ``{ "eor", 0x2000, TYPE_ARI },``

And keystone output for ``orr``:
[code]
so I think it must be ``{ "orr", 0x8001, TYPE_ARI },``

[2016-10-12 20:40] Maijin commented on #5954
Then make a PR

[2016-10-12 20:40] Maijin commented on #5954
https://help.github.com/articles/editing-files-in-your-repository/

[2016-10-12 22:01] Maijin commented on #5954
@j123123 next time use "Fix #XXXX" in your body or title commit message so the issue is closed after being merged automatically

[2016-10-12 22:01] #5954 closed

[2016-10-12 22:16] radare opened #5959 "afll xrefs column is wrong"
the count of xrefs is not correct. not all functions have ->refs because its stored in sdb too via `axt`...

[2016-10-13 04:32] illnino commented on #5953
It works now. Thanks.

close #5953

[2016-10-13 05:39] Maykeye opened #5960 "ESIL doesn't handle `push esp` instruction properly"
During testing of some more or less edge cases, found this:

`rasm2 -E  0x54` (which is push esp) outputs esil `4,esp,-=,esp,esp,=[4]`

However

the instruction was executed.

(Intel® 64 and IA-32 Architectures, Software Developer’s Manual,  Vol. 2B 4-511)

So expected output should probably be  `esp, 4,esp,-=,esp, =[4]`

[2016-10-13 08:35] Maijin commented on #5953
Just use the button.

![image](https://cloud.githubusercontent.com/assets/1408600/19342137/cb1d71b0-9130-11e6-97f8-7bc40834de49.png)

[2016-10-13 08:35] #5953 closed

[2016-10-13 08:37] Maijin commented on #5960
Do a PR please -> https://github.com/radare/radare2/blob/master/libr/anal/p/anal_x86_cs.c#L777
You can even use github editor https://help.github.com/articles/editing-files-in-your-repository/

[2016-10-13 09:32] radare commented on #5956
Related https://github.com/radare/radare2/issues/5934#issuecomment-252429409

[2016-10-13 09:34] radare commented on #5960
Can you send a pr? Its just a one line change

[2016-10-13 10:17] #5860 closed

[2016-10-13 10:47] pinkflawd commented on #5890
Works, in a sense, when I issue an 'afr' command for each function where I suspect indirectly referenced code. This way I go through my binaries, get all the functions that e.g. contain a CreateThread, then 'afr' these again to have radare generate functions for the thread handler function.
Thats cool.
Would there be a way to add this analysis to e.g. aaa command, so callbacks are analyzed automat

[2016-10-13 14:30] codido commented on #4258
@radare Sorry for the delayed response. Running the original example still seems a tad weird:
[code]

[2016-10-13 14:30] radare commented on #5890
aa should run afr but the problem is that its probably analizing in different order and overlapping some functions.

you can try to set `e anal.calls=true` before `aa` and see if that solves the problem if not you can also do this:

e anal.hasnext=true
aac; afr;afr @@ sym*

sorry i have not much time lately to look deeper on this issue

[2016-10-13 14:32] radare opened #5965 "Add an option to sort functions by column (see afll and radiff2 for inspiration)"

[2016-10-14 06:57] Maykeye opened #5967 "X86 segment override confuses rasm2"
Example program for gcc: `int main() { __asm__ ( "movl %fs:(1), %eax\n"); }`

r2's `pd 10 @main` prints `0x004004da      648b04250100.  mov eax, dword fs:[1]`

`rasm2 -D 648b042501000000` prints the same.

However it can't convert it back.
`rasm2 'mov eax, dword fs:[1]'` = 89e0 (mov eax, esp)

Also if you start to play with syntax, rasm2 starts misbehave even more:

`rasm2 -b 32 'mov edi, fs:[6553

[2016-10-14 08:17] Maijin commented on #5967
Greetings,

x86.nz (x86 handmade assembler) is one of the many x86 assemblers available in radare2 and is updated frequently.  **Please add a test case so we can fix x86.nz in https://github.com/radare/radare2-regressions/blob/master/t.asm/x86/nz/x86_asm** You can do so with github web editor without even cloning the repo.

You can contribute to x86.nz by completing the following file https://gith

[2016-10-14 10:03] #5960 closed

[2016-10-14 10:36] dukebarman opened #5968 "Not found strings in raw binary"
r2 doesn't find strings in raw binary (shellcode, example from jvoisin [blog](https://dustri.org/b/how-to-radare2-a-fake-openssh-exploit.html))

[code]

[2016-10-14 10:37] radare commented on #5968
use izzz, iz and izz will not show anything on raw binaries because iz and izz grab the strings from the rbin parsing and not from the strings. expected behaviours, but could be better i gueess

[2016-10-14 10:50] radare opened #5969 "Make r2 visual more less-friendly"
Many people expect the / feature to search and seek to the next occurrence. which is kinda handy behaviour that works with `~..`, but will be better if that works in Visual, with some restrictions to avoid having r2 seeking forever until finding a match or allowing cancellation.

[2016-10-14 11:08] snare commented on #4044
I think it'd be nice to `git clone --depth 1 ...` capstone if possible. I'm working on r2 support for voltron ATM and I spend a lot of time destroying and re-provisioning Vagrant VMs on a slow connection :(

[2016-10-14 11:13] dukebarman commented on #5968
I don't see command `izzz` in help for `i?` but no strings again :(

[code]

[2016-10-14 11:49] radare commented on #4044
yeah :( capstone is a pretty huge dependency. i was using —depth 1 in all the other external repos, but, as long as we have to apply patches on top of that and clone a specific commit the build fails if we use —depth 1.

i can try to find a faster solution, working offline use to be a pain just because of capstone.. so you can also use —with-sys-capstone and just use the version you have installed

[2016-10-14 11:54] snare commented on #4044
Ahhh yeah that is annoying. I might try installing capstone in my Vagrantfile and using `--with-sys-capstone`. It's not a huge problem, I just noticed it was one of the longer delays in provisioning my Vagrant VM :)

[2016-10-14 13:15] snare opened #5970 "Web server memory read command returns the wrong data"
In the main r2 console:

[code]

Connected to the web server:

[code]

[2016-10-14 13:44] snare commented on #5970
Also, is there a way to silence the web server requests? Voltron is gonna produce a whooooole lot of those.

[2016-10-14 14:06] radare commented on #5970
using a > to dev/null or any log file?

[2016-10-14 14:06] radare commented on #5970
ah wait, in the background webserver… i’ll add an option for that :) can you fill an issue in github?

thanks

[2016-10-14 14:07] snare commented on #5970
Yep I'll file a separate issue

[2016-10-14 14:08] snare opened #5971 "Background webserver logs to console"
[code]

An option to silence this or log to another file would be great.

[2016-10-14 14:46] pinkflawd commented on #5890
Awesome :D Second option works like charm :) Thanks a lot!
The pic is on top before, bottom is after, works like graph face lift ^^ 8 more functions found

![comparison](https://cloud.githubusercontent.com/assets/5487036/19391603/a3dc5794-922d-11e6-927d-327b676cae71.png)

[2016-10-14 19:27] marespiaut opened #5972 "radare2 segfaults when analysing a large ELF x86_64 binary."
Hello,

I've compiled the latest revision for [ResidualVM](https://github.com/residualvm/residualvm/commit/1a8773f3ab3217430a5bc038db1f436f28002019) under Debian Stretch x86_64 (GCC v6.1.1) with a Makefile generated as follow
[code]
which generated a 21Mb binary.

when running `r2 -AAAA residualvm` Radare2 takes a very long time (approximately 45 minutes on a Intel Xeon CPU E3-1240 v3) analysing a

[2016-10-14 20:13] Maijin commented on #5972
Can you share the bin here ?

[2016-10-14 21:24] radare commented on #5972
are you using r2 frmo git? can you paste a backtrace? debian sucks at offering memory to the applications and it kills them as soon as they eat too much. so im quite sure this is not a bug in r2, a part that r2 memory consumption could be better and analysis faster