[2015-04-13 18:02] crowell commented on #2373
after watching the video, barkeep looks bad.

[2015-04-13 18:13] jjdredd commented on #2373
code review: github doesn't cut it?

[2015-04-13 18:15] crowell commented on #2373
github code review kind of sucks

On Mon, Apr 13, 2015 at 2:13 PM, Judge_Dredd <notifications@github.com>
wrote:

--
Jeff Crowell
https://github.com/crowell

[2015-04-13 18:28] crowell opened #2374 "detect version of libc on static-compiled binaries"

[2015-04-13 19:03] radare commented on #2374
Use flirt or zignatures. This is not an easy task if u want to cover all the possible cases. Checking for strings can be usrful buy this feature should not come in core. Move it to extras or so

[2015-04-13 19:09] Maijin opened #2375 "Analysis acting weird on this malware"
See the [radare.tv](http://radare.tv/a/48), the sample is [here]( http://rghost.net/private/6DYWSWPq9/a6f6b58dd91580f3d18cfe5378298bdb ), password "infected".

[2015-04-13 19:15] crowell commented on #2374
right, I think it would be nice to provide a database/string matching in
r2-extras

On Mon, Apr 13, 2015 at 3:03 PM, radare <notifications@github.com> wrote:

--
Jeff Crowell
https://github.com/crowell

[2015-04-14 00:11] obilodeau commented on #2370
You were right about old files.
[code]
did the trick! Thanks!

[2015-04-14 00:11] #2370 closed

[2015-04-14 01:13] obilodeau commented on #1780
I know it's IDA's default keybinding to switch between graph and asm but it still took me a while to find.. The lack of {window,right-click} menus makes the keybindings harder to find.

Nice work on the new webui by the way!

[2015-04-14 06:29] radare commented on #1780
Iirc its also accessible via context menu

[2015-04-14 07:19] radare commented on #2374
Please move this issue to r2-extras. It can even be a full project completely separated from r2

[2015-04-14 07:19] #2374 closed

[2015-04-14 12:50] condret opened #2378 "entry0 in libs"
i'm really sure that there is not entry0 in libs, but r2 finds one.

[2015-04-14 13:04] radare commented on #2378
you are wrong, libraries are also executable in ELF, in fact a library can have a constructor and a destructor. and the most promiment example is the /lib/ld-linux.so

also you can use readelf -e | grep Entry to verify what i’m describing here.

[2015-04-14 13:05] jjdredd commented on #2378
http://www.tldp.org/HOWTO/Program-Library-HOWTO/miscellaneous.html

[2015-04-14 13:09] condret commented on #2378
oups, sry

[2015-04-14 13:09] #2378 closed

[2015-04-15 00:40] crowell commented on #2249
seems fixed

[2015-04-15 00:40] #2249 closed

[2015-04-15 00:43] crowell commented on #1488
looks fixed!

[2015-04-15 00:43] #1488 closed

[2015-04-15 12:29] XVilka opened #2380 "Add support of loading IDC databases modified with Hex-Rays"
Just go to the Hex-Rays decompiler and rename any function, then store database and export it into the IDC, then try doc/idc2r.py script.
- [ ] Add support of converting labels
- [ ] Add support of converting enums

[2015-04-15 17:25] neuschaefer commented on #2220
Still misbehaving are:
[code]

[2015-04-15 19:35] futex opened #2381 "Different functions name and number on avr sample between radare2 and IDA"
I open [this](http://rghost.net/download/8khKRkPw4/50b669adaaedd19a0cb91b0381254b26aa1891f8/sketch_apr14a.cpp.elf) simple AVR binary (for arduino) on radare2 (up to date) after afl command, i have just 17 functions, but on IDA : 27, and they have different names
# radare2

[code]
# IDA 6.8

[code]

[2015-04-15 19:53] DePierre commented on #2381
[Binary](http://rghost.net/download/8khKRkPw4/50b669adaaedd19a0cb91b0381254b26aa1891f8/sketch_apr14a.cpp.elf) used for the diff.

[2015-04-15 21:54] jvoisin opened #2382 "Segfault in ragg2"
How to reproduce:
[code]

Backtrace:
[code]

[2015-04-16 09:34] #2369 closed

[2015-04-16 11:16] Maijin commented on #2223
@radare error message again changed:

    []

[2015-04-16 12:59] XVilka opened #2384 "Add support of building radare2 using clang-cl"
Like it [was done](https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/Build_Instructions/Building_Firefox_on_Windows_with_clang-cl) for Firefox.

This can be used as a [ready compiler](http://sourceforge.net/projects/clangonwin/files/MsvcBuild/3.7/)

[2015-04-16 14:16] XVilka opened #2386 "Integrating ESIL analysis into the output of `pdc` command"
Use `pdc` for simple decompilation, but its just unfinished right now. You can verify this by comparing the output of `pdr` and `pdc`. Also, the output of pdc can be heavily enhanced and using [esil]( https://github.com/radare/radare2/wiki/ESIL ) may help to get proper pseudo decompilation.

[2015-04-16 14:19] XVilka opened #2387 "ESIL structured output + JSON representation"
Basically printing a structured JSON exposing all the info of n instruction in tree form,
this way we can expose 'capstone-like' struct but for the ESIL representation. This will allow to expose the internals of the IL to the 3rd party scripts without a complex api.

[2015-04-16 14:29] radare commented on #2223
@crowell ?

[2015-04-16 14:34] XVilka opened #2388 "[META] JSONification of the radare2 commands"
Here to keep track of the status of the JSONification of the radare2 commands and probably unification of the JSON produced.
- [ ] Implement JSON for `dtcj` https://github.com/radare/radare2/issues/1594
- [x] Improvements of `iS`/`iSj` https://github.com/radare/radare2/issues/1289
- [x] Add JSON output to ranal2 https://github.com/radare/radare2/issues/1659
- [x] ESIL structured output + JSON repr

[2015-04-16 14:59] #2116 closed

[2015-04-16 15:24] #2382 closed

[2015-04-16 15:26] radare commented on #2381
what about the contents? are they correct?

[2015-04-16 15:38] Maijin commented on #2382
Ok this need a test

[2015-04-16 15:39] futex commented on #2381
On IDA is the contents is correct, good functions address and names.
But not in radare2

[2015-04-16 15:41] radare commented on #2381
contents = disassembly

[2015-04-16 15:50] futex commented on #2381
Disassembly code is incorrect too

[2015-04-16 15:52] schrotthaufen commented on #2032
[code]

Actual result:
[0x00400410]> fs strings
[0x00400410]> f
0x004005a4 13 str.______x__f__

Expected result:
[0x00400410]> fs strings
[0x00400410]> f
0x004005a4 13 str.ÄÖæxßf®\n

[2015-04-16 15:54] radare commented on #2032
flags cant contain strange chars, and by strange i mean non-7bit-ascii

thats how the r_name_filter() works

not going to fix/change this before the release. flags needs to be rewritten to use sdb

[2015-04-16 15:58] radare commented on #2220
output is ok

output is ok too

this seems to segfault. fixed in git. thanks

segfault too (fixed now)

wat. works fine here

fixed in git too

[2015-04-16 16:08] XVilka opened #2389 "Store the flags and flagspace in the sdb using base64"
To easily store/load them and to support any weird name you want to use.

[2015-04-16 16:09] XVilka commented on #2032
@radare updated the bug, thanks!

[2015-04-16 16:27] DePierre commented on #2381
So far it feels that the disassembly is good but the function detection isn't.
For instance, diffing the automatically detected ``digitalRead`` with the one from IDA gives the same disassembly.

But when telling r2 that ``loop`` is a function, it misses the end:

[code]

r2 tells me that ``loop`` is 166 bytes long but IDA tells me it's 248.
r2 misses this part:

[code]

[2015-04-16 16:31] DePierre commented on #2381
Also it seems that r2 doesn't resolve the symbols properly.

From r2 (exemple from the ``loop`` function):

[code]

And from IDA:

[code]

[2015-04-16 17:14] futex commented on #2381
Another strange think
On IDA loop function is at address 0x000000B6 but in radare it's at 0x00000200

IDA:

.text:000000B6 loop:
.text:000000B6 push    r15
.text:000000B7 push    r16
.text:000000B8 push    r17
.text:000000B9 push    r28
.text:000000BA push    r29
.text:000000BB ldi     r24, 0xB
.text:000000BC call     digitalRead

Radare:
0x00000200    ff92           push r15
0x00000202    0f93

[2015-04-16 18:03] q6r opened #2390 "debug_gdb segfaults"
using `r2 gdb://localhost:...` doesn't automatically use debug_gdb it instead uses debug_native.
doing `r2 -e dbg.backend=gdb gdb://localhost:...` segfaults.

[code]

so it seems 'desc' in debug_gdb is always null here. I'm not sure if this is the right way to do this.

[2015-04-16 18:10] XVilka commented on #2390
What architecture/platform it is?

[2015-04-16 18:20] q6r commented on #2390
running r2 on x86_64. Tested on 32bit/64bit binaries. gdbserver version 7.9

Another problem here.. Testing with a 32bit binary

I run

[code]

It seems that I should also set it to 32bit manually for things to work. I'm not sure if there's a way via gdbserver to determine information about the binary, or a way for radare to load the binary and does gdbserver. like how gdb does.

[code]

which act

[2015-04-16 18:26] radare commented on #2381
Avr code analysis hasnt been really improved since my first commit that was just a poc. It doesnt even supports esil and im sure there are tons of things to do to make the analysis better. I will take that bin as inspiration in order to fix some of those issues. I dont have much spare time, but i think i will manage to make it usable before the release. Any volunteer for tests and coding?

[2015-04-16 18:27] radare commented on #2390
That 0x0 pointer is because u are not specifying yhe gdb debugger backend. Use -D gdb. Also, add an if to avoid that null deref. 99% of those crashes are easy to fix

[2015-04-16 18:44] q6r commented on #2390
`-D gdb` does solve many problems. Trying to load the binary and debugging via gdbserver does not seem to work. eg `r2 -d /bin/ls -D gdb gdb://....`

Something equivalent  to :
[code]

https://asciinema.org/a/18830

[2015-04-16 19:12] radare commented on #2390
you can’t load a local binary into a remote target. in fact i think gdbserver doesnt supports that. you can use r2agent and remote debug with r2 without gdbserver at all. you can force the 32bits with -b32 (which does the same as -e asm.bits=32 but shorter) . bear in mind that gdb protocol is probably one of the *worst* designed protocols. with multiple implementations and several workarounds depe

[2015-04-16 21:35] XVilka commented on #2128
Here is suggestion from condret, that there should be api for easy access to:
 - [ ] r_bin
 - [ ] r_io
 - [ ] r_asm
 - [ ] r_anal
 - [ ] r_reg
So decompiler will be able to easily access to the any level of the executable to catch the required data.
Since there can be various decompiler plugins we need to define a mechanism to provide external API for that.

[2015-04-17 07:25] tahaaltuntas commented on #248
I'm still able to reproduce the issue.

radare2 0.9.9-git 7645 @ linux-little-x86-64 git.0.9.8-1296-gc7a4b97
commit: c7a4b978d1f271154d28ec725c9e89ccba9dd940 build: 2015-04-15

[2015-04-17 08:34] Maijin commented on #248
? Can you do a radare.tv / asciinema of your issue ?

[2015-04-17 08:44] radare commented on #248
Which terminal are you using?

[2015-04-17 11:17] z03 opened #2391 "Add support for determining whether an exception has occured during debugging"
It would be beneficial to be able to determine whether some exception such as an access violation has occured during debugging. At the moment, per pancake it is only possible to do so by disassembling and determining this from cpu flags, signal received etc..

"pancake: but for now you have to disassemble and try to determine this by reading the cpu flags , signal received, instruction, regstate,

[2015-04-17 11:23] z03 opened #2392 "If a dbte at an address for example 0x1048bc3d9 is enabled in dbg.trace=true mode - the command "at" shows hits at 0x1048bc3d9 and 0x1048bc3d8"
If a dbte at an address for example 0x1048bc3d9 is enabled in dbg.trace=true mode - the command "at" shows hits at 0x1048bc3d9 and 0x1048bc3d8

[2015-04-17 11:54] jvoisin commented on #2381
@maijin : Up to write some tests ?

[2015-04-17 11:57] jvoisin commented on #2373
I'm using [astyle]( http://astyle.sourceforge.net/ ) for other projects, and it's **way** better than uncrustify.

[2015-04-17 12:12] Maijin commented on #2381
@jvoisin yes I can make test when fixed ?

[2015-04-17 12:54] tahaaltuntas commented on #248
GNU bash, version 4.2.45(1)-release (x86_64-redhat-linux-gnu)

I pressed F2 to set a bp at 0x08048520 (0:33 of asciinema) https://asciinema.org/a/18880

[2015-04-17 13:00] radare commented on #248
the shell have nothing to do. terminal emulator is the one that handles
keys and opens a window in your desktop. gnome terminal, xterm, etc... i
always use iterm2 on osx and xterm on linux for example and it works
fine there.

also, confirm that this key is not managed by your window manager, etc

On 04/17/2015 02:54 PM, Taha Altuntaş wrote:

[2015-04-17 13:00] jvoisin opened #2393 "Add an `aat` command to detect function based on trap-sled"
Almost every compiler add a trap-sled (many `int3` instructions) between functions, for padding reasons. If would be cool to have an `aat` command to tell radare2 that there is a function after each trap-sled.

Since this can be abused to trick radare2 analysis, it should not go into `aa`, but in a separate command.

[2015-04-17 13:01] radare commented on #2393
what about handling also nopsleds, trapsleds are only for msvc on debug builds iirc

[2015-04-17 13:02] crowell commented on #2373
clang-format > astyle
On Apr 17, 2015 7:58 AM, "jvoisin" <notifications@github.com> wrote:

[2015-04-17 13:03] jvoisin commented on #2393
Sure!

[2015-04-17 13:07] neuschaefer commented on #2220
o\`o\` is a use after free, ~[0 is a out of bounds read, so they will only show up with ASan, maybe with valgrind, too.

[2015-04-17 13:23] tahaaltuntas commented on #248
I was using putty to connect my linux machine. When I used xterm, it worked properly. Thanks for your replies.

[2015-04-17 13:25] radare commented on #2373
We already have a clang-format configfile commited. Still not perfect, so thats why im not enforcing. Also newer llvm versions come with better clangformat options.. So in case of being used it will depend on a modern llvm

[2015-04-17 13:27] Maijin commented on #248
\o/

[2015-04-17 13:28] radare commented on #248
I think putty handles the function keys for his own purposes. I cant do magic with this. So use the 'b' key which is more portable and almost as easy to use as the f2 one if you need to togglw breakpoints

[2015-04-17 13:31] Maijin opened #2394 "Segfault in pdc"
http://rghost.net/6vzSccp6m

    [0x00073871]>aa ; pdc @ main

    Program received signal SIGSEGV, Segmentation fault.
    0x00007ffff7b986ba in r_core_pseudo_code (core=0x607640 <r>,
        input=0x4acf5a3 "") at pseudo.c:53
    53			char *code = r_core_cmd_str (core, sdb_fmt(0,
    (gdb) bt
    #0  0x00007ffff7b986ba in r_core_pseudo_code (core=0x607640 <r>,
        input=0x4acf5a3 "") at pseu

[2015-04-17 14:22] radare commented on #2220
Tried valgrind only wit not much surprises. Will look at them. Thx

[2015-04-17 15:31] #2394 closed

[2015-04-17 16:39] radare commented on #2128
what? define easy access.

after 1.0 i want to fully review ALL the apis, module-by-module.
breaking the apis, using much more sdb and

defining external apis means, stabilization, this requires maintainance,
backward compat and all that crap that we can't provide before 1.0, and
really. i would only "stabilize" a small subset of each module.

also, you can write a decompiler using r2pipe without

[2015-04-17 17:43] XVilka commented on #2128
@radare well, a big parts of decompiler will be in C, as you can see from the ESIL RSoC tasks,

[2015-04-17 17:49] Maijin commented on #1025
* [x]  Syscall linux-x86-32
* [x]  Syscall-x86-64

[2015-04-17 17:56] radare commented on #2128
Yup. At least the core functionality as i did for pdc. Imho there's a long road until we can think in stable apis for the decompiler. And imho 90% of the commands to manipulate the decompilation are already commands from r2 with anal/bin/flags apis behind. So i dont think we really want decompiler specific apis at this point.

[2015-04-17 18:16] radare commented on #2390
you can’t load a local binary into a remote target. in fact i think
gdbserver doesnt supports that. you can use r2agent and remote debug with
r2 without gdbserver at all. you can force the 32bits with -b32 (which does
the same as -e asm.bits=32 but shorter) . bear in mind that gdb protocol is
probably one of the *worst* designed protocols. with multiple
implementations and several workarounds depe

[2015-04-17 18:38] Maijin opened #2397 "dcs doesn't respect syscall args defined"
dcs doesn't work correctly, I mean in the "linux-x86-64" file There is `brk=0x80,12,1,` (1 argument) and this is what I get:

    --> 0x7f70192461ac syscall 12 brk (0xffffffffffffffda 0x400040 0xffffffffffffffff)
It displays 3 args

[2015-04-17 19:29] Maijin commented on #2373
shellcheck added to all scripts + make quality to run it

[2015-04-17 21:06] jvoisin commented on #293
Can you give an example of `ah` output? It doesn't spit anything here.

[2015-04-17 21:07] jvoisin commented on #333
I think that r2 doesn't have global arrows any more, does it?

[2015-04-17 21:11] radare commented on #293
[code]
But looks like `aho` was broken after the disasm refactoring, and other commands like `ah?off` are not yet implemented. I would like to pay some attention to them, but i dont have much time lately to play with it.

[2015-04-17 21:13] jvoisin commented on #795
Any news about this @r1git ?

[2015-04-17 21:28] jvoisin commented on #293
Can we move this to 1.0?

[2015-04-17 21:32] radare commented on #293
i would like to have this feature ready for the release. I think its very useful and handy. and important anotating code, maybe not make it perfect for 0.9.9... but at least make the basic stuff work like `aho` and such

[2015-04-17 21:34] radare commented on #333
by global arrows you mean e asm.linescall=true ?

[2015-04-17 22:00] Maijin commented on #2373
@radare
Shellcheck errors are fixed and a shellcheck test is ready and will not pass if someone add an error + we have detailed online of warnings:
* http://ci.rada.re/view/Quality/job/radare2-shellcheck/14/warnings17Result/NORMAL/

[2015-04-17 22:04] Maijin commented on #2397
Nop doesn't work here : linux x86-64
Same issue

[2015-04-17 23:02] jvoisin commented on #1545
I agree.

[2015-04-17 23:08] jvoisin commented on #2179
So, what shall we do?
Update your bundled thing?

By the way, is it possible to build without any kind of bundle, using the system libraries? This would make the downstreams happy :)

[2015-04-17 23:42] radare commented on #2179
updating would be good, but we know that the updated version is vulnerable because iirc it hasnt been fixed yet, and the current one shipped with r2 is unknown. Would be good to fuzz it.

nope. you cant build against pcre or libc’s regex right now, should be easy to do, so feel free to fill an issue for that.

but one of the goods of having our own regex lib is that you are sure that the regexes y

[2015-04-18 01:33] condret commented on #2397
maijin can you try 'as' for that

[2015-04-18 07:24] condret opened #2398 "easteregg: sudo make love"
can we have that as an alias for sudo make install ?

[2015-04-18 07:52] Maijin commented on #2397
@condret as seems to work as expected (but still not dcs):

    [0x7f743544a18c]> as 12
    12 = brk (0x00400040)

[2015-04-18 08:45] #2397 closed

[2015-04-18 09:02] #2220 closed

[2015-04-18 09:02] radare commented on #2220
Let me know if im missing anything else :)

[2015-04-18 09:02] radare commented on #2149
imho, those p8,pB, ... should go in a separate issue, pd seems correct now

[2015-04-18 09:03] radare commented on #2145
hello?

[2015-04-18 09:04] radare commented on #1926
@crowell do you wanna fix this?

[2015-04-18 09:07] radare commented on #1308
This was already fixed by nighterman

[2015-04-18 09:07] #1308 closed

[2015-04-18 09:07] radare commented on #1215
ping @Hyask

[2015-04-18 09:19] radare commented on #1021
I have added some more instructions to make the analysis a bit better, this requires more work and testing, mostly on the esil side and focus on all ARM arches: thumb, arm32, arm64. Current state is quite better than when the issue was opened, so im closing this issue for now and we can make it focus on fixing specific issues in the future.

[2015-04-18 09:19] #1021 closed

[2015-04-18 09:21] radare commented on #1926
or maybe @alvarofe ?

[2015-04-18 09:26] alvarofe commented on #1926
I'll take it ;)

[2015-04-18 09:27] radare commented on #2390
Let me know if the crash is fixed for you in latest git

[2015-04-18 09:28] radare commented on #601
The `op` command has been added for this already. We probably need more features for this command. But it's ok for now

[2015-04-18 09:28] #601 closed

[2015-04-18 09:29] radare commented on #426
This depends on the >0.9.9 sdbization of rbin

[2015-04-18 09:30] radare commented on #293
What do ` stack : reported value is wrong (2 instead of 8? wtf)` mean?

[2015-04-18 09:30] radare commented on #293
Maybe @alvarofe can make `ah` happy again :)

[2015-04-18 09:32] radare commented on #728
Which regressions do we have for zignatures @Maijin ? we should fix them before release

[2015-04-18 09:32] radare commented on #354
Nobody uses perl nowadays. and this is an issue with swig. not r2 or valabind at all

[2015-04-18 09:32] #354 closed

[2015-04-18 09:33] radare commented on #633
@condret can you review this?

[2015-04-18 09:33] radare commented on #755
iirc relocs are already shown in disasm, not modying memory, but works more or less fine. can anyone confirm?

[2015-04-18 09:36] q6r commented on #2390
Solved no crash anymore

[2015-04-18 09:40] radare commented on #2390
changed the title to track the issue with registers

[2015-04-18 09:40] radare commented on #2397
should be working fine now

[2015-04-18 10:49] alvarofe commented on #293
Do I have to fix `aho` or `ao*` ? I assume `ao*`

[2015-04-18 11:10] nootropics commented on #1000
Any update on this? I LOVE radare2 but for exploit development I find myself relying on gdb-peda more :(

[2015-04-18 11:34] radare commented on #1000
What do you miss?

[2015-04-18 11:41] radare commented on #1000
Iirc the aslr thing done afaik, the dumpargs has been always working with pf, which works fine if you use cparse types, the guessing args of functions is done by current analysis, but it can be better, same for syscalls. the search for references, ranges, etc is also done, to get the ppid, uid.. Is not yet done, but should be easy by just reading /proc on linux. Maybe after release, the common she

[2015-04-18 11:42] nootropics commented on #1000
Wow, wait what? all of that's in the latest version? The docs don't cover most of these new features from what I see

[2015-04-18 11:53] radare commented on #1000
Documentation is useless. Join the irc and ping me or just ask for how to do something here.

[2015-04-18 11:55] nootropics commented on #1000
Wow alright man, what server/nick?

[2015-04-18 12:09] jvoisin commented on #1000
#radare on freenode

By the way, feel free to help us document radare2 against @radare will. I'll be supper-happy to publish an article about exploitation on the [blog]( http://radare.today )

[2015-04-18 13:13] #2398 closed

[2015-04-18 13:37] jvoisin commented on #2361
Any updates @dequis ?

[2015-04-18 13:48] jvoisin opened #2400 "`pi -x` is broken"

[2015-04-18 13:48] jvoisin opened #2401 "`p8 -x` is broken"

[2015-04-18 13:49] jvoisin opened #2402 "`pB -x` is broken"

[2015-04-18 13:49] jvoisin commented on #2149
I opened new issues for them :)

[2015-04-18 13:49] #2149 closed

[2015-04-18 17:47] jvoisin opened #2403 "Unifying analysis commands"
What about creating an "analyse as much as possible the binary in a single command" command, like `aa`?

[2015-04-18 18:30] jvoisin commented on #2393
Is something like this the way to go ?
[code]

[2015-04-18 18:35] Maijin opened #2404 "dcs duplicated break or worse"
See, if I launch a "dcs*" I got 2*exit, 2*access and so ...
http://pastie.org/10100267

Compared to strace output
http://pastie.org/10100269

[2015-04-18 18:44] Maijin commented on #2397
@radare It works but doesn't respect parameter settings for example `open("/lib/x86_64-linux-gnu/libselinux.so.1", O_RDONLY|O_CLOEXEC) = 3` in dcs is `-->sn 0x7f6d39f1c4d7 syscall 2 open (0x7f6d3a1108fc 0x80000 0x7f6d3a1271c8)` and the config is `open=0x80,2,3,zxx`

+  https://github.com/radare/radare2/issues/2404

[2015-04-18 19:11] radare commented on #2402
Not sure how useful would be to show backward bits... It may result in a very confusing command

[2015-04-18 19:13] radare commented on #2397
Thats why i wanted skia to add support for registers in pf... But i can reimplement it inside rdebug to show that from yhere instead of natively with pf

[2015-04-18 20:29] XVilka commented on #2373
Added ability to run the testsuite under the valgrind http://ci.rada.re/view/Quality/job/valgrind-radare2-regressions/
Not yet visible from Web, I'll fix that soon.

[2015-04-18 21:17] q6r opened #2406 "Problem with pipes and variables"
Commands like :

[code]

does not work. I tried using vars

[code]

using r2 9392424e3005....

[2015-04-18 21:22] crowell commented on #2402
yeah, for a lot of these backwards things, do we really need them?

On Sat, Apr 18, 2015 at 3:11 PM, radare <notifications@github.com> wrote:

--
Jeff Crowell
https://github.com/crowell

[2015-04-18 21:42] jvoisin commented on #2402
Backward disassembly is useful, hexdump a bit less yes :/

[2015-04-18 21:57] Maijin commented on #2402
@radare I remember you said that pd -x was equivalent to something like `pd @@ -` something, I don't remember. This is how I've created the tests for the other command. Why not just create like an alias to this command like it's done with aa ?

[2015-04-18 21:58] XVilka commented on #2075
Postponing this after the release. Next time :)

[2015-04-18 22:03] Maijin commented on #2397
@radare Then let's wait for https://github.com/radare/radare2/issues/1025 to be closed :+1:

[2015-04-18 22:06] XVilka commented on #2032
Btw, Arabic comments are working in the mlterm (despite the ugly font/rendering):
![](http://xvilka.me/r2-mlterm.png)

[2015-04-18 22:15] XVilka commented on #2406
@q6r for the
[code]
you need to place all command in quotes if command contains spaces:
[code]

[2015-04-18 22:26] XVilka commented on #2128
@radare we do not think about a stable api, but about a suitable api for unified access to the IO levels, disassembly and a ESIL output. This is more a discussional bug.

[2015-04-18 22:27] radare commented on #2406
Full command quotation is way simpler for the parser, i plan to support better quotes support after 1.0, for now i think that if you need to do more complex stuff is better to relay on a real programming language or scripting.

The current syntax is documented, and thats the expected behaviour. But im aware it may not look much intuitive, and problematic for some oneliner constructions.

[2015-04-18 22:29] XVilka commented on #2406
@radare yep, thats about a variables part, still don't know about the first part - is this expected behaviour also?

[2015-04-18 22:29] radare commented on #2128
Maybe we can use the r*bind structures to export simple generic interfaces in other modules. But i want those structs as simple as possible.

[2015-04-18 22:31] radare commented on #2397
Cool. So this should go for 1.0

[2015-04-18 22:33] radare commented on #2402
px -10

Must be the same as

px 10 @ $$-10

[2015-04-18 22:33] radare commented on #2402
I think negative offsets in hexdump and disasm take sense. But not for bitfields or other cases.

[2015-04-18 22:42] Maijin commented on #2402
Yes that was it

[2015-04-18 22:43] jvoisin commented on #2402
So it can be implemented as `px 10 @ $$-10`, nothing tricky.

[2015-04-18 22:47] radare commented on #2402
yep. thats how it was done before someone(R) broke it.

[2015-04-18 22:48] jvoisin commented on #2402
This is why @maijin has been singing the `run the testsuite before pushing` song :snowman:

[2015-04-18 23:06] radare commented on #2406
is not expected, but it's a known bug. This should be fixed with r_cons_push/_pop which was recently added and already used in the graph generation to avoid this kind of issues when running multiple console buffers filtered at different nesting levels. I have moved this issue to 1.0 because its tricky to solve before the release, and it can be solved by using `k` or other intermediate steps like f

[2015-04-18 23:08] radare commented on #2406
`db@@.offsets` should work too

[2015-04-18 23:12] radare commented on #2404
how did you run `dcs` here? 999dcs ?

[2015-04-18 23:13] radare commented on #2393
we want to analyze after the last trap. so it will requrie the use of a macro inside cmd.hit

but i would prefer to implement this in C rather than making a PoC in r2script, which can be useful for testing, but not for final product(R)

[2015-04-18 23:14] radare commented on #2403
`aamap`

[2015-04-18 23:15] XVilka commented on #2403
we need also `aaaaa!!!` command to perform full-featured analysis with a guidance for a new user.

[2015-04-18 23:16] radare commented on #293
Yep fix them all. start by fixing `ah` and all his subcommands. that should reflect the results in `pd`.. I guess there's some kind of discussion in here, because anal hints are suposed to hijack the real opcode analysis, so, when you are analyzing an instruction we want to let the user the power to specify some hints on that instruction to change the arch,bits,esil,opcode,etc ..

[2015-04-18 23:19] radare commented on #2403
All in uppercase. Screaming. And a lowercase exclamation mark like this:

AAAA!!1!1!

No srsly, what about aaa

[2015-04-18 23:21] radare commented on #2380
You can tell radare to execute a file and remove it everytime the prompt is shown with cmd.prompt, then just make ida hook the function rename and comments to append them in this file as radare commands.

[2015-04-18 23:21] XVilka commented on #2403
`aaa` looks perfect, something like 'analyse absolutely all' vs just an 'analyse all'

[2015-04-18 23:23] XVilka commented on #2380
@radare I'm already on it (not yet finished commit), extending doc/idc2r.py

[2015-04-18 23:28] #1545 closed

[2015-04-18 23:28] #2390 closed

[2015-04-18 23:48] Maijin commented on #2404
dcs*

[2015-04-19 02:10] XVilka opened #2407 "Add file path cleanup function"
Add something like `char* r_file_path_cleanup(const char* path)` to cleanup filepath from the undesired byte sequences. And then use it everywhere.

[2015-04-19 02:15] XVilka opened #2408 "Remove duplication of CFLAGS in the resulting compiler command"
Open any radare2 build log to see something like:
[code]

[2015-04-19 02:46] XVilka commented on #772
should we postpone this to 1.0.0 ?

[2015-04-19 05:59] dequis commented on #2361
Did a bisect, 039858fd86e5a4a500312017512a53dfa0c28b86 is the first bad commit:

[code]

Before this commit, entry0 was in `0x10ae40f8` and string flags point at the right place. After this commit, entry0 is in `0x00ae34f8`.

I don't know what this means.

[2015-04-19 06:55] radare commented on #2403
The problem here is the order of execution of the analysis commands that may result in some problematic analysis. Thats why they are splitted. In fact aa is suposed to do the minimum approach and we can add some eval vars to run some or other.

Theres a bug that sometimes we loss the function names that must be fixed too

[2015-04-19 06:56] radare commented on #772
Yes.

[2015-04-19 09:10] Maijin commented on #2403
Isn't that possible to store another info in the analysis result that say which fct has been detected with a specific aa* command like. fcn.0040ea00.cs <= This one is found by aac and aas. fcn.0040ea00.c <= This one is found by aac only ? Or somewhere else to be able to says ok I've runned aaa but now I see aat detection is not correct so using a command I can "hide" all aat detection but keep the

[2015-04-19 11:51] #2404 closed

[2015-04-19 11:54] radare commented on #2375
skipping: b73b4a11f725137a4e1aa19236a5b61671d0880edc8ba1c4d7dd22031e55a922  need PK compat. v5.1 (can do v4.6)

[2015-04-19 11:55] radare commented on #2375
also, use 7z with password or so, firefox-nightly doesnt allows me to download this file because of being identified as malware

[2015-04-19 12:00] radare commented on #2375
lol, nevermind, its already 7z with pass. why the hell comes with .zip

[2015-04-19 12:02] radare commented on #2375
Probably related to https://github.com/radare/radare2/issues/2361 because i can see imports inside the text section

[2015-04-19 12:03] radare commented on #2375
The analysis is not an infinite loop. so maybe just move this for 1.0 . ill try to fix #2361 regression, and maybe this will fix this issue too.

[2015-04-19 12:55] XVilka commented on #2294
error inside the libr/util/calc.c, still can't catch the exact reason

[2015-04-19 13:05] jvoisin commented on #2033
And also a shitload of
[code]

[2015-04-19 13:05] XVilka commented on #2294
Strange thing is happening:
[code]

[2015-04-19 13:23] radare commented on #2033
I can only reproduce this in travis. Not in any of my machines. Do u?

[2015-04-19 13:25] XVilka commented on #2294
@radare we need your help here, I have no idea what's going on.

[2015-04-19 13:29] jvoisin commented on #2033
I can reproduce with a `./sys/install.sh`.

[2015-04-19 15:38] Maijin commented on #2033
@jvoisin +1

[2015-04-19 16:10] radare commented on #2033
You see it you fix it

[2015-04-19 19:54] #762 closed

[2015-04-19 20:03] #2294 closed

[2015-04-19 20:32] radare commented on #2402
i feel way more important to be able to write bits than being able to read them backwards ;D moving this thing to 1.0

[2015-04-19 20:42] XVilka commented on #2145
Added ability to see TE headers via `pf.te_header @ te_header`. Still thinking how to distinguish between those formats. Will be fixed anyway today or tomorrow.

[2015-04-19 20:53] radare commented on #2145
Awesome!

[2015-04-19 21:23] lyuts opened #2409 "Saving breakpoints when saving a project."
Fairly new to radare and can't seem to find a way to persist breakpoints between debugging sessions.
Played with project save/open but breakpoints are ignored. Is there a way that i'm missing to get the desired effect?
 Thank you.

[2015-04-20 07:48] radare commented on #2409
You can just do the following:

[code]

and then restart again and load them again:
[code]

[2015-04-20 08:09] radare commented on #2361
This is the fix. i have pushed it in a branch waiting for feedback from travis

https://github.com/radare/radare2/pull/2410

[2015-04-20 09:52] XVilka opened #2411 "`pf [2]z` returns more than 2 characters"
It should be 2 chars, but sometimes it shows 5, sometimes 10.

[2015-04-20 10:10] XVilka commented on #2411
@Hyask this is yours.

[2015-04-20 10:18] radare commented on #2361
where's this file from? can we ship it with the testsuite?

[2015-04-20 10:49] jvoisin commented on #2409
Sure, but it would be cooler to have this by default :)

[2015-04-20 11:25] radare commented on #2409
This can be easily added to project save/restore if you find it necessary.

[2015-04-20 11:56] radare commented on #2361
That fix regresses two tests, im waiting for @Maijin to add the tests for your lib to write the correct fix that makes all tests pass. Thanks!

[2015-04-20 12:05] Maijin commented on #2361
:+1:

[2015-04-20 15:20] dequis commented on #2361
Thanks! :heart:

IIRC it's from skype's windows phone app, so nope.

[2015-04-20 16:07] Maijin commented on #2361
@dequis :-1:

[2015-04-20 17:57] radare commented on #2361
Maijin.. Purge that bin from the git. Reset --hard @^ ; git push -f and git gc

[2015-04-20 18:06] Maijin commented on #2361
yes it's done

[2015-04-20 19:33] jvoisin commented on #1570
I think that we can close this issue, since:

1. `-Werror` can break the build on some exotic platform.
2. Jerkins/Travis will yell if someone adds a warning.
3. I'll use `git blame` to yell if someone adds a warning.

[2015-04-20 19:33] #1570 closed

[2015-04-20 19:37] jvoisin commented on #2218
I don't think that I would call this task *easy*.

[2015-04-20 20:10] XVilka commented on #2218
@jvoisin this was you who added this label.

[2015-04-20 22:46] Hyask commented on #2411
Strange, I'll try to fix it soon...

[2015-04-21 03:21] XVilka commented on #832
This one depends from the ESIL.

[2015-04-21 03:23] XVilka commented on #1570
Still plenty of them http://ci.rada.re/job/radare2-clang/1009/warningsResult/

[2015-04-21 03:52] XVilka commented on #1896
any update on this?

[2015-04-21 10:45] jvoisin commented on #1570
Fortunately, no one compile with `-Wextra -pedantic -nazi` :watch:

[2015-04-21 13:50] n0way0ut opened #2415 "setting a bp on a PIE binary"
should be nice to support this http://reverseengineering.stackexchange.com/questions/8724/set-a-breakpoint-on-gdb-entry-point-for-pie-binaries-without-disabling-aslr

seems that gdb supports it..

[2015-04-21 17:39] XVilka opened #2416 "List exports only command - `iE`"
Currently radare2 has `ii` and `is` commands to list just imports and all symbols respectively. It would be awesome to list also only exports. May be `iE` since `ie` already printing entrypoint, or rename `ie` to list exports and use `iE` to show entrypoint.

[2015-04-21 17:55] sushant94 commented on #2387
A couple of questions:
* Is the command to invoke printing ESIL in json form already decided?
* If there is any structure already decided let me know, else I'll whip something up and we can go on from there
* How should this output be different from `aoj` as it already contains a 'esil' field. Any additional information we're going to display in this ?

[2015-04-21 18:44] XVilka commented on #921
Added this one https://github.com/radare/radare2/issues/2416

[2015-04-21 18:50] Maijin commented on #921
@XVilka yes :+1:

[2015-04-21 18:54] radare commented on #2416
Exports are also symbols. We can just filter the ones with the public attributte set

[2015-04-21 20:28] jpenalbae commented on #2387
As far as I know command names are jet to be decided. I would make two commands similar to `pdj N` and `pdfj @ sym.function` but with json esil output.

About the output I think it should be something similar to capstone output. Below I propose some possible outputs. Please note that those outputs are just a draft and should be improved.

One major problem is that one asm opcode can be composed by

[2015-04-21 20:45] XVilka commented on #2387
@sushant94 @radare @crowell @condret
Regarding commands: I'd suggest to take `ap` for that, since it is not very common and add ESIL in `af`:
 - [ ] `ape` - print esil for any raw code, like this does a `pd` command
 - [ ] `afe` - print esil for the function, like this does a `pdf` command
 - [ ] `apej` - JSON variant of `ape`
 - [ ] `afej` - JSON variant of `afe`

For the JSON syntax/sructure of

[2015-04-21 21:06] radare commented on #2387
The `ap` thing looks interesting. in fact I would like to move `ap` into `aap` which takes more sense now that we are handling sub-aa commands.

Which other subcommands for ap can you imagine? because we are currently printing stuff with `ao` and `afi` .. maybe apo, apf ? People is very used to `ao` and `afi` right now.. but maybe moving all the printing stuff under `ap` can be an interesting chan

[2015-04-21 21:11] XVilka commented on #2387
@radare when we will support SSA and so on we can also print them: `aps` and `app` - print SSA form and print propagated output (or pseudo code).

[2015-04-21 21:52] jpenalbae commented on #2387
Here is a pad to discuss possible esil to json output

http://radare.org:9009/p/342sdfsdf23

[2015-04-22 01:36] radare commented on #2415
This is done for loading the symbols at a base address. We should dump those breakpoint with the base information so it can be restored later.

Something like

f baddr =0x820300
db 0x4867+baddr

[2015-04-22 03:01] ninjahacker opened #2419 "Recognize Blackfin"
I'm not asking to add the Blackfin architecture, but we should be able to recognize it from the ELF header.

Example:
https://www.dropbox.com/s/4hn8rikhzss6ey3/hellobf?dl=0

[code]

[code]

In general, recognizing new machines could be added based on ELF header information. This could exist before a disassembler for the machine even does. Or would that cause issues?

[2015-04-22 08:43] radare commented on #2419
The bin plugin tells which asm plugin to use. This arch doesnt needs to be supported by the disassembler/analyzer, so thats fine. But would be nice to have support for it. Maybe in extras

[2015-04-22 08:49] radare commented on #2387
I have already moved ap to aap.

We have asm.esil to change the pd output.. I would not put the esil-json-reil in pd. Maybe takes more sense under ap.

Still need to think about it..

[2015-04-22 10:03] jvoisin commented on #2419
Wouldn't it be possible to simply display the correct value in the `machine` field?

[2015-04-22 11:34] Maijin commented on #2419
Already in my updated version of the pf elf enum https://github.com/Maijin/r2-pf-templates/blob/master/elf_enums

[2015-04-22 12:17] radare commented on #2419
Sure. Thats what i was trying to say with my sleepenglish. Will commit when i arrive at home

[2015-04-22 13:03] jjdredd commented on #2312
there's a similar bug in less regex search. IMHO there's no solution for this if you're trying to search in a colorized (read 'mangled') string because it naturally differs from the original and you'll inevitably get wrong hits, especially in the case of a regex search!

[2015-04-22 13:06] jjdredd commented on #2312
If there are suggestions, I can try to implement them, but frankly idk how can this be fixed.

[2015-04-22 13:09] XVilka commented on #2416
@radare so what about using `iE` for entrypoint instead and using `ie` for the export listing?

[2015-04-22 13:11] radare commented on #2416
I think people is more used to -e for entrypoint...

[2015-04-22 13:18] jjdredd commented on #2312
The first idea is to preserve the original (not colorized or highlighted) string, and store all the color/highlight info in a seperate array with indexes to the original string, colorize/highlight everything at once later. This would require a major rewrite though.

[2015-04-22 13:22] #1627 closed

[2015-04-22 13:58] radare commented on #2419
Fixed in git. i'll add the disassembler plugin soon. it's just few mins and copypasta, but im a bit busy now, so i'll push it later at afternun/nite

[2015-04-22 13:58] #2419 closed

[2015-04-22 14:05] XVilka commented on #2419
@radare is that disasm LGPLv3 compatible? or you're going to push it to the 'extra'?

[2015-04-22 14:06] radare commented on #2419
it’s from binutils.it’s about 5KLOC of GPL code

it must go into the extras repo imho

[2015-04-22 15:30] sushant94 commented on #2387
@jpenalbae @XVilka @radare Updated the pad, please have a look. I hope to finish this in time for the 0.9.9 release :)

[2015-04-22 16:14] dkreuter opened #2420 "Feature request: Add a memory reference type to ESIL"
I propose a new ESIL type and corresponding instructions. What used what used to be

[code]

shall become

[code]

It would simplify generation, analysis and interpretation. Two open questions:
- The names for the instructions turning addresses into lvalues. Suggestions: "ref[2]", "*(ut16*)", …
- The on-stack representation of the value. Suggestions: "[2]0xffff", "*(ut16_)0xffff", "\_2:0xffff" …

[2015-04-22 16:59] crowell commented on #2420
think this breaks the stack operation of +=. it would require 3 pops in it, instead of the normal 2.

this will require a lot of refactoring I think.

[2015-04-22 17:09] dkreuter commented on #2420
@crowell += would still only pop 2 elements
ref[2] pops 'b', evaluates it (let's say b is '10'), then pushes "*10"
+= would then pop two elements: "*10" and "a"

[2015-04-22 17:54] radare commented on #2420
Not before the release. This will break all current implementations. Nighterman also proposed another breaking change and i want to release before the end of this week.

Imho the proposal looks good in the sense that it will reduce the number of commands needed to emulate code. But we have to be careful with this because it will need updates for reil, emulation, all archs backends, etc..

Also im

[2015-04-22 19:21] dkreuter commented on #2420
Even if you don't know the values on the stack, you can see which values are consumed by which ESIL instructions. Checking if a ref[2] is used in a reading or writing context can be decided in linear time. (Assuming the ESIL stack is cleared between instructions of the emulated CPU)

There could be ambiguity if there's a ternary ESIL operation that has a register as true-expression and a memory re

[2015-04-22 19:34] radare opened #2421 "Switch between disasm and stack scroll with tab in Vpp"

[2015-04-22 21:15] jvoisin opened #2422 "Unable to attach radare2 to a process"
[code]

But I can't see any opcode with `pd`.

[2015-04-22 21:30] crowell commented on #2422
hm... you should be able to attach with just r2 -d <pid>

can you do that?

[2015-04-22 21:31] jvoisin commented on #2422
It's working o/
From now, you shall be called *crowell the saviour*.

[2015-04-22 21:44] XVilka opened #2423 "1.0.0 release"
Moved after 0.9.9
* [ ] replace parts of IO layer with siol https://github.com/radare/radare2/issues/2427
* [ ] improve building r2-bindings on Windows (mingw32/cygwin)
* [ ] WinDBG https://github.com/radare/radare2/issues/1246
* [ ] Loading PDB file automatically if present while opening PE file
* [ ] Import the new ELF parser https://github.com/radare/radare2/tree/elf-ng
* [ ] Eliminate GPL (vs

[2015-04-22 21:51] danghvu opened #2424 "Error compilation on Arch Linux"
I clone it from master.
[code]
[code]

[2015-04-22 22:10] radare commented on #437
ping

[2015-04-22 22:13] XVilka commented on #437
@radare postpone this for 1.0.0 - it will require a huge refactoring of the highlighting code

[2015-04-22 22:54] XVilka commented on #2423
- [ ] Fix pedantic build http://ci.rada.re/job/radare2-pedantic/1011/
- [ ] Fix clang build http://ci.rada.re/job/radare2-clang/1016/

[2015-04-22 23:00] radare commented on #2419
Added blackfin disassembler plugin in https://github.com/radare/radare2-extras/commit/ad5a00ccce902cd0c0bbb069371dfb43e4b2c00b

enjoy ;)

[2015-04-23 00:26] #2411 closed

[2015-04-23 00:38] radare opened #2426 "Show number of flags on each flagspace"
in `fs` and `fsj` (json)

[2015-04-23 00:50] ninjahacker commented on #2419
That's fantastic! Thanks!

[2015-04-23 01:24] radare commented on #2419
There's no analysis plugin yet, so the colors and jump lines will not
work, also, looks like the syntax is uppercase which breaks the way
diassemblers work in r2, this must be changed, but as long as it's
distributed in -extras it's not a critical issue. Feel free to suggest
improvements or send patches for blackfin.

On 04/23/2015 02:50 AM, ninjahacker wrote:

[2015-04-23 02:29] ninjahacker commented on #2419
Yeah, I wouldn't mind working on it. I've got some example files I can use to help. I tried installing the extras, but it won't display the disassembly (./configure, make asm, make install-asm). Is there some extra step I need to do to get the main core r2 to find it?

[2015-04-23 07:37] radare commented on #2419
Its "make asm-install".

You can also copy the .so into your ~/.config/radare2/plugins too

Use R_DEBUG=1 environ to make the plugin loading more verbose in r2 if you have problems trying to load it.

[2015-04-23 07:38] radare commented on #2424
Is this a clean checkout? Can you git clean -xdf to confirm?

[2015-04-23 07:59] danghvu commented on #2424
That works!

[2015-04-23 07:59] #2424 closed

[2015-04-23 09:33] condret commented on #2420
i like the concept of explicit reads and writes. So i would prefere you do this in a plugin as custom-stuff for testing and later we can decide if this decision would break anything. I also plan to add some kind of history for registers in esil, that provides information how a value got computed (until the reg gets set with a constant value). I'm not sure if this really would work with your propos

[2015-04-23 09:36] condret commented on #2317
like in siol

[2015-04-23 09:38] condret opened #2427 "replace parts of r_io with siol"
to fix all the io.va bugs

[2015-04-23 09:51] radare commented on #2387
Will comment on this after release :)

[2015-04-23 09:54] radare commented on #2387
Well too late. i have commented in the pad

[2015-04-23 13:21] XVilka commented on #2422
@jvoisin can we close it?

[2015-04-23 13:22] XVilka commented on #2420
@sushant94 I think you can join this discussion too.

[2015-04-23 13:33] Maijin commented on #2422
@XVilka working with `r2 -d` but not working with dpa

[2015-04-23 14:24] radare commented on #2422
Dpa is only suposed to work on childrens of the target process, otherwise you need the machinery under io.

[2015-04-23 14:49] XVilka opened #2428 "Impossible to switch back to the text view from the graph"
When switching to graph view (pressing space) in the @pwntester webui, sometimes the graph isn't rendered, and it's impossible to switch back to text view. refreshing the page is a workaround.

[2015-04-23 14:50] XVilka opened #2429 "Wrong place for a context menu on a right click"
In the webui right click does bring up the browser context menu in most cases, the r2 menu is only available when right clicking at the correct location.

[2015-04-23 16:29] Maijin commented on #2422
@radare so what's the equivalent to `attach pid` in gdb ???

[2015-04-23 16:48] radare commented on #2428
Just add a button in top-left of the disassembly panel to toggle between those two modes will solve the issue. Imho this option ahould be removed from the context menu

[2015-04-23 16:48] radare commented on #2429
I said many times that switching between two modes shouldnt be done with only the keyboard. Focus can be tricky, and i have suggested adding a button, but actually its only possible in the context menu when rightclicking in the offset.

But for tablets phones, this is really problematic, first because that button is really small and spawning the context menu is tricky, and second because theres no

[2015-04-23 17:06] radare commented on #2422
o dbg://pid ?

We can make dpa work like that if u liek

[2015-04-23 17:18] Maijin commented on #2422
The self documentation just says
    dpa <pid>           Attach and select pid
    dpf                 Attach to pid like file fd // HACK

So that would be nice :+1:

[2015-04-23 21:59] condret opened #2431 "rabin2 -I ptrace://<pid>"
it worked once, i loved that feature, but now it's bokken :((

[2015-04-23 22:06] XVilka commented on #2431
would be awesome to fix that before the release

[2015-04-23 23:34] radare commented on #2431
This was never suposed to work, if it did was because of magic, gimme a commit where this was working because i can imagine tons of reasons starting by aslr that can make this thing not work at all

[2015-04-24 00:17] radare commented on #2361
In fact, the only failing test that this patch is breaking seems to be a test tht was already wrong before, i would merge that and mark that test as broken. it looks saner at least. everyone is ok with this?

[2015-04-24 01:44] ninjahacker commented on #2419
Yeah, sorry. I was doing the right make asm-install, just typing it into here from memory wrong. The plugins dir works though, so I'm set. Thanks again!

[2015-04-24 06:49] radare commented on #2419
Cool!

[2015-04-24 08:00] sushant94 commented on #2346
So, what have we decided on this? :P

[2015-04-24 08:12] jvoisin commented on #2422
I agree with @maijin, it would be great.

[2015-04-24 09:49] davidgfnet opened #2433 "error: 'ADDR_NO_RANDOMIZE' undeclared"
Seems that my RH5 machine does not define this macro. Is it something radare2 should be aware of? I don't really understand why, seems like a broken kernel to me :(
Thanks!

[2015-04-24 10:20] davidgfnet opened #2434 "NAN / INFINITY not declared"
Hello,

For some reason NAN and INFINITY seem not to be defined in my RH5 machine. Using C99 it just works, no idea why. I was getting:

[code]

But it's just a matter of adding `-std=c99` in the Makefile (at `shlr/java`).

Hope it helps!

[2015-04-24 11:08] pwntester commented on #2428
ok, I will add that button.

[2015-04-24 11:23] jvoisin commented on #2346
It seems that we reached a consensus:
- `aecr`
- separate reg

Except if someone disagree; @radare ?

[2015-04-24 11:39] condret commented on #2420
i thought some time about this. I think we can realize this later. For now i would like to "release" esil-specs current esil as esil-v1, and later we could add this in the specs for esil-v2 (which should be backward-compatible)

[2015-04-24 11:41] XVilka commented on #2420
@condret: there is a big possibility that ESIL syntax will be heavily changed this summer. So I'm not sure about complete backward compatibility - that could slow down development a lot.

[2015-04-24 11:44] jvoisin commented on #2433
[Yup]( http://permalink.gmane.org/gmane.linux.utilities.util-linux-ng/1462 ), seems to be kernel-related.

[2015-04-24 12:56] radare commented on #2346
I vote for 'aetr' where T is for 'to'

[2015-04-24 13:51] XVilka opened #2435 "`pf` doesn't autoload headers information in Cygwin"
Just simple

[code]

returns nothing

[2015-04-24 14:45] radare commented on #2435
Check installation paths and such...

[2015-04-24 14:59] condret commented on #2420
but changing all the stuff that is allready done will block us for a while. pls don't remove the callback-system and the customops.

[2015-04-24 15:04] XVilka commented on #2420
no one want to remove the ability to do the customops and system-callbacks. But syntax can be changed during this summer.

[2015-04-24 18:52] condret commented on #2431
uhm aslr should not affect on that. at least rabin2 -I dbg:///bin/ls works

[2015-04-24 21:46] XVilka opened #2436 "Improve DOS MZ support"
Do that ASAP

[2015-04-24 21:51] Maijin commented on #2436
Isn't that associated https://github.com/radare/radare2/issues/1200 ?

[2015-04-25 01:34] neuschaefer opened #2437 "rabin2 on malformed Pebble app prints garbage"
[code]

[2015-04-25 02:01] radare commented on #2436
why?

[2015-04-25 02:13] #2437 closed

[2015-04-25 02:23] #2434 closed

[2015-04-25 02:23] radare commented on #2434
Both INFINITY and NAN are defined in the c99 standard and are non-portable defines . i wrote some helper macros in r2 include to fix this. im closing the issue, but please confirm that its fixed.

thanks

[2015-04-25 02:24] #2433 closed

[2015-04-25 02:24] radare commented on #2433
thanks

[2015-04-25 02:37] #2426 closed

[2015-04-25 09:42] XVilka commented on #2436
@radare Thats a note for myself, just ignore it :)

[2015-04-25 21:06] radare commented on #2415
if you do -e dbg.bep=entry0 the debugger will load in there, honoring the aslr, same for symbols, etc. the only missing point is when you quit, backup bps, and reload the process, you have to redo the breakpoints by hand

[2015-04-25 23:32] radare commented on #2346
ping

[2015-04-25 23:34] XVilka commented on #2346
:+1:  for the `aetr`

[2015-04-26 08:01] yrp604 opened #2438 "rabin2 ignores bit's passed in with -a for some formats"
Specifying the bits with `-a`, using elf format
[code]

Specifying the bits with `-a`, using elf64 format
[code]

Everything gets properly set as far as I can tell and nothing changes if I use -b, I think the issue is that the module is looked up by name, and elf != elf64. Alternatively, you could just update the docs.

[2015-04-26 10:34] sushant94 commented on #2346
Cool. So `aetr` is is then. I'll make a patch soon :)

[2015-04-26 10:36] radare commented on #2346
Perfecf! Will merge asap. Ill do some more fuzzing today, but i think we
are ready to release :)
On Sun 26 Apr 2015 at 12:35 Sushant Dinesh <notifications@github.com> wrote:

[2015-04-26 12:54] #2346 closed

[2015-04-26 14:24] Hyask commented on #2189
Could you give a concrete example to show how it should work?

[2015-04-26 15:08] jvoisin commented on #2189
Sure:

![concrete]( http://texturezine.com/wp-content/uploads/2012/11/IMG_9194.jpg )

This is an example of concret.

[2015-04-26 18:45] jvoisin opened #2442 "R2 should disable colours when piped"
Of course one could use `e scr.color = 0`, but I can't think of a usecase where we want to keep colours after a pipe.

[2015-04-26 19:10] omfgroflbbq opened #2443 "Error messages"
Hi,

Since recent versions of radare (0.9.9-git 7734) I keep getting the errors shown below:

[code]

[2015-04-26 20:30] lyuts commented on #2409
Didn't know you could do that. Thank you. I think many people would still prefer them to be saved automatically so that you don't accidentally lose all your breakpoints which might take some effort to reset. I've created a pull request for this change. Hopefully didn't miss anything there.
https://github.com/radare/radare2/pull/2444

Another thought that I had is that we can actually check if rada

[2015-04-26 20:32] jvoisin commented on #2409
It's ok, issuing `db*` in non-debugger mode will return nothing.

[2015-04-26 21:58] Maijin commented on #2442
Working here probably a old r2 version used

[2015-04-26 21:58] #2442 closed

[2015-04-27 02:17] dequis commented on #2361
Closing because e7f36314578e212c9238279ddd99acf8e1ed2446 is in master and it's fixed indeed. Thanks guys!

[2015-04-27 02:17] #2361 closed

[2015-04-27 08:36] JanWerder commented on #788
requires Admin rights, but I can confirm it is working.
Will add it to the readme

[2015-04-27 16:21] zonkzonk opened #2447 "[zzuf] Elf64_r_bin_elf_get_libs"
morrn,

[code]

arch 64bit

fuzzed_file:
![fuzzed_file](https://cloud.githubusercontent.com/assets/5694980/7352105/e61126dc-ed09-11e4-8280-4d320d354add.png)

a.out.bak:
![a out](https://cloud.githubusercontent.com/assets/5694980/7352147/3135a250-ed0a-11e4-965d-5fc69397e4b6.png)

zzuf args:
zzuf -s 0:1000000 -r 0.006  -q -c -C 0 -v  -T 5 -M 100 r2 -q -c "/R/ pop" -d ./a.out.bak 2>log

Greetings
--z

[2015-04-27 16:31] VisualPrankDude opened #2448 "sys scripts cherrypull/r2-v"
here is some patches I did completely without alcohol. Not sure if they pass shellcheck :) @Maijin

* simplify exit code check
* using test instead of []
* check chdir

[code]

Cheers
VP

[2015-04-27 16:32] alvarofe commented on #2447
I am working on this. But I can't download the fuzzed file.

Can you send it by email ? alvaro.felipe91@gmail.com

[2015-04-27 16:33] radare commented on #2361
But... We end up having no test case for this bug, right? We need to find a smaller redistributable binary...

[2015-04-27 16:35] radare commented on #2448
I dislike having "then" in the line below, for the rest lgtm, but didnt tested

[2015-04-27 16:40] radare commented on #2409
Breakpoints should work with esil emulation. So db must be working even without -d

[2015-04-27 16:45] VisualPrankDude commented on #2448
ok, it is all about sloccount? :p :)

[2015-04-27 16:47] zonkzonk commented on #2447
@alvarofe "save link target as" should work
otherwise try wget https://cloud.githubusercontent.com/assets/5694980/7352105/e61126dc-ed09-11e4-8280-4d320d354add.png

[2015-04-27 16:55] alvarofe commented on #2447
I was downloading png and I thought that was a mistake

[2015-04-27 16:55] zonkzonk commented on #2443
I also get "Something really bad has happened, and r2 is going to die soon. sorry! :-(" in r2 -v:
3d78af8988994f30266f039501be47780bb7b2bf

[2015-04-27 16:57] zonkzonk commented on #2447
no, you have to rename it...

[2015-04-27 17:06] alvarofe commented on #2447
I downloaded fuzzed_file but after rename it is not a elf-binary.

[code]
I will try to run zzuf to see if I get something

[2015-04-27 17:11] Maijin commented on #2448
@VisualPrankDude just "make quality" | grep cherrypull

[2015-04-27 17:14] XVilka commented on #1700
Getting similar on qemu-arm:
[code]

[2015-04-27 18:22] condret opened #2449 "esil - %b is unreliable"
`%b` is unreliable since `esil->cur` and `esil->old` are *ut64*, `%b` may be buggy on  64 > bit-systems.
either use bitmasks or read values from the reg-api

I will fix that soon™

[2015-04-27 20:37] revskills opened #2450 "AddressSanitizer anal/fcn.c"
[code]

file gz:

2zuWbHBYApI1UiKQLMcyToqYSC1NSx5lNKPtmZElXp5QlRBIbcFukkpIkZD8SRXF
j8TZYncLqDwJ7NaSJQV/kuxmqaJcW7Ab7xYp9lEJSe+5/ZjplkZjE2Ak2efr6e5z
T9/Hube777nndN8eYABjJSOfMaxM8mazlEwfAoEn8vLkRORHt7722IzVexM8cs+j
D9mf+eq+nyw9eS719MvPf23qF+eee3Twdw88ffizv/v1dbenH/nts5+8+t8Sf/PA
xLEv3nntX55++cypNxL9L3z7TM9+Y+kTf/XEXbuU1+96mO34yu87R2/+Yu7GiavG
v/R/P7v/is/MPHv5zvSL//mCec7Wnhv85uKW+LnX9gCBQCAQ3mVoDGi5h

[2015-04-27 20:39] revskills commented on #2450
r2 -v
radare2 0.9.9-git 7743 @ darwin-little-x86-64 git.0.9.8-1393-g8bd3aba
commit: 8bd3aba9112bc3035804695a502849c1f55c7d45 build: 2015-04-27
r2 -A testcase

[2015-04-27 21:01] revskills opened #2451 "AddressSanitizer pe/pe.c"
=================================================================
==11527==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x62a00000b218 at pc 0x7f8219e8db1d bp 0x7fffebf9c1a0 sp 0x7fffebf9c190
READ of size 4 at 0x62a00000b218 thread T0
    #0 0x7f8219e8db1c in Pe64_r_bin_pe_get_debug_data /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/pe/pe.c:1895
    #1 0x7f8219e7fd4c in inf

[2015-04-27 21:06] revskills commented on #2451
Grouping some results:

=================================================================
==15159==ERROR: AddressSanitizer: stack-buffer-overflow on address 0x7fff409ae501 at pc 0x7f673097912c bp 0x7fff409adf40 sp 0x7fff409ad6e8
READ of size 271 at 0x7fff409ae501 thread T0
    #0 0x7f673097912b in strdup (/usr/lib/x86_64-linux-gnu/libasan.so.1+0x3412b)
    #1 0x7f672f8694af in Pe32_r_bin_pe_parse_

[2015-04-27 21:11] revskills opened #2452 "AddressSanitizer libr/util/str.c"
=================================================================
==13415==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x61300000c909 at pc 0x7f19e56c4a41 bp 0x7fff03cc8360 sp 0x7fff03cc8350
READ of size 1 at 0x61300000c909 thread T0
    #0 0x7f19e56c4a40 in r_str_nlen /home/revskills/dev/radare2/libr/util/str.c:975
    #1 0x7f19e8f70a93 in r_bin_dwarf_parse_lnp_header /home/revskills

[2015-04-27 21:13] radare commented on #2450
cant reproduce with latest git, anyone else can try?

[2015-04-27 21:19] radare commented on #2452
reproduced. working on a fix

[2015-04-27 21:19] radare commented on #2451
cant reproduce in -7751 can you confirm?

[2015-04-27 22:25] #2452 closed

[2015-04-27 22:39] #2451 closed

[2015-04-27 22:44] #2450 closed

[2015-04-28 08:27] revskills opened #2453 "AddressSanitizer shlr/java/class.c"
[code]

file from radare-regressions: id031 34d8f680a8a0795b9ce451268f47c921
radare2 0.9.9-git 7749 @ linux-little-x86-64 git.0.9.8-1399-g5b4a4b7
commit: 5b4a4b7be0528c11fbe197ee957cd4afbaedb623 build: 2015-04-28

[2015-04-28 08:31] revskills opened #2454 "AddressSanitizer format/elf/elf.c"
[code]

file from radare-regressions: id062 4f902f2b973f32e9935cd774b1543a70
radare2 0.9.9-git 7749 @ linux-little-x86-64 git.0.9.8-1399-g5b4a4b7
commit: 5b4a4b7be0528c11fbe197ee957cd4afbaedb623 build: 2015-04-28

[2015-04-28 08:36] revskills commented on #2453
Check this one too:

==22786==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x612000014fcd at pc 0x7fc43d5a860c bp 0x7fffcaf43ee0 sp 0x7fffcaf43ed0
READ of size 1 at 0x612000014fcd thread T0
    #0 0x7fc43d5a860b in r_bin_java_parse_methods /home/revskills/radare2/shlr/java/class.c:2171
    #1 0x7fc43d5a9443 in r_bin_java_load_bin /home/revskills/radare2/shlr/java/class.c:2262
    #2 0x

[2015-04-28 08:37] alvarofe commented on #2454
Thanks @revskills

[2015-04-28 08:44] revskills opened #2455 "AddressSanitizer pe/pe.c"
[code]
file from radare-regressions: imports_vterm.exe 18172efe93c749ff7d99090167c4d191
radare2 0.9.9-git 7749 @ linux-little-x86-64 git.0.9.8-1399-g5b4a4b7
commit: 5b4a4b7be0528c11fbe197ee957cd4afbaedb623 build: 2015-04-28

[2015-04-28 08:53] revskills commented on #2455
Grouping results:

==3663==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x612000014e5c at pc 0x7fbecc890b1a bp 0x7fffb990d260 sp 0x7fffb990d250
READ of size 4 at 0x612000014e5c thread T0
    #0 0x7fbecc890b19 in Pe32_r_bin_pe_get_libs /home/revskills/radare2/libr/..//libr/bin/p/../format/pe/pe.c:2016
    #1 0x7fbecc87f940 in is_dot_net /home/revskills/radare2/libr/..//libr/bin/p/bin_pe

[2015-04-28 08:58] alvarofe opened #2456 "sys/install.sh"
When I try to compile r2 with asan support I get the following.

[code]

https://github.com/radare/radare2/blob/master/sys/install.sh#L8

[2015-04-28 10:55] revskills commented on #2455
==13972==ERROR: AddressSanitizer: stack-buffer-overflow on address 0x7fff354dac90 at pc 0x7f47f7861c77 bp 0x7fff354dab00 sp 0x7fff354da2a8
READ of size 135 at 0x7fff354dac90 thread T0
    #0 0x7f47f7861c76 in strncpy (/usr/lib/x86_64-linux-gnu/libasan.so.1+0x2ec76)
    #1 0x7f47f675959f in parse_symbol_table /home/revskills/radare2/libr/..//libr/bin/p/../format/pe/pe.c:417
    #2 0x7f47f6763912 in

[2015-04-28 12:06] condret commented on #2449
seems not buggy, maybe i'll have to reopen this later again

[2015-04-28 12:06] #2449 closed

[2015-04-28 12:44] revskills opened #2457 "AddressSanitizer libr/bin/dwarf.c"
[code]

file: http://revskills.cz/r2/testfile_const_type (feel free to use for regression tests)
radare2 0.9.9-git 7749 @ linux-little-x86-64 git.0.9.8-1399-g5b4a4b7
commit: 5b4a4b7 build: 2015-04-28

[2015-04-28 12:50] revskills commented on #2457
Grouping results:

==20336==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x604000006580 at pc 0x7f10cc5499ec bp 0x7fff6e163130 sp 0x7fff6e163120
READ of size 1 at 0x604000006580 thread T0
    #0 0x7f10cc5499eb in r_bin_dwarf_parse_opcodes /home/revskills/radare2/libr/bin/dwarf.c:646
    #1 0x7f10cc549fa7 in r_bin_dwarf_parse_line_raw2 /home/revskills/radare2/libr/bin/dwarf.c:698
    #2

[2015-04-28 13:10] jjdredd commented on #2454
[code]

[2015-04-28 16:38] radare commented on #2456
Try this patch. its unfinished, just a poc.

http://lolcathost.org/b/p

[2015-04-28 16:56] alvarofe commented on #2456
Now it lets me to compile :) though I am not able to get ASan works but that is my problem not r2.

Thanks!

[2015-04-28 17:01] radare commented on #2456
Remove the -lasan from the .sh

[2015-04-28 17:08] alvarofe commented on #2456
I already did, the problem that appears is

[code]

But I assume that some library is not able to find. I installed llvm36 from brew with ASan support

[2015-04-28 17:52] 230v opened #2458 "cmd_help.c:338:59: error: expected expression before ‘)’ token"
I tried make package from [AUR]( http://aur.archlinux.org ), after tried from git

[code]
[code]

[2015-04-28 21:38] XVilka opened #2459 "`pf` builtin templates for sections for the supported binary formats"
Add support of parsing not only basic headers, but also section headers for these file formats:
- [ ] PE
- [ ] ELF
- [ ] Mach-O
- [ ] TE
- [ ] etc

[2015-04-28 21:48] XVilka commented on #2458
Fixed in b5d8ddb03721a02cfe2c0dcdac02e6f0467465bc

[2015-04-28 21:48] #2458 closed

[2015-04-28 22:03] XVilka commented on #2456
@alvarofe looks like you need to build shlr/zip with an ASAN too.

[2015-04-29 01:44] crowell commented on #1700
i see this on arm host, arm guest

![poop](http://i.imgur.com/9nM6cnD.png)

[2015-04-29 01:48] crowell commented on #1700
amd64 debugger, arm debuggee

[code]

[2015-04-29 07:38] radare opened #2460 "Windows packaging"
- [x] Create NSIS package (Done with InnoSetup)
- [x] Create a dedicated repository for radare2-win-installer
- [x] Handle context menu to open with r2
- [x] Add icons on Installer
- [ ] Add icons and launcher in Start menu
- [ ] Distribute with r2pipe bindings for Python, Java, Node and .NET
- [ ] Check for updates https://github.com/radare/radare2/issues/2542

---
## Enhancement
- [ ] Create a d

[2015-04-29 07:40] radare opened #2461 "OSX packaging"
- [ ] Create launcher + icon in Applications
- [ ] Make uninstaller accessible with clicks
- [ ] Handle context menu to open with
- [ ] Install optional r2pipe bindings (nodejs, python, ruby, ...)
  - run pip, npm, gem, ...
- [ ] Check/Notify for updates

[2015-04-29 07:47] radare commented on #2456
I think that all those issues comes from the bug introduced by @Maijin in 3b26388769fd7771da6df6d8da1dca8d7f21521c can you confirm. just removing the quotes around $@ should make it happy

[2015-04-29 07:54] radare commented on #2447
dat elf is so malformed that even the magic is wrong. (ELG vs ELF)

[2015-04-29 07:54] radare commented on #2447
Looks fixed in latest git

[2015-04-29 07:54] #2447 closed

[2015-04-29 08:04] #2457 closed

[2015-04-29 08:13] radare commented on #2454
Fixed by @alvarofe in git. Thanks!

[2015-04-29 08:13] #2454 closed

[2015-04-29 08:30] radare commented on #2456
confirmed. @Maijin fix that with your $* magic

[2015-04-29 08:31] JanWerder commented on #2460
Should the nsis package take the compiled binaries as input?

[2015-04-29 08:36] radare commented on #2448
What about using a pullrequest?

[2015-04-29 08:37] radare commented on #2443
@condret this is yours

[2015-04-29 08:39] radare commented on #2438
Nothing stops you from creating 32bit code in a 64bit binary, or on arm for example.. assemble 16bit (thumb) code into a 32bit executable. Not sure if this should be considered a bug or a feature. I find it handy sometimes.

[2015-04-29 08:39] radare commented on #2436
What about describing this issue in a better way with checkboxes and such?

[2015-04-29 08:40] radare commented on #2428
@pwntester ping?

[2015-04-29 08:40] radare commented on #2360
@hyask ?

[2015-04-29 08:46] radare commented on #1700
We already know that gdb backend is not working in all platforms, anyone is going to look at it, should I? This must be ready for the release

[2015-04-29 08:57] pwntester commented on #2428
sorry, I havent found the time yet. Its on my todo list, problably today

[2015-04-29 09:05] radare opened #2462 "Customize JZ/JNZ instead of JE/JNE on x86"
http://capstone-engine.org/mnemonic.html

i think this should be the default... at least, for the ones who started doing low level stuff in the DOS era, jz looks better than je.

[2015-04-29 09:06] radare commented on #2443
This is a recent regression because this was not reproducible one week ago

[2015-04-29 09:07] jvoisin commented on #2462
I prefer `jz/jnz`.

[2015-04-29 09:07] jjdredd commented on #2462
does it matter?

[2015-04-29 09:08] wapiflapi commented on #2462
Having the capstone default has the advantage of being consistent with other tools that use capstone.
The correct fix in my opinion lies upstream: A user configuration file for capstone produced disassembly.

[2015-04-29 09:10] radare commented on #2462
Let's discuss https://docs.google.com/a/nopcode.org/forms/d/1GOaavS-K0r1ga3tAFYkeSOT1RUTnjOXBTHGfWQmi1x8/viewform

[2015-04-29 09:12] jpenalbae commented on #2462
Maybe we could add an evaluable var to enable or disable mnemonics....

[2015-04-29 09:17] radare commented on #2462
yep, this can be an option as the one from asm.syntax=att/intel

and in fact.. this can be also replaced with the anal hints on every specific offset

[2015-04-29 09:19] condret commented on #2462
i prefere je/jne

[2015-04-29 09:22] skuater commented on #2462
i Preffer jz/jnz (msdos debug.exe good times) but in x64 the correct way to show its JE/JNE.
Then dont matter the votes the correct way must be JE/JNE

[2015-04-29 09:23] XVilka commented on #2462
:+1: for JE/JNE

[2015-04-29 09:28] jjdredd commented on #2455
assigned to me

[2015-04-29 09:28] alvarofe commented on #2456
The commit https://github.com/radare/radare2/commit/6aefa441b118f183144a70cc94bae2e7ecf07e66 it seems that at least for me doesn't fix nothing. The issue is that in the line below `clang -dynamic` at the end lacks the flag `-fsanitize=address`. It also fails with `sdb` so I assume is in the moment when r2 creates dynamic libraries the flag is not passed in the correct way.

[code]

[2015-04-29 09:34] alvarofe commented on #2455
@jjdredd also in the regression repository in bins/fuzzed there are some PE binaries

[2015-04-29 09:42] jpenalbae commented on #2462
Here is the summary of JE/JZ and JNE/JNZ instructions

[code]

[2015-04-29 09:46] condret commented on #2443
pls try again with ````e anal.nopskip=false```` in your .radare2rc

[2015-04-29 09:56] radare commented on #2443
this  option does not fixes the issue and have nothing to do with this problem

[2015-04-29 10:14] condret commented on #2462
i prefere je/jne because it is more semantic to have a compare-instruction folled by a jump_if_equal-instruction

[2015-04-29 10:17] condret commented on #2443
i'm pretty sure that this ````Cannot find function 'entry0' at 0x004048c5```` can be caused by nopskip

[2015-04-29 10:24] radare commented on #2443
Im concerned about this error: "Something really bad has happened, and r2 is going to die soon. sorry! :-(", the cannot find function is related to some custom settings @omfgroflbbq have in his radare2rc because by default there's no analysis at load. and this issue can be fixed by disabling anal.hasnext, because anal.nopskip is only run when hasnext is set. The only problem i see here is the "som

[2015-04-29 10:49] jpenalbae opened #2464 "Looks like debugger only works on x86"
### Errors

Trying to debug under Linux arm you will find this error when trying to set a breakpoint:

[code]

Stepping also doesn't seem to be working:

[code]

---
### Source code

Looking at the source code you will find that calls to `r_bp_add_hw` and `r_bp_add_sw` always use a fixed breakpoint size of 1 byte:

https://github.com/radare/radare2/blob/master/libr/core/cmd_debug.c#L1244

[code]

[2015-04-29 10:56] Maijin commented on #2459
@XVilka pf missing stuff to begin this work such as #1612 #1636 ...

[2015-04-29 11:04] Maijin commented on #2456
@alvarofe Does this work at 7ff53f8ae0906a659be613aac78008c126029342 ?

[2015-04-29 11:05] XVilka commented on #1636
@Maijin this works for me

[2015-04-29 11:05] jvoisin commented on #2464
Let the user chose between arm or thumb?

The code used to set software breakpoints with a size of `1` is pretty old, more than 3 years.

[2015-04-29 11:07] radare commented on #2464
Blame @skuater for this breakage :p

[2015-04-29 11:08] jvoisin commented on #2443
A week ago, I already had the `Something really bad has happened" message.

[2015-04-29 11:09] radare commented on #2443
Two weeks ago then.. Omg everytime i stay away from tr for some days everything breaks :D

[2015-04-29 11:11] jpenalbae commented on #2464
For ARM we could lookup asm.bits in order to check if user enabled thumb or not. Most of the time thumb code is mixed with arm code, and I'm not sure if we should look for the length of the opcode where the breakpoint is to be set, instead of checking  asm.bits.

I should do some testing to see which approach works better.

[2015-04-29 11:12] alvarofe commented on #2456
Neither :( Am I the only one having this issue?

[2015-04-29 11:12] revskills opened #2465 "AddressSanitizer mach0/mach0.c"
=================================================================
==15186==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x62000000df94 at pc 0x7f7e535641b7 bp 0x7fff020d68b0 sp 0x7fff020d6058
READ of size 17 at 0x62000000df94 thread T0
    #0 0x7f7e535641b6 in strncpy (/lib64/libasan.so.1+0x2f1b6)
    #1 0x7f7e52439593 in get_symbols /home/revskills/dev/radare2/libr/..//libr/bin/p/../f

[2015-04-29 11:16] revskills commented on #2465
Grouping results:
=================================================================
==15188==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x62200001ddf0 at pc 0x7fe3af9bb0d5 bp 0x7ffc57e513e0 sp 0x7ffc57e513d0
READ of size 1 at 0x62200001ddf0 thread T0
    #0 0x7fe3af9bb0d4 in get_relocs /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/mach0.c:1009
    #1 0x7fe3af9af1be

[2015-04-29 11:18] revskills commented on #2465
==15212==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x62000000df94 at pc 0x7fb72025b1b7 bp 0x7ffff9afcdf0 sp 0x7ffff9afc598
READ of size 196 at 0x62000000df94 thread T0
    #0 0x7fb72025b1b6 in strncpy (/lib64/libasan.so.1+0x2f1b6)
    #1 0x7fb71f1313cf in get_imports /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/mach0.c:890
    #2 0x7fb71f125cac in imports /home/re

[2015-04-29 11:19] alvarofe commented on #2465
I will try to fix it. @revskills is having fun with ASan jeje

[2015-04-29 11:19] alvarofe commented on #2465
@revskills any good tool to fuzz mach files?

[2015-04-29 11:21] jpenalbae commented on #2464
Besides, I'm not sure if its worth to set bp size as argument in `r_bp_add_sw()` and `r_bp_add_hw()`, or we should remove that argument and make a new helper function inside `bp.c`to calculate the proper bp size and call it from `r_bp_add()`

[2015-04-29 11:38] Maijin commented on #1636
Yup

[2015-04-29 11:39] Maijin commented on #1636
But not with pfj

[2015-04-29 11:42] Maijin commented on #1636
Also when I do ...dataDirectory[0].virtualAddress I would love to get the value not an array

     [0x00000000]> pf.pe_nt_image_headers32.optionalHeader.dataDirectory[2].virtualAddress
                                optionalHeader :
              struct<pe_image_optional_header32>
                                      dataDirectory :
    [
                    struct<pe_image_data_directory>

[2015-04-29 11:51] revskills commented on #2465
==4563==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x62200001ddf0 at pc 0x7f48c394a7a4 bp 0x7ffcb4361c90 sp 0x7ffcb4361c80
READ of size 1 at 0x62200001ddf0 thread T0
    #0 0x7f48c394a7a3 in read_uleb128 /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/mach0.c:915
    #1 0x7f48c394b5b2 in get_relocs /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/mach0.

[2015-04-29 12:14] radare commented on #2456
Yup. Nobody else can reproduce it. Sorry

[2015-04-29 12:17] condret commented on #2443
lets start with adding an r_sys_backtrace to that message

[2015-04-29 12:25] radare commented on #2464
The bp api allows to specify the bp size already. If the bp is for thumb it will be 2 byte length. Maybe this should be done explictly by the user or implicit by checking fcn->bits or section->bits if available

[2015-04-29 13:07] Hyask commented on #1636
So you mean that when you ask for a specific field, pf prints only the value, not the whole line with the name, the offset, etc...

[2015-04-29 13:23] alvarofe commented on #2456
:'(

[2015-04-29 13:24] XVilka commented on #2456
@alvarofe can you try with a completely clean tree?

[2015-04-29 13:26] alvarofe commented on #2456
git clean -xdf?

[2015-04-29 13:29] jjdredd commented on #2456
I could have had a similar issue, will check later.

[2015-04-29 13:43] jjdredd commented on #2456
i get stuff like this
[code]

[2015-04-29 13:50] revskills commented on #2465
==1293==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x6040000065f8 at pc 0x7f9ab1b5a805 bp 0x7ffdd424d4c0 sp 0x7ffdd424d4b0
READ of size 1 at 0x6040000065f8 thread T0
    #0 0x7f9ab1b5a804 in get_relocs_64 /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/mach0.c:1091
    #1 0x7f9ab1b4d8a2 in relocs /home/revskills/dev/radare2/libr/..//libr/bin/p/bin_mach0.c:215
    #2 0

[2015-04-29 13:52] VisualPrankDude commented on #2448
https://github.com/radare/radare2-regressions/pull/175

[2015-04-29 13:53] revskills commented on #2465
==2421==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x604000006638 at pc 0x7f19cc5de95e bp 0x7fffe6452ad0 sp 0x7fffe6452ac0
READ of size 1 at 0x604000006638 thread T0
    #0 0x7f19cc5de95d in read_sleb128 /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/mach0.c:927
    #1 0x7f19cc5df53f in get_relocs_64 /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/mac

[2015-04-29 14:08] radare commented on #2456
This is known and harmless

[2015-04-29 14:21] revskills opened #2466 "AddressSanitizer: p/bin_xbe.c"
[code]

file: http://revskills.cz/r2/f2c88a19b48f56c370a19a2706a4f194
radare2 0.9.9-git 7759 @ linux-little-x86-64 git.0.9.8-1404-g5b984e8
commit: 5b984e8 build: 2015-04-29

[2015-04-29 14:43] Maijin commented on #2448
@VisualPrankDude did you successfully performed shellcheck on those script :smile:

[2015-04-29 14:45] Maijin commented on #1636
don't know if `pf` itself is the best but definitely needs something like this to be able for example to dump a dataDirectory :+1:

[2015-04-29 14:56] Maijin commented on #2460
fyi NSIS is highly detected by AntiViruses even on rather low settings, don't know if it's the best stuff to use, at least some VirusTotal tests should be done imho.

[2015-04-29 16:13] jvoisin commented on #2464
Checking `fcn->bits` or `section->bits` seems nice to me.
We can even check both, and warn if they don't match.

[2015-04-29 16:32] #2443 closed

[2015-04-29 17:45] mrexodia commented on #2462
@condret Or in case of `test eax, eax` a `JZ` is more logical. or in this case:
[code]

In this case JNE doesn't make any sense, since there is no comparison.

[2015-04-29 18:45] VisualPrankDude commented on #2448
well first thing in cherrypull.sh shellcheck complaints was already there: swapping 2>&1 > /dev/null to > /dev/null  2>&1

printf "..%s.." "$foo". instead of printf  $foo in r2-v I forgot about :]
the rest is quoting, but tanks (tm) for the pointer :D

[2015-04-29 21:49] #2466 closed

[2015-04-29 21:51] radare commented on #2455
@jjdredd keep us updated about your progress

[2015-04-29 21:52] radare commented on #2465
@alvarofe any update?

[2015-04-29 21:53] pwntester commented on #2428
https://github.com/radare/radare2/pull/2467

[2015-04-29 22:05] #2453 closed

[2015-04-29 22:07] radare opened #2468 "Add an api for RBin to override all internal binary information using Sdb"
As long as rbin gets sdbized it will be possible to override some keys from the binary this is, patching number of sections, offset, etc without altering the file.

[2015-04-29 22:27] #2465 closed

[2015-04-29 23:01] Hyask commented on #2360
I implemented the functionality this morning, and a testcase, but the JSON doesn't work yet, as for arrays of ulebs, that's why I didn't commited...
I haven't much time, but I'll try to complete it asap

[2015-04-30 00:02] radare commented on #2455
The imports_vterm.exe is not fixed . @alvarofe do you want to take a look at it? i have fixed many other issues

[2015-04-30 09:32] revskills opened #2469 "AddressSanitizer libr/anal/p/anal_java.c"
==14242==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x610000007afc at pc 0x7fd356091ab6 bp 0x7fffa54d6390 sp 0x7fffa54d6380
READ of size 1 at 0x610000007afc thread T0
    #0 0x7fd356091ab5 in java_switch_op /home/revskills/radare2/libr/..//libr/anal/p/anal_java.c:748
    #1 0x7fd356091fbf in java_op /home/revskills/radare2/libr/..//libr/anal/p/anal_java.c:779
    #2 0x7fd3561279fe in

[2015-04-30 09:34] revskills commented on #2469
==14240==ERROR: AddressSanitizer: SEGV on unknown address 0x000000000008 (pc 0x7fbc73c87b15 sp 0x7fffe0db5700 bp 0x7fffe0db5760 T0)
    #0 0x7fbc73c87b14 in handle_bb_cf_recursive_descent /home/revskills/radare2/libr/..//libr/anal/p/anal_java.c:262
    #1 0x7fbc73c87346 in java_recursive_descent /home/revskills/radare2/libr/..//libr/anal/p/anal_java.c:172
    #2 0x7fbc73d2000d in r_anal_ex_perform

[2015-04-30 09:36] revskills commented on #2469
==14236==ERROR: AddressSanitizer: heap-use-after-free on address 0x610000009168 at pc 0x7f3c54a8b39a bp 0x7fff7f0609c0 sp 0x7fff7f0609b0
READ of size 4 at 0x610000009168 thread T0
    #0 0x7f3c54a8b399 in analyze_from_code_buffer /home/revskills/radare2/libr/..//libr/anal/p/anal_java.c:517
    #1 0x7f3c54a8ba20 in analyze_from_code_attr /home/revskills/radare2/libr/..//libr/anal/p/anal_java.c:563

[2015-04-30 09:38] revskills commented on #2469
==14230==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x612000027edd at pc 0x7fa689ccc0b1 bp 0x7fff1d73ef20 sp 0x7fff1d73ef10
READ of size 1 at 0x612000027edd thread T0
    #0 0x7fa689ccc0b0 in java_op /home/revskills/radare2/libr/..//libr/anal/p/anal_java.c:809
    #1 0x7fa689d619fe in r_anal_ex_get_op /home/revskills/radare2/libr/anal/anal_ex.c:150
    #2 0x7fa689d62752 in r_anal_ex_

[2015-04-30 09:51] radare opened #2470 "Add DES into libr/crypto"
https://github.com/ARMmbed/mbedtls/blob/development/library/des.c

[2015-04-30 11:09] Maijin opened #2471 "nullEP.exe Entrypoint"
* nullEP.exe               PE with null EntryPoint (MZ is executed as dec ebp, pop edx)
* https://github.com/radare/radare2-regressions/blob/master/bins/pe/nullEP.exe
* Source: https://github.com/corkami/pocs/blob/master/PE/nullEP.asm

Right now R2 "creates" the entrypoint at 0x00400000

IdaPro prompt-asked: "Entry point 0x400000 is not loaded into the database. Do you want to load the missing dat

[2015-04-30 12:26] #2448 closed

[2015-04-30 12:35] XVilka commented on #2460
Consider to use http://wixtoolset.org/ instead of NSIS
// D3lirium from #radare

[2015-04-30 13:05] XVilka commented on #2460
Also looks like this allows to write MSI from the linux https://wiki.gnome.org/msitools

[2015-04-30 13:18] radare commented on #2471
I think the main problem here is with yhe sections created by it. We need more tests for this binary to verify the correct entrypoint offset and contents in it.

[2015-04-30 13:34] jjdredd commented on #2455
@radare what's the meaning of https://github.com/radare/radare2/blob/master/libr/bin/format/pe/pe.c#L528

[2015-04-30 14:33] crowell commented on #2470
In /hash/? Why?
On Apr 30, 2015 6:22 AM, "radare" <notifications@github.com> wrote:

[2015-04-30 14:42] radare commented on #2470
because libr_hash contains all crypto and checksuming algorithms of r2.
it abstracts the apis for AES, etc..

On 04/30/2015 04:33 PM, Jeffrey Crowell wrote:

[2015-04-30 14:43] radare commented on #2455
it means that some binaries contain an import size of 0, but this is not
real size of it because system parser takes the rest of the file as an
import table and load it. its just a hack to asume its 0xffff, and
therefor it must be reviewed carefully with some real exes

On 04/30/2015 03:34 PM, Judge_Dredd wrote:

[2015-04-30 15:07] Maijin commented on #2471
@radare https://github.com/radare/radare2-regressions/blob/master/t.formats/pe/nullEP
* There is already a wrong test for entrypoint but needs to know if
** We keep 0x00400000 by default
** We display no EP by default

* I can add a secondary test which test if first instruction is `dec ebp`

[2015-04-30 15:12] jjdredd commented on #2455
ok, just thought it might be the source of the bug.

[2015-04-30 16:59] #2455 closed

[2015-04-30 19:55] yrp604 commented on #2438
Agreed, but the -b and -a arguments don't affect the assembling of code, correct? The code inside the generated binary is specified by the hexpairs, and ignores -b and -a.

I'm under the impression -b/-a should affect the binary it's reading/writing. This obviously isn't a huge deal, it just surprised me that when I specified an x86_64 ELF, the resulting elf specified 32bit in the header.

[2015-04-30 20:18] radare opened #2473 "Add support for sequence of instructions and help in /c"
[code]

must search for a jmp followed by a nop and then another mov.
this syntax must support a way to specify that a kind of instruction (or group) can be repeated N times. I would suggest supporting plain sequencial instruction search and later extend it with higher level logic.

[2015-04-30 20:20] crowell commented on #2473
/c should support regular expression as well

[2015-04-30 21:00] crowell commented on #2456
to build with asan why not just do like CC="clang -fsanitize=address" ./sys/install.sh ?

[2015-04-30 21:06] radare opened #2474 "Make RMagic functionality available from rafind2"
As a way to replace `file`. Just as an alias for `r2 -nqcpm $FILE 2> /dev/null`

Discuss: Which flag take?

[2015-04-30 21:12] alvarofe commented on #2456
I've just tried and it doesn't fail @crowell . I thought I tried before but it seems that I was doing something wrong with that :) Thanks \o/ !!

[2015-04-30 21:19] ninjahacker commented on #2470
I don't think so...
libr/hash has hashing algorithms.
libr/crypto has the cipher algorithms (only AES right now)

[2015-04-30 21:39] jvoisin commented on #2474
`-f` of course :)

[2015-05-01 00:22] radare commented on #2469
Everything loads fine here, can you confirm?

[2015-05-01 08:18] radare commented on #2474
-f and -F are already taken unless we move it :p

We can also do that in rafind2, as a carver.

[2015-05-01 08:19] radare commented on #2470
Agree :)

[2015-05-01 08:20] radare commented on #2456
Should be fixed now

[2015-05-01 08:23] radare commented on #2360
Awesome! That will be a cool addition! Thanks

[2015-05-01 10:10] radare commented on #2469
Pushed a branch with some fixes, but those produce several regressions. need more review. See https://github.com/radare/radare2/tree/java-fix

[2015-05-01 10:35] alvarofe commented on #2465
In my machine is still broken. I will work on it this weekend

[2015-05-01 10:36] radare commented on #2438
Agree, this may be confusing. Any proposal in C form?

[2015-05-01 10:44] radare commented on #1700
Anyone wants to take care of this issue?

The complains about the reg profile is because the total size of the regs differs from the one taken from the backend. See drp for more info.

[2015-05-01 10:52] Maijin commented on #2474
+1 for rabin2

[2015-05-01 11:26] radare commented on #2465
Awesome!

[2015-05-01 11:41] radare commented on #2474
Also, we want rafind2 to do /m too. Search.align is also important to be accessed from rafind2.

[2015-05-01 13:56] jjdredd commented on #2473
isn't the first feature already done with comma delimiter atm?

[2015-05-01 14:31] radare commented on #2473
Test it or gtfo :)

[2015-05-01 14:46] jjdredd commented on #2473
ahaha, yes, output is quite messy:
[code]

[2015-05-01 16:00] radare commented on #2473
Yeah seems to work. Would be nice to have a /c* with a nicer output to be consumed by r2.

I tried with ; because other commands like wa changed to use ; as a separator, maybe we should support both in /c or just change it to be only ;

[2015-05-01 16:56] jvoisin commented on #2473
I think that we should use `;` only since you may want to search for `mov eax, ecx`.
Also, it would be cool to put a `;` between the opcodes in the result ;)

[2015-05-01 17:50] radare commented on #2473
And handle * as a way to tell N random instructions, also we can handle *3 to sprcify at least 3 instructions between two:

/c mov eax;*3;int

And add search.maxops as a way to limit the number of instructions between two known ones

[2015-05-01 19:29] jvoisin commented on #2473
Regexps would be cooler:

[code]

[2015-05-01 22:19] Maijin commented on #1249
The Issue is still present

[2015-05-01 23:15] radare commented on #2473
Making it as a standalone regex compiler with jit and hooking apis for extending the syntax and reuse it from other search loops would be even nicer :-)

[2015-05-02 12:19] jvoisin commented on #2473
59a64235d53e176549fff875cd53b33e89f42a02 improved a bit the results display, and replace the separator character with `;` instead of `,`.

[2015-05-02 12:29] dukebarman opened #2479 "rax2 doesn't convert binary"
I can't convert binary data to int or hex value

![rax2_convert](https://cloud.githubusercontent.com/assets/1186777/7441083/5f44d832-f0e8-11e4-8a4a-6df4af571c8f.png)

[2015-05-02 12:37] radare commented on #2479
You are doing it wrong. Read the documentation

[2015-05-02 12:55] radare commented on #2479
Well, mainly it does, but its wrapped to 64bits, not bignum

[2015-05-03 09:46] Maijin commented on #2479
@radare https://github.com/radare/radare2-regressions/blob/master/t.tools/rax2/rax2#L203-L208

[2015-05-03 09:53] Nodepad opened #2482 "Wrong analysis of 16-bit relative call"
Radare2 analyse 16-bit relative call wrong.
[code]
But it should be call 0x0. This is issue of capstone because udis analyse it right.
[code]

[2015-05-03 10:03] radare commented on #2479
Long != Bignum

[2015-05-03 10:04] radare commented on #2482
This is a disassemble bug, not analysis one. And its related to capstone, not r2. Can you open an issue for capstone?

And reference it here? Will be good to have more 16bit x86 tests in our testsuite. Cc @maijin

Thanks!

[2015-05-03 10:12] Maijin commented on #2479
Ah I didn't look at the screenshots, was thinking the same issue :p

[2015-05-03 10:16] Nodepad commented on #2482
Capstone related issue: https://github.com/aquynh/capstone/issues/352

[2015-05-03 11:04] aquynh commented on #2482
this is related to this issue https://github.com/aquynh/capstone/issues/111

at that time, i put in a fix & we have this at https://github.com/aquynh/capstone/blob/next/arch/X86/X86IntelInstPrinter.c#L632

[code]

now with this issue coming up, it seems i got the last fix wrong: that `0x100000` on the first line should be `0x10000` instead?

[2015-05-03 11:57] Nodepad commented on #2482
1. I guess issue is in loading immediate operand, it's loaded like unsigned instead of signed. I think function `MCOperand_getImm ` returns unsigned value: 0xfffd instead of -3 for my example above.
https://github.com/aquynh/capstone/blob/next/arch/X86/X86IntelInstPrinter.c#L627
[code]
2 .  About issue https://github.com/aquynh/capstone/issues/111
Why do you think that relative offsets should over

[2015-05-03 12:06] radare commented on #2482
Please comment this in the capstone issue, not the r2 one

[2015-05-03 13:26] VisualPrankDude commented on #2448
@Maijin sys/cherrypull.sh is not in sync. radare2 != radare2-regressions

[2015-05-03 14:15] zonkzonk opened #2484 "r2 ~.."
morn,

playing around with '~..'. Using twice crashes r2. (eg.~.., ^C, ~..)

http://radare.tv/a/58

Thanks to Sebastian, for providing the machine!

Cheers
zlul

[code]

[2015-05-03 14:48] jjdredd commented on #2484
sounds like my fault :P

[2015-05-03 15:01] zonkzonk commented on #2484
Throwing a TB117 at you. :P

[2015-05-03 15:14] jjdredd commented on #2484
looks like strlen() give undefined behavior if passes NULL

[2015-05-03 16:15] zonkzonk commented on #2484
@jjdredd  looks fixed :D

[2015-05-03 16:37] jjdredd commented on #2484
some tests failed, I'll make another fix

[2015-05-03 18:23] XVilka commented on #2436
@radare that was a suggestion of @Nodepad.

[2015-05-03 20:32] radare opened #2487 "Check plugin r2-version on load"
When loading a plugin from home or system, the plugins must include a new field specifying the version of r2 in which it was compiled. This check must be enforced by default and disabled with an environment variable. Similar to R_DEBUG, which imho should have a different name or be used in a similar way gstreamer does.

[2015-05-04 07:58] #2484 closed

[2015-05-04 08:26] radare opened #2488 "Add `date` command in r2 honoring cfg.datefmt or the YYYYMMDD HH:mm form"

[2015-05-04 08:39] revskills opened #2489 "OOM on PE32 Intel 80386, for MS Windows"
some OOM with some PE32 samples:

http://revskills.cz/r2/00e8b2caa82fd43c0db7c6856fc70240
http://revskills.cz/r2/300b5bff144ca7ae1d9dbb3167cf08fa
http://revskills.cz/r2/bb2a32d49463bf86932cff2f6fa3b5d1
http://revskills.cz/r2/f12408ce17aa6277159b8bf25912ed77

radare2 0.9.9-git 7794 @ linux-little-x86-64 git.0.9.8-1404-g5b984e8
commit: 5b984e8a71ca59e424d62140cc1d707da5f057b6 build: 2015-05-04

[2015-05-04 08:51] radare commented on #2482
Updated to the latest -next, and its not fixed

[2015-05-04 09:24] radare commented on #2311
ping

[2015-05-04 09:24] radare commented on #2311
ping @pwntester

[2015-05-04 09:30] radare commented on #2343
Should be fixed with the pending sdbization

[2015-05-04 09:31] radare commented on #2360
thanks!

[2015-05-04 09:31] #2360 closed

[2015-05-04 10:12] #2489 closed

[2015-05-04 10:19] radare opened #2490 "vterm PE with asan not fixed"
sys/asan.sh
sh run_tests.sh t.formats/pe

[2015-05-04 15:04] revskills commented on #2490
Note this was reported via #2455

[2015-05-04 15:34] radare commented on #2482
Fixed

[2015-05-04 15:34] #2482 closed

[2015-05-04 15:37] alvarofe commented on #2490
I will try to fix it when I have time

[2015-05-04 17:06] pwntester commented on #2311
Fixed in https://github.com/radare/radare2/pull/2491

[2015-05-04 18:41] zonkzonk opened #2492 "r2 -c "/c", Segfault in X86_get_insn_id"
morrn,

[code]

Greetings
--zlul

[2015-05-04 18:57] zonkzonk commented on #2492
can't reproduce in fd7e8000e9146ff642bda38745ad4b314da8b9a0

[2015-05-04 18:57] #2492 closed

[2015-05-04 19:07] jvoisin commented on #2473
I just added help in ae02d25b6804b75c7e093ffd3501589e282f8dd0

[2015-05-05 10:54] omfgroflbbq opened #2494 "Abillity to break at fork."
As far as I know currently radare2 isn't able to debug processes that fork.
There is the "dcf" command which runs "dcs vfork" but it doesn't seem to break when a fork is occuring.

Using gdb it's possible to execute "catch fork", and it would break when a fork occurs.

Steps to reproduce using the tiny_bash* binary:

1) [user@box]$ r2 -d ./tiny_bash 1234
2) [0x00400eab]> dcf
3) [user@box]$ nc loca

[2015-05-05 10:58] jjdredd commented on #2494
imho r2 has the ability to break anywhere, anytime

[2015-05-05 12:09] radare commented on #2494
@jjdredd this probably never worked well, or was poorly tested. the way to do that is with `r2 -e dbg.forks=true`, dont close the issue as long as `dcf` must be fixed, but this is not going to happen before the release. @skuater and me we are working behind the scenes redesigning the debugger and making some lists of things to address. And this is on the list. but as i said many times i didnt focu

[2015-05-05 15:09] omfgroflbbq commented on #2443
Sorry for the delay my .radare2rc:

e dbg.bep=main      # start @ main
e scr.color=1       # enable color screen
e file.analyze=1    # perform basic code analysis
e asm.pseudo=0      # simplify disassembly
e scr.pager=less -R # enable teh pager
e asm.varsub=0      # no vars in disassembly
e scr.utf8 = true   # enable utf-8
aa                  # analyse symbols

Setting anal.nopskip to false doesn'

[2015-05-05 15:12] omfgroflbbq commented on #2443
Backtrace:

[user@box]$ r2 -d /tmp/tiny_bash
Process with PID 23625 started...
PID = 23625
pid = 23625 tid = 23625
r_debug_select: 23625 23625
Using BADDR 0x400000
Asuming filepath /tmp/tiny_bash
Something really bad has happened, and r2 is going to die soon. sorry! :-(
Backtrace 10 stack frames.
/usr/local/lib/libr_util.so(r_sys_backtrace+0x19) [0x7f40b2ab6531]
/usr/local/lib/libr_io.so(r_io_read

[2015-05-05 17:23] zonkzonk opened #2496 "#2037 follow up, cg vs. cgo"
morrn,

 a #2037 follow up

https://asciinema.org/a/19561

can anyone else reproduce?

Greetings
--zlul

[code]

[2015-05-05 17:31] crowell commented on #2496
yep, segfaults on amd64 for me

[2015-05-05 18:48] crowell commented on #2496
fixed in 08953547746314c296078075252a0ce0904d1153

[2015-05-05 18:48] #2496 closed

[2015-05-05 19:43] zonkzonk commented on #2496
@crowell many thanks for fixing.

[2015-05-05 20:37] jvoisin commented on #2428
If it's fixed, we can close this issue.

[2015-05-05 20:37] #2428 closed

[2015-05-05 20:39] jvoisin commented on #2429
@pwntester : What about a "menu" button?

[2015-05-05 20:43] jvoisin commented on #2145
@XVilka ping?

[2015-05-05 20:44] jvoisin commented on #1926
@alvarofe ping?

[2015-05-05 20:51] alvarofe commented on #1926
I've been fixing issues related with fuzzing and so,  I hope this week fix this issue ;)

[2015-05-05 20:57] jrmuizel opened #2499 "dxgkrnl.sys confuses radare2"
Steps to reproduce:
wget http://people.mozilla.org/~jmuizelaar/dxgkrnl.sys
rabin2 -PP dxgkrnl.sys
radare2 dxgkrnl.sys

           ;-- pdb._SubmitPresentHistoryToken_DXGCONTEXT__QEAAJPEBU_D3DKMT_PRESENTHISTORYTOKEN__PEAVCOREDEVICEACCESS__PEAVCWin32kLocks__HPEAT_LARGE_INTEGER___Z:
           0x00065090    0000         add byte [rax], al
           0x00065092    00418b       add byte [rcx - 0x75], al

[2015-05-05 21:26] crowell commented on #2499
what does llvm-objdump give?

On Tue, May 5, 2015 at 4:57 PM, Jeff Muizelaar <notifications@github.com>
wrote:

--
Jeff Crowell
https://github.com/crowell

[2015-05-05 22:07] 0x27 opened #2500 "sflib ARM libraries missing?"
Was test driving ragg2-cc, noticed it seemed to have an ARM output option. It seems the ARM headers/libraries are actually missing (current, as of this issue opening-time git version of r2) or not yet present? Was basically experimenting with the shellcode generation (which works amazingly for x86 so far! beautiful!)

[code]

Not sure if PEBKAC or actual issue, but figured I'd flag it anyway :)

[2015-05-05 22:10] radare commented on #2500
Yeah, we should include and test more of those backends. We can take those from @whatsbcn 's shellforge project. https://github.com/whatsbcn/shellforge4 in which i based the implementation in r2.

Do you mind to send a pullreq?

[2015-05-05 22:39] #2490 closed

[2015-05-05 22:44] #2488 closed

[2015-05-06 08:27] 0x27 commented on #2500
Will fork and do some testing today and send a PR if I get it working in the next couple days. If I can get ARM to work, probably can get other architectures working too, but might not be able to effectively test those (maybe Qemu...) :)

[2015-05-06 08:49] radare commented on #2500
you’ll probably need to set CC environment pointing to your favourite arm C compiler when doing -a arm.

Would be cool to make ragg2-cc support most common toolchains like the android NDK or the one shipped by Apple (CC="xcrun —sdk iphoneos gcc -arch armv7")

this can be easily added. and i’m looking forward to support it

thanks!

[2015-05-06 09:08] revskills opened #2501 "AddressSanitizer p/bin_xbe.c"
==20314==ERROR: AddressSanitizer: stack-buffer-overflow on address 0x7ffdb11bba70 at pc 0x7fbe57e0cc2c bp 0x7ffdb11bb920 sp 0x7ffdb11bb0c8
READ of size 263 at 0x7ffdb11bba70 thread T0
    #0 0x7fbe57e0cc2b in strdup (/lib64/libasan.so.1+0x34c2b)
    #1 0x7fbe56d2d9dc in info /home/revskills/dev/radare2/libr/..//libr/bin/p/bin_xbe.c:276
    #2 0x7fbe56c60a8a in r_bin_object_set_items /home/revskill

[2015-05-06 09:11] revskills opened #2502 "AddressSanitizer format/mach0/mach0.c"
==20348==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x6040000063f8 at pc 0x7fa4021b389d bp 0x7fff67d89840 sp 0x7fff67d89830
READ of size 1 at 0x6040000063f8 thread T0
    #0 0x7fa4021b389c in read_uleb128 /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/mach0.c:915
    #1 0x7fa4021b5353 in get_relocs_64 /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/ma

[2015-05-06 09:15] revskills opened #2503 "AddressSanitizer mach0/mach0.c:1009"
==20350==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x6120000107d0 at pc 0x7fd963a571ce bp 0x7ffc4ca0aed0 sp 0x7ffc4ca0aec0
READ of size 1 at 0x6120000107d0 thread T0
    #0 0x7fd963a571cd in get_relocs_64 /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/mach0.c:1009
    #1 0x7fd963a4b8a2 in relocs /home/revskills/dev/radare2/libr/..//libr/bin/p/bin_mach0.c:215
    #2

[2015-05-06 09:21] revskills opened #2504 "AddressSanitizer format/mach0/mach0.c:1082 *"
Note this is a _write_ :

==20352==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x62600000eb88 at pc 0x7fe6ff2c13dd bp 0x7ffef55c2910 sp 0x7ffef55c2900
WRITE of size 8 at 0x62600000eb88 thread T0
    #0 0x7fe6ff2c13dc in get_relocs_64 /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/mach0.c:1082
    #1 0x7fe6ff2b48a2 in relocs /home/revskills/dev/radare2/libr/..//libr/bi

[2015-05-06 09:24] revskills opened #2505 "AddressSanitizer format/mach0/mach0.c:890"
==20354==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x61600000f88c at pc 0x7fe78954d1b7 bp 0x7ffc42898210 sp 0x7ffc428979b8
READ of size 26 at 0x61600000f88c thread T0
    #0 0x7fe78954d1b6 in strncpy (/lib64/libasan.so.1+0x2f1b6)
    #1 0x7fe7884233cf in get_imports /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/mach0.c:890
    #2 0x7fe788417cac in imports /home/rev

[2015-05-06 09:30] revskills opened #2506 "AddressSanitizer format/mach0/mach0.c:815"
==20362==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x61600000f88c at pc 0x7fb7e673d1b7 bp 0x7fffeb75e9f0 sp 0x7fffeb75e198
READ of size 62 at 0x61600000f88c thread T0
    #0 0x7fb7e673d1b6 in strncpy (/lib64/libasan.so.1+0x2f1b6)
    #1 0x7fb7e5612593 in get_symbols /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/mach0.c:815
    #2 0x7fb7e561787d in get_main /home/re

[2015-05-06 09:33] revskills opened #2507 "AddressSanitizer format/mach0/mach0.c:662 *"
Note this is an invalid _write_ :

==20398==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x619000001400 at pc 0x7ff0fa6c5d0e bp 0x7ffdcb3cc3b0 sp 0x7ffdcb3cc3a0
WRITE of size 8 at 0x619000001400 thread T0
    #0 0x7ff0fa6c5d0d in parse_import_stub /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/mach0.c:662
    #1 0x7ff0fa6c7798 in get_symbols /home/revskills/dev/radare2

[2015-05-06 09:41] revskills opened #2508 "AddressSanitizer format/mach0/mach0.c:765"
==20410==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x60600000d258 at pc 0x7f296ea041b7 bp 0x7fff6344fec0 sp 0x7fff6344f668
READ of size 25 at 0x60600000d258 thread T0
    #0 0x7f296ea041b6 in strncpy (/lib64/libasan.so.1+0x2f1b6)
    #1 0x7f296d8e9f27 in get_symbols_64 /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/mach0.c:765
    #2 0x7f296d8ef7b6 in get_main_64 /h

[2015-05-06 09:51] revskills opened #2509 "AddressSanitizer SEGV /libr/bin/dwarf.c:1317"
==23281==ERROR: AddressSanitizer: SEGV on unknown address 0x000000000099 (pc 0x7f46cffb7f45 sp 0x7fffbe444e10 bp 0x7fffbe444e20 T0)
    #0 0x7f46cffb7f44 in sdb_check_value (/usr/lib/libr_db.so+0x38f44)
    #1 0x7f46cffb49c6 in sdb_set_internal (/usr/lib/libr_db.so+0x359c6)
    #2 0x7f46cffb521f in sdb_set (/usr/lib/libr_db.so+0x3621f)
    #3 0x7f46cffb3e6f in sdb_add (/usr/lib/libr_db.so+0x34e6f)

[2015-05-06 09:53] revskills opened #2510 "AddressSanitizer libr/bin/dwarf.c:1174"
==23283==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x60f00000e783 at pc 0x7f0d0a186afd bp 0x7fffb325ad00 sp 0x7fffb325acf0
READ of size 1 at 0x60f00000e783 thread T0
    #0 0x7f0d0a186afc in r_bin_dwarf_parse_attr_value /home/revskills/dev/radare2/libr/bin/dwarf.c:1174
    #1 0x7f0d0a187c89 in r_bin_dwarf_parse_comp_unit /home/revskills/dev/radare2/libr/bin/dwarf.c:1307
    #2 0x7f0

[2015-05-06 09:56] revskills opened #2511 "AddressSanitizer format/mach0/mach0.c:927"
==23289==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x61300000c91c at pc 0x7f2d13801865 bp 0x7ffe5c6c4d70 sp 0x7ffe5c6c4d60
READ of size 1 at 0x61300000c91c thread T0
    #0 0x7f2d13801864 in read_sleb128 /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/mach0.c:927
    #1 0x7f2d1380244e in get_relocs /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/mach0

[2015-05-06 09:58] revskills opened #2512 "AddressSanitizer SEGV format/mach0/mach0.c:1067"
ASAN:SIGSEGV
=================================================================
==23291==ERROR: AddressSanitizer: SEGV on unknown address 0x0000000000f8 (pc 0x7fd2714456f3 sp 0x7ffe4c2f1060 bp 0x7ffe4c2f1180 T0)
    #0 0x7fd2714456f2 in get_relocs /home/revskills/dev/radare2/libr/..//libr/bin/p/../format/mach0/mach0.c:1067
    #1 0x7fd2714391be in relocs /home/revskills/dev/radare2/libr/..//libr/bi

[2015-05-06 10:29] radare opened #2513 "Cheat Search"
Define a common interface in r2 to ease this procedure. For example:

* Search for a value in a specific range (using /v on search.in=dbg.maps)
* Check which of those hits contain a new value
* Reduce this way with multiple accumulated search to find the exact position of the struct we are looking for

[2015-05-06 12:28] Hyask commented on #2302
Is this fixed?

[2015-05-06 12:39] Maijin commented on #2302
@Hyask yes

[2015-05-06 12:39] #2302 closed

[2015-05-06 12:39] Hyask commented on #2302
nice! :)

[2015-05-06 12:47] alvarofe commented on #2504
This commit is prior to this https://github.com/radare/radare2/commit/3b04c5442b4e62d82571258cad8dd30558baa57c but anyway I will try with your files ;) Thanks again

[2015-05-06 12:59] alvarofe commented on #2502
I can reproduce this with the latest build

[2015-05-06 13:00] alvarofe commented on #2503
I can reproduce this in the latest build

[2015-05-06 13:25] alvarofe commented on #2504
I can't reproduce this

[2015-05-06 13:25] alvarofe commented on #2505
I can't reproduce this

[2015-05-06 13:26] alvarofe commented on #2506
I can't reproduce this

[2015-05-06 13:27] alvarofe commented on #2507
I can't reproduce this

[2015-05-06 13:27] alvarofe commented on #2508
I can't reproduce this

[2015-05-06 13:27] alvarofe commented on #2511
I can't reproduce this

[2015-05-06 13:28] alvarofe commented on #2512
I can't reproduce this

[2015-05-06 13:58] jrmuizel commented on #2499
llvm-objdump gives:

   65090:       48 89 5c 24 10                                  movq    %rbx, 16(%rsp)
   65095:       48 89 6c 24 18                                  movq    %rbp, 24(%rsp)
   6509a:       48 89 74 24 20                                  movq    %rsi, 32(%rsp)
   6509f:       57                                              pushq   %rdi
   650a0:       41 54

[2015-05-06 18:52] jvoisin commented on #2513
We should borrow ideas and syntax from [gameconqueror]( https://github.com/scanmem/scanmem/blob/master/gui/README )

[2015-05-06 18:54] radare commented on #2513
This feature is already implemented in the mame debugger

[2015-05-06 22:24] dequis commented on #2508
Mostly-duplicate of #2465, already fixed by 3b04c5442b4e62d82571258cad8dd30558baa57c

[2015-05-06 22:27] dequis commented on #2512
Mostly-duplicate of #2465, already fixed by 3b04c54

[2015-05-06 22:52] dequis commented on #2506
Can't reproduce in 59a6423, which is one commit before 3b04c54 (which fixes most of these bugs), and 29 commits after 5b984e8 (the commit that revskills tested against)

[2015-05-06 23:09] dequis commented on #2504
Mostly-duplicate of #2465, already fixed by 3b04c54

[2015-05-06 23:11] dequis commented on #2505
Duplicate of https://github.com/radare/radare2/issues/2465#issuecomment-97391676, already fixed by 3b04c54

[2015-05-06 23:12] dequis commented on #2507
Already fixed by 3b04c54

(there are no stack traces that reach parse_import_stub in the older issue, though)

[2015-05-06 23:14] dequis commented on #2511
Duplicate of https://github.com/radare/radare2/issues/2465#issuecomment-97432132, fixed by 3b04c54

[2015-05-06 23:19] #2512 closed

[2015-05-06 23:20] #2511 closed

[2015-05-06 23:20] #2508 closed

[2015-05-06 23:21] #2507 closed

[2015-05-06 23:25] dequis commented on #2506
Did a bisect, fixed by faf91d35abb48a622e8404c381d6e664d8879d83 which also references #2465. This one also matches the stack trace in the description of that ticket

[2015-05-06 23:30] #2509 closed

[2015-05-06 23:31] dequis commented on #2510
I can reproduce this one

[2015-05-06 23:48] radare commented on #2510
i have a fix

[2015-05-06 23:57] #2510 closed

[2015-05-06 23:58] #2506 closed

[2015-05-06 23:58] #2505 closed

[2015-05-06 23:58] #2504 closed

[2015-05-06 23:58] #2503 closed

[2015-05-07 00:04] #2502 closed

[2015-05-07 00:04] radare commented on #2501
can't reproduce

[2015-05-07 00:04] #2501 closed

[2015-05-07 01:49] dequis commented on #1612
I guess this is relevant:

[code]

[2015-05-07 02:02] dequis commented on #2456
c578539c1b27d38f583526364449bf9eea99106b fixes the issue mentioned in the original description, and i'm not really sure if there are other issues mentioned here.

[2015-05-07 02:54] dequis commented on #861
pancake said in #883:

Close this?

[2015-05-07 03:17] dequis opened #2516 "PE_(r_bin_pe_init_hdr) uses deprecated 'struct timezone', breaks clang/pedantic builds"
The clang and pedantic builds in jenkins define `-D_XOPEN_SOURCE=700`, and `struct timezone` doesn't exist there, and this is why they fail.

`PE_(r_bin_pe_init_hdr)` in `libr/bin/format/pe/pe.c`:

[code]

Cutting only the relevant part:

[code]

So it's using `gettimeofday()` (an obsolete function, but still part of posix) to get the current timezone of the system it's running on, and store it in

[2015-05-07 06:51] #861 closed

[2015-05-07 08:31] radare commented on #2516
What should we use instead? Whats the correct apis to use?

[2015-05-07 10:45] radare commented on #2499
@skuater can you have a look at this issue?

[2015-05-07 10:50] skuater commented on #2499
Sure.

[2015-05-07 12:17] qsantos opened #2518 "Two options with same description"
`anal.recont` and `anal.split` are both described as `Split functions into basic blocks in analysis.`. The former affects `fcn_recurse()` in `libr/core/anal/fcn.c` while the former appears twice in `r_core_anal_bb()` of `libr/core/anal.c`.

[2015-05-07 12:36] qsantos commented on #610
Enabling mouse wheel disables usual terminal mouse events, making copying and pasting impossible. It might be better to set `scr.wheel=false` by default.

The only situation were both mouse wheel and mouse buttons work fine is `less` on `gnome-terminal` because of non-compatible patches.

[2015-05-07 12:47] radare commented on #610
Copypaste works if you click first once and then drag the mouse to make the selection. Then press enter to go back to wheel mode

[2015-05-07 12:49] radare commented on #610
Xterms and ncurses are a mess. R2 doesnt uses ncurses so we can do so magic tricks like truecolor and such, but making this thing compatible with all the terminals is hard. I use xterm and iterm2 most of the time

[2015-05-07 12:55] XVilka commented on #610
I can start "TrueMouse support in the terminals" crusade, if you want.

[2015-05-07 13:08] jjdredd commented on #610
lol, sounds epic

[2015-05-07 13:19] qsantos commented on #610
@radare : I think you meant **right** clicking. It's a good compromise but really is not obvious. Documenting this when setting `scr.wheel=true` is the best option I can think of now.

[2015-05-07 13:47] qsantos commented on #2518
`"hex.cols` and `hex.onechar` have the same issue, but it is clear that `hex.onechar` is the one with faulty documentation, although I cannot figure out the intended behaviour.

[2015-05-07 18:24] jrmuizel commented on #2499
It looks like the difference comes from the ImageBase field of dxgkrnl.sys. ImageBase is 0x10000 and it seems like this confuses radare about what's where because some places add ImageBase and some don't.

[2015-05-07 18:53] dequis commented on #2516
Dunno. I was hoping this thing would be unnecessary

Googling a bit gets me [this stackoverflow question][1] which suggests using a BSD/GNU extension in the first answer, and `extern long timezone` in the second. Not sure how standard the latter is, but apparently it doesn't account for DST.

[1]: http://stackoverflow.com/questions/13804095/get-the-time-zone-gmt-offset-in-c

[2015-05-07 18:57] skuater commented on #2499
@ jrmuizel hi, can you paste me ur llvm-objdump command line.

Im looking the code at address u pointed and don its a dissasembled adress this address land inside a opcode correct addresses are, 65080,65082,6508d,65093 but 65090 still invalid.

The pdb file point to this address but dont have sense, are u sure its the correct version of .pdb file?

This its the dissasembled code at correct adrress

[2015-05-07 19:18] skuater commented on #2499
pdb file is correct. checked

[2015-05-07 19:36] skuater commented on #2499
Confirmed rebase problem the pdb parser dont apply the 0x10000 imagebase all the flags are incorrects.

[2015-05-07 20:55] radare opened #2523 "Expose baddr information to r2 in a flag or in bin.baddr"
useful to do stuff like this:
[code]

[2015-05-07 21:29] #2499 closed

[2015-05-07 21:54] revskills opened #2524 "AddressSanitizer format/mach0/mach0.c:1185"
[code]
radare2 0.9.9-git 7828 @ linux-little-x86-64 git.0.9.8-1474-g8fedd8e
commit: 8fedd8e6d1345663dcbc2c098b181b178e1dd051 build: 2015-05-07

file: http://revskills.cz/r2/3bdcfaad9b0b89ad8a45395fe7fba74c

[2015-05-07 22:38] revskills opened #2525 "AddressSanitizer libr/bin/dwarf.c:650"
[code]
radare2 0.9.9-git 7828 @ linux-little-x86-64 git.0.9.8-1474-g8fedd8e
commit: 8fedd8e6d1345663dcbc2c098b181b178e1dd051 build: 2015-05-07

file: http://revskills.cz/r2/c063f69844f6c15db3ef1611ff0336a0

[2015-05-07 22:42] revskills opened #2526 "AddressSanitizer format/pe/pe.c:169"
[code]
radare2 0.9.9-git 7828 @ linux-little-x86-64 git.0.9.8-1474-g8fedd8e
commit: 8fedd8e6d1345663dcbc2c098b181b178e1dd051 build: 2015-05-07

file: http://revskills.cz/r2/3d92636d0302b8cc4bf472b7fe90d70d

[2015-05-08 08:08] R1kk3r opened #2527 "bin.demangle should work not only at load time"
Hi,

I tried to set both asm.demangle = true and bin.demangle = true, but I got nothing than mangled function name:

[code]

Did I miss something?

[2015-05-08 08:38] jjdredd commented on #2527
would you please test the latest git

[2015-05-08 13:39] #2526 closed

[2015-05-08 16:39] Maijin commented on #2460
https://github.com/maijin/radare2-installer

[2015-05-08 17:06] qsantos opened #2531 "Escape quotes when saving comments to project"
A comment like `open("/proc/self/maps")` will result in `"CCu open("/proc/self/maps")" @ …` in the project file. Quotes should therefore be escaped in comments, or not used in the project file (why are most lines between quotes?).

[2015-05-08 17:14] jrmuizel opened #2532 "rabin2 -rP win32k.pdb crashes"
I get:
WARNING: bin_strings buffer is too big (0x004bac00)
parse_sval()::oops
parse_sval()::oops
parse_sval()::oops
parse_sval()::oops
parse_sval()::oops
parse_sval()::oops
get_sval_name::oops
get_sval_val::oops
get_sval_name::oops
Segmentation fault (core dumped)

with https://people.mozilla.org/~jmuizelaar/p/win32k.pdb

[2015-05-08 17:30] jrmuizel commented on #2532
This patch fixes the problem:
http://people.mozilla.org/~jmuizelaar/pdb-parse.patch

[2015-05-08 17:31] Maijin commented on #2532
@jrmuizel what about a pull request ?

[2015-05-08 19:25] radare commented on #2531
Because in r2 quotes work in a whole. You quote the whole command instead of the string. So this text will be properly saved and restored

[2015-05-08 20:26] qsantos commented on #2531
I noticed this bug because my comment got truncated to `open(`. I guess the best thing to do would be to make sure to {,un}escape the comments. My question was triggered by the fact that it feels odd to see so many quoted commands in a configuration file.

[2015-05-08 21:41] radare commented on #2460
Name conflicts with android app

[2015-05-08 21:46] crowell commented on #2460
why does it touch the registry...

On Fri, May 8, 2015 at 5:41 PM, radare <notifications@github.com> wrote:

--
Jeff Crowell
https://github.com/crowell

[2015-05-08 22:02] crowell commented on #2527
seems to only work if it is in the radare2rc file

https://asciinema.org/a/19770

this is certainly a bug.

[2015-05-08 22:12] Maijin commented on #2460
@crowell to have the radare2 in your path ? :p

[2015-05-09 08:41] qsantos commented on #2340
This commit does fix the freeing of the stack in ragg2, but the example still does not work: the generated binary uses the stack to store a string and, for some reason, `sys_write()` does not like it. A simplified version of the non-working code:

[code]

And this is a C program showing that directly calling `sys_write()` with a pointer to the stack is not appreciated:

[code]

[code]

[2015-05-09 08:43] #2524 closed

[2015-05-09 09:06] Maijin commented on #2340
Then it's not entirely fixed

[2015-05-09 09:08] qsantos commented on #2340
The title of my commit may have been misleading. It should have said "partially resolves #2340".

[2015-05-09 09:10] Maijin commented on #2340
@qsantos no worries ;)

[2015-05-09 09:13] radare commented on #2462
I just add a hack to override je/jne with jz/jnz at asm.syntax=jz level. This option is only available under capstone-x86 plugin and it's just a workaround until capstone decides the proper way to do that.

[2015-05-09 09:17] radare commented on #2516
I think the best solution for this problem consists in implementing our own unixtime APIs, ignoring system configuration and allowing to convert from ut64 to char* formatted date.

[2015-05-09 09:29] Maijin commented on #2460
@radare you mean git repo ? I changed it https://github.com/Maijin/radare2-win-installer

[2015-05-09 09:30] radare opened #2536 "Add `ahS` to change per-instruction asm.syntax value"

[2015-05-09 10:09] radare commented on #2460
Yeah better this way. I should change my repo too.

Do u want me to open this repo under /radare and give u commit access?

What about the hardcoded path? How to generate the exe installer? A readme would be helpful

[2015-05-09 10:24] Maijin commented on #2460
@radare
1) Yes why not
2) It's really more a POC than anything, I want to try wix, NSIS, innoSetup and see what's the best one

[2015-05-09 10:45] Maijin opened #2538 "Java Commands output on stderr"
See test created here doesn't pass cause of this problem https://github.com/radare/radare2-regressions/commit/c87d478429a4ac16d7a598645d8a2460cc6a78f8
But also java commands in general output on stderr.

`eprintf` should be replaced by `r_cons_printf`

[2015-05-09 10:52] mrexodia commented on #2462
You can already do it in a supported way? Just change the mnemonic...

On Sat, 9 May 2015 11:13 radare <notifications@github.com> wrote:

[2015-05-09 14:47] XVilka commented on #2532
@Maijin crafted the PR, based on the publicly available metadata https://github.com/radare/radare2/pull/2539

[2015-05-09 14:50] XVilka opened #2540 "PDB parser improvement - dump also functions with arguments"
For example show

[code]

instead of just `RegisterApplicationRecoveryCallback`

[2015-05-09 15:23] qsantos commented on #2340
Since we cannot presume information about the heap and the stack apparently will not do, there remains the `.text` section. The following code use the call/pop trick to locate the address of the string.

[code]

Obviously, this does not let us modify the string during execution so I doubt this is an acceptable solution.

[2015-05-09 16:20] qsantos commented on #2340
The explanation is actually simple: the syscall numbers are different on [Linux 32 bits](http://docs.cs.up.ac.za/programming/asm/derick_tut/syscalls.html) and [Linux 64 bits](https://filippo.io/linux-syscall-table/)). The example from `man` should therefore be correct to the following on amd64:

[code]

[2015-05-09 16:34] dequis commented on #2516
Not sure about going all the way reinventing the APIs, but the same commit that introduced this issue (3b4773d602e3467f8d535d08000b7e3297c9d3ca) also introduced the time.zone setting, saved in `core->print->datezone` as a number of hours. Using that instead seems simpler.

[2015-05-09 16:59] qsantos commented on #1733
Should not this be closed?

[2015-05-09 17:07] radare commented on #2538
IGNORE_ERR

[2015-05-09 17:12] radare commented on #2462
Yes, but its unnecesarily complicated and i didnt like the way this api was designed, so i expect it to disappear because there's no other use case for it.

Also, with anal hints you can change just hint a single instruction to do this postprocessing. So r2 allows to make the disasm more readable by hinting those jumps by hand or with automatic analysis in the future.

Anyway if this api seems to

[2015-05-09 17:24] Maijin commented on #2538
@radare yes that could be used but as far as I know those ouput are not errors

[2015-05-09 17:26] #1733 closed

[2015-05-09 19:00] mrmacete opened #2541 ""black hole" in hex string search with mask (MIPS)"
Using this binary (uuencoded): http://paste.kolibrios.org/show/385/

	$ r2 upnpd
	Warning: Cannot initialize dynamic section
	 -- Heisenbug: A bug that disappears or alters its behavior when one attempts to probe or isolate it.
	[0x00404a90]> s 0x0041401c
	[0x0041401c]> pd 3
	           0x0041401c    2080998f       lw t9, -0x7fe0(gp)
	           0x00414020    00000000       nop
	           0x00414

[2015-05-09 19:04] jjdredd commented on #2541
make a test out of this, perhaps?

[2015-05-09 19:11] jjdredd commented on #2408
couldn't reproduce :)

[2015-05-09 19:14] XVilka commented on #2408
huh? what environment

[2015-05-09 19:29] XVilka opened #2542 "[WINDOWS] Auto update radare2.exe (like Google Chrome)"
So users will be always notified about a new version

Something based on https://github.com/vslavik/winsparkle could be a solution.

[2015-05-09 19:31] XVilka commented on #2460
http://bin.rada.re/radare2.exe - InnoSetup package.

[2015-05-09 19:32] jvoisin commented on #2542
![sparkles]( http://image.blingee.com/images19/content/output/000/000/000/7cd/808451525_1313859.gif )

[2015-05-09 19:41] XVilka commented on #2542
@jvoisin Here is it how it works:
https://github.com/vslavik/winsparkle/wiki/User-Experience

[2015-05-09 20:07] XVilka commented on #2527
@R1kk3r @crowell this is not a bug (i think) since demangling perfomed only at RBin loading stage. So it should be in r2rc or in the r2 command line, not after the loading binary.

[2015-05-09 20:37] zonkzonk opened #2543 "[lulzfuzz] bin_info (iaa)"
morrn,

after month I ran luzzfuzz again :) See below:

[code]

Greetingtz
--zlul

[2015-05-09 20:40] radare commented on #2527
Yep it only works like xvilka says. This will be fixed when refactoring rbin with sdb after release

[2015-05-09 20:49] Maijin commented on #2460
https://www.youtube.com/watch?v=G4thRcJz2UE

[2015-05-09 21:10] XVilka opened #2544 "Do not try to download PDB file for PDB"
Accidentally tried to download PDB file for PDB file.
`rabin2 -PP ntoskrn.pdb`

![recursion](https://24.media.tumblr.com/tumblr_lqkiyl5VyT1r1x609o1_250.jpg)
And it's segfaulted. Idea is to not try to download PDB for PDB, so no segfaults will happen.

[2015-05-09 22:02] XVilka opened #2545 "Improve the reflines output"
Remove the artifacts
[code]
See ugly looking ` └ ` before ; JMP

[2015-05-09 22:13] #2536 closed

[2015-05-09 22:14] #2532 closed

[2015-05-09 22:30] radare commented on #2500
ping?

[2015-05-10 07:03] radare commented on #2545
Asm.linestyle

[2015-05-10 08:14] jjdredd commented on #2408
gentoo, bash, gcc.

[2015-05-10 09:47] mrmacete commented on #2541
i imagine something like:

	NAME='binmask seek (mips)'
	FILE='malloc://1024'
	ARGS=
	BROKEN=
	CMDS='
	e asm.arch = mips
	e scr.color=false
	"wx 2080998f00000000d4a22527"
	e search.from=0
	e search.to=12
	s/x 00002027:0000f0ff
	?v $$
	q
	'
	EXPECT='0x00000008 hit0_0 d4a22527
	0x8
	'
	run_test

[2015-05-10 11:03] radare commented on #2541
Iirc this hit0_0 line is in stderr, not out

[2015-05-10 11:19] mrmacete commented on #2541
i tested it by forking radare2-regressions

if i replace the line

	s/x 00002027:0000f0ff
with the line

	s/x d4a22527
the test passes, otherwise "correctly" fails.

[2015-05-10 12:19] jjdredd commented on #2281
this is already done (but imho not documented). do you want to change the format of input for these commands?

https://github.com/radare/radare2/blob/master/libr/core/cmd_print.c#L122
https://github.com/radare/radare2/blob/master/libr/core/cmd_print.c#L212

[2015-05-10 13:51] movEAX opened #2547 "rasm2 - incorrect instructions for MSP430"
`rasm2 -a msp430 -d ...`

| bytes  | returns                | expected                 |
|--------|------------------------|--------------------------|
|1b53    | `inc #1`               |  `inc r11`               |
|3441    |`pop @r1+`              | `pop r4`                 |
|3b41    |`pop @r1+`              | `pop r11`                |
|0b63    | `adc #0, r11`          | `adc r11`

[2015-05-10 14:29] radare commented on #2547
Can you send a pullreq for the testsuite?

[2015-05-10 14:38] aaSSfxxx commented on #2208
Maybe you could look at tricks I used for https://github.com/aaSSfxxx/Stalker as basis for this feature (it's a WriteProcessMemory tracer using machinery to load DLL before program startup, and only works on x86 apps for now). Unfortunately I don't really have time to contribute but I can answer questions about code.

[2015-05-10 16:13] #2544 closed

[2015-05-10 18:53] Maijin commented on #2460
@radare  "Add icons and launcher in Start menu" Imho this is useless except if you define what behavior should have the binaries in the start menu + creates shortcut to those actions.

[2015-05-10 19:00] XVilka commented on #2545
@radare still same with asm.linesstyle=true

[2015-05-10 20:32] radare commented on #2542
http://sparkle-project.org/ for osx

[2015-05-10 20:42] revskills commented on #2542
-https://github.com/oneget/oneget
-Windows Store?
-winsparkle

[2015-05-10 20:43] Maijin opened #2549 "java help is not 'coolish' (color, ...)"
Here is the current java commands help:

http://pastie.org/10181628

[2015-05-10 23:48] dequis commented on #2313
Also, would help to mention the name of terminal which behaves like this.

[2015-05-11 06:29] movEAX commented on #2547
https://github.com/radare/radare2-regressions/pull/182

[2015-05-11 07:03] radare commented on #2313
Iirc i already fixed this

[2015-05-11 10:42] radare commented on #2549
Done

[2015-05-11 10:42] #2549 closed

[2015-05-11 13:22] #1926 closed

[2015-05-11 15:16] crowell commented on #2542
windows store is not a good solution as it is only for win8+, most(?)
windows users are on win7 still i think.

On Sun, May 10, 2015 at 4:42 PM, revskills <notifications@github.com> wrote:

--
Jeff Crowell
https://github.com/crowell

[2015-05-11 16:48] radare commented on #2469
Fixed all those bugs and added those bins in the testsuite. Thanks!

[2015-05-11 16:48] #2469 closed

[2015-05-11 16:49] #2525 closed

[2015-05-11 16:49] radare commented on #2538
Fixed

[2015-05-11 16:49] #2538 closed

[2015-05-11 16:51] #2543 closed

[2015-05-11 16:53] radare opened #2553 "Fix Java class parsing issue"
`r2 bins/java/MainActivity.class`

assigned to @alvarofe

[2015-05-11 18:15] jjdredd commented on #1594
what should be the format?

[2015-05-12 05:53] dequis opened #2555 "Invalid read in r_bin_dwarf_parse_lnp_header when doing rabin2 -d of rabin2 itself"
Did this `valgrind -v rabin2 -d /usr/bin/rabin2`. Got this:

[code]

Line numbers correspond to 96a44f8ebf2c3f8e19f37ad89d1b0b50015b71e0

The relevant part of the output looks like this:

[code]

The INCLUDEDIR lines are the ones that have invalid reads. The real issue is when it starts reading the line header at some location where it shouldn't, but I have no idea about any of this dwarf code doe

[2015-05-12 07:45] radare commented on #1594
Paste dtc output and make a guess

[2015-05-12 07:45] radare commented on #2542
Please move this issue to the correct repo

[2015-05-12 09:25] radare commented on #2555
where’s the fix? :D

[2015-05-12 09:26] radare commented on #2462
Meh, done with e asm.syntax=jz, also supports anal hinting

[2015-05-12 09:26] #2462 closed

[2015-05-12 09:28] radare commented on #2542
Moved to https://github.com/radare/radare2-win-installer/issues/3

[2015-05-12 09:28] #2542 closed

[2015-05-12 09:29] radare commented on #2541
I guess /x fails in the same way, and the error is only related when using binary masks. I bet this can be an issue in the command parse, adding some printfs should be enough to spot the issue

[2015-05-12 10:05] slorquet opened #2557 "arm registers not available in thumb mode"
I have an stm32f4 target hooked to openocd, the setup is functional since I can debug my app with arm-none-eabi-gdb the usual way.

I attempt to control the target using radare 2, using this command line:

/home/joe/sys/bin/radare2 -a arm.gnu -b 16 -D gdb gdb://localhost:3333

This is the output:

[code]

Not supported register profile.

Is anything planned to fix this?

thanks!

edit: I have the

[2015-05-12 10:27] slorquet commented on #2557
Hmm, I think this patch would not hurt:

[code]

[2015-05-12 10:27] radare commented on #2557
the gdb-arm backend is not working and has never tested so far. it should be easy to fix. if i have some spare time i can have a look at it.

cc @defragger

[2015-05-12 10:28] slorquet commented on #2557
We crossed, I have a small patch in the correct direction, I think.

[2015-05-12 10:38] slorquet commented on #2557
I am starting to understand, by instrumenting the code with printfs:

[code]

Is there any reason why r_debug_gdb_reg_profile uses dbg->anal->bits for the x86 target, but not for the arm target?

[2015-05-12 10:53] radare commented on #2557
printf is the best multiplatform debugger out there. All for you then :) so it's failing at the first check? it should be using it in all cases, but maybe its used it before being initialized by -b

[2015-05-12 10:54] radare commented on #2460
move to radare2-win-installer plz

[2015-05-12 10:56] slorquet commented on #2557
crosspost again, see my previous message, I have a seemingly better patch, but the dr commands does not show anything now.

[2015-05-12 11:55] radare commented on #2557
dr shows nothing probably because there's no such thing as thumb register profile, because its shared with arm. you can "workaround" this by using "dr 32". in fact you can change the register profile at any time, so it should not be a problem if it fails at first try

[2015-05-12 11:56] radare commented on #2557
There was a proposal to keep a single shared struct exposing arch+bits used by asm, anal, debug, ... but im afraid this can break something if not properly tested.

[2015-05-12 13:08] slorquet commented on #2557
[code]

interesting... so register value retrieval and display seems to be broken, since the official reg names are known...

[2015-05-12 13:12] slorquet commented on #2557
Moar:
[code]

[2015-05-12 13:15] roblabla opened #2558 "PDB Segmentation Fault"
`rabin2 -P GameLogic.pdb` seems to segfault for [this pdb file](http://static.cmc.im/GameLogic.pdb) :

[code]

PDB file comes straight from the latest Ghostintheshellcode's CTF "PwnAdventure 3".

[2015-05-12 13:47] radare commented on #2557
bear in mind that thumb and arm debugger works fine on linux-arm and ios-arm, so the bug is gdb-specific

[2015-05-12 14:04] revskills opened #2559 "AddressSanitizer libr/anal/p/anal_bf.c:32"
[code]
file: http://revskills.cz/r2/d98a0277ae04b6e81d2bd24a8cee5296
radare2 0.9.9-git 7871 @ linux-little-x86-64 git.0.9.8-1515-g3754cc7
commit: 3754cc7f36bae2cd7a051453b958bd76e8762cca build: 2015-05-12

[2015-05-12 15:48] #2559 closed

[2015-05-12 15:49] revskills opened #2561 "AddressSanitizer shlr/java/class.c:3280"
[code]
file: radare2-regressions/bins/fuzzed/id031
radare2 0.9.9-git 7871 @ linux-little-x86-64 git.0.9.8-1515-g3754cc7
commit: 3754cc7f36bae2cd7a051453b958bd76e8762cca build: 2015-05-12

[2015-05-12 17:00] dequis commented on #2555
uhhh..

I'm submitting this bug as a result of looking for a few hours and giving up.

[2015-05-12 17:24] radare commented on #2555
Ok will fix tonight. Thabks for reporting. Will add test as soon as fixed

[2015-05-12 18:20] revskills commented on #2561
Using samples from radare-regressions makes me feel like

![tumblr_no7tyg2i5e1r88u00o1_400](https://cloud.githubusercontent.com/assets/2454862/7594925/2984b0e2-f8e4-11e4-8ef1-4237f6cb12e4.gif)

[2015-05-12 19:35] Maijin opened #2563 "Rap segfault // Double free"
On localhost in one term "r2 rap://:1234" in other term "=+ rap://localhost:1234//bin/ls" followed by a "=-" sometimes you needs to do "=+ rap://localhost:1234//bin/ls" followed by "=-" several time.

It segfault or Double free:

Segfault example:

    (gdb) bt
    #0  0x00007ffff3d09267 in __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:55
    #1  0x00007ffff3d0aeca in __GI_abo

[2015-05-12 21:32] #2553 closed

[2015-05-12 21:32] #2561 closed

[2015-05-12 21:46] vvvverre opened #2565 "Unexpected results after running 'aa'"
Hi all,

I seem to be having some misunderstanding about how 'aa' is supposed to behave. On one system I get the following behaviour: I open up a binary (ELF, x86-64) and run 'aa', after this I run 'pdf @ main'. r2 then returns an error saying it can not find a function at \<address\>, which is the correct address for main. Then if I run 'af @ main' followed by 'pdf @ main', I get the disassembly

[2015-05-12 21:54] Maijin commented on #2565
@vvvverre please try with the latest git version

[2015-05-12 21:57] #2563 closed

[2015-05-12 21:58] #2558 closed

[2015-05-12 22:07] vvvverre commented on #2565
Thanks, just tried with the latest. It now works :+1: Didn't realise how far off it was... Since version 0.9 does work and 0.9.8 does not, this seems to be suprising? Was this a regression that has been fixed since?

[2015-05-12 22:49] #2555 closed

[2015-05-12 22:54] #2565 closed

[2015-05-12 22:54] Maijin commented on #2565
@vvvverre probably

[2015-05-12 22:56] radare commented on #2565
I think it was since quite faster right after the release of 0.9.8, that release have other known bugs. I always recommend using git.

[2015-05-12 22:56] radare commented on #2531
Ideally all the project information should be stored in Sdb, so there will be a native sync to disk without having to serialize the information by hand. But i still find useful to be able to export the information of every command in a textual form

[2015-05-12 23:31] dequis commented on #2555
But that doesn't fix the fact that the header contents are gibberish.

[code]

[2015-05-13 12:26] roblabla opened #2566 "rabin -rP prints debug message on stdout, breaking imports"
Still with the same [pdb file](http://static.cmc.im/GameLogic.pdb), running `.!rabin2 -rP GameLogic.pdb` from inside r2 breaks :

[code]

I'm fairly sure this is due to `rabin2` printing some debug messages to STDOUT, which radare2 tries to interpret. Messages like [`there is no support for type "class" in PF structs`](https://github.com/radare/radare2/blob/515b2e77bc486c996b0011018277261cd2da5116

[2015-05-13 15:27] jjdredd opened #2567 "add 'drx' description to 'db' help?"
one would expect that everyting regarding breakpoints is under db, why not print at least a mention of
drx in the help for db?

[2015-05-13 15:47] radare commented on #2567
because someone forgot it? feel free to send a pr with one line of text

[2015-05-13 15:49] jjdredd commented on #2567
because we can have new users

[2015-05-13 15:53] radare commented on #2567
the commit adding help on that command is shorter and faster to do than discussing all this pointless stuff in github

[2015-05-13 16:05] radare commented on #2555
it fixes the issue which says “invaild read in ..”, now there are no invalid reads acording to asan or valgrind, but the parsing problem is another problem that should be addressed with more time, fixing the crash is the first step.

i would ping the author @montekki before going deeper in the issue. Because this can be produced by a regression. which should be addressed by checking which commit b

[2015-05-13 20:31] radare opened #2569 "Sort ragg2 help alphabetically"

[2015-05-13 21:05] #2336 closed

[2015-05-13 21:05] #2569 closed

[2015-05-13 21:32] #2518 closed

[2015-05-13 22:20] radare opened #2570 "Honor search.in in z/ command"

[2015-05-14 11:50] radare commented on #2566
Yes, those warnings should be printed to stderr with `eprintf`. see last commit in master

[2015-05-14 13:47] #2567 closed

[2015-05-14 13:52] jvoisin opened #2571 "Display arguments of syscalls"
[code]

It would be great to show things like `write (stdout, the_string_written, size_of_the_string)` instead.

[2015-05-14 15:40] radare commented on #2571
just run `as` after every dcs stop. or just copypasta the implementation to fix this thing, because thats already done

[2015-05-14 17:26] qsantos commented on #2422
Also, no pid is mentioned in either the man page or the `-h` message of `r2`. The behavior for `r2 -d pid` should be documented. I am sending a pull request for the latter.

[2015-05-14 17:42] radare commented on #2422
The self:// is for rarun2 r2preload, i though that -d pid was documented already..

[2015-05-14 19:10] jvoisin opened #2574 "Stop searching for gadget on first match"
When I'm searching for `pop eax; ret`, most of the time I'll take the first occurrence; I don't need to be shown that there are 143.432.543.445 hits. It would be great to be able to tell this to r2, so it could break on first hit.

[2015-05-14 19:35] roblabla commented on #2566
New version still breaks with similar errors. Here are some lines from the output of `rabin2 -rP` that cause the `<string>:1:error: identifier expected` message :

[code]

As for the `Slurping file 'std::pair<IQuest * const,PlayerQuestState> > ? (std::pair<IQuest)value_type'` messages, they are caused by lines similar to :

[code]

I'll take a wild guess and this is due to the namespacing and temp

[2015-05-14 19:43] crowell commented on #2574
@jvoisin uh... in the current state, this isn't such a great idea, as we search in all sections (including NX sections) by default.

[2015-05-14 19:44] jvoisin commented on #2574
Why are we doing this again?

[2015-05-14 19:45] radare commented on #2574
e search.count=1

[2015-05-14 19:46] jvoisin commented on #2574
It doesn't work with `/R` :/

[2015-05-14 20:04] revskills opened #2575 "AddressSanitizer format/pe/pe.c:2057"
[code]
file: http://revskills.cz/r2/c7a54cff733427a989efaff9049f931c
radare2 0.9.9-git 7897 @ linux-little-x86-64 git.0.9.8-1545-gd5c40be
commit: d5c40be88907ef6cb059147a1b72d84a7c8d053a build: 2015-05-14

[2015-05-14 20:07] crowell commented on #2574
@jvoisin we're doing this because pancake has dictated it!

[2015-05-14 21:15] revskills opened #2576 "AddressSanitizer format/mach0/mach0.c:1084"
[code]
file: http://revskills.cz/r2/0d27cc08febd29907df68ad6c6d5418f
radare2 0.9.9-git 7897 @ linux-little-x86-64 git.0.9.8-1545-gd5c40be
commit: d5c40be88907ef6cb059147a1b72d84a7c8d053a build: 2015-05-14

![macho1](https://cloud.githubusercontent.com/assets/2454862/7642145/fbc0601e-fa8e-11e4-8556-52091159fcc4.gif)

[2015-05-14 22:25] XVilka opened #2577 "[WINDOWS] radare2.exe on Cygwin doesn't have support for native debug"
Run radare2 in Cygwin 32 on Windows 7 x64
(compiled from the sources)

[code]

`-d` doesn't work while `d` do the job.
![](https://puu.sh/hNxNa/01c8701c61.png)

[2015-05-14 22:45] XVilka opened #2578 "[WINDOWS] radare2 on cygwin doesn autoresolve 'esi' in 'x @esi' command"
Run radare2 in Cygwin 32 on Windows 7 x64
(compiled from the sources)

./radare2.exe -d somefile.exe

Then try to run `x @ esi` and it will not recognize it:
![here be dragonz](http://puu.sh/hNwa4/2ef46d48fc.png)

[2015-05-14 22:46] radare commented on #2578
What do `? esi` shows?

is the flag already set? it is shown in the `drp` reg profile?

[2015-05-15 06:40] radare commented on #2566
I didnt added support for those constructions, just moved the warnings to stderr. Implementing these types will require reversing the pdb parser and redo it. Because iirc theres no doc or opensource impl of this.

Inisider (the author of the pdb parser) will work on that.

[2015-05-15 07:28] revskills opened #2579 "AddressSanitizer libr/bin/dwarf.c:1156"
[code]
file: http://revskills.cz/r2/931b9819dd8ede94f32d47473ca8a519
radare2 0.9.9-git 7897 @ linux-little-x86-64 git.0.9.8-1545-gd5c40be
commit: d5c40be88907ef6cb059147a1b72d84a7c8d053a build: 2015-05-14
![hlbxam6](https://cloud.githubusercontent.com/assets/2454862/7648557/8ba92e04-fae4-11e4-987f-6000c646517a.png)

[2015-05-15 12:47] #2576 closed

[2015-05-15 13:57] n0way0ut opened #2582 "axf returns empty result"
[0x00400522]> aa
[0x00400522]> pdf@main
/ (fcn) sym.main 56
|          ; arg int arg_2_4      @ rbp+0x14
|          ; var int local_0_4    @ rbp-0x4
|          ; DATA XREF from 0x0040041d (entry0)
|          ;-- main:
|          ;-- sym.main:
|          0x00400522    55             push rbp
|          0x00400523    4889e5         mov rbp, rsp
|          0x00400526    4883ec10       sub rsp, 0x10
|

[2015-05-15 14:00] #2575 closed

[2015-05-15 14:32] radare commented on #2582
there are no xrefs for local variables, those are called local accesses and are not accessible with axf. you probably only want to use axt/axf to follow execution branches and calls, or absolute memory offsets for data peeks. But stack follows different rules.

[2015-05-15 15:46] crowell commented on #2574
I've added the search.count support in c41e4dda114f9e66e1ea8eb63445af3dedfb2627 closing

[2015-05-15 15:46] #2574 closed

[2015-05-15 16:10] alvarofe commented on #2574
@crowell is breaking travis https://travis-ci.org/radare/radare2/jobs/62710289

[2015-05-15 16:40] crowell commented on #2574
@alvarofe fixed.

[2015-05-15 17:28] #2579 closed

[2015-05-15 17:36] radare commented on #2500
any update on this?

[2015-05-16 00:13] Maijin commented on #2571
@jvoisin duplicates of https://github.com/radare/radare2/issues/2397 which relies on https://github.com/radare/radare2/issues/1515

[2015-05-17 12:45] BestPig opened #2585 "Issues in x86.nz assembler (64 bits)"
Bug with a simple x86_64 instruction `mov rax, 0x2222222222222222`.

[code]

The value is truncated to 32bits, this is a bug in the assembler, not the disassembler, it can be confirmed by using another assembler.

[code]

The bug is present in the last radare2 commit (421d3c3dd11c68d368c6e8da17f7ddc654a23184).

[2015-05-17 19:33] Susanne588586 opened #2587 "aoj and stack:-1725400036"
Hi,

running  r2 -c ";aoj ,~stack\":-" -d /bin/ls results in negative stack values. Is that ok for x86_64 bit?
also, running oc without anyting always lands at 0x00000000.

also, "aoj ," behaves different from "aoj ". :)

[code]

r2 -v:
radare2 0.9.9-git 7908 @ linux-little-x86-64 git.0.9.8-1556-g421d3c3
commit: 421d3c3dd11c68d368c6e8da17f7ddc654a23184 build: 2015-05-17

[2015-05-18 08:47] #2587 closed

[2015-05-18 10:51] 0x27 commented on #2500
Hey,
Was preparing for a workshop last couple days, didn't get a chance to properly attempt this. Going to give it a try using the uclibc ARM GCC tonight and the sflib libraries now that have had time to look over how it works :)

[2015-05-18 12:30] radare commented on #2500
cool! let me know if you have any question or problem

[2015-05-18 13:47] #2582 closed

[2015-05-18 18:00] #2585 closed

[2015-05-18 21:56] radare opened #2589 "Add updatable posix io backend"
Check if the file has changed every time it performs a read in order to reopen the file. the correct way to do that is by using mmap, but this can be useful in other situations

[2015-05-18 22:10] XVilka commented on #2589
Something like fanotify under linux? Or [this](https://stackoverflow.com/questions/721714/notification-when-a-file-changes) in windows?

[2015-05-19 08:31] kairenken commented on #1594
djtc is allready working. I can't figure out how to make dtcj working.

[2015-05-19 08:31] kairenken commented on #1594
-dtc -j is also working

[2015-05-19 08:36] radare commented on #1594
djtc is not a valid command. dtcj output doesnt works because output is
not json

On 05/19/2015 10:31 AM, Kai Renken wrote:

[2015-05-19 08:36] radare commented on #1594
same for dtc -j, which is syntactically wrong and does the same as dtc,
so nope is not working

On 05/19/2015 10:31 AM, Kai Renken wrote:

[2015-05-19 08:58] kairenken commented on #1594
I got the following:

[code]

[2015-05-19 09:13] kairenken commented on #1594
The problem with -dtcj is that 'cj' is used as optarg for threshold see:

[code]

http://www.gnu.org/software/libc/manual/html_node/Example-of-Getopt.html#Example-of-Getopt

Or am I wrong?

[2015-05-19 09:36] jjdredd commented on #1594
@kairenken we're not talking about radiff here

[2015-05-19 10:19] kairenken commented on #1594
ah ok this was my fault ^^ sry

[2015-05-19 10:28] radare commented on #1594
the bug report is about r2, not radiff2

it refers to dtcj is an r2 command, not a commandline flag of radiff2

[2015-05-19 10:33] kairenken commented on #1594
@radare yeah that makes sense thanks for your clarification. Sorry for my confusion.

[2015-05-19 15:55] radare commented on #2145
@XVilka hello?

[2015-05-19 15:56] #1661 closed

[2015-05-19 15:57] radare commented on #1666
Use aac or aaa, also notice the anal. variables, some bins get better analysis with some tuning of those variables

[2015-05-19 15:58] XVilka commented on #2145
@radare its' working now, but you have to manually see the pf header. I have no other solution yet. I think it is safe to postpone it to the 1.0.0

[2015-05-19 17:24] radare commented on #2523
This is how it works right now. but only for the debugger

[2015-05-19 17:24] radare commented on #1251
Anyone tried so far with the latest elf parser in r2-git? there have been several related enhacements

[2015-05-19 17:27] radare commented on #2312
@jjdredd status update?

[2015-05-19 17:27] radare commented on #2577
Can cygwin-gdb debug windows programs? if so it is using the w32 api, not the ptrace one that should be wrapped by cygwin

[2015-05-19 17:28] radare commented on #2566
update: inisider still working on that

[2015-05-19 18:03] jjdredd commented on #2312
searching must be done in the raw (not-colorized) string obviously. We can store it seperately or
de-colorize a colorized string we have right before searching. This way we'll get hit offsets in the raw string, so to highlight a colorized string we'll have to walk it from the beginning, skipping ascii control sequences to insert a new sequence at the right offset (as I understand). This will be O(

[2015-05-19 18:19] revskills opened #2592 "AddressSanitizer format/elf/elf.c:1072"
[code]
file: http://revskills.cz/r2/34ebad29dd4265f16739b1f849d93e9e
radare2 0.9.9-git 7918 @ linux-little-x86-64 git.0.9.8-1566-gef5d47f
commit: ef5d47f5732de344ae10cd3aa5260e077ad6c6c3 build: 2015-05-19

[2015-05-19 18:33] revskills opened #2593 "AddressSanitizer shlr/java/class.c:3725"
[code]

file: http://revskills.cz/r2/5a1a113d300ed93d21288a3314bd0679
radare2 0.9.9-git 7918 @ linux-little-x86-64 git.0.9.8-1566-gef5d47f
commit: ef5d47f5732de344ae10cd3aa5260e077ad6c6c3 build: 2015-05-19

[2015-05-19 19:02] XVilka commented on #2577
Just checked - same error
[code]

[2015-05-19 22:04] contrem commented on #1666
Feel free to close this. Latest versions can at least find functions.

[2015-05-19 22:11] #2592 closed

[2015-05-20 06:04] #1666 closed

[2015-05-20 12:46] XVilka commented on #2547
so, can this be closed now?

[2015-05-20 12:52] XVilka commented on #2578
looks like related to the previous bug (because there is no proper code for native debug for Cygwin in debug_native.c

[2015-05-20 14:49] alvarofe commented on #2593
I'm getting different things

In Mac OS X the following

[code]

[2015-05-20 14:50] alvarofe commented on #2593
In Debian instead this

[code]

[2015-05-20 14:51] alvarofe commented on #2593
Could you @revskills try this patch to see if that resolve the issue?

[code]

[2015-05-20 15:27] alvarofe opened #2597 "Hang in 'aac'"
With this fuzzed binary [hangbinary | uploaded via ZenHub](https://files.zenhub.io/555ca2696777ff675d24016c) happens the following.

https://asciinema.org/a/5rsf10apgp0w3i3f6neg737fe

The issue I think is in `cmd_anal_calls`

[code]

`r_anal_op` write in op.size 0 or 1 and then the loop will iterate one by one up to 385877888 times. I don't know if there is a way to know to abort this.

[2015-05-20 17:28] XVilka opened #2598 "[WINDOWS] Support of loading windows .DMP (kernel dumps and process dumps) files"
https://msdn.microsoft.com/en-us/library/windows/hardware/ff551867%28v=vs.85%29.aspx
https://msdn.microsoft.com/en-us/library/windows/hardware/ff560246%28v=vs.85%29.aspx
https://msdn.microsoft.com/en-us/library/windows/hardware/ff538042%28v=vs.85%29.aspx
http://blogs.technet.com/b/askperf/archive/2008/01/08/understanding-crash-dump-files.aspx
https://code.google.com/p/volatility/wiki/CrashAddressS

[2015-05-20 17:29] XVilka commented on #2577
Related - https://github.com/radare/radare2/issues/2578

[2015-05-20 17:30] XVilka commented on #2578
Closing as duplicate of https://github.com/radare/radare2/issues/2577 since the reason of the problem - is missing support of the native debugger in cygwin.

[2015-05-20 17:30] #2578 closed

[2015-05-20 18:00] XVilka commented on #2429
@pwntester ping?

[2015-05-20 18:01] XVilka commented on #795
@r1git any chance to test it again?

[2015-05-20 18:03] r1git commented on #795
Sure. I'll have some time to try it again in a couple of hour.
I'll come back to you.
Le 20 mai 2015 20:01, "Anton Kochkov" <notifications@github.com> a écrit :

[2015-05-20 18:17] radare commented on #795
Iirc nobody did that so it should fail mainly because there's no arm64 reg profile defined and i have no arm64-linux hardware to test this. I can blindly fix this if u like

[2015-05-20 18:17] radare commented on #2578
Just modify the profile to add esi too. Also, cygwin debugger sounds wtf to me

[2015-05-20 18:18] radare commented on #2577
Lets focus on this strange hybrid target for 1.0

[2015-05-20 18:54] r1git commented on #795
I actually don't have a arm64 linux either, I use qemu-aarch64 -g 1234 and connect to the gdbserver on port 1234.

And now it seems to work better !
[code]

[2015-05-20 18:58] radare commented on #2314
@jjdredd can you check this issue?

[2015-05-20 18:59] radare commented on #2431
aslr has been fixed again. linux changed the order it was relocating bins in memory. .can you recheck?

[2015-05-20 18:59] radare commented on #2145
ok moved to 1.0

[2015-05-20 19:00] radare commented on #1594
debugger stuff moved to 1.0

[2015-05-20 19:01] radare commented on #293
@alvarofe wanna checkout this easy task?

[2015-05-20 19:03] radare commented on #36
This thing depends partly on a capstone bug that is taking more time to get fixed that the expected.. so lets move this to 1.0

[2015-05-20 19:03] radare commented on #293
otherwise i'll do it tonight :) it's a quick thing

[2015-05-20 19:05] radare commented on #633
moved to 1.0. it should work from API, but we can easily move it after release, so we'll focus on the debugger, which is related

[2015-05-20 19:19] radare commented on #795
For loading it in r2 you should pass -b64 too. I'll copypasta the reg profile from qemu later after dinner.

But if you are using qemu, the ptrace syscall is not implemented in the qemu-aarch64 so u'll need a full qemu image to boot and run r2 from inside. I think best option is to use real hw.

[2015-05-20 19:32] movEAX commented on #2547
But bug not fixed yet. Why issue should be closed?

[2015-05-20 19:49] r1git commented on #795
Thank you pancake.
I have to admit, I solved my issues around arm64 with static analysis with r2 along with native gdb for dynamic analysis a while ago.
Couldn't have done it without r2 for the static part, so thanks again.

[2015-05-20 19:49] #795 closed

[2015-05-20 20:20] pwntester commented on #2429
If this is just for switching modes, I already added a switch button. Im not sure it makes a lot of sense to put a menu button somewhere since the context menu is contextaware and the menu would be something fixed. What is you idea for the menu button? what actions? where to place it?

[2015-05-21 00:09] radare opened #2599 "aetr regression"
Happened in https://github.com/radare/radare2/commit/24a27ecfcb180156c68840ab2a4c6563fe29ee79 for t.esil/cmd_aetr
[code]

[2015-05-21 01:28] #2429 closed

[2015-05-21 01:28] radare commented on #2429
Ok to close it

[2015-05-21 01:30] radare commented on #795
I just commited support for arm64 esil emulation, needs more detailed expressions but should work more or less.

Feel free to send patches or report issues related to arm64-esil

[2015-05-21 06:47] jjdredd commented on #2314
I will be working on this today.

[2015-05-21 09:15] radare commented on #2547
It should be fixed, not closed :)

[2015-05-21 09:19] radare commented on #2597
If finding an invalid instruction it disassembles byte per byte, which is probably ok for x86, but problematic for arm/sparc/mips.. also, i understand that this is going to be an issue because of the addr_end which is bigger than the file maybe? using pread we can determine if the address has been allocated or not.

I would like to have a field in RAnalPlugin to specify the minimum instruction siz

[2015-05-21 09:19] radare commented on #2597
In this code, this is used by the `minop` variable, but this should be probably reviewed in depth with the target file you provide

[2015-05-21 09:22] radare commented on #2597
In this code, this is used by the `minop` variable, but this should be probably reviewed in depth with the target file you provide.

Also, bear in mind that this information should be overridable by the user using anal hints or global configuration options.

[2015-05-21 09:31] radare commented on #2599
cc @sushant94

[2015-05-21 09:56] radare commented on #2500
We are going to release next week, and i will find this feature really interesting to be ready, i can have a look at it too. But it will be great if you could check this out this weekend if you have some spare time for ti. thanks!

[2015-05-21 10:27] #2313 closed

[2015-05-21 10:29] radare commented on #2281
yes. i have never been happy about that because it was limiting the hexpair string input, forcing you to not paste any single space between the hex pairs..

[2015-05-21 10:29] radare commented on #2281
i bet there'r some tests.. or there should be some for all those syntaxes

[2015-05-21 10:29] radare commented on #2281
what about for 0.9.9? anyone? discuss

[2015-05-21 10:38] radare commented on #2516
yep, but not fully correct, a timezone is not just an hour shifting

[2015-05-21 11:01] jjdredd commented on #2314
The color loss should be fixed now. As for the lack of highlighting on the second (hex) column, it's essentially the same problem as in  #2312.

[2015-05-21 12:51] XVilka commented on #219
PR for fixing this https://github.com/radare/radare2/pull/2601

[2015-05-21 15:32] sushant94 commented on #2599
This is because of pf (parity flag) now being defined as a flag rather than a register and as flag_p. So either we need to change that in the above commit or I need to add a new flag type and change it to flag_p rather than pf.

[2015-05-21 16:15] radare commented on #2599
Flag_p looks less confusing than pf to me. This happened when added the new regprofile with the flags stuff defined.

Thanks

[2015-05-21 16:34] Maijin opened #2603 "rax2 < /bin/ls > ls.hex Invalid write of size 4"
Valgrind output http://paste.ubuntu.com/11266910/

[2015-05-21 16:37] #788 closed

[2015-05-21 16:44] sushant94 commented on #2599
I see other flags like `cf`, `zf` ... defined. Is `pf` supposed to be there or is it intentional that `pf` was removed?

[2015-05-21 17:12] zonkzonk opened #2604 "[zzuf] [i386] r2 -d aas/aac"
morn,

zzuf args:
zzuf -s 0:10000 -r 0.006  -q -c -C 2 -v -T 5 -M 100 r2 -q -c 'aac $s; aas $v' -d ./a.out.bak >> log 2>&1

![fuzzed_file 25](https://cloud.githubusercontent.com/assets/5694980/7754483/324346ac-ffed-11e4-936e-f8cd94d55a30.png)

![a out bak](https://cloud.githubusercontent.com/assets/5694980/7754988/28b18398-fff1-11e4-8f8c-324520e45d9d.png)

[code]

related to #2597 ?

Greetings
--z

[2015-05-21 19:46] crowell opened #2607 "relocatables are wrong"
[code]

[2015-05-21 20:30] Maijin commented on #2607
A related broken test already exist https://github.com/radare/radare2-regressions/blob/master/t/cmd_info#L531

[2015-05-22 05:48] jjdredd commented on #2607
hm, can this be only elf64 bug?
compare:
[code]
and
[code]
versus
[code]
and
[code]

[2015-05-22 05:53] crowell commented on #2607
yes, looks like just vaddr<-->paddr mapping is off by 0x410

[2015-05-22 05:58] sushant94 commented on #2599
Ok, this can be fixed in the tests directly by using `flag_p` rather than `pf` in the esil string.
Also, it looks like pf is defined on 64 bit arch and not on 32.

[2015-05-22 06:13] crowell commented on #2607
disregard that it is not constant

[2015-05-22 10:36] radare commented on #2607
can anyone test with 0.9.8? is this a regression? we should have at least a test to verify this

[2015-05-22 10:44] radare commented on #2607
nevermind :P it’s a regression and maijin pointed to the broken test. now we just have to find which was the offending commit.

[2015-05-22 11:36] Maijin commented on #293
@alvarofe this fix seems to only fix "ao* : must output in 'ah' format (anal hints)" not "stack : reported value is wrong (2 instead of 8? wtf)"

[2015-05-22 12:40] alvarofe commented on #293
yes, that's right. I didn't know what to write in the commit :s sorry for that. The other issue I don't even know what means. If someone could enlighten me I might give it a try

[2015-05-22 20:30] crowell commented on #2607
[code]

i'll fix this tonight

[2015-05-22 21:24] radare commented on #2607
👍

[2015-05-23 09:22] Maijin opened #2610 "radare2-regressions (fuzzed binaries + aac)"
Currently when you run "aac ; q" on the fuzzed binaries in radare2regressions it crashes. This need to be reviewed.

After this is corrected, fuzzed tests will be added to Travis: https://github.com/radare/radare2/blob/master/.travis.yml#L38

[2015-05-23 10:39] Maijin commented on #293
@radare ^

[2015-05-23 10:40] Maijin commented on #249
F4

[2015-05-23 10:40] #219 closed

[2015-05-23 10:43] radare commented on #293
Ok. I can do it for my own. Maybe the description was not good enough. Sorry

Also i found that we should have analop.imm too. Not just ptr, refptr... After release we should redefine this struct to make it more powerful, to aviid depending on esil when aop is enough

[2015-05-23 10:44] Maijin commented on #2571
`as` after `dcs` stop doesn't work - http://radare.tv/a/65

[2015-05-23 10:47] radare commented on #2571
Yeah already noticed. This is why i moved the jssue to 1.0

[2015-05-23 11:35] radare opened #2612 "ROP Search using ESIL"
Will be useful to search for gadgets that indirectly modify registers that are not implicit by the instruction. This is for example DIV on x86, which drops the mod in xDX.

[2015-05-23 11:36] radare commented on #2607
Tonight (R)

[2015-05-23 11:47] jvoisin commented on #2612
It would also be great to do some semantic search like finding stack pivots.

[2015-05-23 11:52] radare commented on #2541
Works fine if you skip the 00's:  `s/x 2027:f0ff`

[2015-05-23 11:53] alvarofe commented on #2603
Which command did you use @Maijin ?

[2015-05-23 11:54] Maijin commented on #2603
@alvarofe

valgrind rax2 < /bin/ls > ls.hex

[2015-05-23 11:59] alvarofe commented on #2603
Good job Álvaro it was written in the title jeje thanks @Maijin

[2015-05-23 13:07] crowell commented on #2607
My fix messed up flags for an unknown reason so I didn't commit yet

[2015-05-23 16:27] Maijin commented on #2607
awesome

[2015-05-23 16:41] radare commented on #2607
Cool!

[2015-05-23 17:08] #2604 closed

[2015-05-23 17:08] #2610 closed

[2015-05-23 17:10] #2603 closed

[2015-05-23 17:13] Maijin commented on #2607
@crowell @radare Still a problem with R_X86_64_COPY

See http://paste.ubuntu.com/11309489/ && http://paste.ubuntu.com/11309511/

don't know if intended

[2015-05-23 17:20] radare opened #2615 "Finish BMH and make it accessible via eval config var"
For more
Boyer–Moore–Horspool algorithm porn see https://github.com/radare/radare2/blob/master/libr/search/search.c#L8

[2015-05-23 19:17] crowell commented on #2607
let me look into this @maijin

[2015-05-23 20:35] zonkzonk commented on #2604
@alvarofe did you test? it still crashes for me with latest r2: frame 0:

[code]

[2015-05-23 22:06] alvarofe commented on #2604
With the fuzzed binary I was not getting nothing :S feel free to send a PR to fix it. I will try it again

[2015-05-23 22:13] alvarofe commented on #2604
I only tested loading the binary not calling with "r2 -d". I will look these days to fix it if I can reproduce it.

[2015-05-24 00:02] C-H-A-I-R opened #2616 "gpg cast5 data"
not sure if folks care, but could radare2 implement search for gpg cast5 data?
it seems that signature is 8c0d04030302 for files. (encrypted with gpg -c)

greetings
chair

[2015-05-24 07:34] Maijin commented on #2616
That could also fit in https://github.com/Yara-Rules/rules

[2015-05-24 09:05] mrmacete commented on #2541
Actually, removing 00's works but doesn't play well with alignment. In fact, if i wanted to search for patterns in MIPS opcodes (all 32 bits wide), i would have set search.align=4 and the 00's purpose was to focus the search on the last 2 bytes of 4-bytes words. Am i wrong?

[2015-05-24 12:17] radare commented on #2541
Yes i am aware that this is not a solution, just a note to keep in mind that the bitmask seems to work on some cases. I will try to find some time this week to fix this issue

[2015-05-24 17:57] protoload opened #2618 "afn cannot find flag doesn't save in Project"
`r2 -p ezhp2 -Ad ezhp`

`  ││   0x08048a80    e80ffdffff     calll fcn.08048794`

`[0xf7786080]> afn add_note fcn.08048794`
`Cannot find flag (fcn.08048794)`

`pdf @ main`
`
0x08048a80    e80ffdffff     calll add_note
`

`Ps `

Now reopening the project shows
`││   0x08048a80    e80ffdffff     calll fcn.08048794 `
instead of the name I gave it

[2015-05-24 20:06] X-cela opened #2619 "pxw next range wrong offsets"
[code]

Shouldn't the next line start at
0x0804b07c

[2015-05-24 22:03] grandemk opened #2620 "[webui] if a basic block ending is a jump to its parent, both edges are superposed"
if a basic block ending is a jump to its parent, both edges are superposed. The edge representing the jump to the parent should spawn from the bottom of the basic block and not from the top.

[2015-05-24 22:15] radare commented on #2619
I have added 3 more tests in `t/cmd_pxw` related to this issue. Which hex.cols value are you using to reproduce this issue?

[2015-05-24 23:06] protoload commented on #2619
[code]

[2015-05-25 11:35] radare commented on #1909
@inisider is working on that right now

[2015-05-25 11:40] radare commented on #2607
any update on that?

[2015-05-25 12:02] r1git opened #2621 "r2 -d can't debug HelloWorld binary"
Hi,

[code]

But:
[code]

[code]

[2015-05-25 12:04] radare commented on #2621
first of all you are debugging /usr/bin/test, and not ./test

secondly, the debugger starts at the ld.so

the bug seems to be that the main guess is not relocated to the new base address. im going to fix this now, but you can use other symbols as reference, entrypoint or so should work just fine.

[2015-05-25 12:13] r1git commented on #2621
Still, the "dc" command doesn't print the Hello world...
[code]

[2015-05-25 12:43] #2621 closed

[2015-05-25 12:44] r1git commented on #2621
Damn. It was just a flush problem.  Adding a puts at the end of the code solved the issue...
I don't understand why sometimes the first bp is ld.so and sometimes the entrypoint...

Thx for the fix.

[2015-05-25 12:45] radare commented on #2621
you can spawn the child with rarun2 and use a different terminal to handle the input/output of the debugged application instead of using the same for r2 and the program

[2015-05-25 14:09] Maijin commented on #921
Resources have been extracted but there are no way to display them with a dedicated command, what a shame :confused:

[2015-05-25 15:16] radare commented on #2619
i cannot reproduce this isseu with hex.cols=8, are you using r2 from git?

[2015-05-25 16:01] crowell opened #2622 "search for string cuts off if includes null byte"
[code]

should say `"/bin/sh\x00ex"` instead of `"/bin/sh`

[2015-05-25 21:10] #2622 closed

[2015-05-26 01:15] radare commented on #2618
It's fixed now in git master. thanks for reporting!

[2015-05-26 01:15] #2618 closed

[2015-05-26 02:00] radare commented on #1909
Fixed in git

[2015-05-26 02:00] #1909 closed

[2015-05-26 04:12] protoload commented on #2619
Yes I am
'''
radare2 0.9.9-git 7953 @ linux-little-x86-64 git.0.9.8-1607-gde7ac04
commit: de7ac04df1babafc20eab9e2e2e299883c6cc4a0 build: 2015-05-24
'''

Is there a hotkey that changes hex.cols width that I might be hitting accidentally?
The value for it changes randomly while I'm debugging

[2015-05-26 07:15] radare commented on #2619
Scr.responsive

[2015-05-26 09:37] #2541 closed

[2015-05-26 12:42] radare commented on #2314
`V/37`
![screen shot 2015-05-26 at 10 28 43](https://cloud.githubusercontent.com/assets/917142/7812723/6064cac6-03b5-11e5-8679-47463bf5b2bb.png)

[2015-05-26 13:47] radare commented on #2223
Cant reproduce

[2015-05-26 13:56] revskills commented on #2593
Nope, tested on Ubuntu (same sample after patch)
==26411==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x61e00004c665 at pc 0x7f4e624bcfeb bp 0x7fff04d06670 sp 0x7fff04d06660
READ of size 1 at 0x61e00004c665 thread T0
#0 0x7f4e624bcfea in r_bin_java_local_variable_table_attr_new /home/revskills/dev/radare2/shlr/java/class.c:3727
..

[2015-05-26 13:57] radare commented on #2593
@alvarofe feel free to propose those changes in pullers, so travis can confirm too

[2015-05-26 14:31] crowell commented on #2607
`R_X86_64_GLOB_DAT` is incorrect currently, applying the same fix there breaks the cmd_pd tests due to string flags being messed up in a way i have not yet identified.

[2015-05-26 15:16] Maijin commented on #2223
Still reproducible

[2015-05-26 15:20] Maijin commented on #2223
Ok now it's not error but still not working see the current test:

https://travis-ci.org/radare/radare2/jobs/64087315#L376-L390

[2015-05-26 15:22] radare commented on #2223
you see it you fix it

[2015-05-26 16:35] sushant94 commented on #2599
Fixed in fd7078f3e4268d653e30a2134ccb712881a6190c

[2015-05-26 16:52] #2599 closed

[2015-05-26 21:09] daniel-rome opened #2627 "rasm2 Segfault"
Converting some arm (thumb) instructions I have noticed that rasm2 returns a segfault.

Below you can find an example:

$ rasm2 -v
rasm2 0.9.9-git 7977 @ linux-little-x86-64 git.0.9.8-1625-g313a4f7
commit: 313a4f7fcafb64ee5d3da3cca597d9301b23e1d5 build: 2015-05-26

$ rasm2 -a arm -b 16 "ldr r3 [r1]"
Segmentation fault

In order to debug the crash I annex the gdb output:

$ gdb -q rasm2
Reading sym

[2015-05-26 21:18] Maijin commented on #2627
@daniel-rome please use git version. The version you use is 1625 commits from master which is about  792 changed files  with 21,067 additions and 4,633 deletions.

[2015-05-26 21:22] daniel-rome commented on #2627
I have updated my r2 version this afternoon (sys/install.sh), what is wrong?

[2015-05-26 21:24] XVilka commented on #2627
@daniel-rome do you have any other installations? system-wide may be? looks like you have an old libraries somewhere.

[2015-05-26 21:36] daniel-rome commented on #2627
It is possible.. Do you recommend me some way to clear the old libraries/installation?

[2015-05-26 21:58] XVilka commented on #2627
@daniel-rome check the places like /usr/local/lib and /usr/lib, remove all radare2 related, also libr*.so stuff (just be sure it is a radare2 libs, not the other ones).

[2015-05-26 22:08] radare commented on #2627
The official procedure is:

./configure --prefix=/usr/local
make purge
sys/install.sh

[2015-05-26 22:24] daniel-rome commented on #2627
I have done the official procedure, but it returns the same segfault.

$ rasm2 -v
rasm2 0.9.9-git 7977 @ linux-little-x86-64 git.0.9.8-1625-g313a4f7
commit: 313a4f7fcafb64ee5d3da3cca597d9301b23e1d5 build: 2015-05-27

[2015-05-26 22:26] XVilka commented on #2627
@daniel-rome then pls check 'unofficial' one, it works for me every time.

[2015-05-26 22:27] XVilka commented on #2627
@daniel-rome forget it, I confirm the bug. Your installation is probably OK.

[2015-05-27 02:47] q6r opened #2628 "multiple eip pointers when debugging"
When debugging "r2 -d ..." r2 shows multiple "; eip --" pointers which makes things confusing. eg :
![multiple_eip](https://cloud.githubusercontent.com/assets/1616882/7827765/0508fe10-03e0-11e5-9166-92a48b4430ad.jpg)

[2015-05-27 05:57] inisider commented on #2540
This is possible to do with help of msvc demangler that has been  already implemented.
It will be good if someone start to test it and push bugs ;)

[2015-05-27 07:38] radare commented on #2628
Can you provide version of r2 and operating system/arch/target?

[2015-05-27 07:50] q6r commented on #2628
@radare commit 6ab745d6.... Linux x86_64 and debugging an elf 32bit binary.

[2015-05-27 08:15] radare commented on #2627
This is a stupid null deref. fix in git in few mins

[2015-05-27 08:15] #2627 closed

[2015-05-27 08:23] radare commented on #2628
Cannot reproduce. What are you doing to get multiple eips?

[2015-05-27 08:43] q6r commented on #2628
@radare https://asciinema.org/a/dv66b6q8r3lfq4dndgdsdqa71 took me sometime to reproduce. Only used ">" arrow and step. Also it shows that something bad happened probably due the binary beign obfuscated. The binary used was simpleVM from reverse.kr

[2015-05-27 11:56] daniel-rome commented on #2627
I was driving me crazy!!!

Thanks! :)

[2015-05-27 18:20] revskills opened #2630 "AddressSanitizer format/omf/omf.c:491"
[code]

file: http://revskills.cz/r2/1226257a2f868dd8ddc26f675ea93e62
radare2 0.9.9-git 7979 @ linux-little-x86-64 git.0.9.8-1627-g4c84b3a
commit: 4c84b3a2d527ae915970ba36fa76de224bc8ac12 build: 2015-05-27

[2015-05-27 18:23] revskills opened #2631 "AddressSanitizer format/omf/omf.c:35"
[code]

file: http://revskills.cz/r2/ac74e8f139faf94d4b6edd86c12d57a6
radare2 0.9.9-git 7979 @ linux-little-x86-64 git.0.9.8-1627-g4c84b3a
commit: 4c84b3a2d527ae915970ba36fa76de224bc8ac12 build: 2015-05-27

[2015-05-27 18:26] revskills opened #2632 "AddressSanitizer format/omf/omf.c:338 *WRITE"
[code]
file: http://revskills.cz/r2/f486dbe4a04bbc8b87a824429a87b033
radare2 0.9.9-git 7979 @ linux-little-x86-64 git.0.9.8-1627-g4c84b3a
commit: 4c84b3a2d527ae915970ba36fa76de224bc8ac12 build: 2015-05-27

[2015-05-27 18:39] revskills commented on #2632
@ampotos Can you check this please?

[2015-05-27 18:39] revskills commented on #2631
@ampotos Can you check this please?

[2015-05-27 18:39] revskills commented on #2630
@ampotos Can you check this please?

[2015-05-27 18:45] ampotos commented on #2630
I will check this tomorrow.

[2015-05-27 18:50] ampotos commented on #2632
I will check this tomorrow.

[2015-05-27 18:50] ampotos commented on #2631
I will check this tomorrow.

[2015-05-27 20:21] revskills opened #2633 "AddressSanitizer format/omf/omf.c:27"
[code]
file: http://revskills.cz/r2/f5a813e7d9cdeb79dfbdf9b24a40f99e
radare2 0.9.9-git 7979 @ linux-little-x86-64 git.0.9.8-1627-g4c84b3a
commit: 4c84b3a2d527ae915970ba36fa76de224bc8ac12 build: 2015-05-27

[2015-05-27 20:28] Maijin opened #2634 "By default -c=H without filename should load the project manager by default"
By default -c=H without filename should load the project manager by default: `http://localhost:9090/` .

Currently it is `Missing file to open`

http://i.imgur.com/XW5ntli.png

[2015-05-27 20:50] radare opened #2635 "Add `pxrj` command"
Like `pxr` but in JSON

[2015-05-27 21:25] revskills commented on #2633
@ampotos same here, can you check this tomorrow please?

[2015-05-27 22:27] #2456 closed

[2015-05-27 23:00] #2634 closed

[2015-05-27 23:04] radare commented on #2607
![its-magic-shia-labeouf-gif](https://cloud.githubusercontent.com/assets/917142/7849410/6eae6350-04d5-11e5-8d5c-67864c94be2a.gif)

[2015-05-28 09:36] #2633 closed

[2015-05-28 09:36] #2631 closed

[2015-05-28 09:36] #2630 closed

[2015-05-28 09:46] radare opened #2638 "Allow to run a command on all threads?"
would be cool to have a way to run a command on all running threads of a target process. We need syntax sugar for this. I'm thinking in something like this:

[code]
The @@:dp modifier should run the previous command for every thread after selecting it. Can we think on other non-offset iterators here?

[2015-05-28 10:11] revskills commented on #2632
fixed

[2015-05-28 10:11] #2632 closed

[2015-05-28 11:53] radare commented on #1249
First sample bin no longer exists

[2015-05-28 12:19] radare commented on #2597
It's fixed with an error message that complains about section size being bigger than file size. This will require manual interaction to resize the section for example. But it's ok for now to close the issue

[2015-05-28 12:19] #2597 closed

[2015-05-28 12:21] radare commented on #2628
Can anyone else reproduce? it would be great to have a 100% reproducible test case. Looks like a bug in rflags, which should be fixable when moving to sdb.

[2015-05-28 14:10] radare opened #2639 "Handle C/Py/Node byte arrays as input and output for rax2"
Actually, r2 can output a buffer in different formats, but we need parsers for input and make them available in rax2

[2015-05-28 15:06] Maijin commented on #759
@XVilka ping

[2015-05-28 15:24] Maijin commented on #1249
@radare I can't find the binary back unfortunately, I'll provide anothe example and maybe @XVilka has some too. But still there you can see that in the http://rghost.net/private/7cw6Vc4qT/251ca883f01c18bb624289f0b8124937

[2015-05-28 15:28] radare commented on #1249
I did it with http://rghost.net/private/7cw6Vc4qT/251ca883f01c18bb624289f0b8124937

[2015-05-28 15:29] zonkzonk opened #2640 "s/ free(): invalid next size (fast): 0x0926d0e0 ***"
morn,

[code]

r2 -v
radare2 0.9.9-git 7993 @ linux-little-x86-32 git.0.9.8-1637-g7194525
commit: 7194525554cc1bc2a2b34c9ad197299cbc31c481 build: 2015-05-28

I might bring a chair to bsides :)

Greetings
zlul

[2015-05-28 15:31] Maijin commented on #1249
@radare first function called "fcn.00402ff8" if follow: " jmp dword [sym.imp.kernel32.dll_GetStdHandle]"  http://radare.tv/a/66

[2015-05-28 15:31] Maijin commented on #1249
AH you need to use "aaa" ok

[2015-05-28 15:31] #1249 closed

[2015-05-28 15:32] radare commented on #1249
Run aaa or .afna@fcn.00402ff8 to get autonamed functions

[2015-05-28 15:32] Maijin commented on #1249
@radare ok but `aaa` should be the behavior of radare2 -A

[2015-05-28 15:35] crowell commented on #2640
cannot repro, can you give a test case that doesn't rely on a random value?

also is this on a 32 bits machine?

On Thu, May 28, 2015 at 11:29 AM, zonkzonk <notifications@github.com> wrote:

--
Jeff Crowell
https://github.com/crowell

[2015-05-28 15:35] #759 closed

[2015-05-28 15:39] jvoisin commented on #1249
Why aren't we merging `aa` and `aaa` again?

[2015-05-28 15:41] Maijin opened #2641 "r2 -A should do aaa by default"
`r2 -A` should be equivalent to `aaa`

* `aa` http://pastie.org/private/pwolzmcatzwllxmnjpzmta
* `aaa` http://pastie.org/private/gydlactoe9nte2ryt4zgka

It's day and night in term of usability

[2015-05-28 15:41] Maijin commented on #1249
=> https://github.com/radare/radare2/issues/2641

[2015-05-28 15:41] radare opened #2642 "rabin2 -Aj only shows 1 arch"
json logic must be moved into rbin to avoid dupped/buggy loop

[2015-05-28 15:56] radare commented on #1249
Not sure. Iiirc aaa is what bokken does by default, so maybe yep. Feel free to send a pullreq, it will probably break a test or two. Anyways i never do -A or aa :p

[2015-05-28 15:56] jvoisin commented on #1249
But most people do, and expect it to analyze as much as possible.
I might issue a PR tonight if I don't forget about it :dancer:

[2015-05-28 16:11] Maijin commented on #2641
Also related to #2403

[2015-05-28 16:21] zonkzonk commented on #2640
this is 32bit Debian 7, will test on other machine

[2015-05-28 16:26] zonkzonk commented on #2640
does NOT crash on 64bit arch current

[2015-05-28 17:46] radare commented on #2640
Use asan, it crashes on all systems,

```[0x00000000]> s/ `/dev/urandom`
=================================================================
==15018==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x602000014c4c at pc 0x7f962312d852 bp 0x7fff95ad7270 sp 0x7fff95ad7260
WRITE of size 1 at 0x602000014c4c thread T0
    #0 0x7f962312d851 in r_hex_str2bin /home/pancake/prg/radare2/libr/util/hex.

[2015-05-28 17:48] #2640 closed

[2015-05-28 17:58] zonkzonk commented on #2640
@crowell @pancake
actually, using /dev/arandom crashed too, so it was no value of /dev/urandom :)

[2015-05-28 20:58] jvoisin commented on #2638
What about forks?

[2015-05-28 23:03] #2607 closed

[2015-05-28 23:03] #2628 closed

[2015-05-28 23:39] #2642 closed

[2015-05-28 23:40] #2641 closed

[2015-05-29 10:10] jjdredd commented on #2314
can this be closed now?

[2015-05-29 10:10] jjdredd commented on #2312
can this be closed now too?

[2015-05-29 10:26] jjdredd opened #2643 "fix search highlight bug in cons/less.c similar to one fixed in visual highlight"
just a reminder for me. Hope to fix this shortly.

[2015-05-29 10:29] jjdredd commented on #2643
also, see https://pad.nopcode.org/p/r2099

[2015-05-29 10:38] C-H-A-I-R opened #2644 "Linux/moose arm problems"
morn,

trying to analyse the Linux/moose arm bin does not work.

[code]

[2015-05-29 10:39] C-H-A-I-R commented on #2616
@all do you agree to put this in yara?  @radare @jvoisin @jjdredd @crowell

[2015-05-29 10:41] jjdredd commented on #2644
are you sure you didn't fuck up the elf?

[2015-05-29 10:42] C-H-A-I-R commented on #2644
I did it, as in the pdf here: http://www.welivesecurity.com/wp-content/uploads/2015/05/Dissecting-LinuxMoose.pdf

[2015-05-29 10:42] jjdredd commented on #2644
ok

[2015-05-29 10:42] C-H-A-I-R commented on #2644
:chair:

[2015-05-29 10:45] jjdredd commented on #2644
sorry, @C-H-A-I-R , I was about to add that emoji but I can't draw :disappointed:

[2015-05-29 12:25] #2593 closed

[2015-05-29 12:25] radare commented on #2593
pls confirm

[2015-05-29 12:29] revskills commented on #2593
fixed thanks @alvarofe

[2015-05-29 13:00] radare commented on #2223
ping @crowell

[2015-05-29 14:45] #2314 closed

[2015-05-29 14:45] #2312 closed

[2015-05-29 14:46] radare commented on #2616
or magic. but yep

On 05/29/2015 12:39 PM, C-H-A-I-R wrote:

[2015-05-29 19:03] #2616 closed

[2015-05-30 06:02] NuclearHorseStudios opened #2648 "Comments and renamed variables are not saved in project."
**Expected**:

Renamed variables (`afvn`, `afan`) and comments (CC) to persist upon reload after saving a project.

**Actual**:

After loading project (`Po`), renamed variables and comments no longer exist.

Commands to reproduce, output, config, etc available here:

https://gist.github.com/NuclearHorseStudios/032003f6f4c2781347b2

radare2 0.9.9-git 7982 @ linux-little-x86-64 git.0.9.8-1630-g37d1d

[2015-05-30 10:34] grandemk opened #2650 "Local and args comments"
The local and args auto renaming comes with a decimal offset to ebp which is presented like this:
[code]

But all the offsets in command are in hexadecimal
[code]

[2015-05-30 12:01] q6r opened #2651 "anal_mips_cs segfault"
version : d4fc6d46 ...

# valgrind
[code]
# backtrace

[code]

in here

[code]

[2015-05-30 15:19] crowell opened #2652 "and instruction missing flags setting (x86)"
[code]

[code]

from the developers guide "The OF and CF flags are cleared; the SF, ZF, and PF flags are set according to the result. The state of the AF flag is undefined. "

http://x86.renejeschke.de/html/file_module_x86_id_12.html

[2015-05-30 15:54] crowell commented on #2651
@q6r can you provide the binary being analyzed here?

[2015-05-30 16:36] radare commented on #2652
The patch is way smaller than this text :p several other instructions in esil/x86 doesnt update flags.

[2015-05-30 17:02] crowell commented on #2652
Someone reported it on irc. I thought it would be a nice one for him to fix
On May 30, 2015 12:57 PM, "radare" <notifications@github.com> wrote:

[2015-05-31 03:01] radare opened #2653 "pc (print C) doesnt honors hex.cols properly"
[code]

[2015-05-31 03:39] q6r commented on #2651
@crowell get the file 0x80.org/mips.elf

[2015-05-31 07:47] zonkzonk opened #2654 "[zzuf] CL cmd_meta_lineinfo"
morn,

[code]

 r2[1002]: segfault at 78 ip 00007f7e3303fdc2 sp 00007ffcaaacbfa0 error 4 in libr_core.so.0.9.9-git[7f7e32feb000+e8000]

Greetings
--zlul

[2015-05-31 07:58] zonkzonk commented on #2654
can't reproduce in 5efc92520d9e43e22cd60802e9c70b39cc22ed81

[2015-05-31 07:58] #2654 closed

[2015-05-31 08:51] radare commented on #2651
Are you using system or r2's capstone? can you point out which instruction is producing this? can we include this file in our test suite?

[2015-05-31 09:43] q6r commented on #2651
@radare I was using system's capstone a newer version than r2's capsone. Using r2's capstone solved the problem no segfault. I don't recommend including this file in the test suite maybe find which instruction caused the segfault and create a binary for that. This file is safe but it's a ctf challenge from HTIB so it's up to you to include it.

[2015-05-31 10:30] zonkzonk opened #2655 "oc enables color :)"
morn,

http://radare.tv/a/67

Greetings
--zlul

[2015-05-31 12:37] jvoisin commented on #2655
This is expected, since it's like a *restart* of radare2, not sure if it's a bug.

[2015-05-31 12:40] jvoisin commented on #2653
[code]

Isn't this the expected behaviour?

[2015-05-31 13:47] XVilka opened #2656 "Option to show the absolute offsets in the rafind2 output"
Just to be able to show also the absolute offsets in the raw file, not only the relative ones.

[2015-05-31 13:53] radare commented on #2653
I was looking to have the same number of numeric columns in hex as in hexdump. Px obeys number of cols and pc just the width required to fit in screen

[2015-05-31 13:54] radare commented on #2656
I guess you mean virtual va physical adresses

[2015-05-31 13:56] radare commented on #2655
V! Disables color :) and this is a bug

[2015-05-31 14:13] XVilka commented on #2651
Adding a 'question' label, since it is not really a bug, since it was fixed by using the right version of the capstone. But having the test for that would be awesome, thus not closing it.

[2015-05-31 14:49] m403 opened #2658 "rasm2 - incorrect disasm for msp430"
rasm2 -a msp430 -d "..."

Bytes | Returns | Expected
------------ | ------------- | -------------
904233002a00 | br &0x0033 | mov &0x0033, 0x002a
90432c00 | br #1 | mov #1, 0x002c
b0400a002a00 | mov #0x000a, 0x000a | mov #0x000a, 0x002a
924b06003300 | mov 0x6(r11), &0x0006 | mov 0x6(r11), &0x0033
9b4a05000600 | mov 0x5(r10), 0x5(r11) | mov 0x5(r10), 0x6(r11)
924603002e00 | mov 0x3(r6), &0x0003 | m

[2015-05-31 15:07] m403 commented on #2658
https://github.com/radare/radare2-regressions/pull/192

[2015-05-31 16:52] m403 commented on #2547
Sorry for the mess, the last ref. issue is the correct one.

[2015-05-31 17:03] #2547 closed

[2015-05-31 17:04] radare commented on #2658
Fixed in 262066b4506821d267cad5f9d70ea24a33adcfd0

[2015-05-31 17:04] #2658 closed

[2015-05-31 17:18] radare commented on #2655
Not sure if we want to inherit the parent config when creating a new core... imho no, but im keeping this issue as open waiting for comments

[2015-05-31 17:53] #2652 closed

[2015-05-31 18:12] radare commented on #2650
not really, the visual mode also shows locals in decimal, mainly because it specifies an aligned sequential name, which imho is way more readable than the hex approach of IDA, which is in hex, and doesnt really specifies the maximum amount of variables, which are aligned in the stack, also the current approach, specifies which of those vars are packged into a single word. This allows to easily ide

[2015-05-31 18:16] radare commented on #2651
Can't reproduce. r2 capstone uses latest commits from git-next branch, so i doubt you have a system wide installation more updated unless you do that by hand. i have been testing it a while with ASAN and valgrind with no crashes at all. so i guess it was a capstone bug which has been fixed recently

[2015-05-31 18:16] #2651 closed

[2015-05-31 18:20] radare commented on #2651
its always nice to have test bins for different archs, thats why im asking. thanks!

[2015-05-31 18:22] radare commented on #2651
see https://github.com/radare/radare2-regressions/commit/5282bc9823c77ad2836c6f00aecd1379f7c74f71

[2015-05-31 20:40] radare commented on #2500
ping?

[2015-05-31 20:40] radare commented on #2464
Uhm, this looks like a good bug to fix before release

[2015-05-31 21:32] XVilka commented on #2656
Yes, sorry, I meant that.

[2015-05-31 21:39] radare opened #2662 "Import data from JSON"
As long as many commands support json as output, it will be good to be able to import that information, in the same way, the `*` output mode works.

[code]

will be:

[code]

[2015-05-31 21:40] radare commented on #2662
Importing json shouldnt be restricted to flags. we may probably need to change some jsons to start with a key specifying the kind of data stored in the document.

[2015-05-31 21:45] grandemk commented on #2650
I think we are talking about two different things. I'm talking about the ebp-0x26 part in this example:
In Visual Mode and iirc:
; var int local_9_2    @ ebp-**0x26**
; arg int arg_3        @ ebp+**0xc**
In webui:
; var int local_9_2 @ ebp-**38**
; arg int arg_3 @ ebp+**12**

I also like the naming of the variables, I don't think there is a need of a config option for these names, because the loca

[2015-05-31 23:00] radare commented on #2648
please confirm. we should have some tests to verify this

[2015-05-31 23:00] radare commented on #2648
^ @Maijin

[2015-05-31 23:01] radare commented on #2643
ping @jjdredd

[2015-05-31 23:11] radare commented on #2650
Ok, i get the point, so its just a display issue in the delta, not the naming itself.

[2015-05-31 23:22] jpenalbae commented on #2662
which other cmds besides "f" support importing like that?

[2015-05-31 23:41] radare commented on #2662
Right now, there's no single command to import from json. the snippet is just an example for flags, but it may be useful for bin info, comments, functions, etc.

[2015-06-01 05:41] jjdredd commented on #2643
yeah, starting tonight

[2015-06-01 08:57] grandemk commented on #2650
Yes that's it :)

[2015-06-01 12:49] q6r opened #2663 "debuggin with rarun2 fails, without doesnt"
https://asciinema.org/a/akbly84exf5es6dhs5iotk17a

rarun2 causes a problem with debugging. without rarun2 it works fine. -D gdb didn't work at all for me for both cases with rarun2 and without rarun2.

[2015-06-01 13:18] radare commented on #2663
rarun2 is used for spawning using the native debugger backend. you can't use it together with gdb because is gdb who spawns the process in that case. so setting up that variables does nothing.

[2015-06-01 13:18] #2663 closed

[2015-06-01 13:20] radare opened #2664 "Show debug map name near the offset"
like asm.section does.

[2015-06-01 13:32] #2664 closed

[2015-06-01 13:43] #2431 closed

[2015-06-01 13:46] radare commented on #293
any test case for that last checkbox to close the issue?

[2015-06-01 14:02] Maijin commented on #293
@radare I've added a aoj test but the stack output is constantly changin in aoj whereas in ao it's "null" which seems to be correct:

https://github.com/radare/radare2-regressions/commit/7707de01ecb13d05c03c98d6b5ce7cc73c779635

[2015-06-01 14:06] radare commented on #293
i guess this is ok with x86.udis, can you confirm that this is only
happening in capstone?

On 06/01/2015 04:02 PM, Maijin wrote:

[2015-06-01 14:08] Maijin commented on #293
Same with udis, problem is only in `aoj`, stack display fine in `ao`

[2015-06-01 14:13] #293 closed

[2015-06-01 14:19] radare commented on #2464
The problem is only related to breakpoints, see last commit, its not correct, but may help to understand the issue

[2015-06-01 14:21] #274 closed

[2015-06-01 14:23] #911 closed

[2015-06-01 14:29] radare commented on #909
afa/afv work fine, i even added support for saving/restoring from projects. it can be better, but its no longer broken

[2015-06-01 14:29] #909 closed

[2015-06-01 14:34] #2340 closed

[2015-06-01 14:43] #161 closed

[2015-06-01 14:45] jvoisin commented on #834
`$r` is supposed to be the screen size, isn't it?

[2015-06-01 14:52] jvoisin commented on #1625
Seems to be fixes.

[2015-06-01 14:52] #1625 closed

[2015-06-01 14:54] Maijin commented on #2089
?

[2015-06-01 15:03] jvoisin commented on #1267
[code]

Even better ;)

[2015-06-01 15:05] #2403 closed

[2015-06-01 15:26] XVilka commented on #161
@earada @radare can you provide us a test binary?

[2015-06-01 16:04] radare commented on #834
Screen rows. Aka lines, aka height

[2015-06-01 16:04] hannob opened #2665 "Out of bounds call to strncpy() in function Elf64_r_bin_elf_get_libs() on malformed input"
A malformed elf file can cause an out of bounds access in radare2. Here's the file:
https://crashes.fuzzing-project.org/radare2-oob-heap-read-Elf64_r_bin_elf_get_libs

To see this one needs to compile radare2 with address sanitizer (add -fsanitize=address to cflags). This issue was found with the help of the tool american fuzzy lop.

Here's the output from address sanitizer:

[code]

[2015-06-01 16:17] jjdredd commented on #2665
use ```, luke

[2015-06-01 16:49] jpenalbae commented on #2464
I don't understand why stepping wasn't working for me...

[2015-06-01 17:14] radare commented on #2464
Softstepping will not work. So stepping will fail on mips, sparc, .. Because it depends on breakpoints, if u have some time check out the current head to see if it works for u

[2015-06-01 17:46] jvoisin commented on #834
This is exactly why I'm complaining about: there are too much lines printed.

[2015-06-01 17:47] Maijin commented on #2638
https://github.com/radare/radare2/commit/6756b88b0fd40589fa516de1d4a3d558ec461838 fixed ?

[2015-06-01 17:58] radare commented on #2638
Yeah :D

[2015-06-01 17:58] #2638 closed

[2015-06-01 17:59] radare commented on #834
What about learning how r2 commands syntax work?

Pd $r @ offset

[2015-06-01 17:59] #834 closed

[2015-06-01 20:19] radare commented on #834
You cant restrict output in lines in r2 outside the visual mode. Use | head -n if you want lines. Pd arg expects number of instructions

[2015-06-01 20:20] C-H-A-I-R commented on #2665
that download link does not wok

[2015-06-01 20:23] radare commented on #2665
403

[2015-06-01 20:27] hannob commented on #2665
sorry, permission problem, fixed now.

[2015-06-01 20:43] zonkzonk opened #2668 "SIGSEGV on bogus libc.so"
morrn,

running r2 against this file
![libc-bogus 7z](https://cloud.githubusercontent.com/assets/5694980/7922874/70f9a628-08af-11e5-858e-08c6cbbfd623.png
crashes:

[code]

can folks reproduce? Debian7 32bit

Greetings
--zlul

[2015-06-01 20:45] alvarofe commented on #2665
Thanks. I will work on this :)

[2015-06-01 20:45] Maijin commented on #2668
Can't reproduce

[2015-06-01 20:54] jvoisin commented on #2668
Can't reproduce, even with ASAN.

[2015-06-01 21:08] XVilka commented on #2668
Wrong one.

[2015-06-01 21:08] #2668 closed

[2015-06-01 21:20] #2665 closed

[2015-06-01 21:39] jvoisin opened #2670 "rax2 -F is broken"
What about removing the `rax2 -F` feature, since:
- It's broken (check the [tests](https://github.com/radare/radare2-regressions/blob/master/t.tools/rax2/rax2#L153-L158))
- I can't think about a single useful usercase, and even if I could, I could simply use `sed` instead
- It would remove yet-another-handcrafted-parser from r2 ;)

[2015-06-01 22:15] zonkzonk commented on #2668
so actually the problem happened in the linker. sorry. Wasn't radares fault.

[2015-06-01 22:23] radare opened #2672 "Add support to fold/unfold comments/localvarargs"

[2015-06-01 22:35] radare opened #2673 "Add pdC to show only comments in the following N instructions"
Also implement pdCj

[2015-06-01 23:04] #2672 closed

[2015-06-01 23:19] radare opened #2674 "Merge libr_diff into libr_util"
It's jus about 600 LOC and its not supposed to have plugins

[2015-06-01 23:22] #2674 closed

[2015-06-02 00:49] radare opened #2676 "Launch rarun2 r2preload in a thread with the web server started"
This way it will be able to use self:// from a web browser or a remote r2pipe client.

[2015-06-02 00:58] #2650 closed

[2015-06-02 01:48] radare opened #2677 "Implement rarun2 r2preload hooking"
Add =! command in the r_io_self plugin to dlsym() and override the symbols at runtime. this will probably require plt fengshui, so it will depend on platform.

[2015-06-02 01:49] radare commented on #2677
[code]

[2015-06-02 02:26] radare opened #2678 "iOS build broken"

[2015-06-02 02:26] radare commented on #2676
Done in rarun2 r2preweb=yes

[2015-06-02 02:26] #2676 closed

[2015-06-02 05:10] Maijin commented on #2655
It's fixed here

[2015-06-02 05:10] #2655 closed

[2015-06-02 10:47] radare opened #2680 "^C doesnt stops webserver in w32"
cc @skuater

[2015-06-02 14:52] m403 opened #2681 "rasm2 - incorrect disasm for msp430"
rasm2 -a msp430 -d ...

Bytes | returns | expected
------------ | ------------- | -------------
8443faff | mov #0, 0xfffa(r4) | clr 0xfffa(r4)
80433300 | mov #0, 0x0033 | clr 0x0033
0041 | mov r1, r0 | br r1
2ac2 | clrn | bic #4, r10
2ac3 | clrz | bic #2, r10
3ae3 | xor #-1, r10 | inv r10
b5e30300 | xor #-1, 0x3(r5) | inv 0x3(r5)
b0e30300 | xor #-1, 0x0003 | inv 0x0003
82930300 | cmp #0, &0x0003 |

[2015-06-02 14:53] m403 commented on #2681
https://github.com/radare/radare2-regressions/pull/193

[2015-06-02 15:54] #2681 closed

[2015-06-02 18:05] hannob opened #2683 "Out of bounds call to __strlen in Elf64_r_bin_elf_get_symbols"
An invalid input file can cause an out of bounds read access in radare2. Example file:
https://crashes.fuzzing-project.org/radare2-oob-heap-read-Elf64_r_bin_elf_get_symbols

Can be seen with address sanitizer. This was found with the tool american fuzzy lop.

Address sanitizer output:
[code]

[2015-06-02 18:08] hannob opened #2684 "Out of bounds call to strlen in r_bin_dwarf_parse_ext_opcode"
An invalid elf file can cause an out of bounds memory access in the function r_bin_dwarf_parse_ext_opcode. Example file:
https://crashes.fuzzing-project.org/radare2-oob-heap-read-r_bin_dwarf_parse_ext_opcode

This was found with american fuzzy lop and can be seen with address sanitizer.

Address sanitizer output:

[code]

[2015-06-02 20:08] n0way0ut opened #2685 "backtrace output seems to be wrong"
$ r2 -d ./a.out
Process with PID 7837 started...
PID = 7837
pid = 7837 tid = 7837
r_debug_select: 7837 7837
Using BADDR 0x400000
Asuming filepath ./a.out
bits 64
pid = 7837 tid = 7837
 -- Sharing your latest session in Facebook...
[0x7f74e7925cd0]> aa
[0x7f74e7925cd0]> dc
[+] SIGNAL 11 errno=0 addr=(nil) code=1 ret=0
r_debug_select: 7837 1
[+] signal 11 aka SIGSEGV received 0
[0x7f74e76041fd]> dbt

[2015-06-02 22:27] grandemk commented on #2620
Found this solution on jointjs demos: http://jointjs.com/tutorial/multiple-links-between-elements. Know I just have to dive in the code :)

[2015-06-03 08:51] radare opened #2688 "List/grep symbols from libraries in debugger"
This must be also possible from non debugger. when statically loading the bin we can load the dependency libs and all his bin info. The solution can be just using rabin2 in a smarter way... not sure which subcommand of `i` shall we use for that. This is important for the 1.0 aka, debug release, because its really useful for reading backtraces or crashlogs or just follow refs across a program and i

[2015-06-03 09:46] radare commented on #2643
ping?

[2015-06-03 09:48] radare opened #2689 "Fix search when hit is between two blocks"
https://github.com/radare/radare2-regressions/pull/191

[2015-06-03 10:06] jjdredd commented on #2689
I assumed this could happen by reading code, imo it's hard to catch a bug like this. It could be fixed by moving the block read 'window' by len(block) - len(needle), instead of len(block).

[2015-06-03 10:09] radare commented on #2689
Found one issue... but still not fixed completely. looks like search keywords are wrongly generated in the sense that they all contain a binary mask, even if this is fffffff which is useless and slowdowns the search.