[2017-12-27 19:35] Maijin commented on #9080
pdc is huge work in progress and is expected to miss a LOT of stuff, if you want to contribute please do. But there is not really need of an issue without more description or additional info. You can also use the retdec plugin for radare2 that you can find in the r2pm tool.

[2017-12-27 19:40] beaumontk commented on #9080
"But there is not really need of an issue without more description or additional info."

Please see the debug output in the zip file. It should be self-explanatory

[2017-12-27 19:45] beaumontk opened #9081 "Please re-open #9080"
"But there is not really need of an issue without more description or additional info."

Please see the debug output in the zip file. It should be self-explanatory.

There are plenty of issues about PDC!

Please re-open!

[2017-12-27 19:45] #9081 closed

[2017-12-27 19:45] Maijin commented on #9080
There are a lot of issues but there is too much there that can be exploitable...

[2017-12-27 19:46] beaumontk commented on #9081
Why?

[2017-12-27 19:47] Maijin commented on #9081
Because I told you what to do in the other issue.

[2017-12-27 19:48] beaumontk commented on #9081
You didn't look at my debug output!

    On Wednesday, 27 December 2017, 17:47, Maijin <notifications@github.com> wrote:

 Because I told you what to do in the other issue.—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-12-27 19:49] Maijin commented on #9081
The debug output doesn't look like pdf or pdc and I did look at them

[2017-12-27 19:50] Maijin commented on #9081
Continue discussion on 9080

[2017-12-27 19:52] Maijin commented on #9080
This is what I have in pdf:

![image](https://user-images.githubusercontent.com/1408600/34391701-c57c29e6-eb47-11e7-815f-56bb5d549b4b.png)

This is what you provided:
![image](https://user-images.githubusercontent.com/1408600/34391712-d960a6da-eb47-11e7-916f-c856f1c73a81.png)

[2017-12-27 19:57] Maijin commented on #9080
Could you provide with what in the pdc output is wrong ? Because from your pdc output it's not clear at all...

![image](https://user-images.githubusercontent.com/1408600/34391845-99b9f530-eb48-11e7-83ab-d6c8afef2edc.png)

[2017-12-27 19:58] radare commented on #9080
pdc must be improved. And its known to be far from perfect. But having proper testcases can help us to improve it. Do you want to try fixing that issue?

[2017-12-27 20:07] beaumontk commented on #9080
Compare the PDF debug output with that of PDC.PDC is missing HUGE chunks of code.I numbered the output from PDC 1-5. You will find these numbers in the PDF output, but the rest of the PDF output is missing from PDC.
In each case, ds_print_ptr_0 shows the index in use. ds_disassemble ds->asmop.buf_asm shows the asm code for that index.
I can provide the printf statements in the code if that will he

[2017-12-27 20:26] beaumontk commented on #9080
Here are the printf statements:

/home/kb/01_dummy/radare2/libr/core/disasm.c
line 2834 in MY_CODE
[code]
/home/kb/01_dummy/radare2/libr/core/disasm.c
line 1664 in MY_CODE
[code]

I can try to find the reason for this problem, but I'm VERY slow. Anybody who knows the code should be able to solve the problem quickly. If nobody is willing to look at it, then I will have no choice but to go it alone.

[2017-12-27 20:30] invictus1306 opened #9082 "ARM rpi32 debugging - child stopped with signal 11"
Trying to use r2 to debug a program under raspberry pi, these are some information:
- Raspberry Pi 3 Model B ARM-Cortex-A53
- /etc/os-release
PRETTY_NAME="Raspbian GNU/Linux 8 (jessie)"
NAME="Raspbian GNU/Linux"
VERSION_ID="8"
VERSION="8 (jessie)"
ID=raspbian
ID_LIKE=debian
HOME_URL="http://www.raspbian.org/"
SUPPORT_URL="http://www.raspbian.org/RaspbianForums"
BUG_REPORT_URL="http://www.raspbian.

[2017-12-27 20:35] beaumontk commented on #9080
PDC output:
[code]

[2017-12-27 20:37] beaumontk commented on #9080
PDF output:
[code]

[2017-12-27 20:37] beaumontk commented on #9080
I can try to find the reason for this problem, but I'm VERY slow. Anybody who knows the code should be able to solve the problem quickly. If nobody is willing to look at it, then I will have no choice but to go it alone.

[2017-12-27 21:26] beaumontk commented on #9080
https://github.com/Maijin

[2017-12-27 22:43] Maijin commented on #9080
@beaumontk I cheated hehe, what you can do instead of running aa is run only a partial analysis on the function: `af @ 0x00598f1c` then do a `pdf @ 0x00598f1c` ; `pdc @ 0x00598f1c` 😉

[2017-12-27 22:58] radare commented on #9080
try now

[2017-12-27 23:38] karliss commented on #8979
I might be misunderstanding the use case behind this issue. Isn't avoiding permanent environment changes for whole r2 the whole point of changing env temporarily?  Similar effect can be achieved on windows by `!set var=value && cmd`. Unless there is other use case beside running shell commands, having to use platform specific way of setting environment doesn't seem like too much of a problem as co

[2017-12-28 00:40] radare commented on #8979
yeah, there’s not really much use for it, but its a generic way to achieve that without having to use different syntax when running ! and set the value with r_num_math from a expression to resolve flags and eval vars. so, i think it’s handy in some situations

[2017-12-28 00:46] beaumontk commented on #9080
will try tomorrow

and this?

I was thinking that maybe a better idea would be a NEW function: PDE or PDFE
This would be PDF enhanced with ESIL. It could then show all the text strings that PDC attempts to show.

What do you think?

[2017-12-28 06:34] beaumontk commented on #9080
[code]

[2017-12-28 06:35] beaumontk commented on #9080
GDB output:

[code]

[code]

[code]

[code]

[code]

[code]

[2017-12-28 06:41] beaumontk commented on #9080
r_core_pseudo_code seems to be using the address from a branch instruction to process the next block

GDB output

[code]

[code]

[code]

[code]

[code]

[code]

[2017-12-28 06:54] beaumontk commented on #9080
r_core_pseudo_code seems to be using the address from a branch instruction
to process the next block. But then fails to process the skipped blocks.
It also processes the block at 0x59910c twice?

GDB output

[code]

[code]

[code]

[code]

[code]

[code]

[2017-12-28 09:43] pragyan1994 commented on #3951
radare2$: r2 -d ls
Child killed
ptrace: Cannot attach: Invalid argument
Possibly unsigned r2. Please see doc/macos.md
ERRNO: 22 (EINVAL)
[w] Cannot open 'dbg:///bin/ls' for writing.

having this error! How to troubleshoot

[2017-12-28 10:05] XVilka opened #9083 "Move plugins, r2pm, etc to $HOME/.local"
Currently r2 saves everything in `.config`, while this kind of stuff should be saved in `.local` according to XDG:

[code]

May be put r2pm cache in .cache too.

[2017-12-28 10:10] Maijin commented on #3951
Please see doc/macos.md it's written.

[2017-12-28 12:18] radare commented on #9083
agree. xdg ftw

[2017-12-28 12:21] radare commented on #9080
yes, the pdc loop must be rewritten, its not good as it is, no need to debug it, just reading the code makes that obvious. i did a workaround to get more coverage but must be rewritten, didnt had time for this. also, you can use eprintf, works way better than any gdb :P

[2017-12-28 12:22] radare commented on #9082
cant reproduce, works fine in my rpi32

[2017-12-28 13:35] #9071 closed

[2017-12-28 13:43] invictus1306 commented on #9082
Have you tried with a rpi 3? Please could you give me these information:
- /etc/os-release
- with gdb "info proc mapping"

Thank you

[2017-12-28 15:16] radare commented on #9082
[code]

[2017-12-28 15:17] radare commented on #9082
[code]

[2017-12-28 15:18] radare commented on #9082
this is an rpi1 running voidlinux, the other rpi i have is running archlinux in arm64 mode

[2017-12-28 15:18] radare commented on #9082
<img width="606" alt="screen shot 2017-12-28 at 16 18 08" src="https://user-images.githubusercontent.com/917142/34414640-ba84cd06-ebea-11e7-9ead-51956d523ddf.png">

[2017-12-28 17:55] beaumontk commented on #9080
Thanks Pancake, an improvement but still missing stuff. Maybe I'll have a look at the code tomorrow.
Svenito, any idea how long it might take to fix? My .so above will be a good testing option. The function should show fopen, fclose, fread, etc and message strings.

[2017-12-28 20:44] radare commented on #9080
All this code is in libr/core/pseudo.c

Svenito said that he will take a look. He did a pdc in js as a plugin for r2. So i bet he have some ideas to improve that code too.

[2017-12-29 04:09] XVilka commented on #6851
See also https://github.com/RUB-SysSec/Marx thanks to @radare
Paper is here https://www.syssec.rub.de/media/emma/veroeffentlichungen/2016/12/22/marx_ndss2017.pdf

[2017-12-29 04:25] XVilka commented on #9078
@kriw you mean with `ta` command? Thanks, I'll fix it.

[2017-12-29 04:27] XVilka commented on #7594
@SSoulaimane is it still a problem?

[2017-12-29 04:31] XVilka commented on #2032
We need better page for [BiDirectional](https://gist.github.com/XVilka/a0e49e1c65370ba11c17) text support across terminals, like we did for [TrueColors](https://gist.github.com/XVilka/8346728). So it will be easier to push terminal developers and easier track the progress.

[2017-12-29 04:36] XVilka commented on #4328
Wonder, can it be a problem of a paths?
[code]
Is sequence "/..//" ever valid?

[2017-12-29 05:08] bannsec opened #9086 "load project -> debug not working"
So i've never gotten this to work, figured it was time to poke an issue at it.

Basically, I open up the binary with r2 by itself, annotate and do other things, then save it as follows:

[code]

This is fine. However, I now want to open it up and then run it in a debugger. I cannot get this to work. Examples:

[code]

I've tried different renditions of this, but cannot get it to both load up  the

[2017-12-29 06:14] XVilka commented on #921
So now the biggest priority of improving Windows support is to fix all broken tests and enable depending on them on AppVeyor: ` OK 5345 BR  872 XX 1744 FX    0`

[2017-12-29 06:28] XVilka opened #9088 "Enable Mingw32 and Cygwin builds on AppVeyor back"
The point is, we have more jobs on AppVeyor (3 or 4 parallel jobs) than on Travis, so for commit or pull request to get a "green light" from those we're always waiting for Travis, while AppVeyor usually checks everything much faster. Maybe we now can return Mingw32 and Cygwin builds (may be WSL too?) in AppVeyor? What are your thoughts?

cc @radare @AlexKornitzer @xarkes @Maijin

[2017-12-29 06:59] XVilka commented on #8950
@xarkes done.

[2017-12-29 07:29] xarkes commented on #9088
I'm ok with that but only if we run the tests on every job. Also I don't
want to play with mingw/cygwin it is such a pain

On Dec 29, 2017 7:28 AM, "Anton Kochkov" <notifications@github.com> wrote:

[2017-12-29 08:43] radare commented on #9086
Dont pass flags after -d

[2017-12-29 10:14] charanjit-singh opened #9090 "Get / graph not found on cloud"
[cloud.rada.re/graph/](cloud.rada.re/graph/)
Open in new tab

[2017-12-29 10:44] Maijin commented on #9086
Unrelaed to -d, this is a duplicate to https://github.com/radare/radare2/issues/8582

[2017-12-29 10:45] Maijin commented on #9086
Please subscribe to the other issue, closing here

[2017-12-29 10:45] #9086 closed

[2017-12-29 12:02] radare commented on #9090
Wat

[2017-12-29 14:10] beaumontk commented on #9080
https://github.com/radare
Hope you have time to look at my latest debug output after your changes. I'm finding it VERY hard to follow what's going on. Line 41 in PDC is very strange. Let me know if you need the code with the printf statements.

file:///home/kb/01_dummy/02b_libgame/02b_libgame.zip

[2017-12-29 14:11] beaumontk commented on #9080
file:///home/kb/01_dummy/02b_libgame/02b_libgame.zip

[2017-12-29 14:12] beaumontk commented on #9080
https://github.com/radare
Hope you have time to look at my latest debug output after your changes. I'm finding it VERY hard to follow what's going on. Line 41 in PDC is very strange. Let me know if you need the code with the printf statements.

[2017-12-29 14:22] beaumontk commented on #9080
[02b_libgame.zip](https://github.com/radare/radare2/files/1593251/02b_libgame.zip)

https://github.com/radare
Hope you have time to look at my latest debug output after your changes. I'm finding it VERY hard to follow what's going on. Line 41 in PDC is very strange. Let me know if you need the code with the printf statements.

[2017-12-29 14:23] beaumontk commented on #9080
How do I use the js PDC plugin of Svenito?

[2017-12-29 15:35] Maijin commented on #9080
You can use @radare instead of https://github.com/radare

[2017-12-29 15:36] #9090 closed

[2017-12-29 15:38] Maijin commented on #9088
The current way it works to generate the installer seems to be ok

[2017-12-29 16:50] beaumontk commented on #9080
Don't understand this! Where do I do this?

[2017-12-29 17:14] Maijin commented on #9080
Using your keyboard, just do @ followed by the username

[2017-12-29 17:56] beaumontk commented on #9080
@Maijin Got it!

[2017-12-29 17:57] Maijin commented on #9080
good

[2017-12-29 18:09] beaumontk commented on #9080
@Maijin Please delete spurious stuff

[2017-12-29 21:03] invictus1306 commented on #9082
Some updates, I have tested it with a rpi 2 with the same Raspbian image and it work fine, but with the rpi 3 I have the same problem, in details:
I set a breakpoint here:

https://github.com/radare/radare2/blob/24aa0bbb83498038773dddb0e420f6bb74c863e0/libr/debug/p/debug_native.c#L276

Then I run the program

[code]
and after this instruction

`int ret = ptrace (PTRACE_CONT, pid, NULL, contsig);`

[2017-12-29 21:23] radare commented on #9082
One of the reasons that make me think it could be is a bug when detecting the base address of the binary, so symbols are loaded in a bad place. Maybe debian have some changes in procpidmaps. Can you check if pd@main works in the debugger? The baddr is shown when you start the debugger

[2017-12-29 21:47] invictus1306 commented on #9082
To note the presence of _libarmmem.so_ in procpidmaps

[code]
_pd@main_ seems to work properly

[code]

[2017-12-29 22:38] Fineas opened #9097 "Graphic View for Sections"
Maybe is me the one that does not know how to do it, or it truly isn't implemented.
I would suggest a Graphical View of the Sections.
My struggle is that I must continuously increase the offset for:` pd <offset> @ section.<name>`
It would be much easier to be able to do it the same way we do it with functions: `VV` and just press the `down arrow key` to scroll threw the section itself.

I hope thi

[2017-12-29 22:43] radare commented on #9097
S=

[2017-12-29 22:43] radare commented on #9097
Pd argument is not an offset

[2017-12-30 01:08] radare opened #9098 "Output of rabin2 -S sucks"
should be compacted like its done with -i and -s

[2017-12-30 01:08] radare commented on #9098
current output:
[code]

[2017-12-30 01:09] radare opened #9099 "Implement iS."
Should print the name of the section in the current offset.

[2017-12-30 01:15] #8824 closed

[2017-12-30 01:23] #9098 closed

[2017-12-30 01:23] radare commented on #9098
New output:
[code]

[2017-12-30 02:44] #9044 closed

[2017-12-30 04:20] #9063 closed

[2017-12-30 04:26] radare commented on #7160
IDIV = signed division
IMUL = signed multiplication
JA/JB/JG = signed jumps
JS = if sign bit

To check if the instruction uses the overflow bit:
[code]

[2017-12-30 04:28] radare commented on #7160
We should start by adding bool RAnalOp.signed maybe?

[2017-12-30 04:31] radare commented on #9051
but showing the baddr somewhere is useful, any idea where we can make this info available if we remove the dummy eval var?

[2017-12-30 04:32] radare commented on #7160
By knowing if an instruction is "signed", we may mark the registers used accordingly.

[2017-12-30 04:33] radare opened #9100 "Imports in the dyldcache"
https://gist.github.com/Siguza/3cc8021cb4a029affc536279f7648211

[2017-12-30 04:41] radare commented on #741
any chance for this?

[2017-12-30 04:48] radare commented on #6093
i have started to support some mmx/xmm by pushing/poping 2 64bit values to build a 128 one

[2017-12-30 08:49] Fineas commented on #9097
my bad, `pd <num_of_bytes> @ section..<name>` *
I know about S= , but I was talking about something more like a graph view for `section..bss` or `section..data` .

[2017-12-30 10:54] igiagkiozis opened #9101 "Meson build MSVC - Bug and Fix - MS Documentation Update"
Attempted to build radare2 with Meson with a Visual Studio 2017 target.
1. The documentation is a tad out of date on this, the first section on Meson is fine, but there is no meson.bat in the source. At any rate, anyone that wants to compile radare2 for the aforementioned target, you can use the following command issued from the radare2 source root dir:

where 'build' is the desired build output d

[2017-12-30 11:42] invictus1306 commented on #9099
Useful as a command, I would like to work on this

[2017-12-30 17:38] xarkes commented on #9101
There is an "under construction" script in sys/meson.py which replaces meson.bat. It aims at automating the build on Windows (which I find harder than on linux due to VC vars), building radare2, building SDB, and automating the installation script.
Sorry about the non updated documentation.

[2017-12-30 18:10] igiagkiozis commented on #9101
That's okay! Who do I contact if I'd like to contribute? (i.e. so that I can submit a pull request instead of nagging here...)

[2017-12-31 08:28] maratmkhitaryan commented on #4793
r_anal  anal Lol :)

[2017-12-31 08:30] maratmkhitaryan commented on #4793
I too error:
syntax error: error in error handling
syntax error: error in error handling
syntax error: error in error handling

r2 g++ Desktop/lol.cpp

[2017-12-31 10:01] Maijin commented on #4793
Hello,

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2017-12-31 10:01] Maijin commented on #4793
Please reopen an issue if necessary.

[2017-12-31 10:05] Maijin commented on #9101
CMAKE support is already done, but it's not planned to be merged in master afaik

[2017-12-31 10:33] xarkes commented on #9101
If you want to contribute you can ask questions on irc/Telegram, or just make a pull request and one of us will review it and give you hints/advices.

[2017-12-31 12:45] beaumontk opened #9104 "PDF for arm asm code - show text strings (feature request)"
ARM asm code contains pointers at the end of functions which have text strings.

PDC already uses ESIL to calculate the actual address of the text string and show it  (when PDC works correctly on a small library).

PDF already shows the ptr for ldr instructions eg.

[code]
The calculation for the actual address of the text string is:

[code]

(*about) 0x8 depends on subsequent instructions. Not su

[2017-12-31 12:53] Maijin commented on #9104
Add the binary here too

[2017-12-31 13:48] beaumontk commented on #9104
[libgame.so.zip](https://github.com/radare/radare2/files/1595201/libgame.so.zip)

[2017-12-31 14:10] radare commented on #9104
I dont understant the issue or the question :??

[2017-12-31 14:26] beaumontk commented on #9104
It's NOT an issue, it"s a feature request. Look at the attached PDF listing. It's edited to show text strings labelled kb_data.  eg
[code]
I am suggesting that PDF find and show these strings like PDC tries to do.

[2017-12-31 14:29] beaumontk commented on #9104
Here's the PDF output from my small test library:
`function sym.kb_test2 () {
    loc_0x11e0:

     //CALL XREF from 0x00000fe0 (sym.kb_test1_getFile)
       push (fp, lr)
       fp = sp + 4              //"@0x7c56a274"
       sp = sp - 8
       r3 = 0
       [fp - 8] = r3
       r3 = [fp - 8]
       r3 = r3 + 1
       [fp - 8] = r3
       r3 = [pc + 0x10]         //[0x1218:4]=0x165c
       r3 = p

[2017-12-31 17:00] madushan1000 opened #9107 "ragg2-cc failed to compile any code with Xcode 7"
### Work environment

| Questions                                | Answers
|------------------------------------------|--------------------
| OS/arch/bits                             | Mac OS X 10.11 el capitan
| File format of the file you reverse      | shellcode
| Architecture/bits of the file.           | arm
| r2 -v full output                        | radare2 2.2.0 0 @ darwin-x86-64 git.2.2.

[2017-12-31 21:13] radare commented on #9107
Please send a pr fixing the issue if you have some spare time. Thanks!

[2018-01-01 00:15] P4N74 commented on #741
we can use dwarf plugin for this purpose (that would need some more code since currently it extracts only structures and unions. But loading types for function variables would be easy). Only problem with that is the dependency on libdwarf. I don't know how r2 currently reads dwarf information. If r2 has its own code, then we might have to rewrite plugin.

[2018-01-01 01:41] radare commented on #741
Its ok as a 3rd party plugin as its now

[2018-01-01 12:26] madushan1000 commented on #9107
@radare Hi, I create the PR #9108.

[2018-01-01 13:47] zadlg commented on #9099
I've made something for that

[2018-01-01 19:02] evandrix opened #9111 "`syntax error: error in error handling` error message"
### Work environment

OS: OSX 10.12.6

$ `r2 -v`
[code]

$ `r2 -V`
[code]

### Expected behavior
No error message should be displayed, and `r2pipe` should work properly and interface with `r2`.

### Actual behavior
Error message `syntax error: error in error handling` is displayed 3 times.

### Steps to reproduce the behavior
$ `brew install radare2`
... then try to run it on any file at all

###

[2018-01-02 17:26] radare commented on #9111
thats a known bug of the brew pkg, it was filled a while ago. using r2 from git works fine.

this error message doesnt belongs to r2

[2018-01-02 17:26] #9111 closed

[2018-01-02 17:27] radare commented on #9111
see https://github.com/radare/radare2/issues/4793

[2018-01-02 17:27] radare commented on #4793
related https://github.com/radare/radare2/issues/9111

[2018-01-02 17:27] radare commented on #9111
pls fill an issue in brew, we dont maintain that package

[2018-01-02 17:55] Maijin commented on #7177
Don't forget to close or use reference to close like "Add zoom.in Fix #7177" in your title or commit message @sivaramaaa 😉

[2018-01-02 17:55] #7177 closed

[2018-01-02 17:59] sivaramaaa commented on #7177
This could be still improved , and can honor some more commands like p=e etc , hence i didin't close
but anyways it's ok :) , thanks @Maijin  !!!

[2018-01-02 18:03] Maijin commented on #7177
yeah well i guess need to open another one with checklist for all the one that need to respect zoom.in a bit like the search.in issue

[2018-01-02 18:04] Maijin commented on #7177
and same for anal.in

[2018-01-02 18:17] evandrix commented on #9111
alright, I tried to compile it from git i.e. `git clone --recursive https://github.com/radare/radare2 && cd radare2 && sys/install.sh`, but the following error happens:
[code]

[2018-01-02 18:23] radare commented on #9111
this is not the error. the error should be some lines above, grep for ‘error:’

and yep. master is broken because i merged a PR that misses a file. fixing right now, wait few mins and run the same script again. also you should remove the brew pkg before doing that

[2018-01-02 18:25] evandrix commented on #9111
alright, good to know. thanks ^_^!!

[2018-01-02 18:40] alvarofe commented on #9006
@YugoCode open issues on the repo where the script is so when I get spare time I can tackle it.

[2018-01-02 18:47] #9099 closed

[2018-01-02 18:48] #9107 closed

[2018-01-03 10:31] radare commented on #4328
yes /..// is valid on all unixes

[2018-01-03 10:31] radare commented on #4328
how to reproduce? builds fine on all my machines, and farm

[2018-01-03 13:44] ctlayon commented on #8862
I'm also experiencing this with Windows 7 64 bit, in VirtualBox R2 exits after displaying the opened pipe messages while qemu stays open but never establishes a connection to the debugger.

[2018-01-03 16:43] XVilka commented on #4328
see ci.rada.re

On Jan 3, 2018 6:31 PM, "radare" <notifications@github.com> wrote:

[2018-01-03 18:27] evandrix commented on #9111
can confirm that it compiles beautifully without errors now 👍

$ `r2 -v`
[code]

$ `r2 /bin/ls`
[code]

[2018-01-03 19:31] pyllyukko opened #9123 "The "show all columns starting from column n" (~[n-]) grep is broken."
### Work environment

| Questions                                | Answers
|------------------------------------------|--------------------
| OS/arch/bits                             | Slackware x86 64
| r2 -v full output                        | radare2 2.2.0 0 @ linux-x86-64 git.2.2.0
| r2 -V full output                        | 2.2.0 all the way

### Expected behavior

Print columns starting fr

[2018-01-03 22:52] marrakchino commented on #9073
@radare I'd like to work on this feature.
@Maijin could you please specify the expected output? Is it as simple as printing the types in json format or are there details you didn't mention?
Thanks.

[2018-01-03 22:55] kartone opened #9126 "Bad LEA disassembled opcodes"
### Work environment

| Questions                                | Answers
|------------------------------------------|--------------------
| OS/arch/bits                             | Linux kali 4.14.0-kali1-amd64
| File format of the file you reverse      | ELF
| Architecture/bits of the file.           | x86/64
| r2 -v full output                        | radare2 2.3.0-git 16905 @ linux-x86-64

[2018-01-04 00:17] Maijin commented on #9073
Something like [{"type": "char", "size": 3}, etc.

You can also add the pf structure associated like "c" for char etc, information is there see `tk~char`

to get something like [{"type": "char", "size": 3, "format": "c"},{"type":"char *"...

[2018-01-04 00:22] Maijin commented on #9123
Can you make a PR for this test please ?

[2018-01-04 00:22] radare commented on #9126
Thats expected. It has been discussed recently to make the syntax more readable, we can bring back the old syntax for lea, but as long as lea is not accessing memory the [] is confusing. We should probably relay this for an asm filter or asm.syntax.

[2018-01-04 07:45] pyllyukko commented on #9123
Will do. I just wanted some confirmation to this issue before doing the PR.

Same applies with:

| Questions                                | Answers
|------------------------------------------|--------------------
| OS/arch/bits                             | Debian 9 x86 64
| r2 -v full output                        | radare2 2.3.0-git 16985 @ linux-x86-64 git.2.2.0-101-g8526f3393
| r2 -V full ou

[2018-01-04 11:35] marrakchino commented on #9073
Ok @Maijin , @XVilka are you already working on this?

[2018-01-04 12:08] Maijin commented on #9073
Go ahead @marrakchino

[2018-01-04 14:20] radare opened #9128 "Support binary diff format too"
There'r standards like bsdiff and gdiff:

https://www.w3.org/TR/NOTE-gdiff-19970901

[2018-01-04 14:47] radare commented on #8563
cc @skuater

[2018-01-04 17:05] Svenito opened #9130 "Add rtscp and clflush to nz"

[2018-01-04 19:08] ctlayon commented on #8862
Also experiencing a similar error in workstation 14:
[code]

[2018-01-04 19:51] beaumontk commented on #9080
Pancake,
I used your latest version of psuedo.c and found a VERY INELEGANT way to fix it.
It is best called a FRIG!

Each time the loop breaks with nbb==NULL or fail==UT64_MAX, loop through all the blocks and check for the next NOT visited.
Only exit when ALL blocks have been visited.

The order of blocks visited is probably incorrect this way. I haven't checked yet.
Also, I had a problem with ind

[2018-01-04 20:10] Maijin commented on #8563
Check https://github.com/countercept/radare2-scripts

[2018-01-05 07:54] XVilka commented on #6971
See also https://github.com/radare/radare2/issues/9128

[2018-01-05 12:07] zadlg commented on #9128
I'm working on that

[2018-01-05 13:36] sivaramaaa commented on #7145
I think the issue is solved now , if not report here i will re-open it :)

[2018-01-05 13:36] #7145 closed

[2018-01-05 15:22] zadlg commented on #9128
(https://github.com/radare/radare2/compare/master...zadlg:radiff2_impl_gdiff_support?expand=1)[https://github.com/radare/radare2/compare/master...zadlg:radiff2_impl_gdiff_support?expand=1]

I've begun something. I followed the GDIFF standard, and I propose the option `-B patch_file` for a binary output

[2018-01-05 22:37] pelijah commented on #8690
Prepared experimental Python variant of meson_install today. How it looks:
[code]
Seems to be working. _copy(), _move(), _copytree() are just wrappers around functions from shutil module.

[2018-01-06 04:46] MineRobber9000 opened #9138 "GameBoy function names at addresses below $0100 act weirdly"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu xenial/x86_64/64
| File format of the file you reverse (mandatory)      | GB
| Architecture/bits of the file (mandatory)            | LR35902/8
| r2 -v full output, **not t

[2018-01-06 13:15] sivaramaaa commented on #6863
This  works now even with e anal.jmptbl = true , so closing it !!!

[2018-01-06 13:15] #6863 closed

[2018-01-06 14:02] zadlg commented on #9128
Solved, cf https://github.com/radare/radare2/pull/9140

[2018-01-06 14:08] zadlg commented on #9123
Strange, `px~:1[1- ]` actually works. The problem comes from the `-` which is right before `]`. I'll try to fix that

[2018-01-06 14:55] pyllyukko commented on #9123
For me ```px~:1[1- ]``` also prints column ```0```, which it shouldn't.

[2018-01-06 16:21] zadlg commented on #9123
Another bug.
I've fixed both.

[2018-01-06 20:46] neeocf commented on #9126
I agree that [] would be confusing, but the "[r|e]bp - X" is not replaced by "local_Xh" for lea as it used to be (and it was very helpful).

[2018-01-06 22:38] lowlyw opened #9144 "can't change asm.cpu from rbin plugins"
can't change asm.cpu from rbin plugins

setting

[code]

doesn't work

[2018-01-06 22:45] Maijin commented on #9144
https://github.com/radare/radare2/issues/8088

[2018-01-07 03:53] sivaramaaa commented on #9123
Nice @zadlg !!! , also from next PR use reference like  "Fix #9123" to  your title or commit message , to automatically close the issue :)  (you have added 'issue' in between )

[2018-01-07 03:53] #9123 closed

[2018-01-07 05:18] sivaramaaa commented on #5570
@radare , is the issue still present now , i thinks aa analyze forwarded APIs , imported functions by now
canal.c -
[code]

[2018-01-07 09:47] radare commented on #9126
Oh! Thats a bug then

[2018-01-07 09:52] radare commented on #9144
Because asm.cpu top level is an eval var from core. But rbininfo cpu should be honored as arch is

[2018-01-07 13:57] radare commented on #5570
closing @sivaramaaa ?

[2018-01-07 14:03] sivaramaaa commented on #5570
yup i would close after writing a test (suggested by @Maijin)

[2018-01-07 14:08] radare commented on #8526
Also, the output of ob* and obq is not good either

[2018-01-07 18:18] Maijin commented on #8823
ping 1

[2018-01-07 19:44] radare opened #9148 "Implement RHash type-subtype to select checksum variants"
related to https://github.com/radare/radare2/pull/9122

[2018-01-07 23:17] kartone commented on #9126
@neeocf That is exactly what I meant! Completely agree with you.

[2018-01-07 23:54] OhioDuckFarmer opened #9149 "Ps command does not save source file information, causing other commands to fail when project file is used"
`
### Work environment

Q: OS/arch/Bits
A: LSB Version:	core-9.20160110ubuntu0.2-amd64:core-9.20160110ubuntu0.2-noarch:printing-9.20160110ubuntu0.2-amd64:printing-9.20160110ubuntu0.2-noarch:security-9.20160110ubuntu0.2-amd64:security-9.20160110ubuntu0.2-noarch
   Distributor ID:	Ubuntu
   Description:	Ubuntu 16.04.3 LTS
   Release:	16.04
   Codename:	xenial

Q: File format of the file you reverse

[2018-01-08 09:18] radare commented on #9100
Done in master

[2018-01-08 09:18] #9100 closed

[2018-01-08 09:21] radare commented on #8526
Fixed ob in master

[2018-01-08 09:21] radare commented on #8526
we need ob* and obq

[2018-01-08 09:28] #8526 closed

[2018-01-08 09:56] Maijin commented on #9149
Can you use Markdown code syntax when pasting output/code so it's readable ?

![image](https://user-images.githubusercontent.com/1408600/34665976-81390208-f462-11e7-8151-4cf226cdb2cb.png)

[2018-01-08 11:09] OhioDuckFarmer commented on #9149
Fixed. Sorry about that

[2018-01-08 12:05] radare commented on #9144
well, the field exist but its not displayed by rabin2 -I, so its an easy fix

[2018-01-08 12:05] radare commented on #9128
thanks!!

[2018-01-08 12:05] #9128 closed

[2018-01-08 13:18] #9126 closed

[2018-01-08 13:18] radare commented on #9126
FIxed by rollbacking the [] change. also it was inconsistent with the assembler and syntax of [] is memory reference which is base+delta, so other syntax would be wrong for a generic assembler

[2018-01-08 14:11] #9144 closed

[2018-01-08 14:14] Maijin commented on #8088
@condret it's done now https://github.com/radare/radare2/commit/4427537998bac1914422121ae7424f780bd07c22

[2018-01-08 14:18] radare commented on #9138
this is unrelated to gb afaik

[2018-01-08 14:19] radare commented on #9130
ping

[2018-01-08 14:20] Svenito commented on #9130
Ooops, added wrong issue # to #9136
Cloding

[2018-01-08 14:20] #9130 closed

[2018-01-08 15:21] astuder commented on #9138
I think this is the same issue I reported on 8051. The cut-off where numbers in the disassembly are replaced with flags can be set with asm.minvalsub. Default is 0x100. However, lowering this parameter may create a new issue, as r2 will start interpreting immediates as pointers.

I think this problem could be resolved by consulting RAnalOp when doing the substitution.

- Always replace jump target

[2018-01-08 15:24] vertur commented on #9148
My thoughts:

#### 1. Type-Subtype subdivision:
Type = algorithm family with the same context.
Subtype = algorithm presets (parameterization) if any.

#### 2. Unified algorithm description like this:
[code]

#### 3. Enumerate all subtypes, and perform hash computation sequence:
[code]

#### 4. Bitset limited space problem from integral types:
[code]
ut64 => 64 bits, 64 hash algorithms at the max.

[2018-01-08 15:25] radare commented on #9097
graph of a section? wtf

[2018-01-08 15:25] radare commented on #9097
any example of what you have in mind? i dont understand the proposal

[2018-01-08 15:28] radare opened #9151 "izzz* and izzzq not working"
the '*jq' suffix is ignored for `izz`, works fine with `iz`

wip patch for someone else to take it:

[code]

[2018-01-08 15:46] GovanifY opened #9152 "NSOs have more invalid than correct instructions"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Gentoo AMD64
| File format of the file you reverse (mandatory)      | NSO(Nintendo Switch)
| Architecture/bits of the file (mandatory)            | ARM(64)
| r2 -v full output, **

[2018-01-08 16:38] radare commented on #9152
cc @RKX1209

[2018-01-08 16:42] radare commented on #9152
i doubt this is a problem in capstone, its more probably that sections are wrongly loaded, so translating this python code into C should be the way to go. see the nso.c if you want to contribute.

I dont have any Switch or time/prio to do that right now, so if you want to contribute you are welcome.

Also, is this binary shareable? can we put it in the radare2-regressions repo or is there any kind

[2018-01-08 16:47] radare commented on #9130
clode it

[2018-01-08 16:50] GovanifY commented on #9152
I don't think you could put it in radare2-regressions but you could always try to craft one using [this tool](https://github.com/switchbrew/switch-tools/blob/master/src/elf2nso.c)
As for capstone I said it could be an issue as I've hit similar issues in the past. I will look at the nso loader asap

[2018-01-08 16:51] radare commented on #9152
here’s the code

https://github.com/radare/radare2/blob/master/libr/bin/p/bin_nso.c <https://github.com/radare/radare2/blob/master/libr/bin/p/bin_nso.c>

[2018-01-08 16:52] radare commented on #9152
the arm64 disassembler works fine for ios, android binaries, so my guess is that it is trying to disassemble data instead of code because of the sections being wrong.

[2018-01-08 17:02] radare commented on #9138
ptr and val are not used in the same way on all archs, but those replaced values are not taken from the AnalOp, but from the string. and it’s actually the same problem because if you do mov eax, 3 and you have a flag at offset 3, even if its not a function it will be shown and will mess the disasm.

one option would be to enforce replacing function names ALWAYS, no matter the offset, and keep hono

[2018-01-08 17:16] astuder commented on #9138
I agree that ptr vs. val is ambiguous. But if AnalOp is available in the context where values are substituted, I think it should pretty save to rely on op->jump to decide whether to apply minvalsub.

Not all jump targets are function entry points.

[2018-01-08 17:39] radare commented on #9138
its not that simple..

Sometimes the value is not really meaningful by itself, like a memory reference, or a relative address computed from a reference register, in those cases RAnalOp doesnt works, but RParse is able to catch that.

[2018-01-08 18:12] astuder commented on #9138
I agree on the challenge of analyzing val and ptr.

But for JMP and CALL op-types it should be pretty save to substitute below the minvalsub threshold.

[2018-01-08 18:46] RKX1209 commented on #9152
@GovanifY Hi. You need to add '-e io.cache=true' to r2 because NSO loader decompress packed binary at loading time:)

[2018-01-08 18:51] GovanifY commented on #9152
@RKX1209 It indeed fixed the issue, but shouldn't we document that/enable it when loading the NR/SO module?

[2018-01-08 18:54] RKX1209 commented on #9152
@GovanifY Yeah. That's true. Hmm.. Where should I document about it? > @radare

[2018-01-08 18:54] Maijin commented on #9152
Maybe you can do like some plugin and eprintf that when opening the NR/SO module?

[2018-01-08 18:55] Maijin commented on #9152
See https://github.com/radare/radare2/blob/master/libr/bin/p/bin_elf.c#L66 or even https://github.com/radare/radare2/blob/master/libr/bin/p/bin_bf.c#L47

[2018-01-08 18:58] RKX1209 commented on #9152
OK. I'll send patch later.

[2018-01-08 21:27] radare commented on #9152
The eprintf is a nice workaround but we shoukd improve the iocache and allowing bin plugins to set this option for a specific range or fd will be good.

Feel free to contribute on that change too

[2018-01-08 22:40] vertur commented on #9148
I may propose a new hashing API:
[code]

So all hashing internals are hidden from the user. It is still possible to have simultaneously hashing with several algorithms and select them one-by-one by known index/name or at-once by comma list names. For more flexibility we can use name patterns instead of names.
[code]

Enumeration all known algorithms is trivial, but it brings to user a lot of names

[2018-01-09 04:13] XVilka opened #9156 "capstone patch failing"
[code]

[2018-01-09 04:14] XVilka commented on #9101
Can be this closed?

[2018-01-09 07:00] #9101 closed

[2018-01-09 11:14] sivaramaaa commented on #9151
@radare i have looked into this issue , detailing it below !!!
izz ---- honors '*jq' no issue with it , works perfectly fine !!!!
[code]
But yeah izzz* is not working , but do we really need izzz because it's nothing but iz + izz with full of duped entries (because iz is a subset of izz)

izz   Search for Strings in the whole binary , isin't that enough ??

[2018-01-09 13:35] Maijin commented on #9151
izzz is for large binaries, try izz on a memory dump ;)

[2018-01-09 13:52] sivaramaaa commented on #9151
@Maijin , yup u are right izzz purpose is for large binaries to just dump string to stdout
but in real u could take a look at cmd_info.c , there is no code for izzz xD
but u could see it is there  in /binr/rabin2.c , so i am implementing izzz for real now !!!!

[2018-01-09 14:13] Maijin commented on #9151
oki

[2018-01-09 15:19] GiuseppeLaurenza opened #9158 "Managing library functions"
Hi to all,
with radare2 is possible to extract different data about functions found in the executable. In this group I think there are also library functions, is it true? Is it possible to not consider these functions?
Regards

[2018-01-09 15:31] Maijin commented on #9158
Could you provide with an expected output ?

[2018-01-09 15:33] GiuseppeLaurenza commented on #9158
@Maijin no because I do not know if the hypothesis is correct :D
If I run afl command, I obtain a table with all functions retrieved into the binary, I ask if these are all "developed code" or they also contains imported/standard functions

[2018-01-09 16:44] Maijin commented on #9158
if it's import, it begins with sym.imp.

[2018-01-09 16:45] GiuseppeLaurenza commented on #9158
ok so it is possible to parse name and discard the entry which start with sym.imp
thanks

[2018-01-09 17:01] Wenzel opened #9159 "IO plugins are initialized twice which may lead to memory leak"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04.3 LTS x86/64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86
| r2 -v full output, **not trunc

[2018-01-09 17:01] Wenzel commented on #9159
![windbg](https://user-images.githubusercontent.com/964610/34732974-81e017ba-f56f-11e7-9abf-330aa9a25433.png)

[2018-01-09 17:06] YugoCode opened #9160 "__objc_selrefs section is empty on latest version"
The ___objc_selrefs_ section is empty after getting the latest version of r2.
I noticed it, because [alvarofes script](https://github.com/alvarofe/r2-scripts/blob/master/ios/objc.py) cannot find any xrefs more. This section is crucial for the analysis.

[code]

[2018-01-09 17:32] GovanifY opened #9162 "NSO does not support symbols"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Gentoo AMD64
| File format of the file you reverse (mandatory)      | NSO(Nintendo Switch)
| Architecture/bits of the file (mandatory)            | ARM(64)
| r2 -v full output, **

[2018-01-09 19:11] radare commented on #9159
As a side note you can do r2 -d vmi://...

Is the same as r2 -D vmi vmi://

[2018-01-09 19:12] radare commented on #9159
Try with -n. My guess is that rbin is trying to open the same file twice. Just a blindnguess

[2018-01-09 19:16] radare commented on #9158
We can maybe add a column in the afl output to specify the section name and map name (file in debugger mode). This will be useful to grep for functions on a specific library if unhave lot of code analyzed on several loaded files.

Keep the issue opened. This is easy to fix

[2018-01-09 19:34] radare commented on #9156
Fixed

[2018-01-09 19:34] rob2e opened #9166 "r2 / rasm2 valid AVR opcodes are disassembled and shown as "invalid""
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian
| File format of the file you reverse (mandatory)      | AVR prog file
| Architecture/bits of the file (mandatory)            | bin file
| r2 -v full output, **not truncated** (mandatory)

[2018-01-09 19:36] radare commented on #9166
I dont think hexpairs are expressed as 0x...

[2018-01-09 19:36] radare commented on #9166
Also that opcode is 0xfae9

Hexpairs ar not affected by endian, numbers do

[2018-01-09 19:40] rob2e commented on #9166
O.K. I tried it, you don't need the 0x in front of the opcode, but try it yourself, what you get as disassembly for fae9 or for e9fa !

[2018-01-09 19:49] RKX1209 commented on #9152
OK. I just added notice message when opening the NSO without io.cache option.

[2018-01-09 20:09] defstryker opened #9167 "Missing semicolon"
https://github.com/radare/radare2/blob/0df2adbe0976e6b1802263dc4bce5d346d37a98c/libr/core/canal.c#L2190

[2018-01-09 20:47] nartes opened #9169 "r2 doesn't allow to change segment perms"
[r_bin_elf_get_sections](https://github.com/radare/radare2/blob/8f6d84c6a2d1ec5a5fa84593639a7d50051c9f27/libr/bin/format/elf/elf.c#L2496) is responsible for generating sections under the linux platform. I'd like to see only sections in there. Showing segments as segments confuses users of rabin2 operations `-O <operation>`. Currently `rabin2 -S` displays sections and segments without a notion of i

[2018-01-09 21:02] #9156 closed

[2018-01-09 21:02] Maijin commented on #9167
next time, do a Pull Request.

[2018-01-09 21:02] #9167 closed

[2018-01-09 22:10] nartes commented on #9169
It might be hacked with `r2 -qc "oo+; wx <perm_byte|07=rwx|05=rx>@@=<list of offsets|0x4c=LOAD0,0x6c=LOAD1,e.g.0x4c 0x6c>" <file>`. The result might be verified with `rabin2 -S <file>` or `readelf -a <file>|grep LOAD`.
The thing is that the update of segment permissions doesn't affect execution permissions.

[2018-01-09 23:02] mrmacete commented on #9160
This problem has been introduced by this commit: https://github.com/radare/radare2/commit/3d8833f47cd930167b3e110ac822421887b6dd96 which detects the `S_ZEROFILL` flag to zero out the `__bss` section.

The cause was a wrong comparison with the `S_ZEROFILL` flag which attributed it to sections which shouldn't be actually zero filled, like the case of `__objc_selrefs`. The zeroing-out of the section

[2018-01-09 23:02] #9160 closed

[2018-01-09 23:11] MineRobber9000 commented on #9138
I agree with @astuder on this one. Jumps and calls (`JP` and `CALL` on the GBZ80 respectively) should always substitute for a label if one exists.

[2018-01-10 02:05] sivaramaaa commented on #9151
I have suggestion here : what about mergring izz and izzz ??

The key diiference bwetween the 2 is :

* izzz -    it  just dumps string without maintaining a list
* izz  -    it  maintains a list and pass it another func for processing it (honoring '*jq')

But i could make izz process the string without a need of list , by doing so izz could handle large binaries
and we could kill izzz

I would li

[2018-01-10 04:37] sivaramaaa commented on #9151
But anyways i have figured it out , doing that would be a lil difficult also don't know if it's worth it !!!
So for now sticking on the plan to implement izzz
Still i would love to have suggestions for the above comment !!!!

[2018-01-10 08:13] radare commented on #9169
Why dont you use -nw?

Also in execution the loader ignores most of the info in the file.

Whats the exact request for this bug? I still dont get the issue... is rabin2-O not working for you? Or you are requesting that option to be available from r2?

[2018-01-10 08:22] YugoCode commented on #9160
@mrmacete Great explanation and fast fix, thank you!

[2018-01-10 08:26] mrmacete commented on #9160
😄 full credit for the fix goes to @lowlyw

[2018-01-10 08:45] Wenzel commented on #9159
@radare , i tried to disable `rbin`, but it's still the same:
![radare2](https://user-images.githubusercontent.com/964610/34763304-52a96760-f5f3-11e7-93a9-f19fae8e55e3.png)

[2018-01-10 10:04] nartes commented on #9169
This `-O p/<section_name>/<permissions>` can be extended to `-O p/<section or segment name>/<permissions>` in rabin2.

[2018-01-10 10:18] nartes commented on #9169
I've updated the issue/feature request, please take a look.

[2018-01-10 11:10] radare commented on #9166
you are confused by the crappy endianness use of other tools

[2018-01-10 12:14] GiuseppeLaurenza commented on #9158
@radare ok I reopen,
I take advantage of this issue to ask which are the rule to name function? For example use sub.nameDLL means that this function is linked from external dll?

[2018-01-10 13:20] rob2e commented on #9166
No! No! No!
It's not that simple!
99% of the opcodes work when you enter them as described in the Atmel documentation and for 1%
of opcodes you take the same order as described by Atmel you get an invalid.
Only this one percent Need a byteswap to be interpreted correctly?

[2018-01-10 13:26] radare commented on #9151
izzzz should not return a list because it can be really really huge. So its just printed

[2018-01-10 13:30] radare commented on #9159
Use r_sys_backtrace() in the open callback so we can see who calls that

[2018-01-10 13:49] radare commented on #9166
Can you send a pr fixing tjis? If this is just an issue with 1 opcode should be 1 line fix.
Maybe @killabytenow can have a look

[2018-01-10 13:53] radare commented on #9169
So... if i understand correctly you want:

* rabin2 -O to be able to change segment permissions
* make rabin2 -O available from r2

Did i  understand it now?

[2018-01-10 13:57] nartes commented on #9169
Just the first, rabin2 -O to change segment permissions. I was not able to find a proper tool for that. It was needed to make a non-trivial permissions for a process map. Currently the hack around mentioned above works for me. But it'd be better to extend the radare project.
Adding this to r2 is not necessary. There's a lot of more important things to change in it.

[2018-01-10 14:03] radare commented on #9169
Feel free to send a patch for this. Also. This must be implemented for each fileformat. Because haddr are not yet fully exposed.

[2018-01-10 14:32] sivaramaaa commented on #9151
What i am suggesting is we could handle izz to without a list !!!
But in current senario since izzz is not maintaing a list , how do u propose to honor '*jq' ...

[2018-01-10 14:40] Wenzel commented on #9159
I added the `r_sys_backtrace()` at the beginning of my `__open` implementation.
[code]

Sorry for the verbose output, i'm implementing the debug interface also.

[code]

[2018-01-10 15:04] radare commented on #9159
Cant reproduce this behaviour with any of the io plugins i have in core..

[2018-01-10 15:12] Wenzel commented on #9159
I will try to provide a Dockerfile then.

[2018-01-10 15:59] Wenzel commented on #9159
here you go:
Dockerfile
[code]

How to use it:
[code]

The output that you see has been inserted into the `__open` function of `io_gdb.c`:
https://github.com/Wenzel/radare2/blob/debug_io_plugin/libr/io/p/io_gdb.c#L59

[2018-01-10 19:30] radare commented on #9158
Windows imoprts are prefixed with the library name because thats implicit in PE. But on unix a symbol can be anywhere. But i would probably prefer to use the libname as prefix

Like:

libc.system
...

[2018-01-10 19:35] radare commented on #9138
Agree. Thats a good idea, we can improve that address replacement by enforcing the change for some specific instruction types. Will try that when i have some time. Can you submit a test for r2r?

Also if you have time and want to give a try on fixing that please do.

[2018-01-10 19:39] radare commented on #9152
Closing this for now. I plan to redesign some aspects of rbin to allow plugins determine if the i should be cached when loading or not. But first i have to optimize the cache system because irght now its o(n) and it doesnt scales.

As long as nso files gives you the hint to solve the problem, im considered as solved

[2018-01-10 19:39] #9152 closed

[2018-01-10 19:48] GiuseppeLaurenza commented on #9158
ok, thanks for the explanation, I noticed that I can extract the function name from import table and discard them from the functions table

[2018-01-10 19:55] Maijin commented on #9158
you can get imports with `ii`, exports with `iE` etc.

[2018-01-10 19:56] Maijin commented on #9158
and if you are scripting don't forget, never use cmd, but use cmdj and commands like aflj, iij etc in  r2pipe

[2018-01-10 20:01] GiuseppeLaurenza commented on #9158
@Maijin Yes it is what I had done

[2018-01-10 20:37] rob2e commented on #9166
It's not only one opcode.
Here is a grep searching for "invalid" in one prog file. I found 27 opcodes disassembled as "invalid".
I checked each of them, they are valid opcodes:
0afa invalid
0afd invalid
0aff invalid
0ef8 invalid
2994 invalid
2b92 invalid
2bfa invalid
2bfc invalid
3df9 invalid
3dfc invalid
4af9 invalid
4afa invalid
4afc invalid
4afd invalid
4afe invalid
4aff invalid
4d00 invalid
5f

[2018-01-11 00:49] Maijin commented on #9166
Did you check changing the e asm.cpu value ? e asm.cpu=? to see the value

[2018-01-11 00:51] Maijin commented on #9166
I checked the first one i checked every asm.cpu doesn't change anything though

[2018-01-11 01:59] MineRobber9000 commented on #9138
Assuming by r2r, you mean radare2-regressions, sure! Where should I put the binary, and what category should I put the test in?

Where are opcodes handled in disassembly? I need closer to the opcode than just a type, although the type can be used as a general check to make sure it's an instruction we need.

The procedure would go like this:

 - Is it an opcode that has to do with the PC?
    - No?

[2018-01-11 03:16] astuder commented on #9138
Here's what I know:

Substitution of numbers in the disassembly with functions/flags is handled in the function filter in libr/parse/parse.c with the interesting part starting at line 216
https://github.com/radare/radare2/blob/master/libr/parse/parse.c#L216

This happens after disassembly and code analysis by architecture specific plugins (libr/asm/arch/gb and libr/anal/p/anal_gb.c for Gameboy). F

[2018-01-11 03:21] MineRobber9000 commented on #9138
Really, all I need is some way of knowing what opcode I'm looking at. Different jumping opcodes (direct jumps, direct calls, indirect jumps, indirect calls, `ret` (jump to return address)) need to be handled differently.

[2018-01-11 03:28] astuder commented on #9138
As parse handles all architectures, you can't just look at the string. That's why I brought up RAnalOp, which contains the opcode type as an architecture independent ID.

Jumps without the actual target address in the disassembly is a whole different can of worms.

I suggested to verify the jump address in RAnalOp to reduce false positives for small numbers in case there's another operand in the i

[2018-01-11 03:35] astuder commented on #9138
PS: I wonder if it would be easier to move the substitution logic into the analyzer. But I'm not familiar enough with radare2's architecture to make such a drastic change.

[2018-01-11 09:11] idersan opened #9173 "File capstone/arch/M68K/M68KDisassembler.c does not exist."
Meson encountered an error in file shlr/meson.build, line 283, column 0:
File capstone/arch/M68K/M68KDisassembler.c does not exist.

[2018-01-11 10:51] sivaramaaa commented on #9151
I thinks u would better understand it , if i do it in a PR :)

[2018-01-11 11:51] Maijin commented on #9173
ping @xarkes @pelijah

[2018-01-11 11:52] xarkes commented on #9173
What version? Try with latest master.

[2018-01-11 11:53] Maijin commented on #9173
Please follow the template next time @idersan

[2018-01-11 18:27] pelijah commented on #9173
Builds fine on Windows with the latest radare2:master and capstone:next.

[2018-01-11 19:08] #9173 closed

[2018-01-11 20:51] radare commented on #9138
you can just add a config var, implement that logic in a separate function and call it instead of the other in disasm.c that will not break anything and you can play with this feature and we can test it and replace it and remove the config option in the future if the behaviour is correct or better with the testsuite.

[2018-01-11 21:25] radare commented on #8954
still?

[2018-01-11 23:18] radare commented on #9148
i think the proposal is too verbose.
lets move the discussion to:

https://hackmd.io/IwYwhgbArMBmDsBaADAE2EgLMztEE4BTADgCZERND8QRSRUIAjYoA=== <https://hackmd.io/IwYwhgbArMBmDsBaADAE2EgLMztEE4BTADgCZERND8QRSRUIAjYoA===>

[2018-01-11 23:25] radare commented on #9080
can you send a pr?

[2018-01-12 02:57] XVilka commented on #2408
@whitequark while you are on the build system - can you please check also this issue?

[2018-01-12 03:02] XVilka commented on #4056
@rofl0r is this still a case?

[2018-01-12 03:05] XVilka commented on #3683
@whitequark and may be this - mostly was done already, just some pieces are still presented.

[2018-01-12 03:09] XVilka commented on #8198
Good thing for GSoC microtask, imho

[2018-01-12 04:57] rofl0r commented on #4056
i can't test rn, but you could do a quick grep over all Makefiles and see if the variable name "DEPS" is still used. if not, it should be fixed.

[2018-01-12 08:43] radare commented on #4056
We can rename DEPS to R2DEPS.

[2018-01-12 09:30] #9151 closed

[2018-01-12 15:38] beaumontk commented on #9080
I think it better if you fix it from my mods.
Zip contains your version from repository, my new version and a diff.

[01_mods_fix_psuedo_c.zip](https://github.com/radare/radare2/files/1626542/01_mods_fix_psuedo_c.zip)

[2018-01-12 22:42] rishi62 commented on #8805
Hi, i  would like to work on this issue.

[2018-01-13 07:28] lowlyw opened #9185 "aggv doesn't show title of a node"
![image](https://user-images.githubusercontent.com/20349928/34903920-4ed96776-f7f0-11e7-852e-2cf69feddf2b.png)

[2018-01-13 07:32] lowlyw commented on #9185
issue is in aggd

[code]

[2018-01-13 07:36] lowlyw opened #9186 "agv doesn't colorize assembly"

[2018-01-13 07:37] lowlyw opened #9187 "agv doesn't colorize edges"
red/green for true/false on branches

[2018-01-13 07:51] lowlyw commented on #9187
huh, i guess it is colorized but the defaults just suck?

[2018-01-13 07:57] lowlyw commented on #9187
actually just my colorscheme sucked

[2018-01-13 07:57] #9187 closed

[2018-01-13 08:15] #9185 closed

[2018-01-13 09:06] radare commented on #8805
Command: oom
Api: r_io_open_buffer

[2018-01-13 09:06] radare commented on #8805
Its already done. Sorry

[2018-01-13 10:16] #8805 closed

[2018-01-13 14:07] rishi62 commented on #9083
Is anyone doing this?

[2018-01-13 14:49] Maijin commented on #9083
@rishi62 just do it

[2018-01-13 22:59] Maijin commented on #6851
https://github.com/whitequark/binja_itanium_cxx_abi

[2018-01-14 17:37] rishi62 commented on #9083
So i guess it should go like this
plugins,r2pm,scripts(/rc.d/bin-*) ---> $HOME/.local/share  (user_data)
history ---> $HOME/.cache

The visual mode store a hud file is it  visual config file?
Also,I am not sure what zignatures are?The zo command says it loads zignatures from sdb files  so i guess zigns dir is user related data?

[2018-01-14 17:44] Maijin commented on #9083
see r2 -hh output for more info too

[2018-01-14 17:44] Maijin commented on #9083
@XVilka ^

[2018-01-14 20:23] Maijin commented on #8956
Still not fixed, it works only when r2 is launched from its directory, doesn't work with installer rightclick addition or when r2 is used from prompt with a different PATH

[2018-01-14 20:25] Maijin commented on #8954
Yes still

[2018-01-14 21:59] pelijah commented on #8956
It is a global issue. r2 can't load anything if it was launched from outside of the installation directory, not only opcodes sdb.

[2018-01-14 22:10] Maijin commented on #8956
yes this impacts also fortunes, types etc.

[2018-01-15 00:12] YugoCode opened #9197 "ESIL: ldur is not working"
_str_ and _ldr_ are working:
[code]

But in this combination only _stur_ works:
[code]

_stur_ stores the value correctly, but _ldur_ won't touch x1, so x1 keeps it's value. I also checked that x0 != x1.

I noticed this in a couple of iOS binaries. Here is [one](https://github.com/samuelclay/NewsBlur/blob/55c36a24f38c25561e64b4365767547e3945ac1b/clients/ios/NewsBlur.ipa) from an open source projec

[2018-01-15 03:08] astuder commented on #9138
@MineRobber9000 I created a pull request with a first stab to resolve this issue. Would be great if you can give it a try.

[2018-01-15 04:05] lowlyw opened #9199 "Add svg support"
svg is better because it will allow zoom more than png, also png doesn't support color tags in dot, whereas svg does, https://github.com/radare/radare2/issues/9186 https://www.graphviz.org/doc/info/shapes.html#html

[2018-01-15 13:21] rishi62 commented on #9083
Currently we have one MACRO set for .config file i.e R2_HOMEDIR. Should i make different MACROS for .cache, .config, .local ?
`R2_CONFIG_HOME ".config/radare2"`
`R2_CACHE_HOME ".cache/radare2 "`
`R2_DATA_HOME ".local/share/radare2"`

Same as XDG.

[2018-01-15 14:39] radare commented on #8980
We have to define the syntax for this operator. we need to specify the permissions ? only maps with 'x'? for sections, that only makes sense in PA mode.

[2018-01-15 15:13] Maijin opened #9201 "Types to automatically be added in disassembly"
` [eax+arg1] etc. recognition`

Detect and rename the elements/structures accordingly. (See all the +ms_exc.registration.TryLevel etc...) see http://pastebin.com/aLrkiwuM
[reversing-demo.zip](https://github.com/radare/radare2/files/801155/reversing-demo.zip)

![image](https://user-images.githubusercontent.com/1408600/35770838-6e5cab96-0923-11e8-8ff1-b47ee62970d4.png)
![image](https://user-images.g

[2018-01-15 21:10] dukebarman opened #9202 "Cannot find a main function for simple C++ win programm"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (mand

[2018-01-15 22:04] wargio commented on #9202
the `example.exe` binary?

[2018-01-15 22:31] dukebarman commented on #9202
You can compile default console project in Visual Studio 2017 C++.

[2018-01-15 22:33] YugoCode opened #9204 "Print current symbol: "is." is not working"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.13
| File format of the file you reverse (mandatory)      | Mach-O
| Architecture/bits of the file (mandatory)            | arm64
| r2 -v full output, **not truncated** (

[2018-01-16 02:51] XVilka commented on #4228
@c0riolis can you please describe what is missing and can be improved?

[2018-01-16 05:32] sivaramaaa commented on #9204
Hey it's working properly for me for example
[code]
Here output of **is.**
[code]
You just have to seek to correct offset , which has a valid symbol !!!

Closing this issue for now !!!

@YugoCode , pls provide proper binary on which u tested and the command you have tried , post it on this same thread , if the issue exist i would re-open it !!

[2018-01-16 06:04] sivaramaaa commented on #9202
@dukebarman u can't expect everyone to have Visual Studio 2017 C++  installed  !!!
plss provide the binary if it's possible , or u could atleast  point out to some bins available in r2r repo !!

But i have tested with a few exe found /radare2-regressions/bins/pe , and it's working fine see below :
[code]
[code]

[2018-01-16 09:00] Wenzel commented on #9159
@radare can you reproduce the issue now with the Dockerfile ?

[2018-01-16 09:31] radare commented on #9199
Why not add instead of change? Graphviz is used and compatible with many tools

[2018-01-16 09:32] radare commented on #9138
Sure. I have not much time, but if u do a pr it would be great.

[2018-01-16 09:53] radare commented on #8956
Im working on a fix for this

[2018-01-16 10:02] radare commented on #8954
Is the anal plug compiled at all with meson on windows?

[2018-01-16 10:03] Maijin commented on #8954
yes https://github.com/radare/radare2/blob/master/libr/anal/meson.build#L33

[2018-01-16 10:10] radare commented on #8954
Then wats the problem?

[2018-01-16 10:12] Maijin commented on #8954
anal.arch is null when opening simple.gb on windows

[2018-01-16 11:00] radare commented on #9083
I have started to support dir.prefix, take. A look at the commit to do that change, and also, as well get rid of hardcoded paths in r2.

I did an rsysprefix api in rutil to help on that.

[2018-01-16 11:02] radare commented on #8954
I know. The title is quite easy to understand.

Im trying to understand why the gb plugin is not loaded when a gb file is loaded. Because that works everywhere except for that target i never care.

[2018-01-16 11:06] radare commented on #9197
Mind to send a fix? Just edit the esil expression

[2018-01-16 11:06] radare commented on #8956
See dir.prefix

[2018-01-16 11:10] Maijin commented on #9083
https://github.com/radare/radare2/commit/31d550a54b3faf4e4d35a867331a524a96511ec8
https://github.com/radare/radare2/commit/303820dbac2663b8d2b7e9cd09b00cf987a0bd5d

[2018-01-16 13:07] dukebarman commented on #9202
Here two files:

- example_with_hello.exe (with print "Hello)
- example_empty_func.exe (with only `return 0`)

[example.zip](https://github.com/radare/radare2/files/1635151/example.zip)

I've found another bug. After this commands on empty function radare2 was closed:
[code]

[2018-01-16 14:42] radare commented on #9202
Thats known issue. Those are binaries generated with msvc in debug mode, right?

The analysis required to find the main and other stuff is not worth the effort... the whole program is generated, and linked with jumps to make it easy to be modified in memory for the debugger to recompile parts of it on the fly.

[2018-01-16 14:45] YugoCode commented on #9204
I only tested Mach-O iOS binaries. Here is an example: [NewsBlur.zip](https://github.com/radare/radare2/files/1635538/NewsBlur.zip)

[code]

Here is the output of `is.
`:
[code]

Does it work for you on this binary?

[2018-01-16 14:54] dukebarman commented on #9202
Yep, this binaries were compiled in debug mode

[2018-01-16 15:01] sivaramaaa commented on #9204
Yes , the issue seems to exist with this binary !!!

[2018-01-16 15:05] YugoCode commented on #9204
I have this issue with all Mach-O binaries.

[2018-01-16 15:06] radare commented on #9204
i can reproduce the issue:

[code]
^- this is macs /bin/ls

in addition. @sivaramaaa please remove the unnecessary verbose text of "Current symbol"

[2018-01-16 15:08] radare commented on #9202
not even signatures can help on this, not sure how much useful is to add support for those messed up binaries

[2018-01-16 15:08] sivaramaaa commented on #9204
Sure , working on it !!!!

[2018-01-16 15:33] YugoCode commented on #9197
I looked into _libr/anal/p/anal_arm_cs.c_ for it.

There are two functions, which handle the load instructions: _anop64()_ and _analop64_esil()_.
Both handle the load instructions generic, so if _ldr_ works, then _ldur_ should also work.
[code]

I think it depends on the used registers, because all the _ldur_ instructions I've seen in my binaries use _x29_ and the _ldr_ instructions not.

Then may

[2018-01-16 17:31] #9204 closed

[2018-01-16 18:28] pelijah commented on #8956
What about combining dir.prefix with r_sys_get_src_dir_w32? For example: https://github.com/pelijah/radare2/commit/d6ce8268f039ebde5c4186d3969948dbfd6e1e69
Works fine on my machine with "installed" version of r2.

[2018-01-16 22:32] astuder commented on #8715
Before tackling more complex instructions (like XCH), I'm trying to learn ESIL by fixing a few simpler instructions.

A few questions:

1. SUBB x, y (x = x - y with carry)  currently outputs "y,x,.=". Is this a bug or is ".=" a special ESIL operator for "subtract with carry"?
2. The instruction ADD x, y (x = x + y) currently outputs "y,x,+=". Shouldn't this include some additional code to set carr

[2018-01-17 00:11] radare commented on #8956
Yes. Ideally this code should have no system dependant code

[2018-01-17 04:54] lowlyw commented on #9199
@radare we can only have one default!

[2018-01-17 06:37] twisted-fun opened #9209 "Radare debugging not working for remote arm binaries"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64 xenial (16.04)
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | ARM
| r2 -v full output, **not t

[2018-01-17 07:57] radare commented on #9209
You are missing the -b 32 or -b 16

[2018-01-17 08:40] twisted-fun commented on #9209
Same issue even after including -b 32
[code]

[2018-01-17 14:58] johnchen902 opened #9211 "Cannot define function and view it in graph mode after aaa"
### Work environment
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                             | Arch Linux
| File format of the file you reverse      | ELF
| Architecture/bits of the file            | x86/64
| r2 -v full output         | radare2 2.3.0-git 17057 @ linux-x86-64 git.2.2.0-2

[2018-01-17 15:47] SjRNMzU opened #9212 "rahash2: Incorrect hash."
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 17.04
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (m

[2018-01-17 18:28] jackaaron opened #9213 "ROP search double-free"
Hi, I believe there's a double-free bug in `libr/core/cmd_search_rop.c` in `rop_classify_arithmetic_const` that persists at least back to version 1.3.0.

This condition can be triggered when the /R option is supplied to search for matching ROP gadgets. If ROP search identifies an arithmetic constant and a DB query for esil stat fails, a double-free occurs.

See:
`cmd_search_rop.c:543` - `op_result

[2018-01-18 02:18] sivaramaaa commented on #9211
Hey hi , this problem could be solved by setting a config var like this :
[code]
But yeah i am working out a solution to handle this without the need of setting this config var

So i am not closing this issue :)

[2018-01-18 02:52] sivaramaaa commented on #9213
Do u wanna send a PR for this ???

[2018-01-19 11:39] sivaramaaa commented on #5570
oops (just wanted to remove my assignment ) !!!
This issue just needs to be tested and then closed .

I am not that good at PE reversing , so i thinks it's better someone else could handle it better !!!

[2018-01-19 12:43] Maijin commented on #5570
How can you say it is fixed if you can't test it ?

[2018-01-19 12:46] sivaramaaa commented on #5570
Yes you can't say it , i am not sure of it  , that's why i didin't close the issue !!!

[2018-01-19 14:45] #9213 closed

[2018-01-19 14:46] radare commented on #9213
Tired of waiting, ive fixed it. Next time just click the pencil button

[2018-01-19 15:17] radare commented on #8715
Can you do a pr fixing this?

[2018-01-19 15:22] #6784 closed

[2018-01-19 15:22] radare commented on #8715
Answering in here:

1) its not a bug, y,x,= is the same as x=y, read the esil documentation, but thats how  stack based vms work.
2) yes, internally esil generates all the carry variables, but if those internal esil flag bits imply a change in the target cpu registers it must use that (see $c, etc)
3) what , who uses %? the internal var prefix is $, maybe documentation is wrong. never trust text t

[2018-01-19 16:06] astuder commented on #8715
I started completing / cleaning up the 8051 ESIL implementation. The macros are quite convoluted and hard to understand. I'm tempted to rip most of it out and follow the 6502 model.

1. Note that it says ".=". From what I've learned so far, I think that's wrong.
2. Thanks. Flag handling is missing from most 8051 ops right now.
3. https://github.com/radare/radare2/blob/42973a233e333cfa4b11e7a502ca3

[2018-01-19 16:13] gipi opened #9217 "flowgraph for avr architecture is wrong"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian x86_64
| File format of the file you reverse (mandatory)      | binary
| Architecture/bits of the file (mandatory)            | avr
| r2 -v full output, **not truncated** (

[2018-01-19 17:02] radare commented on #9217
Check the ouput of ao in each affected instruction and you may find the reason of that. Just edit anal_avr.c and fix the op->jump

[2018-01-19 17:04] radare commented on #8715
Oh right. That regget issue is only affecting 8051 and it shohldnt be using that api. Otherwise we will have to sync data all the time. Looking forward your pr

Yeah seems wrong

Yeah.. feel free to send small patches no need to wait for a huge single perfect commit. So we can review and discuss in there

[2018-01-19 17:07] Maijin commented on #9217
I don't know what the CPU of this AVR, but if you change the CPU with "e asm.cpu =ATmega2560" it works, check existing values with `e asm.cpu =?`

[2018-01-19 17:41] ampotos opened #9219 "rasm2 big endian arm thumb inctruction incorrect"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
|OS | Ubuntu amd64
|tool used | rasm2
|Architecture/bits   |      ARM big endian thumb instruction
|r2-v | radare2 2.3.0-git 17114 @ linux-x86-64 git.2.2.0-252-g89c309a90       commit: 89c309a90056fbc5bd5a7a19f947c231a9951fd6 build: 201

[2018-01-19 17:45] jackaaron commented on #9213
Thank you. Will be faster next time

[2018-01-19 18:34] radare commented on #9212
[code]

rahash2 works fine with -x:

[code]

ive patched ls and confirmed the behaviour is correct. because -f -t are INCLUSIVE. so you have to substract 1 to the 138 delta:

[code]

[2018-01-19 18:34] #9212 closed

[2018-01-19 18:36] radare commented on #9212
there have been lot of back and forth for that open-closed intervals in r_io, r_hash and other modules, actually we try to use closed intervals to avoid the problem checking the last byte in the -1 address, which cant be expressed otherwise unless we go for from + len, but this can result on addressing overflows which are not possible with from/to ranges.

[2018-01-19 18:36] radare commented on #9212
feel free to update the help message or rahash2 manpage accordingly

[2018-01-19 19:20] radare commented on #9217
I think this is on purpose thats how the cpu behaves with ciclic adressings. But someone with deeper understanding of avr may confirm this theory

[2018-01-19 19:21] radare commented on #9219
Thats easy to fix. Wanna try sending a pr?

[2018-01-19 23:30] GovanifY opened #9221 "Buffer overflow when trying to print decompiled code"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                                            | Answers
|-----------

[2018-01-20 10:34] #9221 closed

[2018-01-20 10:35] radare commented on #9221
Should be fixed now

Please confirm

[2018-01-20 10:42] GovanifY commented on #9221
Confirmed, it works

[2018-01-20 14:31] Maijin commented on #1896
ADded a test here https://github.com/radare/radare2-regressions/commit/8ab8a95841713e9646f450cea9fbb272e6874caa

[2018-01-20 14:32] Maijin commented on #5570
Added a test here which is currently BROKEN=1 https://github.com/radare/radare2-regressions/commit/8ab8a95841713e9646f450cea9fbb272e6874caa

[2018-01-20 14:33] sivaramaaa commented on #9211
This issue has been fixed properly  after this [PR](https://github.com/radare/radare2/pull/9224)

[2018-01-20 14:33] #9211 closed

[2018-01-20 18:00] Maijin commented on #1896
Test added for the dword addition that should end this issue (BROKEN=1 currently)  https://github.com/radare/radare2-regressions/commit/8ab8a95841713e9646f450cea9fbb272e6874caa

[2018-01-20 18:12] Maijin commented on #7173
Need more details like file used etc and so on.

[2018-01-20 18:12] #7173 closed

[2018-01-21 01:42] sivaramaaa commented on #8513
Yes u are correct it's exceeding max_block size , so all u have to do to solve this is :
[code]

[2018-01-21 02:29] sivaramaaa commented on #8513
But imho adding some warning message to indicate if block size exceeding max_bbsize and a message to rectify it using the config var could be really usefull ...

What do u think about this @radare ??

[2018-01-21 03:08] radare commented on #8513
Agree. A warning message would be perfect

[2018-01-21 08:36] sivaramaaa commented on #8513
Cool , i will send a PR for this soon !!!

[2018-01-21 09:37] Maijin commented on #8513
leave it open until this is done + test

[2018-01-21 12:34] bennofs commented on #9217
Yes, this bug happens if you chose the wrong CPU, see `asm.cpu`. If you look into `anal_avr`, each CPU has a value called `pc` which is the number of bits the program counter has. If you use the wrong number of bits, then the `jmp 0x2cb0` overflows and "wraps around".

[2018-01-21 12:36] Maijin commented on #9217
What about a Pull Request?

[2018-01-21 12:51] bennofs commented on #9217
There is nothing to fix here. The behaviour is correct for the chosen CPU. The only thing that could be done is adding a new CPU definition for whatever CPU @gipi is using.

[2018-01-21 12:54] Maijin commented on #8467
https://github.com/radare/radare2/pull/8473 from @XVilka

[2018-01-21 13:03] Maijin commented on #9217
@gipi didn't share the model though :/

[2018-01-21 13:45] bennofs opened #9228 "Support for multiple address spaces (harvard architecture)"
Some architectures, such as Atmel AVR, have separate address spaces (in the AVR case, there is a "flash" address space for program code and a "ram" address space for data). For example, this is valid AVR code:

[code]

Here, the first 0x2000 refers to the address `0x2000` in RAM, while the second one refers to the address `0x2000` of the ROM. R2 currently cannot handle this, as it expects a single

[2018-01-21 14:01] gipi commented on #9217
the firmware I was analyzing is for the ATXMEGA128U4.

I see how this is not really a bug, however would be great if when loaded the default cpu some alert inform you that is possible that ``rjmp`` (and maybe other instructions) could be misinterpreted; or maybe an alert that the real jump address is wrapping around when it happens (with a binary file you don't know which cpu the code is intended

[2018-01-21 14:16] Maijin commented on #9217
That would mean raising tons of warnings for every opcodes use-cases, don't think that's coherent. At this point it's up to the user to do its job and configure the environment properly
The CPU got added, closing here https://github.com/radare/radare2/pull/9227. Feel free to open another one.

[2018-01-21 14:16] #9217 closed

[2018-01-21 14:57] radare commented on #9228
Thats suposed to be done via the new rio api. Esil just needs a way to tell that. Its also necessary for gb emulation

[2018-01-21 14:58] radare commented on #9228
But for static code analysis we will
Need to think more on this. Maybe we want to specify an io  layer to work and swap the io map to read from yhe right place

[2018-01-21 15:22] radare commented on #9217
Maybe we can set a different default cpu for avr when none is specified

[2018-01-21 15:24] radare commented on #9197
But... r u taklking about emulation? Because then u have to check the esil expression. Press O in visual mode to toggle that. Or just use the so command.

Can you provide a testcase to rerproduce this?

[2018-01-21 15:25] radare commented on #9197
By a testcase i mean an r2 oneliner to run the issue and check the output

[2018-01-22 09:36] ampotos commented on #9219
I will try to find the time for that in the coming days.

[2018-01-22 09:56] Maijin commented on #9219
arm.as (*arm* handmade assembler) is one of the 2 arm assemblers available in radare2 and is updated frequently.  **Please add a test case so we can fix arm.as in https://github.com/radare/radare2-regressions/blob/master/t.asm/arm/capstone/arm_asm** You can do so with github web editor without even cloning the repo.

You can contribute to arm.as by completing the following files:
* https://github.

[2018-01-22 12:58] sivaramaaa commented on #8513
Yup added a warning msg , so closing it now !!!
@Maijin also added a test for this https://github.com/sivaramaaa/radare2-regressions/blob/4569f0e05a310ad42902d70b5e581ccca317027d/t.anal/others_anal/aaa#L14

[2018-01-22 12:58] #8513 closed

[2018-01-22 12:59] Maijin commented on #8513
ok

[2018-01-22 15:55] astuder commented on #8715
Major progress:

* All instructions are implemented
* Most instructions have a test case in radare-regressesions (will push as soon as latest pull request is merged into radare2)
* SUBB, MUL and DIV are implemented but not fully verified yet

Open issues:
* I really struggled with the flags for SUBB (subtract with carry/borrow), not sure yet if it's an issue with esil's support of the borrow flag

[2018-01-23 02:14] sivaramaaa commented on #8647
This issue seems to be  fixed in latest version of r2 in git (2.3.0) , check it out !!!

[2018-01-23 02:14] #8647 closed

[2018-01-23 13:25] radare commented on #8715
Good work. Looking forward the upcoming fixes. Let me know if you need hints or fix for something. We can chat in irc/tg

[2018-01-24 03:10] XVilka opened #9233 "Simple DSL language for ESIL generation in analysis plugins"
Currently if you go through code of those analysis plugins that support ESIL feature, you will notice there are similar macroses/functions to generate some common "constructs" of the ESIL. Moreover I found that it may be hard for a new contributor to grasp the idea of ESIL from the first take. What I think can be useful - small DSL language (and small compiler of it to ESIL), which will allow easi

[2018-01-24 04:20] astuder commented on #8715
With #9234 ESIL coverage for 8051 is complete.

SUBB may still need some refinement to properly handle OV and AC (BCD carry) flags. But I will worry about that when it actually causes issues.

Next up fixing memory mapped registers and better handling of address spaces. But I think this issue can be closed.

[2018-01-24 04:59] fenugrec opened #9235 "SH: disassembly text of branch opcodes broken"
Issue caused by df82290 which wrongly casts the immediate value to an unsigned type. I'm trying to figure out why this wasn't picked up by the test suite.

Current output (wrong) :
[code]

Should be :
[code]

[2018-01-24 11:25] Maijin commented on #8467
See https://github.com/fluxchief/binaryninja_avr/blob/master/chips/iom16.py too

[2018-01-24 11:28] Maijin commented on #8467
Seems to define the name of the CPU, RAM_SIZE, ROM_SIZE, INTERRUPT_VECTOR_SIZE, IO_REGISTERS/EXTENDED_IO_REGISTERS

[2018-01-24 14:21] radare commented on #8467
ive merged the sysreg pr and rewrote it. so now the things are like this:

* rsyscall have a new api called r_syscall_sysreg() that accepts a type and a number to get the name of it
* this information is stored in Sdb
* overrides sysports information (the idea is that we will use sdb for io ports too)
* this file depends on arch+bits+cpu (OS is ignored)

[2018-01-24 16:37] nwmcsween commented on #4042
This is actually quite possible and has been done here: http://www.springer.com/cda/content/document/cda_downloaddocument/9783319279978-c2.pdf?SGWID=0-0-45-1545170-p177846884

[2018-01-24 16:38] Maijin commented on #4042
It's already implemented.

[2018-01-24 16:38] Maijin commented on #4042
Use | /s                      search for all syscalls in a region (EXPERIMENTAL)

[2018-01-24 19:02] #4042 closed

[2018-01-24 20:23] fenugrec opened #15581 "new db tests : usability; cannot interrupt"
- Ctrl-C does nothing
- hard to figure out how to run a single test, or indeed how to do anything
- "node bin/r2r.js -l" doesn't list tests as I thought from reading the source, it just runs the whole thing !
- After many tests (not sure if complete), make stopped with "error 1" :
[code]

[2018-01-25 05:09] radare opened #9239 "Improve the list of local variables and arguments"
<img width="671" alt="screen shot 2018-01-25 at 06 08 07" src="https://user-images.githubusercontent.com/917142/35371754-47d25bb8-0196-11e8-8394-6c735d2827ff.png">

[2018-01-25 09:57] XVilka commented on #8715
Thank you @astuder for amazing work!

[2018-01-25 09:57] #8715 closed

[2018-01-25 10:14] XVilka commented on #2436
I think this one can be closed, support is really good now.

[2018-01-25 11:35] radare commented on #9239
Also we can use different colors depending if it's 0 or not

[2018-01-25 15:24] radare commented on #2436
i dont see any .create() callback in this plugin, so imho cant be closed. having the ability to build COM or MZ executables from r2 would be desirable and definitvely easy.

[2018-01-25 15:25] #9235 closed

[2018-01-25 15:33] Maijin commented on #2436
See also https://github.com/radare/radare2/issues/5836 ; Could be nice if @marespiaut could give us some info on what's missing for DOS?

[2018-01-25 17:07] EvanCarroll opened #9240 "./sys/install.sh to /usr/bin not /usr/local/bin (violation of FHS)"
### Work environment

Using Linux, after I run `./configure` I get

[code]

### Expected behavior

Installs to /usr/local/bin

### Actual behavior

Installs to /usr/bin

This creates problems with sdbs aren't found,

If I don't use `./sys/install.sh` and I

    ./configure
    ./make
    ./make install

Everything works fine.

[2018-01-25 17:34] radare commented on #9240
did you git clean -xdf or make clean/mrproper before running ./configure ?

just tested this and the behaviour is correct if you run configure without arguments it will be installed in /usr/local, as any other autotools program will do.

sys/install.sh works fine too, i think your problem is because you iddnt cleaned the builddir, which is the reason why i did sys/install.sh

also you can pass the

[2018-01-25 17:52] marespiaut commented on #2436
Hello @Maijin,

Thanks for the notification. I haven't forgot about radare2! ;)
However, I have little time theses days.
But most importantly, I am the *least* knowledgable person you could think about when it comes to DOS programming and assembly, or reverse-engineering in general.
I'll give it a try, and do the best I can as soon as possible. But keep in mind that I mostly tinker around and don'

[2018-01-25 17:54] raybellis opened #9241 "Wrong type for m68k LINK and LPSTOP instructions"
While browsing this code:

https://github.com/radare/radare2/blob/a010d09204bacf5dbaac99bb0f1530ff613fa809/libr/anal/p/anal_m68k_cs.c#L457

I noticed that `LINK` and `LPSTOP` will both end up assigned to `R_ANAL_OP_TYPE_SHL`.

This would appear to be an error.  The `LINK` instruction is part of the standard function prologue (at least in the code I'm trying to disassemble), used to reserve space o

[2018-01-25 18:08] radare commented on #9159
sorry i have absolutely no time , didnt had time to test this, my guess is that the file is opened twice because of the rbin thing, but didnt had time to test your docker image.

[2018-01-25 18:11] Wenzel commented on #9159
Thanks for your reply, no worries, it's not urgent anyway.
About `rbin`, i did try to disable it with `-n` in a previous test, but the result was the same.

[2018-01-25 18:27] Maijin commented on #2436
Well I was asking if you could help finding what is missing in r2 for DOS support :P

[2018-01-25 18:27] Maijin commented on #9241
What about doing a Pull-Request ?

[2018-01-25 18:58] raybellis commented on #9241
I would, but I don't know what the right code should look like.  All I can tell is that it currently looks wrong.

[2018-01-25 19:48] Maijin commented on #9241
It's in the same file just change what the value of R_ANAL_OP_TYPE_SHL

[2018-01-26 00:07] astuder opened #9242 "Hooks for arch specific implementation of reg read/write"
Background:

All CPU registers of the 8051 are also mapped to memory. Many common ops like push reg, pop reg, mov reg, reg are using memory addresses instead of register names.

Support of memory-mapped registers was disabled during refactoring of 8051 ESIL because it broke basic emulation (e.g. ar commands). The original implementation used RAnalEsil.cb.hook_reg_write and hook_reg_read, which are

[2018-01-26 00:42] astuder commented on #9228
Is there a good place to learn about the new rio api?

One approach would be to add a second qualifier "addr_space" to all memory addresses used in flags, esil, xref, RAnal_Op, wx/p8 @ etc. (or replace memory addresses with a r_mem_ptr structure that consists of address and address space.

Arch and cpu would define required address spaces with name and valid address range. Arch specific anal imple

[2018-01-26 05:26] XVilka opened #9243 "Windows debugger warnings"
[code]

[2018-01-26 09:03] radare commented on #9228
here’s condret’s talk on r_io

https://www.youtube.com/watch?v=fs3VpUECsWg <https://www.youtube.com/watch?v=fs3VpUECsWg>

in real mode x86 the segments are just a shifted address plus the lower address to cover 1MB of ram, what it really makes sense to have this is to emulate segments in protected mode, like having TLS and such. this is not yet possible in r2, esil doesnt emulate thread-local-stor

[2018-01-26 09:27] XVilka commented on #9242
Probably better to put it in `.esil_init` callback in RAnalPlugin structure. @radare @condret may have their opinions on this.

[2018-01-26 09:27] radare commented on #9241
according to the documentation that looks like a PUSH to me:

"Pushes the contents of the specified address
register onto the stack. Then loads the updated stack pointer
into the address register. Finally, adds the displacement
value to the stack pointer.”

also:

"Note: LINK and UNLK can be used to maintain a linked list of local
data and parameter areas on the stack for nested subroutine
calls.”

[2018-01-26 10:00] radare commented on #2436
https://twitter.com/trufae/status/956828823747792897 <https://twitter.com/trufae/status/956828823747792897>

[2018-01-26 10:03] radare commented on #9242
the problem of esil:init and such is what was causing all the problems, because we are asuming that esil is initialized once. but thats not correct, we get several esil instances while disasseblming, to get different contexts and such, and hooking requires a single instance to get events from, that was causing segfaults because the hooking list was getting broken with dead callbacks.

[2018-01-26 10:45] radare commented on #9159
ok i can reproduce. lemme put some printfs

[2018-01-26 10:51] radare commented on #9159
well it was just a matter of reading, there's a comment on top of the 2nd call to file_open explaining the reason for that. probably a hack after SIOL to get gdb:// working

<img width="673" alt="screen shot 2018-01-26 at 11 50 17" src="https://user-images.githubusercontent.com/917142/35436552-297c4102-028f-11e8-9605-abf7b84c467b.png">

[2018-01-26 10:52] radare commented on #9159
but the funny thing is that everything works if i remove this code.

so ill just commit this code commented, and will wait for complains

[2018-01-26 10:52] #9159 closed

[2018-01-26 11:08] radare commented on #9233
i think adding this will make esil weaker and harder to maintain, also, it will introduce more points of failure.

we already have RAGG as a language and we didnt even supported it properly. so imho it will be better to improve that language and add an ESIL target rather than creating a new language.

In addition we can think on adding an LISP vm in r2, but that will make some people cry, and we a

[2018-01-26 11:17] XVilka commented on #9233
@radare speaking of LISP VM - you may want to check the Primus LISP and microexecution framework in BAP. They use it to run particular functions and have a control on the data and control flow. See all `primus_*` directories here:
https://github.com/BinaryAnalysisPlatform/bap/tree/master/plugins

[2018-01-26 13:51] radare opened #9244 "aab is not honoring anal.in"
* aab? -> no help shown at all
* aab [length] works as expected, but aab should be honoring anal.in first, otherwise anal{from,to} is not used and ppl expect that

[2018-01-26 16:01] giuscri commented on #9082
I _can_ reproduce the bug in the OP, but on Raspberry Pi Zero W.

[code]

[code]

[code]

[code]

[code]

[2018-01-26 16:21] radare opened #9246 "invalid jmp fails without failing"
[code]

[2018-01-26 17:47] fcasal opened #9248 "running aaa on project segfaults"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                             | 16.04.1 Ubuntu x86_64
| File format of the file you reverse      | ELF
| Architecture/bits of the file            | x86/64
| r2 -v          | radare2 2.3.0-git 17162 @ linux-x86-64 git.2.2.0-

[2018-01-26 17:51] radare commented on #9248
Just send the fix clicking in the pencil button adding an if to skip this null deref

[2018-01-26 19:22] fcasal commented on #9248
I think the cause of the issue is related to #9149. Simply bailing out if the pointer is NULL will not perform the correct analysis anyway and so maybe the solution should be to add an error message of some kind. I'm not that familiar with radare2 codebase and so I'm not confident in determining the root cause of the issue and what the message should be.

[2018-01-26 19:41] radare commented on #9248
Im busy with humans now, will check it out after dinner. Thanks for reporting

[2018-01-26 22:49] radare commented on #9241
Fixed in 2a5bb28a4cbe29319382ac32e18eb60119752c6d

Note that the argument is taken as unsigned short by capstone,.. but i think this must be signed, so it may be 44..

<img width="606" alt="screen shot 2018-01-26 at 23 44 10" src="https://user-images.githubusercontent.com/917142/35463906-6334b46a-02f3-11e8-8e80-8f289b1d45ee.png">

[2018-01-26 22:49] #9241 closed

[2018-01-26 22:53] #9248 closed

[2018-01-26 22:54] radare commented on #9248
its ok to remove that line, basically core->file and core->files are being deprecated because the new r_io api can handle that stuff properly

[2018-01-27 01:01] radare opened #9251 "Add search.in=bin.sections"
we should deprecate io.sections, and S command should use the bin info instead

cc @condret

[2018-01-27 15:29] radare commented on #9051
I think we should put baddr in the output of `i`. and remove the eval var. therefor readonly

[2018-01-27 16:08] fcasal opened #9254 "resizing the terminal segfaults in 'v' mode after VV"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                             | 16.04.1 Ubuntu x86_64
| File format of the file you reverse      | ELF
| Architecture/bits of the file            | x86/64
| r2 -v          | radare2 2.3.0-git 17171 @ linux-x86-64 git.2.2.0-

[2018-01-27 16:40] radare commented on #9254
Can you show th backtrace with symbols and paste the valgrind log? That may help to identify the issue. Thanks

[2018-01-27 20:29] bannsec opened #9255 "Cannot view any memory in gdb"
I'm using the latest (as of yesterday) Docker build for r2.

I can connect up to gdbserver with r2, continue execution and such, but i cannot view any memory.

Connecting and verifying it can run
[code]

Trying to view memory
[code]

This is the same for the libraries as well.

[2018-01-27 22:10] #9244 closed

[2018-01-27 22:18] radare commented on #9255
Probably related to this?

https://github.com/radare/radare2/issues/9159

[2018-01-27 22:39] #9254 closed

[2018-01-27 22:42] radare commented on #8956
can any windows user do a pr with this fix?

[2018-01-27 22:51] radare commented on #7988
we need tests, and i think this was implemented already, but stepping into an invalid or unaligned instruction updates the PC when it shouldnt, so it needs more work here

[2018-01-27 22:51] radare commented on #8970
any update?

[2018-01-27 22:53] gingerbeardman commented on #8970
Yes, on further consideration I'm not 100% convinced this is double byte text

[2018-01-27 22:53] #8970 closed

[2018-01-27 22:57] radare commented on #8823
this is the content of the register arena extracted with rabin2 from the core, i dont see any 0x41 in there, so im not sure where GDB is taking that addresss from :?

00100000050000000010000001000000001003000090fdf70000000000100000002002000500000000100000010000000020030000b0fff70000000000100000001000000600000000100000010000000030030000c0fff7000000000010000000100000040000000010000001000000004003000

[2018-01-27 22:59] radare commented on #6939
the blocksize can be changed by the user. im aware thats a performance issue if the user does a wrong choice

[2018-01-27 23:03] radare commented on #8582
this?

<img width="612" alt="screen shot 2018-01-28 at 00 02 48" src="https://user-images.githubusercontent.com/917142/35477198-9adf92e2-03be-11e8-8459-bce0431df064.png">

[2018-01-27 23:09] Maijin commented on #8582
Try i

[2018-01-27 23:16] radare commented on #8582
yeah because projects are broken and the bin info is not reloaded from the bin, but from the flags and sections info. We should add r_bin_obj_dump/restore to keep the state of all the rbinobjects loaded in a session and then loading them from the project. not a small task and needs rbin to be refactored (condret is working on that)

[2018-01-27 23:27] radare commented on #9251
Fixed in 6f64b9ff29eecf54b23fc7690bab5fc8bdce8523

[2018-01-27 23:27] #9251 closed

[2018-01-27 23:45] #6367 closed

[2018-01-28 01:54] radare commented on #9061
This is done already by @rlaemmert

[2018-01-28 01:54] #9061 closed

[2018-01-28 02:00] radare commented on #8749
@josediazfer can you send a PR?

[2018-01-28 02:01] radare commented on #6186
isnt cutter doing that already? maybe we should put that logic in r2 cc @xarkes

[2018-01-28 02:06] radare commented on #8949
This issue should be fixed now

[2018-01-28 02:06] #8949 closed

[2018-01-28 02:12] #7323 closed

[2018-01-28 08:22] xarkes commented on #8954
Just tried and after opening `simple.gb` file, `asm.arch` is indeed `gb`.

[2018-01-28 08:41] xarkes commented on #8956
I think @pelijah commit with `r_sys_get_src_dir_w32` is our best bet.

[2018-01-28 08:43] xarkes commented on #8956
Having no system dependant code is hard because on Windows, one can install radare2 anywhere he wants, while on linux most users just set its installation folder during compilation (~ or /usr).
If he can PR it's nice, otherwise just copy is patch and push to master.

[2018-01-28 08:54] pelijah commented on #8956
One moment.

[2018-01-28 11:01] xarkes commented on #8954
Sorry I was just waking up

[2018-01-28 11:01] xarkes commented on #8954
It's pretty simple, gb is not in meson.build anal array. So it's not built. Making a PR.

[2018-01-28 11:05] Maijin commented on #8954
kk well it was in plugin meson which I thought was the place to put the meson stuff now it's been removed :p libr/meson.build seems to be missing in this one indeed

[2018-01-28 12:03] xarkes commented on #8954
Fixed in https://github.com/radare/radare2/pull/9257

[2018-01-28 12:03] #8954 closed

[2018-01-28 14:11] zlowram opened #9259 "AddressSanitizer: heap-use-after-free on address 0x7f931f20e807 at pc 0x7f9327ddcc48 bp 0x7ffd92a24e20 sp 0x7ffd92a24e18 READ of size 4 at 0x7f931f20e807"
Crash report
-----------------

[code]

Radare2 version
----------------------
`r2 -v
radare2 2.3.0-git 17136 @ linux-x86-64 git.2.2.0-325-g71423f6fb
commit: 71423f6fb93106eb633064f9427ce1903712e328 build: 2018-01-28__15:04:15`

Sample that causes the crash
----------------------------------------

https://github.com/radare/radare2-regressions/pull/1155

Steps to reproduce
------------------------

[2018-01-28 14:11] pelijah commented on #8690
#9183 was merged. Do you have new ideas?

[2018-01-28 14:12] xarkes commented on #8690
I think this can be closed?
I saw meson_options.txt on the root directory, imho it should be deleted.

[2018-01-28 14:32] pelijah commented on #8690
Added commit with fix to my PR #9258

[2018-01-28 15:00] Maijin commented on #9259
Use code markdown for the crash report please

[2018-01-28 17:16] xarkes commented on #8690
Ok I merged, I'm closing this.

[2018-01-28 17:16] #8690 closed

[2018-01-28 17:37] zlowram commented on #9259
Updated.

[2018-01-28 18:05] radare commented on #9246
Oops, this bug is in keystone, not in r2. Our x86.nz assembler doesnt complains and generates an invalid jmp, but at least is a valid instruction.

[code]

[2018-01-28 18:13] #9246 closed

[2018-01-28 18:24] #9259 closed

[2018-01-28 18:26] radare commented on #8956
closing as its fixed now

[2018-01-28 18:26] #8956 closed

[2018-01-28 19:37] Maijin commented on #9259
Update your script too

[2018-01-28 21:42] radare opened #9260 "Add a config var to enhance emulation"
The idea is to have a way to tell `pd` that it should start doing linear emulation at a specific place instead of the current seek. this way we can happily scroll and get proper references for registers that has been set at the beginning of the function.

What it will do is find the beginning of the function or the closest flag and use that address instead of core->offset to emulate the code that

[2018-01-29 15:01] ampotos commented on #9219
I just did the PR on radare2-regression (https://github.com/radare/radare2-regressions/pull/1157).
I'll send a pr with fix today or tomorrow.

[2018-01-29 19:14] giuscri opened #9263 "Debugging on x86/64 no longer works."
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86/64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated

[2018-01-29 21:53] xarkes commented on #9263
Reproduced using master, the debugee segfaults but not radare.

[2018-01-29 23:12] radare commented on #6512
moved to 2.5, 3 months away

[2018-01-29 23:41] #9260 closed

[2018-01-29 23:45] radare opened #9266 "Change all asm.emu* to asm.emu.*"
one more dot for readability and make config vars more structured

may break lot of scripts. but meh :P

[2018-01-29 23:47] radare opened #9267 "anal esil hints not honored"
We want the ability to specify a value for a register in a specific offset, we can use

ahe 3,eax,=

should work..but it does not. the emulation doesnt takes the hints .. just the analop

try this script:

[code]

[2018-01-30 01:27] radare opened #9268 "Visual thread browser"

[2018-01-30 01:28] radare opened #9269 "Readline vi mode"
![dutvln2wsaawlk3](https://user-images.githubusercontent.com/203261/35603110-b369eb7c-0676-11e8-9fa1-31df47426bf6.jpg)

(via https://twitter.com/qrs/status/957954185055625216 )

[2018-01-30 01:41] radare commented on #9219
👍

[2018-01-30 10:14] Maijin commented on #9267
For reference:
https://github.com/radare/radare2/issues/6310
https://github.com/radare/radare2/issues/5044

[2018-01-30 13:13] dweidenfeld opened #9270 "[Q] Rename functions permanently in debug mode"
Hi,

I am using the latest GIT version, and if I understood what I've read it is not intendet to write a binary file in debug mode, but maybe you can help me getting my workflow ready :)

My idea is to open a binary in debug mode and execute it.
During debugging I understand the behavior of a function so I want to rename it.
After I've renamed all functions I want to save the state, so that I can

[2018-01-30 14:47] OhioDuckFarmer opened #9273 "Defining a block with a pre-existing format (via dF) is broken when using visual mode"
It looks like the defining a block with a pre-existing format is broken when using visual mode.  More specifically, when applying a previously defined format to a block of data the length of the format is not being calculated properly.  Rather than the actual defined length being used the length of the format string is being used (eg. in the below example the structure defined structure size for c

[2018-01-30 14:55] OhioDuckFarmer commented on #9273
[format_problem.zip](https://github.com/radare/radare2/files/1678152/format_problem.zip)

[2018-01-30 15:21] #9266 closed

[2018-01-31 10:19] #6512 closed

[2018-01-31 10:24] radare commented on #9270
create a script that does that, projects in debug mode dont work well, so just create a script and load it. you can make flags to be relative to a map, so aslr is not an issue for example.

Simple projects may be able to handle that situation, but didnt tried

[2018-01-31 10:46] xarkes commented on #8950
See https://github.com/radare/radare2/pull/9178
Once this is done there shouldn't be many remaining failing tests on Appveyor.

[2018-01-31 13:50] sivaramaaa commented on #9267
Hopefully fixed !!!
[code]

[2018-01-31 14:18] #9267 closed

[2018-01-31 14:46] radare commented on #9267
<3

[2018-01-31 15:54] radare commented on #9263
this issue is completely unrelated to the debugger.

If you do -AA you are basically running `aaaa`., which basically enables esil, memory writes and io cache which modifies the register state, memory layout and such. so its crashing because the process is not starting with the expected environment.

So the issue here is using the analysis within the debugger.

You can basically reduce the problem

[2018-01-31 15:54] #9263 closed

[2018-01-31 16:54] #9219 closed

[2018-01-31 23:13] astuder commented on #3944
I recently removed all uses of %N$ from the 8051 analyzer. grep suggested by @cyrozap comes up empty.

Can someone verify that this issue is resolved?

[2018-02-01 08:24] XVilka commented on #561
@radare `cu` command is good, just need maybe a better coloring.

[2018-02-01 09:28] Maijin commented on #9138
@astuder You fixed that no ?

[2018-02-01 09:38] dweidenfeld commented on #9270
Okay, I still think this could be useful to be stored as project, but the workaround is fine for me right now :)
Thanks!

[2018-02-01 09:38] #9270 closed

[2018-02-01 14:58] astuder commented on #9138
Yes. Needs to be enabled with "e asm.jmpsub = true" (default false).

[2018-02-01 14:59] astuder commented on #9138
And only done / tested for pd

[2018-02-01 15:12] cobra opened #9283 "segfault on pdj of java class"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                             | Debian 9 amd64
| File format of the file you reverse      | java bytecode
| Architecture/bits of the file            | java
| r2 -v full output        | radare2 2.3.0 17152 @ linux-x86-64 git

[2018-02-01 15:29] Maijin commented on #9138
ok then we can close here

[2018-02-01 15:29] #9138 closed

[2018-02-01 23:13] digitalstreamio opened #9286 "RAP Protocol Question"
I am trying to implement a RAP server within my project (c64 6502 emulator) to enable remote debugging. So far I have implemented Open/Read/Write/Seek/Close/Cmd operations and they seem to work fine.

However, I am struggling to figure out how to properly implement handling of Cmd operations that are issued by r2 debug module. For starters I have looked at handling of "drp" and "dr".

### DRP - de

[2018-02-01 23:44] digitalstreamio opened #9287 "RAP fails to get reg profile due to invalid temp file path"
In libr/debug/p/debug_rap.c:

Currently, the code to get reg profile tries to create temp file with path '/tmp//tmp/rap.XXXXXX' and fails to open this file due to invalid path.

The call to 'r_file_temp ("/tmp/rap.XXXXXX")' should drop '/tmp/' from filename since the temp dir path is appended by r_file_temp function.

[code]

[2018-02-02 04:16] hayekr opened #9288 "Error in debug_attatch"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS High Sierra x86-64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not tr

[2018-02-02 12:19] radare commented on #9283
can you share the valgrind log of this crash? thanks for pointing out!

[2018-02-02 13:24] cobra commented on #9283
voilà: https://gist.github.com/cobra/de1825db0eca613c57fbce6fb633a4ff

[2018-02-02 20:15] ahsantnt opened #9294 "stack overflow in r2 with 's' command"
# stack overflow with 's' command

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)

[2018-02-02 21:02] Maijin commented on #3944
let's close this for now

[2018-02-02 21:02] #3944 closed

[2018-02-03 02:52] bannsec opened #9299 "Still cannot view any memory with gdb handler"
The issue #9255 was closed prematurely. The PR that closed it doesn't fix the issue. Exact same thing is still happening on build from today.

[2018-02-03 05:46] n00bSec opened #9300 "rabin2 fails to parse Windows PDB symbol file."
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             |  Ubuntu-16.04.2 x86 64
| File format of the file you reverse (mandatory)      | PDB
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not trun

[2018-02-03 11:30] Maijin commented on #9300
You can change the symbol server and make the download automatically too

[2018-02-03 11:31] Maijin commented on #9300
@xarkes may want to take a look at this issue

[2018-02-03 15:34] zuvizudar commented on #9239
I want to try this.
what color should I change color of zero ?

[2018-02-03 15:56] Maijin commented on #9239
I would reuse b0x00 color See `ec` command

[2018-02-03 17:10] zuvizudar commented on #9239
I have a question.
Should I  change
{
 bp : 0 (vars 0,  args 0)
 sp : 1 (vars 1,  args 0)
 rg  : 0 (vars 0,  args 0)
}
to
{
 vars : 0 1 0
 args : 0 0 0
}
?

[2018-02-03 18:05] Simerax opened #9302 "ood fails on paths with spaces"
### Work environment

System: Linux duplex 3.16.0-4-amd64 #1 SMP Debian 3.16.39-1+deb8u2 (2017-03-07) x86_64 GNU/Linux

used File: test: ELF 64-bit LSB executable, x86-64, version 1 (SYSV), dynamically linked, interpreter /lib64/ld-linux-x86-64.so.2, for GNU/Linux 2.6.32, BuildID[sha1]=0869297e5521c0e929550da0bf64e8bd398e98d8, not stripped

r2 -v: commit: 8b1e0bb16e738d9e805297bca21adcac49a6b0a9 b

[2018-02-03 19:31] Maijin commented on #9239
that's what the issue is about yes, please use an eval variable (e XXX.XXX) to provide user with choice on how he wants the data displayed so you can keep current view.

[2018-02-03 20:56] Maijin commented on #9080
Can you send a PR @beaumontk ; ZIP with diff is really not adapted for reviewing code

[2018-02-03 23:53] cyrozap commented on #3944
Running on git master:

[code]

It doesn't crash now, but I do get the following errors:

[code]

The 8051 is an 8-bit CPU, not a 64-bit one, so I'm not sure where that "bits 64" is coming from or if that's now interfering with anything. Regardless, it seems to work now, so I think we can keep this issue closed.

[2018-02-03 23:56] cyrozap commented on #3944
Thanks for fixing this, @astuder!

[2018-02-04 00:04] astuder commented on #3944
@cyrozap  the 64 bit error is because r2 tries to initialize to its defaults (asm.cpu=x86 asm.bits=64) a few times during startup. Not sure how to fix that, but I didn't see any negative impact in practice either so far.

[2018-02-04 09:38] leberus commented on #9302
I tried what you said and it works for me.
I might be overlooking something but...

`
leberus@localhost:~> mkdir "test 4"

leberus@localhost:~> cd test\ 4/

leberus@localhost:~/test 4> cp ../test .

leberus@localhost:~/test 4> r2 -d test
Process with PID 19388 started...
= attach 19388 19388
bin.baddr 0x00400000
Using 0x400000
Unknown DW_FORM 0x06
asm.bits 64
 -- When in doubt, try 'aaaaaaaaaaaaaa

[2018-02-04 11:02] riverar opened #9309 "Symbol download doesn't work with newer Windows targets"
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10 17083 x64
| File format of the file you reverse (mandatory)      | notepad.exe
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (mandato

[2018-02-04 11:06] giuscri commented on #7339
I might be able to work on that.

Right now `afll` and `aflj` lead to `fcn_list_verbose()` and `fcn_list_json()` respectively.

Should I add a function `fcn_list_verbose_json()` and make the switch at `libr/core/canal.c` as the following?

[code]

[2018-02-04 11:08] riverar commented on #9309
Submitted a fix where we yank support for compressed symbols, as Microsoft is no longer providing them.

[2018-02-04 11:42] radare commented on #9283
thanks

[2018-02-04 11:42] #2983 closed

[2018-02-04 12:02] riverar commented on #9300
Can reproduce similar issue on Windows/x86 using https://symbols.mozilla.org/xul.pdb/9293832038AC49D18F68427E049C83172/xul.pd_, am investigating.

[2018-02-04 12:22] leberus commented on #8864
I'm sorry but I'm not familiar with r2frida.
What's this "d" subcommand supposed to do? Maybe you can write a tiny example so I can get an idea.

I'd mind taking a look at this.

[2018-02-04 13:17] sivaramaaa opened #9311 "PE reloc is not properly handled"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            |    x86/32
| r2 -v full output, **not truncated** (m

[2018-02-04 13:20] sivaramaaa commented on #9311
I am working on solving these issue , also my opinion maybe wrong (not good with PE)

[2018-02-04 14:04] giuscri opened #9313 "afll should be better indented"
[code]

Fixing this should be as easy as fixing the macro `FCN_LIST_VERBOSE_ENTRY` in `libr/core/canal.c`.

[2018-02-04 14:18] giuscri commented on #7339
I've noticed that aflj gives more information than afl.

Shouldn't aflj gives the same detail of afl? Or, shouldn't aflj gives _all_ the information given by afll — making afllj an alias aflj?

In the first case, I would write `fcn_print_json()` and `fcn_print_verbose_json()` reducing the amount of information printed by `fcn_print_json`.

In the second case, missing information would be added in`

[2018-02-04 14:22] giuscri commented on #9313
I would try to handle that.

[2018-02-04 15:00] beaumontk commented on #9080
But I really don't want to change the source. It's best that someone who knows the code checks the mods and applies them.

[2018-02-04 16:08] Maijin commented on #9080
It won't change the source...the repository doesn't allow anyone to push stuff like that, that's why Pull-requests exists. They allow us to review the code in proper manner...

So please use Pull-Request  https://help.github.com/articles/about-pull-requests/

[2018-02-04 16:08] Maijin commented on #7339
Send a Pull Request please https://help.github.com/articles/about-pull-requests/ not diff

[2018-02-04 16:18] sivaramaaa commented on #9311
okk , @Maijin verified the issue , so the only issue right now is analysis for which an issue already exist , so closing this issue !!!

[2018-02-04 16:18] #9311 closed

[2018-02-04 16:32] giuscri commented on #7339
I didn't implement anything, just sketched the interface

[2018-02-04 17:44] radare commented on #7339
I would prefer a single aflj . Having multiple json representations is a bit problematic and may confuse users. The only reason is imho having a quiet json format to get quick listing of all the functions qhen the list is ultra large

[2018-02-04 17:44] radare commented on #7339
We can call aflj from afllj if u want

[2018-02-04 19:44] thestr4ng3r opened #9316 "Wrong Disassembly indentation if exactly one of asm.fcnlines or asm.lines is enabled"
### Expected behavior
All disassembly lines should be perfectly aligned.

### Actual behavior
asm.fcnlines=true + asm.lines=false:
![bildschirmfoto vom 2018-02-04 20-37-55](https://user-images.githubusercontent.com/1460997/35781536-b86c781a-09eb-11e8-99ae-e017ec9f7405.png)

asm.fcnlines=false + asm.lines=true:
![bildschirmfoto vom 2018-02-04 20-37-31](https://user-images.githubusercontent.com/1460

[2018-02-04 20:19] riverar commented on #9300
These messages get printed out due to missing support for various symbol types (e.g. QUADWORD, UQUADWORD, SHORT, etc.), but are not critical errors; just warnings.

The pdb is huge (620MB+), hence the slower than usual parse time.

I think I should have this fixed up today (and change those unhelpful warnings) if I don't cause secondary problems elsewhere. But the only impact I see here is that yo

[2018-02-04 22:51] radare commented on #9316
Which version of r2 are you using? And which commands did you typed?

[2018-02-04 23:38] radare commented on #9309
Imho its good to merge. Or at least add an option handled with an envvar in rabin2 to use the old method instead of removing the code

[2018-02-05 02:28] 0x3f97 opened #9318 "Infinite loop on 'CATCH' sigint after using 'dmh' command"
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 64bit
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (mandatory)

[2018-02-05 04:23] XVilka commented on #9309
@radare it is true for Microsoft servers but not for the others.

[2018-02-05 04:28] XVilka commented on #9299
Next time just please reopen the issue or ask to do so.

[2018-02-05 04:28] #9299 closed

[2018-02-05 05:20] StefanBruens opened #9319 "rasm2: arm BLX instruction not encoded correctly"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | openSUSE-TW x86 64
| File format of the file you reverse (mandatory)      | raw
| Architecture/bits of the file (mandatory)            | arm/32
| r2 -v full output, **not truncate

[2018-02-05 05:20] XVilka opened #9320 "Multidiff mode"
![hexdump_mode](https://user-images.githubusercontent.com/203261/35789458-3bb0e392-0a77-11e8-9b0b-eb734508efe2.png)

Would be VERY useful, see how it is done in multidiff tool: https://github.com/juhakivekas/multidiff

[2018-02-05 05:33] StefanBruens opened #9321 "radare2: ARM BL/BLX target off by 4 when address is larger than 0x80000000"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | openSUSE-TW x86 64
| File format of the file you reverse (mandatory)      | any
| Architecture/bits of the file (mandatory)            | arm/32
| r2 -v full output, **not truncate

[2018-02-05 06:00] riverar commented on #9309
Abandoning. Not needed. Turns out, my curl was super old and not returning the appropriate error codes on failure (e.g. 404). It is now, which triggers the fallback behavior correctly.

[2018-02-05 06:00] #9309 closed

[2018-02-05 06:54] ilovezfs opened #9323 "2.3.0 build failure on macOS"
[code]
full log https://gist.github.com/ilovezfs/7d86e767589e02fbc42d3a858ef94409

[2018-02-05 10:26] xarkes commented on #9316
I can reproduce with r2 /bin/ls -qc 'aaa; e asm.lines=false; pd 30'
[code]

[2018-02-05 12:34] giuscri commented on #9073
@marrakchino are you still working on that?

@Maijin what's the `size` attribute? Why size of `char` is 3? Also, if it's something meaningful shouldn't that be included in plain `t` too?

[2018-02-05 13:15] Maijin commented on #9073
@giuscri

The size attribute is what is available in `tk` and yes size and format could also added in `t`.

Quite sure there is already a way to print sdb in json so yeah that could be enough, can you do it?

[2018-02-05 14:12] sivaramaaa commented on #9268
@radare isin't this implemented with ur latest commit [fe194d2](https://github.com/radare/radare2/commit/fe194d205ae2c396e8d31660f5e68707bb5477bd)  ??

[2018-02-05 16:14] Maijin commented on #9268
Looks like it is yep, closing

[2018-02-05 16:14] #9268 closed

[2018-02-05 16:43] giuscri commented on #9073
OK. I think I can implement that

[2018-02-05 17:07] radare commented on #9323
This is not an issue in r2

[2018-02-05 17:08] radare commented on #9323
You are compiling the bindings

[2018-02-05 17:26] MaKiPL opened #9326 "arch parameter is case-sensitive"
software architecture parameter is case sensitive

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows
| File format of the file you reverse (mandatory)      | RAW binary
| Architecture/bits of the file (mandatory)

[2018-02-05 18:14] marrakchino commented on #9073
@giuscri I am quite busy right now so it might take some time before I submit a PR. Tell me if you want to work on it.

[2018-02-05 18:14] giuscri commented on #6482
Duplicate of #9073

[2018-02-05 18:15] #6482 closed

[2018-02-05 18:18] giuscri commented on #9073
@marrakchino Yes, I'd like to. (:

I've sent a first pull request now, not sure if it's good enough though.

[2018-02-05 18:29] #5570 closed

[2018-02-05 18:37] Simerax commented on #9302
Hey leberus,
look at the two pictures. in the first i show how the error occurs and in the second one how i fixed it (by removing the space in the directory name)

![bildschirmfoto von 2018-02-05 19 33 23](https://user-images.githubusercontent.com/33641215/35822201-57ad860a-0aa3-11e8-92e7-7e9dc853ef01.png)
![bildschirmfoto von 2018-02-05 19 33 51](https://user-images.githubusercontent.com/33641215

[2018-02-05 18:44] Maijin commented on #1896
Fixed

[2018-02-05 18:44] #1896 closed

[2018-02-05 18:44] radare commented on #9326
This is expected behaviour. Plugins are case sensitive, as files and any other thing in unix is. R2 is unix friendly, so case insensitive things have no room in tihs land,

[2018-02-05 18:45] radare commented on #9268
Yes

[2018-02-05 18:49] radare commented on #9321
-d expects hexpairs not a number,

And this bug is in capstone, not in r2. Can you report this to the capstone project instead? In addition, can you confirm the behaviour is good with the gnu plugin?

[2018-02-05 18:51] radare commented on #9319
You can try with other assemblers. Like the keystone one. Install the arm.ks plugin with r2pm

Thanks for reporting

[2018-02-05 18:52] Maijin commented on #9319
Greetings,

arm.as (*arm* handmade assembler) is one of the 2 arm assemblers available in radare2 and is updated frequently.  **Please add a test case so we can fix arm.as in https://github.com/radare/radare2-regressions/blob/master/t.asm/arm/capstone/arm_asm** You can do so with github web editor without even cloning the repo.

You can contribute to arm.as by completing the following files:
* htt

[2018-02-05 18:53] #9326 closed

[2018-02-05 18:53] radare commented on #9316
Dont pass args  after the filename

[2018-02-05 18:56] thestr4ng3r commented on #9316
Using current master:
[code]
I'll probably add tests and fix it soon.

[2018-02-05 19:15] StefanBruens commented on #9319
@Maijin There is no t.asm in https://github.com/radare/radare2-regressions, although it is also mentioned in https://github.com/radare/radare2-regressions/blob/master/README.md

[2018-02-05 20:22] Maijin commented on #9319
See https://github.com/radare/radare2-regressions/blob/master/new/db/asm/arm_16
https://github.com/radare/radare2-regressions/blob/master/new/db/asm/arm_32
https://github.com/radare/radare2-regressions/blob/master/new/db/asm/arm_64

I will update my templates thanks 👍

[2018-02-06 08:01] riverar commented on #9300
@n00bSec can we close this issue? We cleaned up the output. Feel free to create another "xul.pdb takes hours to parse" issue for tracking that.

[2018-02-06 08:39] Maijin commented on #9300
@riverar next time use "blablab fix #9300" in your commit title so issue get closed automagically when merged ;)

[2018-02-06 08:39] #9300 closed

[2018-02-06 08:39] Maijin commented on #8323
@riverar maybe you want to check the e dir.pdb issue ?

[2018-02-06 09:38] Maijin commented on #4216
Check this one @giuscri

[2018-02-06 10:46] riverar commented on #9202
This isn't a r2 bug.

**Short version**: new behavior in Visual Studio 2017/C++ compiler. Ensure this is set:
![image](https://user-images.githubusercontent.com/475132/35855290-9abaf146-0ae7-11e8-9277-8c12b8e6ac1e.png)

**Longer version**:
What you're seeing is [new fastlink behavior in the linker](https://blogs.msdn.microsoft.com/vcblog/2016/10/05/faster-c-build-cycle-in-vs-15-with-debugfastlink/

[2018-02-06 11:25] giuscri commented on #4216
Current rabin2 output is
[code]

What's the schema you'd like to see implemented?

[2018-02-06 11:40] Maijin commented on #4216
Can you come on Telegram/IRC so we can brainstorm this ?

There is also PE version with a different output:

[code]

[2018-02-06 11:52] giuscri commented on #4216
I've some free time at ~2pm UTC

[2018-02-06 13:20] #9239 closed

[2018-02-06 13:21] #9313 closed

[2018-02-06 13:25] radare commented on #9316
thanks!

[2018-02-06 13:26] radare commented on #9318
can you ^C within gdb and paste the backtrace here? you can probably see why and wher eis hanging and fix it directly in a PR

[2018-02-06 13:27] radare commented on #8864
i think the debugger is pretty broken right now. we should focus on pushing the testsuite for the debuggers, at least on linux because it is segfaulting and hanging all the time when im trying to use it lately :(

[2018-02-06 13:31] sivaramaaa commented on #9323
@radare , if it's not an issue in r2 , can we close this issue ??

[2018-02-06 13:31] radare commented on #9288
as a workaround, dont use ood if you are doing aaaa, this is somewhat related to the projects problems.

[2018-02-06 13:33] radare commented on #9323
This is a bug in radare2-bindings, that i cant reproduce, this is probably because you are building r2b with an incompatible version of r2

[2018-02-06 13:33] #9323 closed

[2018-02-06 13:33] ilovezfs commented on #9323
Can someone tell me where to file this issue? I simply updated the Homebrew formula with the new files from https://radare.mikelloc.com/get/2.3.0 and it went :boom:

[2018-02-06 13:34] ilovezfs commented on #9323
@radare in particular, what is wrong with https://github.com/Homebrew/homebrew-core/pull/23693

[2018-02-06 13:36] #7339 closed

[2018-02-06 13:37] ilovezfs commented on #9323
Are you saying https://radare.mikelloc.com/get/2.3.0/radare2-bindings-2.1.0.tar.gz isn't the correct bindings tar ball for 2.3.0 to use? What is? Why is that in the 2.3.0 directory?

[2018-02-06 13:39] radare commented on #9323
2.3 != 2.1

[2018-02-06 13:40] ilovezfs commented on #9323
@radare can you please put the correct bindings tarball in https://radare.mikelloc.com/get/2.3.0/ then?

[2018-02-06 13:41] ilovezfs commented on #9323
ditto radare2-extras if that is also wrong.

[2018-02-06 13:43] radare commented on #9323
thats what im doing right now

[2018-02-06 13:43] ilovezfs commented on #9323
@radare thanks :bowing_man:

[2018-02-06 13:48] radare commented on #9323
done

[2018-02-06 13:50] ilovezfs commented on #9323
@radare perfect. New CI job triggered https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/17947/

[2018-02-06 13:51] radare commented on #9263
cc @leberus

[2018-02-06 15:01] leberus commented on #9263
Uhm, maybe I'm missing something but:

`
leberus@localhost:~> r2 -d  -c "db main;dc" main
Process with PID 3407 started...
= attach 3407 3407
bin.baddr 0x00400000
Using 0x400000
Unknown DW_FORM 0x06
asm.bits 64
r_debug_native_continue: pid: 3407, tid: 3407
r_debug_continue: ret: 3407
waitpid: ret: 3407
r_debug_wait: 3
hit breakpoint at: 400507
r_debug_continue: reason: 3
 -- No fix, no sleep
[0x00

[2018-02-06 15:04] radare commented on #9263
yes you are missing several things

1) use dcu main instead of db+dc
2) dont pass commandline flags after -d
3) specify relative or absolute path to exeuctable, otherwise you can be debugging the one in $PATH

[2018-02-06 15:33] hayekr commented on #9288
It does not work even without aaa

[2018-02-06 15:36] Maijin commented on #9263
(and use markdown for pasting output please)

[2018-02-06 17:37] armijnhemel opened #9331 "rabin2: shared object files reported as 'static'"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                                            | Answers
|-----------

[2018-02-06 17:39] armijnhemel commented on #9331
Urgh, sorry for the messy bug report. The ZIP file that is included contains the stock Fedora 26 libncurses libraries. I will try to triage a bit.

[2018-02-06 17:46] radare commented on #9331
Thats an elf specific issue. Cant repro on dll or dylibs

[2018-02-06 17:51] giuscri commented on #4216
OK. I think I can help with json output of VersionInfo for PE file. I'll open a pull request in the next hours/days.

Still haven't looked on ELF or Mach-O though.

For those who are interested in helping out, code to read/modify starts at `bin_versioninfo()`.

[2018-02-06 18:51] armijnhemel commented on #9331
I'm sorry, but I am very confused by your answer. Is this a bug, or are you saying it is expected behaviour?

I went through the code and it looks like the only check that matters in radare2 is whether or not an interpreter section is found, which would always be true for every dynamically linked ELF library. I checked how for example the "file" program is doing this and it seems that they also ch

[2018-02-06 20:17] armijnhemel opened #9332 "rabin2: different information printed when using -H and -Hj"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 26, x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86_64
| r2 -v full output, **not truncated

[2018-02-06 21:32] radare commented on #9332
-H is far from perfect, it was the last addition to rbin and we are now working on a redesign of it. This code will be reused, so its good to fix it. Wanna contribute?

The output from j is related to the one in -r, but thats not the same as the human friendly format because it expects the user to use pf commands to format the structs from r2 instead of having the whole data structures as json, wh

[2018-02-06 21:43] #9316 closed

[2018-02-06 21:44] #9073 closed

[2018-02-06 23:06] radare commented on #4216
awesome!

[2018-02-07 04:31] hayekr commented on #9288
For some reason it only works if the file that I am debugging is located in my user folder, even with aaa/aaaa commands used. I believe that there is something with the permissions of the folder I am trying to debug. This issue I do not believe is caused by radare2.

[2018-02-07 04:31] #9288 closed

[2018-02-07 04:37] hayekr commented on #9302
Your issue happens on my machine I tested paths with and without spaces, ood only fails when loading a file with a path that has spaces

[2018-02-07 05:11] XVilka opened #9335 "Separate config files for each tool"
To keep radare2rc to only radare2 tool, while support loading rabin2rc for rabin2, radiff2rc for radiff2, etc,

[2018-02-07 05:17] XVilka opened #9336 "Fix rasign2 tool"
Currently code to generate signatures is commented out. Would be nice to port it on top of the current signatures API.
Also expose the FLIRT features, see all commands `z?`.

[2018-02-07 09:07] leberus commented on #9302
Ok, now I could reproduce it.
I'll take a look.

[2018-02-07 09:54] leberus commented on #9263
Using <b>r2 -d [path_binary]</b> works:

<pre>
leberus@localhost:~> cat $HOME/main.c
int main() {
    puts("Hello, world");
    return 0;
}
leberus@localhost:~> gcc $HOME/main.c -o $HOME/main
/home/leberus/main.c: In function ‘main’:
/home/leberus/main.c:2:5: warning: implicit declaration of function ‘puts’ [-Wimplicit-function-declaration]
     puts("Hello, world");
     ^~~~
leberus@localhost:~>

[2018-02-07 09:57] leberus commented on #9263
Forget what I said about "q", I didn't realize there was no prompt. (it's working as well)

[2018-02-07 12:57] radare commented on #9335
R2 is the only one that run commands. What kind of rc scripts do u expect for the other tools? I cant imagine any... except env var or rarun profile..

[2018-02-07 12:58] leberus commented on #9302
The problem is that when calling <b>fork_and_ptraceme</b>, we try to get program's argvs  with <b>r_str_argv</b>, but this function skips whitespaces, so if we have

<pre>/home/blabla/test 5/program</pre>

we end up calling execvp with <pre>/home/blabla/test</pre>

I think we would be better off reading /proc/[pid]/cmdline.
I'll try to implement it.

[2018-02-07 12:58] radare commented on #9288
That’s called SIP. Google for it

[2018-02-07 14:54] Maijin commented on #9335
@radare Well radiff2 for example if someone fix this infamous issue about obeying colourscheme, we would need a way to provide colorscheme in a radiff2rc probably:  https://github.com/radare/radare2/issues/2141

[2018-02-07 15:00] radare commented on #9335
I would reuse r2rc for radiff instead of having a separste script

And i would prefer to implement per-file-format and such instead of adding more rcs. A way to run some commands depending on file type, etc like vim does

[2018-02-07 15:32] 0x3f97 commented on #9318
I don't know if my approach is correct, I use gdb to attach radare2 when radare2 infinite loop output 'CATCH'.

[code]

[2018-02-07 16:18] armijnhemel commented on #9332
I will try to see if I can free up some resources to let someone help on it. This might take some time :(

[2018-02-07 16:26] giuscri commented on #4216
I can easily handle the case for ELF at this point. I'm working on that.

[2018-02-07 17:17] armijnhemel opened #9343 "rabin2: no option for displaying exported ELF WEAK symbols similar to -E"
This is not really a bug report, but more of a feature request, although it would be good if this could somehow be done as part of rabin2 -E or similar :-)

I do know that -E says "globally exportable symbols" but weak symbols can be exported as well.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|----

[2018-02-07 18:05] Maijin commented on #9343
Just use rabin2 -s

[2018-02-07 18:06] Maijin commented on #9343
rabin2 -s | grep WEAK

[2018-02-07 18:06] #9343 closed

[2018-02-07 18:09] armijnhemel commented on #9343
That is what I ended up using it, but for consistency it might be nicer to have them all in one place.

[2018-02-07 18:13] armijnhemel opened #9346 "rabin2: different named ELF symbols with same address only reported with one name"
I have a libc from a MIPS box here where various functions share the same address under different names. rabin2 does not report these correctly.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 26, x86_64
| File format o

[2018-02-07 18:43] pombredanne commented on #9346
This looks like a good bug to me alright.

[2018-02-07 19:34] Maijin commented on #9346
@pombredanne and?

[2018-02-07 20:44] radare commented on #9346
This is known issue and its part of the rbin refactoring we are working

You can patch the binary to rename one char of that symbol as a workaround

[2018-02-07 22:33] giuscri commented on #9197
Any hint on how to fix this?

[2018-02-07 23:35] giuscri commented on #9302
@leberus does `r_str_arg_escape()` comes in handy? at a first glance, `r_str_argv` seems aware of the escaping produced by the first function.

[2018-02-08 04:20] XVilka commented on #9335
Good idea. Not sure what is the good way to represent this in the current configuration file though.

[2018-02-08 08:32] pombredanne commented on #9346
@Maijin I was just commenting that I can reproduce this alright and looked like a proper bug to me ;)
@radare Thank you for the quick reply! radare rocks 🚀

[2018-02-08 09:14] leberus commented on #9302
@giuscri yes, it came in handy. I did not see it.  thanks for that ;-)!

<pre>
diff --git a/libr/io/p/io_debug.c b/libr/io/p/io_debug.c
index eafa87987..bae5a4015 100644
--- a/libr/io/p/io_debug.c
+++ b/libr/io/p/io_debug.c
@@ -449,10 +449,14 @@ static int fork_and_ptraceme(RIO *io, int bits, const char *cmd) {
                        char *_cmd = io->args ?
                                r_str_a

[2018-02-08 10:02] radare commented on #9302
missing braces in oneliner, are arguments passed to the executable working with this patch?

[2018-02-08 10:20] leberus commented on #9302
not with the patch above, but i'm reworking it to make it work

[2018-02-08 14:39] radare opened #9348 "Can't find main on w32 hello world"
[main32.exe.zip](https://github.com/radare/radare2/files/1707454/main32.exe.zip)

[2018-02-08 16:45] hackerbuck opened #9349 "Better display for visual mode debugger, Add a panel for function arg"
I have recently started doing exploitation using r2 (moving from gdb-peda) , but i think the display of  visual mode debugger could be made better

GDB-Peda output :

![gdb](https://user-images.githubusercontent.com/25812379/35984226-fedc5d20-0d19-11e8-81fb-63efc2078900.png)

#### r2  config vars enabled :
            e dbg.slow = true

r2 ouput (with my normal terminal zoom size , the instruction

[2018-02-08 19:31] armijnhemel commented on #9346
Uff, sorry. I searched the bug reports, but couldn't find it :-(
Please feel free to mark it as a duplicate if it is already known.

I tried searching to code to see where it goes wrong but I cannot find it.

[2018-02-09 00:05] mscherer commented on #9283
I can't reproduce with r2 git HEAD version:
[code]

Bisect show this was fixed by 79bac9c5d7344d  so this bug can be closed (the commit message refer to another bug however)

[2018-02-09 01:45] ysf commented on #9349
Maybe you're satisfied with the visual panels mode using "V!" ?

[2018-02-09 02:08] hackerbuck commented on #9349
@ysf  Yes that looks better than this , but what about adding a panel for displaying function arguments ??? , i need that terribly for doing exploitation and  stuff . @radare what do u think about this !!!

[2018-02-09 02:13] Aerath opened #9351 "Buggy configuration and weird behavior after project loading"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu WLS
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (man

[2018-02-09 04:17] XVilka commented on #9349
Note that visual panels mode still not that "stable" and tested as a usual visual modes. See bugs https://github.com/radare/radare2/issues/2032 and https://github.com/radare/radare2/issues/8672 for more information. Also they are a good place to start contributing if you think about.

[2018-02-09 09:36] cobra commented on #9283
Looks like a typo in the commit message - #2983 vs #9283.
I can also confirm that this bug is fixed.

[2018-02-09 09:36] #9283 closed

[2018-02-09 09:38] leberus commented on #9302
Ok, I was busy as hell but I came up with something that works with arguments as well.
I'll send the PR in a while.

[2018-02-09 10:09] radare commented on #9349
This is just one line of code. Feel free to send a pr. Each panel just runs a command and shows the result.

I agree that visual can be improved, but your visual output is strange because regs should be in horizontal... wt?

[2018-02-09 12:50] XVilka commented on #9166
Can you please craft the tests for the testsuite? so it wont be broken next time after fixing?

[2018-02-09 14:27] #9319 closed

[2018-02-09 14:54] radare commented on #9351
This makes no sense. Are you sure you have a clean installation of r2?

[2018-02-09 16:29] Aerath commented on #9351
This was the case with both the deb release from radare.mikelloc.com and with a build of the git repo (with sys/install.sh). The latter is the one I currently have, and used to report this issue.

[2018-02-09 20:37] #9302 closed

[2018-02-09 21:58] Aerath commented on #9351
Another example of incorrect project loading/saving :

**Steps to reproduce :**
- Open a file
- Run analysis (`aa` or `aaa`)
- Save into a new project
- Close
- **Open the project directly** (`r2 -p`)

**Errors :**
https://asciinema.org/a/161989

Repeated 18 times

So opening a file then loading a project leads to the first mentionned error (asm.bits 33) whereas opening a project from shell comman

[2018-02-10 01:43] mscherer commented on #9294
I can't reproduce the issue on latest git HEAD, can you try on that version ?

I suspect this might have been fixed on 068fe94fde

[2018-02-10 08:57] riverar commented on #8323
Can tick off the pdb dir box, implemented in https://github.com/radare/radare2/commit/3031324be369610289ef9ea2c3898baa127bd3ed

[2018-02-10 10:12] Maijin commented on #8323
done

[2018-02-10 12:54] mscherer commented on #9294
So, the segfault was fixed. The creation of the file still exist.

[2018-02-10 16:57] giuscri commented on #9197
I think I can handle this.

Apparently, the ldru instruction is _not_ assembled.

[code]

Adding needed code at `libr/asm/arch/arm/armass64.c:arm64ass` should suffice.

I'm diving into that in the next hours.

[2018-02-10 17:20] Maijin commented on #9197
arm.as (*arm* handmade assembler) is one of the 2 arm assemblers available in radare2 and is updated frequently.  **Please add a test case so we can fix arm.as in https://github.com/radare/radare2-regressions/blob/master/t.asm/arm/capstone/arm_asm** You can do so with github web editor without even cloning the repo.

You can contribute to arm.as by completing the following files:
* https://github.

[2018-02-10 20:14] Aerath commented on #9351
I tried to run r2 in GDB : no error message and asm.bits was set to 32 as expected, but most of r2 itself didn't work (all bytes shown as 0xff in disassembler, no flags found).

[2018-02-10 20:25] packmad opened #9366 "iS entropy displays rounded integer"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 16.04 x86 64bit
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/32, x86/64, ARM
| r2 -v full outpu

[2018-02-10 22:24] xarkes opened #9368 "Multiple json output issues (izzj, ij) when running without bin (-n)"
When running radare2 with `-n` as an argument here are some mistakes:
 * `izzj` prints just everything as izz would, and returns in addition an invalid json output: `{"strings":}`.
 * `ij` prints an invalid output too: `{"core":{,"file":"/bin/ls","fd":3,"size":133584,"humansz":"130.5K","iorw":false,"mode":"-r-x","obsz":0,"block":256}}` (Note the extra comma before "file")

[2018-02-11 00:17] maycon opened #9370 "Command izz doesn't work when loading a raw MIPS binary with -m argument"
# Command `izz` doesn't work when loading a raw MIPS binary when passing the `-m` argument

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux 64 bits
| File format of the file you reverse (mandatory)      | RAW (bootlo

[2018-02-11 16:03] giuscri opened #9374 "-R stdin=!program doesn't work"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated

[2018-02-11 18:18] pgrohe opened #9375 "Project breakpoints not loaded with '-p' cmd line option but are loaded when using 'Po' command with same project file"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 32
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (

[2018-02-11 18:35] #9368 closed

[2018-02-11 19:08] pgrohe commented on #9375
After testing this a little further, not sure this is working even with 'Po'.  And in a more widespread way than just breakpoints not appearing.

When I execute r2 without the '-p' command line, then open the project file with 'Po' and it prompts about closing my current session, if I accept I can execute the process...but the disaassembly of all the process memory is 'invalid' 'ff'.

If I look at

[2018-02-11 19:29] pgrohe commented on #9375
For anyone who sees this later, this method seems to be easiest for saving and restoring breakpoints: https://github.com/radare/radare2/issues/2409#issuecomment-94384072

This can probably be closed in favor of more well scoped bug report.  The output in my comment above this one regarding the PIDs listed in 'o' is confusing (to me at least) so maybe there's a bug in there.  Leaving open for the m

[2018-02-11 20:28] radare commented on #9374
Dont pass flags after -d

[2018-02-11 20:46] giuscri commented on #9374
Still there though,
[code]

[2018-02-11 21:09] Aerath commented on #9351
I also tried to build it on 2 other machines and I always got the same behavior for the same binary. That shows that it's related to the binary and not the system used.

Here are the system I tested it on :
- Ubuntu 16.04 on WLS (f56fb18a5d3f20ffd366842f104f21b0fbe822ed and 911df601e81b69cb55f19f25b7ac386c1b1070d3 Linux 4.4 gcc 5.3 libc-dev 2.23)
- Ubuntu 16.04 on a VPS (145b7aceac7807a0df515d9595

[2018-02-12 01:25] pgrohe opened #9378 "Question - Workflow for saving / loading state (analysis, comments, breakpoints, etc...) of debugger session?"
What is currently the suggested / most well supported way of saving & loading state between debugging sessions?

By state I mean:

- analysis of the binary (functions, renamed variables, etc...)
- comments
- breakpoints

I've tried a few options and always end up in a bad state because r2 seems to have saved the PIDs I was previously debugging, which no longer exist when I start a new session of t

[2018-02-12 01:27] pgrohe commented on #9378
Example of PID problem whe re-opening a previously saved project of a debugging session

[code]

[2018-02-12 01:28] pgrohe commented on #9375
Closed in favor of more general question https://github.com/radare/radare2/issues/9378

[2018-02-12 01:28] #9375 closed

[2018-02-12 01:46] pgrohe commented on #9378
Same example but with nothing after the "-d" option when launching r2

[code]

[2018-02-12 02:25] StefanBruens commented on #9321
Some more datapoints:
[code]
So, gnu plugin is working, and the bug depends on the branch target, not the PC.

[2018-02-12 04:00] misson20000 commented on #8111
Hmm, so it is. Fixing that, the script toutputs the correct value of
[code]

[2018-02-12 08:06] XVilka commented on #9255
Issue still can be reproduced it seems

[2018-02-12 08:08] XVilka commented on #8992
@SrimantaBarua can you please check this issue if you have time?

[2018-02-12 08:08] XVilka commented on #9255
@SrimantaBarua can you please check this issue if you have time?

[2018-02-12 08:41] jasuramme opened #9379 "Implement ESIL for SH architecture. Troubles with convert memory to .data"
I'm changing anal_sh.c and that what I want to achieve: There is data can be stored in program memory. And I want if some memory was read, r2 would convert type of that memory cells into .data (it is asm instruction in very beginning), just as Cd command do. First I thought, it can be done by defining op->dst and op->src values in sh_op function, but it doesn't help (or it has to, and I just doing

[2018-02-12 09:00] XVilka commented on #9379
@radare @condret what do you think about this idea?

[2018-02-12 09:39] Maijin commented on #9321
Greetings,

arm.as (*arm* handmade assembler) is one of the 2 arm assemblers available in radare2 and is updated frequently.  **Please add a test case so we can fix arm.as in https://github.com/radare/radare2-regressions/tree/master/new/db/asm** You can do so with github web editor without even cloning the repo.

You can contribute to arm.as by completing the following files:
* https://github.com/

[2018-02-12 13:10] zadlg commented on #9318
I'm not able to reproduce the issue. Does this bug occur with any binary ?

[2018-02-12 13:56] Maijin commented on #9318
Probably not, as written in the issue template, please provide the binary.

[2018-02-12 14:06] leberus commented on #8864
Would you mind sharing some binary samples so I can take a look at the issue. (segfaulting/hanging), I'd like to push that forward.
Not sure the best to "push" the debugging testsuite (some ideas?)
You cced me in #9263 but that worked for me.

[2018-02-12 16:26] fcasal opened #9381 "Segfault when resizing the terminal in VV after we come from VV -> v -> g"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                             | 16.04.1 Ubuntu x86_64
| File format of the file you reverse      | ELF
| Architecture/bits of the file            | x86/64
| r2 -v          |radare2 2.4.0-git 17311 @ linux-x86-64 git.2.2.0-4

[2018-02-12 21:10] radare commented on #9381
i can reproduce, fixing

[2018-02-12 21:10] radare commented on #8864
strangely i cant reproduce them now :D

[2018-02-12 21:44] radare commented on #9255
Works for me :?

[2018-02-12 22:42] radare commented on #9321
u r doing it wrong. hexpairs dont start with 0x

[2018-02-12 22:49] radare commented on #9379
the analop->src/dst should be deprecated and removed at some point, only gb, mips and x86 uses it, and its not really consistent or complete at all. and the same info can be taken from other methods... the main problem ¡ of it is that it makes the analysis so slow.

i dont see why you need to use that src/dst things to specify taht a specific address is data or code. because the analysis will work

[2018-02-12 23:08] StefanBruens commented on #9321
rasm2 does not care ... output is identical

[2018-02-13 04:41] XVilka commented on #9379
@radare There is a question remains though. For example, if you have an instruction like `mov eax, [ebx+10]` where 10 - is a structure offset of some `MyStruct.MySubstruct.MyMember`, and when you do the `ta` command to search matching structure offsets from your type database - how it is supposed to get the value of that `10`? And for this feature we were asked thousand times, so it is kind of imp

[2018-02-13 04:44] XVilka commented on #6851
Future implementers - note, that current code in libr/core/anal_vt.c is flawed since it targets x86 only. The detection should be crossplatform.

[2018-02-13 06:44] jasuramme commented on #9379
Let's say, I have some work to do with peace of code, where code and data are mixed by some special util by Renesas. So it's realy pain in #$se to read that code, when you don't see where data is.

Will it be deprecated at some moment as well? Or it's not related to analop?

I thought about this, and that's why I looked forward ESIL: if there emulation ongoing, if peace of memory used as a code at

[2018-02-13 08:48] XVilka commented on #6962
Related: https://github.com/williballenthin/python-idb

[2018-02-13 10:36] Maijin commented on #6962
Unrelated, IDB are loaded by r2ida using this python-idb. But TIL aren't supported by python-idb

[2018-02-13 10:44] leberus commented on #8864
Ok, just let me know if you find any issue related to the debugger on linux.
And know that we cleared this up, may I ask the question again?

<pre>
I'm sorry but I'm not familiar with r2frida.
What's this "d" subcommand supposed to do? Maybe you can write a tiny example so I can get an idea.
</pre>

[2018-02-13 13:23] radare commented on #6962
Put this issue in the r2ida repo

[2018-02-13 16:06] leberus commented on #9331
Looking into this

[2018-02-13 20:16] raphaklaus opened #9382 "Change current section"
Hello! Is it possible to change the current section at runtime? The only way I achieve this is doing a `Sda` and then `Sl 0x0010.dump`.

[2018-02-13 20:52] Maijin commented on #9382
if you want to seek to a different place of the binary you can use seek command `s offset`

[2018-02-13 20:52] Maijin commented on #9382
Hello,

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2018-02-13 21:51] raphaklaus commented on #9382
Radare2 version:
    radare2 2.4.0-git 17264 @ linux-x86-64 git.2.2.0-455-g1414625ae
    commit: 1414625ae02b95f53986abab260735b9d45d7048 build: 2018-02-12__22:45:26

If I run `s 0x9000` and then `pd` I got a lot of `0xff`. The limit is `0x8000` (using Game Boy arch). Anything above `0x8000` is `0xff`. Using any hex dump I can check all binary content. I'd like to get a full ROM disassembly.

[2018-02-13 22:19] StefanBruens commented on #9321
@Maijin - will create a test case.
can you also add https://github.com/radare/radare2-regressions/blob/master/new/README.md to your template - the test case syntax is not really self documenting

[2018-02-13 22:36] mscherer opened #9384 "Radare2 do not properly detect branches with IT on Arm Thumb 2"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | RHEL x86_64 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | Arm 6 in thumb2 mode
| r2 -v full output, **no

[2018-02-13 22:39] mscherer commented on #9384
I can't seems to upload the test.bin file, so here is the base64 code
[code]

[code]

[2018-02-13 22:42] EvanCarroll opened #9385 "pdb download fails on Linux"
When I run `idpd`. I think it may be trying to save it to the arbitrary windows directory -- which isn't even possible because I'm cross-disassembling on Linux.

[code]

which is weird because I believe the pdb is there. I believe all you're supposed to do is insert the GUID from the pe32 and the name of the file. So it would be,

[code]

Information from the pe32 (shows the guid detected)

[code]

[2018-02-13 23:38] EvanCarroll opened #9387 "pdb segfaults on Linux"
Using the same information about build and [system here](https://github.com/radare/radare2/issues/9385)..

Download
[code]

Sum

[code]

Run with -P, or load with `idp`
[code]

[2018-02-14 00:34] mscherer commented on #9384
So reading a bit more the code, I found out .post_anal and .post_anal_bb_cb for RAnalPlugin. I guess this could be used to sweep on Thumb code to fix the basic blocks.

[2018-02-14 00:41] mscherer commented on #9387
Here, it start to consume close to 5 or 6G of ram (out of 12). Does it crash due to out of memory on your side ?

[2018-02-14 02:26] StefanBruens commented on #9319
At least the Thumb code is still heavily broken:

| | | |
|-----------------------------------------------|----------------|---------|
| rasm2 -a arm -b 16 -o 0x0b000000  'blx 0x0b000008' | 00f002e8 | good |
| rasm2 -a arm -b 16 -o 0x0b000000  'blx 0x0b00000c' | 00f004e8 | good |
| rasm2 -a arm -b 16 -o 0xfb000000  'blx 0xfb000008'| fff3fec7 | obviously bad |
| rasm2 -a arm -b 16 -o 0xfb000000  'b

[2018-02-14 02:36] lowlyw commented on #9385
i think https://github.com/radare/radare2/pull/9389 have fixed this. can you confirmed?

[2018-02-14 02:41] lowlyw commented on #9387
[code]

looks OOM to me too.

[2018-02-14 02:54] lowlyw commented on #9387
unless thre's something funky with the the type parsing thing earlier in that, will dig more

[2018-02-14 02:55] StefanBruens commented on #9319
Apparently use of strtod in getnum and casting the double to signed int is not a good idea ... the returned int value is way off.

[2018-02-14 04:42] EvanCarroll commented on #9387
Looks like it's using 6.7 GB,

[code]

The machine itself 16 GB of memory. Seems the segfault is unrelated.

[code]

[2018-02-14 04:46] XVilka commented on #9385
@EvanCarroll can you please retry with latest master?

[2018-02-14 04:49] XVilka commented on #9384
Please add a testcase for radare2-regressions, so after being fixed this bug wont be repeated in the future.

[2018-02-14 04:59] EvanCarroll commented on #9385
Just did. No joy.

[code]
-v shows,

[code]

[2018-02-14 05:04] XVilka commented on #9385
Strange, cannot reproduce on Linux with some random Windows DLLs, Check the contents of your `~/.config/radare2/pdb`

[2018-02-14 05:19] EvanCarroll commented on #9385
I have three dirs in that directory. Are they safe to delete?

[code]

I delete the whole `pdb` directory and tried again. same result.

[2018-02-14 05:25] XVilka commented on #9385
Oh, I see, it uses the Windows path as a filename, which is obviously wrong.

[2018-02-14 09:34] riverar commented on #9385
Ah I believe I broke this. Looking.

[2018-02-14 15:05] mscherer commented on #9384
Test cases (or a tentative) added

[2018-02-14 15:32] EvanCarroll commented on #9385
Perhaps it should just save as GUID as in the pe32 header, like the URL server itself?

[2018-02-14 17:30] RajatMittal1995 opened #9394 "rabin2 Issue"
Hello,
Would like help upon this error:
`rabin2: symbol lookup error: rabin2: undefined symbol: r_io_fd_get_current`

![screenshot_1](https://user-images.githubusercontent.com/9135666/36218640-150b1350-11db-11e8-9c11-843cb64f4fe8.png)

I'm trying to run command `rabin2 -I stack_bof_01`
Here, **stack_bof_01** is located at _**squashfs-root/pwnable/Intro**_ after extracting [DVRF.bin](https://github

[2018-02-14 18:09] riverar commented on #9385
What version of sqllang.dll are you using? Can you zip it up/drop it into this issue temporarily? Trying to set up a repro.

[2018-02-14 18:40] EvanCarroll commented on #9385
Sure, it's from the Linux distribution of SQL Server. [Packaged in the sfp](https://dba.stackexchange.com/a/192976/2639)

[sqllang.dll.zip](https://github.com/radare/radare2/files/1725227/sqllang.dll.zip)

[2018-02-14 19:14] Maijin commented on #9394
Hello,

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

[2018-02-14 20:01] riverar commented on #9385
Great, thanks. I can repro here on Windows too, looks like current assumption around PDB RSDS header having *just* a header is incorrect. Standby for fix.

[2018-02-14 21:07] #9331 closed

[2018-02-14 21:07] giuscri commented on #8929
To get the binary:
[code]
Password for the 7z archive is `malware`

[2018-02-14 21:08] #9374 closed

[2018-02-14 21:19] radare commented on #9394
You hav two installations of r2 and mixing libraries

[2018-02-14 21:27] giuscri commented on #8929
Can confirm the bug

[2018-02-14 23:04] mscherer commented on #9370
So, I took a small binary (hello world cross compiled on a debian) and tested it:
[code]

[code]

On /bin/ls for x86_64, the problem do not happen.

@maycon Can you try if changing the base address change anything ? (while I am gonna test on radare2-regression) ?

What size is your binary ?

[2018-02-15 00:02] riverar commented on #9387
My machine is still chewing through this PDB; I suspect it's similar to another complaint in #9300 (600mb+ pdb) in that there's poor support for large PDBs in general. We'll need to prioritize optimizing the pdb parser.

[2018-02-15 00:24] riverar commented on #9387
@XVilka You marked this as 'regression'; did R2 ever handle large PDBs correctly?

[2018-02-15 00:26] riverar commented on #9385
Fixed in https://github.com/radare/radare2/pull/9395, awaiting review/merge.
@XVilka Don't think 'regression' tag is appropriate; there's no indication full paths were ever supported

[2018-02-15 03:33] RajatMittal1995 commented on #9394
@Maijin, I installed using the steps as you shared which are same as the one in official radare documentation.
Output of `r2 -c` is `r2: symbol lookup error: r2: undefined symbol: r_sys_set_environ`

@radare, thanks. I did a fresh install, still same error persists.
I uninstalled using `./radare2-master/sys/uninstall.sh` then `sudo apt-get remove radare2` and in the end `sudo apt-get purge radare2

[2018-02-15 04:36] RajatMittal1995 commented on #9394
Update- Solution:
Performed a complete uninstall.
Installed using `sudo apt-get install radare2` , now its working perfect!
Not sure why this issue persists when using ./install.sh

[2018-02-15 08:51] riverar commented on #9385
Hey @EvanCarroll good news, looks like it was merged into master. Can you try it again for us?

[2018-02-15 08:53] ret2libc opened #9399 "Display unmapped data differently"
When printing data (e.g. pxw, Visual Mode, etc.) unmapped regions are displayed with `0xff` (or alternatively with another value specified by `io.0xff`) but that seems to me very confusing because it's hard to understand when it's really 0xff or just unmapped region/end of file.

As an example, I was looking at a very short file:
<img width="523" alt="screen shot 2018-02-15 at 09 48 12" src="https

[2018-02-15 11:35] sivaramaaa commented on #9381
It's been fixed with this commit [a2a19b4](https://github.com/radare/radare2/commit/a2a19b480d1bbcd981ef430935d3b31ae3949f81)

[2018-02-15 11:35] #9381 closed

[2018-02-15 14:06] Maijin commented on #9394
You just have crappy install of radare2 overlapping with the new one's

0.9.6 This is too old, 5 years old...

So please uninstall everything, clean everything, don't forget to autoremove/autoclean etc. and you won't have this issue.

[2018-02-15 14:06] #9394 closed

[2018-02-15 14:23] RajatMittal1995 commented on #9394
Thanks Maijin, worked like a charm!
Current version `radare2 2.4.0-git 0 @ linux-x86-32 git.2.4.0-git commit: HEAD build: 2018-02-15__06:15:16`

Steps I followed:
1.`sudo apt-get remove radare2`
2.`sudo apt-get remove --auto-remove radare2`
3.`sudo apt-get purge radare2`
4.`sudo apt-get purge --auto-remove radare2`
5.`sudo apt-get remove radare2-plugins`
6.`sudo apt-get remove --auto-remove radare

[2018-02-15 14:54] Maijin commented on #9394
good

[2018-02-15 15:52] EvanCarroll commented on #9385
[code]

Not sure we want that error, but it seems to have worked.

[code]

[2018-02-15 16:35] Maijin commented on #9385
If the issue is fixed, close the issue

[2018-02-15 16:40] maycon commented on #9370
Hi @mscherer,

Thank you for your reply. I got the same result than you, as you can see below:
[code]
It was possible to retrieve the strings using base address 100, 1000 and 0x1000, but when passing 0x10000 the problem happens:
[code]
The binary I'm reversing has 42KB (42848 bytes) of size.

Cheers,

[2018-02-15 17:51] EvanCarroll commented on #9385
Yep, it's fixed thanks again!

[2018-02-15 18:22] riverar commented on #9385
@EvanCarroll Just heads up: `idpd` shells out and calls curl twice -- first it tries to download the compressed pdb (e.g. `sqllang.pd_` then falls back onto the uncompressed copy `sqllang.pdb`, hence the initial error.

[2018-02-15 18:44] radare commented on #9394
Dont use debian :pp anyway there’s make purge in r2 that kills all previous installations of r2

[2018-02-15 21:54] EvanCarroll commented on #9385
If that's true, should it be saving the file as `sqllang.pd_` or `sqllang.pdb`?

[2018-02-15 21:58] riverar commented on #9385
@EvanCarroll It should be downloading and storing it in the symbol store as sqllang.pdb. I fixed a bug around this not working properly (https://github.com/radare/radare2/pull/9396) make sure your codebase is up-to-date.

[2018-02-15 22:45] EvanCarroll commented on #9385
@riverar  Using Linux, I just updated the code base again. Same thing. Just to be clear it's downloading into

[code]

But  the file is

[code]

[2018-02-15 22:46] riverar commented on #9385
@EvanCarroll OK, thanks for your patience and sorry for the headaches. Will fire up a linux dev environment  right now and get this fixed for you.

[2018-02-15 23:22] radare commented on #8929
Can you write a test for this?

[2018-02-15 23:22] radare commented on #9387
Skuater have a fix for this

[2018-02-15 23:26] giuscri commented on #8929
I tried yesterday, but evaluating `push eax, 1234; call [esp]` actually put 1234 into the eip so maybe triggering the bug may be harder. I'll take a better look next week.

[2018-02-15 23:28] EvanCarroll commented on #9385
no, rush @riverar thanks for being prompt but I'm just learning. I can't do anything without getting the pdb actually being parsable anyway. =) I didn't even know what a pdb was last week.

[2018-02-16 01:51] mscherer commented on #9370
Around 300, I do get truncated answer. And this happen also on small arm binary, so that's not related to MIPS.

[2018-02-16 01:55] maycon commented on #9370
Do you know if it’s possible to reproduce the same issue calling rabin2
directly?

On Thu, 15 Feb 2018 at 23:52 Michael Scherer <notifications@github.com>
wrote:

--

________________________________________

*Maycon Vitali, BSc, MSc, OSCE, eMAPT*

Security Researcher, Hack N' Roll

*Hack N' Roll *| SECURITY AS A LIFE STYLE

www.hacknroll.com

[2018-02-16 04:44] radare commented on #9370
you should use -B, because the binary you are loading have headers that must be paresd and what you have to change is the base address where the virtual linker is loading it, not the mapping.

[2018-02-16 05:07] riverar commented on #9385
@EvanCarroll verified working here; make sure you install/have `cabextract` on your linux box

[2018-02-16 05:14] EvanCarroll commented on #9385
I have `cabextract` here

[code]

 not sure what to say..

[code]

It's there though..

[code]

And, I can run

`[0x100412a10]> idp /home/ecarroll/.config/radare2/pdb/sqllang.pdb/40D5A1EFAD844ABFA5A689F2E49153E12/sqllang.pd_
`

Are you using the dll I provided above?

[2018-02-16 05:20] riverar commented on #9385
@EvanCarroll Sorry, yep, I can reproduce! Whoo hoo.

[2018-02-16 17:41] maycon commented on #9370
@radare actually the binary I'm analyzing is raw (bootloader extracted from a flash ROM). So it has no headers, just raw MIPS code.

Using `rabin2` with `-B` argument has no effect on the output. Maybe it's related to the issue I'm reporting, but as I don't know the internals of r2 (some reference will be appreciated) I can't confirm it.

[code]

And with the `-B` the result is exactly the same:
[

[2018-02-17 05:36] #9385 closed

[2018-02-17 08:04] blackzert opened #9408 "Rabin crashed loading ELF with swapped segments"
Rabin2 crashed on trying to load ELF file with specially crafted segments. This is not a BUG of radar by itself, but bug in GNU Libc https://sourceware.org/bugzilla/show_bug.cgi?id=22851 but impact may affect radare2 users as well

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS

[2018-02-17 11:31] mscherer opened #9409 "Specific function prolog undetected on IA32 due to "and esp, XXX" use"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | RHEL x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (ma

[2018-02-17 12:44] mscherer opened #9410 "r2 segfault when using 'do' with remote gdb session"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | RHEL 7 x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| r2 -v full output, **not truncated** (

[2018-02-17 12:50] mscherer commented on #9410
Upon further debugging, the backtrace on x86_64 is totally different from the one on x32 + remote connection:
[code]

[2018-02-17 12:54] mscherer commented on #9410
And valgrind show me this:
[code]

[2018-02-18 01:14] radare commented on #9408
this is a crash in the dynamic linked of your operating system, not in r2 code

[2018-02-18 01:14] #9408 closed

[2018-02-18 01:45] radare opened #9417 "Parsing -d program arguments issues"
Notice that it works fine with lldb

<img width="543" alt="screen shot 2018-02-18 at 02 43 01" src="https://user-images.githubusercontent.com/917142/36347355-b8c2b274-1455-11e8-9afd-17e154ba2df1.png">
<img width="625" alt="screen shot 2018-02-18 at 02 43 31" src="https://user-images.githubusercontent.com/917142/36347356-b8e158dc-1455-11e8-9361-a141add11a15.png">

[2018-02-18 02:10] MaskRay commented on #9399
The difficulty is `core->block` does not contain more information than 0~0xff so it cannot indicate whether a byte is mapped or not.

I suggest taking one step forward: deprecate `core->block` and make it a block cache instead (which can also be named `block`).

https://github.com/radare/radare2/blob/4e44e8e18e5ed83e5fea3ca314f52f884deb5bc7/libr/core/cmd_print.c#L5461

[2018-02-18 02:19] radare commented on #9410
its not crashing now. but not working either

[2018-02-18 02:26] MaskRay opened #9419 "Phrase out `core->block` (cache) and prefer read before use"
It makes many IO related functions harder because one needs to know to re-read the block whenever there is a write or a seek. For file based IO mapping, this application-layer cache is nearly useless because an extra `read` syscall does not much and this cache does not work in many cases (there are many unnecessary block read in many `core/cmd_*` files). The current just does not make good use of

[2018-02-18 02:36] radare commented on #9370
please try again

[2018-02-18 02:36] radare commented on #9370
i have fixed a related issue

[2018-02-18 02:40] radare commented on #9382
if you mean that this file is modified by another process and you want to read it without having to reopen it all the time?

you can use mmap:// for this.

but the question is confusing. what are you trying to achieve?

can you share the file you are using and the steps to reproduce?

[2018-02-18 02:41] radare commented on #9387
-> 1048		*str_type_code = strdup (type_code_str.type_str);
 <- is this a null deref? can you check with a debugger?

[2018-02-18 02:47] radare commented on #9408
related 517c86060cbafa8bcf17538a0e427d78af03f11c

[2018-02-18 02:48] radare commented on #9408
please confirm

[2018-02-18 03:13] radare commented on #9419
so we need to improve on io cache and invalidation to be able to kill core->block without having slowdowns

[2018-02-18 03:15] radare commented on #9419
this is.. all the read vcache, memoization, a better way to invalidate regions in the cache or in the memoized area (if the file changes but r2 doesnt rereads), which lead to some bugs but make some slow io plugins to be manageable by avoiding reads for everything.

[2018-02-18 03:17] EvanCarroll commented on #9387
DLL uploaded in this thread https://github.com/radare/radare2/issues/9385#issuecomment-365703884

[2018-02-18 05:02] anall opened #9420 "Some combo of a linkerscript, minimal sections copied, and a .eh_frame section cause r2 to see file as only 0xff bytes"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/32
| r2 -v full output, **not truncated** (

[2018-02-18 05:50] XVilka commented on #9349
@sivaramaaa FYI

[2018-02-18 05:51] XVilka commented on #4714
@sivaramaaa see this too

[2018-02-18 06:20] sivaramaaa commented on #4714
Yup i could give it a try , i too felt the need for it , also **dbg.slow** in genereal itself needs some improvement , for example the register output itself take all the space and u could barely see the instructions !!!

[2018-02-18 09:10] XVilka opened #9421 "Remove FCN_OLD in analysis code"
To speed up the analysis and remove legacy code

[2018-02-18 12:08] radare commented on #8929
Use px8 4 instead of px to avoid the hexdump header

[2018-02-18 12:10] radare commented on #4714
One option would be to not show the registers that are 0 or only the ones used in context. So we may do 2 passes here. One to get all the regs involved in the pd and then another dr to show only those

[2018-02-18 12:22] bernhl opened #9422 "sandboxing using seccomp"
Hey, I'd like to enhance the sandboxing on linux by implementing a seccomp filter (allowing just the few system calls required by radare2). Would you be fine with adding libseccomp as dependency (as it really eases writing filters)? If so, whats the preferred way to include the lib into the build chain? If no, are you open to a (potentially verbose) handcrafted BPF?

[2018-02-18 13:00] sivaramaaa commented on #4714
Yep that's sounds to be a much better option , i could try to do this !!!

[2018-02-18 13:09] raphaklaus commented on #9382
Hi! I will explain it in more details.

I'm using a Game Boy ROM with 1mb, composed of 64 banks. When I run the command `pd $s` it disassembles the file until `0x8000` (the first 32768 bytes). But the binary has code/data until `0xAF837` (as I can see if I open it in a hex editor). All code/data after 0x8000 in radare2's `pd` command are listed as $ff.

Apparently, radare2 can only read 32kb per t

[2018-02-18 20:09] pyllyukko commented on #8929
? ```px8``` still prints the header for me. Did you mean ```p8```?

[2018-02-18 20:12] pyllyukko commented on #8929
Done.

[2018-02-18 23:10] Maijin commented on #9382
I think @condret can provide with pointer on this

[2018-02-19 02:09] maycon commented on #9370
Hi @radare,

Thank you for the quick fix. The `izz` issue seems to be fixed.

[code]

Should I open another issue related to the `rabin2` ignoring the `-B` argument?
[code]

Version Infor:
[code]

Cheers,

[2018-02-19 03:47] astuder opened #9426 "Cf repeat parameter conflicts with format string"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian x86 64
| File format of the file you reverse (mandatory)      | binary
| Architecture/bits of the file (mandatory)            | any
| r2 -v full output, **not truncated** (

[2018-02-19 08:13] Marisa-Chan opened #9427 "Add support for Sonix sn8 MCU architecture"
[Datasheets](http://www.sonix.com.tw/list-en-2515)
[Simple python disassembler](https://github.com/Marisa-Chan/sn8dis)

[2018-02-19 08:40] Maijin commented on #9370
Great, don't forget to close issues when they are fixed @maycon ;)

[2018-02-19 11:48] radare commented on #9370
please add a test case for this because that will be rewritten when we refactor rbin and i dont want to fix this again :P

[2018-02-19 12:00] Maijin opened #9428 "Self-document dbtv is missing"
Self-document dbtv is missing

[2018-02-19 12:39] leberus commented on #9420
I'm taking a look at this. I made some progress.
I'll post soon.

[2018-02-19 12:41] radare commented on #9419
totally agree, but right now io doesnt caches/invalidates properly, so better dont abuse until io have proper cache and memoization for read operations

[2018-02-19 13:38] radare commented on #4714
check the ‘aea’ command

[2018-02-19 13:39] radare commented on #4714
maybe its easier to modify aea to show the regs like dr= does, with aer= or so than doing it the other way around.

[2018-02-19 13:40] radare commented on #9422
we are not a big fan of adding dependencise or optional libraries at compile time, cant this be done in a plugin? r2pm -i seccomp and link the plugin against this?

there’s some doc on how to sandbox r2 on different OSs see doc/sandbox

[2018-02-19 13:42] radare commented on #9387
funnily r2 takes forever to parse this when compiled with asan

[2018-02-19 13:50] radare commented on #8864
manipulate the environment variables of the process at runtime.

this is, assuming SP and BP, walk up the stack and find the env vars who are the begining of the map, then parse the null terminated strings and allow to read (or write) those variables at runtime using this ‘d’ subcommand.

[2018-02-19 13:57] leberus commented on #9420
I think that this hack within <b>init_phdr()</b> is wrong (not the hack itself but its usage here)

<pre>
static int init_phdr(ELFOBJ *bin) {
...
        bool linux_kern_hack = false;
        /* Enable this hack only for the X86 64bit ELFs */
        const int _128K = 1024 * 128;
        if (bin->b->length > _128K && bin->ehdr.e_machine == EM_X86_64 ||
                bin->ehdr.e_machine == EM_386

[2018-02-19 13:59] leberus commented on #8864
yes, i guessed that.
I'm working on this, i'll keep you posted.

[2018-02-19 14:04] Maijin commented on #9420
@leberus could you check if this works too with this patch removed https://github.com/radare/radare2-regressions/blob/master/t.formats/elf/elf-phdrlinuxtrick and make a PR?

[2018-02-19 14:50] radare commented on #9379
is this info provided by the binary format? or it is stripped? objdump shows that well? the analysis loop may be able to set some regions or words as data.. but there’s no defined way to do that, so you can propose the way that fits better for your needs and adjust the loop. also there are other analysis loops like aab or a2f. So the best way is to go forward implementing esil and then handle that

[2018-02-19 16:25] leberus commented on #9420
Removing the hack did make elf-phdrlinuxtrick fail.
That case is indeed quite tricky. I found the paper [here](https://gist.github.com/pzread/2ae0bb3aa5fe0dc69fcf3257c41db944).
I came up with:
<pre>
diff --git a/libr/bin/format/elf/elf.c b/libr/bin/format/elf/elf.c
index 00ae05e91..8c83f79af 100644
--- a/libr/bin/format/elf/elf.c
+++ b/libr/bin/format/elf/elf.c
@@ -161,6 +161,7 @@ static int init_

[2018-02-19 18:08] Maijin commented on #9420
Could you make a PR ?

[2018-02-19 18:14] pelijah commented on #7610
I think it is already fixed.

[2018-02-19 18:19] YugoCode commented on #9197
I still have the same problem I described in my first post.

After setting up the vm (with _aei, aeim, aeip_) and stepping through the instructions _ldur_ will not load the value into the register.

I tried the _rasm2_ oneliner from @giuscri and it gets assembled, but this does not help me when emulating code.

So should we open the issue again?

[code]

[2018-02-19 18:23] Maijin commented on #7610
Seeing the version used and several bugs got fixed i think we can close until further notice, don't hesitate to let us know @Herz3h ;)

[2018-02-19 18:23] #7610 closed

[2018-02-19 18:34] radare commented on #8864
Awesome

[2018-02-19 18:36] fcasal opened #9430 "Segfault with r2 /bin/ls -c 's 0; pz'"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                             | 16.04.1 Ubuntu x86_64
| File format of the file you reverse      | ELF
| Architecture/bits of the file            | x86/64
| r2 -v          |radare2 2.4.0-git 17371 @ linux-x86-64 git.2.2.0-5

[2018-02-19 19:38] XVilka commented on #9420
yes, looks good to me

On Feb 20, 2018 12:25 AM, "Oscar Salvador" <notifications@github.com> wrote:

[2018-02-19 20:35] giuscri commented on #9197
Can you share another binary? I don't know how to work with `.ipa` files - to my knowledge I need an iOS device (?).

Only by writing and executing the instructions, I can't reproduce:
[code]

[2018-02-19 20:48] Maijin commented on #9197
r2 ipa://file.ipa doesn't work?

[2018-02-19 20:49] YugoCode commented on #9197
Sure, a _.ipa_ file is just a _.zip_ archive. So you can just unzip it, but might need to rename the _.ipa_ to _.zip_ before.

When you extracted the archive, you should find a Payload folder. Inside this folder is a file with a _.app_ file extension. This is a so called [bundle](https://en.wikipedia.org/wiki/Bundle_(macOS)). The binary is located inside this bundle. Under MacOS you can open it by

[2018-02-19 20:53] YugoCode commented on #9197
@Maijin

This gives me:
[code]

And the file could not be loaded, so there are no classes, imports etc.

[2018-02-19 20:54] Maijin commented on #9197
This will need another update CC @radare

[2018-02-19 20:57] YugoCode commented on #9197
@Maijin Sorry! It works! The .ipa I tried was corrupted or something.

So @giuscri `r2 ipa://NewsBlur.ipa` is the easier way.

[2018-02-19 21:09] YugoCode commented on #9197
@giuscri This is a fat binary, so there is a 32-Bit ARMv7 and a 64-Bit ARMv8 binary. You can find the _ldur_ instruction only in the 64-Bit binary. I don't know how to load the 64-Bit binary with a command, but you can use `rabin2 -x fatBinary` in order to extract the single binaries.

For the 64-Bit binary of NewsBlur you can find the _ldur_ instruction in _"method.FirstTimeUserAddFriendsViewCont

[2018-02-19 21:50] radare opened #9433 "Make arch enum a iota instead bit mask"
https://github.com/radare/radare2/blob/master/libr/include/r_types.h#L465

msvc supports only 32bit enums, that doesnt scales

* And riscv is not there

[2018-02-19 21:54] giuscri commented on #9197
OK, binary should be [NewsBlur.arm_64.1.zip](https://github.com/radare/radare2/files/1738253/NewsBlur.arm_64.1.zip)

Analysis is taking really too long on my machine. Where should I seek for `method.FirstTimeUserAddFriendsViewController.setFacebookButton:`?

[2018-02-19 22:01] radare opened #9434 "lines render issue when pressing 'e' twice in graph"
this lines algo is fster, but buggy in cases like this. this is the entrypoint of /bin/ls

<img width="526" alt="screen shot 2018-02-19 at 23 00 20" src="https://user-images.githubusercontent.com/917142/36398714-b577a470-15c8-11e8-8014-ae197317ac58.png">

[2018-02-19 22:07] radare opened #9435 "Make asm.cmt* be asm.cmt.* like it has been done in asm.emu"

[2018-02-19 22:19] giuscri commented on #9197
btw, I found a gadget by which I can reproduce the bug
[code]
It seems like the problem is a wrong ESIL expression: ldur get translated into `x1,x29,56,-,=[8]`. Actually the address computed for the load is `0x38-x29`, _not_ `x29-0x38`.

You can actually reproduce the bug via
[code]

[2018-02-19 22:48] YugoCode commented on #9197
I don't run an analysis. I open the binary and then do:
[code]
Now you're in visual mode and can press the 's' key to step forward and use the ':' key to run commands like setting _x0_ with `aer`. _Press the enter key to cancel the command view and return to the visual view._ If you want to use `pdf` in order to view the disassembly you can analyze just this one function with `af`. Of course you n

[2018-02-19 23:10] GuiguiZ opened #9437 "Communication problem between arm-none-eabi-gdb and r2"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Make sure you are testing using the latest git version of radare2 before submitting any issue.

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                                            | Answers
|-----------

[2018-02-20 02:31] anall commented on #9420
I can confirm that fixes both my reduced testcase, as well as the original I reduced from.

[2018-02-20 02:33] sivaramaaa commented on #9430
seeking to offset 0x0 and pz , should return a valid list , i could'nt repro the same here
But still there are cases where the list could be NULL , like setting zoom.from , zoom.to  to invalid address  etc ..
Maybe u have set something in .radre2rc
So fixing it , thanks for reporting

[2018-02-20 03:30] #9430 closed

[2018-02-20 05:46] 0x3f97 commented on #9318
I test again with this simple program on ubuntu 16.04 64bit:
[code]
r2 -v:
radare2 2.4.0-git 17324 @ linux-x86-64 git.2.2.0-512-g2232190
commit: 223219039f0ccab73c8a53b345d3d9b132b74f43 build: 2018-02-20__13:16:42

r2 -V:
https://pastebin.com/XkrbuJZe

after malloc, use dmh command and radare2 goes in infinite loop...

[2018-02-20 09:08] #9428 closed

[2018-02-20 10:46] thestr4ng3r opened #9441 "Wrong function size after loading a PDB"
I have an exe+pdb. When analyzing functions after loading the pdb, some functions get truncated. The sizes are correct when running the analysis without loading the pdb first.

Binary: [ReleaseRTTIO0.zip](https://github.com/radare/radare2/files/1739765/ReleaseRTTIO0.zip)

### Work environment

| Questions                                            | Answers
|---------------------------------------

[2018-02-20 11:41] giuscri commented on #9197
Tried to fix to that in a #9442. Apparently the problem was there also for `ldr` instruction. Negative offset is causing troubles.

[2018-02-20 11:51] zadlg commented on #9318
Okay, I can reproduce the bug too.
I'm on it

[2018-02-20 14:53] leberus commented on #9420
I think we can close this one, right?

[2018-02-20 16:00] #9420 closed

[2018-02-20 17:43] giuscri commented on #8929
ESIL expression is wrong. Currently it's `eip,4,esp,-=,esp,=[],esp,[4],eip` which should put eip on the stack, then take that value back into eip. That is why the jump isn't performed.

To my understanding, `getarg()` should be changed such to produce `esp,4,+`, producing `eip,4,esp,-=,esp,=[],      esp,+,4      ,[4],eip` as the ESIL expression.

[2018-02-20 20:05] YugoCode opened #9443 "ESIL: ldp is not working"
When emulating code I noticed that [_ldp_](http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0802a/LDP_gen.html) won't load the pair of values into the two registers.
However [_stp_](http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0802a/STP_gen.html) is working.

[code]

[code]

@giuscri
Is this related to the problems you found with _ldr_ and _ldur_?  https://github.co

[2018-02-20 20:51] giuscri commented on #9443
Doesn't seem related to #9197.

ESIL expression seems wrong again though:
[code]
That expression doesn't load anything into x29, x30. Maybe what's needed is
[code]

[2018-02-20 21:12] YugoCode commented on #9443
If the problem is again a wrong ESIL expression, I'm wondering for how many other instructions it is also wrong.

Is there a way to automatically validate the ESIL expressions for all the ARM64 instructions? @radare It's really laborious to debug every binary instruction by instruction to find the failing part.

[2018-02-20 21:19] giuscri commented on #9443
ldp should have been already tested. Actually test case was trivial to pass though. I've sent a PR to radare2-regressions to fix that

[2018-02-20 22:20] #9197 closed

[2018-02-20 22:35] GuiguiZ commented on #9437
tried also with the following firmware on Nucleo
[STM32L073RZ_NUCLEO.elf.zip](https://github.com/radare/radare2/files/1742148/STM32L073RZ_NUCLEO.elf.zip)

 STM32 L073RZ

[2018-02-20 22:44] GuiguiZ commented on #9437
It seems that there is a problem with the` -D `option since with `r2 -a arm -e io.cache=true -b 16 -D blahblahblah gdb://127.0.0.1:3333 STM32L073RZ_NUCLEO.elf` I can see `Info : accepting 'gdb' connection on tcp/3333` into my OpenOCD console, as when I use the more conventional `r2 -a arm -e io.cache=true -b 16 -D arm-none-eabi-gdb gdb://127.0.0.1:3333 STM32L073RZ_NUCLEO.elf`

[2018-02-21 04:28] EvanCarroll commented on #9387
@radare  do you have a link for it (when you say he has a fix). I didn't see a PR https://github.com/radare/radare2/pulls?utf8=✓&q=is%3Apr+author%3Askuater+

[2018-02-21 05:09] #9443 closed

[2018-02-21 05:25] radare commented on #9435
Same for scr.wheel* scr.prompt* etc..

[2018-02-21 10:13] XVilka commented on #9387
For me it shows too big string length in `libr/bin/mangling/microsoft_demangle.c` function `copy_string()`, value `type_code_str->type_str_len`.

[2018-02-21 11:00] radare commented on #9387
Nope , i thiugh skuater had a fix but he is quite busy now so nope

[2018-02-21 11:33] #8929 closed

[2018-02-21 15:16] giuscri commented on #9399
@MaskRay you would deprecate core->block is favor of what? something with some meta's, same payload?

[2018-02-22 05:33] XVilka opened #9457 "Do not show 'ip' in visual debugging mode"
Since there is a color inversion of the line instruction pointer is on, I think there is no need for line with `;-- rip` in it, it just causes screen flicks when you step.

@radare what do you think?

[2018-02-22 05:34] maycon opened #9458 "Typo on help message: -m/-M"
[code]

The `-M maddr` should be `-m maddr` on the help message:

[code]

Cheers,

[2018-02-22 08:29] MaskRay commented on #7967
[code]

[code]

[2018-02-22 08:45] Maijin commented on #9458
ok Can you make a Pull-Request with https://help.github.com/articles/editing-files-in-your-repository/ ?

[2018-02-22 09:35] XVilka commented on #4694
@ret2libc since you are back, do you want to continue here? ;)

[2018-02-22 09:46] Maijin commented on #4694
May want to continue based on @lowlyw work

[2018-02-22 12:28] #9458 closed

[2018-02-22 12:43] ret2libc commented on #4694
@XVilka could you elaborate on what this issue is supposed to track? I don't think I remember the details of this task

[2018-02-22 13:04] Maijin commented on #4694
@ret2libc https://github.com/radare/radare2/pull/9150

[2018-02-22 13:32] giuscri opened #15582 "Make more intuitive how to select test with r2r.js"
Right now 791e30e482c773f3c930450069dcdf128876adb9, selecting a test or a family of tests with r2r.js is confusing as test names look like paths (this is a feature imho) and user might try to pass a path instead of a name. That won't work though, as path are _longer_ than test names.
[code]
Example:
[code]

[2018-02-22 14:43] gu10ng1t opened #9465 "Intermodular calls"
How can I list all the intermodular calls (as I do on x64dbg)? If there is no way to do it easily then it's a feature request.

Debuggers like OllyDbg, x64dbg and possibly others do have this feature and it's very useful when reversing.

btw thank you for this awesome tool

[2018-02-22 15:16] radare opened #9466 "pd syntax"
Recently i find out a bunch of inconsistencies.

* pd syntax is: `pd N-instructions (arch) (bits)`
* pd1 doesn't work

Solutions:

* kill the arch/bits args. because we now have `@a:` and `@b:`
* should be the same as `pd 1`

[2018-02-22 15:18] radare opened #9467 "Seek lost when quiting graph"
Way to reproduce:

* r2 /bin/ls
* af -> analyze function
* VV -> go into graph view
* ga -> seek to a different node
* q -> quit to visual, offset is ok
* q -> quit to shell, offset is wrong

[2018-02-22 15:47] radare opened #9468 "bb_pos makes no sense"
because is generated before splitting the BBs, this basically makes `wao recj@B:-1` not as cool as it should

[2018-02-22 15:49] radare opened #9469 "Visual cursor is fuckedup"
Who or when that got broken? ITS A MISTERY

Vcj -> ffffff

[2018-02-22 15:53] YugoCode opened #9470 "fd* commands print only one flag name, although there are more"
[code]

The fd* commands will print for the address _0x10000e210_ only  the first flag -> _section_end.16.__DATA.__objc_selrefs:_. They should print all the flag names.

[2018-02-22 16:22] radare commented on #9469
quick workaround dcf4b49d797c4dce94109a752f0728dce885dd11

[2018-02-22 17:33] redmed666 opened #9471 "[Feature Request] JSON output for axg"
Hello,

First, I would like to thank you for your hard work and your dedication to give to the community a tool/framework to reverse engineer.

I don't think there is a ```axgj``` command to show xrefs graph to reach current function but in JSON.
Test code example:
[code]

Output from ```axg``` from f1():
[code]

Expected output from (I would presume) ```axgj```:

[code]

While writing the expecte

[2018-02-22 17:48] sivaramaaa commented on #9470
@YugoCode , No fd command is not for listing all flags , it's just for printing flag at given offset
[code]
U can try "f" command to list all flags

[code]

[2018-02-22 17:55] trufae commented on #9469
only happens when asm.emu is enabled

[2018-02-22 17:56] radare commented on #9469
cc @ret2libc

[2018-02-22 18:08] redmed666 commented on #9471
As it seems it's a missing feature and a good first issue, I would like to work on it :)

[2018-02-22 19:24] Maijin commented on #9465
Can you provide screenshots, examples and describe this functionality please.

[2018-02-22 19:40] gu10ng1t commented on #9465
@Maijin [Here is a video showing that feature in olly](https://youtu.be/xfFVIz5jIeY?t=7m31s)

From the OllyDbg documentation you can see the following explanation for this feature:

"Search for|All intermodular calls" walks through the code and locates all calls with the final destination outside the current module, for example, all API calls, even loaded with GetProcAddress().

I'm sure it can be

[2018-02-23 06:50] astuder opened #9475 "seg vault when using v after oom"
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian x86 64-bit
| File format of the file you reverse (mandatory)      | binary
| Architecture/bits of the file (mandatory)            | x86, 8051, probably any
| r2 -v full output, **not truncated**

[2018-02-23 09:14] XVilka opened #9477 "Appveyor build problem"
[code]

[2018-02-23 09:46] #9469 closed

[2018-02-23 10:41] pyllyukko commented on #8929
@giuscri: Thank you!

[2018-02-23 11:32] giuscri opened #9478 "ESIL trying to follow non-pointers"
_Note that this is already tested by radare2-regressions; in fact it's causing the build to repeatedly fail._
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch linux x86 64
| File format of the file you reverse (mandatory)

[2018-02-23 11:43] xarkes commented on #9477
AppVeyor is really boring...

[2018-02-23 11:50] xarkes commented on #9477
Ah actually I get the same behaviour on my Windows host.  GitHub uses TLS 1.2 but powershell defaults to 1.0

[2018-02-23 11:51] #9477 closed

[2018-02-23 13:58] sivaramaaa commented on #9349
@hackerbuck I have made an intial implementation of function call argument display
U have to  enable ``` e dbg.funcarg = true ``` to view that display !!
Feel free to open issues  , closing it for now !!!

[2018-02-23 13:58] #9349 closed

[2018-02-23 14:29] msftsecurityteam opened #9479 "Pressing enter doesn't continue assembly correctly"
Hello, I have made a few issues about this problem. Like GDB, it's very useful to do something like "pd", read the assembly, and press enter again to continue the assembly. Last time I brought up this issue, I was told to use "e cmd.repeat = true". This actually is inaccurate as shown below:

$ r2 /bin/ls
 -- It's working! Look at the door!
[0x00005430]> b 32
[0x00005430]> pd
            ;-- entry

[2018-02-23 14:33] msftsecurityteam commented on #9479
This is the latest git commit as of 2/23/2018 9:33 AM EST

[2018-02-23 16:07] radare commented on #9479
it goes by block size not instruction size

[2018-02-23 16:32] lenerd opened #9481 "make install fails with system capstone"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86 64
| File format of the file you reverse (mandatory)      | not applicable
| Architecture/bits of the file (mandatory)            | not applicable
| r2 -v full outp

[2018-02-23 16:59] YugoCode commented on #9470
@sivaramaaa With all I mean "all the flags for the offset".

As you can see in the example at address 0x10000e210 there are **three** flags. At this address the section _objc_selrefs_ ends, the section _objc_classrefs_ starts and there is a relocation.

Now the fd* commands don't print these three (which I called all) flags, but only the first one.

[2018-02-23 17:26] radare opened #9483 "oom messes up the maps"
<img width="735" alt="screen shot 2018-02-23 at 18 25 13" src="https://user-images.githubusercontent.com/917142/36607487-0f0ae866-18c7-11e8-811f-2b473213a999.png">